Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

🎨 Set up front
  packages/applications/ssr/src/components/pages/abandon/détails/DétailsAbandon.page.tsx
  packages/applications/ssr/src/components/pages/abandon/détails/passerEnInstruction/PasserAbandonEnInstruction.form.tsx
  packages/applications/ssr/src/components/pages/recours/détails/passerEnInstruction/PasserRecoursEnInstruction.form.tsx
  packages/applications/ssr/src/components/pages/recours/détails/passerEnInstruction/passerRecoursEnInstruction.action.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🔀 Intégration des modifications de la release 3.43 (#2814)
  packages/applications/ssr/src/components/pages/candidature/corriger-par-lot/CorrigerCandidatures.page.tsx
  packages/applications/ssr/src/components/pages/candidature/corriger/CorrigerCandidature.page.tsx
Due: eslint --fix

✨ Front
  packages/applications/ssr/src/app/elimine/[identifiant]/recours/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/page.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/recours/mapToRecoursPasséEnInstructionTimelineItemProps.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/recours/mapToRecoursTimelineItemProps.tsx
  packages/applications/ssr/src/components/pages/recours/détails/DétailsRecours.page.tsx
Due: eslint --fix

🎨 Test
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.given.ts
Due: eslint --fix

🎨 Finist, gestion des actions
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales/index.tsx
  packages/applications/ssr/src/app/elimine/[identifiant]/recours/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/page.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/recours/mapToRecoursPasséEnInstructionTimelineItemProps.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/recours/mapToRecoursTimelineItemProps.tsx
Due: eslint --fix

✅ Simplification des statuts et tests
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/page.tsx
  packages/domain/lauréat/src/abandon/statutAbandon.valueType.ts
  packages/domain/éliminé/src/recours/statutRecours.valueType.ts
  packages/specifications/src/projet/lauréat/abandon/demanderAbandon.feature
  packages/specifications/src/projet/éliminé/recours/demanderRecours.feature
Due: eslint --fix, prettier -w

🎨 Lien vers page gitbook
  packages/applications/legacy/src/views/components/UI/organisms/Footer.tsx
  packages/applications/ssr/src/components/organisms/Footer.tsx
Due: eslint --fix

Revert "✨ Migration de la page accessibilité"
  packages/applications/routes/src/accessibiité/accessibilité.routes.ts
  packages/applications/routes/src/accessibiité/index.ts
  packages/applications/routes/src/index.ts
  packages/applications/ssr/src/app/accessibilite/page.tsx
  packages/applications/ssr/src/components/atoms/headings/Heading3.tsx
  packages/applications/ssr/src/components/atoms/headings/Heading4.tsx
  packages/applications/ssr/src/components/pages/accessibilite/Accessibilite.page.tsx
  packages/applications/ssr/src/middleware.ts
Due: eslint --fix

🚸 Ajout external icon sur les liens du footer legacy
  packages/applications/legacy/src/views/components/UI/organisms/Footer.tsx
Due: eslint --fix

✨ Migration de la page accessibilité (#2812)
  packages/applications/legacy/src/controllers/getDéclarationAccessibilitéPage.ts
  packages/applications/legacy/src/controllers/index.ts
  packages/applications/legacy/src/routes.ts
  packages/applications/legacy/src/views/components/UI/organisms/Footer.tsx
  packages/applications/legacy/src/views/index.ts
  packages/applications/legacy/src/views/pages/DéclarationAccessibilitéPage.tsx
  packages/applications/legacy/src/views/pages/index.ts
  packages/applications/ssr/src/components/organisms/Footer.tsx
Due: eslint --fix

✨ Ajout de la période 7 de l'appel d'offre PPE2 Sol
  packages/domain/inmemory-referential/src/appelOffre/PPE2/sol.ppe2.ts
Due: eslint --fix

🎨 Email Name
  packages/applications/notifications/src/sendEmail.ts
  packages/applications/notifications/src/subscribers/période/période.notification.ts
  packages/applications/notifications/src/subscribers/éliminé/recours.notification.ts
  packages/applications/scheduled-tasks/src/raccordement/notifier-gestionnaires-réseau.ts
  packages/infrastructure/domain-adapters/src/utilisateur/index.ts
  packages/infrastructure/domain-adapters/src/utilisateur/récupérerDrealsParIdentifiantProjet.adapter.ts
  packages/infrastructure/domain-adapters/src/utilisateur/récupérerPorteursParIdentifiantProjet.adapter.ts
  packages/infrastructure/email/src/sendEmail.ts
Due: eslint --fix

✨ Migration utilisateur : domaine, specs & auth
  packages/applications/bootstrap/src/authorization/vérifierAccèsProjet.ts
  packages/applications/bootstrap/src/bootstrap.ts
  packages/applications/bootstrap/src/middlewares/permission.middleware.ts
  packages/applications/bootstrap/src/setupUtilisateur.ts
  packages/applications/cli/src/commands/users/migrer.ts
  packages/applications/projectors/src/index.ts
  packages/applications/projectors/src/subscribers/utilisateur/index.ts
  packages/applications/projectors/src/subscribers/utilisateur/porteurInvité.projector.ts
  packages/applications/projectors/src/subscribers/utilisateur/utilisateurInvité.projector.ts
  packages/applications/projectors/src/subscribers/utilisateur/utilisateurRebuildTriggered.projector.ts
  packages/applications/request-context/src/ProConnectProvider.ts
  packages/applications/request-context/src/authOptions.ts
  packages/applications/request-context/src/getUtilisateur.ts
  packages/domain/utilisateur/src/consulter/consulterUtilisateur.query.ts
  packages/domain/utilisateur/src/groupe.valueType.ts
  packages/domain/utilisateur/src/index.ts
  packages/domain/utilisateur/src/inviter/inviter.behavior.ts
  packages/domain/utilisateur/src/inviter/inviter.command.ts
  packages/domain/utilisateur/src/inviter/inviter.usecase.ts
  packages/domain/utilisateur/src/inviter/inviterPorteur.behavior.ts
  packages/domain/utilisateur/src/inviter/inviterPorteur.command.ts
  packages/domain/utilisateur/src/inviter/inviterPorteur.usecase.ts
  packages/domain/utilisateur/src/lister/listerUtilisateurs.query.ts
  packages/domain/utilisateur/src/register.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/domain/utilisateur/src/trouver/trouverUtilisateur.query.ts
  packages/domain/utilisateur/src/utilisateur.aggregate.ts
  packages/domain/utilisateur/src/utilisateur.entity.ts
  packages/domain/utilisateur/src/utilisateur.valueType.ts
  packages/domain/utilisateur/src/utilisateurInconnu.error.ts
  packages/domain/utilisateur/src/vérifierAccèsProjet/vérifierAccèsProjet.query.ts
  packages/specifications/src/utilisateur/fixtures/inviter/inviter.fixture.ts
  packages/specifications/src/utilisateur/inviterPorteur.feature
  packages/specifications/src/utilisateur/inviterUtilisateur.feature
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.given.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.then.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.when.ts
  packages/specifications/src/utilisateur/utilisateur.world.ts
Due: eslint --fix, prettier -w

⚰️ Retirer vérifierAccèsProjet adapter
  packages/infrastructure/domain-adapters/src/utilisateur/vérifierAccèsProjet.adapter.ts
Due: eslint --fix

🎨 Modifications domaine
  packages/applications/cli/src/commands/users/migrer.ts
  packages/applications/projectors/src/subscribers/utilisateur/porteurInvité.projector.ts
  packages/applications/projectors/src/subscribers/utilisateur/utilisateurInvité.projector.ts
  packages/domain/réseau/src/gestionnaire/lister/listerGestionnaireRéseau.query.ts
  packages/domain/utilisateur/src/consulter/consulterUtilisateur.query.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/domain/utilisateur/src/utilisateur.entity.ts
Due: eslint --fix

🎨 Migrer GRD
  packages/applications/cli/src/commands/users/migrer-grd.ts
Due: eslint --fix

💄 UI
  packages/applications/legacy/src/views/components/UI/organisms/UserNavigation.tsx
  packages/applications/routes/src/index.ts
  packages/applications/routes/src/utilisateur/index.ts
  packages/applications/routes/src/utilisateur/utilisateur.routes.ts
  packages/applications/ssr/src/app/api/v1/reseaux/raccordements/route.ts
  packages/applications/ssr/src/app/candidatures/[identifiant]/previsualiser-attestation/route.ts
  packages/applications/ssr/src/app/documents/[documentKey]/route.ts
  packages/applications/ssr/src/app/elimine/[identifiant]/recours/modele-reponse/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/modele-reponse/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/modele-reponse/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/utilisateurs/inviter/page.tsx
  packages/applications/ssr/src/app/reseaux/gestionnaires/[identifiant]/raccordements/mise-en-service-en-attente:exporter/route.ts
  packages/applications/ssr/src/app/reseaux/raccordements/_helpers/récupérerLesGestionnairesParUtilisateur.ts
  packages/applications/ssr/src/app/reseaux/raccordements/page.tsx
  packages/applications/ssr/src/app/utilisateurs/inviter/page.tsx
  packages/applications/ssr/src/app/utilisateurs/page.tsx
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
  packages/applications/ssr/src/components/molecules/utilisateur/RoleBadge.tsx
  packages/applications/ssr/src/components/pages/abandon/détails/accorder/accorderAbandonAvecRecandidature.action.ts
  packages/applications/ssr/src/components/pages/période/notifier/notifierPériode.action.ts
  packages/applications/ssr/src/components/pages/utilisateur/inviter/InviterPorteur.form.tsx
  packages/applications/ssr/src/components/pages/utilisateur/inviter/InviterPorteur.page.tsx
  packages/applications/ssr/src/components/pages/utilisateur/inviter/InviterUtilisateur.form.tsx
  packages/applications/ssr/src/components/pages/utilisateur/inviter/InviterUtilisateur.page.tsx
  packages/applications/ssr/src/components/pages/utilisateur/inviter/inviterPorteur.action.ts
  packages/applications/ssr/src/components/pages/utilisateur/inviter/inviterUtilisateur.action.ts
  packages/applications/ssr/src/components/pages/utilisateur/lister/UtilisateurList.page.tsx
  packages/applications/ssr/src/components/pages/utilisateur/lister/UtilisateurListItem.tsx
  packages/applications/ssr/src/utils/getRégionUtilisateur.ts
  packages/applications/ssr/src/utils/utilisateur/format-role.ts
Due: eslint --fix

💬 Titles
  packages/applications/ssr/src/app/utilisateurs/inviter/page.tsx
  packages/applications/ssr/src/app/utilisateurs/page.tsx
Due: eslint --fix

♻️ Refacto geo api
  packages/applications/ssr/src/app/utilisateurs/inviter/page.tsx
  packages/infrastructure/geo-api-client/src/fetchRegions.ts
  packages/infrastructure/geo-api-client/src/index.ts
Due: eslint --fix

✨ Sort users
  packages/domain/utilisateur/src/lister/listerUtilisateurs.query.ts
Due: eslint --fix

🗃️ Amélioration migration
  packages/applications/cli/src/commands/users/migrer.ts
Due: eslint --fix

✅ Fix specs + implement scenario
  packages/domain/utilisateur/src/errors.ts
  packages/domain/utilisateur/src/inviter/inviterPorteur.behavior.ts
  packages/domain/utilisateur/src/trouver/trouverUtilisateur.query.ts
  packages/domain/utilisateur/src/utilisateur.aggregate.ts
  packages/specifications/src/utilisateur/inviterPorteur.feature
  packages/specifications/src/utilisateur/inviterUtilisateur.feature
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.when.ts
  packages/specifications/src/utilisateur/utilisateur.world.ts
Due: eslint --fix, prettier -w

♻️ Fonction et nom dans le valueType
  packages/applications/projectors/src/subscribers/utilisateur/utilisateurInvité.projector.ts
  packages/applications/request-context/src/ProConnectProvider.ts
  packages/applications/request-context/src/getUtilisateur.ts
  packages/applications/ssr/src/app/candidatures/[identifiant]/previsualiser-attestation/route.ts
  packages/applications/ssr/src/components/pages/période/notifier/notifierPériode.action.ts
  packages/applications/ssr/src/components/pages/utilisateur/lister/UtilisateurListItem.tsx
  packages/domain/utilisateur/src/consulter/consulterUtilisateur.query.ts
  packages/domain/utilisateur/src/inviter/inviter.behavior.ts
  packages/domain/utilisateur/src/inviter/inviter.command.ts
  packages/domain/utilisateur/src/inviter/inviter.usecase.ts
  packages/domain/utilisateur/src/trouver/trouverUtilisateur.query.ts
  packages/domain/utilisateur/src/utilisateur.entity.ts
  packages/domain/utilisateur/src/utilisateur.valueType.ts
  packages/specifications/src/utilisateur/fixtures/inviter/inviter.fixture.ts
  packages/specifications/src/utilisateur/inviterUtilisateur.feature
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.then.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.when.ts
  packages/specifications/src/utilisateur/utilisateur.world.ts
Due: eslint --fix, prettier -w

♻️ Refactor AccèsAuProjetAutorisé
  packages/applications/bootstrap/src/setupUtilisateur.ts
  packages/applications/cli/src/commands/users/migrer.ts
  packages/applications/projectors/src/subscribers/utilisateur/accèsAuProjetAutorisé.projector.ts
  packages/applications/projectors/src/subscribers/utilisateur/index.ts
  packages/applications/ssr/src/components/pages/utilisateur/inviter/inviterPorteur.action.ts
  packages/domain/utilisateur/src/errors.ts
  packages/domain/utilisateur/src/index.ts
  packages/domain/utilisateur/src/inviter/inviterPorteur.behavior.ts
  packages/domain/utilisateur/src/inviter/inviterPorteur.command.ts
  packages/domain/utilisateur/src/inviter/inviterPorteur.usecase.ts
  packages/domain/utilisateur/src/utilisateur.aggregate.ts
  packages/specifications/src/utilisateur/inviterPorteur.feature
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.when.ts
Due: eslint --fix, prettier -w

🎨 Partie domain pour abandon
  packages/domain/lauréat/src/abandon/abandon.aggregate.ts
  packages/domain/lauréat/src/abandon/instruire/passerAbandonEnInstruction.behavior.ts
  packages/specifications/src/projet/lauréat/abandon/passerAbandonEnInstruction.feature
  packages/specifications/src/projet/lauréat/abandon/stepDefinitions/abandon.given.ts
  packages/specifications/src/projet/lauréat/abandon/stepDefinitions/abandon.when.ts
  packages/specifications/src/utilisateur/fixtures/admin.fixture.ts
Due: eslint --fix, prettier -w

✨ Partie domain pour recours
  packages/domain/éliminé/src/recours/instruire/passerRecoursEnInstruction.behavior.ts
  packages/domain/éliminé/src/recours/recours.aggregate.ts
  packages/specifications/src/projet/éliminé/recours/passerRecoursEnInstruction.feature
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.when.ts
Due: eslint --fix, prettier -w

💬 Remove "Au service des porteurs de projet"
  packages/applications/ssr/src/components/pages/statistiques-publiques/StatistiquesPubliques.page.tsx
Due: eslint --fix

✨ Pourcentage des projet ayant transmis leur attestation de conformité
  .database/metabase-dev.dump
  .database/potentiel-dev.dump
  packages/statistiques/statistiques-publiques/src/02-avancement-des-projets/index.ts
  packages/statistiques/statistiques-publiques/src/02-avancement-des-projets/pourcentageProjetAyantTransmisAttestationConformité.statistic.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/index.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/pourcentageDCRDéposées.statistic.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/pourcentagePTFDéposées.statistic.ts
Due: eslint --fix

🎨 Hotfix stats (#2818)
  .database/metabase-dev.dump
  .database/potentiel-dev.dump
  packages/applications/ssr/src/components/pages/statistiques-publiques/StatistiquesPubliques.page.tsx
  packages/statistiques/statistiques-publiques/src/02-avancement-des-projets/index.ts
  packages/statistiques/statistiques-publiques/src/02-avancement-des-projets/pourcentageProjetAyantTransmisAttestationConformité.statistic.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/index.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/pourcentageDCRDéposées.statistic.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/pourcentagePTFDéposées.statistic.ts
Due: eslint --fix

🗃️ Ajout de la stat "pourcentageProjetAyantTransmisAttestationConformité"
  .database/potentiel-dev.dump
Due: none

💄 Ajout d'un badge pour le nombre des tâches à faire dans le header
  package-lock.json
  packages/applications/legacy/package.json
  packages/applications/legacy/src/views/components/UI/atoms/icons.ts
  packages/applications/legacy/src/views/components/UI/organisms/Header.tsx
  packages/applications/ssr/src/components/molecules/UserHeaderQuickAccessItem.tsx
Due: eslint --fix, prettier -w

💄 Ajout d'un badge pour le nombre des tâches à faire dans le header (#2820)
  package-lock.json
  packages/applications/legacy/package.json
  packages/applications/legacy/src/views/components/UI/atoms/icons.ts
  packages/applications/legacy/src/views/components/UI/organisms/Header.tsx
  packages/applications/ssr/src/components/molecules/UserHeaderQuickAccessItem.tsx
Due: eslint --fix, prettier -w

🐛 Fix probléme type colonne
  packages/statistiques/statistiques-publiques/sql/utilisateurCreationStatistic.sql
Due: none

🚧 Start implementing the EmailProvider with other providers...
  .database/permissions/grant.sql
  package-lock.json
  packages/applications/legacy/.env.template
  packages/applications/request-context/package.json
  packages/applications/request-context/src/authOptions.ts
  packages/applications/request-context/src/getUtilisateur.ts
  packages/applications/request-context/src/types.ts
  packages/applications/request-context/tsconfig.json
  packages/applications/ssr/.env.template
  packages/applications/ssr/src/app/auth/signIn/page.tsx
  packages/applications/ssr/src/app/auth/signOut/page.tsx
  packages/libraries/auth-pg-adapter/package.json
  packages/libraries/auth-pg-adapter/src/index.ts
  packages/libraries/auth-pg-adapter/tsconfig.json
Due: eslint --fix, prettier -w

✨ Introduce custom pages for email provider flow
  packages/applications/request-context/src/authOptions.ts
  packages/applications/routes/src/auth/auth.routes.ts
  packages/applications/ssr/src/app/auth/signIn/page.tsx
  packages/applications/ssr/src/app/auth/verifyRequest/page.tsx
Due: eslint --fix

✨ No account url if connected with magic link
  packages/applications/legacy/src/views/components/UI/organisms/Header.tsx
  packages/applications/ssr/src/components/molecules/UserHeaderQuickAccessItem.tsx
Due: eslint --fix

✨ Do not allow admin, dgec-validateur and dreal to use magic link
  packages/applications/request-context/src/authOptions.ts
  packages/applications/request-context/src/canConnectWithMagicLink.ts
Due: eslint --fix

♻️ Review env variable naming
  packages/applications/legacy/.env.template
  packages/applications/request-context/src/authOptions.ts
  packages/applications/routes/src/auth/auth.routes.ts
  packages/applications/ssr/.env.template
  packages/applications/ssr/src/app/auth/signIn/page.tsx
Due: eslint --fix

♻️ Use a form for email provider signin
  packages/applications/ssr/src/app/auth/signIn/page.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
