Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

🐛 Fix signIn/signUp
  packages/applications/ssr/src/app/auth/signIn/SignIn.page.tsx
  packages/applications/ssr/src/app/auth/signIn/page.tsx
  packages/applications/ssr/src/app/auth/signUp/SignUp.page.tsx
  packages/applications/ssr/src/app/auth/signUp/page.tsx
  packages/applications/ssr/src/utils/PageWithErrorHandling.tsx
  packages/applications/ssr/src/utils/apiAction.ts
  packages/applications/ssr/src/utils/withErrorHandling.ts
Due: eslint --fix

⚰️ Remove unused
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/Contact/index.tsx
Due: eslint --fix

🐛 Correction de la stat nb de projet PPE2 en service
  packages/statistiques/statistiques-publiques/src/06-par-cycle/computePourcentageProjetEnServiceParCycle.statistic.ts
Due: eslint --fix

Update packages/applications/ssr/src/app/auth/signIn/page.tsx
  packages/applications/ssr/src/app/auth/signIn/page.tsx
Due: eslint --fix

🐛 Solution simple
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getActionnaire.ts
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/petitPVBâtiment.ppe2.ts
Due: eslint --fix

🎨 Test update lib
  package-lock.json
Due: eslint --fix, prettier -w

🎨 Test de factorisation, type à reprendre
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/checkLauréat/checkAutorisationChangement.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getActionnaire.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getFournisseur.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getProducteur.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/index.ts
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/petitPVBâtiment.ppe2.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🎨 Fournisseur
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getFournisseur.ts
Due: eslint --fix

🎨 Application aux domaines et test sur nature de l'explotiation
  package-lock.json
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/cahierDesCharges/récupérerChangementsPermisParLeCahierDesCharges.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/checkLauréat/checkAutorisationChangement.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getActionnaire.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getFournisseur.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getNatureDeLExploitation.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getProducteur.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getPuissance.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getReprésentantLégal.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/index.ts
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole2016.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI2017.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/batiment.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/eolien.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/fessenheim.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/innovation.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/pvEolien.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/sol.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni2017.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/autoconsommationMetropole.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/batiment.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/eolien.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/innovation.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/neutre.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/petitPVBâtiment.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/sol.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/zni.ppe2.ts
  packages/domain/projet/src/cahierDesCharges.valueType.ts
Due: eslint --fix, prettier -w

🎨 Revert changes
  package-lock.json
Due: eslint --fix, prettier -w

💚 Fix: build
  packages/applications/legacy/src/controllers/project/getProjectPage/index.ts
Due: eslint --fix

♻️ Nouvelle harmonisation rapide
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getActionnaire.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getFournisseur.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getNatureDeLExploitation.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getProducteur.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getPuissance.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getReprésentantLégal.ts
Due: eslint --fix

✅ Ajout de tests et suppression de doublons dans les AO
  packages/domain/inmemory-referential/src/appelOffre/CRE4/eolien.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/autoconsommationMetropole.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/eolien.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/innovation.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/sol.ppe2.ts
  packages/domain/projet/src/cahierDesCharges.valueType.ts
  packages/domain/projet/src/lauréat/actionnaire/actionnaire.aggregate.ts
  packages/domain/projet/src/lauréat/fournisseur/fournisseur.aggregate.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
  packages/domain/projet/src/lauréat/producteur/producteur.aggregate.ts
  packages/domain/projet/src/lauréat/puissance/puissance.aggregate.ts
  packages/domain/projet/src/lauréat/représentantLégal/représentantLégal.aggregate.ts
  packages/specifications/src/projet/lauréat/actionnaire/modifierActionnaire.feature
  packages/specifications/src/projet/lauréat/fournisseur/modifierFournisseur.feature
Due: eslint --fix, prettier -w

🎨 Adaptation poru délai
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getDélai.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/index.ts
Due: eslint --fix

🎨 Simplification
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/checkLauréat/checkAutorisationChangement.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getActionnaire.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getDélai.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getFournisseur.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getProducteur.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/index.ts
  packages/domain/projet/src/cahierDesCharges.valueType.ts
  packages/domain/projet/src/lauréat/actionnaire/actionnaire.aggregate.ts
  packages/domain/projet/src/lauréat/fournisseur/fournisseur.aggregate.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
  packages/domain/projet/src/lauréat/producteur/producteur.aggregate.ts
  packages/domain/projet/src/lauréat/puissance/puissance.aggregate.ts
  packages/domain/projet/src/lauréat/représentantLégal/représentantLégal.aggregate.ts
Due: eslint --fix

🚧 Rework
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/checkLauréat/checkAutorisationChangement.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getActionnaire.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getDélai.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getProducteur.ts
  packages/specifications/src/projet/lauréat/actionnaire/modifierActionnaire.feature
Due: eslint --fix, prettier -w

🎨 Suppression test métier
  packages/specifications/src/projet/lauréat/actionnaire/modifierActionnaire.feature
  packages/specifications/src/projet/lauréat/fournisseur/modifierFournisseur.feature
Due: prettier -w

🎨 Suppression code producteur achevement
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getProducteur.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/index.ts
  packages/applications/legacy/src/modules/project/queries/listerProjets/ListerProjets.ts
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole2016.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI2017.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/batiment.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/eolien.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/fessenheim.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/innovation.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/pvEolien.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/sol.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni2017.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/autoconsommationMetropole.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/batiment.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/eolien.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/innovation.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/neutre.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/petitPVBâtiment.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/sol.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/zni.ppe2.ts
  packages/domain/projet/src/lauréat/producteur/producteur.aggregate.ts
  packages/domain/projet/src/lauréat/producteur/producteur.error.ts
  packages/specifications/src/projet/lauréat/abandon/demanderAbandon.feature
  packages/specifications/src/projet/lauréat/délai/demanderDélai.feature
  packages/specifications/src/projet/lauréat/fournisseur/enregistrerChangementFournisseur.feature
  packages/specifications/src/projet/lauréat/producteur/enregistrerChangementProducteur.feature
  packages/specifications/src/projet/lauréat/puissance/changement/demanderChangementPuissance.feature
Due: eslint --fix, prettier -w

🎨 Revert
  packages/specifications/src/projet/lauréat/fournisseur/modifierFournisseur.feature
Due: prettier -w

🎨 Gap button
  packages/applications/ssr/src/components/atoms/form/Form.tsx
Due: eslint --fix

✅ Correction des tests flaky
  packages/specifications/src/setup.ts
Due: eslint --fix

🔒️ Empêcher la redirection depuis la page signOut (#3601)
  packages/applications/routes/src/auth/auth.routes.ts
  packages/applications/ssr/src/app/auth/signIn/SignIn.page.tsx
  packages/applications/ssr/src/app/auth/signIn/page.tsx
  packages/applications/ssr/src/app/auth/signOut/page.tsx
  packages/applications/ssr/src/app/auth/signUp/SignUp.page.tsx
  packages/applications/ssr/src/app/auth/signUp/page.tsx
  packages/applications/ssr/src/utils/PageWithErrorHandling.tsx
  packages/applications/ssr/src/utils/apiAction.ts
  packages/applications/ssr/src/utils/withErrorHandling.ts
Due: eslint --fix

🎨 Espacement boutons formulaire (#3602)
  packages/applications/ssr/src/components/atoms/form/Form.tsx
Due: eslint --fix

🐛 Correction de la stat nb de projet PPE2 en service (#3603)
  packages/statistiques/statistiques-publiques/src/06-par-cycle/computePourcentageProjetEnServiceParCycle.statistic.ts
Due: eslint --fix

✅ Correction des tests flaky (#3604)
  packages/specifications/src/setup.ts
Due: eslint --fix

✅ Installateur
  packages/domain/projet/src/lauréat/installation/installation.aggregate.ts
  packages/specifications/src/projet/lauréat/installation/modifierInstallateur.feature
Due: eslint --fix, prettier -w

✅ Dispositif de stockage
  packages/domain/projet/src/lauréat/installation/installation.aggregate.ts
  packages/specifications/src/projet/lauréat/installation/modifierDispositifDeStockage.feature
Due: eslint --fix, prettier -w

✨ Front (affichage selon AO)
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getInstallation.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales/InfoInstallation.tsx
Due: eslint --fix

🎨 Review nommage CDC query
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getInstallation.ts
Due: eslint --fix

🎨 Typo
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getInstallation.ts
Due: eslint --fix

🎨 Utilisation du CDC récupéré dans le contrôleur
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getInstallation.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/index.ts
Due: eslint --fix

🎨 Mise à jour AO entity
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/Laureat.tsx
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/petitPVBâtiment.ppe2.ts
Due: eslint --fix

🎨 Ajout des tâches planifiées
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/index.ts
  packages/domain/projet/src/lauréat/raccordement/index.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/domain/projet/src/lauréat/raccordement/saga/index.ts
  packages/domain/projet/src/lauréat/raccordement/typeTâchePlanifiéeRaccordement.valueType.ts
  packages/domain/projet/src/lauréat/tâche-planifiée/tâchePlanifiée.aggregate.ts
Due: eslint --fix

🎨 Notification + setup subscription
  packages/applications/notifications/src/subscribers/lauréat/tâche-planifiée/index.ts
  packages/applications/notifications/src/subscribers/lauréat/tâche-planifiée/raccordement/demandeComplèteRaccordementAttendueRelance.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/tâche-planifiée/raccordement/index.ts
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupTâchePlanifiée.ts
Due: eslint --fix

✅ Specs
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/index.ts
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/relancerDemandeComplèteRaccordement.feature
  packages/specifications/src/tâche-planifiée/tâchePlanifiée.world.ts
Due: eslint --fix, prettier -w

🎨 Review : un seul type de tâche planifiée
  packages/applications/notifications/src/subscribers/lauréat/tâche-planifiée/raccordement/index.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/domain/projet/src/lauréat/raccordement/saga/index.ts
  packages/domain/projet/src/lauréat/raccordement/typeTâchePlanifiéeRaccordement.valueType.ts
  packages/domain/projet/src/lauréat/tâche-planifiée/tâchePlanifiée.aggregate.ts
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/relancerDemandeComplèteRaccordement.feature
  packages/specifications/src/tâche-planifiée/tâchePlanifiée.world.ts
Due: eslint --fix, prettier -w

🎨 Premier setup
  packages/applications/projectors/src/subscribers/lauréat/nature-de-l-exploitation/changementNatureDeLExploitationEnregistré.projector.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/changement/changementNatureDeLExploitation.entity.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/changement/consulter/consulterChangementNatureDeLExploitation.query.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/changement/enregistrerChangement/enregistrerChangementNatureDeLExploitation.command.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/changement/enregistrerChangement/enregistrerChangementNatureDeLExploitation.event.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/changement/enregistrerChangement/enregistrerChangementNatureDeLExploitation.option.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/changement/enregistrerChangement/enregistrerChangementNatureDeLExploitation.usecase.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/changement/lister/listerChangementNatureDeLExploitation.query.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/index.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/natureDeLExploitation.aggregate.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/natureDeLExploitation.event.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/natureDeLExploitation.register.ts
  packages/specifications/src/projet/lauréat/nature-de-l-exploitation/enregistrerChangementNatureDeLExploitation.feature
  packages/specifications/src/projet/lauréat/nature-de-l-exploitation/stepDefinitions/natureDeLExploitation.when.ts
Due: eslint --fix, prettier -w

🎨 Fixture
  packages/specifications/src/projet/lauréat/nature-de-l-exploitation/fixture/enregistrerChangement.fixture.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
