Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml,feature}": "prettier -w"
}

🧑‍💻 Ajout des règles eslint react + règle pas de spread des props
  eslint.config.mjs
  package-lock.json
  package.json
Due: eslint --fix, prettier -w

🚨 Missing keys
  packages/applications/ssr/src/components/atoms/form/FormFeedbackCsvErrors.tsx
  packages/applications/ssr/src/components/pages/changement-représentant-légal/détails/DétailsChangementReprésentantLégal.page.tsx
  packages/applications/ssr/src/components/pages/changement-représentant-légal/détails/EtapesChangementReprésentantLégal.tsx
Due: eslint --fix

🚨 Fix key
  packages/applications/ssr/src/components/pages/changement-représentant-légal/demander/ValidationChangementReprésentantLégal.tsx
Due: eslint --fix

🎨 Better keys in react loop
  packages/applications/ssr/src/components/atoms/form/FormFeedbackCsvErrors.tsx
  packages/applications/ssr/src/components/organisms/Timeline.tsx
  packages/applications/ssr/src/components/pages/changement-représentant-légal/demander/ValidationChangementReprésentantLégal.tsx
  packages/applications/ssr/src/components/pages/changement-représentant-légal/détails/DétailsChangementReprésentantLégal.page.tsx
  packages/applications/ssr/src/components/pages/changement-représentant-légal/détails/EtapesChangementReprésentantLégal.tsx
Due: eslint --fix

🚨 Fix import order
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/[reference]/date-mise-en-service:transmettre/page.tsx
Due: eslint --fix

🔧 Ignore node_modules eslint
  eslint.config.mjs
Due: none

🚨 Fix props
  eslint.config.mjs
  packages/applications/ssr/src/components/pages/réseau/raccordement/corriger/CorrigerRéférenceDossier.page.tsx
Due: eslint --fix

🌐 Fix spread props
  packages/applications/ssr/src/components/atoms/form/document/KeepOrEditDocument.tsx
  packages/applications/ssr/src/components/atoms/form/document/UploadNewOrModifyExistingDocument.tsx
Due: eslint --fix

♻️ Heading with component props
  packages/applications/ssr/src/components/atoms/headings/Heading1.tsx
  packages/applications/ssr/src/components/atoms/headings/Heading2.tsx
  packages/applications/ssr/src/components/atoms/headings/Heading3.tsx
  packages/applications/ssr/src/components/atoms/headings/Heading4.tsx
  packages/applications/ssr/src/components/atoms/headings/Heading5.tsx
  packages/applications/ssr/src/components/atoms/headings/Heading6.tsx
Due: eslint --fix

♻️ Set only minimum used props for InputDate
  packages/applications/ssr/src/components/atoms/form/InputDate.tsx
  packages/applications/ssr/src/components/pages/attestation-conformité/AttestationConformité.form.tsx
  packages/applications/ssr/src/components/pages/candidature/corriger/CorrigerCandidature.form.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/GarantiesFinancières.form.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/actuelles/enregistrerAttestation/EnregistrerAttestationGarantiesFinancières.form.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/actuelles/modifier/ModifierGarantiesFinancièresActuelles.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/modifier/modifierDemandeComplèteRaccordement/ModifierDemandeComplèteRaccordement.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/modifier/modifierPropositionTechniqueEtFinancière/ModifierPropositionTechniqueEtFinancière.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/transmettre/transmettreDateMiseEnService/TransmettreDateMiseEnService.form.tsx
Due: eslint --fix

🔥 Remove props id from <Form />
  packages/applications/ssr/src/components/atoms/form/document/KeepOrEditDocument.tsx
  packages/applications/ssr/src/components/atoms/form/document/UploadDocument.tsx
  packages/applications/ssr/src/components/atoms/form/document/UploadNewOrModifyExistingDocument.tsx
  packages/applications/ssr/src/components/pages/abandon/demander/DemanderAbandon.form.tsx
  packages/applications/ssr/src/components/pages/candidature/corriger-par-lot/CorrigerCandidatures.form.tsx
  packages/applications/ssr/src/components/pages/candidature/corriger/CorrigerCandidature.form.tsx
  packages/applications/ssr/src/components/pages/candidature/importer/ImporterCandidatures.form.tsx
  packages/applications/ssr/src/components/pages/changement-représentant-légal/demander/SaisieChangementReprésentantLégal.tsx
  packages/applications/ssr/src/components/pages/changement-représentant-légal/modifier/ModifierChangementReprésentantLégal.form.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/actuelles/modifier/ModifierGarantiesFinancièresActuelles.form.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/mainlevée/corrigerRéponseSignée/CorrigerRéponseSignée.form.tsx
  packages/applications/ssr/src/components/pages/recours/demander/DemanderRecours.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/corriger-par-lot/CorrigerRéférencesDossier.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/importerDatesMiseEnService/importerDatesMiseEnService.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/transmettre/transmettrePropositionTechniqueEtFinancière/TransmettrePropositionTechniqueEtFinancière.form.tsx
Due: eslint --fix

♻️ Remove all useless from spread props in Form
  packages/applications/ssr/src/components/atoms/form/Form.tsx
Due: eslint --fix

🐛 Pending modal pass children
  packages/applications/ssr/src/components/atoms/form/Form.tsx
Due: eslint --fix

♻️ Split dépot + gfActuelles actions
  packages/applications/ssr/src/components/organisms/List.tsx
  packages/applications/ssr/src/components/organisms/garantiesFinancières/DépôtGarantiesFinancièresActions.tsx
  packages/applications/ssr/src/components/organisms/garantiesFinancières/GarantiesFinancières.tsx
  packages/applications/ssr/src/components/organisms/garantiesFinancières/GarantiesFinancièresActions.tsx
  packages/applications/ssr/src/components/organisms/garantiesFinancières/GarantiesFinancièresActuellesActions.tsx
Due: eslint --fix

♻️ Refactor isomorphisme Raccordement
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/demande-complete-raccordement:transmettre/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/gestionnaire:modifier/page.tsx
  packages/applications/ssr/src/app/reseaux/raccordements/importer/page.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/GestionnaireRéseauSelect.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/importerDatesMiseEnService/ImporterDatesMiseEnService.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/importerDatesMiseEnService/ImporterDatesMiseEnService.page.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/importerDatesMiseEnService/ImporterDatesMiseEnService.stories.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/modifier/modifierGestionnaireRéseauRaccordement/ModifierGestionnaireRéseauRaccordement.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/modifier/modifierGestionnaireRéseauRaccordement/ModifierGestionnaireRéseauRaccordement.page.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/modifier/modifierGestionnaireRéseauRaccordement/ModifierGestionnaireRéseauRaccordement.stories.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/transmettre/transmettreDemandeComplèteRaccordement/TransmettreDemandeComplèteRaccordement.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/transmettre/transmettreDemandeComplèteRaccordement/TransmettreDemandeComplèteRaccordement.page.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/transmettre/transmettreDemandeComplèteRaccordement/TransmettreDemandeComplèteRaccordement.stories.tsx
Due: eslint --fix

🎨 IdentifiantProjetValue
  packages/applications/ssr/src/components/pages/réseau/raccordement/transmettre/transmettreDemandeComplèteRaccordement/TransmettreDemandeComplèteRaccordement.form.tsx
Due: eslint --fix

♻️ Refactor isomorphisme Raccordement - part 1 (#2398)
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/demande-complete-raccordement:transmettre/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/gestionnaire:modifier/page.tsx
  packages/applications/ssr/src/app/reseaux/raccordements/importer/page.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/GestionnaireRéseauSelect.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/importerDatesMiseEnService/ImporterDatesMiseEnService.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/importerDatesMiseEnService/ImporterDatesMiseEnService.page.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/importerDatesMiseEnService/ImporterDatesMiseEnService.stories.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/modifier/modifierGestionnaireRéseauRaccordement/ModifierGestionnaireRéseauRaccordement.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/modifier/modifierGestionnaireRéseauRaccordement/ModifierGestionnaireRéseauRaccordement.page.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/modifier/modifierGestionnaireRéseauRaccordement/ModifierGestionnaireRéseauRaccordement.stories.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/transmettre/transmettreDemandeComplèteRaccordement/TransmettreDemandeComplèteRaccordement.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/transmettre/transmettreDemandeComplèteRaccordement/TransmettreDemandeComplèteRaccordement.page.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/transmettre/transmettreDemandeComplèteRaccordement/TransmettreDemandeComplèteRaccordement.stories.tsx
Due: eslint --fix

♻️ Refactor isomorphisme Raccordement - part 2
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/page.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/détails/DétailsRaccordement.page.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/détails/DétailsRaccordement.stories.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/détails/components/DossierRaccordement.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/détails/components/FormatFichierInvalide.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/détails/components/ModifierGestionnaireRéseauDuRaccordement.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/détails/components/ÉtapeDemandeComplèteRaccordement.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/détails/components/ÉtapeMiseEnService.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/détails/components/ÉtapePropositionTechniqueEtFinancière.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/détails/type.ts
  packages/domain/réseau/src/gestionnaire/consulter/consulterGestionnaireRéseau.query.ts
  packages/domain/réseau/src/gestionnaire/identifiantGestionnaireRéseau.valueType.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

💬 Menu raccordement
  packages/applications/legacy/src/views/components/UI/organisms/UserNavigation.tsx
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
Due: eslint --fix

🐛 Fix updateGRDs
  packages/applications/scheduled-tasks/src/gestionnaireRéseau/updateGRDs.ts
Due: eslint --fix

🐛 On devrait toujours maj l'aggregat gf sans écraser son état avant l'insertion de l'event
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/enregistrer/enregistrerGarantiesFinancières.behavior.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/enregistrerAttestation/enregistrerAttestationGarantiesFinancières.behavior.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/importer/importerTypeGarantiesFinancières.behavior.ts
Due: eslint --fix

🎨 Simplification de traitement
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/enregistrer/enregistrerGarantiesFinancières.behavior.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/enregistrerAttestation/enregistrerAttestationGarantiesFinancières.behavior.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/importer/importerTypeGarantiesFinancières.behavior.ts
Due: eslint --fix

♻️ Remplacer ConsulterProjet par lauréat/éliminé si possible
  packages/applications/ssr/src/app/_helpers/index.ts
  packages/applications/ssr/src/app/_helpers/récupérerProjet.ts
  packages/applications/ssr/src/app/_helpers/vérifierStatutProjet.ts
  packages/applications/ssr/src/app/candidatures/[identifiant]/telecharger-attestation/route.ts
  packages/applications/ssr/src/app/elimine/[identifiant]/recours/demander/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/demander/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:transmettre/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/actuelles:enregistrer-attestation/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/actuelles:enregistrer/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/actuelles:modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/depot:modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/depot:soumettre/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/helpers/getGarantiesFinancièresActuellesActions.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/modele-mise-en-demeure/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/[reference]/date-mise-en-service:transmettre/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/[reference]/demande-complete-raccordement:modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/[reference]/proposition-technique-et-financiere:modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/[reference]/proposition-technique-et-financiere:transmettre/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/[reference]/reference:corriger/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/demande-complete-raccordement:transmettre/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/gestionnaire:modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/page.tsx
  packages/applications/ssr/src/components/pages/attestation-conformité/modifier/modifierAttestationConformité.page.tsx
  packages/applications/ssr/src/components/pages/attestation-conformité/modifier/modifierAttestationConformité.stories.tsx
  packages/applications/ssr/src/components/pages/attestation-conformité/transmettre/transmettreAttestationConformité.page.tsx
  packages/applications/ssr/src/components/pages/attestation-conformité/transmettre/transmettreAttestationConformité.stories.tsx
  packages/applications/ssr/src/utils/garanties-financières/vérifierAppelOffreSoumisAuxGarantiesFinancières.tsx
Due: eslint --fix

♻️ Charger la date de mise en service depuis l'aggrégat lauréat
  packages/applications/ssr/src/components/pages/réseau/raccordement/importerDatesMiseEnService/importDatesMiseEnService.action.ts
  packages/domain/lauréat/src/lauréat.aggregate.ts
  packages/domain/lauréat/src/notifier/notifierLauréat.behavior.ts
  packages/domain/réseau/src/raccordement/transmettre/transmettreDateMiseEnService.command.ts
  packages/domain/réseau/src/raccordement/transmettre/transmettreDateMiseEnService.usecase.ts
Due: eslint --fix

✏️ Cli
  packages/applications/cli/src/commands/raccordement/importer-date-mes.ts
Due: eslint --fix

🐛 Specs
  packages/specifications/src/raccordement/stepDefinitions/raccordement.given.ts
  packages/specifications/src/raccordement/stepDefinitions/raccordement.when.ts
Due: eslint --fix

🐛 Form
  packages/applications/ssr/src/components/pages/réseau/raccordement/transmettre/transmettreDateMiseEnService/TransmettreDateMiseEnService.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/transmettre/transmettreDateMiseEnService/transmettreDateMiseEnService.action.ts
Due: eslint --fix

✅ Specs
  packages/specifications/src/raccordement/modifierRéférenceDemandeComplèteDeRaccordement.feature
Due: prettier -w

🐛 Fix ModifierGestionnaireRéseau
  packages/applications/ssr/src/components/pages/réseau/gestionnaire/modifier/ModifierGestionnaireRéseau.form.tsx
Due: eslint --fix

🐛 Ajout de la props `name` manquante pour le composant KeepOrEditDocument
  packages/applications/ssr/src/components/atoms/form/document/KeepOrEditDocument.tsx
Due: eslint --fix

⬆️ Upgrade tailwindcss to 3.4.14 (#2394)
  package-lock.json
  packages/applications/legacy/package.json
  packages/applications/ssr/package.json
Due: eslint --fix, prettier -w

🐛 Aggrégat GF toujours redéfinit lorsqu'un évènement est ajouté (#2401)
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/enregistrer/enregistrerGarantiesFinancières.behavior.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/enregistrerAttestation/enregistrerAttestationGarantiesFinancières.behavior.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/importer/importerTypeGarantiesFinancières.behavior.ts
Due: eslint --fix

♻️ Refactor isomorphisme Raccordement - part 2 (#2399)
  packages/applications/scheduled-tasks/src/gestionnaireRéseau/updateGRDs.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/page.tsx
  packages/applications/ssr/src/components/pages/réseau/gestionnaire/modifier/ModifierGestionnaireRéseau.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/détails/DétailsRaccordement.page.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/détails/DétailsRaccordement.stories.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/détails/components/DossierRaccordement.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/détails/components/FormatFichierInvalide.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/détails/components/ModifierGestionnaireRéseauDuRaccordement.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/détails/components/ÉtapeDemandeComplèteRaccordement.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/détails/components/ÉtapeMiseEnService.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/détails/components/ÉtapePropositionTechniqueEtFinancière.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/détails/type.ts
  packages/domain/réseau/src/gestionnaire/consulter/consulterGestionnaireRéseau.query.ts
  packages/domain/réseau/src/gestionnaire/identifiantGestionnaireRéseau.valueType.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

♻️ Charger la date de mise en service depuis l'aggrégat lauréat (#2402)
  packages/applications/cli/src/commands/raccordement/importer-date-mes.ts
  packages/applications/ssr/src/components/pages/réseau/raccordement/importerDatesMiseEnService/importDatesMiseEnService.action.ts
  packages/applications/ssr/src/components/pages/réseau/raccordement/transmettre/transmettreDateMiseEnService/TransmettreDateMiseEnService.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/transmettre/transmettreDateMiseEnService/transmettreDateMiseEnService.action.ts
  packages/domain/lauréat/src/lauréat.aggregate.ts
  packages/domain/lauréat/src/notifier/notifierLauréat.behavior.ts
  packages/domain/réseau/src/raccordement/transmettre/transmettreDateMiseEnService.command.ts
  packages/domain/réseau/src/raccordement/transmettre/transmettreDateMiseEnService.usecase.ts
  packages/specifications/src/raccordement/modifierRéférenceDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/stepDefinitions/raccordement.given.ts
  packages/specifications/src/raccordement/stepDefinitions/raccordement.when.ts
Due: eslint --fix, prettier -w

💬 Menu raccordement (#2400)
  packages/applications/legacy/src/views/components/UI/organisms/UserNavigation.tsx
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
Due: eslint --fix

⬆️ React-icons 5.3.0 (#2396)
  package-lock.json
  packages/applications/legacy/package.json
Due: eslint --fix, prettier -w

✨ @potentiel-infrastructure/filigrane-facile-client
  package-lock.json
  packages/applications/ssr/package.json
  packages/applications/ssr/tsconfig.json
  packages/infrastructure/filigrane-facile-client/package.json
  packages/infrastructure/filigrane-facile-client/src/ajouterFiligrane.ts
  packages/infrastructure/filigrane-facile-client/src/index.ts
  packages/infrastructure/filigrane-facile-client/tsconfig.json
  packages/libraries/http-client/src/index.ts
Due: eslint --fix, prettier -w

🔊 Ajout de logs en mode warn
  package-lock.json
  packages/infrastructure/filigrane-facile-client/package.json
  packages/infrastructure/filigrane-facile-client/src/ajouterFiligrane.ts
  packages/infrastructure/filigrane-facile-client/tsconfig.json
  packages/libraries/http-client/src/index.ts
Due: eslint --fix, prettier -w
