Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

V1 POC Raccordement
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/ÉtapesProjet.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/test/Dossier.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/test/DossiersRaccordement.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/test/DétailsRaccordementDuProjetPageTest.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/test/page.tsx
Due: eslint --fix

actions
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/test/(raccordement-du-projet)/DossiersRaccordement.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/test/(raccordement-du-projet)/DétailsRaccordementDuProjetPage.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/test/(raccordement-du-projet)/page.tsx
Due: eslint --fix

details
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/test/(raccordement-du-projet)/DossiersRaccordement.section.tsx
Due: eslint --fix

🎨 Ajout gardefou script restore test pas accessible pour review app
  .database/scripts/restore-test-env-db.sh
Due: none

🎨 Specify PG version 16
  scalingo.json
Due: eslint --fix, prettier -w

debut integration actions
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/test/(raccordement-du-projet)/DossiersRaccordement.section.tsx
Due: eslint --fix

review hanae
  packages/domain/projet/src/lauréat/raccordement/errors.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/modifierUnDocumentRaccordement.feature
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/transmettreUnDocumentRaccordement.feature
Due: eslint --fix, prettier -w

select
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/transmettreUnDocumentRaccordement.feature
Due: prettier -w

looking good
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(demande-complète-raccordement)/ÉtapeDemandeComplèteRaccordement.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/_helpers/getModificationDCRAction.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/_helpers/getModificationGestionnaireRéseauAction.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/_helpers/getModificationPTFAction.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/_helpers/getSupprimerDossierAction.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/test/(raccordement-du-projet)/Dossier.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/test/(raccordement-du-projet)/DossiersRaccordement.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/test/(raccordement-du-projet)/DétailsRaccordementDuProjetPage.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/test/(raccordement-du-projet)/GestionnaireRéseau.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/test/(raccordement-du-projet)/page.tsx
Due: eslint --fix

details
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/_helpers/getModificationGestionnaireRéseauAction.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/test/(raccordement-du-projet)/Dossier.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/test/(raccordement-du-projet)/DossiersRaccordement.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/test/(raccordement-du-projet)/DétailsRaccordementDuProjetPage.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/test/(raccordement-du-projet)/GestionnaireRéseau.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/test/(raccordement-du-projet)/page.tsx
Due: eslint --fix

update events détailCandidatureImportée
  .database/potentiel-dev.dump
Due: none

dernières modifs
  .demo/import-instruction-ds.csv
  docs/contributing/DEMARCHE_NUMERIQUE.md
  packages/applications/cli/src/commands/candidature/lister-dossiers.ts
  packages/applications/cli/src/commands/load-test/importer-candidatures.ts
  packages/applications/ssr/src/app/candidatures/importer/(demarche-simplifiée)/ImporterCandidaturesParDémarcheNumérique.form.tsx
  packages/applications/ssr/src/app/candidatures/importer/(demarche-simplifiée)/importerCandidaturesParDémarcheNumérique.action.ts
  packages/infrastructure/dn-api-client/src/getDémarcheAvecDossiers.ts
Due: eslint --fix

lint fix
  packages/applications/cli/package.json
  packages/applications/ssr/package.json
  packages/infrastructure/dn-api-client/package.json
  packages/infrastructure/domain-adapters/package.json
Due: eslint --fix, prettier -w

🎨 Forcer PG 17
  scalingo.json
Due: eslint --fix, prettier -w

🐛 Correction routes candidatures
  packages/applications/routes/src/_helpers/createRoute.ts
Due: eslint --fix

migration almos done
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/_helpers/getMiseEnServiceAction.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/_helpers/getModificationDCRAction.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/_helpers/getModificationPTFAction.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/test/(raccordement-du-projet)/Dossier.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/test/(raccordement-du-projet)/DossiersRaccordement.section.tsx
Due: eslint --fix

refacto
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/ÉtapesProjet.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/ÉtapesProjet.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/test/(raccordement-du-projet)/DétailsRaccordementDuProjetPage.tsx
Due: eslint --fix

🎨 Ajout d'une section dédiée identification
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/informations-generales/(sections)/Identification.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/informations-generales/(sections)/IdentificationDétails.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/informations-generales/(sections)/Producteur.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/informations-generales/(sections)/ProducteurDétails.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/informations-generales/InformationsGénérales.page.tsx
Due: eslint --fix

✨ Exporter les candidats non notifiés
  instruction-ds-cre.csv
  packages/applications/routes/src/candidature/candidature.routes.ts
  packages/applications/ssr/src/app/candidatures/export/route.ts
  packages/applications/ssr/src/app/export/export.page.tsx
  packages/applications/ssr/src/app/export/page.tsx
  packages/applications/ssr/src/components/organisms/header/UserBasedRoleNavigation.tsx
  packages/domain/projet/src/candidature/index.ts
  packages/domain/projet/src/candidature/lister/listerCandidatures.query.ts
Due: eslint --fix

lint fix
  packages/domain/projet/src/candidature/lister/listerCandidatures.query.ts
Due: eslint --fix

🐛 Correction routes candidatures (#4404)
  packages/applications/routes/src/_helpers/createRoute.ts
Due: eslint --fix

corrections et design GRD
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/Raccordement.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/_helpers/vérifierStatutDuProjetPourModification.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/test/(raccordement-du-projet)/DossiersRaccordement.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/test/(raccordement-du-projet)/DétailsRaccordementDuProjetPage.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/test/(raccordement-du-projet)/GestionnaireRéseau.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/test/(raccordement-du-projet)/page.tsx
Due: eslint --fix

review #1
  packages/domain/projet/src/lauréat/raccordement/documentRaccordement.valueType.ts
  packages/domain/projet/src/lauréat/raccordement/transmettre/documentsRaccordement/transmettreDocumentRaccordement.usecase.ts
  packages/specifications/src/projet/lauréat/raccordement/demandeComplèteDeRaccordement/modifierRéférenceDemandeComplèteDeRaccordement.feature
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/modifierUnDocumentRaccordement.feature
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/stepDefinitions/documentRaccordement.given.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/stepDefinitions/documentRaccordement.then.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/stepDefinitions/documentRaccordement.when.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/transmettreUnDocumentRaccordement.feature
Due: eslint --fix, prettier -w

🎨 Afficher lien action sous producteur + sous identification
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/informations-generales/(sections)/Producteur.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/informations-generales/(sections)/ProducteurDétails.tsx
Due: eslint --fix

🎨 Retour review
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/informations-generales/(sections)/ProducteurDétails.tsx
Due: eslint --fix

🎨 Afficher lien action sous producteur + sous identification (#4407)
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/informations-generales/(sections)/Producteur.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/informations-generales/(sections)/ProducteurDétails.tsx
Due: eslint --fix

quelques simplification
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/(supprimer)/SupprimerDossierDuRaccordement.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/_helpers/getModificationGestionnaireRéseauAction.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/test/(raccordement-du-projet)/Dossier.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/test/(raccordement-du-projet)/DossiersRaccordement.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/test/(raccordement-du-projet)/DétailsRaccordementDuProjetPage.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/test/(raccordement-du-projet)/GestionnaireRéseau.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/test/(raccordement-du-projet)/page.tsx
Due: eslint --fix

supprimer fichiers old, un soucis sur grd à régler
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(demande-complète-raccordement)/ÉtapeDemandeComplèteRaccordement.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(proposition-technique-et-financière)/ÉtapePropositionTechniqueEtFinancière.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/date-mise-en-service/ÉtapeDateMiseEnService.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/components/Dossier.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/components/DossierRaccordement.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/components/Separateur.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/components/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/components/Étape.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/DossiersRaccordement.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/DétailsRaccordementDuProjet.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/DétailsRaccordementDuProjetPage.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/GestionnaireRéseau.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/_helpers/getDemandeComplèteDeRaccordementAction.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/_helpers/getGestionnaireRéseauAction.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/_helpers/getMiseEnServiceAction.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/_helpers/getModificationDCRAction.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/_helpers/getPropositionTechniqueEtFinancièreAction.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/_helpers/getSupprimerDossierAction.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/_helpers/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/test/(raccordement-du-projet)/page.tsx
Due: eslint --fix

suppression fichier instruction test
  instruction-ds-cre.csv
Due: none

🐛 Modifier la DCR si l'actuelle n'a pas de date de qualification
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(demande-complète-raccordement)/demande-complete-raccordement:modifier/modifierDemandeComplèteRaccordement.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(demande-complète-raccordement)/ÉtapeDemandeComplèteRaccordement.tsx
Due: eslint --fix

🐛 Modifier la DCR si l'actuelle n'a pas de date de qualification (#4408)
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(demande-complète-raccordement)/demande-complete-raccordement:modifier/modifierDemandeComplèteRaccordement.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(demande-complète-raccordement)/ÉtapeDemandeComplèteRaccordement.tsx
Due: eslint --fix

petit clean
  packages/applications/document-builder/src/abandon/accordAbandonAvecRecandidature/index.ts
  packages/applications/document-builder/src/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/accorder/accorderAbandonAvecRecandidature.action.ts
Due: eslint --fix

methodes and test
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/domain/projet/src/lauréat/raccordement/typeDocumentsRaccordement.valueType.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/transmettreUnDocumentRaccordement.feature
Due: eslint --fix, prettier -w

Nouveau modèle de document
  packages/applications/document-builder/src/index.ts
  packages/applications/document-builder/src/synthèseLauréatsPériode/Header.tsx
  packages/applications/document-builder/src/synthèseLauréatsPériode/Introduction.tsx
  packages/applications/document-builder/src/synthèseLauréatsPériode/PageFooter.tsx
  packages/applications/document-builder/src/synthèseLauréatsPériode/SynthèseLauréatsPériode.tsx
  packages/applications/document-builder/src/synthèseLauréatsPériode/TableauLauréatsPériode.tsx
  packages/applications/document-builder/src/synthèseLauréatsPériode/buildDocument.ts
  packages/applications/document-builder/src/synthèseLauréatsPériode/index.ts
  packages/applications/document-builder/src/synthèseLauréatsPériode/synthèseLauréatsPériode.stories.tsx
Due: eslint --fix

Télécharger synthèse période
  packages/applications/document-builder/src/index.ts
  packages/applications/document-builder/src/synthèsePériode/Header.tsx
  packages/applications/document-builder/src/synthèsePériode/Introduction.tsx
  packages/applications/document-builder/src/synthèsePériode/PageFooter.tsx
  packages/applications/document-builder/src/synthèsePériode/SynthèsePériode.tsx
  packages/applications/document-builder/src/synthèsePériode/TableauLauréatsPériode.tsx
  packages/applications/document-builder/src/synthèsePériode/buildDocument.ts
  packages/applications/document-builder/src/synthèsePériode/index.ts
  packages/applications/document-builder/src/synthèsePériode/synthèsePériode.stories.tsx
  packages/applications/routes/src/période/période.routes.ts
  packages/applications/ssr/src/app/periodes/PériodeListItem.tsx
  packages/applications/ssr/src/app/periodes/telecharger-synthese-periode/route.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

fix: test with a map
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/fixtures/transmettreDocumentRaccordement.fixture.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/transmettreUnDocumentRaccordement.feature
Due: eslint --fix, prettier -w

ajout check sur le document
  packages/specifications/src/projet/lauréat/raccordement/demandeComplèteDeRaccordement/stepDefinitions/demandeComplèteRaccordement.then.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/stepDefinitions/documentRaccordement.then.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/transmettreUnDocumentRaccordement.feature
Due: eslint --fix, prettier -w

précision données de candidature + amélioration affichage
  packages/applications/document-builder/src/synthèsePériode/TableauLauréatsPériode.tsx
  packages/applications/document-builder/src/synthèsePériode/synthèsePériode.stories.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
