Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml,feature}": "prettier -w"
}

✨ API playground URL (#3787)
  packages/applications/api-documentation/src/index.ts
  packages/applications/api-documentation/src/main.tsp
  packages/applications/ssr/src/app/api/openapi/route.ts
Due: eslint --fix

♻️ Reorganisation du serveur pour servir API, web et legacy
  packages/applications/legacy/src/infra/keycloak/makeKeycloakAuth.ts
  packages/applications/legacy/src/server.ts
  packages/applications/request-context/src/getUtilisateur.ts
  packages/applications/request-context/src/index.ts
  packages/applications/request-context/src/runWithContext.ts
  packages/applications/ssr/src/server.ts
  turbo.json
Due: eslint --fix, prettier -w

🐛 Force dynamic
  packages/applications/ssr/src/app/api/openapi/route.ts
Due: eslint --fix

🚚 Entity demande-recours
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getRecours.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursAccordé.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursAnnulé.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursDemandé.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursPasséEnInstruction.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursRebuildTriggered.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursRejeté.projector.ts
  packages/applications/ssr/src/app/candidatures/[identifiant]/telecharger-attestation/route.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/page.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(détails)/page.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/modele-reponse/route.ts
  packages/domain/projet/src/lauréat/garanties-financières/saga/handlers/lauréatNotifié.handler.ts
  packages/domain/projet/src/éliminé/recours/consulter/consulterRecours.query.ts
  packages/domain/projet/src/éliminé/recours/index.ts
  packages/domain/projet/src/éliminé/recours/lister/listerRecours.query.ts
  packages/domain/projet/src/éliminé/recours/recours.entity.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.then.ts
Due: eslint --fix

🗃️ Ajout date à la clé de l'entity demande-recours
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getRecours.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursAccordé.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursDemandé.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursPasséEnInstruction.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursRebuildTriggered.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursRejeté.projector.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/page.tsx
  packages/domain/projet/src/éliminé/recours/consulter/consulterRecours.query.ts
  packages/domain/projet/src/éliminé/recours/lister/listerRecours.query.ts
  packages/domain/projet/src/éliminé/recours/statutRecours.valueType.ts
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.then.ts
Due: eslint --fix

🚚 Recours > demande recours
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursAccordé.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursAnnulé.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursDemandé.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursPasséEnInstruction.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursRebuildTriggered.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursRejeté.projector.ts
  packages/applications/ssr/src/app/recours/page.tsx
  packages/domain/projet/src/lauréat/garanties-financières/saga/handlers/lauréatNotifié.handler.ts
  packages/domain/projet/src/éliminé/recours/consulter/consulterRecours.query.ts
  packages/domain/projet/src/éliminé/recours/demandeRecours.entity.ts
  packages/domain/projet/src/éliminé/recours/index.ts
  packages/domain/projet/src/éliminé/recours/lister/listerDemandeRecours.query.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.then.ts
Due: eslint --fix

🗃️ Entity recours
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursAccordé.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursAnnulé.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursDemandé.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursPasséEnInstruction.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursRebuildTriggered.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursRejeté.projector.ts
  packages/domain/projet/src/éliminé/recours/index.ts
  packages/domain/projet/src/éliminé/recours/recours.entity.ts
Due: eslint --fix

🚚 Recours > Demande recours
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getRecours.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/page.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(détails)/DétailsRecours.page.tsx
  packages/applications/ssr/src/app/recours/RecoursList.page.tsx
  packages/applications/ssr/src/app/recours/RecoursListItem.tsx
  packages/applications/ssr/src/app/recours/page.tsx
  packages/domain/projet/src/éliminé/recours/consulter/consulterDemandeRecours.query.ts
  packages/domain/projet/src/éliminé/recours/index.ts
  packages/domain/projet/src/éliminé/recours/recours.register.ts
  packages/specifications/src/projet/éliminé/recours/recours.world.ts
Due: eslint --fix

🎨 Consulter recours actuel
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getRecours.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/telecharger-attestation/route.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/page.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(détails)/page.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/modele-reponse/route.ts
  packages/domain/projet/src/lauréat/garanties-financières/saga/handlers/lauréatNotifié.handler.ts
  packages/domain/projet/src/éliminé/recours/consulter/consulterRecours.query.ts
  packages/domain/projet/src/éliminé/recours/index.ts
  packages/domain/projet/src/éliminé/recours/recours.register.ts
Due: eslint --fix

✨ Conserver les recours annulés
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursAnnulé.projector.ts
  packages/applications/ssr/src/app/recours/page.tsx
  packages/domain/projet/src/lauréat/abandon/demande/consulter/consulterDemandeAbandon.query.ts
  packages/domain/projet/src/éliminé/recours/demandeRecours.entity.ts
  packages/specifications/src/projet/éliminé/recours/annulerRecours.feature
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.then.ts
Due: eslint --fix, prettier -w

✅ Test queries
  packages/specifications/src/projet/éliminé/recours/recours.world.ts
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.then.ts
Due: eslint --fix

🎨 Routes et permissions
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/EtapesProjet.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales/index.tsx
  packages/applications/notifications/src/subscribers/éliminé/recours/handlers/recoursAccordé.handler.ts
  packages/applications/notifications/src/subscribers/éliminé/recours/handlers/recoursAnnulé.handler.ts
  packages/applications/notifications/src/subscribers/éliminé/recours/handlers/recoursDemandé.handler.ts
  packages/applications/notifications/src/subscribers/éliminé/recours/handlers/recoursPasséEnInstruction.handler.ts
  packages/applications/notifications/src/subscribers/éliminé/recours/handlers/recoursRejeté.handler.ts
  packages/applications/routes/src/éliminé/recours.routes.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/DétailsProjetÉliminé.page.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/[date]/DétailsRecours.page.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/[date]/accorder/AccorderRecours.form.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/[date]/accorder/accorderRecours.action.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/[date]/annuler/AnnulerRecours.form.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/[date]/annuler/annulerRecours.action.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/[date]/page.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/[date]/passerEnInstruction/PasserRecoursEnInstruction.form.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/[date]/passerEnInstruction/passerRecoursEnInstruction.action.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/[date]/rejeter/RejeterRecours.form.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/[date]/rejeter/rejeterRecours.action.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/demander/demanderRecours.action.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/page.tsx
  packages/applications/ssr/src/app/recours/RecoursListItem.tsx
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🎨 Fix détail eliminé actions
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/page.tsx
Due: eslint --fix

🎨 Détails
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getRecours.ts
  packages/domain/projet/src/lauréat/abandon/demande/consulter/consulterDemandeAbandon.query.ts
Due: eslint --fix

🚧 Proposition de refacto en server component
  packages/applications/ssr/src/app/_helpers/getCahierDesCharges.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/(cahier-des-charges)/CahierDesCharges.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/(cahier-des-charges)/DétailsCahierDesCharges.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/TableauDeBord.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getCahierDesChargesData.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/layout.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/taches/_helpers/getTâches.ts
Due: eslint --fix

🎨 GetCahierDesCharges
  packages/applications/ssr/src/app/_helpers/getCahierDesCharges.ts
  packages/applications/ssr/src/app/_helpers/récupérerChangementsPermisParLeCahierDesCharges.ts
  packages/applications/ssr/src/app/_helpers/vérifierQueLeCahierDesChargesPermetUnChangement.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/getLauréat.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/modele-reponse/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/modele-reponse/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/cahier-des-charges/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/modele-reponse/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(actuelles)/actuelles:enregistrer/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(actuelles)/actuelles:modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(dépôt)/depot:modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(dépôt)/depot:soumettre/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/_helpers/vérifierAppelOffreSoumisAuxGarantiesFinancières.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/demander/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/modele-reponse/route.ts
Due: eslint --fix

🎨 GetPériodeAppelOffres
  packages/applications/ssr/src/app/_helpers/getPériodeAppelOffres.ts
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/page.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/previsualiser-attestation/route.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/page.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/modele-reponse/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/accorder/accorderAbandonAvecRecandidature.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(mainlevée)/modele-mise-en-demeure/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(mainlevée)/modele-reponse-mainlevee/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(date-mise-en-service)/date-mise-en-service:transmettre/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(demande-complète-raccordement)/demande-complete-raccordement:modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/demande-complete-raccordement:transmettre/page.tsx
Due: eslint --fix

🎨 GetLauréat
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/modifierLauréat.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/nom-projet/changement/enregistrer/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/nom-projet/modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/site-de-production/modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/getLauréat.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/accorder/accorderAbandonAvecRecandidature.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/modele-reponse/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/transmettre-preuve-recandidature/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/modele-reponse/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/modele-reponse/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/[date]/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/enregistrer/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(mainlevée)/modele-mise-en-demeure/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(mainlevée)/modele-reponse-mainlevee/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/historique/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/layout.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/demander/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/modele-reponse/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/modifier/page.tsx
  packages/applications/ssr/src/components/molecules/projet/lauréat/ProjetLauréatBanner.tsx
Due: eslint --fix

🎨 RécupérerGf
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:transmettre/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(actuelles)/actuelles:enregistrer/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(actuelles)/actuelles:modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(mainlevée)/modele-reponse-mainlevee/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/_helpers/récupérerGarantiesFinancièresActuelles.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/_helpers/vérifierProjetNonExemptDeGarantiesFinancières.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/page.tsx
Due: eslint --fix

♻️ Reorganisation du serveur pour servir API, web et legacy (#3789)
  packages/applications/legacy/src/infra/keycloak/makeKeycloakAuth.ts
  packages/applications/legacy/src/server.ts
  packages/applications/request-context/src/getUtilisateur.ts
  packages/applications/request-context/src/index.ts
  packages/applications/request-context/src/runWithContext.ts
  packages/applications/ssr/src/app/api/openapi/route.ts
  packages/applications/ssr/src/server.ts
  turbo.json
Due: eslint --fix, prettier -w

⏪️ Revert tsx
  package-lock.json
  packages/infrastructure/email/package.json
Due: eslint --fix, prettier -w

✅ Assert administration emails
  packages/specifications/src/période/notifierPériode.feature
  packages/specifications/src/période/stepDefinitions/période.then.ts
Due: eslint --fix, prettier -w

✨ Notifier les partenaires par lot + ajouter l'équipe potentiel (#3729)
  package-lock.json
  packages/applications/notifications/src/helpers/listerTeamRecipients.ts
  packages/applications/notifications/src/subscribers/période/handlers/périodeNotifiée.handler.ts
  packages/applications/notifications/src/subscribers/utilisateur/handlers/rôleUtilisateurModifié.handler.ts
  packages/applications/notifications/src/subscribers/utilisateur/handlers/utilisateurInvité.handler.ts
  packages/applications/ssr/.env.template
  packages/applications/subscribers/.env.template
  packages/infrastructure/email/package.json
  packages/infrastructure/email/src/sendEmail.ts
  packages/specifications/src/période/notifierPériode.feature
  packages/specifications/src/période/stepDefinitions/période.then.ts
  packages/specifications/src/setup.ts
Due: eslint --fix, prettier -w

♻️ Actions par dossier de raccordement plutôt que général
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/(supprimer)/SupprimerDossierDuRaccordement.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/(supprimer)/supprimerDossierDuRaccordement.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/components/DossierRaccordement.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/DétailsRaccordementDuProjet.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/page.tsx
Due: eslint --fix

🎨 Simplification des actions raccordement
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/page.tsx
Due: eslint --fix

♻️ Actions par dossier de raccordement plutôt que général (#3791)
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/(supprimer)/SupprimerDossierDuRaccordement.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/(supprimer)/supprimerDossierDuRaccordement.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/components/DossierRaccordement.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/DétailsRaccordementDuProjet.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/page.tsx
Due: eslint --fix

✅ Impossible pour un porteur de modifier une demande complète de raccordement si le projet est achevé
  packages/domain/projet/src/lauréat/raccordement/errors.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/modifierDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/stepDefinitions/demandeComplèteRaccordement.when.ts
Due: eslint --fix, prettier -w

🎨 Ne pas proposer le bouton de modification de la DCR quand le projet est achevé
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/page.tsx
Due: eslint --fix

♻️ Reorganisation de l'aggrégat
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
Due: eslint --fix

🎨 Wording dans l'aggrégat pour améliorer la compréhension
  packages/domain/projet/src/lauréat/raccordement/modifier/référenceDossierRaccordement/modifierRéférenceDossierRaccordement.command.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/domain/projet/src/lauréat/raccordement/supprimer/dossier/supprimerDossierDuRaccordement.command.ts
  packages/specifications/src/raccordement/dateDeMiseEnService/stepDefinitions/dateMiseEnService.given.ts
Due: eslint --fix

🧪 Failing test pour les tâches porteur
  packages/specifications/src/raccordement/dateDeMiseEnService/transmettreDateMiseEnService.feature
Due: prettier -w

✅ Transmettre une date de mise en service pour un dossier incomplet (sans PTF) doit donner lieu à une tâche
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/domain/projet/src/lauréat/tâche/typeTâche.valueType.ts
  packages/specifications/src/raccordement/dateDeMiseEnService/transmettreDateMiseEnService.feature
  packages/specifications/src/tâche/tâche.world.ts
Due: eslint --fix, prettier -w

🎨 Ajout du composant de la tache
  packages/applications/ssr/src/app/taches/TâcheListItem.tsx
Due: eslint --fix

✅ Suppression de la tache transmettre PTF si le porteur fait l'action
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/transmettrePropositionTechniqueEtFinancière.feature
Due: eslint --fix, prettier -w

💬 Wording
  packages/applications/ssr/src/app/taches/TâcheListItem.tsx
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/domain/projet/src/lauréat/tâche/typeTâche.valueType.ts
  packages/specifications/src/tâche/tâche.world.ts
Due: eslint --fix

✅ Update test : Un porteur de projet transmet une proposition technique et financière pour un dossier de raccordement incomplet
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/transmettrePropositionTechniqueEtFinancière.feature
Due: prettier -w

✨ Ouverture de la période 4 de l'AO PPE2 ZNI
  packages/domain/inmemory-referential/src/appelOffre/PPE2/zni.ppe2.ts
Due: eslint --fix

✨ Ouverture de la période 4 de l'AO PPE2 ZNI (#3792)
  packages/domain/inmemory-referential/src/appelOffre/PPE2/zni.ppe2.ts
Due: eslint --fix
