Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

🎨 Typer les items d'historiques par category
  packages/applications/ssr/src/components/molecules/historique/HistoriqueTimeline.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/abandon/index.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/actionnaire/index.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/mapToÉtapeInconnueOuIgnoréeTimelineItemProps.ts
  packages/applications/ssr/src/components/molecules/historique/timeline/recours/index.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/représentant-légal/index.tsx
  packages/domain/entity/src/listHistory.ts
Due: eslint --fix

🚧 Experience category as generic
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/page.tsx
  packages/applications/ssr/src/components/molecules/historique/HistoriqueTimeline.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/abandon/index.tsx
  packages/applications/ssr/src/components/pages/abandon/détails/DétailsAbandon.page.tsx
  packages/domain/entity/src/listHistory.ts
  packages/domain/historique/src/lister/listerHistoriqueProjet.query.ts
Due: eslint --fix

🚧 WIP
  packages/applications/ssr/src/components/molecules/historique/HistoriqueTimeline.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/abandon/index.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/actionnaire/index.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/recours/index.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/représentant-légal/index.tsx
  packages/applications/ssr/src/components/pages/actionnaire/changement/détails/DétailsActionnaire.page.tsx
  packages/applications/ssr/src/components/pages/recours/détails/DétailsRecours.page.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/détails/DétailsChangementReprésentantLégal.page.tsx
  packages/domain/entity/src/listHistory.ts
Due: eslint --fix

🎨 Amélioration avec typage fort sur la catégorie
  packages/applications/ssr/src/app/elimine/[identifiant]/recours/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/page.tsx
  packages/domain/entity/src/listHistory.ts
  packages/domain/historique/src/lister/listerHistoriqueProjet.query.ts
Due: eslint --fix

♻️ Utilisation d'une Option pour les cas limites où un document n'est pas trouvé
  packages/applications/legacy/src/sagas/candidature.saga.ts
  packages/applications/ssr/src/app/candidatures/[identifiant]/telecharger-attestation/route.ts
  packages/applications/ssr/src/app/documents/[documentKey]/route.ts
  packages/applications/ssr/src/utils/zod/document/keepOrUpdateDocument.ts
  packages/domain/document/src/consulter/consulterDocumentProjet.query.ts
  packages/specifications/src/candidature/stepDefinitions/candidature.then.ts
  packages/specifications/src/projet/lauréat/abandon/stepDefinitions/abandon.then.ts
  packages/specifications/src/projet/lauréat/achèvement/attestationConformité/stepDefinitions/attestationConformité.then.ts
  packages/specifications/src/projet/lauréat/actionnaire/stepDefinitions/actionnaire.then.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.then.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/stepDefinitions/dépôtGarantiesFinancières.then.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/stepDefinitions/mainlevéeGarantiesFinancières.then.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.then.ts
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.then.ts
  packages/specifications/src/période/stepDefinitions/période.then.ts
  packages/specifications/src/raccordement/stepDefinitions/demandeComplèteRaccordement.then.ts
  packages/specifications/src/raccordement/stepDefinitions/propositionTechniqueEtFinancière.then.ts
Due: eslint --fix

🐛 Get an empty object if no file found
  packages/applications/legacy/src/sagas/candidature.saga.ts
Due: eslint --fix

🎨 Typer les items de l'historique pour chaque catégorie (#2891)
  packages/applications/ssr/src/app/elimine/[identifiant]/recours/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/page.tsx
  packages/applications/ssr/src/components/molecules/historique/HistoriqueTimeline.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/abandon/index.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/actionnaire/index.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/mapToÉtapeInconnueOuIgnoréeTimelineItemProps.ts
  packages/applications/ssr/src/components/molecules/historique/timeline/recours/index.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/représentant-légal/index.tsx
  packages/applications/ssr/src/components/pages/abandon/détails/DétailsAbandon.page.tsx
  packages/applications/ssr/src/components/pages/actionnaire/changement/détails/DétailsActionnaire.page.tsx
  packages/applications/ssr/src/components/pages/recours/détails/DétailsRecours.page.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/détails/DétailsChangementReprésentantLégal.page.tsx
  packages/domain/entity/src/listHistory.ts
  packages/domain/historique/src/lister/listerHistoriqueProjet.query.ts
Due: eslint --fix

✅ Adapter les tests suite au dépassement de la date limite de recandidature (#2895)
  packages/specifications/src/projet/lauréat/abandon/accorderAbandon.feature
  packages/specifications/src/projet/lauréat/abandon/demanderPreuveRecandidature.feature
  packages/specifications/src/projet/lauréat/abandon/stepDefinitions/abandon.given.ts
Due: eslint --fix, prettier -w

✏️ Ajout date de notification max pour liste preuves recandidature
  packages/infrastructure/domain-adapters/src/candidature/projet.adapter.ts
Due: eslint --fix

✅ Pass test demander preuve
  packages/domain/lauréat/src/abandon/demanderPreuveRecandidature/demanderPreuveRecandidatureAbandon.behavior.ts
  packages/specifications/src/projet/lauréat/abandon/demanderPreuveRecandidature.feature
  packages/specifications/src/projet/lauréat/abandon/stepDefinitions/abandon.when.ts
Due: eslint --fix, prettier -w

✅ Réactiver tests
  packages/specifications/src/projet/lauréat/abandon/accorderAbandon.feature
  packages/specifications/src/projet/lauréat/abandon/demanderPreuveRecandidature.feature
Due: prettier -w

🚸 Amélioration des filtres Cycle d'AO (#2894)
  packages/applications/ssr/src/app/garanties-financieres/depots-en-cours/page.tsx
  packages/applications/ssr/src/app/garanties-financieres/projets-en-attente/page.tsx
  packages/applications/ssr/src/app/taches/page.tsx
  packages/domain/appel-offre/src/lister/listerAppelOffre.query.ts
  packages/domain/lauréat/src/garantiesFinancières/dépôtEnCours/lister/listerDépôtsEnCoursGarantiesFinancières.query.ts
  packages/domain/lauréat/src/garantiesFinancières/projetEnAttenteDeGarantiesFinancières/lister/listerProjetsAvecGarantiesFinancièresEnAttente.query.ts
Due: eslint --fix

🚸 Déplacement des blocs d'informations dans les steps appropriés
  packages/applications/ssr/src/components/pages/représentant-légal/_utils/steps/SaisiePièceJustificative.step.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/corriger/CorrigerChangementReprésentantLégal.form.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/demander/DemanderChangementReprésentantLégal.form.tsx
Due: eslint --fix

🐛 Décaler la date limite de demande de transmission de preuve au 30 juin (#2897)
  packages/domain/lauréat/src/abandon/demanderPreuveRecandidature/demanderPreuveRecandidatureAbandon.behavior.ts
  packages/infrastructure/domain-adapters/src/candidature/projet.adapter.ts
  packages/specifications/src/projet/lauréat/abandon/demanderPreuveRecandidature.feature
  packages/specifications/src/projet/lauréat/abandon/stepDefinitions/abandon.given.ts
  packages/specifications/src/projet/lauréat/abandon/stepDefinitions/abandon.when.ts
Due: eslint --fix, prettier -w

🚸 Déplacement des blocs d'informations dans les steps appropriés pour le représentant légal (#2898)
  packages/applications/ssr/src/components/pages/représentant-légal/_utils/steps/SaisiePièceJustificative.step.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/corriger/CorrigerChangementReprésentantLégal.form.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/demander/DemanderChangementReprésentantLégal.form.tsx
Due: eslint --fix

✨ Ajout de la période 3 de l'appel d'offres PPE2 ZNI
  packages/domain/inmemory-referential/src/appelOffre/PPE2/zni.ppe2.ts
Due: eslint --fix

♻️ Utilisation d'une Option pour les cas limites où un document n'est pas trouvé (#2896)
  packages/applications/legacy/src/sagas/candidature.saga.ts
  packages/applications/ssr/src/app/candidatures/[identifiant]/telecharger-attestation/route.ts
  packages/applications/ssr/src/app/documents/[documentKey]/route.ts
  packages/applications/ssr/src/utils/zod/document/keepOrUpdateDocument.ts
  packages/domain/document/src/consulter/consulterDocumentProjet.query.ts
  packages/specifications/src/candidature/stepDefinitions/candidature.then.ts
  packages/specifications/src/projet/lauréat/abandon/stepDefinitions/abandon.then.ts
  packages/specifications/src/projet/lauréat/achèvement/attestationConformité/stepDefinitions/attestationConformité.then.ts
  packages/specifications/src/projet/lauréat/actionnaire/stepDefinitions/actionnaire.then.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.then.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/stepDefinitions/dépôtGarantiesFinancières.then.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/stepDefinitions/mainlevéeGarantiesFinancières.then.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.then.ts
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.then.ts
  packages/specifications/src/période/stepDefinitions/période.then.ts
  packages/specifications/src/raccordement/stepDefinitions/demandeComplèteRaccordement.then.ts
  packages/specifications/src/raccordement/stepDefinitions/propositionTechniqueEtFinancière.then.ts
Due: eslint --fix

✨ Ajout de la période 9 de l'appel d'offres PPE2 Eolien
  packages/domain/inmemory-referential/src/appelOffre/PPE2/eolien.ppe2.ts
Due: eslint --fix

⏪️ Réactiver les tests liés à la recandidature
  packages/specifications/src/projet/lauréat/abandon/accorderAbandon.feature
  packages/specifications/src/projet/lauréat/abandon/demanderPreuveRecandidature.feature
Due: prettier -w

✨ Ajout de la période 3 de l'appel d'offres PPE2 ZNI (#2900)
  packages/domain/inmemory-referential/src/appelOffre/PPE2/zni.ppe2.ts
Due: eslint --fix

✨ Ajout de la période 9 de l'appel d'offres PPE2 Eolien (#2901)
  packages/domain/inmemory-referential/src/appelOffre/PPE2/eolien.ppe2.ts
Due: eslint --fix

⏪️ Réactiver les tests liés à la recandidature (#2902)
  packages/specifications/src/projet/lauréat/abandon/accorderAbandon.feature
  packages/specifications/src/projet/lauréat/abandon/demanderPreuveRecandidature.feature
Due: prettier -w

🎨 Uniformisation du wording des pages de demande
  packages/applications/legacy/src/views/components/UI/organisms/UserNavigation.tsx
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
  packages/applications/ssr/src/components/pages/abandon/lister/AbandonList.page.tsx
  packages/applications/ssr/src/components/pages/actionnaire/changement/ChangementActionnaireList.page.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/lister/ChangementReprésentantLégalList.page.tsx
Due: eslint --fix

✨ Ajout du choix du coefficient K dans le domaine candidature
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/candidature/src/choixCoefficientK.error.ts
  packages/domain/candidature/src/importer/importerCandidature.behavior.ts
  packages/domain/candidature/src/importer/importerCandidature.command.ts
  packages/domain/candidature/src/importer/importerCandidature.usecase.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/autoconsommationMetropole.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/batiment.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/eolien.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/innovation.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/neutre.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/sol.ppe2.ts
  packages/specifications/src/candidature/candidature.world.ts
  packages/specifications/src/candidature/fixtures/importerCandidature.fixture.ts
  packages/specifications/src/candidature/importerCandidature.feature
Due: eslint --fix, prettier -w

✨ Corriger
  packages/domain/candidature/src/corriger/corrigerCandidature.behavior.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/batiment.ppe2.ts
  packages/specifications/src/candidature/corrigerCandidature.feature
Due: eslint --fix, prettier -w

✨ Projection
  packages/applications/projectors/src/subscribers/candidature/candidatureCorrigée.projector.ts
  packages/applications/projectors/src/subscribers/candidature/candidatureImportée.projector.ts
  packages/domain/candidature/src/candidature.entity.ts
  packages/domain/candidature/src/consulter/consulterCandidature.query.ts
  packages/specifications/src/candidature/candidature.world.ts
Due: eslint --fix

✨ Ordonner les candidatures par AO, période et nom du projet
  packages/domain/candidature/src/lister/listerCandidatures.query.ts
Due: eslint --fix

🥅 Gestion de l'erreur d'authentification levée dans le middleware de permission
  packages/applications/bootstrap/src/errors.ts
  packages/applications/bootstrap/src/index.ts
  packages/applications/bootstrap/src/middlewares/permission.middleware.ts
  packages/applications/ssr/src/utils/withErrorHandling.ts
Due: eslint --fix

⬆️ Mise à jour de typescript
  package-lock.json
  package.json
  packages/applications/ssr/package.json
Due: eslint --fix, prettier -w

🥅 Gestion de l'erreur d'authentification levée dans le middleware de permission (#2907)
  packages/applications/bootstrap/src/errors.ts
  packages/applications/bootstrap/src/index.ts
  packages/applications/bootstrap/src/middlewares/permission.middleware.ts
  packages/applications/ssr/src/utils/withErrorHandling.ts
Due: eslint --fix

✨ Ordonner les candidatures par AO, période et nom du projet (#2906)
  packages/domain/candidature/src/lister/listerCandidatures.query.ts
Due: eslint --fix

✨ Ajout du choix du coefficient K dans le domaine candidature (#2905)
  packages/applications/projectors/src/subscribers/candidature/candidatureCorrigée.projector.ts
  packages/applications/projectors/src/subscribers/candidature/candidatureImportée.projector.ts
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/candidature/src/candidature.entity.ts
  packages/domain/candidature/src/choixCoefficientK.error.ts
  packages/domain/candidature/src/consulter/consulterCandidature.query.ts
  packages/domain/candidature/src/corriger/corrigerCandidature.behavior.ts
  packages/domain/candidature/src/importer/importerCandidature.behavior.ts
  packages/domain/candidature/src/importer/importerCandidature.command.ts
  packages/domain/candidature/src/importer/importerCandidature.usecase.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/autoconsommationMetropole.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/batiment.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/eolien.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/innovation.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/neutre.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/sol.ppe2.ts
  packages/specifications/src/candidature/candidature.world.ts
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/candidature/fixtures/importerCandidature.fixture.ts
  packages/specifications/src/candidature/importerCandidature.feature
Due: eslint --fix, prettier -w

🐛 Cre ne doit pas avoir accès à toutes les demandes
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
Due: eslint --fix

🎨 Uniformisation du wording des pages de demande (#2904)
  packages/applications/legacy/src/views/components/UI/organisms/UserNavigation.tsx
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
  packages/applications/ssr/src/components/pages/abandon/lister/AbandonList.page.tsx
  packages/applications/ssr/src/components/pages/actionnaire/changement/ChangementActionnaireList.page.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/lister/ChangementReprésentantLégalList.page.tsx
Due: eslint --fix

🐛 Validation de la date d'échéance dans le formulaire de correction d'une candidature
  packages/applications/ssr/src/utils/zod/candidature/candidature.schema.ts
Due: eslint --fix

🐛 Validation de la date d'échéance dans le formulaire de correction d'une candidature (#2910)
  packages/applications/ssr/src/utils/zod/candidature/candidature.schema.ts
Due: eslint --fix

🎨 Repasser sur les pourcentages en castant en décimal pour éviter les arrondis entiers à l'inférieur
  .database/metabase-dev.dump
  .database/potentiel-dev.dump
  packages/statistiques/statistiques-publiques/src/02-avancement-des-projets/pourcentageAttestationTéléchargée.statistic.ts
  packages/statistiques/statistiques-publiques/src/02-avancement-des-projets/pourcentageProjetAyantTransmisAttestationConformité.statistic.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/pourcentageDCRDéposées.statistic.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/pourcentagePTFDéposées.statistic.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/pourcentageProjetAvecDCREtPTF.statistic.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/pourcentageProjetEnService.statistic.ts
  packages/statistiques/statistiques-publiques/src/06-par-cycle/pourcentageProjetCRE4EnService.statistic.ts
  packages/statistiques/statistiques-publiques/src/06-par-cycle/pourcentageProjetPPE2EnService.statistic.ts
Due: eslint --fix

🐛 Ne pas query le changement de représentant légal si l'utilisateur n'a pas la permission
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getReprésentantLégal.ts
Due: eslint --fix

🎨 Repasser sur les pourcentages des stats publiques en castant en décimal pour éviter les arrondis entiers à l'inférieur (#2912)
  .database/metabase-dev.dump
  .database/potentiel-dev.dump
  packages/statistiques/statistiques-publiques/src/02-avancement-des-projets/pourcentageAttestationTéléchargée.statistic.ts
  packages/statistiques/statistiques-publiques/src/02-avancement-des-projets/pourcentageProjetAyantTransmisAttestationConformité.statistic.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/pourcentageDCRDéposées.statistic.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/pourcentagePTFDéposées.statistic.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/pourcentageProjetAvecDCREtPTF.statistic.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/pourcentageProjetEnService.statistic.ts
  packages/statistiques/statistiques-publiques/src/06-par-cycle/pourcentageProjetCRE4EnService.statistic.ts
  packages/statistiques/statistiques-publiques/src/06-par-cycle/pourcentageProjetPPE2EnService.statistic.ts
Due: eslint --fix

🐛 Ne pas query le changement de représentant légal si l'utilisateur n'a pas la permission (#2913)
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getReprésentantLégal.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
