Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

✨ Instruction abandon front (#2803)
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/page.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/abandon/mapToAbandonPasséEnInstructionTimelineItemProps.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/abandon/mapToAbandonTimelineItemProps.tsx
  packages/applications/ssr/src/components/pages/abandon/détails/DétailsAbandon.page.tsx
  packages/applications/ssr/src/components/pages/abandon/détails/passerEnInstruction/PasserAbandonEnInstruction.tsx
  packages/applications/ssr/src/components/pages/abandon/détails/passerEnInstruction/passerAbandonEnInstruction.action.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🎨 Refacto actions candidature
  packages/applications/ssr/src/app/candidatures/[identifiant]/page.tsx
  packages/applications/ssr/src/app/candidatures/_helpers/getCandidature.ts
  packages/applications/ssr/src/app/candidatures/_helpers/getCandidatureActions.ts
  packages/applications/ssr/src/app/candidatures/_helpers/getCandidatureListActions.ts
  packages/applications/ssr/src/app/candidatures/page.tsx
  packages/applications/ssr/src/components/pages/candidature/détails/DétailsCandidature.page.tsx
Due: eslint --fix

🎨 Quelques fix en plus
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getReprésentantLégal.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/EditProjectData.tsx
  packages/applications/ssr/src/components/pages/candidature/corriger/CorrigerCandidature.page.tsx
Due: eslint --fix

🎨 Oubli
  packages/applications/ssr/src/app/candidatures/_helpers/getCandidatureActions.ts
Due: eslint --fix

🎨 Wording
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/page.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/page.tsx
  packages/applications/ssr/src/app/candidatures/_helpers/getCandidatureActions.ts
  packages/applications/ssr/src/components/pages/candidature/corriger/CorrigerCandidature.page.tsx
Due: eslint --fix

🎨 Tooltip
  packages/applications/ssr/src/components/pages/lauréat/modifier/fields/ModifierLauréatFields.tsx
Due: eslint --fix

🎨 Dernière corrections demandées
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/page.tsx
  packages/applications/ssr/src/components/pages/candidature/corriger-par-lot/CorrigerCandidatures.page.tsx
  packages/applications/ssr/src/components/pages/candidature/corriger/CorrigerCandidature.form.tsx
  packages/applications/ssr/src/components/pages/candidature/corriger/CorrigerCandidature.page.tsx
Due: eslint --fix

💚 Build
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/page.tsx
Due: eslint --fix

🐛 Amélioration lien et infobox des formulaire de correction candidature et projet (#2804)
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getReprésentantLégal.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/EditProjectData.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/page.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/page.tsx
  packages/applications/ssr/src/app/candidatures/_helpers/getCandidature.ts
  packages/applications/ssr/src/app/candidatures/_helpers/getCandidatureActions.ts
  packages/applications/ssr/src/app/candidatures/_helpers/getCandidatureListActions.ts
  packages/applications/ssr/src/app/candidatures/page.tsx
  packages/applications/ssr/src/components/pages/candidature/corriger-par-lot/CorrigerCandidatures.page.tsx
  packages/applications/ssr/src/components/pages/candidature/corriger/CorrigerCandidature.form.tsx
  packages/applications/ssr/src/components/pages/candidature/corriger/CorrigerCandidature.page.tsx
  packages/applications/ssr/src/components/pages/candidature/détails/DétailsCandidature.page.tsx
  packages/applications/ssr/src/components/pages/lauréat/modifier/fields/ModifierLauréatFields.tsx
Due: eslint --fix

🔀 Intégration des modifications de la release 3.43 (#2805)
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getReprésentantLégal.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/EditProjectData.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/page.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/page.tsx
  packages/applications/ssr/src/app/candidatures/_helpers/getCandidature.ts
  packages/applications/ssr/src/app/candidatures/_helpers/getCandidatureActions.ts
  packages/applications/ssr/src/app/candidatures/_helpers/getCandidatureListActions.ts
  packages/applications/ssr/src/app/candidatures/page.tsx
  packages/applications/ssr/src/components/pages/candidature/corriger-par-lot/CorrigerCandidatures.page.tsx
  packages/applications/ssr/src/components/pages/candidature/corriger/CorrigerCandidature.form.tsx
  packages/applications/ssr/src/components/pages/candidature/corriger/CorrigerCandidature.page.tsx
  packages/applications/ssr/src/components/pages/candidature/détails/DétailsCandidature.page.tsx
  packages/applications/ssr/src/components/pages/lauréat/modifier/fields/ModifierLauréatFields.tsx
Due: eslint --fix

📝 Ajout commentaire
  packages/domain/tâche/src/lister/listerTâches.query.ts
Due: eslint --fix

🗃️ Update dump
  .database/potentiel-dev.dump
Due: none

🐛 Fix count
  packages/domain/entity/src/count.ts
  packages/infrastructure/pg-projections/src/countProjection.ts
  packages/infrastructure/pg-projections/src/listProjection.ts
Due: eslint --fix

🔥 Suppression des informations de projet dans les projections (#2802)
  .database/potentiel-dev.dump
  packages/applications/projectors/src/subscribers/lauréat/_utils/getProjectData.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/abandonAnnulé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/abandonDemandé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/garantiesFinancières.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/changement/changementReprésentantLégalAnnulé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/changement/changementReprésentantLégalDemandé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/changement/changementReprésentantLégalSupprimé.projector.ts
  packages/applications/projectors/src/subscribers/réseau/raccordement.projector.ts
  packages/applications/projectors/src/subscribers/tâche/tâche/tâcheAjoutée.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/recours.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/éliminé.projector.ts
  packages/domain/entity/src/count.ts
  packages/domain/lauréat/src/abandon/abandon.entity.ts
  packages/domain/lauréat/src/abandon/lister/listerAbandons.query.ts
  packages/domain/lauréat/src/garantiesFinancières/dépôtEnCours/dépôtEnCoursGarantiesFinancières.entity.ts
  packages/domain/lauréat/src/garantiesFinancières/dépôtEnCours/lister/listerDépôtsEnCoursGarantiesFinancières.query.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/archivesGarantiesFinancières.entity.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/garantiesFinancièresActuelles.entity.ts
  packages/domain/lauréat/src/garantiesFinancières/mainlevée/lister/listerMainlevéesGarantiesFinancières.query.ts
  packages/domain/lauréat/src/garantiesFinancières/mainlevée/mainlevéeGarantiesFinancières.entity.ts
  packages/domain/lauréat/src/garantiesFinancières/projetEnAttenteDeGarantiesFinancières/consulter/consulterProjetAvecGarantiesFinancièresEnAttente.query.ts
  packages/domain/lauréat/src/garantiesFinancières/projetEnAttenteDeGarantiesFinancières/lister/listerProjetsAvecGarantiesFinancièresEnAttente.query.ts
  packages/domain/lauréat/src/garantiesFinancières/projetEnAttenteDeGarantiesFinancières/projetAvecGarantiesFinancièresEnAttente.entity.ts
  packages/domain/lauréat/src/raccordement/lister/listerDossierRaccordement.query.ts
  packages/domain/lauréat/src/raccordement/raccordement.entity.ts
  packages/domain/lauréat/src/représentantLégal/changement/changementReprésentantLégal.entity.ts
  packages/domain/lauréat/src/représentantLégal/changement/lister/listerChangementReprésentantLégal.query.ts
  packages/domain/tâche/src/lister/listerTâches.query.ts
  packages/domain/tâche/src/tâche.entity.ts
  packages/domain/éliminé/src/recours/lister/listerRecours.query.ts
  packages/domain/éliminé/src/recours/recours.entity.ts
  packages/infrastructure/pg-projections/src/countProjection.ts
  packages/infrastructure/pg-projections/src/listProjection.ts
Due: eslint --fix

🐛 Corriger le type de updateOneProjection pour permettre de modifier un sous-objet
  packages/applications/projectors/src/infrastructure/updateManyProjections.ts
  packages/applications/projectors/src/infrastructure/updateOneProjection.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/abandonAccordé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/abandonConfirmé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/abandonPasséEnInstruction.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/abandonRejeté.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/confirmationAbandonDemandée.projector.ts
Due: eslint --fix

🎨 Fix: locker formulaire si valeur déjà modifiée
  packages/applications/ssr/src/components/pages/lauréat/modifier/fields/LocalitéField.tsx
  packages/applications/ssr/src/components/pages/lauréat/modifier/fields/ModifierLauréatFields.tsx
Due: eslint --fix

🎨 Menu corrections
  packages/applications/ssr/src/components/pages/lauréat/modifier/fields/LocalitéField.tsx
  packages/applications/ssr/src/components/pages/lauréat/modifier/fields/ModifierLauréatFields.tsx
Due: eslint --fix

🎨 Name
  packages/applications/ssr/src/components/pages/lauréat/modifier/fields/LocalitéField.tsx
Due: eslint --fix

🚧 Création des views SQL + schéma domain_private_statistics
  packages/statistiques/statistiques-privées/sql/schema.sql
  packages/statistiques/statistiques-privées/sql/views/abandon.view.sql
  packages/statistiques/statistiques-privées/sql/views/actionnaire.view.sql
  packages/statistiques/statistiques-privées/sql/views/candidature.view.sql
  packages/statistiques/statistiques-privées/sql/views/changementActionnaire.view.sql
  packages/statistiques/statistiques-privées/sql/views/changementReprésentantLégal.view.sql
  packages/statistiques/statistiques-privées/sql/views/lauréat.view.sql
  packages/statistiques/statistiques-privées/sql/views/raccordement.view.sql
  packages/statistiques/statistiques-privées/sql/views/recours.view.sql
  packages/statistiques/statistiques-privées/sql/views/représentantLégal.view.sql
  packages/statistiques/statistiques-privées/sql/views/éliminé.view.sql
Due: none

♻️ Mise à jour view abandon
  packages/statistiques/statistiques-privées/sql/views/abandon.view.sql
Due: none

♻️ Mise à jour VIEWS
  packages/statistiques/statistiques-privées/sql/views/changementActionnaire.view.sql
  packages/statistiques/statistiques-privées/sql/views/raccordement.view.sql
  packages/statistiques/statistiques-privées/sql/views/recours.view.sql
Due: none

🔥 Remove AtLeastOne
  packages/applications/projectors/src/infrastructure/updateManyProjections.ts
  packages/applications/projectors/src/infrastructure/updateOneProjection.ts
Due: eslint --fix

🎨 Amélioration du comportement du cadenas si valeur projet modifiée (#2807)
  packages/applications/ssr/src/components/pages/lauréat/modifier/fields/LocalitéField.tsx
  packages/applications/ssr/src/components/pages/lauréat/modifier/fields/ModifierLauréatFields.tsx
Due: eslint --fix

♻️ Suppression accent
  packages/statistiques/statistiques-privées/sql/views/abandon.view.sql
  packages/statistiques/statistiques-privées/sql/views/candidature.view.sql
  packages/statistiques/statistiques-privées/sql/views/changementActionnaire.view.sql
  packages/statistiques/statistiques-privées/sql/views/changementReprésentantLégal.view.sql
  packages/statistiques/statistiques-privées/sql/views/dossierRaccordement.view.sql
  packages/statistiques/statistiques-privées/sql/views/lauréat.view.sql
  packages/statistiques/statistiques-privées/sql/views/recours.view.sql
  packages/statistiques/statistiques-privées/sql/views/représentantLégal.view.sql
  packages/statistiques/statistiques-privées/sql/views/éliminé.view.sql
Due: none

♻️ Ajout grant sut schema stat privee
  .database/permissions/grant.sql
Due: none

🐛 Fix view abandon
  packages/statistiques/statistiques-privées/sql/views/abandon.view.sql
Due: none

🐛 Fix candidature et laureat views
  packages/statistiques/statistiques-privées/sql/views/candidature.view.sql
  packages/statistiques/statistiques-privées/sql/views/lauréat.view.sql
Due: none

🔀 Intégration des modifications de la release 3.43 (#2808)
  packages/applications/ssr/src/components/pages/lauréat/modifier/fields/LocalitéField.tsx
  packages/applications/ssr/src/components/pages/lauréat/modifier/fields/ModifierLauréatFields.tsx
Due: eslint --fix

⬆️ Mise à jour DSFR + retirer le fix temporaire
  package-lock.json
  packages/applications/ssr/package.json
  packages/applications/ssr/src/components/pages/candidature/corriger/CorrigerCandidature.form.tsx
  packages/applications/ssr/src/components/pages/lauréat/modifier/fields/ActionnariatField.tsx
  packages/applications/ssr/src/components/pages/lauréat/modifier/fields/TechnologieField.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/TypeReprésentantLégalSelect.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/GestionnaireRéseauSelect.tsx
Due: eslint --fix, prettier -w

🎨 Amélioration infobox
  packages/applications/ssr/src/components/pages/candidature/corriger-par-lot/CorrigerCandidatures.page.tsx
  packages/applications/ssr/src/components/pages/candidature/corriger/CorrigerCandidature.page.tsx
Due: eslint --fix

🎨 Derniers correctifs sur infobox pour les pages de correction de candidature (#2811)
  packages/applications/ssr/src/components/pages/candidature/corriger-par-lot/CorrigerCandidatures.page.tsx
  packages/applications/ssr/src/components/pages/candidature/corriger/CorrigerCandidature.page.tsx
Due: eslint --fix

🐛 Corriger le type de `updateOneProjection` pour permettre de modifier un sous-objet (#2806)
  packages/applications/projectors/src/infrastructure/updateManyProjections.ts
  packages/applications/projectors/src/infrastructure/updateOneProjection.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/abandonAccordé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/abandonConfirmé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/abandonPasséEnInstruction.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/abandonRejeté.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/confirmationAbandonDemandée.projector.ts
Due: eslint --fix

⬆️ Mise à jour DSFR + retirer le fix temporaire (#2810)
  package-lock.json
  packages/applications/ssr/package.json
  packages/applications/ssr/src/components/pages/candidature/corriger/CorrigerCandidature.form.tsx
  packages/applications/ssr/src/components/pages/lauréat/modifier/fields/ActionnariatField.tsx
  packages/applications/ssr/src/components/pages/lauréat/modifier/fields/TechnologieField.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/TypeReprésentantLégalSelect.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/GestionnaireRéseauSelect.tsx
Due: eslint --fix, prettier -w

✨ Migration de la page accessibilité
  packages/applications/legacy/src/views/components/UI/organisms/Footer.tsx
  packages/applications/routes/src/accessibiité/accessibilité.routes.ts
  packages/applications/routes/src/accessibiité/index.ts
  packages/applications/routes/src/index.ts
  packages/applications/ssr/src/app/accessibilite/page.tsx
  packages/applications/ssr/src/components/atoms/headings/Heading3.tsx
  packages/applications/ssr/src/components/atoms/headings/Heading4.tsx
  packages/applications/ssr/src/components/organisms/Footer.tsx
  packages/applications/ssr/src/components/pages/accessibilite/Accessibilite.page.tsx
  packages/applications/ssr/src/middleware.ts
Due: eslint --fix

🔥 Suppression de la page legacy
  packages/applications/legacy/src/controllers/getDéclarationAccessibilitéPage.ts
  packages/applications/legacy/src/controllers/index.ts
  packages/applications/legacy/src/routes.ts
  packages/applications/legacy/src/views/index.ts
  packages/applications/legacy/src/views/pages/DéclarationAccessibilitéPage.tsx
  packages/applications/legacy/src/views/pages/index.ts
Due: eslint --fix

🎨 Specs
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
  packages/specifications/src/projet/éliminé/recours/annulerRecours.feature
  packages/specifications/src/projet/éliminé/recours/demanderRecours.feature
  packages/specifications/src/projet/éliminé/recours/passerRecoursEnInstruction.feature
  packages/specifications/src/projet/éliminé/recours/rejeterRecours.feature
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.given.ts
Due: eslint --fix, prettier -w

🎨 Domain
  packages/applications/bootstrap/src/setupEliminé.ts
  packages/applications/notifications/src/subscribers/éliminé/recours.notification.ts
  packages/applications/projectors/src/index.ts
  packages/applications/projectors/src/subscribers/éliminé/recours.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/index.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursAccordé.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursAnnulé.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursDemandé.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursPasséEnInstruction.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursRebuildTriggered.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursRejeté.projector.ts
  packages/applications/ssr/src/components/pages/recours/StatutRecoursBadge.tsx
  packages/domain/utilisateur/src/role.valueType.ts
  packages/domain/éliminé/src/recours/consulter/consulterDemandeRecoursLegacy.query.ts
  packages/domain/éliminé/src/recours/index.ts
  packages/domain/éliminé/src/recours/instruire/passerRecoursEnInstruction.behavior.ts
  packages/domain/éliminé/src/recours/instruire/passerRecoursEnInstruction.command.ts
  packages/domain/éliminé/src/recours/instruire/passerRecoursEnInstruction.usecase.ts
  packages/domain/éliminé/src/recours/recours.aggregate.ts
  packages/domain/éliminé/src/recours/recours.entity.ts
  packages/domain/éliminé/src/recours/recours.register.ts
  packages/domain/éliminé/src/recours/statutRecours.valueType.ts
  packages/infrastructure/domain-adapters/src/index.ts
  packages/infrastructure/domain-adapters/src/recours/recours.adapter.ts
Due: eslint --fix

🎨 Test
  packages/domain/éliminé/src/recours/consulter/consulterRecours.query.ts
  packages/domain/éliminé/src/recours/statutRecours.valueType.ts
  packages/specifications/src/projet/lauréat/abandon/stepDefinitions/abandon.given.ts
  packages/specifications/src/projet/éliminé/recours/fixtures/passerRecoursEnInstruction.fixture.ts
  packages/specifications/src/projet/éliminé/recours/passerRecoursEnInstruction.feature
  packages/specifications/src/projet/éliminé/recours/recours.world.ts
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.given.ts
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.then.ts
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.when.ts
Due: eslint --fix, prettier -w

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
