Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml,feature}": "prettier -w"
}

icon export
  packages/applications/ssr/src/app/export/export.page.tsx
Due: eslint --fix

✨ icon export (#4500)
  packages/applications/ssr/src/app/export/export.page.tsx
Due: eslint --fix

🐛 Ajout d'une méthode getSearchParamsMultipleValues pour gérer le cas des search params multiple séparés par '|'
  packages/applications/ssr/src/app/_helpers/index.ts
  packages/applications/ssr/src/app/_helpers/optionalStringArray.ts
  packages/applications/ssr/src/app/_helpers/searchParams/getSearchParamsMultipleValues.test.ts
  packages/applications/ssr/src/app/_helpers/searchParams/getSearchParamsMultipleValues.ts
  packages/applications/ssr/src/app/_helpers/searchParams/index.ts
  packages/applications/ssr/src/app/candidatures/export-fournisseurs/route.ts
  packages/applications/ssr/src/app/candidatures/export/route.ts
  packages/applications/ssr/src/app/elimines/export/route.ts
  packages/applications/ssr/src/app/laureats/export/route.ts
  packages/applications/ssr/src/app/reseaux/raccordements/exporter/route.ts
Due: eslint --fix

Demandes : passer le titre de la page au dessus du contenu et des actions
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/DétailsAbandon.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/DétailsActionnaire.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/DétailsChangementActionnaire.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/DétailsDemandeDélai.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/DétailsDemandeDélai.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/[date]/DétailsChangementFournisseur.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/[date]/DétailsChangementFournisseur.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/dispositif-de-stockage/changement/[date]/DétailsChangementDispositifDeStockage.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/dispositif-de-stockage/changement/[date]/DétailsChangementDispositifDeStockage.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/installateur/changement/[date]/DétailsChangementInstallateur.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/installateur/changement/[date]/DétailsChangementInstallateur.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/nature-de-l-exploitation/changement/[date]/DétailsChangementNatureDeLExploitation.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/nature-de-l-exploitation/changement/[date]/DétailsChangementNatureDeLExploitation.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/nom-projet/changement/[date]/DétailsChangementNomProjet.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/nom-projet/changement/[date]/DétailsChangementNomProjet.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/changement/[date]/DétailsChangementProducteur.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/changement/[date]/DétailsChangementProducteur.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/DétailsChangementPuissance.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/DétailsPuissance.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/DétailsChangementReprésentantLégal.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/DétailsChangementReprésentantLégal.tsx
  packages/applications/ssr/src/components/organisms/demande/DétailsChangement.tsx
  packages/applications/ssr/src/components/organisms/demande/DétailsDemande.tsx
  packages/applications/ssr/src/components/organisms/demande/TitrePageDemande.tsx
Due: eslint --fix

:bug: Update dump (rebuild producteur oublié)
  .database/potentiel-dev.dump
Due: none

♻️ Ajout d'une méthode getSearchParamsValues pour les routes, qui permet de gérer le cas des single + des multiple
  packages/applications/ssr/src/app/_helpers/searchParams/getSearchParamsSingleValue.test.ts
  packages/applications/ssr/src/app/_helpers/searchParams/getSearchParamsSingleValue.ts
  packages/applications/ssr/src/app/_helpers/searchParams/getSearchParamsValues.test.ts
  packages/applications/ssr/src/app/_helpers/searchParams/getSearchParamsValues.ts
  packages/applications/ssr/src/app/_helpers/searchParams/index.ts
  packages/applications/ssr/src/app/candidatures/export-fournisseurs/route.ts
  packages/applications/ssr/src/app/candidatures/export/route.ts
  packages/applications/ssr/src/app/elimines/export/route.ts
  packages/applications/ssr/src/app/laureats/export/route.ts
  packages/applications/ssr/src/app/reseaux/raccordements/exporter/route.ts
Due: eslint --fix

🐛 Ajout d'une méthode getSearchParamsMultipleValues pour gérer le cas… (#4501)
  packages/applications/ssr/src/app/_helpers/index.ts
  packages/applications/ssr/src/app/_helpers/optionalStringArray.ts
  packages/applications/ssr/src/app/_helpers/searchParams/getSearchParamsMultipleValues.test.ts
  packages/applications/ssr/src/app/_helpers/searchParams/getSearchParamsMultipleValues.ts
  packages/applications/ssr/src/app/_helpers/searchParams/getSearchParamsSingleValue.test.ts
  packages/applications/ssr/src/app/_helpers/searchParams/getSearchParamsSingleValue.ts
  packages/applications/ssr/src/app/_helpers/searchParams/getSearchParamsValues.test.ts
  packages/applications/ssr/src/app/_helpers/searchParams/getSearchParamsValues.ts
  packages/applications/ssr/src/app/_helpers/searchParams/index.ts
  packages/applications/ssr/src/app/candidatures/export-fournisseurs/route.ts
  packages/applications/ssr/src/app/candidatures/export/route.ts
  packages/applications/ssr/src/app/elimines/export/route.ts
  packages/applications/ssr/src/app/laureats/export/route.ts
  packages/applications/ssr/src/app/reseaux/raccordements/exporter/route.ts
Due: eslint --fix

commentaire
  packages/applications/ssr/src/components/organisms/demande/TitrePageDemande.tsx
Due: eslint --fix

🐛 Fix historique items suite à recours accordé (d'abord éliminé notifié puis lauréat notifié suite à recours accordé)
  packages/domain/common/src/valueTypes/dateTime.valueType.ts
  packages/domain/projet/src/éliminé/recours/recours.aggregate.ts
  packages/specifications/src/projet/éliminé/recours/fixtures/accorderRecours.fixture.ts
Due: eslint --fix

🚧 WIP
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(historique)/events/mapToRecoursAccordéTimelineItemProps.tsx
  packages/domain/projet/src/éliminé/recours/recours.aggregate.ts
  packages/specifications/src/projet/éliminé/recours/fixtures/accorderRecours.fixture.ts
Due: eslint --fix

🐛 Update dump (rebuild producteur oublié) (#4503)
  .database/potentiel-dev.dump
Due: none

🐛 Bug le fichier se base encore sur la date d'accord de l'action et non celle choisie par l'utilisateur
  packages/applications/cli/src/commands/files/seed.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(historique)/events/mapToRecoursAccordéTimelineItemProps.tsx
  packages/domain/projet/src/éliminé/recours/accorder/accorderRecours.usecase.ts
  packages/domain/projet/src/éliminé/recours/consulter/consulterDemandeRecours.query.ts
  packages/domain/projet/src/éliminé/recours/documentRecours.valueType.ts
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
  packages/specifications/src/projet/éliminé/recours/recours.world.ts
Due: eslint --fix, prettier -w

🐛 Bug le fichier se base encore sur la date d'accord de l'action et non celle choisie par l'utilisateur (#4506)
  packages/applications/cli/src/commands/files/seed.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(historique)/events/mapToRecoursAccordéTimelineItemProps.tsx
  packages/domain/projet/src/éliminé/recours/accorder/accorderRecours.usecase.ts
  packages/domain/projet/src/éliminé/recours/consulter/consulterDemandeRecours.query.ts
  packages/domain/projet/src/éliminé/recours/documentRecours.valueType.ts
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
  packages/specifications/src/projet/éliminé/recours/recours.world.ts
Due: eslint --fix, prettier -w

✨ Adapter la synthèse de période en fonction d'un type de synthèse "laureat" ou "candidature"
  packages/applications/document-builder/src/synthèsePériode/SynthèsePériode.tsx
  packages/applications/document-builder/src/synthèsePériode/TableauLauréatsPériode.tsx
  packages/applications/document-builder/src/synthèsePériode/buildDocument.ts
  packages/applications/document-builder/src/synthèsePériode/synthèsePériode.stories.tsx
  packages/applications/routes/src/période/période.routes.ts
  packages/applications/ssr/src/app/_helpers/searchParams/getSearchParamsEnumValue.test.ts
  packages/applications/ssr/src/app/_helpers/searchParams/getSearchParamsEnumValue.ts
  packages/applications/ssr/src/app/_helpers/searchParams/getSearchParamsValues.test.ts
  packages/applications/ssr/src/app/_helpers/searchParams/getSearchParamsValues.ts
  packages/applications/ssr/src/app/laureats/(liste)/page.tsx
  packages/applications/ssr/src/app/periodes/PériodeListItem.tsx
  packages/applications/ssr/src/app/periodes/telecharger-synthese-periode/route.ts
  packages/applications/ssr/src/components/molecules/ListPageActions.tsx
  packages/domain/projet/src/lauréat/lister/listerLauréat.query.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🎨 Garantir la cohérence des dates métiers dans l'enchainement éliminé -> demande de recours -> accord du recours -> lauréat avec ajout de step pour le vérifier dans les tests
  packages/domain/projet/src/éliminé/recours/recours.aggregate.ts
  packages/specifications/src/helpers/index.ts
  packages/specifications/src/helpers/récupérerDateÉvènement.ts
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
  packages/specifications/src/projet/éliminé/recours/demanderRecours.feature
  packages/specifications/src/projet/éliminé/recours/fixtures/accorderRecours.fixture.ts
  packages/specifications/src/projet/éliminé/recours/fixtures/demanderRecours.fixture.ts
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.given.ts
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.then.ts
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.when.ts
Due: eslint --fix, prettier -w

⬆️ Maj des dépendances next et postcss pour fixer les erreurs de sécurité (audit npm)
  package-lock.json
  packages/applications/ssr/package.json
Due: eslint --fix, prettier -w

🎨 Utilisation de la permission "raccordement.référence-dossier.modifier-après-mise-en-service" plutot que se baser sur le rôle de l'utilisateur courant
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
Due: eslint --fix

✅ Impossible pour un porteur ou la dreal de modifier la référence pour un dossier de raccordement si le projet est achevé
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/projet/lauréat/raccordement/demandeComplèteDeRaccordement/modifierRéférenceDemandeComplèteDeRaccordement.feature
Due: eslint --fix, prettier -w

♻️ Mieux gérer les actions possible pour la partie DCR
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/raccordements/(raccordement-du-projet)/(détails)/_helpers/getDemandeComplèteDeRaccordementActions.ts
Due: eslint --fix

🎨 Avoir des actions du type download document dans les actions des liste
  packages/applications/ssr/src/app/laureats/(liste)/page.tsx
  packages/applications/ssr/src/components/atoms/form/document/KeepOrEditDocument.tsx
  packages/applications/ssr/src/components/atoms/form/document/UploadDocument.tsx
  packages/applications/ssr/src/components/molecules/ListPageActions.tsx
Due: eslint --fix

✨ Adapter la synthèse de période en fonction d'un type de synthèse "laureat" ou "candidature" (#4508)
  packages/applications/document-builder/src/synthèsePériode/SynthèsePériode.tsx
  packages/applications/document-builder/src/synthèsePériode/TableauLauréatsPériode.tsx
  packages/applications/document-builder/src/synthèsePériode/buildDocument.ts
  packages/applications/document-builder/src/synthèsePériode/synthèsePériode.stories.tsx
  packages/applications/routes/src/période/période.routes.ts
  packages/applications/ssr/src/app/_helpers/searchParams/getSearchParamsEnumValue.test.ts
  packages/applications/ssr/src/app/_helpers/searchParams/getSearchParamsEnumValue.ts
  packages/applications/ssr/src/app/_helpers/searchParams/getSearchParamsValues.test.ts
  packages/applications/ssr/src/app/_helpers/searchParams/getSearchParamsValues.ts
  packages/applications/ssr/src/app/laureats/(liste)/page.tsx
  packages/applications/ssr/src/app/periodes/PériodeListItem.tsx
  packages/applications/ssr/src/app/periodes/telecharger-synthese-periode/route.ts
  packages/applications/ssr/src/components/atoms/form/document/KeepOrEditDocument.tsx
  packages/applications/ssr/src/components/atoms/form/document/UploadDocument.tsx
  packages/applications/ssr/src/components/molecules/ListPageActions.tsx
  packages/domain/projet/src/lauréat/lister/listerLauréat.query.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

PP/Dreal ne peuvent pas corriger la référence d'un dossier de raccordement si le projet est achevé (#4515)
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/raccordements/(raccordement-du-projet)/(détails)/_helpers/getDemandeComplèteDeRaccordementActions.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/projet/lauréat/raccordement/demandeComplèteDeRaccordement/modifierRéférenceDemandeComplèteDeRaccordement.feature
Due: eslint --fix, prettier -w

⬆️ Maj des dépendances next et postcss pour fixer les erreurs de sécurité (audit npm) (#4514)
  package-lock.json
  packages/applications/ssr/package.json
Due: eslint --fix, prettier -w

✨ Ajout d'un endpoint pour transmettre des date d'achèvement par lot
  packages/applications/api-documentation/src/achèvementV1.tsp
  packages/applications/api/src/handlers/achevement/index.ts
  packages/applications/api/src/handlers/achevement/transmettreDateAchevementParLot.handler.ts
Due: eslint --fix

📝 Improve doc
  packages/applications/api-documentation/src/achèvementV1.tsp
Due: none

✨ Ajout d'un endpoint pour transmettre des date d'achèvement par lot (#4493)
  packages/applications/api-documentation/src/achèvementV1.tsp
  packages/applications/api/src/handlers/achevement/index.ts
  packages/applications/api/src/handlers/achevement/transmettreDateAchevementParLot.handler.ts
Due: eslint --fix

⏪️ Réintégrer l'erreur spécifique "La puissance de site doit être modifiée"
  packages/domain/projet/src/lauréat/puissance/puissance.aggregate.ts
  packages/domain/projet/src/lauréat/puissance/puissance.error.ts
  packages/specifications/src/projet/lauréat/puissance/changement/demanderChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/enregistrerChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/modifierPuissance.feature
Due: eslint --fix, prettier -w

La note totale est optionnelle
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/ModifierLauréat.form.tsx
  packages/applications/ssr/src/utils/candidature/instruction.schema.ts
  packages/domain/projet/src/candidature/candidature.entity.ts
  packages/domain/projet/src/candidature/importer/candidatureImportée.event.ts
  packages/domain/projet/src/candidature/instruction.valueType.ts
Due: eslint --fix

✨ Ajout d'une tâche PP Document (PTF, CR ou CRD) à transmettre après la transmission de la DCR
  packages/applications/ssr/src/app/taches/TâcheListItem.tsx
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/domain/projet/src/lauréat/tâche/typeTâche.valueType.ts
  packages/specifications/src/projet/lauréat/raccordement/demandeComplèteDeRaccordement/transmettreDemandeComplèteDeRaccordement.feature
  packages/specifications/src/tâche/tâche.world.ts
Due: eslint --fix, prettier -w

🎨 Transmettre un document annule la tâche PP
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/transmettreUnDocumentRaccordement.feature
Due: eslint --fix, prettier -w

🎨 Annuler un état PPA pour un projet abandon / en cours d'abandon doit supprimer les tâches raccordement (dont celle du document à transmettre)
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/domain/projet/src/lauréat/tâche/typeTâche.valueType.ts
  packages/specifications/src/projet/lauréat/power-purchase-agreement/annulerSignalementPowerPurchaseAgreement.feature
  packages/specifications/src/projet/lauréat/raccordement/stepDefinitions/raccordement.then.ts
Due: eslint --fix, prettier -w

🎨 Gestion de la tâche en cas de suppression d'un dossier de raccordement, basé sur l'état des dossiers restant
  packages/domain/projet/src/lauréat/abandon/abandon.aggregate.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/powerPurchaseAgreement.aggregate.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/specifications/src/projet/lauréat/abandon/demanderAbandon.feature
  packages/specifications/src/projet/lauréat/raccordement/dossierRaccordement/supprimerDossierDuRaccordement.feature
Due: eslint --fix, prettier -w

🎨 Supprimer un document de raccordement d'un dossier doit remettre la tâche
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/supprimerUnDocumentRaccordement.feature
Due: eslint --fix, prettier -w

🎨 Exiger la PTF ou la CRD (pas la CR seule) pour finaliser la tâche de transmission de document de raccordement
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/specifications/src/projet/lauréat/raccordement/demandeComplèteDeRaccordement/transmettreDemandeComplèteDeRaccordement.feature
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/supprimerUnDocumentRaccordement.feature
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/transmettreUnDocumentRaccordement.feature
Due: eslint --fix, prettier -w

✨ Ajout de tache spécifique pour transmise CR / PTF
  packages/applications/ssr/src/app/taches/TâcheListItem.tsx
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/domain/projet/src/lauréat/tâche/typeTâche.valueType.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/supprimerUnDocumentRaccordement.feature
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/transmettreUnDocumentRaccordement.feature
  packages/specifications/src/tâche/tâche.world.ts
Due: eslint --fix, prettier -w

✅ Ajout vérification aucune tache raccordement suite à annulation projet abandonné / en cours sans DCR
  packages/specifications/src/projet/lauréat/power-purchase-agreement/annulerSignalementPowerPurchaseAgreement.feature
Due: prettier -w

🎨 Ajout d'espacement entre les notices de la page de correction des candidatures par lot
  packages/applications/ssr/src/app/candidatures/corriger-par-lot/CorrigerCandidaturesParLot.page.tsx
Due: eslint --fix
