Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

🎨 Harmoniser candidature / utilisateur / accès / recours
  packages/applications/notifications/src/index.ts
  packages/applications/notifications/src/subscribers/accès/accès.notifications.ts
  packages/applications/notifications/src/subscribers/accès/type.ts
  packages/applications/notifications/src/subscribers/candidature/candidature.notification.ts
  packages/applications/notifications/src/subscribers/candidature/candidature.notifications.ts
  packages/applications/notifications/src/subscribers/candidature/constant.ts
  packages/applications/notifications/src/subscribers/candidature/handlers/candidatureCorrigée.handler.ts
  packages/applications/notifications/src/subscribers/candidature/handlers/index.ts
  packages/applications/notifications/src/subscribers/utilisateur/constant.ts
  packages/applications/notifications/src/subscribers/utilisateur/handlers/index.ts
  packages/applications/notifications/src/subscribers/utilisateur/handlers/porteurInvité.handler.ts
  packages/applications/notifications/src/subscribers/utilisateur/handlers/utilisateurInvité.handler.ts
  packages/applications/notifications/src/subscribers/utilisateur/utilisateur.notifications.ts
  packages/applications/notifications/src/subscribers/utilisateur/utilisateurInvité.notification.ts
  packages/applications/notifications/src/subscribers/éliminé/recours/handlers/index.ts
  packages/applications/notifications/src/subscribers/éliminé/recours/handlers/recoursAccordé.handler.ts
  packages/applications/notifications/src/subscribers/éliminé/recours/handlers/recoursAnnulé.handler.ts
  packages/applications/notifications/src/subscribers/éliminé/recours/handlers/recoursDemandé.handler.ts
  packages/applications/notifications/src/subscribers/éliminé/recours/handlers/recoursPasséEnInstruction.handler.ts
  packages/applications/notifications/src/subscribers/éliminé/recours/handlers/recoursRejeté.handler.ts
  packages/applications/notifications/src/subscribers/éliminé/recours/recours.notifications.ts
  packages/applications/notifications/src/subscribers/éliminé/recours/type.ts
Due: eslint --fix

♻️ Période notification
  packages/applications/notifications/src/subscribers/période/constant.ts
  packages/applications/notifications/src/subscribers/période/handlers/index.ts
  packages/applications/notifications/src/subscribers/période/handlers/périodeNotifiée.handler.ts
  packages/applications/notifications/src/subscribers/période/période.notification.ts
Due: eslint --fix

♻️ Délai / fournisseur
  packages/applications/notifications/src/index.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/actionnaire.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/handlers/changementActionnaireDemandé.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/délai.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/handlers/demandeDélaiAnnulée.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/handlers/demandeDélaiCorrigée.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/handlers/demandeDélaiPasséeEnInstruction.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/handlers/demandeDélaiRejetée.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/handlers/délaiDemandé.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/handlers/démandeDélaiAccordée.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/handlers/index.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/type.ts
  packages/applications/notifications/src/subscribers/lauréat/fournisseur/founisseur.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/fournisseur/handlers/changementFournisseurEnregistré.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/fournisseur/handlers/fournisseurModifié.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/fournisseur/handlers/index.ts
  packages/applications/notifications/src/subscribers/lauréat/fournisseur/handlers/évaluationCarboneSimplifiéeModifiée.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/fournisseur/type.ts
Due: eslint --fix

♻️ Abandon / achèvement / actionnaire
  packages/applications/notifications/src/index.ts
  packages/applications/notifications/src/subscribers/lauréat/abandon/abandon.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/abandon/abandonAccordé.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/abandon/abandonDemandé.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/abandon/handlers/abandonAccordé.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/abandon/handlers/abandonAnnulé.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/abandon/handlers/abandonConfirmé.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/abandon/handlers/abandonDemandé.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/abandon/handlers/abandonPasséEnInstruction.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/abandon/handlers/abandonRejeté.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/abandon/handlers/confirmationAbandonDemandée.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/abandon/handlers/index.ts
  packages/applications/notifications/src/subscribers/lauréat/abandon/handlers/preuveRecandidatureDemandée.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/achèvement/achèvement.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/achèvement/handlers/attestationConformitéTransmise.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/achèvement/handlers/index.ts
  packages/applications/notifications/src/subscribers/lauréat/achèvement/type.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/actionnaire.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/handlers/actionnaireModifié.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/handlers/changementActionnaireAccordé.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/handlers/changementActionnaireAnnulé.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/handlers/changementActionnaireDemandé.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/handlers/changementActionnaireEnregistré.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/handlers/changementActionnaireRejeté.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/handlers/index.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/type.ts
Due: eslint --fix

♻️ Installation / lauréat / natrue de l'exploitation
  packages/applications/notifications/src/index.ts
  packages/applications/notifications/src/subscribers/lauréat/installation/handlers/dispositifDeStockageModifiée.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/installation/handlers/index.ts
  packages/applications/notifications/src/subscribers/lauréat/installation/handlers/installateurModifié.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/installation/handlers/typologieInstallationModifiée.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/installation/installation.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/installation/type.ts
  packages/applications/notifications/src/subscribers/lauréat/lauréat/handlers/cahierDesChargesChoisi.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/lauréat/lauréat.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/lauréat/type.ts
  packages/applications/notifications/src/subscribers/lauréat/nature-de-l-exploitation/handlers/changementNatureDeLExploitationEnregistré.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/nature-de-l-exploitation/handlers/index.ts
  packages/applications/notifications/src/subscribers/lauréat/nature-de-l-exploitation/handlers/natureDeLExploitationModifiée.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/nature-de-l-exploitation/index.ts
  packages/applications/notifications/src/subscribers/lauréat/nature-de-l-exploitation/type.ts
Due: eslint --fix

♻️ Tâche planifiée
  packages/applications/notifications/src/subscribers/lauréat/tâche-planifiée/achèvement/handlers/index.ts
  packages/applications/notifications/src/subscribers/lauréat/tâche-planifiée/achèvement/handlers/relanceÉchéanceAchèvement.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/tâche-planifiée/achèvement/tâche-planifiée.achèvement.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/tâche-planifiée/garanties-financières/handlers/garantiesFinancièresRappelEnAttente.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/tâche-planifiée/garanties-financières/handlers/garantiesFinancièresRappelÉchéance.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/tâche-planifiée/garanties-financières/handlers/index.ts
  packages/applications/notifications/src/subscribers/lauréat/tâche-planifiée/garanties-financières/tâche-planifiée.garantiesFinancières.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/tâche-planifiée/index.ts
  packages/applications/notifications/src/subscribers/lauréat/tâche-planifiée/raccordement/handlers/demandeComplèteRaccordementAttendueRelance.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/tâche-planifiée/raccordement/handlers/index.ts
  packages/applications/notifications/src/subscribers/lauréat/tâche-planifiée/raccordement/tâche-planifiée.raccordement.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/tâche-planifiée/représentant-légal/handlers/index.ts
  packages/applications/notifications/src/subscribers/lauréat/tâche-planifiée/représentant-légal/handlers/représentantLégalRappelInstructionÀDeuxMois.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/tâche-planifiée/représentant-légal/tâche-planifiée.représentantLégal.notifications.ts
Due: eslint --fix

🚧 WIP puissance / producteur / représentant légal
  packages/applications/notifications/src/index.ts
  packages/applications/notifications/src/subscribers/lauréat/producteur/handlers/changementProducteurEnregistré.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/producteur/handlers/index.ts
  packages/applications/notifications/src/subscribers/lauréat/producteur/handlers/producteurModifié.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/producteur/producteur.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/producteur/type.ts
  packages/applications/notifications/src/subscribers/lauréat/puissance/handlers/changementPuissanceAccordé.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/puissance/handlers/changementPuissanceAnnulé.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/puissance/handlers/changementPuissanceDemandé.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/puissance/handlers/changementPuissanceEnregistré.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/puissance/handlers/changementPuissanceRejeté.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/puissance/handlers/index.ts
  packages/applications/notifications/src/subscribers/lauréat/puissance/handlers/puissanceModifiée.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/puissance/puissance.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/puissance/type.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/handlers/changementReprésentantLégalAccordé.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/handlers/changementReprésentantLégalAnnulé.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/handlers/changementReprésentantLégalCorrigé.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/handlers/changementReprésentantLégalDemandé.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/handlers/changementReprésentantLégalEnregistré.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/handlers/changementReprésentantLégalRejeté.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/index.ts
Due: eslint --fix

🚧 WIP GF
  packages/applications/notifications/src/subscribers/lauréat/garanties-financières/constant.ts
  packages/applications/notifications/src/subscribers/lauréat/garanties-financières/garantiesFinancières.notifications.ts
Due: eslint --fix

✅ Pass test (due to bad files copy)
  packages/applications/notifications/src/subscribers/candidature/handlers/candidatureCorrigée.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/garanties-financières/handlers/échues/garantiesFinancièresÉchues.handler.ts
  packages/applications/notifications/src/subscribers/utilisateur/handlers/porteurInvité.handler.ts
  packages/specifications/src/candidature/corrigerCandidature.feature
Due: eslint --fix, prettier -w

✅ Fix test
  packages/applications/notifications/src/subscribers/lauréat/garanties-financières/handlers/mainlevée/demandeMainlevéeMiseÀJour.handler.ts
Due: eslint --fix

✨ Permettre de supprimer un champ avec updateOneProjection
  packages/infrastructure/pg-projection-write/src/updateOneProjection.test.ts
  packages/infrastructure/pg-projection-write/src/updateOneProjection.ts
Due: eslint --fix

♻️ Mise à jour des projecteurs Actionnaire et Utilisateur
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/changementActionnaireAccordé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/changementActionnaireAnnulé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/changementActionnaireDemandé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/changementActionnaireRejeté.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/changementActionnaireSupprimé.projector.ts
  packages/applications/projectors/src/subscribers/utilisateur/utilisateurRéactivé.projector.ts
Due: eslint --fix

Update packages/infrastructure/pg-projection-write/src/updateOneProjection.ts
  packages/infrastructure/pg-projection-write/src/updateOneProjection.ts
Due: eslint --fix

🎨 Event échues rattaché aux GFs actuelles
  packages/applications/notifications/src/subscribers/lauréat/garanties-financières/garantiesFinancières.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/garanties-financières/handlers/actuelles/garantiesFinancièresÉchues.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/garanties-financières/handlers/actuelles/index.ts
  packages/applications/notifications/src/subscribers/lauréat/garanties-financières/handlers/index.ts
  packages/applications/notifications/src/subscribers/lauréat/garanties-financières/handlers/échues/index.ts
Due: eslint --fix

🗃️ Mise à jour du dump
  .database/potentiel-dev.dump
Due: none

Update packages/infrastructure/pg-projection-write/src/updateOneProjection.test.ts
  packages/infrastructure/pg-projection-write/src/updateOneProjection.test.ts
Due: eslint --fix

🗃️ Mise à jour du dump (#3662)
  .database/potentiel-dev.dump
Due: none

♻️ Add comment
  packages/infrastructure/pg-projection-write/src/updateOneProjection.ts
Due: eslint --fix

⬆️ Build w/ mac
  package-lock.json
Due: eslint --fix, prettier -w

✨ Permettre de supprimer un champ avec updateOneProjection (#3661)
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/changementActionnaireAccordé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/changementActionnaireAnnulé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/changementActionnaireDemandé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/changementActionnaireRejeté.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/changementActionnaireSupprimé.projector.ts
  packages/applications/projectors/src/subscribers/utilisateur/utilisateurRéactivé.projector.ts
  packages/infrastructure/pg-projection-write/src/updateOneProjection.test.ts
  packages/infrastructure/pg-projection-write/src/updateOneProjection.ts
Due: eslint --fix

🔧 Mise à jour des configurations typescript et eslint pour node 24 (#3386)
  eslint.config.mjs
  package-lock.json
  package.json
  packages/applications/cli/src/helpers/healthcheck.ts
  packages/applications/cli/src/helpers/réseau/addGRDs.ts
  packages/applications/cli/src/helpers/réseau/updateGRDs.ts
  packages/applications/document-builder/src/modèleRéponseSignée/générerModèleRéponseSignée.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/dépôt/dépôtGarantiesFinancièresEnCoursValidé.projector.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/modifierLauréat.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/DétailsGarantiesFinancières.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/_helpers/steps/SaisieNom.step.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/_helpers/steps/SaisiePièceJustificative.step.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/_helpers/steps/SaisieType.step.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/_helpers/steps/SaisieTypeSociété.step.tsx
  packages/applications/ssr/src/app/reseaux/raccordements/importer/importDatesMiseEnService.action.ts
  packages/applications/ssr/src/components/atoms/form/document/UploadDocument.tsx
  packages/applications/ssr/src/components/molecules/step/Steps.tsx
  packages/applications/ssr/src/types/next-auth.d.ts
  packages/applications/ssr/src/utils/candidature/csv/_test-shared.ts
  packages/applications/ssr/src/utils/feature-flag/FeatureFlaggedComponent.template.tsx
  packages/config/tsconfig/package.json
  packages/config/tsconfig/tsconfig.base.json
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/appel-offre/src/référenceCahierDesCharges.valueType.ts
  packages/domain/core/src/plainType.ts
  packages/domain/document/src/consulter/consulterDocumentProjet.query.ts
  packages/infrastructure/filigrane-facile-client/src/ajouterFiligrane.ts
  packages/libraries/file-storage/src/download.ts
  packages/libraries/file-storage/src/fileExists.ts
  packages/libraries/file-storage/src/test-utils.integration.ts
  packages/libraries/http-client/src/get.ts
  packages/libraries/http-client/src/post.ts
  packages/libraries/monitoring/src/logger.ts
  packages/specifications/src/helpers/createS3ClientWithMD5.ts
Due: eslint --fix, prettier -w

🚧 PoC select typing
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/changementActionnaireAccordé.projector.ts
  packages/domain/entity/src/find.ts
  packages/domain/entity/src/pickByPaths.ts
  packages/domain/entity/src/selectOptions.ts
  packages/domain/projet/src/accès/vérifier/vérifierAccèsProjet.query.ts
  packages/domain/projet/src/lauréat/actionnaire/consulter/consulterActionnaire.query.ts
  packages/infrastructure/pg-projection-read/src/findProjection.test.ts
  packages/infrastructure/pg-projection-read/src/findProjection.ts
Due: eslint --fix

🚸 Ajout d'une vérification optionnelle des colonnes de fichier csv pour prévenir des erreurs dans les colonnes existantes
  packages/applications/cli/src/helpers/parse-file.ts
  packages/applications/ssr/src/app/candidatures/corriger-par-lot/CorrigerCandidaturesParLot.action.ts
  packages/applications/ssr/src/app/candidatures/importer/(csv)/importerCandidaturesParCSV.action.ts
  packages/applications/ssr/src/app/candidatures/importer/(demarche-simplifiée)/importerCandidaturesParDS.action.ts
  packages/applications/ssr/src/app/reseaux/raccordements/importer/importDatesMiseEnService.action.ts
  packages/applications/ssr/src/app/reseaux/raccordements/references:corriger/corrigerRéférencesDossier.action.ts
  packages/applications/ssr/src/components/atoms/form/Form.tsx
  packages/applications/ssr/src/components/atoms/form/form-feedback/FormFeedback.tsx
  packages/applications/ssr/src/components/atoms/form/form-feedback/FormFeedbackCsvColumnErrors.tsx
  packages/applications/ssr/src/components/atoms/form/form-feedback/FormFeedbackCsvLineErrors.tsx
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.ts
  packages/applications/ssr/src/utils/formAction.ts
  packages/libraries/csv/src/index.ts
  packages/libraries/csv/src/loadCsv.ts
  packages/libraries/csv/src/parseCsv.test.ts
  packages/libraries/csv/src/parseCsv.ts
  packages/libraries/csv/src/verifyColumns.ts
Due: eslint --fix

🎨 Retour copilot
  packages/libraries/csv/src/verifyColumns.ts
Due: eslint --fix

🐛 Correction build et utilisation CLI en prod
  package-lock.json
  packages/applications/api-documentation/package.json
  packages/applications/cli/src/commands/candidature/lister-dossiers.ts
  packages/applications/legacy/package.json
Due: eslint --fix, prettier -w

🐛 Correction build et utilisation CLI en prod (#3667)
  package-lock.json
  packages/applications/api-documentation/package.json
  packages/applications/cli/src/commands/candidature/lister-dossiers.ts
  packages/applications/legacy/package.json
Due: eslint --fix, prettier -w

✨ Accepter les dates de GF futures
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.error.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.valueType.ts
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/candidature/importerCandidature.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerAttestationGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/modifierGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/modifierDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/soumettreDépôtGarantiesFinancières.feature
Due: eslint --fix, prettier -w

✨ Accepter les dates de GF futures (#3669)
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.error.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.valueType.ts
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/candidature/importerCandidature.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerAttestationGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/modifierGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/modifierDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/soumettreDépôtGarantiesFinancières.feature
Due: eslint --fix, prettier -w

🐛 Appliquer les filtrages par période et famille dans l'export csv des listes lauréats / éliminés
  packages/applications/routes/src/projet/projet.routes.ts
  packages/applications/ssr/src/app/elimines/(liste)/page.tsx
  packages/applications/ssr/src/app/laureats/(liste)/page.tsx
Due: eslint --fix

🐛 Appliquer les filtrages par période et famille dans l'export csv des listes lauréats / éliminés (#3672)
  packages/applications/routes/src/projet/projet.routes.ts
  packages/applications/ssr/src/app/elimines/(liste)/page.tsx
  packages/applications/ssr/src/app/laureats/(liste)/page.tsx
Due: eslint --fix

🐛 Reproposer le bouton pour faire une demande de recours au PP si la dernière demande a été rejetée
  packages/applications/ssr/src/app/projets/[identifiant]/(détails)/page.tsx
Due: eslint --fix

🎨 Notifier les porteurs actifs ayant accès au projet en cas de correction de candidature
  packages/applications/notifications/src/subscribers/candidature/handlers/candidatureCorrigée.handler.ts
Due: eslint --fix

🐛 Reproposer le bouton pour faire une demande de recours au PP si la dernière demande a été rejetée (#3674)
  packages/applications/ssr/src/app/projets/[identifiant]/(détails)/page.tsx
Due: eslint --fix

🚧 WIP domain
  packages/domain/projet/src/lauréat/installation/index.ts
  packages/domain/projet/src/lauréat/installation/installateur/changement/changementInstallateur.entity.ts
  packages/domain/projet/src/lauréat/installation/installateur/changement/consulter/consulterChangementInstallateur.query.ts
  packages/domain/projet/src/lauréat/installation/installateur/changement/enregistrerChangement/enregistrerChangementInstallateur.command.ts
  packages/domain/projet/src/lauréat/installation/installateur/changement/enregistrerChangement/enregistrerChangementInstallateur.event.ts
  packages/domain/projet/src/lauréat/installation/installateur/changement/enregistrerChangement/enregistrerChangementInstallateur.option.ts
  packages/domain/projet/src/lauréat/installation/installateur/changement/enregistrerChangement/enregistrerChangementInstallateur.usecase.ts
  packages/domain/projet/src/lauréat/installation/installateur/changement/lister/listerChangementInstallateur.query.ts
  packages/domain/projet/src/lauréat/installation/installateur/installateur.event.ts
  packages/domain/projet/src/lauréat/installation/installateur/installateur.register.ts
  packages/domain/projet/src/lauréat/installation/installateur/typeDocumentInstallateur.valueType.ts
  packages/domain/projet/src/lauréat/installation/installation.aggregate.ts
Due: eslint --fix

✨ Ajout changement installateur
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole2016.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI2017.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/batiment.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/eolien.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/fessenheim.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/innovation.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/pvEolien.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/sol.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni2017.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/autoconsommationMetropole.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/batiment.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/eolien.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/innovation.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/neutre.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/petitPVBâtiment.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/sol.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/zni.ppe2.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
