Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml,feature}": "prettier -w"
}

💄 Fix problème CSS (#3134)
  packages/applications/ssr/src/components/atoms/form/document/UploadDocument.tsx
  packages/applications/ssr/src/components/molecules/projet/ProjetBanner.template.tsx
Due: eslint --fix

♻️ Déplacer le rôle dans la fixture abstraite AbstractUtilisateur
  packages/specifications/src/utilisateur/fixtures/admin.fixture.ts
  packages/specifications/src/utilisateur/fixtures/dreal.fixture.ts
  packages/specifications/src/utilisateur/fixtures/grd.fixture.ts
  packages/specifications/src/utilisateur/fixtures/porteur.fixture.ts
  packages/specifications/src/utilisateur/fixtures/utilisateur.ts
  packages/specifications/src/utilisateur/fixtures/validateur.fixture.ts
  packages/specifications/src/utilisateur/utilisateur.world.ts
Due: eslint --fix

⚰️ Suppression de l'ID
  packages/specifications/src/utilisateur/fixtures/utilisateur.ts
Due: eslint --fix

🔥 Simplification dgec
  packages/specifications/src/utilisateur/fixtures/validateur.fixture.ts
Due: eslint --fix

Revert "🔥 Simplification dgec"
  packages/specifications/src/utilisateur/fixtures/validateur.fixture.ts
Due: eslint --fix

♻️ Déplacer le rôle dans la fixture abstraite AbstractUtilisateur (#3135)
  packages/specifications/src/utilisateur/fixtures/admin.fixture.ts
  packages/specifications/src/utilisateur/fixtures/dreal.fixture.ts
  packages/specifications/src/utilisateur/fixtures/grd.fixture.ts
  packages/specifications/src/utilisateur/fixtures/porteur.fixture.ts
  packages/specifications/src/utilisateur/fixtures/utilisateur.ts
  packages/specifications/src/utilisateur/fixtures/validateur.fixture.ts
  packages/specifications/src/utilisateur/utilisateur.world.ts
Due: eslint --fix

♻️ Improve waitForSagasNotificationsAndProjectionsToFinish
  packages/specifications/src/helpers/waitForSagasNotificationsAndProjectionsToFinish.ts
Due: eslint --fix

💚 Fix sur supprimerDateMiseEnService
  packages/domain/lauréat/src/raccordement/supprimer/supprimerDateMiseEnService.behavior.ts
  packages/specifications/src/raccordement/dateDeMiseEnService/stepDefinitions/dateMiseEnService.when.ts
  packages/specifications/src/raccordement/dateDeMiseEnService/supprimerDateMiseEnService.feature
Due: eslint --fix, prettier -w

🧑‍💻 Réduction des logs inutiles et amélioration de l'utilitaire `waitFor...ToFinish` (#3137)
  packages/domain/lauréat/src/raccordement/supprimer/supprimerDateMiseEnService.behavior.ts
  packages/specifications/src/helpers/waitForSagasNotificationsAndProjectionsToFinish.ts
  packages/specifications/src/raccordement/dateDeMiseEnService/stepDefinitions/dateMiseEnService.when.ts
  packages/specifications/src/raccordement/dateDeMiseEnService/supprimerDateMiseEnService.feature
Due: eslint --fix, prettier -w

✨ Modifier évaluation carbone
  packages/applications/bootstrap/src/setupProjet.ts
  packages/applications/projectors/src/subscribers/lauréat/fournisseur/index.ts
  packages/applications/projectors/src/subscribers/lauréat/fournisseur/évaluationCarboneModifiée.projector.ts
  packages/domain/projet/src/lauréat/fournisseur/fournisseur.aggregate.ts
  packages/domain/projet/src/lauréat/fournisseur/fournisseur.event.ts
  packages/domain/projet/src/lauréat/fournisseur/fournisseur.register.ts
  packages/domain/projet/src/lauréat/fournisseur/index.ts
  packages/domain/projet/src/lauréat/fournisseur/modifier/modifierÉvaluationCarbone.command.ts
  packages/domain/projet/src/lauréat/fournisseur/modifier/modifierÉvaluationCarbone.event.ts
  packages/domain/projet/src/lauréat/fournisseur/modifier/modifierÉvaluationCarbone.options.ts
  packages/domain/projet/src/lauréat/fournisseur/modifier/modifierÉvaluationCarbone.usecase.ts
  packages/domain/projet/src/lauréat/lauréat.register.ts
  packages/specifications/src/projet/lauréat/fournisseur/fixtures/modifierÉvaluationCarbone.fixture.ts
  packages/specifications/src/projet/lauréat/fournisseur/fournisseur.world.ts
  packages/specifications/src/projet/lauréat/fournisseur/modifierÉvaluationCarbone.feature
  packages/specifications/src/projet/lauréat/fournisseur/stepDefinitions/fournisseur.then.ts
  packages/specifications/src/projet/lauréat/fournisseur/stepDefinitions/fournisseur.when.ts
  packages/specifications/src/projet/lauréat/lauréat.world.ts
Due: eslint --fix, prettier -w

🎨 Accord
  packages/domain/projet/src/lauréat/fournisseur/fournisseur.aggregate.ts
  packages/domain/projet/src/lauréat/fournisseur/modifier/modifierÉvaluationCarbone.command.ts
  packages/domain/projet/src/lauréat/fournisseur/modifier/modifierÉvaluationCarbone.event.ts
  packages/domain/projet/src/lauréat/fournisseur/modifier/modifierÉvaluationCarbone.options.ts
  packages/domain/projet/src/lauréat/fournisseur/modifier/modifierÉvaluationCarbone.usecase.ts
  packages/specifications/src/projet/lauréat/fournisseur/fixtures/modifierÉvaluationCarbone.fixture.ts
  packages/specifications/src/projet/lauréat/fournisseur/stepDefinitions/fournisseur.when.ts
Due: eslint --fix

💄 Front
  packages/applications/cli/src/commands/candidature/migrer.ts
Due: eslint --fix

♻️ Renommage event
  packages/applications/bootstrap/src/setupProjet.ts
  packages/applications/projectors/src/subscribers/lauréat/fournisseur/index.ts
  packages/domain/projet/src/lauréat/fournisseur/fournisseur.aggregate.ts
  packages/domain/projet/src/lauréat/fournisseur/modifier/modifierÉvaluationCarbone.event.ts
Due: eslint --fix

✨ Edge cases
  packages/domain/projet/src/lauréat/fournisseur/fournisseur.aggregate.ts
  packages/domain/projet/src/lauréat/fournisseur/fournisseur.error.ts
  packages/specifications/src/projet/lauréat/fournisseur/fournisseur.world.ts
  packages/specifications/src/projet/lauréat/fournisseur/modifierÉvaluationCarbone.feature
  packages/specifications/src/projet/lauréat/fournisseur/stepDefinitions/fournisseur.when.ts
Due: eslint --fix, prettier -w

💄 Front
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/getLauréat.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/modifier/page.tsx
  packages/applications/ssr/src/components/pages/lauréat/modifier/ModifierLauréat.form.tsx
  packages/applications/ssr/src/components/pages/lauréat/modifier/components/fields/ProjectField.tsx
  packages/applications/ssr/src/components/pages/lauréat/modifier/modifierLauréat.action.ts
  packages/applications/ssr/src/utils/candidature/candidatureNotifiée.schema.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

Update packages/specifications/src/projet/lauréat/fournisseur/modifierÉvaluationCarbone.feature
  packages/specifications/src/projet/lauréat/fournisseur/modifierÉvaluationCarbone.feature
Due: prettier -w

🗃️ Update dump
  .database/potentiel-dev.dump
Due: none

✨ Saga legacy
  packages/applications/legacy/src/sagas/fournisseur.saga.ts
  packages/applications/legacy/src/sagas/registerSagas.ts
Due: eslint --fix

🎨 Donner accès au metabase dgec aux dreal + cre et suppression de la page CRE stats legacy
  packages/applications/legacy/src/controllers/tableauxDeBord/getCreStatistiquesPage.ts
  packages/applications/legacy/src/controllers/tableauxDeBord/index.ts
  packages/applications/legacy/src/routes.ts
  packages/applications/legacy/src/views/components/UI/molecules/dropdowns/DropdownMenu.tsx
  packages/applications/legacy/src/views/components/UI/organisms/Header.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/AdminMenuLegacy.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/CreMenuLegacy.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/DrealMenuLegacy.tsx
  packages/applications/legacy/src/views/index.ts
  packages/applications/legacy/src/views/pages/CreStatistiquesPage.tsx
  packages/applications/legacy/src/views/pages/index.ts
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
Due: eslint --fix

🎨 Afficher un bouton vers la demande de recours d'un projet éliminé
  packages/applications/ssr/src/app/projets/[identifiant]/page.tsx
  packages/applications/ssr/src/components/pages/projet/éliminé/détails/DétailsProjetÉliminé.page.tsx
Due: eslint --fix

🎨 Donner accès au metabase dgec aux dreal + cre et suppression de la page CRE stats legacy (#3138)
  packages/applications/legacy/src/controllers/tableauxDeBord/getCreStatistiquesPage.ts
  packages/applications/legacy/src/controllers/tableauxDeBord/index.ts
  packages/applications/legacy/src/routes.ts
  packages/applications/legacy/src/views/components/UI/molecules/dropdowns/DropdownMenu.tsx
  packages/applications/legacy/src/views/components/UI/organisms/Header.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/AdminMenuLegacy.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/CreMenuLegacy.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/DrealMenuLegacy.tsx
  packages/applications/legacy/src/views/index.ts
  packages/applications/legacy/src/views/pages/CreStatistiquesPage.tsx
  packages/applications/legacy/src/views/pages/index.ts
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
Due: eslint --fix

🐛 Saga: handle field eval carbone après notif
  packages/applications/legacy/src/modules/project/events/ProjectRawDataCorrected.ts
  packages/applications/legacy/src/sagas/candidature.saga.ts
Due: eslint --fix

🎨 Afficher un bouton vers la demande de recours d'un projet éliminé (#3139)
  packages/applications/ssr/src/app/projets/[identifiant]/page.tsx
  packages/applications/ssr/src/components/pages/projet/éliminé/détails/DétailsProjetÉliminé.page.tsx
Due: eslint --fix

⚰️ Suppression des pages tableau de bord pour ademe + acheteur obligé
  packages/applications/legacy/src/controllers/index.ts
  packages/applications/legacy/src/controllers/tableauxDeBord/getAcheteurObligeStatistiquesPage.ts
  packages/applications/legacy/src/controllers/tableauxDeBord/getAdemeStatistiquesPage.ts
  packages/applications/legacy/src/controllers/tableauxDeBord/index.ts
  packages/applications/legacy/src/routes.ts
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/AcheteurObligéMenuLegacy.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/AdemeMenuLegacy.tsx
  packages/applications/legacy/src/views/index.ts
  packages/applications/legacy/src/views/pages/AcheteurObligeStatistiquesPage.tsx
  packages/applications/legacy/src/views/pages/AdemeStatistiquesPage.tsx
  packages/applications/legacy/src/views/pages/index.ts
Due: eslint --fix

🎨 Update .env.template
  packages/applications/legacy/.env.template
  packages/applications/ssr/.env.template
Due: none

✨ Modifier évaluation carbone (#3130)
  .database/potentiel-dev.dump
  packages/applications/bootstrap/src/setupProjet.ts
  packages/applications/cli/src/commands/candidature/migrer.ts
  packages/applications/legacy/src/modules/project/events/ProjectRawDataCorrected.ts
  packages/applications/legacy/src/sagas/candidature.saga.ts
  packages/applications/legacy/src/sagas/fournisseur.saga.ts
  packages/applications/legacy/src/sagas/registerSagas.ts
  packages/applications/projectors/src/subscribers/lauréat/fournisseur/index.ts
  packages/applications/projectors/src/subscribers/lauréat/fournisseur/évaluationCarboneModifiée.projector.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/getLauréat.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/modifier/page.tsx
  packages/applications/ssr/src/components/pages/lauréat/modifier/ModifierLauréat.form.tsx
  packages/applications/ssr/src/components/pages/lauréat/modifier/components/fields/ProjectField.tsx
  packages/applications/ssr/src/components/pages/lauréat/modifier/modifierLauréat.action.ts
  packages/applications/ssr/src/utils/candidature/candidatureNotifiée.schema.ts
  packages/domain/projet/src/lauréat/fournisseur/fournisseur.aggregate.ts
  packages/domain/projet/src/lauréat/fournisseur/fournisseur.error.ts
  packages/domain/projet/src/lauréat/fournisseur/fournisseur.event.ts
  packages/domain/projet/src/lauréat/fournisseur/fournisseur.register.ts
  packages/domain/projet/src/lauréat/fournisseur/index.ts
  packages/domain/projet/src/lauréat/fournisseur/modifier/modifierÉvaluationCarbone.command.ts
  packages/domain/projet/src/lauréat/fournisseur/modifier/modifierÉvaluationCarbone.event.ts
  packages/domain/projet/src/lauréat/fournisseur/modifier/modifierÉvaluationCarbone.options.ts
  packages/domain/projet/src/lauréat/fournisseur/modifier/modifierÉvaluationCarbone.usecase.ts
  packages/domain/projet/src/lauréat/lauréat.register.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/projet/lauréat/fournisseur/fixtures/modifierÉvaluationCarbone.fixture.ts
  packages/specifications/src/projet/lauréat/fournisseur/fournisseur.world.ts
  packages/specifications/src/projet/lauréat/fournisseur/modifierÉvaluationCarbone.feature
  packages/specifications/src/projet/lauréat/fournisseur/stepDefinitions/fournisseur.then.ts
  packages/specifications/src/projet/lauréat/fournisseur/stepDefinitions/fournisseur.when.ts
  packages/specifications/src/projet/lauréat/lauréat.world.ts
Due: eslint --fix, prettier -w

✨ Usecase sans specs et subscribers
  packages/domain/projet/src/lauréat/fournisseur/changement/changementFournisseur.entity.ts
  packages/domain/projet/src/lauréat/fournisseur/changement/consulter/consulterChangementFournisseur.query.ts
  packages/domain/projet/src/lauréat/fournisseur/changement/enregistrerChangement/enregistrerChangement.command.ts
  packages/domain/projet/src/lauréat/fournisseur/changement/enregistrerChangement/enregistrerChangement.event.ts
  packages/domain/projet/src/lauréat/fournisseur/changement/enregistrerChangement/enregistrerChangement.option.ts
  packages/domain/projet/src/lauréat/fournisseur/changement/enregistrerChangement/enregistrerChangement.usecase.ts
  packages/domain/projet/src/lauréat/fournisseur/fournisseur.aggregate.ts
  packages/domain/projet/src/lauréat/fournisseur/fournisseur.event.ts
  packages/domain/projet/src/lauréat/fournisseur/fournisseur.register.ts
  packages/domain/projet/src/lauréat/fournisseur/index.ts
  packages/domain/projet/src/lauréat/fournisseur/typeDocumentFournisseur.valueType.ts
Due: eslint --fix

✨ Projector
  packages/applications/projectors/src/subscribers/lauréat/fournisseur/changementFournisseurEnregistré.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/fournisseur/index.ts
  packages/domain/projet/src/lauréat/fournisseur/index.ts
Due: eslint --fix

🔀 Merge
  packages/domain/projet/src/lauréat/fournisseur/fournisseur.register.ts
Due: eslint --fix

✨ Notifications
  packages/applications/bootstrap/src/setupLauréat.ts
  packages/applications/bootstrap/src/setupProjet.ts
  packages/applications/notifications/src/index.ts
  packages/applications/notifications/src/subscribers/lauréat/fournisseur/changementFournisseurEnregistré.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/fournisseur/constant.ts
  packages/applications/notifications/src/subscribers/lauréat/fournisseur/index.ts
  packages/specifications/src/projet/lauréat/fournisseur/enregistrerChangementFournisseur.feature
Due: eslint --fix, prettier -w

✨ Tests & edge cases
  packages/applications/bootstrap/src/setupProjet.ts
  packages/domain/projet/src/lauréat/fournisseur/changement/enregistrerChangement/enregistrerChangement.option.ts
  packages/domain/projet/src/lauréat/fournisseur/fournisseur.aggregate.ts
  packages/domain/projet/src/lauréat/fournisseur/fournisseur.error.ts
  packages/domain/projet/src/lauréat/fournisseur/index.ts
  packages/domain/projet/src/lauréat/fournisseur/typeFournisseur.valueType.ts
  packages/infrastructure/pg-projection-write/src/updateOneProjection.ts
  packages/specifications/src/projet/lauréat/fournisseur/enregistrerChangementFournisseur.feature
  packages/specifications/src/projet/lauréat/fournisseur/fixtures/enregistrerChangementFournisseur.fixture.ts
  packages/specifications/src/projet/lauréat/fournisseur/fournisseur.world.ts
  packages/specifications/src/projet/lauréat/fournisseur/stepDefinitions/fournisseur.when.ts
Due: eslint --fix, prettier -w

⚰️ Suppression des pages tableau de bord pour ademe + acheteur obligé (#3140)
  packages/applications/legacy/.env.template
  packages/applications/legacy/src/controllers/index.ts
  packages/applications/legacy/src/controllers/tableauxDeBord/getAcheteurObligeStatistiquesPage.ts
  packages/applications/legacy/src/controllers/tableauxDeBord/getAdemeStatistiquesPage.ts
  packages/applications/legacy/src/controllers/tableauxDeBord/index.ts
  packages/applications/legacy/src/routes.ts
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/AcheteurObligéMenuLegacy.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/AdemeMenuLegacy.tsx
  packages/applications/legacy/src/views/index.ts
  packages/applications/legacy/src/views/pages/AcheteurObligeStatistiquesPage.tsx
  packages/applications/legacy/src/views/pages/AdemeStatistiquesPage.tsx
  packages/applications/legacy/src/views/pages/index.ts
  packages/applications/ssr/.env.template
Due: eslint --fix

✨ Add all missing history from lauréat
  packages/applications/bootstrap/src/setupHistorique.ts
  packages/applications/projectors/src/subscribers/historique/historique.projector.ts
Due: eslint --fix

♻️ Add missing SubscriptionEvent in historic projector type
  packages/applications/projectors/src/subscribers/historique/historique.projector.ts
Due: eslint --fix

🚧 Add page
  packages/applications/ssr/src/app/laureats/[identifiant]/historique/page.tsx
  packages/applications/ssr/src/components/pages/lauréat/historique/HistoriqueLauréat.page.tsx
Due: eslint --fix

🎨 Titre items historique abandon
  packages/applications/ssr/src/components/molecules/historique/timeline/abandon/mapToAbandonAccordéTimelineItemProps.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/abandon/mapToAbandonAnnuléTimelineItemProps.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/abandon/mapToAbandonConfirméTimelineItemProps.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/abandon/mapToAbandonDemandéTimelineItemProps.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/abandon/mapToAbandonPasséEnInstructionTimelineItemProps.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/abandon/mapToAbandonRejetéTimelineItemProps.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/abandon/mapToConfirmationAbandonDemandéeTimelineItemProps.tsx
Due: eslint --fix

🎨 Titre items historique actionnaire
  packages/applications/ssr/src/components/molecules/historique/timeline/actionnaire/mapToChangementActionnaireAccordéTimelineItemProps.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/actionnaire/mapToChangementActionnaireAnnuléTimelineItemProps.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/actionnaire/mapToChangementActionnaireDemandéTimelineItemProps.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/actionnaire/mapToChangementActionnaireRejetéTimelineItemProps.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/actionnaire/mapToModificationActionnaireTimelineItemsProps.tsx
Due: eslint --fix

🎨 Titre items historique représentant légal
  packages/applications/ssr/src/components/molecules/historique/timeline/représentant-légal/mapToChangementReprésentantLégalAccordéTimelineItemProps.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/représentant-légal/mapToChangementReprésentantLégalAnnuléTimelineItemProps.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/représentant-légal/mapToChangementReprésentantLégalCorrigéTimelineItemProps.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/représentant-légal/mapToChangementReprésentantLégalDemandéTimelineItemProps.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/représentant-légal/mapToChangementReprésentantLégalRejetéTimelineItemProps.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/représentant-légal/mapToModificationActionnaireTimelineItemsProps.tsx
Due: eslint --fix

🎨 Titre items historique recours
  packages/applications/ssr/src/components/molecules/historique/timeline/recours/mapToRecoursAccordéTimelineItemProps.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/recours/mapToRecoursAnnuléTimelineItemProps.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/recours/mapToRecoursRejetéTimelineItemProps.tsx
Due: eslint --fix

🚧 Moving all Record/ReadModels in Historique package
  packages/applications/ssr/src/app/laureats/[identifiant]/historique/page.tsx
  packages/applications/ssr/src/components/molecules/historique/HistoriqueTimeline.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/abandon/index.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/actionnaire/index.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/recours/index.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/représentant-légal/index.tsx
  packages/applications/ssr/src/components/pages/lauréat/historique/HistoriqueLauréat.page.tsx
  packages/domain/historique/package.json
  packages/domain/historique/src/historique.ts
  packages/domain/historique/src/lister/listerHistoriqueProjet.query.ts
  packages/domain/historique/tsconfig.json
Due: eslint --fix, prettier -w
