Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

✅ MapToExpected
  packages/specifications/src/projet/lauréat/lauréat.world.ts
Due: eslint --fix

💡 Pr review
  packages/applications/legacy/src/controllers/project/getProjectPage/index.ts
Due: eslint --fix

🐛 Throw on fournisseur not found
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/getLauréat.ts
Due: eslint --fix

♻️ Imports + fix register + fix apply
  packages/applications/bootstrap/src/setupProjet/createSubscriptionSetup.ts
  packages/applications/bootstrap/src/setupProjet/setupLauréat/index.ts
  packages/applications/bootstrap/src/setupProjet/setupLauréat/setupAbandon.ts
  packages/applications/bootstrap/src/setupProjet/setupLauréat/setupReprésentantLégal.ts
  packages/applications/bootstrap/src/setupTâchePlanifiée.ts
  packages/applications/cli/src/commands/abandon/relancer-abandon-sans-preuve.ts
  packages/applications/cli/src/commands/raccordement/supprimer-dossier-avec-reference-non-transmise-vide.ts
  packages/applications/cli/src/commands/raccordement/transmettre-references.ts
  packages/applications/legacy/src/controllers/modificationRequest/_utils/modèles/délai.ts
  packages/applications/legacy/src/controllers/modificationRequest/getModeleReponse.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getReprésentantLégal.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/getLauréat.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/corriger/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/modifier/page.tsx
  packages/applications/ssr/src/app/laureats/changements/representant-legal/page.tsx
  packages/applications/ssr/src/components/pages/lauréat/modifier/modifierLauréat.action.ts
  packages/applications/ssr/src/components/pages/représentant-légal/StatutChangementReprésentantLégalBadge.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/corriger/CorrigerChangementReprésentantLégal.form.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/corriger/corrigerChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/components/pages/représentant-légal/changement/demander/demanderChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/components/pages/représentant-légal/changement/détails/DétailsChangementReprésentantLégal.page.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/détails/accorder/accorderChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/components/pages/représentant-légal/changement/détails/annuler/annulerChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/components/pages/représentant-légal/changement/détails/rejeter/rejeterChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/components/pages/représentant-légal/lister/ChangementReprésentantLégalList.page.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/lister/ChangementReprésentantLégalListItem.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/modifier/ModifierReprésentantLégal.page.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/modifier/modifierReprésentantLégal.action.ts
  packages/applications/ssr/src/utils/modèle-document/mapToModèleRéponsePayload.ts
  packages/domain/projet/src/lauréat/représentantLégal/consulter/consulterReprésentantLégal.query.ts
  packages/domain/projet/src/lauréat/représentantLégal/index.ts
  packages/domain/projet/src/lauréat/représentantLégal/représentantLégal.aggregate.ts
  packages/domain/projet/src/lauréat/représentantLégal/représentantLégal.register.ts
  packages/domain/projet/src/lauréat/représentantLégal/saga/index.ts
  packages/domain/projet/src/lauréat/représentantLégal/saga/tâchePlanifiéeGestionAutomatiqueDemandeChangementExecutée.saga.ts
  packages/specifications/src/helpers/waitForSagasNotificationsAndProjectionsToFinish.ts
Due: eslint --fix

♻️ Fix implem accord changement
  packages/domain/projet/src/lauréat/représentantLégal/changement/accorder/accorderChangementReprésentantLégal.command.ts
  packages/domain/projet/src/lauréat/représentantLégal/changement/annuler/annulerChangementReprésentantLégal.command.ts
  packages/domain/projet/src/lauréat/représentantLégal/changement/corriger/corrigerChangementReprésentantLégal.command.ts
  packages/domain/projet/src/lauréat/représentantLégal/changement/demander/demanderChangementReprésentantLégal.command.ts
  packages/domain/projet/src/lauréat/représentantLégal/changement/rejeter/rejeterChangementReprésentantLégal.command.ts
  packages/domain/projet/src/lauréat/représentantLégal/représentantLégal.aggregate.ts
Due: eslint --fix

♻️ Repasser sur behaviors
  packages/domain/projet/src/lauréat/représentantLégal/changement/changementReprésentantLégal.error.ts
  packages/domain/projet/src/lauréat/représentantLégal/représentantLégal.aggregate.ts
Due: eslint --fix

✅ Add back test
  packages/domain/projet/src/lauréat/représentantLégal/représentantLégal.aggregate.ts
  packages/specifications/src/projet/lauréat/représentant-légal/modifierReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/stepDefinitions/représentantLégal.when.ts
Due: eslint --fix, prettier -w

♻️ Vérifications
  packages/domain/projet/src/lauréat/représentantLégal/représentantLégal.aggregate.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/accorderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/annulerChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/corrigerChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/demanderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/rejeterChangementReprésentantLégal.feature
Due: eslint --fix, prettier -w

✅ Ajout step cdc
  packages/specifications/src/projet/lauréat/représentant-légal/modifierReprésentantLégal.feature
Due: prettier -w

🎨 Fix: fournisseurs for project page
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getFournisseur.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/MaterielsEtTechnologies.tsx
Due: eslint --fix

♻️ Fix: refacto raccordement
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/checkLauréatNonAbandonné.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getAlertesRaccordement.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getRaccordement.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/index.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales/InfoRaccordement.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales/index.tsx
Due: eslint --fix

🎨 Enlever consulter candidature
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getFournisseur.ts
Due: eslint --fix

➕ Ajout dep tache planifiee
  package-lock.json
  packages/domain/projet/package.json
  packages/domain/projet/tsconfig.json
Due: eslint --fix, prettier -w

♻️ WIP clean legacy code fournisseur
  packages/applications/legacy/src/controllers/modificationRequest/fournisseur/getChangerFournisseurPage.ts
  packages/applications/legacy/src/controllers/modificationRequest/fournisseur/index.ts
  packages/applications/legacy/src/controllers/modificationRequest/fournisseur/postChangerFournisseur.ts
  packages/applications/legacy/src/infra/sequelize/projectionsNext/modificationRequest/updates/onModificationReceived.ts
  packages/applications/legacy/src/infra/sequelize/projectionsNext/project/updates/onProjectFournisseursUpdated.ts
  packages/applications/legacy/src/modules/notification/eventHandlers/modificationRequests/handleModificationReceived.ts
  packages/applications/legacy/src/modules/project/types/fournisseur.ts
  packages/applications/legacy/src/routes.ts
  packages/applications/legacy/src/sagas/fournisseur.saga.ts
  packages/applications/legacy/src/views/index.ts
  packages/applications/legacy/src/views/pages/changerFournisseurPage/ChangerFournisseur.tsx
  packages/applications/legacy/src/views/pages/changerFournisseurPage/index.ts
  packages/applications/legacy/src/views/pages/modificationRequestPage/components/DemandeDetails.tsx
Due: eslint --fix

🎨 Useless usecases
  packages/applications/legacy/src/config/useCases.config.ts
  packages/applications/legacy/src/modules/modificationRequest/useCases/index.ts
  packages/applications/legacy/src/modules/modificationRequest/useCases/requestFournisseursModification.ts
Due: eslint --fix

🎨 Fix: types needed
  packages/applications/legacy/src/controllers/modificationRequest/index.ts
  packages/applications/legacy/src/modules/project/types/fournisseur.ts
  packages/applications/legacy/src/sagas/fournisseur.saga.ts
  packages/applications/legacy/src/views/pages/index.ts
Due: eslint --fix

🎨 Voilaa
  packages/applications/legacy/src/modules/project/types/fournisseur.ts
Due: eslint --fix

🐛 Petit fix
  packages/domain/lauréat/src/garantiesFinancières/effacerHistorique/effacerHistoriqueGarantiesFinancières.behavior.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.then.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/effacerHistorique/effacerHistoriqueGarantiesFinancières.feature
Due: eslint --fix, prettier -w

✨ Statistiques publiques Fournisseur
  packages/statistiques/statistiques-publiques/src/03-demandes-de-modification/nombreDeDemandeParCategorie.statistic.ts
  packages/statistiques/statistiques-publiques/src/03-demandes-de-modification/nombreTotalDemande.statistic.ts
Due: eslint --fix

🐛 Oubli
  packages/statistiques/statistiques-publiques/src/03-demandes-de-modification/nombreDeDemandeParCategorie.statistic.ts
Due: eslint --fix

✨ Statistiques publiques Fournisseur (#3208)
  packages/statistiques/statistiques-publiques/src/03-demandes-de-modification/nombreDeDemandeParCategorie.statistic.ts
  packages/statistiques/statistiques-publiques/src/03-demandes-de-modification/nombreTotalDemande.statistic.ts
Due: eslint --fix

📝 Correction du chemin de l'API dans la doc + formattage
  packages/applications/api-documentation/src/main.tsp
Due: none

👷 Réduction du timeout pour wait-for-expect
  packages/specifications/src/setup.ts
Due: eslint --fix

📝 Correction du chemin de l'API dans la doc + formattage (#3210)
  packages/applications/api-documentation/src/main.tsp
Due: none

🎨 Autorisation CRE et manu
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/CreMenuLegacy.tsx
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🎨 Fix : autorisation CRE
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/CreMenuLegacy.tsx
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🔥 Remove unused
  packages/domain/projet/src/lauréat/représentantLégal/représentantLégal.errors.ts
Due: eslint --fix

🎨 React import
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/CreMenuLegacy.tsx
Due: eslint --fix

✨ Ajout de nouveaux champs pour les AO PV
  .demo/exempleCandidatsPPE2.csv
  packages/applications/projectors/src/subscribers/candidature/candidatureImportée.projector.ts
  packages/applications/ssr/src/utils/candidature/candidatureCsv.schema.test.ts
  packages/applications/ssr/src/utils/candidature/candidatureCsv.schema.ts
  packages/applications/ssr/src/utils/candidature/candidatureFields.schema.ts
  packages/applications/ssr/src/utils/candidature/schemaBase.ts
  packages/domain/projet/src/candidature/candidature.aggregate.ts
  packages/domain/projet/src/candidature/candidature.entity.ts
  packages/domain/projet/src/candidature/candidature.mapper.ts
  packages/domain/projet/src/candidature/consulter/consulterCandidature.query.ts
  packages/domain/projet/src/candidature/importer/candidatureImportée.event.ts
  packages/domain/projet/src/candidature/importer/importerCandidature.command.ts
  packages/domain/projet/src/candidature/importer/importerCandidature.options.ts
  packages/domain/projet/src/candidature/importer/importerCandidature.usecase.ts
  packages/domain/projet/src/candidature/index.ts
  packages/domain/projet/src/candidature/typeActionnariat.valueType.ts
  packages/domain/projet/src/candidature/typeInstallationAgrivoltaique.valueType.ts
  packages/domain/projet/src/candidature/typologieBâtiment.valueType.ts
  packages/specifications/src/candidature/candidature.world.ts
  packages/specifications/src/candidature/importerCandidature.feature
Due: eslint --fix, prettier -w

🐛 Utilisation de la date de transmission au co-contractant pour l'historique achèvement
  packages/applications/ssr/src/utils/historique/mapToProps/achèvement/events/mapToAttestationConformitéTransmiseTimelineItemProps.tsx
Due: eslint --fix

🐛 Utilisation de la date de transmission au co-contractant pour les étapes du projet
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getAttestationDeConformité.ts
Due: eslint --fix

🐛 Utilisation de la date de transmission au co-contractant pour l'historique achèvement (#3214)
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getAttestationDeConformité.ts
  packages/applications/ssr/src/utils/historique/mapToProps/achèvement/events/mapToAttestationConformitéTransmiseTimelineItemProps.tsx
Due: eslint --fix

✅ Ajout d'un test pour couvrir le comportement actuel
  packages/applications/request-context/package.json
  packages/applications/request-context/src/authOptions.ts
  packages/applications/request-context/src/sendVerificationRequest.test.ts
  packages/applications/request-context/src/sendVerificationRequest.ts
Due: eslint --fix, prettier -w

✨ Envoyer un email aux admins dgec pour qu'il se connecte avec ProConnect plutôt que leur email
  packages/applications/request-context/src/authOptions.ts
  packages/applications/request-context/src/getUtilisateur.ts
  packages/applications/request-context/src/sendVerificationRequest.test.ts
  packages/applications/request-context/src/sendVerificationRequest.ts
Due: eslint --fix

♻️ Suppression de la duplication de code dans les tests
  packages/applications/request-context/src/sendVerificationRequest.test.ts
Due: eslint --fix

✨ Ne pas envoyer d'email avec lien de connexion pour les dreal
  packages/applications/request-context/src/sendVerificationRequest.test.ts
  packages/applications/request-context/src/sendVerificationRequest.ts
Due: eslint --fix

♻️ Supprimer la duplication des tests pour admin et dreal
  packages/applications/request-context/src/sendVerificationRequest.test.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
