Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

✅ Fix tests
  packages/applications/legacy/src/infra/keycloak/attachUserToRequestMiddleware.spec.ts
  packages/applications/legacy/src/infra/keycloak/attachUserToRequestMiddleware.ts
Due: eslint --fix

✅ refacto specs projet lauréat (#2429)
  packages/specifications/src/candidature/stepDefinitions/candidature.given.ts
  packages/specifications/src/notification/notification.world.ts
  packages/specifications/src/notification/stepDefinitions/notification.then.ts
  packages/specifications/src/projet/lauréat/abandon/fixtures/demanderAbandon.fixture.ts
  packages/specifications/src/projet/lauréat/abandon/stepDefinitions/abandon.given.ts
  packages/specifications/src/projet/lauréat/abandon/stepDefinitions/abandon.then.ts
  packages/specifications/src/projet/lauréat/abandon/stepDefinitions/abandon.when.ts
  packages/specifications/src/projet/lauréat/achèvement/attestationConformité/transmettreAttestationConformité.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/importerTypeGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/modifierGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/échoirGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/supprimerDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/validerDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/lauréat.world.ts
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.given.ts
  packages/specifications/src/raccordement/transmettreDemandeComplèteDeRaccordement.feature
  packages/specifications/src/tâche-planifiée/exécuterTâchePlanifiée.feature
  packages/specifications/src/tâche/acheverTâche.feature
  packages/specifications/src/tâche/ajouterTâche.feature
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.given.ts
Due: eslint --fix, prettier -w

✅ Refacto: projet eliminé est une candidature
  packages/specifications/src/projet/éliminé/stepDefinitions/éliminé.given.ts
  packages/specifications/src/projet/éliminé/éliminé.world.ts
Due: eslint --fix

🎨 Fix: date
  packages/specifications/src/projet/éliminé/stepDefinitions/éliminé.given.ts
Due: eslint --fix

🐛 Handle legacy session compat
  packages/applications/ssr/src/app/api/auth/federated-logout/route.ts
Due: eslint --fix

🔥 Remove session secret
  packages/applications/legacy/src/index.ts
  packages/applications/legacy/src/server.ts
Due: eslint --fix

✅ Refacto: projet eliminé est une candidature (#2433)
  packages/specifications/src/projet/éliminé/stepDefinitions/éliminé.given.ts
  packages/specifications/src/projet/éliminé/éliminé.world.ts
Due: eslint --fix

🐛 Bug fonts
  packages/applications/legacy/src/public/fonts/Marianne-Bold.woff
  packages/applications/legacy/src/public/fonts/Marianne-Bold.woff2
  packages/applications/legacy/src/public/fonts/Marianne-Bold_Italic.woff
  packages/applications/legacy/src/public/fonts/Marianne-Bold_Italic.woff2
  packages/applications/legacy/src/public/fonts/Marianne-Light.woff
  packages/applications/legacy/src/public/fonts/Marianne-Light.woff2
  packages/applications/legacy/src/public/fonts/Marianne-Light_Italic.woff
  packages/applications/legacy/src/public/fonts/Marianne-Light_Italic.woff2
  packages/applications/legacy/src/public/fonts/Marianne-Medium.woff
  packages/applications/legacy/src/public/fonts/Marianne-Medium.woff2
  packages/applications/legacy/src/public/fonts/Marianne-Medium_Italic.woff
  packages/applications/legacy/src/public/fonts/Marianne-Medium_Italic.woff2
  packages/applications/legacy/src/public/fonts/Marianne-Regular.woff
  packages/applications/legacy/src/public/fonts/Marianne-Regular.woff2
  packages/applications/legacy/src/public/fonts/Marianne-Regular_Italic.woff
  packages/applications/legacy/src/public/fonts/Marianne-Regular_Italic.woff2
Due: none

🐛 Bug fonts (#2435)
  packages/applications/legacy/src/public/fonts/Marianne-Bold.woff
  packages/applications/legacy/src/public/fonts/Marianne-Bold.woff2
  packages/applications/legacy/src/public/fonts/Marianne-Bold_Italic.woff
  packages/applications/legacy/src/public/fonts/Marianne-Bold_Italic.woff2
  packages/applications/legacy/src/public/fonts/Marianne-Light.woff
  packages/applications/legacy/src/public/fonts/Marianne-Light.woff2
  packages/applications/legacy/src/public/fonts/Marianne-Light_Italic.woff
  packages/applications/legacy/src/public/fonts/Marianne-Light_Italic.woff2
  packages/applications/legacy/src/public/fonts/Marianne-Medium.woff
  packages/applications/legacy/src/public/fonts/Marianne-Medium.woff2
  packages/applications/legacy/src/public/fonts/Marianne-Medium_Italic.woff
  packages/applications/legacy/src/public/fonts/Marianne-Medium_Italic.woff2
  packages/applications/legacy/src/public/fonts/Marianne-Regular.woff
  packages/applications/legacy/src/public/fonts/Marianne-Regular.woff2
  packages/applications/legacy/src/public/fonts/Marianne-Regular_Italic.woff
  packages/applications/legacy/src/public/fonts/Marianne-Regular_Italic.woff2
Due: none

🐛 Handle different cookie format
  packages/applications/ssr/src/app/auth/signIn/page.tsx
Due: eslint --fix

🐛 Fix api redirection on 401 + wrong 401/403 status code
  packages/applications/ssr/src/utils/PageWithErrorHandling.tsx
  packages/applications/ssr/src/utils/apiAction.ts
  packages/applications/ssr/src/utils/withErrorHandling.ts
Due: eslint --fix

🐛 Fix key sur mainlevée list item
  packages/applications/ssr/src/components/pages/garanties-financières/mainlevée/lister/ListeDemandeMainlevée.page.tsx
Due: eslint --fix

🐛 Fix key sur mainlevée list item (#2436)
  packages/applications/ssr/src/components/pages/garanties-financières/mainlevée/lister/ListeDemandeMainlevée.page.tsx
Due: eslint --fix

🎨 Add: migration
  packages/applications/bootstrap/src/setupLauréat.ts
  packages/applications/legacy/src/config/eventHandlers/project.eventHandlers.ts
  packages/applications/legacy/src/modules/project/eventHandlers/handleProjectRawDataImported.ts
  packages/domain/candidature/src/candidature.aggregate.ts
  packages/domain/candidature/src/corriger/corrigerCandidature.behavior.ts
  packages/domain/candidature/src/importer/importerCandidature.behavior.ts
  packages/domain/candidature/src/lister/listerCandidatures.query.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancières.saga.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/importer/importerTypeGarantiesFinancières.behavior.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/importer/importerTypeGarantiesFinancières.command.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/importer/importerTypeGarantiesFinancières.usecase.ts
  packages/domain/lauréat/src/garantiesFinancières/index.ts
  packages/domain/lauréat/src/garantiesFinancières/typeGarantiesFinancières.saga.ts
  packages/domain/tâche/src/saga/tâcheGarantiesFinancières.saga.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/importerTypeGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.then.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.when.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/demanderMainlevéeGarantiesFinancières.feature
  packages/specifications/src/période/stepDefinitions/période.then.ts
Due: eslint --fix, prettier -w

review ben
  packages/domain/candidature/src/candidature.aggregate.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/importerTypeGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/demanderMainlevéeGarantiesFinancières.feature
Due: eslint --fix, prettier -w

🎨 Simplification
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.when.ts
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.given.ts
Due: eslint --fix, prettier -w

🎨 Fix: type garanties financières
  packages/domain/candidature/src/corriger/corrigerCandidature.behavior.ts
  packages/domain/candidature/src/importer/importerCandidature.behavior.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/importer/importerTypeGarantiesFinancières.command.ts
Due: eslint --fix

🚧 WIP - projet sans gf
  packages/domain/candidature/src/importer/importerCandidature.behavior.ts
  packages/specifications/src/candidature/fixtures/importerCandidature.fixture.ts
  packages/specifications/src/candidature/stepDefinitions/candidature.given.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerAttestationGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/importerTypeGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/soumettreDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/supprimerDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/validerDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.given.ts
  packages/specifications/src/tâche/acheverTâche.feature
  packages/specifications/src/tâche/ajouterTâche.feature
Due: eslint --fix, prettier -w

🧪 Fixing tests
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerAttestationGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/importerTypeGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/modifierGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.given.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/effacerHistorique/effacerHistoriqueGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/demanderMainlevéeGarantiesFinancières.feature
  packages/specifications/src/tâche/ajouterTâche.feature
Due: eslint --fix, prettier -w

♻️ Stocker data utilisateur dans le cookie, à la place de l'accessToken
  keycloak/import/realm-dev.json
  packages/applications/legacy/src/infra/keycloak/attachUserToRequestMiddleware.ts
  packages/applications/legacy/src/types/express-custom.d.ts
  packages/applications/ssr/src/app/api/auth/federated-logout/route.ts
  packages/applications/ssr/src/app/auth/signIn/page.tsx
  packages/applications/ssr/src/app/go-to-user-dashboard/route.ts
  packages/applications/ssr/src/auth.ts
  packages/applications/ssr/src/auth/authOptions.ts
  packages/applications/ssr/src/auth/convertToken.ts
  packages/applications/ssr/src/auth/index.ts
  packages/applications/ssr/src/types/next-auth.d.ts
  packages/applications/ssr/src/utils/getAuthenticatedUser.handler.ts
  packages/domain/utilisateur/src/groupe.valueType.ts
  packages/domain/utilisateur/src/utilisateur.valueType.ts
Due: eslint --fix, prettier -w

🏷️ Fix type
  packages/applications/ssr/src/types/next-auth.d.ts
Due: eslint --fix

🐛 Fixes
  packages/applications/legacy/src/controllers/helpers/vérifierPermissionUtilisateur.ts
  packages/applications/legacy/src/infra/keycloak/attachUserToRequestMiddleware.spec.ts
  packages/applications/ssr/src/app/api/auth/federated-logout/route.ts
Due: eslint --fix

🐛 Fixed
  packages/applications/legacy/src/views/components/UI/atoms/Badge.tsx
  packages/applications/legacy/src/views/components/UI/templates/PageProjetTemplate.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectHeaderBadge.tsx
  packages/applications/legacy/tailwind.config.js
  packages/applications/ssr/src/components/molecules/projet/StatutProjetBadge.tsx
Due: eslint --fix

🎨 Remove -
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectHeaderBadge.tsx
Due: eslint --fix

🎨 Fix css and affichage
  packages/applications/legacy/src/views/components/UI/atoms/Badge.tsx
  packages/applications/legacy/src/views/components/UI/templates/PageProjetTemplate.tsx
  packages/applications/ssr/src/components/molecules/candidature/NotificationBadge.tsx
  packages/applications/ssr/src/components/molecules/projet/StatutProjetBadge.tsx
Due: eslint --fix

🐛 Fix : uniformisation bouton "à notifier" (#2409)
  packages/applications/legacy/src/views/components/UI/atoms/Badge.tsx
  packages/applications/legacy/src/views/components/UI/templates/PageProjetTemplate.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectHeaderBadge.tsx
  packages/applications/legacy/tailwind.config.js
  packages/applications/ssr/src/components/molecules/candidature/NotificationBadge.tsx
  packages/applications/ssr/src/components/molecules/projet/StatutProjetBadge.tsx
Due: eslint --fix

🎨 Fix: test recours
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.then.ts
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.when.ts
Due: eslint --fix, prettier -w

🎨 Env config cleanup + validation
  packages/applications/ssr/src/app/api/auth/federated-logout/route.ts
  packages/applications/ssr/src/auth/authOptions.ts
Due: eslint --fix

✅ Fix: flakyness
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerAttestationGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/demanderMainlevéeGarantiesFinancières.feature
Due: prettier -w

🐛 Revert zod config
  packages/applications/ssr/src/auth/authOptions.ts
Due: eslint --fix

🐛 Corriger redirection legacy
  packages/applications/legacy/src/controllers/helpers/vérifierPermissionUtilisateur.ts
Due: eslint --fix

🐛 Corriger redirection legacy (#2438)
  packages/applications/legacy/src/controllers/helpers/vérifierPermissionUtilisateur.ts
Due: eslint --fix

🔥 Suppression formulaire ajout admin (+dgec) + dreals
  packages/applications/legacy/src/controllers/admin/drealUsers/getDrealPage.ts
  packages/applications/legacy/src/controllers/admin/drealUsers/index.ts
  packages/applications/legacy/src/controllers/admin/drealUsers/postInviteDrealUser.ts
  packages/applications/legacy/src/controllers/admin/index.ts
  packages/applications/legacy/src/controllers/admin/inviterAdministrateur/getInviterAdministrateur.ts
  packages/applications/legacy/src/controllers/admin/inviterAdministrateur/index.ts
  packages/applications/legacy/src/controllers/admin/inviterAdministrateur/postInviterAdministrateur.ts
  packages/applications/legacy/src/controllers/admin/inviterDgecValidateur/getInviterDgecValidateurPage.ts
  packages/applications/legacy/src/controllers/admin/inviterDgecValidateur/index.ts
  packages/applications/legacy/src/controllers/admin/inviterDgecValidateur/postInviterDgecValidateur.ts
  packages/applications/legacy/src/modules/authN/Permission.ts
  packages/applications/legacy/src/modules/utilisateur/inviter/inviterUtilisateur.spec.ts
  packages/applications/legacy/src/modules/utilisateur/inviter/inviterUtilisateur.ts
  packages/applications/legacy/src/routes.ts
  packages/applications/legacy/src/views/components/UI/organisms/UserNavigation.tsx
  packages/applications/legacy/src/views/index.ts
  packages/applications/legacy/src/views/pages/drealListPage/DrealList.tsx
  packages/applications/legacy/src/views/pages/drealListPage/index.ts
  packages/applications/legacy/src/views/pages/index.ts
  packages/applications/legacy/src/views/pages/inviterAdministrateurPage/InviterAdministrateur.tsx
  packages/applications/legacy/src/views/pages/inviterAdministrateurPage/index.ts
  packages/applications/legacy/src/views/pages/inviterDgecValidateurPage/InviterDgecValidateur.tsx
  packages/applications/legacy/src/views/pages/inviterDgecValidateurPage/index.ts
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
Due: eslint --fix

🔥 Suppression des routes obsolètes
  packages/applications/legacy/src/controllers/modificationRequest/postRequestModification.ts
  packages/applications/legacy/src/modules/utilisateur/inviter/inviterUtilisateur.spec.ts
  packages/applications/legacy/src/routes.ts
  packages/applications/legacy/src/views/pages/newModificationRequestPage/NewModificationRequest.tsx
Due: eslint --fix

Update packages/applications/legacy/src/routes.ts
  packages/applications/legacy/src/routes.ts
Due: eslint --fix

🚧 Notimplemented flaky test
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
Due: prettier -w

✅ Fix: couple of fix for test
  packages/applications/legacy/src/modules/project/errors/DateEchéanceIncompatibleAvecLeTypeDeGFError.ts
  packages/applications/legacy/src/modules/project/errors/index.ts
  packages/domain/candidature/src/corriger/corrigerCandidature.behavior.ts
  packages/domain/candidature/src/garantiesFinancières.error.ts
  packages/domain/candidature/src/importer/importerCandidature.behavior.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/importer/importerTypeGarantiesFinancières.behavior.ts
  packages/domain/lauréat/src/garantiesFinancières/index.ts
  packages/domain/tâche/src/saga/tâcheGarantiesFinancières.saga.ts
  packages/specifications/src/candidature/candidature.world.ts
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/candidature/fixtures/importerCandidature.fixture.ts
  packages/specifications/src/candidature/importerCandidature.feature
  packages/specifications/src/candidature/stepDefinitions/candidature.when.ts
  packages/specifications/src/projet/lauréat/abandon/accorderAbandon.feature
  packages/specifications/src/projet/lauréat/achèvement/attestationConformité/transmettreAttestationConformité.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerAttestationGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/importerTypeGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/modifierGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.then.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.when.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/échoirGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/modifierDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/soumettreDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/stepDefinitions/dépôtGarantiesFinancières.then.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/stepDefinitions/dépôtGarantiesFinancières.when.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/supprimerDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/validerDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/effacerHistorique/effacerHistoriqueGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/en-attente/stepDefinitions/garantiesFinancièresEnAttente.then.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/helper.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/demanderMainlevéeGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.given.ts
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
  packages/specifications/src/projet/éliminé/stepDefinitions/éliminé.given.ts
  packages/specifications/src/tâche/acheverTâche.feature
Due: eslint --fix, prettier -w

🔥 Suppression des formulaires legacy d'ajout des admins + dreal (#2439)
  packages/applications/legacy/src/controllers/admin/drealUsers/getDrealPage.ts
  packages/applications/legacy/src/controllers/admin/drealUsers/index.ts
  packages/applications/legacy/src/controllers/admin/drealUsers/postInviteDrealUser.ts
  packages/applications/legacy/src/controllers/admin/index.ts
  packages/applications/legacy/src/controllers/admin/inviterAdministrateur/getInviterAdministrateur.ts
  packages/applications/legacy/src/controllers/admin/inviterAdministrateur/index.ts
  packages/applications/legacy/src/controllers/admin/inviterAdministrateur/postInviterAdministrateur.ts
  packages/applications/legacy/src/controllers/admin/inviterDgecValidateur/getInviterDgecValidateurPage.ts
  packages/applications/legacy/src/controllers/admin/inviterDgecValidateur/index.ts
  packages/applications/legacy/src/controllers/admin/inviterDgecValidateur/postInviterDgecValidateur.ts
  packages/applications/legacy/src/controllers/modificationRequest/postRequestModification.ts
  packages/applications/legacy/src/modules/authN/Permission.ts
  packages/applications/legacy/src/modules/utilisateur/inviter/inviterUtilisateur.spec.ts
  packages/applications/legacy/src/modules/utilisateur/inviter/inviterUtilisateur.ts
  packages/applications/legacy/src/routes.ts
  packages/applications/legacy/src/views/components/UI/organisms/UserNavigation.tsx
  packages/applications/legacy/src/views/index.ts
  packages/applications/legacy/src/views/pages/drealListPage/DrealList.tsx
  packages/applications/legacy/src/views/pages/drealListPage/index.ts
  packages/applications/legacy/src/views/pages/index.ts
  packages/applications/legacy/src/views/pages/inviterAdministrateurPage/InviterAdministrateur.tsx
  packages/applications/legacy/src/views/pages/inviterAdministrateurPage/index.ts
  packages/applications/legacy/src/views/pages/inviterDgecValidateurPage/InviterDgecValidateur.tsx
  packages/applications/legacy/src/views/pages/inviterDgecValidateurPage/index.ts
  packages/applications/legacy/src/views/pages/newModificationRequestPage/NewModificationRequest.tsx
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
Due: eslint --fix, prettier -w

✅ Fix: tâche gfs
  packages/applications/bootstrap/src/setupTâche.ts
  packages/domain/candidature/src/corriger/corrigerCandidature.behavior.ts
  packages/domain/candidature/src/importer/importerCandidature.behavior.ts
  packages/domain/tâche/src/saga/tâcheGarantiesFinancières.saga.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
