Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml,feature}": "prettier -w"
}

✅ Pass test + ajout d'un test pour le cas payload_too_large
  packages/infrastructure/pg-event-sourcing/src/subscribe/subscribe.test.ts
Due: eslint --fix

mapToExemple
  packages/specifications/src/projet/lauréat/producteur/producteur.world.ts
  packages/specifications/src/projet/lauréat/producteur/stepDefinitions/producteur.when.ts
Due: eslint --fix

✨ Modifier le SIRET seulement (#4225)
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/ModifierLauréat.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/modifier/ModifierProducteur.page.tsx
  packages/applications/ssr/src/utils/candidature/dépôt.schema.ts
  packages/domain/projet/src/lauréat/producteur/producteur.aggregate.ts
  packages/specifications/src/projet/lauréat/producteur/modifierProducteur.feature
  packages/specifications/src/projet/lauréat/producteur/producteur.world.ts
  packages/specifications/src/projet/lauréat/producteur/stepDefinitions/producteur.when.ts
Due: eslint --fix, prettier -w

💚 Mise à jour des actions
  .github/actions/setup/action.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/release.yml
  .github/workflows/shared-workflow.yml
Due: eslint --fix, prettier -w

✅ Pass test
  packages/infrastructure/pg-event-sourcing/src/subscribe/subscribe.test.ts
Due: eslint --fix

✅ Vérifier le payload
  packages/infrastructure/pg-event-sourcing/src/subscribe/subscribe.test.ts
Due: eslint --fix

💚 Mise à jour des actions (#4241)
  .github/actions/setup/action.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/release.yml
  .github/workflows/shared-workflow.yml
Due: eslint --fix, prettier -w

🎨 Retours review ben
  packages/infrastructure/pg-event-sourcing/src/subscribe/subscribe.test.ts
Due: eslint --fix

🗃️ Update dump + remove pending ack
  .database/potentiel-dev.dump
Due: none

🐛 Faire remonter les erreurs de pg_notify + gérer le cas des events avec payload trop conséquent (> 7999 octets) (#4237)
  .database/potentiel-dev.dump
  packages/infrastructure/pg-event-sourcing/sql/event-store/functions/notify-subscribers.sql
  packages/infrastructure/pg-event-sourcing/sql/event-store/functions/rebuild.sql
  packages/infrastructure/pg-event-sourcing/src/subscribe/eventStreamEmitter.ts
  packages/infrastructure/pg-event-sourcing/src/subscribe/subscribe.test.ts
  packages/infrastructure/pg-event-sourcing/src/subscribe/subscribe.ts
  packages/infrastructure/pg-event-sourcing/src/subscribe/subscriber/getPayloadTooLarge.ts
Due: eslint --fix

Récupérer repetition champs dans détail
  packages/infrastructure/ds-api-client/src/_helpers/mappers/mapApiResponseToDétails.ts
Due: eslint --fix

Update projector for DN
  instruction-ds-cre.csv
  packages/applications/projectors/src/subscribers/candidature/_helpers/mapDNDétailToDétailFournisseur.test.ts
  packages/applications/projectors/src/subscribers/candidature/_helpers/mapDNDétailToDétailFournisseur.ts
  packages/applications/projectors/src/subscribers/candidature/détailCandidatureImporté.projector.ts
Due: eslint --fix

Suppr fichier instruction test
  instruction-ds-cre.csv
Due: none

Simplification
  packages/applications/projectors/src/subscribers/candidature/_helpers/mapDNDétailToDétailFournisseur.test.ts
  packages/applications/projectors/src/subscribers/candidature/_helpers/mapDNDétailToDétailFournisseur.ts
Due: eslint --fix

Review Hub
  packages/applications/projectors/src/subscribers/candidature/_helpers/mapDNDétailToDétailFournisseur.ts
Due: eslint --fix

⬆️ Mise à jour de Next
  package-lock.json
  packages/applications/ssr/package.json
Due: eslint --fix, prettier -w

🗃️ Exporter les données fournisseur à la candidature importées via DN (#4207)
  packages/applications/projectors/src/subscribers/candidature/_helpers/mapDNDétailToDétailFournisseur.test.ts
  packages/applications/projectors/src/subscribers/candidature/_helpers/mapDNDétailToDétailFournisseur.ts
  packages/applications/projectors/src/subscribers/candidature/détailCandidatureImporté.projector.ts
  packages/infrastructure/ds-api-client/src/_helpers/mappers/mapApiResponseToDétails.ts
Due: eslint --fix

⬆️ Mise à jour de Next (#4242)
  package-lock.json
  packages/applications/ssr/package.json
Due: eslint --fix, prettier -w

fixedup commit : abandon avec PPA
  packages/applications/notifications/src/subscribers/lauréat/power-purchase-agreement/handlers/powerPurchaseAgreementSignalé.handler.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/demander/DemanderAbandon.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/demander/demanderAbandon.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/(historique)/mapToPowerPurchaseAgreementTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/annuler-signalement/annulerSignalementPowerPurchaseAgreement.action.ts
  packages/domain/projet/src/lauréat/abandon/abandon.aggregate.ts
  packages/domain/projet/src/lauréat/abandon/demande/demander/demanderAbandon.command.ts
  packages/domain/projet/src/lauréat/abandon/demande/demander/demanderAbandon.option.ts
  packages/domain/projet/src/lauréat/abandon/demande/demander/demanderAbandon.usecase.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/powerPurchaseAgreement.aggregate.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/signaler/signalerPowerPurchaseAgreement.command.ts
  packages/specifications/src/projet/lauréat/abandon/demanderAbandon.feature
  packages/specifications/src/projet/lauréat/abandon/fixtures/demanderAbandon.fixture.ts
  packages/specifications/src/projet/lauréat/abandon/stepDefinitions/abandon.when.ts
  packages/specifications/src/projet/lauréat/power-purchase-agreement/annulerPowerPurchaseAgreement.feature
Due: eslint --fix, prettier -w

Champ PPA seulement si le projet n'est pas déjà signalé PPA
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/demander/DemanderAbandon.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/demander/DemanderAbandon.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/demander/demanderAbandon.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/demander/page.tsx
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

Review Hanaë : typage domain props
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/demander/demanderAbandon.action.ts
  packages/domain/projet/src/lauréat/abandon/demande/demander/demanderAbandon.command.ts
  packages/domain/projet/src/lauréat/abandon/demande/demander/demanderAbandon.option.ts
  packages/domain/projet/src/lauréat/abandon/demande/demander/demanderAbandon.usecase.ts
  packages/specifications/src/projet/lauréat/abandon/stepDefinitions/abandon.when.ts
Due: eslint --fix

Adapter aide à la saisie si PPA ou non
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/demander/DemanderAbandon.form.tsx
Due: eslint --fix

Suppression doublon
  packages/specifications/src/projet/lauréat/power-purchase-agreement/annulerPowerPurchaseAgreement.feature
Due: prettier -w

✨ ETQ PP, je peux déclarer un état PPA lors de ma demande d'abandon (#4206)
  packages/applications/notifications/src/subscribers/lauréat/power-purchase-agreement/handlers/powerPurchaseAgreementSignalé.handler.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/demander/DemanderAbandon.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/demander/DemanderAbandon.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/demander/demanderAbandon.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/demander/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/(historique)/mapToPowerPurchaseAgreementTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/annuler-signalement/annulerSignalementPowerPurchaseAgreement.action.ts
  packages/domain/projet/src/lauréat/abandon/abandon.aggregate.ts
  packages/domain/projet/src/lauréat/abandon/demande/demander/demanderAbandon.command.ts
  packages/domain/projet/src/lauréat/abandon/demande/demander/demanderAbandon.option.ts
  packages/domain/projet/src/lauréat/abandon/demande/demander/demanderAbandon.usecase.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/powerPurchaseAgreement.aggregate.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/signaler/signalerPowerPurchaseAgreement.command.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/projet/lauréat/abandon/demanderAbandon.feature
  packages/specifications/src/projet/lauréat/abandon/fixtures/demanderAbandon.fixture.ts
  packages/specifications/src/projet/lauréat/abandon/stepDefinitions/abandon.when.ts
Due: eslint --fix, prettier -w

♻️ Supprimer eslint + prettier et installer biome à la place
  .github/workflows/shared-workflow.yml
  .lintstagedrc
  .prettierignore
  .prettierrc
  biome.json
  eslint.config.mjs
  package-lock.json
  package.json
  packages/applications/ssr/eslint.config.mjs
  packages/applications/ssr/package.json
  packages/specifications/package.json
Due: eslint --fix, prettier -w

🎨 Appliquer la même règle d'import custom que sur l'ancienne config eslint pour les packages du monorepo
  biome.json
Due: eslint --fix, prettier -w

🎨 Change tsconfig compiler type (react-jsx) and remove useless import of React
  packages/applications/document-builder/.storybook/preview.tsx
  packages/applications/document-builder/src/abandon/accordAbandonAvecRecandidature/Header.tsx
  packages/applications/document-builder/src/abandon/accordAbandonAvecRecandidature/Introduction.tsx
  packages/applications/document-builder/src/abandon/accordAbandonAvecRecandidature/Objet.tsx
  packages/applications/document-builder/src/abandon/accordAbandonAvecRecandidature/PageFooter.tsx
  packages/applications/document-builder/src/abandon/accordAbandonAvecRecandidature/PassageConcernantAbandonDuCahierDesCharges.tsx
  packages/applications/document-builder/src/abandon/accordAbandonAvecRecandidature/RéponseAbandonAvecRecandidature.tsx
  packages/applications/document-builder/src/abandon/accordAbandonAvecRecandidature/Signature.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/components/Footnote.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/components/Footnotes.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/components/Objet.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/components/PageFooter.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/components/Signature.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v1/Elimine.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v1/Header.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v1/Introduction.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v1/Laureat.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/Elimine.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/Introduction.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/Laureat.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/Logo/Gouvernement.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/Logo/MCE.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/Logo/MEFSIN.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/Logo/index.tsx
  packages/applications/document-builder/tsconfig.json
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/getLauréat.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/depot/DétailsDépôtGarantiesFinancièresPage.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(demande-complète-raccordement)/InformationDemandeComplèteRaccordement.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(demande-complète-raccordement)/demande-complete-raccordement:modifier/ModifierDemandeComplèteRaccordement.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(proposition-technique-et-financière)/proposition-technique-et-financiere:modifier/ModifierPropositionTechniqueEtFinancière.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(proposition-technique-et-financière)/proposition-technique-et-financiere:transmettre/TransmettrePropositionTechniqueEtFinancière.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/TitrePageRaccordement.tsx
  packages/applications/ssr/src/app/statistiques-publiques/StatistiquesPubliques.page.tsx
  packages/applications/ssr/src/components/atoms/form/document/UploadNewOrModifyExistingDocument.tsx
  packages/applications/ssr/src/components/atoms/headings/Heading1.tsx
  packages/applications/ssr/src/components/atoms/headings/Heading2.tsx
  packages/applications/ssr/src/components/atoms/headings/Heading3.tsx
  packages/applications/ssr/src/components/atoms/headings/Heading4.tsx
  packages/applications/ssr/src/components/atoms/headings/Heading5.tsx
  packages/applications/ssr/src/components/atoms/headings/Heading6.tsx
Due: eslint --fix, prettier -w

🚨 Dernier fix linter
  biome.json
  packages/applications/cli/src/commands/files/seed.ts
  packages/applications/notifications/src/subscribers/lauréat/power-purchase-agreement/handlers/powerPurchaseAgreementSignalé.handler.ts
  packages/applications/notifications/src/templates/layouts/email.layout.html
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/getLauréat.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/demander/DemanderAbandon.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/demander/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/mainlevee/demander/ChecklistMainlevée.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/(historique)/mapToPowerPurchaseAgreementTimelineItemProps.tsx
  packages/applications/ssr/src/components/molecules/ListLegend.tsx
  packages/applications/ssr/src/middlewares/withCSRF.ts
  packages/domain/utilisateur/src/lister/listerUtilisateurs.query.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/infrastructure/pg-event-sourcing/src/event.ts
  packages/infrastructure/pg-event-sourcing/src/subscribe/subscribe.ts
  packages/libraries/monitoring/src/sentry/sentry.transport.ts
Due: eslint --fix, prettier -w

🎨 Github-code-quality review
  .gitignore
  docs/contributing/DEVELOPMENT_FLOW.md
  packages/applications/api/src/helpers/validate.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/AlertesTableauDeBord.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/historique/HistoriqueLauréatTimelineItem.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/DétailsGarantiesFinancières.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/mainlevee/MainlevéeEnCours.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/corriger/CorrigerChangementReprésentantLégal.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/components/DemanderOuEnregistrerChangementReprésentantLégal.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/modifier/ModifierReprésentantLégal.form.tsx
  packages/applications/ssr/src/app/layout.tsx
  packages/applications/ssr/src/components/atoms/LinkNoPrefetch.tsx
  packages/applications/ssr/src/components/molecules/LinkAction.tsx
  packages/applications/ssr/src/dsfr-bootstrap/index.tsx
  packages/applications/ssr/src/dsfr-bootstrap/server-only-index.tsx
  packages/applications/ssr/src/utils/candidature/csv/_test-shared.ts
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/core/src/plainType.ts
  packages/infrastructure/ds-api-client/codegen.ts
  packages/infrastructure/pg-event-sourcing/src/event.ts
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/stepDefinitions/demandeComplèteRaccordement.then.ts
  packages/specifications/src/raccordement/dossierRaccordement/stepDefinitions/dossierRaccordement.then.ts
Due: eslint --fix

misc fixes
  .github/get-feature-tags.ts
  biome.json
  biome.jsonc
  packages/applications/api/src/handlers/raccordement/lister.handler.ts
  packages/applications/bootstrap/src/middlewares/permission.middleware.ts
  packages/applications/cli/src/commands/document/générer.ts
  packages/applications/cli/src/commands/files/seed.ts
  packages/applications/ssr/src/components/atoms/form/FormFeedback.tsx
  packages/applications/ssr/src/components/molecules/MultipleSelect.tsx
  packages/applications/ssr/src/components/molecules/projet/liste/ProjectListItemHeading.tsx
  packages/applications/ssr/src/components/molecules/step/Steps.tsx
  packages/applications/ssr/src/components/organisms/auth/ProfilesBadge.tsx
  packages/applications/ssr/src/utils/candidature/csv/fournisseurCsv.ts
  packages/applications/ssr/src/utils/zod/setupLocale.ts
  packages/domain/common/src/valueTypes/dateTime.valueType.spec.ts
  packages/domain/inmemory-referential/src/géographie/récupérerDépartementRégionParCodePostal.ts
Due: eslint --fix, prettier -w

manual fixes
  packages/applications/api/src/helpers/validate.ts
  packages/applications/app-maintenance/maintenance.html
  packages/applications/document-builder/src/candidature/attestation/cre4/v1/makeCertificate.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/components/Footnotes.tsx
  packages/applications/projectors/src/subscribers/candidature/_helpers/mapDétailToDétailFournisseur.ts
  packages/applications/routes/src/_helpers/withFilters.ts
  packages/applications/ssr/src/app/(homepage)/InscriptionConnexion.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/RaccordementDétails.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/cahier-des-charges/ChoisirCahierDesCharges.form.tsx
Due: eslint --fix

manual fixes
  packages/applications/ssr/src/components/atoms/ReadMore.tsx
  packages/domain/projet/src/accès/accès.aggregate.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/gestionnaireRéseau/gestionnaireRéseau.world.ts
  packages/specifications/src/notification/notification.world.ts
Due: eslint --fix

omit email layout
  biome.jsonc
Due: none

manual fixes
  packages/applications/ssr/src/components/atoms/form/SubmitButton.tsx
  packages/applications/ssr/src/components/atoms/form/document/UploadDocument.tsx
Due: eslint --fix

manual fixes
  biome.jsonc
  packages/applications/api/bin/dev.js
  packages/applications/app-maintenance/error.html
  packages/applications/document-builder/src/candidature/attestation/cre4/v0/makeCertificate.tsx
  packages/applications/ssr/src/app/(homepage)/InscriptionConnexion.tsx
  packages/applications/ssr/src/app/global-error.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/modifierLauréat.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/(mettre-à-jour)/component/FournisseursField.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/typologie-du-projet/modifier/ModifierTypologieInstallation.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/reference:corriger/CorrigerRéférenceDossier.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/demande-complete-raccordement:transmettre/TransmettreDemandeComplèteRaccordement.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/site-de-production/modifier/ModifierSiteDeProduction.form.tsx
  packages/applications/ssr/src/app/reseaux/gestionnaires/[identifiant]/(modifier)/ModifierGestionnaireRéseau.form.tsx
  packages/applications/ssr/src/app/utilisateurs/(liste)/UtilisateurListItem.tsx
  packages/applications/ssr/src/auth/providers/magic-link/buildSendMagicLink.test.ts
  packages/specifications/src/candidature/stepDefinitions/candidature.when.ts
Due: eslint --fix

misc
  .github/getPatchVersion.ts
  biome.jsonc
Due: eslint --fix
