Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

✨ Gestion des métadonnées par défaut dans le logger, et ajout de métadonnées à la CLI (#3234)
  packages/applications/cli/src/hooks/init/config.ts
  packages/libraries/monitoring/src/logger.test.ts
  packages/libraries/monitoring/src/logger.ts
  packages/libraries/monitoring/src/winston/console.transport.ts
Due: eslint --fix

✨ Front pour demander un délai (#3236)
  packages/applications/legacy/.env.template
  packages/applications/routes/src/index.ts
  packages/applications/routes/src/lauréat/délai.routes.ts
  packages/applications/routes/src/lauréat/index.ts
  packages/applications/ssr/.env.template
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/demander/page.tsx
  packages/applications/ssr/src/components/pages/délai/demander/DemanderDélai.action.ts
  packages/applications/ssr/src/components/pages/délai/demander/DemanderDélai.form.tsx
  packages/applications/ssr/src/components/pages/délai/demander/DemanderDélai.page.tsx
Due: eslint --fix

♻️ Clarification de l'algorithme d'envoie d'email et des conditions
  packages/applications/request-context/src/sendVerificationRequest.ts
Due: eslint --fix

♻️ Renommage de la fonction
  packages/applications/request-context/src/sendVerificationRequest.ts
Due: eslint --fix

📝 Ajout de l'event storming
  docs/contributing/diagrams/délai/parcours.drawio.svg
Due: none

🔒️ Ne pas afficher de message d'erreur si DGEC ou Dreal utilise une connexion avec lien magique (#3190)
  package-lock.json
  package.json
  packages/applications/request-context/package.json
  packages/applications/request-context/src/authOptions.ts
  packages/applications/request-context/src/getUtilisateur.ts
  packages/applications/request-context/src/sendVerificationRequest.test.ts
  packages/applications/request-context/src/sendVerificationRequest.ts
  packages/applications/routes/src/auth/auth.routes.ts
  packages/applications/ssr/src/app/auth/signIn/SignIn.page.tsx
Due: eslint --fix, prettier -w

📝 Ajout de l'event storming (#3241)
  docs/contributing/diagrams/délai/parcours.drawio.svg
Due: none

♻️ Aggregate Root parent (#3239)
  packages/domain/core/src/aggregateId.ts
  packages/domain/core/src/aggregateV2.ts
  packages/domain/projet/src/accès/accès.aggregate.ts
  packages/domain/projet/src/candidature/candidature.aggregate.ts
  packages/domain/projet/src/lauréat/abandon/abandon.aggregate.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.aggregate.ts
  packages/domain/projet/src/lauréat/actionnaire/actionnaire.aggregate.ts
  packages/domain/projet/src/lauréat/fournisseur/fournisseur.aggregate.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
  packages/domain/projet/src/lauréat/producteur/producteur.aggregate.ts
  packages/domain/projet/src/lauréat/puissance/changement/annuler/annulerChangementPuissance.options.ts
  packages/domain/projet/src/lauréat/puissance/puissance.aggregate.ts
  packages/domain/projet/src/lauréat/représentantLégal/représentantLégal.aggregate.ts
  packages/domain/projet/src/projet.aggregateRoot.ts
  packages/domain/projet/src/éliminé/recours/recours.aggregate.ts
  packages/domain/projet/src/éliminé/éliminé.aggregate.ts
  packages/infrastructure/pg-event-sourcing/src/load/loadAggregateV2.test.ts
  packages/infrastructure/pg-event-sourcing/src/load/loadAggregateV2.ts
Due: eslint --fix

🐛 Ne pas envoyer d'emails aux utilisateurs désactivés
  packages/applications/cli/src/commands/raccordement/notifier-gestionnaires-réseau.ts
  packages/applications/notifications/src/helpers/listerDrealsRecipients.ts
  packages/applications/notifications/src/subscribers/période/période.notification.ts
  packages/applications/notifications/src/subscribers/éliminé/recours.notification.ts
Due: eslint --fix

🎨 Ben parents AG
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
Due: eslint --fix

🎨 Finish: rebase
  packages/applications/ssr/src/app/reseaux/raccordements/importer/page.tsx
  packages/applications/ssr/src/app/reseaux/raccordements/references:corriger/page.tsx
Due: eslint --fix

🎨 Mini clean
  packages/applications/legacy/src/sagas/raccordement.saga.ts
Due: eslint --fix

🐛 Ne pas envoyer d'emails aux utilisateurs désactivés
  packages/applications/notifications/src/helpers/listerPorteursRecipients.ts
  packages/domain/utilisateur/src/lister/listerUtilisateurs.query.ts
  packages/specifications/src/notification/notification.world.ts
  packages/specifications/src/notification/stepDefinitions/notification.then.ts
  packages/specifications/src/utilisateur/désactiverUtilisateur.feature
  packages/specifications/src/utilisateur/fixtures/inviter/inviter.fixture.ts
Due: eslint --fix, prettier -w

✨ Lister les subscribers obsolètes au démarrage de l'application (#3237)
  packages/applications/legacy/src/server.ts
  packages/applications/ssr/src/server.ts
  packages/infrastructure/pg-event-sourcing/src/index.ts
  packages/infrastructure/pg-event-sourcing/src/subscribe/subscribe.ts
  packages/infrastructure/pg-event-sourcing/src/subscribe/subscriber/listSubscribers.ts
Due: eslint --fix

🐛 Fix type
  packages/domain/utilisateur/src/lister/listerUtilisateurs.query.ts
Due: eslint --fix

🐛 Ne pas envoyer d'emails aux utilisateurs désactivés (#3245)
  packages/applications/cli/src/commands/raccordement/notifier-gestionnaires-réseau.ts
  packages/applications/notifications/src/helpers/listerDrealsRecipients.ts
  packages/applications/notifications/src/helpers/listerPorteursRecipients.ts
  packages/applications/notifications/src/subscribers/période/période.notification.ts
  packages/applications/notifications/src/subscribers/éliminé/recours.notification.ts
  packages/domain/utilisateur/src/lister/listerUtilisateurs.query.ts
  packages/specifications/src/notification/notification.world.ts
  packages/specifications/src/notification/stepDefinitions/notification.then.ts
  packages/specifications/src/utilisateur/désactiverUtilisateur.feature
  packages/specifications/src/utilisateur/fixtures/inviter/inviter.fixture.ts
Due: eslint --fix, prettier -w

🎨 Scope
  packages/applications/bootstrap/src/setupProjet/setup.ts
  packages/applications/ssr/src/app/api/v1/reseaux/raccordements/route.ts
  packages/applications/ssr/src/app/reseaux/raccordements/page.tsx
  packages/domain/projet/package.json
  packages/domain/projet/src/index.ts
  packages/domain/projet/src/lauréat/raccordement/lister/listerDossierRaccordement.query.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.register.ts
  packages/domain/projet/src/lauréat/raccordement/saga/index.ts
  packages/domain/projet/src/récupérerGRDParVille.port.ts
  packages/infrastructure/ore-client/src/récupérerGRDParVille.ts
Due: eslint --fix, prettier -w

🎨 Nommer load aggregate
  packages/domain/projet/src/lauréat/lauréat.register.ts
Due: eslint --fix

🎨 Verifier lauréat
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/domain/projet/src/lauréat/raccordement/transmettre/dateMiseEnService/transmettreDateMiseEnService.command.ts
  packages/domain/projet/src/lauréat/raccordement/transmettre/demandeComplèteDeRaccordement/transmettreDemandeComplèteRaccordement.command.ts
Due: eslint --fix

♻️ Gestionnaire Réseau aggregate V2
  packages/applications/bootstrap/src/setupRéseau.ts
  packages/applications/cli/src/commands/reseau/update-gestionnaires.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
  packages/domain/projet/src/lauréat/raccordement/attribuer/attribuerGestionnaireRéseau.command.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/demandeComplète/modifierDemandeComplèteRaccordement.command.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/demandeComplète/modifierDemandeComplèteRaccordement.options.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/gestionnaireRéseauDuRaccordement/modifierGestionnaireRéseauRaccordement.command.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/référenceDossierRaccordement/modifierRéférenceDossierRaccordement.command.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/référenceDossierRaccordement/modifierRéférenceDossierRaccordement.options.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.register.ts
  packages/domain/projet/src/lauréat/raccordement/transmettre/demandeComplèteDeRaccordement/transmettreDemandeComplèteRaccordement.command.ts
  packages/domain/projet/src/lauréat/raccordement/transmettre/demandeComplèteDeRaccordement/transmettreDemandeComplèteRaccordement.options.ts
  packages/domain/réseau/src/gestionnaire/ajouter/ajouter.event.ts
  packages/domain/réseau/src/gestionnaire/ajouter/ajouter.options.ts
  packages/domain/réseau/src/gestionnaire/ajouter/ajouterGestionnaireRéseau.behavior.ts
  packages/domain/réseau/src/gestionnaire/ajouter/ajouterGestionnaireRéseau.command.ts
  packages/domain/réseau/src/gestionnaire/gestionnaireRéseau.aggregate.ts
  packages/domain/réseau/src/gestionnaire/gestionnaireRéseau.event.ts
  packages/domain/réseau/src/gestionnaire/gestionnaireRéseau.register.ts
  packages/domain/réseau/src/gestionnaire/index.ts
  packages/domain/réseau/src/gestionnaire/modifier/modifierGestionnaireRéseau.behavior.ts
  packages/domain/réseau/src/gestionnaire/modifier/modifierGestionnaireRéseau.command.ts
  packages/domain/réseau/src/gestionnaire/modifier/modifierGestionnaireRéseau.event.ts
  packages/domain/réseau/src/gestionnaire/modifier/modifierGestionnaireRéseau.options.ts
Due: eslint --fix

🔀 Merge refacto raccordement
  packages/applications/bootstrap/src/setupProjet/index.ts
  packages/applications/bootstrap/src/setupProjet/setupLauréat/index.ts
  packages/applications/bootstrap/src/setupProjet/setupLauréat/setupRaccordement.ts
  packages/domain/projet/src/lauréat/lauréat.register.ts
Due: eslint --fix

♻️ Use aggregateId + renmae
  packages/domain/réseau/src/gestionnaire/ajouter/ajouterGestionnaireRéseau.command.ts
  packages/domain/réseau/src/gestionnaire/ajouter/ajouterGestionnaireRéseau.event.ts
  packages/domain/réseau/src/gestionnaire/ajouter/ajouterGestionnaireRéseau.options.ts
  packages/domain/réseau/src/gestionnaire/gestionnaireRéseau.aggregate.ts
  packages/domain/réseau/src/gestionnaire/gestionnaireRéseau.event.ts
  packages/domain/réseau/src/gestionnaire/index.ts
Due: eslint --fix

private fields
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
Due: eslint --fix

✅ Ajout de tests
  docs/contributing/GETTING_STARTED.md
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/specifications/package.json
  packages/specifications/src/candidature/stepDefinitions/candidature.given.ts
  packages/specifications/src/potentiel.world.ts
  packages/specifications/src/projet/lauréat/abandon/stepDefinitions/abandon.when.ts
  packages/specifications/src/projet/lauréat/achèvement/attestationConformité/stepDefinitions/attestationConformité.when.ts
  packages/specifications/src/projet/lauréat/actionnaire/stepDefinitions/actionnaire.when.ts
  packages/specifications/src/projet/lauréat/producteur/stepDefinitions/producteur.when.ts
  packages/specifications/src/projet/lauréat/puissance/changement/stepDefinitions/changementPuissance.when.ts
  packages/specifications/src/projet/lauréat/puissance/stepDefinitions/puissance.when.ts
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.given.ts
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.then.ts
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.when.ts
  packages/specifications/src/projet/éliminé/stepDefinitions/éliminé.given.ts
  packages/specifications/src/raccordement/dateDeMiseEnService/transmettreDateMiseEnService.feature
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/stepDefinitions/demandeComplèteRaccordement.when.ts
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/transmettreDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/stepDefinitions/propositionTechniqueEtFinancière.when.ts
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/transmettrePropositionTechniqueEtFinancière.feature
  packages/specifications/src/tâche/stepDefinitions/tâche.then.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.given.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.then.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.when.ts
Due: eslint --fix, prettier -w

♻️ EstInconnu
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/page.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/détails/components/ModifierGestionnaireRéseauDuRaccordement.tsx
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/domain/réseau/src/gestionnaire/consulter/consulterGestionnaireRéseau.query.ts
  packages/domain/réseau/src/gestionnaire/identifiantGestionnaireRéseau.valueType.ts
Due: eslint --fix

♻️ LoadAggregate
  packages/domain/core/src/aggregateV2.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/domain/projet/src/projet.aggregateRoot.ts
  packages/domain/projet/src/éliminé/éliminé.aggregate.ts
  packages/infrastructure/pg-event-sourcing/src/load/loadAggregateV2.ts
Due: eslint --fix

♻️ Vérifier existe
  packages/domain/projet/src/lauréat/raccordement/modifier/gestionnaireRéseauDuRaccordement/modifierGestionnaireRéseauRaccordement.command.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/domain/réseau/src/gestionnaire/gestionnaireRéseau.aggregate.ts
Due: eslint --fix

✅ Add test attribuer
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/specifications/src/raccordement/gestionnaireRéseau/attribuerGestionnaireRéseauRaccordement.feature
  packages/specifications/src/raccordement/gestionnaireRéseau/stepDefinitions/gestionnaireRéseauRaccordement.when.ts
Due: eslint --fix, prettier -w

🔧 Ref projet
  packages/domain/projet/tsconfig.json
Due: eslint --fix, prettier -w

🎨 Trop vite, trop loin
  docs/contributing/GETTING_STARTED.md
  packages/specifications/package.json
  packages/specifications/src/projet/lauréat/actionnaire/stepDefinitions/actionnaire.when.ts
  packages/specifications/src/projet/lauréat/producteur/stepDefinitions/producteur.when.ts
  packages/specifications/src/projet/lauréat/puissance/changement/stepDefinitions/changementPuissance.when.ts
  packages/specifications/src/projet/lauréat/puissance/stepDefinitions/puissance.when.ts
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.when.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.then.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.when.ts
Due: eslint --fix, prettier -w

♻️ Remove unnecessary and illogic property
  packages/domain/réseau/src/gestionnaire/gestionnaireRéseau.aggregate.ts
  packages/domain/réseau/src/gestionnaire/modifier/modifierGestionnaireRéseau.command.ts
  packages/domain/réseau/src/gestionnaire/modifier/modifierGestionnaireRéseau.options.ts
Due: eslint --fix

✅ Tests pour raccordement (#3247)
  docs/contributing/GETTING_STARTED.md
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/specifications/src/candidature/stepDefinitions/candidature.given.ts
  packages/specifications/src/potentiel.world.ts
  packages/specifications/src/projet/lauréat/abandon/stepDefinitions/abandon.when.ts
  packages/specifications/src/projet/lauréat/achèvement/attestationConformité/stepDefinitions/attestationConformité.when.ts
  packages/specifications/src/projet/lauréat/actionnaire/stepDefinitions/actionnaire.when.ts
  packages/specifications/src/projet/lauréat/producteur/stepDefinitions/producteur.when.ts
  packages/specifications/src/projet/lauréat/puissance/changement/stepDefinitions/changementPuissance.when.ts
  packages/specifications/src/projet/lauréat/puissance/stepDefinitions/puissance.when.ts
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.given.ts
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.then.ts
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.when.ts
  packages/specifications/src/projet/éliminé/stepDefinitions/éliminé.given.ts
  packages/specifications/src/raccordement/dateDeMiseEnService/transmettreDateMiseEnService.feature
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/stepDefinitions/demandeComplèteRaccordement.when.ts
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/transmettreDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/stepDefinitions/propositionTechniqueEtFinancière.when.ts
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/transmettrePropositionTechniqueEtFinancière.feature
  packages/specifications/src/tâche/stepDefinitions/tâche.then.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.given.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.then.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.when.ts
Due: eslint --fix, prettier -w

♻️ Gestionnaire Réseau aggregate V2 (#3246)
  packages/applications/bootstrap/src/setupProjet/index.ts
  packages/applications/bootstrap/src/setupProjet/setupLauréat/index.ts
  packages/applications/bootstrap/src/setupProjet/setupLauréat/setupRaccordement.ts
  packages/applications/bootstrap/src/setupRéseau.ts
  packages/applications/cli/src/commands/reseau/update-gestionnaires.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/page.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/détails/components/ModifierGestionnaireRéseauDuRaccordement.tsx
  packages/domain/core/src/aggregateV2.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
  packages/domain/projet/src/lauréat/lauréat.register.ts
  packages/domain/projet/src/lauréat/raccordement/attribuer/attribuerGestionnaireRéseau.command.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/demandeComplète/modifierDemandeComplèteRaccordement.command.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/demandeComplète/modifierDemandeComplèteRaccordement.options.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/gestionnaireRéseauDuRaccordement/modifierGestionnaireRéseauRaccordement.command.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/référenceDossierRaccordement/modifierRéférenceDossierRaccordement.command.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/référenceDossierRaccordement/modifierRéférenceDossierRaccordement.options.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.register.ts
  packages/domain/projet/src/lauréat/raccordement/transmettre/demandeComplèteDeRaccordement/transmettreDemandeComplèteRaccordement.command.ts
  packages/domain/projet/src/lauréat/raccordement/transmettre/demandeComplèteDeRaccordement/transmettreDemandeComplèteRaccordement.options.ts
  packages/domain/projet/src/projet.aggregateRoot.ts
  packages/domain/projet/src/éliminé/éliminé.aggregate.ts
  packages/domain/projet/tsconfig.json
  packages/domain/réseau/src/gestionnaire/ajouter/ajouterGestionnaireRéseau.behavior.ts
  packages/domain/réseau/src/gestionnaire/ajouter/ajouterGestionnaireRéseau.command.ts
  packages/domain/réseau/src/gestionnaire/ajouter/ajouterGestionnaireRéseau.event.ts
  packages/domain/réseau/src/gestionnaire/ajouter/ajouterGestionnaireRéseau.options.ts
  packages/domain/réseau/src/gestionnaire/consulter/consulterGestionnaireRéseau.query.ts
  packages/domain/réseau/src/gestionnaire/gestionnaireRéseau.aggregate.ts
  packages/domain/réseau/src/gestionnaire/gestionnaireRéseau.event.ts
  packages/domain/réseau/src/gestionnaire/gestionnaireRéseau.register.ts
  packages/domain/réseau/src/gestionnaire/identifiantGestionnaireRéseau.valueType.ts
  packages/domain/réseau/src/gestionnaire/index.ts
  packages/domain/réseau/src/gestionnaire/modifier/modifierGestionnaireRéseau.behavior.ts
  packages/domain/réseau/src/gestionnaire/modifier/modifierGestionnaireRéseau.command.ts
  packages/domain/réseau/src/gestionnaire/modifier/modifierGestionnaireRéseau.event.ts
  packages/domain/réseau/src/gestionnaire/modifier/modifierGestionnaireRéseau.options.ts
  packages/infrastructure/pg-event-sourcing/src/load/loadAggregateV2.ts
  packages/specifications/src/raccordement/gestionnaireRéseau/attribuerGestionnaireRéseauRaccordement.feature
  packages/specifications/src/raccordement/gestionnaireRéseau/stepDefinitions/gestionnaireRéseauRaccordement.when.ts
Due: eslint --fix, prettier -w

♻️ Période aggregate V2
  packages/applications/bootstrap/src/setupPériode.ts
  packages/domain/période/src/notifier/notifierPériode.behavior.ts
  packages/domain/période/src/notifier/notifierPériode.command.ts
  packages/domain/période/src/notifier/notifierPériode.event.ts
  packages/domain/période/src/notifier/notifierPériode.options.ts
  packages/domain/période/src/période.aggregate.ts
  packages/domain/période/src/période.ts
  packages/domain/période/src/register.ts
  packages/specifications/src/période/notifierPériode.feature
Due: eslint --fix, prettier -w

Update packages/specifications/src/période/notifierPériode.feature
  packages/specifications/src/période/notifierPériode.feature
Due: prettier -w

♻️ Période aggregate V2 (#3248)
  packages/applications/bootstrap/src/setupPériode.ts
  packages/domain/période/src/notifier/notifierPériode.behavior.ts
  packages/domain/période/src/notifier/notifierPériode.command.ts
  packages/domain/période/src/notifier/notifierPériode.event.ts
  packages/domain/période/src/notifier/notifierPériode.options.ts
  packages/domain/période/src/période.aggregate.ts
  packages/domain/période/src/période.ts
  packages/domain/période/src/register.ts
Due: eslint --fix

🔧 Ajouter un monitoring à toutes les tâches CRON
  packages/applications/cli/package.json
  packages/applications/cli/src/commands/abandon/relancer-abandon-sans-preuve.ts
  packages/applications/cli/src/commands/cahierdescharges/migrer.ts
  packages/applications/cli/src/commands/fournisseur/migrer.ts
  packages/applications/cli/src/commands/monitoring/pending-acknowledgement.ts
  packages/applications/cli/src/commands/raccordement/notifier-gestionnaires-réseau.ts
  packages/applications/cli/src/commands/raccordement/supprimer-dossier-avec-reference-non-transmise-vide.ts
  packages/applications/cli/src/commands/raccordement/transmettre-references.ts
  packages/applications/cli/src/commands/reseau/update-gestionnaires.ts
  packages/applications/cli/src/commands/stats/extraire.ts
  packages/applications/cli/src/commands/tache-planifiee/executer.ts
  packages/applications/cli/src/commands/tache/achever.ts
  packages/applications/cli/src/hooks/finally.ts
  packages/applications/cli/src/hooks/init.ts
Due: eslint --fix, prettier -w

♻️ Usage of finally
  docs/contributing/GETTING_STARTED.md
  package-lock.json
  packages/applications/cli/package.json
  packages/applications/cli/src/commands/abandon/relancer-abandon-sans-preuve.ts
  packages/applications/cli/src/commands/raccordement/notifier-gestionnaires-réseau.ts
  packages/applications/cli/src/commands/raccordement/supprimer-dossier-avec-reference-non-transmise-vide.ts
  packages/applications/cli/src/commands/reseau/update-gestionnaires.ts
  packages/applications/cli/src/commands/stats/extraire.ts
  packages/applications/cli/src/commands/tache-planifiee/executer.ts
  packages/applications/cli/src/helpers/getHealthcheckClientForCommand.ts
  packages/applications/cli/src/helpers/healthcheck.ts
  packages/applications/cli/src/hooks/healthcheck/finally.ts
  packages/applications/cli/src/hooks/healthcheck/prerun.ts
Due: eslint --fix, prettier -w

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
