Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml,feature}": "prettier -w"
}

fix: feature flag et recours
  packages/applications/ssr/src/app/(homepage)/(homepage-administration)/Demandes.détails.tsx
  packages/applications/ssr/src/app/(homepage)/(homepage-administration)/Demandes.section.tsx
  packages/applications/ssr/src/app/(homepage)/(homepage-administration)/HomePageAdministration.page.tsx
  packages/applications/ssr/src/app/(homepage)/page.tsx
Due: eslint --fix

clean
  packages/applications/cli/src/commands/files/backup.ts
Due: eslint --fix

reorganisation
  packages/applications/ssr/src/app/(homepage)/(homepage-administration)/Demandes.section.tsx
  packages/applications/ssr/src/app/(homepage)/(homepage-administration)/HomePageAdministration.page.tsx
  packages/applications/ssr/src/app/(homepage)/(homepage-administration)/Nouveautés.détails.tsx
  packages/applications/ssr/src/app/(homepage)/(homepage-administration)/Nouveautés.sections.tsx
  packages/applications/ssr/src/app/(homepage)/page.tsx
Due: eslint --fix

amelioration section
  packages/applications/ssr/src/app/(homepage)/(homepage-administration)/Demandes.détails.tsx
  packages/applications/ssr/src/app/(homepage)/(homepage-administration)/Demandes.section.tsx
  packages/applications/ssr/src/app/(homepage)/(homepage-administration)/HomePageAdministration.page.tsx
  packages/applications/ssr/src/components/atoms/section/Section.tsx
Due: eslint --fix

ff
  packages/applications/ssr/.env.template
  packages/applications/ssr/src/app/(homepage)/(homepage-administration)/HomePageAdministration.page.tsx
  packages/applications/ssr/src/app/(homepage)/page.tsx
  packages/applications/ssr/src/components/organisms/header/UserBasedRoleNavigation.tsx
  packages/applications/subscribers/.env.template
Due: eslint --fix

cleaning
  packages/applications/ssr/src/app/(homepage)/(homepage-administration)/Demandes.détails.tsx
  packages/applications/ssr/src/components/organisms/header/Header.tsx
  packages/applications/ssr/src/components/organisms/header/UserBasedRoleNavigation/UserBasedRoleNavigation.tsx
  packages/applications/ssr/src/components/organisms/header/UserBasedRoleNavigation/getDemandesLinks.ts
Due: eslint --fix

début review hub
  packages/applications/ssr/src/app/(homepage)/(homepage-administration)/Demandes.section.tsx
  packages/applications/ssr/src/app/(homepage)/page.tsx
  packages/applications/ssr/src/app/_helpers/getFeatureFlag.ts
  packages/applications/ssr/src/app/candidatures/importer/(demarche-simplifiée)/importerCandidaturesParDémarcheNumérique.action.ts
  packages/applications/ssr/src/app/candidatures/importer/page.tsx
  packages/applications/ssr/src/components/organisms/header/UserBasedRoleNavigation/UserBasedRoleNavigation.tsx
  packages/applications/ssr/src/components/organisms/header/UserBasedRoleNavigation/getDemandesLinks.ts
Due: eslint --fix

promise
  packages/applications/ssr/src/app/(homepage)/(homepage-administration)/Demandes.section.tsx
Due: eslint --fix

keys
  packages/applications/ssr/src/components/organisms/header/UserBasedRoleNavigation/getDemandesLinks.ts
Due: eslint --fix

build
  packages/applications/ssr/src/app/_helpers/getFeatureFlag.ts
Due: eslint --fix

Update import typologie
  packages/infrastructure/dn-api-client/src/_helpers/getters/getTypologieInstallation.ts
Due: eslint --fix

Mise à jour de la liste des typologies
  packages/applications/ssr/src/app/_helpers/getTypologieInstallationLabel.ts
  packages/domain/projet/src/candidature/typologieInstallation.valueType.ts
Due: eslint --fix

Ajout période
  packages/domain/inmemory-referential/src/appelOffre/PPE2/neutre.ppe2.ts
Due: eslint --fix

Ajout champs supp
  packages/domain/inmemory-referential/src/appelOffre/PPE2/neutre.ppe2.ts
Due: eslint --fix

Import de la technologie
  packages/infrastructure/dn-api-client/src/_helpers/getters/getTechnologie.ts
  packages/infrastructure/dn-api-client/src/_helpers/getters/index.ts
  packages/infrastructure/dn-api-client/src/_helpers/mappers/mapApiResponseToDépôt.ts
Due: eslint --fix

Masquer la map : print, screen-reader, keyboard navigation
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/MapPreview.tsx
Due: eslint --fix

🚸 Masquer la map : print, screen-reader, keyboard navigation (#4678)
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/MapPreview.tsx
Due: eslint --fix

retours hanae
  packages/applications/ssr/src/app/(homepage)/(homepage-administration)/Demandes.détails.tsx
  packages/applications/ssr/src/app/(homepage)/(homepage-administration)/Demandes.section.tsx
Due: eslint --fix

Activation de keycloak sur une review app
  docs/contributing/DEVELOPMENT_FLOW.md
Due: eslint --fix

🚧 Page de test nouveautés
  packages/applications/routes/src/index.ts
  packages/applications/routes/src/nouveautés/index.ts
  packages/applications/routes/src/nouveautés/nouveautés.routes.ts
  packages/applications/ssr/.env.template
  packages/applications/ssr/src/app/nouveautes/Nouveautes.section.tsx
  packages/applications/ssr/src/app/nouveautes/page.tsx
  packages/applications/ssr/src/components/atoms/section/Section.tsx
  packages/applications/subscribers/.env.template
  packages/domain/utilisateur/src/role.valueType.ts
  packages/domain/utilisateur/src/utilisateur.valueType.ts
Due: eslint --fix

📝 doc : activation de keycloak sur une review app (#4680)
  docs/contributing/DEVELOPMENT_FLOW.md
Due: eslint --fix

retirer warning pas utiles
  packages/domain/projet/src/document-projet/documentProjet.valueType.ts
  packages/domain/projet/src/document-projet/dossierProjet.valueType.ts
  packages/domain/projet/src/lauréat/garanties-financières/documentGarantiesFinancières.valueType.ts
Due: eslint --fix

🧹 retirer warning pas utiles (dev) (#4681)
  packages/domain/projet/src/document-projet/documentProjet.valueType.ts
  packages/domain/projet/src/document-projet/dossierProjet.valueType.ts
  packages/domain/projet/src/lauréat/garanties-financières/documentGarantiesFinancières.valueType.ts
Due: eslint --fix

✨ Ajout d'un package grist-api-client
  package-lock.json
  packages/applications/ssr/.env.template
  packages/applications/ssr/package.json
  packages/applications/ssr/src/app/nouveautes/Nouveautes.section.tsx
  packages/applications/ssr/src/app/nouveautes/page.tsx
  packages/applications/ssr/tsconfig.json
  packages/infrastructure/grist-api-client/package.json
  packages/infrastructure/grist-api-client/src/constant.ts
  packages/infrastructure/grist-api-client/src/gristApiClient.ts
  packages/infrastructure/grist-api-client/src/index.ts
  packages/infrastructure/grist-api-client/src/récupérerNouveautés.ts
  packages/infrastructure/grist-api-client/src/type.ts
  packages/infrastructure/grist-api-client/tsconfig.json
  packages/libraries/http-client/src/get.ts
Due: eslint --fix, prettier -w

🥅 Utilisation d'une méthode send_sentry_error pour pouvoir envoyer des erreurs custom à Sentry en cas de crash
  .scripts/backup-3-2-1.sh
  .scripts/s3-backup.sh
  .scripts/sentry.sh
Due: none

🗑️ La commande CLI relancer abandon sans preuve ne peut pas fonctionner car la date limite de transmission est dépassée (suppression des crons nocturne)
  cron.json
  packages/applications/cli/src/commands/abandon/relancer-abandon-sans-preuve.ts
Due: eslint --fix, prettier -w

🥅 Utilisation d'une méthode send_sentry_error pour pouvoir envoyer des erreurs custom à Sentry en cas de crash (#4683)
  .scripts/backup-3-2-1.sh
  .scripts/s3-backup.sh
  .scripts/sentry.sh
Due: none

🗑️ La commande CLI relancer abandon sans preuve ne peut pas fonctionner car la date limite de transmission est dépassée (suppression des crons nocturne) (#4684)
  cron.json
  packages/applications/cli/src/commands/abandon/relancer-abandon-sans-preuve.ts
Due: eslint --fix, prettier -w

🐛 Ajout d'un garde fou dans l'éxécution des crons "hors prod" pour éviter les failed sentry
  .scripts/production-only.sh
  cron.json
Due: eslint --fix, prettier -w

review
  packages/infrastructure/dn-api-client/src/_helpers/getters/getTypologieInstallation.ts
Due: eslint --fix
