Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml}": "prettier -w"
}

♻️ Extract format identifiant projet function in utils
  packages/applications/document-builder/package.json
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/modele-reponse/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/modele-mise-en-demeure/route.ts
  packages/applications/ssr/src/utils/modèle-document/formatIdentifiantProjetForDocument.ts
Due: eslint --fix, prettier -w

♻️ Use only one template for abandon (condition is inside document ;))
  packages/applications/document-builder/src/assets/docx/abandon-modèle-réponse-après-confirmation.docx
  packages/applications/document-builder/src/assets/docx/abandon-modèle-réponse.docx
  packages/applications/document-builder/src/buildDocxDocument/buildDocxDocument.ts
Due: eslint --fix

🚑️ Add N/A value for column historiqueAbandon
  packages/applications/legacy/src/modules/project/utils/parseProjectLine.ts
Due: eslint --fix

🔥 Remove useless tests
  packages/applications/legacy/src/modules/project/utils/parseProjectLine.spec.ts
Due: eslint --fix

🚑️ Fix validation qui bloque le chargement de certaines référence actuel
  packages/domain/réseau/src/raccordement/référenceDossierRaccordement.valueType.ts
  packages/specifications/src/gestionnaireRéseau/validerRéférenceDossierRaccordement.feature
  packages/specifications/src/raccordement/modifierRéférenceDemandeComplèteDeRaccordement.feature
Due: eslint --fix

🚑️ Autorisation de la valeur 'N/A' pour la colonne d'historique d'abandon lors de l'import (#1895)
  packages/applications/legacy/src/modules/project/utils/parseProjectLine.spec.ts
  packages/applications/legacy/src/modules/project/utils/parseProjectLine.ts
Due: eslint --fix

🚑️ Fix validation qui bloque le chargement de certaines référence actuel (#1896)
  packages/domain/réseau/src/raccordement/référenceDossierRaccordement.valueType.ts
  packages/specifications/src/gestionnaireRéseau/validerRéférenceDossierRaccordement.feature
  packages/specifications/src/raccordement/modifierRéférenceDemandeComplèteDeRaccordement.feature
Due: eslint --fix

🔥 Suppression scenario sur les espaces et tabulations
  packages/specifications/src/raccordement/transmettreDemandeComplèteDeRaccordement.feature
Due: none

🔥 Suppression scenario sur les espaces et tabulations (#1897)
  packages/specifications/src/raccordement/transmettreDemandeComplèteDeRaccordement.feature
Due: none

♻️ Use an array for CC footer information
  packages/applications/document-builder/src/assets/docx/abandon-modèle-réponse.docx
  packages/applications/document-builder/src/buildDocxDocument/buildDocxDocument.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/modele-reponse/route.ts
Due: eslint --fix

🍱 Add docx document template
  packages/applications/document-builder/src/assets/docx/garanties-financières-mainlevée-modèle-réponse.docx
Due: none

✨ Add document variables
  packages/applications/document-builder/src/assets/docx/garanties-financières-mainlevée-modèle-réponse.docx
  packages/applications/document-builder/src/buildDocxDocument/buildDocxDocument.ts
Due: eslint --fix

✨ Can download document templates
  packages/applications/document-builder/src/assets/docx/garanties-financières-mainlevée-modèle-réponse.docx
  packages/applications/document-builder/src/buildDocxDocument/buildDocxDocument.ts
  packages/applications/routes/src/garanties-financières/garantiesFinancières.routes.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/modele-reponse-mainlevee/route.ts
  packages/applications/ssr/src/components/pages/garanties-financières/mainlevée/accorder/AccorderDemandeMainlevéeGarantiesFinancières.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/mainlevée/rejeter/RejeterDemandeMainleveGarantiesFinancières.tsx
Due: eslint --fix

🔥 Suppression scenario sur les espaces et tabulations (#1897)
  packages/specifications/src/gestionnaireRéseau/validerRéférenceDossierRaccordement.feature
  packages/specifications/src/raccordement/transmettreDemandeComplèteDeRaccordement.feature
Due: none

🔀 Merge 3.24 (#1899)
  packages/applications/legacy/src/modules/project/utils/parseProjectLine.spec.ts
  packages/applications/legacy/src/modules/project/utils/parseProjectLine.ts
  packages/domain/réseau/src/raccordement/référenceDossierRaccordement.valueType.ts
  packages/specifications/src/gestionnaireRéseau/validerRéférenceDossierRaccordement.feature
  packages/specifications/src/raccordement/modifierRéférenceDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/transmettreDemandeComplèteDeRaccordement.feature
Due: eslint --fix

🐛 Add missing date and fix conditionnal block in template
  packages/applications/document-builder/src/assets/docx/garanties-financières-mainlevée-modèle-réponse.docx
  packages/applications/document-builder/src/buildDocxDocument/buildDocxDocument.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/modele-reponse-mainlevee/route.ts
Due: eslint --fix

➕ Add dependency to document-builder application in the ssr app
  package-lock.json
  packages/applications/ssr/package.json
Due: eslint --fix, prettier -w

✨ Introduce parameter estAccordée
  packages/applications/document-builder/src/assets/docx/garanties-financières-mainlevée-modèle-réponse.docx
  packages/applications/document-builder/src/buildDocxDocument/buildDocxDocument.ts
  packages/applications/routes/src/garanties-financières/garantiesFinancières.routes.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/modele-reponse-mainlevee/route.ts
  packages/applications/ssr/src/components/pages/garanties-financières/mainlevée/accorder/AccorderDemandeMainlevéeGarantiesFinancières.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/mainlevée/rejeter/RejeterDemandeMainleveGarantiesFinancières.tsx
Due: eslint --fix

🧑‍💻 Vérifier l'absence d'erreur dans tous les "Alors", hors test d'erreur
  packages/specifications/package.json
  packages/specifications/src/potentiel.world.ts
  packages/specifications/src/setup.ts
Due: eslint --fix, prettier -w

🐛 Paramètres optionnels dans listerProjetForOreAdapter
  packages/infrastructure/domain-adapters/src/projet/listerProjetForOre.adapter.ts
Due: eslint --fix

🧑‍💻 Vérifier l'absence d'erreur dans tous les "Alors", hors test d'erreur (#1901)
  packages/specifications/package.json
  packages/specifications/src/potentiel.world.ts
  packages/specifications/src/setup.ts
Due: eslint --fix, prettier -w

✨ Permettre le téléchargement de modèles de réponse pour l'instruction des mains levées (#1898)
  package-lock.json
  packages/applications/document-builder/src/assets/docx/garanties-financières-mainlevée-modèle-réponse.docx
  packages/applications/document-builder/src/buildDocxDocument/buildDocxDocument.ts
  packages/applications/routes/src/garanties-financières/garantiesFinancières.routes.ts
  packages/applications/ssr/package.json
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/modele-reponse-mainlevee/route.ts
  packages/applications/ssr/src/components/pages/garanties-financières/mainlevée/accorder/AccorderDemandeMainlevéeGarantiesFinancières.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/mainlevée/rejeter/RejeterDemandeMainleveGarantiesFinancières.tsx
Due: eslint --fix, prettier -w

🚩 Suppression de l'application feature flag inutilisable avec le legacy
  package-lock.json
  packages/applications/feature-flags/package.json
  packages/applications/feature-flags/src/index.ts
  packages/applications/feature-flags/tsconfig.json
  packages/applications/legacy/package.json
  packages/applications/legacy/src/views/components/UI/organisms/UserNavigation.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales.tsx
  packages/applications/ssr/package.json
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:transmettre/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/page.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/détails/components/GarantiesFinancièresActuelles.tsx
  packages/domain/lauréat/src/garantiesFinancières/mainlevée/demander/demanderMainlevéeGarantiesFinancières.usecase.ts
Due: eslint --fix, prettier -w

✏️ Correction nom ministère
  packages/applications/legacy/src/views/components/UI/organisms/Footer.tsx
  packages/applications/ssr/src/components/organisms/Footer.tsx
Due: eslint --fix

🧑‍💻 WIP type improvements
  packages/domain/common/src/valueTypes/identifiantProjet.valueType.ts
  packages/domain/core/src/domainEvent.ts
  packages/domain/document/src/documentProjet.valueType.ts
  packages/domain/document/src/dossierProjet.valueType.ts
Due: eslint --fix

✏️ Correction nom ministère (#1904)
  packages/applications/legacy/src/views/components/UI/organisms/Footer.tsx
  packages/applications/ssr/src/components/organisms/Footer.tsx
Due: eslint --fix

🐛 Paramètres optionnels dans listerProjetForOreAdapter (#1905)
  packages/infrastructure/domain-adapters/src/projet/listerProjetForOre.adapter.ts
Due: eslint --fix

🚑️ Désactiver les check de chemin S3 dans le legacy
  packages/applications/legacy/src/infra/file/S3FileStorageService.ts
Due: eslint --fix

🚑️ Désactiver les vérifications de chemin S3 dans le legacy (#1907)
  packages/applications/legacy/src/infra/file/S3FileStorageService.ts
Due: eslint --fix

🧑‍💻 Ajout d'une règle de lint pour l'import `src/*`
  eslint.config.mjs
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/actuelles:modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/depot:modifier/page.tsx
  packages/applications/ssr/src/components/molecules/réseau/gestionnaireRéseau/GestionnaireRéseauListItem.tsx
  packages/applications/ssr/src/components/pages/réseau/gestionnaire/lister/GestionnaireRéseauList.page.tsx
  packages/applications/ssr/src/components/pages/réseau/gestionnaire/modifier/ModifierGestionnaireRéseau.page.tsx
  packages/specifications/src/raccordement/raccordement.world.ts
Due: eslint --fix

🐛 Ne pas afficher la case à cocher mainlevée si pas de garanties financières validées
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:transmettre/page.tsx
Due: eslint --fix

✨ Add message and disable checkbox if not GF validated
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:transmettre/page.tsx
  packages/applications/ssr/src/components/pages/attestation-conformité/FormulaireAttestationConformité.tsx
  packages/applications/ssr/src/components/pages/attestation-conformité/transmettre/transmettreAttestationConformité.page.tsx
Due: eslint --fix

✨ Show warning message if ask for mainlevée is not possible
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:transmettre/page.tsx
  packages/applications/ssr/src/components/pages/attestation-conformité/FormulaireAttestationConformité.tsx
  packages/applications/ssr/src/components/pages/attestation-conformité/modifier/modifierAttestationConformité.page.tsx
  packages/applications/ssr/src/components/pages/attestation-conformité/transmettre/transmettreAttestationConformité.page.tsx
  packages/applications/ssr/src/components/pages/attestation-conformité/transmettre/transmettreAttestationConformité.stories.tsx
Due: eslint --fix

💄 Update warning message
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:transmettre/page.tsx
  packages/applications/ssr/src/components/pages/attestation-conformité/FormulaireAttestationConformité.tsx
Due: eslint --fix

✨ Ouverture de la période 7 de notification de l'appel d'offre PPE2 Eolien
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.eolien.ts
Due: eslint --fix
