Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml,feature}": "prettier -w"
}

♻️ Ajout d'une props actionButtons au composant Form pour uniformiser l'affichage
  packages/applications/ssr/src/components/atoms/form/Form.tsx
  packages/applications/ssr/src/components/molecules/ModalWithForm.tsx
  packages/applications/ssr/src/components/pages/abandon/demander/DemanderAbandon.form.tsx
  packages/applications/ssr/src/components/pages/abandon/transmettrePreuveRecandidature/TransmettrePreuveRecandidature.form.tsx
  packages/applications/ssr/src/components/pages/attestation-conformité/FormulaireAttestationConformité.tsx
  packages/applications/ssr/src/components/pages/candidature/corriger/CorrigerCandidatures.form.tsx
  packages/applications/ssr/src/components/pages/candidature/importer/ImporterCandidatures.form.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/FormulaireGarantiesFinancières.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/actuelles/enregistrerAttestation/EnregistrerAttestationGarantiesFinancières.form.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/actuelles/modifier/ModifierGarantiesFinancièresActuelles.form.tsx
  packages/applications/ssr/src/components/pages/réseau/gestionnaire/ajouter/AjouterGestionnaireRéseau.form.tsx
  packages/applications/ssr/src/components/pages/réseau/gestionnaire/modifier/ModifierGestionnaireRéseau.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/importerDatesMiseEnService/importerDatesMiseEnService.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/modifier/modifierDemandeComplèteRaccordement/ModifierDemandeComplèteRaccordement.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/modifier/modifierGestionnaireRéseauRaccordement/ModifierGestionnaireRéseauRaccordement.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/modifier/modifierPropositionTechniqueEtFinancière/ModifierPropositionTechniqueEtFinancière.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/transmettre/transmettreDateMiseEnService/TransmettreDateMiseEnService.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/transmettre/transmettreDemandeComplèteRaccordement/TransmettreDemandeComplèteRaccordement.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/transmettre/transmettrePropositionTechniqueEtFinancière/TransmettrePropositionTechniqueEtFinancière.form.tsx
Due: eslint --fix

🚚 Renommer GarantiesFinancières.form
  packages/applications/ssr/src/components/pages/garanties-financières/GarantiesFinancières.form.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/actuelles/enregistrer/EnregistrerGarantiesFinancières.page.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/dépôt/modifier/ModifierDépôtEnCoursGarantiesFinancières.page.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/dépôt/soumettre/SoumettreGarantiesFinancières.page.tsx
Due: eslint --fix

🚚 AttestationConformité.form
  packages/applications/ssr/src/components/pages/attestation-conformité/AttestationConformité.form.tsx
  packages/applications/ssr/src/components/pages/attestation-conformité/modifier/modifierAttestationConformité.page.tsx
  packages/applications/ssr/src/components/pages/attestation-conformité/transmettre/transmettreAttestationConformité.page.tsx
Due: eslint --fix

♻️ Simplify long project name case
  packages/applications/ssr/src/app/candidatures/page.tsx
  packages/applications/ssr/src/components/molecules/projet/ProjectListItemHeading.tsx
  packages/applications/ssr/src/components/pages/candidature/lister/CandidatureList.stories.tsx
  packages/applications/ssr/src/components/pages/candidature/lister/CandidatureListItem.tsx
Due: eslint --fix

🎨 Retour de reviews
  packages/applications/ssr/src/components/atoms/form/Form.tsx
  packages/applications/ssr/src/components/molecules/ModalWithForm.tsx
  packages/applications/ssr/src/components/pages/abandon/demander/DemanderAbandon.form.tsx
  packages/applications/ssr/src/components/pages/abandon/transmettrePreuveRecandidature/TransmettrePreuveRecandidature.form.tsx
  packages/applications/ssr/src/components/pages/attestation-conformité/AttestationConformité.form.tsx
  packages/applications/ssr/src/components/pages/candidature/corriger/CorrigerCandidatures.form.tsx
  packages/applications/ssr/src/components/pages/candidature/importer/ImporterCandidatures.form.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/GarantiesFinancières.form.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/actuelles/enregistrerAttestation/EnregistrerAttestationGarantiesFinancières.form.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/actuelles/modifier/ModifierGarantiesFinancièresActuelles.form.tsx
  packages/applications/ssr/src/components/pages/réseau/gestionnaire/ajouter/AjouterGestionnaireRéseau.form.tsx
  packages/applications/ssr/src/components/pages/réseau/gestionnaire/modifier/ModifierGestionnaireRéseau.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/importerDatesMiseEnService/importerDatesMiseEnService.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/modifier/modifierDemandeComplèteRaccordement/ModifierDemandeComplèteRaccordement.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/modifier/modifierGestionnaireRéseauRaccordement/ModifierGestionnaireRéseauRaccordement.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/modifier/modifierPropositionTechniqueEtFinancière/ModifierPropositionTechniqueEtFinancière.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/transmettre/transmettreDateMiseEnService/TransmettreDateMiseEnService.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/transmettre/transmettreDemandeComplèteRaccordement/TransmettreDemandeComplèteRaccordement.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/transmettre/transmettrePropositionTechniqueEtFinancière/TransmettrePropositionTechniqueEtFinancière.form.tsx
Due: eslint --fix

♻️ Uniformiser les boutons d'actions des formulaires (#2116)
  packages/applications/ssr/src/components/atoms/form/Form.tsx
  packages/applications/ssr/src/components/molecules/ModalWithForm.tsx
  packages/applications/ssr/src/components/pages/abandon/demander/DemanderAbandon.form.tsx
  packages/applications/ssr/src/components/pages/abandon/transmettrePreuveRecandidature/TransmettrePreuveRecandidature.form.tsx
  packages/applications/ssr/src/components/pages/attestation-conformité/AttestationConformité.form.tsx
  packages/applications/ssr/src/components/pages/attestation-conformité/modifier/modifierAttestationConformité.page.tsx
  packages/applications/ssr/src/components/pages/attestation-conformité/transmettre/transmettreAttestationConformité.page.tsx
  packages/applications/ssr/src/components/pages/candidature/corriger/CorrigerCandidatures.form.tsx
  packages/applications/ssr/src/components/pages/candidature/importer/ImporterCandidatures.form.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/GarantiesFinancières.form.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/actuelles/enregistrer/EnregistrerGarantiesFinancières.page.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/actuelles/enregistrerAttestation/EnregistrerAttestationGarantiesFinancières.form.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/actuelles/modifier/ModifierGarantiesFinancièresActuelles.form.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/dépôt/modifier/ModifierDépôtEnCoursGarantiesFinancières.page.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/dépôt/soumettre/SoumettreGarantiesFinancières.page.tsx
  packages/applications/ssr/src/components/pages/réseau/gestionnaire/ajouter/AjouterGestionnaireRéseau.form.tsx
  packages/applications/ssr/src/components/pages/réseau/gestionnaire/modifier/ModifierGestionnaireRéseau.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/importerDatesMiseEnService/importerDatesMiseEnService.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/modifier/modifierDemandeComplèteRaccordement/ModifierDemandeComplèteRaccordement.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/modifier/modifierGestionnaireRéseauRaccordement/ModifierGestionnaireRéseauRaccordement.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/modifier/modifierPropositionTechniqueEtFinancière/ModifierPropositionTechniqueEtFinancière.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/transmettre/transmettreDateMiseEnService/TransmettreDateMiseEnService.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/transmettre/transmettreDemandeComplèteRaccordement/TransmettreDemandeComplèteRaccordement.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/transmettre/transmettrePropositionTechniqueEtFinancière/TransmettrePropositionTechniqueEtFinancière.form.tsx
Due: eslint --fix

♻️ Refactor the legend symbols part
  packages/applications/ssr/src/components/molecules/ListLegend.stories.tsx
  packages/applications/ssr/src/components/molecules/ListLegend.tsx
  packages/applications/ssr/src/components/pages/candidature/lister/CandidatureList.page.tsx
  packages/applications/ssr/src/components/pages/candidature/lister/CandidatureListItem.tsx
  packages/applications/ssr/src/components/pages/candidature/lister/candidatureListLegendSymbols.ts
  packages/applications/ssr/src/components/templates/ListPage.template.tsx
Due: eslint --fix

💄 Add a story example with 0 for evaluationCarboneSimplifiée
  packages/applications/ssr/src/components/pages/candidature/lister/CandidatureList.stories.tsx
Due: eslint --fix

✨ Importer un fichier pour corriger les références dossier GRD
  packages/applications/ssr/src/app/reseaux/raccordements/references:corriger/page.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/corriger/CorrigerRéférenceDossier.action.ts
  packages/applications/ssr/src/components/pages/réseau/raccordement/corriger/CorrigerRéférenceDossier.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/corriger/CorrigerRéférenceDossier.page.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/corriger/CorrigerRéférenceDossier.stories.tsx
Due: eslint --fix

🎨 Navigation
  packages/applications/legacy/src/views/components/UI/organisms/UserNavigation.tsx
  packages/applications/routes/src/lauréat/raccordement.routes.ts
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
Due: eslint --fix

fixup! ✨ Importer un fichier pour corriger les références dossier GRD
  packages/applications/ssr/src/components/pages/réseau/raccordement/corriger/CorrigerRéférenceDossier.action.ts
Due: eslint --fix

🎨 Affichage et typo
  packages/applications/ssr/src/components/pages/réseau/raccordement/corriger/CorrigerRéférenceDossier.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/corriger/CorrigerRéférenceDossier.page.tsx
Due: eslint --fix

🎨 Fix regex + success message
  packages/applications/ssr/src/components/pages/réseau/raccordement/corriger/CorrigerRéférenceDossier.action.ts
  packages/applications/ssr/src/components/pages/réseau/raccordement/corriger/CorrigerRéférenceDossier.form.tsx
Due: eslint --fix

🎨 La command déplacer document vérifie que la source / destination sont différents
  packages/applications/ssr/src/components/pages/réseau/raccordement/corriger/CorrigerRéférenceDossier.action.ts
  packages/domain/document/src/dossierProjet.valueType.ts
  packages/domain/document/src/déplacer/déplacerDocument.command.ts
Due: eslint --fix

♻️ Remonter les actions des formulaire au niveau de la page
  packages/applications/ssr/src/app/reseaux/raccordements/importer/action.ts
  packages/applications/ssr/src/app/reseaux/raccordements/importer/page.tsx
  packages/applications/ssr/src/components/atoms/form/Form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/importerDatesMiseEnService/ImporterDatesMiseEnService.page.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/importerDatesMiseEnService/ImporterDatesMiseEnService.stories.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/importerDatesMiseEnService/importerDatesMiseEnService.form.tsx
  packages/applications/ssr/src/utils/formAction.ts
Due: eslint --fix

🎨 Mauvais import
  packages/applications/ssr/src/components/pages/réseau/raccordement/importerDatesMiseEnService/ImporterDatesMiseEnService.page.tsx
Due: eslint --fix

🎨 Forms actions
  packages/applications/ssr/src/components/pages/réseau/raccordement/corriger/CorrigerRéférenceDossier.form.tsx
Due: eslint --fix

✨ Importer un fichier pour corriger les références dossier GRD (#2114)
  packages/applications/legacy/src/views/components/UI/organisms/UserNavigation.tsx
  packages/applications/routes/src/lauréat/raccordement.routes.ts
  packages/applications/ssr/src/app/reseaux/raccordements/references:corriger/page.tsx
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/corriger/CorrigerRéférenceDossier.action.ts
  packages/applications/ssr/src/components/pages/réseau/raccordement/corriger/CorrigerRéférenceDossier.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/corriger/CorrigerRéférenceDossier.page.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/corriger/CorrigerRéférenceDossier.stories.tsx
  packages/domain/document/src/dossierProjet.valueType.ts
  packages/domain/document/src/déplacer/déplacerDocument.command.ts
Due: eslint --fix

🔊 Add warning if no appel offres found
  packages/applications/ssr/src/app/candidatures/page.tsx
Due: eslint --fix

💄 Revue de l'affichage de la liste des candidatures (#2113)
  packages/applications/ssr/src/app/candidatures/page.tsx
  packages/applications/ssr/src/components/molecules/ListLegend.stories.tsx
  packages/applications/ssr/src/components/molecules/ListLegend.tsx
  packages/applications/ssr/src/components/molecules/projet/ProjectListItemHeading.tsx
  packages/applications/ssr/src/components/pages/candidature/lister/CandidatureList.page.tsx
  packages/applications/ssr/src/components/pages/candidature/lister/CandidatureList.stories.tsx
  packages/applications/ssr/src/components/pages/candidature/lister/CandidatureListItem.tsx
  packages/applications/ssr/src/components/pages/candidature/lister/candidatureListLegendSymbols.ts
  packages/applications/ssr/src/components/templates/ListPage.template.tsx
  packages/applications/ssr/tailwind.config.ts
Due: eslint --fix

♻️ Retirer régionDreal de withUtilisateur
  packages/applications/ssr/src/app/abandons/page.tsx
  packages/applications/ssr/src/app/garanties-financieres/demandes-mainlevee-en-cours/page.tsx
  packages/applications/ssr/src/app/garanties-financieres/depots-en-cours/page.tsx
  packages/applications/ssr/src/app/garanties-financieres/projets-en-attente/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/depot:modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/helpers/getDépôtActions.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/helpers/getGarantiesFinancièresActuellesActions.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/helpers/getHistoriqueMainlevéeRejetéesActions.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/helpers/getMainlevéeActions.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/modele-mise-en-demeure/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/modele-reponse-mainlevee/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/page.tsx
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
  packages/applications/ssr/src/components/molecules/UserHeaderQuickAccessItem.tsx
  packages/applications/ssr/src/utils/getAuthenticatedUser.handler.ts
  packages/applications/ssr/src/utils/withUtilisateur.ts
Due: eslint --fix

✨ Filtrer les candidatures par période d'un appel d'offres
  packages/applications/projectors/src/subscribers/candidature/candidature.projector.ts
  packages/applications/ssr/src/app/candidatures/page.tsx
  packages/domain/candidature/src/candidature.entity.ts
  packages/domain/candidature/src/lister/listerCandidatures.query.ts
Due: eslint --fix

✨ Filtrer les candidatures par période d'un appel d'offres (#2120)
  packages/applications/projectors/src/subscribers/candidature/candidature.projector.ts
  packages/applications/ssr/src/app/candidatures/page.tsx
  packages/domain/candidature/src/candidature.entity.ts
  packages/domain/candidature/src/lister/listerCandidatures.query.ts
Due: eslint --fix

♻️ Refactor getRégionUtilisateur
  packages/applications/ssr/src/app/abandons/page.tsx
  packages/applications/ssr/src/app/garanties-financieres/demandes-mainlevee-en-cours/page.tsx
  packages/applications/ssr/src/app/garanties-financieres/depots-en-cours/page.tsx
  packages/applications/ssr/src/app/garanties-financieres/projets-en-attente/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/modele-mise-en-demeure/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/modele-reponse-mainlevee/route.ts
  packages/applications/ssr/src/utils/getRégionUtilisateur.ts
Due: eslint --fix

♻️ Retirer régionDreal de withUtilisateur (#2119)
  packages/applications/ssr/src/app/abandons/page.tsx
  packages/applications/ssr/src/app/garanties-financieres/demandes-mainlevee-en-cours/page.tsx
  packages/applications/ssr/src/app/garanties-financieres/depots-en-cours/page.tsx
  packages/applications/ssr/src/app/garanties-financieres/projets-en-attente/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/depot:modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/helpers/getDépôtActions.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/helpers/getGarantiesFinancièresActuellesActions.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/helpers/getHistoriqueMainlevéeRejetéesActions.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/helpers/getMainlevéeActions.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/modele-mise-en-demeure/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/modele-reponse-mainlevee/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/page.tsx
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
  packages/applications/ssr/src/components/molecules/UserHeaderQuickAccessItem.tsx
  packages/applications/ssr/src/utils/getAuthenticatedUser.handler.ts
  packages/applications/ssr/src/utils/getRégionUtilisateur.ts
  packages/applications/ssr/src/utils/withUtilisateur.ts
Due: eslint --fix

🚧 Start implmenting a command to rectify a document
  packages/applications/ssr/src/components/organisms/corrigerDocument/corrigerDocument.action.ts
  packages/domain/document/src/corriger/corrigerDocument.command.ts
  packages/domain/document/src/index.ts
  packages/domain/document/src/register.ts
Due: eslint --fix

♻️ Implémentation de la commande CorrigerDocumentProjet
  packages/applications/bootstrap/src/setupDocumentProjet.ts
  packages/applications/ssr/src/components/organisms/corrigerDocument/CorrigerDocument.form.tsx
  packages/applications/ssr/src/components/organisms/corrigerDocument/corrigerDocument.action.ts
  packages/applications/ssr/src/components/pages/garanties-financières/détails/components/HistoriqueMainlevéeRejetée.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/détails/components/MainlevéeEnCours.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/mainlevée/corrigerRéponseSignée/CorrigerRéponseSignée.form.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/mainlevée/corrigerRéponseSignée/CorrigerRéponseSignée.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/mainlevée/corrigerRéponseSignée/corrigerRéponseSignée.action.ts
  packages/domain/document/src/corriger/corrigerDocumentProjet.command.ts
  packages/domain/document/src/index.ts
  packages/domain/document/src/register.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/infrastructure/domain-adapters/src/document/document.adapter.ts
Due: eslint --fix

♻️ Ne pas importer directement des fonctions depuis `@potentiel-libraries/file-storage` (#2122)
  packages/applications/bootstrap/src/setupDocumentProjet.ts
  packages/applications/ssr/src/components/organisms/corrigerDocument/CorrigerDocument.form.tsx
  packages/applications/ssr/src/components/organisms/corrigerDocument/corrigerDocument.action.ts
  packages/applications/ssr/src/components/pages/garanties-financières/détails/components/HistoriqueMainlevéeRejetée.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/détails/components/MainlevéeEnCours.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/mainlevée/corrigerRéponseSignée/CorrigerRéponseSignée.form.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/mainlevée/corrigerRéponseSignée/CorrigerRéponseSignée.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/mainlevée/corrigerRéponseSignée/corrigerRéponseSignée.action.ts
  packages/domain/document/src/corriger/corrigerDocumentProjet.command.ts
  packages/domain/document/src/index.ts
  packages/domain/document/src/register.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/infrastructure/domain-adapters/src/document/document.adapter.ts
Due: eslint --fix

🌱 Update du dump DB avec imports candidatures
  .database/potentiel-dev.dump
Due: none

🌱 Update du dump DB avec imports candidatures (#2123)
  .database/potentiel-dev.dump
Due: none

♻️ Mise à jour structure read model + ajout fonction de map
  packages/domain/lauréat/src/abandon/consulter/consulterAbandon.query.ts
  packages/specifications/src/projet/lauréat/abandon/accorderAbandon.feature
Due: eslint --fix, prettier -w

🧪 Failing cas nominal + harmonisation wording steps
  packages/specifications/src/raccordement/modifierDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/modifierGestionnaireRéseauRaccordement.feature
  packages/specifications/src/raccordement/modifierPropositionTechniqueEtFinancière.feature
  packages/specifications/src/raccordement/modifierRéférenceDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/stepDefinitions/raccordement.given.ts
  packages/specifications/src/raccordement/stepDefinitions/raccordement.then.ts
  packages/specifications/src/raccordement/stepDefinitions/raccordement.when.ts
  packages/specifications/src/raccordement/supprimerDossierRaccordement.feature
  packages/specifications/src/raccordement/transmettreDateMiseEnService.feature
  packages/specifications/src/raccordement/transmettrePropositionTechniqueEtFinancière.feature
Due: eslint --fix, prettier -w

🧪 Add failing tests
  packages/specifications/src/raccordement/supprimerDossierRaccordement.feature
Due: prettier -w

✅ Un utilisateur autorisé supprime un dossier du raccordement d'un projet
  packages/applications/bootstrap/src/setupRéseau.ts
  packages/applications/projectors/src/subscribers/réseau/raccordement.projector.ts
  packages/domain/réseau/src/raccordement/dossier/supprimer/supprimerDossierDuRaccordement.behavior.ts
  packages/domain/réseau/src/raccordement/dossier/supprimer/supprimerDossierDuRaccordement.command.ts
  packages/domain/réseau/src/raccordement/dossier/supprimer/supprimerDossierDuRaccordement.usecase.ts
  packages/domain/réseau/src/raccordement/index.ts
  packages/domain/réseau/src/raccordement/raccordement.aggregate.ts
  packages/domain/réseau/src/raccordement/raccordement.register.ts
  packages/specifications/src/raccordement/modifierDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/modifierGestionnaireRéseauRaccordement.feature
  packages/specifications/src/raccordement/modifierRéférenceDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/stepDefinitions/raccordement.then.ts
  packages/specifications/src/raccordement/stepDefinitions/raccordement.when.ts
  packages/specifications/src/raccordement/supprimerDossierRaccordement.feature
Due: eslint --fix, prettier -w

✅ Impossible de supprimer un dossier du raccordement d'un projet pour un rôle non autorisé
  packages/domain/réseau/src/raccordement/dossier/supprimer/supprimerDossierDuRaccordement.behavior.ts
  packages/specifications/src/raccordement/supprimerDossierRaccordement.feature
Due: eslint --fix, prettier -w

✅ Impossible de supprimer un dossier non référencé dans le raccordement du projet
  packages/domain/réseau/src/raccordement/dossier/supprimer/supprimerDossierDuRaccordement.behavior.ts
  packages/domain/réseau/src/raccordement/dossierNonRéférencéPourLeRaccordementDuProjet.error.ts
  packages/domain/réseau/src/raccordement/dossierRaccordementNonRéférencé.error.ts
  packages/domain/réseau/src/raccordement/modifier/modifierPropositiontechniqueEtFinancière.behavior.ts
  packages/domain/réseau/src/raccordement/raccordement.aggregate.ts
  packages/domain/réseau/src/raccordement/transmettre/transmettreDateMiseEnService.behavior.ts
  packages/domain/réseau/src/raccordement/transmettre/transmettrePropositionTechniqueEtFinancière.behavior.ts
  packages/specifications/src/raccordement/modifierDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/modifierPropositionTechniqueEtFinancière.feature
  packages/specifications/src/raccordement/modifierRéférenceDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/stepDefinitions/raccordement.then.ts
  packages/specifications/src/raccordement/supprimerDossierRaccordement.feature
  packages/specifications/src/raccordement/transmettreDateMiseEnService.feature
  packages/specifications/src/raccordement/transmettrePropositionTechniqueEtFinancière.feature
Due: eslint --fix, prettier -w

✅ Impossible de supprimer un dossier ayant déjà une date de mise en service
  packages/domain/réseau/src/raccordement/dossier/supprimer/supprimerDossierDuRaccordement.behavior.ts
  packages/specifications/src/raccordement/supprimerDossierRaccordement.feature
Due: eslint --fix, prettier -w

✅ Then doit vérifier que la data est updaté / supprimé dans projection 'raccordement' et 'dossier-raccordement'
  packages/applications/projectors/src/subscribers/réseau/raccordement.projector.ts
  packages/specifications/src/raccordement/stepDefinitions/raccordement.then.ts
  packages/specifications/src/raccordement/supprimerDossierDuRaccordement.feature
Due: eslint --fix, prettier -w

🎨 Front end + amélioration de la page raccordement
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/page.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/détails/AucunDossierDeRaccordement.page.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/détails/DétailsRaccordement.page.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/détails/DétailsRaccordement.stories.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/détails/components/DossierRaccordement.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/détails/components/ModifierGestionnaireRéseauDuRaccordement.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/détails/supprimerDossierDuRaccordement.action.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix
