Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml,feature}": "prettier -w"
}

🎨 Raccourcissement periode
  packages/domain/inmemory-referential/src/appelOffre/PPE2/eolien.ppe2.ts
Due: eslint --fix

🎨 Fix: legacy
  packages/applications/legacy/src/controllers/project/getProjectPage/index.ts
Due: eslint --fix

🎨 Simplification regles eolien actionnaire
  packages/domain/projet/src/lauréat/actionnaire/actionnaire.aggregate.ts
  packages/domain/projet/src/lauréat/actionnaire/instructionChangementActionnaire.valueType.ts
Due: eslint --fix

🎨 Naming
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
Due: eslint --fix

🎨 Type
  packages/domain/appel-offre/src/appelOffre.entity.ts
Due: eslint --fix

🎨 Simplification ao
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole2016.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI2017.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/batiment.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/eolien.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/fessenheim.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/innovation.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/pvEolien.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/sol.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni2017.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/autoconsommationMetropole.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/batiment.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/eolien.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/innovation.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/neutre.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/petitPV.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/sol.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/zni.ppe2.ts
Due: eslint --fix

🎨 Test
  packages/domain/projet/src/lauréat/actionnaire/actionnaire.aggregate.ts
  packages/domain/projet/src/lauréat/actionnaire/errors.ts
Due: eslint --fix

🎨 Fix: test sauf 1
  packages/applications/legacy/src/controllers/project/getProjectPage/index.ts
  packages/specifications/src/projet/lauréat/actionnaire/accorderChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/annulerChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/enregistrerChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/modifierActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/rejeterChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/supprimerChangementActionnaire.feature
Due: eslint --fix, prettier -w

🎨 Correction test et review ben
  packages/applications/notifications/src/subscribers/lauréat/tâche-planifiée/représentantLégalRappelInstructionÀDeuxMois.notification.ts
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/eolien.cre4.ts
  packages/domain/projet/src/lauréat/actionnaire/actionnaire.aggregate.ts
  packages/domain/projet/src/lauréat/actionnaire/errors.ts
  packages/domain/projet/src/lauréat/représentantLégal/saga/tâchePlanifiéeGestionAutomatiqueDemandeChangementExecutée.saga.ts
  packages/specifications/src/projet/lauréat/actionnaire/accorderChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/annulerChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/demanderChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/enregistrerChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/modifierActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/rejeterChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/supprimerChangementActionnaire.feature
Due: eslint --fix, prettier -w

🎨 Test fixed
  packages/domain/inmemory-referential/src/appelOffre/CRE4/eolien.cre4.ts
  packages/domain/projet/src/lauréat/actionnaire/actionnaire.aggregate.ts
  packages/specifications/src/projet/lauréat/actionnaire/enregistrerChangementActionnaire.feature
Due: eslint --fix, prettier -w

🎨 Pratique
  packages/specifications/src/projet/lauréat/actionnaire/accorderChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/annulerChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/demanderChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/enregistrerChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/modifierActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/rejeterChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/supprimerChangementActionnaire.feature
Due: prettier -w

🎨 Refonte RL
  packages/applications/notifications/src/subscribers/lauréat/tâche-planifiée/représentantLégalRappelInstructionÀDeuxMois.notification.ts
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole2016.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI2017.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/batiment.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/eolien.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/fessenheim.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/innovation.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/pvEolien.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/sol.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni2017.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/autoconsommationMetropole.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/batiment.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/eolien.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/innovation.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/neutre.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/sol.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/zni.ppe2.ts
  packages/domain/projet/src/lauréat/représentantLégal/saga/tâchePlanifiéeGestionAutomatiqueDemandeChangementExecutée.saga.ts
Due: eslint --fix

🎨 Naming test
  packages/specifications/src/projet/lauréat/fournisseur/enregistrerChangementFournisseur.feature
Due: prettier -w

🎨 Type review
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole2016.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI2017.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/batiment.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/eolien.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/fessenheim.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/innovation.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/pvEolien.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/sol.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni2017.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/autoconsommationMetropole.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/batiment.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/eolien.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/innovation.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/neutre.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/petitPV.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/sol.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/zni.ppe2.ts
  packages/domain/projet/src/lauréat/actionnaire/actionnaire.aggregate.ts
  packages/domain/projet/src/lauréat/fournisseur/fournisseur.aggregate.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
  packages/domain/projet/src/lauréat/producteur/producteur.aggregate.ts
  packages/domain/projet/src/lauréat/puissance/puissance.aggregate.ts
Due: eslint --fix

🎨 Plus lisible
  packages/domain/projet/src/lauréat/actionnaire/actionnaire.aggregate.ts
  packages/domain/projet/src/lauréat/fournisseur/fournisseur.aggregate.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
  packages/domain/projet/src/lauréat/producteur/producteur.aggregate.ts
  packages/domain/projet/src/lauréat/puissance/puissance.aggregate.ts
Due: eslint --fix

🎨 Utilisation de path relative
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(demande-complète-raccordement)/demande-complete-raccordement:modifier/ModifierDemandeComplèteRaccordement.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/page.tsx
  packages/applications/ssr/src/app/reseaux/raccordements/importer/ImporterDatesMiseEnService.form.tsx
Due: eslint --fix

✨ Avoir toutes les dates d'achèvement prévisionnel à midi
  packages/applications/cli/src/commands/achevement/migrer-date-achevement-previsionnel-actuelle.ts
  packages/domain/common/src/valueTypes/dateTime.valueType.ts
  packages/domain/projet/src/lauréat/achèvement/dateAchèvementPrévisionnel.valueType.ts
  packages/specifications/src/projet/lauréat/achèvement/stepDefinitions/achèvement.then.ts
Due: eslint --fix

✨ Avoir toutes les dates d'achèvement prévisionnel à midi (#3325)
  packages/applications/cli/src/commands/achevement/migrer-date-achevement-previsionnel-actuelle.ts
  packages/domain/common/src/valueTypes/dateTime.valueType.ts
  packages/domain/projet/src/lauréat/achèvement/dateAchèvementPrévisionnel.valueType.ts
  packages/specifications/src/projet/lauréat/achèvement/stepDefinitions/achèvement.then.ts
Due: eslint --fix

🎨 WIP representant legal
  packages/domain/projet/src/lauréat/représentantLégal/changement/enregistreChangement/enregistrerChangementReprésentantLégal.command.ts
  packages/domain/projet/src/lauréat/représentantLégal/changement/enregistreChangement/enregistrerChangementReprésentantLégal.options.ts
  packages/domain/projet/src/lauréat/représentantLégal/changement/enregistreChangement/enregistrerChangementReprésentantLégal.usecase.ts
  packages/domain/projet/src/lauréat/représentantLégal/représentantLégal.aggregate.ts
  packages/domain/projet/src/lauréat/représentantLégal/représentantLégal.register.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/demanderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/enregistrerChangementReprésentantLégal.feature
Due: eslint --fix, prettier -w

🎨 Fin specs, projection, notifs
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getReprésentantLégal.ts
  packages/applications/notifications/src/subscribers/lauréat/producteur/changementProducteurEnregistré.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/changementReprésentantLégalCorrigé.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/changementReprésentantLégalEnregistré.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/constant.ts
  packages/applications/notifications/src/subscribers/lauréat/tâche-planifiée/représentantLégalRappelInstructionÀDeuxMois.notification.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/changement/changementReprésentantLégalEnregistré.projector.ts
  packages/applications/routes/src/lauréat/représentantLégal.routes.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/DétailsChangementReprésentantLégal.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/corriger/corrigerChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/demander/demanderChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/app/laureats/changements/representant-legal/ChangementReprésentantLégalListItem.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/représentant-légal/events/index.ts
  packages/applications/ssr/src/utils/historique/mapToProps/représentant-légal/events/mapToChangementReprésentantLégalEnregistréTimelineItemsProps.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/représentant-légal/mapToReprésentantLégalTimelineItemProps.tsx
  packages/domain/projet/src/lauréat/représentantLégal/changement/statutChangementReprésentantLégal.valueType.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/demanderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/enregistrerChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changemementReprésentantLégal.when.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.then.ts
Due: eslint --fix, prettier -w

🎨 Projector
  packages/applications/bootstrap/src/setupProjet/setupLauréat/setupReprésentantLégal.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/changement/changementReprésentantLégalEnregistré.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/StatutChangementReprésentantLégalBadge.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/représentant-légal/mapToReprésentantLégalTimelineItemProps.tsx
  packages/domain/projet/src/lauréat/actionnaire/statutChangementActionnaire.valueType.ts
  packages/domain/projet/src/lauréat/représentantLégal/changement/statutChangementReprésentantLégal.valueType.ts
  packages/domain/projet/src/lauréat/représentantLégal/index.ts
  packages/domain/projet/src/lauréat/représentantLégal/représentantLégal.event.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/changementReprésentantLégal.world.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/fixtures/demanderChangementReprésentantLégal.fixture.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changemementReprésentantLégal.when.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.given.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.then.ts
  packages/specifications/src/projet/lauréat/représentant-légal/représentantLégal.world.ts
Due: eslint --fix

✨ Test ok, fixed aggregate
  packages/applications/bootstrap/src/setupProjet/setupLauréat/setupReprésentantLégal.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/changementReprésentantLégalEnregistré.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/index.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/changement/changementReprésentantLégalEnregistré.projector.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/DétailsChangementReprésentantLégal.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/StatutChangementReprésentantLégalBadge.tsx
  packages/domain/projet/src/lauréat/représentantLégal/représentantLégal.aggregate.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/enregistrerChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/fixtures/demanderChangementReprésentantLégal.fixture.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changemementReprésentantLégal.when.ts
  packages/specifications/src/projet/lauréat/représentant-légal/représentantLégal.world.ts
Due: eslint --fix, prettier -w

✨ PoC démarches simplifiées import candidature
  package-lock.json
  packages/applications/ssr/package.json
  packages/applications/ssr/src/app/candidatures/importer/ImporterDémarches.page.tsx
  packages/applications/ssr/src/app/candidatures/importer/ds/ImporterDémarches.form.tsx
  packages/applications/ssr/src/app/candidatures/importer/ds/ImporterDémarches.page.tsx
  packages/applications/ssr/src/app/candidatures/importer/ds/importerDémarches.action.ts
  packages/applications/ssr/src/app/candidatures/importer/ds/page.tsx
  packages/applications/ssr/src/utils/candidature/candidature.schema.ts
  packages/applications/ssr/src/utils/candidature/candidatureFields.schema.ts
  packages/applications/ssr/tsconfig.json
  packages/infrastructure/ds-api-client/codegen.ts
  packages/infrastructure/ds-api-client/package.json
  packages/infrastructure/ds-api-client/src/fragments/Address.graphql
  packages/infrastructure/ds-api-client/src/fragments/Champ.graphql
  packages/infrastructure/ds-api-client/src/fragments/File.graphql
  packages/infrastructure/ds-api-client/src/graphql/client.ts
  packages/infrastructure/ds-api-client/src/graphql/index.ts
  packages/infrastructure/ds-api-client/src/index.ts
  packages/infrastructure/ds-api-client/src/queries/GetDossier.graphql
  packages/infrastructure/ds-api-client/src/test.ts
  packages/infrastructure/ds-api-client/src/types.ts
  packages/infrastructure/ds-api-client/tsconfig.json
Due: eslint --fix, prettier -w

✨ Importer plusieurs dossiers sur une démarche
  package-lock.json
  packages/applications/ssr/src/app/candidatures/importer/ds/ImporterDémarches.form.tsx
  packages/applications/ssr/src/app/candidatures/importer/ds/importerDémarches.action.ts
  packages/infrastructure/ds-api-client/src/graphql/client.ts
  packages/infrastructure/ds-api-client/src/index.ts
  packages/infrastructure/ds-api-client/src/queries/GetDémarche.graphql
Due: eslint --fix, prettier -w

🎨 Petites corrections
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/changement/changementReprésentantLégalEnregistré.projector.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/demanderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/enregistrerChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/représentantLégal.world.ts
Due: eslint --fix, prettier -w

🎨 Client DS
  .gitignore
  packages/infrastructure/ds-api-client/codegen.ts
  packages/infrastructure/ds-api-client/src/graphql/client.ts
  packages/infrastructure/ds-api-client/src/test.ts
Due: eslint --fix

🚨 Fix linter
  eslint.config.mjs
Due: none

Ajout .env
  packages/applications/ssr/.env.template
Due: none

🎨 Review
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/DétailsChangementReprésentantLégal.page.tsx
  packages/specifications/src/projet/lauréat/représentant-légal/changement/changementReprésentantLégal.world.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.then.ts
Due: eslint --fix

✨Domaine information enregistrée représentant légal (#3324)
  packages/applications/bootstrap/src/setupProjet/setupLauréat/setupReprésentantLégal.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getReprésentantLégal.ts
  packages/applications/notifications/src/subscribers/lauréat/producteur/changementProducteurEnregistré.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/changementReprésentantLégalCorrigé.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/changementReprésentantLégalEnregistré.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/constant.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/index.ts
  packages/applications/notifications/src/subscribers/lauréat/tâche-planifiée/représentantLégalRappelInstructionÀDeuxMois.notification.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/changement/changementReprésentantLégalEnregistré.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/index.ts
  packages/applications/routes/src/lauréat/représentantLégal.routes.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/DétailsChangementReprésentantLégal.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/StatutChangementReprésentantLégalBadge.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/corriger/corrigerChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/demander/demanderChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/app/laureats/changements/representant-legal/ChangementReprésentantLégalListItem.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/représentant-légal/events/index.ts
  packages/applications/ssr/src/utils/historique/mapToProps/représentant-légal/events/mapToChangementReprésentantLégalEnregistréTimelineItemsProps.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/représentant-légal/mapToReprésentantLégalTimelineItemProps.tsx
  packages/domain/projet/src/lauréat/actionnaire/statutChangementActionnaire.valueType.ts
  packages/domain/projet/src/lauréat/représentantLégal/changement/enregistreChangement/enregistrerChangementReprésentantLégal.command.ts
  packages/domain/projet/src/lauréat/représentantLégal/changement/enregistreChangement/enregistrerChangementReprésentantLégal.options.ts
  packages/domain/projet/src/lauréat/représentantLégal/changement/enregistreChangement/enregistrerChangementReprésentantLégal.usecase.ts
  packages/domain/projet/src/lauréat/représentantLégal/changement/statutChangementReprésentantLégal.valueType.ts
  packages/domain/projet/src/lauréat/représentantLégal/index.ts
  packages/domain/projet/src/lauréat/représentantLégal/représentantLégal.aggregate.ts
  packages/domain/projet/src/lauréat/représentantLégal/représentantLégal.event.ts
  packages/domain/projet/src/lauréat/représentantLégal/représentantLégal.register.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/changementReprésentantLégal.world.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/demanderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/enregistrerChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/fixtures/demanderChangementReprésentantLégal.fixture.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changemementReprésentantLégal.when.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.given.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.then.ts
  packages/specifications/src/projet/lauréat/représentant-légal/représentantLégal.world.ts
Due: eslint --fix, prettier -w

🔥 Simplification de l'aggrégat Recours
  packages/domain/projet/src/éliminé/recours/recours.aggregate.ts
Due: eslint --fix

🎨 Déplacement de la route liste des demandes d'abandon en /changements/abandon
  packages/applications/routes/src/lauréat/abandon.routes.ts
  packages/applications/ssr/src/app/laureats/changements/abandon/AbandonList.page.tsx
  packages/applications/ssr/src/app/laureats/changements/abandon/AbandonListItem.tsx
  packages/applications/ssr/src/app/laureats/changements/abandon/page.tsx
Due: eslint --fix

♻️ Introduction d'un ValueType CahierDesCharges
  packages/applications/document-builder/src/candidature/attestation/helpers/getDélaiDeRéalisation.ts
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/appel-offre/src/appelOffre.ts
  packages/domain/appel-offre/src/cahierDesCharges.valueType.ts
  packages/domain/appel-offre/src/référenceCahierDesCharges.valueType.ts
  packages/domain/projet/src/candidature/candidature.aggregate.ts
  packages/domain/projet/src/lauréat/abandon/abandon.aggregate.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.aggregate.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
  packages/domain/projet/src/lauréat/lauréat.error.ts
  packages/domain/projet/src/lauréat/puissance/puissance.aggregate.ts
  packages/domain/projet/src/lauréat/puissance/valueType/ratioChangementPuissance.valueType.ts
  packages/domain/projet/src/projet.aggregateRoot.ts
  packages/domain/projet/src/éliminé/recours/recours.aggregate.ts
  packages/domain/projet/src/éliminé/recours/recours.error.ts
  packages/specifications/src/projet/éliminé/recours/demanderRecours.feature
Due: eslint --fix, prettier -w

♻️ Changement puissance form
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/demander/DemanderChangementPuissance.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/demander/DemanderChangementPuissance.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/demander/DemanderChangementPuissanceFormErrors.tsx
Due: eslint --fix
