Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml,feature}": "prettier -w"
}

🚧 Wip
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getReprésentantLégal.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/changement/changementReprésentantLégalAccordé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/changement/changementReprésentantLégalAnnulé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/changement/changementReprésentantLégalDemandé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/changement/changementReprésentantLégalRejeté.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/changement/changementReprésentantLégalSupprimé.projector.ts
  packages/domain/lauréat/src/représentantLégal/représentantLégal.entity.ts
Due: eslint --fix

♻️ No usage of listProjection in legacy and notification app
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getReprésentantLégal.ts
  packages/applications/notifications/src/subscribers/lauréat/tâche-planifiée/handleReprésentantLégalRappelInstructionÀDeuxMois.ts
  packages/domain/lauréat/src/représentantLégal/consulter/consulterReprésentantLégal.query.ts
Due: eslint --fix

🎨 Quelques changements
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales/InfoActionnaire.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales/index.tsx
Due: eslint --fix

🎨 Hop
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales/InfoActionnaire.tsx
Due: eslint --fix

🎨 Amélioration affichage actionnaire si actionnaire vide (#2658)
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales/InfoActionnaire.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales/index.tsx
Due: eslint --fix

🐛 Fix: url for success box ssr (#2657)
  packages/applications/legacy/src/views/components/UI/molecules/Alertes/SuccessBox.tsx
  packages/applications/ssr/src/components/atoms/form/FormSuccessAlert.tsx
  packages/applications/ssr/src/components/pages/réseau/gestionnaire/ajouter/ajouterGestionnaireRéseau.action.ts
  packages/applications/ssr/src/components/pages/réseau/raccordement/corriger-par-lot/corrigerRéférencesDossier.action.ts
  packages/applications/ssr/src/components/pages/réseau/raccordement/corriger/corrigerRéférenceDossier.action.ts
Due: eslint --fix

✅ Update tests mapToExpected and adjust projectors
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/changement/changementReprésentantLégalAccordé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/changement/changementReprésentantLégalAnnulé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/changement/changementReprésentantLégalRejeté.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/changement/changementReprésentantLégalSupprimé.projector.ts
  packages/specifications/src/projet/lauréat/représentant-légal/représentantLégal.world.ts
Due: eslint --fix

🐛 Add missing hidden input
  packages/applications/ssr/src/components/pages/représentant-légal/changement/détails/DétailsChangementReprésentantLégal.page.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/détails/accorder/AccorderChangementReprésentantLégal.form.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/détails/rejeter/RejeterChangementReprésentantLégal.form.tsx
Due: eslint --fix

✏️ Change log messages
  packages/applications/notifications/src/subscribers/lauréat/tâche-planifiée/handleReprésentantLégalRappelInstructionÀDeuxMois.ts
Due: eslint --fix

♻️ Rename function
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getReprésentantLégal.ts
Due: eslint --fix

🔊 Update logs to error
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/changement/changementReprésentantLégalAccordé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/changement/changementReprésentantLégalAnnulé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/changement/changementReprésentantLégalRejeté.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/changement/changementReprésentantLégalSupprimé.projector.ts
Due: eslint --fix

✨ Lister toutes les demandes de changement de représentant légal (demandée/accordée/rejetée) (#2653)
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getReprésentantLégal.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/Contact.tsx
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/changementReprésentantLégalDemandé.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/tâche-planifiée/handleReprésentantLégalRappelInstructionÀDeuxMois.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/changement/changementReprésentantLégalAccordé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/changement/changementReprésentantLégalAnnulé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/changement/changementReprésentantLégalDemandé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/changement/changementReprésentantLégalRejeté.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/changement/changementReprésentantLégalSupprimé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/rebuildTriggered.projector.ts
  packages/applications/routes/src/lauréat/représentantLégal.routes.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/demander/page.tsx
  packages/applications/ssr/src/app/laureats/changements/representant-legal/page.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/demander/demanderChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/components/pages/représentant-légal/changement/détails/DétailsChangementReprésentantLégal.page.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/détails/accorder/AccorderChangementReprésentantLégal.form.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/détails/accorder/accorderChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/components/pages/représentant-légal/changement/détails/rejeter/RejeterChangementReprésentantLégal.form.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/détails/rejeter/rejeterChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/components/pages/représentant-légal/lister/ChangementReprésentantLégalList.stories.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/lister/ChangementReprésentantLégalListItem.tsx
  packages/domain/lauréat/src/représentantLégal/changement/consulter/consulterChangementReprésentantLégal.query.ts
  packages/domain/lauréat/src/représentantLégal/changement/lister/listerChangementReprésentantLégal.query.ts
  packages/domain/lauréat/src/représentantLégal/consulter/consulterReprésentantLégal.query.ts
  packages/domain/lauréat/src/représentantLégal/représentantLégal.entity.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/demanderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.then.ts
  packages/specifications/src/projet/lauréat/représentant-légal/représentantLégal.world.ts
Due: eslint --fix, prettier -w

🎨 Forgot to block front
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getActionnaire.ts
Due: eslint --fix

💚 Fix: build
  packages/applications/legacy/src/controllers/project/getProjectPage/index.ts
Due: eslint --fix

🎨 Bloquer le front si abandon / achevement ETQ PP (#2659)
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getActionnaire.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/index.ts
Due: eslint --fix

🎨 Notification différente si l'administration corriger avant accord de la demande de changement de représentant légal
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/changementReprésentantLégalAccordé.notification.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/accorderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changemementReprésentantLégal.when.ts
Due: eslint --fix, prettier -w

Update packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changemementReprésentantLégal.when.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changemementReprésentantLégal.when.ts
Due: eslint --fix

🔀 Fix after rebase
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/changementReprésentantLégalAccordé.notification.ts
Due: eslint --fix

✅ Update scenario data
  packages/specifications/src/projet/lauréat/représentant-légal/changement/accorderChangementReprésentantLégal.feature
Due: prettier -w

🐛 Add missing sendEmail for porteurs when automatically agreed
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/changementReprésentantLégalAccordé.notification.ts
Due: eslint --fix

🎨 Notification différente si l'administration corrige avant accord de la demande de changement de représentant légal (#2652)
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/changementReprésentantLégalAccordé.notification.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/accorderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changemementReprésentantLégal.when.ts
Due: eslint --fix, prettier -w

✅ Un porteur corrige sa demande de changement de représentant légal
  packages/applications/bootstrap/src/setupLauréat.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/handleChangementReprésentantLégalCorrigé.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/index.ts
  packages/domain/lauréat/src/représentantLégal/changement/corriger/corrigerChangementReprésentantLégal.behavior.ts
  packages/domain/lauréat/src/représentantLégal/changement/corriger/corrigerChangementReprésentantLégal.command.ts
  packages/domain/lauréat/src/représentantLégal/changement/corriger/corrigerChangementReprésentantLégal.usecase.ts
  packages/domain/lauréat/src/représentantLégal/index.ts
  packages/domain/lauréat/src/représentantLégal/représentantLégal.aggregate.ts
  packages/domain/lauréat/src/représentantLégal/représentantLégal.register.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/changementReprésentantLégal.world.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/corrigerChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/fixtures/corrigerChangementReprésentantLégal.fixture.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changemementReprésentantLégal.when.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.then.ts
Due: eslint --fix, prettier -w

✅ Impossible de corriger une demande de changement de représentant légal d'un projet lauréat si aucun changement n'a été demandé
  packages/domain/lauréat/src/représentantLégal/changement/accorder/accorderChangementReprésentantLégal.behavior.ts
  packages/domain/lauréat/src/représentantLégal/changement/changementReprésentantLégal.error.ts
  packages/domain/lauréat/src/représentantLégal/changement/corriger/corrigerChangementReprésentantLégal.behavior.ts
  packages/domain/lauréat/src/représentantLégal/changement/rejeter/rejeterChangementReprésentantLégal.behavior.ts
  packages/domain/lauréat/src/représentantLégal/changement/statutChangementReprésentantLégal.valueType.ts
  packages/domain/lauréat/src/représentantLégal/changement/supprimer/supprimerChangementReprésentantLégal.behavior.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/corrigerChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changemementReprésentantLégal.when.ts
Due: eslint --fix, prettier -w

✅ Impossible de corriger le changement de représentant légal d'un projet lauréat si le changement a déjà été accordé / rejeté
  packages/domain/lauréat/src/représentantLégal/changement/corriger/corrigerChangementReprésentantLégal.behavior.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/corrigerChangementReprésentantLégal.feature
Due: eslint --fix, prettier -w

🎨 Prévenir la dreal quand le pp a fait une modification de sa demande
  packages/applications/bootstrap/src/setupLauréat.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/changementReprésentantLégalCorrigé.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/index.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/corrigerChangementReprésentantLégal.feature
Due: eslint --fix, prettier -w

💄 Front pour corriger demande de changement
  packages/applications/routes/src/lauréat/représentantLégal.routes.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/changement/representant-legal/corriger/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/page.tsx
  packages/applications/ssr/src/components/atoms/form/document/KeepOrEditDocument.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/_utils/steps/SaisiePièceJustificative.step.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/corriger/CorrigerChangementReprésentantLégal.form.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/corriger/CorrigerChangementReprésentantLégal.page.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/corriger/CorrigerChangementReprésentantLégal.stories.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/corriger/ModifierChangementReprésentantLégal.form.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/corriger/ModifierChangementReprésentantLégal.page.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/corriger/ModifierChangementReprésentantLégal.stories.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/corriger/corrigerChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/components/pages/représentant-légal/changement/corriger/modifierChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/components/pages/représentant-légal/changement/demander/DemanderChangementReprésentantLégal.stories.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/détails/DétailsChangementReprésentantLégal.page.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/modifier/ModifierReprésentantLégal.form.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/modifier/steps/_utils/getInfosBasedOnTypeReprésentant.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/modifier/steps/index.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

💬 Update wording
  packages/applications/ssr/src/components/pages/représentant-légal/_utils/steps/SaisieType.step.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/corriger/CorrigerChangementReprésentantLégal.form.tsx
Due: eslint --fix

💬 Ajout lien plateforme filigrane facile dans stepper corriger
  packages/applications/ssr/src/components/pages/représentant-légal/changement/corriger/CorrigerChangementReprésentantLégal.form.tsx
Due: eslint --fix

🎨 Adapter avec identifiant demande
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/changementReprésentantLégalCorrigé.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/tâche-planifiée/handleReprésentantLégalRappelInstructionÀDeuxMois.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/changement/changementReprésentantLégalCorrigé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/index.ts
  packages/applications/routes/src/lauréat/représentantLégal.routes.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/changement/representant-legal/corriger/page.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/corriger/CorrigerChangementReprésentantLégal.form.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/corriger/CorrigerChangementReprésentantLégal.page.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/corriger/CorrigerChangementReprésentantLégal.stories.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/corriger/corrigerChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/components/pages/représentant-légal/changement/détails/DétailsChangementReprésentantLégal.page.tsx
  packages/domain/lauréat/src/représentantLégal/changement/statutChangementReprésentantLégal.valueType.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/corrigerChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.then.ts
Due: eslint --fix, prettier -w

🎨 Retours reviews
  packages/applications/ssr/src/components/pages/représentant-légal/changement/détails/DétailsChangementReprésentantLégal.page.tsx
  packages/domain/lauréat/src/représentantLégal/changement/corriger/corrigerChangementReprésentantLégal.behavior.ts
  packages/domain/lauréat/src/représentantLégal/changement/corriger/corrigerChangementReprésentantLégal.usecase.ts
  packages/domain/lauréat/src/représentantLégal/changement/demander/demanderChangementReprésentantLégal.behavior.ts
  packages/domain/lauréat/src/représentantLégal/changement/supprimer/supprimerChangementReprésentantLégal.behavior.ts
  packages/domain/lauréat/src/représentantLégal/représentantLégal.aggregate.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.then.ts
Due: eslint --fix

🐛 Correction de l'export CSV raccordement avec BOM
  packages/applications/ssr/src/app/reseaux/gestionnaires/[identifiant]/raccordements/mise-en-service-en-attente:exporter/route.ts
Due: eslint --fix

🐛 Fix error
  packages/applications/ssr/src/components/atoms/form/Form.tsx
  packages/applications/ssr/src/middlewares/withCSRF.ts
Due: eslint --fix

🎨 Utf8
  packages/applications/ssr/src/components/pages/réseau/raccordement/importerDatesMiseEnService/importDatesMiseEnService.action.ts
Due: eslint --fix

📌 Fix correction
  packages/applications/ssr/src/components/pages/réseau/raccordement/corriger-par-lot/corrigerRéférencesDossier.action.ts
Due: eslint --fix

🚧 WIP
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/corriger/page.tsx
Due: eslint --fix

🐛 Correction de l'export CSV raccordement avec BOM (#2660)
  packages/applications/ssr/src/app/reseaux/gestionnaires/[identifiant]/raccordements/mise-en-service-en-attente:exporter/route.ts
  packages/applications/ssr/src/components/pages/réseau/raccordement/corriger-par-lot/corrigerRéférencesDossier.action.ts
  packages/applications/ssr/src/components/pages/réseau/raccordement/importerDatesMiseEnService/importDatesMiseEnService.action.ts
Due: eslint --fix

💡 Ajout commentaire sur page CSRF
  packages/applications/ssr/src/app/csrf/page.tsx
Due: eslint --fix

✨ Mise à jour de la projection dossier-raccordement avec date et utilisateur
  packages/applications/projectors/src/subscribers/réseau/raccordement.projector.ts
  packages/domain/lauréat/src/raccordement/raccordement.entity.ts
Due: eslint --fix

🐛 Better when pp and abandon or achevement
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getActionnaire.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales/InfoActionnaire.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales/index.tsx
Due: eslint --fix

🐛 Fix comportement ETQ PP (#2663)
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getActionnaire.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales/InfoActionnaire.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales/index.tsx
Due: eslint --fix
