Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

♻️ Ne pas ajouter de tâche planifiée GF pour un projet achevé
  packages/applications/bootstrap/src/setupTâche.ts
  packages/domain/lauréat/src/abandon/accorder/accorderAbandon.usecase.ts
  packages/domain/lauréat/src/achèvement/transmettre/transmettreAttestationConformité.usecase.ts
  packages/domain/lauréat/src/garantiesFinancières/dépôtEnCours/soumettreDépôt/soumettreDépôtGarantiesFinancières.usecase.ts
  packages/domain/lauréat/src/garantiesFinancières/dépôtEnCours/supprimerDépôtEnCours/supprimerDépôtGarantiesFinancièresEnCours.usecase.ts
  packages/domain/lauréat/src/garantiesFinancières/dépôtEnCours/validerDépôtEnCours/validerDépôtGarantiesFinancièresEnCours.usecase.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancières.aggregate.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancières.register.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/enregistrer/enregistrerGarantiesFinancières.usecase.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/importer/importerTypeGarantiesFinancières.behavior.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/modifier/modifierGarantiesFinancières.usecase.ts
  packages/domain/lauréat/src/garantiesFinancières/tâches-planifiées/ajouter/ajouterTâches.behavior.ts
  packages/domain/lauréat/src/garantiesFinancières/tâches-planifiées/ajouter/ajouterTâches.command.ts
  packages/domain/lauréat/src/garantiesFinancières/tâches-planifiées/annuler/annulerTâches.behavior.ts
  packages/domain/lauréat/src/garantiesFinancières/tâches-planifiées/annuler/annulerTâches.command.ts
  packages/domain/lauréat/src/garantiesFinancières/tâches-planifiées/tâches-planifiées.register.ts
  packages/domain/lauréat/src/représentantLégal/saga/tâchePlanifiéeGestionAutomatiqueDemandeChangementExecutée.saga.ts
  packages/domain/tâche-planifiée/src/ajouter/ajouterTâchePlanifiée.behavior.ts
  packages/domain/tâche-planifiée/src/ajouter/ajouterTâchePlanifiée.command.ts
  packages/domain/tâche-planifiée/src/annuler/annulerTâchePlanifiée.behavior.ts
  packages/domain/tâche-planifiée/src/annuler/annulerTâchePlanifiée.command.ts
  packages/domain/tâche-planifiée/src/index.ts
  packages/domain/tâche-planifiée/src/tâchePlanifiée.aggregate.ts
  packages/domain/tâche/src/saga/tâcheGarantiesFinancières.saga.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/modifierGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.when.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/échoirGarantiesFinancièresActuelles.feature
  packages/specifications/src/tâche/tâche.world.ts
Due: eslint --fix, prettier -w

🚧 WIP refacto projector abandon
  packages/applications/projectors/src/index.ts
  packages/applications/projectors/src/subscribers/lauréat/_utils/getProjectData.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/abandonAccordé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/abandonAnnulé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/abandonConfirmé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/abandonDemandé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/abandonRebuildTriggered.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/abandonRejeté.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/confirmationAbandonDemandée.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/index.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/preuveCandidatureDemandée.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/preuveRecandidatureTransmise.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/utils/getInfosAbandon.ts
  packages/applications/projectors/src/subscribers/lauréat/achèvement/attestationConformitéTransmise.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/changement/_utils/getInfosReprésentantLégal.ts
  packages/domain/lauréat/src/achèvement/achèvement.entity.ts
Due: eslint --fix

🔒️ Renames, permissions
  packages/domain/lauréat/src/abandon/accorder/accorderAbandon.usecase.ts
  packages/domain/lauréat/src/achèvement/transmettre/transmettreAttestationConformité.usecase.ts
  packages/domain/lauréat/src/garantiesFinancières/dépôtEnCours/soumettreDépôt/soumettreDépôtGarantiesFinancières.usecase.ts
  packages/domain/lauréat/src/garantiesFinancières/dépôtEnCours/supprimerDépôtEnCours/supprimerDépôtGarantiesFinancièresEnCours.usecase.ts
  packages/domain/lauréat/src/garantiesFinancières/dépôtEnCours/validerDépôtEnCours/validerDépôtGarantiesFinancièresEnCours.usecase.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancières.aggregate.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/enregistrer/enregistrerGarantiesFinancières.usecase.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/importer/importerTypeGarantiesFinancières.behavior.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/modifier/modifierGarantiesFinancières.usecase.ts
  packages/domain/lauréat/src/garantiesFinancières/tâches-planifiées/ajouter/ajouter.behavior.ts
  packages/domain/lauréat/src/garantiesFinancières/tâches-planifiées/ajouter/ajouter.command.ts
  packages/domain/lauréat/src/garantiesFinancières/tâches-planifiées/annuler/annuler.behavior.ts
  packages/domain/lauréat/src/garantiesFinancières/tâches-planifiées/annuler/annuler.command.ts
  packages/domain/lauréat/src/garantiesFinancières/tâches-planifiées/tâches-planifiées.register.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🐛 Fix bug
  packages/domain/lauréat/src/garantiesFinancières/tâches-planifiées/annuler/annuler.command.ts
Due: eslint --fix

🎨 Petite refacto projet
  packages/applications/projectors/src/subscribers/lauréat/_utils/getProjectData.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/abandonDemandé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/achèvement/attestationConformitéTransmise.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/actionnaireImporté.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/changementActionnaireEnregistré.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/changement/changementReprésentantLégalDemandé.projector.ts
  packages/domain/lauréat/src/achèvement/achèvement.entity.ts
  packages/domain/lauréat/src/actionnaire/changementActionnaire.entity.ts
Due: eslint --fix

🐛 Retirer le menu AO recours et abandons
  docs/contributing/GETTING_STARTED.md
  packages/applications/legacy/src/views/components/UI/organisms/UserNavigation.tsx
Due: eslint --fix

🐛 Retirer le menu AO recours et abandons (#2740)
  docs/contributing/GETTING_STARTED.md
  packages/applications/legacy/src/views/components/UI/organisms/UserNavigation.tsx
Due: eslint --fix

🚧 Fixing: queries, now harmonizing gfs
  packages/applications/projectors/src/subscribers/lauréat/_utils/getProjectData.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/abandonDemandé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/actionnaireImporté.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/changementActionnaireEnregistré.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/garantiesFinancières.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/changement/changementReprésentantLégalDemandé.projector.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/archivesGarantiesFinancières.entity.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/garantiesFinancièresActuelles.entity.ts
  packages/domain/lauréat/src/garantiesFinancières/mainlevée/mainlevéeGarantiesFinancières.entity.ts
  packages/domain/lauréat/src/garantiesFinancières/projetEnAttenteDeGarantiesFinancières/projetAvecGarantiesFinancièresEnAttente.entity.ts
Due: eslint --fix

✨ ModifierLauréat
  packages/domain/lauréat/src/lauréat.aggregate.ts
  packages/domain/lauréat/src/lauréat.ts
  packages/domain/lauréat/src/modifier/modifierLauréat.behavior.ts
  packages/domain/lauréat/src/modifier/modifierLauréat.command.ts
  packages/domain/lauréat/src/modifier/modifierLauréat.usecase.ts
  packages/specifications/src/projet/lauréat/fixtures/modifierLauréat.fixture.ts
  packages/specifications/src/projet/lauréat/lauréat.world.ts
  packages/specifications/src/projet/lauréat/modifierLauréat.feature
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.when.ts
Due: eslint --fix, prettier -w

✨ Nom et localité du projet lauréat
  packages/applications/bootstrap/src/setupLauréat.ts
  packages/applications/legacy/src/sagas/lauréat.saga.ts
  packages/applications/legacy/src/sagas/registerSagas.ts
  packages/applications/projectors/src/subscribers/lauréat/lauréat.projector.ts
  packages/domain/candidature/src/candidature.aggregate.ts
  packages/domain/candidature/src/corriger/corrigerCandidature.behavior.ts
  packages/domain/candidature/src/importer/importerCandidature.behavior.ts
  packages/domain/lauréat/src/actionnaire/saga/index.ts
  packages/domain/lauréat/src/consulter/consulterLauréat.query.ts
  packages/domain/lauréat/src/garantiesFinancières/typeGarantiesFinancières.saga.ts
  packages/domain/lauréat/src/lauréat.aggregate.ts
  packages/domain/lauréat/src/lauréat.entity.ts
  packages/domain/lauréat/src/notifier/notifierLauréat.behavior.ts
  packages/domain/lauréat/src/notifier/notifierLauréat.command.ts
  packages/domain/lauréat/src/notifier/notifierLauréat.usecase.ts
  packages/domain/lauréat/src/raccordement/raccordement.saga.ts
  packages/domain/lauréat/src/représentantLégal/saga/index.ts
Due: eslint --fix

✨ ModifierLauréat
  packages/applications/bootstrap/src/setupLauréat.ts
  packages/applications/projectors/src/subscribers/lauréat/lauréat.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/lauréatModifié.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/lauréatNotifié.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/rebuildTriggered.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/index.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/rebuildTriggered.projector.ts
  packages/domain/lauréat/src/lauréat.aggregate.ts
  packages/domain/lauréat/src/modifier/modifierLauréat.behavior.ts
  packages/domain/lauréat/src/modifier/modifierLauréat.command.ts
  packages/domain/lauréat/src/modifier/modifierLauréat.usecase.ts
  packages/domain/lauréat/src/notifier/notifierLauréat.behavior.ts
  packages/domain/lauréat/src/register.ts
  packages/specifications/src/helpers/getFakeLocation.ts
  packages/specifications/src/projet/lauréat/fixtures/notifierLauréat.fixture.ts
  packages/specifications/src/projet/lauréat/lauréat.world.ts
  packages/specifications/src/projet/lauréat/modifierLauréat.feature
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.given.ts
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.then.ts
Due: eslint --fix, prettier -w

♻️ Introduire NomEtLocalitéLauréatImportés
  packages/applications/bootstrap/src/setupLauréat.ts
  packages/applications/projectors/src/subscribers/lauréat/lauréat.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/lauréatNotifié.projector.ts
  packages/domain/lauréat/src/lauréat.aggregate.ts
  packages/domain/lauréat/src/lauréat.ts
  packages/domain/lauréat/src/notifier/notifierLauréat.behavior.ts
  packages/specifications/src/projet/lauréat/modifierLauréat.feature
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.when.ts
Due: eslint --fix, prettier -w

✅ Select
  packages/specifications/src/projet/lauréat/modifierLauréat.feature
Due: prettier -w

🧐 Script de migration
  packages/applications/cli/src/commands/lauréat/migrer.ts
Due: eslint --fix

✨ Formulaire modifier nom projet
  packages/applications/ssr/src/app/laureats/[identifiant]/modifier:nom/page.tsx
  packages/applications/ssr/src/components/pages/lauréat/modifier/nom/ModifierNomProjet.form.tsx
  packages/applications/ssr/src/components/pages/lauréat/modifier/nom/ModifierNomProjet.page.tsx
  packages/applications/ssr/src/components/pages/lauréat/modifier/nom/modifierNomProjet.action.ts
  packages/domain/lauréat/src/modifier/modifierLauréat.behavior.ts
  packages/domain/lauréat/src/modifier/modifierLauréat.command.ts
  packages/domain/lauréat/src/modifier/modifierLauréat.usecase.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

♻️ Bannière projet utilise les données lauréat
  packages/applications/ssr/src/components/molecules/projet/ProjetBanner.tsx
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

⚰️ Remove ConsulterRésuméCandidatureQuery
  packages/domain/candidature/src/candidature.ts
  packages/domain/candidature/src/consulter/consulterRésuméCandidature.query.ts
  packages/domain/candidature/src/register.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

fixup! ✨ Formulaire modifier nom projet
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.when.ts
Due: eslint --fix

fixup! ♻️ Bannière projet utilise les données lauréat
  packages/applications/ssr/src/components/molecules/projet/ProjetBanner.tsx
Due: eslint --fix

✨ Legacy saga
  packages/applications/legacy/src/sagas/lauréat.saga.ts
  packages/applications/legacy/src/sagas/registerSagas.ts
Due: eslint --fix

🎨 Ajout localité
  packages/applications/ssr/src/app/laureats/[identifiant]/modifier:nom-localite/page.tsx
  packages/applications/ssr/src/components/pages/lauréat/modifier/ModifierNomLocalitéLauréat.form.tsx
  packages/applications/ssr/src/components/pages/lauréat/modifier/ModifierNomLocalitéLauréat.page.tsx
  packages/applications/ssr/src/components/pages/lauréat/modifier/modifierNomLocalitéLauréat.action.ts
  packages/applications/ssr/src/components/pages/lauréat/modifier/nom/ModifierNomProjet.form.tsx
  packages/domain/lauréat/src/modifier/modifierLauréat.behavior.ts
  packages/domain/lauréat/src/modifier/modifierLauréat.command.ts
  packages/domain/lauréat/src/modifier/modifierLauréat.usecase.ts
Due: eslint --fix

🔥 Remove legacy form fields
  packages/applications/legacy/src/controllers/project/postCorrectProjectData.ts
  packages/applications/legacy/src/modules/project/useCases/correctProjectData.spec.ts
  packages/applications/legacy/src/modules/project/useCases/correctProjectData.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/EditProjectData.tsx
  packages/applications/routes/src/index.ts
  packages/applications/routes/src/lauréat/index.ts
  packages/applications/routes/src/lauréat/lauréat.routes.ts
Due: eslint --fix

🐛 Fix migration
  packages/applications/cli/src/commands/lauréat/migrer.ts
Due: eslint --fix

♻️ Refactor banner
  packages/applications/ssr/src/components/molecules/projet/ProjetBanner.tsx
Due: eslint --fix

⏪️ Do not espace single quote
  packages/applications/projectors/src/infrastructure/updateOneProjection.test.ts
  packages/applications/projectors/src/infrastructure/updateOneProjection.ts
Due: eslint --fix

🎨 Région, département + commune picker
  packages/applications/legacy/src/modules/project/events/ProjectDataCorrected.ts
  packages/applications/legacy/src/sagas/lauréat.saga.ts
  packages/applications/ssr/src/components/pages/lauréat/modifier/ModifierNomLocalitéLauréat.form.tsx
  packages/applications/ssr/src/components/pages/lauréat/modifier/ModifierNomLocalitéLauréat.page.tsx
  packages/applications/ssr/src/components/pages/lauréat/modifier/modifierNomLocalitéLauréat.action.ts
Due: eslint --fix

🎨 Retour PR
  packages/applications/routes/src/lauréat/lauréat.routes.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/modifier/nom-localite/page.tsx
Due: eslint --fix

✨ Ajout table statistique scalaire
  packages/applications/public-statistics/package.json
  packages/applications/public-statistics/sql/scalarStatistic.sql
  packages/applications/public-statistics/sql/schema.sql
  packages/applications/public-statistics/tsconfig.json
Due: eslint --fix, prettier -w

🎨 Harmonisation projet dans projector dans gfs
  packages/applications/projectors/src/subscribers/lauréat/_utils/getProjectData.ts
  packages/applications/projectors/src/subscribers/lauréat/garantiesFinancières.projector.ts
  packages/domain/lauréat/src/garantiesFinancières/dépôtEnCours/dépôtEnCoursGarantiesFinancières.entity.ts
  packages/domain/lauréat/src/garantiesFinancières/dépôtEnCours/lister/listerDépôtsEnCoursGarantiesFinancières.query.ts
  packages/domain/lauréat/src/garantiesFinancières/mainlevée/lister/listerMainlevéesGarantiesFinancières.query.ts
  packages/domain/lauréat/src/garantiesFinancières/projetEnAttenteDeGarantiesFinancières/consulter/consulterProjetAvecGarantiesFinancièresEnAttente.query.ts
  packages/domain/lauréat/src/garantiesFinancières/projetEnAttenteDeGarantiesFinancières/lister/listerProjetsAvecGarantiesFinancièresEnAttente.query.ts
Due: eslint --fix

🎨 Erreurs and more info for error case
  packages/applications/projectors/src/subscribers/lauréat/abandon/abandonAccordé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/abandonConfirmé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/abandonRejeté.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/confirmationAbandonDemandée.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/preuveCandidatureDemandée.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/preuveRecandidatureTransmise.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/utils/getInfosAbandon.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/changementActionnaireAccordé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/changementActionnaireAnnulé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/changementActionnaireRejeté.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/changementActionnaireSupprimé.projector.ts
Due: eslint --fix

✨ Compute nombre total projet
  packages/applications/public-statistics/package.json
  packages/applications/public-statistics/sql/scalarStatistic.sql
  packages/applications/public-statistics/src/projet/nombreTotalProjet/index.ts
  packages/applications/public-statistics/tsconfig.json
Due: eslint --fix, prettier -w

✨ Execution extraction donnée stats publiques
  package-lock.json
  packages/applications/cli/package.json
  packages/applications/cli/src/commands/stats/extraire.ts
  packages/applications/cli/tsconfig.json
  packages/applications/scheduled-tasks/package.json
  packages/applications/scheduled-tasks/src/statistiques-publiques/extraire-données-statistiques-publiques.ts
  packages/applications/scheduled-tasks/tsconfig.json
  packages/applications/statistiques-publiques/package.json
  packages/applications/statistiques-publiques/sql/scalarStatistic.sql
  packages/applications/statistiques-publiques/sql/schema.sql
  packages/applications/statistiques-publiques/src/index.ts
  packages/applications/statistiques-publiques/src/projet/nombreTotalProjet.statistic.ts
  packages/applications/statistiques-publiques/tsconfig.json
Due: eslint --fix, prettier -w

🎨 Ajout script npm + bash
  packages/applications/scheduled-tasks/extraire-données-statistiques-publiques.sh
  packages/applications/scheduled-tasks/package.json
Due: eslint --fix, prettier -w

🚚 Déplacer le package d'applications vers package dédié
  package-lock.json
  package.json
  packages/applications/cli/package.json
  packages/applications/cli/src/commands/stats/extraire.ts
  packages/applications/cli/tsconfig.json
  packages/applications/scheduled-tasks/package.json
  packages/applications/scheduled-tasks/src/statistiques-publiques/extraire-données-statistiques-publiques.ts
  packages/applications/scheduled-tasks/tsconfig.json
  packages/statistiques/statistiques-publiques/package.json
  packages/statistiques/statistiques-publiques/sql/scalarStatistic.sql
  packages/statistiques/statistiques-publiques/sql/schema.sql
  packages/statistiques/statistiques-publiques/src/index.ts
  packages/statistiques/statistiques-publiques/src/projet/nombreTotalProjet.statistic.ts
  packages/statistiques/statistiques-publiques/tsconfig.json
Due: eslint --fix, prettier -w

🚚 Rename
  packages/domain/lauréat/src/abandon/accorder/accorderAbandon.usecase.ts
  packages/domain/lauréat/src/achèvement/transmettre/transmettreAttestationConformité.usecase.ts
  packages/domain/lauréat/src/garantiesFinancières/dépôtEnCours/soumettreDépôt/soumettreDépôtGarantiesFinancières.usecase.ts
  packages/domain/lauréat/src/garantiesFinancières/dépôtEnCours/supprimerDépôtEnCours/supprimerDépôtGarantiesFinancièresEnCours.usecase.ts
  packages/domain/lauréat/src/garantiesFinancières/dépôtEnCours/validerDépôtEnCours/validerDépôtGarantiesFinancièresEnCours.usecase.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/enregistrer/enregistrerGarantiesFinancières.usecase.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/modifier/modifierGarantiesFinancières.usecase.ts
  packages/domain/lauréat/src/garantiesFinancières/tâches-planifiées/ajouter/ajouter.command.ts
  packages/domain/lauréat/src/garantiesFinancières/tâches-planifiées/annuler/annuler.command.ts
Due: eslint --fix

🗃️ Update database dev dump
  .database/potentiel-dev.dump
Due: none

👷 Ajout d'un job verify_statistics
  .github/workflows/shared-workflow.yml
Due: eslint --fix, prettier -w

💚 Fix verify statistives step
  .github/workflows/shared-workflow.yml
Due: eslint --fix, prettier -w

💚 Fix missing env variable
  .github/workflows/shared-workflow.yml
  packages/applications/cli/.env.template
  packages/applications/cli/src/commands/stats/extraire.ts
Due: eslint --fix, prettier -w

💚 Fix missing env variable
  .github/workflows/shared-workflow.yml
Due: eslint --fix, prettier -w

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
