Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

Donner plus de précisions sur le comportement du bouton
  packages/applications/ssr/src/app/candidatures/(liste)/CandidatureListItemActions.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/DétailsCandidature.page.tsx
Due: eslint --fix

✅ Ajout d'un test pour couvrir le cas du retrait d'accès puis d'un nouvel ajout d'accès pour le meme PP
  packages/specifications/src/projet/accès/stepDefinitions/accès.when.ts
  packages/specifications/src/utilisateur/inviterPorteur.feature
Due: eslint --fix, prettier -w

Correction comportement annoncé pour les screen readers
  packages/applications/ssr/src/components/atoms/form/document/DownloadDocument.tsx
Due: eslint --fix

🎨 Retour de review number période
  packages/applications/notifications/src/subscribers/utilisateur/handlers/porteurInvité.handler.ts
Due: eslint --fix

💡 Ajout d'un commentaire explicatif pour le code du subscribe pour fermer explicitement l'ancienne connexion (#4618)
  packages/infrastructure/pg-event-sourcing/src/subscribe/subscribe.ts
Due: eslint --fix

🚸 Tri par appelOffre / période / nomProjet dans la liste des projets à lister (#4623)
  packages/applications/notifications/src/subscribers/utilisateur/handlers/porteurInvité.handler.ts
Due: eslint --fix

fix recherche liste laureat elimines
  packages/applications/ssr/src/app/_helpers/getFiltersFromSearch.ts
  packages/applications/ssr/src/app/candidatures/(liste)/page.tsx
  packages/applications/ssr/src/app/elimines/(liste)/page.tsx
  packages/applications/ssr/src/app/laureats/(liste)/page.tsx
  packages/domain/projet/src/lauréat/lister/listerLauréat.query.ts
  packages/domain/projet/src/éliminé/lister/listerÉliminé.query.ts
Due: eslint --fix

🐛 L'addon postgresql-sandbox n'existe plus, remplacement par postgresql-starter-512
  scalingo.json
Due: eslint --fix, prettier -w

🐛 L'addon postgresql-sandbox n'existe plus, remplacement par postgresql-starter-512 (#4627)
  scalingo.json
Due: eslint --fix, prettier -w

♿️ ouvrir dans un nouvel onglet > info screen reader (#4624)
  packages/applications/ssr/src/app/candidatures/(liste)/CandidatureListItemActions.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/DétailsCandidature.page.tsx
  packages/applications/ssr/src/components/atoms/form/document/DownloadDocument.tsx
Due: eslint --fix

fix
  packages/applications/ssr/src/app/_helpers/getFiltersFromSearch.ts
  packages/applications/ssr/src/app/candidatures/(liste)/page.tsx
  packages/applications/ssr/src/app/elimines/(liste)/page.tsx
  packages/applications/ssr/src/app/laureats/(liste)/page.tsx
  packages/domain/projet/src/candidature/lister/listerCandidatures.query.ts
  packages/domain/projet/src/getFiltersFromSearch.ts
  packages/domain/projet/src/lauréat/lister/listerLauréat.query.ts
  packages/domain/projet/src/éliminé/lister/listerÉliminé.query.ts
Due: eslint --fix

id
  packages/domain/projet/src/getFiltersFromSearch.ts
Due: eslint --fix

🐛 fix recherche liste laureat elimines (#4625)
  packages/applications/ssr/src/app/_helpers/getFiltersFromSearch.ts
  packages/applications/ssr/src/app/candidatures/(liste)/page.tsx
  packages/applications/ssr/src/app/elimines/(liste)/page.tsx
  packages/applications/ssr/src/app/laureats/(liste)/page.tsx
  packages/domain/projet/src/candidature/lister/listerCandidatures.query.ts
  packages/domain/projet/src/getFiltersFromSearch.ts
  packages/domain/projet/src/lauréat/lister/listerLauréat.query.ts
  packages/domain/projet/src/éliminé/lister/listerÉliminé.query.ts
Due: eslint --fix

Wording avis de rejet
  packages/applications/ssr/src/app/candidatures/(liste)/CandidatureListItem.tsx
  packages/applications/ssr/src/app/candidatures/(liste)/CandidatureListItemActions.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/DétailsCandidature.page.tsx
Due: eslint --fix

Cas d'une candidature éliminée non notifiée
  packages/applications/ssr/src/app/candidatures/[identifiant]/DétailsCandidature.page.tsx
Due: eslint --fix

wording
  packages/applications/ssr/src/app/candidatures/(liste)/CandidatureListItemActions.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/DétailsCandidature.page.tsx
Due: eslint --fix

🚸 Wording avis de rejet (#4629)
  packages/applications/ssr/src/app/candidatures/(liste)/CandidatureListItem.tsx
  packages/applications/ssr/src/app/candidatures/(liste)/CandidatureListItemActions.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/DétailsCandidature.page.tsx
Due: eslint --fix

🎨 Donner la possibilité de passer une variable de type array d'objet dans les templates mail hbs
  packages/applications/notifications/scripts/build-templates.ts
  packages/applications/notifications/src/subscribers/utilisateur/handlers/porteurInvité.handler.ts
  packages/applications/notifications/src/templates/emails/utilisateur/inviter_porteur.md
  packages/specifications/src/notification/notification.world.ts
Due: eslint --fix

fake commit
  packages/specifications/src/utilisateur/inviterPorteur.feature
Due: prettier -w

fake commit
  .scripts/review-app.sh
Due: none

directives
  packages/applications/cli/src/commands/raccordement/rattraper-historique-document.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/getAction.ts
Due: eslint --fix

debut
  packages/domain/projet/src/lauréat/raccordement/document/modifier-type/modifierTypeDocumentRaccordement.options.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.event.ts
Due: eslint --fix

🔧 Suppression du registry quay.io
  docker-compose.yml
Due: eslint --fix, prettier -w

🎨 Switch to Silo
  docker-compose.yml
Due: eslint --fix, prettier -w

fix tag
  docker-compose.yml
Due: eslint --fix, prettier -w

mc tag
  docker-compose.yml
Due: eslint --fix, prettier -w

🔧 Remplacement de minio par un fork (#4638)
  docker-compose.yml
Due: eslint --fix, prettier -w

⬆️ Mise à jour de github-tag-action v7, passage à Node 24
  .github/workflows/release.yml
Due: eslint --fix, prettier -w

setup
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/domain/projet/src/lauréat/tâche/typeTâche.valueType.ts
  packages/specifications/src/tâche/tâche.world.ts
Due: eslint --fix

lint
  packages/applications/ssr/src/components/molecules/ListFilters.tsx
  packages/applications/ssr/src/components/molecules/filters/useFilters.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
Due: eslint --fix

test ok
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerAttestationGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/importerTypeGarantiesFinancièresActuelles.feature
  packages/specifications/src/tâche/tâche.world.ts
Due: eslint --fix, prettier -w

script
  packages/applications/cli/src/commands/gf/ajouter-tâche-attestation-constitution.ts
Due: eslint --fix

setup
  packages/applications/ssr/src/app/taches/TâcheListItem.tsx
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
Due: eslint --fix

details
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
Due: eslint --fix

🐛 L'event publié dans le script n'applique pas le bon format du stream id (tache|typeDetache#idProjet)
  packages/applications/cli/src/commands/gf/ajouter-tâche-attestation-constitution.ts
Due: eslint --fix

lint
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
Due: eslint --fix

amelioration
  packages/applications/cli/src/commands/gf/ajouter-tâche-attestation-constitution.ts
  packages/domain/projet/src/lauréat/abandon/abandon.aggregate.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.aggregate.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/specifications/src/projet/lauréat/abandon/accorderAbandon.feature
Due: eslint --fix, prettier -w

review hanae
  packages/applications/cli/src/commands/gf/ajouter-tâche-attestation-constitution.ts
  packages/applications/ssr/src/app/taches/TâcheListItem.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
