Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

✨ Réessayer les pending_acknowledgement sans s'arrêter à la première erreur (#2884)
  packages/infrastructure/pg-event-sourcing/src/subscribe/acknowledgement/retryPendingAcknowledgement.test.ts
  packages/infrastructure/pg-event-sourcing/src/subscribe/acknowledgement/retryPendingAcknowledgement.ts
Due: eslint --fix

🚧 WIP
  packages/domain/candidature/src/corriger/corrigerCandidature.usecase.ts
  packages/domain/projet/src/candidature/candidature.aggregate.ts
  packages/domain/projet/src/candidature/candidature.entity.ts
  packages/domain/projet/src/candidature/candidature.mapper.ts
  packages/domain/projet/src/candidature/corriger/corrigerCandidature.behavior.ts
  packages/domain/projet/src/candidature/corriger/corrigerCandidature.command.ts
  packages/domain/projet/src/candidature/corriger/corrigerCandidature.usecase.ts
  packages/domain/projet/src/candidature/importer/importerCandidature.command.ts
  packages/domain/projet/src/candidature/importer/importerCandidature.options.ts
  packages/domain/projet/src/candidature/importer/importerCandidature.usecase.ts
  packages/domain/projet/src/candidature/localité.valueType.ts
  packages/domain/projet/src/candidature/statutCandidature.valueType.ts
  packages/domain/projet/src/projet.aggregateRoot.ts
Due: eslint --fix

🐛 Fix: probleme hub et wording plus clair
  packages/applications/ssr/src/components/molecules/historique/timeline/représentant-légal/mapToChangementReprésentantLégalDemandéTimelineItemProps.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/corriger/CorrigerChangementReprésentantLégal.form.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/demander/DemanderChangementReprésentantLégal.form.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/modifier/ModifierReprésentantLégal.form.tsx
Due: eslint --fix

🐛 Input hidden si pas de type de société obligatoire
  packages/applications/ssr/src/components/pages/représentant-légal/changement/corriger/CorrigerChangementReprésentantLégal.form.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/demander/DemanderChangementReprésentantLégal.form.tsx
Due: eslint --fix

🎨 Ajout item historique RL corrigé
  packages/applications/ssr/src/components/molecules/historique/HistoriqueTimeline.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/représentant-légal/index.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/représentant-légal/mapToChangementReprésentantLégalCorrigéTimelineItemProps.tsx
Due: eslint --fix

✅ Improve tests on subscribe by checking the event type handled
  packages/infrastructure/pg-event-sourcing/src/subscribe/subscribe.test.ts
Due: eslint --fix

🎨 Déplacer l'input dans saisie du type
  packages/applications/ssr/src/components/pages/représentant-légal/_utils/steps/SaisieType.step.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/corriger/CorrigerChangementReprésentantLégal.form.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/demander/DemanderChangementReprésentantLégal.form.tsx
Due: eslint --fix

♻️ Finalisation déplacement corriger
  packages/domain/projet/src/candidature/candidature.mapper.ts
  packages/domain/projet/src/candidature/importer/importerCandidature.command.ts
  packages/domain/projet/src/candidature/importer/importerCandidature.usecase.ts
  packages/domain/projet/src/candidature/notifier/notifierCandidature.behavior.ts
  packages/domain/projet/src/candidature/notifier/notifierCandidature.command.ts
  packages/domain/projet/src/candidature/notifier/notifierCandidature.usecase.ts
  packages/domain/projet/src/candidature/old-candidature.aggregate.ts
Due: eslint --fix

🥅 Ajout d'un mécanisme de reconnection des subscribers en cas de déconnection (#2883)
  packages/infrastructure/pg-event-sourcing/src/subscribe/eventStreamEmitter.ts
  packages/infrastructure/pg-event-sourcing/src/subscribe/subscribe.test.ts
  packages/infrastructure/pg-event-sourcing/src/subscribe/subscribe.ts
Due: eslint --fix

♻️ Move notifier dans package projet
  packages/domain/projet/src/candidature/candidature.aggregate.ts
  packages/domain/projet/src/candidature/candidature.error.ts
  packages/domain/projet/src/candidature/candidature.event.ts
  packages/domain/projet/src/candidature/corriger/corrigerCandidature.command.ts
  packages/domain/projet/src/candidature/importer/importerCandidature.command.ts
  packages/domain/projet/src/candidature/notifier/candidatureNotifiée.event.ts
  packages/domain/projet/src/candidature/notifier/notifierCandidature.command.ts
  packages/domain/projet/src/candidature/notifier/notifierCandidature.options.ts
  packages/domain/projet/src/candidature/notifier/notifierCandidature.usecase.ts
Due: eslint --fix

✨ Différencier les sociétés constituées des sociétés en cours pour le type de RL "personne morale" (#2874)
  packages/applications/ssr/src/components/molecules/historique/HistoriqueTimeline.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/représentant-légal/index.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/représentant-légal/mapToChangementReprésentantLégalCorrigéTimelineItemProps.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/_utils/steps/SaisiePièceJustificative.step.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/_utils/steps/SaisieType.step.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/_utils/steps/SaisieTypeSociété.step.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/_utils/steps/Validation.step.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/corriger/CorrigerChangementReprésentantLégal.form.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/corriger/corrigerChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/components/pages/représentant-légal/changement/demander/DemanderChangementReprésentantLégal.form.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/demander/demanderChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/components/pages/représentant-légal/modifier/ModifierReprésentantLégal.form.tsx
  packages/applications/ssr/src/utils/zod/blob/mergePdfDocuments.ts
Due: eslint --fix

♻️ Déplacer la génération des templates dans la nouvelle stack - puissance
  packages/applications/document-builder/src/assets/docx/puissance-modèle-réponse.docx
  packages/applications/document-builder/src/modèleRéponseSignée/générerModèleRéponseSignée.ts
  packages/applications/document-builder/src/modèleRéponseSignée/puissance/modèleRéponseSignéePuissance.ts
  packages/applications/legacy/src/controllers/modificationRequest/_utils/downloadFile.ts
  packages/applications/legacy/src/controllers/modificationRequest/_utils/modèles/formatIdentifiantProjetForDocument.ts
  packages/applications/legacy/src/controllers/modificationRequest/_utils/modèles/puissance.ts
  packages/applications/legacy/src/controllers/modificationRequest/getModeleReponse.ts
  packages/applications/legacy/src/infra/sequelize/queries/modificationRequest/getModificationRequestDataForResponseTemplate.ts
Due: eslint --fix

🎨 Cli + fix enCopies
  packages/applications/cli/src/commands/document/générer.ts
  packages/applications/document-builder/src/assets/docx/puissance-modèle-réponse.docx
Due: eslint --fix

♻️ Délai
  packages/applications/cli/src/commands/document/générer.ts
  packages/applications/document-builder/src/assets/docx/délai-modèle-réponse.docx
  packages/applications/document-builder/src/modèleRéponseSignée/délai/modèleRéponseSignéeDélai.ts
  packages/applications/document-builder/src/modèleRéponseSignée/générerModèleRéponseSignée.ts
  packages/applications/document-builder/src/modèleRéponseSignée/index.ts
  packages/applications/legacy/src/controllers/modificationRequest/_utils/downloadFile.ts
  packages/applications/legacy/src/controllers/modificationRequest/_utils/formatIdentifiantProjetForDocument.ts
  packages/applications/legacy/src/controllers/modificationRequest/_utils/getEnCopies.ts
  packages/applications/legacy/src/controllers/modificationRequest/_utils/modèles/délai.ts
  packages/applications/legacy/src/controllers/modificationRequest/_utils/modèles/puissance.ts
  packages/applications/legacy/src/controllers/modificationRequest/getModeleReponse.ts
  packages/applications/legacy/src/infra/sequelize/queries/modificationRequest/getModificationRequestDataForResponseTemplate.ts
  packages/applications/legacy/src/views/template/Modèle réponse Prolongation de délai - dynamique.docx
Due: eslint --fix

➖ Remove docx deps
  package-lock.json
  packages/applications/legacy/package.json
  packages/applications/legacy/src/helpers/fillDocxTemplate.ts
Due: eslint --fix, prettier -w

🎨 Initialisation puissance entity et statut
  packages/domain/lauréat/src/puissance/changementPuissance.ts
  packages/domain/lauréat/src/puissance/statutChangementPuissance.valueType.ts
Due: eslint --fix

🎨 Better
  packages/domain/lauréat/src/puissance/changementPuissance.ts
Due: eslint --fix

⚰️ Review & remove dead code
  packages/applications/document-builder/src/assets/docx/délai-modèle-réponse.docx
  packages/applications/legacy/src/controllers/modificationRequest/getModeleReponse.ts
  packages/applications/legacy/src/infra/sequelize/queries/modificationRequest/getModificationRequestDataForResponseTemplate.ts
  packages/applications/legacy/src/infra/sequelize/queries/modificationRequest/index.ts
  packages/applications/legacy/src/modules/modificationRequest/dtos/ModificationRequestDataForResponseTemplateDTO.ts
  packages/applications/legacy/src/modules/modificationRequest/dtos/index.ts
  packages/applications/legacy/src/modules/modificationRequest/queries/GetModificationRequestDateForResponseTemplate.ts
  packages/applications/legacy/src/modules/modificationRequest/queries/index.ts
Due: eslint --fix

🔧 Ajouter un application_name aux connections Postgres
  packages/applications/legacy/src/sequelize.config.ts
  packages/applications/request-context/src/authOptions.ts
  packages/infrastructure/pg-event-sourcing/src/subscribe/subscribe.ts
  packages/libraries/pg-helpers/src/usePoolClient.ts
Due: eslint --fix

🎨 Convertir l'input en nombre
  packages/applications/ssr/src/components/pages/puissance/modifier/ModifierPuissance.form.tsx
Due: eslint --fix

🔧 Ajouter un application_name aux connections Postgres (#2877)
  packages/applications/legacy/src/sequelize.config.ts
  packages/applications/request-context/src/authOptions.ts
  packages/infrastructure/pg-event-sourcing/src/subscribe/subscribe.ts
  packages/libraries/pg-helpers/src/usePoolClient.ts
Due: eslint --fix

🎨 Better type for entity
  packages/domain/lauréat/src/puissance/changementPuissance.ts
  packages/domain/lauréat/src/puissance/index.ts
Due: eslint --fix

✨ V1 puissance formulaire de modification (#2886)
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/modifier/page.tsx
  packages/applications/ssr/src/components/pages/puissance/modifier/ModifierPuissance.form.tsx
  packages/applications/ssr/src/components/pages/puissance/modifier/ModifierPuissance.page.tsx
  packages/applications/ssr/src/components/pages/puissance/modifier/modifierPuissance.action.ts
Due: eslint --fix

🎨 Projection
  packages/applications/projectors/src/subscribers/lauréat/puissance/puissanceRebuildTrigerred.projector.ts
  packages/domain/lauréat/src/puissance/changement/changementPuissance.entity.ts
  packages/domain/lauréat/src/puissance/index.ts
Due: eslint --fix

🎨 puissance v2 Initialisation puissance entity et statut (#2889)
  packages/applications/projectors/src/subscribers/lauréat/puissance/puissanceRebuildTrigerred.projector.ts
  packages/domain/lauréat/src/puissance/changement/changementPuissance.entity.ts
  packages/domain/lauréat/src/puissance/index.ts
  packages/domain/lauréat/src/puissance/statutChangementPuissance.valueType.ts
Due: eslint --fix

♻️ Corrections dreal
  packages/applications/cli/src/commands/document/générer.ts
  packages/applications/legacy/src/controllers/modificationRequest/_utils/modèles/délai.ts
  packages/applications/legacy/src/controllers/modificationRequest/_utils/modèles/puissance.ts
  packages/applications/legacy/src/controllers/modificationRequest/getModeleReponse.ts
  packages/applications/legacy/src/infra/keycloak/attachUserToRequestMiddleware.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/modele-reponse/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/modele-reponse/route.ts
  packages/applications/ssr/src/utils/modèle-document/getEnCopies.ts
Due: eslint --fix

🐛 Amélioration de la gestion du nombre de connexion disponible pour les clients PG
  docker-compose.yml
  package-lock.json
  packages/applications/legacy/.env.template
  packages/applications/legacy/src/sequelize.config.ts
  packages/applications/request-context/package.json
  packages/applications/request-context/src/authOptions.ts
  packages/applications/ssr/.env.template
  packages/libraries/pg-helpers/src/usePoolClient.ts
Due: eslint --fix, prettier -w

🎨 Typer les items d'historiques par category
  packages/applications/ssr/src/components/molecules/historique/HistoriqueTimeline.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/abandon/index.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/actionnaire/index.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/mapToÉtapeInconnueOuIgnoréeTimelineItemProps.ts
  packages/applications/ssr/src/components/molecules/historique/timeline/recours/index.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/représentant-légal/index.tsx
  packages/domain/entity/src/listHistory.ts
Due: eslint --fix

🔧 Set max_connections=30 for the db_test container
  docker-compose.yml
Due: eslint --fix, prettier -w

🐛 Fix if nothing or a random string is set in env variables
  packages/applications/legacy/src/sequelize.config.ts
  packages/applications/request-context/src/authOptions.ts
  packages/libraries/pg-helpers/src/usePoolClient.ts
Due: eslint --fix

🚧 WIP introduction Dépôt
  packages/domain/projet/src/candidature/dépôtCandidature.valueType.ts
Due: eslint --fix

✨ PoC démarches simplifiées import candidature
  package-lock.json
  packages/applications/ssr/package.json
  packages/applications/ssr/src/app/candidatures/importer/ds/page.tsx
  packages/applications/ssr/src/components/pages/candidature/importer/ImporterDémarches.form.tsx
  packages/applications/ssr/src/components/pages/candidature/importer/ImporterDémarches.page.tsx
  packages/applications/ssr/src/components/pages/candidature/importer/importerDémarches.action.ts
  packages/applications/ssr/src/utils/zod/candidature/candidature.schema.ts
  packages/applications/ssr/src/utils/zod/candidature/candidatureFields.schema.ts
  packages/applications/ssr/tsconfig.json
  packages/infrastructure/ds-api-client/codegen.ts
  packages/infrastructure/ds-api-client/package.json
  packages/infrastructure/ds-api-client/src/fragments/Address.graphql
  packages/infrastructure/ds-api-client/src/fragments/Champ.graphql
  packages/infrastructure/ds-api-client/src/fragments/File.graphql
  packages/infrastructure/ds-api-client/src/graphql/client.ts
  packages/infrastructure/ds-api-client/src/graphql/index.ts
  packages/infrastructure/ds-api-client/src/index.ts
  packages/infrastructure/ds-api-client/src/queries/GetDossier.graphql
  packages/infrastructure/ds-api-client/src/test.ts
  packages/infrastructure/ds-api-client/src/types.ts
  packages/infrastructure/ds-api-client/tsconfig.json
Due: eslint --fix, prettier -w

🐛 Amélioration de la gestion du nombre de connexion disponible pour les clients PG (#2890)
  docker-compose.yml
  package-lock.json
  packages/applications/legacy/.env.template
  packages/applications/legacy/src/sequelize.config.ts
  packages/applications/request-context/package.json
  packages/applications/request-context/src/authOptions.ts
  packages/applications/ssr/.env.template
  packages/libraries/pg-helpers/src/usePoolClient.ts
Due: eslint --fix, prettier -w

🎨 Setup demander changement
  packages/applications/bootstrap/src/setupLauréat.ts
  packages/applications/projectors/src/subscribers/lauréat/puissance/changementPuissanceDemandé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/puissance/index.ts
  packages/domain/lauréat/src/puissance/demander/demanderChangementPuissance.behavior.ts
  packages/domain/lauréat/src/puissance/demander/demanderChangementPuissance.command.ts
  packages/domain/lauréat/src/puissance/demander/demanderChangementPuissance.usecase.ts
  packages/domain/lauréat/src/puissance/errors.ts
  packages/domain/lauréat/src/puissance/index.ts
  packages/domain/lauréat/src/puissance/puissance.aggregate.ts
  packages/domain/lauréat/src/puissance/puissance.entity.ts
  packages/domain/lauréat/src/puissance/puissance.register.ts
  packages/domain/lauréat/src/puissance/typeDocumentPuissance.valueType.ts
Due: eslint --fix

🚧 V1 test
  packages/domain/lauréat/src/puissance/index.ts
  packages/specifications/src/projet/lauréat/puissance/demanderChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/fixture/demanderChangementPuissance.fixture.ts
  packages/specifications/src/projet/lauréat/puissance/puissance.world.ts
  packages/specifications/src/projet/lauréat/puissance/stepDefinitions/puissance.when.ts
Due: eslint --fix, prettier -w

🎨 Better
  packages/specifications/src/projet/lauréat/puissance/stepDefinitions/puissance.when.ts
Due: eslint --fix

🚸 Amélioration des filtres Cycle d'AO
  packages/applications/ssr/src/app/garanties-financieres/depots-en-cours/page.tsx
  packages/applications/ssr/src/app/garanties-financieres/projets-en-attente/page.tsx
  packages/applications/ssr/src/app/taches/page.tsx
  packages/domain/appel-offre/src/lister/listerAppelOffre.query.ts
  packages/domain/lauréat/src/garantiesFinancières/dépôtEnCours/lister/listerDépôtsEnCoursGarantiesFinancières.query.ts
  packages/domain/lauréat/src/garantiesFinancières/projetEnAttenteDeGarantiesFinancières/lister/listerProjetsAvecGarantiesFinancièresEnAttente.query.ts
Due: eslint --fix

✅ Adapter les tests suite au dépassement de la date limite de recandidature
  packages/specifications/src/projet/lauréat/abandon/stepDefinitions/abandon.given.ts
Due: eslint --fix

✅ Désactiver tests
  packages/specifications/src/projet/lauréat/abandon/accorderAbandon.feature
  packages/specifications/src/projet/lauréat/abandon/demanderPreuveRecandidature.feature
Due: prettier -w

✅ Adapter les tests suite au dépassement de la date limite de recandidature (#2895)
  packages/specifications/src/projet/lauréat/abandon/accorderAbandon.feature
  packages/specifications/src/projet/lauréat/abandon/demanderPreuveRecandidature.feature
  packages/specifications/src/projet/lauréat/abandon/stepDefinitions/abandon.given.ts
Due: eslint --fix, prettier -w

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
