Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

🎨 Pending
  .database/potentiel-dev.dump
Due: none

⬆️ Update multer 2.0.1
  package-lock.json
  packages/applications/legacy/package.json
Due: eslint --fix, prettier -w

🛂 Utilisation des permissions de la nouvelle app dans le legacy
  packages/applications/legacy/src/config/useCases.config.ts
  packages/applications/legacy/src/useCases/index.ts
  packages/applications/legacy/src/useCases/shouldUserAccessProject.ts
Due: eslint --fix

🎨 Mise à jour du dump pour fournisseur (#3127)
  .database/potentiel-dev.dump
Due: none

🛂 Utilisation des permissions de la nouvelle app dans le legacy (#3115)
  packages/applications/legacy/src/config/useCases.config.ts
  packages/applications/legacy/src/useCases/index.ts
  packages/applications/legacy/src/useCases/shouldUserAccessProject.ts
Due: eslint --fix

♻️ Add missing SubscriptionEvent in historic projector type
  packages/applications/projectors/src/subscribers/historique/historique.projector.ts
Due: eslint --fix

✨ Add all missing history from lauréat
  packages/applications/bootstrap/src/setupHistorique.ts
  packages/applications/projectors/src/subscribers/historique/historique.projector.ts
Due: eslint --fix

🚧 Add page
  packages/applications/ssr/src/app/laureats/[identifiant]/historique/page.tsx
  packages/applications/ssr/src/components/pages/lauréat/historique/HistoriqueLauréat.page.tsx
Due: eslint --fix

🎨 Titre items historique abandon
  packages/applications/ssr/src/components/molecules/historique/timeline/abandon/mapToAbandonAccordéTimelineItemProps.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/abandon/mapToAbandonAnnuléTimelineItemProps.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/abandon/mapToAbandonConfirméTimelineItemProps.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/abandon/mapToAbandonDemandéTimelineItemProps.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/abandon/mapToAbandonPasséEnInstructionTimelineItemProps.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/abandon/mapToAbandonRejetéTimelineItemProps.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/abandon/mapToConfirmationAbandonDemandéeTimelineItemProps.tsx
Due: eslint --fix

🎨 Titre items historique actionnaire
  packages/applications/ssr/src/components/molecules/historique/timeline/actionnaire/mapToChangementActionnaireAccordéTimelineItemProps.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/actionnaire/mapToChangementActionnaireAnnuléTimelineItemProps.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/actionnaire/mapToChangementActionnaireDemandéTimelineItemProps.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/actionnaire/mapToChangementActionnaireRejetéTimelineItemProps.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/actionnaire/mapToModificationActionnaireTimelineItemsProps.tsx
Due: eslint --fix

🎨 Titre items historique recours
  packages/applications/ssr/src/components/molecules/historique/timeline/recours/mapToRecoursAccordéTimelineItemProps.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/recours/mapToRecoursAnnuléTimelineItemProps.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/recours/mapToRecoursRejetéTimelineItemProps.tsx
Due: eslint --fix

🎨 Titre items historique représentant légal
  packages/applications/ssr/src/components/molecules/historique/timeline/représentant-légal/mapToChangementReprésentantLégalAccordéTimelineItemProps.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/représentant-légal/mapToChangementReprésentantLégalAnnuléTimelineItemProps.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/représentant-légal/mapToChangementReprésentantLégalCorrigéTimelineItemProps.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/représentant-légal/mapToChangementReprésentantLégalDemandéTimelineItemProps.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/représentant-légal/mapToChangementReprésentantLégalRejetéTimelineItemProps.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/représentant-légal/mapToModificationActionnaireTimelineItemsProps.tsx
Due: eslint --fix

⬆️ Update multer 2.0.1 (#3129)
  package-lock.json
  packages/applications/legacy/package.json
Due: eslint --fix, prettier -w

♻️ ValueType UnitéPuissance
  packages/applications/document-builder/src/candidature/attestation/AttestationCandidatureOptions.ts
  packages/applications/document-builder/src/candidature/attestation/attestation.saga.ts
  packages/applications/document-builder/src/candidature/attestation/attestation.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/buildCertificate.ts
  packages/applications/document-builder/src/candidature/attestation/cre4/v0/attestation.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/cre4/v0/makeCertificate.tsx
  packages/applications/document-builder/src/candidature/attestation/cre4/v1/attestation.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/cre4/v1/makeCertificate.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v1/Introduction.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v1/ppe2.elimine.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v1/ppe2.laureat.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/Introduction.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/ppe2.elimine.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/ppe2.laureat.stories.tsx
  packages/applications/legacy/src/controllers/modificationRequest/_utils/modèles/délai.ts
  packages/applications/legacy/src/controllers/modificationRequest/délai/getDemanderDélaiPage.ts
  packages/applications/legacy/src/controllers/modificationRequest/fournisseur/getChangerFournisseurPage.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/demander/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/modifier/page.tsx
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/projet/src/candidature/consulter/consulterCandidature.query.ts
  packages/domain/projet/src/candidature/index.ts
  packages/domain/projet/src/candidature/lister/listerCandidatures.query.ts
  packages/domain/projet/src/candidature/unitéPuissance.valueType.ts
  packages/domain/projet/src/lauréat/puissance/consulter/consulterPuissance.query.ts
  packages/specifications/src/projet/lauréat/puissance/puissance.world.ts
  packages/specifications/src/projet/lauréat/puissance/stepDefinitions/puissance.then.ts
Due: eslint --fix

✨ Changement de l'unité de puissance des AO PV
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/autoconsommationMetropole.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/batiment.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/eolien.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/innovation.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/neutre.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/sol.ppe2.ts
Due: eslint --fix

🎨 Utilisations unitéPuissance
  packages/applications/document-builder/src/abandon/accordAbandonAvecRecandidature/Introduction.tsx
  packages/applications/document-builder/src/abandon/accordAbandonAvecRecandidature/RéponseAbandonAvecRecandidature.tsx
  packages/applications/document-builder/src/abandon/accordAbandonAvecRecandidature/accordAbandonAvecRecandidature.stories.tsx
  packages/applications/document-builder/src/abandon/accordAbandonAvecRecandidature/buildDocument.ts
  packages/applications/document-builder/src/candidature/attestation/attestation.saga.ts
  packages/applications/legacy/src/controllers/modificationRequest/_utils/modèles/délai.ts
  packages/applications/legacy/src/controllers/modificationRequest/délai/getDemanderDélaiPage.ts
  packages/applications/legacy/src/controllers/modificationRequest/fournisseur/getChangerFournisseurPage.ts
  packages/applications/legacy/src/controllers/modificationRequest/getDemandePage.ts
  packages/applications/legacy/src/infra/sequelize/queries/modificationRequest/getModificationRequestDetails.ts
  packages/applications/legacy/src/infra/sequelize/queries/modificationRequest/getModificationRequestListForAdmin.ts
  packages/applications/legacy/src/infra/sequelize/queries/modificationRequest/getModificationRequestListForPorteur.ts
  packages/applications/legacy/src/infra/sequelize/queries/project/getProjectDataForSignalerDemandeDelaiPage.ts
  packages/applications/legacy/src/infra/sequelize/queries/project/lister/requêtes/_utils/getProjetsAvecAppelOffre.ts
  packages/applications/legacy/src/modules/project/queries/GetProjectDataForProjectPage.ts
  packages/applications/legacy/src/modules/project/queries/listerProjets/ListerProjets.ts
  packages/applications/legacy/src/views/components/UI/organisms/ProjectList.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales/index.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/page.tsx
  packages/applications/ssr/src/app/candidatures/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/demander/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/modifier/page.tsx
  packages/applications/ssr/src/app/laureats/changements/puissance/page.tsx
  packages/applications/ssr/src/app/projets/[identifiant]/page.tsx
  packages/applications/ssr/src/components/pages/abandon/détails/accorder/accorderAbandonAvecRecandidature.action.ts
  packages/applications/ssr/src/components/pages/candidature/lister/CandidatureListItem.tsx
  packages/applications/ssr/src/components/pages/projet/éliminé/détails/DétailsProjetÉliminé.page.tsx
  packages/applications/ssr/src/components/pages/puissance/changement/détails/DétailsPuissance.page.tsx
  packages/applications/ssr/src/components/pages/puissance/changement/lister/ChangementPuissanceList.page.tsx
  packages/applications/ssr/src/utils/modèle-document/mapToModèleRéponsePayload.ts
  packages/domain/lauréat/src/raccordement/lister/listerDossierRaccordement.query.ts
  packages/domain/lauréat/src/raccordement/lister/listerDossierRaccordementEnAttenteMiseEnService.query.ts
  packages/domain/lauréat/src/raccordement/lister/listerDossierRaccordementManquants.query.ts
  packages/domain/projet/src/candidature/consulter/consulterCandidature.query.ts
  packages/domain/projet/src/candidature/lister/listerCandidatures.query.ts
  packages/domain/projet/src/candidature/unitéPuissance.valueType.ts
  packages/domain/projet/src/lauréat/puissance/changement/lister/listerChangementPuissance.query.ts
Due: eslint --fix

🐛 GetProjectData
  packages/applications/legacy/src/infra/sequelize/queries/project/consulter/getProjectDataForProjectPage.ts
Due: eslint --fix

🐛 Fix attributes
  packages/applications/legacy/src/infra/sequelize/queries/project/lister/requêtes/_utils/allAttributes.ts
Due: eslint --fix

🎨 Corriger fichier import csv
  .demo/exempleCandidatsPPE2.csv
Due: none

✏️ Fix lister changement puissance
  packages/domain/projet/src/lauréat/puissance/changement/lister/listerChangementPuissance.query.ts
Due: eslint --fix

⏪️ Revert
  packages/applications/ssr/src/app/projets/[identifiant]/page.tsx
  packages/applications/ssr/src/components/pages/projet/éliminé/détails/DétailsProjetÉliminé.page.tsx
  packages/domain/appel-offre/src/appelOffre.entity.ts
Due: eslint --fix

✅ Fix tests candidature
  packages/specifications/src/candidature/candidature.world.ts
Due: eslint --fix

✨ Usecase sans specs et subscribers
  packages/domain/projet/src/lauréat/fournisseur/changement/changementFournisseur.entity.ts
  packages/domain/projet/src/lauréat/fournisseur/changement/consulter/consulterChangementFournisseur.query.ts
  packages/domain/projet/src/lauréat/fournisseur/changement/enregistrerChangement/enregistrerChangement.command.ts
  packages/domain/projet/src/lauréat/fournisseur/changement/enregistrerChangement/enregistrerChangement.event.ts
  packages/domain/projet/src/lauréat/fournisseur/changement/enregistrerChangement/enregistrerChangement.option.ts
  packages/domain/projet/src/lauréat/fournisseur/changement/enregistrerChangement/enregistrerChangement.usecase.ts
  packages/domain/projet/src/lauréat/fournisseur/fournisseur.aggregate.ts
  packages/domain/projet/src/lauréat/fournisseur/fournisseur.event.ts
  packages/domain/projet/src/lauréat/fournisseur/fournisseur.register.ts
  packages/domain/projet/src/lauréat/fournisseur/index.ts
  packages/domain/projet/src/lauréat/fournisseur/typeDocumentFournisseur.valueType.ts
Due: eslint --fix

✨ Modifier évaluation carbone
  packages/applications/bootstrap/src/setupProjet.ts
  packages/applications/projectors/src/subscribers/lauréat/fournisseur/index.ts
  packages/applications/projectors/src/subscribers/lauréat/fournisseur/évaluationCarboneModifiée.projector.ts
  packages/domain/projet/src/lauréat/fournisseur/fournisseur.aggregate.ts
  packages/domain/projet/src/lauréat/fournisseur/fournisseur.event.ts
  packages/domain/projet/src/lauréat/fournisseur/fournisseur.register.ts
  packages/domain/projet/src/lauréat/fournisseur/index.ts
  packages/domain/projet/src/lauréat/fournisseur/modifier/modifierÉvaluationCarbone.command.ts
  packages/domain/projet/src/lauréat/fournisseur/modifier/modifierÉvaluationCarbone.event.ts
  packages/domain/projet/src/lauréat/fournisseur/modifier/modifierÉvaluationCarbone.options.ts
  packages/domain/projet/src/lauréat/fournisseur/modifier/modifierÉvaluationCarbone.usecase.ts
  packages/domain/projet/src/lauréat/lauréat.register.ts
  packages/specifications/src/projet/lauréat/fournisseur/fixtures/modifierÉvaluationCarbone.fixture.ts
  packages/specifications/src/projet/lauréat/fournisseur/fournisseur.world.ts
  packages/specifications/src/projet/lauréat/fournisseur/modifierÉvaluationCarbone.feature
  packages/specifications/src/projet/lauréat/fournisseur/stepDefinitions/fournisseur.then.ts
  packages/specifications/src/projet/lauréat/fournisseur/stepDefinitions/fournisseur.when.ts
  packages/specifications/src/projet/lauréat/lauréat.world.ts
Due: eslint --fix, prettier -w

🎨 Accord
  packages/domain/projet/src/lauréat/fournisseur/fournisseur.aggregate.ts
  packages/domain/projet/src/lauréat/fournisseur/modifier/modifierÉvaluationCarbone.command.ts
  packages/domain/projet/src/lauréat/fournisseur/modifier/modifierÉvaluationCarbone.event.ts
  packages/domain/projet/src/lauréat/fournisseur/modifier/modifierÉvaluationCarbone.options.ts
  packages/domain/projet/src/lauréat/fournisseur/modifier/modifierÉvaluationCarbone.usecase.ts
  packages/specifications/src/projet/lauréat/fournisseur/fixtures/modifierÉvaluationCarbone.fixture.ts
  packages/specifications/src/projet/lauréat/fournisseur/stepDefinitions/fournisseur.when.ts
Due: eslint --fix

♻️ Renommage event
  packages/applications/bootstrap/src/setupProjet.ts
  packages/applications/projectors/src/subscribers/lauréat/fournisseur/index.ts
  packages/domain/projet/src/lauréat/fournisseur/fournisseur.aggregate.ts
  packages/domain/projet/src/lauréat/fournisseur/modifier/modifierÉvaluationCarbone.event.ts
Due: eslint --fix

💄 Front
  packages/applications/cli/src/commands/candidature/migrer.ts
Due: eslint --fix

💄 Front
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/getLauréat.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/modifier/page.tsx
  packages/applications/ssr/src/components/pages/lauréat/modifier/ModifierLauréat.form.tsx
  packages/applications/ssr/src/components/pages/lauréat/modifier/components/fields/ProjectField.tsx
  packages/applications/ssr/src/components/pages/lauréat/modifier/modifierLauréat.action.ts
  packages/applications/ssr/src/utils/candidature/candidatureNotifiée.schema.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

✨ Edge cases
  packages/domain/projet/src/lauréat/fournisseur/fournisseur.aggregate.ts
  packages/domain/projet/src/lauréat/fournisseur/fournisseur.error.ts
  packages/specifications/src/projet/lauréat/fournisseur/fournisseur.world.ts
  packages/specifications/src/projet/lauréat/fournisseur/modifierÉvaluationCarbone.feature
  packages/specifications/src/projet/lauréat/fournisseur/stepDefinitions/fournisseur.when.ts
Due: eslint --fix, prettier -w

🗃️ Update dump
  .database/potentiel-dev.dump
Due: none

Update packages/specifications/src/projet/lauréat/fournisseur/modifierÉvaluationCarbone.feature
  packages/specifications/src/projet/lauréat/fournisseur/modifierÉvaluationCarbone.feature
Due: prettier -w

🚧 Moving all Record/ReadModels in Historique package
  packages/applications/ssr/src/app/laureats/[identifiant]/historique/page.tsx
  packages/applications/ssr/src/components/molecules/historique/HistoriqueTimeline.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/abandon/index.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/actionnaire/index.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/recours/index.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/représentant-légal/index.tsx
  packages/applications/ssr/src/components/pages/lauréat/historique/HistoriqueLauréat.page.tsx
  packages/domain/historique/package.json
  packages/domain/historique/src/historique.ts
  packages/domain/historique/src/lister/listerHistoriqueProjet.query.ts
  packages/domain/historique/tsconfig.json
Due: eslint --fix, prettier -w

🚚 Déplacement des read models et record dans le package historique
  packages/applications/ssr/src/app/elimine/[identifiant]/recours/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/changement/[date]/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/page.tsx
  packages/applications/ssr/src/components/pages/abandon/détails/DétailsAbandon.page.tsx
  packages/applications/ssr/src/components/pages/actionnaire/changement/détails/DétailsActionnaire.page.tsx
  packages/applications/ssr/src/components/pages/producteur/changement/détails/timeline/index.tsx
  packages/applications/ssr/src/components/pages/producteur/changement/détails/timeline/mapToChangementProducteurEnregistréTimelineItemProps.tsx
  packages/applications/ssr/src/components/pages/producteur/changement/détails/timeline/mapToProducteurImportéTimelineItemProps.tsx
  packages/applications/ssr/src/components/pages/producteur/changement/détails/timeline/mapToProducteurModifiéTimelineItemsProps.tsx
  packages/applications/ssr/src/components/pages/puissance/changement/détails/timeline/index.tsx
  packages/applications/ssr/src/components/pages/puissance/changement/détails/timeline/mapToChangementPuissanceAccordéTimelineItemProps.tsx
  packages/applications/ssr/src/components/pages/puissance/changement/détails/timeline/mapToChangementPuissanceAnnuléTimelineItemProps.tsx
  packages/applications/ssr/src/components/pages/puissance/changement/détails/timeline/mapToChangementPuissanceDemandéTimelineItemProps.tsx
  packages/applications/ssr/src/components/pages/puissance/changement/détails/timeline/mapToChangementPuissanceEnregistréTimelineItemProps.tsx
  packages/applications/ssr/src/components/pages/puissance/changement/détails/timeline/mapToChangementPuissanceRejetéTimelineItemProps.tsx
  packages/applications/ssr/src/components/pages/puissance/changement/détails/timeline/mapToPuissanceImportéeTimelineItemsProps.tsx
  packages/applications/ssr/src/components/pages/puissance/changement/détails/timeline/mapToPuissanceModifiéeTimelineItemsProps.tsx
  packages/applications/ssr/src/components/pages/recours/détails/DétailsRecours.page.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/détails/DétailsChangementReprésentantLégal.page.tsx
  packages/domain/historique/src/historique.ts
  packages/domain/historique/src/lister/listerHistoriqueProjet.query.ts
Due: eslint --fix

🔒️ Correction des permissions pour inviterPorteur
  packages/applications/bootstrap/src/middlewares/permission.middleware.ts
Due: eslint --fix

♻️ Refactor
  packages/applications/bootstrap/src/middlewares/permission.middleware.ts
Due: eslint --fix

✏️ Fix flow inviterPorteur réclamerPorteur
  packages/applications/projectors/src/subscribers/accès/accèsProjetAutorisé.projector.ts
  packages/applications/projectors/src/subscribers/accès/accèsProjetRetiré.projector.ts
  packages/applications/projectors/src/subscribers/utilisateur/index.ts
  packages/applications/projectors/src/subscribers/utilisateur/porteurInvité.projector.ts
  packages/applications/ssr/src/components/pages/réclamer-projets/réclamer/réclamerProjet.action.ts
  packages/applications/ssr/src/components/pages/utilisateur/lister/UtilisateurListItem.tsx
  packages/domain/utilisateur/src/consulter/consulterUtilisateur.query.ts
  packages/domain/utilisateur/src/créer/créerPorteur.command.ts
  packages/domain/utilisateur/src/créer/créerPorteur.usecase.ts
  packages/domain/utilisateur/src/index.ts
  packages/domain/utilisateur/src/inviter/inviterPorteur.behavior.ts
  packages/domain/utilisateur/src/register.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/domain/utilisateur/src/utilisateur.entity.ts
  packages/infrastructure/domain-adapters/src/utilisateur/getProjetUtilisateurScope.adapter.ts
  packages/infrastructure/domain-adapters/src/utilisateur/récupérerIdentifiantsProjetParEmailPorteur.adapter.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.when.ts
Due: eslint --fix

💄 Improve projetBanner css
  packages/applications/ssr/src/components/molecules/projet/ProjetBanner.template.tsx
Due: eslint --fix

💄 Fix scroll horizontal sur input file avec long nom de fichier
  packages/applications/ssr/src/components/atoms/form/document/UploadDocument.tsx
Due: eslint --fix

🔒️ Correction des permissions pour inviterPorteur (#3133)
  packages/applications/bootstrap/src/middlewares/permission.middleware.ts
  packages/applications/projectors/src/subscribers/accès/accèsProjetAutorisé.projector.ts
  packages/applications/projectors/src/subscribers/accès/accèsProjetRetiré.projector.ts
  packages/applications/projectors/src/subscribers/utilisateur/index.ts
  packages/applications/projectors/src/subscribers/utilisateur/porteurInvité.projector.ts
  packages/applications/ssr/src/components/pages/réclamer-projets/réclamer/réclamerProjet.action.ts
  packages/applications/ssr/src/components/pages/utilisateur/lister/UtilisateurListItem.tsx
  packages/domain/utilisateur/src/consulter/consulterUtilisateur.query.ts
  packages/domain/utilisateur/src/créer/créerPorteur.command.ts
  packages/domain/utilisateur/src/créer/créerPorteur.usecase.ts
  packages/domain/utilisateur/src/index.ts
  packages/domain/utilisateur/src/inviter/inviterPorteur.behavior.ts
  packages/domain/utilisateur/src/register.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/domain/utilisateur/src/utilisateur.entity.ts
  packages/infrastructure/domain-adapters/src/utilisateur/getProjetUtilisateurScope.adapter.ts
  packages/infrastructure/domain-adapters/src/utilisateur/récupérerIdentifiantsProjetParEmailPorteur.adapter.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.when.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
