Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml,feature}": "prettier -w"
}

✅ Fix: specs
  packages/specifications/src/projet/lauréat/actionnaire/accorderChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/annulerDemandeChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/stepDefinitions/actionnaire.given.ts
Due: eslint --fix, prettier -w

🐛 Ne pas déclencher l'appel query si la feature est pas activée
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getReprésentantLégal.ts
Due: eslint --fix

✅ Ajout d'un utilitaire de test pour spécifier des valeurs de lauréat
  packages/specifications/src/candidature/candidature.world.ts
  packages/specifications/src/candidature/fixtures/importerCandidature.fixture.ts
  packages/specifications/src/candidature/stepDefinitions/candidature.given.ts
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.given.ts
Due: eslint --fix

Update packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getReprésentantLégal.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getReprésentantLégal.ts
Due: eslint --fix

🎨 Retours reviews
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getReprésentantLégal.ts
Due: eslint --fix

🐛 Ne pas déclencher l'appel query de la demande de représentant légal si la feature n'est pas activée (#2544)
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getReprésentantLégal.ts
Due: eslint --fix

✨ Accorder changement actionnaire - domain et specs (#2531)
  packages/applications/bootstrap/src/setupLauréat.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/handleDemandeChangementActionnaireAccordée.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/index.ts
  packages/domain/lauréat/src/actionnaire/accorderDemandeChangement/accorderDemandeChangement.behavior.ts
  packages/domain/lauréat/src/actionnaire/accorderDemandeChangement/accorderDemandeChangement.command.ts
  packages/domain/lauréat/src/actionnaire/accorderDemandeChangement/accorderDemandeChangement.usecase.ts
  packages/domain/lauréat/src/actionnaire/actionnaire.aggregate.ts
  packages/domain/lauréat/src/actionnaire/actionnaire.register.ts
  packages/domain/lauréat/src/actionnaire/actionnaire.saga.ts
  packages/domain/lauréat/src/actionnaire/annulerDemandeChangement/annulerDemandeChangement.behavior.ts
  packages/domain/lauréat/src/actionnaire/consulterDemandeChangement/consulterChangementActionnaire.query.ts
  packages/domain/lauréat/src/actionnaire/demanderChangement/demandeChangement.behavior.ts
  packages/domain/lauréat/src/actionnaire/errors.ts
  packages/domain/lauréat/src/actionnaire/importer/importerActionnaire.behavior.ts
  packages/domain/lauréat/src/actionnaire/index.ts
  packages/domain/lauréat/src/actionnaire/modifier/modifierActionnaire.behavior.ts
  packages/domain/lauréat/src/actionnaire/statutChangementActionnaire.valueType.ts
  packages/domain/lauréat/src/actionnaire/typeDocumentActionnaire.valueType.ts
  packages/domain/lauréat/src/utils/assertUnreachable.ts
  packages/specifications/src/projet/lauréat/actionnaire/accorderChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/actionnaire.world.ts
  packages/specifications/src/projet/lauréat/actionnaire/annulerDemandeChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/demanderChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/fixtures/accorderChangementActionnaire.fixture.ts
  packages/specifications/src/projet/lauréat/actionnaire/fixtures/demanderChangementActionnaire.fixture.ts
  packages/specifications/src/projet/lauréat/actionnaire/modifierActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/stepDefinitions/actionnaire.given.ts
  packages/specifications/src/projet/lauréat/actionnaire/stepDefinitions/actionnaire.then.ts
  packages/specifications/src/projet/lauréat/actionnaire/stepDefinitions/actionnaire.when.ts
Due: eslint --fix, prettier -w

🧪 Specs ok
  packages/specifications/src/projet/lauréat/actionnaire/actionnaire.world.ts
  packages/specifications/src/projet/lauréat/actionnaire/fixtures/rejeterDemandeChangementActionnaire.fixture.ts
  packages/specifications/src/projet/lauréat/actionnaire/rejeterDemandeChangementActionnaire.feature
Due: eslint --fix, prettier -w

✨ Almost done
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/handleDemandeChangementActionnaireRejetée.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/index.ts
  packages/domain/lauréat/src/actionnaire/actionnaire.aggregate.ts
  packages/domain/lauréat/src/actionnaire/actionnaire.register.ts
  packages/domain/lauréat/src/actionnaire/index.ts
  packages/domain/lauréat/src/actionnaire/rejeterDemandeChangement/rejeterDemandeChangement.behavior.ts
  packages/domain/lauréat/src/actionnaire/rejeterDemandeChangement/rejeterDemandeChangement.command.ts
  packages/domain/lauréat/src/actionnaire/rejeterDemandeChangement/rejeterDemandeChangement.usecase.ts
  packages/specifications/src/projet/lauréat/actionnaire/rejeterDemandeChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/stepDefinitions/actionnaire.when.ts
Due: eslint --fix, prettier -w

🔥 Build
  packages/domain/lauréat/src/actionnaire/actionnaire.aggregate.ts
  packages/domain/lauréat/src/actionnaire/rejeterDemandeChangement/rejeterDemandeChangement.behavior.ts
  packages/domain/lauréat/src/actionnaire/statutChangementActionnaire.valueType.ts
Due: eslint --fix

✅ Retirer step flaky
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerGarantiesFinancièresActuelles.feature
Due: prettier -w

✅ Ajouter famille + refacto identifiant
  packages/specifications/src/candidature/fixtures/importerCandidature.fixture.ts
  packages/specifications/src/helpers/getFakeIdentifiantProjet.ts
  packages/specifications/src/projet/lauréat/abandon/fixtures/transmettrePreuveRecandidatureAbandon.fixture.ts
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.given.ts
  packages/specifications/src/projet/éliminé/fixtures/notifierÉliminé.fixture.ts
  packages/specifications/src/setup.ts
Due: eslint --fix

✅ All test ok
  packages/applications/bootstrap/src/setupLauréat.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/handleChangementActionnaireDemandé.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/handleDemandeChangementActionnaireAccordée.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/handleDemandeChangementActionnaireRejetée.ts
  packages/domain/lauréat/src/actionnaire/accorderDemandeChangement/accorderDemandeChangement.behavior.ts
  packages/domain/lauréat/src/actionnaire/accorderDemandeChangement/accorderDemandeChangement.command.ts
  packages/domain/lauréat/src/actionnaire/accorderDemandeChangement/accorderDemandeChangement.usecase.ts
  packages/domain/lauréat/src/actionnaire/actionnaire.entity.ts
  packages/domain/lauréat/src/actionnaire/actionnaire.saga.ts
  packages/domain/lauréat/src/actionnaire/consulterDemandeChangement/consulterChangementActionnaire.query.ts
  packages/domain/lauréat/src/actionnaire/demanderChangement/demandeChangement.behavior.ts
  packages/domain/lauréat/src/actionnaire/rejeterDemandeChangement/rejeterDemandeChangement.behavior.ts
  packages/specifications/src/projet/lauréat/actionnaire/accorderChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/actionnaire.world.ts
  packages/specifications/src/projet/lauréat/actionnaire/annulerDemandeChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/demanderChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/fixtures/accorderChangementActionnaire.fixture.ts
  packages/specifications/src/projet/lauréat/actionnaire/rejeterDemandeChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/stepDefinitions/actionnaire.given.ts
  packages/specifications/src/projet/lauréat/actionnaire/stepDefinitions/actionnaire.then.ts
  packages/specifications/src/projet/lauréat/actionnaire/stepDefinitions/actionnaire.when.ts
Due: eslint --fix, prettier -w

✨ Assignation des raccordements ZNI à SEI
  packages/applications/cli/src/commands/raccordement/update-sei.ts
  packages/domain/réseau/src/raccordement/lister/listerRaccordement.query.ts
  packages/infrastructure/ore-client/src/constant.ts
  packages/infrastructure/ore-client/src/helper/isSEI.test.ts
  packages/infrastructure/ore-client/src/helper/isSEI.ts
  packages/infrastructure/ore-client/src/helper/matchOutreMerAndCorseCodePostalToGRD.ts
  packages/infrastructure/ore-client/src/récupérerGRDParVille.ts
Due: eslint --fix

🚚 Rename to ZNI
  packages/infrastructure/ore-client/src/helper/isZNI.test.ts
  packages/infrastructure/ore-client/src/helper/isZNI.ts
  packages/infrastructure/ore-client/src/récupérerGRDParVille.ts
Due: eslint --fix

✏️ IsSome
  packages/infrastructure/ore-client/src/récupérerGRDParVille.ts
Due: eslint --fix

♻️ Bootstrap
  packages/applications/cli/src/commands/raccordement/update-sei.ts
Due: eslint --fix

🎨 WIP front and saga
  package-lock.json
  packages/applications/feature-flags/package.json
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getActionnaire.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/index.ts
  packages/applications/legacy/src/infra/sequelize/queries/project/consulter/getProjectDataForProjectPage.ts
  packages/applications/legacy/src/modules/project/queries/GetProjectDataForProjectPage.ts
  packages/applications/legacy/src/sagas/actionnaire.saga.ts
  packages/applications/legacy/src/sagas/registerSagas.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectActions.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales.tsx
  packages/applications/routes/src/index.ts
  packages/applications/routes/src/lauréat/actionnaire.routes.ts
  packages/applications/routes/src/lauréat/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/modifier/page.tsx
  packages/applications/ssr/src/components/pages/actionnaire/modifier/ModifierActionnaire.form.tsx
  packages/applications/ssr/src/components/pages/actionnaire/modifier/ModifierActionnaire.page.tsx
  packages/applications/ssr/src/components/pages/actionnaire/modifier/ModifierActionnaire.stories.tsx
  packages/applications/ssr/src/components/pages/actionnaire/modifier/modifierActionnaire.action.ts
  packages/applications/ssr/src/components/pages/candidature/détails/DétailsCandidature.page.tsx
  packages/domain/lauréat/src/actionnaire/modifier/modifierActionnaire.command.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix, prettier -w

🎨 Fix: query
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getActionnaire.ts
Due: eslint --fix

🎨 Fix: actionnaire comes from consulter
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getActionnaire.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/index.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/index.ts
  packages/applications/legacy/src/infra/sequelize/queries/project/consulter/getProjectDataForProjectPage.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales.tsx
Due: eslint --fix

🐛 Fix bootstrap + fix invite
  packages/applications/cli/src/commands/raccordement/modifier-grd.ts
  packages/applications/cli/src/commands/raccordement/modifier-référence.ts
  packages/applications/cli/src/commands/reseau/gestionnaires/import-keycloak-groups.ts
  packages/applications/cli/src/commands/users/invite.ts
Due: eslint --fix

🔀 Intégration des modifications de la release 3.36 (#2546)
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getRaccordement.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getReprésentantLégal.ts
Due: eslint --fix

🎨 Little fixies
  packages/applications/legacy/src/modules/project/queries/GetProjectDataForProjectPage.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectActions.tsx
  packages/domain/lauréat/src/actionnaire/modifier/modifierActionnaire.command.ts
Due: eslint --fix

✨ V1 transmettre demande form sans document
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/demander/page.tsx
  packages/applications/ssr/src/components/pages/actionnaire/demanderChangement/DemanderChangementActionnaire.form.tsx
  packages/applications/ssr/src/components/pages/actionnaire/demanderChangement/DemanderChangementActionnaire.page.tsx
  packages/applications/ssr/src/components/pages/actionnaire/demanderChangement/DemanderChangementActionnaire.stories.tsx
  packages/applications/ssr/src/components/pages/actionnaire/demanderChangement/demanderChangementActionnaire.action.ts
Due: eslint --fix

🚧 WIP
  package-lock.json
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole2016.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI2017.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/batiment.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/eolien.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/fessenheim.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/innovation.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/pvEolien.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/sol.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni2017.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.autoconsommationMetropole.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.batiment.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.eolien.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.innovation.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.neutre.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.sol.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.zni.ts
  packages/domain/lauréat/src/garantiesFinancières/typeTâchePlanifiéeGarantiesFinancières.valueType.ts
  packages/domain/lauréat/src/représentantLégal/changement/demander/demanderChangementReprésentantLégal.usecase.ts
  packages/domain/lauréat/src/représentantLégal/changement/typeTâchePlanifiéeChangementReprésentantLégal.valueType.ts
  packages/domain/lauréat/src/représentantLégal/index.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/demanderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changemementReprésentantLégal.when.ts
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.given.ts
  packages/specifications/src/tâche-planifiée/stepDefinitions/tâchePlanifiée.then.ts
  packages/specifications/src/tâche-planifiée/tâchePlanifiée.world.ts
Due: eslint --fix, prettier -w

✨ Attribution des raccordements ZNI à SEI (#2510)
  packages/applications/cli/src/commands/raccordement/modifier-grd.ts
  packages/applications/cli/src/commands/raccordement/modifier-référence.ts
  packages/applications/cli/src/commands/raccordement/update-sei.ts
  packages/applications/cli/src/commands/reseau/gestionnaires/import-keycloak-groups.ts
  packages/applications/cli/src/commands/users/invite.ts
  packages/domain/réseau/src/raccordement/lister/listerRaccordement.query.ts
  packages/infrastructure/ore-client/src/constant.ts
  packages/infrastructure/ore-client/src/helper/isZNI.test.ts
  packages/infrastructure/ore-client/src/helper/isZNI.ts
  packages/infrastructure/ore-client/src/helper/matchOutreMerAndCorseCodePostalToGRD.ts
  packages/infrastructure/ore-client/src/récupérerGRDParVille.ts
Due: eslint --fix

✨ Rejeter demande changement actionnaire (#2543)
  packages/applications/bootstrap/src/setupLauréat.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/handleChangementActionnaireDemandé.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/handleDemandeChangementActionnaireRejetée.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/index.ts
  packages/domain/lauréat/src/actionnaire/accorderDemandeChangement/accorderDemandeChangement.behavior.ts
  packages/domain/lauréat/src/actionnaire/actionnaire.aggregate.ts
  packages/domain/lauréat/src/actionnaire/actionnaire.entity.ts
  packages/domain/lauréat/src/actionnaire/actionnaire.register.ts
  packages/domain/lauréat/src/actionnaire/actionnaire.saga.ts
  packages/domain/lauréat/src/actionnaire/consulterDemandeChangement/consulterChangementActionnaire.query.ts
  packages/domain/lauréat/src/actionnaire/demanderChangement/demandeChangement.behavior.ts
  packages/domain/lauréat/src/actionnaire/index.ts
  packages/domain/lauréat/src/actionnaire/rejeterDemandeChangement/rejeterDemandeChangement.behavior.ts
  packages/domain/lauréat/src/actionnaire/rejeterDemandeChangement/rejeterDemandeChangement.command.ts
  packages/domain/lauréat/src/actionnaire/rejeterDemandeChangement/rejeterDemandeChangement.usecase.ts
  packages/domain/lauréat/src/actionnaire/statutChangementActionnaire.valueType.ts
  packages/specifications/src/projet/lauréat/actionnaire/accorderChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/actionnaire.world.ts
  packages/specifications/src/projet/lauréat/actionnaire/annulerDemandeChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/demanderChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/fixtures/accorderChangementActionnaire.fixture.ts
  packages/specifications/src/projet/lauréat/actionnaire/fixtures/rejeterDemandeChangementActionnaire.fixture.ts
  packages/specifications/src/projet/lauréat/actionnaire/rejeterDemandeChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/stepDefinitions/actionnaire.given.ts
  packages/specifications/src/projet/lauréat/actionnaire/stepDefinitions/actionnaire.then.ts
  packages/specifications/src/projet/lauréat/actionnaire/stepDefinitions/actionnaire.when.ts
Due: eslint --fix, prettier -w

✨ Ajout d'une tâche planifiée pour accorder ou rejeter de manière tacite la demande de changement au bout de 3 mois sans instruction
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole2016.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI2017.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/batiment.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/eolien.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/fessenheim.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/innovation.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/pvEolien.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/sol.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni2017.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.autoconsommationMetropole.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.batiment.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.eolien.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.innovation.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.neutre.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.sol.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.zni.ts
  packages/domain/lauréat/src/représentantLégal/changement/demander/demanderChangementReprésentantLégal.usecase.ts
  packages/domain/lauréat/src/représentantLégal/changement/typeTâchePlanifiéeChangementReprésentantLégal.valueType.ts
  packages/domain/lauréat/src/représentantLégal/index.ts
  packages/domain/lauréat/src/représentantLégal/représentantLégal.saga.ts
  packages/domain/lauréat/src/représentantLégal/saga/handleLauréatNotifié.ts
  packages/domain/lauréat/src/représentantLégal/saga/handleTâchePlanifiéeExecutée.ts
  packages/domain/lauréat/src/représentantLégal/saga/index.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/demanderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/importerReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/modifierReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.given.ts
  packages/specifications/src/tâche-planifiée/stepDefinitions/tâchePlanifiée.then.ts
  packages/specifications/src/tâche-planifiée/tâchePlanifiée.world.ts
Due: eslint --fix, prettier -w

♻️ Adapt to rebase changes
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/handleChangementReprésentantLégalAccordé.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/changement/representant-legal/page.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/détails/DétailsChangementReprésentantLégal.page.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/détails/DétailsChangementReprésentantLégal.stories.tsx
  packages/domain/lauréat/src/représentantLégal/changement/changementReprésentantLégal.entity.ts
  packages/domain/lauréat/src/représentantLégal/changement/consulter/consulterChangementReprésentantLégal.query.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/changementReprésentantLégal.world.ts
Due: eslint --fix

🚧 Start first scenario steps
  package-lock.json
  packages/applications/bootstrap/src/setupLauréat.ts
  packages/domain/lauréat/src/représentantLégal/changement/accorder/accorderChangementReprésentantLégal.behavior.ts
  packages/domain/lauréat/src/représentantLégal/changement/consulter/consulterChangementReprésentantLégal.query.ts
  packages/domain/lauréat/src/représentantLégal/représentantLégal.register.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/changementReprésentantLégal.world.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/fixtures/accorderChangementReprésentantLégal.fixture.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changemementReprésentantLégal.when.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.then.ts
Due: eslint --fix, prettier -w

🚧 Start accorder
  package-lock.json
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/handleChangementReprésentantLégalAccordé.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/index.ts
  packages/domain/lauréat/src/représentantLégal/changement/accorder/accorderChangementReprésentantLégal.behavior.ts
  packages/domain/lauréat/src/représentantLégal/changement/accorder/accorderChangementReprésentantLégal.command.ts
  packages/domain/lauréat/src/représentantLégal/changement/accorder/accorderChangementReprésentantLégal.usecase.ts
  packages/domain/lauréat/src/représentantLégal/changement/changementReprésentantLégal.entity.ts
  packages/domain/lauréat/src/représentantLégal/changement/consulter/consulterChangementReprésentantLégal.query.ts
  packages/domain/lauréat/src/représentantLégal/changement/typeDocumentChangementReprésentantLégal.valueType.ts
  packages/domain/lauréat/src/représentantLégal/index.ts
  packages/domain/lauréat/src/représentantLégal/représentantLégal.aggregate.ts
  packages/specifications/package.json
  packages/specifications/src/projet/lauréat/représentant-légal/changement/accorderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/changementReprésentantLégal.world.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/fixtures/accorderChangementReprésentantLégal.fixture.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changemementReprésentantLégal.when.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.then.ts
  packages/specifications/tsconfig.json
Due: eslint --fix, prettier -w

✅ Cannot accorder if no demande
  packages/applications/ssr/src/app/laureats/changements/representant-legal/page.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/StatutChangementReprésentantLégalBadge.tsx
  packages/domain/lauréat/src/représentantLégal/changement/accorder/accorderChangementReprésentantLégal.behavior.ts
  packages/domain/lauréat/src/représentantLégal/changement/demander/demanderChangementReprésentantLégal.behavior.ts
  packages/domain/lauréat/src/représentantLégal/changement/statutChangementReprésentantLégal.valueType.ts
  packages/domain/lauréat/src/représentantLégal/importer/importerReprésentantLégal.behavior.ts
  packages/domain/lauréat/src/représentantLégal/modifier/modifierReprésentantLégal.behavior.ts
  packages/domain/lauréat/src/représentantLégal/représentantLégal.aggregate.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/accorderChangementReprésentantLégal.feature
Due: eslint --fix, prettier -w

✅ Implement 1sr edge case
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/handleChangementReprésentantLégalAccordé.ts
  packages/domain/lauréat/src/représentantLégal/changement/accorder/accorderChangementReprésentantLégal.behavior.ts
  packages/domain/lauréat/src/représentantLégal/changement/statutChangementReprésentantLégal.valueType.ts
  packages/domain/lauréat/src/représentantLégal/représentantLégal.aggregate.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/accorderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.given.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.then.ts
  packages/specifications/src/projet/lauréat/représentant-légal/représentantLégal.world.ts
Due: eslint --fix, prettier -w

✨ Corriger investissement/financement participatif d'une candidature CRE4
  packages/applications/ssr/src/components/pages/candidature/corriger/CorrigerCandidature.form.tsx
  packages/applications/ssr/src/components/pages/candidature/détails/DétailsCandidature.page.tsx
  packages/applications/ssr/src/components/pages/candidature/helpers/getActionnariatTypeLabel.ts
  packages/domain/candidature/src/typeActionnariat.valueType.ts
Due: eslint --fix

♻️ Remove reponseSignee from accorder
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/handleChangementReprésentantLégalAccordé.ts
  packages/applications/ssr/src/components/pages/représentant-légal/changement/détails/accorder/accorderChangementReprésentantLégal.action.ts
  packages/domain/lauréat/src/représentantLégal/changement/accorder/accorderChangementReprésentantLégal.behavior.ts
  packages/domain/lauréat/src/représentantLégal/changement/accorder/accorderChangementReprésentantLégal.command.ts
  packages/domain/lauréat/src/représentantLégal/changement/accorder/accorderChangementReprésentantLégal.usecase.ts
  packages/domain/lauréat/src/représentantLégal/changement/changementReprésentantLégal.entity.ts
  packages/domain/lauréat/src/représentantLégal/changement/consulter/consulterChangementReprésentantLégal.query.ts
  packages/domain/lauréat/src/représentantLégal/changement/typeDocumentChangementReprésentantLégal.valueType.ts
  packages/domain/lauréat/src/représentantLégal/représentantLégal.aggregate.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/changementReprésentantLégal.world.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/fixtures/accorderChangementReprésentantLégal.fixture.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changemementReprésentantLégal.when.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.given.ts
Due: eslint --fix

🎨 Retours reviews
  packages/domain/lauréat/src/garantiesFinancières/typeTâchePlanifiéeGarantiesFinancières.valueType.ts
  packages/domain/lauréat/src/représentantLégal/changement/demander/demanderChangementReprésentantLégal.usecase.ts
  packages/domain/lauréat/src/représentantLégal/changement/typeTâchePlanifiéeChangementReprésentantLégal.valueType.ts
  packages/specifications/src/tâche-planifiée/stepDefinitions/tâchePlanifiée.then.ts
  packages/specifications/src/tâche-planifiée/tâchePlanifiée.world.ts
Due: eslint --fix

🎨 Remove @select
  packages/specifications/src/projet/lauréat/représentant-légal/changement/demanderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/importerReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/modifierReprésentantLégal.feature
Due: prettier -w

🎨 Refactoring test and fixing demande
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/handleDemandeChangementActionnaireAnnulée.ts
  packages/specifications/src/projet/lauréat/actionnaire/accorderChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/actionnaire.world.ts
  packages/specifications/src/projet/lauréat/actionnaire/demanderChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/rejeterDemandeChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/stepDefinitions/actionnaire.then.ts
Due: eslint --fix, prettier -w

🐛 Accès des GRDs aux projets inconnus
  packages/applications/ssr/src/app/reseaux/raccordements/page.tsx
Due: eslint --fix

🐛 Accès des GRDs aux projets inconnus (#2549)
  packages/applications/ssr/src/app/reseaux/raccordements/page.tsx
Due: eslint --fix
