Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml,feature}": "prettier -w"
}

🚧 WIP : Use mailjet to send email
  packages/applications/legacy/.env.template
  packages/applications/request-context/src/authOptions.ts
  packages/applications/ssr/.env.template
Due: eslint --fix

♻️ Improve the auth error page
  packages/applications/request-context/src/authOptions.ts
  packages/applications/routes/src/auth/auth.routes.ts
  packages/applications/ssr/src/app/auth/error/page.tsx
  packages/applications/ssr/src/app/auth/unauthorized/page.tsx
  packages/applications/ssr/src/components/pages/custom-error/CustomError.page.tsx
Due: eslint --fix

♻️ Use sendEmail function instead of builtin nodemailer
  packages/applications/request-context/src/authOptions.ts
Due: eslint --fix

💄 Simplify the verifyRequest page design
  packages/applications/ssr/src/app/auth/verifyRequest/page.tsx
Due: eslint --fix

🗃️ Update dev dump with auth schema and tables
  .database/potentiel-dev.dump
Due: none

♻️ Renommage de l'operator include
  packages/domain/candidature/src/lister/listerCandidatures.query.ts
  packages/domain/entity/src/where/in.ts
  packages/domain/entity/src/where/include.ts
  packages/domain/entity/src/where/index.ts
  packages/domain/entity/src/where/notIn.ts
  packages/domain/entity/src/where/notInclude.ts
  packages/domain/entity/src/whereOptions.ts
  packages/domain/lauréat/src/_utils/getRoleBasedWhereCondition.ts
  packages/domain/lauréat/src/raccordement/lister/listerDossierRaccordement.query.ts
  packages/domain/lauréat/src/raccordement/lister/listerDossierRaccordementEnAttenteMiseEnService.query.ts
  packages/domain/tâche/src/consulter/consulterNombreTâches.query.ts
  packages/domain/tâche/src/lister/listerTâches.query.ts
  packages/domain/éliminé/src/_utils/getRoleBasedWhereCondition.ts
  packages/infrastructure/pg-projections/src/countProjection.test.ts
  packages/infrastructure/pg-projections/src/getWhereClause.ts
  packages/infrastructure/pg-projections/src/listProjection.test.ts
Due: eslint --fix

✨ Ajout de la période 7 de l'appel d'offre PPE2 Sol (#2815)
  packages/domain/inmemory-referential/src/appelOffre/PPE2/sol.ppe2.ts
Due: eslint --fix

🔥 Supprimer la query ListerProjets et la dépendence candidature->utilisateur
  package-lock.json
  packages/applications/bootstrap/src/setupCandidature.ts
  packages/applications/scheduled-tasks/src/garanties-financières/récupérer-fichier-gf-candidature-référentiel-dgec.ts
  packages/applications/ssr/src/app/projets-tmp/page.tsx
  packages/domain/candidature/package.json
  packages/domain/candidature/src/candidature.ts
  packages/domain/candidature/src/consulter/consulterProjet.query.ts
  packages/domain/candidature/src/lister/listerProjets.query.ts
  packages/domain/candidature/src/projet.entity.ts
  packages/domain/candidature/src/register.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/infrastructure/domain-adapters/src/candidature/projet.adapter.ts
Due: eslint --fix, prettier -w

🎨 Couple of little fix
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectActions.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/détails/DétailsChangementReprésentantLégal.page.tsx
Due: eslint --fix

🎨 New dump
  .database/potentiel-dev.dump
Due: none

🎨 Refacto: projector
  packages/applications/bootstrap/src/setupEliminé.ts
  packages/applications/notifications/src/subscribers/éliminé/recours.notification.ts
  packages/applications/projectors/src/index.ts
  packages/applications/projectors/src/subscribers/lauréat/lauréat/index.ts
  packages/applications/projectors/src/subscribers/lauréat/lauréat/lauréatModifié.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/lauréat/lauréatNotifié.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/lauréat/nomEtLocalitéLauréatImportés.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/lauréat/rebuildTriggered.projector.ts
  packages/applications/projectors/src/subscribers/période/index.ts
  packages/applications/projectors/src/subscribers/période/période.projector.ts
  packages/applications/projectors/src/subscribers/période/périodeNotifiée.projector.ts
  packages/applications/projectors/src/subscribers/période/périodeRebuildTriggered.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/éliminé.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/éliminé/index.ts
  packages/applications/projectors/src/subscribers/éliminé/éliminé/éliminéArchivé.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/éliminé/éliminéNotifié.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/éliminé/éliminéRebuildTriggered.projector.ts
  packages/domain/éliminé/src/éliminé.ts
Due: eslint --fix

♻️ Refacto: candidature projector
  packages/applications/projectors/src/index.ts
  packages/applications/projectors/src/subscribers/candidature/candidature.projector.ts
  packages/applications/projectors/src/subscribers/candidature/candidatureCorrigée.projector.ts
  packages/applications/projectors/src/subscribers/candidature/candidatureImportée.projector.ts
  packages/applications/projectors/src/subscribers/candidature/candidatureNotifiéeV1.projector.ts
  packages/applications/projectors/src/subscribers/candidature/candidatureNotifiéeV2.projector.ts
  packages/applications/projectors/src/subscribers/candidature/candidatureRebuildTriggered.projector.ts
  packages/applications/projectors/src/subscribers/candidature/index.ts
Due: eslint --fix

🎨 Update instead of upsert
  packages/applications/projectors/src/subscribers/lauréat/achèvement/attestationConformitéModifiée.projector.ts
Due: eslint --fix

🚚 MatchAny
  docs/contributing/CODING_CONVENTION.md
  packages/domain/candidature/src/lister/listerCandidatures.query.ts
  packages/domain/entity/src/where/in.ts
  packages/domain/entity/src/where/index.ts
  packages/domain/entity/src/where/matchAny.ts
  packages/domain/entity/src/where/notIn.ts
  packages/domain/entity/src/where/notMatchAny.ts
  packages/domain/entity/src/whereOptions.ts
  packages/domain/lauréat/src/_utils/getRoleBasedWhereCondition.ts
  packages/domain/lauréat/src/raccordement/lister/listerDossierRaccordement.query.ts
  packages/domain/lauréat/src/raccordement/lister/listerDossierRaccordementEnAttenteMiseEnService.query.ts
  packages/domain/tâche/src/consulter/consulterNombreTâches.query.ts
  packages/domain/tâche/src/lister/listerTâches.query.ts
  packages/domain/éliminé/src/_utils/getRoleBasedWhereCondition.ts
  packages/infrastructure/pg-projections/src/countProjection.test.ts
  packages/infrastructure/pg-projections/src/getWhereClause.ts
  packages/infrastructure/pg-projections/src/listProjection.test.ts
Due: eslint --fix

🚚 Rename contains->contain
  packages/domain/candidature/src/lister/listerCandidatures.query.ts
  packages/domain/entity/src/where/like.ts
  packages/domain/lauréat/src/abandon/lister/listerAbandons.query.ts
  packages/domain/lauréat/src/actionnaire/changement/lister/listerChangementActionnaire.query.ts
  packages/domain/lauréat/src/garantiesFinancières/dépôtEnCours/lister/listerDépôtsEnCoursGarantiesFinancières.query.ts
  packages/domain/lauréat/src/garantiesFinancières/projetEnAttenteDeGarantiesFinancières/lister/listerProjetsAvecGarantiesFinancièresEnAttente.query.ts
  packages/domain/lauréat/src/raccordement/lister/listerDossierRaccordement.query.ts
  packages/domain/lauréat/src/raccordement/rechercher/rechercherDossierRaccordement.query.ts
  packages/domain/lauréat/src/représentantLégal/changement/lister/listerChangementReprésentantLégal.query.ts
  packages/domain/réseau/src/gestionnaire/lister/listerGestionnaireRéseau.query.ts
  packages/domain/tâche/src/lister/listerTâches.query.ts
  packages/domain/éliminé/src/recours/lister/listerRecours.query.ts
Due: eslint --fix

remove unused
  packages/applications/ssr/src/components/molecules/projet/ProjetListItem.tsx
  packages/applications/ssr/src/components/pages/candidature/ProjetsList.page.tsx
Due: eslint --fix

🎨 Fix: notifier période
  packages/applications/projectors/src/subscribers/période/périodeNotifiée.projector.ts
Due: eslint --fix

🔥 Supprimer la query ListerProjets et la dépendence candidature -> utilisateur (#2824)
  package-lock.json
  packages/applications/bootstrap/src/setupCandidature.ts
  packages/applications/scheduled-tasks/src/garanties-financières/récupérer-fichier-gf-candidature-référentiel-dgec.ts
  packages/applications/ssr/src/app/projets-tmp/page.tsx
  packages/applications/ssr/src/components/molecules/projet/ProjetListItem.tsx
  packages/applications/ssr/src/components/pages/candidature/ProjetsList.page.tsx
  packages/domain/candidature/package.json
  packages/domain/candidature/src/candidature.ts
  packages/domain/candidature/src/consulter/consulterProjet.query.ts
  packages/domain/candidature/src/lister/listerProjets.query.ts
  packages/domain/candidature/src/projet.entity.ts
  packages/domain/candidature/src/register.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/infrastructure/domain-adapters/src/candidature/projet.adapter.ts
Due: eslint --fix, prettier -w

♻️ Renommage de l'operator include (#2823)
  docs/contributing/CODING_CONVENTION.md
  packages/domain/candidature/src/lister/listerCandidatures.query.ts
  packages/domain/entity/src/where/include.ts
  packages/domain/entity/src/where/index.ts
  packages/domain/entity/src/where/like.ts
  packages/domain/entity/src/where/matchAny.ts
  packages/domain/entity/src/where/notInclude.ts
  packages/domain/entity/src/where/notMatchAny.ts
  packages/domain/entity/src/whereOptions.ts
  packages/domain/lauréat/src/_utils/getRoleBasedWhereCondition.ts
  packages/domain/lauréat/src/abandon/lister/listerAbandons.query.ts
  packages/domain/lauréat/src/actionnaire/changement/lister/listerChangementActionnaire.query.ts
  packages/domain/lauréat/src/garantiesFinancières/dépôtEnCours/lister/listerDépôtsEnCoursGarantiesFinancières.query.ts
  packages/domain/lauréat/src/garantiesFinancières/projetEnAttenteDeGarantiesFinancières/lister/listerProjetsAvecGarantiesFinancièresEnAttente.query.ts
  packages/domain/lauréat/src/raccordement/lister/listerDossierRaccordement.query.ts
  packages/domain/lauréat/src/raccordement/lister/listerDossierRaccordementEnAttenteMiseEnService.query.ts
  packages/domain/lauréat/src/raccordement/rechercher/rechercherDossierRaccordement.query.ts
  packages/domain/lauréat/src/représentantLégal/changement/lister/listerChangementReprésentantLégal.query.ts
  packages/domain/réseau/src/gestionnaire/lister/listerGestionnaireRéseau.query.ts
  packages/domain/tâche/src/consulter/consulterNombreTâches.query.ts
  packages/domain/tâche/src/lister/listerTâches.query.ts
  packages/domain/éliminé/src/_utils/getRoleBasedWhereCondition.ts
  packages/domain/éliminé/src/recours/lister/listerRecours.query.ts
  packages/infrastructure/pg-projections/src/countProjection.test.ts
  packages/infrastructure/pg-projections/src/getWhereClause.ts
  packages/infrastructure/pg-projections/src/listProjection.test.ts
Due: eslint --fix

✨ Include operator
  packages/domain/entity/src/where/include.ts
  packages/domain/entity/src/where/index.ts
  packages/domain/entity/src/where/notInclude.ts
  packages/domain/entity/src/whereOptions.ts
  packages/infrastructure/pg-projections/src/getWhereClause.ts
  packages/infrastructure/pg-projections/src/listProjection.test.ts
Due: eslint --fix

✅ Improve test + add not
  packages/infrastructure/pg-projections/src/getWhereClause.ts
  packages/infrastructure/pg-projections/src/listProjection.test.ts
Due: eslint --fix

💡 Comments
  packages/domain/entity/src/where/include.ts
  packages/domain/entity/src/where/notInclude.ts
Due: eslint --fix

✨ Include operator (#2828)
  packages/domain/entity/src/where/include.ts
  packages/domain/entity/src/where/index.ts
  packages/domain/entity/src/where/notInclude.ts
  packages/domain/entity/src/whereOptions.ts
  packages/infrastructure/pg-projections/src/getWhereClause.ts
  packages/infrastructure/pg-projections/src/listProjection.test.ts
Due: eslint --fix

✨ Permettre de personaliser l'icône du LinkAction
  packages/applications/ssr/src/app/candidatures/page.tsx
  packages/applications/ssr/src/components/atoms/LinkAction.tsx
  packages/applications/ssr/src/components/molecules/ListFilters.tsx
  packages/applications/ssr/src/components/organisms/ListHeader.tsx
  packages/applications/ssr/src/components/pages/réseau/gestionnaire/lister/GestionnaireRéseauList.page.tsx
  packages/applications/ssr/src/components/templates/ListPage.template.tsx
Due: eslint --fix

🗃️ Ajout stat dump local (#2821)
  .database/potentiel-dev.dump
Due: none

♻️ Refacto projectors éliminé, candidature, période et upsertProjection (#2827)
  packages/applications/bootstrap/src/setupEliminé.ts
  packages/applications/notifications/src/subscribers/éliminé/recours.notification.ts
  packages/applications/projectors/src/index.ts
  packages/applications/projectors/src/subscribers/candidature/candidature.projector.ts
  packages/applications/projectors/src/subscribers/candidature/candidatureCorrigée.projector.ts
  packages/applications/projectors/src/subscribers/candidature/candidatureImportée.projector.ts
  packages/applications/projectors/src/subscribers/candidature/candidatureNotifiéeV1.projector.ts
  packages/applications/projectors/src/subscribers/candidature/candidatureNotifiéeV2.projector.ts
  packages/applications/projectors/src/subscribers/candidature/candidatureRebuildTriggered.projector.ts
  packages/applications/projectors/src/subscribers/candidature/index.ts
  packages/applications/projectors/src/subscribers/lauréat/achèvement/attestationConformitéModifiée.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/lauréat/index.ts
  packages/applications/projectors/src/subscribers/lauréat/lauréat/lauréatModifié.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/lauréat/lauréatNotifié.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/lauréat/nomEtLocalitéLauréatImportés.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/lauréat/rebuildTriggered.projector.ts
  packages/applications/projectors/src/subscribers/période/index.ts
  packages/applications/projectors/src/subscribers/période/période.projector.ts
  packages/applications/projectors/src/subscribers/période/périodeNotifiée.projector.ts
  packages/applications/projectors/src/subscribers/période/périodeRebuildTriggered.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/éliminé.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/éliminé/index.ts
  packages/applications/projectors/src/subscribers/éliminé/éliminé/éliminéArchivé.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/éliminé/éliminéNotifié.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/éliminé/éliminéRebuildTriggered.projector.ts
  packages/domain/éliminé/src/éliminé.ts
Due: eslint --fix

✨ Partie domain pour recours
  packages/domain/éliminé/src/recours/instruire/passerRecoursEnInstruction.behavior.ts
  packages/domain/éliminé/src/recours/recours.aggregate.ts
  packages/specifications/src/projet/éliminé/recours/passerRecoursEnInstruction.feature
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.when.ts
Due: eslint --fix, prettier -w

🎨 Partie domain pour abandon
  packages/domain/lauréat/src/abandon/abandon.aggregate.ts
  packages/domain/lauréat/src/abandon/instruire/passerAbandonEnInstruction.behavior.ts
  packages/specifications/src/projet/lauréat/abandon/passerAbandonEnInstruction.feature
  packages/specifications/src/projet/lauréat/abandon/stepDefinitions/abandon.given.ts
  packages/specifications/src/projet/lauréat/abandon/stepDefinitions/abandon.when.ts
  packages/specifications/src/utilisateur/fixtures/admin.fixture.ts
Due: eslint --fix, prettier -w

🎨 Finish front and little refacto
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getAbandon.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/index.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectActions.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectHeader.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/AbandonInfoBox.tsx
  packages/applications/ssr/src/components/pages/abandon/détails/passerEnInstruction/PasserAbandonEnInstruction.form.tsx
  packages/applications/ssr/src/components/pages/recours/détails/passerEnInstruction/PasserRecoursEnInstruction.form.tsx
Due: eslint --fix

🎨 Front
  packages/applications/ssr/src/app/elimine/[identifiant]/recours/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/page.tsx
  packages/applications/ssr/src/components/pages/abandon/détails/DétailsAbandon.page.tsx
  packages/applications/ssr/src/components/pages/abandon/détails/passerEnInstruction/PasserAbandonEnInstruction.form.tsx
  packages/applications/ssr/src/components/pages/recours/détails/DétailsRecours.page.tsx
  packages/applications/ssr/src/components/pages/recours/détails/passerEnInstruction/PasserRecoursEnInstruction.form.tsx
  packages/domain/lauréat/src/abandon/abandon.aggregate.ts
  packages/domain/lauréat/src/abandon/instruire/passerAbandonEnInstruction.behavior.ts
  packages/domain/éliminé/src/recours/instruire/passerRecoursEnInstruction.behavior.ts
  packages/domain/éliminé/src/recours/recours.aggregate.ts
Due: eslint --fix

🐛 Fix: petite erreur
  packages/applications/ssr/src/app/elimine/[identifiant]/recours/page.tsx
Due: eslint --fix

💚 Fix: build
  packages/applications/ssr/src/app/elimine/[identifiant]/recours/page.tsx
Due: eslint --fix

🎨 Adress comments
  packages/applications/ssr/src/components/atoms/LinkAction.tsx
  packages/applications/ssr/src/components/molecules/ListFilters.tsx
Due: eslint --fix

✨ Personaliser l'icône du LinkAction + plusieurs filtres affectés (#2829)
  packages/applications/ssr/src/app/candidatures/page.tsx
  packages/applications/ssr/src/components/atoms/LinkAction.tsx
  packages/applications/ssr/src/components/molecules/ListFilters.tsx
  packages/applications/ssr/src/components/organisms/ListHeader.tsx
  packages/applications/ssr/src/components/pages/réseau/gestionnaire/lister/GestionnaireRéseauList.page.tsx
  packages/applications/ssr/src/components/templates/ListPage.template.tsx
Due: eslint --fix

🚧 Start implementing the EmailProvider with other providers...
  .database/permissions/grant.sql
  package-lock.json
  packages/applications/legacy/.env.template
  packages/applications/request-context/package.json
  packages/applications/request-context/src/authOptions.ts
  packages/applications/request-context/src/getUtilisateur.ts
  packages/applications/request-context/src/types.ts
  packages/applications/request-context/tsconfig.json
  packages/applications/ssr/.env.template
  packages/applications/ssr/src/app/auth/signIn/page.tsx
  packages/applications/ssr/src/app/auth/signOut/page.tsx
  packages/libraries/auth-pg-adapter/package.json
  packages/libraries/auth-pg-adapter/src/index.ts
  packages/libraries/auth-pg-adapter/tsconfig.json
Due: eslint --fix, prettier -w

✨ Introduce custom pages for email provider flow
  packages/applications/request-context/src/authOptions.ts
  packages/applications/routes/src/auth/auth.routes.ts
  packages/applications/ssr/src/app/auth/signIn/page.tsx
  packages/applications/ssr/src/app/auth/verifyRequest/page.tsx
Due: eslint --fix

✨ Do not allow admin, dgec-validateur and dreal to use magic link
  packages/applications/request-context/src/authOptions.ts
  packages/applications/request-context/src/canConnectWithMagicLink.ts
Due: eslint --fix

✨ No account url if connected with magic link
  packages/applications/legacy/src/views/components/UI/organisms/Header.tsx
  packages/applications/ssr/src/components/molecules/UserHeaderQuickAccessItem.tsx
Due: eslint --fix

♻️ Review env variable naming
  packages/applications/legacy/.env.template
  packages/applications/request-context/src/authOptions.ts
  packages/applications/routes/src/auth/auth.routes.ts
  packages/applications/ssr/.env.template
  packages/applications/ssr/src/app/auth/signIn/page.tsx
Due: eslint --fix

♻️ Use a form for email provider signin
  packages/applications/ssr/src/app/auth/signIn/page.tsx
Due: eslint --fix
