Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

🎨 Suppression check todo
  packages/applications/legacy/src/infra/sequelize/projectionsNext/project/updates/onProjectImported.ts
  packages/applications/legacy/src/sagas/candidature.saga.ts
Due: eslint --fix

🔥 Suppression des utilisations inutiles de la fonction sleep
  packages/domain/lauréat/src/abandon/accorder/accorderAbandon.behavior.ts
  packages/domain/éliminé/src/recours/accorder/accorderRecours.behavior.ts
  packages/specifications/src/gestionnaireRéseau/stepDefinitions/gestionnaireRéseau.given.ts
  packages/specifications/src/gestionnaireRéseau/stepDefinitions/gestionnaireRéseau.when.ts
  packages/specifications/src/projet/lauréat/achèvement/attestationConformité/stepDefinitions/attestationConformité.given.ts
  packages/specifications/src/projet/lauréat/achèvement/attestationConformité/stepDefinitions/attestationConformité.when.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.given.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.when.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/stepDefinitions/dépôtGarantiesFinancières.given.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/stepDefinitions/dépôtGarantiesFinancières.when.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/effacerHistorique/stepDefinitions/effacerHistoriqueGarantiesFinancières.when.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/en-attente/stepDefinitions/garantiesFinancièresEnAttente.given.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/stepDefinitions/mainlevéeGarantiesFinancières.when.ts
  packages/specifications/src/tâche-planifiée/stepDefinitions/tâchePlanifiée.given.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.given.ts
Due: eslint --fix

✨ Saga legacy pour import candidature + page d'import (#2070)
  package-lock.json
  packages/applications/cli/src/commands/files/rename.ts
  packages/applications/cli/src/commands/raccordement/importer-date-mes.ts
  packages/applications/cli/src/commands/raccordement/modifier-grd.ts
  packages/applications/cli/src/commands/raccordement/modifier-référence.ts
  packages/applications/legacy/src/helpers/getDepartementRegionFromCodePostal.ts
  packages/applications/legacy/src/infra/sequelize/projectionsNext/project/updates/onProjectImported.ts
  packages/applications/legacy/src/sagas/candidature.saga.ts
  packages/applications/legacy/src/sagas/registerSagas.ts
  packages/applications/ssr/package.json
  packages/applications/ssr/src/app/candidatures/importer/page.tsx
  packages/applications/ssr/src/components/atoms/form/Form.tsx
  packages/applications/ssr/src/components/atoms/form/FormFeedback.stories.tsx
  packages/applications/ssr/src/components/atoms/form/FormFeedback.tsx
  packages/applications/ssr/src/components/pages/candidature/importer/ImporterCandidatures.form.tsx
  packages/applications/ssr/src/components/pages/candidature/importer/ImporterCandidatures.page.tsx
  packages/applications/ssr/src/components/pages/candidature/importer/ImporterCandidatures.stories.tsx
  packages/applications/ssr/src/components/pages/candidature/importer/candidature.schema.ts
  packages/applications/ssr/src/components/pages/candidature/importer/importerCandidatures.action.ts
  packages/applications/ssr/src/components/pages/réseau/raccordement/importerDatesMiseEnService/importDatesMiseEnService.action.ts
  packages/applications/ssr/src/components/pages/réseau/raccordement/importerDatesMiseEnService/importerDatesMiseEnService.form.tsx
  packages/applications/ssr/src/utils/formAction.ts
  packages/domain/candidature/package.json
  packages/domain/candidature/src/candidature.ts
  packages/domain/candidature/src/consulter/consulterProjet.query.ts
  packages/domain/candidature/src/historiqueAbandon.valueType.ts
  packages/domain/candidature/src/importer/importerCandidature.behavior.ts
  packages/domain/candidature/src/importer/importerCandidature.command.ts
  packages/domain/candidature/src/importer/importerCandidature.usecase.ts
  packages/domain/candidature/src/index.ts
  packages/domain/candidature/src/technologie.valueType.ts
  packages/domain/lauréat/package.json
  packages/domain/utilisateur/src/role.valueType.ts
  packages/libraries/csv/src/parseCsv.ts
  packages/specifications/src/candidature/stepDefinitions/candidature.when.ts
Due: eslint --fix, prettier -w

🔥 Suppression des utilisations inutiles de la fonction sleep (#2077)
  packages/domain/lauréat/src/abandon/accorder/accorderAbandon.behavior.ts
  packages/domain/éliminé/src/recours/accorder/accorderRecours.behavior.ts
  packages/specifications/src/gestionnaireRéseau/stepDefinitions/gestionnaireRéseau.given.ts
  packages/specifications/src/gestionnaireRéseau/stepDefinitions/gestionnaireRéseau.when.ts
  packages/specifications/src/projet/lauréat/achèvement/attestationConformité/stepDefinitions/attestationConformité.given.ts
  packages/specifications/src/projet/lauréat/achèvement/attestationConformité/stepDefinitions/attestationConformité.when.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.given.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.when.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/stepDefinitions/dépôtGarantiesFinancières.given.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/stepDefinitions/dépôtGarantiesFinancières.when.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/effacerHistorique/stepDefinitions/effacerHistoriqueGarantiesFinancières.when.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/en-attente/stepDefinitions/garantiesFinancièresEnAttente.given.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/stepDefinitions/mainlevéeGarantiesFinancières.when.ts
  packages/specifications/src/tâche-planifiée/stepDefinitions/tâchePlanifiée.given.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.given.ts
Due: eslint --fix

✨ Impossible d'importer 2 fois la même candidature
  packages/domain/candidature/src/candidature.aggregate.ts
  packages/domain/candidature/src/importer/importerCandidature.behavior.ts
  packages/domain/candidature/src/importer/importerCandidature.command.ts
  packages/specifications/src/candidature/importerCandidature.feature
  packages/specifications/src/candidature/stepDefinitions/candidature.given.ts
  packages/specifications/src/candidature/stepDefinitions/candidature.when.ts
Due: eslint --fix, prettier -w

♻️ Remove candidature status "inconnu" and use indicator to know if already imported
  packages/domain/candidature/src/candidature.aggregate.ts
  packages/domain/candidature/src/importer/importerCandidature.behavior.ts
  packages/domain/candidature/src/statutCandidature.valueType.ts
  packages/specifications/src/candidature/importerCandidature.feature
Due: eslint --fix, prettier -w

♻️ Introduce CandidatureDéjàImporterError
  packages/domain/candidature/src/candidatureDéjàImporter.error.ts
  packages/domain/candidature/src/importer/importerCandidature.behavior.ts
Due: eslint --fix

✨ Impossible d'importer 2 fois la même candidature (#2076)
  packages/domain/candidature/src/candidature.aggregate.ts
  packages/domain/candidature/src/candidatureDéjàImporter.error.ts
  packages/domain/candidature/src/importer/importerCandidature.behavior.ts
  packages/domain/candidature/src/importer/importerCandidature.command.ts
  packages/domain/candidature/src/statutCandidature.valueType.ts
  packages/specifications/src/candidature/importerCandidature.feature
  packages/specifications/src/candidature/stepDefinitions/candidature.given.ts
  packages/specifications/src/candidature/stepDefinitions/candidature.when.ts
Due: eslint --fix, prettier -w

♻️ La propriété `détails` ne doit pas être optionnelle
  packages/domain/candidature/src/importer/importerCandidature.behavior.ts
  packages/domain/candidature/src/importer/importerCandidature.command.ts
  packages/domain/candidature/src/importer/importerCandidature.usecase.ts
Due: eslint --fix

♻️ La propriété `détails` ne doit pas être optionnelle (#2078)
  packages/domain/candidature/src/importer/importerCandidature.behavior.ts
  packages/domain/candidature/src/importer/importerCandidature.command.ts
  packages/domain/candidature/src/importer/importerCandidature.usecase.ts
Due: eslint --fix

⬆️ Upgrade dev dependencies
  package-lock.json
  packages/applications/legacy/package.json
Due: eslint --fix, prettier -w

⬆️ Upgrade out of date dependencies
  package-lock.json
Due: eslint --fix, prettier -w

💚 Upgrade CI node to v20
  .github/workflows/shared-workflow.yml
Due: eslint --fix, prettier -w

⬆️ Mise à jour de paquets obsolètes (#2079)
  .github/workflows/shared-workflow.yml
  package-lock.json
  packages/applications/legacy/package.json
Due: eslint --fix, prettier -w

✨ Vérifier la consistance des données d'AO
  package-lock.json
  packages/applications/bootstrap/src/bootstrap.ts
  packages/domain/candidature/package.json
  packages/domain/candidature/src/appelOffreInexistant.error.ts
  packages/domain/candidature/src/candidatureDéjàImportée.error.ts
  packages/domain/candidature/src/importer/importerCandidature.behavior.ts
  packages/domain/candidature/tsconfig.json
  packages/specifications/src/candidature/importerCandidature.feature
Due: eslint --fix, prettier -w

🚸 Split formfeedback csv error and formfeedblack classic
  packages/applications/ssr/src/components/atoms/form/Form.tsx
  packages/applications/ssr/src/components/atoms/form/FormFeedback.stories.tsx
  packages/applications/ssr/src/components/atoms/form/FormFeedback.tsx
  packages/applications/ssr/src/components/atoms/form/FormFeedbackCsvErrors.stories.tsx
  packages/applications/ssr/src/components/atoms/form/FormFeedbackCsvErrors.tsx
Due: eslint --fix

💚 Utilisation de la v20 de node dans les github workflows
  .github/workflows/release.yml
Due: eslint --fix, prettier -w

💚 Utilisation de la v20 de node dans les github workflows (#2082)
  .github/workflows/release.yml
Due: eslint --fix, prettier -w

🚸 Split en deux composants les feedback formulaire de type CSV et les autres (#2080)
  packages/applications/ssr/src/components/atoms/form/Form.tsx
  packages/applications/ssr/src/components/atoms/form/FormFeedback.stories.tsx
  packages/applications/ssr/src/components/atoms/form/FormFeedback.tsx
  packages/applications/ssr/src/components/atoms/form/FormFeedbackCsvErrors.stories.tsx
  packages/applications/ssr/src/components/atoms/form/FormFeedbackCsvErrors.tsx
Due: eslint --fix

🎨 Spec typo
  packages/specifications/src/candidature/importerCandidature.feature
Due: prettier -w

🐛 Rajout de l'attente supprimée par erreur
  packages/domain/lauréat/src/abandon/accorder/accorderAbandon.behavior.ts
Due: eslint --fix

🐛 Rajout de l'attente supprimée par erreur (#2083)
  packages/domain/lauréat/src/abandon/accorder/accorderAbandon.behavior.ts
Due: eslint --fix

✨ Consistancy GF
  packages/domain/candidature/src/candidature.aggregate.ts
  packages/domain/candidature/src/garantiesFinancièresRequises.error.ts
  packages/domain/candidature/src/importer/importerCandidature.behavior.ts
  packages/domain/candidature/src/importer/importerCandidature.command.ts
  packages/domain/candidature/src/statutCandidature.valueType.ts
  packages/specifications/src/candidature/importerCandidature.feature
  packages/specifications/src/candidature/stepDefinitions/candidature.when.ts
Due: eslint --fix, prettier -w

✨ Empêcher l'import d'une période legacy
  packages/domain/candidature/src/importer/importerCandidature.behavior.ts
  packages/domain/candidature/src/périodeAppelOffreLegacy.error.ts
  packages/specifications/src/candidature/importerCandidature.feature
Due: eslint --fix, prettier -w

✨ Consistance des données d'AO et GF à l'import d'une candidature (#2081)
  package-lock.json
  packages/applications/bootstrap/src/bootstrap.ts
  packages/domain/candidature/package.json
  packages/domain/candidature/src/appelOffreInexistant.error.ts
  packages/domain/candidature/src/candidature.aggregate.ts
  packages/domain/candidature/src/candidatureDéjàImportée.error.ts
  packages/domain/candidature/src/garantiesFinancièresRequises.error.ts
  packages/domain/candidature/src/importer/importerCandidature.behavior.ts
  packages/domain/candidature/src/importer/importerCandidature.command.ts
  packages/domain/candidature/src/périodeAppelOffreLegacy.error.ts
  packages/domain/candidature/src/statutCandidature.valueType.ts
  packages/domain/candidature/tsconfig.json
  packages/specifications/src/candidature/importerCandidature.feature
  packages/specifications/src/candidature/stepDefinitions/candidature.when.ts
Due: eslint --fix, prettier -w

🚚 Rename legacy import candidats page
  packages/applications/legacy/src/controllers/notificationCandidats/index.ts
  packages/applications/legacy/src/controllers/notificationCandidats/legacyGetAdminImporterCandidatsPage.ts
  packages/applications/legacy/src/controllers/notificationCandidats/postImportProjects.ts
  packages/applications/legacy/src/routes.ts
  packages/applications/legacy/src/views/components/UI/organisms/UserNavigation.tsx
  packages/applications/legacy/src/views/index.ts
  packages/applications/legacy/src/views/pages/LegacyAdminImporterCandidatsPage.tsx
  packages/applications/legacy/src/views/pages/index.ts
  packages/applications/routes/src/candidature/candidature.routes.ts
  packages/applications/routes/src/candidature/index.ts
  packages/applications/routes/src/index.ts
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
Due: eslint --fix

🎨 Utilisation des Routes
  packages/applications/legacy/src/views/components/UI/organisms/UserNavigation.tsx
  packages/applications/routes/src/lauréat/raccordement.routes.ts
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
  packages/applications/ssr/src/components/molecules/projet/ProjetListItem.tsx
Due: eslint --fix

🎨 Lien vers la nouvelle page d'import des candidats (#2084)
  packages/applications/legacy/src/controllers/notificationCandidats/index.ts
  packages/applications/legacy/src/controllers/notificationCandidats/legacyGetAdminImporterCandidatsPage.ts
  packages/applications/legacy/src/controllers/notificationCandidats/postImportProjects.ts
  packages/applications/legacy/src/routes.ts
  packages/applications/legacy/src/views/components/UI/organisms/UserNavigation.tsx
  packages/applications/legacy/src/views/index.ts
  packages/applications/legacy/src/views/pages/LegacyAdminImporterCandidatsPage.tsx
  packages/applications/legacy/src/views/pages/index.ts
  packages/applications/routes/src/candidature/candidature.routes.ts
  packages/applications/routes/src/candidature/index.ts
  packages/applications/routes/src/index.ts
  packages/applications/routes/src/lauréat/raccordement.routes.ts
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
  packages/applications/ssr/src/components/molecules/projet/ProjetListItem.tsx
Due: eslint --fix

✨ Interdiction du champ notfiedOn à l'import de candidature
  packages/applications/ssr/src/components/pages/candidature/importer/candidature.schema.test.ts
  packages/applications/ssr/src/components/pages/candidature/importer/candidature.schema.ts
Due: eslint --fix

✨ Interdiction du champ notifiedOn à l'import de candidature (#2085)
  packages/applications/ssr/src/components/pages/candidature/importer/candidature.schema.test.ts
  packages/applications/ssr/src/components/pages/candidature/importer/candidature.schema.ts
Due: eslint --fix

🚑️ Correction sur les filtres de la page de notification des candidats
  package-lock.json
  packages/applications/legacy/src/views/pages/AdminNotificationCandidatsPage.tsx
Due: eslint --fix, prettier -w

🐛 Retours tests schema candidature
  packages/applications/ssr/src/components/pages/candidature/importer/candidature.schema.test.ts
  packages/applications/ssr/src/components/pages/candidature/importer/candidature.schema.ts
Due: eslint --fix

⏪️ Revert technologie
  packages/applications/ssr/src/components/pages/candidature/importer/candidature.schema.ts
Due: eslint --fix

✅ Fix tests
  packages/applications/ssr/src/components/pages/candidature/importer/candidature.schema.test.ts
Due: eslint --fix

🚑️ Correction sur les filtres de la page de notification des candidats (#2086)
  package-lock.json
  packages/applications/legacy/src/views/pages/AdminNotificationCandidatsPage.tsx
Due: eslint --fix, prettier -w

fixup! ⏪️ Revert technologie
  packages/applications/ssr/src/components/pages/candidature/importer/candidature.schema.ts
Due: eslint --fix

🐛 Retours tests schema candidature (#2087)
  packages/applications/ssr/src/components/pages/candidature/importer/candidature.schema.test.ts
  packages/applications/ssr/src/components/pages/candidature/importer/candidature.schema.ts
Due: eslint --fix

✨ Renommage de la colonne historique_abandon du csv d'import de candidature
  packages/applications/legacy/src/modules/project/useCases/importProjects.spec.ts
  packages/applications/legacy/src/modules/project/utils/parseProjectLine.spec.ts
  packages/applications/legacy/src/modules/project/utils/parseProjectLine.ts
  packages/applications/ssr/src/components/pages/candidature/importer/candidature.schema.test.ts
  packages/applications/ssr/src/components/pages/candidature/importer/candidature.schema.ts
Due: eslint --fix

🍱 Maj des fichiers csv d'exemple
  .demo/exampleCandidatsCRE4.csv
  .demo/exempleCandidatsPPE2.csv
  .demo/test-projects-seed.csv
Due: none

✨ Renommage de la colonne historique_abandon du csv d'import de candidature (#2089)
  .demo/exampleCandidatsCRE4.csv
  .demo/exempleCandidatsPPE2.csv
  .demo/test-projects-seed.csv
  packages/applications/legacy/src/modules/project/useCases/importProjects.spec.ts
  packages/applications/legacy/src/modules/project/utils/parseProjectLine.spec.ts
  packages/applications/legacy/src/modules/project/utils/parseProjectLine.ts
  packages/applications/ssr/src/components/pages/candidature/importer/candidature.schema.test.ts
  packages/applications/ssr/src/components/pages/candidature/importer/candidature.schema.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
