Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml,feature}": "prettier -w"
}

🎨 Désignation vs dedésignation
  packages/specifications/src/candidature/stepDefinitions/candidature.given.ts
  packages/specifications/src/projet/lauréat/lauréat.world.ts
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.given.ts
  packages/specifications/src/projet/éliminé/stepDefinitions/éliminé.given.ts
  packages/specifications/src/projet/éliminé/éliminé.world.ts
Due: eslint --fix

✨ Ajout accés liste dossier de raccordement pour la CRE
  packages/applications/legacy/src/views/components/UI/organisms/UserNavigation.tsx
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

✨ Ajout accés liste dossier de raccordement pour la CRE (#2454)
  packages/applications/legacy/src/views/components/UI/organisms/UserNavigation.tsx
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🚧 Test with s3 v2
  packages/specifications/src/setup.ts
Due: eslint --fix

🧑‍💻 Refacto: users
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/candidature/importerCandidature.feature
  packages/specifications/src/candidature/stepDefinitions/candidature.given.ts
  packages/specifications/src/candidature/stepDefinitions/candidature.when.ts
  packages/specifications/src/gestionnaireRéseau/ajouterGestionnaireRéseau.feature
  packages/specifications/src/gestionnaireRéseau/modifierGestionnaireRéseau.feature
  packages/specifications/src/gestionnaireRéseau/stepDefinitions/gestionnaireRéseau.when.ts
  packages/specifications/src/gestionnaireRéseau/validerRéférenceDossierRaccordement.feature
  packages/specifications/src/projet/lauréat/abandon/accorderAbandon.feature
  packages/specifications/src/projet/lauréat/abandon/annulerAbandon.feature
  packages/specifications/src/projet/lauréat/abandon/annulerRejetAbandon.feature
  packages/specifications/src/projet/lauréat/abandon/confirmerAbandon.feature
  packages/specifications/src/projet/lauréat/abandon/demanderAbandon.feature
  packages/specifications/src/projet/lauréat/abandon/demanderConfirmationAbandon.feature
  packages/specifications/src/projet/lauréat/abandon/demanderPreuveRecandidature.feature
  packages/specifications/src/projet/lauréat/abandon/transmettrePreuveRecandidature.feature
  packages/specifications/src/projet/lauréat/achèvement/attestationConformité/transmettreAttestationConformité.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/accorderDemandeMainlevéeGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/demanderMainlevéeGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/démarrerInstructionDemandeMainlevéeGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/rejeterDemandeMainlevéeGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/accorderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/rejeterChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/importerReprésentantLégal.feature
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
  packages/specifications/src/projet/éliminé/recours/annulerRecours.feature
  packages/specifications/src/projet/éliminé/recours/demanderRecours.feature
  packages/specifications/src/projet/éliminé/recours/rejeterRecours.feature
  packages/specifications/src/période/notifierPériode.feature
  packages/specifications/src/raccordement/supprimerRaccordement.feature
  packages/specifications/src/raccordement/transmettreDemandeComplèteDeRaccordement.feature
  packages/specifications/src/setup.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.given.ts
Due: eslint --fix, prettier -w

✅ Forgot one
  packages/specifications/src/projet/lauréat/abandon/rejeterAbandon.feature
Due: prettier -w

♻️ Modifier date de mise en service
  packages/applications/bootstrap/src/setupRéseau.ts
  packages/applications/projectors/src/subscribers/réseau/raccordement.projector.ts
  packages/domain/réseau/src/raccordement/index.ts
  packages/domain/réseau/src/raccordement/modifier/modifierDateMiseEnService.behavior.ts
  packages/domain/réseau/src/raccordement/modifier/modifierDateMiseEnService.command.ts
  packages/domain/réseau/src/raccordement/modifier/modifierDateMiseEnService.usecase.ts
  packages/domain/réseau/src/raccordement/raccordement.aggregate.ts
  packages/domain/réseau/src/raccordement/raccordement.register.ts
  packages/specifications/src/projet/lauréat/abandon/fixtures/demanderAbandon.fixture.ts
  packages/specifications/src/raccordement/modifierDateMiseEnService.feature
  packages/specifications/src/raccordement/stepDefinitions/raccordement.when.ts
  packages/specifications/src/raccordement/transmettreDateMiseEnService.feature
Due: eslint --fix, prettier -w

🎨 Roles
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

✨ Front form
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/[reference]/date-mise-en-service:modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/page.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/détails/components/ÉtapeMiseEnService.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/modifier/modifierDateMiseEnService/ModifierDateMiseEnService.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/modifier/modifierDateMiseEnService/ModifierDateMiseEnService.page.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/modifier/modifierDateMiseEnService/ModifierDateMiseEnService.stories.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/modifier/modifierDateMiseEnService/modifierDateMiseEnService.action.ts
Due: eslint --fix

🎨 Fix: redirection
  packages/applications/ssr/src/components/pages/réseau/raccordement/modifier/modifierDateMiseEnService/modifierDateMiseEnService.action.ts
  packages/applications/ssr/src/components/pages/réseau/raccordement/modifier/modifierGestionnaireRéseauRaccordement/modifierGestionnaireRéseauRaccordement.action.ts
  packages/applications/ssr/src/components/pages/réseau/raccordement/modifier/modifierPropositionTechniqueEtFinancière/modifierPropositionTechniqueEtFinancière.action.ts
  packages/applications/ssr/src/components/pages/réseau/raccordement/transmettre/transmettreDateMiseEnService/transmettreDateMiseEnService.action.ts
Due: eslint --fix

🎨 Refacto: less component
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/[reference]/date-mise-en-service:modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/[reference]/date-mise-en-service:transmettre/page.tsx
  packages/applications/ssr/src/components/organisms/raccordement/EnregistrerDateMiseEnService.form.tsx
  packages/applications/ssr/src/components/organisms/raccordement/EnregistrerDateMiseEnService.page.tsx
  packages/applications/ssr/src/components/organisms/raccordement/enregistrerDateMiseEnService.action.ts
  packages/applications/ssr/src/components/pages/réseau/raccordement/modifier/modifierDateMiseEnService/ModifierDateMiseEnService.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/modifier/modifierDateMiseEnService/ModifierDateMiseEnService.stories.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/transmettre/transmettreDateMiseEnService/TransmettreDateMiseEnService.page.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/transmettre/transmettreDateMiseEnService/TransmettreDateMiseEnService.stories.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/transmettre/transmettreDateMiseEnService/transmettreDateMiseEnService.action.ts
Due: eslint --fix

🎨 Remove unused lienRetour
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/[reference]/date-mise-en-service:modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/[reference]/date-mise-en-service:transmettre/page.tsx
Due: eslint --fix

✅ Add admin to setup
  packages/specifications/src/projet/lauréat/achèvement/attestationConformité/modifierAttestationConformité.feature
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.given.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.given.ts
Due: eslint --fix, prettier -w

🚧 Domain
  packages/domain/lauréat/src/représentantLégal/corriger/corrigerReprésentantLégal.behavior.ts
  packages/domain/lauréat/src/représentantLégal/corriger/corrigerReprésentantLégal.command.ts
  packages/domain/lauréat/src/représentantLégal/corriger/corrigerReprésentantLégal.usecase.ts
  packages/domain/lauréat/src/représentantLégal/index.ts
  packages/domain/lauréat/src/représentantLégal/représentantLégal.aggregate.ts
  packages/domain/lauréat/src/représentantLégal/représentantLégal.register.ts
Due: eslint --fix

✨ Ajout de la page ssr + componennts + routes + storybook
  packages/applications/routes/src/lauréat/index.ts
  packages/applications/routes/src/lauréat/représentantLégal.routes.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/corriger/page.tsx
  packages/applications/ssr/src/components/pages/changement-représentant-légal/corriger/CorrigerReprésentantLégal.form.tsx
  packages/applications/ssr/src/components/pages/changement-représentant-légal/corriger/CorrigerReprésentantLégal.page.tsx
  packages/applications/ssr/src/components/pages/changement-représentant-légal/corriger/CorrigerReprésentantLégal.stories.tsx
  packages/applications/ssr/src/components/pages/changement-représentant-légal/corriger/corrigerReprésentantLégal.action.ts
Due: eslint --fix

✨ Corriger la candidature ou le représentant légal en fonction de l'état du projet
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getNomReprésentantLégal.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getReprésentantLégal.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/index.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/index.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/Contact.tsx
  packages/applications/routes/src/index.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🚧 WIP test cas nominal
  packages/applications/bootstrap/src/setupLauréat.ts
  packages/applications/projectors/src/subscribers/lauréat/représentantLégal.projector.ts
  packages/specifications/src/projet/lauréat/représentant-légal/corrigerReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/fixtures/corrigerReprésentantLégal.fixture.ts
  packages/specifications/src/projet/lauréat/représentant-légal/importerReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/représentantLégal.world.ts
  packages/specifications/src/projet/lauréat/représentant-légal/stepDefinitions/représentantLégal.then.ts
  packages/specifications/src/projet/lauréat/représentant-légal/stepDefinitions/représentantLégal.when.ts
Due: eslint --fix, prettier -w

✅ Corriger le représentant légal d'un projet lauréat
  packages/domain/lauréat/src/représentantLégal/corriger/corrigerReprésentantLégal.behavior.ts
  packages/domain/lauréat/src/représentantLégal/représentantLégal.register.ts
  packages/specifications/src/projet/lauréat/représentant-légal/corrigerReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/stepDefinitions/représentantLégal.when.ts
Due: eslint --fix, prettier -w

✅ Impossible de corriger le représentant légal si le représentant légal n'existe pas pour ce projet
  packages/domain/lauréat/src/représentantLégal/corriger/corrigerReprésentantLégal.behavior.ts
  packages/domain/lauréat/src/représentantLégal/corriger/corrigerReprésentantLégal.command.ts
  packages/specifications/src/projet/lauréat/représentant-légal/corrigerReprésentantLégal.feature
Due: eslint --fix, prettier -w

✅ Impossible de corriger le représentant légal avec une valeur identique
  packages/domain/lauréat/src/représentantLégal/corriger/corrigerReprésentantLégal.behavior.ts
  packages/specifications/src/projet/lauréat/représentant-légal/corrigerReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/stepDefinitions/représentantLégal.when.ts
Due: eslint --fix, prettier -w

🗃️ Update dev dump w/ représentant légal stream
  .database/potentiel-dev.dump
Due: none

🎨 Ajouter le représentant légal world au given de lauréat (après notification)
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.given.ts
Due: eslint --fix

✨ Utilisation d'un stepper pour la modification d'un stream de représentant légal
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/corriger/page.tsx
  packages/applications/ssr/src/components/molecules/step/StepNavigation.tsx
  packages/applications/ssr/src/components/molecules/step/Steps.tsx
  packages/applications/ssr/src/components/pages/changement-représentant-légal/corriger/CorrigerReprésentantLégal.form.tsx
  packages/applications/ssr/src/components/pages/changement-représentant-légal/corriger/CorrigerReprésentantLégal.page.tsx
  packages/applications/ssr/src/components/pages/changement-représentant-légal/corriger/CorrigerReprésentantLégal.stories.tsx
  packages/applications/ssr/src/components/pages/changement-représentant-légal/corriger/corrigerReprésentantLégal.action.ts
  packages/applications/ssr/src/components/pages/changement-représentant-légal/corriger/steps/SaisieCorrectionReprésentantLégal.step.tsx
  packages/applications/ssr/src/components/pages/changement-représentant-légal/corriger/steps/SaisieTypePersonne.step.tsx
  packages/applications/ssr/src/components/pages/changement-représentant-légal/corriger/steps/Validation.step.tsx
  packages/applications/ssr/src/components/pages/changement-représentant-légal/corriger/steps/index.ts
  packages/applications/ssr/src/components/pages/changement-représentant-légal/demander/DemanderChangementReprésentantLégal.form.tsx
Due: eslint --fix

🎨 Envoyer le type de représentant légal
  packages/applications/projectors/src/subscribers/lauréat/représentantLégal.projector.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/modifier/page.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/demander/SaisieChangementReprésentantLégal.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/demander/demanderChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/components/pages/représentant-légal/détails/accorder/AccorderChangementReprésentantLégal.form.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/détails/accorder/accorderChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/components/pages/représentant-légal/modifier/ModifierReprésentantLégal.form.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/modifier/ModifierReprésentantLégal.page.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/modifier/ModifierReprésentantLégal.stories.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/modifier/modifierReprésentantLégal.action.ts
  packages/applications/ssr/src/components/pages/représentant-légal/modifier/steps/SaisieNomReprésentantLégal.step.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/modifier/steps/SaisieTypePersonne.step.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/modifier/steps/Validation.step.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/modifier/steps/index.ts
  packages/domain/lauréat/src/représentantLégal/consulter/consulterReprésentantLégal.query.ts
  packages/domain/lauréat/src/représentantLégal/importer/importerReprésentantLégal.behavior.ts
  packages/domain/lauréat/src/représentantLégal/index.ts
  packages/domain/lauréat/src/représentantLégal/modifier/modifierReprésentantLégal.behavior.ts
  packages/domain/lauréat/src/représentantLégal/modifier/modifierReprésentantLégal.command.ts
  packages/domain/lauréat/src/représentantLégal/modifier/modifierReprésentantLégal.usecase.ts
  packages/domain/lauréat/src/représentantLégal/représentantLégal.aggregate.ts
  packages/domain/lauréat/src/représentantLégal/représentantLégal.entity.ts
  packages/domain/lauréat/src/représentantLégal/typeReprésentantLégal.valueType.ts
  packages/specifications/src/projet/lauréat/représentant-légal/fixtures/corrigerReprésentantLégal.fixture.ts
  packages/specifications/src/projet/lauréat/représentant-légal/fixtures/importerReprésentantLégal.fixture.ts
  packages/specifications/src/projet/lauréat/représentant-légal/modifierReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/représentantLégal.world.ts
  packages/specifications/src/projet/lauréat/représentant-légal/stepDefinitions/représentantLégal.when.ts
Due: eslint --fix, prettier -w

🎨 Select spécifique pour le tyope de représetantLégal
  packages/applications/ssr/src/components/pages/représentant-légal/TypeReprésentantLégalSelect.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/modifier/ModifierReprésentantLégal.form.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/modifier/modifierReprésentantLégal.action.ts
  packages/applications/ssr/src/components/pages/représentant-légal/modifier/steps/SaisieTypePersonne.step.tsx
  packages/domain/lauréat/src/représentantLégal/consulter/consulterReprésentantLégal.query.ts
  packages/domain/lauréat/src/représentantLégal/importer/importerReprésentantLégal.behavior.ts
  packages/domain/lauréat/src/représentantLégal/représentantLégal.entity.ts
  packages/domain/lauréat/src/représentantLégal/typeReprésentantLégal.valueType.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/projet/lauréat/représentant-légal/fixtures/modifierReprésentantLégal.fixture.ts
  packages/specifications/src/projet/lauréat/représentant-légal/modifierReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/représentantLégal.world.ts
  packages/specifications/src/projet/lauréat/représentant-légal/stepDefinitions/représentantLégal.when.ts
Due: eslint --fix, prettier -w

🚚 Link to modifier page
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getReprésentantLégal.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/Contact.tsx
  packages/applications/routes/src/lauréat/représentantLégal.routes.ts
Due: eslint --fix

🎨 Renommer les types disponible dans le value type
  packages/applications/ssr/src/components/pages/représentant-légal/TypeReprésentantLégalSelect.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/modifier/ModifierReprésentantLégal.stories.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/modifier/modifierReprésentantLégal.action.ts
  packages/applications/ssr/src/components/pages/représentant-légal/modifier/steps/SaisieNomReprésentantLégal.step.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/modifier/steps/SaisieTypePersonne.step.tsx
  packages/domain/lauréat/src/représentantLégal/typeReprésentantLégal.valueType.ts
Due: eslint --fix

🎨 Notifier le porteur que son représentant légal a été modifié
  packages/applications/bootstrap/src/setupLauréat.ts
  packages/applications/notifications/src/index.ts
  packages/applications/notifications/src/subscribers/lauréat/représentantLégal.notification.ts
  packages/specifications/src/projet/lauréat/représentant-légal/modifierReprésentantLégal.feature
Due: eslint --fix, prettier -w

🎨 Wording modifier représentant légal
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/modifier/page.tsx
Due: eslint --fix

🎨 Retours de reviews
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getReprésentantLégal.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/Contact.tsx
  packages/applications/notifications/src/subscribers/lauréat/représentantLégal.notification.ts
  packages/applications/ssr/src/components/pages/représentant-légal/changement/demander/demanderChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/components/pages/représentant-légal/modifier/ModifierReprésentantLégal.page.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/modifier/modifierReprésentantLégal.action.ts
  packages/applications/ssr/src/components/pages/représentant-légal/modifier/steps/SaisieNomReprésentantLégal.step.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/modifier/steps/SaisieTypePersonne.step.tsx
  packages/specifications/src/projet/lauréat/représentant-légal/représentantLégal.world.ts
  packages/specifications/src/projet/lauréat/représentant-légal/stepDefinitions/représentantLégal.when.ts
Due: eslint --fix

🎨 Ne pas passer au step 3 si le step 2 est inchangé (meme type + meme nom)
  packages/applications/ssr/src/components/pages/représentant-légal/modifier/ModifierReprésentantLégal.form.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/modifier/steps/SaisieNomReprésentantLégal.step.tsx
Due: eslint --fix

💄 Meilleur rendu pour la liste des pièces à avoir en sa possession
  packages/applications/ssr/src/components/pages/représentant-légal/modifier/steps/SaisieTypePersonne.step.tsx
Due: eslint --fix

♻️ Création d'une méthode pour harmoniser et regrouper les informations en fonction du type de représentant légal
  packages/applications/ssr/src/components/pages/représentant-légal/modifier/steps/SaisieNomReprésentantLégal.step.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/modifier/steps/SaisieTypePersonne.step.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/modifier/steps/Validation.step.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/modifier/steps/_utils/getInfosBasedOnTypeReprésentant.tsx
Due: eslint --fix

🚸 Ajout d'un message de succès si la modification a bien été faite
  packages/applications/ssr/src/components/pages/représentant-légal/modifier/modifierReprésentantLégal.action.ts
Due: eslint --fix

🎨 Simplification du wording de navigation entre les steps
  packages/applications/ssr/src/components/pages/représentant-légal/modifier/ModifierReprésentantLégal.form.tsx
Due: eslint --fix

✅ Fix tests
  packages/specifications/src/projet/lauréat/représentant-légal/modifierReprésentantLégal.feature
Due: prettier -w

🚧 WIP
  packages/applications/ssr/src/components/organisms/raccordement/EnregistrerDaterMiseEnServiceAlert.tsx
Due: eslint --fix

🎨 Retours reviews
  packages/applications/ssr/src/components/pages/représentant-légal/modifier/steps/_utils/getInfosBasedOnTypeReprésentant.tsx
  packages/specifications/src/projet/lauréat/représentant-légal/modifierReprésentantLégal.feature
Due: eslint --fix, prettier -w
