Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

🚧 Wip
  packages/applications/cli/src/helpers/setupLogger.ts
  packages/applications/cli/src/hooks/init.ts
  packages/applications/projectors/src/subscribers/candidature/candidatureCorrigée.projector.ts
  packages/applications/projectors/src/subscribers/candidature/candidatureCorrigéeV1.projector.ts
  packages/applications/projectors/src/subscribers/candidature/candidatureImportée.projector.ts
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/corrigerCandidature.action.ts
  packages/applications/ssr/src/components/pages/lauréat/modifier/modifierLauréat.action.ts
  packages/domain/projet/src/candidature/candidature.aggregate.ts
  packages/domain/projet/src/candidature/candidature.entity.ts
  packages/domain/projet/src/candidature/consulter/consulterCandidature.query.ts
  packages/domain/projet/src/candidature/corriger/corrigerCandidature.usecase.ts
  packages/domain/projet/src/candidature/dépôt.valueType.ts
  packages/specifications/src/candidature/candidature.world.ts
  packages/specifications/src/candidature/fixtures/importerCandidature.fixture.ts
  packages/specifications/src/candidature/importerCandidature.feature
  packages/specifications/src/candidature/stepDefinitions/candidature.then.ts
  packages/specifications/src/candidature/stepDefinitions/candidature.when.ts
  packages/specifications/src/candidature/stepDefinitions/candidatureLegacy.given.ts
  packages/specifications/src/période/stepDefinitions/période.given.ts
Due: eslint --fix, prettier -w

♻️ Exemple
  packages/applications/ssr/src/app/candidatures/_helpers/getLocalité.ts
  packages/domain/projet/src/candidature/corriger/corrigerCandidature.command.ts
  packages/domain/projet/src/candidature/corriger/corrigerCandidature.usecase.ts
  packages/domain/projet/src/candidature/importer/importerCandidature.usecase.ts
  packages/specifications/src/candidature/candidature.world.ts
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/candidature/fixtures/corrigerCandidature.fixture.ts
  packages/specifications/src/candidature/importerCandidature.feature
  packages/specifications/src/candidature/stepDefinitions/candidature.given.ts
  packages/specifications/src/candidature/stepDefinitions/candidature.then.ts
  packages/specifications/src/candidature/stepDefinitions/candidature.when.ts
  packages/specifications/src/helpers/exempleMapper.ts
Due: eslint --fix, prettier -w

♻️ Ssr
  packages/applications/legacy/src/views/components/UI/templates/PageProjetTemplate.tsx
  packages/applications/ssr/src/app/_helpers/getProjet.ts
  packages/applications/ssr/src/app/candidatures/(liste)/CandidatureListItem.tsx
  packages/applications/ssr/src/app/candidatures/(liste)/CandidatureListItemActions.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/DétailsCandidature.page.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/corrigerCandidature.action.ts
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/page.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/page.tsx
  packages/applications/ssr/src/app/candidatures/corriger-par-lot/CorrigerCandidaturesParLot.action.ts
  packages/applications/ssr/src/app/candidatures/importer/importerCandidatures.action.ts
  packages/applications/ssr/src/app/elimine/[identifiant]/recours/modele-reponse/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/(détails)/accorder/accorderAbandonAvecRecandidature.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/modifier/page.tsx
  packages/applications/ssr/src/components/pages/lauréat/modifier/modifierLauréat.action.ts
  packages/applications/ssr/src/utils/candidature/candidatureCsv.schema.ts
  packages/applications/ssr/src/utils/candidature/mapCsvRowToDépôt.ts
  packages/applications/ssr/src/utils/candidature/mapCsvRowToInstruction.ts
  packages/applications/ssr/src/utils/modèle-document/mapToModèleRéponsePayload.ts
  packages/domain/projet/src/lauréat/consulter/consulterLauréat.query.ts
  packages/specifications/src/projet/lauréat/fixtures/modifierLauréat.fixture.ts
  packages/specifications/src/projet/lauréat/fixtures/notifierLauréat.fixture.ts
Due: eslint --fix

🎨 Hack test
  packages/specifications/src/candidature/fixtures/corrigerCandidature.fixture.ts
  packages/specifications/src/candidature/fixtures/importerCandidature.fixture.ts
  packages/specifications/src/fixture.ts
Due: eslint --fix

⏪️ Revert
  packages/applications/cli/src/helpers/setupLogger.ts
  packages/applications/cli/src/hooks/init.ts
Due: eslint --fix

🚚 Cohérence naming
  packages/domain/projet/src/candidature/dépôt.valueType.ts
Due: eslint --fix

🎨 Doc
  packages/specifications/src/helpers/exempleMapper.ts
Due: eslint --fix

🎨 Oubli
  packages/specifications/src/candidature/importerCandidature.feature
Due: prettier -w

🎨 Select
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/candidature/importerCandidature.feature
Due: prettier -w

🔀 Merge
  packages/specifications/src/candidature/fixtures/importerCandidature.fixture.ts
Due: eslint --fix

✨ Lister les demandes de délai (#3266)
  packages/applications/legacy/src/views/components/UI/organisms/UserNavigation.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/AcheteurObligéMenuLegacy.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/AdminMenuLegacy.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/CreMenuLegacy.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/DrealMenuLegacy.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/PorteurMenuLegacy.tsx
  packages/applications/routes/src/lauréat/délai.routes.ts
  packages/applications/ssr/src/app/laureats/changements/delai/DemandeDélaiList.page.tsx
  packages/applications/ssr/src/app/laureats/changements/delai/DemandeDélaiListItem.tsx
  packages/applications/ssr/src/app/laureats/changements/delai/page.tsx
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
  packages/domain/projet/src/lauréat/délai/délai.register.ts
  packages/domain/projet/src/lauréat/délai/index.ts
  packages/domain/projet/src/lauréat/délai/lister/listerDemandeDélai.query.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🚚 Fix name
  packages/applications/ssr/src/app/candidatures/corriger-par-lot/CorrigerCandidaturesParLot.action.ts
  packages/applications/ssr/src/app/candidatures/corriger-par-lot/CorrigerCandidaturesParLot.form.tsx
Due: eslint --fix

🚚 Déplacement de la partie détail délai dans le répertoire app
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/DétailsDemandeDélai.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/StatutDemandeDélaiBadge.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/page.tsx
  packages/applications/ssr/src/app/laureats/changements/delai/DemandeDélaiListItem.tsx
Due: eslint --fix

🔥 MapCsvRowToDépôt
  packages/applications/ssr/src/app/candidatures/corriger-par-lot/CorrigerCandidaturesParLot.action.ts
  packages/applications/ssr/src/app/candidatures/importer/importerCandidatures.action.ts
  packages/applications/ssr/src/utils/candidature/candidatureCsv.schema.ts
  packages/applications/ssr/src/utils/candidature/mapCsvRowToDépôt.ts
Due: eslint --fix

🎨 Refacto: organisation gfs dans AO
  packages/applications/document-builder/src/candidature/attestation/cre4/v0/makeCertificate.tsx
  packages/applications/document-builder/src/candidature/attestation/cre4/v1/makeCertificate.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v1/Laureat.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v1/ppe2.elimine.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/Laureat.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/ppe2.elimine.stories.tsx
  packages/applications/legacy/src/modules/projectAppelOffre/queries/getProjectAppelOffre.ts
  packages/applications/ssr/src/app/elimine/[identifiant]/recours/modele-reponse/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/modele-mise-en-demeure/route.ts
  packages/applications/ssr/src/utils/garanties-financières/vérifierAppelOffreSoumisAuxGarantiesFinancières.tsx
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole2016.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI2017.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/batiment.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/eolien.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/fessenheim.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/innovation.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/pvEolien.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/sol.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni2017.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/autoconsommationMetropole.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/batiment.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/eolien.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/innovation.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/neutre.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/sol.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/zni.ppe2.ts
  packages/domain/lauréat/src/garantiesFinancières/_utils/appelOffreSoumisAuxGarantiesFinancières.ts
  packages/domain/projet/src/candidature/candidature.aggregate.ts
Due: eslint --fix

🎨 WIP
  packages/domain/projet/src/candidature/typeGarantiesFinancières.valueType.ts
Due: eslint --fix

🎨 WIP
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/projet/src/candidature/typeGarantiesFinancières.valueType.ts
Due: eslint --fix

🎨 Ajout des types de gfs dans AO
  packages/applications/document-builder/src/candidature/attestation/ppe2/v1/ppe2.elimine.stories.tsx
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole2016.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI2017.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/batiment.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/eolien.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/fessenheim.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/innovation.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/pvEolien.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/sol.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni2017.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/autoconsommationMetropole.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/batiment.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/eolien.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/innovation.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/neutre.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/sol.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/zni.ppe2.ts
Due: eslint --fix

🎨 Review
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/modele-mise-en-demeure/route.ts
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/projet/src/candidature/typeGarantiesFinancières.valueType.ts
Due: eslint --fix

🎨 Test
  packages/domain/projet/src/candidature/typeGarantiesFinancières.valueType.ts
Due: eslint --fix

💚 Fix: bulid
  packages/applications/document-builder/src/candidature/attestation/ppe2/v1/Elimine.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v1/Laureat.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v1/ppe2.elimine.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/Elimine.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/Laureat.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/ppe2.elimine.stories.tsx
  packages/applications/ssr/src/app/_helpers/getGarantiesFinancièresTypeLabel.ts
  packages/applications/ssr/src/app/elimine/[identifiant]/recours/modele-reponse/route.ts
  packages/applications/ssr/src/utils/garanties-financières/vérifierAppelOffreSoumisAuxGarantiesFinancières.tsx
  packages/domain/lauréat/src/garantiesFinancières/_utils/appelOffreSoumisAuxGarantiesFinancières.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
Due: eslint --fix

🎨 Deplacement dans l'aggregat
  packages/domain/projet/src/candidature/typeGarantiesFinancières.valueType.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.error.ts
Due: eslint --fix

🎨 This
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
Due: eslint --fix

🎨 Suppression propriété inutilisées
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/eolien.cre4.ts
Due: eslint --fix

♻️ Nom projet optionnel
  packages/specifications/src/candidature/stepDefinitions/candidature.given.ts
  packages/specifications/src/projet/lauréat/abandon/stepDefinitions/abandon.given.ts
Due: eslint --fix

🚧 WIP
  packages/applications/bootstrap/src/setupProjet/setupLauréat/setupDélai.ts
  packages/applications/projectors/src/subscribers/lauréat/délai/demandeDélaiAnnulée.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/délai/registerDélaiProjectors.ts
  packages/applications/ssr/src/utils/historique/mapToProps/délai/events/mapToDemandeDélaiAnnuléeTimelineItemProps.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/délai/mapToDélaiTimelineItemProps.ts
  packages/domain/projet/src/lauréat/délai/demande/annuler/annulerDemandeDélai.command.ts
  packages/domain/projet/src/lauréat/délai/demande/annuler/annulerDemandeDélai.event.ts
  packages/domain/projet/src/lauréat/délai/demande/annuler/annulerDemandeDélai.options.ts
  packages/domain/projet/src/lauréat/délai/demande/annuler/annulerDemandeDélai.usecase.ts
  packages/domain/projet/src/lauréat/délai/délai.aggregate.ts
  packages/domain/projet/src/lauréat/délai/délai.event.ts
  packages/domain/projet/src/lauréat/délai/délai.register.ts
  packages/domain/projet/src/lauréat/délai/errors.ts
  packages/domain/projet/src/lauréat/délai/index.ts
  packages/specifications/src/projet/lauréat/délai/annulerDemandeDélai.feature
  packages/specifications/src/projet/lauréat/délai/stepDefinitions/délai.when.ts
Due: eslint --fix, prettier -w

🔥 MapCsvRowToInstruction
  packages/applications/ssr/src/app/candidatures/corriger-par-lot/CorrigerCandidaturesParLot.action.ts
  packages/applications/ssr/src/app/candidatures/importer/importerCandidatures.action.ts
  packages/applications/ssr/src/utils/candidature/mapCsvRowToInstruction.ts
Due: eslint --fix

♻️ Reduce repetition
  packages/domain/projet/src/candidature/dépôt.valueType.ts
Due: eslint --fix

♻️ Simplify
  packages/specifications/src/candidature/stepDefinitions/candidatureLegacy.given.ts
Due: eslint --fix

🎨 Historique pour demande délai
  packages/applications/ssr/src/utils/historique/mapToProps/délai/events/mapToDélaiDemandéTimelineItemProps.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/délai/mapToDélaiTimelineItemProps.ts
Due: eslint --fix

🚚 Déplacement de la partie détail délai dans le répertoire app (#3272)
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/DétailsDemandeDélai.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/StatutDemandeDélaiBadge.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/page.tsx
  packages/applications/ssr/src/app/laureats/changements/delai/DemandeDélaiListItem.tsx
Due: eslint --fix

♻️ Simplify
  packages/specifications/src/candidature/fixtures/importerCandidature.fixture.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.when.ts
Due: eslint --fix

♻️ Separate file
  packages/specifications/src/candidature/candidature.exempleMap.ts
  packages/specifications/src/candidature/candidature.world.ts
Due: eslint --fix

♻️ Ajout test + vérification dans GF
  packages/domain/projet/src/candidature/candidature.aggregate.ts
  packages/domain/projet/src/candidature/candidature.error.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.error.ts
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/candidature/importerCandidature.feature
Due: eslint --fix, prettier -w

🎨 Envoyer email à la dreal quand délai demandé
  packages/applications/bootstrap/src/setupProjet/setupLauréat/setupDélai.ts
  packages/applications/notifications/src/index.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/constant.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/délaiDemandé.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/index.ts
  packages/domain/projet/src/lauréat/délai/index.ts
  packages/specifications/src/projet/lauréat/délai/demanderDélai.feature
Due: eslint --fix, prettier -w

🚧 WIP rejeter demande délai
  packages/specifications/src/projet/lauréat/délai/rejeterChangementActionnaire.feature
Due: prettier -w

🐛 Fix soumis aux GF
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
Due: eslint --fix

♻️ Vérif famille
  packages/domain/projet/src/candidature/candidature.aggregate.ts
Due: eslint --fix

🎨 Ajout délai demandé dans l'historique + Notification à la dreal (#3273)
  packages/applications/bootstrap/src/setupProjet/setupLauréat/setupDélai.ts
  packages/applications/notifications/src/index.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/constant.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/délaiDemandé.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/index.ts
  packages/applications/ssr/src/utils/historique/mapToProps/délai/events/mapToDélaiDemandéTimelineItemProps.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/délai/mapToDélaiTimelineItemProps.ts
  packages/domain/projet/src/lauréat/délai/index.ts
  packages/specifications/src/projet/lauréat/délai/demanderDélai.feature
Due: eslint --fix, prettier -w

🧪 Annuler la demande de délai d'un projet lauréat failing test
  packages/specifications/src/projet/lauréat/délai/annulerDemandeDélai.feature
  packages/specifications/src/projet/lauréat/délai/délai.world.ts
  packages/specifications/src/projet/lauréat/délai/fixtures/annulerDemandeDélai.fixture.ts
  packages/specifications/src/projet/lauréat/délai/stepDefinitions/délai.then.ts
  packages/specifications/src/projet/lauréat/délai/stepDefinitions/délai.when.ts
Due: eslint --fix, prettier -w

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
