Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

✨ Notifier la CRE quand un recours est accepté
  packages/applications/legacy/src/config/eventHandlers/notification.eventHandlers.ts
  packages/applications/legacy/src/infra/mail/mailjet.ts
  packages/applications/legacy/src/infra/sequelize/queries/users/getUsersByRole.ts
  packages/applications/legacy/src/infra/sequelize/queries/users/index.ts
  packages/applications/legacy/src/modules/notification/Notification.ts
  packages/applications/legacy/src/modules/notification/eventHandlers/modificationRequests/handleModificationRequestStatusChanged.ts
  packages/applications/legacy/src/modules/users/queries/GetUsersByRole.ts
  packages/applications/legacy/src/modules/users/queries/index.ts
Due: eslint --fix

✅ Fix legacy tests
  packages/applications/legacy/src/modules/notification/eventHandlers/modificationRequests/handleModificationRequestStatusChanged.spec.ts
Due: eslint --fix

🎨 Les role CRE + acheteur obligé + caisse des dépots sont en lecture seul sur la partie GF
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/page.tsx
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🎨 Les role CRE + acheteur obligé + caisse des dépots sont en lecture seul sur la partie GF (#2043)
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/page.tsx
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🧪 Ajout scénario: Impossible de demander l'abandon d'un projet si celui-ci est achevé (car l'attestation de conformité et la preuve de transmission au co-contractant ont été transmise)
  packages/specifications/src/projet/lauréat/abandon/demanderAbandon.feature
Due: none

🔥 Supprimer les scénarios notimplemented inutiles après analyse métier
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerAttestationGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/importerTypeGarantiesFinancièresActuelles.feature
Due: none

🧪 Impossible de demander l'abandon d'un projet si ceui-ci est achevé (= attestation de conformité + la preuve de transmission au co-contractant) (#2044)
  packages/specifications/src/projet/lauréat/abandon/demanderAbandon.feature
Due: none

🔥 Supprimer les scénarios notimplemented inutiles après analyse métier (#2045)
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerAttestationGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/importerTypeGarantiesFinancièresActuelles.feature
Due: none

✅ Impossible de demander la mainlevée des garanties financières si le projet dispose de garanties financières échues
  packages/domain/lauréat/src/garantiesFinancières/mainlevée/demander/demanderMainlevéeGarantiesFinancières.behavior.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/demanderMainlevéeGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/stepDefinitions/mainlevéeGarantiesFinancières.when.ts
Due: eslint --fix

♻️ Return promise
  packages/applications/legacy/src/modules/notification/eventHandlers/modificationRequests/handleModificationRequestStatusChanged.ts
Due: eslint --fix

✅ Impossible de demander la mainlevée des garanties financières si le projet dispose de garanties financières échues (#2046)
  packages/domain/lauréat/src/garantiesFinancières/mainlevée/demander/demanderMainlevéeGarantiesFinancières.behavior.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/demanderMainlevéeGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/stepDefinitions/mainlevéeGarantiesFinancières.when.ts
Due: eslint --fix

🔥 Possibilité de modifier GF même si échue
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/modifierGarantiesFinancièresActuelles.feature
Due: none

✨ Notifier la CRE quand un recours est accepté (#2042)
  packages/applications/legacy/src/config/eventHandlers/notification.eventHandlers.ts
  packages/applications/legacy/src/infra/mail/mailjet.ts
  packages/applications/legacy/src/infra/sequelize/queries/users/getUsersByRole.ts
  packages/applications/legacy/src/infra/sequelize/queries/users/index.ts
  packages/applications/legacy/src/modules/notification/Notification.ts
  packages/applications/legacy/src/modules/notification/eventHandlers/modificationRequests/handleModificationRequestStatusChanged.spec.ts
  packages/applications/legacy/src/modules/notification/eventHandlers/modificationRequests/handleModificationRequestStatusChanged.ts
  packages/applications/legacy/src/modules/users/queries/GetUsersByRole.ts
  packages/applications/legacy/src/modules/users/queries/index.ts
Due: eslint --fix

🎨 Remove copyFolder
  packages/libraries/file-storage/src/copyFolder.integration.ts
  packages/libraries/file-storage/src/copyFolder.ts
  packages/libraries/file-storage/src/index.ts
Due: eslint --fix

🎨 Improve copyFile
  packages/libraries/file-storage/src/copyFile.ts
  packages/libraries/file-storage/src/renameFile.ts
Due: eslint --fix

🎨 Ajout deleteFile
  packages/libraries/file-storage/src/assertFileExists.ts
  packages/libraries/file-storage/src/copyFile.ts
  packages/libraries/file-storage/src/deleteFile.integration.ts
  packages/libraries/file-storage/src/deleteFile.ts
  packages/libraries/file-storage/src/renameFile.ts
Due: eslint --fix

✨ Cron pour le scheduler (#2037)
  cron.json
  packages/applications/scheduled-tasks/package.json
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancières.saga.ts
Due: eslint --fix, prettier -w

🔥 Possibilité de modifier GF actuelles même si échue (#2047)
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/modifierGarantiesFinancièresActuelles.feature
Due: none

🧪 Ajout de scénarios non implémentés
  packages/specifications/src/projet/lauréat/achèvement/attestationConformité/transmettreAttestationConformité.feature
Due: none

🧪 Ajout des scénarios des projets éliminés / abandonnés pour transmission attestation conformité + raccordement
  packages/specifications/src/projet/lauréat/achèvement/attestationConformité/transmettreAttestationConformité.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/échoirGarantiesFinancièresActuelles.feature
  packages/specifications/src/raccordement/transmettreDateMiseEnService.feature
  packages/specifications/src/raccordement/transmettreDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/transmettrePropositionTechniqueEtFinancière.feature
Due: none

⏪️ Revert rename
  packages/infrastructure/domain-adapters/src/document/document.adapter.ts
  packages/libraries/file-storage/src/copyFolder.integration.ts
  packages/libraries/file-storage/src/copyFolder.ts
  packages/libraries/file-storage/src/deleteFile.integration.ts
  packages/libraries/file-storage/src/deleteFile.ts
  packages/libraries/file-storage/src/index.ts
  packages/libraries/file-storage/src/renameFile.ts
  packages/libraries/file-storage/src/renameFolder.integration.ts
  packages/libraries/file-storage/src/renameFolder.ts
Due: eslint --fix

♻️ Utilisation de la commande S3 native pour `copyFile` & `copyFolder` (#2041)
  packages/libraries/file-storage/src/assertFileExists.ts
  packages/libraries/file-storage/src/copyFile.ts
  packages/libraries/file-storage/src/copyFolder.integration.ts
  packages/libraries/file-storage/src/copyFolder.ts
  packages/libraries/file-storage/src/index.ts
  packages/libraries/file-storage/src/renameFile.ts
Due: eslint --fix

♻️ refacto des steps de scénario specs gf (#2034)
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerAttestationGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.given.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.when.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/helper.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/échoirGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/stepDefinitions/dépôtGarantiesFinancières.given.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/stepDefinitions/helper.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/helper.ts
  packages/specifications/src/tâche/acheverTâche.feature
Due: eslint --fix

🐛 Execution des scripts GRD
  packages/applications/scheduled-tasks/attribuer-grd.sh
  packages/applications/scheduled-tasks/mettre-à-jour-gestionnaire-réseau.sh
Due: none

🐛 Execution des scripts GRD (#2049)
  packages/applications/scheduled-tasks/attribuer-grd.sh
  packages/applications/scheduled-tasks/mettre-à-jour-gestionnaire-réseau.sh
Due: none

🧪 Ajout des scénarios (not implemented pour le moment) dans le cas du raccordement ou achèvement si projet éliminé / abandonné (#2048)
  packages/specifications/src/projet/lauréat/achèvement/attestationConformité/transmettreAttestationConformité.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/échoirGarantiesFinancièresActuelles.feature
  packages/specifications/src/raccordement/transmettreDateMiseEnService.feature
  packages/specifications/src/raccordement/transmettreDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/transmettrePropositionTechniqueEtFinancière.feature
Due: none

✅ Pass test Impossible de demander la mainlevée des garanties financières si le projet dispose de garanties financières échues
  packages/domain/lauréat/src/garantiesFinancières/mainlevée/demander/demanderMainlevéeGarantiesFinancières.behavior.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.given.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/demanderMainlevéeGarantiesFinancières.feature
Due: eslint --fix

✅ Pass test Impossible de demander la mainlevée des garanties financières si le projet dispose de garanties financières échues (#2050)
  packages/domain/lauréat/src/garantiesFinancières/mainlevée/demander/demanderMainlevéeGarantiesFinancières.behavior.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.given.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/demanderMainlevéeGarantiesFinancières.feature
Due: eslint --fix

📦️ Update scheduler package json
  package-lock.json
  package.json
  packages/applications/scheduler/package.json
Due: eslint --fix, prettier -w

📦️ Update scheduler package json (#2051)
  package-lock.json
  package.json
  packages/applications/scheduler/package.json
Due: eslint --fix, prettier -w

🔥 CLI pour mise à jour GRD, date MES et référence dossier raccordement
  packages/applications/cli/src/commands/raccordement/importer-date-mes.ts
  packages/applications/cli/src/commands/raccordement/modifier-grd.ts
  packages/applications/cli/src/commands/raccordement/modifier-référence.ts
  packages/applications/cli/src/helpers/parse-identifiant-projet.ts
Due: eslint --fix

🔇 Remove logs
  packages/applications/cli/src/commands/raccordement/importer-date-mes.ts
  packages/applications/cli/src/commands/raccordement/modifier-grd.ts
  packages/applications/cli/src/commands/raccordement/modifier-référence.ts
Due: eslint --fix

✨ Schema de validation du fichier CSV d'import des candidatures
  packages/applications/ssr/src/components/pages/candidatures/importer/candidature.schema.test.ts
  packages/applications/ssr/src/components/pages/candidatures/importer/candidature.schema.ts
Due: eslint --fix

⬆️ Upgrade storybook to 8.2.7
  .lintstagedrc
  package-lock.json
  packages/applications/ssr/.storybook/main.ts
  packages/applications/ssr/.storybook/preview.tsx
  packages/applications/ssr/package.json
Due: eslint --fix, prettier -w

⏪️ Revert lintstagedrc modification
  .lintstagedrc
Due: none

⬆️ Upgrade storybook to 8.2.7 (#2057)
  package-lock.json
  packages/applications/ssr/.storybook/main.ts
  packages/applications/ssr/.storybook/preview.tsx
  packages/applications/ssr/package.json
Due: eslint --fix, prettier -w

♻️ Refactor output shape schema
  packages/applications/ssr/src/components/pages/candidatures/importer/candidature.schema.test.ts
  packages/applications/ssr/src/components/pages/candidatures/importer/candidature.schema.ts
Due: eslint --fix

🎨 Statut + technologie
  packages/applications/ssr/src/components/pages/candidatures/importer/candidature.schema.test.ts
  packages/applications/ssr/src/components/pages/candidatures/importer/candidature.schema.ts
Due: eslint --fix

🔥 CLI pour mise à jour GRD, date MES et référence dossier raccordement (#2052)
  packages/applications/cli/src/commands/raccordement/importer-date-mes.ts
  packages/applications/cli/src/commands/raccordement/modifier-grd.ts
  packages/applications/cli/src/commands/raccordement/modifier-référence.ts
  packages/applications/cli/src/helpers/parse-identifiant-projet.ts
Due: eslint --fix

✨ Schema de validation du fichier CSV d'import des candidatures (#2056)
  packages/applications/ssr/src/components/pages/candidatures/importer/candidature.schema.test.ts
  packages/applications/ssr/src/components/pages/candidatures/importer/candidature.schema.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml}
