Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

🎨 Filtrer par autorité compétente et bug dans abandon
  packages/applications/projectors/src/subscribers/lauréat/abandon/abandonDemandé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/délai/délaiDemandé.projector.ts
  packages/applications/ssr/src/app/laureats/changements/delai/page.tsx
  packages/domain/projet/src/lauréat/cahierDesCharges/consulter/consulterCahierDesCharges.query.ts
  packages/domain/projet/src/lauréat/délai/demande/demandeDélai.entity.ts
  packages/domain/projet/src/lauréat/délai/demande/lister/listerDemandeDélai.query.ts
  packages/domain/projet/src/lauréat/délai/délai.register.ts
  packages/domain/projet/src/lauréat/délai/index.ts
Due: eslint --fix

✨ Échoir les Garanties Financières dès leur création si nécessaire
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/specifications/src/projet/lauréat/achèvement/transmettreAttestationConformité.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/fixtures/enregistrerGarantiesFinancières.fixture.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/fixtures/échoirGarantiesFinancières.fixture.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/garantiesFinancièresActuelles.world.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/importerTypeGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/modifierGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.given.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.then.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/échoirGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/supprimerDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/validerDépôtGarantiesFinancières.feature
  packages/specifications/src/tâche-planifiée/exécuterTâchePlanifiée.feature
  packages/specifications/src/tâche-planifiée/stepDefinitions/tâchePlanifiée.given.ts
Due: eslint --fix, prettier -w

✅ Pass test
  packages/applications/cli/src/commands/candidature/lister-dossiers.ts
  packages/specifications/src/projet/lauréat/lauréat.world.ts
  packages/specifications/src/projet/lauréat/producteur/enregistrerChangementProducteur.feature
Due: eslint --fix, prettier -w

✅ Fix raccordement
  packages/specifications/src/potentiel.world.ts
  packages/specifications/src/raccordement/dateDeMiseEnService/fixtures/transmettreDateDeMiseEnService.fixture.ts
  packages/specifications/src/raccordement/dateDeMiseEnService/supprimerDateMiseEnService.feature
  packages/specifications/src/raccordement/dateDeMiseEnService/transmettreDateMiseEnService.feature
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/modifierDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/modifierRéférenceDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/transmettreDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/dossierRaccordement/supprimerDossierDuRaccordement.feature
  packages/specifications/src/raccordement/gestionnaireRéseau/attribuerGestionnaireRéseauRaccordement.feature
  packages/specifications/src/raccordement/gestionnaireRéseau/modifierGestionnaireRéseauRaccordement.feature
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/modifierPropositionTechniqueEtFinancière.feature
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/transmettrePropositionTechniqueEtFinancière.feature
  packages/specifications/src/raccordement/raccordement.world.ts
  packages/specifications/src/raccordement/supprimerRaccordement.feature
Due: eslint --fix, prettier -w

✅ Fix tests délai
  packages/specifications/src/projet/lauréat/achèvement/calculerDateAchèvementPrévisionnel.feature
Due: prettier -w

✅ Update tags
  packages/specifications/src/raccordement/dateDeMiseEnService/supprimerDateMiseEnService.feature
  packages/specifications/src/raccordement/dateDeMiseEnService/transmettreDateMiseEnService.feature
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/modifierDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/modifierRéférenceDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/transmettreDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/dossierRaccordement/supprimerDossierDuRaccordement.feature
  packages/specifications/src/raccordement/gestionnaireRéseau/attribuerGestionnaireRéseauRaccordement.feature
  packages/specifications/src/raccordement/gestionnaireRéseau/modifierGestionnaireRéseauRaccordement.feature
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/modifierPropositionTechniqueEtFinancière.feature
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/transmettrePropositionTechniqueEtFinancière.feature
  packages/specifications/src/raccordement/supprimerRaccordement.feature
Due: prettier -w

🔥 Supprimer fixture date désignation redondante
  packages/specifications/src/candidature/stepDefinitions/candidature.given.ts
  packages/specifications/src/projet/lauréat/lauréat.world.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.given.ts
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.given.ts
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréatLegacy.given.ts
  packages/specifications/src/raccordement/dateDeMiseEnService/fixtures/transmettreDateDeMiseEnService.fixture.ts
Due: eslint --fix

✅ Ajout vérification en attente
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/importerTypeGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/validerDépôtGarantiesFinancières.feature
Due: prettier -w

✅ Tags par groupe de fonctionalité
  packages/specifications/src/raccordement/dateDeMiseEnService/supprimerDateMiseEnService.feature
  packages/specifications/src/raccordement/dateDeMiseEnService/transmettreDateMiseEnService.feature
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/modifierDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/modifierRéférenceDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/transmettreDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/dossierRaccordement/supprimerDossierDuRaccordement.feature
  packages/specifications/src/raccordement/gestionnaireRéseau/attribuerGestionnaireRéseauRaccordement.feature
  packages/specifications/src/raccordement/gestionnaireRéseau/modifierGestionnaireRéseauRaccordement.feature
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/modifierPropositionTechniqueEtFinancière.feature
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/transmettrePropositionTechniqueEtFinancière.feature
  packages/specifications/src/raccordement/supprimerRaccordement.feature
Due: prettier -w

✅ Ajout vérification tâche
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/importerTypeGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/validerDépôtGarantiesFinancières.feature
Due: prettier -w

🐛 Annuler avant échoir
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
Due: eslint --fix

🎨 Ajout autorité compétente dans détails
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/DétailsDemandeDélai.page.tsx
  packages/domain/projet/src/lauréat/délai/demande/consulter/consulterDemandeDélai.query.ts
Due: eslint --fix

⚰️ Retirer step inutilisé
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.when.ts
Due: eslint --fix

✨ UI
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/components/GarantiesFinancières.tsx
  packages/domain/common/src/valueTypes/dateTime.valueType.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/garantiesFinancièresActuelles.world.ts
Due: eslint --fix

🎨 Refacto demande, alignement avec d'autres
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/DétailsDemandeDélai.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/DétailsDemandeDélai.tsx
Due: eslint --fix

✏️ Majuscules
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/components/GarantiesFinancières.tsx
Due: eslint --fix

✨ Échoir les Garanties Financières dès leur création si nécessaire (#3415)
  packages/applications/cli/src/commands/candidature/lister-dossiers.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/components/GarantiesFinancières.tsx
  packages/domain/common/src/valueTypes/dateTime.valueType.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/specifications/src/candidature/stepDefinitions/candidature.given.ts
  packages/specifications/src/potentiel.world.ts
  packages/specifications/src/projet/lauréat/achèvement/calculerDateAchèvementPrévisionnel.feature
  packages/specifications/src/projet/lauréat/achèvement/transmettreAttestationConformité.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/fixtures/enregistrerGarantiesFinancières.fixture.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/fixtures/échoirGarantiesFinancières.fixture.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/garantiesFinancièresActuelles.world.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/importerTypeGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/modifierGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.given.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.then.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.when.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/échoirGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/supprimerDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/validerDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/lauréat.world.ts
  packages/specifications/src/projet/lauréat/producteur/enregistrerChangementProducteur.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.given.ts
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.given.ts
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréatLegacy.given.ts
  packages/specifications/src/raccordement/dateDeMiseEnService/fixtures/transmettreDateDeMiseEnService.fixture.ts
  packages/specifications/src/raccordement/dateDeMiseEnService/supprimerDateMiseEnService.feature
  packages/specifications/src/raccordement/dateDeMiseEnService/transmettreDateMiseEnService.feature
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/modifierDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/modifierRéférenceDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/transmettreDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/dossierRaccordement/supprimerDossierDuRaccordement.feature
  packages/specifications/src/raccordement/gestionnaireRéseau/attribuerGestionnaireRéseauRaccordement.feature
  packages/specifications/src/raccordement/gestionnaireRéseau/modifierGestionnaireRéseauRaccordement.feature
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/modifierPropositionTechniqueEtFinancière.feature
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/transmettrePropositionTechniqueEtFinancière.feature
  packages/specifications/src/raccordement/raccordement.world.ts
  packages/specifications/src/raccordement/supprimerRaccordement.feature
  packages/specifications/src/tâche-planifiée/exécuterTâchePlanifiée.feature
  packages/specifications/src/tâche-planifiée/stepDefinitions/tâchePlanifiée.given.ts
Due: eslint --fix, prettier -w

🎨 Fix: test
  .database/potentiel-dev.dump
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/DétailsDemandeDélai.tsx
  packages/specifications/src/projet/lauréat/délai/accorderDemandeDélai.feature
  packages/specifications/src/projet/lauréat/délai/annulerDemandeDélai.feature
  packages/specifications/src/projet/lauréat/délai/corrigerDemandeDélai.feature
  packages/specifications/src/projet/lauréat/délai/demanderDélai.feature
  packages/specifications/src/projet/lauréat/délai/délai.world.ts
  packages/specifications/src/projet/lauréat/délai/passerEnInstructionDemandeDélai.feature
  packages/specifications/src/projet/lauréat/délai/rejeterDemandeDélai.feature
  packages/specifications/src/projet/lauréat/délai/supprimerDemandeDélai.feature
Due: eslint --fix, prettier -w

🎨 Testin
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/projet/src/cahierDesCharges.valueType.ts
Due: eslint --fix

🚧 WIP
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/petitPVBâtiment.ppe2.ts
  packages/domain/projet/src/candidature/dépôt.valueType.ts
  packages/specifications/src/candidature/candidature.exempleMap.ts
  packages/specifications/src/candidature/importerCandidature.feature
Due: eslint --fix, prettier -w

🐛 Affichage dans la frise de l'évènement éliminé notifié + passer en props la date à laquelle on a notifié un lauréat
  packages/applications/bootstrap/src/setupProjet/setupÉliminé/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/historique/page.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/éliminé/events/index.ts
  packages/applications/ssr/src/utils/historique/mapToProps/éliminé/events/mapToÉliminéNotifiéTimelineItemProps.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/éliminé/index.ts
  packages/domain/projet/src/lauréat/consulter/consulterLauréat.query.ts
  packages/domain/projet/src/lauréat/historique/lister/listerHistoriqueProjet.query.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
  packages/domain/projet/src/lauréat/notifier/notifierLauréat.command.ts
  packages/domain/projet/src/lauréat/notifier/notifierLauréat.option.ts
  packages/domain/projet/src/éliminé/recours/recours.aggregate.ts
  packages/specifications/src/projet/lauréat/lauréat.world.ts
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.when.ts
Due: eslint --fix, prettier -w

🐛 Fixes attestation
  packages/applications/ssr/src/app/_helpers/getProjet.ts
  packages/applications/ssr/src/app/candidatures/[identifiant]/telecharger-attestation/route.ts
  packages/applications/ssr/src/utils/historique/mapToProps/lauréat/events/mapToLauréatNotifiéTimelineItemProps.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/éliminé/events/mapToÉliminéNotifiéTimelineItemProps.tsx
  packages/domain/projet/src/lauréat/consulter/consulterLauréat.query.ts
Due: eslint --fix

💄 Afficher le lien de l'attestation de désignation pour les lauréats notifiés sans recours
  packages/applications/ssr/src/app/laureats/[identifiant]/historique/page.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/lauréat/events/mapToLauréatNotifiéTimelineItemProps.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/lauréat/mapToLauréatTimelineItemProps.ts
Due: eslint --fix

🐛 Attestation non définie en cas de recours accordé
  packages/domain/projet/src/lauréat/consulter/consulterLauréat.query.ts
  packages/specifications/src/potentiel.world.ts
  packages/specifications/src/projet/lauréat/lauréat.world.ts
Due: eslint --fix

🐛 Corriger la date de désignation d'un lauréat avec recours accordé, avis de rejet, attestation de désignation (#3423)
  packages/applications/bootstrap/src/setupProjet/setupÉliminé/index.ts
  packages/applications/ssr/src/app/_helpers/getProjet.ts
  packages/applications/ssr/src/app/candidatures/[identifiant]/telecharger-attestation/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/historique/page.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/lauréat/mapToLauréatTimelineItemProps.ts
  packages/applications/ssr/src/utils/historique/mapToProps/éliminé/events/index.ts
  packages/applications/ssr/src/utils/historique/mapToProps/éliminé/events/mapToÉliminéNotifiéTimelineItemProps.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/éliminé/index.ts
  packages/domain/projet/src/lauréat/consulter/consulterLauréat.query.ts
  packages/domain/projet/src/lauréat/historique/lister/listerHistoriqueProjet.query.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
  packages/domain/projet/src/lauréat/notifier/notifierLauréat.command.ts
  packages/domain/projet/src/lauréat/notifier/notifierLauréat.option.ts
  packages/domain/projet/src/éliminé/recours/recours.aggregate.ts
  packages/specifications/src/potentiel.world.ts
  packages/specifications/src/projet/lauréat/lauréat.world.ts
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.when.ts
Due: eslint --fix, prettier -w

🐛 Attestation non définie en cas de recours accordé
  packages/applications/ssr/src/app/candidatures/[identifiant]/telecharger-attestation/route.ts
  packages/domain/projet/src/candidature/consulter/consulterCandidature.query.ts
  packages/domain/projet/src/lauréat/consulter/consulterLauréat.query.ts
Due: eslint --fix

🎨 Structure domain
  packages/domain/projet/src/lauréat/installateur/consulter/consulterInstallateur.query.ts
  packages/domain/projet/src/lauréat/installateur/importer/importerInstallateur.event.ts
  packages/domain/projet/src/lauréat/installateur/importer/importerInstallateur.option.ts
  packages/domain/projet/src/lauréat/installateur/installateur.aggregate.ts
  packages/domain/projet/src/lauréat/installateur/installateur.entity.ts
  packages/domain/projet/src/lauréat/installateur/installateur.error.ts
  packages/domain/projet/src/lauréat/installateur/installateur.event.ts
  packages/domain/projet/src/lauréat/installateur/installateur.register.ts
Due: eslint --fix

💬 Texte notification timeline
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/EtapesProjet.tsx
Due: eslint --fix

🎨 Structure wip and subscriber
  packages/applications/projectors/src/subscribers/lauréat/installateur/index.ts
  packages/applications/projectors/src/subscribers/lauréat/installateur/installateurImporté.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/installateur/installateurRebuildTrigerred.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/producteur/index.ts
  packages/domain/projet/src/lauréat/index.ts
  packages/domain/projet/src/lauréat/installateur/index.ts
Due: eslint --fix

🐛 Attestation non définie en cas de recours accordé (#3425)
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/EtapesProjet.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/telecharger-attestation/route.ts
  packages/domain/projet/src/candidature/consulter/consulterCandidature.query.ts
  packages/domain/projet/src/lauréat/consulter/consulterLauréat.query.ts
Due: eslint --fix

🎨 Schema and corriger candidature
  packages/applications/legacy/src/controllers/project/getProjectPage/index.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales/index.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/DétailsCandidature.page.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/CorrigerCandidature.form.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/corrigerCandidature.action.ts
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/page.tsx
  packages/applications/ssr/src/app/candidatures/importer/ds/importerPériode.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/ModifierLauréat.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/modifierLauréat.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/page.tsx
  packages/applications/ssr/src/app/projets/[identifiant]/(détails)/DétailsProjetÉliminé.page.tsx
  packages/applications/ssr/src/utils/candidature/candidatureFields.schema.ts
  packages/applications/ssr/src/utils/candidature/candidatureNotifiée.schema.ts
  packages/applications/ssr/src/utils/candidature/csv/candidature.schema.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.test.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.ts
  packages/applications/ssr/src/utils/candidature/dépôt.schema.ts
  packages/domain/projet/src/candidature/dépôt.valueType.ts
  packages/specifications/src/candidature/candidature.exempleMap.ts
  packages/specifications/src/projet/lauréat/lauréat.world.ts
Due: eslint --fix

🎨 Fix: test and installateur
  packages/applications/projectors/src/subscribers/lauréat/producteur/index.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.test.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.ts
  packages/domain/projet/src/lauréat/lauréat.register.ts
  packages/specifications/src/candidature/fixtures/importerCandidature.fixture.ts
  packages/specifications/src/candidature/importerCandidature.feature
  packages/specifications/src/candidature/stepDefinitions/candidature.then.ts
  packages/specifications/src/projet/lauréat/lauréat.world.ts
Due: eslint --fix, prettier -w

🎨 Importer dans lauréat sans test
  packages/domain/projet/src/candidature/candidature.aggregate.ts
  packages/domain/projet/src/lauréat/installateur/importer/importerInstallateur.option.ts
  packages/domain/projet/src/lauréat/installateur/installateur.aggregate.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
  packages/domain/projet/src/lauréat/producteur/producteur.aggregate.ts
Due: eslint --fix

✨ Vérifier que le type de garanties financières est valide pour l'appel d'offre
  packages/domain/projet/src/lauréat/garanties-financières/dépôt/modifier/modifierDépôtGarantiesFinancières.usecase.ts
  packages/domain/projet/src/lauréat/garanties-financières/dépôt/soumettre/soumettreDépôtGarantiesFinancières.usecase.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/modifierGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/fixtures/soumettre.fixture.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/modifierDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/soumettreDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/stepDefinitions/dépôtGarantiesFinancières.when.ts
Due: eslint --fix, prettier -w

🐛 Valider l'email utilisateur lors de l'invitation
  packages/applications/ssr/src/app/utilisateurs/[identifiant]/(inviter)/InviterPorteur.form.tsx
  packages/applications/ssr/src/app/utilisateurs/[identifiant]/(inviter)/inviterPorteur.action.ts
  packages/applications/ssr/src/app/utilisateurs/[identifiant]/PorteurList.page.tsx
Due: eslint --fix

🚚 Déplacer le domaine "demander mainlevée" vers l'aggregate root
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:transmettre/transmettreAttestationConformité.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(mainlevée)/demander/demanderMainlevée.action.ts
  packages/domain/lauréat/src/garantiesFinancières/index.ts
  packages/domain/lauréat/src/garantiesFinancières/mainlevée/demander/demanderMainlevéeGarantiesFinancières.command.ts
  packages/domain/lauréat/src/garantiesFinancières/mainlevée/mainlevée.register.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.error.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.register.ts
  packages/domain/projet/src/lauréat/garanties-financières/index.ts
  packages/domain/projet/src/lauréat/garanties-financières/mainlevée/demander/demanderMainlevéeGarantiesFinancières.command.ts
  packages/domain/projet/src/lauréat/garanties-financières/mainlevée/demander/demanderMainlevéeGarantiesFinancières.options.ts
  packages/domain/projet/src/lauréat/garanties-financières/mainlevée/demander/demanderMainlevéeGarantiesFinancières.usecase.ts
  packages/domain/projet/src/lauréat/garanties-financières/mainlevée/mainlevéeGarantiesFinancières.error.ts
  packages/domain/projet/src/lauréat/garanties-financières/mainlevée/mainlevéeGarantiesFinancières.register.ts
  packages/domain/projet/src/lauréat/garanties-financières/mainlevée/mainlevéeGarantiesFinancières.usecases.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/demanderMainlevéeGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/stepDefinitions/mainlevéeGarantiesFinancières.given.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/stepDefinitions/mainlevéeGarantiesFinancières.when.ts
Due: eslint --fix, prettier -w

✅ Fix enregistrer GF
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.given.ts
Due: eslint --fix, prettier -w

🚚 Déplacer le domaine "annuler mainlevée" vers l'aggregate root
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(mainlevée)/annuler/annulerDemandeMainlevée.action.ts
  packages/domain/lauréat/src/garantiesFinancières/index.ts
  packages/domain/lauréat/src/garantiesFinancières/mainlevée/mainlevée.register.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/domain/projet/src/lauréat/garanties-financières/mainlevée/annuler/annulerDemandeMainlevéeGarantiesFinancières.command.ts
  packages/domain/projet/src/lauréat/garanties-financières/mainlevée/annuler/annulerMainlevéeGarantiesFinancières.options.ts
  packages/domain/projet/src/lauréat/garanties-financières/mainlevée/annuler/annulerMainlevéeGarantiesFinancières.usecase.ts
  packages/domain/projet/src/lauréat/garanties-financières/mainlevée/mainlevéeGarantiesFinancières.error.ts
  packages/domain/projet/src/lauréat/garanties-financières/mainlevée/mainlevéeGarantiesFinancières.register.ts
  packages/domain/projet/src/lauréat/garanties-financières/mainlevée/mainlevéeGarantiesFinancières.usecases.ts
  packages/domain/projet/src/lauréat/garanties-financières/mainlevée/statutMainlevéeGarantiesFinancières.valueType.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/annulerDemandeMainlevéeGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/demanderMainlevéeGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/stepDefinitions/mainlevéeGarantiesFinancières.when.ts
Due: eslint --fix, prettier -w

⏪️ Ajout tag sous domaine mainlevée dans les specs
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/annulerDemandeMainlevéeGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/demanderMainlevéeGarantiesFinancières.feature
Due: prettier -w

📝 Mises à jour de la documentation d'API achèvement
  packages/applications/api-documentation/src/achèvement.tsp
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
