Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml,feature}": "prettier -w"
}

💬 Wording
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getActionnaire.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectActions.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/Contact.tsx
  packages/specifications/src/projet/lauréat/actionnaire/modifierActionnaire.feature
Due: eslint --fix, prettier -w

💬 Formulation
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getActionnaire.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectActions.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/demander/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/enregistrer/page.tsx
  packages/applications/ssr/src/components/pages/actionnaire/changement/détails/accorder/AccorderChangementActionnaire.form.tsx
  packages/applications/ssr/src/components/pages/actionnaire/changement/détails/annuler/annulerChangementActionnaire.action.ts
  packages/applications/ssr/src/components/pages/actionnaire/demanderChangement/DemanderChangementActionnaire.form.tsx
  packages/applications/ssr/src/components/pages/actionnaire/demanderChangement/InfoxBoxDemandeActionnaire.tsx
  packages/applications/ssr/src/components/pages/actionnaire/demanderChangement/demanderChangementActionnaire.action.ts
  packages/domain/lauréat/src/actionnaire/errors.ts
Due: eslint --fix

💬 Wording
  packages/applications/ssr/src/components/pages/actionnaire/changement/détails/accorder/AccorderChangementActionnaire.form.tsx
  packages/applications/ssr/src/components/pages/actionnaire/changement/détails/annuler/AnnulerChangementActionnaire.form.tsx
  packages/applications/ssr/src/components/pages/actionnaire/changement/détails/rejeter/RejeterChangementActionnaire.form.tsx
  packages/applications/ssr/src/components/pages/actionnaire/demanderChangement/DemanderChangementActionnaire.form.tsx
  packages/applications/ssr/src/components/pages/actionnaire/enregistrerChangement/EnregistrerChangementActionnaire.form.tsx
Due: eslint --fix

💬 Wording
  packages/applications/ssr/src/components/pages/actionnaire/demanderChangement/DemanderChangementActionnaire.form.tsx
Due: eslint --fix

♻️ Récupérer la demande de changement de réprésentant légal en cours (#2681)
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getReprésentantLégal.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/changementReprésentantLégalAccordé.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/changementReprésentantLégalCorrigé.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/tâche-planifiée/garantiesFinancièresRappelÉchéance.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/tâche-planifiée/index.ts
  packages/applications/notifications/src/subscribers/lauréat/tâche-planifiée/représentantLégalRappelInstructionÀDeuxMois.notification.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/changement/_utils/getInfosReprésentantLégal.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/changement/changementReprésentantLégalAccordé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/changement/changementReprésentantLégalAnnulé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/changement/changementReprésentantLégalCorrigé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/changement/changementReprésentantLégalRejeté.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/changement/changementReprésentantLégalSupprimé.projector.ts
  packages/domain/lauréat/src/représentantLégal/changement/consulter/consulterChangementReprésentantLégalEnCours.query.ts
  packages/domain/lauréat/src/représentantLégal/index.ts
  packages/domain/lauréat/src/représentantLégal/représentantLégal.register.ts
Due: eslint --fix

💬 Wording
  packages/applications/ssr/src/components/pages/actionnaire/changement/détails/accorder/AccorderChangementActionnaire.form.tsx
  packages/applications/ssr/src/components/pages/actionnaire/changement/détails/annuler/AnnulerChangementActionnaire.form.tsx
  packages/applications/ssr/src/components/pages/actionnaire/changement/détails/rejeter/RejeterChangementActionnaire.form.tsx
Due: eslint --fix

♻️ EstAccordé
  packages/applications/document-builder/src/assets/docx/actionnaire-modèle-réponse.docx
  packages/applications/document-builder/src/modèleRéponseSignée/actionnaire/modèleRéponseSignéeActionnaire.ts
  packages/applications/routes/src/lauréat/actionnaire.routes.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/modele-reponse/route.ts
  packages/applications/ssr/src/components/pages/actionnaire/changement/détails/accorder/AccorderChangementActionnaire.form.tsx
  packages/applications/ssr/src/components/pages/actionnaire/changement/détails/rejeter/RejeterChangementActionnaire.form.tsx
Due: eslint --fix

💬 Message après accord
  packages/applications/ssr/src/components/pages/actionnaire/changement/détails/accorder/accorderChangementActionnaire.action.ts
Due: eslint --fix

🎨 Accorder / rejeter RL redirige vers page projet avec message succès
  packages/applications/ssr/src/components/pages/représentant-légal/changement/détails/DétailsChangementReprésentantLégal.page.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/détails/accorder/AccorderChangementReprésentantLégal.form.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/détails/accorder/accorderChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/components/pages/représentant-légal/changement/détails/rejeter/RejeterChangementReprésentantLégal.form.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/détails/rejeter/rejeterChangementReprésentantLégal.action.ts
Due: eslint --fix

🐛 Corriger l'accès AO à Actionnaire
  packages/applications/legacy/src/views/components/UI/organisms/UserNavigation.tsx
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🐛 Corriger l'accès AO à Actionnaire (#2683)
  packages/applications/legacy/src/views/components/UI/organisms/UserNavigation.tsx
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🔥 Retirer lien redondant Actionnaire
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectActions.tsx
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
Due: eslint --fix

🔥 Retirer lien redondant Actionnaire (#2685)
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectActions.tsx
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
Due: eslint --fix

💚 Fix build
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectActions.tsx
Due: eslint --fix

💚 Fix build on release 3.38 (#2686)
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectActions.tsx
Due: eslint --fix

🔥 Supprimer le type d'AO biométhane
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/Introduction.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/Laureat.tsx
  packages/applications/legacy/src/views/pages/changerFournisseurPage/ChangerFournisseur.tsx
  packages/applications/legacy/src/views/pages/demanderChangementPuissancePage/DemanderChangementPuissance.tsx
  packages/applications/legacy/src/views/pages/demanderChangementPuissancePage/components/ChangementPuissance.tsx
  packages/applications/legacy/src/views/pages/modificationRequestPage/components/DemandeDetails.tsx
  packages/applications/legacy/src/views/pages/modificationRequestPage/components/PuissanceForm.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectActions.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales/index.tsx
  packages/domain/appel-offre/src/appelOffre.entity.ts
Due: eslint --fix

🔥 Supprimer le type d'AO biométhane (#2688)
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/Introduction.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/Laureat.tsx
  packages/applications/legacy/src/views/pages/changerFournisseurPage/ChangerFournisseur.tsx
  packages/applications/legacy/src/views/pages/demanderChangementPuissancePage/DemanderChangementPuissance.tsx
  packages/applications/legacy/src/views/pages/demanderChangementPuissancePage/components/ChangementPuissance.tsx
  packages/applications/legacy/src/views/pages/modificationRequestPage/components/DemandeDetails.tsx
  packages/applications/legacy/src/views/pages/modificationRequestPage/components/PuissanceForm.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectActions.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales/index.tsx
  packages/domain/appel-offre/src/appelOffre.entity.ts
Due: eslint --fix

✨ Changement des logos suite au changement du nom du ministère
  packages/applications/cli/src/commands/document/générer.ts
  packages/applications/document-builder/src/abandon/accordAbandonAvecRecandidature/Header.tsx
  packages/applications/document-builder/src/assets/docx/abandon-modèle-réponse.docx
  packages/applications/document-builder/src/assets/docx/actionnaire-modèle-réponse.docx
  packages/applications/document-builder/src/assets/docx/garanties-financières-mainlevée-modèle-réponse.docx
  packages/applications/document-builder/src/assets/docx/garanties-financières-modèle-mise-en-demeure.docx
  packages/applications/document-builder/src/assets/docx/recours-modèle-réponse.docx
  packages/applications/document-builder/src/assets/images/logo_gouvernement.png
  packages/applications/document-builder/src/candidature/attestation/AttestationCandidatureOptions.ts
  packages/applications/document-builder/src/candidature/attestation/attestation.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/helpers/getFinancementEtTemplate.ts
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/Logo/Gouvernement.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/Logo/index.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/makeCertificate.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/ppe2.elimine.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/ppe2.laureat.stories.tsx
  packages/applications/document-builder/src/modèleRéponseSignée/générerModèleRéponseSignée.ts
  packages/applications/legacy/src/public/images/logo_gouvernement.png
  packages/applications/legacy/src/views/components/UI/organisms/Footer.tsx
  packages/applications/legacy/src/views/components/UI/organisms/Header.tsx
  packages/applications/legacy/src/views/template/Modèle mise en demeure v2.docx
  packages/applications/legacy/src/views/template/Modèle réponse Changement Producteur - dynamique.docx
  packages/applications/legacy/src/views/template/Modèle réponse Prolongation de délai - dynamique.docx
  packages/applications/legacy/src/views/template/Modèle réponse Puissance - dynamique.docx
  packages/applications/ssr/src/components/organisms/Footer.tsx
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.autoconsommationMetropole.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.batiment.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.eolien.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.innovation.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.neutre.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.sol.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.zni.ts
Due: eslint --fix

🍱 Fix logo pdf
  packages/applications/document-builder/src/abandon/accordAbandonAvecRecandidature/Header.tsx
  packages/applications/document-builder/src/assets/images/logo_gouvernement.png
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/Logo/Gouvernement.tsx
Due: eslint --fix

🔧 Git submodule
  .gitmodules
Due: none

♻️ Mini refacto
  packages/applications/document-builder/src/candidature/attestation/helpers/getFinancementEtTemplate.ts
Due: eslint --fix

fixup! ♻️ Mini refacto
  packages/applications/document-builder/src/candidature/attestation/helpers/getFinancementEtTemplate.ts
Due: eslint --fix

📌 Fix rebase
  packages/applications/cli/src/commands/document/générer.ts
Due: eslint --fix

✨ Changement des logos suite au changement du nom du ministère (#2649)
  .gitmodules
  packages/applications/cli/src/commands/document/générer.ts
  packages/applications/document-builder/src/abandon/accordAbandonAvecRecandidature/Header.tsx
  packages/applications/document-builder/src/assets/docx/abandon-modèle-réponse.docx
  packages/applications/document-builder/src/assets/docx/actionnaire-modèle-réponse.docx
  packages/applications/document-builder/src/assets/docx/garanties-financières-mainlevée-modèle-réponse.docx
  packages/applications/document-builder/src/assets/docx/garanties-financières-modèle-mise-en-demeure.docx
  packages/applications/document-builder/src/assets/docx/recours-modèle-réponse.docx
  packages/applications/document-builder/src/assets/images/logo_gouvernement.png
  packages/applications/document-builder/src/candidature/attestation/AttestationCandidatureOptions.ts
  packages/applications/document-builder/src/candidature/attestation/attestation.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/helpers/getFinancementEtTemplate.ts
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/Logo/Gouvernement.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/Logo/index.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/makeCertificate.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/ppe2.elimine.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/ppe2.laureat.stories.tsx
  packages/applications/document-builder/src/modèleRéponseSignée/générerModèleRéponseSignée.ts
  packages/applications/legacy/src/public/images/logo_gouvernement.png
  packages/applications/legacy/src/views/components/UI/organisms/Footer.tsx
  packages/applications/legacy/src/views/components/UI/organisms/Header.tsx
  packages/applications/legacy/src/views/template/Modèle mise en demeure v2.docx
  packages/applications/legacy/src/views/template/Modèle réponse Changement Producteur - dynamique.docx
  packages/applications/legacy/src/views/template/Modèle réponse Prolongation de délai - dynamique.docx
  packages/applications/legacy/src/views/template/Modèle réponse Puissance - dynamique.docx
  packages/applications/ssr/src/components/organisms/Footer.tsx
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.autoconsommationMetropole.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.batiment.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.eolien.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.innovation.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.neutre.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.sol.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.zni.ts
Due: eslint --fix

✨ Considérer les emails case-insensitive
  packages/applications/document-builder/src/candidature/attestation/attestation.saga.ts
  packages/applications/document-builder/src/candidature/attestation/buildCertificate.ts
  packages/applications/notifications/src/subscribers/candidature/candidature.notification.ts
  packages/applications/notifications/src/subscribers/période/période.notification.ts
  packages/applications/request-context/src/convertToken.ts
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/page.tsx
  packages/applications/ssr/src/components/pages/candidature/détails/DétailsCandidature.page.tsx
  packages/applications/ssr/src/components/pages/candidature/détails/DétailsCandidature.stories.tsx
  packages/applications/ssr/src/components/pages/candidature/lister/CandidatureList.stories.tsx
  packages/applications/ssr/src/components/pages/candidature/lister/CandidatureListItem.tsx
  packages/domain/candidature/src/consulter/consulterCandidature.query.ts
  packages/domain/candidature/src/importer/importerCandidature.behavior.ts
  packages/domain/candidature/src/importer/importerCandidature.command.ts
  packages/domain/candidature/src/importer/importerCandidature.usecase.ts
  packages/domain/candidature/src/lister/listerCandidatures.query.ts
  packages/domain/common/src/valueTypes/email.valueType.ts
  packages/domain/lauréat/src/représentantLégal/saga/abandonAccordé.saga.ts
  packages/domain/lauréat/src/représentantLégal/saga/lauréatNotifié.saga.ts
  packages/domain/utilisateur/src/identifiantUtilisateur.valueType.ts
  packages/domain/utilisateur/src/utilisateur.valueType.ts
  packages/specifications/src/projet/lauréat/représentant-légal/stepDefinitions/représentantLégal.when.ts
Due: eslint --fix

✅ Tests
  packages/specifications/src/candidature/candidature.world.ts
  packages/specifications/src/notification/notification.world.ts
  packages/specifications/src/utilisateur/fixtures/utilisateur.ts
Due: eslint --fix

🔀 Merge
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changemementReprésentantLégal.when.ts
Due: eslint --fix

🚚 System email
  packages/applications/cli/src/commands/actionnaire/migrer.ts
Due: eslint --fix

🔀 Merge
  packages/applications/cli/src/commands/raccordement/modifier-référence.ts
  packages/domain/lauréat/src/représentantLégal/saga/tâchePlanifiéeGestionAutomatiqueDemandeChangementExecutée.saga.ts
Due: eslint --fix

⏪️ Revert system()
  packages/applications/cli/src/commands/actionnaire/migrer.ts
  packages/applications/cli/src/commands/raccordement/modifier-référence.ts
  packages/domain/common/src/valueTypes/email.valueType.ts
  packages/domain/lauréat/src/représentantLégal/saga/abandonAccordé.saga.ts
  packages/domain/lauréat/src/représentantLégal/saga/lauréatNotifié.saga.ts
  packages/domain/lauréat/src/représentantLégal/saga/tâchePlanifiéeGestionAutomatiqueDemandeChangementExecutée.saga.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changemementReprésentantLégal.when.ts
  packages/specifications/src/projet/lauréat/représentant-légal/stepDefinitions/représentantLégal.when.ts
Due: eslint --fix

🔒️ Ajout token CSRF (#2651)
  package-lock.json
  packages/applications/ssr/package.json
  packages/applications/ssr/src/app/csrf/page.tsx
  packages/applications/ssr/src/components/atoms/form/Form.tsx
  packages/applications/ssr/src/middleware.ts
  packages/applications/ssr/src/middlewares/chain.ts
  packages/applications/ssr/src/middlewares/middleware.ts
  packages/applications/ssr/src/middlewares/withCSRF.ts
  packages/applications/ssr/src/middlewares/withNextAuth.ts
Due: eslint --fix, prettier -w

🐛 PR review
  packages/domain/common/src/valueTypes/email.valueType.ts
  packages/domain/utilisateur/src/identifiantUtilisateur.valueType.ts
  packages/specifications/src/candidature/candidature.world.ts
  packages/specifications/src/utilisateur/fixtures/utilisateur.ts
Due: eslint --fix

⬆️ @faker-js/faker 9.4.0
  package-lock.json
  package.json
Due: eslint --fix, prettier -w

✨ Impossible d'abandonner un projet achevé
  packages/domain/lauréat/src/abandon/demander/demanderAbandon.behavior.ts
  packages/domain/lauréat/src/abandon/demander/demanderAbandon.command.ts
  packages/specifications/src/projet/lauréat/abandon/demanderAbandon.feature
Due: eslint --fix, prettier -w

✅ Refactor step
  packages/domain/lauréat/src/abandon/annulerRejet/annulerRejetAbandon.behavior.ts
  packages/specifications/src/projet/lauréat/abandon/demanderAbandon.feature
  packages/specifications/src/projet/lauréat/achèvement/attestationConformité/modifierAttestationConformité.feature
  packages/specifications/src/projet/lauréat/achèvement/attestationConformité/stepDefinitions/attestationConformité.given.ts
  packages/specifications/src/projet/lauréat/achèvement/attestationConformité/transmettreAttestationConformité.feature
  packages/specifications/src/projet/lauréat/actionnaire/demanderChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/modifierActionnaire.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/modifierGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/échoirGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/soumettreDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/accorderDemandeMainlevéeGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/annulerDemandeMainlevéeGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/demanderMainlevéeGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/démarrerInstructionDemandeMainlevéeGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/rejeterDemandeMainlevéeGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/demanderChangementReprésentantLégal.feature
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
Due: eslint --fix, prettier -w

fixup! ✅ Refactor step
  packages/specifications/src/projet/lauréat/achèvement/attestationConformité/modifierAttestationConformité.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/demanderMainlevéeGarantiesFinancières.feature
Due: prettier -w

🔀 Merge
  packages/specifications/src/projet/lauréat/actionnaire/enregistrerChangementActionnaire.feature
Due: prettier -w
