Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

📝 Ajout Fichiers HTTP API
  docs/contributing/api/get/liste-dossier-raccordement.http
  docs/contributing/api/post/modifier-reference-dossier.http
  docs/contributing/api/post/transmettre-date-mise-en-service.http
Due: none

✅ Pass legacy test
  packages/applications/legacy/src/infra/sequelize/queries/project/consulter/getProjectDataForProjectPage.integration.ts
Due: eslint --fix

🚧 Refacto projector
  packages/applications/projectors/src/subscribers/lauréat/garantiesFinancières.projector.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/helpers/getHistoriqueMainlevéeRejetéesActions.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/page.tsx
  packages/domain/lauréat/src/garantiesFinancières/mainlevée/consulter/consulterDemandeEnCoursMainlevéeGarantiesFinancières.query.ts
  packages/domain/lauréat/src/garantiesFinancières/mainlevée/consulter/consulterHistoriqueDemandeMainlevéeRejetéeGarantiesFinancières.query.ts
  packages/domain/lauréat/src/garantiesFinancières/mainlevée/lister/listerMainlevéesGarantiesFinancières.query.ts
  packages/domain/lauréat/src/garantiesFinancières/mainlevée/mainlevéeGarantiesFinancières.entity.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/stepDefinitions/mainlevéeGarantiesFinancières.then.ts
Due: eslint --fix

🎨 Fix: clean and remove test
  packages/applications/projectors/src/subscribers/lauréat/garantiesFinancières.projector.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/accorderDemandeMainlevéeGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/demanderMainlevéeGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/démarrerInstructionDemandeMainlevéeGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/rejeterDemandeMainlevéeGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/stepDefinitions/mainlevéeGarantiesFinancières.then.ts
Due: eslint --fix, prettier -w

📝 Ajout Fichiers HTTP API (#2426)
  docs/contributing/api/get/liste-dossier-raccordement.http
  docs/contributing/api/post/modifier-reference-dossier.http
  docs/contributing/api/post/transmettre-date-mise-en-service.http
Due: none

🎨 Last refacto
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/helpers/getGarantiesFinancièresActuellesActions.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/helpers/getHistoriqueMainlevéeRejetéesActions.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/helpers/getMainlevéeActions.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/modele-reponse-mainlevee/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/page.tsx
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancières.register.ts
  packages/domain/lauréat/src/garantiesFinancières/index.ts
  packages/domain/lauréat/src/garantiesFinancières/mainlevée/consulter/consulterDemandeEnCoursMainlevéeGarantiesFinancières.query.ts
  packages/domain/lauréat/src/garantiesFinancières/mainlevée/consulter/consulterHistoriqueDemandeMainlevéeRejetéeGarantiesFinancières.query.ts
  packages/domain/lauréat/src/garantiesFinancières/mainlevée/lister/listerMainlevéesGarantiesFinancières.query.ts
  packages/domain/lauréat/src/garantiesFinancières/utils/getRoleBasedWhereCondition.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/accorderDemandeMainlevéeGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/stepDefinitions/mainlevéeGarantiesFinancières.then.ts
Due: eslint --fix, prettier -w

✅ Fix: tests
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/stepDefinitions/mainlevéeGarantiesFinancières.then.ts
Due: eslint --fix

🎨 Retours reviews
  docker-compose.yml
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/EditProjectData.tsx
  packages/applications/scheduled-tasks/src/représentant-légal/create-events-représentant-légal-importé.ts
Due: eslint --fix, prettier -w

🎨 Fix: roles
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🎨 Simplification de l'aggrégat
  packages/domain/lauréat/src/représentantLégal/importer/importerReprésentantLégal.behavior.ts
  packages/domain/lauréat/src/représentantLégal/représentantLégal.aggregate.ts
Due: eslint --fix

🔥 Remove useless usecase and use directly command
  packages/applications/scheduled-tasks/src/représentant-légal/create-events-représentant-légal-importé.ts
  packages/domain/common/src/valueTypes/email.valueType.ts
  packages/domain/lauréat/src/représentantLégal/index.ts
  packages/specifications/src/projet/lauréat/représentant-légal/stepDefinitions/représentantLégal.given.ts
Due: eslint --fix

🎨 Remove: useless
  packages/applications/projectors/src/subscribers/lauréat/garantiesFinancières.projector.ts
Due: eslint --fix

🎨 Check projector unicity
  packages/applications/projectors/src/subscribers/lauréat/garantiesFinancières.projector.ts
  packages/applications/ssr/src/components/pages/garanties-financières/détails/components/Mainlevée/index.tsx
Due: eslint --fix

🚚 Split steps "la candidature lauréate notifiée" + "candidature éliminée notifiée" dans les répertoires dédiées
  packages/specifications/src/candidature/stepDefinitions/candidature.given.ts
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.given.ts
  packages/specifications/src/projet/éliminé/stepDefinitions/éliminé.given.ts
Due: eslint --fix

🍱 Remove font unuse + organize Marianne font
  packages/applications/legacy/src/public/fonts/Source Sans Pro/SIL Open Font License.txt
  packages/applications/legacy/src/public/fonts/Source Sans Pro/SourceSansPro-Bold.otf
  packages/applications/legacy/src/public/fonts/Source Sans Pro/SourceSansPro-It.otf
  packages/applications/legacy/src/public/fonts/Source Sans Pro/SourceSansPro-Regular.otf
  packages/applications/legacy/src/public/fonts/marianne/Marianne-Bold.woff
  packages/applications/legacy/src/public/fonts/marianne/Marianne-Bold.woff2
  packages/applications/legacy/src/public/fonts/marianne/Marianne-Bold_Italic.woff
  packages/applications/legacy/src/public/fonts/marianne/Marianne-Bold_Italic.woff2
  packages/applications/legacy/src/public/fonts/marianne/Marianne-Light.woff
  packages/applications/legacy/src/public/fonts/marianne/Marianne-Light.woff2
  packages/applications/legacy/src/public/fonts/marianne/Marianne-Light_Italic.woff
  packages/applications/legacy/src/public/fonts/marianne/Marianne-Light_Italic.woff2
  packages/applications/legacy/src/public/fonts/marianne/Marianne-Medium.woff
  packages/applications/legacy/src/public/fonts/marianne/Marianne-Medium.woff2
  packages/applications/legacy/src/public/fonts/marianne/Marianne-Medium_Italic.woff
  packages/applications/legacy/src/public/fonts/marianne/Marianne-Medium_Italic.woff2
  packages/applications/legacy/src/public/fonts/marianne/Marianne-Regular.woff
  packages/applications/legacy/src/public/fonts/marianne/Marianne-Regular.woff2
  packages/applications/legacy/src/public/fonts/marianne/Marianne-Regular_Italic.woff
  packages/applications/legacy/src/public/fonts/marianne/Marianne-Regular_Italic.woff2
Due: none

🐛 Gérer dreal
  packages/domain/lauréat/src/garantiesFinancières/mainlevée/lister/listerMainlevéesGarantiesFinancières.query.ts
Due: eslint --fix

🔥 Remove static assets unused files
  packages/applications/legacy/src/public/images/Logo 2.png
  packages/applications/legacy/src/public/images/Logo MTE.png
  packages/applications/legacy/src/public/images/Logo MTES.png
  packages/applications/legacy/src/public/images/Logo.png
  packages/applications/legacy/src/public/images/MIN_Transition_Ecologique_RVB_petit.png
  packages/applications/legacy/src/public/images/PV.jpg
  packages/applications/legacy/src/public/images/PV_original.jpg
  packages/applications/legacy/src/public/images/PV_resized.jpg
  packages/applications/legacy/src/public/images/betagouvfr.svg
  packages/applications/legacy/src/public/images/etalab.svg
  packages/applications/legacy/src/public/images/favicon.ico
  packages/applications/legacy/src/public/images/icons/external/arrow-down-white.svg
  packages/applications/legacy/src/public/images/icons/external/arrow-down.svg
  packages/applications/legacy/src/public/images/icons/external/arrow-right-white.svg
  packages/applications/legacy/src/public/images/icons/external/arrow-right.svg
  packages/applications/legacy/src/public/images/icons/external/external-link-alt-solid.svg
  packages/applications/legacy/src/public/images/icons/external/heart.svg
  packages/applications/legacy/src/public/images/icons/external/map-white.svg
  packages/applications/legacy/src/public/images/icons/external/pen-white.svg
  packages/applications/legacy/src/public/images/icons/external/store.svg
  packages/applications/legacy/src/public/images/icons/external/tick.svg
  packages/applications/legacy/src/public/images/icons/external/trees.svg
  packages/applications/legacy/src/public/images/icons/external/user-white.svg
  packages/applications/legacy/src/public/images/logo-marianne-brassard.svg
  packages/applications/legacy/src/public/images/logo-marianne.svg
  packages/applications/legacy/src/public/images/logo-ministere-de-la-transition-energetique.png
  packages/applications/legacy/src/public/images/logo_site.svg
  packages/applications/legacy/src/public/images/pointbetagouvfr.svg
  packages/applications/legacy/src/public/images/pointdatagouvfr.svg
  packages/applications/legacy/src/public/images/preview.png
  packages/applications/legacy/src/public/images/preview_fb.png
  packages/applications/legacy/src/public/images/signature.png
  packages/applications/legacy/src/public/static/template-candidats.csv
Due: none

🎨 Fix: bouton instruire hors mainlevee rejetee
  packages/applications/ssr/src/components/pages/garanties-financières/mainlevée/lister/ListItemDemandeMainlevée.tsx
Due: eslint --fix

🎨 Better
  packages/applications/ssr/src/app/garanties-financieres/demandes-mainlevee-en-cours/page.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/mainlevée/lister/ListItemDemandeMainlevée.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/mainlevée/lister/ListeDemandeMainlevée.stories.tsx
Due: eslint --fix

✅ WIP lauréat
  packages/specifications/src/candidature/stepDefinitions/candidature.given.ts
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.given.ts
Due: eslint --fix

🎨 Fix: 3 tests
  packages/specifications/src/projet/lauréat/abandon/accorderAbandon.feature
  packages/specifications/src/projet/lauréat/abandon/demanderConfirmationAbandon.feature
  packages/specifications/src/projet/lauréat/abandon/transmettrePreuveRecandidature.feature
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.given.ts
Due: eslint --fix, prettier -w

♻️ Refacto projection mainlevée (#2397)
  packages/applications/projectors/src/subscribers/lauréat/garantiesFinancières.projector.ts
  packages/applications/ssr/src/app/garanties-financieres/demandes-mainlevee-en-cours/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/helpers/getGarantiesFinancièresActuellesActions.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/helpers/getHistoriqueMainlevéeRejetéesActions.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/helpers/getMainlevéeActions.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/modele-reponse-mainlevee/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/page.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/détails/components/Mainlevée/index.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/mainlevée/lister/ListItemDemandeMainlevée.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/mainlevée/lister/ListeDemandeMainlevée.page.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/mainlevée/lister/ListeDemandeMainlevée.stories.tsx
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancières.register.ts
  packages/domain/lauréat/src/garantiesFinancières/index.ts
  packages/domain/lauréat/src/garantiesFinancières/mainlevée/consulter/consulterDemandeMainlevéeGarantiesFinancières.query.ts
  packages/domain/lauréat/src/garantiesFinancières/mainlevée/consulter/consulterHistoriqueDemandeMainlevéeRejetéeGarantiesFinancières.query.ts
  packages/domain/lauréat/src/garantiesFinancières/mainlevée/historiqueMainlevéeRejetéeGarantiesFinancières.entity.ts
  packages/domain/lauréat/src/garantiesFinancières/mainlevée/lister/listerDemandeMainlevéeGarantiesFinancières.query.ts
  packages/domain/lauréat/src/garantiesFinancières/mainlevée/lister/listerMainlevéesGarantiesFinancières.query.ts
  packages/domain/lauréat/src/garantiesFinancières/mainlevée/mainlevéeGarantiesFinancières.entity.ts
  packages/domain/lauréat/src/garantiesFinancières/utils/getRoleBasedWhereCondition.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/demanderMainlevéeGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/stepDefinitions/mainlevéeGarantiesFinancières.then.ts
Due: eslint --fix, prettier -w

🧪 Set identifiant projet
  packages/specifications/src/projet/lauréat/abandon/demanderConfirmationAbandon.feature
  packages/specifications/src/projet/lauréat/abandon/transmettrePreuveRecandidature.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/échoirGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/lauréat.world.ts
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.given.ts
Due: eslint --fix, prettier -w

🔥 Remove usecase (useless)
  packages/domain/lauréat/src/représentantLégal/importer/importerReprésentantLégal.usecase.ts
  packages/domain/lauréat/src/représentantLégal/représentantLégal.register.ts
Due: eslint --fix

🔥 Remove usecase importerReprésentantLégal (useless) (#2431)
  packages/domain/lauréat/src/représentantLégal/importer/importerReprésentantLégal.usecase.ts
  packages/domain/lauréat/src/représentantLégal/représentantLégal.register.ts
Due: eslint --fix

♻️ Remove legacy authentication flow
  packages/applications/legacy/src/config/authN.config.ts
  packages/applications/legacy/src/controllers/index.ts
  packages/applications/legacy/src/controllers/signout.ts
  packages/applications/legacy/src/infra/keycloak/attachUserToRequestMiddleware.ts
  packages/applications/legacy/src/infra/keycloak/makeKeycloakAuth.ts
  packages/applications/legacy/src/modules/authN/queries/RegisterAuth.ts
  packages/applications/legacy/src/routes.ts
  packages/applications/legacy/src/server.ts
  packages/applications/legacy/src/types/express-custom.d.ts
  packages/applications/ssr/src/app/api/auth/[...nextauth]/route.ts
  packages/applications/ssr/src/app/api/auth/federated-logout/route.ts
  packages/applications/ssr/src/app/auth/signIn/page.tsx
  packages/applications/ssr/src/app/auth/signOut/page.tsx
  packages/applications/ssr/src/auth.ts
  packages/applications/ssr/src/components/molecules/UserHeaderQuickAccessItem.tsx
  packages/applications/ssr/src/types/next-auth.d.ts
Due: eslint --fix

🎨 Compat with legacy auth logout
  packages/applications/ssr/src/app/api/auth/federated-logout/route.ts
Due: eslint --fix

➖ Retirer les dépendences inutiles
  package-lock.json
  packages/applications/legacy/package.json
  packages/applications/legacy/src/types/express-custom.d.ts
Due: eslint --fix, prettier -w

🔥 Remove apiResult
  packages/applications/legacy/src/controllers/admin/inviterDgecValidateur/getInviterDgecValidateurPage.ts
  packages/applications/legacy/src/controllers/admin/inviterDgecValidateur/postInviterDgecValidateur.ts
  packages/applications/legacy/src/controllers/helpers/apiResult.ts
Due: eslint --fix

✅ Simplification
  packages/specifications/src/notification/stepDefinitions/notification.then.ts
  packages/specifications/src/projet/lauréat/abandon/accorderAbandon.feature
  packages/specifications/src/projet/lauréat/abandon/fixtures/demanderAbandon.fixture.ts
  packages/specifications/src/projet/lauréat/abandon/stepDefinitions/abandon.given.ts
  packages/specifications/src/projet/lauréat/abandon/stepDefinitions/abandon.then.ts
  packages/specifications/src/projet/lauréat/abandon/stepDefinitions/abandon.when.ts
  packages/specifications/src/projet/lauréat/achèvement/attestationConformité/transmettreAttestationConformité.feature
  packages/specifications/src/raccordement/transmettreDemandeComplèteDeRaccordement.feature
Due: eslint --fix, prettier -w

✅ Couple of fix
  packages/specifications/src/notification/notification.world.ts
  packages/specifications/src/notification/stepDefinitions/notification.then.ts
  packages/specifications/src/projet/lauréat/achèvement/attestationConformité/transmettreAttestationConformité.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/échoirGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/lauréat.world.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.given.ts
Due: eslint --fix, prettier -w

🎨 Remove select
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/échoirGarantiesFinancièresActuelles.feature
Due: prettier -w

🎨 Remove deprecated
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/importerTypeGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/modifierGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/supprimerDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/validerDépôtGarantiesFinancières.feature
  packages/specifications/src/tâche-planifiée/exécuterTâchePlanifiée.feature
  packages/specifications/src/tâche/acheverTâche.feature
  packages/specifications/src/tâche/ajouterTâche.feature
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.given.ts
Due: eslint --fix, prettier -w

✅ Stop verifier saga
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.given.ts
Due: eslint --fix

🎨 Rework & fix
  packages/applications/legacy/src/config/authN.config.ts
  packages/applications/legacy/src/controllers/helpers/vérifierPermissionUtilisateur.ts
  packages/applications/legacy/src/controllers/userAccount/getSignupPage.ts
  packages/applications/legacy/src/infra/keycloak/attachUserToRequestMiddleware.ts
  packages/applications/legacy/src/infra/keycloak/createUserCredentials.ts
  packages/applications/legacy/src/infra/keycloak/makeKeycloakAuth.ts
  packages/applications/legacy/src/infra/keycloak/resendInvitationEmail.ts
  packages/applications/legacy/src/modules/authN/queries/RegisterAuth.ts
  packages/applications/legacy/src/routes.ts
  packages/applications/legacy/src/server.ts
  packages/applications/legacy/src/views/components/UI/molecules/dropdowns/DropdownMenu.tsx
  packages/applications/legacy/src/views/components/UI/organisms/Header.tsx
  packages/applications/legacy/src/views/components/UI/organisms/UserNavigation.tsx
  packages/applications/legacy/src/views/pages/AbonnementLettreInformation.tsx
  packages/applications/legacy/src/views/pages/Signup.tsx
  packages/applications/legacy/src/views/pages/homePage/Home.tsx
  packages/applications/legacy/src/views/pages/homePage/components/InscriptionConnexion.tsx
  packages/applications/routes/src/auth/auth.routes.ts
  packages/applications/routes/src/auth/index.ts
  packages/applications/routes/src/index.ts
  packages/applications/routes/src/projet/projet.routes.ts
  packages/applications/ssr/public/next.svg
  packages/applications/ssr/public/vercel.svg
  packages/applications/ssr/src/app/api/auth/federated-logout/route.ts
  packages/applications/ssr/src/app/auth/signIn/page.tsx
  packages/applications/ssr/src/app/auth/signOut/page.tsx
  packages/applications/ssr/src/app/go-to-user-dashboard/route.ts
  packages/applications/ssr/src/components/molecules/UserHeaderQuickAccessItem.tsx
  packages/applications/ssr/src/middleware.ts
  packages/applications/ssr/src/types/next-auth.d.ts
  packages/applications/ssr/src/utils/getAuthenticatedUser.handler.ts
Due: eslint --fix

🎨 Links
  packages/applications/legacy/src/infra/keycloak/makeKeycloakAuth.ts
  packages/applications/routes/src/auth/auth.routes.ts
  packages/applications/ssr/src/app/api/auth/federated-logout/route.ts
  packages/applications/ssr/src/components/molecules/UserHeaderQuickAccessItem.tsx
  packages/applications/ssr/src/middleware.ts
  packages/applications/ssr/src/utils/withErrorHandling.ts
Due: eslint --fix

🐛 Fix mw
  packages/applications/ssr/src/middleware.ts
Due: eslint --fix

📝 Doc
  packages/applications/ssr/src/auth.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
