Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

🎨 Utilisation de sendEmailV2 pour accès projet révoqué
  packages/applications/notifications/src/helpers/getProjet.ts
  packages/applications/notifications/src/helpers/getÉliminé.ts
  packages/applications/notifications/src/subscribers/accès/accès.notifications.ts
  packages/applications/notifications/src/subscribers/accès/handlers/accèsProjetRetiré.handler.ts
  packages/applications/notifications/src/templates/emails/accès/accès_projet_révoqué_pour_porteur.md
  packages/applications/subscribers/src/setup/setupProjet/setupAccès.ts
  packages/specifications/src/accès/retirerAccèsProjet.feature
  packages/specifications/src/accès/réclamerProjet.feature
Due: eslint --fix, prettier -w

helper
  packages/applications/cli/src/commands/load-test/notifier-candidatures.ts
  packages/applications/notifications/src/helpers/listerRecipients.ts
  packages/domain/projet/package.json
  packages/domain/projet/src/accès/lister/listerAccès.query.ts
  packages/domain/projet/src/candidature/lister/listerDétailsFournisseur.query.ts
  packages/domain/projet/src/getScopeProjetUtilisateur.port.ts
  packages/domain/projet/src/helpers/getIdentifiantProjetWhereCondition.ts
  packages/domain/projet/src/helpers/index.ts
  packages/domain/projet/src/lauréat/abandon/demande/lister/listerDemandesAbandon.query.ts
  packages/domain/projet/src/lauréat/achèvement/lister/listerProjetAvecAchevementATransmettre.query.ts
  packages/domain/projet/src/lauréat/actionnaire/changement/lister/listerChangementActionnaire.query.ts
  packages/domain/projet/src/lauréat/délai/demande/lister/listerDemandeDélai.query.ts
  packages/domain/projet/src/lauréat/fournisseur/changement/lister/listerChangementFournisseur.query.ts
  packages/domain/projet/src/lauréat/garanties-financières/dépôt/lister/listerDépôtGarantiesFinancières.query.ts
  packages/domain/projet/src/lauréat/garanties-financières/en-attente/lister/listerProjetsAvecGarantiesFinancièresEnAttente.query.ts
  packages/domain/projet/src/lauréat/garanties-financières/mainlevée/lister/listerMainlevéesGarantiesFinancières.query.ts
  packages/domain/projet/src/lauréat/installation/dispositif-de-stockage/changement/lister/listerChangementDispositifDeStockage.query.ts
  packages/domain/projet/src/lauréat/installation/installateur/changement/lister/listerChangementInstallateur.query.ts
  packages/domain/projet/src/lauréat/lister/listerLauréat.query.ts
  packages/domain/projet/src/lauréat/lister/listerLauréatEnrichi.query.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/changement/lister/listerChangementsNatureDeLExploitation.query.ts
  packages/domain/projet/src/lauréat/nomProjet/changement/lister/listerChangementNomProjet.ts
  packages/domain/projet/src/lauréat/producteur/changement/lister/listerChangementProducteur.query.ts
  packages/domain/projet/src/lauréat/puissance/changement/lister/listerChangementPuissance.query.ts
  packages/domain/projet/src/lauréat/raccordement/lister/listerDossierRaccordement.query.ts
  packages/domain/projet/src/lauréat/raccordement/lister/listerDossierRaccordementManquants.query.ts
  packages/domain/projet/src/lauréat/représentantLégal/changement/lister/listerChangementReprésentantLégal.query.ts
  packages/domain/projet/src/lauréat/tâche/consulter/consulterNombreTâche.query.ts
  packages/domain/projet/src/lauréat/tâche/lister/listerTâche.query.ts
  packages/domain/projet/src/éliminé/lister/listerÉliminé.query.ts
  packages/domain/projet/src/éliminé/lister/listerÉliminéEnrichi.query.ts
  packages/domain/projet/src/éliminé/recours/lister/listerDemandeRecours.query.ts
  packages/infrastructure/domain-adapters/src/utilisateur/getScopeProjetUtilisateur.adapter.ts
Due: eslint --fix, prettier -w

fix permission sur accès lsit
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/utilisateurs/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/utilisateurs/page.tsx
  packages/applications/ssr/src/components/organisms/accès/(inviter)/inviterPorteur.action.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

li
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/utilisateurs/page.tsx
Due: eslint --fix

migration achèvement
  packages/applications/notifications/src/subscribers/lauréat/achèvement/achèvement.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/achèvement/constant.ts
  packages/applications/notifications/src/subscribers/lauréat/achèvement/handlers/attestationConformitéTransmise.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/achèvement/handlers/dateAchèvementTransmise.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/achèvement/type.ts
  packages/applications/notifications/src/templates/emails/lauréat/achèvement/transmettre_attestation_dreal.md
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupAchèvement.ts
  packages/specifications/src/projet/lauréat/achèvement/transmettreAttestationConformité.feature
  packages/specifications/src/projet/lauréat/achèvement/transmettreDateAchèvement.feature
Due: eslint --fix, prettier -w

🐛 Fix test
  packages/specifications/src/projet/lauréat/producteur/enregistrerChangementProducteur.feature
Due: prettier -w

🎨 Retours review
  packages/applications/notifications/src/helpers/getProjet.ts
  packages/applications/notifications/src/subscribers/accès/constant.ts
  packages/applications/notifications/src/subscribers/accès/handlers/accèsProjetAutoriséSuiteÀRéclamation.handler.ts
  packages/applications/notifications/src/subscribers/accès/handlers/accèsProjetRetiré.handler.ts
  packages/applications/notifications/src/subscribers/accès/type.ts
  packages/applications/notifications/src/templates/emails/accès/accès_autorisé_dreal.md
  packages/applications/notifications/src/templates/emails/accès/accès_autorisé_porteur.md
  packages/applications/notifications/src/templates/emails/accès/accès_révoqué.md
Due: eslint --fix

♻️ Migration templates accès (#4046)
  packages/applications/notifications/src/helpers/getProjet.ts
  packages/applications/notifications/src/helpers/getÉliminé.ts
  packages/applications/notifications/src/helpers/index.ts
  packages/applications/notifications/src/subscribers/accès/accès.notifications.ts
  packages/applications/notifications/src/subscribers/accès/constant.ts
  packages/applications/notifications/src/subscribers/accès/handlers/accèsProjetAutoriséSuiteÀRéclamation.handler.ts
  packages/applications/notifications/src/subscribers/accès/handlers/accèsProjetRetiré.handler.ts
  packages/applications/notifications/src/subscribers/accès/type.ts
  packages/applications/notifications/src/templates/emails/accès/accès_autorisé_dreal.md
  packages/applications/notifications/src/templates/emails/accès/accès_autorisé_porteur.md
  packages/applications/notifications/src/templates/emails/accès/accès_révoqué.md
  packages/applications/subscribers/src/setup/setupProjet/setupAccès.ts
  packages/specifications/src/accès/retirerAccèsProjet.feature
  packages/specifications/src/accès/réclamerProjet.feature
  packages/specifications/src/projet/lauréat/producteur/enregistrerChangementProducteur.feature
Due: eslint --fix, prettier -w

modif wording
  packages/applications/notifications/src/templates/emails/lauréat/achèvement/transmettre_date.md
Due: eslint --fix

changes review
  packages/applications/notifications/src/subscribers/lauréat/puissance/handlers/index.ts
  packages/applications/notifications/src/subscribers/lauréat/puissance/puissance.notifications.ts
  packages/specifications/src/projet/lauréat/puissance/changement/stepDefinitions/changementPuissance.then.ts
Due: eslint --fix

✅ Test dépôt schema
  packages/applications/ssr/src/utils/candidature/dépôt.schema.test.ts
  packages/applications/ssr/src/utils/candidature/dépôt.schema.ts
Due: eslint --fix

arrangement pré test
  packages/applications/cli/src/commands/load-test/notifier-candidatures.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(archives)/ArchivesGarantiesFinancières.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/DétailsGarantiesFinancières.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/page.tsx
  packages/domain/projet/src/accès/lister/listerAccès.query.ts
  packages/domain/projet/src/accès/vérifier/vérifierAccèsProjet.query.ts
  packages/domain/projet/src/candidature/lister/listerDétailsFournisseur.query.ts
  packages/domain/projet/src/getScopeProjetUtilisateur.port.ts
  packages/domain/projet/src/lauréat/abandon/demande/lister/listerDemandesAbandon.query.ts
  packages/domain/projet/src/lauréat/achèvement/lister/listerProjetAvecAchevementATransmettre.query.ts
  packages/domain/projet/src/lauréat/actionnaire/changement/lister/listerChangementActionnaire.query.ts
  packages/domain/projet/src/lauréat/délai/demande/lister/listerDemandeDélai.query.ts
  packages/domain/projet/src/lauréat/fournisseur/changement/lister/listerChangementFournisseur.query.ts
  packages/domain/projet/src/lauréat/garanties-financières/actuelles/archives/lister/listerArchivesGarantiesFinancières.query.ts
  packages/domain/projet/src/lauréat/garanties-financières/actuelles/garantiesFinancièresActuelles.queries.ts
  packages/domain/projet/src/lauréat/garanties-financières/actuelles/garantiesFinancièresActuelles.register.ts
  packages/domain/projet/src/lauréat/garanties-financières/dépôt/lister/listerDépôtGarantiesFinancières.query.ts
  packages/domain/projet/src/lauréat/garanties-financières/en-attente/lister/listerProjetsAvecGarantiesFinancièresEnAttente.query.ts
  packages/domain/projet/src/lauréat/garanties-financières/mainlevée/lister/listerMainlevéesGarantiesFinancières.query.ts
  packages/domain/projet/src/lauréat/installation/dispositif-de-stockage/changement/lister/listerChangementDispositifDeStockage.query.ts
  packages/domain/projet/src/lauréat/installation/installateur/changement/lister/listerChangementInstallateur.query.ts
  packages/domain/projet/src/lauréat/lister/listerLauréat.query.ts
  packages/domain/projet/src/lauréat/lister/listerLauréatEnrichi.query.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/changement/lister/listerChangementsNatureDeLExploitation.query.ts
  packages/domain/projet/src/lauréat/nomProjet/changement/lister/listerChangementNomProjet.ts
  packages/domain/projet/src/lauréat/producteur/changement/lister/listerChangementProducteur.query.ts
  packages/domain/projet/src/lauréat/puissance/changement/lister/listerChangementPuissance.query.ts
  packages/domain/projet/src/lauréat/raccordement/lister/listerDossierRaccordement.query.ts
  packages/domain/projet/src/lauréat/raccordement/lister/listerDossierRaccordementManquants.query.ts
  packages/domain/projet/src/lauréat/représentantLégal/changement/lister/listerChangementReprésentantLégal.query.ts
  packages/domain/projet/src/lauréat/tâche/consulter/consulterNombreTâche.query.ts
  packages/domain/projet/src/lauréat/tâche/lister/listerTâche.query.ts
  packages/domain/projet/src/éliminé/lister/listerÉliminé.query.ts
  packages/domain/projet/src/éliminé/lister/listerÉliminéEnrichi.query.ts
  packages/domain/projet/src/éliminé/recours/lister/listerDemandeRecours.query.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/infrastructure/domain-adapters/src/utilisateur/getScopeProjetUtilisateur.adapter.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.then.ts
Due: eslint --fix

fix
  packages/infrastructure/domain-adapters/src/utilisateur/getScopeProjetUtilisateur.adapter.ts
Due: eslint --fix

fix
  packages/domain/projet/src/accès/lister/listerAccès.query.ts
  packages/domain/projet/src/accès/vérifier/vérifierAccèsProjet.query.ts
  packages/domain/projet/src/getScopeProjetUtilisateur.port.ts
  packages/domain/projet/src/lauréat/tâche/consulter/consulterNombreTâche.query.ts
  packages/infrastructure/domain-adapters/src/utilisateur/getScopeProjetUtilisateur.adapter.ts
Due: eslint --fix

⬆️ Mises à jour de sécurité (#4047)
  package-lock.json
  packages/applications/request-context/src/authOptions.ts
  packages/libraries/file-storage/package.json
  packages/specifications/package.json
Due: eslint --fix, prettier -w

♻️ Déplacer auth dans le SSR
  package-lock.json
  packages/applications/request-context/package.json
  packages/applications/request-context/src/helper/getBaseUrl.ts
  packages/applications/request-context/src/index.ts
  packages/applications/request-context/src/noAuthenticatedUser.error.ts
  packages/applications/request-context/src/request-context.ts
  packages/applications/request-context/src/runWithContext.ts
  packages/applications/request-context/tsconfig.json
  packages/applications/ssr/package.json
  packages/applications/ssr/src/app/api/auth/[...nextauth]/route.ts
  packages/applications/ssr/src/app/auth/signOut/page.tsx
  packages/applications/ssr/src/server.ts
  packages/applications/ssr/src/utils/auth/ProConnectProvider.ts
  packages/applications/ssr/src/utils/auth/authOptions.ts
  packages/applications/ssr/src/utils/auth/canConnectWithProvider.ts
  packages/applications/ssr/src/utils/auth/getLogoutUrl.ts
  packages/applications/ssr/src/utils/auth/getProviderConfiguration.ts
  packages/applications/ssr/src/utils/auth/getUtilisateur.ts
  packages/applications/ssr/src/utils/auth/openid.ts
  packages/applications/ssr/src/utils/auth/refreshToken.ts
  packages/applications/ssr/src/utils/auth/sendVerificationRequest.test.ts
  packages/applications/ssr/src/utils/auth/sendVerificationRequest.ts
  packages/applications/ssr/src/utils/auth/types.ts
  packages/applications/ssr/src/utils/withErrorHandling.ts
  packages/applications/ssr/src/utils/withUtilisateur.ts
Due: eslint --fix, prettier -w

✨ Logout
  packages/applications/ssr/src/app/auth/signOut/SignOutRedirect.tsx
  packages/applications/ssr/src/app/auth/signOut/page.tsx
  packages/applications/ssr/src/auth/discovery.ts
  packages/applications/ssr/src/auth/getLogoutUrl.ts
  packages/applications/ssr/src/auth/getProviderConfiguration.ts
  packages/applications/ssr/src/auth/index.ts
  packages/applications/ssr/src/auth/proconnect.provider.ts
Due: eslint --fix

🎨 Misc
  packages/applications/ssr/src/auth/getApiUser.ts
  packages/applications/ssr/src/auth/index.ts
Due: eslint --fix

🚚 Rename
  packages/applications/ssr/src/app/auth/signIn/page.tsx
  packages/applications/ssr/src/auth/getApiUser.ts
  packages/applications/ssr/src/auth/getLogoutUrl.ts
  packages/applications/ssr/src/auth/providers/getLastUsedProvider.ts
Due: eslint --fix

♻️ Refacto providers configuration + AuthTile +...
  packages/applications/ssr/.env.template
  packages/applications/ssr/src/app/auth/signIn/SignIn.page.tsx
  packages/applications/ssr/src/app/auth/signIn/page.tsx
  packages/applications/ssr/src/app/auth/signUp/SignUp.page.tsx
  packages/applications/ssr/src/app/auth/signUp/page.tsx
  packages/applications/ssr/src/auth/canConnectWithProvider.ts
  packages/applications/ssr/src/auth/getCurrentProvider.ts
  packages/applications/ssr/src/auth/getLogoutUrl.ts
  packages/applications/ssr/src/auth/getSessionUser.ts
  packages/applications/ssr/src/auth/index.ts
  packages/applications/ssr/src/auth/providers/authProvider.ts
  packages/applications/ssr/src/auth/providers/discovery.ts
  packages/applications/ssr/src/auth/providers/getProviderConfiguration.ts
  packages/applications/ssr/src/auth/providers/keycloak.provider.ts
  packages/applications/ssr/src/auth/providers/magic-link/buildSendMagicLink.test.ts
  packages/applications/ssr/src/auth/providers/magic-link/buildSendMagicLink.ts
  packages/applications/ssr/src/auth/providers/magicLink.provider.ts
  packages/applications/ssr/src/auth/providers/proconnect.provider.ts
  packages/applications/ssr/src/components/organisms/auth/AuthTile.tsx
  packages/applications/ssr/src/components/organisms/header/UserHeaderQuickAccessItem.tsx
Due: eslint --fix

⬆️ Missing package reference
  package-lock.json
  packages/applications/bootstrap/package.json
  packages/applications/ssr/package.json
Due: eslint --fix, prettier -w

♻️ Misc
  packages/applications/ssr/src/app/auth/signOut/page.tsx
  packages/applications/ssr/src/auth/getLogoutUrl.ts
  packages/applications/ssr/src/auth/index.ts
  packages/applications/ssr/src/auth/plugins/audit-log.plugin.ts
  packages/applications/ssr/src/auth/providers/discovery.ts
  packages/applications/ssr/src/middleware.ts
  packages/applications/ssr/src/middlewares/withAuth.ts
Due: eslint --fix

✨ Audit
  packages/applications/ssr/src/auth/index.ts
  packages/applications/ssr/src/auth/plugins/audit-log.plugin.ts
  packages/applications/ssr/src/auth/providers/keycloak.provider.ts
  packages/applications/ssr/src/auth/providers/magicLink.provider.ts
  packages/applications/ssr/src/auth/providers/proconnect.provider.ts
Due: eslint --fix

fixup! 🎨 Fix mw
  packages/applications/ssr/src/middlewares/withAuth.ts
Due: eslint --fix

🎨 API user
  packages/applications/ssr/src/auth/getApiUser.ts
  packages/applications/ssr/src/auth/getLogoutUrl.ts
  packages/applications/ssr/src/auth/index.ts
  packages/applications/ssr/src/auth/providers/openid.ts
  packages/applications/ssr/src/auth/providers/proconnect.provider.ts
Due: eslint --fix

🎨 Fix mw
  packages/applications/ssr/src/middleware.ts
  packages/applications/ssr/src/middlewares/withAuth.ts
Due: eslint --fix

🎨 Fix build
  packages/applications/ssr/src/app/auth/signIn/page.tsx
  packages/applications/ssr/src/app/auth/signOut/page.tsx
  packages/applications/ssr/src/app/auth/verifyRequest/page.tsx
Due: eslint --fix

🎨 Mw + default auth params
  packages/applications/ssr/src/auth/index.ts
  packages/applications/ssr/src/auth/providers/keycloak.provider.ts
  packages/applications/ssr/src/auth/providers/magicLink.provider.ts
  packages/applications/ssr/src/middlewares/withAuth.ts
Due: eslint --fix

fixup! 🎨 Fix build
  packages/applications/ssr/src/app/api/auth/[...all]/route.ts
Due: eslint --fix

Revert "fixup! 🎨 Fix build"
  packages/applications/ssr/src/app/api/auth/[...all]/route.ts
Due: eslint --fix

🎨 Fix default env values at build
  packages/applications/ssr/package.json
  packages/applications/ssr/src/auth/index.ts
  packages/applications/ssr/src/auth/providers/authProvider.ts
  packages/applications/ssr/src/auth/providers/magic-link/buildSendMagicLink.test.ts
  packages/applications/ssr/src/auth/providers/magic-link/buildSendMagicLink.ts
  packages/applications/ssr/src/auth/providers/magicLink.provider.ts
Due: eslint --fix, prettier -w

Revert "🎨 Fix build"
  packages/applications/ssr/src/app/auth/signIn/page.tsx
  packages/applications/ssr/src/app/auth/signOut/page.tsx
  packages/applications/ssr/src/app/auth/verifyRequest/page.tsx
Due: eslint --fix

🎨 Misc clean
  packages/applications/ssr/.env.template
  packages/applications/ssr/src/app/auth/verifyRequest/page.tsx
  packages/applications/ssr/src/auth/providers/authProvider.ts
  scalingo.json
Due: eslint --fix, prettier -w

🎨 Ts configs
  packages/applications/bootstrap/tsconfig.json
  packages/applications/ssr/tsconfig.json
Due: eslint --fix, prettier -w

⏪️ Revert instrumentation and logger
  packages/applications/ssr/src/instrumentation.ts
  packages/applications/ssr/src/server.ts
  packages/applications/ssr/src/setupLogger.ts
Due: eslint --fix

🎨 Cleanup env templates
  packages/applications/ssr/.env.template
  packages/applications/subscribers/.env.template
Due: none

🐛 Fix callbackUrl
  packages/applications/ssr/src/middlewares/withAuth.ts
Due: eslint --fix

♻️ Retours PR
  packages/applications/ssr/src/auth/getApiUser.ts
  packages/applications/ssr/src/auth/index.ts
  packages/applications/ssr/src/auth/providers/magic-link/magicLink.provider.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
