Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

🚧 Wip retours review
  packages/applications/ssr/src/utils/candidature/candidatureFields.schema.ts
  packages/applications/ssr/src/utils/candidature/dépôt.schema.test.ts
  packages/applications/ssr/src/utils/candidature/schemaBase.ts
Due: eslint --fix

review mathieu section documents
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/documents/(sections)/Documents.section.tsx
  packages/applications/ssr/src/components/organisms/document/DocumentListItem.tsx
Due: eslint --fix

solution et éliminé
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/documents/(sections)/Documents.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/documents/(sections)/Documents.section.tsx
  packages/applications/ssr/src/components/organisms/document/DocumentListItem.tsx
Due: eslint --fix

migration templates nature de l'exploitation
  packages/applications/notifications/src/index.ts
  packages/applications/notifications/src/subscribers/lauréat/nature-de-l-exploitation/constant.ts
  packages/applications/notifications/src/subscribers/lauréat/nature-de-l-exploitation/handlers/changementNatureDeLExploitationEnregistré.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/nature-de-l-exploitation/handlers/natureDeLExploitationModifiée.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/nature-de-l-exploitation/index.ts
  packages/applications/notifications/src/subscribers/lauréat/nature-de-l-exploitation/nature-de-l-exploitation.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/nature-de-l-exploitation/type.ts
  packages/applications/notifications/src/templates/emails/lauréat/nature-de-l-exploitation/enregistrer_changement.md
  packages/applications/notifications/src/templates/emails/lauréat/nature-de-l-exploitation/modifier.md
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupNatureDeLExploitation.ts
  packages/specifications/src/projet/lauréat/nature-de-l-exploitation/enregistrerChangementNatureDeLExploitation.feature
  packages/specifications/src/projet/lauréat/nature-de-l-exploitation/modifierNatureDeLExploitation.feature
Due: eslint --fix, prettier -w

🐛 Export fournisseurs : seulement les projets notifiés (#3986)
  packages/domain/projet/src/candidature/lister/listerDétailsFournisseur.query.ts
Due: eslint --fix

🐛 Accès admin page lister périodes
  packages/applications/ssr/src/app/periodes/page.tsx
Due: eslint --fix

🐛 Accès admin page lister périodes (#3991)
  packages/applications/ssr/src/app/periodes/page.tsx
Due: eslint --fix

🎨 Tx ACI requis
  packages/applications/ssr/src/utils/candidature/candidatureFields.schema.ts
  packages/applications/ssr/src/utils/candidature/dépôt.schema.test.ts
Due: eslint --fix

🐛 ajustements section documents (#3988)
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/documents/(sections)/Documents.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/documents/(sections)/Documents.section.tsx
  packages/applications/ssr/src/components/organisms/document/DocumentListItem.tsx
Due: eslint --fix

✅ L'administrateur supprime la mise en service d'un dossier de raccordement alors que le projet dispose de plusieurs dossiers en service
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/dateMiseEnService/dateMiseEnServiceSuppriméeV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/demandeComplèteDeRaccordement/demandeComplèteDeRaccordementTransmiseV3.projector.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/specifications/src/raccordement/dateDeMiseEnService/stepDefinitions/dateMiseEnService.given.ts
  packages/specifications/src/raccordement/dateDeMiseEnService/stepDefinitions/dateMiseEnService.then.ts
  packages/specifications/src/raccordement/dateDeMiseEnService/stepDefinitions/dateMiseEnService.when.ts
  packages/specifications/src/raccordement/dateDeMiseEnService/supprimerDateMiseEnService.feature
Due: eslint --fix, prettier -w

🎨 Erreurs plus spécifiques
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.test.ts
  packages/applications/ssr/src/utils/candidature/dépôt.schema.test.ts
  packages/applications/ssr/src/utils/candidature/schemaBase.ts
Due: eslint --fix

♻️ Instruction schema test (#3987)
  packages/applications/ssr/src/utils/candidature/instruction.schema.test.ts
  packages/applications/ssr/src/utils/candidature/instruction.schema.ts
Due: eslint --fix

🎨 Upsert / update la projection raccordement dans GRD Attribué en fonction de si c'est le premier évènement du stream raccordement
  packages/applications/projectors/src/subscribers/lauréat/raccordement/gestionnaire-réseau/gestionnaireRéseauAttribuéV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/gestionnaire-réseau/gestionnaireRéseauInconnuAttribuéV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/gestionnaire-réseau/gestionnaireRéseauRaccordementModifiéV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/gestionnaire-réseau/gestionnaireRéseauRaccordementModifiéV2.projector.ts
  packages/infrastructure/pg-projection-read/src/findProjection.ts
  packages/specifications/src/raccordement/dateDeMiseEnService/supprimerDateMiseEnService.feature
Due: eslint --fix, prettier -w

🔥 Suppression tests superflux
  packages/applications/ssr/src/utils/candidature/dépôt.schema.test.ts
Due: eslint --fix

🎨 Vérifier les permissions d'éxécution des usescases dans le point d'entrée page.tsx dans le cas des actions avec plusieurs usecases pouvant être appelés
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:transmettre/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/demander/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(demande-complète-raccordement)/demande-complete-raccordement:modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/demande-complete-raccordement:transmettre/page.tsx
Due: eslint --fix

🎨 Vérifier les permissions d'éxécution des usescases dans le point d'entrée page.tsx dans le cas des actions avec plusieurs usecases pouvant être appelés (#3993)
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:transmettre/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/demander/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(demande-complète-raccordement)/demande-complete-raccordement:modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/demande-complete-raccordement:transmettre/page.tsx
Due: eslint --fix

💡 Update comment
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/demandeComplèteDeRaccordement/demandeComplèteDeRaccordementTransmiseV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/demandeComplèteDeRaccordement/demandeComplèteDeRaccordementTransmiseV2.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/gestionnaire-réseau/gestionnaireRéseauAttribuéV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/gestionnaire-réseau/gestionnaireRéseauInconnuAttribuéV1.projector.ts
Due: eslint --fix

🐛 Fix optionalEnum
  packages/applications/ssr/src/app/candidatures/importer/(demarche-simplifiée)/importerCandidaturesParDS.action.ts
  packages/applications/ssr/src/utils/candidature/schemaBase.ts
Due: eslint --fix

🎨 Harmonisation projector
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/dateMiseEnService/dateMiseEnServiceTransmiseV1.projector.ts
Due: eslint --fix

✅ Ajout des scénarios manquants
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/dateMiseEnService/dateMiseEnServiceSuppriméeV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/dateMiseEnService/dateMiseEnServiceTransmiseV2.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/dossierDuRaccordementSuppriméV1.projector.ts
  packages/specifications/src/raccordement/dateDeMiseEnService/modifierDateMiseEnService.feature
  packages/specifications/src/raccordement/dateDeMiseEnService/stepDefinitions/dateMiseEnService.then.ts
  packages/specifications/src/raccordement/dateDeMiseEnService/supprimerDateMiseEnService.feature
  packages/specifications/src/raccordement/dossierRaccordement/stepDefinitions/dossierRaccordement.when.ts
  packages/specifications/src/raccordement/dossierRaccordement/supprimerDossierDuRaccordement.feature
  packages/specifications/src/raccordement/stepDefinitions/raccordement.then.ts
Due: eslint --fix, prettier -w

✨ Ajout de la mise en service du raccordement d'un projet (#3984)
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/dateMiseEnService/dateMiseEnServiceSuppriméeV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/dateMiseEnService/dateMiseEnServiceTransmiseV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/dateMiseEnService/dateMiseEnServiceTransmiseV2.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/demandeComplèteDeRaccordement/demandeComplèteDeRaccordementTransmiseV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/demandeComplèteDeRaccordement/demandeComplèteDeRaccordementTransmiseV2.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/demandeComplèteDeRaccordement/demandeComplèteDeRaccordementTransmiseV3.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/dossierDuRaccordementSuppriméV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/référence/index.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/référence/référenceDossierRacordementModifiéeV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/référence/référenceDossierRacordementModifiéeV2.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/gestionnaire-réseau/gestionnaireRéseauAttribuéV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/gestionnaire-réseau/gestionnaireRéseauInconnuAttribuéV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/gestionnaire-réseau/gestionnaireRéseauRaccordementModifiéV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/gestionnaire-réseau/gestionnaireRéseauRaccordementModifiéV2.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/gestionnaire-réseau/index.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/gestionnaireRéseauInconnuAttribuéV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/gestionnaireRéseauRaccordementModifiéV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/gestionnaireRéseauRaccordementModifiéV2.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/index.ts
  packages/domain/projet/src/lauréat/raccordement/consulter/consulterDossierRaccordement.query.ts
  packages/domain/projet/src/lauréat/raccordement/consulter/consulterRaccordement.query.ts
  packages/domain/projet/src/lauréat/raccordement/dossierRaccordement.entity.ts
  packages/domain/projet/src/lauréat/raccordement/index.ts
  packages/domain/projet/src/lauréat/raccordement/lister/listerDossierRaccordementManquants.query.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.entity.ts
  packages/specifications/src/projet/lauréat/achèvement/calculerDateAchèvementPrévisionnel.feature
  packages/specifications/src/raccordement/dateDeMiseEnService/modifierDateMiseEnService.feature
  packages/specifications/src/raccordement/dateDeMiseEnService/stepDefinitions/dateMiseEnService.given.ts
  packages/specifications/src/raccordement/dateDeMiseEnService/stepDefinitions/dateMiseEnService.then.ts
  packages/specifications/src/raccordement/dateDeMiseEnService/stepDefinitions/dateMiseEnService.when.ts
  packages/specifications/src/raccordement/dateDeMiseEnService/supprimerDateMiseEnService.feature
  packages/specifications/src/raccordement/dateDeMiseEnService/transmettreDateMiseEnService.feature
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/stepDefinitions/demandeComplèteRaccordement.when.ts
  packages/specifications/src/raccordement/dossierRaccordement/stepDefinitions/dossierRaccordement.when.ts
  packages/specifications/src/raccordement/dossierRaccordement/supprimerDossierDuRaccordement.feature
  packages/specifications/src/raccordement/raccordement.world.ts
  packages/specifications/src/raccordement/stepDefinitions/raccordement.then.ts
Due: eslint --fix, prettier -w

🗃️ Rebuild projection pour avoir la mise en service dans le raccordement
  .database/potentiel-dev.dump
Due: none

✨ Utiliser la mise en service du raccordement dans les étapes projet
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/ÉtapesProjet.section.tsx
Due: eslint --fix

✨ Utiliser la mise en service du raccordement dans les étapes projet (#3994)
  .database/potentiel-dev.dump
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/ÉtapesProjet.section.tsx
Due: eslint --fix

🗃️ Update de la view stats_projets en modifiant la récupération de la date de mise en service
  .database/potentiel-dev.dump
  packages/statistiques/vues/src/stats_projets.sql
Due: none

🗃️ Update de la view stats_projets en modifiant la récupération de la date de mise en service (#3996)
  .database/potentiel-dev.dump
  packages/statistiques/vues/src/stats_projets.sql
Due: none

🎨 Ajout de la mise en service à l'export global lauréat
  packages/applications/ssr/src/app/laureats/export/route.ts
  packages/domain/projet/src/lauréat/lister/listerLauréatEnrichi.query.ts
Due: eslint --fix

🎨 Ajout de la mise en service à l'export global lauréat (#3997)
  packages/applications/ssr/src/app/laureats/export/route.ts
  packages/domain/projet/src/lauréat/lister/listerLauréatEnrichi.query.ts
Due: eslint --fix

♻️ Découper les permissions
  packages/domain/utilisateur/src/permissions/common.ts
  packages/domain/utilisateur/src/permissions/policies.ts
  packages/domain/utilisateur/src/permissions/référentiel.ts
  packages/domain/utilisateur/src/permissions/rôles/ademe.policies.ts
  packages/domain/utilisateur/src/permissions/rôles/admin.policies.ts
  packages/domain/utilisateur/src/permissions/rôles/caisseDesDépôts.policies.ts
  packages/domain/utilisateur/src/permissions/rôles/coContractant.policies.ts
  packages/domain/utilisateur/src/permissions/rôles/cre.policies.ts
  packages/domain/utilisateur/src/permissions/rôles/dgecValidateur.policies.ts
  packages/domain/utilisateur/src/permissions/rôles/dreal.policies.ts
  packages/domain/utilisateur/src/permissions/rôles/grd.policies.ts
  packages/domain/utilisateur/src/permissions/rôles/index.ts
  packages/domain/utilisateur/src/permissions/rôles/porteurProjet.policies.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

♻️ Migration templates nature de l'exploitation (#3989)
  packages/applications/notifications/src/index.ts
  packages/applications/notifications/src/subscribers/lauréat/nature-de-l-exploitation/constant.ts
  packages/applications/notifications/src/subscribers/lauréat/nature-de-l-exploitation/handlers/changementNatureDeLExploitationEnregistré.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/nature-de-l-exploitation/handlers/natureDeLExploitationModifiée.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/nature-de-l-exploitation/index.ts
  packages/applications/notifications/src/subscribers/lauréat/nature-de-l-exploitation/nature-de-l-exploitation.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/nature-de-l-exploitation/type.ts
  packages/applications/notifications/src/templates/emails/lauréat/nature-de-l-exploitation/enregistrer_changement.md
  packages/applications/notifications/src/templates/emails/lauréat/nature-de-l-exploitation/modifier.md
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupNatureDeLExploitation.ts
  packages/specifications/src/projet/lauréat/nature-de-l-exploitation/enregistrerChangementNatureDeLExploitation.feature
  packages/specifications/src/projet/lauréat/nature-de-l-exploitation/modifierNatureDeLExploitation.feature
Due: eslint --fix, prettier -w

misc
  Procfile
  docs/contributing/GETTING_STARTED.md
  package.json
  pnpm-workspace.yaml
Due: eslint --fix, prettier -w

wip more packages
  packages/applications/ssr/package.json
  packages/domain/statistiques-utilisation/package.json
  packages/infrastructure/domain-adapters/package.json
  packages/specifications/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier -w

wip supply chain options
  pnpm-workspace.yaml
Due: eslint --fix, prettier -w

🎨 CI
  .github/workflows/shared-workflow.yml
Due: eslint --fix, prettier -w

🎨 Fix all scripts
  Procfile.dev
  package.json
  packages/applications/api/package.json
  packages/applications/cli/package.json
  packages/applications/notifications/package.json
  packages/applications/request-context/package.json
  packages/applications/ssr/package.json
  packages/applications/ssr/src/app/api/auth/[...nextauth]/route.ts
  packages/domain/common/package.json
  packages/infrastructure/ds-api-client/package.json
  packages/libraries/file-storage/package.json
  packages/specifications/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: eslint --fix, prettier -w

🎨 Fix merge
  packages/applications/request-context/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier -w

🔧 Ci
  .github/actions/setup/action.yml
  .github/workflows/shared-workflow.yml
Due: eslint --fix, prettier -w

🎨 Post merge
  packages/applications/ssr/package.json
  packages/infrastructure/pg-projection-read/package.json
  packages/infrastructure/pg-projection-write/package.json
  pnpm-lock.yaml
Due: eslint --fix, prettier -w

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
