Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml,feature}": "prettier -w"
}

🐛 Fix missing process.exit(0)
  packages/applications/scheduled-tasks/src/statistiques-publiques/extraire-données-statistiques-publiques.ts
Due: eslint --fix

🎨 Ajout d'un cron déclénché tout les jours à 6 AM
  cron.json
Due: eslint --fix, prettier -w

🎨 Get rid of numeroCRE
  packages/applications/projectors/src/subscribers/lauréat/_utils/getProjectData.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/abandonAccordé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/abandonConfirmé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/abandonRejeté.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/confirmationAbandonDemandée.projector.ts
  packages/domain/lauréat/src/abandon/abandon.entity.ts
  packages/domain/lauréat/src/actionnaire/actionnaire.entity.ts
  packages/domain/lauréat/src/actionnaire/changementActionnaire.entity.ts
  packages/domain/lauréat/src/garantiesFinancières/dépôtEnCours/dépôtEnCoursGarantiesFinancières.entity.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/archivesGarantiesFinancières.entity.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/garantiesFinancièresActuelles.entity.ts
  packages/domain/lauréat/src/garantiesFinancières/mainlevée/mainlevéeGarantiesFinancières.entity.ts
  packages/domain/lauréat/src/garantiesFinancières/projetEnAttenteDeGarantiesFinancières/projetAvecGarantiesFinancièresEnAttente.entity.ts
  packages/domain/lauréat/src/représentantLégal/changement/changementReprésentantLégal.entity.ts
Due: eslint --fix

🚧 PR review
  packages/applications/projectors/src/subscribers/lauréat/lauréat.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/lauréatNotifié.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/nomEtLocalitéLauréatImportés.projector.ts
  packages/specifications/src/projet/lauréat/modifierLauréat.feature
Due: eslint --fix, prettier -w

💡 Ajout commentaires
  packages/domain/lauréat/src/garantiesFinancières/tâches-planifiées/ajouter/ajouter.command.ts
  packages/domain/lauréat/src/garantiesFinancières/tâches-planifiées/annuler/annuler.command.ts
Due: eslint --fix

✨ Monitor script on sentry
  packages/applications/scheduled-tasks/extraire-données-statistiques-publiques.sh
Due: none

✨ Création d'un schéma dédié aux statistiques publiques (#2741)
  .database/potentiel-dev.dump
  .github/workflows/shared-workflow.yml
  cron.json
  package-lock.json
  package.json
  packages/applications/cli/.env.template
  packages/applications/cli/package.json
  packages/applications/cli/src/commands/stats/extraire.ts
  packages/applications/cli/tsconfig.json
  packages/applications/scheduled-tasks/extraire-données-statistiques-publiques.sh
  packages/applications/scheduled-tasks/package.json
  packages/applications/scheduled-tasks/src/statistiques-publiques/extraire-données-statistiques-publiques.ts
  packages/applications/scheduled-tasks/tsconfig.json
  packages/statistiques/statistiques-publiques/package.json
  packages/statistiques/statistiques-publiques/sql/scalarStatistic.sql
  packages/statistiques/statistiques-publiques/sql/schema.sql
  packages/statistiques/statistiques-publiques/src/index.ts
  packages/statistiques/statistiques-publiques/src/projet/nombreTotalProjet.statistic.ts
  packages/statistiques/statistiques-publiques/tsconfig.json
Due: eslint --fix, prettier -w

✨ Ajout stat nombre porteur inscrit
  package-lock.json
  packages/statistiques/statistiques-publiques/src/index.ts
  packages/statistiques/statistiques-publiques/src/utilisateur/nombrePorteurInscrit.statistic.ts
Due: eslint --fix, prettier -w

♻️ Ajout cleanScalarStatistic
  packages/statistiques/statistiques-publiques/src/_utils/cleanScalarStatistic.ts
  packages/statistiques/statistiques-publiques/src/projet/nombreTotalProjet.statistic.ts
  packages/statistiques/statistiques-publiques/src/utilisateur/nombrePorteurInscrit.statistic.ts
Due: eslint --fix

♻️ Ne pas ajouter de tâche planifiée GF pour un projet achevé (#2738)
  packages/applications/bootstrap/src/setupTâche.ts
  packages/domain/lauréat/src/abandon/accorder/accorderAbandon.usecase.ts
  packages/domain/lauréat/src/achèvement/transmettre/transmettreAttestationConformité.usecase.ts
  packages/domain/lauréat/src/garantiesFinancières/dépôtEnCours/soumettreDépôt/soumettreDépôtGarantiesFinancières.usecase.ts
  packages/domain/lauréat/src/garantiesFinancières/dépôtEnCours/supprimerDépôtEnCours/supprimerDépôtGarantiesFinancièresEnCours.usecase.ts
  packages/domain/lauréat/src/garantiesFinancières/dépôtEnCours/validerDépôtEnCours/validerDépôtGarantiesFinancièresEnCours.usecase.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancières.aggregate.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancières.register.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/enregistrer/enregistrerGarantiesFinancières.usecase.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/importer/importerTypeGarantiesFinancières.behavior.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/modifier/modifierGarantiesFinancières.usecase.ts
  packages/domain/lauréat/src/garantiesFinancières/tâches-planifiées/ajouter/ajouter.behavior.ts
  packages/domain/lauréat/src/garantiesFinancières/tâches-planifiées/ajouter/ajouter.command.ts
  packages/domain/lauréat/src/garantiesFinancières/tâches-planifiées/annuler/annuler.behavior.ts
  packages/domain/lauréat/src/garantiesFinancières/tâches-planifiées/annuler/annuler.command.ts
  packages/domain/lauréat/src/garantiesFinancières/tâches-planifiées/tâches-planifiées.register.ts
  packages/domain/lauréat/src/représentantLégal/saga/tâchePlanifiéeGestionAutomatiqueDemandeChangementExecutée.saga.ts
  packages/domain/tâche-planifiée/src/ajouter/ajouterTâchePlanifiée.behavior.ts
  packages/domain/tâche-planifiée/src/ajouter/ajouterTâchePlanifiée.command.ts
  packages/domain/tâche-planifiée/src/annuler/annulerTâchePlanifiée.behavior.ts
  packages/domain/tâche-planifiée/src/annuler/annulerTâchePlanifiée.command.ts
  packages/domain/tâche-planifiée/src/index.ts
  packages/domain/tâche-planifiée/src/tâchePlanifiée.aggregate.ts
  packages/domain/tâche/src/saga/tâcheGarantiesFinancières.saga.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/modifierGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.when.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/échoirGarantiesFinancièresActuelles.feature
  packages/specifications/src/tâche/tâche.world.ts
Due: eslint --fix, prettier -w

🔒️ Mises à jour de sécurité
  package-lock.json
Due: eslint --fix, prettier -w

🔒️ Mises à jour de sécurité lié à la vulnérabilité `dompurify` (#2743)
  package-lock.json
Due: eslint --fix, prettier -w

🎨 Format SQL query
  packages/applications/cli/.env.template
  packages/statistiques/statistiques-publiques/src/projet/nombreTotalProjet.statistic.ts
  packages/statistiques/statistiques-publiques/src/utilisateur/nombrePorteurInscrit.statistic.ts
Due: eslint --fix

🐛 Correction des CSP pour l'api Géo
  packages/applications/legacy/src/server.ts
Due: eslint --fix

✨ Ajout stat nombre porteur inscrit (#2745)
  packages/applications/cli/.env.template
  packages/statistiques/statistiques-publiques/src/_utils/cleanScalarStatistic.ts
  packages/statistiques/statistiques-publiques/src/index.ts
  packages/statistiques/statistiques-publiques/src/utilisateur/nombrePorteurInscrit.statistic.ts
Due: eslint --fix

✨ Ajout stat nombre parrainage
  packages/statistiques/statistiques-publiques/src/index.ts
  packages/statistiques/statistiques-publiques/src/utilisateur/nombreParrainage.statistic.ts
Due: eslint --fix

✅ Correction du test GF mainlevée flaky
  packages/applications/projectors/src/subscribers/lauréat/garantiesFinancières.projector.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/stepDefinitions/mainlevéeGarantiesFinancières.given.ts
Due: eslint --fix

✨ Ajout stat nombre parrainage (#2746)
  packages/statistiques/statistiques-publiques/src/index.ts
  packages/statistiques/statistiques-publiques/src/utilisateur/nombreParrainage.statistic.ts
Due: eslint --fix

✨ Stat % attestations téléchargées par porteur
  packages/statistiques/statistiques-publiques/src/index.ts
  packages/statistiques/statistiques-publiques/src/projet/pourcentageAttestationTéléchargée.statistic.ts
Due: eslint --fix

✅ Correction du test GF mainlevée flaky (#2747)
  packages/applications/projectors/src/subscribers/lauréat/garantiesFinancières.projector.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/stepDefinitions/mainlevéeGarantiesFinancières.given.ts
Due: eslint --fix

✨ Stat % attestations téléchargées par porteur (#2748)
  packages/statistiques/statistiques-publiques/src/index.ts
  packages/statistiques/statistiques-publiques/src/projet/pourcentageAttestationTéléchargée.statistic.ts
Due: eslint --fix

✨ Ajout stats pourcentage des GF PEE2 Validées
  packages/statistiques/statistiques-publiques/src/index.ts
  packages/statistiques/statistiques-publiques/src/projet/pourcentageDesGFPPE2Validées.statistic.ts
Due: eslint --fix

✨ Ajout stats pourcentage des GF PEE2 Validées (#2749)
  packages/statistiques/statistiques-publiques/src/index.ts
  packages/statistiques/statistiques-publiques/src/projet/pourcentageDesGFPPE2Validées.statistic.ts
Due: eslint --fix

✨ Ajout stat nombre total mise en service projet
  packages/statistiques/statistiques-publiques/src/index.ts
  packages/statistiques/statistiques-publiques/src/projet/nombreTotalMiseEnServiceProjet.statistic.ts
Due: eslint --fix

✨ Stat nb total dcr déposées
  packages/statistiques/statistiques-publiques/src/index.ts
  packages/statistiques/statistiques-publiques/src/projet/nombreTotalDemandeComplèteRaccordementDéposées.statistic.ts
Due: eslint --fix

✨ Stat nb total dcr déposées (#2751)
  packages/statistiques/statistiques-publiques/src/index.ts
  packages/statistiques/statistiques-publiques/src/projet/nombreTotalDemandeComplèteRaccordementDéposées.statistic.ts
Due: eslint --fix

✨ Stat puissance totale mise en service
  packages/statistiques/statistiques-publiques/src/index.ts
  packages/statistiques/statistiques-publiques/src/projet/puissanceTotaleMiseEnService.stastistic.ts
Due: eslint --fix

✨ Stat puissance totale mise en service (#2750)
  packages/statistiques/statistiques-publiques/src/index.ts
  packages/statistiques/statistiques-publiques/src/projet/puissanceTotaleMiseEnService.stastistic.ts
Due: eslint --fix

✨ Stat % raccordement avec PTF + DCR
  packages/statistiques/statistiques-publiques/src/index.ts
  packages/statistiques/statistiques-publiques/src/projet/pourcentageProjetAvecDCREtPTF.statistic.ts
Due: eslint --fix

🐛 Correction des CSP pour l'api Géo (#2744)
  packages/applications/legacy/src/server.ts
Due: eslint --fix

🗃️ Update DB dump suite migration nom et localité dans Lauréat
  .database/potentiel-dev.dump
Due: none

✨ Stat % raccordement avec PTF + DCR (#2752)
  packages/statistiques/statistiques-publiques/src/index.ts
  packages/statistiques/statistiques-publiques/src/projet/pourcentageProjetAvecDCREtPTF.statistic.ts
Due: eslint --fix

✨ Ajout stats pourcentage DCR et PTF
  packages/statistiques/statistiques-publiques/src/index.ts
  packages/statistiques/statistiques-publiques/src/projet/pourcentageDCRDéposées.statistic.ts
  packages/statistiques/statistiques-publiques/src/projet/pourcentagePTFDéposées.statistic.ts
Due: eslint --fix

✨ Ajout stats pourcentage DCR et PTF (#2753)
  packages/statistiques/statistiques-publiques/src/index.ts
  packages/statistiques/statistiques-publiques/src/projet/pourcentageDCRDéposées.statistic.ts
  packages/statistiques/statistiques-publiques/src/projet/pourcentagePTFDéposées.statistic.ts
Due: eslint --fix

🗃️ Update DB dump suite migration nom et localité dans Lauréat (#2754)
  .database/potentiel-dev.dump
Due: none

🗃️ Migration des abandons legacy
  packages/applications/cli/src/commands/abandon/fix-legacy.ts
Due: eslint --fix

🎨 DryRun
  packages/applications/cli/src/commands/abandon/fix-legacy.ts
Due: eslint --fix

🐛 Fix register
  packages/applications/cli/src/commands/abandon/fix-legacy.ts
Due: eslint --fix

✨ Nombre total de demandes
  packages/statistiques/statistiques-publiques/src/index.ts
  packages/statistiques/statistiques-publiques/src/projet/nombreTotalDemande.statistic.ts
Due: eslint --fix
