Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

🐛 Corriger affichage et filtre candidature (#2290)
  packages/applications/ssr/src/components/pages/candidature/lister/CandidatureListItem.tsx
  packages/domain/candidature/src/lister/listerCandidatures.query.ts
Due: eslint --fix

🚧 WIP form
  packages/applications/ssr/src/components/atoms/form/AutoFormField.stories.tsx
  packages/applications/ssr/src/components/atoms/form/AutoFormField.tsx
  packages/applications/ssr/src/components/atoms/form/InputDate.tsx
  packages/applications/ssr/src/utils/formAction.ts
Due: eslint --fix

✨ Formulaire de modification d'une candidature
  packages/applications/legacy/src/views/components/UI/organisms/UserNavigation.tsx
  packages/applications/routes/src/candidature/candidature.routes.ts
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/page.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/page.tsx
  packages/applications/ssr/src/app/candidatures/corriger/page.tsx
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
  packages/applications/ssr/src/components/molecules/candidature/NotificationBadge.tsx
  packages/applications/ssr/src/components/molecules/projet/ProjectListItemHeading.tsx
  packages/applications/ssr/src/components/molecules/projet/ProjetBanner.template.tsx
  packages/applications/ssr/src/components/molecules/projet/ProjetBanner.tsx
  packages/applications/ssr/src/components/pages/candidature/corriger-en-masse/CorrigerCandidatures.form.tsx
  packages/applications/ssr/src/components/pages/candidature/corriger-en-masse/CorrigerCandidatures.page.tsx
  packages/applications/ssr/src/components/pages/candidature/corriger-en-masse/corrigerCandidatures.action.ts
  packages/applications/ssr/src/components/pages/candidature/corriger/CorrigerCandidature.form.tsx
  packages/applications/ssr/src/components/pages/candidature/corriger/CorrigerCandidature.page.tsx
  packages/applications/ssr/src/components/pages/candidature/corriger/CorrigerCandidatures.stories.tsx
  packages/applications/ssr/src/components/pages/candidature/corriger/corrigerCandidature.action.ts
  packages/applications/ssr/src/components/pages/candidature/détails/DétailsCandidature.page.tsx
  packages/applications/ssr/src/components/pages/candidature/helpers/getLocalité.ts
  packages/applications/ssr/src/components/pages/candidature/importer/ImporterCandidatures.page.tsx
  packages/applications/ssr/src/components/pages/candidature/importer/candidature.schema.test.ts
  packages/applications/ssr/src/components/pages/candidature/importer/candidature.schema.ts
  packages/applications/ssr/src/components/pages/candidature/importer/importerCandidatures.action.ts
  packages/applications/ssr/src/components/pages/candidature/lister/CandidatureListItemActions.tsx
  packages/domain/candidature/src/statutCandidature.valueType.ts
  packages/domain/candidature/src/typeTechnologie.valueType.ts
  packages/domain/common/src/valueTypes/identifiantProjet.valueType.ts
Due: eslint --fix

🎨 Misc ui + merge fixes
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/page.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/page.tsx
  packages/applications/ssr/src/components/pages/candidature/détails/DétailsCandidature.page.tsx
Due: eslint --fix

✨ Ajout d'une commande cli pour vérifier l'existance de fichiers S3
  packages/applications/cli/src/commands/files/check.ts
  packages/applications/cli/src/commands/files/copy.ts
  packages/applications/cli/src/commands/files/rename.ts
  packages/applications/cli/src/helpers/parse-file.ts
  packages/applications/cli/src/helpers/reporter.ts
  packages/libraries/file-storage/src/fileExists.ts
  packages/libraries/file-storage/src/index.ts
Due: eslint --fix

🚑️ Permettre d'afficher la page projet même si la récupération des alertes raccordement lève une erreur
  packages/applications/legacy/src/controllers/project/getProjectPage.ts
Due: eslint --fix

✅ Mise à jour titre scénario test
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerAttestationGarantiesFinancièresActuelles.feature
Due: prettier -w

la correction impacte les données legacy
  packages/applications/document-builder/src/candidature/attestation/buildCertificate.ts
  packages/applications/legacy/src/config/eventHandlers/project.eventHandlers.ts
  packages/applications/legacy/src/infra/sequelize/queries/project/getLegacyProjetByIdentifiantProjet.ts
  packages/applications/legacy/src/modules/project/eventHandlers/handleProjectRawDataCorrected.ts
  packages/applications/legacy/src/modules/project/eventHandlers/index.ts
  packages/applications/legacy/src/modules/project/events/ProjectRawDataCorrected.ts
  packages/applications/legacy/src/modules/project/events/index.ts
  packages/applications/legacy/src/sagas/candidature.saga.ts
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/page.tsx
  packages/applications/ssr/src/components/pages/candidature/corriger/CorrigerCandidature.form.tsx
  packages/applications/ssr/src/components/pages/candidature/corriger/corrigerCandidature.action.ts
  packages/applications/ssr/src/components/pages/candidature/détails/DétailsCandidature.page.tsx
  packages/applications/ssr/src/components/pages/candidature/importer/candidature.schema.ts
  packages/applications/ssr/src/components/pages/candidature/lister/CandidatureListItemActions.tsx
Due: eslint --fix

🔥 Suppression du code legacy Recours
  packages/applications/legacy/src/__tests__/fixtures/aggregates/makeFakeProject.ts
  packages/applications/legacy/src/config/useCases.config.ts
  packages/applications/legacy/src/controllers/admin/getSignalerDemandeRecoursPage.ts
  packages/applications/legacy/src/controllers/admin/index.ts
  packages/applications/legacy/src/controllers/project/index.ts
  packages/applications/legacy/src/controllers/project/postSignalerDemandeRecours.ts
  packages/applications/legacy/src/infra/sequelize/queries/project/getProjectDataForSignalerDemandeRecoursPage.integration.ts
  packages/applications/legacy/src/infra/sequelize/queries/project/getProjectDataForSignalerDemandeRecoursPage.ts
  packages/applications/legacy/src/infra/sequelize/queries/project/index.ts
  packages/applications/legacy/src/modules/modificationRequest/useCases/acceptModificationRequest.spec.ts
  packages/applications/legacy/src/modules/modificationRequest/useCases/acceptModificationRequest.ts
  packages/applications/legacy/src/modules/project/Project.setNotificationDate.spec.ts
  packages/applications/legacy/src/modules/project/Project.signalerDemandeRecours.spec.ts
  packages/applications/legacy/src/modules/project/Project.ts
  packages/applications/legacy/src/modules/project/queries/GetProjectDataForSignalerDemandeRecoursPage.ts
  packages/applications/legacy/src/modules/project/queries/index.ts
  packages/applications/legacy/src/modules/project/useCases/index.ts
  packages/applications/legacy/src/modules/project/useCases/signalerDemandeRecours.spec.ts
  packages/applications/legacy/src/modules/project/useCases/signalerDemandeRecours.ts
  packages/applications/legacy/src/routes.ts
  packages/applications/legacy/src/server.ts
  packages/applications/legacy/src/views/index.ts
  packages/applications/legacy/src/views/pages/index.ts
  packages/applications/legacy/src/views/pages/signalerDemandeRecoursPage/SignalerDemandeRecours.tsx
  packages/applications/legacy/src/views/pages/signalerDemandeRecoursPage/index.ts
Due: eslint --fix

🔥 Suppression du code legacy Recours
  packages/applications/legacy/src/__tests__/fixtures/aggregates/makeFakeProject.ts
  packages/applications/legacy/src/config/useCases.config.ts
  packages/applications/legacy/src/controllers/admin/getSignalerDemandeRecoursPage.ts
  packages/applications/legacy/src/controllers/admin/index.ts
  packages/applications/legacy/src/controllers/project/index.ts
  packages/applications/legacy/src/controllers/project/postSignalerDemandeRecours.ts
  packages/applications/legacy/src/infra/sequelize/queries/project/getProjectDataForSignalerDemandeRecoursPage.integration.ts
  packages/applications/legacy/src/infra/sequelize/queries/project/getProjectDataForSignalerDemandeRecoursPage.ts
  packages/applications/legacy/src/infra/sequelize/queries/project/index.ts
  packages/applications/legacy/src/modules/modificationRequest/useCases/acceptModificationRequest.spec.ts
  packages/applications/legacy/src/modules/modificationRequest/useCases/acceptModificationRequest.ts
  packages/applications/legacy/src/modules/project/Project.setNotificationDate.spec.ts
  packages/applications/legacy/src/modules/project/Project.signalerDemandeRecours.spec.ts
  packages/applications/legacy/src/modules/project/Project.ts
  packages/applications/legacy/src/modules/project/queries/GetProjectDataForSignalerDemandeRecoursPage.ts
  packages/applications/legacy/src/modules/project/queries/index.ts
  packages/applications/legacy/src/modules/project/useCases/index.ts
  packages/applications/legacy/src/modules/project/useCases/signalerDemandeRecours.spec.ts
  packages/applications/legacy/src/modules/project/useCases/signalerDemandeRecours.ts
  packages/applications/legacy/src/routes.ts
  packages/applications/legacy/src/views/index.ts
  packages/applications/legacy/src/views/pages/index.ts
  packages/applications/legacy/src/views/pages/signalerDemandeRecoursPage/SignalerDemandeRecours.tsx
  packages/applications/legacy/src/views/pages/signalerDemandeRecoursPage/index.ts
Due: eslint --fix

🎨 Corriger story
  packages/applications/ssr/src/components/pages/candidature/corriger/CorrigerCandidatures.stories.tsx
Due: eslint --fix

✨ Mise à jour du Projet après correction de la candidature
  packages/applications/legacy/src/config/eventHandlers/project.eventHandlers.ts
  packages/applications/legacy/src/infra/sequelize/queries/project/getLegacyProjetByIdentifiantProjet.ts
  packages/applications/legacy/src/modules/project/eventHandlers/handleProjectRawDataCorrected.ts
  packages/applications/legacy/src/modules/project/eventHandlers/index.ts
  packages/applications/legacy/src/modules/project/events/ProjectRawDataCorrected.ts
  packages/applications/legacy/src/modules/project/events/index.ts
  packages/applications/legacy/src/sagas/candidature.saga.ts
Due: eslint --fix

🐛 Correction de l'affichage de l'adresse dans les attestations
  packages/applications/document-builder/src/candidature/attestation/buildCertificate.ts
Due: eslint --fix

✅ Update wording step
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerAttestationGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/importerTypeGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/modifierGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.then.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/modifierDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/soumettreDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/stepDefinitions/dépôtGarantiesFinancières.then.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/validerDépôtGarantiesFinancières.feature
Due: eslint --fix, prettier -w

⏪️ Rollback into two distinct steps
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerAttestationGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/importerTypeGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/modifierGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.then.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/modifierDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/soumettreDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/stepDefinitions/dépôtGarantiesFinancières.then.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/validerDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/en-attente/stepDefinitions/garantiesFinancièresEnAttente.then.ts
Due: eslint --fix, prettier -w

🐛 On ne doit pas considérer un projet "en attente de GF" si celui-ci a un type ou une attestation de GF ajouté (#2291)
  packages/applications/projectors/src/subscribers/lauréat/garantiesFinancières.projector.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerAttestationGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/importerTypeGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.then.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/soumettreDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/en-attente/stepDefinitions/garantiesFinancièresEnAttente.then.ts
Due: eslint --fix, prettier -w

📝 Ajout docs automatisation mes
  docs/contributing/diagrams/raccordement/1-persona.drawio.svg
  docs/contributing/diagrams/raccordement/2-usecases.drawio.svg
  docs/contributing/diagrams/raccordement/3-activity.drawio.svg
  docs/contributing/diagrams/raccordement/4-évolution activity.drawio.svg
  docs/contributing/diagrams/raccordement/5-évolution usecases.drawio.svg
Due: none

🐛 Correction de l'affichage de l'adresse dans les attestations (#2299)
  packages/applications/document-builder/src/candidature/attestation/buildCertificate.ts
Due: eslint --fix

♻️ Ajouter notifiéParDétails dans le usecase candidaturenotifier
  packages/applications/document-builder/src/candidature/attestation/attestation.saga.ts
  packages/applications/projectors/src/subscribers/candidature/candidature.projector.ts
  packages/applications/scheduled-tasks/src/candidature/create-events-candidature-notifiée.ts
  packages/applications/ssr/src/components/pages/période/notifier/notifierPériode.action.ts
  packages/domain/candidature/src/candidature.entity.ts
  packages/domain/candidature/src/consulter/consulterCandidature.query.ts
  packages/domain/candidature/src/notifier/notifierCandidature.behavior.ts
  packages/domain/candidature/src/notifier/notifierCandidature.command.ts
  packages/domain/candidature/src/notifier/notifierCandidature.usecase.ts
  packages/domain/lauréat/src/notifier/notifierLauréat.usecase.ts
  packages/domain/période/src/notifier/notifierPériode.command.ts
  packages/domain/période/src/notifier/notifierPériode.usecase.ts
  packages/domain/éliminé/src/notifier/notifierÉliminé.usecase.ts
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.when.ts
  packages/specifications/src/projet/éliminé/stepDefinitions/éliminé.when.ts
  packages/specifications/src/période/stepDefinitions/période.when.ts
  packages/specifications/src/utilisateur/fixtures/validateur.fixture.ts
Due: eslint --fix

🎨 Replace validateur
  packages/applications/projectors/src/subscribers/candidature/candidature.projector.ts
  packages/applications/scheduled-tasks/src/candidature/create-events-candidature-notifiée.ts
  packages/applications/ssr/src/components/pages/période/notifier/notifierPériode.action.ts
  packages/domain/candidature/src/consulter/consulterCandidature.query.ts
  packages/domain/candidature/src/notifier/notifierCandidature.behavior.ts
  packages/domain/candidature/src/notifier/notifierCandidature.command.ts
  packages/domain/candidature/src/notifier/notifierCandidature.usecase.ts
  packages/domain/lauréat/src/notifier/notifierLauréat.usecase.ts
  packages/domain/période/src/notifier/notifierPériode.command.ts
  packages/domain/période/src/notifier/notifierPériode.usecase.ts
  packages/domain/éliminé/src/notifier/notifierÉliminé.usecase.ts
  packages/specifications/src/période/stepDefinitions/période.when.ts
Due: eslint --fix

🎨 Add validateur
  packages/applications/scheduled-tasks/src/candidature/create-events-candidature-notifiée.ts
Due: eslint --fix

🎨 Review ben
  packages/applications/projectors/src/subscribers/candidature/candidature.projector.ts
  packages/applications/scheduled-tasks/src/candidature/create-events-candidature-notifiée.ts
  packages/domain/candidature/src/candidature.entity.ts
  packages/domain/candidature/src/consulter/consulterCandidature.query.ts
Due: eslint --fix

🎨 Improvements
  packages/applications/scheduled-tasks/src/candidature/create-events-candidature-notifiée.ts
  packages/domain/appel-offre/src/appelOffre.entity.ts
Due: eslint --fix

🎨 More logs
  packages/applications/scheduled-tasks/src/candidature/create-events-candidature-notifiée.ts
Due: eslint --fix

🎨 Early return when utilisateur is found
  packages/applications/scheduled-tasks/src/candidature/create-events-candidature-notifiée.ts
Due: eslint --fix

🎨 Afficher les informations d'une demande de recours en cours ou passée sur la page projet
  packages/applications/legacy/src/controllers/project/getProjectPage.ts
  packages/applications/legacy/src/modules/project/queries/GetProjectDataForProjectPage.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectActions.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectHeader.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales.tsx
Due: eslint --fix

🎨 Dernière corrections
  packages/applications/scheduled-tasks/src/candidature/create-events-candidature-notifiée.ts
Due: eslint --fix

✨ Mise à jour des logos des modèles de courriers de réponse
  packages/applications/document-builder/src/assets/docx/abandon-modèle-réponse.docx
  packages/applications/document-builder/src/assets/docx/garanties-financières-mainlevée-modèle-réponse.docx
  packages/applications/document-builder/src/assets/docx/garanties-financières-modèle-mise-en-demeure.docx
  packages/applications/document-builder/src/assets/docx/recours-modèle-réponse.docx
  packages/applications/legacy/src/views/template/Modèle mise en demeure v2.docx
  packages/applications/legacy/src/views/template/Modèle réponse Changement Actionnaire - dynamique.docx
  packages/applications/legacy/src/views/template/Modèle réponse Changement Producteur - dynamique.docx
  packages/applications/legacy/src/views/template/Modèle réponse Prolongation de délai - dynamique.docx
  packages/applications/legacy/src/views/template/Modèle réponse Puissance - dynamique.docx
  packages/applications/legacy/src/views/template/Modèle réponse Recours gracieux - dynamique.docx
Due: none

🎨 Retours review
  packages/applications/legacy/src/controllers/project/getProjectPage.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales.tsx
Due: eslint --fix

🎨 Afficher les informations d'une demande de recours en cours ou passée sur la page projet (#2302)
  packages/applications/legacy/src/controllers/project/getProjectPage.ts
  packages/applications/legacy/src/modules/project/queries/GetProjectDataForProjectPage.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectActions.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectHeader.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales.tsx
Due: eslint --fix

♻️ Ajouter validateur dans l'event NotifierCandidature (#2298)
  packages/applications/document-builder/src/candidature/attestation/attestation.saga.ts
  packages/applications/projectors/src/subscribers/candidature/candidature.projector.ts
  packages/applications/scheduled-tasks/src/candidature/create-events-candidature-notifiée.ts
  packages/applications/ssr/src/components/pages/période/notifier/notifierPériode.action.ts
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/candidature/src/candidature.entity.ts
  packages/domain/candidature/src/consulter/consulterCandidature.query.ts
  packages/domain/candidature/src/notifier/notifierCandidature.behavior.ts
  packages/domain/candidature/src/notifier/notifierCandidature.command.ts
  packages/domain/candidature/src/notifier/notifierCandidature.usecase.ts
  packages/domain/lauréat/src/notifier/notifierLauréat.usecase.ts
  packages/domain/période/src/notifier/notifierPériode.command.ts
  packages/domain/période/src/notifier/notifierPériode.usecase.ts
  packages/domain/éliminé/src/notifier/notifierÉliminé.usecase.ts
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.when.ts
  packages/specifications/src/projet/éliminé/stepDefinitions/éliminé.when.ts
  packages/specifications/src/période/stepDefinitions/période.when.ts
  packages/specifications/src/utilisateur/fixtures/validateur.fixture.ts
Due: eslint --fix

🚧 WIP attestation
  packages/applications/bootstrap/src/bootstrap.ts
  packages/applications/bootstrap/src/setupCandidature.ts
  packages/applications/bootstrap/src/setupEliminé.ts
  packages/applications/bootstrap/src/setupLauréat.ts
  packages/applications/bootstrap/src/setupPériode.ts
  packages/applications/document-builder/src/candidature/attestation/attestation.saga.ts
  packages/applications/legacy/src/infra/mail/mailjet.ts
  packages/applications/legacy/src/modules/notification/Notification.ts
  packages/applications/notifications/src/index.ts
  packages/applications/notifications/src/subscribers/candidature/candidature.notification.ts
  packages/domain/candidature/src/consulter/consulterCandidature.query.ts
  packages/domain/candidature/src/lister/listerCandidatures.query.ts
  packages/specifications/src/candidature/candidature.world.ts
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/candidature/stepDefinitions/candidature.then.ts
  packages/specifications/src/période/notifierPériode.feature
  packages/specifications/src/période/stepDefinitions/période.when.ts
  packages/specifications/src/setup.ts
Due: eslint --fix, prettier -w

🎨 Ben review
  packages/applications/document-builder/src/candidature/attestation/attestation.saga.ts
  packages/applications/notifications/src/subscribers/candidature/candidature.notification.ts
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/candidature/stepDefinitions/candidature.given.ts
  packages/specifications/src/candidature/stepDefinitions/candidature.then.ts
  packages/specifications/src/période/stepDefinitions/période.then.ts
Due: eslint --fix, prettier -w

🎨 Double fix
  packages/applications/document-builder/src/candidature/attestation/attestation.saga.ts
  packages/domain/candidature/src/attestationNonGénérée.error.ts
  packages/domain/candidature/src/candidature.aggregate.ts
  packages/domain/candidature/src/corriger/corrigerCandidature.behavior.ts
  packages/domain/candidature/src/corriger/corrigerCandidature.command.ts
  packages/domain/candidature/src/corriger/corrigerCandidature.usecase.ts
  packages/domain/candidature/src/notifier/notifierCandidature.behavior.ts
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/candidature/stepDefinitions/candidature.then.ts
  packages/specifications/src/candidature/stepDefinitions/candidature.when.ts
Due: eslint --fix, prettier -w

🐛 Correction de l'affichage des Statistiques
  packages/applications/legacy/src/views/components/UI/organisms/MetabaseStats.tsx
  packages/applications/legacy/src/views/components/UI/organisms/index.ts
  packages/applications/legacy/src/views/pages/AcheteurObligeStatistiquesPage.tsx
  packages/applications/legacy/src/views/pages/AdemeStatistiquesPage.tsx
  packages/applications/legacy/src/views/pages/AdminStatistiquesPage.tsx
  packages/applications/legacy/src/views/pages/CreStatistiquesPage.tsx
  packages/applications/legacy/src/views/pages/StatistiquesPage.tsx
Due: eslint --fix

🎨 Rectificatif suite aux data validateur
  packages/applications/document-builder/src/candidature/attestation/attestation.saga.ts
  packages/applications/document-builder/src/candidature/attestation/buildCertificate.ts
  packages/applications/projectors/src/subscribers/candidature/candidature.projector.ts
  packages/applications/scheduled-tasks/src/candidature/create-events-candidature-notifiée.ts
  packages/applications/ssr/src/app/candidatures/[identifiant]/previsualiser-attestation/route.ts
  packages/applications/ssr/src/components/pages/période/notifier/notifierPériode.action.ts
  packages/domain/candidature/src/candidature.entity.ts
  packages/domain/candidature/src/consulter/consulterCandidature.query.ts
  packages/domain/candidature/src/notifier/notifierCandidature.behavior.ts
  packages/domain/candidature/src/notifier/notifierCandidature.command.ts
  packages/domain/candidature/src/notifier/notifierCandidature.usecase.ts
  packages/domain/lauréat/src/notifier/notifierLauréat.usecase.ts
  packages/domain/période/src/notifier/notifierPériode.command.ts
  packages/domain/période/src/notifier/notifierPériode.usecase.ts
  packages/domain/éliminé/src/notifier/notifierÉliminé.usecase.ts
  packages/specifications/src/candidature/stepDefinitions/candidature.given.ts
  packages/specifications/src/période/stepDefinitions/période.when.ts
Due: eslint --fix

🐛 Correction saga
  packages/applications/legacy/src/sagas/candidature.saga.ts
Due: eslint --fix

🎨 Useless query in saga
  packages/applications/document-builder/src/candidature/attestation/attestation.saga.ts
Due: eslint --fix

🎨 FulleName to nomComplet
  packages/applications/document-builder/src/candidature/attestation/attestation.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/cre4/v0/attestation.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/cre4/v0/makeCertificate.tsx
  packages/applications/document-builder/src/candidature/attestation/cre4/v1/attestation.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/cre4/v1/makeCertificate.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/components/Signature.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v1/ppe2.elimine.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v1/ppe2.laureat.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/ppe2.elimine.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/ppe2.laureat.stories.tsx
  packages/applications/scheduled-tasks/src/candidature/create-events-candidature-notifiée.ts
  packages/applications/ssr/src/app/candidatures/[identifiant]/previsualiser-attestation/route.ts
  packages/applications/ssr/src/components/pages/période/notifier/notifierPériode.action.ts
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/candidature/src/candidature.entity.ts
  packages/domain/candidature/src/notifier/notifierCandidature.behavior.ts
  packages/domain/candidature/src/notifier/notifierCandidature.command.ts
  packages/domain/candidature/src/notifier/notifierCandidature.usecase.ts
  packages/domain/inmemory-referential/src/validateurParDéfaut/index.ts
  packages/domain/lauréat/src/notifier/notifierLauréat.usecase.ts
  packages/domain/période/src/notifier/notifierPériode.command.ts
  packages/domain/période/src/notifier/notifierPériode.usecase.ts
  packages/domain/éliminé/src/notifier/notifierÉliminé.usecase.ts
  packages/specifications/src/candidature/stepDefinitions/candidature.given.ts
  packages/specifications/src/période/stepDefinitions/période.when.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
