Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml,feature}": "prettier -w"
}

🐛 Fix bug
  packages/applications/ssr/src/components/pages/candidature/importer/importerCandidatures.action.ts
Due: eslint --fix

🐛 Fix bug statut projet lors de l'import d'un candidat (#2092)
  packages/applications/ssr/src/components/pages/candidature/importer/importerCandidatures.action.ts
Due: eslint --fix

✨ Corriger candidature - front
  packages/applications/legacy/src/views/components/UI/organisms/UserNavigation.tsx
  packages/applications/routes/src/candidature/candidature.routes.ts
  packages/applications/ssr/src/app/candidatures/corriger/page.tsx
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
  packages/applications/ssr/src/components/pages/candidature/corriger/CorrigerCandidatures.form.tsx
  packages/applications/ssr/src/components/pages/candidature/corriger/CorrigerCandidatures.page.tsx
  packages/applications/ssr/src/components/pages/candidature/corriger/corrigerCandidatures.action.ts
Due: eslint --fix

🚚 Rename
  packages/applications/ssr/src/components/pages/candidature/corriger/CorrigerCandidatures.form.tsx
  packages/applications/ssr/src/components/pages/candidature/corriger/corrigerCandidatures.action.ts
Due: eslint --fix

🧪 Ajout des tests correction candidature (not implemented)
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/candidature/importerCandidature.feature
Due: prettier -w

♻️ Refacto données test candidature
  packages/specifications/src/candidature/candidature.world.ts
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/candidature/stepDefinitions/candidature.given.ts
  packages/specifications/src/candidature/stepDefinitions/candidature.when.ts
  packages/specifications/src/candidature/stepDefinitions/helper.ts
Due: eslint --fix, prettier -w

🎨 La projection candidature retourne plus d'informations
  packages/applications/projectors/src/subscribers/candidature/candidature.projector.ts
  packages/domain/candidature/src/candidature.entity.ts
  packages/domain/candidature/src/consulter/consulterCandidature.query.ts
Due: eslint --fix

✅ Corriger une candidature cas nominal
  packages/applications/bootstrap/src/setupCandidature.ts
  packages/applications/projectors/src/subscribers/candidature/candidature.projector.ts
  packages/applications/ssr/src/components/pages/candidature/corriger/corrigerCandidatures.action.ts
  packages/domain/candidature/src/candidature.aggregate.ts
  packages/domain/candidature/src/candidature.ts
  packages/domain/candidature/src/corriger/corrigerCandidature.behavior.ts
  packages/domain/candidature/src/corriger/corrigerCandidature.command.ts
  packages/domain/candidature/src/corriger/corrigerCandidature.usecase.ts
  packages/domain/candidature/src/register.ts
  packages/domain/candidature/src/technologie.valueType.ts
  packages/domain/common/src/valueTypes/statutProjet.valueType.ts
  packages/specifications/src/candidature/candidature.world.ts
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/candidature/stepDefinitions/candidature.then.ts
  packages/specifications/src/candidature/stepDefinitions/candidature.when.ts
Due: eslint --fix, prettier -w

🚧 Impossible de corriger une candidature inconnue
  packages/domain/candidature/src/candidature.aggregate.ts
  packages/domain/candidature/src/corriger/corrigerCandidature.command.ts
  packages/domain/candidature/src/corriger/corrigerCandidature.usecase.ts
  packages/domain/candidature/src/importer/importerCandidature.command.ts
  packages/specifications/src/candidature/candidature.world.ts
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/candidature/stepDefinitions/candidature.when.ts
Due: eslint --fix, prettier -w

✅ Fix test candidature inconnue
  packages/domain/candidature/src/corriger/corrigerCandidature.command.ts
  packages/domain/candidature/src/importer/importerCandidature.behavior.ts
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/candidature/stepDefinitions/candidature.when.ts
Due: eslint --fix, prettier -w

✅ Impossible de modifier les données qui composent l'identifiant projet
  packages/domain/candidature/src/corriger/corrigerCandidature.behavior.ts
  packages/domain/candidature/src/corriger/corrigerCandidature.command.ts
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/candidature/importerCandidature.feature
  packages/specifications/src/candidature/stepDefinitions/candidature.when.ts
Due: eslint --fix, prettier -w

✅ Impossible de corriger une candidature sans GF, pour un AO soumis aux GF
  packages/domain/candidature/src/corriger/corrigerCandidature.behavior.ts
  packages/domain/candidature/src/corriger/corrigerCandidature.command.ts
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/candidature/stepDefinitions/candidature.given.ts
Due: eslint --fix, prettier -w

✅ Retirer test inutile
  packages/specifications/src/candidature/corrigerCandidature.feature
Due: prettier -w

🚸 Ajout des roles sur correction de candidatures + amélioration UI ne pas pouvoir réiomporter / recorriger une fois le formulaire envoyé
  packages/applications/ssr/src/components/pages/candidature/corriger/CorrigerCandidatures.form.tsx
  packages/applications/ssr/src/components/pages/candidature/corriger/corrigerCandidatures.action.ts
  packages/applications/ssr/src/components/pages/candidature/importer/ImporterCandidatures.form.tsx
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

✨ Saga avec CandidatureCorrigée
  packages/applications/legacy/src/sagas/candidature.saga.ts
Due: eslint --fix

✏️ Fix saga subscribe
  packages/applications/legacy/src/sagas/candidature.saga.ts
  packages/applications/legacy/src/sagas/registerSagas.ts
Due: eslint --fix

🐛 Fix legacy menu lien vers page corriger
  packages/applications/legacy/src/views/components/UI/organisms/UserNavigation.tsx
Due: eslint --fix

✨ Empêcher de corriger sans modification
  packages/applications/legacy/src/sagas/candidature.saga.ts
  packages/domain/candidature/src/candidature.aggregate.ts
  packages/domain/candidature/src/candidature.entity.ts
  packages/domain/candidature/src/candidatureNonModifiée.error.ts
  packages/domain/candidature/src/consulter/consulterCandidature.query.ts
  packages/domain/candidature/src/corriger/corrigerCandidature.behavior.ts
  packages/domain/candidature/src/importer/importerCandidature.behavior.ts
  packages/specifications/src/candidature/corrigerCandidature.feature
Due: eslint --fix, prettier -w

♻️ Partage des types pour corriger / importer behavior
  packages/domain/candidature/src/corriger/corrigerCandidature.behavior.ts
  packages/domain/candidature/src/importer/importerCandidature.behavior.ts
Due: eslint --fix

♻️ Partage type command + renommage behavior types pour etre plus explicite
  packages/domain/candidature/src/corriger/corrigerCandidature.behavior.ts
  packages/domain/candidature/src/corriger/corrigerCandidature.command.ts
  packages/domain/candidature/src/importer/importerCandidature.behavior.ts
  packages/domain/candidature/src/importer/importerCandidature.command.ts
Due: eslint --fix

♻️ Partage type + méthode pour mapper data des usecases
  packages/domain/candidature/src/corriger/corrigerCandidature.usecase.ts
  packages/domain/candidature/src/importer/importerCandidature.usecase.ts
Due: eslint --fix

♻️ Refactor calcul et comparaison du hash
  packages/domain/candidature/src/candidature.aggregate.ts
  packages/domain/candidature/src/corriger/corrigerCandidature.behavior.ts
Due: eslint --fix

fixup! ♻️ Refactor calcul et comparaison du hash
  packages/domain/candidature/src/candidature.aggregate.ts
  packages/domain/candidature/src/importer/importerCandidature.behavior.ts
Due: eslint --fix

♻️ Méthode mapToPayloadEvent pour corriger / importer behavior
  packages/domain/candidature/src/corriger/corrigerCandidature.behavior.ts
  packages/domain/candidature/src/importer/importerCandidature.behavior.ts
Due: eslint --fix

✅ Date GF requise si avec-date-echeance
  packages/domain/candidature/src/candidature.aggregate.ts
  packages/domain/candidature/src/corriger/corrigerCandidature.behavior.ts
  packages/domain/candidature/src/garantiesFinancièresRequises.error.ts
  packages/domain/candidature/src/importer/importerCandidature.behavior.ts
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/candidature/importerCandidature.feature
Due: eslint --fix, prettier -w

♻️ factoriser famille/période
  packages/domain/candidature/src/candidature.aggregate.ts
  packages/domain/candidature/src/corriger/corrigerCandidature.behavior.ts
  packages/domain/candidature/src/importer/importerCandidature.behavior.ts
Due: eslint --fix

🐛 Fix form errors when submitting
  packages/applications/ssr/src/components/atoms/form/FormFeedbackCsvErrors.tsx
  packages/applications/ssr/src/components/pages/candidature/corriger/CorrigerCandidatures.form.tsx
Due: eslint --fix

🐛 Fix btn submit for importer
  packages/applications/ssr/src/components/pages/candidature/importer/ImporterCandidatures.form.tsx
Due: eslint --fix

🎨 FormFeedback improvment pending returns undefinec
  packages/applications/ssr/src/components/atoms/form/FormFeedback.tsx
Due: eslint --fix

♻️ Misc refacto & test fix
  packages/applications/projectors/src/subscribers/candidature/candidature.projector.ts
  packages/domain/candidature/src/consulter/consulterCandidature.query.ts
  packages/domain/candidature/src/corriger/corrigerCandidature.behavior.ts
  packages/domain/candidature/src/importer/importerCandidature.behavior.ts
  packages/domain/candidature/src/index.ts
  packages/domain/candidature/src/technologie.valueType.ts
  packages/domain/common/src/valueTypes/statutProjet.valueType.ts
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/candidature/stepDefinitions/candidature.given.ts
  packages/specifications/src/candidature/stepDefinitions/candidature.then.ts
  packages/specifications/src/candidature/stepDefinitions/helper.ts
Due: eslint --fix, prettier -w

♻️ Refacto steps tests
  packages/specifications/src/candidature/importerCandidature.feature
  packages/specifications/src/candidature/stepDefinitions/candidature.then.ts
Due: eslint --fix, prettier -w

Heading carte projet
  packages/applications/ssr/src/app/abandons/page.tsx
  packages/applications/ssr/src/app/garanties-financieres/depots-en-cours/page.tsx
  packages/applications/ssr/src/app/garanties-financieres/projets-en-attente/page.tsx
  packages/applications/ssr/src/components/molecules/ProjectListItemHeading.stories.tsx
  packages/applications/ssr/src/components/molecules/ProjectListItemHeading.tsx
  packages/applications/ssr/src/components/pages/abandon/lister/AbandonList.stories.tsx
  packages/applications/ssr/src/components/pages/abandon/lister/AbandonListItem.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/dépôt/lister/ListItemDépôtEnCoursGarantiesFinancières.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/dépôt/lister/ListerDépôtsEnCoursGarantiesFinancières.stories.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/en-attente/lister/ListItemProjetAvecGarantiesFinancièresEnAttente.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/en-attente/lister/ListerProjetsAvecGarantiesFinancièresEnAttente.stories.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/mainlevée/lister/ListItemDemandeMainlevée.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/mainlevée/lister/ListeDemandeMainlevée.stories.tsx
  packages/applications/ssr/src/components/pages/tâche/TâcheList.stories.tsx
  packages/applications/ssr/src/components/pages/tâche/TâcheListItem.tsx
  packages/domain/lauréat/src/abandon/lister/listerAbandons.query.ts
  packages/domain/lauréat/src/garantiesFinancières/dépôtEnCours/lister/listerDépôtsEnCoursGarantiesFinancières.query.ts
  packages/domain/lauréat/src/garantiesFinancières/projetEnAttenteDeGarantiesFinancières/lister/listerProjetsAvecGarantiesFinancièresEnAttente.query.ts
  packages/domain/tâche/src/lister/listerTâches.query.ts
Due: eslint --fix

💄 MisÀJourLe
  packages/applications/ssr/src/components/molecules/ProjectListItemHeading.stories.tsx
Due: eslint --fix

🎨 Déplacer composant dans Projet
  packages/applications/ssr/.storybook/preview.tsx
  packages/applications/ssr/src/app/garanties-financieres/demandes-mainlevee-en-cours/page.tsx
  packages/applications/ssr/src/components/molecules/projet/ProjectListItemHeading.stories.tsx
  packages/applications/ssr/src/components/molecules/projet/ProjectListItemHeading.tsx
  packages/applications/ssr/src/components/pages/abandon/lister/AbandonListItem.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/dépôt/lister/ListItemDépôtEnCoursGarantiesFinancières.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/en-attente/lister/ListItemProjetAvecGarantiesFinancièresEnAttente.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/mainlevée/lister/ListItemDemandeMainlevée.tsx
  packages/applications/ssr/src/components/pages/tâche/TâcheListItem.tsx
Due: eslint --fix

🔥 Retirer l'adapter documents
  packages/applications/bootstrap/package.json
  packages/applications/bootstrap/src/setupDocumentProjet.ts
  packages/infrastructure/domain-adapters/package.json
  packages/infrastructure/domain-adapters/src/document/document.adapter.ts
  packages/infrastructure/domain-adapters/src/index.ts
Due: eslint --fix, prettier -w

🎨 Retirer labels pour raccourcir
  packages/applications/ssr/src/components/molecules/projet/ProjectListItemHeading.tsx
Due: eslint --fix

♻️ Heading carte projet (#2094)
  packages/applications/ssr/.storybook/preview.tsx
  packages/applications/ssr/src/app/abandons/page.tsx
  packages/applications/ssr/src/app/garanties-financieres/demandes-mainlevee-en-cours/page.tsx
  packages/applications/ssr/src/app/garanties-financieres/depots-en-cours/page.tsx
  packages/applications/ssr/src/app/garanties-financieres/projets-en-attente/page.tsx
  packages/applications/ssr/src/components/molecules/projet/ProjectListItemHeading.stories.tsx
  packages/applications/ssr/src/components/molecules/projet/ProjectListItemHeading.tsx
  packages/applications/ssr/src/components/pages/abandon/lister/AbandonList.stories.tsx
  packages/applications/ssr/src/components/pages/abandon/lister/AbandonListItem.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/dépôt/lister/ListItemDépôtEnCoursGarantiesFinancières.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/dépôt/lister/ListerDépôtsEnCoursGarantiesFinancières.stories.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/en-attente/lister/ListItemProjetAvecGarantiesFinancièresEnAttente.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/en-attente/lister/ListerProjetsAvecGarantiesFinancièresEnAttente.stories.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/mainlevée/lister/ListItemDemandeMainlevée.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/mainlevée/lister/ListeDemandeMainlevée.stories.tsx
  packages/applications/ssr/src/components/pages/tâche/TâcheList.stories.tsx
  packages/applications/ssr/src/components/pages/tâche/TâcheListItem.tsx
  packages/domain/lauréat/src/abandon/lister/listerAbandons.query.ts
  packages/domain/lauréat/src/garantiesFinancières/dépôtEnCours/lister/listerDépôtsEnCoursGarantiesFinancières.query.ts
  packages/domain/lauréat/src/garantiesFinancières/projetEnAttenteDeGarantiesFinancières/lister/listerProjetsAvecGarantiesFinancièresEnAttente.query.ts
  packages/domain/tâche/src/lister/listerTâches.query.ts
Due: eslint --fix

✨ Corriger candidature (#2090)
  packages/applications/bootstrap/src/setupCandidature.ts
  packages/applications/legacy/src/sagas/candidature.saga.ts
  packages/applications/legacy/src/sagas/registerSagas.ts
  packages/applications/legacy/src/views/components/UI/organisms/UserNavigation.tsx
  packages/applications/projectors/src/subscribers/candidature/candidature.projector.ts
  packages/applications/routes/src/candidature/candidature.routes.ts
  packages/applications/ssr/src/app/candidatures/corriger/page.tsx
  packages/applications/ssr/src/components/atoms/form/FormFeedback.tsx
  packages/applications/ssr/src/components/atoms/form/FormFeedbackCsvErrors.tsx
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
  packages/applications/ssr/src/components/pages/candidature/corriger/CorrigerCandidatures.form.tsx
  packages/applications/ssr/src/components/pages/candidature/corriger/CorrigerCandidatures.page.tsx
  packages/applications/ssr/src/components/pages/candidature/corriger/corrigerCandidatures.action.ts
  packages/domain/candidature/src/candidature.aggregate.ts
  packages/domain/candidature/src/candidature.entity.ts
  packages/domain/candidature/src/candidature.ts
  packages/domain/candidature/src/candidatureNonModifiée.error.ts
  packages/domain/candidature/src/consulter/consulterCandidature.query.ts
  packages/domain/candidature/src/corriger/corrigerCandidature.behavior.ts
  packages/domain/candidature/src/corriger/corrigerCandidature.command.ts
  packages/domain/candidature/src/corriger/corrigerCandidature.usecase.ts
  packages/domain/candidature/src/garantiesFinancièresRequises.error.ts
  packages/domain/candidature/src/importer/importerCandidature.behavior.ts
  packages/domain/candidature/src/importer/importerCandidature.command.ts
  packages/domain/candidature/src/importer/importerCandidature.usecase.ts
  packages/domain/candidature/src/index.ts
  packages/domain/candidature/src/register.ts
  packages/domain/candidature/src/technologie.valueType.ts
  packages/domain/common/src/valueTypes/statutProjet.valueType.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/candidature/candidature.world.ts
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/candidature/importerCandidature.feature
  packages/specifications/src/candidature/stepDefinitions/candidature.given.ts
  packages/specifications/src/candidature/stepDefinitions/candidature.then.ts
  packages/specifications/src/candidature/stepDefinitions/candidature.when.ts
  packages/specifications/src/candidature/stepDefinitions/helper.ts
Due: eslint --fix, prettier -w

♻️ Ajout d'un composant générique ListItem
  packages/applications/ssr/src/components/molecules/ListItem.stories.tsx
  packages/applications/ssr/src/components/molecules/ListItem.tsx
  packages/applications/ssr/src/components/pages/abandon/lister/AbandonListItem.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/dépôt/lister/ListItemDépôtEnCoursGarantiesFinancières.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/en-attente/lister/ListItemProjetAvecGarantiesFinancièresEnAttente.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/mainlevée/lister/ListItemDemandeMainlevée.tsx
  packages/applications/ssr/src/components/pages/tâche/TâcheListItem.tsx
Due: eslint --fix

🎨 Liste gestionnaire réseaux
  packages/applications/ssr/src/components/molecules/réseau/gestionnaireRéseau/GestionnaireRéseauListItem.tsx
Due: eslint --fix
