Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

🔥 Suppression de la query consulterNombreTâches (inutile car l'information se trouve dans le total de ListerTâches)
  packages/applications/ssr/src/app/api/v1/taches/route.ts
  packages/applications/ssr/src/components/organisms/header/UserHeaderQuickAccessItem.tsx
  packages/domain/projet/src/lauréat/tâche/consulter/consulterNombreTâche.query.ts
  packages/domain/projet/src/lauréat/tâche/index.ts
  packages/domain/projet/src/lauréat/tâche/register.ts
Due: eslint --fix

✨ Limiter les fonctionalités pour un projet exempt de GF (#3444)
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.error.ts
  packages/specifications/src/helpers/convertFixtureFileToReadable.ts
  packages/specifications/src/helpers/expectFileContent.ts
  packages/specifications/src/helpers/getFakeContent.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/fixtures/enregistrerGarantiesFinancières.fixture.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/garantiesFinancièresActuelles.world.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/modifierGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.given.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.then.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/échoirGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/dépôtGarantiesFinancières.world.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/fixtures/soumettre.fixture.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/soumettreDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/stepDefinitions/dépôtGarantiesFinancières.then.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/stepDefinitions/dépôtGarantiesFinancières.when.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/garantiesFinancières.world.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/accorderDemandeMainlevéeGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/annulerDemandeMainlevéeGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/demanderMainlevéeGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/démarrerInstructionDemandeMainlevéeGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/fixtures/accorderMainlevée.fixture.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/fixtures/demanderMainlevée.fixture.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/fixtures/passerMainlevéeEnInstruction.fixture.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/fixtures/rejeterMainlevée.fixture.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/mainlevéeGarantiesFinancières.world.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/rejeterDemandeMainlevéeGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/stepDefinitions/helper.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/stepDefinitions/mainlevéeGarantiesFinancières.given.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/stepDefinitions/mainlevéeGarantiesFinancières.then.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/stepDefinitions/mainlevéeGarantiesFinancières.when.ts
  packages/specifications/src/setup.ts
Due: eslint --fix, prettier -w

🚧 WIP modifier installateur ETQ admin domain
  packages/applications/projectors/src/subscribers/lauréat/installateur/index.ts
  packages/applications/projectors/src/subscribers/lauréat/installateur/installateurModifié.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/installateur/installateurRebuildTrigerred.projector.ts
  packages/domain/projet/src/lauréat/installateur/index.ts
  packages/domain/projet/src/lauréat/installateur/installateur.aggregate.ts
  packages/domain/projet/src/lauréat/installateur/installateur.error.ts
  packages/domain/projet/src/lauréat/installateur/installateur.event.ts
  packages/domain/projet/src/lauréat/installateur/modifier/modifierInstallateur.command.ts
  packages/domain/projet/src/lauréat/installateur/modifier/modifierInstallateur.event.ts
  packages/domain/projet/src/lauréat/installateur/modifier/modifierInstallateur.option.ts
  packages/domain/projet/src/lauréat/installateur/modifier/modifierInstallateur.usecase.ts
Due: eslint --fix

🎨 Modification et tags specs
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/ModifierLauréat.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/_helpers/getInputTypeNativeProps.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/components/fields/ProjectField.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/modifierLauréat.action.ts
  packages/applications/ssr/src/utils/candidature/candidatureNotifiée.schema.ts
  packages/specifications/src/gestionnaireRéseau/ajouterGestionnaireRéseau.feature
  packages/specifications/src/gestionnaireRéseau/modifierGestionnaireRéseau.feature
  packages/specifications/src/gestionnaireRéseau/validerRéférenceDossierRaccordement.feature
  packages/specifications/src/projet/lauréat/achèvement/calculerDateAchèvementPrévisionnel.feature
  packages/specifications/src/projet/lauréat/achèvement/modifierAttestationConformité.feature
  packages/specifications/src/projet/lauréat/achèvement/transmettreAttestationConformité.feature
  packages/specifications/src/projet/lauréat/choisirCahierDesCharges.feature
  packages/specifications/src/projet/lauréat/installateur/modifierInstallateur.feature
  packages/specifications/src/projet/lauréat/producteur/enregistrerChangementProducteur.feature
  packages/specifications/src/projet/lauréat/puissance/modifierPuissance.feature
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
  packages/specifications/src/projet/éliminé/recours/annulerRecours.feature
  packages/specifications/src/projet/éliminé/recours/demanderRecours.feature
  packages/specifications/src/projet/éliminé/recours/passerRecoursEnInstruction.feature
  packages/specifications/src/projet/éliminé/recours/rejeterRecours.feature
  packages/specifications/src/période/notifierPériode.feature
  packages/specifications/src/tâche-planifiée/exécuterTâchePlanifiée.feature
  packages/specifications/src/tâche/acheverTâche.feature
  packages/specifications/src/tâche/ajouterTâche.feature
  packages/specifications/src/utilisateur/désactiverUtilisateur.feature
  packages/specifications/src/utilisateur/inviterPorteur.feature
  packages/specifications/src/utilisateur/inviterUtilisateur.feature
  packages/specifications/src/utilisateur/retirerAccèsProjet.feature
  packages/specifications/src/utilisateur/réactiverUtilisateur.feature
  packages/specifications/src/utilisateur/réclamerProjet.feature
Due: eslint --fix, prettier -w

🧪 WIP modifier installateur avec tests
  packages/applications/bootstrap/src/setupProjet/setupLauréat/setupInstallateur.ts
  packages/domain/projet/src/lauréat/installateur/index.ts
  packages/domain/projet/src/lauréat/installateur/installateur.register.ts
  packages/specifications/src/projet/lauréat/installateur/fixture/modifierInstallateur.fixture.ts
  packages/specifications/src/projet/lauréat/installateur/installateur.world.ts
  packages/specifications/src/projet/lauréat/installateur/modifierInstallateur.feature
  packages/specifications/src/projet/lauréat/installateur/stepDefinitions/installateur.when.ts
  packages/specifications/src/projet/lauréat/lauréat.world.ts
Due: eslint --fix, prettier -w

✅ Ajout de cas de tests
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/ModifierLauréat.form.tsx
  packages/applications/ssr/src/utils/candidature/csv/candidature.schema.test.ts
  packages/applications/ssr/src/utils/candidature/csv/fournisseurCsv.test.ts
Due: eslint --fix

🎨 New types
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/ModifierLauréat.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/components/fields/ProjectField.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/getLauréat.ts
  packages/applications/ssr/src/utils/candidature/candidatureNotifiée.schema.ts
Due: eslint --fix

🎨 Almost done
  packages/applications/bootstrap/src/setupProjet/setupLauréat/setupInstallateur.ts
  packages/applications/notifications/src/index.ts
  packages/applications/notifications/src/subscribers/lauréat/installateur/constant.ts
  packages/applications/notifications/src/subscribers/lauréat/installateur/index.ts
  packages/applications/notifications/src/subscribers/lauréat/installateur/installateurModifié.notification.ts
  packages/domain/projet/src/lauréat/installateur/index.ts
  packages/domain/projet/src/lauréat/lauréat.register.ts
  packages/specifications/src/projet/lauréat/installateur/installateur.world.ts
  packages/specifications/src/projet/lauréat/installateur/modifierInstallateur.feature
  packages/specifications/src/projet/lauréat/installateur/stepDefinitions/installateur.when.ts
Due: eslint --fix, prettier -w

✅ Test with email ok
  packages/applications/bootstrap/src/setupProjet/setupLauréat/setupInstallateur.ts
  packages/specifications/src/projet/lauréat/installateur/modifierInstallateur.feature
Due: eslint --fix, prettier -w

🎨 Finish page projet
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getInstallateur.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/index.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectActions.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales/InfoInstallateur.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales/index.tsx
  packages/applications/routes/src/index.ts
  packages/applications/routes/src/lauréat/index.ts
  packages/applications/routes/src/lauréat/installateur.routes.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🎨 Review
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getInstallateur.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/installateur/modifier/modifierInstallateur.action.ts
  packages/applications/ssr/src/utils/candidature/csv/candidature.schema.test.ts
  packages/domain/projet/src/lauréat/installateur/installateur.aggregate.ts
  packages/domain/projet/src/lauréat/installateur/modifier/modifierInstallateur.option.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
  packages/domain/projet/src/lauréat/producteur/modifier/modifierProducteur.option.ts
  packages/domain/projet/src/lauréat/producteur/producteur.aggregate.ts
  packages/specifications/src/projet/lauréat/installateur/modifierInstallateur.feature
  packages/specifications/src/projet/lauréat/installateur/stepDefinitions/installateur.when.ts
Due: eslint --fix, prettier -w

🎨 Ajout du formulaire
  packages/applications/ssr/src/app/laureats/[identifiant]/installateur/modifier/ModifierInstallateur.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installateur/modifier/ModifierInstallateur.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installateur/modifier/modifierInstallateur.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/installateur/modifier/page.tsx
Due: eslint --fix

🎨 Review hanae
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectActions.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectHeader.tsx
Due: eslint --fix

🎨 Affichage
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/page.tsx
  packages/applications/ssr/src/utils/candidature/csv/candidature.schema.test.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
Due: eslint --fix

🎨 Non renseigné
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales/InfoInstallateur.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/DétailsCandidature.page.tsx
Due: eslint --fix

🎨 Oubli tests
  packages/domain/projet/src/cahierDesCharges.valueType.ts
  packages/domain/projet/src/candidature/candidature.aggregate.ts
  packages/domain/projet/src/candidature/candidature.error.ts
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/candidature/importerCandidature.feature
Due: eslint --fix, prettier -w

🐛 Fix des droits sur les usecase / command mainlevée
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🐛 Fix des droits sur les usecase / command mainlevée (#3447)
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🎨 Remove console
  packages/domain/projet/src/cahierDesCharges.valueType.ts
Due: eslint --fix

✅ Test
  packages/specifications/src/candidature/importerCandidature.feature
Due: prettier -w

✅ Importer dans le dépôt
  packages/applications/ssr/src/app/candidatures/importer/ds/importerPériode.action.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.test.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsvFields.schema.ts
  packages/domain/projet/src/candidature/dépôt.valueType.ts
  packages/specifications/src/candidature/candidature.exempleMap.ts
  packages/specifications/src/candidature/fixtures/importerCandidature.fixture.ts
  packages/specifications/src/candidature/importerCandidature.feature
Due: eslint --fix, prettier -w

🚧 WIP - corriger / modifier par admin
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/corrigerCandidature.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/modifierLauréat.action.ts
Due: eslint --fix

🚧 Query consulter
  packages/domain/projet/src/lauréat/installationAvecDispositifDeStockage/consulter/consulterInstallationAvecDispositifDeStockage.query.ts
  packages/domain/projet/src/lauréat/installationAvecDispositifDeStockage/index.ts
  packages/domain/projet/src/lauréat/installationAvecDispositifDeStockage/installationAvecDispositifDeStockage.entity.ts
  packages/domain/projet/src/lauréat/installationAvecDispositifDeStockage/installationAvecDispositifDeStockage.register.ts
  packages/domain/projet/src/lauréat/lauréat.register.ts
Due: eslint --fix

🚧 Importer à la notification du lauréat
  packages/domain/projet/src/lauréat/installationAvecDispositifDeStockage/importer/importerInstallationAvecDispositifDeStockage.event.ts
  packages/domain/projet/src/lauréat/installationAvecDispositifDeStockage/importer/importerInstallationAvecDispositifDeStockage.option.ts
  packages/domain/projet/src/lauréat/installationAvecDispositifDeStockage/index.ts
  packages/domain/projet/src/lauréat/installationAvecDispositifDeStockage/installationAvecDispositifDeStockage.aggregate.ts
  packages/domain/projet/src/lauréat/installationAvecDispositifDeStockage/installationAvecDispositifDeStockage.error.ts
  packages/domain/projet/src/lauréat/installationAvecDispositifDeStockage/installationAvecDispositifDeStockage.event.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
Due: eslint --fix

🚧 Projection
  packages/applications/bootstrap/src/setupProjet/setupLauréat/index.ts
  packages/applications/bootstrap/src/setupProjet/setupLauréat/setupInstallationAvecDispositifDeStockage.ts
  packages/applications/projectors/src/index.ts
  packages/applications/projectors/src/subscribers/lauréat/installationAvecDispositifDeStockage/index.ts
  packages/applications/projectors/src/subscribers/lauréat/installationAvecDispositifDeStockage/installationAvecDispositifDeStockageImporté.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/installationAvecDispositifDeStockage/installationAvecDispositifDeStockageRebuildTrigerred.projector.ts
  packages/domain/projet/src/lauréat/index.ts
Due: eslint --fix

✅ Import à la notification
  packages/specifications/src/candidature/notifierCandidature.feature
  packages/specifications/src/projet/lauréat/installationAvecDispositifDeStockage/stepDefinitions/installationAvecDispositifDeStockage.then.ts
  packages/specifications/src/projet/lauréat/installationAvecDispositifDeStockage/stepDefinitions/installationAvecDispositifDeStockage.world.ts
  packages/specifications/src/projet/lauréat/lauréat.world.ts
Due: eslint --fix, prettier -w

✅ Champ requis pour petit pv
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/petitPVBâtiment.ppe2.ts
  packages/domain/projet/src/candidature/candidature.aggregate.ts
  packages/domain/projet/src/candidature/candidature.error.ts
  packages/specifications/src/candidature/importerCandidature.feature
Due: eslint --fix, prettier -w

✨ Import avec DS
  packages/infrastructure/ds-api-client/src/dépôt.ts
Due: eslint --fix

✅ Corriger candidature
  packages/specifications/src/candidature/corrigerCandidature.feature
Due: prettier -w

🧪 Modification
  packages/specifications/src/projet/lauréat/installationAvecDispositifDeStockage/fixture/modifierInstallationAvecDispositifDeStockage.fixture.ts
  packages/specifications/src/projet/lauréat/installationAvecDispositifDeStockage/modifierInstallationAvecDispositifDeStockage.feature
  packages/specifications/src/projet/lauréat/installationAvecDispositifDeStockage/stepDefinitions/installationAvecDispositifDeStockage.when.ts
  packages/specifications/src/projet/lauréat/installationAvecDispositifDeStockage/stepDefinitions/installationAvecDispositifDeStockage.world.ts
Due: eslint --fix, prettier -w

✅ Modification (admin)
  packages/applications/bootstrap/src/setupProjet/setupLauréat/setupInstallationAvecDispositifDeStockage.ts
  packages/applications/projectors/src/subscribers/lauréat/installationAvecDispositifDeStockage/index.ts
  packages/applications/projectors/src/subscribers/lauréat/installationAvecDispositifDeStockage/installationAvecDispositifDeStockageModifié.projector.ts
  packages/domain/projet/src/lauréat/installationAvecDispositifDeStockage/index.ts
  packages/domain/projet/src/lauréat/installationAvecDispositifDeStockage/installationAvecDispositifDeStockage.aggregate.ts
  packages/domain/projet/src/lauréat/installationAvecDispositifDeStockage/installationAvecDispositifDeStockage.event.ts
  packages/domain/projet/src/lauréat/installationAvecDispositifDeStockage/installationAvecDispositifDeStockage.register.ts
  packages/domain/projet/src/lauréat/installationAvecDispositifDeStockage/modifier/modifierInstallationAvecDispositifDeStockage.command.ts
  packages/domain/projet/src/lauréat/installationAvecDispositifDeStockage/modifier/modifierInstallationAvecDispositifDeStockage.event.ts
  packages/domain/projet/src/lauréat/installationAvecDispositifDeStockage/modifier/modifierInstallationAvecDispositifDeStockage.options.ts
  packages/domain/projet/src/lauréat/installationAvecDispositifDeStockage/modifier/modifierInstallationAvecDispositifDeStockage.usecase.ts
  packages/domain/projet/src/lauréat/lauréat.register.ts
  packages/specifications/src/projet/lauréat/installationAvecDispositifDeStockage/fixture/modifierInstallationAvecDispositifDeStockage.fixture.ts
  packages/specifications/src/projet/lauréat/installationAvecDispositifDeStockage/stepDefinitions/installationAvecDispositifDeStockage.when.ts
Due: eslint --fix

🎨 Détails
  packages/domain/projet/src/lauréat/installationAvecDispositifDeStockage/installationAvecDispositifDeStockage.aggregate.ts
  packages/domain/projet/src/lauréat/installationAvecDispositifDeStockage/installationAvecDispositifDeStockage.error.ts
  packages/specifications/src/candidature/notifierCandidature.feature
  packages/specifications/src/projet/lauréat/installationAvecDispositifDeStockage/modifierInstallationAvecDispositifDeStockage.feature
  packages/specifications/src/projet/lauréat/installationAvecDispositifDeStockage/stepDefinitions/installationAvecDispositifDeStockage.then.ts
Due: eslint --fix, prettier -w

✅ Fix tests
  packages/specifications/src/candidature/fixtures/importerCandidature.fixture.ts
  packages/specifications/src/candidature/importerCandidature.feature
  packages/specifications/src/projet/lauréat/installationAvecDispositifDeStockage/fixture/modifierInstallationAvecDispositifDeStockage.fixture.ts
Due: eslint --fix, prettier -w

✅ Modif ko si valeur identique
  packages/domain/projet/src/lauréat/installationAvecDispositifDeStockage/installationAvecDispositifDeStockage.aggregate.ts
  packages/domain/projet/src/lauréat/installationAvecDispositifDeStockage/installationAvecDispositifDeStockage.error.ts
  packages/specifications/src/projet/lauréat/installationAvecDispositifDeStockage/modifierInstallationAvecDispositifDeStockage.feature
Due: eslint --fix, prettier -w

🚧 WIP - envoyer notifs
  packages/applications/bootstrap/src/setupProjet/setupLauréat/setupInstallationAvecDispositifDeStockage.ts
  packages/applications/notifications/src/index.ts
  packages/applications/notifications/src/subscribers/lauréat/installationAvecDispositifDeStockage/constant.ts
  packages/applications/notifications/src/subscribers/lauréat/installationAvecDispositifDeStockage/index.ts
  packages/applications/notifications/src/subscribers/lauréat/installationAvecDispositifDeStockage/installationAvecDispositifDeStockageModifié.notifications.ts
  packages/specifications/src/projet/lauréat/installationAvecDispositifDeStockage/modifierInstallationAvecDispositifDeStockage.feature
Due: eslint --fix, prettier -w

🎨 Ajout email template id
  packages/applications/notifications/src/subscribers/lauréat/installationAvecDispositifDeStockage/constant.ts
Due: eslint --fix

🎨 Review divers retours
  packages/applications/notifications/src/subscribers/lauréat/installationAvecDispositifDeStockage/installationAvecDispositifDeStockageModifié.notifications.ts
  packages/applications/projectors/src/subscribers/lauréat/installationAvecDispositifDeStockage/installationAvecDispositifDeStockageImporté.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/installationAvecDispositifDeStockage/installationAvecDispositifDeStockageModifié.projector.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.ts
  packages/domain/projet/src/lauréat/installationAvecDispositifDeStockage/importer/importerInstallationAvecDispositifDeStockage.event.ts
  packages/domain/projet/src/lauréat/installationAvecDispositifDeStockage/importer/importerInstallationAvecDispositifDeStockage.option.ts
  packages/domain/projet/src/lauréat/installationAvecDispositifDeStockage/installationAvecDispositifDeStockage.aggregate.ts
  packages/domain/projet/src/lauréat/installationAvecDispositifDeStockage/installationAvecDispositifDeStockage.entity.ts
  packages/domain/projet/src/lauréat/installationAvecDispositifDeStockage/installationAvecDispositifDeStockage.error.ts
  packages/domain/projet/src/lauréat/installationAvecDispositifDeStockage/modifier/modifierInstallationAvecDispositifDeStockage.command.ts
  packages/domain/projet/src/lauréat/installationAvecDispositifDeStockage/modifier/modifierInstallationAvecDispositifDeStockage.event.ts
  packages/domain/projet/src/lauréat/installationAvecDispositifDeStockage/modifier/modifierInstallationAvecDispositifDeStockage.options.ts
  packages/domain/projet/src/lauréat/installationAvecDispositifDeStockage/modifier/modifierInstallationAvecDispositifDeStockage.usecase.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
  packages/specifications/src/projet/lauréat/installationAvecDispositifDeStockage/modifierInstallationAvecDispositifDeStockage.feature
  packages/specifications/src/projet/lauréat/installationAvecDispositifDeStockage/stepDefinitions/installationAvecDispositifDeStockage.when.ts
Due: eslint --fix, prettier -w

✅ Modifier pour un projet abandonné ou achevé
  packages/specifications/src/projet/lauréat/installationAvecDispositifDeStockage/modifierInstallationAvecDispositifDeStockage.feature
  packages/specifications/src/projet/lauréat/installationAvecDispositifDeStockage/stepDefinitions/installationAvecDispositifDeStockage.when.ts
Due: eslint --fix, prettier -w

🎨 Ajout historique installateur
  packages/applications/bootstrap/src/setupProjet/setupLauréat/setupInstallateur.ts
  packages/applications/projectors/src/subscribers/historique/historique.projector.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/historique/page.tsx
  packages/applications/ssr/src/components/molecules/Filter.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/installateur/events/index.ts
  packages/applications/ssr/src/utils/historique/mapToProps/installateur/events/mapToInstallateurImportéTimelineItemProps.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/installateur/events/mapToInstallateurModifiéTimelineItemsProps.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/installateur/mapToInstallateurTimelineItemProps.tsx
  packages/domain/projet/src/lauréat/historique/lister/listerHistoriqueProjet.query.ts
  packages/domain/projet/src/lauréat/installateur/index.ts
  packages/domain/projet/src/lauréat/installateur/listerHistorique/listerHistoriqueInstallateurProjet.query.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
