Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml}": "prettier -w"
}

✅ Fix specs + when
  packages/specifications/src/notification/stepDefinitions/notification.then.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/échoirGarantiesFinancières.feature
Due: eslint --fix

💬 Copy
  packages/domain/réseau/src/raccordement/transmettre/transmettreDateMiseEnService.behavior.ts
Due: eslint --fix

🔧 Ajout régle CRON
  cron.json
  packages/applications/scheduled-tasks/exécuter-tâches-planifiées.sh
  packages/applications/scheduled-tasks/package.json
  packages/applications/scheduled-tasks/src/exécuter-tâches-planifiées.ts
Due: eslint --fix, prettier -w

🚧 Testing better setup for testing (mainlevée) (#1989)
  packages/specifications/src/projet/lauréat/mainLevéeGarantiesFinancières/stepDefinitions/helper.ts
  packages/specifications/src/projet/lauréat/mainLevéeGarantiesFinancières/stepDefinitions/mainlevéeGarantiesFinancières.given.ts
  packages/specifications/src/projet/lauréat/mainLevéeGarantiesFinancières/stepDefinitions/mainlevéeGarantiesFinancières.then.ts
  packages/specifications/src/projet/lauréat/mainLevéeGarantiesFinancières/stepDefinitions/mainlevéeGarantiesFinancières.when.ts
Due: eslint --fix

🎨 Just a var env
  packages/applications/legacy/.env.template
  packages/applications/ssr/.env.template
  packages/applications/ssr/.gitignore
Due: none

♻️ refactor to use adapter
  package-lock.json
  packages/applications/bootstrap/package.json
  packages/applications/bootstrap/src/bootstrap.ts
  packages/applications/bootstrap/src/setupLauréat.ts
  packages/applications/bootstrap/tsconfig.json
  packages/applications/notifications/package.json
  packages/applications/notifications/src/index.ts
  packages/applications/notifications/src/infrastructure/sendEmail.ts
  packages/applications/notifications/src/register.ts
  packages/applications/notifications/src/sendEmail.ts
  packages/applications/notifications/src/subscribers/lauréat/abandon.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/achèvement.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/garantiesFinancières.notification.ts
  packages/infrastructure/email/package.json
  packages/infrastructure/email/src/getMailjetClient.ts
  packages/infrastructure/email/src/index.ts
  packages/infrastructure/email/src/sendEmail.ts
  packages/infrastructure/email/src/sendEmailMode.ts
  packages/infrastructure/email/tsconfig.json
  packages/specifications/src/setup.ts
Due: eslint --fix, prettier -w

✅ Improve tests
  packages/applications/notifications/src/subscribers/lauréat/garantiesFinancières.notification.ts
  packages/infrastructure/email/src/sendEmail.ts
  packages/infrastructure/email/tsconfig.json
  packages/specifications/src/notification/notification.world.ts
  packages/specifications/src/notification/stepDefinitions/notification.then.ts
Due: eslint --fix, prettier -w

💬 adapter
  packages/specifications/src/setup.ts
Due: eslint --fix

🐛 Doublons dans l'event stream pour DateMiseEnServiceTransmise (#1969)
  packages/applications/ssr/next.config.js
  packages/domain/réseau/package.json
  packages/domain/réseau/src/raccordement/raccordement.aggregate.ts
  packages/domain/réseau/src/raccordement/transmettre/transmettreDateMiseEnService.behavior.ts
  packages/domain/réseau/src/raccordement/transmettre/transmettreDateMiseEnService.command.ts
  packages/domain/réseau/tsconfig.json
  packages/specifications/src/raccordement/transmettreDateMiseEnService.feature
Due: eslint --fix, prettier -w

🎨 Just a var env (#2008)
  packages/applications/legacy/.env.template
  packages/applications/ssr/.env.template
  packages/applications/ssr/.gitignore
Due: none

🔊 Ajout d'un nom de service et fix sur les metadata (#1996)
  packages/infrastructure/ore-client/src/helper/matchOutreMerAndCorseCodePostalToGRD.test.ts
  packages/libraries/monitoring/package.json
  packages/libraries/monitoring/src/logger.spec.ts
  packages/libraries/monitoring/src/logger.ts
Due: eslint --fix, prettier -w

♻️Refactor des emails pour permettre la testabilité (#1997)
  package-lock.json
  packages/applications/bootstrap/package.json
  packages/applications/bootstrap/src/bootstrap.ts
  packages/applications/bootstrap/src/setupLauréat.ts
  packages/applications/bootstrap/tsconfig.json
  packages/applications/notifications/package.json
  packages/applications/notifications/src/index.ts
  packages/applications/notifications/src/sendEmail.ts
  packages/applications/notifications/src/subscribers/lauréat/abandon.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/achèvement.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/garantiesFinancières.notification.ts
  packages/infrastructure/email/package.json
  packages/infrastructure/email/src/getMailjetClient.ts
  packages/infrastructure/email/src/index.ts
  packages/infrastructure/email/src/sendEmail.ts
  packages/infrastructure/email/src/sendEmailMode.ts
  packages/infrastructure/email/tsconfig.json
  packages/specifications/src/notification/notification.world.ts
  packages/specifications/src/notification/stepDefinitions/notification.then.ts
  packages/specifications/src/potentiel.world.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/échoirGarantiesFinancières.feature
  packages/specifications/src/setup.ts
Due: eslint --fix, prettier -w

🔧 Ajout régle CRON (#2007)
  cron.json
  packages/applications/scheduled-tasks/exécuter-tâches-planifiées.sh
  packages/applications/scheduled-tasks/package.json
  packages/applications/scheduled-tasks/src/exécuter-tâches-planifiées.ts
Due: eslint --fix, prettier -w

🧑‍💻 Affinage des commandes `build:test` et `build:dev` (#2006)
  package.json
Due: eslint --fix, prettier -w

♻️ Refactor des permissions pour utilisation dans le front (#2004)
  packages/domain/utilisateur/src/permission.middleware.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🧪 Une tâche du type "rappel échéance garanties financières" est planifiée à M-1 et M-2 de la date d'échéance en cas de dépôt validé WIP
  package-lock.json
  packages/specifications/src/tâche-planifiée/ajouterTâchePlanifiée.feature
Due: eslint --fix, prettier -w

✨ Création tâches planifiées M-1, M-2 lorsque le dépôt est validé
  packages/domain/common/src/valueTypes/dateTime.valueType.ts
  packages/domain/tâche-planifiée/src/saga/tâchePlanifiéeGarantiesFinancières.saga.ts
  packages/domain/tâche-planifiée/src/typeTâchePlanifiée.valueType.ts
  packages/specifications/src/tâche-planifiée/ajouterTâchePlanifiée.feature
  packages/specifications/src/tâche-planifiée/tâchePlanifiée.world.ts
Due: eslint --fix

🔧 Réduction de la taille de l'image
  .slugignore
  package.json
  packages/config/tsconfig/tsconfig.base.json
Due: eslint --fix, prettier -w

✅ Des tâches de la catégorie "rappel échéance garanties financières" sont planifiées à M-1 et M-2 de la date d'échéance en cas de garanties financières actuelles modifiées
  packages/domain/tâche-planifiée/src/saga/tâchePlanifiéeGarantiesFinancières.saga.ts
  packages/specifications/src/tâche-planifiée/ajouterTâchePlanifiée.feature
Due: eslint --fix

✅ Des tâches de la catégorie "rappel échéance garanties financières" sont planifiées à M-1 et M-2 de la date d'échéance en cas de garanties financières enregistrées
  packages/domain/tâche-planifiée/src/saga/tâchePlanifiéeGarantiesFinancières.saga.ts
  packages/specifications/src/tâche-planifiée/ajouterTâchePlanifiée.feature
Due: eslint --fix

✅ Des tâches de la catégorie "rappel échéance garanties financières" sont planifiées à M-1 et M-2 de la date d'échéance en cas de type de garanties financières importé
  packages/domain/tâche-planifiée/src/saga/tâchePlanifiéeGarantiesFinancières.saga.ts
  packages/specifications/src/tâche-planifiée/ajouterTâchePlanifiée.feature
Due: eslint --fix

🐛 fix script name
  package.json
Due: eslint --fix, prettier -w

✨ Annuler tâche rappel échéance GF
  packages/domain/tâche-planifiée/src/saga/tâchePlanifiéeAchévement.saga.ts
  packages/specifications/src/tâche-planifiée/annulerTâchePlanifiée.feature
Due: eslint --fix

✨ Annulation tâches planifiées quand dépôt GF soumis
  packages/applications/bootstrap/src/setupTâchePlanifiée.ts
  packages/domain/tâche-planifiée/src/saga/tâchePlanifiéeGarantiesFinancières.saga.ts
  packages/specifications/src/tâche-planifiée/annulerTâchePlanifiée.feature
Due: eslint --fix

🎨 New attempt
  .slugignore
  package.json
Due: eslint --fix, prettier -w

✨ Envoyer les emails de rappel d'échéance à - 1 ou - 2 mois
  package-lock.json
  packages/applications/scheduled-tasks/package.json
  packages/applications/scheduled-tasks/src/exécuter-tâches-planifiées.ts
  packages/applications/scheduled-tasks/tsconfig.json
Due: eslint --fix, prettier -w

🎨 Specifications
  .slugignore
Due: none

🔧 Ignore legacy src
  .slugignore
Due: none

🔧 Ignore src folders
  .slugignore
Due: none

🔧 Du
  package.json
Due: eslint --fix, prettier -w

Update packages/specifications/src/tâche-planifiée/annulerTâchePlanifiée.feature
  packages/specifications/src/tâche-planifiée/annulerTâchePlanifiée.feature
Due: none

🌱 Update seed local
  .database/potentiel-dev.dump
Due: none

🌱 Update seed local (#2012)
  .database/potentiel-dev.dump
Due: none

Update packages/applications/scheduled-tasks/src/exécuter-tâches-planifiées.ts
  packages/applications/scheduled-tasks/src/exécuter-tâches-planifiées.ts
Due: eslint --fix

🎨 Retour review
  packages/applications/scheduled-tasks/src/exécuter-tâches-planifiées.ts
Due: eslint --fix

🚧 WIP user and better client set up (working)
  packages/applications/legacy/src/views/pages/ListeProjetsPage.tsx
  packages/applications/ssr/next.config.js
  packages/applications/ssr/sentry.client.config.ts
  packages/applications/ssr/src/app/garanties-financieres/error.tsx
  packages/applications/ssr/src/app/global-error.tsx
  packages/applications/ssr/src/instrumentation.ts
  packages/applications/ssr/src/utils/getAuthenticatedUser.handler.ts
  packages/domain/utilisateur/src/permission.middleware.ts
Due: eslint --fix

🎨 Cleaning
  packages/applications/legacy/src/views/pages/ListeProjetsPage.tsx
  packages/applications/ssr/.env.template
  packages/applications/ssr/src/components/organisms/garantiesFinancières/GarantiesFinancières.tsx
Due: eslint --fix

🎨 First clean
  packages/applications/ssr/src/instrumentation.ts
Due: eslint --fix
