Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml,feature}": "prettier -w"
}

🐛 Définir l'identifiant projet dans la fixture transmettre PTF
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/fixtures/transmettrePropositionTechniqueEtFinancière.fixture.ts
Due: eslint --fix

♻️ Ajout d'une clé optionnelle pour un document (#4131)
  packages/domain/projet/src/document-projet/documentProjet.register.ts
  packages/domain/projet/src/document-projet/documentProjet.valueType.ts
  packages/domain/projet/src/document-projet/dossierProjet.valueType.ts
  packages/domain/projet/src/document-projet/déplacer/déplacerDocumentProjet.command.ts
  packages/domain/projet/src/document-projet/index.ts
  packages/domain/projet/src/lauréat/abandon/documentAbandon.valueType.ts
  packages/domain/projet/src/lauréat/achèvement/documentAchèvement.valueType.ts
  packages/domain/projet/src/lauréat/actionnaire/documentActionnaire.valueType.ts
  packages/domain/projet/src/lauréat/délai/demande/documentDélai.valueType.ts
  packages/domain/projet/src/lauréat/fournisseur/documentFournisseur.valueType.ts
  packages/domain/projet/src/lauréat/garanties-financières/dépôt/valider/validerDépôtGarantiesFinancières.usecase.ts
  packages/domain/projet/src/lauréat/installation/dispositif-de-stockage/documentDispositifDeStockage.valueType.ts
  packages/domain/projet/src/lauréat/installation/installateur/documentInstallateur.valueType.ts
  packages/domain/projet/src/lauréat/producteur/documentProducteur.valueType.ts
  packages/domain/projet/src/lauréat/raccordement/consulter/consulterDossierRaccordement.query.ts
  packages/domain/projet/src/lauréat/raccordement/documentRaccordement.valueType.ts
  packages/domain/projet/src/lauréat/raccordement/index.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/demandeComplète/modifierDemandeComplèteRaccordement.usecase.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/propositionTechniqueEtFinancière/modifierPropositionTechniqueEtFinancière.usecase.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/référenceDossierRaccordement/modifierRéférenceDossierRaccordement.usecase.ts
  packages/domain/projet/src/lauréat/raccordement/transmettre/demandeComplèteDeRaccordement/transmettreDemandeComplèteRaccordement.usecase.ts
  packages/domain/projet/src/lauréat/raccordement/transmettre/propositionTechniqueEtFinancière/transmettrePropositionTechniqueEtFinancière.usecase.ts
  packages/domain/projet/src/lauréat/raccordement/typeDocumentRaccordement.valueType.ts
  packages/domain/projet/src/lauréat/représentantLégal/changement/documentChangementReprésentantLégal.valueType.ts
  packages/domain/projet/src/éliminé/recours/documentRecours.valueType.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/fixtures/modifierDemandeComplèteDeRaccordement.fixture.ts
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/fixtures/transmettreDemandeComplèteDeRaccordement.fixture.ts
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/stepDefinitions/demandeComplèteRaccordement.when.ts
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/fixtures/modifierPropositionTechniqueEtFinancière.fixture.ts
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/fixtures/transmettrePropositionTechniqueEtFinancière.fixture.ts
Due: eslint --fix

♻️ ValueType DocumentNatureDeLExploitation
  packages/applications/ssr/src/app/laureats/[identifiant]/nature-de-l-exploitation/(historique)/events/mapToChangementNatureDeLExploitationEnregistré.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/nature-de-l-exploitation/(historique)/events/mapToNatureDeLExploitationModifiéeTimelineItemsProps.tsx
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/changement/consulter/consulterChangementNatureDeLExploitation.query.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/changement/enregistrerChangement/enregistrerChangementNatureDeLExploitation.usecase.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/documentNatureDeLExploitation.valueType.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/index.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/modifier/modifierNatureDeLExploitation.usecase.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/typeDocumentNatureDeLExploitation.valueType.ts
  packages/specifications/src/projet/lauréat/nature-de-l-exploitation/natureDeLExploitation.world.ts
Due: eslint --fix

🥅 Expliciter le type d'erreur pour l'affichage (#4133)
  packages/applications/ssr/src/app/candidatures/importer/(demarche-simplifiée)/importerCandidaturesParDS.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(actuelles)/actuelles:enregistrer/page.tsx
  packages/applications/ssr/src/utils/zod/document/keepOrUpdateDocument.ts
Due: eslint --fix

♻️ ValueType DocumentNatureDeLExploitation (#4134)
  packages/applications/ssr/src/app/laureats/[identifiant]/nature-de-l-exploitation/(historique)/events/mapToChangementNatureDeLExploitationEnregistré.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/nature-de-l-exploitation/(historique)/events/mapToNatureDeLExploitationModifiéeTimelineItemsProps.tsx
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/changement/consulter/consulterChangementNatureDeLExploitation.query.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/changement/enregistrerChangement/enregistrerChangementNatureDeLExploitation.usecase.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/documentNatureDeLExploitation.valueType.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/index.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/modifier/modifierNatureDeLExploitation.usecase.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/typeDocumentNatureDeLExploitation.valueType.ts
  packages/specifications/src/projet/lauréat/nature-de-l-exploitation/natureDeLExploitation.world.ts
Due: eslint --fix

✨ Ajout d'un bloc d'info lors de l'achèvement (#4132)
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:transmettre/transmettreAttestationConformité.page.tsx
Due: eslint --fix

♻️ ValueType DocumentTypologieInstallation
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/(historique)/events/mapToTypologieInstallationModifiéeTimelineItemsProps.tsx
  packages/domain/projet/src/lauréat/installation/index.ts
  packages/domain/projet/src/lauréat/installation/typologie-installation/documentTypologieInstallation.valueType.ts
  packages/domain/projet/src/lauréat/installation/typologie-installation/modifier/modifierTypologieInstallation.usecase.ts
  packages/domain/projet/src/lauréat/installation/typologie-installation/typeDocumentTypologieInstallation.valueType.ts
Due: eslint --fix

♻️ ValueType DocumentPuissance
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/(historique)/events/mapToChangementPuissanceAccordéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/(historique)/events/mapToChangementPuissanceDemandéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/(historique)/events/mapToChangementPuissanceEnregistréTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/(historique)/events/mapToChangementPuissanceRejetéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/(historique)/events/mapToPuissanceModifiéeTimelineItemsProps.tsx
  packages/domain/projet/src/lauréat/puissance/changement/accorder/accorderChangementPuissance.usecase.ts
  packages/domain/projet/src/lauréat/puissance/changement/consulter/consulterChangementPuissance.query.ts
  packages/domain/projet/src/lauréat/puissance/changement/demander/demanderChangementPuissance.usecase.ts
  packages/domain/projet/src/lauréat/puissance/changement/enregistrerChangement/enregistrerChangementPuissance.usecase.ts
  packages/domain/projet/src/lauréat/puissance/changement/rejeter/rejeterChangementPuissance.usecase.ts
  packages/domain/projet/src/lauréat/puissance/index.ts
  packages/domain/projet/src/lauréat/puissance/modifier/modifierPuissance.usecase.ts
  packages/domain/projet/src/lauréat/puissance/valueType/documentPuissance.valueType.ts
  packages/domain/projet/src/lauréat/puissance/valueType/typeDocumentPuissance.valueType.ts
  packages/specifications/src/projet/lauréat/puissance/changement/changementPuissance.world.ts
Due: eslint --fix

♻️ ValueType DocumentTypologieInstallation (#4135)
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/(historique)/events/mapToTypologieInstallationModifiéeTimelineItemsProps.tsx
  packages/domain/projet/src/lauréat/installation/index.ts
  packages/domain/projet/src/lauréat/installation/typologie-installation/documentTypologieInstallation.valueType.ts
  packages/domain/projet/src/lauréat/installation/typologie-installation/modifier/modifierTypologieInstallation.usecase.ts
  packages/domain/projet/src/lauréat/installation/typologie-installation/typeDocumentTypologieInstallation.valueType.ts
Due: eslint --fix

♻️ ValueType DocumentModificationSiteDeProduction
  packages/applications/ssr/src/app/laureats/[identifiant]/(historique)/events/mapToSiteDeProductionModifiéTimelineItemProps.tsx
  packages/domain/projet/src/lauréat/documentModificationSiteDeProduction.valueType.ts
  packages/domain/projet/src/lauréat/index.ts
  packages/domain/projet/src/lauréat/site-de-production/modifierSiteDeProduction.usecase.ts
  packages/domain/projet/src/lauréat/typeDocumentModificationSiteDeProduction.valueType.ts
Due: eslint --fix

💚 Désactiver l'envoi d'emails en CI
  packages/specifications/src/_mocks/mockEmailAdapter.ts
  packages/specifications/src/setup.ts
Due: eslint --fix

revert & fix
  package-lock.json
  packages/applications/document-builder/package.json
Due: eslint --fix, prettier -w

♻️ ValueType DocumentPuissance (#4136)
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/(historique)/events/mapToChangementPuissanceAccordéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/(historique)/events/mapToChangementPuissanceDemandéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/(historique)/events/mapToChangementPuissanceEnregistréTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/(historique)/events/mapToChangementPuissanceRejetéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/(historique)/events/mapToPuissanceModifiéeTimelineItemsProps.tsx
  packages/domain/projet/src/lauréat/puissance/changement/accorder/accorderChangementPuissance.usecase.ts
  packages/domain/projet/src/lauréat/puissance/changement/consulter/consulterChangementPuissance.query.ts
  packages/domain/projet/src/lauréat/puissance/changement/demander/demanderChangementPuissance.usecase.ts
  packages/domain/projet/src/lauréat/puissance/changement/enregistrerChangement/enregistrerChangementPuissance.usecase.ts
  packages/domain/projet/src/lauréat/puissance/changement/rejeter/rejeterChangementPuissance.usecase.ts
  packages/domain/projet/src/lauréat/puissance/index.ts
  packages/domain/projet/src/lauréat/puissance/modifier/modifierPuissance.usecase.ts
  packages/domain/projet/src/lauréat/puissance/valueType/documentPuissance.valueType.ts
  packages/domain/projet/src/lauréat/puissance/valueType/typeDocumentPuissance.valueType.ts
  packages/specifications/src/projet/lauréat/puissance/changement/changementPuissance.world.ts
Due: eslint --fix

♻️ ValueType DocumentModificationSiteDeProduction (#4137)
  packages/applications/ssr/src/app/laureats/[identifiant]/(historique)/events/mapToSiteDeProductionModifiéTimelineItemProps.tsx
  packages/domain/projet/src/lauréat/documentModificationSiteDeProduction.valueType.ts
  packages/domain/projet/src/lauréat/index.ts
  packages/domain/projet/src/lauréat/site-de-production/modifierSiteDeProduction.usecase.ts
  packages/domain/projet/src/lauréat/typeDocumentModificationSiteDeProduction.valueType.ts
Due: eslint --fix

🎨 Missing file
  .github/workflows/shared-workflow.yml
Due: eslint --fix, prettier -w

♻️ ValueType DocumentModifNomProjet
  packages/applications/ssr/src/app/laureats/[identifiant]/(historique)/events/mapToChangementNomProjetEnregistréTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(historique)/events/mapToNomProjetModifiéTimelineItemProps.tsx
  packages/domain/projet/src/lauréat/index.ts
  packages/domain/projet/src/lauréat/nomProjet/changement/TypeDocumentNomProjet.valueType.ts
  packages/domain/projet/src/lauréat/nomProjet/changement/consulter/consulterChangementNomProjet.ts
  packages/domain/projet/src/lauréat/nomProjet/changement/documentNomProjet.valueType.ts
  packages/domain/projet/src/lauréat/nomProjet/changement/enregistrerChangementNomProjet/enregistrerChangementNomProjet.usecase.ts
  packages/domain/projet/src/lauréat/nomProjet/modifier/modifierNomProjet.usecase.ts
Due: eslint --fix

💚 Désactiver l'envoi d'emails en CI (#4138)
  .github/workflows/shared-workflow.yml
  packages/specifications/src/_mocks/mockEmailAdapter.ts
  packages/specifications/src/setup.ts
Due: eslint --fix, prettier -w

♻️ ValueType DocumentModifNomProjet (#4140)
  packages/applications/ssr/src/app/laureats/[identifiant]/(historique)/events/mapToChangementNomProjetEnregistréTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(historique)/events/mapToNomProjetModifiéTimelineItemProps.tsx
  packages/domain/projet/src/lauréat/index.ts
  packages/domain/projet/src/lauréat/nomProjet/changement/TypeDocumentNomProjet.valueType.ts
  packages/domain/projet/src/lauréat/nomProjet/changement/consulter/consulterChangementNomProjet.ts
  packages/domain/projet/src/lauréat/nomProjet/changement/documentNomProjet.valueType.ts
  packages/domain/projet/src/lauréat/nomProjet/changement/enregistrerChangementNomProjet/enregistrerChangementNomProjet.usecase.ts
  packages/domain/projet/src/lauréat/nomProjet/modifier/modifierNomProjet.usecase.ts
Due: eslint --fix

🐛 Fix build storybook et passage à vite (#4108)
  package-lock.json
  package.json
  packages/applications/api-documentation/package.json
  packages/applications/document-builder/.storybook/main.ts
  packages/applications/document-builder/.storybook/preview.tsx
  packages/applications/document-builder/package.json
  packages/applications/notifications/package.json
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/transmettre-preuve-recandidature/TransmettrePreuveRecandidature.form.tsx
  packages/infrastructure/pg-event-sourcing/src/load/loadAggregate.test.ts
  packages/infrastructure/pg-event-sourcing/src/load/loadFromStream.test.ts
  packages/infrastructure/pg-event-sourcing/src/publish/publish.test.ts
Due: eslint --fix, prettier -w

🐛 Modification de la DCR sans modifier le fichier
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(demande-complète-raccordement)/demande-complete-raccordement:modifier/modifierDemandeComplèteRaccordement.action.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/demandeComplète/modifierDemandeComplèteRaccordement.command.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/demandeComplète/modifierDemandeComplèteRaccordement.options.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/demandeComplète/modifierDemandeComplèteRaccordement.usecase.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/specifications/src/raccordement/dateDeMiseEnService/stepDefinitions/dateMiseEnService.then.ts
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/fixtures/modifierDemandeComplèteDeRaccordement.fixture.ts
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/fixtures/transmettreDemandeComplèteDeRaccordement.fixture.ts
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/modifierDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/stepDefinitions/demandeComplèteRaccordement.then.ts
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/stepDefinitions/demandeComplèteRaccordement.when.ts
  packages/specifications/src/raccordement/dossierRaccordement/fixtures/modifierRéférenceDossierRaccordement.fixture.ts
  packages/specifications/src/raccordement/dossierRaccordement/stepDefinitions/dossierRaccordement.then.ts
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/stepDefinitions/propositionTechniqueEtFinancière.then.ts
  packages/specifications/src/raccordement/raccordement.world.ts
Due: eslint --fix, prettier -w

✅ Ajout de spec
  packages/specifications/src/helpers/mapToExemple.ts
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/demandeComplèteRaccordement.world.ts
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/fixtures/modifierDemandeComplèteDeRaccordement.fixture.ts
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/fixtures/transmettreDemandeComplèteDeRaccordement.fixture.ts
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/modifierDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/stepDefinitions/demandeComplèteRaccordement.when.ts
  packages/specifications/src/raccordement/dossierRaccordement/fixtures/modifierRéférenceDossierRaccordement.fixture.ts
Due: eslint --fix, prettier -w

♻️ Refacto specs PTF
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/fixtures/modifierPropositionTechniqueEtFinancière.fixture.ts
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/fixtures/transmettrePropositionTechniqueEtFinancière.fixture.ts
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/modifierPropositionTechniqueEtFinancière.feature
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/propositionTechniqueEtFinancière.world.ts
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/stepDefinitions/propositionTechniqueEtFinancière.when.ts
Due: eslint --fix, prettier -w

✨ Cas PTF
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(proposition-technique-et-financière)/proposition-technique-et-financiere:modifier/modifierPropositionTechniqueEtFinancière.action.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/propositionTechniqueEtFinancière/modifierPropositionTechniqueEtFinancière.command.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/propositionTechniqueEtFinancière/modifierPropositionTechniqueEtFinancière.options.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/propositionTechniqueEtFinancière/modifierPropositionTechniqueEtFinancière.usecase.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.event.ts
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/fixtures/modifierPropositionTechniqueEtFinancière.fixture.ts
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/stepDefinitions/propositionTechniqueEtFinancière.when.ts
Due: eslint --fix

🎨 Simplfication
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/modifierDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/modifierPropositionTechniqueEtFinancière.feature
Due: prettier -w

🎨 Front
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(demande-complète-raccordement)/demande-complete-raccordement:modifier/modifierDemandeComplèteRaccordement.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(proposition-technique-et-financière)/proposition-technique-et-financiere:modifier/modifierPropositionTechniqueEtFinancière.action.ts
Due: eslint --fix

🐛 Modification de la DCR ou PTF sans modifier le fichier (#4142)
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(demande-complète-raccordement)/demande-complete-raccordement:modifier/modifierDemandeComplèteRaccordement.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(proposition-technique-et-financière)/proposition-technique-et-financiere:modifier/modifierPropositionTechniqueEtFinancière.action.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/demandeComplète/modifierDemandeComplèteRaccordement.command.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/demandeComplète/modifierDemandeComplèteRaccordement.options.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/demandeComplète/modifierDemandeComplèteRaccordement.usecase.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/propositionTechniqueEtFinancière/modifierPropositionTechniqueEtFinancière.command.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/propositionTechniqueEtFinancière/modifierPropositionTechniqueEtFinancière.options.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/propositionTechniqueEtFinancière/modifierPropositionTechniqueEtFinancière.usecase.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.event.ts
  packages/specifications/src/helpers/mapToExemple.ts
  packages/specifications/src/raccordement/dateDeMiseEnService/stepDefinitions/dateMiseEnService.then.ts
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/demandeComplèteRaccordement.world.ts
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/fixtures/modifierDemandeComplèteDeRaccordement.fixture.ts
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/fixtures/transmettreDemandeComplèteDeRaccordement.fixture.ts
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/modifierDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/stepDefinitions/demandeComplèteRaccordement.then.ts
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/stepDefinitions/demandeComplèteRaccordement.when.ts
  packages/specifications/src/raccordement/dossierRaccordement/fixtures/modifierRéférenceDossierRaccordement.fixture.ts
  packages/specifications/src/raccordement/dossierRaccordement/stepDefinitions/dossierRaccordement.then.ts
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/fixtures/modifierPropositionTechniqueEtFinancière.fixture.ts
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/fixtures/transmettrePropositionTechniqueEtFinancière.fixture.ts
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/modifierPropositionTechniqueEtFinancière.feature
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/propositionTechniqueEtFinancière.world.ts
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/stepDefinitions/propositionTechniqueEtFinancière.then.ts
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/stepDefinitions/propositionTechniqueEtFinancière.when.ts
  packages/specifications/src/raccordement/raccordement.world.ts
Due: eslint --fix, prettier -w

♻️ Remove last contents
  packages/specifications/src/helpers/faker/getFakeContent.ts
  packages/specifications/src/helpers/faker/getFakeFormat.ts
  packages/specifications/src/helpers/faker/index.ts
  packages/specifications/src/projet/lauréat/abandon/fixtures/rejeterAbandonFixture.ts
  packages/specifications/src/projet/lauréat/achèvement/fixture/enregistrerAttestationConformité.fixture.ts
  packages/specifications/src/projet/lauréat/achèvement/fixture/modifierAttestationConformité.fixture.ts
  packages/specifications/src/projet/lauréat/achèvement/fixture/transmettreAttestationConformité.fixture.ts
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/fixtures/modifierDemandeComplèteDeRaccordement.fixture.ts
Due: eslint --fix

🚨 Lint
  packages/specifications/src/projet/lauréat/abandon/stepDefinitions/abandon.when.ts
  packages/specifications/src/projet/lauréat/actionnaire/stepDefinitions/actionnaire.when.ts
  packages/specifications/src/projet/lauréat/délai/stepDefinitions/délai.when.ts
  packages/specifications/src/projet/lauréat/fournisseur/stepDefinitions/fournisseur.when.ts
  packages/specifications/src/projet/lauréat/producteur/stepDefinitions/producteur.when.ts
  packages/specifications/src/projet/lauréat/puissance/changement/stepDefinitions/changementPuissance.when.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.when.ts
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.when.ts
Due: eslint --fix

🐛 Edge cases RL & délai
  packages/specifications/src/helpers/faker/getFakeContent.ts
  packages/specifications/src/helpers/faker/index.ts
  packages/specifications/src/projet/lauréat/délai/stepDefinitions/délai.when.ts
  packages/specifications/src/projet/lauréat/lauréat.world.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/changementReprésentantLégal.world.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.given.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.then.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.when.ts
  packages/specifications/src/projet/lauréat/représentant-légal/représentantLégal.world.ts
Due: eslint --fix

🚧 WIP ValueType DocumentGarantiesFinancières
  packages/domain/projet/src/lauréat/garanties-financières/actuelles/archives/lister/listerArchivesGarantiesFinancières.query.ts
  packages/domain/projet/src/lauréat/garanties-financières/actuelles/consulter/consulterGarantiesFinancières.query.ts
  packages/domain/projet/src/lauréat/garanties-financières/actuelles/enregistrer/enregistrerGarantiesFinancières.usecase.ts
  packages/domain/projet/src/lauréat/garanties-financières/actuelles/enregistrerAttestation/enregistrerAttestationGarantiesFinancières.usecase.ts
  packages/domain/projet/src/lauréat/garanties-financières/actuelles/modifier/modifierGarantiesFinancières.usecase.ts
  packages/domain/projet/src/lauréat/garanties-financières/documentGarantiesFinancières.valueType.ts
  packages/domain/projet/src/lauréat/garanties-financières/dépôt/consulter/consulterDépôtGarantiesFinancières.query.ts
  packages/domain/projet/src/lauréat/garanties-financières/dépôt/lister/listerDépôtGarantiesFinancières.query.ts
  packages/domain/projet/src/lauréat/garanties-financières/dépôt/modifier/modifierDépôtGarantiesFinancières.usecase.ts
  packages/domain/projet/src/lauréat/garanties-financières/dépôt/soumettre/soumettreDépôtGarantiesFinancières.usecase.ts
  packages/domain/projet/src/lauréat/garanties-financières/dépôt/valider/validerDépôtGarantiesFinancières.usecase.ts
  packages/domain/projet/src/lauréat/garanties-financières/index.ts
  packages/domain/projet/src/lauréat/garanties-financières/saga/handlers/lauréatNotifié.handler.ts
  packages/domain/projet/src/lauréat/garanties-financières/typeDocumentGarantiesFinancières.valueType.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/fixtures/enregistrerGarantiesFinancières.fixture.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/dépôtGarantiesFinancières.world.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/fixtures/soumettre.fixture.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/validerDépôtGarantiesFinancières.feature
Due: eslint --fix, prettier -w

🎨 Rl & délai fix
  packages/specifications/src/projet/lauréat/délai/corrigerDemandeDélai.feature
  packages/specifications/src/projet/lauréat/délai/stepDefinitions/délai.when.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.when.ts
Due: eslint --fix, prettier -w

🎨 Fix
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.when.ts
Due: eslint --fix

🎨 Last one
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.when.ts
Due: eslint --fix

🎨 Fix copy folder + rename
  packages/domain/projet/src/lauréat/garanties-financières/actuelles/archives/lister/listerArchivesGarantiesFinancières.query.ts
  packages/domain/projet/src/lauréat/garanties-financières/actuelles/consulter/consulterGarantiesFinancières.query.ts
  packages/domain/projet/src/lauréat/garanties-financières/actuelles/enregistrer/enregistrerGarantiesFinancières.usecase.ts
  packages/domain/projet/src/lauréat/garanties-financières/actuelles/enregistrerAttestation/enregistrerAttestationGarantiesFinancières.usecase.ts
  packages/domain/projet/src/lauréat/garanties-financières/actuelles/modifier/modifierGarantiesFinancières.usecase.ts
  packages/domain/projet/src/lauréat/garanties-financières/documentGarantiesFinancières.valueType.ts
  packages/domain/projet/src/lauréat/garanties-financières/dépôt/consulter/consulterDépôtGarantiesFinancières.query.ts
  packages/domain/projet/src/lauréat/garanties-financières/dépôt/lister/listerDépôtGarantiesFinancières.query.ts
  packages/domain/projet/src/lauréat/garanties-financières/dépôt/modifier/modifierDépôtGarantiesFinancières.usecase.ts
  packages/domain/projet/src/lauréat/garanties-financières/dépôt/soumettre/soumettreDépôtGarantiesFinancières.usecase.ts
  packages/domain/projet/src/lauréat/garanties-financières/dépôt/valider/validerDépôtGarantiesFinancières.usecase.ts
  packages/domain/projet/src/lauréat/garanties-financières/saga/handlers/lauréatNotifié.handler.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/fixtures/enregistrerGarantiesFinancières.fixture.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/dépôtGarantiesFinancières.world.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/fixtures/soumettre.fixture.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/validerDépôtGarantiesFinancières.feature
Due: eslint --fix, prettier -w

🎨 Retour review
  packages/domain/projet/src/lauréat/garanties-financières/actuelles/archives/lister/listerArchivesGarantiesFinancières.query.ts
  packages/domain/projet/src/lauréat/garanties-financières/actuelles/consulter/consulterGarantiesFinancières.query.ts
  packages/domain/projet/src/lauréat/garanties-financières/actuelles/enregistrer/enregistrerGarantiesFinancières.usecase.ts
  packages/domain/projet/src/lauréat/garanties-financières/actuelles/enregistrerAttestation/enregistrerAttestationGarantiesFinancières.usecase.ts
  packages/domain/projet/src/lauréat/garanties-financières/actuelles/modifier/modifierGarantiesFinancières.usecase.ts
  packages/domain/projet/src/lauréat/garanties-financières/documentGarantiesFinancières.valueType.ts
  packages/domain/projet/src/lauréat/garanties-financières/dépôt/consulter/consulterDépôtGarantiesFinancières.query.ts
  packages/domain/projet/src/lauréat/garanties-financières/dépôt/lister/listerDépôtGarantiesFinancières.query.ts
  packages/domain/projet/src/lauréat/garanties-financières/dépôt/modifier/modifierDépôtGarantiesFinancières.usecase.ts
  packages/domain/projet/src/lauréat/garanties-financières/dépôt/soumettre/soumettreDépôtGarantiesFinancières.usecase.ts
  packages/domain/projet/src/lauréat/garanties-financières/saga/handlers/lauréatNotifié.handler.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/fixtures/enregistrerGarantiesFinancières.fixture.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/dépôtGarantiesFinancières.world.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/fixtures/soumettre.fixture.ts
Due: eslint --fix

♻️ ValueType DocumentGarantiesFinancières (#4143)
  packages/domain/projet/src/lauréat/garanties-financières/actuelles/archives/lister/listerArchivesGarantiesFinancières.query.ts
  packages/domain/projet/src/lauréat/garanties-financières/actuelles/consulter/consulterGarantiesFinancières.query.ts
  packages/domain/projet/src/lauréat/garanties-financières/actuelles/enregistrer/enregistrerGarantiesFinancières.usecase.ts
  packages/domain/projet/src/lauréat/garanties-financières/actuelles/enregistrerAttestation/enregistrerAttestationGarantiesFinancières.usecase.ts
  packages/domain/projet/src/lauréat/garanties-financières/actuelles/modifier/modifierGarantiesFinancières.usecase.ts
  packages/domain/projet/src/lauréat/garanties-financières/documentGarantiesFinancières.valueType.ts
  packages/domain/projet/src/lauréat/garanties-financières/dépôt/consulter/consulterDépôtGarantiesFinancières.query.ts
  packages/domain/projet/src/lauréat/garanties-financières/dépôt/lister/listerDépôtGarantiesFinancières.query.ts
  packages/domain/projet/src/lauréat/garanties-financières/dépôt/modifier/modifierDépôtGarantiesFinancières.usecase.ts
  packages/domain/projet/src/lauréat/garanties-financières/dépôt/soumettre/soumettreDépôtGarantiesFinancières.usecase.ts
  packages/domain/projet/src/lauréat/garanties-financières/dépôt/valider/validerDépôtGarantiesFinancières.usecase.ts
  packages/domain/projet/src/lauréat/garanties-financières/index.ts
  packages/domain/projet/src/lauréat/garanties-financières/saga/handlers/lauréatNotifié.handler.ts
  packages/domain/projet/src/lauréat/garanties-financières/typeDocumentGarantiesFinancières.valueType.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/fixtures/enregistrerGarantiesFinancières.fixture.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/dépôtGarantiesFinancières.world.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/fixtures/soumettre.fixture.ts
Due: eslint --fix

voir les test
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(dépôt)/depot:modifier/modifierDépôtGarantiesFinancières.action.ts
  packages/domain/projet/src/lauréat/garanties-financières/dépôt/modifier/modifierDépôtGarantiesFinancières.command.ts
  packages/domain/projet/src/lauréat/garanties-financières/dépôt/modifier/modifierDépôtGarantiesFinancières.option.ts
  packages/domain/projet/src/lauréat/garanties-financières/dépôt/modifier/modifierDépôtGarantiesFinancières.usecase.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.error.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/modifierDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/stepDefinitions/dépôtGarantiesFinancières.when.ts
Due: eslint --fix, prettier -w

fix: tests
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(dépôt)/depot:modifier/modifierDépôtGarantiesFinancières.action.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/fixtures/soumettre.fixture.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/modifierDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/stepDefinitions/dépôtGarantiesFinancières.when.ts
Due: eslint --fix, prettier -w
