Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

✅ Wait event finish for sagas / notifs / projections in setup
  packages/specifications/src/helpers/waitForSagasNotificationsAndProjectionsToFinish.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/en-attente/stepDefinitions/garantiesFinancièresEnAttente.given.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/stepDefinitions/mainlevéeGarantiesFinancières.given.ts
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.given.ts
  packages/specifications/src/raccordement/stepDefinitions/raccordement.given.ts
  packages/specifications/src/raccordement/stepDefinitions/raccordement.then.ts
  packages/specifications/src/setup.ts
  packages/specifications/src/tâche/stepDefinitions/tâche.then.ts
Due: eslint --fix

🎨 Remove waitForEvents de raccordement
  packages/specifications/src/raccordement/stepDefinitions/raccordement.when.ts
Due: eslint --fix

✅ Wait event finish for sagas / notifs / projections in setup (#2579)
  packages/specifications/src/helpers/waitForSagasNotificationsAndProjectionsToFinish.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/en-attente/stepDefinitions/garantiesFinancièresEnAttente.given.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/stepDefinitions/mainlevéeGarantiesFinancières.given.ts
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.given.ts
  packages/specifications/src/raccordement/stepDefinitions/raccordement.given.ts
  packages/specifications/src/raccordement/stepDefinitions/raccordement.then.ts
  packages/specifications/src/raccordement/stepDefinitions/raccordement.when.ts
  packages/specifications/src/setup.ts
  packages/specifications/src/tâche/stepDefinitions/tâche.then.ts
Due: eslint --fix

🎨 Improve
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/handleActionnaireTransmis.ts
  packages/domain/lauréat/src/actionnaire/actionnaire.saga.ts
  packages/domain/lauréat/src/actionnaire/importer/importerActionnaire.behavior.ts
Due: eslint --fix

🎨 Remove waitforevents
  packages/specifications/src/projet/lauréat/actionnaire/stepDefinitions/actionnaire.when.ts
Due: eslint --fix

🐛 Correction du lien demandes pour les porteurs
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
Due: eslint --fix

🎨 Add ff to package
  package-lock.json
  packages/domain/lauréat/package.json
Due: eslint --fix, prettier -w

🎨 Fix condition for test
  packages/specifications/src/setup.ts
Due: eslint --fix

🐛 Correction du lien demandes pour les porteurs (#2582)
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
Due: eslint --fix

✨ Impossible de notifier une période sans nom ou fonction (#2576)
  packages/domain/candidature/src/notifier/notifierCandidature.behavior.ts
  packages/domain/période/src/notifier/notifierPériode.command.ts
  packages/specifications/src/période/notifierPériode.feature
  packages/specifications/src/période/stepDefinitions/période.when.ts
  packages/specifications/src/utilisateur/fixtures/validateur.fixture.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.given.ts
Due: eslint --fix, prettier -w

🎨 Remove flag for saga
  packages/domain/lauréat/package.json
  packages/domain/lauréat/src/actionnaire/actionnaire.saga.ts
  packages/specifications/src/setup.ts
Due: eslint --fix, prettier -w

🎨 Feature flag back dans les back
  packages/applications/feature-flags/src/index.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getReprésentantLégal.ts
  packages/applications/legacy/src/views/components/UI/organisms/UserNavigation.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectActions.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales.tsx
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
Due: eslint --fix

🔥 Suppression du ff pour changement représentant légal
  packages/applications/feature-flags/src/index.ts
  packages/applications/legacy/.env.template
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getReprésentantLégal.ts
  packages/applications/legacy/src/views/components/UI/organisms/UserNavigation.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/ssr/.env.template
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
Due: eslint --fix

🔥 Suppression du feature flag changement de représentant légal (#2583)
  packages/applications/feature-flags/src/index.ts
  packages/applications/legacy/.env.template
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getReprésentantLégal.ts
  packages/applications/legacy/src/views/components/UI/organisms/UserNavigation.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/ssr/.env.template
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
Due: eslint --fix

🐛 Correction Storybook (#2573)
  packages/applications/ssr/.storybook/main.ts
  packages/applications/ssr/.storybook/mockedWithUtilisateur.js
  packages/applications/ssr/.storybook/preview.tsx
Due: eslint --fix

🎨 Build
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
Due: eslint --fix

🎨 Review ben
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getActionnaire.ts
  packages/applications/legacy/src/views/components/UI/organisms/UserNavigation.tsx
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/handleActionnaireImporté.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/handleActionnaireTransmis.ts
Due: eslint --fix

✨ First: setup
  packages/applications/bootstrap/src/setupLauréat.ts
  packages/applications/notifications/src/index.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/handleActionnaireModifié.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/handleChangementActionnaireDemandé.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/handleDemandeChangementActionnaireAccordée.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/handleDemandeChangementActionnaireAnnulée.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/handleDemandeChangementActionnaireRejetée.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/index.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/templateIds.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/handleDemandeChangementActionnaireAnnulée.ts
  packages/domain/lauréat/src/actionnaire/actionnaire.aggregate.ts
  packages/domain/lauréat/src/actionnaire/changement/annuler/annulerChangementActionnaire.behavior.ts
  packages/domain/lauréat/src/actionnaire/index.ts
Due: eslint --fix

✅ Test passing
  packages/applications/bootstrap/src/setupLauréat.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/handleChangementActionnaireDemandé.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/handleDemandeChangementActionnaireAccordée.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/handleDemandeChangementActionnaireAnnulée.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/handleDemandeChangementActionnaireRejetée.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/index.ts
  packages/specifications/src/projet/lauréat/actionnaire/accorderChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/annulerDemandeChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/demanderChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/modifierActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/rejeterDemandeChangementActionnaire.feature
Due: eslint --fix, prettier -w

🎨 Change route but will break rebuild
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/handleChangementActionnaireDemandé.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/handleDemandeChangementActionnaireAccordée.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/handleDemandeChangementActionnaireAnnulée.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/handleDemandeChangementActionnaireRejetée.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/index.ts
  packages/specifications/src/projet/lauréat/actionnaire/accorderChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/annulerDemandeChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/demanderChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/rejeterDemandeChangementActionnaire.feature
Due: eslint --fix, prettier -w

✨ Modèle pour accorder un changement d'actionnaire
  packages/applications/document-builder/src/assets/docx/actionnaire-modèle-réponse.docx
  packages/applications/document-builder/src/modèleRéponseSignée/abandon/modèleRéponseSignéeAbandon.ts
  packages/applications/document-builder/src/modèleRéponseSignée/actionnaire/modèleRéponseSignéeActionnaire.ts
  packages/applications/document-builder/src/modèleRéponseSignée/générerModèleRéponseSignée.ts
  packages/applications/document-builder/src/modèleRéponseSignée/modèleRéponseSignée.ts
  packages/applications/document-builder/src/modèleRéponseSignée/recours/modèleRéponseSignéeRecours.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getActionnaire.ts
  packages/applications/routes/src/lauréat/actionnaire.routes.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/demander/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/changement/actionnaire/modele-reponse/route.ts
  packages/applications/ssr/src/components/pages/actionnaire/changement/détails/accorder/AccorderChangementActionnaire.form.tsx
  packages/domain/lauréat/src/cahierDesChargesChoisi/consulter/consulterCahierDesChargesChoisi.query.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🎨 Email
  packages/applications/ssr/src/app/laureats/[identifiant]/changement/actionnaire/modele-reponse/route.ts
Due: eslint --fix

Update packages/domain/lauréat/src/cahierDesChargesChoisi/consulter/consulterCahierDesChargesChoisi.query.ts
  packages/domain/lauréat/src/cahierDesChargesChoisi/consulter/consulterCahierDesChargesChoisi.query.ts
Due: eslint --fix

🎨 Maj modèle
  packages/applications/document-builder/src/assets/docx/actionnaire-modèle-réponse.docx
Due: none

🎨 Almost done
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/handleDemandeChangementActionnaireAnnulée.ts
  packages/specifications/src/projet/lauréat/actionnaire/accorderChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/annulerDemandeChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/demanderChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/rejeterDemandeChangementActionnaire.feature
Due: eslint --fix, prettier -w

🎨 Fix tests
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/handleDemandeChangementActionnaireAccordée.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/handleDemandeChangementActionnaireAnnulée.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/handleDemandeChangementActionnaireRejetée.ts
  packages/specifications/src/projet/lauréat/actionnaire/accorderChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/annulerDemandeChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/demanderChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/rejeterDemandeChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/stepDefinitions/actionnaire.then.ts
Due: eslint --fix, prettier -w

✨ Notification actionnaire (#2580)
  packages/applications/bootstrap/src/setupLauréat.ts
  packages/applications/notifications/src/index.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/handleActionnaireModifié.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/handleChangementActionnaireDemandé.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/handleDemandeChangementActionnaireAccordée.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/handleDemandeChangementActionnaireAnnulée.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/handleDemandeChangementActionnaireRejetée.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/index.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/templateIds.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/handleDemandeChangementActionnaireAnnulée.ts
  packages/domain/lauréat/src/actionnaire/actionnaire.aggregate.ts
  packages/domain/lauréat/src/actionnaire/changement/annuler/annulerChangementActionnaire.behavior.ts
  packages/domain/lauréat/src/actionnaire/index.ts
  packages/specifications/src/projet/lauréat/actionnaire/accorderChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/annulerDemandeChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/demanderChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/modifierActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/rejeterDemandeChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/stepDefinitions/actionnaire.then.ts
Due: eslint --fix, prettier -w

✨ Modèle pour accorder un changement d'actionnaire (#2581)
  packages/applications/document-builder/src/assets/docx/actionnaire-modèle-réponse.docx
  packages/applications/document-builder/src/modèleRéponseSignée/abandon/modèleRéponseSignéeAbandon.ts
  packages/applications/document-builder/src/modèleRéponseSignée/actionnaire/modèleRéponseSignéeActionnaire.ts
  packages/applications/document-builder/src/modèleRéponseSignée/générerModèleRéponseSignée.ts
  packages/applications/document-builder/src/modèleRéponseSignée/modèleRéponseSignée.ts
  packages/applications/document-builder/src/modèleRéponseSignée/recours/modèleRéponseSignéeRecours.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getActionnaire.ts
  packages/applications/routes/src/lauréat/actionnaire.routes.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/demander/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/changement/actionnaire/modele-reponse/route.ts
  packages/applications/ssr/src/components/pages/actionnaire/changement/détails/accorder/AccorderChangementActionnaire.form.tsx
  packages/domain/lauréat/src/cahierDesChargesChoisi/consulter/consulterCahierDesChargesChoisi.query.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🐛 Afficher le bon statut dans la bannière du projet
  packages/applications/ssr/src/components/molecules/projet/ProjetBanner.tsx
Due: eslint --fix

✏️ Correction de certains libellés
  packages/applications/ssr/src/components/pages/représentant-légal/_utils/steps/SaisieNom.step.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/_utils/steps/SaisiePièceJustificative.step.tsx
Due: eslint --fix

🐛 Afficher le bon statut dans la bannière du projet (#2587)
  packages/applications/ssr/src/components/molecules/projet/ProjetBanner.tsx
Due: eslint --fix

✏️ Correction de certains libellés (#2588)
  packages/applications/ssr/src/components/pages/représentant-légal/_utils/steps/SaisieNom.step.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/_utils/steps/SaisiePièceJustificative.step.tsx
Due: eslint --fix

✨ Ne pas afficher le type de personne quand on accorde
  packages/applications/ssr/src/components/pages/représentant-légal/changement/détails/accorder/AccorderChangementReprésentantLégal.form.tsx
Due: eslint --fix

🎨 Ne pas afficher lien pour consulter / demander changement si abandon en cours ou attestation conformité transmise
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getAbandon.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getAttestationDeConformité.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getReprésentantLégal.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/index.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectActions.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/Contact.tsx
  packages/specifications/src/projet/lauréat/représentant-légal/modifierReprésentantLégal.feature
Due: eslint --fix, prettier -w

🎨 Ajout regle CDC pour actionaire
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectActions.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales/InfoActionnaire.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales/index.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
