Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

🐛 Ajout tauxPrévisionnelACC dans exempleMap (comme tauxPrévisionnelACI) pour gérer le cas de l'AO random qui est concerné par ce champ (#4524)
  packages/specifications/src/candidature/candidature.exempleMap.ts
  packages/specifications/src/candidature/stepDefinitions/candidature.when.ts
Due: eslint --fix

🎨 Ajout de code postaux qui matchent avec des résultats ORE (#4525)
  .demo/exempleCandidatsPPE2.csv
Due: none

🗃️ Maj stats publiques dans le dump
  .database/potentiel-dev.dump
Due: none

Mise à jour tableau règles csv instruction DN
  packages/applications/ssr/src/app/candidatures/importer/(demarche-simplifiée)/ImporterCandidaturesParDémarcheNumérique.form.tsx
Due: eslint --fix

🗃️ Maj stats publiques dans le dump (#4526)
  .database/potentiel-dev.dump
Due: none

Mise à jour tableau règles csv instruction DN (#4527)
  packages/applications/ssr/src/app/candidatures/importer/(demarche-simplifiée)/ImporterCandidaturesParDémarcheNumérique.form.tsx
Due: eslint --fix

🗃️ Dump local avec taches raccordement à jour
  .database/potentiel-dev.dump
Due: none

🗃️ Dump local avec taches raccordement à jour (#4528)
  .database/potentiel-dev.dump
Due: none

🐛 Update package-lock and specify root path for next
  package-lock.json
  packages/applications/ssr/next.config.ts
Due: eslint --fix, prettier -w

🐛 Update package-lock and specify root path for next (#4529)
  package-lock.json
  packages/applications/ssr/next.config.ts
Due: eslint --fix, prettier -w

🐛 Fix flaky
  packages/specifications/src/projet/lauréat/puissance/modifierPuissance.feature
Due: prettier -w

🐛 Fix flaky (#4531)
  packages/specifications/src/projet/lauréat/puissance/modifierPuissance.feature
Due: prettier -w

🐛 Force a clean .next build before each deploy
  packages/applications/ssr/package.json
  turbo.json
Due: eslint --fix, prettier -w

🐛 Fix dn schema graphql link
  packages/infrastructure/dn-api-client/codegen.ts
Due: eslint --fix

Hotfix deploiement scalingo remove next bin (#4533)
  packages/applications/ssr/package.json
  packages/infrastructure/dn-api-client/codegen.ts
  turbo.json
Due: eslint --fix, prettier -w

⏪️ Rollback path in nextconfig
  packages/applications/ssr/next.config.ts
Due: eslint --fix

🐛 Rename postcss.config.cjs + update docker-up.sh w/ more retries and verify that the db is up w/ a real request
  .scripts/docker-up.sh
  packages/applications/ssr/postcss.config.cjs
Due: none

⏪️ Rollback path in nextconfig (#4534)
  .scripts/docker-up.sh
  packages/applications/ssr/next.config.ts
  packages/applications/ssr/postcss.config.cjs
Due: eslint --fix

🚧 Redéfinir home pendant la phase de build uniquement
  packages/applications/ssr/package.json
Due: eslint --fix, prettier -w

🚧 Redéfinir home pendant la phase de build uniquement (#4535)
  packages/applications/ssr/package.json
Due: eslint --fix, prettier -w

⬆️ Upgrade storybook to 10.5.10
  package-lock.json
  packages/applications/document-builder/.storybook/main.ts
  packages/applications/document-builder/.storybook/preview.tsx
  packages/applications/document-builder/package.json
  packages/applications/document-builder/src/abandon/accordAbandonAvecRecandidature/accordAbandonAvecRecandidature.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/attestation.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/cre4/v0/attestation.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/cre4/v1/attestation.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v1/ppe2.elimine.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v1/ppe2.laureat.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/ppe2.elimine.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/ppe2.laureat.stories.tsx
  packages/applications/document-builder/src/synthèsePériode/synthèsePériode.stories.tsx
Due: eslint --fix, prettier -w

🐛 Fix autoconsommation métropole typo in stories
  packages/applications/document-builder/package.json
  packages/applications/document-builder/src/candidature/attestation/ppe2/v1/ppe2.laureat.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/ppe2.laureat.stories.tsx
Due: eslint --fix, prettier -w

update/ajout périodes à venir
  packages/domain/inmemory-referential/src/appelOffre/PPE2/eolien.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/petitPV.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/sol.ppe2.ts
Due: eslint --fix

Update/ajout périodes à venir (#4538)
  packages/domain/inmemory-referential/src/appelOffre/PPE2/eolien.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/petitPV.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/sol.ppe2.ts
Due: eslint --fix

fix incompatibilité node:crypto avec vite
  packages/applications/document-builder/src/synthèsePériode/SynthèsePériode.tsx
Due: eslint --fix

visuel
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/garanties-financieres/DétailsGarantiesFinancières.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/garanties-financieres/actuelles/enregistrer/EnregistrerGarantiesFinancières.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/garanties-financieres/depot/DétailsDépôtGarantiesFinancièresPage.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/garanties-financieres/depot/modifier/ModifierDépôtGarantiesFinancières.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/garanties-financieres/depot/soumettre/SoumettreDépôtGarantiesFinancières.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/garanties-financieres/depot/soumettre/SoumettreDépôtGarantiesFinancières.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/garanties-financieres/mainlevee/DétailsMainlevée.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/garanties-financieres/mainlevee/page.tsx
  packages/applications/ssr/src/components/molecules/ConfirmationAction.tsx
  packages/applications/ssr/src/components/molecules/LinkAction.tsx
  packages/applications/ssr/src/components/templates/ActionsPage.template.tsx
Due: eslint --fix

🐛 Le endpoint achevements/a-transmettre ne doit pas exclure les projets sans typologie d'installation ni accès PP
  packages/domain/projet/src/lauréat/achèvement/lister/listerProjetAvecAchevementATransmettre.query.ts
Due: eslint --fix

menu à gauche
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getLauréatMenuItems.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/documents/(sections)/Documents.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/garanties-financieres/DétailsGarantiesFinancières.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/garanties-financieres/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/getGarantiesFinancières.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🐛 Le endpoint achevements/a-transmettre ne doit pas exclure les projets sans typologie d'installation ni accès PP (#4541)
  packages/domain/projet/src/lauréat/achèvement/lister/listerProjetAvecAchevementATransmettre.query.ts
Due: eslint --fix

🎨 Fixer et mettre à jour le storybook (#4537)
  package-lock.json
  packages/applications/document-builder/.storybook/main.ts
  packages/applications/document-builder/.storybook/preview.tsx
  packages/applications/document-builder/package.json
  packages/applications/document-builder/src/abandon/accordAbandonAvecRecandidature/accordAbandonAvecRecandidature.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/attestation.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/cre4/v0/attestation.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/cre4/v1/attestation.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v1/ppe2.elimine.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v1/ppe2.laureat.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/ppe2.elimine.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/ppe2.laureat.stories.tsx
  packages/applications/document-builder/src/synthèsePériode/SynthèsePériode.tsx
  packages/applications/document-builder/src/synthèsePériode/synthèsePériode.stories.tsx
Due: eslint --fix, prettier -w

🚸 Ajout d'un bouton retour vers la page précédente (page lauréat) pour la demande d'abandon
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/demander/DemanderAbandon.form.tsx
Due: eslint --fix

🚸 Ajout d'un bouton retour vers la page précédente (page lauréat) pour la demande d'abandon (#4543)
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/demander/DemanderAbandon.form.tsx
Due: eslint --fix

🗃️ Missing rebuild projection éliminé
  .database/potentiel-dev.dump
Due: none

🚸 Ne pas afficher la date de l'accord du recours en doublon (date déjà affichée à gauche dans l'historique)
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(historique)/events/mapToRecoursAccordéTimelineItemProps.tsx
Due: eslint --fix

alertes
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/garanties-financieres/components/ArchivesGarantiesFinancières.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/garanties-financieres/depot/DétailsDépôtGarantiesFinancièresPage.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/garanties-financieres/depot/modifier/ModifierDépôtGarantiesFinancières.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/garanties-financieres/depot/soumettre/SoumettreDépôtGarantiesFinancières.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/garanties-financieres/depot/soumettre/SoumettreDépôtGarantiesFinancières.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/raccordements/(raccordement-du-projet)/(détails)/DétailsRaccordementDuProjetPage.tsx
Due: eslint --fix

✅ Permettre à l'administration de corriger numéro d'identification si projet en cours d'abandon / abandonné / achevé
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/numero-identification/corriger/corrigerNuméroIdentification.action.ts
  packages/domain/projet/src/lauréat/producteur/numéroIdentification/corriger/corrigerNuméroIdentification.command.ts
  packages/domain/projet/src/lauréat/producteur/numéroIdentification/corriger/corrigerNuméroIdentification.option.ts
  packages/domain/projet/src/lauréat/producteur/numéroIdentification/corriger/corrigerNuméroIdentification.usecase.ts
  packages/domain/projet/src/lauréat/producteur/producteur.aggregate.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/projet/lauréat/producteur/corrigerNuméroIdentification.feature
  packages/specifications/src/projet/lauréat/producteur/stepDefinitions/producteur.when.ts
Due: eslint --fix, prettier -w

🎨 Simplification wording permissions
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/informations-generales/(sections)/Producteur.section.tsx
  packages/domain/projet/src/lauréat/producteur/producteur.aggregate.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🗃️ Missing rebuild projection éliminé (#4544)
  .database/potentiel-dev.dump
Due: none

🚸 Ne pas afficher la date de l'accord du recours en doublon (date déjà affichée à gauche dans l'historique) (#4545)
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(historique)/events/mapToRecoursAccordéTimelineItemProps.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
