Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml,feature}": "prettier -w"
}

resolve conflicts package lock
  .husky/prepare-commit-msg
  package-lock.json
  package.json
Due: eslint --fix, prettier -w

📝 Update docs
  docs/contributing/GETTING_STARTED.md
Due: eslint --fix

Update packages/domain/projet/src/candidature/candidature.error.ts
  packages/domain/projet/src/candidature/candidature.error.ts
Due: eslint --fix

🐛 Wording error
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/candidature/importerCandidature.feature
Due: prettier -w

🚸 (Affichage liste utilisateur): Ordre filtres pour Dreal
  packages/applications/ssr/src/app/utilisateurs/(liste)/page.tsx
Due: eslint --fix

🔧 Configuration Gitmoji dans le repo (#3393)
  .husky/prepare-commit-msg
  docs/contributing/GETTING_STARTED.md
  package-lock.json
  package.json
Due: eslint --fix, prettier -w

🚸 (Affichage liste utilisateur): Ordre filtres pour Dreal (POT-1763) (#3394)
  packages/applications/ssr/src/app/utilisateurs/(liste)/page.tsx
Due: eslint --fix

📝 Documentation API Achèvement
  docs/apis/API_ACHEVEMENT.md
  docs/apis/API_RACCORDEMENT.md
  package-lock.json
  packages/applications/api-documentation/package.json
  packages/applications/api-documentation/src/achèvement.tsp
  packages/applications/api-documentation/src/lauréat.tsp
  packages/applications/api-documentation/src/main.tsp
  packages/applications/api-documentation/src/raccordement.tsp
  packages/applications/api-documentation/src/shared.tsp
  packages/applications/ssr/src/app/api/openapi/route.ts
Due: eslint --fix, prettier -w

📝 Documentation API Achèvement (#3395)
  docs/apis/API_ACHEVEMENT.md
  docs/apis/API_RACCORDEMENT.md
  package-lock.json
  packages/applications/api-documentation/package.json
  packages/applications/api-documentation/src/achèvement.tsp
  packages/applications/api-documentation/src/lauréat.tsp
  packages/applications/api-documentation/src/main.tsp
  packages/applications/api-documentation/src/raccordement.tsp
  packages/applications/api-documentation/src/shared.tsp
  packages/applications/ssr/src/app/api/openapi/route.ts
Due: eslint --fix, prettier -w

🚧 WIP
  packages/applications/projectors/src/subscribers/candidature/candidatureCorrigéeV1.projector.ts
  packages/applications/projectors/src/subscribers/candidature/candidatureImportéeV1.projector.ts
  packages/domain/projet/src/candidature/candidature.aggregate.ts
  packages/domain/projet/src/candidature/candidature.entity.ts
  packages/domain/projet/src/candidature/corriger/candidatureCorrigée.event.ts
  packages/domain/projet/src/candidature/dépôt.valueType.ts
  packages/domain/projet/src/candidature/importer/candidatureImportée.event.ts
  packages/domain/projet/src/candidature/index.ts
  packages/domain/projet/src/candidature/typeInstallationsAgrivoltaiques.valueType.ts
  packages/domain/projet/src/candidature/typologieBâtiment.valueType.ts
  packages/domain/projet/src/candidature/typologieInstallation.valueType.ts
  packages/infrastructure/ds-api-client/src/dépôt.ts
  packages/infrastructure/ds-api-client/src/specialFields.ts
  packages/specifications/src/candidature/candidature.exempleMap.ts
  packages/specifications/src/candidature/importerCandidature.feature
Due: eslint --fix, prettier -w

🐛 Échoir des GF avec évènements Dépôt V1
  packages/domain/projet/src/candidature/dépôt.valueType.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.valueType.ts
Due: eslint --fix

🎨 (depot value type): Commit vide
  packages/domain/projet/src/candidature/dépôt.valueType.ts
Due: eslint --fix

🔨 Comment paht igonre on PR workflow
  .github/workflows/pr.yml
  packages/domain/projet/src/candidature/dépôt.valueType.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.valueType.ts
Due: eslint --fix, prettier -w

🐛 Échoir des GF avec évènements Dépôt V1 (#3397)
  .github/workflows/pr.yml
  packages/domain/projet/src/candidature/dépôt.valueType.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.valueType.ts
Due: eslint --fix, prettier -w

🚧 Fix build errors
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/corrigerCandidature.action.ts
  packages/specifications/src/candidature/fixtures/importerCandidature.fixture.ts
Due: eslint --fix

🚧 Récupération des données csv
  packages/applications/ssr/src/utils/candidature/TypologieInstallationCsv.test.ts
  packages/applications/ssr/src/utils/candidature/typologieInstallationCsv.ts
Due: eslint --fix

✅ Map typologie installation depuis les champs du CSV
  packages/applications/ssr/src/utils/candidature/TypologieInstallationCsv.test.ts
  packages/applications/ssr/src/utils/candidature/candidatureCsv.schema.test.ts
  packages/applications/ssr/src/utils/candidature/candidatureCsv.schema.ts
  packages/applications/ssr/src/utils/candidature/candidatureFields.schema.ts
  packages/applications/ssr/src/utils/candidature/csv/mapCsvToTypologieInstallation.ts
  packages/applications/ssr/src/utils/candidature/typologieInstallationCsv.ts
Due: eslint --fix

🚧 WIP
  packages/applications/ssr/src/app/candidatures/importer/ds/importerPériode.action.ts
  packages/applications/ssr/src/utils/candidature/candidatureCsv.schema.ts
  packages/applications/ssr/src/utils/candidature/candidatureFields.schema.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsvFields.schema.ts
  packages/applications/ssr/src/utils/candidature/csv/mapCsvToTypologieInstallation.ts
  packages/applications/ssr/src/utils/candidature/dépôt.schema.ts
Due: eslint --fix

🎨 Fix build
  packages/applications/ssr/src/app/candidatures/importer/ds/importerPériode.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/modifierLauréat.action.ts
  packages/applications/ssr/src/utils/candidature/candidatureFields.schema.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsvFields.schema.ts
  packages/applications/ssr/src/utils/candidature/dépôt.schema.ts
Due: eslint --fix

🚚 Csv related files
  packages/applications/ssr/src/app/candidatures/corriger-par-lot/CorrigerCandidaturesParLot.action.ts
  packages/applications/ssr/src/app/candidatures/importer/importerCandidatures.action.ts
  packages/applications/ssr/src/utils/candidature/csv/candidature.schema.test.ts
  packages/applications/ssr/src/utils/candidature/csv/candidature.schema.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.test.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.ts
  packages/applications/ssr/src/utils/candidature/csv/fournisseurCsv.test.ts
  packages/applications/ssr/src/utils/candidature/csv/fournisseurCsv.ts
  packages/applications/ssr/src/utils/candidature/index.ts
Due: eslint --fix

🎨 Fix value type
  packages/domain/projet/src/candidature/candidature.entity.ts
  packages/domain/projet/src/candidature/typologieInstallation.valueType.ts
Due: eslint --fix

✅ Ajouter vérification des champs du dépôt
  packages/domain/projet/src/candidature/typologieInstallation.valueType.ts
  packages/specifications/src/candidature/stepDefinitions/candidature.then.ts
Due: eslint --fix

✅ Retirer test typologie installation
  packages/specifications/src/candidature/candidature.exempleMap.ts
  packages/specifications/src/candidature/importerCandidature.feature
Due: eslint --fix, prettier -w

📝 Reprise de la documentation d'éxécution des tests
  docs/contributing/GETTING_STARTED.md
Due: eslint --fix

✅ Amélioration test helper
  packages/domain/projet/src/candidature/typologieInstallation.valueType.ts
  packages/specifications/src/candidature/stepDefinitions/candidature.then.ts
Due: eslint --fix

🚸 Harmonisation du design des boutons d'actions
  packages/applications/ssr/src/app/elimine/[identifiant]/recours/(détails)/DétailsRecours.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/(détails)/DétailsAbandon.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/DétailsActionnaire.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/accorder/AccorderChangementActionnaire.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/annuler/AnnulerChangementActionnaire.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/rejeter/RejeterChangementActionnaire.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/DétailsDemandeDélai.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/DétailsPuissance.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/accorder/AccorderChangementPuissance.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/annuler/AnnulerChangementPuissance.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/rejeter/RejeterChangementPuissance.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/DétailsChangementReprésentantLégal.page.tsx
Due: eslint --fix

📝 Reprise de la documentation d'éxécution des tests (#3399)
  docs/contributing/GETTING_STARTED.md
Due: eslint --fix

🗃️ Rebuild candidature
  .database/potentiel-dev.dump
Due: none

✨ Mise en place du valueType TypologieInstallation
  .database/potentiel-dev.dump
  packages/applications/projectors/src/subscribers/candidature/candidatureCorrigéeV1.projector.ts
  packages/applications/projectors/src/subscribers/candidature/candidatureImportéeV1.projector.ts
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/corrigerCandidature.action.ts
  packages/applications/ssr/src/app/candidatures/corriger-par-lot/CorrigerCandidaturesParLot.action.ts
  packages/applications/ssr/src/app/candidatures/importer/ds/importerPériode.action.ts
  packages/applications/ssr/src/app/candidatures/importer/importerCandidatures.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/modifierLauréat.action.ts
  packages/applications/ssr/src/utils/candidature/candidatureFields.schema.ts
  packages/applications/ssr/src/utils/candidature/csv/candidature.schema.test.ts
  packages/applications/ssr/src/utils/candidature/csv/candidature.schema.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.test.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsvFields.schema.ts
  packages/applications/ssr/src/utils/candidature/csv/fournisseurCsv.test.ts
  packages/applications/ssr/src/utils/candidature/csv/fournisseurCsv.ts
  packages/applications/ssr/src/utils/candidature/csv/mapCsvToTypologieInstallation.ts
  packages/applications/ssr/src/utils/candidature/dépôt.schema.ts
  packages/applications/ssr/src/utils/candidature/index.ts
  packages/domain/projet/src/candidature/candidature.aggregate.ts
  packages/domain/projet/src/candidature/candidature.entity.ts
  packages/domain/projet/src/candidature/corriger/candidatureCorrigée.event.ts
  packages/domain/projet/src/candidature/dépôt.valueType.ts
  packages/domain/projet/src/candidature/importer/candidatureImportée.event.ts
  packages/domain/projet/src/candidature/index.ts
  packages/domain/projet/src/candidature/typeInstallationsAgrivoltaiques.valueType.ts
  packages/domain/projet/src/candidature/typologieBâtiment.valueType.ts
  packages/domain/projet/src/candidature/typologieInstallation.valueType.ts
  packages/infrastructure/ds-api-client/src/dépôt.ts
  packages/infrastructure/ds-api-client/src/specialFields.ts
  packages/specifications/src/candidature/candidature.exempleMap.ts
  packages/specifications/src/candidature/fixtures/importerCandidature.fixture.ts
  packages/specifications/src/candidature/importerCandidature.feature
  packages/specifications/src/candidature/stepDefinitions/candidature.then.ts
Due: eslint --fix, prettier -w

🐛 Annuler les Tâches Planifiées GF en cas de changement de producteur
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/specifications/src/projet/lauréat/producteur/enregistrerChangementProducteur.feature
Due: eslint --fix, prettier -w

🚸 Harmonisation du design des boutons d'actions (#3400)
  packages/applications/ssr/src/app/elimine/[identifiant]/recours/(détails)/DétailsRecours.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/(détails)/DétailsAbandon.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/DétailsActionnaire.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/accorder/AccorderChangementActionnaire.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/annuler/AnnulerChangementActionnaire.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/rejeter/RejeterChangementActionnaire.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/DétailsDemandeDélai.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/DétailsPuissance.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/accorder/AccorderChangementPuissance.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/annuler/AnnulerChangementPuissance.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/rejeter/RejeterChangementPuissance.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/DétailsChangementReprésentantLégal.page.tsx
Due: eslint --fix

🐛 Annuler les Tâches Planifiées GF en cas de changement de producteur (#3401)
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/specifications/src/projet/lauréat/producteur/enregistrerChangementProducteur.feature
Due: eslint --fix, prettier -w

✨ Commande CLI pour annuler une tâche planifiée
  packages/applications/cli/src/commands/tache-planifiee/annuler.ts
  packages/applications/cli/src/commands/tache-planifiee/executer.ts
  packages/applications/cli/src/hooks/healthcheck/finally.ts
  packages/domain/projet/src/lauréat/tâche-planifiée/annuler/annulerTâchePlanifiée.command.ts
  packages/domain/projet/src/lauréat/tâche-planifiée/annuler/annulerTâchePlanifiée.usecase.ts
  packages/domain/projet/src/lauréat/tâche-planifiée/exécuter/exécuterTâchePlanifiée.usecase.ts
  packages/domain/projet/src/lauréat/tâche-planifiée/index.ts
  packages/domain/projet/src/lauréat/tâche-planifiée/register.ts
Due: eslint --fix

🚸 Wording info projet achevé
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/DemandeImpossibleInfoBox.tsx
Due: eslint --fix

🚧 Map fields to depôt
  packages/infrastructure/ds-api-client/src/dépôt.ts
  packages/infrastructure/ds-api-client/src/specialFields.ts
Due: eslint --fix

🚸 Wording info projet achevé (#3404)
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/DemandeImpossibleInfoBox.tsx
Due: eslint --fix

✨ Commande CLI pour annuler une tâche planifiée (#3402)
  packages/applications/cli/src/commands/tache-planifiee/annuler.ts
  packages/applications/cli/src/commands/tache-planifiee/executer.ts
  packages/applications/cli/src/hooks/healthcheck/finally.ts
  packages/domain/projet/src/lauréat/tâche-planifiée/annuler/annulerTâchePlanifiée.command.ts
  packages/domain/projet/src/lauréat/tâche-planifiée/annuler/annulerTâchePlanifiée.usecase.ts
  packages/domain/projet/src/lauréat/tâche-planifiée/exécuter/exécuterTâchePlanifiée.usecase.ts
  packages/domain/projet/src/lauréat/tâche-planifiée/index.ts
  packages/domain/projet/src/lauréat/tâche-planifiée/register.ts
Due: eslint --fix

🎨 Affichage d'une infobox si demande abandon en cours pour l'administration
  packages/applications/legacy/src/modules/authN/Permission.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/DemandeEnCoursInfoBox.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/DemandeImpossibleInfoBox.tsx
Due: eslint --fix

✨ Ouverture de la période PPE2 - Sol 8
  packages/domain/inmemory-referential/src/appelOffre/PPE2/sol.ppe2.ts
Due: eslint --fix
