Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

💄 Improve UI
  packages/applications/ssr/src/components/organisms/auth/LoginMethodTile.tsx
Due: eslint --fix

✨ Add email restriction in MagicLinkForm component
  packages/applications/ssr/src/app/auth/signIn/SignIn.page.tsx
  packages/applications/ssr/src/app/auth/signUp/SignUp.page.tsx
  packages/applications/ssr/src/components/organisms/auth/MagicLinkForm.tsx
Due: eslint --fix

💡 Add issue url
  packages/applications/ssr/src/components/organisms/auth/LoginMethodTile.tsx
Due: eslint --fix

✨ Retours sur page de connexion (#2857)
  packages/applications/ssr/src/app/auth/signIn/SignIn.page.tsx
  packages/applications/ssr/src/app/auth/signUp/SignUp.page.tsx
  packages/applications/ssr/src/components/organisms/auth/LoginMethodTile.tsx
  packages/applications/ssr/src/components/organisms/auth/MagicLinkForm.tsx
Due: eslint --fix

🐛 Correction des pages de login et signup, update DSFR
  package-lock.json
  packages/applications/ssr/package.json
  packages/applications/ssr/src/app/auth/signIn/SignIn.page.tsx
  packages/applications/ssr/src/app/auth/signUp/SignUp.page.tsx
  packages/applications/ssr/src/components/organisms/auth/LoginMethodTile.tsx
  packages/applications/ssr/src/components/organisms/auth/MagicLinkForm.tsx
Due: eslint --fix, prettier -w

💄 Alignment
  packages/applications/ssr/src/app/auth/signUp/SignUp.page.tsx
Due: eslint --fix

🐛 Correction des pages de login et signup, update DSFR (#2858)
  package-lock.json
  packages/applications/ssr/package.json
  packages/applications/ssr/src/app/auth/signIn/SignIn.page.tsx
  packages/applications/ssr/src/app/auth/signUp/SignUp.page.tsx
  packages/applications/ssr/src/components/organisms/auth/LoginMethodTile.tsx
  packages/applications/ssr/src/components/organisms/auth/MagicLinkForm.tsx
Due: eslint --fix, prettier -w

🎨 Le graphique des utilisateurs inscrits doit traiter tous les personnas
  .database/metabase-dev.dump
  packages/statistiques/statistiques-publiques/src/07-utilisateur/utilisateurCréation.statistic.ts
Due: eslint --fix

🎨 Stat publique : graphique des utilisateurs inscrits doit traiter tous les personnas (#2859)
  .database/metabase-dev.dump
  packages/statistiques/statistiques-publiques/src/07-utilisateur/utilisateurCréation.statistic.ts
Due: eslint --fix

🧑‍💻 Ajout d'une règle eslint pour éviter les promises flottante (sans await ou non retournée)
  eslint.config.mjs
Due: none

✨ PoC démarches simplifiées import candidature
  package-lock.json
  packages/applications/ssr/package.json
  packages/applications/ssr/src/app/candidatures/importer/ds/page.tsx
  packages/applications/ssr/src/components/pages/candidature/importer/ImporterDémarches.form.tsx
  packages/applications/ssr/src/components/pages/candidature/importer/ImporterDémarches.page.tsx
  packages/applications/ssr/src/components/pages/candidature/importer/importerDémarches.action.ts
  packages/applications/ssr/src/utils/zod/candidature/candidature.schema.ts
  packages/applications/ssr/src/utils/zod/candidature/candidatureFields.schema.ts
  packages/applications/ssr/tsconfig.json
  packages/infrastructure/ds-api-client/codegen.ts
  packages/infrastructure/ds-api-client/package.json
  packages/infrastructure/ds-api-client/src/fragments/Address.graphql
  packages/infrastructure/ds-api-client/src/fragments/Champ.graphql
  packages/infrastructure/ds-api-client/src/fragments/File.graphql
  packages/infrastructure/ds-api-client/src/graphql/client.ts
  packages/infrastructure/ds-api-client/src/graphql/index.ts
  packages/infrastructure/ds-api-client/src/index.ts
  packages/infrastructure/ds-api-client/src/queries/GetDossier.graphql
  packages/infrastructure/ds-api-client/src/test.ts
  packages/infrastructure/ds-api-client/src/types.ts
  packages/infrastructure/ds-api-client/tsconfig.json
Due: eslint --fix, prettier -w

🔧 Update eslint config
  eslint.config.mjs
Due: none

🚨 Fix floating promises errors
  packages/applications/projectors/src/subscribers/tâche/tâchePlanifiée/index.ts
  packages/applications/scheduled-tasks/src/abandon/relancer-abandon-sans-preuve.ts
  packages/applications/scheduled-tasks/src/déplacer-fichiers-vers-bucket-secnum.ts
  packages/applications/scheduled-tasks/src/garanties-financières/récupérer-fichier-gf-candidature-référentiel-dgec.ts
  packages/applications/scheduled-tasks/src/gestionnaireRéseau/index.ts
  packages/applications/scheduled-tasks/src/raccordement/notifier-gestionnaires-réseau.ts
  packages/applications/scheduled-tasks/src/statistiques-publiques/extraire-données-statistiques-publiques.ts
  packages/applications/scheduler/src/index.ts
  packages/applications/ssr/src/utils/formAction.ts
  packages/infrastructure/pg-event-sourcing/src/subscribe/acknowledgement/acknowledge.ts
  packages/libraries/monitoring/src/sentry/sentry.transport.ts
Due: eslint --fix

✨ Introduce ProjetAggregateRoot
  packages/domain/projet/package.json
  packages/domain/projet/src/identifiantProjet.valueType.ts
  packages/domain/projet/src/index.ts
  packages/domain/projet/src/projet.aggregateRoot.ts
  packages/domain/projet/src/statutProjet.valueType.ts
  packages/domain/projet/tsconfig.json
Due: eslint --fix, prettier -w

♻️ Switch ÉliminéAggregate en V2
  packages/domain/core/src/aggregateV2.ts
  packages/domain/core/src/index.ts
  packages/domain/projet/src/getProjetAggregateRoot.port.ts
  packages/domain/projet/src/projet.aggregateRoot.ts
  packages/domain/projet/src/éliminé/archiver/archiverÉliminé.command.ts
  packages/domain/projet/src/éliminé/archiver/archiverÉliminé.options.ts
  packages/domain/projet/src/éliminé/archiver/éliminéArchivé.event.ts
  packages/domain/projet/src/éliminé/notifier/notifierÉliminé.command.ts
  packages/domain/projet/src/éliminé/notifier/notifierÉliminé.option.ts
  packages/domain/projet/src/éliminé/notifier/notifierÉliminé.usecase.ts
  packages/domain/projet/src/éliminé/notifier/éliminéNotifié.event.ts
  packages/domain/projet/src/éliminé/éliminé.aggregate.ts
  packages/domain/projet/src/éliminé/éliminé.event.ts
Due: eslint --fix

♻️ Ajout LoadAggregateV2
  packages/domain/core/src/aggregateV2.ts
  packages/domain/projet/src/projet.aggregateRoot.ts
  packages/domain/projet/src/éliminé/éliminé.aggregate.ts
Due: eslint --fix

♻️ Move consulter éliminé dans package projet
  packages/domain/projet/src/éliminé/consulter/consulterÉliminé.query.ts
  packages/domain/projet/src/éliminé/éliminé.entity.ts
Due: eslint --fix

♻️ Move consulterRecours
  packages/domain/projet/src/éliminé/recours/consulter/consulterDemandeRecoursLegacy.query.ts
  packages/domain/projet/src/éliminé/recours/consulter/consulterRecours.query.ts
  packages/domain/projet/src/éliminé/recours/recours.entity.ts
  packages/domain/projet/src/éliminé/recours/statutRecours.valueType.ts
  packages/domain/projet/src/éliminé/recours/typeDocumentRecours.valueType.ts
Due: eslint --fix

♻️ Refacto suite changement sur les conditions Where
  package-lock.json
  packages/domain/projet/src/éliminé/_utils/getRoleBasedWhereCondition.ts
  packages/domain/projet/src/éliminé/recours/lister/listerRecours.query.ts
Due: eslint --fix, prettier -w

♻️ Move lister recours
  packages/domain/projet/src/éliminé/_utils/getRoleBasedWhereCondition.ts
  packages/domain/projet/src/éliminé/recours/index.ts
  packages/domain/projet/src/éliminé/recours/lister/listerRecours.query.ts
  packages/domain/projet/src/éliminé/éliminé.aggregate.ts
Due: eslint --fix

♻️ Passage de recours sur AggregateV2
  package-lock.json
  packages/domain/projet/package.json
  packages/domain/projet/src/éliminé/index.ts
  packages/domain/projet/src/éliminé/recours/accorder/accorderRecours.command.ts
  packages/domain/projet/src/éliminé/recours/accorder/accorderRecours.usecase.ts
  packages/domain/projet/src/éliminé/recours/accorder/recoursAccordé.event.ts
  packages/domain/projet/src/éliminé/recours/accorder/recoursAccordé.options.ts
  packages/domain/projet/src/éliminé/recours/annuler/annulerRecours.command.ts
  packages/domain/projet/src/éliminé/recours/annuler/annulerRecours.event.ts
  packages/domain/projet/src/éliminé/recours/annuler/annulerRecours.options.ts
  packages/domain/projet/src/éliminé/recours/annuler/annulerRecours.usecase.ts
  packages/domain/projet/src/éliminé/recours/demander/demanderRecours.command.ts
  packages/domain/projet/src/éliminé/recours/demander/demanderRecours.event.ts
  packages/domain/projet/src/éliminé/recours/demander/demanderRecours.options.ts
  packages/domain/projet/src/éliminé/recours/demander/demanderRecours.usecase.ts
  packages/domain/projet/src/éliminé/recours/instruire/passerRecoursEnInstruction.command.ts
  packages/domain/projet/src/éliminé/recours/instruire/passerRecoursEnInstruction.event.ts
  packages/domain/projet/src/éliminé/recours/instruire/passerRecoursEnInstruction.options.ts
  packages/domain/projet/src/éliminé/recours/instruire/passerRecoursEnInstruction.usecase.ts
  packages/domain/projet/src/éliminé/recours/recours.aggregate.ts
  packages/domain/projet/src/éliminé/recours/recours.error.ts
  packages/domain/projet/src/éliminé/recours/recours.event.ts
  packages/domain/projet/src/éliminé/recours/rejeter/rejeterRecours.command.ts
  packages/domain/projet/src/éliminé/recours/rejeter/rejeterRecours.event.ts
  packages/domain/projet/src/éliminé/recours/rejeter/rejeterRecours.options.ts
  packages/domain/projet/src/éliminé/recours/rejeter/rejeterRecours.usecase.ts
  packages/domain/projet/src/éliminé/recours/statutRecours.valueType.ts
  packages/domain/projet/src/éliminé/éliminé.aggregate.ts
  packages/domain/projet/tsconfig.json
Due: eslint --fix, prettier -w

♻️ Reapply changement sur Recours
  packages/domain/projet/src/éliminé/recours/consulter/consulterRecours.query.ts
  packages/domain/projet/src/éliminé/recours/lister/listerRecours.query.ts
  packages/domain/projet/src/éliminé/recours/recours.entity.ts
Due: eslint --fix

♻️ Refacto front & specs
  packages/applications/ssr/src/app/candidatures/[identifiant]/telecharger-attestation/route.ts
  packages/applications/ssr/src/app/recours/page.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/recours/mapToRecoursAccordéTimelineItemProps.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/recours/mapToRecoursAnnuléTimelineItemProps.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/recours/mapToRecoursDemandéTimelineItemProps.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/recours/mapToRecoursPasséEnInstructionTimelineItemProps.tsx
  packages/applications/ssr/src/components/molecules/historique/timeline/recours/mapToRecoursRejetéTimelineItemProps.tsx
  packages/applications/ssr/src/components/pages/recours/StatutRecoursBadge.tsx
  packages/applications/ssr/src/components/pages/recours/demander/demanderRecours.action.ts
  packages/applications/ssr/src/components/pages/recours/détails/DétailsRecours.page.tsx
  packages/applications/ssr/src/components/pages/recours/détails/accorder/accorderRecours.action.ts
  packages/applications/ssr/src/components/pages/recours/détails/annuler/annulerRecours.action.ts
  packages/applications/ssr/src/components/pages/recours/détails/passerEnInstruction/passerRecoursEnInstruction.action.ts
  packages/applications/ssr/src/components/pages/recours/détails/rejeter/rejeterRecours.action.ts
  packages/applications/ssr/src/components/pages/recours/lister/RecoursList.page.tsx
  packages/applications/ssr/src/components/pages/recours/lister/RecoursListItem.tsx
  packages/specifications/src/projet/éliminé/recours/recours.world.ts
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.given.ts
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.then.ts
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.when.ts
  packages/specifications/src/projet/éliminé/stepDefinitions/éliminé.given.ts
  packages/specifications/src/projet/éliminé/éliminé.world.ts
  packages/specifications/src/période/stepDefinitions/période.then.ts
Due: eslint --fix

♻️ Suppression IdentifiantProjet inutile
  packages/domain/projet/src/éliminé/archiver/archiverÉliminé.command.ts
  packages/domain/projet/src/éliminé/consulter/consulterÉliminé.query.ts
  packages/domain/projet/src/éliminé/recours/accorder/accorderRecours.command.ts
  packages/domain/projet/src/éliminé/recours/accorder/recoursAccordé.options.ts
  packages/domain/projet/src/éliminé/recours/annuler/annulerRecours.command.ts
  packages/domain/projet/src/éliminé/recours/annuler/annulerRecours.options.ts
  packages/domain/projet/src/éliminé/recours/consulter/consulterDemandeRecoursLegacy.query.ts
  packages/domain/projet/src/éliminé/recours/demander/demanderRecours.command.ts
  packages/domain/projet/src/éliminé/recours/demander/demanderRecours.options.ts
  packages/domain/projet/src/éliminé/recours/instruire/passerRecoursEnInstruction.command.ts
  packages/domain/projet/src/éliminé/recours/instruire/passerRecoursEnInstruction.options.ts
  packages/domain/projet/src/éliminé/recours/recours.aggregate.ts
  packages/domain/projet/src/éliminé/recours/rejeter/rejeterRecours.command.ts
  packages/domain/projet/src/éliminé/recours/rejeter/rejeterRecours.options.ts
Due: eslint --fix

✨ Ajout loadAggregateV2
  packages/applications/bootstrap/src/adapters/getProjetAggregateRoot.adapter.ts
  packages/applications/bootstrap/src/setupProjet.ts
  packages/domain/projet/src/index.ts
  packages/domain/projet/src/projet.aggregateRoot.ts
  packages/infrastructure/pg-event-sourcing/src/index.ts
  packages/infrastructure/pg-event-sourcing/src/load/loadAggregateV2.ts
Due: eslint --fix

✅ Ajout test load aggregate v2
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getRecours.ts
  packages/applications/legacy/src/modules/project/queries/GetProjectDataForProjectPage.ts
  packages/applications/legacy/src/sagas/éliminé.saga.ts
  packages/domain/core/src/aggregateV2.ts
  packages/infrastructure/pg-event-sourcing/src/load/loadAggregateV2.test.ts
Due: eslint --fix

♻️ Update package.json
  package-lock.json
  packages/applications/scheduled-tasks/package.json
  packages/infrastructure/domain-adapters/package.json
Due: eslint --fix, prettier -w

♻️ Add missing dependencies
  package-lock.json
  packages/domain/projet/package.json
  packages/domain/projet/tsconfig.json
Due: eslint --fix, prettier -w

🐛 Fix missing init call
  packages/domain/projet/src/éliminé/éliminé.aggregate.ts
Due: eslint --fix

🐛 Fix missing exists rules
  packages/domain/projet/src/éliminé/recours/recours.aggregate.ts
  packages/domain/projet/src/éliminé/recours/recours.error.ts
Due: eslint --fix

✨ Ajout assertExists
  packages/domain/core/src/aggregateV2.ts
  packages/domain/projet/src/éliminé/recours/recours.aggregate.ts
  packages/infrastructure/pg-event-sourcing/src/load/loadAggregateV2.ts
Due: eslint --fix

💚 Add node options for the lint
  .github/workflows/shared-workflow.yml
Due: eslint --fix, prettier -w

⚡️ Return projectors handler instead of having 2 promises to resolve
  packages/applications/projectors/src/subscribers/candidature/index.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/index.ts
  packages/applications/projectors/src/subscribers/lauréat/achèvement/index.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/index.ts
  packages/applications/projectors/src/subscribers/lauréat/lauréat/index.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/index.ts
  packages/applications/projectors/src/subscribers/période/index.ts
  packages/applications/projectors/src/subscribers/tâche/tâche/index.ts
  packages/applications/projectors/src/subscribers/tâche/tâchePlanifiée/index.ts
  packages/applications/projectors/src/subscribers/utilisateur/index.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/index.ts
  packages/applications/projectors/src/subscribers/éliminé/éliminé/index.ts
Due: eslint --fix

🔧 Update required max memory for linting
  .github/workflows/shared-workflow.yml
Due: eslint --fix, prettier -w

💚 Update lint github workflow with env variable
  .github/workflows/shared-workflow.yml
Due: eslint --fix, prettier -w

♻️ Simplify projectors
  packages/applications/projectors/src/subscribers/candidature/index.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/index.ts
  packages/applications/projectors/src/subscribers/lauréat/achèvement/index.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/index.ts
  packages/applications/projectors/src/subscribers/lauréat/lauréat/index.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/index.ts
  packages/applications/projectors/src/subscribers/période/index.ts
  packages/applications/projectors/src/subscribers/tâche/tâche/index.ts
  packages/applications/projectors/src/subscribers/tâche/tâchePlanifiée/index.ts
  packages/applications/projectors/src/subscribers/utilisateur/index.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/index.ts
  packages/applications/projectors/src/subscribers/éliminé/éliminé/index.ts
Due: eslint --fix

🐛 Prendre en compte le paragraphe spécifique PPE2 P8 dans les périodes suivantes
  package-lock.json
  packages/applications/document-builder/package.json
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/Laureat.tsx
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/batiment.ppe2.ts
Due: eslint --fix, prettier -w

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
