Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml,feature}": "prettier -w"
}

✅ Fix: trying to fix last test
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/importerTypeGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.when.ts
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.given.ts
Due: eslint --fix, prettier -w

✅ Fix: default was corrected
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/importerTypeGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.then.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.when.ts
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.given.ts
Due: eslint --fix, prettier -w

🔥 Suppression invitation partenaires
  packages/applications/legacy/src/config/useCases.config.ts
  packages/applications/legacy/src/controllers/admin/index.ts
  packages/applications/legacy/src/controllers/admin/partnerUsers/getPartnersListPage.ts
  packages/applications/legacy/src/controllers/admin/partnerUsers/index.ts
  packages/applications/legacy/src/controllers/admin/partnerUsers/postInvitePartnerUser.ts
  packages/applications/legacy/src/modules/utilisateur/index.ts
  packages/applications/legacy/src/modules/utilisateur/inviter/InvitationUniqueParUtilisateurError.ts
  packages/applications/legacy/src/modules/utilisateur/inviter/InvitationUtilisateurExistantError.ts
  packages/applications/legacy/src/modules/utilisateur/inviter/InvitationUtilisateurNonAutoriséeError.ts
  packages/applications/legacy/src/modules/utilisateur/inviter/index.ts
  packages/applications/legacy/src/modules/utilisateur/inviter/inviterUtilisateur.spec.ts
  packages/applications/legacy/src/modules/utilisateur/inviter/inviterUtilisateur.ts
  packages/applications/legacy/src/routes.ts
  packages/applications/legacy/src/views/components/UI/organisms/UserNavigation.tsx
  packages/applications/legacy/src/views/index.ts
  packages/applications/legacy/src/views/pages/index.ts
  packages/applications/legacy/src/views/pages/partnersListPage/PartnersList.tsx
  packages/applications/legacy/src/views/pages/partnersListPage/index.ts
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
Due: eslint --fix

🔥 Suppression invitation partenaires (#2441)
  packages/applications/legacy/src/config/useCases.config.ts
  packages/applications/legacy/src/controllers/admin/index.ts
  packages/applications/legacy/src/controllers/admin/partnerUsers/getPartnersListPage.ts
  packages/applications/legacy/src/controllers/admin/partnerUsers/index.ts
  packages/applications/legacy/src/controllers/admin/partnerUsers/postInvitePartnerUser.ts
  packages/applications/legacy/src/modules/utilisateur/index.ts
  packages/applications/legacy/src/modules/utilisateur/inviter/InvitationUniqueParUtilisateurError.ts
  packages/applications/legacy/src/modules/utilisateur/inviter/InvitationUtilisateurExistantError.ts
  packages/applications/legacy/src/modules/utilisateur/inviter/InvitationUtilisateurNonAutoriséeError.ts
  packages/applications/legacy/src/modules/utilisateur/inviter/index.ts
  packages/applications/legacy/src/modules/utilisateur/inviter/inviterUtilisateur.spec.ts
  packages/applications/legacy/src/modules/utilisateur/inviter/inviterUtilisateur.ts
  packages/applications/legacy/src/routes.ts
  packages/applications/legacy/src/views/components/UI/organisms/UserNavigation.tsx
  packages/applications/legacy/src/views/index.ts
  packages/applications/legacy/src/views/pages/index.ts
  packages/applications/legacy/src/views/pages/partnersListPage/PartnersList.tsx
  packages/applications/legacy/src/views/pages/partnersListPage/index.ts
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
Due: eslint --fix

🔒️ Vérification des droits l'utilisateur connecté sur l'accès aux documents
  packages/applications/ssr/src/app/documents/[documentKey]/route.ts
Due: eslint --fix

🔒️ Vérification des droits l'utilisateur connecté sur l'accès aux documents (#2442)
  packages/applications/ssr/src/app/documents/[documentKey]/route.ts
Due: eslint --fix

✅ Fix: flakyness du to projection not updated
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/importerTypeGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.when.ts
Due: eslint --fix, prettier -w

✅ Fix: projector
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.then.ts
Due: eslint --fix

✅ Wording test
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerAttestationGarantiesFinancièresActuelles.feature
Due: prettier -w

✅ Hub review and try to remove sleep
  packages/domain/candidature/src/corriger/corrigerCandidature.behavior.ts
  packages/domain/lauréat/src/garantiesFinancières/_utils/appelOffreSoumisAuxGarantiesFinancières.ts
  packages/domain/lauréat/src/garantiesFinancières/_utils/getRoleBasedWhereCondition.ts
  packages/domain/lauréat/src/garantiesFinancières/dépôtEnCours/lister/listerDépôtsEnCoursGarantiesFinancières.query.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancières.saga.ts
  packages/domain/lauréat/src/garantiesFinancières/index.ts
  packages/domain/lauréat/src/garantiesFinancières/mainlevée/lister/listerMainlevéesGarantiesFinancières.query.ts
  packages/domain/lauréat/src/garantiesFinancières/projetEnAttenteDeGarantiesFinancières/lister/listerProjetsAvecGarantiesFinancièresEnAttente.query.ts
  packages/domain/lauréat/src/lauréat.saga.ts
  packages/specifications/src/candidature/importerCandidature.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.then.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.when.ts
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.given.ts
Due: eslint --fix, prettier -w

♻️ Meilleur découpage des permission
  packages/domain/utilisateur/src/permission/_utils/droitsMessagesMediator.ts
  packages/domain/utilisateur/src/permission/_utils/policies.ts
  packages/domain/utilisateur/src/permission/_utils/référencielPermissions.ts
  packages/domain/utilisateur/src/permission/index.ts
  packages/domain/utilisateur/src/permission/role/acheteurObligé.ts
  packages/domain/utilisateur/src/permission/role/admin.ts
  packages/domain/utilisateur/src/permission/role/caisseDesDépôts.ts
  packages/domain/utilisateur/src/permission/role/cre.ts
  packages/domain/utilisateur/src/permission/role/dreal.ts
  packages/domain/utilisateur/src/permission/role/grd.ts
  packages/domain/utilisateur/src/permission/role/index.ts
  packages/domain/utilisateur/src/permission/role/porteurProjet.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🚧 Domain
  packages/domain/lauréat/src/représentantLégal/corriger/corrigerReprésentantLégal.behavior.ts
  packages/domain/lauréat/src/représentantLégal/corriger/corrigerReprésentantLégal.command.ts
  packages/domain/lauréat/src/représentantLégal/corriger/corrigerReprésentantLégal.usecase.ts
  packages/domain/lauréat/src/représentantLégal/index.ts
  packages/domain/lauréat/src/représentantLégal/représentantLégal.aggregate.ts
  packages/domain/lauréat/src/représentantLégal/représentantLégal.register.ts
Due: eslint --fix

✨ Ajout de la page ssr + componennts + routes + storybook
  packages/applications/routes/src/lauréat/index.ts
  packages/applications/routes/src/lauréat/représentantLégal.routes.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/corriger/page.tsx
  packages/applications/ssr/src/components/pages/changement-représentant-légal/corriger/CorrigerReprésentantLégal.form.tsx
  packages/applications/ssr/src/components/pages/changement-représentant-légal/corriger/CorrigerReprésentantLégal.page.tsx
  packages/applications/ssr/src/components/pages/changement-représentant-légal/corriger/CorrigerReprésentantLégal.stories.tsx
  packages/applications/ssr/src/components/pages/changement-représentant-légal/corriger/corrigerReprésentantLégal.action.ts
Due: eslint --fix

✨ Corriger la candidature ou le représentant légal en fonction de l'état du projet
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getNomReprésentantLégal.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getReprésentantLégal.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/index.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/index.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/Contact.tsx
  packages/applications/routes/src/index.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🚧 WIP test cas nominal
  packages/applications/bootstrap/src/setupLauréat.ts
  packages/applications/projectors/src/subscribers/lauréat/représentantLégal.projector.ts
  packages/specifications/src/projet/lauréat/représentant-légal/corrigerReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/fixtures/corrigerReprésentantLégal.fixture.ts
  packages/specifications/src/projet/lauréat/représentant-légal/importerReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/représentantLégal.world.ts
  packages/specifications/src/projet/lauréat/représentant-légal/stepDefinitions/représentantLégal.then.ts
  packages/specifications/src/projet/lauréat/représentant-légal/stepDefinitions/représentantLégal.when.ts
Due: eslint --fix, prettier -w

✅ Corriger le représentant légal d'un projet lauréat
  packages/domain/lauréat/src/représentantLégal/corriger/corrigerReprésentantLégal.behavior.ts
  packages/domain/lauréat/src/représentantLégal/représentantLégal.register.ts
  packages/specifications/src/projet/lauréat/représentant-légal/corrigerReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/stepDefinitions/représentantLégal.when.ts
Due: eslint --fix, prettier -w

✅ Impossible de corriger le représentant légal si le représentant légal n'existe pas pour ce projet
  packages/domain/lauréat/src/représentantLégal/corriger/corrigerReprésentantLégal.behavior.ts
  packages/domain/lauréat/src/représentantLégal/corriger/corrigerReprésentantLégal.command.ts
  packages/specifications/src/projet/lauréat/représentant-légal/corrigerReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/importerReprésentantLégal.feature
Due: eslint --fix, prettier -w

✅ Impossible de corriger le représentant légal avec une valeur identique
  packages/domain/lauréat/src/représentantLégal/corriger/corrigerReprésentantLégal.behavior.ts
  packages/specifications/src/projet/lauréat/représentant-légal/corrigerReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/stepDefinitions/représentantLégal.when.ts
Due: eslint --fix, prettier -w

🎨 Ajouter le représentant légal world au given de lauréat (après notification)
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.given.ts
Due: eslint --fix

🗃️ Update dev dump w/ représentant légal stream
  .database/potentiel-dev.dump
Due: none

⏪️ Do not apply permission middlware by default
  packages/applications/bootstrap/src/bootstrap.ts
  packages/applications/bootstrap/src/index.ts
  packages/applications/cli/src/commands/raccordement/importer-date-mes.ts
  packages/applications/cli/src/commands/raccordement/modifier-grd.ts
  packages/applications/cli/src/commands/raccordement/modifier-référence.ts
  packages/applications/legacy/src/server.ts
  packages/applications/ssr/src/server.ts
  packages/specifications/src/setup.ts
Due: eslint --fix

♻️ Refactor with request context
  package-lock.json
  package.json
  packages/applications/bootstrap/package.json
  packages/applications/bootstrap/src/bootstrap.ts
  packages/applications/bootstrap/src/middlewares/log.middleware.ts
  packages/applications/bootstrap/src/middlewares/permission.middleware.ts
  packages/applications/bootstrap/tsconfig.json
  packages/applications/cli/src/commands/raccordement/importer-date-mes.ts
  packages/applications/cli/src/commands/raccordement/modifier-grd.ts
  packages/applications/cli/src/commands/raccordement/modifier-référence.ts
  packages/applications/legacy/package.json
  packages/applications/legacy/src/infra/keycloak/attachUserToRequestMiddleware.spec.ts
  packages/applications/legacy/src/infra/keycloak/attachUserToRequestMiddleware.ts
  packages/applications/legacy/src/server.ts
  packages/applications/legacy/src/types/jest.d.ts
  packages/applications/legacy/src/types/schemaTypes.ts
  packages/applications/legacy/tsconfig.json
  packages/applications/request-context/package.json
  packages/applications/request-context/src/index.ts
  packages/applications/request-context/src/request-context.ts
  packages/applications/request-context/tsconfig.json
  packages/applications/ssr/package.json
  packages/applications/ssr/src/app/BootstrapApp.tsx
  packages/applications/ssr/src/app/layout.tsx
  packages/applications/ssr/src/server.ts
  packages/applications/ssr/src/utils/getAuthenticatedUser.handler.ts
  packages/applications/ssr/src/utils/withErrorHandling.ts
  packages/applications/ssr/src/utils/withUtilisateur.ts
  packages/applications/ssr/tsconfig.json
  packages/domain/utilisateur/src/index.ts
  packages/specifications/src/setup.ts
Due: eslint --fix, prettier -w

💄 WIP new implem
  packages/applications/ssr/src/app/candidatures/page.tsx
  packages/applications/ssr/src/components/pages/candidature/lister/CandidatureList.page.tsx
  packages/applications/ssr/src/components/pages/période/notifier/notifierPériode.action.ts
  packages/applications/ssr/src/components/pages/réseau/raccordement/transmettre/transmettreDemandeComplèteRaccordement/TransmettreDemandeComplèteRaccordement.page.tsx
  packages/applications/ssr/src/components/templates/ListPage.template.tsx
  packages/applications/ssr/src/utils/formAction.ts
  packages/domain/utilisateur/src/vérifierAccèsProjet/vérifierAccèsProjet.query.ts
Due: eslint --fix

🎨 Cleaning old method
  packages/applications/ssr/src/app/candidatures/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/demande-complete-raccordement:transmettre/page.tsx
  packages/applications/ssr/src/components/atoms/form/FormSuccessAlert.tsx
  packages/applications/ssr/src/components/pages/attestation-conformité/transmettre/transmettreAttestationConformité.action.ts
  packages/applications/ssr/src/components/pages/candidature/lister/CandidatureList.page.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/transmettre/transmettreDemandeComplèteRaccordement/TransmettreDemandeComplèteRaccordement.page.tsx
  packages/applications/ssr/src/components/templates/ListPage.template.tsx
  packages/applications/ssr/src/components/templates/Page.template.tsx
  packages/applications/ssr/src/utils/formAction.ts
  packages/domain/utilisateur/src/vérifierAccèsProjet/vérifierAccèsProjet.query.ts
Due: eslint --fix

⬆️ Upgrade mediateur to 0.3.0
  package-lock.json
  packages/applications/bootstrap/package.json
  packages/applications/legacy/package.json
  packages/applications/notifications/package.json
  packages/applications/projectors/package.json
  packages/applications/ssr/package.json
  packages/domain/candidature/package.json
  packages/domain/core/package.json
  packages/specifications/package.json
Due: eslint --fix, prettier -w

🐛 Login utilisateur sans nom
  packages/applications/ssr/src/auth/convertToken.ts
Due: eslint --fix

🐛 Login utilisateur sans nom (#2447)
  packages/applications/ssr/src/auth/convertToken.ts
Due: eslint --fix

✨ Utilisation d'un stepper pour la modification d'un stream de représentant légal
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/corriger/page.tsx
  packages/applications/ssr/src/components/molecules/step/StepNavigation.tsx
  packages/applications/ssr/src/components/molecules/step/Steps.tsx
  packages/applications/ssr/src/components/pages/changement-représentant-légal/corriger/CorrigerReprésentantLégal.form.tsx
  packages/applications/ssr/src/components/pages/changement-représentant-légal/corriger/CorrigerReprésentantLégal.page.tsx
  packages/applications/ssr/src/components/pages/changement-représentant-légal/corriger/CorrigerReprésentantLégal.stories.tsx
  packages/applications/ssr/src/components/pages/changement-représentant-légal/corriger/corrigerReprésentantLégal.action.ts
  packages/applications/ssr/src/components/pages/changement-représentant-légal/corriger/steps/SaisieCorrectionReprésentantLégal.step.tsx
  packages/applications/ssr/src/components/pages/changement-représentant-légal/corriger/steps/SaisieTypePersonne.step.tsx
  packages/applications/ssr/src/components/pages/changement-représentant-légal/corriger/steps/Validation.step.tsx
  packages/applications/ssr/src/components/pages/changement-représentant-légal/corriger/steps/index.ts
  packages/applications/ssr/src/components/pages/changement-représentant-légal/demander/DemanderChangementReprésentantLégal.form.tsx
Due: eslint --fix

🎨 Correction dans d'autres formlulaire
  packages/applications/ssr/src/components/pages/candidature/corriger-par-lot/CorrigerCandidatures.form.tsx
  packages/applications/ssr/src/components/pages/candidature/corriger/CorrigerCandidature.form.tsx
  packages/applications/ssr/src/components/pages/candidature/corriger/corrigerCandidature.action.ts
  packages/applications/ssr/src/components/pages/candidature/importer/ImporterCandidatures.form.tsx
  packages/applications/ssr/src/components/pages/réseau/gestionnaire/ajouter/ajouterGestionnaireRéseau.action.ts
  packages/applications/ssr/src/components/pages/réseau/gestionnaire/modifier/ModifierGestionnaireRéseau.form.tsx
  packages/applications/ssr/src/components/pages/réseau/gestionnaire/modifier/modifierGestionnaireRéseau.action.ts
  packages/applications/ssr/src/components/pages/réseau/raccordement/corriger-par-lot/CorrigerRéférencesDossier.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/corriger/corrigerRéférenceDossier.action.ts
  packages/applications/ssr/src/components/pages/réseau/raccordement/transmettre/transmettreDemandeComplèteRaccordement/TransmettreDemandeComplèteRaccordement.page.tsx
  packages/applications/ssr/src/components/templates/Page.template.tsx
Due: eslint --fix

⬆️ Upgrade mediateur to 0.3.0 (#2446)
  package-lock.json
  packages/applications/bootstrap/package.json
  packages/applications/legacy/package.json
  packages/applications/notifications/package.json
  packages/applications/projectors/package.json
  packages/applications/ssr/package.json
  packages/domain/candidature/package.json
  packages/domain/core/package.json
  packages/specifications/package.json
Due: eslint --fix, prettier -w

♻️ Refactor authentification avec contexte de requete (#2432)
  package-lock.json
  package.json
  packages/applications/bootstrap/package.json
  packages/applications/bootstrap/src/index.ts
  packages/applications/bootstrap/src/middlewares/log.middleware.ts
  packages/applications/bootstrap/src/middlewares/permission.middleware.ts
  packages/applications/bootstrap/tsconfig.json
  packages/applications/legacy/package.json
  packages/applications/legacy/src/infra/keycloak/attachUserToRequestMiddleware.spec.ts
  packages/applications/legacy/src/infra/keycloak/attachUserToRequestMiddleware.ts
  packages/applications/legacy/src/server.ts
  packages/applications/legacy/src/types/jest.d.ts
  packages/applications/legacy/src/types/schemaTypes.ts
  packages/applications/legacy/tsconfig.json
  packages/applications/request-context/package.json
  packages/applications/request-context/src/index.ts
  packages/applications/request-context/src/request-context.ts
  packages/applications/request-context/tsconfig.json
  packages/applications/ssr/package.json
  packages/applications/ssr/src/app/BootstrapApp.tsx
  packages/applications/ssr/src/app/layout.tsx
  packages/applications/ssr/src/server.ts
  packages/applications/ssr/src/utils/getAuthenticatedUser.handler.ts
  packages/applications/ssr/src/utils/withErrorHandling.ts
  packages/applications/ssr/src/utils/withUtilisateur.ts
  packages/applications/ssr/tsconfig.json
  packages/domain/utilisateur/src/index.ts
Due: eslint --fix, prettier -w

🎨 Trying to make scroll work
  packages/applications/ssr/src/components/atoms/form/FormSuccessAlert.tsx
  packages/applications/ssr/src/components/molecules/ScrollToTop.tsx
  packages/applications/ssr/src/components/pages/attestation-conformité/transmettre/transmettreAttestationConformité.action.ts
  packages/applications/ssr/src/components/pages/candidature/corriger/corrigerCandidature.action.ts
  packages/applications/ssr/src/components/pages/période/notifier/notifierPériode.action.ts
  packages/applications/ssr/src/components/pages/réseau/gestionnaire/ajouter/ajouterGestionnaireRéseau.action.ts
  packages/applications/ssr/src/components/pages/réseau/gestionnaire/modifier/modifierGestionnaireRéseau.action.ts
  packages/applications/ssr/src/components/pages/réseau/raccordement/corriger-par-lot/corrigerRéférencesDossier.action.ts
  packages/applications/ssr/src/components/pages/réseau/raccordement/corriger/corrigerRéférenceDossier.action.ts
  packages/applications/ssr/src/components/templates/Page.template.tsx
Due: eslint --fix

🐛 Fix
  packages/applications/ssr/src/app/candidatures/[identifiant]/telecharger-attestation/route.ts
Due: eslint --fix

🐛 Fix attestation
  packages/applications/ssr/src/app/candidatures/[identifiant]/telecharger-attestation/route.ts
Due: eslint --fix

🐛 Fix attestation si recours (#2451)
  packages/applications/ssr/src/app/candidatures/[identifiant]/telecharger-attestation/route.ts
Due: eslint --fix

🔀 Intégration des modifications de la release 3.34 (#2452)
  packages/applications/ssr/src/app/candidatures/[identifiant]/telecharger-attestation/route.ts
Due: eslint --fix

🎨 WIP cleaning candidature.given
  packages/specifications/src/candidature/candidature.world.ts
  packages/specifications/src/candidature/stepDefinitions/candidature.given.ts
  packages/specifications/src/projet/lauréat/fixtures/notifierLauréat.fixture.ts
  packages/specifications/src/projet/lauréat/lauréat.world.ts
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.given.ts
  packages/specifications/src/projet/éliminé/stepDefinitions/éliminé.given.ts
  packages/specifications/src/projet/éliminé/éliminé.world.ts
Due: eslint --fix
