Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

♻️ Simplification Volume Réservé et note du dernier retenu (#4391)
  packages/applications/document-builder/src/candidature/attestation/AttestationCandidatureOptions.ts
  packages/applications/document-builder/src/candidature/attestation/attestation.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/buildCertificate.ts
  packages/applications/document-builder/src/candidature/attestation/helpers/getDésignationCatégorie.ts
  packages/applications/document-builder/src/candidature/attestation/ppe2/v1/ppe2.elimine.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/Laureat.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/ppe2.elimine.stories.tsx
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/batiment.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/sol.ppe2.ts
  packages/domain/projet/src/lauréat/puissance/valueType/volumeRéservé.valueType.ts
Due: eslint --fix

🔀 Resolve merge conflicts after merge
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/utilisateurs/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/informations-generales/(sections)/Producteur.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/utilisateurs/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/changement/enregistrer/EnregistrerChangementProducteur.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/changement/enregistrer/EnregistrerChangementProducteur.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/changement/enregistrer/InfoBoxProducteur.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/numero-identification/corriger/CorrigerNuméroIdentification.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/numero-identification/corriger/CorrigerNuméroIdentification.page.tsx
  packages/applications/ssr/src/components/organisms/accès/AccèsList.page.tsx
  packages/applications/ssr/src/components/organisms/accès/AccèsListItem.tsx
  packages/applications/ssr/src/components/organisms/accès/retirerAccèsProjet.action.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/batiment.ppe2.ts
Due: eslint --fix

🚸 [Tableau de bord] Infobox abandon en cours (#4383)
  packages/applications/ssr/src/app/_helpers/lauréat/getLauréatSansAbandon.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/AlertesTableauDeBord.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/getDemandesEnCours.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/peutEffectuerUnChangement.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/mainlevee/DétailsMainlevée.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/_helpers/vérifierStatutDuProjetPourModification.ts
  packages/domain/projet/src/lauréat/abandon/consulter/consulterAbandon.query.ts
  packages/specifications/src/projet/lauréat/abandon/abandon.world.ts
Due: eslint --fix

🎨 L'utilisateur doit saisir le nom du RL sans valeur par défaut
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/_helpers/steps/SaisieNom.step.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/components/DemanderOuEnregistrerChangementReprésentantLégal.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/demander/DemanderChangementReprésentantLégal.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/demander/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/enregistrer/EnregistrerChangementReprésentantLégal.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/enregistrer/page.tsx
Due: eslint --fix

♻️ Date limite tranmission DCR
  packages/applications/document-builder/package.json
  packages/applications/document-builder/src/candidature/attestation/cre4/v0/makeCertificate.tsx
  packages/applications/document-builder/src/candidature/attestation/cre4/v1/makeCertificate.tsx
  packages/applications/document-builder/src/candidature/attestation/helpers/formatNumber.ts
  packages/applications/document-builder/src/candidature/attestation/ppe2/v1/Laureat.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/Laureat.tsx
  packages/applications/document-builder/tsconfig.json
  packages/applications/notifications/scripts/build-templates.ts
  packages/applications/notifications/src/subscribers/lauréat/tâche-planifiée/raccordement/handlers/demandeComplèteRaccordementAttendueRelance.handler.ts
  packages/applications/notifications/src/templates/emails/lauréat/raccordement/rappel_transmission_dcr.md
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/Raccordement.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(demande-complète-raccordement)/demande-complete-raccordement:modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/demande-complete-raccordement:transmettre/page.tsx
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole2016.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI2017.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/batiment.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/eolien.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/fessenheim.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/innovation.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/pvEolien.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/sol.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni2017.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/autoconsommationMetropole.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/batiment.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/eolien.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/innovation.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/neutre.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/petitPV.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/petitPVBâtiment.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/sol.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/zni.ppe2.ts
  packages/domain/inmemory-referential/src/index.ts
  packages/domain/inmemory-referential/src/nombresEnToutesLettres.ts
  packages/domain/projet/src/cahierDesCharges.valueType.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
Due: eslint --fix, prettier -w

oubli
  packages/applications/document-builder/src/candidature/attestation/cre4/v1/makeCertificate.tsx
Due: eslint --fix

retours review
  packages/applications/document-builder/src/candidature/attestation/cre4/v0/makeCertificate.tsx
  packages/applications/document-builder/src/candidature/attestation/cre4/v1/makeCertificate.tsx
  packages/applications/notifications/src/templates/emails/lauréat/raccordement/rappel_transmission_dcr.md
  packages/domain/appel-offre/src/appelOffre.entity.ts
Due: eslint --fix

misc post tests
  package-lock.json
  packages/applications/cli/src/commands/tache-planifiee/executer.ts
  packages/applications/document-builder/src/candidature/attestation/attestation.stories.tsx
Due: eslint --fix, prettier -w

ajout test
  packages/specifications/src/projet/lauréat/raccordement/dossierRaccordement/supprimerDossierDuRaccordement.feature
Due: prettier -w

formatterNombreEnToutesLettres
  packages/applications/document-builder/src/candidature/attestation/cre4/v0/makeCertificate.tsx
  packages/applications/document-builder/src/candidature/attestation/cre4/v1/makeCertificate.tsx
  packages/applications/document-builder/src/candidature/attestation/helpers/formatNumber.ts
  packages/applications/document-builder/src/candidature/attestation/ppe2/v1/Laureat.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/Laureat.tsx
Due: eslint --fix

✅ Impossible de demander le changement de représentant légal d'un projet lauréat s'il a le même nom que l'actuel
  packages/domain/projet/src/lauréat/représentantLégal/représentantLégal.aggregate.ts
  packages/domain/projet/src/lauréat/représentantLégal/représentantLégal.errors.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/demanderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.when.ts
Due: eslint --fix, prettier -w

🎨 Utilisation error validation
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/_helpers/schema.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/_helpers/steps/SaisieType.step.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/components/DemanderOuEnregistrerChangementReprésentantLégal.form.tsx
  packages/domain/projet/src/lauréat/représentantLégal/représentantLégal.aggregate.ts
Due: eslint --fix

✅ Impossible d'enregistrer un changement de représentant légal d'un projet lauréat s'il a les même nom que l'actuel
  packages/domain/projet/src/lauréat/représentantLégal/représentantLégal.aggregate.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/enregistrerChangementReprésentantLégal.feature
Due: eslint --fix, prettier -w

🎨 Harmonisation des tests
  packages/specifications/src/projet/lauréat/représentant-légal/changement/accorderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/annulerChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/corrigerChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/demanderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/enregistrerChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/rejeterChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.given.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.when.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/supprimerDemandeChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/modifierReprésentantLégal.feature
Due: eslint --fix, prettier -w

Date mise en service : wording
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/date-mise-en-service/ÉtapeDateMiseEnService.tsx
Due: eslint --fix

💬 Wording error validation
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/_helpers/schema.ts
Due: eslint --fix

tester présence de détail dans les specs
  packages/specifications/src/candidature/stepDefinitions/candidature.then.ts
Due: eslint --fix

🎨 Amélioration steps
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.when.ts
Due: eslint --fix

rebuild candidature
  .database/potentiel-dev.dump
Due: none

✏️ Date mise en service : wording ajout date (#4397)
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/date-mise-en-service/ÉtapeDateMiseEnService.tsx
Due: eslint --fix

Données vérifiées dans la projection détail candidature (#4340)
  .database/potentiel-dev.dump
  packages/applications/projectors/src/subscribers/candidature/_helpers/applyTemplateToPayload.test.ts
  packages/applications/projectors/src/subscribers/candidature/_helpers/applyTemplateToPayload.ts
  packages/applications/projectors/src/subscribers/candidature/_helpers/getTechnologieEolien.test.ts
  packages/applications/projectors/src/subscribers/candidature/_helpers/getTechnologieEolien.ts
  packages/applications/projectors/src/subscribers/candidature/_helpers/mapDétailsToTypeTerrainImplantation.test.ts
  packages/applications/projectors/src/subscribers/candidature/_helpers/mapDétailsToTypeTerrainImplantation.ts
  packages/applications/projectors/src/subscribers/candidature/_helpers/templatesVérificationDétailCandidature.ts
  packages/applications/projectors/src/subscribers/candidature/détailCandidatureImporté.projector.ts
  packages/applications/ssr/src/app/elimines/export/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/NoteInnovation.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/NoteInnovationDétails.tsx
  packages/applications/ssr/src/app/laureats/export/route.ts
  packages/domain/projet/src/candidature/détail/consulter/consulterDétailCandidature.query.ts
  packages/domain/projet/src/candidature/détail/détailCandidature.entity.ts
  packages/domain/projet/src/lauréat/lister/listerLauréatEnrichi.query.ts
  packages/domain/projet/src/lauréat/lister/mapDétailsToTypeTerrainImplantation.test.ts
  packages/domain/projet/src/lauréat/lister/mapDétailsToTypeTerrainImplantation.ts
  packages/domain/projet/src/éliminé/lister/listerÉliminéEnrichi.query.ts
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/candidature/importerCandidature.feature
  packages/specifications/src/candidature/importerCandidature.garantiesFinancières.feature
  packages/specifications/src/candidature/stepDefinitions/candidature.then.ts
Due: eslint --fix, prettier -w

type doc
  packages/domain/projet/src/lauréat/raccordement/documentRaccordement.valueType.ts
  packages/domain/projet/src/lauréat/raccordement/index.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.event.ts
  packages/domain/projet/src/lauréat/raccordement/typeDocumentConventionRaccordement.valueType.ts
Due: eslint --fix

WIP specs, usecase
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/domain/projet/src/lauréat/raccordement/transmettre/documentRaccordement/transmettreDocumentRaccordement.command.ts
  packages/domain/projet/src/lauréat/raccordement/transmettre/documentRaccordement/transmettreDocumentRaccordement.options.ts
  packages/domain/projet/src/lauréat/raccordement/transmettre/documentRaccordement/transmettreDocumentRaccordement.usecase.ts
  packages/specifications/src/projet/lauréat/raccordement/documentConventionDeRaccordement/documentRaccordement.world.ts
  packages/specifications/src/projet/lauréat/raccordement/documentConventionDeRaccordement/fixtures/modifierDocumentRaccordementfixture.ts
  packages/specifications/src/projet/lauréat/raccordement/documentConventionDeRaccordement/fixtures/modifierPropositionTechniqueEtFinancière.fixture.ts
  packages/specifications/src/projet/lauréat/raccordement/documentConventionDeRaccordement/fixtures/transmettreDocumentRaccordement.fixture.ts
  packages/specifications/src/projet/lauréat/raccordement/documentConventionDeRaccordement/fixtures/transmettrePropositionTechniqueEtFinancière.fixture.ts
  packages/specifications/src/projet/lauréat/raccordement/documentConventionDeRaccordement/modifierPropositionTechniqueEtFinancière.feature
  packages/specifications/src/projet/lauréat/raccordement/documentConventionDeRaccordement/propositionTechniqueEtFinancière.world copy.ts
  packages/specifications/src/projet/lauréat/raccordement/documentConventionDeRaccordement/stepDefinitions/documentRaccordement.given.ts
  packages/specifications/src/projet/lauréat/raccordement/documentConventionDeRaccordement/stepDefinitions/documentRaccordement.then.ts
  packages/specifications/src/projet/lauréat/raccordement/documentConventionDeRaccordement/stepDefinitions/documentRaccordement.when.ts
  packages/specifications/src/projet/lauréat/raccordement/documentConventionDeRaccordement/stepDefinitions/propositionTechniqueEtFinancière.given.ts
  packages/specifications/src/projet/lauréat/raccordement/documentConventionDeRaccordement/stepDefinitions/propositionTechniqueEtFinancière.then.ts
  packages/specifications/src/projet/lauréat/raccordement/documentConventionDeRaccordement/stepDefinitions/propositionTechniqueEtFinancière.when.ts
  packages/specifications/src/projet/lauréat/raccordement/documentConventionDeRaccordement/transmettrePropositionTechniqueEtFinancière.feature
  packages/specifications/src/projet/lauréat/raccordement/documentConventionDeRaccordement/transmettreUneConventionDeRaccordement.feature
  packages/specifications/src/projet/lauréat/raccordement/propositionTechniqueEtFinancière/propositionTechniqueEtFinancière.world.ts
  packages/specifications/src/projet/lauréat/raccordement/raccordement.world.ts
Due: eslint --fix, prettier -w

aggregate, register
  packages/domain/projet/src/lauréat/raccordement/documentRaccordement.valueType.ts
  packages/domain/projet/src/lauréat/raccordement/errors.ts
  packages/domain/projet/src/lauréat/raccordement/index.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/référenceDossierRaccordement/modifierRéférenceDossierRaccordement.usecase.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.event.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.register.ts
  packages/domain/projet/src/lauréat/raccordement/transmettre/documentRaccordement/transmettreDocumentRaccordement.command.ts
  packages/domain/projet/src/lauréat/raccordement/transmettre/documentRaccordement/transmettreDocumentRaccordement.options.ts
  packages/domain/projet/src/lauréat/raccordement/transmettre/documentRaccordement/transmettreDocumentRaccordement.usecase.ts
  packages/domain/projet/src/lauréat/raccordement/typeDocumentsRaccordement.valueType.ts
  packages/specifications/src/projet/lauréat/raccordement/documentConventionDeRaccordement/transmettreUnDocumentRaccordement.feature
Due: eslint --fix, prettier -w

bon pour les cas d'erreur
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupRaccordement.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/stepDefinitions/documentRaccordement.then.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/transmettreUnDocumentRaccordement.feature
  packages/specifications/src/projet/lauréat/raccordement/dossierRaccordement/stepDefinitions/dossierRaccordement.then.ts
Due: eslint --fix, prettier -w

fix: document
  packages/applications/cli/src/commands/files/seed.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/documentsRaccordement/documentRaccordementTransmis.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/documentsRaccordement/index.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/propositionTechniqueEtFinancière/propositionTechniqueEtFinancièreModifiéeV2.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/propositionTechniqueEtFinancière/propositionTechniqueEtFinancièreModifiéeV3.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/propositionTechniqueEtFinancière/propositionTechniqueEtFinancièreSignéeTransmiseV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/propositionTechniqueEtFinancière/propositionTechniqueEtFinancièreTransmiseV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/propositionTechniqueEtFinancière/propositionTechniqueEtFinancièreTransmiseV2.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/propositionTechniqueEtFinancière/propositionTechniqueEtFinancièreTransmiseV3.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/mapToRaccordementTimelineItemProps.ts
  packages/domain/projet/src/lauréat/raccordement/consulter/consulterDossierRaccordement.query.ts
  packages/domain/projet/src/lauréat/raccordement/documentRaccordement.valueType.ts
  packages/domain/projet/src/lauréat/raccordement/dossierRaccordement.entity.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/propositionTechniqueEtFinancière/modifierPropositionTechniqueEtFinancière.usecase.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/domain/projet/src/lauréat/raccordement/transmettre/documentRaccordement/transmettreDocumentRaccordement.usecase.ts
  packages/domain/projet/src/lauréat/raccordement/transmettre/propositionTechniqueEtFinancière/transmettrePropositionTechniqueEtFinancière.usecase.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/fixtures/transmettreDocumentRaccordement.fixture.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/stepDefinitions/documentRaccordement.given.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/transmettreUnDocumentRaccordement.feature
  packages/specifications/src/projet/lauréat/raccordement/propositionTechniqueEtFinancière/fixtures/modifierPropositionTechniqueEtFinancière.fixture.ts
  packages/specifications/src/projet/lauréat/raccordement/propositionTechniqueEtFinancière/fixtures/transmettrePropositionTechniqueEtFinancière.fixture.ts
Due: eslint --fix, prettier -w

fix test, renaming query
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(proposition-technique-et-financière)/proposition-technique-et-financiere:modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(proposition-technique-et-financière)/ÉtapePropositionTechniqueEtFinancière.tsx
  packages/domain/projet/src/lauréat/raccordement/consulter/consulterDossierRaccordement.query.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/documentRaccordement.world.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/fixtures/transmettreDocumentRaccordement.fixture.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/transmettreUnDocumentRaccordement.feature
  packages/specifications/src/projet/lauréat/raccordement/dossierRaccordement/stepDefinitions/dossierRaccordement.then.ts
  packages/specifications/src/projet/lauréat/raccordement/propositionTechniqueEtFinancière/stepDefinitions/propositionTechniqueEtFinancière.then.ts
  packages/specifications/src/projet/lauréat/raccordement/raccordement.world.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/nombreTotalPTFDéposées.statistic.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/pourcentagePTFDéposées.statistic.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/pourcentageProjetAvecDCRQuiOntUnePTF.statistic.ts
Due: eslint --fix, prettier -w

lint
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(proposition-technique-et-financière)/proposition-technique-et-financiere:modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(proposition-technique-et-financière)/ÉtapePropositionTechniqueEtFinancière.tsx
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/fixtures/transmettreDocumentRaccordement.fixture.ts
Due: eslint --fix

problems with documents
  packages/applications/cli/src/commands/files/seed.ts
  packages/domain/projet/src/lauréat/raccordement/documentRaccordement.valueType.ts
  packages/domain/projet/src/lauréat/raccordement/index.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/propositionTechniqueEtFinancière/modifierPropositionTechniqueEtFinancière.usecase.ts
  packages/domain/projet/src/lauréat/raccordement/transmettre/documentRaccordement/transmettreDocumentRaccordement.command.ts
  packages/domain/projet/src/lauréat/raccordement/transmettre/documentRaccordement/transmettreDocumentRaccordement.usecase.ts
  packages/specifications/src/projet/lauréat/raccordement/documentConventionDeRaccordement/documentRaccordement.world.ts
  packages/specifications/src/projet/lauréat/raccordement/documentConventionDeRaccordement/fixtures/transmettreDocumentRaccordement.fixture.ts
  packages/specifications/src/projet/lauréat/raccordement/documentConventionDeRaccordement/stepDefinitions/documentRaccordement.given.ts
  packages/specifications/src/projet/lauréat/raccordement/documentConventionDeRaccordement/stepDefinitions/documentRaccordement.when.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/documentRaccordement.world.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/fixtures/transmettreDocumentRaccordement.fixture.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/stepDefinitions/documentRaccordement.given.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/stepDefinitions/documentRaccordement.then.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/stepDefinitions/documentRaccordement.when.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/transmettreUnDocumentRaccordement.feature
  packages/specifications/src/projet/lauréat/raccordement/propositionTechniqueEtFinancière/fixtures/modifierPropositionTechniqueEtFinancière.fixture.ts
  packages/specifications/src/projet/lauréat/raccordement/propositionTechniqueEtFinancière/fixtures/transmettrePropositionTechniqueEtFinancière.fixture.ts
  packages/specifications/src/projet/lauréat/raccordement/propositionTechniqueEtFinancière/modifierPropositionTechniqueEtFinancière.feature
  packages/specifications/src/projet/lauréat/raccordement/propositionTechniqueEtFinancière/propositionTechniqueEtFinancière.world.ts
  packages/specifications/src/projet/lauréat/raccordement/propositionTechniqueEtFinancière/stepDefinitions/propositionTechniqueEtFinancière.given.ts
  packages/specifications/src/projet/lauréat/raccordement/propositionTechniqueEtFinancière/stepDefinitions/propositionTechniqueEtFinancière.then.ts
  packages/specifications/src/projet/lauréat/raccordement/propositionTechniqueEtFinancière/stepDefinitions/propositionTechniqueEtFinancière.when.ts
  packages/specifications/src/projet/lauréat/raccordement/propositionTechniqueEtFinancière/transmettrePropositionTechniqueEtFinancière.feature
  packages/specifications/src/projet/lauréat/raccordement/raccordement.world.ts
Due: eslint --fix, prettier -w

clean transmettre PTF, needs to fix modifier now
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/mapToRaccordementTimelineItemProps.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/référenceDossierRaccordement/modifierRéférenceDossierRaccordement.usecase.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/transmettreUnDocumentRaccordement.feature
  packages/specifications/src/projet/lauréat/raccordement/propositionTechniqueEtFinancière/modifierPropositionTechniqueEtFinancière.feature
  packages/specifications/src/projet/lauréat/raccordement/propositionTechniqueEtFinancière/transmettrePropositionTechniqueEtFinancière.feature
Due: eslint --fix, prettier -w

fixing tests
  packages/domain/projet/src/lauréat/raccordement/errors.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/documentsRaccordement/modifierDocumentRaccordement.usecase.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/documentRaccordement.world.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/fixtures/modifierDocumentRaccordement.fixture.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/modifierUnDocumentRaccordement.feature
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/stepDefinitions/documentRaccordement.given.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/stepDefinitions/documentRaccordement.when.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/transmettreUnDocumentRaccordement.feature
  packages/specifications/src/projet/lauréat/raccordement/propositionTechniqueEtFinancière/modifierPropositionTechniqueEtFinancière.feature
Due: eslint --fix, prettier -w

modifier version simple
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/documentsRaccordement/documentRaccordementModifié.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/documentsRaccordement/index.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/mapToRaccordementTimelineItemProps.ts
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupRaccordement.ts
  packages/domain/projet/src/lauréat/raccordement/errors.ts
  packages/domain/projet/src/lauréat/raccordement/index.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/documentsRaccordement/modifierDocumentRaccordement.command.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/documentsRaccordement/modifierDocumentRaccordement.options.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/documentsRaccordement/modifierDocumentRaccordement.usecase.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.event.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.register.ts
  packages/domain/projet/src/lauréat/raccordement/transmettre/documentsRaccordement/transmettreDocumentRaccordement.command.ts
  packages/domain/projet/src/lauréat/raccordement/transmettre/documentsRaccordement/transmettreDocumentRaccordement.options.ts
  packages/domain/projet/src/lauréat/raccordement/transmettre/documentsRaccordement/transmettreDocumentRaccordement.usecase.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/documentRaccordement.world.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/fixtures/modifierDocumentRaccordement.fixture.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/modifierUnDocumentRaccordement.feature
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/stepDefinitions/documentRaccordement.given.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/stepDefinitions/documentRaccordement.then.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/stepDefinitions/documentRaccordement.when.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/transmettreUnDocumentRaccordement.feature
Due: eslint --fix, prettier -w

🐛 Déselectionner une valeur d'un filtre multiple (#4384)
  packages/applications/routes/src/_helpers/createRoute.ts
  packages/applications/routes/src/_helpers/filterSearchParams.test.ts
  packages/applications/routes/src/_helpers/filterSearchParams.ts
  packages/applications/routes/src/_helpers/withFilters.test.ts
  packages/applications/routes/src/_helpers/withFilters.ts
  packages/applications/routes/src/auth/auth.routes.ts
  packages/applications/routes/src/candidature/candidature.routes.ts
  packages/applications/routes/src/index.ts
  packages/applications/routes/src/lauréat/lauréat.routes.ts
  packages/applications/routes/src/lauréat/puissance.routes.ts
  packages/applications/routes/src/lauréat/raccordement.routes.ts
  packages/applications/routes/src/projet/projet.routes.ts
  packages/applications/routes/src/période/période.routes.ts
  packages/applications/routes/src/utilisateur/utilisateur.routes.ts
  packages/applications/routes/src/éliminé/éliminé.routes.ts
  packages/applications/ssr/src/app/_helpers/optionalStringArray.ts
  packages/applications/ssr/src/app/_helpers/transformToOptionalEnumArray.ts
  packages/applications/ssr/src/app/candidatures/importer/(demarche-simplifiée)/importerCandidaturesParDS.action.ts
  packages/applications/ssr/src/app/export/export.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/historique/CatégorieFilter.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/historique/HistoriqueLauréat.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/historique/page.tsx
  packages/applications/ssr/src/app/periodes/PériodeListItem.tsx
  packages/applications/ssr/src/app/periodes/notifierPériode.action.ts
  packages/applications/ssr/src/app/utilisateurs/(liste)/page.tsx
  packages/applications/ssr/src/components/molecules/Filter.tsx
  packages/applications/ssr/src/components/molecules/ListFilters.tsx
  packages/applications/ssr/src/components/molecules/filters/Filter.tsx
  packages/applications/ssr/src/components/molecules/filters/FiltersTagList.tsx
  packages/applications/ssr/src/components/molecules/filters/useFilters.ts
  packages/applications/ssr/src/components/organisms/ListHeader.tsx
  packages/applications/ssr/src/components/organisms/header/UserBasedRoleNavigation.tsx
Due: eslint --fix

✅ Impossible de modifier le représentant légal s'il a le même nom que l'actuel
  packages/domain/projet/src/lauréat/représentantLégal/représentantLégal.aggregate.ts
  packages/specifications/src/projet/lauréat/représentant-légal/modifierReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/stepDefinitions/représentantLégal.when.ts
Due: eslint --fix, prettier -w

🎨 Impossible de demander / enregistrer un RL avec le meme nom que celui qui existe (#4395)
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/_helpers/schema.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/_helpers/steps/SaisieType.step.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/components/DemanderOuEnregistrerChangementReprésentantLégal.form.tsx
  packages/domain/projet/src/lauréat/représentantLégal/représentantLégal.aggregate.ts
  packages/domain/projet/src/lauréat/représentantLégal/représentantLégal.errors.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/accorderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/annulerChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/corrigerChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/demanderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/enregistrerChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/rejeterChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.given.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.when.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/supprimerDemandeChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/modifierReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/stepDefinitions/représentantLégal.when.ts
Due: eslint --fix, prettier -w

Détail candidature : ajout données pv
  packages/applications/projectors/src/subscribers/candidature/_helpers/applyTemplateToPayload.test.ts
  packages/applications/projectors/src/subscribers/candidature/_helpers/templatesVérificationDétailCandidature.ts
  packages/applications/ssr/src/app/elimines/export/route.ts
  packages/applications/ssr/src/app/laureats/export/route.ts
  packages/domain/projet/src/candidature/détail/détailCandidature.entity.ts
  packages/domain/projet/src/lauréat/lister/listerLauréatEnrichi.query.ts
  packages/domain/projet/src/éliminé/lister/listerÉliminéEnrichi.query.ts
Due: eslint --fix

fix: test for modifier usecase
  packages/domain/projet/src/lauréat/raccordement/errors.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/projet/lauréat/raccordement/demandeComplèteDeRaccordement/modifierRéférenceDemandeComplèteDeRaccordement.feature
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/fixtures/modifierDocumentRaccordement.fixture.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/modifierUnDocumentRaccordement.feature
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/stepDefinitions/documentRaccordement.then.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/stepDefinitions/documentRaccordement.when.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/transmettreUnDocumentRaccordement.feature
  packages/specifications/src/projet/lauréat/raccordement/propositionTechniqueEtFinancière/modifierPropositionTechniqueEtFinancière.feature
Due: eslint --fix, prettier -w

delete old tests and fix others
  packages/specifications/src/projet/lauréat/raccordement/demandeComplèteDeRaccordement/modifierRéférenceDemandeComplèteDeRaccordement.feature
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/stepDefinitions/documentRaccordement.given.ts
  packages/specifications/src/projet/lauréat/raccordement/propositionTechniqueEtFinancière/fixtures/modifierPropositionTechniqueEtFinancière.fixture.ts
  packages/specifications/src/projet/lauréat/raccordement/propositionTechniqueEtFinancière/fixtures/transmettrePropositionTechniqueEtFinancière.fixture.ts
  packages/specifications/src/projet/lauréat/raccordement/propositionTechniqueEtFinancière/modifierPropositionTechniqueEtFinancière.feature
  packages/specifications/src/projet/lauréat/raccordement/propositionTechniqueEtFinancière/propositionTechniqueEtFinancière.world.ts
  packages/specifications/src/projet/lauréat/raccordement/propositionTechniqueEtFinancière/stepDefinitions/propositionTechniqueEtFinancière.given.ts
  packages/specifications/src/projet/lauréat/raccordement/propositionTechniqueEtFinancière/stepDefinitions/propositionTechniqueEtFinancière.then.ts
  packages/specifications/src/projet/lauréat/raccordement/propositionTechniqueEtFinancière/stepDefinitions/propositionTechniqueEtFinancière.when.ts
  packages/specifications/src/projet/lauréat/raccordement/raccordement.world.ts
Due: eslint --fix, prettier -w

amélioration, gestionnaire section, réorganisation
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/test/(raccordement-du-projet)/Dossier.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/test/(raccordement-du-projet)/DossiersRaccordement.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/test/(raccordement-du-projet)/DétailsRaccordementDuProjetPage.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/test/(raccordement-du-projet)/GestionnaireRéseau.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/test/(raccordement-du-projet)/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/test/DétailsRaccordementDuProjetPageTest.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
