Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml,feature}": "prettier -w"
}

♻️ Use sendEmail function instead of builtin nodemailer
  packages/applications/request-context/src/authOptions.ts
Due: eslint --fix

🚧 WIP : Use mailjet to send email
  packages/applications/legacy/.env.template
  packages/applications/request-context/src/authOptions.ts
  packages/applications/ssr/.env.template
Due: eslint --fix

♻️ Improve the auth error page
  packages/applications/request-context/src/authOptions.ts
  packages/applications/routes/src/auth/auth.routes.ts
  packages/applications/ssr/src/app/auth/error/page.tsx
  packages/applications/ssr/src/app/auth/unauthorized/page.tsx
  packages/applications/ssr/src/components/pages/custom-error/CustomError.page.tsx
Due: eslint --fix

💄 Simplify the verifyRequest page design
  packages/applications/ssr/src/app/auth/verifyRequest/page.tsx
Due: eslint --fix

🗃️ Update dev dump with auth schema and tables
  .database/potentiel-dev.dump
Due: none

🚧 Adjust User type
  packages/applications/request-context/src/authOptions.ts
  packages/applications/request-context/src/types.ts
Due: eslint --fix

🚧 Back to something that works with other providers
  packages/applications/request-context/src/authOptions.ts
  packages/applications/request-context/src/refreshToken.ts
  packages/applications/request-context/src/types.ts
Due: eslint --fix

♻️ Add the pg adapter
  packages/applications/request-context/src/ProConnectProvider.ts
  packages/applications/request-context/src/authOptions.ts
  packages/applications/request-context/src/canConnectWithMagicLink.ts
  packages/applications/request-context/src/refreshToken.ts
  packages/applications/request-context/src/types.ts
Due: eslint --fix

✨ Add EmailProvider and now it's working with all other providers !
  packages/applications/request-context/src/authOptions.ts
Due: eslint --fix

♻️ Centralize logic in getProviderAccountUrl
  packages/applications/request-context/src/getProviderConfiguration.ts
  packages/applications/request-context/src/getUtilisateur.ts
Due: eslint --fix

➖ Remove useless nodemailer dependency
  package-lock.json
  packages/applications/request-context/package.json
Due: eslint --fix, prettier -w

💡 Remove commented code
  packages/applications/request-context/src/ProConnectProvider.ts
Due: eslint --fix

♻️ Use statusCode
  packages/applications/ssr/src/app/auth/error/page.tsx
Due: eslint --fix

🔊 Update logs
  packages/applications/request-context/src/authOptions.ts
Due: eslint --fix

✨ Redirect to user dashboard if authenticated on the verify page
  packages/applications/request-context/src/ProConnectProvider.ts
  packages/applications/ssr/src/app/auth/verifyRequest/page.tsx
Due: eslint --fix

♻️ Remove profile function for KeycloakProvider
  packages/applications/request-context/src/authOptions.ts
Due: eslint --fix

♻️ Review error messages
  packages/applications/ssr/src/app/auth/error/page.tsx
  packages/applications/ssr/src/app/auth/signIn/page.tsx
Due: eslint --fix

♻️ Introduce on function for all providers (canConnectWith)
  packages/applications/request-context/src/authOptions.ts
  packages/applications/request-context/src/canConnectWithMagicLink.ts
  packages/applications/request-context/src/canConnectWithProConnect.ts
  packages/applications/request-context/src/canConnectWithProvider.ts
Due: eslint --fix

♻️ Review error messages
  packages/applications/ssr/src/app/auth/error/page.tsx
Due: eslint --fix

🐛 Fix: not import abandon namespace + fix key issue
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/AbandonInfoBox.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/Contact.tsx
Due: eslint --fix

✨ Reprendre l'instruction pour un recours ou un abandon ETQ Admin (#2816)
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getAbandon.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/index.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectActions.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectHeader.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/AbandonInfoBox.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/Contact.tsx
  packages/applications/ssr/src/app/elimine/[identifiant]/recours/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/page.tsx
  packages/applications/ssr/src/components/pages/abandon/détails/DétailsAbandon.page.tsx
  packages/applications/ssr/src/components/pages/abandon/détails/passerEnInstruction/PasserAbandonEnInstruction.form.tsx
  packages/applications/ssr/src/components/pages/recours/détails/DétailsRecours.page.tsx
  packages/applications/ssr/src/components/pages/recours/détails/passerEnInstruction/PasserRecoursEnInstruction.form.tsx
  packages/domain/lauréat/src/abandon/abandon.aggregate.ts
  packages/domain/lauréat/src/abandon/instruire/passerAbandonEnInstruction.behavior.ts
  packages/domain/éliminé/src/recours/instruire/passerRecoursEnInstruction.behavior.ts
  packages/domain/éliminé/src/recours/recours.aggregate.ts
  packages/specifications/src/projet/lauréat/abandon/passerAbandonEnInstruction.feature
  packages/specifications/src/projet/lauréat/abandon/stepDefinitions/abandon.given.ts
  packages/specifications/src/projet/lauréat/abandon/stepDefinitions/abandon.when.ts
  packages/specifications/src/projet/éliminé/recours/passerRecoursEnInstruction.feature
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.when.ts
  packages/specifications/src/utilisateur/fixtures/admin.fixture.ts
Due: eslint --fix, prettier -w

🐛 Fix probléme type colonne (#2822)
  packages/statistiques/statistiques-publiques/sql/utilisateurCreationStatistic.sql
Due: none

🐛 Correction du logo de la période PPE2 - Sol 7
  packages/domain/inmemory-referential/src/appelOffre/PPE2/sol.ppe2.ts
Due: eslint --fix

🐛 Correction du logo de la période PPE2 - Sol 7 (#2830)
  packages/domain/inmemory-referential/src/appelOffre/PPE2/sol.ppe2.ts
Due: eslint --fix

🔥 Remove empty files
  packages/applications/request-context/src/canConnectWithMagicLink.ts
  packages/applications/request-context/src/canConnectWithProConnect.ts
Due: eslint --fix

🔀 Intégration des modifications de la release 3.43 (#2831)
  packages/domain/inmemory-referential/src/appelOffre/PPE2/sol.ppe2.ts
Due: eslint --fix

✨ Permettre une connexion sans mot de passe avec un "magic link" (#2809)
  .database/permissions/grant.sql
  .database/potentiel-dev.dump
  package-lock.json
  packages/applications/legacy/src/views/components/UI/organisms/Header.tsx
  packages/applications/request-context/package.json
  packages/applications/request-context/src/ProConnectProvider.ts
  packages/applications/request-context/src/authOptions.ts
  packages/applications/request-context/src/canConnectWithProConnect.ts
  packages/applications/request-context/src/canConnectWithProvider.ts
  packages/applications/request-context/src/getProviderConfiguration.ts
  packages/applications/request-context/src/types.ts
  packages/applications/request-context/tsconfig.json
  packages/applications/routes/src/auth/auth.routes.ts
  packages/applications/ssr/.env.template
  packages/applications/ssr/src/app/auth/error/page.tsx
  packages/applications/ssr/src/app/auth/signIn/page.tsx
  packages/applications/ssr/src/app/auth/signOut/page.tsx
  packages/applications/ssr/src/app/auth/unauthorized/page.tsx
  packages/applications/ssr/src/app/auth/verifyRequest/page.tsx
  packages/applications/ssr/src/components/molecules/UserHeaderQuickAccessItem.tsx
  packages/applications/ssr/src/components/pages/custom-error/CustomError.page.tsx
  packages/libraries/auth-pg-adapter/package.json
  packages/libraries/auth-pg-adapter/src/index.ts
  packages/libraries/auth-pg-adapter/tsconfig.json
Due: eslint --fix, prettier -w

🔒️ Fix some package security issues
  package-lock.json
Due: eslint --fix, prettier -w

⬆️ Mise à jour du package node-mailjet
  package-lock.json
  packages/applications/legacy/package.json
Due: eslint --fix, prettier -w

⬆️ Update next-auth package to latest
  package-lock.json
  packages/applications/request-context/package.json
  packages/applications/ssr/package.json
Due: eslint --fix, prettier -w

⬆️ Mise à jour de plusieurs packages (#2833)
  package-lock.json
  packages/applications/legacy/package.json
  packages/applications/request-context/package.json
  packages/applications/ssr/package.json
Due: eslint --fix, prettier -w

🐛 Correction de l'affichage des tiles des methodes de login
  packages/applications/ssr/src/app/auth/signIn/page.tsx
  packages/applications/ssr/src/components/organisms/auth/LoginMethodTile.tsx
Due: eslint --fix

✨ Annuler les tâches des GFs quand une demande de mainlevée est accordée
  packages/domain/lauréat/src/garantiesFinancières/mainlevée/accorder/accorderDemandeMainlevéeGarantiesFinancières.usecase.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/échoirGarantiesFinancièresActuelles.feature
Due: eslint --fix, prettier -w

💄 Input size
  packages/applications/ssr/src/app/auth/signIn/page.tsx
Due: eslint --fix

🐛 Correction de l'affichage des tiles des methodes de login (#2834)
  packages/applications/ssr/src/app/auth/signIn/page.tsx
  packages/applications/ssr/src/components/organisms/auth/LoginMethodTile.tsx
Due: eslint --fix

✨ Migration utilisateur : domaine, specs & auth
  packages/applications/bootstrap/src/authorization/vérifierAccèsProjet.ts
  packages/applications/bootstrap/src/bootstrap.ts
  packages/applications/bootstrap/src/middlewares/permission.middleware.ts
  packages/applications/bootstrap/src/setupUtilisateur.ts
  packages/applications/cli/src/commands/users/migrer.ts
  packages/applications/projectors/src/index.ts
  packages/applications/projectors/src/subscribers/utilisateur/index.ts
  packages/applications/projectors/src/subscribers/utilisateur/porteurInvité.projector.ts
  packages/applications/projectors/src/subscribers/utilisateur/utilisateurInvité.projector.ts
  packages/applications/projectors/src/subscribers/utilisateur/utilisateurRebuildTriggered.projector.ts
  packages/applications/request-context/src/getUtilisateur.ts
  packages/domain/utilisateur/src/consulter/consulterUtilisateur.query.ts
  packages/domain/utilisateur/src/groupe.valueType.ts
  packages/domain/utilisateur/src/index.ts
  packages/domain/utilisateur/src/inviter/inviter.behavior.ts
  packages/domain/utilisateur/src/inviter/inviter.command.ts
  packages/domain/utilisateur/src/inviter/inviter.usecase.ts
  packages/domain/utilisateur/src/inviter/inviterPorteur.behavior.ts
  packages/domain/utilisateur/src/inviter/inviterPorteur.command.ts
  packages/domain/utilisateur/src/inviter/inviterPorteur.usecase.ts
  packages/domain/utilisateur/src/lister/listerUtilisateurs.query.ts
  packages/domain/utilisateur/src/register.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/domain/utilisateur/src/trouver/trouverUtilisateur.query.ts
  packages/domain/utilisateur/src/utilisateur.aggregate.ts
  packages/domain/utilisateur/src/utilisateur.entity.ts
  packages/domain/utilisateur/src/utilisateur.valueType.ts
  packages/domain/utilisateur/src/utilisateurInconnu.error.ts
  packages/domain/utilisateur/src/vérifierAccèsProjet/vérifierAccèsProjet.query.ts
  packages/specifications/src/utilisateur/fixtures/inviter/inviter.fixture.ts
  packages/specifications/src/utilisateur/inviterPorteur.feature
  packages/specifications/src/utilisateur/inviterUtilisateur.feature
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.given.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.then.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.when.ts
  packages/specifications/src/utilisateur/utilisateur.world.ts
Due: eslint --fix, prettier -w

🎨 Email Name
  packages/applications/notifications/src/sendEmail.ts
  packages/applications/notifications/src/subscribers/période/période.notification.ts
  packages/applications/notifications/src/subscribers/éliminé/recours.notification.ts
  packages/applications/scheduled-tasks/src/raccordement/notifier-gestionnaires-réseau.ts
  packages/infrastructure/domain-adapters/src/utilisateur/index.ts
  packages/infrastructure/domain-adapters/src/utilisateur/récupérerDrealsParIdentifiantProjet.adapter.ts
  packages/infrastructure/domain-adapters/src/utilisateur/récupérerPorteursParIdentifiantProjet.adapter.ts
  packages/infrastructure/email/src/sendEmail.ts
Due: eslint --fix

⚰️ Retirer vérifierAccèsProjet adapter
  packages/infrastructure/domain-adapters/src/utilisateur/vérifierAccèsProjet.adapter.ts
Due: eslint --fix

🎨 Modifications domaine
  packages/applications/cli/src/commands/users/migrer.ts
  packages/applications/projectors/src/subscribers/utilisateur/porteurInvité.projector.ts
  packages/applications/projectors/src/subscribers/utilisateur/utilisateurInvité.projector.ts
  packages/domain/réseau/src/gestionnaire/lister/listerGestionnaireRéseau.query.ts
  packages/domain/utilisateur/src/consulter/consulterUtilisateur.query.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/domain/utilisateur/src/utilisateur.entity.ts
Due: eslint --fix

🎨 Migrer GRD
  packages/applications/cli/src/commands/users/migrer-grd.ts
Due: eslint --fix
