Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

✨ Ne pas importer les GF en cas de recours accordé (#3381)
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
  packages/domain/projet/src/lauréat/notifier/notifierLauréat.command.ts
  packages/domain/projet/src/lauréat/notifier/notifierLauréat.option.ts
  packages/domain/projet/src/éliminé/recours/recours.aggregate.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.then.ts
  packages/specifications/src/projet/lauréat/producteur/enregistrerChangementProducteur.feature
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
Due: eslint --fix, prettier -w

✨ Ajout puissance de site
  packages/infrastructure/ds-api-client/src/dépôt.ts
Due: eslint --fix

✨ Ajout utilitaire cli pour instruction csv
  package-lock.json
  packages/applications/cli/package.json
  packages/applications/cli/src/commands/candidature/lister-dossiers.ts
Due: eslint --fix, prettier -w

✨ Ne pas restreindre l'encoding du fichier
  packages/applications/ssr/src/app/candidatures/importer/ds/importerPériode.action.ts
Due: eslint --fix

🐛 Fix correction candidature
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/corrigerCandidature.action.ts
  packages/infrastructure/ds-api-client/src/index.ts
Due: eslint --fix

📝 Documentation tester l'intégration
  docs/contributing/DEMARCHES_SIMPLIFIEES.md
Due: eslint --fix

🔇 Console log
  packages/infrastructure/ds-api-client/src/index.ts
Due: eslint --fix

⬆️ Upgrade turbo to 2.5.6
  package-lock.json
  package.json
Due: eslint --fix, prettier -w

⬆️ Mises à jour de sécurité
  package-lock.json
Due: eslint --fix, prettier -w

🎨 Mise à jour des stats publiques relatives à délai
  packages/statistiques/statistiques-publiques/src/03-demandes-de-modification/nombreDeDemandeParCategorie.statistic.ts
  packages/statistiques/statistiques-publiques/src/03-demandes-de-modification/nombreTotalDemande.statistic.ts
Due: eslint --fix

⬆️ Mises à jour de sécurité (#3382)
  package-lock.json
Due: eslint --fix, prettier -w

🎨 Mise à jour des stats publiques relatives à délai (#3384)
  packages/statistiques/statistiques-publiques/src/03-demandes-de-modification/nombreDeDemandeParCategorie.statistic.ts
  packages/statistiques/statistiques-publiques/src/03-demandes-de-modification/nombreTotalDemande.statistic.ts
Due: eslint --fix

⬆️ Mise à jour de Nodejs à la version 24
  .github/workflows/shared-workflow.yml
  .nvmrc
  package.json
Due: eslint --fix, prettier -w

✅ Fix test execution
  packages/applications/request-context/package.json
  packages/infrastructure/pg-event-sourcing/package.json
  packages/infrastructure/pg-projection-read/package.json
  packages/infrastructure/pg-projection-write/package.json
  packages/libraries/iso8601-datetime/package.json
  packages/libraries/monads/package.json
Due: eslint --fix, prettier -w

➖ Remove ts-node
  package-lock.json
  packages/applications/cli/bin/dev.js
  packages/applications/cli/package.json
  packages/applications/legacy/package.json
Due: eslint --fix, prettier -w

♻️ Use Object.groupBy
  packages/applications/ssr/src/app/candidatures/importer/ds/ImporterPériode.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/ListeFournisseurs.tsx
  packages/applications/ssr/src/utils/candidature/fournisseurCsv.ts
Due: eslint --fix

🔧 Adapt tsconfig
  packages/config/tsconfig/package.json
  packages/config/tsconfig/tsconfig.base.json
Due: eslint --fix, prettier -w

🔧 Mise à jour configuration linters
  eslint.config.mjs
  package-lock.json
  package.json
Due: eslint --fix, prettier -w

🚨 Résolution des problèmes de lint
  packages/applications/document-builder/src/modèleRéponseSignée/générerModèleRéponseSignée.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/preuveCandidatureDemandée.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/preuveRecandidatureTransmise.projector.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/modifierLauréat.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/_helpers/steps/SaisieNom.step.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/_helpers/steps/SaisiePièceJustificative.step.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/_helpers/steps/SaisieType.step.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/_helpers/steps/SaisieTypeSociété.step.tsx
  packages/applications/ssr/src/app/reseaux/raccordements/importer/importDatesMiseEnService.action.ts
  packages/applications/ssr/src/components/atoms/form/document/UploadDocument.tsx
  packages/applications/ssr/src/components/molecules/step/Steps.tsx
  packages/applications/ssr/src/types/next-auth.d.ts
  packages/applications/ssr/src/utils/feature-flag/FeatureFlaggedComponent.template.tsx
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/appel-offre/src/référenceCahierDesCharges.valueType.ts
  packages/domain/core/src/plainType.ts
  packages/domain/document/src/consulter/consulterDocumentProjet.query.ts
  packages/domain/projet/src/candidature/lister/listerCandidatures.query.ts
  packages/infrastructure/filigrane-facile-client/src/ajouterFiligrane.ts
  packages/infrastructure/pg-event-sourcing/src/load/loadAggregate.ts
  packages/libraries/file-storage/src/download.ts
  packages/libraries/file-storage/src/fileExists.ts
  packages/libraries/file-storage/src/test-utils.integration.ts
  packages/libraries/http-client/src/get.ts
  packages/libraries/http-client/src/post.ts
  packages/libraries/monitoring/src/logger.ts
Due: eslint --fix

♻️ Refacto du projector gestionnaire de réseau
  packages/applications/projectors/src/index.ts
  packages/applications/projectors/src/subscribers/réseau/gestionnaire-réseau/gestionnaireRéseauAjouté.projector.ts
  packages/applications/projectors/src/subscribers/réseau/gestionnaire-réseau/gestionnaireRéseauAjoutéV1.projector.ts
  packages/applications/projectors/src/subscribers/réseau/gestionnaire-réseau/gestionnaireRéseauRebuildTriggered.projector.ts
  packages/applications/projectors/src/subscribers/réseau/gestionnaire-réseau/index.ts
  packages/applications/projectors/src/subscribers/réseau/gestionnaireRéseau.projector.ts
  packages/domain/réseau/src/gestionnaire/index.ts
  packages/specifications/src/gestionnaireRéseau/ajouterGestionnaireRéseau.feature
  packages/specifications/src/gestionnaireRéseau/modifierGestionnaireRéseau.feature
  packages/specifications/src/gestionnaireRéseau/validerRéférenceDossierRaccordement.feature
Due: eslint --fix, prettier -w

♻️ Refacto du projector gestionnaire de réseau (#3385)
  packages/applications/projectors/src/index.ts
  packages/applications/projectors/src/subscribers/réseau/gestionnaire-réseau/gestionnaireRéseauAjouté.projector.ts
  packages/applications/projectors/src/subscribers/réseau/gestionnaire-réseau/gestionnaireRéseauAjoutéV1.projector.ts
  packages/applications/projectors/src/subscribers/réseau/gestionnaire-réseau/gestionnaireRéseauRebuildTriggered.projector.ts
  packages/applications/projectors/src/subscribers/réseau/gestionnaire-réseau/index.ts
  packages/applications/projectors/src/subscribers/réseau/gestionnaireRéseau.projector.ts
  packages/domain/réseau/src/gestionnaire/index.ts
  packages/specifications/src/gestionnaireRéseau/ajouterGestionnaireRéseau.feature
  packages/specifications/src/gestionnaireRéseau/modifierGestionnaireRéseau.feature
  packages/specifications/src/gestionnaireRéseau/validerRéférenceDossierRaccordement.feature
Due: eslint --fix, prettier -w

🔧 Configuration de Biome en remplacement de prettier et eslint
  .lintstagedrc
  .prettierignore
  .prettierrc
  biome.jsonc
  eslint.config.mjs
  package-lock.json
  package.json
  packages/applications/bootstrap/src/bootstrap.ts
  packages/specifications/package.json
Due: eslint --fix, prettier -w

🎨 Apply format
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/Laureat.tsx
  packages/applications/scheduled-tasks/src/garanties-financières/récupérer-fichier-gf-candidature-référentiel-dgec.ts
  packages/domain/core/src/plainType.ts
  packages/domain/projet/src/lauréat/garanties-financières/actuelles/enregistrer/enregistrerGarantiesFinancières.usecase.ts
  packages/domain/projet/src/lauréat/garanties-financières/actuelles/modifier/modifierGarantiesFinancières.usecase.ts
  packages/domain/période/src/lister/listerPériodesNonNotifiées.ts
  packages/domain/période/src/lister/listerToutesLesPériodes.ts
  packages/specifications/src/raccordement/raccordement.world.ts
Due: eslint --fix

🐛 Correction de l'import React dans document-builder
  packages/applications/document-builder/tsconfig.json
Due: eslint --fix, prettier -w

🚨 Manual lint resolutions
  packages/applications/document-builder/src/abandon/accordAbandonAvecRecandidature/accordAbandonAvecRecandidature.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/cre4/v0/attestation.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/cre4/v1/attestation.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v1/ppe2.elimine.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v1/ppe2.laureat.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/ppe2.elimine.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/ppe2.laureat.stories.tsx
  packages/applications/ssr/src/middlewares/middleware.ts
  packages/applications/ssr/src/utils/formAction.ts
  packages/applications/ssr/src/utils/withErrorHandling.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
  packages/domain/projet/src/lauréat/puissance/changement/accorder/accorderChangementPuissance.usecase.ts
  packages/specifications/src/projet/lauréat/fournisseur/fournisseur.world.ts
Due: eslint --fix

🎨 Node prefix
  .github/getPatchVersion.ts
  packages/applications/api-documentation/src/index.ts
  packages/applications/cli/src/commands/document/générer.ts
  packages/applications/cli/src/helpers/reporter.ts
  packages/applications/document-builder/src/modèleRéponseSignée/générerModèleRéponseSignée.ts
  packages/applications/request-context/src/request-context.ts
  packages/applications/scheduled-tasks/src/garanties-financières/récupérer-fichier-gf-candidature-référentiel-dgec.ts
  packages/applications/ssr/src/components/molecules/Search.tsx
  packages/applications/ssr/src/server.ts
  packages/domain/document/src/consulter/consulterDocumentProjet.query.ts
  packages/domain/document/src/documentProjet.valueType.ts
  packages/domain/document/src/dossierProjet.valueType.ts
  packages/infrastructure/pg-event-sourcing/src/subscribe/eventStreamEmitter.ts
  packages/libraries/file-storage/src/copyFolder.integration.ts
  packages/libraries/file-storage/src/copyFolder.ts
  packages/specifications/src/helpers/createS3ClientWithMD5.ts
  packages/specifications/src/setup.ts
Due: eslint --fix

🚨 UseParseIntRadix
  packages/applications/cli/src/commands/délai/migrer.ts
  packages/applications/request-context/src/authOptions.ts
  packages/applications/ssr/src/app/candidatures/(liste)/page.tsx
  packages/applications/ssr/src/app/garanties-financieres/demandes-mainlevee-en-cours/page.tsx
  packages/applications/ssr/src/app/periodes/page.tsx
  packages/applications/ssr/src/app/reclamer/page.tsx
  packages/applications/ssr/src/app/reseaux/gestionnaires/(liste)/page.tsx
Due: eslint --fix

🚨 Prefer template literals useTemplate
  packages/applications/cli/src/commands/fournisseur/migrer.ts
  packages/applications/cli/src/helpers/reporter.ts
  packages/applications/document-builder/src/candidature/attestation/cre4/v0/makeCertificate.tsx
  packages/applications/document-builder/src/candidature/attestation/cre4/v1/makeCertificate.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v1/Header.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/Logo/Gouvernement.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/Logo/MCE.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/Logo/MEFSIN.tsx
  packages/applications/ssr/src/utils/candidature/fournisseurCsv.ts
Due: eslint --fix

🚨 Unused errors in catch
  packages/applications/cli/src/commands/délai/migrer.ts
  packages/applications/document-builder/src/modèleRéponseSignée/générerModèleRéponseSignée.ts
  packages/domain/document/src/consulter/consulterDocumentProjet.query.ts
  packages/infrastructure/filigrane-facile-client/src/ajouterFiligrane.ts
  packages/libraries/file-storage/src/download.ts
  packages/libraries/file-storage/src/fileExists.ts
  packages/libraries/file-storage/src/test-utils.integration.ts
Due: eslint --fix

🚨 Manual resolutions: react
  packages/applications/notifications/src/subscribers/lauréat/garantiesFinancières.notification.ts
  packages/applications/ssr/src/app/auth/signIn/SignIn.page.tsx
  packages/applications/ssr/src/app/auth/signOut/SignOutRedirect.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/modifierLauréat.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/cahier-des-charges/ChoisirCahierDesCharges.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/enregistrer/FournisseursField.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(dépôt)/depot:soumettre/page.tsx
  packages/applications/ssr/src/app/reseaux/gestionnaires/[identifiant]/(modifier)/ModifierGestionnaireRéseau.form.tsx
  packages/applications/ssr/src/app/utilisateurs/(liste)/UtilisateurListItem.tsx
  packages/applications/ssr/src/components/atoms/ReadMore.tsx
  packages/applications/ssr/src/components/atoms/Spinner.tsx
  packages/applications/ssr/src/components/atoms/form/Form.tsx
  packages/applications/ssr/src/components/atoms/form/FormFeedback.tsx
  packages/applications/ssr/src/components/atoms/form/SubmitButton.tsx
  packages/applications/ssr/src/components/molecules/FiltersTagList.tsx
  packages/applications/ssr/src/components/molecules/ListFilters.tsx
  packages/applications/ssr/src/components/molecules/ListLegend.tsx
Due: eslint --fix

🚨 Fix noDoubleEquals
  packages/applications/ssr/src/app/candidatures/importer/ds/ImporterPériode.form.tsx
Due: eslint --fix

🚨 Manual resolutions
  packages/applications/request-context/src/getUtilisateur.ts
  packages/specifications/src/setup.ts
Due: eslint --fix

🚨 NoUnusedFunctionParameters
  packages/applications/ssr/src/app/elimine/[identifiant]/recours/(détails)/accorder/accorderRecours.action.ts
  packages/applications/ssr/src/app/elimine/[identifiant]/recours/demander/demanderRecours.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/(détails)/accorder/accorderAbandonAvecRecandidature.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/(détails)/accorder/accorderAbandonSansRecandidature.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/(détails)/confirmer/confirmerAbandon.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/demander/demanderAbandon.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/modele-reponse/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(mainlevée)/accorder/accorderDemandeMainlevée.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(mainlevée)/annuler/annulerDemandeMainlevée.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(mainlevée)/passerEnInstruction/passerDemandeMainlevéeEnInstruction.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(mainlevée)/rejeter/rejeterDemandeMainlevée.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(gestionnaire-réseau)/gestionnaire:modifier/modifierGestionnaireRéseauRaccordement.action.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/stepDefinitions/dépôtGarantiesFinancières.given.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/stepDefinitions/dépôtGarantiesFinancières.when.ts
  packages/specifications/src/shared/error.steps.ts
Due: eslint --fix

✨ Demander de nouvelles GF quand on échoie des GF actuelles
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/échoirGarantiesFinancièresActuelles.feature
Due: eslint --fix, prettier -w

✅ Tester ajout de la tâche
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/échoirGarantiesFinancièresActuelles.feature
Due: prettier -w

✅ Flaky - innovation n'a pas de GF
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/échoirGarantiesFinancièresActuelles.feature
Due: prettier -w

♻️ Refacto demander GF en fonction des cas
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/domain/projet/src/lauréat/producteur/producteur.aggregate.ts
  packages/domain/projet/src/éliminé/recours/recours.aggregate.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/échoirGarantiesFinancièresActuelles.feature
Due: eslint --fix, prettier -w

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
