Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml,feature}": "prettier -w"
}

🎨 Modifier laureat almost done
  packages/applications/ssr/src/app/candidatures/[identifiant]/DétailsCandidature.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/ModifierLauréat.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/components/fields/NatureDExploitationField.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/getLauréat.ts
  packages/applications/ssr/src/utils/candidature/candidatureNotifiée.schema.ts
Due: eslint --fix

🐛 Corriger les code postaux qui commencent par un 0, retiré par excel
  packages/applications/ssr/src/app/candidatures/_helpers/getLocalité.ts
  packages/applications/ssr/src/app/candidatures/_helpers/getRégionAndDépartementFromCodePostal.test.ts
  packages/applications/ssr/src/app/candidatures/_helpers/index.ts
  packages/applications/ssr/src/utils/candidature/candidatureFields.schema.ts
  packages/domain/inmemory-referential/src/géographie/index.ts
  packages/domain/inmemory-referential/src/géographie/récupérerDépartementRégionParCodePostal.test.ts
  packages/domain/inmemory-referential/src/géographie/récupérerDépartementRégionParCodePostal.ts
  packages/domain/inmemory-referential/src/index.ts
Due: eslint --fix

🎨 Move part of validation to schemas
  package.json
  packages/applications/ssr/src/app/candidatures/_helpers/getLocalité.ts
  packages/applications/ssr/src/utils/candidature/candidatureFields.schema.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.test.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.ts
  packages/domain/inmemory-referential/package.json
  packages/domain/inmemory-referential/src/géographie/index.ts
  packages/domain/inmemory-referential/src/géographie/récupérerDépartementRégionParCodePostal.test.ts
  packages/domain/inmemory-referential/src/géographie/récupérerDépartementRégionParCodePostal.ts
Due: eslint --fix, prettier -w

🎨 Only
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.test.ts
  packages/infrastructure/pg-projection-read/src/findProjection.test.ts
Due: eslint --fix

🎨 Importer la date dé délibération à la notification
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/actuelles/typeGarantiesFinancièresImporté.projector.ts
  packages/applications/ssr/src/utils/historique/mapToProps/garanties-financières/events/actuelles/mapToTypeGarantiesFinancièresImportéTimelineItemsProps.tsx
  packages/domain/projet/src/lauréat/garanties-financières/actuelles/importer/importerGarantiesFinancières.option.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/garantiesFinancièresActuelles.world.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/importerTypeGarantiesFinancièresActuelles.feature
Due: eslint --fix, prettier -w

🐛 Corriger corriger candidature
  packages/applications/ssr/src/app/candidatures/[identifiant]/DétailsCandidature.page.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/CorrigerCandidature.form.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/corrigerCandidature.action.ts
  packages/domain/projet/src/candidature/dépôt.valueType.ts
Due: eslint --fix

♻️ Fixes and refacto
  packages/applications/ssr/src/app/candidatures/_helpers/index.ts
  packages/applications/ssr/src/app/candidatures/corriger-par-lot/CorrigerCandidaturesParLot.action.ts
  packages/applications/ssr/src/app/candidatures/importer/ds/importerPériode.action.ts
  packages/applications/ssr/src/app/candidatures/importer/importerCandidatures.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/components/fields/LocalitéField.tsx
  packages/applications/ssr/src/utils/candidature/candidatureFields.schema.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.test.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsvFields.schema.ts
  packages/applications/ssr/src/utils/candidature/csv/getLocalité.ts
  packages/applications/ssr/src/utils/candidature/schemaBase.ts
Due: eslint --fix

Update packages/applications/ssr/src/app/candidatures/corriger-par-lot/CorrigerCandidaturesParLot.action.ts
  packages/applications/ssr/src/app/candidatures/corriger-par-lot/CorrigerCandidaturesParLot.action.ts
Due: eslint --fix

Update packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/components/fields/LocalitéField.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/components/fields/LocalitéField.tsx
Due: eslint --fix

🎨 Wording GF actuelles si exemption
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(actuelles)/GarantiesFinancièresActuellesActions.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/DétailsGarantiesFinancières.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/components/GarantiesFinancières.tsx
Due: eslint --fix

🎨 Enregistrer attestation
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(actuelles)/actuelles:enregistrer-attestation/EnregistrerAttestationGarantiesFinancières.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(actuelles)/actuelles:enregistrer-attestation/EnregistrerAttestationGarantiesFinancières.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(actuelles)/actuelles:enregistrer-attestation/page.tsx
Due: eslint --fix

🎨 Info main levée
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/page.tsx
Due: eslint --fix

🐛 Corriger les code postaux qui commencent par un 0, retiré par excel (#3480)
  package.json
  packages/applications/ssr/src/app/candidatures/_helpers/getRégionAndDépartementFromCodePostal.test.ts
  packages/applications/ssr/src/app/candidatures/_helpers/index.ts
  packages/applications/ssr/src/app/candidatures/corriger-par-lot/CorrigerCandidaturesParLot.action.ts
  packages/applications/ssr/src/app/candidatures/importer/ds/importerPériode.action.ts
  packages/applications/ssr/src/app/candidatures/importer/importerCandidatures.action.ts
  packages/applications/ssr/src/utils/candidature/candidatureFields.schema.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.test.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsvFields.schema.ts
  packages/applications/ssr/src/utils/candidature/csv/getLocalité.ts
  packages/applications/ssr/src/utils/candidature/schemaBase.ts
  packages/domain/inmemory-referential/package.json
  packages/domain/inmemory-referential/src/géographie/index.ts
  packages/domain/inmemory-referential/src/géographie/récupérerDépartementRégionParCodePostal.test.ts
  packages/domain/inmemory-referential/src/géographie/récupérerDépartementRégionParCodePostal.ts
  packages/domain/inmemory-referential/src/index.ts
  packages/infrastructure/pg-projection-read/src/findProjection.test.ts
Due: eslint --fix, prettier -w

✅ Fix tests
  packages/domain/projet/src/candidature/candidature.aggregate.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.error.ts
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/importerTypeGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/modifierGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/soumettreDépôtGarantiesFinancières.feature
Due: eslint --fix, prettier -w

🎨 Scenario supprimé par erreur
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/demanderMainlevéeGarantiesFinancières.feature
Due: prettier -w

🎨 Addenums raccordement
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/Laureat.tsx
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/petitPVBâtiment.ppe2.ts
Due: eslint --fix

🎨 Règle GF
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/Laureat.tsx
Due: eslint --fix

⏪️ Revert removal of min(1)
  package-lock.json
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/_helpers/addGarantiesFinancièresToSchema.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/demander/demanderChangementPuissance.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(date-mise-en-service)/date-mise-en-service:transmettre/transmettreDateMiseEnService.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(demande-complète-raccordement)/demande-complete-raccordement:modifier/modifierDemandeComplèteRaccordement.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(proposition-technique-et-financière)/proposition-technique-et-financiere:modifier/modifierPropositionTechniqueEtFinancière.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(proposition-technique-et-financière)/proposition-technique-et-financiere:transmettre/transmettrePropositionTechniqueEtFinancière.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/demande-complete-raccordement:transmettre/transmettreDemandeComplèteRaccordement.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(gestionnaire-réseau)/gestionnaire:modifier/modifierGestionnaireRéseauRaccordement.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/_helpers/schema.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/accorder/accorderChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/corriger/corrigerChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/modifier/modifierReprésentantLégal.action.ts
  packages/applications/ssr/src/app/reseaux/gestionnaires/[identifiant]/(modifier)/modifierGestionnaireRéseau.action.ts
  packages/applications/ssr/src/app/reseaux/gestionnaires/ajouter/ajouterGestionnaireRéseau.action.ts
  packages/applications/ssr/src/app/utilisateurs/[identifiant]/(inviter)/inviterPorteur.action.ts
  packages/applications/ssr/src/app/utilisateurs/[identifiant]/retirerAccèsProjet.action.ts
Due: eslint --fix, prettier -w

💄 Affichage options dispositif de stockage
  packages/applications/ssr/src/app/candidatures/[identifiant]/DétailsCandidature.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/components/fields/InstallationAvecDispositifDeStockageField.tsx
Due: eslint --fix

⏪️ More reverts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/accorder/accorderChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/corriger/corrigerChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/app/utilisateurs/(liste)/désactiverUtilisateur.action.ts
  packages/applications/ssr/src/app/utilisateurs/(liste)/réactiverUtilisateur.action.ts
  packages/applications/ssr/src/app/utilisateurs/inviter/inviterUtilisateur.action.ts
  packages/applications/ssr/src/utils/formAction.ts
Due: eslint --fix

💄 Affichage options dispositif de stockage (#3482)
  packages/applications/ssr/src/app/candidatures/[identifiant]/DétailsCandidature.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/components/fields/InstallationAvecDispositifDeStockageField.tsx
Due: eslint --fix

🐛 Fix message
  packages/applications/ssr/src/utils/candidature/csv/_test-shared.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.test.ts
  packages/applications/ssr/src/utils/zod/setupLocale.ts
Due: eslint --fix

♻️ Boolean candidature
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.test.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsvFields.schema.ts
  packages/applications/ssr/src/utils/candidature/schemaBase.ts
Due: eslint --fix

♻️ Booleans
  packages/applications/ssr/src/utils/candidature/csv/booleanSchema.test.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.test.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsvFields.schema.ts
  packages/applications/ssr/src/utils/candidature/schemaBase.ts
Due: eslint --fix

🎨 Valeur par défaut pour puissance à la pointe
  packages/applications/ssr/src/utils/candidature/candidatureFields.schema.ts
Due: eslint --fix

🎨 Remove 1/0
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.test.ts
  packages/applications/ssr/src/utils/candidature/schemaBase.ts
Due: eslint --fix

♻️ Déplacer schema + supprimer redondant
  packages/applications/ssr/src/utils/candidature/csv/booleanSchema.test.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsvFields.schema.ts
  packages/applications/ssr/src/utils/candidature/csv/commonCsv.schema.ts
Due: eslint --fix

🎨 Ok
  packages/applications/ssr/src/components/organisms/Timeline.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/achèvement/events/mapToDateAchèvementPrévisionnelCalculéeProps.tsx
Due: eslint --fix

🎨 Update dev dump
  .database/potentiel-dev.dump
Due: none

🎨 Ajouts
  .database/potentiel-dev.dump
Due: none

🎨 Alignement dans l'historique (#3484)
  packages/applications/ssr/src/components/organisms/Timeline.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/achèvement/events/mapToDateAchèvementPrévisionnelCalculéeProps.tsx
Due: eslint --fix

🎨 Update dev dump (#3486)
  .database/potentiel-dev.dump
Due: none

🚧 Role routes setup
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getNatureDeLExploitation.ts
  packages/applications/routes/src/index.ts
  packages/applications/routes/src/lauréat/index.ts
  packages/applications/routes/src/lauréat/natureDeLExploitation.routes.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/consulter/consulterNatureDeLExploitation.query.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/projet/lauréat/nature-de-l-exploitation/natureDeLExploitation.world.ts
Due: eslint --fix

🎨 Petite refacto page project pour alignement
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getAttestationDeConformité.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/index.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales/InfoAttestationConformité.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales/InfoNatureDeLExploitation.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales/index.tsx
Due: eslint --fix

🎨 Formulaire
  packages/applications/ssr/src/app/laureats/[identifiant]/nature-de-l-exploitation/modifier/ModifierNatureDeLExploitation.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/nature-de-l-exploitation/modifier/ModifierNatureDeLExploitation.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/nature-de-l-exploitation/modifier/modifierNatureDeLExploitation.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/nature-de-l-exploitation/modifier/page.tsx
  packages/applications/ssr/src/utils/candidature/candidatureFields.schema.ts
  packages/applications/ssr/src/utils/candidature/csv/candidature.schema.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.ts
  packages/applications/ssr/src/utils/candidature/dépôt.schema.ts
Due: eslint --fix

fix: modifier lauréat form
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/components/fields/NatureDExploitationField.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/modifierLauréat.action.ts
  packages/applications/ssr/src/utils/candidature/candidatureFields.schema.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/modifier/modifierNatureDeLExploitation.usecase.ts
Due: eslint --fix

🎨 Alignement avec d'autres domaines
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.test.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsvFields.schema.ts
Due: eslint --fix
