Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml,feature}": "prettier -w"
}

✨ Ajout du usecase
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/events/dossier/dateMiseEnService/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/events/dossier/dateMiseEnService/mapToDateMiseEnServiceModifiéeTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/mapToRaccordementTimelineItemProps.ts
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupRaccordement.ts
  packages/domain/projet/src/lauréat/raccordement/index.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/dateMiseEnService/modifierDateMiseEnService.command.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/dateMiseEnService/modifierDateMiseEnService.options.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/dateMiseEnService/modifierDateMiseEnService.usecase.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.event.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.register.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🎨 Utiliser la date stockée dans l'event
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/events/dossier/dateMiseEnService/mapToDateMiseEnServiceModifiéeTimelineItemProps.tsx
Due: eslint --fix

🎨 Ajout des permissions manquantes
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

✅ Impossible de modifier une date de mise en service pour un projet sans date de mise en service
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/specifications/src/raccordement/dateDeMiseEnService/modifierDateMiseEnService.feature
  packages/specifications/src/raccordement/dateDeMiseEnService/stepDefinitions/dateMiseEnService.when.ts
Due: eslint --fix, prettier -w

🎨 Transformer les méthodes helpers des specs dans le format conventionnel
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/events/dossier/dateMiseEnService/mapToDateMiseEnServiceModifiéeTimelineItemProps.tsx
  packages/specifications/src/raccordement/dateDeMiseEnService/modifierDateMiseEnService.feature
  packages/specifications/src/raccordement/dateDeMiseEnService/stepDefinitions/dateMiseEnService.given.ts
  packages/specifications/src/raccordement/dateDeMiseEnService/stepDefinitions/dateMiseEnService.when.ts
Due: eslint --fix, prettier -w

modification URL projet autres conséquences
  packages/specifications/src/projet/lauréat/achèvement/calculerDateAchèvementPrévisionnel.feature
  packages/specifications/src/projet/lauréat/achèvement/transmettreAttestationConformité.feature
  packages/specifications/src/projet/lauréat/achèvement/transmettreDateAchèvement.feature
  packages/specifications/src/projet/lauréat/choisirCahierDesCharges.feature
  packages/specifications/src/projet/lauréat/puissance/changement/accorderChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/annulerChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/enregistrerChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/rejeterChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/modifierPuissance.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/accorderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/annulerChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/enregistrerChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/rejeterChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/modifierReprésentantLégal.feature
Due: prettier -w

✨ Rôle Visiteur
  packages/applications/notifications/src/subscribers/utilisateur/handlers/utilisateurInvité.handler.ts
  packages/applications/projectors/src/subscribers/utilisateur/rôleUtilisateurModifié.projector.ts
  packages/applications/projectors/src/subscribers/utilisateur/utilisateurInvité.projector.ts
  packages/applications/projectors/src/subscribers/utilisateur/utilisateurInvitéV1.projector.ts
  packages/applications/request-context/src/getUtilisateur.ts
  packages/applications/routes/src/accès/accès.routes.ts
  packages/applications/routes/src/utilisateur/utilisateur.routes.ts
  packages/applications/ssr/src/app/(homepage)/Bienvenue.tsx
  packages/applications/ssr/src/app/go-to-user-dashboard/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/changement/enregistrer/InfoBoxProducteur.tsx
  packages/applications/ssr/src/app/reclamer/réclamerProjet.action.ts
  packages/applications/ssr/src/components/organisms/header/UserBasedRoleNavigation.tsx
  packages/applications/ssr/src/utils/getDashboardRoute.ts
  packages/applications/ssr/src/utils/utilisateur/format-role.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/domain/utilisateur/src/utilisateur.aggregate.ts
  packages/domain/utilisateur/src/utilisateur.error.ts
  packages/domain/utilisateur/src/utilisateur.valueType.ts
  packages/specifications/src/utilisateur/inviterUtilisateur.feature
Due: eslint --fix, prettier -w

🎨 Fixer taille
  packages/applications/ssr/src/app/export/export.page.tsx
Due: eslint --fix

call dans laggregat au lieu de action
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(demande-complète-raccordement)/demande-complete-raccordement:modifier/ModifierDemandeComplèteRaccordement.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(demande-complète-raccordement)/demande-complete-raccordement:modifier/modifierDemandeComplèteRaccordement.action.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/demandeComplète/modifierDemandeComplèteRaccordement.command.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/demandeComplète/modifierDemandeComplèteRaccordement.options.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/demandeComplète/modifierDemandeComplèteRaccordement.usecase.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/stepDefinitions/demandeComplèteRaccordement.when.ts
Due: eslint --fix

fix: tests
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/stepDefinitions/demandeComplèteRaccordement.when.ts
Due: eslint --fix

🎨 Retour review : permettre au cocontractant d'exporter le ou les lauréats de sa région
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/documents/(sections)/Documents.section.tsx
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🔥 Supprimer les checks inutiles sur les documents déjà rattaché à la police projet
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/documents/(sections)/Documents.section.tsx
Due: eslint --fix

♻️ Ajout d'un usecase dédié à la modification d'une date de mise en service (#4007)
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/dateMiseEnService/dateMiseEnServiceModifiéeV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/dateMiseEnService/index.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/events/dossier/dateMiseEnService/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/events/dossier/dateMiseEnService/mapToDateMiseEnServiceModifiéeTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/mapToRaccordementTimelineItemProps.ts
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupRaccordement.ts
  packages/domain/projet/src/lauréat/raccordement/index.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/dateMiseEnService/modifierDateMiseEnService.command.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/dateMiseEnService/modifierDateMiseEnService.options.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/dateMiseEnService/modifierDateMiseEnService.usecase.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.event.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.register.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/potentiel.world.ts
  packages/specifications/src/raccordement/dateDeMiseEnService/dateMiseEnService.world.ts
  packages/specifications/src/raccordement/dateDeMiseEnService/fixtures/modifierDateDeMiseEnService.fixture.ts
  packages/specifications/src/raccordement/dateDeMiseEnService/modifierDateMiseEnService.feature
  packages/specifications/src/raccordement/dateDeMiseEnService/stepDefinitions/dateMiseEnService.given.ts
  packages/specifications/src/raccordement/dateDeMiseEnService/stepDefinitions/dateMiseEnService.then.ts
  packages/specifications/src/raccordement/dateDeMiseEnService/stepDefinitions/dateMiseEnService.when.ts
  packages/specifications/src/raccordement/dossierRaccordement/stepDefinitions/dossierRaccordement.when.ts
  packages/specifications/src/raccordement/raccordement.world.ts
  packages/specifications/src/raccordement/stepDefinitions/raccordement.then.ts
Due: eslint --fix, prettier -w

modifs
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(demande-complète-raccordement)/demande-complete-raccordement:modifier/ModifierDemandeComplèteRaccordement.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(demande-complète-raccordement)/demande-complete-raccordement:modifier/modifierDemandeComplèteRaccordement.action.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/demandeComplète/modifierDemandeComplèteRaccordement.command.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/demandeComplète/modifierDemandeComplèteRaccordement.options.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/demandeComplète/modifierDemandeComplèteRaccordement.usecase.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/stepDefinitions/demandeComplèteRaccordement.when.ts
Due: eslint --fix

import
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(demande-complète-raccordement)/demande-complete-raccordement:modifier/ModifierDemandeComplèteRaccordement.form.tsx
Due: eslint --fix

🚑️ Retours sur la page export + cocontractant (#4032)
  packages/applications/ssr/src/app/export/export.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/documents/(sections)/Documents.section.tsx
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🔥 Suppression de l'adapter legacy aBénéficiéCDC2022 (#4023)
  packages/applications/bootstrap/src/setupProjet.ts
  packages/applications/cli/src/commands/load-test/notifier-candidatures.ts
  packages/applications/cli/src/commands/raccordement/notifier-gestionnaires-réseau.ts
  packages/applications/cli/src/commands/tache-planifiee/executer.ts
  packages/applications/projectors/src/subscribers/lauréat/achèvement/dateAchèvementPrévisionnelCalculéeProjector.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/cahier-des-charges/page.tsx
  packages/domain/projet/src/lauréat/achèvement/achèvement.entity.ts
  packages/domain/projet/src/lauréat/achèvement/consulter/consulterAchèvement.query.ts
  packages/domain/projet/src/lauréat/délai/consulter/consulterABénéficiéDuDélaiCDC2022.query.ts
  packages/domain/projet/src/lauréat/délai/délai.register.ts
  packages/domain/projet/src/lauréat/délai/index.ts
  packages/infrastructure/domain-adapters/src/délai/consulterABénéficiéDuDélaiCDC2022.adapter.ts
  packages/infrastructure/domain-adapters/src/délai/délai.adapter.ts
  packages/infrastructure/domain-adapters/src/index.ts
  packages/specifications/src/projet/lauréat/achèvement/achèvement.world.ts
Due: eslint --fix

⚰️ Suppression de permissions inutilisées (#4026)
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🐛 Accepter entier comme nb à 3 décimales
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/CorrigerCandidature.form.tsx
Due: eslint --fix

✨ Rôle Visiteur (#4030)
  packages/applications/notifications/src/subscribers/utilisateur/handlers/utilisateurInvité.handler.ts
  packages/applications/projectors/src/subscribers/utilisateur/rôleUtilisateurModifié.projector.ts
  packages/applications/projectors/src/subscribers/utilisateur/utilisateurInvité.projector.ts
  packages/applications/projectors/src/subscribers/utilisateur/utilisateurInvitéV1.projector.ts
  packages/applications/request-context/src/getUtilisateur.ts
  packages/applications/routes/src/accès/accès.routes.ts
  packages/applications/routes/src/utilisateur/utilisateur.routes.ts
  packages/applications/ssr/src/app/(homepage)/Bienvenue.tsx
  packages/applications/ssr/src/app/go-to-user-dashboard/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/changement/enregistrer/InfoBoxProducteur.tsx
  packages/applications/ssr/src/app/reclamer/réclamerProjet.action.ts
  packages/applications/ssr/src/components/organisms/header/UserBasedRoleNavigation.tsx
  packages/applications/ssr/src/utils/getDashboardRoute.ts
  packages/applications/ssr/src/utils/utilisateur/format-role.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/domain/utilisateur/src/utilisateur.aggregate.ts
  packages/domain/utilisateur/src/utilisateur.error.ts
  packages/domain/utilisateur/src/utilisateur.valueType.ts
  packages/specifications/src/utilisateur/inviterUtilisateur.feature
Due: eslint --fix, prettier -w

🎨 Ajout d'un bouton admin pour supprimer une date de mise en service d'un dossier de raccordement
  packages/applications/routes/src/lauréat/raccordement.routes.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/date-mise-en-service/DateMiseEnService.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/date-mise-en-service/modifier/ModifierDateMiseEnService.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/date-mise-en-service/modifier/modifierDateMiseEnService.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/date-mise-en-service/modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/date-mise-en-service/supprimer-date-mise-en-service/SupprimerDateMiseEnService.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/date-mise-en-service/supprimer-date-mise-en-service/supprimerDateMiseEnService.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/date-mise-en-service/transmettre/TransmettreDateMiseEnService.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/date-mise-en-service/transmettre/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/date-mise-en-service/transmettre/transmettreDateMiseEnService.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/date-mise-en-service/ÉtapeDateMiseEnService.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/components/DossierRaccordement.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/page.tsx
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

💬 Changement wording suite à retour métier
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/events/dossier/dateMiseEnService/mapToDateMiseEnServiceModifiéeTimelineItemProps.tsx
Due: eslint --fix

🐛 Fix specs
  packages/specifications/src/candidature/fixtures/importerCandidature.fixture.ts
Due: eslint --fix

🎨 Update periode
  packages/domain/inmemory-referential/src/appelOffre/PPE2/eolien.ppe2.ts
Due: eslint --fix

🎨 Alignement wording
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/events/dossier/dateMiseEnService/mapToDateMiseEnServiceModifiéeTimelineItemProps.tsx
Due: eslint --fix

🎨 Ajout d'un bouton admin pour supprimer une date de mise en service d'un dossier de raccordement (#4008)
  packages/applications/routes/src/lauréat/raccordement.routes.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/date-mise-en-service/DateMiseEnService.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/date-mise-en-service/modifier/ModifierDateMiseEnService.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/date-mise-en-service/modifier/modifierDateMiseEnService.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/date-mise-en-service/modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/date-mise-en-service/supprimer-date-mise-en-service/SupprimerDateMiseEnService.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/date-mise-en-service/supprimer-date-mise-en-service/supprimerDateMiseEnService.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/date-mise-en-service/transmettre/TransmettreDateMiseEnService.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/date-mise-en-service/transmettre/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/date-mise-en-service/transmettre/transmettreDateMiseEnService.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/date-mise-en-service/ÉtapeDateMiseEnService.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/components/DossierRaccordement.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/page.tsx
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🎨 Ajout d'un event legacy DateMiseEnServiceModifiée-V1
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/dateMiseEnService/dateMiseEnServiceModifiée.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/dateMiseEnService/index.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/events/dossier/dateMiseEnService/mapToDateMiseEnServiceModifiéeTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/mapToRaccordementTimelineItemProps.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.event.ts
Due: eslint --fix

🗃️ Correction du type de la date de MES dans la vue stats
  .database/potentiel-dev.dump
  packages/statistiques/vues/src/stats_projets.sql
Due: none

🐛 Fix mailjet esm configuration (#4019)
  packages/infrastructure/email/src/getMailjetClient.ts
Due: eslint --fix

🗃️ Correction du type de la date de MES dans la vue stats (#4037)
  .database/potentiel-dev.dump
  packages/statistiques/vues/src/stats_projets.sql
Due: none

🐛 Fix mailjet esm configuration (#4038)
  packages/infrastructure/email/src/getMailjetClient.ts
Due: eslint --fix

🐛 Fix corriger candidature puissance (#4029)
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/CorrigerCandidature.form.tsx
Due: eslint --fix

🎨 Ajout d'un event legacy DateMiseEnServiceModifiée-V1
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/dateMiseEnService/dateMiseEnServiceModifiée.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/dateMiseEnService/index.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/events/dossier/dateMiseEnService/mapToDateMiseEnServiceModifiéeTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/mapToRaccordementTimelineItemProps.ts
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupRaccordement.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.event.ts
Due: eslint --fix

🎨 Utilisation du created_at de l'évènement
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/dateMiseEnService/dateMiseEnServiceModifiée.projector.ts
Due: eslint --fix

🎨 Ajout d'un event legacy DateMiseEnServiceModifiée-V1 (#4035)
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/dateMiseEnService/dateMiseEnServiceModifiée.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/dateMiseEnService/index.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/events/dossier/dateMiseEnService/mapToDateMiseEnServiceModifiéeTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/mapToRaccordementTimelineItemProps.ts
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupRaccordement.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.event.ts
Due: eslint --fix

changements
  packages/applications/bootstrap/src/setupProjet.ts
  packages/domain/projet/src/accès/lister/listerAccès.query.ts
  packages/domain/projet/src/accès/vérifier/vérifierAccèsProjet.query.ts
  packages/domain/projet/src/candidature/lister/listerDétailsFournisseur.query.ts
  packages/domain/projet/src/getIdentifiantProjetWhereConditions.ts
  packages/domain/projet/src/getScopeProjetUtilisateur.port.ts
  packages/domain/projet/src/lauréat/abandon/demande/lister/listerDemandesAbandon.query.ts
  packages/domain/projet/src/lauréat/achèvement/lister/listerProjetAvecAchevementATransmettre.query.ts
  packages/domain/projet/src/lauréat/actionnaire/changement/lister/listerChangementActionnaire.query.ts
  packages/domain/projet/src/lauréat/délai/demande/lister/listerDemandeDélai.query.ts
  packages/domain/projet/src/lauréat/fournisseur/changement/lister/listerChangementFournisseur.query.ts
  packages/domain/projet/src/lauréat/garanties-financières/dépôt/lister/listerDépôtGarantiesFinancières.query.ts
  packages/domain/projet/src/lauréat/garanties-financières/en-attente/lister/listerProjetsAvecGarantiesFinancièresEnAttente.query.ts
  packages/domain/projet/src/lauréat/garanties-financières/mainlevée/lister/listerMainlevéesGarantiesFinancières.query.ts
  packages/domain/projet/src/lauréat/installation/dispositif-de-stockage/changement/lister/listerChangementDispositifDeStockage.query.ts
  packages/domain/projet/src/lauréat/installation/installateur/changement/lister/listerChangementInstallateur.query.ts
  packages/domain/projet/src/lauréat/lister/listerLauréat.query.ts
  packages/domain/projet/src/lauréat/lister/listerLauréatEnrichi.query.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/changement/lister/listerChangementsNatureDeLExploitation.query.ts
  packages/domain/projet/src/lauréat/nomProjet/changement/lister/listerChangementNomProjet.ts
  packages/domain/projet/src/lauréat/producteur/changement/lister/listerChangementProducteur.query.ts
  packages/domain/projet/src/lauréat/puissance/changement/lister/listerChangementPuissance.query.ts
  packages/domain/projet/src/lauréat/raccordement/lister/listerDossierRaccordement.query.ts
  packages/domain/projet/src/lauréat/raccordement/lister/listerDossierRaccordementManquants.query.ts
  packages/domain/projet/src/lauréat/représentantLégal/changement/lister/listerChangementReprésentantLégal.query.ts
  packages/domain/projet/src/lauréat/tâche/consulter/consulterNombreTâche.query.ts
  packages/domain/projet/src/lauréat/tâche/lister/listerTâche.query.ts
  packages/domain/projet/src/éliminé/lister/listerÉliminé.query.ts
  packages/domain/projet/src/éliminé/lister/listerÉliminéEnrichi.query.ts
  packages/domain/projet/src/éliminé/recours/lister/listerDemandeRecours.query.ts
  packages/infrastructure/domain-adapters/src/utilisateur/getProjetUtilisateurScope.adapter.ts
  packages/infrastructure/domain-adapters/src/utilisateur/getScopeProjetUtilisateur.adapter.ts
  packages/infrastructure/domain-adapters/src/utilisateur/index.ts
Due: eslint --fix

clean sur tâche et simplification
  packages/applications/ssr/src/components/organisms/header/UserHeaderQuickAccessItem.tsx
  packages/domain/projet/src/getIdentifiantProjetWhereConditions.ts
  packages/domain/projet/src/lauréat/délai/demande/lister/listerDemandeDélai.query.ts
  packages/domain/projet/src/lauréat/lister/listerLauréatEnrichi.query.ts
  packages/domain/projet/src/lauréat/raccordement/lister/listerDossierRaccordement.query.ts
  packages/domain/projet/src/lauréat/tâche/consulter/consulterNombreTâche.query.ts
  packages/domain/projet/src/lauréat/tâche/lister/listerTâche.query.ts
  packages/domain/projet/src/éliminé/lister/listerÉliminéEnrichi.query.ts
  packages/infrastructure/domain-adapters/src/utilisateur/getScopeProjetUtilisateur.adapter.ts
Due: eslint --fix

WIP scope
  packages/domain/projet/src/getIdentifiantProjetWhereConditions.ts
Due: eslint --fix

cleaning
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(archives)/ArchivesGarantiesFinancières.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/DétailsGarantiesFinancières.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/page.tsx
  packages/domain/projet/src/lauréat/garanties-financières/actuelles/archives/consulter/consulterArchivesGarantiesFinancières.query.ts
  packages/domain/projet/src/lauréat/garanties-financières/actuelles/garantiesFinancièresActuelles.queries.ts
  packages/domain/projet/src/lauréat/garanties-financières/actuelles/garantiesFinancièresActuelles.register.ts
  packages/domain/projet/src/lauréat/raccordement/index.ts
  packages/domain/projet/src/lauréat/raccordement/lister/listerDossierRaccordementEnAttenteMiseEnService.query.ts
  packages/domain/projet/src/lauréat/raccordement/lister/listerRaccordement.query.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.register.ts
  packages/domain/projet/src/lauréat/tâche/lister/listerTâche.query.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.then.ts
Due: eslint --fix
