Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

🐛 Input invalide (#4291)
  packages/applications/ssr/src/app/global.css
Due: none

🗃️ Suppression des schémas auth, tiger, tiger_date, topology et les extensions inutiles postgis_tiger_geocoder, postgis_topology et postgis
  .database/potentiel-dev.dump
Due: none

Import DN : ajout types fournisseur PV
  packages/infrastructure/ds-api-client/src/_helpers/getters/getFournisseurs.ts
Due: eslint --fix

Champs supplémentaires optionnels avant le passage sur DN (eolien)
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/CorrigerCandidature.form.tsx
  packages/domain/inmemory-referential/src/appelOffre/PPE2/eolien.ppe2.ts
Due: eslint --fix

🎨 Retour wording + notices
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/Achèvement.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/AchèvementDétails.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite/enregistrer/EnregistrerAttestationConformité.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite/enregistrer/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/mainlevee/demander/ChecklistMainlevée.tsx
Due: eslint --fix

boolean
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/DétailsAbandon.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/accorder/AccorderAbandonSansRecandidature.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/annuler/AnnulerAbandon.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/rejeter/RejeterAbandon.form.tsx
Due: eslint --fix

cc emails
  packages/applications/notifications/src/subscribers/lauréat/power-purchase-agreement/_helper/getRecipients.ts
  packages/applications/notifications/src/subscribers/lauréat/power-purchase-agreement/handlers/powerPurchaseAgreementSignalé.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/power-purchase-agreement/handlers/signalementPowerPurchaseAgreementAnnulé.handler.ts
Due: eslint --fix

🐛 Affichage de la notice que les GF du projet ne sont pas levées + fix du btn disable
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/Achèvement.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/AchèvementDétails.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite/modifier/ModifierAttestationConformité.form.tsx
  packages/applications/ssr/src/components/atoms/form/document/KeepOrEditDocument.tsx
Due: eslint --fix

🗃️ Suppression des schémas auth, tiger, tiger_date, topology et les extensions inutiles postgis_tiger_geocoder, postgis_topology et postgis (#4294)
  .database/potentiel-dev.dump
Due: none

💬 Typo
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite/enregistrer/EnregistrerAttestationConformité.page.tsx
Due: eslint --fix

edge case : l'admin peujt annuler un etat PPa pendant la demande abandon sans traiter la demander
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/DétailsAbandon.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/accorder/AccorderAbandonSansRecandidature.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/annuler/AnnulerAbandon.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/rejeter/RejeterAbandon.form.tsx
  packages/specifications/src/projet/lauréat/power-purchase-agreement/annulerSignalementPowerPurchaseAgreement.feature
Due: eslint --fix, prettier -w

details
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/DétailsAbandon.page.tsx
Due: eslint --fix

🐛Champs supplémentaires optionnels avant le passage sur DN (eolien) (#4295)
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/CorrigerCandidature.form.tsx
  packages/domain/inmemory-referential/src/appelOffre/PPE2/eolien.ppe2.ts
Due: eslint --fix

🎨 Retours tests sur la partie rapport associé (#4296)
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/Achèvement.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/AchèvementDétails.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite/enregistrer/EnregistrerAttestationConformité.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite/enregistrer/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite/modifier/ModifierAttestationConformité.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/mainlevee/demander/ChecklistMainlevée.tsx
  packages/applications/ssr/src/components/atoms/form/document/KeepOrEditDocument.tsx
Due: eslint --fix

✨ Rebuild depuis la CLI
  package-lock.json
  packages/applications/cli/package.json
  packages/applications/cli/src/commands/projection/rebuild.ts
  packages/applications/cli/tsconfig.json
  packages/infrastructure/pg-event-sourcing/src/index.ts
Due: eslint --fix, prettier -w

♻️ Extraire le setup des subscribers
  packages/applications/subscribers/src/index.ts
  packages/applications/subscribers/src/run.ts
  packages/applications/subscribers/src/setup/createSubscriptionSetup.ts
  packages/applications/subscribers/src/setup/index.ts
  packages/applications/subscribers/src/setup/setupHistorique.ts
  packages/applications/subscribers/src/setup/setupProjet/index.ts
  packages/applications/subscribers/src/setup/setupProjet/setup.ts
  packages/applications/subscribers/src/setup/setupProjet/setupAccès.ts
  packages/applications/subscribers/src/setup/setupProjet/setupCandidature.ts
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/index.ts
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupAbandon.ts
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupAchèvement.ts
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupActionnaire.ts
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupDélai.ts
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupFournisseur.ts
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupGarantiesFinancière.ts
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupInstallation.ts
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupNatureDeLExploitation.ts
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupPowerPurchaseAgreement.ts
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupProducteur.ts
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupPuissance.ts
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupRaccordement.ts
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupReprésentantLégal.ts
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupTâche.ts
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupTâchePlanifiée.ts
  packages/applications/subscribers/src/setup/setupProjet/setupÉliminé/index.ts
  packages/applications/subscribers/src/setup/setupProjet/setupÉliminé/setupRecours.ts
  packages/applications/subscribers/src/setup/setupPériode.ts
  packages/applications/subscribers/src/setup/setupRéseau.ts
  packages/applications/subscribers/src/setup/setupUtilisateur.ts
  packages/applications/subscribers/src/startSubscribers.ts
Due: eslint --fix

revert startSubscribers signature changes
  packages/applications/subscribers/src/run.ts
  packages/applications/subscribers/src/startSubscribers.ts
Due: eslint --fix

Corrections mineures SIRET-producteur
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/corrigerCandidature.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/changement/enregistrer/EnregistrerChangementProducteur.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/modifier/ModifierProducteur.form.tsx
Due: eslint --fix

✨ PPA retour tests (#4297)
  packages/applications/notifications/src/subscribers/lauréat/power-purchase-agreement/_helper/getRecipients.ts
  packages/applications/notifications/src/subscribers/lauréat/power-purchase-agreement/handlers/powerPurchaseAgreementSignalé.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/power-purchase-agreement/handlers/signalementPowerPurchaseAgreementAnnulé.handler.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/DétailsAbandon.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/accorder/AccorderAbandonSansRecandidature.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/annuler/AnnulerAbandon.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/rejeter/RejeterAbandon.form.tsx
  packages/specifications/src/projet/lauréat/power-purchase-agreement/annulerSignalementPowerPurchaseAgreement.feature
Due: eslint --fix, prettier -w

seed
  packages/applications/subscribers/src/startSubscribers.ts
Due: eslint --fix

🐛 Corrections mineures SIRET-producteur (#4300)
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/corrigerCandidature.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/changement/enregistrer/EnregistrerChangementProducteur.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/modifier/ModifierProducteur.form.tsx
Due: eslint --fix

Import DN : ajout types fournisseur PV (#4290)
  packages/infrastructure/ds-api-client/src/_helpers/getters/getFournisseurs.ts
Due: eslint --fix

🐛 Ne pas pouvoir modifier si aucun document n'a été changé
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite/modifier/ModifierAttestationConformité.form.tsx
Due: eslint --fix

💬 Amélioration wording
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/Achèvement.section.tsx
Due: eslint --fix

remove feature flag PPA
  packages/applications/ssr/.env.template
  packages/applications/ssr/src/app/export/page.tsx
  packages/applications/ssr/src/app/laureats/(liste)/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getLauréatMenuItems.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/annuler-signalement/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/signaler/page.tsx
  packages/applications/ssr/src/app/laureats/changements/abandon/page.tsx
  packages/applications/ssr/src/app/reseaux/raccordements/page.tsx
  packages/applications/subscribers/.env.template
Due: eslint --fix

mise à jours stats projet et dump
  .database/potentiel-dev.dump
Due: none

🎨 Remove feature flag PPA (#4303)
  packages/applications/ssr/.env.template
  packages/applications/ssr/src/app/export/page.tsx
  packages/applications/ssr/src/app/laureats/(liste)/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getLauréatMenuItems.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/annuler-signalement/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/signaler/page.tsx
  packages/applications/ssr/src/app/laureats/changements/abandon/page.tsx
  packages/applications/ssr/src/app/reseaux/raccordements/page.tsx
  packages/applications/subscribers/.env.template
Due: eslint --fix

✅ Impossible de modifier une attestation de conformité et son rapport avec les mêmes documents
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite/modifier/ModifierAttestationConformité.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite/modifier/modifierAttestationConformité.action.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.aggregate.ts
  packages/domain/projet/src/lauréat/achèvement/modifier/modifierAttestationConformité.command.ts
  packages/domain/projet/src/lauréat/achèvement/modifier/modifierAttestationConformité.option.ts
  packages/domain/projet/src/lauréat/achèvement/modifier/modifierAttestationConformité.usecase.ts
  packages/specifications/src/projet/lauréat/achèvement/modifierAttestationConformité.feature
  packages/specifications/src/projet/lauréat/achèvement/stepDefinitions/achèvement.when.ts
Due: eslint --fix, prettier -w

🧹 Mise à jours stats projet et dump (#4304)
  .database/potentiel-dev.dump
Due: none

🚧 Initialiser le stream achèvement prévisionnelle suite à la notification
  packages/applications/cli/src/commands/achèvement/initialiser-stream-calcul-date-achevement-post-notification.ts
  packages/domain/common/src/valueTypes/dateTime.valueType.ts
Due: eslint --fix

🚧 Traiter le cas des event avec raison inconnu unique + autre command pour analyser les doublons (WIP)
  packages/applications/cli/src/commands/achèvement/analyser-doublons-calcul-date-achevement-inconnu.ts
  packages/applications/cli/src/commands/achèvement/initialiser-stream-calcul-date-achevement-post-notification.ts
Due: eslint --fix

🎨 Ajout vérification écart jours pour les events inconnu unique
  packages/applications/cli/src/commands/achèvement/analyser-doublons-calcul-date-achevement-inconnu.ts
  packages/applications/cli/src/commands/achèvement/corriger-calcul-date-prévisionnelle-raison-inconnue-multiple.ts
  packages/applications/cli/src/commands/achèvement/corriger-calcul-date-prévisionnelle-raison-inconnue-simple.ts
  packages/applications/cli/src/commands/achèvement/initialiser-stream-calcul-date-achevement-post-notification.ts
  packages/applications/cli/src/helpers/achèvement/déplacerEventInconnuEnPremier.ts
  packages/applications/cli/src/helpers/achèvement/getDonnéesCorrectes.ts
  packages/applications/cli/src/helpers/achèvement/index.ts
  packages/applications/cli/src/helpers/achèvement/vérifierDateAchèvementPrévisionnelDansÉcart.ts
Due: eslint --fix

🎨 Analyser script
  packages/applications/cli/src/commands/achèvement/analyser-calcul-date-prévisionnelle-raison-inconnue-multiple.ts
  packages/applications/cli/src/commands/achèvement/corriger-calcul-date-prévisionnelle-raison-inconnue-multiple.ts
Due: eslint --fix

🎨 Extraire les fonctions de manipulation dans des helpers dédiées + utilisation dans les deux script.
  packages/applications/cli/src/commands/achèvement/corriger-calcul-date-prévisionnelle-raison-inconnue-multiple.ts
  packages/applications/cli/src/commands/achèvement/corriger-calcul-date-prévisionnelle-raison-inconnue-simple.ts
  packages/applications/cli/src/helpers/achèvement/déplacerEventEnPremierEtTransformerEnNotification.ts
  packages/applications/cli/src/helpers/achèvement/index.ts
  packages/applications/cli/src/helpers/achèvement/transformerEventInconnuEnEventNotification.ts
Due: eslint --fix

🎨 Création de CSV en sortie pour analyse métier
  packages/applications/cli/src/commands/achèvement/analyser-calcul-date-prévisionnelle-raison-inconnue-multiple.ts
  packages/applications/cli/src/commands/achèvement/corriger-calcul-date-prévisionnelle-raison-inconnue-multiple.ts
  packages/applications/cli/src/commands/achèvement/corriger-calcul-date-prévisionnelle-raison-inconnue-simple.ts
Due: eslint --fix

🎨 Simplification
  packages/applications/cli/src/commands/achèvement/corriger-calcul-date-prévisionnelle-raison-inconnue-multiple.ts
  packages/applications/cli/src/commands/achèvement/corriger-calcul-date-prévisionnelle-raison-inconnue-simple.ts
  packages/applications/cli/src/helpers/achèvement/getDonnéesCorrectes.ts
Due: eslint --fix

🚚 Rename scripts
  packages/applications/cli/src/commands/achèvement/correction-event-unique-date-achevement-calculée-inconnu-vers-notification.ts
  packages/applications/cli/src/commands/achèvement/correction-events-multiple-date-achevement-calculée-inconnu-vers-notification.ts
  packages/applications/cli/src/helpers/achèvement/index.ts
  packages/applications/cli/src/helpers/achèvement/vérifierDateAchèvementPrévisionnelDansÉcart.ts
Due: eslint --fix

🎨 Ajout de la détection de doublons
  packages/applications/cli/src/commands/achèvement/correction-events-multiple-date-achevement-calculée-inconnu-vers-notification.ts
  packages/domain/common/src/valueTypes/dateTime.valueType.ts
Due: eslint --fix

🗃️ Booléens pour enService et PPA dans les stats projet
  packages/statistiques/vues/src/stats_projets.sql
Due: none

updatedump
  .database/potentiel-dev.dump
Due: none

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
