Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml,feature}": "prettier -w"
}

🗃️ ajout d'une colonne puissance initiale (#3820)
  .demo/exampleCandidatsCRE4.csv
  .demo/exempleCandidatsPPE2.csv
  .demo/exempleCandidatsPPE2BatimentPériode6.csv
  .demo/exempleCandidatsPetitPV.csv
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/corrigerCandidature.action.ts
  packages/applications/ssr/src/app/candidatures/importer/(demarche-simplifiée)/importerCandidaturesParDS.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/modifierLauréat.action.ts
  packages/applications/ssr/src/utils/candidature/csv/candidature.schema.test.ts
  packages/applications/ssr/src/utils/candidature/csv/candidature.schema.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.test.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.ts
  packages/applications/ssr/src/utils/candidature/dépôt.schema.ts
  packages/applications/ssr/src/utils/candidature/index.ts
  packages/domain/projet/src/candidature/dépôt.valueType.ts
  packages/domain/projet/src/candidature/importer/candidatureImportée.event.ts
  packages/specifications/src/candidature/candidature.exempleMap.ts
  packages/specifications/src/candidature/fixtures/importerCandidature.fixture.ts
Due: eslint --fix

update dump
  .database/potentiel-dev.dump
Due: none

🗃️ update dump pour la release 3.69 (#3845)
  .database/potentiel-dev.dump
Due: none

remove feature flag page projet
  packages/applications/legacy/.env.template
  packages/applications/ssr/.env.template
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/checkFeatureFlag.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/evaluation-carbone/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/imprimer/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/informations-generales/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/layout.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/taches/page.tsx
  packages/applications/ssr/src/utils/feature-flag/FeatureFlagContext.tsx
  packages/applications/subscribers/.env.template
Due: eslint --fix

✅ Correction du flaky sur Notifier période
  packages/specifications/src/candidature/stepDefinitions/candidature.then.ts
  packages/specifications/src/notification/notification.world.ts
  packages/specifications/src/notification/stepDefinitions/notification.then.ts
  packages/specifications/src/période/notifierPériode.feature
  packages/specifications/src/période/stepDefinitions/période.then.ts
Due: eslint --fix, prettier -w

🐛 Formulaire dispo si CDC modificatif existant
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/CahierDesCharges.section.tsx
Due: eslint --fix

🐛 Formulaire modification CDC disponible si CDC modificatif existant (#3848)
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/CahierDesCharges.section.tsx
Due: eslint --fix

🧹 Remove feature flag page projet (#3846)
  packages/applications/legacy/.env.template
  packages/applications/ssr/.env.template
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/checkFeatureFlag.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/evaluation-carbone/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/imprimer/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/informations-generales/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/layout.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/taches/page.tsx
  packages/applications/ssr/src/utils/feature-flag/FeatureFlagContext.tsx
  packages/applications/subscribers/.env.template
Due: eslint --fix

🎨 Utilisation de l'adapter
  packages/applications/cli/src/commands/candidature/migrer-details.ts
Due: eslint --fix

✅ Correction du flaky sur Notifier période (#3847)
  packages/specifications/src/candidature/stepDefinitions/candidature.then.ts
  packages/specifications/src/notification/notification.world.ts
  packages/specifications/src/notification/stepDefinitions/notification.then.ts
  packages/specifications/src/période/notifierPériode.feature
  packages/specifications/src/période/stepDefinitions/période.then.ts
Due: eslint --fix, prettier -w

fix
  packages/applications/legacy/package.json
  packages/applications/legacy/src/modules/authN/Permission.ts
  packages/applications/legacy/src/modules/project/queries/index.ts
Due: eslint --fix, prettier -w

🐛 Correction de l'erreur globale quand un projet n'est pas accessible
  packages/applications/ssr/src/app/candidatures/[identifiant]/layout.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/layout.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/layout.tsx
  packages/applications/ssr/src/components/molecules/projet/lauréat/ProjetLauréatBanner.tsx
  packages/applications/ssr/src/components/molecules/projet/éliminé/ProjetÉliminéBanner.tsx
Due: eslint --fix

🎨 Fixes UI
  packages/applications/ssr/src/components/molecules/projet/ProjetBanner.template.tsx
  packages/applications/ssr/src/components/organisms/accès/(inviter)/InviterPorteur.form.tsx
  packages/applications/ssr/src/components/organisms/accès/AccèsList.page.tsx
Due: eslint --fix

✅ Fix flaky
  packages/specifications/src/projet/lauréat/puissance/changement/demanderChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/enregistrerChangementPuissance.feature
Due: prettier -w

🚚 Renommage "puissanceProductionAnnuelle" en "puissance"
  packages/applications/document-builder/src/candidature/attestation/buildCertificate.ts
  packages/applications/legacy/src/sagas/candidature.saga.ts
  packages/applications/ssr/src/app/candidatures/(liste)/CandidatureListItem.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/DétailsCandidature.page.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/CorrigerCandidature.form.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/corrigerCandidature.action.ts
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/page.tsx
  packages/applications/ssr/src/app/candidatures/importer/(demarche-simplifiée)/importerCandidaturesParDS.action.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/DétailsProjetÉliminé.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/ModifierLauréat.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/modifierLauréat.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/page.tsx
  packages/applications/ssr/src/utils/candidature/candidatureFields.schema.ts
  packages/applications/ssr/src/utils/candidature/candidatureNotifiée.schema.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.test.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.ts
  packages/applications/ssr/src/utils/candidature/dépôt.schema.ts
  packages/applications/ssr/src/utils/modèle-document/mapToModèleRéponsePayload.ts
  packages/domain/projet/src/accès/lister/listerProjetsÀRéclamer.query.ts
  packages/domain/projet/src/candidature/candidature.aggregate.ts
  packages/domain/projet/src/candidature/candidature.entity.ts
  packages/domain/projet/src/candidature/dépôt.valueType.ts
  packages/domain/projet/src/candidature/importer/candidatureImportée.event.ts
  packages/domain/projet/src/candidature/lister/listerCandidatures.query.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
  packages/domain/projet/src/lauréat/puissance/consulter/consulterPuissance.query.ts
  packages/domain/projet/src/lauréat/puissance/consulter/consulterVolumeRéservé.query.ts
  packages/domain/projet/src/lauréat/puissance/puissance.aggregate.ts
  packages/domain/projet/src/éliminé/consulter/consulterÉliminé.query.ts
  packages/domain/projet/src/éliminé/lister/listerÉliminé.query.ts
  packages/infrastructure/ds-api-client/src/_helpers/mappers/mapApiResponseToDépôt.ts
  packages/specifications/src/candidature/candidature.exempleMap.ts
  packages/specifications/src/candidature/fixtures/importerCandidature.fixture.ts
  packages/specifications/src/projet/lauréat/puissance/changement/demanderChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/enregistrerChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/stepDefinitions/changementPuissance.then.ts
  packages/specifications/src/projet/lauréat/puissance/changement/stepDefinitions/changementPuissance.when.ts
  packages/specifications/src/projet/lauréat/puissance/stepDefinitions/puissance.then.ts
  packages/specifications/src/projet/lauréat/puissance/stepDefinitions/puissance.when.ts
  packages/specifications/src/projet/éliminé/éliminé.world.ts
Due: eslint --fix, prettier -w

🚚 Template csv cre
  .demo/Tests-Intrusions-EY.csv
  .demo/exampleCandidatsCRE4.csv
  .demo/exempleCandidatsPPE2.csv
  .demo/exempleCandidatsPPE2BatimentPériode6.csv
  .demo/exempleCandidatsPetitPV.csv
  .demo/test-projects-seed.csv
  packages/applications/legacy/src/modules/project/utils/parseProjectLine.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.test.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.ts
Due: eslint --fix

🗃️ Update dump
  .database/potentiel-dev.dump
Due: none

🐛 Afficher lien CDC seulement si permission ok
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/CahierDesCharges.section.tsx
Due: eslint --fix

🚧 Basic page
  packages/applications/ssr/src/app/export/exportProjet.action.ts
  packages/applications/ssr/src/app/export/exportProjet.form.tsx
  packages/applications/ssr/src/app/export/exportProjet.page.tsx
  packages/applications/ssr/src/app/export/page.tsx
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🐛 Afficher lien CDC seulement si permission ok (#3853)
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/CahierDesCharges.section.tsx
Due: eslint --fix

🐛 Correction de l'erreur globale quand un projet n'est pas accessible (#3851)
  packages/applications/ssr/src/app/candidatures/[identifiant]/layout.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/layout.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/layout.tsx
  packages/applications/ssr/src/components/molecules/projet/ProjetBanner.template.tsx
  packages/applications/ssr/src/components/molecules/projet/lauréat/ProjetLauréatBanner.tsx
  packages/applications/ssr/src/components/molecules/projet/éliminé/ProjetÉliminéBanner.tsx
  packages/applications/ssr/src/components/organisms/accès/(inviter)/InviterPorteur.form.tsx
  packages/applications/ssr/src/components/organisms/accès/AccèsList.page.tsx
  packages/specifications/src/projet/lauréat/puissance/changement/demanderChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/enregistrerChangementPuissance.feature
Due: eslint --fix, prettier -w

🐛 Fix csv
  .demo/Tests-Intrusions-EY.csv
  .demo/test-projects-seed.csv
Due: none

🎨 Création d'une route pour l'export projet raccordement
  packages/applications/routes/src/lauréat/raccordement.routes.ts
  packages/applications/ssr/src/app/export/exportProjet.action.ts
  packages/applications/ssr/src/app/export/exportProjet.form.tsx
  packages/applications/ssr/src/app/export/exportProjet.page.tsx
  packages/applications/ssr/src/app/reseaux/raccordements/exporter/route.ts
  packages/domain/projet/src/lauréat/raccordement/lister/listerDossierRaccordement.query.ts
Due: eslint --fix

🎨 Export projet détail des fournisseurs d'une candidature
  packages/applications/cli/src/commands/load-test/notifier-candidatures.ts
  packages/applications/routes/src/candidature/candidature.routes.ts
  packages/applications/scheduled-tasks/src/garanties-financières/récupérer-fichier-gf-candidature-référentiel-dgec.ts
  packages/applications/ssr/src/app/candidatures/(liste)/page.tsx
  packages/applications/ssr/src/app/candidatures/export-fournisseurs/route.ts
  packages/applications/ssr/src/app/export/exportProjet.page.tsx
  packages/applications/ssr/src/app/export/page.tsx
  packages/applications/ssr/src/app/periodes/notifierPériode.action.ts
  packages/applications/ssr/src/app/periodes/page.tsx
  packages/domain/projet/src/candidature/lister/listerCandidatures.query.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/période/stepDefinitions/période.then.ts
Due: eslint --fix

⬆️ Mises à jour de sécurité
  package-lock.json
Due: eslint --fix, prettier -w

⬆️ Mises à jour de sécurité (#3857)
  package-lock.json
Due: eslint --fix, prettier -w

✨ Script pour récupérer les fichiers détails des candidature
  packages/applications/cli/src/commands/candidature/.gitignore
  packages/applications/cli/src/commands/candidature/recuperer-fichiers-details.ts
Due: eslint --fix

✅ Ajout d'une nouvelle projection détail-candidature en cas d'import de nouveau candidat
  packages/applications/projectors/src/subscribers/candidature/détailCandidatureImporté.projector.ts
  packages/applications/projectors/src/subscribers/candidature/index.ts
  packages/applications/subscribers/src/setup/setupProjet/setupCandidature.ts
  packages/domain/projet/package.json
  packages/domain/projet/src/candidature/candidature.aggregate.ts
  packages/domain/projet/src/candidature/candidature.event.ts
  packages/domain/projet/src/candidature/candidature.register.ts
  packages/domain/projet/src/candidature/détail/_helpers/cleanDétails.spec.ts
  packages/domain/projet/src/candidature/détail/_helpers/cleanDétails.ts
  packages/domain/projet/src/candidature/détail/consulter/consulterDétailCandidature.query.ts
  packages/domain/projet/src/candidature/détail/détailCandidature.entity.ts
  packages/domain/projet/src/candidature/détail/détailCandidature.type.ts
  packages/domain/projet/src/candidature/détail/importer/détailCandidatureImporté.event.ts
  packages/domain/projet/src/candidature/détail/importer/importerDétailCandidature.command.ts
  packages/domain/projet/src/candidature/détail/importer/importerDétailCandidature.options.ts
  packages/domain/projet/src/candidature/importer/importerCandidature.usecase.ts
  packages/domain/projet/src/candidature/index.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/candidature/importerCandidature.feature
  packages/specifications/src/candidature/stepDefinitions/candidature.then.ts
Due: eslint --fix, prettier -w

✅ La correction d'une candidature doit mettre à jour le détail des candidatures
  packages/applications/projectors/src/subscribers/candidature/détailCandidatureCorrigé.projector.ts
  packages/applications/projectors/src/subscribers/candidature/index.ts
  packages/domain/projet/src/candidature/candidature.aggregate.ts
  packages/domain/projet/src/candidature/candidature.event.ts
  packages/domain/projet/src/candidature/candidature.register.ts
  packages/domain/projet/src/candidature/corriger/corrigerCandidature.usecase.ts
  packages/domain/projet/src/candidature/détail/corriger/corrigerDétailCandidature.command.ts
  packages/domain/projet/src/candidature/détail/corriger/corrigerDétailCandidature.options.ts
  packages/domain/projet/src/candidature/détail/corriger/détailCandidatureCorrigé.event.ts
  packages/domain/projet/src/candidature/index.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/candidature/corrigerCandidature.garantiesFinancières.feature
Due: eslint --fix, prettier -w

🎨 Amélioration de l'entity pour ajouter un statut 'import' | 'correction'
  packages/applications/projectors/src/subscribers/candidature/détailCandidatureCorrigé.projector.ts
  packages/applications/projectors/src/subscribers/candidature/détailCandidatureImporté.projector.ts
  packages/domain/projet/src/candidature/détail/consulter/consulterDétailCandidature.query.ts
  packages/domain/projet/src/candidature/détail/détailCandidature.entity.ts
  packages/specifications/src/candidature/corrigerCandidature.garantiesFinancières.feature
Due: eslint --fix, prettier -w

🚧 WIP
  packages/applications/cli/src/commands/candidature/migrer-details.ts
  packages/applications/cli/src/commands/candidature/recuperer-fichiers-details.ts
  packages/applications/projectors/src/subscribers/candidature/détailCandidatureCorrigé.projector.ts
  packages/applications/projectors/src/subscribers/candidature/détailCandidatureImporté.projector.ts
  packages/domain/projet/src/candidature/candidature.aggregate.ts
  packages/domain/projet/src/candidature/corriger/corrigerCandidature.usecase.ts
  packages/domain/projet/src/candidature/détail/corriger/corrigerDétailCandidature.command.ts
  packages/domain/projet/src/candidature/détail/corriger/corrigerDétailCandidature.options.ts
  packages/domain/projet/src/candidature/détail/corriger/détailCandidatureCorrigé.event.ts
  packages/domain/projet/src/candidature/détail/détailCandidature.entity.ts
  packages/domain/projet/src/candidature/détail/importer/détailCandidatureImporté.event.ts
  packages/domain/projet/src/candidature/détail/importer/importerDétailCandidature.command.ts
  packages/domain/projet/src/candidature/détail/importer/importerDétailCandidature.options.ts
  packages/domain/projet/src/candidature/importer/importerCandidature.usecase.ts
  packages/domain/projet/src/candidature/index.ts
Due: eslint --fix

🎨 Amélioration removeEmptyValues au lieu d'avoir un cleanDétails spécifique
  packages/applications/ssr/src/utils/candidature/removeEmptyValues.test.ts
  packages/applications/ssr/src/utils/candidature/removeEmptyValues.ts
  packages/domain/projet/src/candidature/détail/_helpers/cleanDétails.spec.ts
  packages/domain/projet/src/candidature/détail/_helpers/cleanDétails.ts
Due: eslint --fix

🎨 Importer candidaute par CSV devrait retrouvé la rawLine par numéro cre et non le nom du projet
  packages/applications/ssr/src/app/candidatures/importer/(csv)/importerCandidaturesParCSV.action.ts
  packages/applications/ssr/src/utils/candidature/removeEmptyValues.ts
Due: eslint --fix

🎨 Suppression des commandes dédiées + un seul event importé
  packages/applications/projectors/src/subscribers/candidature/détailCandidatureCorrigé.projector.ts
  packages/applications/projectors/src/subscribers/candidature/détailCandidatureImporté.projector.ts
  packages/applications/projectors/src/subscribers/candidature/index.ts
  packages/applications/ssr/src/app/candidatures/importer/(csv)/importerCandidaturesParCSV.action.ts
  packages/domain/projet/src/candidature/candidature.aggregate.ts
  packages/domain/projet/src/candidature/candidature.event.ts
  packages/domain/projet/src/candidature/candidature.register.ts
  packages/domain/projet/src/candidature/corriger/corrigerCandidature.command.ts
  packages/domain/projet/src/candidature/corriger/corrigerCandidature.options.ts
  packages/domain/projet/src/candidature/corriger/corrigerCandidature.usecase.ts
  packages/domain/projet/src/candidature/détail/consulter/consulterDétailCandidature.query.ts
  packages/domain/projet/src/candidature/détail/corriger/corrigerDétailCandidature.command.ts
  packages/domain/projet/src/candidature/détail/corriger/corrigerDétailCandidature.options.ts
  packages/domain/projet/src/candidature/détail/corriger/détailCandidatureCorrigé.event.ts
  packages/domain/projet/src/candidature/détail/détailCandidature.entity.ts
  packages/domain/projet/src/candidature/détail/détailCandidature.type.ts
  packages/domain/projet/src/candidature/détail/importer/détailCandidatureImporté.event.ts
  packages/domain/projet/src/candidature/détail/importer/importerDétailCandidature.command.ts
  packages/domain/projet/src/candidature/importer/importerCandidature.command.ts
  packages/domain/projet/src/candidature/importer/importerCandidature.options.ts
  packages/domain/projet/src/candidature/importer/importerCandidature.usecase.ts
  packages/domain/projet/src/candidature/index.ts
Due: eslint --fix

🎨 Utilisation d'un script unique
  packages/applications/cli/src/commands/candidature/.gitignore
  packages/applications/cli/src/commands/candidature/migrer-details.ts
  packages/applications/cli/src/commands/candidature/recuperer-fichiers-details.ts
Due: eslint --fix

🎨 Update script
  packages/applications/cli/src/commands/candidature/migrer-details.ts
  packages/applications/cli/src/commands/candidature/recuperer-fichiers-details.ts
Due: eslint --fix

🎨 Fix script
  packages/applications/cli/src/commands/candidature/migrer-details.ts
Due: eslint --fix

🎨 Retours review
  packages/applications/ssr/src/app/candidatures/importer/(demarche-simplifiée)/importerCandidaturesParDS.action.ts
  packages/domain/projet/package.json
  packages/domain/projet/src/candidature/corriger/corrigerCandidature.command.ts
  packages/domain/projet/src/candidature/corriger/corrigerCandidature.options.ts
  packages/domain/projet/src/candidature/corriger/corrigerCandidature.usecase.ts
  packages/domain/projet/src/candidature/détail/consulter/consulterDétailCandidature.query.ts
  packages/domain/projet/src/candidature/détail/détailCandidature.entity.ts
  packages/domain/projet/src/candidature/détail/détailCandidature.type.ts
  packages/domain/projet/src/candidature/détail/détailCandidature.valueType.ts
  packages/domain/projet/src/candidature/détail/importer/détailCandidatureImporté.event.ts
  packages/domain/projet/src/candidature/détail/importer/importerDétailCandidature.options.ts
  packages/domain/projet/src/candidature/importer/importerCandidature.command.ts
  packages/domain/projet/src/candidature/importer/importerCandidature.options.ts
  packages/domain/projet/src/candidature/importer/importerCandidature.usecase.ts
  packages/domain/projet/src/candidature/index.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix, prettier -w
