Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

✨ Gestion du GRD inconnu dans le script d'attribution
  packages/applications/scheduled-tasks/src/raccordement/attribuer-gestionnaire-réseau.ts
  packages/infrastructure/ore-client/package.json
  packages/infrastructure/ore-client/src/helper/normaliserCommune.test.ts
  packages/infrastructure/ore-client/src/helper/normaliserCommune.ts
  packages/infrastructure/ore-client/src/helper/transformCommuneToOreFormat.ts
  packages/infrastructure/ore-client/src/récupérerGRDParVille.ts
Due: eslint --fix, prettier -w

💬 Reformuler le texte de la tâche grd inconnu
  packages/applications/ssr/src/components/pages/tâche/TâcheListItem.tsx
Due: eslint --fix

🐛 Ajout is not null
  packages/infrastructure/ore-client/src/récupérerGRDParVille.ts
Due: eslint --fix

📝 Documentation autour de la commande pour générer le fichier dump
  docs/contributing/GETTING_STARTED.md
Due: eslint --fix

✨ Gestion du GRD inconnu dans le script d'attribution (#1920)
  packages/applications/scheduled-tasks/src/raccordement/attribuer-gestionnaire-réseau.ts
  packages/applications/ssr/src/components/pages/tâche/TâcheListItem.tsx
  packages/infrastructure/ore-client/package.json
  packages/infrastructure/ore-client/src/helper/normaliserCommune.test.ts
  packages/infrastructure/ore-client/src/helper/normaliserCommune.ts
  packages/infrastructure/ore-client/src/helper/transformCommuneToOreFormat.ts
  packages/infrastructure/ore-client/src/récupérerGRDParVille.ts
Due: eslint --fix, prettier -w

🚧 Start changing entity for mainlevée
  packages/domain/lauréat/src/garantiesFinancières/mainlevée/mainlevéeGarantiesFinancières.entity.ts
Due: eslint --fix

✨ V1 without testing
  packages/infrastructure/ore-client/src/constant.ts
  packages/infrastructure/ore-client/src/helper/getDOMTOM.ts
  packages/infrastructure/ore-client/src/récupérerGRDEICPourDOMTOM.ts
  packages/infrastructure/ore-client/src/récupérerGRDParEIC.ts
  packages/infrastructure/ore-client/src/récupérerGRDParVille.ts
  packages/infrastructure/ore-client/src/récupérerTousLesGRD.ts
Due: eslint --fix

🎨 Better version with logs and option
  packages/infrastructure/ore-client/src/constant.ts
  packages/infrastructure/ore-client/src/récupérerGRDEICPourDOMTOM.ts
  packages/infrastructure/ore-client/src/récupérerGRDParEIC.ts
  packages/infrastructure/ore-client/src/récupérerGRDParRaisonSociale.ts
  packages/infrastructure/ore-client/src/récupérerGRDParVille.ts
  packages/infrastructure/ore-client/src/récupérerGestionnairePourDOMTOM.ts
  packages/infrastructure/ore-client/src/récupérerTousLesGRD.ts
Due: eslint --fix

🎨 Better manage domtom for one time
  packages/infrastructure/ore-client/src/constant.ts
  packages/infrastructure/ore-client/src/helper/getDOMTOM.ts
  packages/infrastructure/ore-client/src/récupérerGRDParRaisonSociale.ts
  packages/infrastructure/ore-client/src/récupérerGRDParVille.ts
  packages/infrastructure/ore-client/src/récupérerGestionnairePourDOMTOM.ts
Due: eslint --fix

🎨 Clean
  packages/infrastructure/ore-client/src/récupérerGRDParVille.ts
Due: eslint --fix

🎨 Review, rename, simplify
  packages/infrastructure/ore-client/src/constant.ts
  packages/infrastructure/ore-client/src/helper/getDOMTOM.ts
  packages/infrastructure/ore-client/src/helper/getOutreMer.ts
  packages/infrastructure/ore-client/src/récupérerGRDParVille.ts
  packages/infrastructure/ore-client/src/récupérerGestionnairePourOutreMer.ts
Due: eslint --fix

🐛 Fix build
  packages/infrastructure/ore-client/src/index.ts
Due: eslint --fix

🎨 Better
  packages/infrastructure/ore-client/src/constant.ts
  packages/infrastructure/ore-client/src/helper/checkPostalCode.ts
  packages/infrastructure/ore-client/src/helper/matchOutreMerAndCorseCodePostalToGRD.test.ts
  packages/infrastructure/ore-client/src/helper/matchOutreMerAndCorseCodePostalToGRD.ts
  packages/infrastructure/ore-client/src/index.ts
  packages/infrastructure/ore-client/src/récupérerGRDParRaisonSociale.ts
  packages/infrastructure/ore-client/src/récupérerGRDParVille.ts
  packages/infrastructure/ore-client/src/récupérerGestionnairePourOutreMer.ts
  packages/infrastructure/ore-client/src/récupérerTousLesGRD.ts
  packages/infrastructure/ore-client/src/type.ts
Due: eslint --fix

🎨 Corse edge case
  packages/infrastructure/ore-client/src/constant.ts
  packages/infrastructure/ore-client/src/helper/checkPostalCode.ts
  packages/infrastructure/ore-client/src/helper/getOutreMer.ts
  packages/infrastructure/ore-client/src/récupérerGRDParVille.ts
Due: eslint --fix

✨ Prise en compte des Outre-mer et de la Corse pour les scripts ORE (#1917)
  packages/infrastructure/ore-client/src/constant.ts
  packages/infrastructure/ore-client/src/helper/matchOutreMerAndCorseCodePostalToGRD.test.ts
  packages/infrastructure/ore-client/src/helper/matchOutreMerAndCorseCodePostalToGRD.ts
  packages/infrastructure/ore-client/src/index.ts
  packages/infrastructure/ore-client/src/récupérerGRDParVille.ts
  packages/infrastructure/ore-client/src/récupérerTousLesGRD.ts
  packages/infrastructure/ore-client/src/type.ts
Due: eslint --fix

🚧 WIP mainlevée lister query
  packages/domain/lauréat/src/garantiesFinancières/mainlevée/consulter/consulterDemandeMainlevéeGarantiesFinancières.query.ts
  packages/domain/lauréat/src/garantiesFinancières/mainlevée/lister/listerDemandeMainlevéeGarantiesFinancières.query.ts
  packages/domain/lauréat/src/garantiesFinancières/mainlevée/mainlevéeGarantiesFinancières.entity.ts
Due: eslint --fix

🎨 Ajout barre et corrections
  packages/applications/ssr/src/app/abandons/page.tsx
  packages/applications/ssr/src/components/molecules/Search.tsx
  packages/applications/ssr/src/components/organisms/ListFilters.tsx
  packages/applications/ssr/src/components/pages/abandon/détails/EtapesAbandon.tsx
  packages/applications/ssr/src/components/pages/abandon/lister/AbandonList.page.tsx
  packages/applications/ssr/src/components/templates/ListPage.template.tsx
  packages/domain/lauréat/src/abandon/lister/listerAbandon.query.ts
Due: eslint --fix

✨ Plannifier attribution GRD aux raccordements manquants
  cron.json
  packages/applications/scheduled-tasks/attribuer-grd.sh
  packages/applications/scheduled-tasks/package.json
  packages/applications/scheduled-tasks/src/raccordement/attribuer-gestionnaire-réseau.ts
  packages/applications/scheduled-tasks/src/raccordement/maj-gestionnaire-réseau-des-projets-avec-raccordement.ts
Due: eslint --fix, prettier -w

🎨 Trim
  packages/applications/ssr/src/components/molecules/Search.tsx
Due: eslint --fix

🚧 Start with conditional type for entity
  packages/applications/projectors/src/helpers/getProjectData.ts
  packages/applications/projectors/src/subscribers/lauréat/garantiesFinancières.mainlevée.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/garantiesFinancières.projector.ts
  packages/applications/ssr/src/app/garanties-financieres/demandes-mainlevee-en-cours/page.tsx
  packages/domain/lauréat/src/garantiesFinancières/mainlevée/consulter/consulterDemandeMainlevéeGarantiesFinancières.query.ts
  packages/domain/lauréat/src/garantiesFinancières/mainlevée/lister/listerDemandeMainlevéeGarantiesFinancières.query.ts
  packages/domain/lauréat/src/garantiesFinancières/mainlevée/mainlevéeGarantiesFinancières.entity.ts
Due: eslint --fix

✨ Application CLI pour renommer des fichiers S3
  package-lock.json
  package.json
  packages/applications/cli/bin/dev.js
  packages/applications/cli/bin/run.js
  packages/applications/cli/package.json
  packages/applications/cli/src/commands/files/load-files.ts
  packages/applications/cli/src/commands/files/rename-files.ts
  packages/applications/cli/src/commands/files/rename.command.ts
  packages/applications/cli/src/hooks/init/config.ts
  packages/applications/cli/tsconfig.json
Due: eslint --fix, prettier -w

📝 Documentation autour de la commande pour générer le fichier dump (#1921)
  docs/contributing/GETTING_STARTED.md
Due: eslint --fix

🎨 Aligner search et refresh
  packages/applications/ssr/src/components/molecules/Search.tsx
  packages/applications/ssr/src/components/organisms/ListFilters.tsx
  packages/applications/ssr/src/components/templates/ListPage.template.tsx
Due: eslint --fix

🎨 Benjamin improvments
  packages/applications/ssr/src/components/molecules/Search.tsx
Due: eslint --fix

🎨 Ajout barre recherche sur liste abandons (#1923)
  packages/applications/ssr/src/app/abandons/page.tsx
  packages/applications/ssr/src/components/molecules/Search.tsx
  packages/applications/ssr/src/components/organisms/ListFilters.tsx
  packages/applications/ssr/src/components/pages/abandon/détails/EtapesAbandon.tsx
  packages/applications/ssr/src/components/pages/abandon/lister/AbandonList.page.tsx
  packages/applications/ssr/src/components/templates/ListPage.template.tsx
  packages/domain/lauréat/src/abandon/lister/listerAbandon.query.ts
Due: eslint --fix

♻️ Extract functions to get things clear in projector
  packages/applications/bootstrap/src/setupLauréat.ts
  packages/applications/projectors/src/index.ts
  packages/applications/projectors/src/subscribers/lauréat/garantiesFinancières.mainlevée.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/garantiesFinancières/garantiesFinancières.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/garantiesFinancières/mainlevée/garantiesFinancières.mainlevée.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/garantiesFinancières/mainlevée/helpers/applyDemandeMainlevéeGarantiesFinancièresAccordée.ts
  packages/applications/projectors/src/subscribers/lauréat/garantiesFinancières/mainlevée/helpers/applyDemandeMainlevéeGarantiesFinancièresAnnulée.ts
  packages/applications/projectors/src/subscribers/lauréat/garantiesFinancières/mainlevée/helpers/applyDemandeMainlevéeGarantiesFinancièresRejetée.ts
  packages/applications/projectors/src/subscribers/lauréat/garantiesFinancières/mainlevée/helpers/applyInstructionDemandeMainlevéeGarantiesFinancièresDémarrée.ts
  packages/applications/projectors/src/subscribers/lauréat/garantiesFinancières/mainlevée/helpers/applyMainlevéeGarantiesFinancièresDemandée.ts
  packages/applications/projectors/src/subscribers/lauréat/garantiesFinancières/mainlevée/helpers/getMainlevéeDemandée.ts
  packages/applications/ssr/src/app/garanties-financieres/demandes-mainlevee-en-cours/page.tsx
  packages/domain/lauréat/src/garantiesFinancières/mainlevée/lister/listerDemandeMainlevéeGarantiesFinancières.query.ts
  packages/domain/lauréat/src/garantiesFinancières/mainlevée/mainlevéeGarantiesFinancières.entity.ts
Due: eslint --fix

🎨 User friendly filters
  packages/applications/ssr/src/components/organisms/ListFilters.tsx
Due: eslint --fix

Update packages/applications/cli/src/commands/files/rename.command.ts
  packages/applications/cli/src/commands/files/rename.command.ts
Due: eslint --fix

📝 Add deprecated on getProjectData function
  packages/applications/projectors/src/helpers/getProjectData.ts
Due: eslint --fix

🐛 Set a different name for the mainlevee projector
  packages/applications/bootstrap/src/setupLauréat.ts
Due: eslint --fix

🐛 Fix registration of the projector for mainlevée
  packages/applications/bootstrap/src/setupLauréat.ts
Due: eslint --fix

🎨 Correction effet de bord
  packages/applications/ssr/src/components/molecules/Search.tsx
  packages/applications/ssr/src/components/organisms/ListFilters.tsx
Due: eslint --fix

🎨 amélioration du fonctionnement des filtres (#1926)
  packages/applications/ssr/src/components/molecules/Search.tsx
  packages/applications/ssr/src/components/organisms/ListFilters.tsx
Due: eslint --fix

Update packages/applications/scheduled-tasks/attribuer-grd.sh
  packages/applications/scheduled-tasks/attribuer-grd.sh
Due: none

✨ Ajout d'un cron pour l'attribution des GRD aux raccordements manquants (#1924)
  cron.json
  packages/applications/scheduled-tasks/attribuer-grd.sh
  packages/applications/scheduled-tasks/package.json
  packages/applications/scheduled-tasks/src/raccordement/attribuer-gestionnaire-réseau.ts
  packages/applications/scheduled-tasks/src/raccordement/maj-gestionnaire-réseau-des-projets-avec-raccordement.ts
Due: eslint --fix, prettier -w

🌱 Update seed db file
  .database/potentiel-dev.dump
Due: none

🌱 Update seed db file (#1927)
  .database/potentiel-dev.dump
Due: none

✨ Application CLI pour renommer des fichiers S3 (#1925)
  package-lock.json
  package.json
  packages/applications/cli/bin/dev.js
  packages/applications/cli/bin/run.js
  packages/applications/cli/package.json
  packages/applications/cli/src/commands/files/load-files.ts
  packages/applications/cli/src/commands/files/rename-files.ts
  packages/applications/cli/src/commands/files/rename.command.ts
  packages/applications/cli/src/hooks/init/config.ts
  packages/applications/cli/tsconfig.json
Due: eslint --fix, prettier -w

🎨 Alerte
  packages/applications/ssr/src/components/pages/garanties-financières/détails/components/GarantiesFinancièresActuelles.tsx
Due: eslint --fix

🚧 Review GF entity (one entity to rule them all !)
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancières.entity.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/consulter/consulterGarantiesFinancières.query.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/garantiesFinancièresActuelles.entity.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml}
