Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

🎨 Suppression comment car feature a supprimer
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/transmettre-preuve-recandidature/TransmettrePreuveRecandidature.tsx
Due: eslint --fix

🎨 AÉtéCréé
  packages/specifications/src/notification/stepDefinitions/notification.then.ts
Due: eslint --fix

✅ Select
  packages/specifications/src/projet/lauréat/délai/passerEnInstructionDemandeDélai.feature
Due: prettier -w

🐛 Fix: producteur modifable par dreal
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🎨 Fix form + update wording attestation
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(actuelles)/actuelles:modifier/ModifierGarantiesFinancièresActuelles.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(dépôt)/depot:soumettre/SoumettreDépôtGarantiesFinancières.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(dépôt)/depot:soumettre/SoumettreDépôtGarantiesFinancières.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/TypeGarantiesFinancièresSelect.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/_helpers/addGarantiesFinancièresToSchema.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/components/GarantiesFinancières.tsx
Due: eslint --fix

🎨 Importer la date dé délibération à la notification
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/actuelles/typeGarantiesFinancièresImporté.projector.ts
  packages/applications/ssr/src/utils/historique/mapToProps/garanties-financières/events/actuelles/mapToTypeGarantiesFinancièresImportéTimelineItemsProps.tsx
  packages/domain/projet/src/lauréat/garanties-financières/actuelles/importer/importerGarantiesFinancières.option.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/garantiesFinancièresActuelles.world.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/importerTypeGarantiesFinancièresActuelles.feature
Due: eslint --fix, prettier -w

🐛 Corriger corriger candidature
  packages/applications/ssr/src/app/candidatures/[identifiant]/DétailsCandidature.page.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/CorrigerCandidature.form.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/corrigerCandidature.action.ts
  packages/domain/projet/src/candidature/dépôt.valueType.ts
Due: eslint --fix

🎨 Wording GF actuelles si exemption
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(actuelles)/GarantiesFinancièresActuellesActions.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/DétailsGarantiesFinancières.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/components/GarantiesFinancières.tsx
Due: eslint --fix

🎨 Enregistrer attestation
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(actuelles)/actuelles:enregistrer-attestation/EnregistrerAttestationGarantiesFinancières.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(actuelles)/actuelles:enregistrer-attestation/EnregistrerAttestationGarantiesFinancières.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(actuelles)/actuelles:enregistrer-attestation/page.tsx
Due: eslint --fix

🎨 Info main levée
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/page.tsx
Due: eslint --fix

✅ Fix tests
  packages/domain/projet/src/candidature/candidature.aggregate.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.error.ts
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/importerTypeGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/modifierGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/soumettreDépôtGarantiesFinancières.feature
Due: eslint --fix, prettier -w

🎨 Scenario supprimé par erreur
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/demanderMainlevéeGarantiesFinancières.feature
Due: prettier -w

🎨 Fix naming
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/AdminMenuLegacy.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/DrealMenuLegacy.tsx
  packages/applications/routes/src/lauréat/délai.routes.ts
  packages/applications/routes/src/lauréat/puissance.routes.ts
  packages/applications/ssr/src/app/laureats/changements/abandon/page.tsx
  packages/applications/ssr/src/app/laureats/changements/delai/page.tsx
  packages/applications/ssr/src/app/laureats/changements/puissance/page.tsx
  packages/applications/ssr/src/components/organisms/header/UserBasedRoleNavigation.tsx
  packages/domain/projet/src/lauréat/délai/demande/lister/listerDemandeDélai.query.ts
  packages/domain/projet/src/lauréat/puissance/changement/lister/listerChangementPuissance.query.ts
Due: eslint --fix

🐛 Producteur modifiable par dreal (#3491)
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🎨 Refacto
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/ModifierLauréat.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/components/fields/ActionnariatField.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/components/fields/InstallationAvecDispositifDeStockageField.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/components/fields/LocalitéField.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/components/fields/TechnologieField.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/components/fields/generic/CandidatureField.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/components/fields/generic/CandidatureSelectFiels.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/components/fields/generic/ProjectField.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/components/fields/generic/ProjectSelectField.tsx
Due: eslint --fix

🎨 Gestion des optionnels
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/ModifierLauréat.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/components/fields/PuissanceALaPointeField .tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/components/fields/generic/CandidatureField.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/components/fields/generic/CandidatureSelectFiels.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/components/fields/generic/ProjectField.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/components/fields/generic/ProjectSelectField.tsx
Due: eslint --fix

🎨 Useless export
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/components/fields/generic/CandidatureSelectFiels.tsx
Due: eslint --fix

🗃️ Dump
  .database/potentiel-dev.dump
Due: none

✨ Correction des stats de mise en service par cycle, et ajout outil de test
  packages/applications/cli/src/commands/stats/compare.ts
  packages/applications/cli/src/commands/stats/extraire.ts
  packages/statistiques/statistiques-publiques/src/06-par-cycle/computeNombreTotalProjetAyantTransmisAttestationConformitéParCycle.ts
  packages/statistiques/statistiques-publiques/src/06-par-cycle/computePourcentageProjetEnServiceParCycle.statistic.ts
  packages/statistiques/statistiques-publiques/src/06-par-cycle/index.ts
  packages/statistiques/statistiques-publiques/src/06-par-cycle/nombreTotalProjetPPE2AyantTransmisAttestationConformité.statistic.ts
  packages/statistiques/statistiques-publiques/src/06-par-cycle/pourcentageProjetCRE4EnService.statistic.ts
  packages/statistiques/statistiques-publiques/src/_utils/getCountProjetsLauréatsNonAbandonnés.ts
Due: eslint --fix

⬆️ Package lock
  package-lock.json
  packages/applications/cli/package.json
Due: eslint --fix, prettier -w

✨ Correction des stats de mise en service par cycle, et ajout outil de test (#3494)
  package-lock.json
  packages/applications/cli/package.json
  packages/applications/cli/src/commands/stats/compare.ts
  packages/applications/cli/src/commands/stats/extraire.ts
  packages/statistiques/statistiques-publiques/src/06-par-cycle/computeNombreTotalProjetAyantTransmisAttestationConformitéParCycle.ts
  packages/statistiques/statistiques-publiques/src/06-par-cycle/computePourcentageProjetEnServiceParCycle.statistic.ts
  packages/statistiques/statistiques-publiques/src/06-par-cycle/index.ts
  packages/statistiques/statistiques-publiques/src/06-par-cycle/nombreTotalProjetPPE2AyantTransmisAttestationConformité.statistic.ts
  packages/statistiques/statistiques-publiques/src/06-par-cycle/pourcentageProjetCRE4EnService.statistic.ts
  packages/statistiques/statistiques-publiques/src/_utils/getCountProjetsLauréatsNonAbandonnés.ts
Due: eslint --fix, prettier -w

♻️ Utilisation du join multiple quand cela est possible
  packages/applications/projectors/src/subscribers/candidature/candidatureCorrigée.projector.ts
  packages/applications/projectors/src/subscribers/candidature/candidatureCorrigéeV1.projector.ts
  packages/applications/projectors/src/subscribers/candidature/candidatureImportée.projector.ts
  packages/applications/projectors/src/subscribers/candidature/candidatureImportéeV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/puissance/changementPuissanceAccordé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/puissance/changementPuissanceDemandé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/puissance/changementPuissanceEnregistré.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/puissance/changementPuissanceRejeté.projector.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/demander/DemanderChangementPuissance.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/demander/DemanderChangementPuissance.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/demander/page.tsx
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.test.ts
  packages/domain/projet/src/candidature/candidature.aggregate.ts
  packages/domain/projet/src/candidature/candidature.entity.ts
  packages/domain/projet/src/candidature/consulter/consulterCandidature.query.ts
  packages/domain/projet/src/candidature/index.ts
  packages/domain/projet/src/candidature/lister/listerCandidatures.query.ts
  packages/domain/projet/src/lauréat/cahierDesCharges/consulter/consulterCahierDesCharges.query.ts
  packages/domain/projet/src/lauréat/consulter/consulterLauréat.query.ts
  packages/domain/projet/src/lauréat/fournisseur/consulter/consulterFournisseur.query.ts
  packages/domain/projet/src/lauréat/puissance/changement/changementPuissance.entity.ts
  packages/domain/projet/src/lauréat/puissance/changement/lister/listerChangementPuissance.query.ts
  packages/domain/projet/src/lauréat/puissance/consulter/consulterPuissance.query.ts
  packages/domain/projet/src/lauréat/puissance/consulter/consulterVolumeRéservé.query.ts
  packages/domain/projet/src/lauréat/puissance/index.ts
  packages/domain/projet/src/lauréat/puissance/puissance.register.ts
  packages/domain/projet/src/lauréat/puissance/valueType/ratioChangementPuissance.valueType.ts
  packages/domain/projet/src/lauréat/puissance/valueType/volumeRéservé.valueType.ts
  packages/domain/projet/src/lauréat/raccordement/lister/listerDossierRaccordement.query.ts
  packages/domain/projet/src/lauréat/raccordement/lister/listerDossierRaccordementEnAttenteMiseEnService.query.ts
  packages/domain/projet/src/lauréat/raccordement/lister/listerDossierRaccordementManquants.query.ts
  packages/domain/projet/src/éliminé/consulter/consulterÉliminé.query.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/candidature/candidature.world.ts
  packages/specifications/src/projet/lauréat/lauréat.world.ts
Due: eslint --fix

🚚 UnitéPuissanceCalculée -> unitéPuissance
  packages/applications/projectors/src/subscribers/candidature/candidatureCorrigée.projector.ts
  packages/applications/projectors/src/subscribers/candidature/candidatureImportée.projector.ts
  packages/domain/projet/src/candidature/candidature.entity.ts
  packages/domain/projet/src/candidature/consulter/consulterCandidature.query.ts
  packages/domain/projet/src/candidature/lister/listerCandidatures.query.ts
  packages/domain/projet/src/lauréat/puissance/changement/lister/listerChangementPuissance.query.ts
  packages/domain/projet/src/lauréat/puissance/consulter/consulterPuissance.query.ts
  packages/domain/projet/src/lauréat/raccordement/lister/listerDossierRaccordement.query.ts
  packages/domain/projet/src/lauréat/raccordement/lister/listerDossierRaccordementEnAttenteMiseEnService.query.ts
  packages/domain/projet/src/lauréat/raccordement/lister/listerDossierRaccordementManquants.query.ts
Due: eslint --fix

🐛 Combiner clauses where
  packages/infrastructure/pg-projection-read/src/getWhereClause.ts
  packages/infrastructure/pg-projection-read/src/listProjection.test.ts
Due: eslint --fix

Revert "🐛 Combiner clauses where"
  packages/infrastructure/pg-projection-read/src/getWhereClause.ts
  packages/infrastructure/pg-projection-read/src/listProjection.test.ts
Due: eslint --fix

🔇 Log
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/demander/DemanderChangementPuissance.form.tsx
Due: eslint --fix

🗃️ Dump update rebuild candidature/puissance
  .database/potentiel-dev.dump
Due: none

♻️ Utilisation du join multiple quand cela est possible (#3496)
  .database/potentiel-dev.dump
  packages/applications/projectors/src/subscribers/candidature/candidatureCorrigée.projector.ts
  packages/applications/projectors/src/subscribers/candidature/candidatureCorrigéeV1.projector.ts
  packages/applications/projectors/src/subscribers/candidature/candidatureImportée.projector.ts
  packages/applications/projectors/src/subscribers/candidature/candidatureImportéeV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/puissance/changementPuissanceAccordé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/puissance/changementPuissanceDemandé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/puissance/changementPuissanceEnregistré.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/puissance/changementPuissanceRejeté.projector.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/demander/DemanderChangementPuissance.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/demander/page.tsx
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.test.ts
  packages/domain/projet/src/candidature/candidature.aggregate.ts
  packages/domain/projet/src/candidature/candidature.entity.ts
  packages/domain/projet/src/candidature/consulter/consulterCandidature.query.ts
  packages/domain/projet/src/candidature/index.ts
  packages/domain/projet/src/candidature/lister/listerCandidatures.query.ts
  packages/domain/projet/src/lauréat/cahierDesCharges/consulter/consulterCahierDesCharges.query.ts
  packages/domain/projet/src/lauréat/consulter/consulterLauréat.query.ts
  packages/domain/projet/src/lauréat/fournisseur/consulter/consulterFournisseur.query.ts
  packages/domain/projet/src/lauréat/puissance/changement/changementPuissance.entity.ts
  packages/domain/projet/src/lauréat/puissance/changement/lister/listerChangementPuissance.query.ts
  packages/domain/projet/src/lauréat/puissance/consulter/consulterPuissance.query.ts
  packages/domain/projet/src/lauréat/puissance/consulter/consulterVolumeRéservé.query.ts
  packages/domain/projet/src/lauréat/puissance/index.ts
  packages/domain/projet/src/lauréat/puissance/puissance.register.ts
  packages/domain/projet/src/lauréat/puissance/valueType/ratioChangementPuissance.valueType.ts
  packages/domain/projet/src/lauréat/puissance/valueType/volumeRéservé.valueType.ts
  packages/domain/projet/src/lauréat/raccordement/lister/listerDossierRaccordement.query.ts
  packages/domain/projet/src/lauréat/raccordement/lister/listerDossierRaccordementEnAttenteMiseEnService.query.ts
  packages/domain/projet/src/lauréat/raccordement/lister/listerDossierRaccordementManquants.query.ts
  packages/domain/projet/src/éliminé/consulter/consulterÉliminé.query.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/candidature/candidature.world.ts
  packages/specifications/src/projet/lauréat/lauréat.world.ts
Due: eslint --fix

🔥 Supprimer la fonctionalité correction de réponse signée
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(mainlevée)/(historique-main-levée-rejetée)/HistoriqueMainlevéeRejetée.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(mainlevée)/MainlevéeEnCours.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(mainlevée)/corrigerRéponseSignée/CorrigerRéponseSignée.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(mainlevée)/corrigerRéponseSignée/corrigerRéponseSignée.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/DétailsGarantiesFinancières.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/page.tsx
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🔊 Amélioration des logs
  packages/applications/bootstrap/src/middlewares/log.middleware.ts
  packages/applications/request-context/src/request-context.ts
  packages/applications/request-context/src/runWithContext.ts
Due: eslint --fix

🚧 WIP liste des lauréats
  packages/applications/ssr/src/app/laureats/LauréatList.page.tsx
  packages/applications/ssr/src/app/laureats/LauréatListItem.tsx
  packages/applications/ssr/src/app/laureats/page.tsx
  packages/domain/projet/src/lauréat/index.ts
  packages/domain/projet/src/lauréat/lauréat.register.ts
  packages/domain/projet/src/lauréat/lister/listerLauréat.query.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🎨 Rechercher par nom projet
  packages/applications/ssr/src/app/laureats/LauréatListItem.tsx
  packages/applications/ssr/src/app/laureats/page.tsx
  packages/domain/projet/src/lauréat/lister/listerLauréat.query.ts
Due: eslint --fix

🚧 Utilisation du multi join pour récupérer les informations important sur la liste des projets lauréats
  packages/domain/projet/src/lauréat/lister/listerLauréat.query.ts
Due: eslint --fix

🎨 Filtrage par appel d'offre
  packages/applications/ssr/src/app/laureats/page.tsx
  packages/domain/projet/src/lauréat/lister/listerLauréat.query.ts
Due: eslint --fix

🎨 Affichage légende + export CSV
  packages/applications/routes/src/projet/projet.routes.ts
  packages/applications/ssr/src/app/laureats/LauréatList.page.tsx
  packages/applications/ssr/src/app/laureats/LauréatListItem.tsx
  packages/applications/ssr/src/app/laureats/page.tsx
  packages/applications/ssr/src/components/molecules/ListAction.tsx
  packages/applications/ssr/src/components/molecules/ListLegend.tsx
  packages/applications/ssr/src/components/templates/ListPage.template.tsx
  packages/domain/projet/src/lauréat/lister/listerLauréat.query.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
