Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

🎨 Force pg16 in restore test env script
  .database/scripts/restore-test-env-db.sh
Due: none

♻️ Utilisation du type helper IdentifiantParameter aux endroits oubliés (#4214)
  packages/applications/ssr/src/app/candidatures/[identifiant]/layout.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/layout.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/layout.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/layout.tsx
  packages/applications/ssr/src/app/utilisateurs/[identifiant]/role:modifier/page.tsx
Due: eslint --fix

🐛 Fix flaky (#4213)
  packages/specifications/src/candidature/corrigerCandidature.feature
Due: prettier -w

🎨 Force pg16 in restore test env script (#4217)
  .database/scripts/restore-test-env-db.sh
Due: none

🐛 Création d'un package dédié feature-flag pour le dissocier de request-context
  package-lock.json
  packages/applications/feature-flag/package.json
  packages/applications/feature-flag/src/index.ts
  packages/applications/feature-flag/tsconfig.json
  packages/applications/request-context/src/request-context.ts
  packages/applications/request-context/src/runWithContext.ts
  packages/applications/ssr/package.json
  packages/applications/ssr/src/app/export/page.tsx
  packages/applications/ssr/src/app/laureats/(liste)/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getLauréatMenuItems.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/signaler/page.tsx
  packages/applications/ssr/src/app/laureats/changements/abandon/page.tsx
  packages/applications/ssr/src/app/layout.tsx
  packages/applications/ssr/src/app/reseaux/raccordements/page.tsx
  packages/applications/ssr/src/components/molecules/projet/lauréat/PPABadge.tsx
  packages/applications/ssr/tsconfig.json
Due: eslint --fix, prettier -w

final
  packages/applications/cli/src/commands/lauréat/importer-coordonnees.ts
Due: eslint --fix

🗃️ Ajout des coordonnés au dump
  .database/potentiel-dev.dump
Due: none

🎨 Ajout d'un helper server only SSR pour les FF
  package-lock.json
  packages/applications/feature-flag/package.json
  packages/applications/feature-flag/src/index.ts
  packages/applications/feature-flag/tsconfig.json
  packages/applications/ssr/package.json
  packages/applications/ssr/src/app/_helpers/getFeatureFlag.ts
  packages/applications/ssr/src/app/export/page.tsx
  packages/applications/ssr/src/app/laureats/(liste)/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getLauréatMenuItems.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/signaler/page.tsx
  packages/applications/ssr/src/app/laureats/changements/abandon/page.tsx
  packages/applications/ssr/src/app/layout.tsx
  packages/applications/ssr/src/app/reseaux/raccordements/page.tsx
  packages/applications/ssr/src/components/molecules/projet/lauréat/PPABadge.tsx
  packages/applications/ssr/src/components/molecules/projet/lauréat/ProjetLauréatBanner.tsx
  packages/applications/ssr/tsconfig.json
Due: eslint --fix, prettier -w

🐛 Ajout d'un helper server only pour gérer les feature flag côté SSR (#4218)
  package-lock.json
  packages/applications/request-context/src/request-context.ts
  packages/applications/request-context/src/runWithContext.ts
  packages/applications/ssr/src/app/_helpers/getFeatureFlag.ts
  packages/applications/ssr/src/app/export/page.tsx
  packages/applications/ssr/src/app/laureats/(liste)/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getLauréatMenuItems.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/signaler/page.tsx
  packages/applications/ssr/src/app/laureats/changements/abandon/page.tsx
  packages/applications/ssr/src/app/layout.tsx
  packages/applications/ssr/src/app/reseaux/raccordements/page.tsx
  packages/applications/ssr/src/components/molecules/projet/lauréat/PPABadge.tsx
  packages/applications/ssr/src/components/molecules/projet/lauréat/ProjetLauréatBanner.tsx
  packages/applications/ssr/tsconfig.json
Due: eslint --fix, prettier -w

implementation naive du back
  packages/applications/projectors/src/subscribers/lauréat/power-purchase-agreement/index.ts
  packages/applications/projectors/src/subscribers/lauréat/power-purchase-agreement/powerPurchaseAgreementAnnulé.projector.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/Badges.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getLauréatMenuItems.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/signaler/(historique)/events/mapToPowerPurchaseAgreementAnnuléTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/signaler/(historique)/mapToPowerPurchaseAgreementTimelineItemProps.tsx
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupPowerPurchaseAgreement.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/PowerPurchaseAgreement.errors.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/PowerPurchaseAgreement.events.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/PowerPurchaseAgreement.register.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/annuler/PowerPurchaseAgreementAnnulé.event.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/annuler/annulerPowerPurchaseAgreement.command.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/annuler/annulerPowerPurchaseAgreement.option.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/annuler/annulerPowerPurchaseAgreement.usecase.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/index.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/powerPurchaseAgreement.aggregate.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/projet/lauréat/power-purchase-agreement/annulerPowerPurchaseAgreement.feature
  packages/specifications/src/projet/lauréat/power-purchase-agreement/stepDefinitions/powerPurchaseAgreement.then.ts
  packages/specifications/src/projet/lauréat/power-purchase-agreement/stepDefinitions/powerPurchaseAgreement.when.ts
Due: eslint --fix, prettier -w

ajustement et role
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/annuler/DétailsPowerPurchaseAgreement.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/annuler/annulerPowerPurchaseAgreement.action.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

WIP front
  packages/applications/projectors/src/subscribers/lauréat/power-purchase-agreement/powerPurchaseAgreementSignalé.projector.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/historique/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/(historique)/events/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/(historique)/events/mapToPowerPurchaseAgreementAnnuléTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/(historique)/events/mapToPowerPurchaseAgreementSignaléTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/(historique)/mapToPowerPurchaseAgreementTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/annuler/AnnulerPowerPurchaseAgreement.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/annuler/AnnulerPowerPurchaseAgreement.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/annuler/DétailsPowerPurchaseAgreement.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/annuler/annulerPowerPurchaseAgreement.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/annuler/page.tsx
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupPowerPurchaseAgreement.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/consulter/consulterPowerPurchaseAgreement.query.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/powerPurchaseAgreement.entity.ts
Due: eslint --fix

badges et wording
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/annuler/AnnulerPowerPurchaseAgreement.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/annuler/AnnulerPowerPurchaseAgreement.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/annuler/annulerPowerPurchaseAgreement.action.ts
Due: eslint --fix

oubli
  packages/applications/projectors/src/subscribers/lauréat/power-purchase-agreement/index.ts
  packages/applications/projectors/src/subscribers/lauréat/power-purchase-agreement/signalementPowerPurchaseAgreementAnnulé.projector.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/PowerPurchaseAgreement.register.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/annulerSignalement/annulerSignalementPowerPurchaseAgreement.command.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/annulerSignalement/annulerSignalementPowerPurchaseAgreement.option.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/annulerSignalement/annulerSignalementPowerPurchaseAgreement.usecase.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/index.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/powerPurchaseAgreement.aggregate.ts
Due: eslint --fix

notifs
  packages/applications/notifications/src/index.ts
  packages/applications/notifications/src/subscribers/lauréat/power-purchase-agreement/handlers/index.ts
  packages/applications/notifications/src/subscribers/lauréat/power-purchase-agreement/handlers/powerPurchaseAgreementSignalé.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/power-purchase-agreement/handlers/signalementPowerPurchaseAgreementAnnulé.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/power-purchase-agreement/powerPurchaseAgreement.notifications.ts
  packages/applications/notifications/src/templates/emails/lauréat/power-purchase-agreement/annuler_signalement.md
  packages/applications/notifications/src/templates/emails/lauréat/power-purchase-agreement/signaler.md
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupPowerPurchaseAgreement.ts
  packages/specifications/src/projet/lauréat/power-purchase-agreement/annulerPowerPurchaseAgreement.feature
  packages/specifications/src/projet/lauréat/power-purchase-agreement/signalerPowerPurchaseAgreement.feature
Due: eslint --fix, prettier -w

wording
  packages/applications/notifications/src/subscribers/lauréat/power-purchase-agreement/handlers/signalementPowerPurchaseAgreementAnnulé.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/power-purchase-agreement/powerPurchaseAgreement.notifications.ts
  packages/applications/projectors/src/subscribers/lauréat/power-purchase-agreement/index.ts
  packages/applications/projectors/src/subscribers/lauréat/power-purchase-agreement/powerPurchaseAgreementAnnulé.projector.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/(historique)/events/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/(historique)/events/mapToSignalementPowerPurchaseAgreementAnnuléTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/(historique)/mapToPowerPurchaseAgreementTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/annuler-signalement/AnnulerSignalementPowerPurchaseAgreement.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/annuler-signalement/AnnulerSignalementPowerPurchaseAgreement.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/annuler-signalement/DétailsPowerPurchaseAgreement.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/annuler-signalement/annulerSignalementPowerPurchaseAgreement.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/annuler-signalement/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/annuler/AnnulerPowerPurchaseAgreement.page.tsx
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupPowerPurchaseAgreement.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/PowerPurchaseAgreement.events.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/PowerPurchaseAgreement.register.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/annuler/annulerPowerPurchaseAgreement.command.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/annuler/annulerPowerPurchaseAgreement.usecase.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/annulerSignalement/SignalementPowerPurchaseAgreementAnnulé.event.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/annulerSignalement/annulerPowerPurchaseAgreement.command.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/annulerSignalement/annulerPowerPurchaseAgreement.option.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/annulerSignalement/annulerPowerPurchaseAgreement.usecase.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/index.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/powerPurchaseAgreement.aggregate.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/projet/lauréat/power-purchase-agreement/annulerSignalementPowerPurchaseAgreement.feature
  packages/specifications/src/projet/lauréat/power-purchase-agreement/stepDefinitions/powerPurchaseAgreement.when.ts
Due: eslint --fix, prettier -w

fix: historique et review
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/annuler-signalement/AnnulerSignalementPowerPurchaseAgreement.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/annuler-signalement/DétailsPowerPurchaseAgreement.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/annuler-signalement/page.tsx
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupPowerPurchaseAgreement.ts
Due: eslint --fix

correctifs
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getLauréatMenuItems.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/(historique)/events/mapToSignalementPowerPurchaseAgreementAnnuléTimelineItemProps.tsx
Due: eslint --fix

regle metier dreal pour annulation etat
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

migration next16
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/annuler-signalement/page.tsx
Due: eslint --fix

front fix
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getLauréatMenuItems.tsx
Due: eslint --fix

wording
  packages/applications/notifications/src/templates/emails/lauréat/power-purchase-agreement/annuler_signalement.md
  packages/applications/notifications/src/templates/emails/lauréat/power-purchase-agreement/signaler.md
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/annuler-signalement/AnnulerSignalementPowerPurchaseAgreement.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/annuler-signalement/annulerSignalementPowerPurchaseAgreement.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/signaler/signalerPowerPurchaseAgreement.action.ts
Due: eslint --fix

ajout permission dreal
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

wording
  packages/applications/notifications/src/templates/emails/lauréat/power-purchase-agreement/annuler_signalement.md
  packages/applications/notifications/src/templates/emails/lauréat/power-purchase-agreement/signaler.md
Due: eslint --fix

fix post-rebase
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getLauréatMenuItems.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/annuler-signalement/page.tsx
  packages/applications/ssr/src/components/molecules/projet/lauréat/ProjetLauréatBanner.tsx
Due: eslint --fix

Correction des cdc disponibles pour CRE4 ZNI
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni.cre4.ts
Due: eslint --fix

🔧 Correction des cdc disponibles pour CRE4 ZNI (#4221)
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni.cre4.ts
Due: eslint --fix

🗃️ Ajout des coordonnés au dump (#4219)
  .database/potentiel-dev.dump
Due: none

Titres
  packages/applications/ssr/src/app/garanties-financieres/depots-en-cours/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/mainlevee/page.tsx
  packages/applications/ssr/src/app/laureats/changements/nom-projet/page.tsx
Due: eslint --fix

ajout coordonnées dans historique
  packages/applications/ssr/src/app/laureats/[identifiant]/(historique)/events/mapToSiteDeProductionModifiéTimelineItemProps.tsx
Due: eslint --fix

fix grd comparison
  packages/domain/réseau/src/gestionnaire/gestionnaireRéseau.aggregate.ts
Due: eslint --fix

wording emails invitation
  packages/applications/notifications/src/templates/emails/utilisateur/inviter_dreal.md
  packages/applications/notifications/src/templates/emails/utilisateur/inviter_partenaire.md
Due: eslint --fix

🐛 Feedbacks tests release 3.78 (#4222)
  packages/applications/notifications/src/templates/emails/utilisateur/inviter_dreal.md
  packages/applications/notifications/src/templates/emails/utilisateur/inviter_partenaire.md
  packages/applications/ssr/src/app/garanties-financieres/depots-en-cours/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(historique)/events/mapToSiteDeProductionModifiéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/mainlevee/page.tsx
  packages/applications/ssr/src/app/laureats/changements/nom-projet/page.tsx
  packages/domain/réseau/src/gestionnaire/gestionnaireRéseau.aggregate.ts
Due: eslint --fix

🎨 Utilisation de getSessionUser à la place de getContext?.utilisateur
  packages/applications/ssr/src/app/(homepage)/page.tsx
  packages/applications/ssr/src/app/auth/signIn/page.tsx
  packages/applications/ssr/src/app/auth/signUp/page.tsx
  packages/applications/ssr/src/app/auth/verifyRequest/page.tsx
  packages/applications/ssr/src/utils/withRateLimit.ts
  packages/applications/ssr/src/utils/withUtilisateur.ts
Due: eslint --fix

🎨 Suppression des redirections d'url depuis les actions + ajout de todo
  packages/applications/ssr/src/app/candidatures/[identifiant]/DétailsCandidature.page.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/[date]/accorder/accorderRecours.action.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/[date]/annuler/annulerRecours.action.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/[date]/passerEnInstruction/passerRecoursEnInstruction.action.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/[date]/rejeter/rejeterRecours.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/accorder/accorderAbandonAvecRecandidature.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/accorder/accorderAbandonSansRecandidature.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/annuler/annulerAbandon.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/confirmer/confirmerAbandon.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/demanderConfirmation/demanderConfirmationAbandon.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/passerEnInstruction/passerAbandonEnInstruction.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/rejeter/rejeterAbandon.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/transmettre-preuve-recandidature/transmettrePreuveRecandidature.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/accorder/accorderChangementActionnaire.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/annuler/annulerChangementActionnaire.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/rejeter/rejeterChangementActionnaire.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/accorder/accorderDemandeDélai.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/annuler/annulerDemandeDélai.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/passer-en-instruction/passerEnInstructionDemandeDélai.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/rejeter/rejeterDemandeDélai.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/accorder/accorderChangementPuissance.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/annuler/annulerChangementPuissance.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/rejeter/rejeterChangementPuissance.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/accorder/accorderChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/annuler/annulerChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/rejeter/rejeterChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/components/organisms/accès/(inviter)/inviterPorteur.action.ts
  packages/applications/ssr/src/components/organisms/accès/retirerAccèsProjet.action.ts
Due: eslint --fix

🔧 Ajout d'une règle eslint custom pour empêcher les import getContext
  packages/applications/ssr/eslint.config.mjs
Due: none

🐛 Missing include in api-documentation cause bad tubro build order
  packages/applications/api-documentation/tsconfig.json
Due: eslint --fix, prettier -w

🎨 Utilisation de la route détailsPourRedirection pour un retour d'action actionnaire
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/accorder/accorderChangementActionnaire.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/annuler/annulerChangementActionnaire.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/rejeter/rejeterChangementActionnaire.action.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
