Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml,feature}": "prettier -w"
}

♻️ Supprimer les utilisations de ConsulterProjet
  packages/applications/document-builder/src/modèleRéponseSignée/abandon/modèleRéponseSignéeAbandon.ts
  packages/applications/document-builder/src/modèleRéponseSignée/actionnaire/modèleRéponseSignéeActionnaire.ts
  packages/applications/document-builder/src/modèleRéponseSignée/index.ts
  packages/applications/document-builder/src/modèleRéponseSignée/modèleRéponseSignée.ts
  packages/applications/document-builder/src/modèleRéponseSignée/recours/modèleRéponseSignéeRecours.ts
  packages/applications/legacy/src/controllers/modificationRequest/délai/getCorrigerDelaiAccordePage.ts
  packages/applications/legacy/src/controllers/modificationRequest/délai/postCorrigerDelaiAccorde.ts
  packages/applications/legacy/src/views/components/UI/templates/PageProjetTemplate.tsx
  packages/applications/legacy/src/views/pages/délai/CorrigerDelaiAccordePage.tsx
  packages/applications/ssr/src/app/elimine/[identifiant]/recours/modele-reponse/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/modele-reponse/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/modele-reponse/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/modele-mise-en-demeure/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/modele-reponse-mainlevee/route.ts
  packages/applications/ssr/src/components/pages/abandon/détails/accorder/accorderAbandonAvecRecandidature.action.ts
  packages/applications/ssr/src/utils/modèle-document/formatBoolean.ts
  packages/applications/ssr/src/utils/modèle-document/mapToModelePayload.ts
  packages/domain/candidature/src/typeActionnariat.valueType.ts
Due: eslint --fix

🎨 Puissance
  packages/applications/document-builder/src/modèleRéponseSignée/puissance/modèleRéponseSignéePuissance.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/modele-reponse/route.ts
Due: eslint --fix

🎨 Fix délai
  packages/applications/document-builder/src/modèleRéponseSignée/délai/modèleRéponseSignéeDélai.ts
  packages/applications/document-builder/src/modèleRéponseSignée/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/modele-reponse/route.ts
Due: eslint --fix

✅ Bye bye flaky test due to ratio
  packages/domain/lauréat/src/puissance/changement/enregistrerChangement/enregistrerChangementPuissance.command.ts
  packages/specifications/src/projet/lauréat/puissance/changement/accorderChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/annulerChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/demanderChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/enregistrerChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/fixture/demanderChangementPuissance.fixture.ts
  packages/specifications/src/projet/lauréat/puissance/changement/rejeterChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/stepDefinitions/changementPuissance.given.ts
  packages/specifications/src/projet/lauréat/puissance/changement/supprimerChangementPuissance.feature
Due: eslint --fix, prettier -w

🎨 Remove select
  packages/specifications/src/projet/lauréat/puissance/changement/rejeterChangementPuissance.feature
Due: prettier -w

✨ Permettre la modification de la puissance dans le formulaire lauréat
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/getLauréat.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/modifier/page.tsx
  packages/applications/ssr/src/components/pages/lauréat/modifier/ModifierLauréat.form.tsx
  packages/applications/ssr/src/components/pages/lauréat/modifier/modifierLauréat.action.ts
Due: eslint --fix

🐛 Fix bug filtrage par statut + retour Ben
  packages/applications/ssr/src/app/laureats/changements/puissance/page.tsx
  packages/domain/lauréat/src/puissance/changement/lister/listerChangementPuissance.query.ts
Due: eslint --fix

🎨 V1
  packages/applications/projectors/src/subscribers/lauréat/puissance/changementPuissanceAccordé.projector.ts
  packages/applications/ssr/src/components/pages/puissance/changement/détails/DétailsChangementPuissance.tsx
  packages/applications/ssr/src/components/pages/puissance/changement/détails/accorder/AccorderChangementPuissance.form.tsx
  packages/applications/ssr/src/components/pages/puissance/changement/détails/accorder/accorderChangementPuissance.action.ts
  packages/applications/ssr/src/components/pages/puissance/changement/détails/rejeter/RejeterChangementPuissance.form.tsx
  packages/applications/ssr/src/components/pages/puissance/changement/détails/rejeter/rejeterChangementPuissance.action.ts
  packages/applications/ssr/src/components/pages/puissance/changement/détails/timeline/mapToChangementPuissanceAccordéTimelineItemProps.tsx
  packages/domain/lauréat/src/puissance/changement/accorder/accorderChangementPuissance.behavior.ts
  packages/domain/lauréat/src/puissance/changement/accorder/accorderChangementPuissance.command.ts
  packages/domain/lauréat/src/puissance/changement/accorder/accorderChangementPuissance.usecase.ts
  packages/domain/lauréat/src/puissance/changement/changementPuissance.entity.ts
  packages/domain/lauréat/src/puissance/changement/consulter/consulterChangementPuissance.query.ts
  packages/domain/lauréat/src/puissance/changement/errors.ts
  packages/domain/lauréat/src/puissance/changement/rejeter/rejeterChangementPuissance.behavior.ts
  packages/domain/lauréat/src/puissance/changement/rejeter/rejeterChangementPuissance.command.ts
  packages/domain/lauréat/src/puissance/changement/rejeter/rejeterChangementPuissance.usecase.ts
  packages/specifications/src/projet/lauréat/puissance/changement/fixture/accorderChangementPuissance.fixture.ts
  packages/specifications/src/projet/lauréat/puissance/changement/fixture/rejeterChangementPuissance.fixture.ts
  packages/specifications/src/projet/lauréat/puissance/changement/stepDefinitions/changementPuissance.then.ts
  packages/specifications/src/projet/lauréat/puissance/changement/stepDefinitions/changementPuissance.when.ts
Due: eslint --fix

🎨 Fix: rebase
  packages/domain/lauréat/src/puissance/changement/consulter/consulterChangementPuissance.query.ts
Due: eslint --fix

🎨 Ajout raison etat dans historique
  packages/applications/ssr/src/components/pages/puissance/changement/détails/timeline/mapToChangementPuissanceAccordéTimelineItemProps.tsx
  packages/applications/ssr/src/components/pages/puissance/changement/détails/timeline/mapToChangementPuissanceRejetéTimelineItemProps.tsx
Due: eslint --fix

✨ Ajout d'un rate limiting sur réclamer projet (#2954)
  package-lock.json
  packages/applications/ssr/package.json
  packages/applications/ssr/src/components/atoms/form/FormFeedback.tsx
  packages/applications/ssr/src/components/pages/réclamer-projets/RéclamerProjetsListItem.tsx
  packages/applications/ssr/src/components/pages/réclamer-projets/réclamer/réclamerProjet.action.ts
  packages/applications/ssr/src/utils/formAction.ts
  packages/applications/ssr/src/utils/withRateLimit.ts
Due: eslint --fix, prettier -w

🎨 Retours Hub
  packages/applications/projectors/src/subscribers/lauréat/puissance/changementPuissanceAccordé.projector.ts
  packages/applications/ssr/src/components/pages/puissance/changement/détails/accorder/AccorderChangementPuissance.form.tsx
  packages/applications/ssr/src/components/pages/puissance/changement/détails/accorder/accorderChangementPuissance.action.ts
  packages/applications/ssr/src/components/pages/puissance/changement/détails/rejeter/RejeterChangementPuissance.form.tsx
Due: eslint --fix

🎨 Supprimer inutile hinttext
  packages/applications/ssr/src/components/pages/puissance/changement/détails/accorder/AccorderChangementPuissance.form.tsx
Due: eslint --fix

✨ Ajout la notion de décision d'état dans puissance (#2950)
  packages/applications/projectors/src/subscribers/lauréat/puissance/changementPuissanceAccordé.projector.ts
  packages/applications/ssr/src/components/pages/puissance/changement/détails/DétailsChangementPuissance.tsx
  packages/applications/ssr/src/components/pages/puissance/changement/détails/accorder/AccorderChangementPuissance.form.tsx
  packages/applications/ssr/src/components/pages/puissance/changement/détails/accorder/accorderChangementPuissance.action.ts
  packages/applications/ssr/src/components/pages/puissance/changement/détails/rejeter/RejeterChangementPuissance.form.tsx
  packages/applications/ssr/src/components/pages/puissance/changement/détails/rejeter/rejeterChangementPuissance.action.ts
  packages/applications/ssr/src/components/pages/puissance/changement/détails/timeline/mapToChangementPuissanceAccordéTimelineItemProps.tsx
  packages/applications/ssr/src/components/pages/puissance/changement/détails/timeline/mapToChangementPuissanceRejetéTimelineItemProps.tsx
  packages/domain/lauréat/src/puissance/changement/accorder/accorderChangementPuissance.behavior.ts
  packages/domain/lauréat/src/puissance/changement/accorder/accorderChangementPuissance.command.ts
  packages/domain/lauréat/src/puissance/changement/accorder/accorderChangementPuissance.usecase.ts
  packages/domain/lauréat/src/puissance/changement/changementPuissance.entity.ts
  packages/domain/lauréat/src/puissance/changement/consulter/consulterChangementPuissance.query.ts
  packages/domain/lauréat/src/puissance/changement/errors.ts
  packages/domain/lauréat/src/puissance/changement/rejeter/rejeterChangementPuissance.behavior.ts
  packages/domain/lauréat/src/puissance/changement/rejeter/rejeterChangementPuissance.command.ts
  packages/domain/lauréat/src/puissance/changement/rejeter/rejeterChangementPuissance.usecase.ts
  packages/specifications/src/projet/lauréat/puissance/changement/fixture/accorderChangementPuissance.fixture.ts
  packages/specifications/src/projet/lauréat/puissance/changement/fixture/rejeterChangementPuissance.fixture.ts
  packages/specifications/src/projet/lauréat/puissance/changement/stepDefinitions/changementPuissance.then.ts
  packages/specifications/src/projet/lauréat/puissance/changement/stepDefinitions/changementPuissance.when.ts
Due: eslint --fix

🎨 Rapatriement des règles legacy dans le value type
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/page.tsx
  packages/applications/ssr/src/components/pages/puissance/changement/détails/DétailsChangementPuissance.tsx
  packages/domain/candidature/src/candidature.aggregate.ts
  packages/domain/candidature/src/corriger/corrigerCandidature.behavior.ts
  packages/domain/candidature/src/importer/importerCandidature.behavior.ts
  packages/domain/lauréat/src/puissance/changement/changementPuissance.entity.ts
  packages/domain/lauréat/src/puissance/changement/consulter/consulterChangementPuissance.query.ts
  packages/domain/lauréat/src/puissance/changement/demander/demanderChangementPuissance.behavior.ts
  packages/domain/lauréat/src/puissance/changement/demander/demanderChangementPuissance.command.ts
  packages/domain/lauréat/src/puissance/changement/enregistrerChangement/enregistrerChangementPuissance.behavior.ts
  packages/domain/lauréat/src/puissance/changement/enregistrerChangement/enregistrerChangementPuissance.command.ts
  packages/domain/lauréat/src/puissance/changement/errors.ts
  packages/domain/lauréat/src/puissance/index.ts
  packages/domain/lauréat/src/puissance/puissance.aggregate.ts
  packages/domain/lauréat/src/puissance/valueType/autoritéCompétente.valueType.ts
  packages/domain/lauréat/src/puissance/valueType/helpers/dépassePuissanceMaxDuVolumeRéservé.ts
  packages/domain/lauréat/src/puissance/valueType/helpers/dépassePuissanceMaxFamille.ts
  packages/domain/lauréat/src/puissance/valueType/helpers/dépasseRatiosChangementPuissance.ts
  packages/domain/lauréat/src/puissance/valueType/helpers/getRatiosChangementPuissance.ts
  packages/domain/lauréat/src/puissance/valueType/helpers/index.ts
  packages/domain/lauréat/src/puissance/valueType/ratioChangementPuissance.valueType.ts
  packages/specifications/src/projet/lauréat/puissance/changement/accorderChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/annulerChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/changementPuissance.world.ts
  packages/specifications/src/projet/lauréat/puissance/changement/demanderChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/enregistrerChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/fixture/demanderChangementPuissance.fixture.ts
  packages/specifications/src/projet/lauréat/puissance/changement/fixture/enregistrerChangementPuissance.fixture.ts
  packages/specifications/src/projet/lauréat/puissance/changement/rejeterChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/stepDefinitions/changementPuissance.given.ts
  packages/specifications/src/projet/lauréat/puissance/changement/stepDefinitions/changementPuissance.when.ts
  packages/specifications/src/projet/lauréat/puissance/changement/supprimerChangementPuissance.feature
Due: eslint --fix, prettier -w

🎨 Refacto type autorité compétente
  packages/applications/routes/src/lauréat/puissance.routes.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/page.tsx
  packages/applications/ssr/src/app/laureats/changements/puissance/page.tsx
  packages/applications/ssr/src/components/pages/puissance/changement/détails/DétailsChangementPuissance.tsx
  packages/domain/lauréat/src/puissance/changement/consulter/consulterChangementPuissance.query.ts
  packages/domain/lauréat/src/puissance/changement/demander/demanderChangementPuissance.behavior.ts
  packages/domain/lauréat/src/puissance/changement/lister/listerChangementPuissance.query.ts
  packages/domain/lauréat/src/puissance/valueType/autoritéCompétente.valueType.ts
  packages/specifications/src/projet/lauréat/puissance/changement/changementPuissance.world.ts
Due: eslint --fix

🎨 Regle métier dans le VT
  packages/domain/lauréat/src/puissance/changement/demander/demanderChangementPuissance.behavior.ts
  packages/domain/lauréat/src/puissance/changement/enregistrerChangement/enregistrerChangementPuissance.behavior.ts
  packages/domain/lauréat/src/puissance/changement/errors.ts
  packages/domain/lauréat/src/puissance/valueType/ratioChangementPuissance.valueType.ts
Due: eslint --fix

🎨 Explicite dans les fixtures
  packages/specifications/src/projet/lauréat/puissance/changement/accorderChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/annulerChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/demanderChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/enregistrerChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/rejeterChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/stepDefinitions/changementPuissance.given.ts
  packages/specifications/src/projet/lauréat/puissance/changement/stepDefinitions/changementPuissance.when.ts
  packages/specifications/src/projet/lauréat/puissance/changement/supprimerChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/modifierPuissance.feature
Due: eslint --fix, prettier -w

✅ Undefined step
  packages/specifications/src/projet/lauréat/puissance/changement/annulerChangementPuissance.feature
Due: prettier -w

🎨 Petits changements wording
  packages/domain/lauréat/src/puissance/valueType/ratioChangementPuissance.valueType.ts
  packages/specifications/src/projet/lauréat/puissance/changement/changementPuissance.world.ts
  packages/specifications/src/projet/lauréat/puissance/changement/demanderChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/enregistrerChangementPuissance.feature
Due: eslint --fix, prettier -w

✨ Ajout des règles de ratios dans le domain puissance (#2953)
  packages/applications/routes/src/lauréat/puissance.routes.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/page.tsx
  packages/applications/ssr/src/app/laureats/changements/puissance/page.tsx
  packages/applications/ssr/src/components/pages/puissance/changement/détails/DétailsChangementPuissance.tsx
  packages/domain/candidature/src/candidature.aggregate.ts
  packages/domain/candidature/src/corriger/corrigerCandidature.behavior.ts
  packages/domain/candidature/src/importer/importerCandidature.behavior.ts
  packages/domain/lauréat/src/puissance/changement/changementPuissance.entity.ts
  packages/domain/lauréat/src/puissance/changement/consulter/consulterChangementPuissance.query.ts
  packages/domain/lauréat/src/puissance/changement/demander/demanderChangementPuissance.behavior.ts
  packages/domain/lauréat/src/puissance/changement/demander/demanderChangementPuissance.command.ts
  packages/domain/lauréat/src/puissance/changement/enregistrerChangement/enregistrerChangementPuissance.behavior.ts
  packages/domain/lauréat/src/puissance/changement/enregistrerChangement/enregistrerChangementPuissance.command.ts
  packages/domain/lauréat/src/puissance/changement/errors.ts
  packages/domain/lauréat/src/puissance/changement/lister/listerChangementPuissance.query.ts
  packages/domain/lauréat/src/puissance/index.ts
  packages/domain/lauréat/src/puissance/puissance.aggregate.ts
  packages/domain/lauréat/src/puissance/valueType/autoritéCompétente.valueType.ts
  packages/domain/lauréat/src/puissance/valueType/helpers/dépassePuissanceMaxDuVolumeRéservé.ts
  packages/domain/lauréat/src/puissance/valueType/helpers/dépassePuissanceMaxFamille.ts
  packages/domain/lauréat/src/puissance/valueType/helpers/dépasseRatiosChangementPuissance.ts
  packages/domain/lauréat/src/puissance/valueType/helpers/getRatiosChangementPuissance.ts
  packages/domain/lauréat/src/puissance/valueType/helpers/index.ts
  packages/domain/lauréat/src/puissance/valueType/ratioChangementPuissance.valueType.ts
  packages/specifications/src/projet/lauréat/puissance/changement/accorderChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/annulerChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/changementPuissance.world.ts
  packages/specifications/src/projet/lauréat/puissance/changement/demanderChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/enregistrerChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/fixture/demanderChangementPuissance.fixture.ts
  packages/specifications/src/projet/lauréat/puissance/changement/fixture/enregistrerChangementPuissance.fixture.ts
  packages/specifications/src/projet/lauréat/puissance/changement/rejeterChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/stepDefinitions/changementPuissance.given.ts
  packages/specifications/src/projet/lauréat/puissance/changement/stepDefinitions/changementPuissance.when.ts
  packages/specifications/src/projet/lauréat/puissance/changement/supprimerChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/modifierPuissance.feature
Due: eslint --fix, prettier -w

♻️ Supprimer les adapters utilisateur legacy
  packages/applications/notifications/src/helpers/listerDrealsRecipients.ts
  packages/applications/notifications/src/helpers/listerPorteursRecipients.ts
  packages/applications/notifications/src/subscribers/lauréat/abandon.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/achèvement.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/actionnaireModifié.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/changementActionnaireAccordé.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/changementActionnaireAnnulé.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/changementActionnaireDemandé.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/changementActionnaireEnregistré.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/changementActionnaireRejeté.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/index.ts
  packages/applications/notifications/src/subscribers/lauréat/garantiesFinancières.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/changementReprésentantLégalAccordé.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/changementReprésentantLégalAnnulé.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/changementReprésentantLégalCorrigé.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/changementReprésentantLégalDemandé.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/changementReprésentantLégalRejeté.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/index.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/représentantLégalModifié.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/tâche-planifiée/garantiesFinancièresRappelÉchéance.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/tâche-planifiée/index.ts
  packages/applications/notifications/src/subscribers/lauréat/tâche-planifiée/représentantLégalRappelInstructionÀDeuxMois.notification.ts
  packages/applications/notifications/src/subscribers/utilisateur/_utils/récupérerNomProjet.ts
  packages/applications/notifications/src/subscribers/éliminé/recours.notification.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/page.tsx
  packages/infrastructure/domain-adapters/src/utilisateur/index.ts
  packages/infrastructure/domain-adapters/src/utilisateur/récupérerDrealsParIdentifiantProjet.adapter.ts
  packages/infrastructure/domain-adapters/src/utilisateur/récupérerPorteursParIdentifiantProjet.adapter.ts
  packages/infrastructure/domain-adapters/src/utilisateur/récupérerUtilisateurLegacy.adapter.ts
Due: eslint --fix

🐛 Fix build
  packages/applications/notifications/src/subscribers/lauréat/tâche-planifiée/index.ts
Due: eslint --fix

♻️ Récupérer projets porteurs
  packages/applications/bootstrap/src/authorization/récupérerIdentifiantsProjetParPorteur.ts
  packages/applications/bootstrap/src/authorization/vérifierAccèsProjet.ts
  packages/applications/bootstrap/src/setupLauréat.ts
  packages/applications/bootstrap/src/setupProjet.ts
  packages/applications/bootstrap/src/setupTâche.ts
  packages/applications/scheduled-tasks/src/abandon/relancer-abandon-sans-preuve.ts
  packages/applications/scheduled-tasks/src/garanties-financières/récupérer-fichier-gf-candidature-référentiel-dgec.ts
  packages/infrastructure/domain-adapters/src/utilisateur/récupérerIdentifiantsProjetParEmailPorteur.adapter.ts
  packages/specifications/src/candidature/stepDefinitions/candidature.when.ts
  packages/specifications/src/projet/lauréat/achèvement/attestationConformité/transmettreAttestationConformité.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/accorderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/demanderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/rejeterChangementReprésentantLégal.feature
  packages/specifications/src/période/notifierPériode.feature
  packages/specifications/src/raccordement/modifierGestionnaireRéseauRaccordement.feature
  packages/specifications/src/raccordement/supprimerRaccordement.feature
  packages/specifications/src/raccordement/transmettreDemandeComplèteDeRaccordement.feature
  packages/specifications/src/tâche/acheverTâche.feature
  packages/specifications/src/tâche/ajouterTâche.feature
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.given.ts
Due: eslint --fix, prettier -w

⚰️ Supprimer adapter restant
  packages/applications/cli/src/commands/raccordement/notifier-gestionnaires-réseau.ts
  packages/infrastructure/domain-adapters/src/index.ts
  packages/infrastructure/domain-adapters/src/utilisateur/index.ts
  packages/infrastructure/domain-adapters/src/utilisateur/récupérerIdentifiantsProjetParEmailPorteur.adapter.ts
Due: eslint --fix

🔀 Merge puissance
  packages/applications/notifications/src/subscribers/lauréat/puissance/changement/changementPuissanceAccordé.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/puissance/changement/changementPuissanceAnnulé.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/puissance/changement/changementPuissanceDemandé.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/puissance/changement/changementPuissanceEnregistré.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/puissance/changement/changementPuissanceRejeté.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/puissance/index.ts
  packages/applications/notifications/src/subscribers/lauréat/puissance/puissanceModifiée.notification.ts
Due: eslint --fix

🎨 Retirer les notifications pour importé
  packages/applications/notifications/src/subscribers/lauréat/puissance/index.ts
Due: eslint --fix

fixup! ✅ Fix tests
  packages/specifications/src/projet/lauréat/puissance/modifierPuissance.feature
Due: prettier -w

🎨 Move to package adapters
  packages/applications/bootstrap/src/setupLauréat.ts
  packages/applications/bootstrap/src/setupProjet.ts
  packages/applications/bootstrap/src/setupTâche.ts
  packages/applications/bootstrap/src/setupUtilisateur.ts
  packages/applications/cli/src/commands/raccordement/notifier-gestionnaires-réseau.ts
  packages/applications/scheduled-tasks/src/abandon/relancer-abandon-sans-preuve.ts
  packages/applications/scheduled-tasks/src/garanties-financières/récupérer-fichier-gf-candidature-référentiel-dgec.ts
  packages/infrastructure/domain-adapters/src/index.ts
  packages/infrastructure/domain-adapters/src/utilisateur/index.ts
  packages/infrastructure/domain-adapters/src/utilisateur/récupérerIdentifiantsProjetParEmailPorteur.adapter.ts
  packages/infrastructure/domain-adapters/src/utilisateur/vérifierAccèsProjet.adapter.ts
Due: eslint --fix

🚧 Migration
  packages/applications/cli/src/commands/puissance/migration.sql
  packages/applications/cli/src/commands/puissance/migrer.ts
Due: eslint --fix

🗃️ Event-based
  packages/applications/cli/src/commands/puissance/migration.sql
  packages/applications/cli/src/commands/puissance/migrer.ts
Due: eslint --fix

🎨 Ao doit pouvoir consulter en lecture les changements de puissance
  packages/applications/legacy/src/views/components/UI/organisms/UserNavigation.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/AcheteurObligéMenuLegacy.tsx
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
Due: eslint --fix

🎨 Le rôle acheteur obligé doit pouvoir consulter en lecture les changements de puissance (#2961)
  packages/applications/legacy/src/views/components/UI/organisms/UserNavigation.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/AcheteurObligéMenuLegacy.tsx
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
Due: eslint --fix

🎨 Inclure fichiers et décision justice
  packages/applications/cli/src/commands/puissance/migration.sql
  packages/applications/cli/src/commands/puissance/migrer.ts
  packages/domain/lauréat/src/puissance/changement/accorder/accorderChangementPuissance.behavior.ts
  packages/domain/lauréat/src/puissance/changement/rejeter/rejeterChangementPuissance.behavior.ts
Due: eslint --fix
