Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml,feature}": "prettier -w"
}

🧑‍💻 Tags recours
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
  packages/specifications/src/projet/éliminé/recours/annulerRecours.feature
  packages/specifications/src/projet/éliminé/recours/demanderRecours.feature
  packages/specifications/src/projet/éliminé/recours/passerRecoursEnInstruction.feature
  packages/specifications/src/projet/éliminé/recours/rejeterRecours.feature
Due: prettier -w

✅ Clarifier les steps tâche planifiée
  packages/specifications/src/tâche-planifiée/exécuterTâchePlanifiée.feature
  packages/specifications/src/tâche-planifiée/stepDefinitions/tâchePlanifiée.given.ts
  packages/specifications/src/tâche-planifiée/tâchePlanifiée.world.ts
Due: eslint --fix, prettier -w

♻️ Passer la date échuLe en paramètre d'échoir GF
  packages/domain/projet/src/lauréat/garanties-financières/actuelles/échoir/échoirGarantiesFinancières.command.ts
  packages/domain/projet/src/lauréat/garanties-financières/actuelles/échoir/échoirGarantiesFinancières.options.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.saga.ts
Due: eslint --fix

♻️ Retirer la condition sur les gf actuelles pour producteur
  packages/domain/projet/src/lauréat/producteur/producteur.aggregate.ts
  packages/specifications/src/projet/lauréat/producteur/enregistrerChangementProducteur.feature
Due: eslint --fix, prettier -w

✨ Demander de nouvelles GF quand on échoie des GF actuelles (#3388)
  packages/domain/projet/src/lauréat/garanties-financières/actuelles/échoir/échoirGarantiesFinancières.command.ts
  packages/domain/projet/src/lauréat/garanties-financières/actuelles/échoir/échoirGarantiesFinancières.options.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.saga.ts
  packages/domain/projet/src/lauréat/producteur/producteur.aggregate.ts
  packages/domain/projet/src/éliminé/recours/recours.aggregate.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/échoirGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/producteur/enregistrerChangementProducteur.feature
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
  packages/specifications/src/projet/éliminé/recours/annulerRecours.feature
  packages/specifications/src/projet/éliminé/recours/demanderRecours.feature
  packages/specifications/src/projet/éliminé/recours/passerRecoursEnInstruction.feature
  packages/specifications/src/projet/éliminé/recours/rejeterRecours.feature
  packages/specifications/src/tâche-planifiée/exécuterTâchePlanifiée.feature
  packages/specifications/src/tâche-planifiée/stepDefinitions/tâchePlanifiée.given.ts
  packages/specifications/src/tâche-planifiée/tâchePlanifiée.world.ts
Due: eslint --fix, prettier -w

♻️ Projector GF dans le nouveau modèle
  packages/applications/projectors/src/index.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/_utils/getArchivesGf.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/_utils/getDépôtGf.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/_utils/getGfActuelles.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/_utils/getMainlevéeGf.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/_utils/index.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/actuelles/attestationGarantiesFinancières.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/actuelles/garantiesFinancièresDemandées.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/actuelles/garantiesFinancièresEnregistrées.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/actuelles/garantiesFinancièresModifiées.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/actuelles/garantiesFinancièresÉchues.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/actuelles/index.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/actuelles/typeGarantiesFinancièresImporté.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/dépôt/dépôtGarantiesFinancièresEnCoursModifiéProjector.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/dépôt/dépôtGarantiesFinancièresEnCoursSuppriméProjector.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/dépôt/dépôtGarantiesFinancièresEnCoursValidé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/dépôt/dépôtGarantiesFinancièresSoumis.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/dépôt/index.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/garantiesFinancièresRebuildTriggered.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/historiqueGarantiesFinancièresEffacé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/index.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/mainlevée/demandeMainlevéeGarantiesFinancièresAccordée.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/mainlevée/demandeMainlevéeGarantiesFinancièresAnnulée.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/mainlevée/demandeMainlevéeGarantiesFinancièresRejetée.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/mainlevée/index.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/mainlevée/instructionDemandeMainlevéeGarantiesFinancièresDémarrée.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/mainlevée/mainlevéeGarantiesFinancièresDemandée.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/garantiesFinancières.projector.ts
  packages/domain/lauréat/src/garantiesFinancières/mainlevée/statutMainlevéeGarantiesFinancières.valueType.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/garantiesFinancièresActuelles.world.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/modifierGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/fixtures/valider.fixture.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/validerDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/producteur/enregistrerChangementProducteur.feature
Due: eslint --fix, prettier -w

🐛 Fix pb historiqueGarantiesFinancièresEffacéProjector
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/historiqueGarantiesFinancièresEffacé.projector.ts
Due: eslint --fix

✨ importer données autorisation urbanisme
  packages/domain/projet/src/candidature/dépôt.valueType.ts
  packages/specifications/src/candidature/candidature.exempleMap.ts
  packages/specifications/src/candidature/candidature.world.ts
  packages/specifications/src/candidature/fixtures/importerCandidature.fixture.ts
  packages/specifications/src/candidature/importerCandidature.feature
  packages/specifications/src/candidature/stepDefinitions/candidature.when.ts
Due: eslint --fix, prettier -w

💩 update candidature schema
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/corrigerCandidature.action.ts
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/page.tsx
  packages/applications/ssr/src/app/candidatures/corriger-par-lot/CorrigerCandidaturesParLot.action.ts
  packages/applications/ssr/src/utils/candidature/candidature.schema.ts
  packages/applications/ssr/src/utils/candidature/candidatureCsv.schema.test.ts
  packages/applications/ssr/src/utils/candidature/candidatureCsv.schema.ts
  packages/applications/ssr/src/utils/candidature/candidatureFields.schema.ts
  packages/applications/ssr/src/utils/candidature/schemaBase.ts
Due: eslint --fix

✅ Fix tests candidature csv
  packages/applications/ssr/src/utils/candidature/candidatureFields.schema.ts
  packages/applications/ssr/src/utils/candidature/schemaBase.ts
Due: eslint --fix

🐛 Fix default value adresse1
  packages/applications/ssr/src/utils/candidature/candidatureFields.schema.ts
Due: eslint --fix

🔥 Retirer champs actionnariat redondants
  packages/applications/ssr/src/utils/candidature/candidatureCsv.schema.test.ts
  packages/applications/ssr/src/utils/candidature/candidatureCsv.schema.ts
Due: eslint --fix

🐛 Corrections types usecases
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/corrigerCandidature.action.ts
  packages/applications/ssr/src/app/candidatures/corriger-par-lot/CorrigerCandidaturesParLot.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/modifierLauréat.action.ts
  packages/applications/ssr/src/utils/candidature/candidature.schema.ts
Due: eslint --fix

✅ Test utility rich diff
  package-lock.json
  packages/applications/ssr/package.json
  packages/applications/ssr/src/utils/candidature/candidatureCsv.schema.test.ts
Due: eslint --fix, prettier -w

✨ (AO entity): ajout champ supp
  packages/domain/appel-offre/src/appelOffre.entity.ts
Due: eslint --fix

🗃️ (AO petit PV): ajout champ requis
  packages/domain/inmemory-referential/src/appelOffre/PPE2/petitPVBâtiment.ppe2.ts
Due: eslint --fix

✅ (import candidature): cas limite : champs requis non complétés
  packages/domain/projet/src/candidature/candidature.aggregate.ts
  packages/domain/projet/src/candidature/candidature.error.ts
  packages/specifications/src/candidature/importerCandidature.feature
Due: eslint --fix, prettier -w

✅ (corriger candidature): ajouter champs
  packages/domain/projet/src/candidature/dépôt.valueType.ts
  packages/specifications/src/candidature/candidature.exempleMap.ts
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/candidature/stepDefinitions/candidature.when.ts
Due: eslint --fix, prettier -w

✅ (Corriger candidature): Erreur si champ requis manquant
  packages/domain/projet/src/candidature/candidature.error.ts
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/candidature/importerCandidature.feature
  packages/specifications/src/candidature/stepDefinitions/candidature.when.ts
Due: eslint --fix, prettier -w

✨ corriger candidature formulaire
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/CorrigerCandidature.form.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/page.tsx
Due: eslint --fix

🐛 corrections post-rebase
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/corrigerCandidature.action.ts
  packages/applications/ssr/src/app/candidatures/importer/ds/importerPériode.action.ts
  packages/applications/ssr/src/utils/candidature/dépôt.schema.ts
Due: eslint --fix

🐛 fix schemas
  packages/applications/ssr/src/utils/candidature/candidatureCsv.schema.ts
  packages/applications/ssr/src/utils/candidature/candidatureFields.schema.ts
  packages/applications/ssr/src/utils/candidature/schemaBase.ts
Due: eslint --fix

🐛 fix
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/page.tsx
  packages/applications/ssr/src/utils/candidature/candidatureCsv.schema.ts
Due: eslint --fix

✨ (formulaire): modifier lauréat
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/ModifierLauréat.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/components/fields/DateDAutorisationDUrbanismeField.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/modifierLauréat.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/page.tsx
  packages/applications/ssr/src/utils/candidature/candidatureNotifiée.schema.ts
Due: eslint --fix

✅ (importer et corriger candidature): vérification date passée
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/modifierLauréat.action.ts
  packages/domain/projet/src/candidature/candidature.aggregate.ts
  packages/domain/projet/src/candidature/candidature.error.ts
  packages/domain/projet/src/candidature/dépôt.valueType.ts
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/candidature/importerCandidature.feature
Due: eslint --fix, prettier -w

✨ Rappel de garanties financières en attente
  packages/applications/cli/src/commands/tache-planifiee/executer.ts
  packages/applications/notifications/src/subscribers/lauréat/tâche-planifiée/garantiesFinancièresRappelEnAttente.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/tâche-planifiée/index.ts
  packages/domain/lauréat/src/garantiesFinancières/dépôtEnCours/validerDépôtEnCours/validerDépôtGarantiesFinancièresEnCours.command.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.saga.ts
  packages/domain/projet/src/lauréat/garanties-financières/typeTâchePlanifiéeGarantiesFinancières.valueType.ts
  packages/domain/projet/src/lauréat/tâche-planifiée/ajouter/ajouterTâchePlanifiée.command.ts
  packages/domain/projet/src/lauréat/tâche-planifiée/exécuter/exécuterTâchePlanifiée.options.ts
  packages/domain/projet/src/lauréat/tâche-planifiée/exécuter/exécuterTâchePlanifiée.usecase.ts
  packages/domain/projet/src/lauréat/tâche-planifiée/register.ts
  packages/domain/projet/src/lauréat/tâche-planifiée/tâchePlanifiée.aggregate.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.given.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.when.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/échoirGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/validerDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/en-attente/demanderGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/demanderMainlevéeGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changemementReprésentantLégal.when.ts
  packages/specifications/src/tâche-planifiée/stepDefinitions/tâchePlanifiée.when.ts
  packages/specifications/src/tâche-planifiée/tâchePlanifiée.world.ts
Due: eslint --fix, prettier -w

✅ Modification du wording dans les specs pour refléter le métier
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.given.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.when.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/en-attente/demanderGarantiesFinancières.feature
  packages/specifications/src/tâche/acheverTâche.feature
Due: eslint --fix, prettier -w

✅ Fix etant donné garanties financières en attente
  packages/specifications/src/projet/lauréat/garantiesFinancières/en-attente/stepDefinitions/garantiesFinancièresEnAttente.given.ts
Due: eslint --fix

📝 (update doc): getting started
  docs/contributing/GETTING_STARTED.md
Due: eslint --fix

✅ Specs garanties financières
  packages/applications/cli/src/commands/tache-planifiee/executer.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.given.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.when.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/échoirGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/soumettreDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/stepDefinitions/dépôtGarantiesFinancières.then.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/stepDefinitions/dépôtGarantiesFinancières.when.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/supprimerDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/validerDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changemementReprésentantLégal.when.ts
  packages/specifications/src/tâche-planifiée/stepDefinitions/tâchePlanifiée.when.ts
  packages/specifications/src/tâche/acheverTâche.feature
Due: eslint --fix, prettier -w

✅ Producteur / recours
  packages/specifications/src/projet/lauréat/producteur/enregistrerChangementProducteur.feature
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
  packages/specifications/src/tâche-planifiée/stepDefinitions/tâchePlanifiée.then.ts
Due: eslint --fix, prettier -w

✨ Annuler tâche planifiée
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
Due: eslint --fix

🔧 Update package lock
  package-lock.json
Due: eslint --fix, prettier -w

🎨 Ordonner les catégories + affichage naturel
  packages/applications/ssr/src/app/laureats/[identifiant]/historique/page.tsx
Due: eslint --fix

⬆️ Mise à jour de Nodejs à la version 24 (#3383)
  .github/workflows/shared-workflow.yml
  .nvmrc
  package-lock.json
  package.json
  packages/applications/cli/bin/dev.js
  packages/applications/cli/package.json
  packages/applications/legacy/package.json
  packages/applications/request-context/package.json
  packages/applications/ssr/src/app/candidatures/importer/ds/ImporterPériode.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/ListeFournisseurs.tsx
  packages/applications/ssr/src/utils/candidature/fournisseurCsv.ts
  packages/infrastructure/pg-event-sourcing/package.json
  packages/infrastructure/pg-projection-read/package.json
  packages/infrastructure/pg-projection-write/package.json
  packages/libraries/iso8601-datetime/package.json
  packages/libraries/monads/package.json
Due: eslint --fix, prettier -w

🎨 Sort par le code
  packages/applications/ssr/src/app/laureats/[identifiant]/historique/page.tsx
Due: eslint --fix

🎨 Ordonner le filtrage par catégories de l'historique + affichage naturel (#3391)
  packages/applications/ssr/src/app/laureats/[identifiant]/historique/page.tsx
Due: eslint --fix

🎨 Retours reviews
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/actuelles/attestationGarantiesFinancières.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/index.ts
Due: eslint --fix

♻️ Refactoring du projector GF (#3387)
  packages/applications/projectors/src/index.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/_utils/getArchivesGf.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/_utils/getDépôtGf.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/_utils/getGfActuelles.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/_utils/getMainlevéeGf.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/_utils/index.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/actuelles/attestationGarantiesFinancières.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/actuelles/garantiesFinancièresDemandées.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/actuelles/garantiesFinancièresEnregistrées.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/actuelles/garantiesFinancièresModifiées.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/actuelles/garantiesFinancièresÉchues.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/actuelles/index.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/actuelles/typeGarantiesFinancièresImporté.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/dépôt/dépôtGarantiesFinancièresEnCoursModifiéProjector.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/dépôt/dépôtGarantiesFinancièresEnCoursSuppriméProjector.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/dépôt/dépôtGarantiesFinancièresEnCoursValidé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/dépôt/dépôtGarantiesFinancièresSoumis.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/dépôt/index.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/garantiesFinancièresRebuildTriggered.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/historiqueGarantiesFinancièresEffacé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/index.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/mainlevée/demandeMainlevéeGarantiesFinancièresAccordée.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/mainlevée/demandeMainlevéeGarantiesFinancièresAnnulée.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/mainlevée/demandeMainlevéeGarantiesFinancièresRejetée.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/mainlevée/index.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/mainlevée/instructionDemandeMainlevéeGarantiesFinancièresDémarrée.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/mainlevée/mainlevéeGarantiesFinancièresDemandée.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/garantiesFinancières.projector.ts
  packages/domain/lauréat/src/garantiesFinancières/mainlevée/statutMainlevéeGarantiesFinancières.valueType.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/garantiesFinancièresActuelles.world.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/modifierGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/fixtures/valider.fixture.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/validerDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/producteur/enregistrerChangementProducteur.feature
Due: eslint --fix, prettier -w

✅ Correction des specs
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/domain/projet/src/lauréat/tâche-planifiée/exécuter/exécuterTâchePlanifiée.usecase.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerAttestationGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/importerTypeGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/modifierGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.given.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/soumettreDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/supprimerDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/validerDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/accorderDemandeMainlevéeGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/annulerDemandeMainlevéeGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/demanderMainlevéeGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/démarrerInstructionDemandeMainlevéeGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/rejeterDemandeMainlevéeGarantiesFinancières.feature
  packages/specifications/src/tâche-planifiée/stepDefinitions/tâchePlanifiée.then.ts
Due: eslint --fix, prettier -w
