Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

🐛 Fix abandon
  packages/domain/réseau/src/raccordement/lister/listerDossierRaccordementEnAttenteMiseEnService.query.ts
Due: eslint --fix

🐛 Autoriser des dates manquantes dans l'import de date de MES (#2625)
  packages/applications/ssr/src/components/pages/réseau/raccordement/corriger-par-lot/corrigerRéférencesDossier.action.ts
  packages/applications/ssr/src/components/pages/réseau/raccordement/importerDatesMiseEnService/importDatesMiseEnService.action.ts
  packages/domain/réseau/src/raccordement/lister/listerDossierRaccordementEnAttenteMiseEnService.query.ts
Due: eslint --fix

🐛 Corriger les accès suite à l'ajout d'abandon et recours dans le header
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

♻️ Suppression date désignation
  packages/applications/ssr/src/components/pages/abandon/détails/DétailsAbandon.stories.tsx
  packages/applications/ssr/src/components/pages/abandon/détails/transmettrePreuveRecandidature/TransmettrePreuveRecandidature.tsx
  packages/applications/ssr/src/components/pages/abandon/détails/transmettrePreuveRecandidature/transmettrePreuveRecandidature.action.ts
  packages/domain/candidature/src/candidature.aggregate.ts
  packages/domain/candidature/src/notifier/notifierCandidature.behavior.ts
  packages/domain/lauréat/src/abandon/transmettre/transmettrePreuveRecandidatureAbandon.behavior.ts
  packages/domain/lauréat/src/abandon/transmettre/transmettrePreuveRecandidatureAbandon.command.ts
  packages/domain/lauréat/src/abandon/transmettre/transmettrePreuveRecandidatureAbandon.usecase.ts
  packages/specifications/src/projet/lauréat/abandon/stepDefinitions/abandon.given.ts
  packages/specifications/src/projet/lauréat/abandon/stepDefinitions/abandon.when.ts
  packages/specifications/src/projet/lauréat/abandon/transmettrePreuveRecandidature.feature
Due: eslint --fix, prettier -w

🐛 Corriger les accès suite à l'ajout d'abandon et recours dans le header (#2628)
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

✅ Dcr, ptf
  packages/specifications/src/potentiel.world.ts
  packages/specifications/src/raccordement/fixtures/modifierDemandeComplèteDeRaccordement.fixture.ts
  packages/specifications/src/raccordement/fixtures/modifierPropositionTechniqueEtFinancière.fixture.ts
  packages/specifications/src/raccordement/fixtures/transmettreDemandeComplèteDeRaccordement.fixture.ts
  packages/specifications/src/raccordement/fixtures/transmettrePropositionTechniqueEtFinancière.fixture.ts
  packages/specifications/src/raccordement/modifierPropositionTechniqueEtFinancière.feature
  packages/specifications/src/raccordement/modifierRéférenceDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/raccordement.world.ts
  packages/specifications/src/raccordement/stepDefinitions/raccordement.given.ts
  packages/specifications/src/raccordement/stepDefinitions/raccordement.then.ts
  packages/specifications/src/raccordement/stepDefinitions/raccordement.when.ts
  packages/specifications/src/raccordement/transmettrePropositionTechniqueEtFinancière.feature
Due: eslint --fix, prettier -w

♻️ Refactor specs raccordement
  packages/domain/réseau/src/raccordement/modifier/modifierDemandeComplèteRaccordement.behavior.ts
  packages/specifications/src/potentiel.world.ts
  packages/specifications/src/raccordement/fixtures/modifierDemandeComplèteDeRaccordement.fixture.ts
  packages/specifications/src/raccordement/fixtures/modifierPropositionTechniqueEtFinancière.fixture.ts
  packages/specifications/src/raccordement/fixtures/modifierRéférenceDossierRaccordement.fixture.ts
  packages/specifications/src/raccordement/fixtures/transmettreDateDeMiseEnService.fixture.ts
  packages/specifications/src/raccordement/fixtures/transmettreDemandeComplèteDeRaccordement.fixture.ts
  packages/specifications/src/raccordement/fixtures/transmettrePropositionTechniqueEtFinancière.fixture.ts
  packages/specifications/src/raccordement/modifierDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/modifierGestionnaireRéseauRaccordement.feature
  packages/specifications/src/raccordement/modifierPropositionTechniqueEtFinancière.feature
  packages/specifications/src/raccordement/modifierRéférenceDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/raccordement.world.ts
  packages/specifications/src/raccordement/stepDefinitions/raccordement.given.ts
  packages/specifications/src/raccordement/stepDefinitions/raccordement.then.ts
  packages/specifications/src/raccordement/stepDefinitions/raccordement.when.ts
  packages/specifications/src/raccordement/supprimerDossierDuRaccordement.feature
  packages/specifications/src/raccordement/supprimerRaccordement.feature
  packages/specifications/src/raccordement/transmettreDateMiseEnService.feature
  packages/specifications/src/raccordement/transmettreDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/transmettrePropositionTechniqueEtFinancière.feature
Due: eslint --fix, prettier -w

🚚 Rename
  packages/specifications/src/raccordement/raccordement.world.ts
  packages/specifications/src/raccordement/stepDefinitions/raccordement.when.ts
Due: eslint --fix

♻️ More files
  packages/specifications/src/projet/lauréat/représentant-légal/changement/demanderChangementReprésentantLégal.feature
  packages/specifications/src/raccordement/fixtures/modifierPropositionTechniqueEtFinancière.fixture.ts
  packages/specifications/src/raccordement/fixtures/transmettreDateDeMiseEnService.fixture.ts
  packages/specifications/src/raccordement/fixtures/transmettrePropositionTechniqueEtFinancière.fixture.ts
  packages/specifications/src/raccordement/modifierDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/modifierGestionnaireRéseauRaccordement.feature
  packages/specifications/src/raccordement/modifierPropositionTechniqueEtFinancière.feature
  packages/specifications/src/raccordement/modifierRéférenceDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/stepDefinitions/raccordement.given.ts
  packages/specifications/src/raccordement/stepDefinitions/raccordement.then.ts
  packages/specifications/src/raccordement/stepDefinitions/raccordement.when.ts
  packages/specifications/src/raccordement/supprimerDossierDuRaccordement.feature
  packages/specifications/src/raccordement/supprimerRaccordement.feature
  packages/specifications/src/raccordement/transmettreDateMiseEnService.feature
  packages/specifications/src/raccordement/transmettrePropositionTechniqueEtFinancière.feature
Due: eslint --fix, prettier -w

🔥 Ne pas supprimer une demande de changement de représentant légal en cours si attestation conformité transmise
  packages/applications/bootstrap/src/setupLauréat.ts
  packages/domain/lauréat/src/représentantLégal/saga/handleAttestationConformitéTransmise.ts
  packages/domain/lauréat/src/représentantLégal/saga/index.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/supprimerDemandeChangementReprésentantLégal.feature
Due: eslint --fix, prettier -w

🎨 Ne plus supprimer demande si achevement
  packages/applications/bootstrap/src/setupLauréat.ts
  packages/domain/lauréat/src/actionnaire/saga/handleAttestationConformitéTransmise.ts
  packages/domain/lauréat/src/actionnaire/saga/index.ts
  packages/specifications/src/projet/lauréat/actionnaire/supprimerChangementActionnaire.feature
Due: eslint --fix, prettier -w

🔥 Ne pas supprimer une demande de changement de représentant légal en cours si attestation conformité transmise (#2632)
  packages/applications/bootstrap/src/setupLauréat.ts
  packages/domain/lauréat/src/représentantLégal/saga/handleAttestationConformitéTransmise.ts
  packages/domain/lauréat/src/représentantLégal/saga/index.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/supprimerDemandeChangementReprésentantLégal.feature
Due: eslint --fix, prettier -w

🎨 actionnaire : ne plus supprimer demande si achevement (#2631)
  packages/applications/bootstrap/src/setupLauréat.ts
  packages/domain/lauréat/src/actionnaire/saga/handleAttestationConformitéTransmise.ts
  packages/domain/lauréat/src/actionnaire/saga/index.ts
  packages/specifications/src/projet/lauréat/actionnaire/supprimerChangementActionnaire.feature
Due: eslint --fix, prettier -w

🔥 Remove code
  packages/specifications/src/projet/lauréat/représentant-légal/changement/demanderChangementReprésentantLégal.feature
Due: prettier -w

♻️ Refactor test
  packages/specifications/src/projet/lauréat/abandon/stepDefinitions/abandon.given.ts
  packages/specifications/src/projet/lauréat/abandon/stepDefinitions/abandon.when.ts
Due: eslint --fix

♻️ Suppression date désignation dans transmission preuve abandon (#2627)
  packages/applications/ssr/src/components/pages/abandon/détails/DétailsAbandon.stories.tsx
  packages/applications/ssr/src/components/pages/abandon/détails/transmettrePreuveRecandidature/TransmettrePreuveRecandidature.tsx
  packages/applications/ssr/src/components/pages/abandon/détails/transmettrePreuveRecandidature/transmettrePreuveRecandidature.action.ts
  packages/domain/candidature/src/candidature.aggregate.ts
  packages/domain/candidature/src/notifier/notifierCandidature.behavior.ts
  packages/domain/lauréat/src/abandon/transmettre/transmettrePreuveRecandidatureAbandon.behavior.ts
  packages/domain/lauréat/src/abandon/transmettre/transmettrePreuveRecandidatureAbandon.command.ts
  packages/domain/lauréat/src/abandon/transmettre/transmettrePreuveRecandidatureAbandon.usecase.ts
  packages/specifications/src/projet/lauréat/abandon/stepDefinitions/abandon.given.ts
  packages/specifications/src/projet/lauréat/abandon/stepDefinitions/abandon.when.ts
  packages/specifications/src/projet/lauréat/abandon/transmettrePreuveRecandidature.feature
Due: eslint --fix, prettier -w

🚧 Set up nouvelle projection
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/handleActionnaireModifié.ts
  packages/domain/lauréat/src/actionnaire/actionnaire.aggregate.ts
  packages/domain/lauréat/src/actionnaire/actionnaire.register.ts
  packages/domain/lauréat/src/actionnaire/index.ts
  packages/domain/lauréat/src/actionnaire/modification/lister/listerModificationActionnaire.query.ts
  packages/domain/lauréat/src/actionnaire/modification/modificationActionnaire.entity.ts
  packages/domain/lauréat/src/actionnaire/modification/modifier/modifierActionnaire.behavior.ts
  packages/domain/lauréat/src/actionnaire/modification/modifier/modifierActionnaire.command.ts
  packages/domain/lauréat/src/actionnaire/modification/modifier/modifierActionnaire.usecase.ts
Due: eslint --fix

🎨 WIP new version of projectors
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/handleActionnaireModifié.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/handleChangementActionnaireAccordé.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/handleChangementActionnaireAnnulé.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/handleChangementActionnaireDemandé.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/handleChangementActionnaireRejeté.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/handleChangementActionnaireSupprimé.ts
  packages/domain/lauréat/src/actionnaire/actionnaire.aggregate.ts
  packages/domain/lauréat/src/actionnaire/actionnaire.register.ts
  packages/domain/lauréat/src/actionnaire/changement/consulter/consulterChangementActionnaire.query.ts
  packages/domain/lauréat/src/actionnaire/changement/lister/listerChangementActionnaire.query.ts
  packages/domain/lauréat/src/actionnaire/changementActionnaire.entity.ts
  packages/domain/lauréat/src/actionnaire/index.ts
  packages/domain/lauréat/src/actionnaire/modification/lister/listerModificationActionnaire.query.ts
  packages/domain/lauréat/src/actionnaire/modification/modificationActionnaire.entity.ts
  packages/domain/lauréat/src/actionnaire/modifier/modifierActionnaire.behavior.ts
  packages/domain/lauréat/src/actionnaire/modifier/modifierActionnaire.command.ts
  packages/domain/lauréat/src/actionnaire/modifier/modifierActionnaire.usecase.ts
  packages/domain/lauréat/src/actionnaire/statutChangementActionnaire.valueType.ts
Due: eslint --fix

🎨 Fix: statut
  packages/applications/ssr/src/components/pages/actionnaire/changement/StatutChangementActionnaireBadge.tsx
Due: eslint --fix

🎨 Handle rebuild
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/handleRebuildTriggered.ts
Due: eslint --fix

🎨 Typo
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectActions.tsx
Due: eslint --fix

🎨 Quelques améliorations
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getActionnaire.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectActions.tsx
  packages/applications/ssr/src/components/pages/actionnaire/changement/ChangementActionnaireListItem.tsx
  packages/applications/ssr/src/components/pages/actionnaire/modifier/ModifierActionnaire.form.tsx
Due: eslint --fix

🎨 Ajout todos
  packages/applications/ssr/src/components/pages/actionnaire/changement/ChangementActionnaireListItem.tsx
  packages/applications/ssr/src/components/pages/actionnaire/changement/détails/DétailsChangementActionnaire.page.tsx
Due: eslint --fix

🎨 Clean
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectActions.tsx
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/handleActionnaireModifié.ts
  packages/domain/lauréat/src/actionnaire/changementActionnaire.entity.ts
  packages/domain/lauréat/src/actionnaire/statutChangementActionnaire.valueType.ts
Due: eslint --fix

🎨 Typo
  packages/domain/lauréat/src/actionnaire/errors.ts
  packages/domain/lauréat/src/actionnaire/modifier/modifierActionnaire.behavior.ts
Due: eslint --fix

🎨 Amelioration review
  packages/applications/ssr/src/components/pages/actionnaire/changement/ChangementActionnaireList.page.tsx
  packages/applications/ssr/src/components/pages/actionnaire/changement/ChangementActionnaireListItem.tsx
Due: eslint --fix

🎨 Clean console
  packages/domain/lauréat/src/actionnaire/modifier/modifierActionnaire.behavior.ts
Due: eslint --fix

🐛 Fix key + fix status label + add actionnaire text
  packages/applications/ssr/src/app/laureats/changements/actionnaire/page.tsx
  packages/applications/ssr/src/components/pages/actionnaire/changement/ChangementActionnaireList.page.tsx
  packages/applications/ssr/src/components/pages/actionnaire/changement/ChangementActionnaireListItem.tsx
  packages/applications/ssr/src/components/pages/actionnaire/changement/StatutChangementActionnaireBadge.tsx
  packages/domain/lauréat/src/actionnaire/changement/lister/listerChangementActionnaire.query.ts
Due: eslint --fix

✨ affichage information enregistrées actionnaire (#2621)
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getActionnaire.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectActions.tsx
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/handleActionnaireModifié.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/handleChangementActionnaireAccordé.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/handleChangementActionnaireAnnulé.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/handleChangementActionnaireDemandé.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/handleChangementActionnaireRejeté.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/handleChangementActionnaireSupprimé.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/handleRebuildTriggered.ts
  packages/applications/ssr/src/app/laureats/changements/actionnaire/page.tsx
  packages/applications/ssr/src/components/pages/actionnaire/changement/ChangementActionnaireList.page.tsx
  packages/applications/ssr/src/components/pages/actionnaire/changement/ChangementActionnaireListItem.tsx
  packages/applications/ssr/src/components/pages/actionnaire/changement/StatutChangementActionnaireBadge.tsx
  packages/applications/ssr/src/components/pages/actionnaire/changement/détails/DétailsChangementActionnaire.page.tsx
  packages/applications/ssr/src/components/pages/actionnaire/modifier/ModifierActionnaire.form.tsx
  packages/domain/lauréat/src/actionnaire/actionnaire.register.ts
  packages/domain/lauréat/src/actionnaire/changement/consulter/consulterChangementActionnaire.query.ts
  packages/domain/lauréat/src/actionnaire/changement/lister/listerChangementActionnaire.query.ts
  packages/domain/lauréat/src/actionnaire/changementActionnaire.entity.ts
  packages/domain/lauréat/src/actionnaire/errors.ts
  packages/domain/lauréat/src/actionnaire/index.ts
  packages/domain/lauréat/src/actionnaire/modifier/modifierActionnaire.behavior.ts
  packages/domain/lauréat/src/actionnaire/modifier/modifierActionnaire.command.ts
  packages/domain/lauréat/src/actionnaire/statutChangementActionnaire.valueType.ts
Due: eslint --fix

♻️ Starting removing code
  packages/applications/legacy/src/config/useCases.config.ts
  packages/applications/legacy/src/controllers/modificationRequest/postRequestModification.ts
  packages/applications/legacy/src/modules/modificationRequest/useCases/index.ts
  packages/applications/legacy/src/modules/modificationRequest/useCases/requestActionnaireModification.spec.ts
  packages/applications/legacy/src/modules/modificationRequest/useCases/requestActionnaireModification.ts
  packages/applications/legacy/src/views/pages/newModificationRequestPage/NewModificationRequest.tsx
  packages/applications/legacy/src/views/pages/newModificationRequestPage/components/actionnaire/ChangementActionnaire.tsx
  packages/applications/legacy/src/views/pages/newModificationRequestPage/components/actionnaire/index.ts
  packages/applications/legacy/src/views/pages/newModificationRequestPage/components/index.ts
  packages/applications/legacy/src/views/pages/newModificationRequestPage/components/recours/DemandeRecours.tsx
  packages/applications/legacy/src/views/pages/newModificationRequestPage/components/recours/index.ts
Due: eslint --fix

♻️ Remove feature flags
  package-lock.json
  packages/applications/feature-flags/package.json
  packages/applications/feature-flags/src/index.ts
  packages/applications/feature-flags/tsconfig.json
  packages/applications/legacy/package.json
  packages/applications/legacy/src/views/components/UI/organisms/UserNavigation.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectActions.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales/index.tsx
  packages/applications/legacy/tsconfig.json
  packages/applications/ssr/package.json
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
  packages/applications/ssr/tsconfig.json
Due: eslint --fix, prettier -w

♻️ Courrier réponse
  packages/applications/legacy/src/controllers/modificationRequest/getModeleReponse.ts
  packages/applications/legacy/src/infra/sequelize/queries/modificationRequest/getModificationRequestDataForResponseTemplate.integration.ts
  packages/applications/legacy/src/infra/sequelize/queries/modificationRequest/getModificationRequestDataForResponseTemplate.ts
  packages/applications/legacy/src/views/template/Modèle réponse Changement Actionnaire - dynamique.docx
  packages/applications/legacy/src/views/template/Modèle réponse Recours gracieux - dynamique.docx
Due: eslint --fix

🎨 Going on
  packages/applications/legacy/src/infra/sequelize/queries/modificationRequest/getModificationRequestDetails.integration.ts
  packages/applications/legacy/src/infra/sequelize/queries/modificationRequest/getModificationRequestDetails.ts
  packages/applications/legacy/src/modules/modificationRequest/dtos/ModificationRequestPageDTO.ts
  packages/applications/legacy/src/views/pages/modificationRequestListPage/ModificationRequestList.tsx
  packages/applications/legacy/src/views/pages/modificationRequestPage/components/DemandeDetails.tsx
  packages/applications/legacy/src/views/pages/modificationRequestPage/components/DemandeStatus.tsx
Due: eslint --fix

♻️ Going on
  packages/applications/legacy/src/controllers/modificationRequest/getDemandePage.ts
  packages/applications/legacy/src/controllers/modificationRequest/postReplyToModificationRequest.ts
  packages/applications/legacy/src/controllers/modificationRequest/postRequestModification.ts
  packages/applications/legacy/src/entities/modificationRequest.spec.ts
  packages/applications/legacy/src/modules/modificationRequest/useCases/acceptModificationRequest.spec.ts
  packages/applications/legacy/src/routes.ts
  packages/applications/legacy/src/views/pages/modificationRequestPage/ModificationRequest.tsx
  packages/applications/legacy/src/views/pages/modificationRequestPage/components/ActionnaireForm.tsx
  packages/applications/legacy/src/views/pages/modificationRequestPage/components/RecoursForm.tsx
  packages/applications/legacy/src/views/pages/modificationRequestPage/components/index.ts
  packages/applications/legacy/src/views/pages/newModificationRequestPage/NewModificationRequest.tsx
Due: eslint --fix

🎨 Cleaning
  packages/applications/legacy/src/controllers/modificationRequest/postReplyToModificationRequest.ts
  packages/applications/legacy/src/controllers/modificationRequest/postRequestModification.ts
  packages/applications/legacy/src/controllers/modificationRequest/recours/postAnnulerRejetRecours.ts
Due: eslint --fix

🎨 Filtres
  packages/applications/legacy/src/controllers/modificationRequest/recours/postAnnulerRejetRecours.ts
  packages/applications/legacy/src/views/components/RequestList.tsx
Due: eslint --fix

🎨 Firty fix
  package-lock.json
  packages/applications/legacy/.env.template
  packages/applications/legacy/src/infra/sequelize/queries/modificationRequest/getModificationRequestListForAdmin.ts
  packages/applications/legacy/src/infra/sequelize/queries/modificationRequest/getModificationRequestListForPorteur.ts
  packages/applications/legacy/src/modules/modificationRequest/dtos/ModificationRequestListItemDTO.ts
  packages/applications/ssr/.env.template
Due: eslint --fix, prettier -w

🎨 Fix: test and add comment
  packages/applications/legacy/src/infra/sequelize/queries/modificationRequest/getModificationRequestListForAdmin.integration.ts
  packages/applications/legacy/src/modules/modificationRequest/dtos/ModificationRequestListItemDTO.ts
Due: eslint --fix

🐛 Fix respondant
  packages/applications/cli/src/commands/actionnaire/migrer.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
