Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml,feature}": "prettier -w"
}

simplification tests
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/modifierDépôtGarantiesFinancières.feature
Due: prettier -w

WIP modification gfs actuelles
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(actuelles)/actuelles:modifier/modifierGarantiesFinancièresActuelles.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(dépôt)/depot:modifier/modifierDépôtGarantiesFinancières.action.ts
  packages/domain/projet/src/lauréat/garanties-financières/actuelles/modifier/modifierGarantiesFinancières.command.ts
  packages/domain/projet/src/lauréat/garanties-financières/actuelles/modifier/modifierGarantiesFinancières.options.ts
  packages/domain/projet/src/lauréat/garanties-financières/actuelles/modifier/modifierGarantiesFinancières.usecase.ts
  packages/domain/projet/src/lauréat/garanties-financières/dépôt/modifier/modifierDépôtGarantiesFinancières.usecase.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.error.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/modifierGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.when.ts
Due: eslint --fix, prettier -w

almost done
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.given.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.when.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/stepDefinitions/dépôtGarantiesFinancières.when.ts
Due: eslint --fix

fixing tests
  packages/domain/projet/src/lauréat/garanties-financières/saga/handlers/lauréatNotifié.handler.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/fixtures/enregistrerGarantiesFinancières.fixture.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/modifierGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.given.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.when.ts
Due: eslint --fix, prettier -w

comprends pas
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/fixtures/enregistrerGarantiesFinancières.fixture.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/modifierGarantiesFinancièresActuelles.feature
Due: eslint --fix, prettier -w

astuce ok
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.given.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.when.ts
Due: eslint --fix

changement fixture
  packages/specifications/src/candidature/notifierCandidature.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerAttestationGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/fixtures/modifierGarantiesFinancières.fixture.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/importerTypeGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/modifierGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.given.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.then.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.when.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/validerDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/producteur/enregistrerChangementProducteur.feature
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
Due: eslint --fix, prettier -w

plus propre
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.when.ts
Due: eslint --fix

fix: front
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(actuelles)/actuelles:modifier/modifierGarantiesFinancièresActuelles.action.ts
Due: eslint --fix

meilleur test gfs
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/garantiesFinancièresActuelles.world.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/modifierGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/helper.ts
Due: eslint --fix, prettier -w

cleaning, alignement sur ptf dcr
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/fixtures/demanderGarantiesFinancières.fixture.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/fixtures/enregistrerGarantiesFinancières.fixture.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/fixtures/modifierGarantiesFinancières.fixture.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/garantiesFinancièresActuelles.world.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/commonType.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/dépôtGarantiesFinancières.world.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/fixtures/modifier.fixture.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/fixtures/modifierDépôt.fixture.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/fixtures/soumettreDépôt.fixture.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/fixtures/validerDépôt.fixture.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/modifierDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/stepDefinitions/dépôtGarantiesFinancières.when.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/supprimerDépôtGarantiesFinancières.feature
  packages/specifications/src/tâche/acheverTâche.feature
Due: eslint --fix, prettier -w

avec projet
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/importerTypeGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/échoirGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/validerDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/en-attente/stepDefinitions/garantiesFinancièresEnAttente.then.ts
  packages/specifications/src/projet/lauréat/producteur/enregistrerChangementProducteur.feature
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
Due: eslint --fix, prettier -w

rebase
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/fixtures/modifierGarantiesFinancières.fixture.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/fixtures/modifierDépôt.fixture.ts
Due: eslint --fix

🔀 Rebase 2
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/fixtures/modifierGarantiesFinancières.fixture.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/fixtures/modifierDépôt.fixture.ts
Due: eslint --fix

⚰️ CommonType
  packages/specifications/src/projet/lauréat/garantiesFinancières/commonType.ts
Due: eslint --fix

🐛 Modification dépôt gfs sans modification (#4139)
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(actuelles)/actuelles:modifier/modifierGarantiesFinancièresActuelles.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(dépôt)/depot:modifier/modifierDépôtGarantiesFinancières.action.ts
  packages/domain/projet/src/lauréat/garanties-financières/actuelles/modifier/modifierGarantiesFinancières.command.ts
  packages/domain/projet/src/lauréat/garanties-financières/actuelles/modifier/modifierGarantiesFinancières.options.ts
  packages/domain/projet/src/lauréat/garanties-financières/actuelles/modifier/modifierGarantiesFinancières.usecase.ts
  packages/domain/projet/src/lauréat/garanties-financières/dépôt/modifier/modifierDépôtGarantiesFinancières.command.ts
  packages/domain/projet/src/lauréat/garanties-financières/dépôt/modifier/modifierDépôtGarantiesFinancières.option.ts
  packages/domain/projet/src/lauréat/garanties-financières/dépôt/modifier/modifierDépôtGarantiesFinancières.usecase.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.error.ts
  packages/domain/projet/src/lauréat/garanties-financières/saga/handlers/lauréatNotifié.handler.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
  packages/specifications/src/candidature/notifierCandidature.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerAttestationGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/fixtures/demanderGarantiesFinancières.fixture.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/fixtures/enregistrerGarantiesFinancières.fixture.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/fixtures/modifierGarantiesFinancières.fixture.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/garantiesFinancièresActuelles.world.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/importerTypeGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/modifierGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.given.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.then.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.when.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/échoirGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/dépôtGarantiesFinancières.world.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/fixtures/modifier.fixture.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/fixtures/modifierDépôt.fixture.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/fixtures/soumettreDépôt.fixture.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/fixtures/validerDépôt.fixture.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/modifierDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/stepDefinitions/dépôtGarantiesFinancières.when.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/supprimerDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/validerDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/en-attente/stepDefinitions/garantiesFinancièresEnAttente.then.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/helper.ts
  packages/specifications/src/projet/lauréat/producteur/enregistrerChangementProducteur.feature
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
  packages/specifications/src/tâche/acheverTâche.feature
Due: eslint --fix, prettier -w

🚸 Afficher le bouton pour copier l'identifiant projet en production (pour les users dgec)
  packages/applications/ssr/src/app/candidatures/[identifiant]/layout.tsx
  packages/applications/ssr/src/components/molecules/projet/ProjetBanner.template.tsx
  packages/applications/ssr/src/components/molecules/projet/lauréat/ProjetLauréatBanner.tsx
  packages/applications/ssr/src/components/molecules/projet/éliminé/ProjetÉliminéBanner.tsx
Due: eslint --fix

🚸 Afficher le bouton pour copier l'identifiant projet en production (pour les users dgec) (#4146)
  packages/applications/ssr/src/app/candidatures/[identifiant]/layout.tsx
  packages/applications/ssr/src/components/molecules/projet/ProjetBanner.template.tsx
  packages/applications/ssr/src/components/molecules/projet/lauréat/ProjetLauréatBanner.tsx
  packages/applications/ssr/src/components/molecules/projet/éliminé/ProjetÉliminéBanner.tsx
Due: eslint --fix

WIP
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/getAction.ts
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni2017.cre4.ts
  packages/domain/projet/src/candidature/candidature.aggregate.ts
  packages/domain/projet/src/candidature/candidature.error.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
  packages/specifications/src/candidature/importerCandidature.feature
Due: eslint --fix, prettier -w

affichage installation et fix nature de lexploitation form
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/(sections)/DispositifDeStockage.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/(sections)/Installateur.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/(sections)/NatureDeLExploitation.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/(sections)/TypologieInstallation.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/nature-de-l-exploitation/changement/enregistrer/EnregistrerChangementNatureDeLExploitation.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/nature-de-l-exploitation/changement/enregistrer/EnregistrerChangementNatureDeLExploitation.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/nature-de-l-exploitation/changement/enregistrer/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/nature-de-l-exploitation/modifier/ModifierNatureDeLExploitation.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/nature-de-l-exploitation/modifier/page.tsx
  packages/domain/inmemory-referential/src/appelOffre/PPE2/eolien.ppe2.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/natureDeLExploitation.aggregate.ts
Due: eslint --fix

fix: dispositif de stockage form
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/(sections)/DispositifDeStockage.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/(sections)/Installateur.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/(sections)/TypologieInstallation.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/dispositif-de-stockage/changement/enregistrer/EnregistrerChangementDispositifDeStockage.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/dispositif-de-stockage/changement/enregistrer/EnregistrerChangementDispositifDeStockage.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/dispositif-de-stockage/changement/enregistrer/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/dispositif-de-stockage/modifier/ModifierDispositifDeStockage.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/dispositif-de-stockage/modifier/ModifierDispositifDeStockage.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/dispositif-de-stockage/modifier/page.tsx
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
Due: eslint --fix

♻️ ValueType DocumentMainlevée
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(historique)/events/mainlevée/mapToDemandeMainlevéeGarantiesFinancièresAccordéeTimelineItemsProps.tsx
  packages/domain/projet/src/lauréat/garanties-financières/index.ts
  packages/domain/projet/src/lauréat/garanties-financières/mainlevée/accorder/accorderMainlevéeGarantiesFinancières.usecase.ts
  packages/domain/projet/src/lauréat/garanties-financières/mainlevée/consulter/consulterMainlevéeEnCours.query.ts
  packages/domain/projet/src/lauréat/garanties-financières/mainlevée/documentMainlevée.valueType.ts
  packages/domain/projet/src/lauréat/garanties-financières/mainlevée/lister/listerMainlevéesGarantiesFinancières.query.ts
  packages/domain/projet/src/lauréat/garanties-financières/mainlevée/rejeter/rejeterDemandeMainlevéeGarantiesFinancières.usecase.ts
  packages/domain/projet/src/lauréat/garanties-financières/mainlevée/typeDocumentRéponseDemandeMainlevée.valueType.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/fixtures/accorderMainlevée.fixture.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/fixtures/rejeterMainlevée.fixture.ts
Due: eslint --fix

💬 Rename réponseSignée
  packages/domain/projet/src/lauréat/garanties-financières/mainlevée/accorder/accorderMainlevéeGarantiesFinancières.usecase.ts
  packages/domain/projet/src/lauréat/garanties-financières/mainlevée/consulter/consulterMainlevéeEnCours.query.ts
  packages/domain/projet/src/lauréat/garanties-financières/mainlevée/documentMainlevée.valueType.ts
  packages/domain/projet/src/lauréat/garanties-financières/mainlevée/lister/listerMainlevéesGarantiesFinancières.query.ts
  packages/domain/projet/src/lauréat/garanties-financières/mainlevée/rejeter/rejeterDemandeMainlevéeGarantiesFinancières.usecase.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/fixtures/accorderMainlevée.fixture.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/fixtures/rejeterMainlevée.fixture.ts
Due: eslint --fix

♻️ ValueType DocumentMainlevée (#4145)
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(historique)/events/mainlevée/mapToDemandeMainlevéeGarantiesFinancièresAccordéeTimelineItemsProps.tsx
  packages/domain/projet/src/lauréat/garanties-financières/index.ts
  packages/domain/projet/src/lauréat/garanties-financières/mainlevée/accorder/accorderMainlevéeGarantiesFinancières.usecase.ts
  packages/domain/projet/src/lauréat/garanties-financières/mainlevée/consulter/consulterMainlevéeEnCours.query.ts
  packages/domain/projet/src/lauréat/garanties-financières/mainlevée/documentMainlevée.valueType.ts
  packages/domain/projet/src/lauréat/garanties-financières/mainlevée/lister/listerMainlevéesGarantiesFinancières.query.ts
  packages/domain/projet/src/lauréat/garanties-financières/mainlevée/rejeter/rejeterDemandeMainlevéeGarantiesFinancières.usecase.ts
  packages/domain/projet/src/lauréat/garanties-financières/mainlevée/typeDocumentRéponseDemandeMainlevée.valueType.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/fixtures/accorderMainlevée.fixture.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/fixtures/rejeterMainlevée.fixture.ts
Due: eslint --fix

🚚 Renommage ModifierAttestationConformité en ModifierAchèvement
  packages/applications/notifications/src/subscribers/lauréat/achèvement/achèvement.notifications.ts
  packages/applications/projectors/src/subscribers/lauréat/achèvement/achèvementModifié.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/achèvement/index.ts
  packages/applications/routes/src/lauréat/achèvement.routes.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/Achèvement.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getLauréatMenuItems.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/(historique)/events/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/(historique)/events/mapToAchèvementModifiéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/(historique)/mapToAchèvementTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/AttestationConformité.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/modifier/ModifierAchèvement.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/modifier/modifierAchèvement.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/modifier/page.tsx
  packages/applications/ssr/src/components/atoms/form/FormFeedback.tsx
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupAchèvement.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.aggregate.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.event.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.register.ts
  packages/domain/projet/src/lauréat/achèvement/index.ts
  packages/domain/projet/src/lauréat/achèvement/modifier/modifierAchèvement.command.ts
  packages/domain/projet/src/lauréat/achèvement/modifier/modifierAchèvement.event.ts
  packages/domain/projet/src/lauréat/achèvement/modifier/modifierAchèvement.option.ts
  packages/domain/projet/src/lauréat/achèvement/modifier/modifierAchèvement.usecase.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/projet/lauréat/achèvement/achèvement.world.ts
  packages/specifications/src/projet/lauréat/achèvement/fixture/modifierAchèvement.fixture.ts
  packages/specifications/src/projet/lauréat/achèvement/modifierAchèvement.feature
  packages/specifications/src/projet/lauréat/achèvement/stepDefinitions/achèvement.given.ts
  packages/specifications/src/projet/lauréat/achèvement/stepDefinitions/achèvement.when.ts
Due: eslint --fix, prettier -w

🎨 Console.log
  packages/applications/ssr/src/components/atoms/form/FormFeedback.tsx
Due: eslint --fix

🗃️ Update dump after rename
  .database/potentiel-dev.dump
Due: none

🧑‍💻 Exécuter Gitmoji seulement sur le 1er commit d'une branche
  .husky/prepare-commit-msg
Due: none

🚚 Renommage de ModifierAttestationConformité à ModifierAchèvement (#4102)
  .database/potentiel-dev.dump
  packages/applications/notifications/src/subscribers/lauréat/achèvement/achèvement.notifications.ts
  packages/applications/projectors/src/subscribers/lauréat/achèvement/achèvementModifié.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/achèvement/index.ts
  packages/applications/routes/src/lauréat/achèvement.routes.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/Achèvement.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getLauréatMenuItems.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/(historique)/events/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/(historique)/events/mapToAchèvementModifiéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/(historique)/mapToAchèvementTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/AttestationConformité.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/modifier/ModifierAchèvement.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/modifier/modifierAchèvement.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/modifier/page.tsx
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupAchèvement.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.aggregate.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.event.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.register.ts
  packages/domain/projet/src/lauréat/achèvement/index.ts
  packages/domain/projet/src/lauréat/achèvement/modifier/modifierAchèvement.command.ts
  packages/domain/projet/src/lauréat/achèvement/modifier/modifierAchèvement.event.ts
  packages/domain/projet/src/lauréat/achèvement/modifier/modifierAchèvement.option.ts
  packages/domain/projet/src/lauréat/achèvement/modifier/modifierAchèvement.usecase.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/projet/lauréat/achèvement/achèvement.world.ts
  packages/specifications/src/projet/lauréat/achèvement/fixture/modifierAchèvement.fixture.ts
  packages/specifications/src/projet/lauréat/achèvement/modifierAchèvement.feature
  packages/specifications/src/projet/lauréat/achèvement/stepDefinitions/achèvement.given.ts
  packages/specifications/src/projet/lauréat/achèvement/stepDefinitions/achèvement.when.ts
Due: eslint --fix, prettier -w

🧑‍💻 Création automatique des documents de test manquants
  packages/applications/cli/src/commands/seed/files.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/(historique)/events/mapToAchèvementModifiéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/(historique)/events/mapToAttestationConformitéEnregistréeTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/(historique)/events/mapToAttestationConformitéTransmiseTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/(historique)/events/mapToInstallateurModifiéTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/(historique)/events/mapToTypologieInstallationModifiéeTimelineItemsProps.tsx
  packages/domain/projet/src/lauréat/achèvement/consulter/consulterAchèvement.query.ts
  packages/domain/projet/src/lauréat/achèvement/documentAchèvement.valueType.ts
  packages/domain/projet/src/lauréat/achèvement/enregistrer/enregistrerAttestationConformité.usecase.ts
  packages/domain/projet/src/lauréat/achèvement/modifier/modifierAchèvement.usecase.ts
  packages/domain/projet/src/lauréat/achèvement/transmettre/transmettreAttestationConformité.usecase.ts
  packages/domain/projet/src/lauréat/installation/installateur/changement/consulter/consulterChangementInstallateur.query.ts
  packages/domain/projet/src/lauréat/installation/installateur/changement/enregistrerChangement/enregistrerChangementInstallateur.usecase.ts
  packages/domain/projet/src/lauréat/installation/installateur/documentInstallateur.valueType.ts
  packages/domain/projet/src/lauréat/installation/installateur/modifier/modifierInstallateur.usecase.ts
  packages/domain/projet/src/lauréat/installation/typologie-installation/documentTypologieInstallation.valueType.ts
  packages/domain/projet/src/lauréat/installation/typologie-installation/modifier/modifierTypologieInstallation.usecase.ts
  packages/domain/projet/src/lauréat/raccordement/consulter/consulterDossierRaccordement.query.ts
  packages/domain/projet/src/lauréat/raccordement/documentRaccordement.valueType.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/demandeComplète/modifierDemandeComplèteRaccordement.usecase.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/propositionTechniqueEtFinancière/modifierPropositionTechniqueEtFinancière.usecase.ts
  packages/domain/projet/src/lauréat/raccordement/transmettre/demandeComplèteDeRaccordement/transmettreDemandeComplèteRaccordement.usecase.ts
  packages/domain/projet/src/lauréat/raccordement/transmettre/propositionTechniqueEtFinancière/transmettrePropositionTechniqueEtFinancière.usecase.ts
  packages/domain/projet/src/lauréat/représentantLégal/changement/consulter/consulterChangementReprésentantLégal.query.ts
  packages/domain/projet/src/lauréat/représentantLégal/changement/consulter/consulterChangementReprésentantLégalEnCours.query.ts
  packages/domain/projet/src/lauréat/représentantLégal/changement/corriger/corrigerChangementReprésentantLégal.usecase.ts
  packages/domain/projet/src/lauréat/représentantLégal/changement/demander/demanderChangementReprésentantLégal.usecase.ts
  packages/domain/projet/src/lauréat/représentantLégal/changement/documentChangementReprésentantLégal.valueType.ts
  packages/domain/projet/src/lauréat/représentantLégal/changement/enregistrer/enregistrerChangementReprésentantLégal.usecase.ts
  packages/domain/projet/src/lauréat/représentantLégal/représentantLégal.aggregate.ts
  packages/specifications/src/projet/lauréat/achèvement/fixture/enregistrerAttestationConformité.fixture.ts
  packages/specifications/src/projet/lauréat/achèvement/fixture/modifierAchèvement.fixture.ts
  packages/specifications/src/projet/lauréat/achèvement/fixture/transmettreAttestationConformité.fixture.ts
  packages/specifications/src/projet/lauréat/installation/installation.world.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/changementReprésentantLégal.world.ts
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/fixtures/modifierDemandeComplèteDeRaccordement.fixture.ts
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/fixtures/transmettreDemandeComplèteDeRaccordement.fixture.ts
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/fixtures/modifierPropositionTechniqueEtFinancière.fixture.ts
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/fixtures/transmettrePropositionTechniqueEtFinancière.fixture.ts
Due: eslint --fix

installateur
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/dispositif-de-stockage/modifier/ModifierDispositifDeStockage.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/installateur/changement/enregistrer/EnregistrerChangementInstallateur.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/installateur/changement/enregistrer/EnregistrerChangementInstallateur.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/installateur/changement/enregistrer/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/installateur/modifier/ModifierInstallateur.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/installateur/modifier/ModifierInstallateur.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/installateur/modifier/page.tsx
  packages/domain/projet/src/lauréat/installation/installation.aggregate.ts
Due: eslint --fix

mise à jour des projecteurs
  packages/applications/projectors/src/subscribers/lauréat/installation/dispositif-de-stockage/changementDispositifDeStockageEnregistré.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/installation/dispositif-de-stockage/dispositifDeStockageModifié.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/installation/installateur/changementInstallateurEnregistré.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/installation/installateur/installateurModifié.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/installation/typologie-de-installation/typologieInstallationModifiée.projector.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/eolien.ppe2.ts
  packages/domain/projet/src/lauréat/installation/installation.entity.ts
Due: eslint --fix

🗃️ Supprimer les proejction gf en attente + archives obsolètes
  .database/potentiel-dev.dump
Due: none

🧑‍💻 Exécuter Gitmoji seulement sur le 1er commit d'une branche (#4149)
  .husky/prepare-commit-msg
Due: none

🎨 Rename achèvement
  packages/applications/cli/src/commands/seed/files.ts
Due: eslint --fix

♻️ GF
  packages/applications/cli/src/commands/seed/files.ts
Due: eslint --fix

🚸 Les DREALS peuvent aussi copier l'id projet en production
  packages/applications/ssr/src/app/candidatures/[identifiant]/layout.tsx
  packages/applications/ssr/src/components/molecules/projet/ProjetBanner.template.tsx
  packages/applications/ssr/src/components/molecules/projet/lauréat/ProjetLauréatBanner.tsx
  packages/applications/ssr/src/components/molecules/projet/éliminé/ProjetÉliminéBanner.tsx
Due: eslint --fix

🎨 Candidature
  packages/applications/cli/src/commands/seed/files.ts
  packages/applications/document-builder/src/candidature/attestation/attestation.saga.ts
  packages/applications/projectors/src/subscribers/candidature/candidatureCorrigée.projector.ts
  packages/applications/projectors/src/subscribers/candidature/candidatureImportée.projector.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/(historique)/events/mapToÉliminéNotifiéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(historique)/events/mapToLauréatNotifiéTimelineItemProps.tsx
  packages/domain/projet/src/candidature/candidature.entity.ts
  packages/domain/projet/src/candidature/consulter/consulterCandidature.query.ts
  packages/domain/projet/src/candidature/documentCandidature.valueType.ts
  packages/domain/projet/src/candidature/index.ts
  packages/domain/projet/src/candidature/lister/listerCandidatures.query.ts
  packages/domain/projet/src/document-projet/documentProjet.valueType.ts
  packages/specifications/src/candidature/candidature.world.ts
Due: eslint --fix

style pdf
  packages/applications/cli/src/commands/seed/files.ts
Due: eslint --fix

🎨 Gestion erreur + stats
  packages/applications/cli/src/commands/seed/files.ts
Due: eslint --fix
