Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

🎨 Review
  packages/applications/legacy/src/sagas/candidature.saga.ts
  packages/applications/ssr/src/components/pages/candidature/corriger/CorrigerCandidature.form.tsx
Due: eslint --fix

🔇 Réduire la verbosité du middleware des logs mediator
  packages/applications/bootstrap/src/middlewares/log.middleware.ts
Due: eslint --fix

✨ Corriger technologie (#2316)
  packages/applications/legacy/src/sagas/_helpers/getCompletionDate.ts
  packages/applications/legacy/src/sagas/candidature.saga.ts
  packages/applications/legacy/src/sagas/lauréat.saga.ts
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/page.tsx
  packages/applications/ssr/src/components/pages/candidature/corriger/CorrigerCandidature.form.tsx
  packages/applications/ssr/src/components/pages/candidature/corriger/CorrigerCandidature.stories.tsx
  packages/applications/ssr/src/components/pages/candidature/corriger/corrigerCandidature.action.ts
  packages/applications/ssr/src/components/pages/candidature/importer/candidature.schema.ts
  packages/domain/candidature/src/typeTechnologie.valueType.ts
Due: eslint --fix

🎨 Ajout des informations de designation
  packages/applications/ssr/src/components/pages/candidature/détails/DétailsCandidature.page.tsx
Due: eslint --fix

⬆️ React-dsfr
  package-lock.json
  packages/applications/ssr/package.json
Due: eslint --fix, prettier -w

🎨 Ajout des information quand non notifié
  packages/applications/ssr/src/components/pages/candidature/détails/DétailsCandidature.page.tsx
Due: eslint --fix

⬆️ @react-pdf/renderer
  package-lock.json
  packages/applications/document-builder/package.json
  packages/applications/legacy/package.json
Due: eslint --fix, prettier -w

🎨 Fix date attestation
  packages/applications/projectors/src/subscribers/candidature/candidature.projector.ts
  packages/applications/ssr/src/components/pages/candidature/détails/DétailsCandidature.page.tsx
  packages/applications/ssr/src/components/pages/période/PériodeListItem.tsx
  packages/domain/candidature/src/candidature.entity.ts
  packages/domain/candidature/src/consulter/consulterCandidature.query.ts
Due: eslint --fix

🎨 Change saga
  packages/applications/document-builder/src/candidature/attestation/attestation.saga.ts
Due: eslint --fix

🎨 Ajout des informations de designation (#2318)
  packages/applications/document-builder/src/candidature/attestation/attestation.saga.ts
  packages/applications/projectors/src/subscribers/candidature/candidature.projector.ts
  packages/applications/ssr/src/components/pages/candidature/détails/DétailsCandidature.page.tsx
  packages/applications/ssr/src/components/pages/période/PériodeListItem.tsx
  packages/domain/candidature/src/candidature.entity.ts
  packages/domain/candidature/src/consulter/consulterCandidature.query.ts
Due: eslint --fix

🐛 Fix: attestation télécharger
  packages/applications/projectors/src/subscribers/lauréat/lauréat.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/éliminé.projector.ts
  packages/applications/scheduled-tasks/src/candidature/create-events-candidature-notifiée.ts
  packages/applications/ssr/src/app/candidatures/[identifiant]/telecharger-attestation/route.ts
  packages/domain/lauréat/src/consulter/consulterLauréat.query.ts
  packages/domain/lauréat/src/lauréat.entity.ts
  packages/domain/éliminé/src/consulter/consulterÉliminé.query.ts
  packages/domain/éliminé/src/éliminé.entity.ts
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.then.ts
  packages/specifications/src/projet/éliminé/stepDefinitions/éliminé.then.ts
Due: eslint --fix

🎨 Unused
  packages/applications/scheduled-tasks/src/candidature/create-events-candidature-notifiée.ts
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.then.ts
  packages/specifications/src/projet/éliminé/stepDefinitions/éliminé.then.ts
Due: eslint --fix

🎨 Change data
  packages/specifications/src/candidature/stepDefinitions/candidature.given.ts
Due: eslint --fix

🐛 Fix télécharger attestation (#2319)
  packages/applications/projectors/src/subscribers/lauréat/lauréat.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/éliminé.projector.ts
  packages/applications/scheduled-tasks/src/candidature/create-events-candidature-notifiée.ts
  packages/applications/ssr/src/app/candidatures/[identifiant]/telecharger-attestation/route.ts
  packages/domain/lauréat/src/consulter/consulterLauréat.query.ts
  packages/domain/lauréat/src/lauréat.entity.ts
  packages/domain/éliminé/src/consulter/consulterÉliminé.query.ts
  packages/domain/éliminé/src/éliminé.entity.ts
  packages/specifications/src/candidature/stepDefinitions/candidature.given.ts
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.then.ts
  packages/specifications/src/projet/éliminé/stepDefinitions/éliminé.then.ts
Due: eslint --fix

🔇 Réduire la verbosité du middleware des logs mediator (#2317)
  packages/applications/bootstrap/src/middlewares/log.middleware.ts
Due: eslint --fix

🐛 Correction de la date de désignaton dans l'attestation après correction
  packages/applications/document-builder/src/candidature/attestation/attestation.saga.ts
Due: eslint --fix

🐛 Correction de la date de désignaton dans l'attestation après correction (#2320)
  packages/applications/document-builder/src/candidature/attestation/attestation.saga.ts
Due: eslint --fix

♻️ Refactor attestation saga
  packages/applications/document-builder/src/candidature/attestation/attestation.saga.ts
  packages/applications/document-builder/src/candidature/attestation/buildCertificate.ts
  packages/applications/document-builder/src/candidature/attestation/helpers/getFinancementEtTemplate.ts
Due: eslint --fix

🎨 Details
  packages/applications/document-builder/src/candidature/attestation/attestation.saga.ts
Due: eslint --fix

♻️ Refactor attestation saga (#2321)
  packages/applications/document-builder/src/candidature/attestation/attestation.saga.ts
  packages/applications/document-builder/src/candidature/attestation/buildCertificate.ts
  packages/applications/document-builder/src/candidature/attestation/helpers/getFinancementEtTemplate.ts
Due: eslint --fix

🎨 Retour PR
  packages/applications/cli/src/helpers/renameFile.ts
  packages/libraries/file-storage/src/copyFile.ts
Due: eslint --fix

🧑‍💻 Correction du scripts de lancement du legacy
  package.json
Due: eslint --fix, prettier -w

🐛 Fix affichage banner
  packages/applications/ssr/src/components/molecules/projet/ProjetBanner.template.tsx
Due: eslint --fix

🧑‍💻 Correction du script de lancement du legacy (#2322)
  package.json
Due: eslint --fix, prettier -w

✏️ Correction des documents docx avec "Direction générale de l’énergie et du climat"
  packages/applications/document-builder/src/assets/docx/abandon-modèle-réponse.docx
  packages/applications/document-builder/src/assets/docx/recours-modèle-réponse.docx
  packages/applications/legacy/src/views/template/Modèle réponse Changement Actionnaire - dynamique.docx
  packages/applications/legacy/src/views/template/Modèle réponse Changement Producteur - dynamique.docx
  packages/applications/legacy/src/views/template/Modèle réponse Prolongation de délai - dynamique.docx
  packages/applications/legacy/src/views/template/Modèle réponse Puissance - dynamique.docx
  packages/applications/legacy/src/views/template/Modèle réponse Recours gracieux - dynamique.docx
Due: none

✏️ Correction des documents docx avec "Direction générale de l’énergie et du climat" (#2324)
  packages/applications/document-builder/src/assets/docx/abandon-modèle-réponse.docx
  packages/applications/document-builder/src/assets/docx/recours-modèle-réponse.docx
  packages/applications/legacy/src/views/template/Modèle réponse Changement Actionnaire - dynamique.docx
  packages/applications/legacy/src/views/template/Modèle réponse Changement Producteur - dynamique.docx
  packages/applications/legacy/src/views/template/Modèle réponse Prolongation de délai - dynamique.docx
  packages/applications/legacy/src/views/template/Modèle réponse Puissance - dynamique.docx
  packages/applications/legacy/src/views/template/Modèle réponse Recours gracieux - dynamique.docx
Due: none

🐛 Fix affichage banner (#2323)
  packages/applications/ssr/src/components/molecules/projet/ProjetBanner.template.tsx
Due: eslint --fix

♻️ WIP
  packages/applications/document-builder/src/candidature/attestation/attestation.saga.ts
  packages/applications/projectors/src/subscribers/candidature/candidature.projector.ts
  packages/applications/ssr/src/app/candidatures/[identifiant]/page.tsx
  packages/applications/ssr/src/components/pages/candidature/détails/DétailsCandidature.page.tsx
  packages/domain/candidature/src/candidature.entity.ts
  packages/domain/candidature/src/consulter/consulterCandidature.query.ts
  packages/domain/candidature/src/notifier/notifierCandidature.behavior.ts
  packages/domain/candidature/src/notifier/notifierCandidature.command.ts
  packages/domain/candidature/src/notifier/notifierCandidature.usecase.ts
Due: eslint --fix

🐛 Retours staging logo MCE + lien corriger candidature
  packages/applications/document-builder/src/abandon/accordAbandonAvecRecandidature/Header.tsx
  packages/applications/legacy/src/public/images/logo_MCE.png
  packages/applications/legacy/src/views/components/UI/organisms/Header.tsx
  packages/applications/ssr/src/components/pages/candidature/corriger/CorrigerCandidature.page.tsx
Due: eslint --fix

Update packages/applications/ssr/src/components/pages/candidature/corriger/CorrigerCandidature.page.tsx
  packages/applications/ssr/src/components/pages/candidature/corriger/CorrigerCandidature.page.tsx
Due: eslint --fix

🐛 Retours staging logo MCE + lien corriger candidature (#2325)
  packages/applications/document-builder/src/abandon/accordAbandonAvecRecandidature/Header.tsx
  packages/applications/legacy/src/public/images/logo_MCE.png
  packages/applications/legacy/src/views/components/UI/organisms/Header.tsx
  packages/applications/ssr/src/components/pages/candidature/corriger/CorrigerCandidature.page.tsx
Due: eslint --fix

🐛 Fix: document optional when abandon with recandidature
  packages/applications/ssr/src/components/pages/abandon/demander/demanderAbandon.action.ts
  packages/applications/ssr/src/utils/zod/documentTypes.ts
Due: eslint --fix

🐛 Fix: document optional when abandon with recandidature (#2326)
  packages/applications/ssr/src/components/pages/abandon/demander/demanderAbandon.action.ts
  packages/applications/ssr/src/utils/zod/documentTypes.ts
Due: eslint --fix

🐛 Correction de la taille du logo
  packages/applications/document-builder/src/abandon/accordAbandonAvecRecandidature/Header.tsx
  packages/applications/document-builder/src/abandon/accordAbandonAvecRecandidature/Introduction.tsx
  packages/applications/document-builder/src/abandon/accordAbandonAvecRecandidature/RéponseAbandonAvecRecandidature.tsx
  packages/applications/document-builder/src/abandon/accordAbandonAvecRecandidature/accordAbandonAvecRecandidature.stories.tsx
  packages/applications/document-builder/src/abandon/accordAbandonAvecRecandidature/buildDocument.ts
Due: eslint --fix

🎨 Ugly fix
  package.json
  packages/applications/legacy/src/server.ts
Due: eslint --fix, prettier -w

🎨 Quick fix for document size validation error in legacy app (#2328)
  packages/applications/legacy/src/server.ts
Due: eslint --fix

🐛 Correction de la taille du logo dans Accord Abandon (#2327)
  packages/applications/document-builder/src/abandon/accordAbandonAvecRecandidature/Header.tsx
  packages/applications/document-builder/src/abandon/accordAbandonAvecRecandidature/Introduction.tsx
  packages/applications/document-builder/src/abandon/accordAbandonAvecRecandidature/RéponseAbandonAvecRecandidature.tsx
  packages/applications/document-builder/src/abandon/accordAbandonAvecRecandidature/accordAbandonAvecRecandidature.stories.tsx
  packages/applications/document-builder/src/abandon/accordAbandonAvecRecandidature/buildDocument.ts
Due: eslint --fix

✨ Support de projet lié à une période legacy, avec ou sans attestation
  packages/applications/bootstrap/src/setupCandidature.ts
  packages/applications/document-builder/src/candidature/attestation/attestation.saga.ts
  packages/applications/projectors/src/subscribers/candidature/candidature.projector.ts
  packages/applications/ssr/src/app/candidatures/[identifiant]/page.tsx
  packages/applications/ssr/src/app/candidatures/_helpers/getCandidatureActions.ts
  packages/applications/ssr/src/app/candidatures/page.tsx
  packages/applications/ssr/src/components/pages/candidature/corriger/CorrigerCandidature.page.tsx
  packages/applications/ssr/src/components/pages/candidature/détails/DétailsCandidature.page.tsx
  packages/domain/candidature/src/candidature.aggregate.ts
  packages/domain/candidature/src/candidature.entity.ts
  packages/domain/candidature/src/candidature.ts
  packages/domain/candidature/src/consulter/consulterCandidature.query.ts
  packages/domain/candidature/src/lister/listerCandidatures.query.ts
  packages/domain/candidature/src/notifier/notifierCandidature.behavior.ts
Due: eslint --fix

📝 Ajout dossier d'architecture raccordement
  docs/contributing/diagrams/raccordement/1-persona.drawio.svg
  docs/contributing/diagrams/raccordement/2-usecases.drawio.svg
  docs/contributing/diagrams/raccordement/3-activity.drawio.svg
  docs/contributing/diagrams/raccordement/4-évolution activity.drawio.svg
  docs/contributing/diagrams/raccordement/5-évolution activity.drawio.svg
  docs/contributing/diagrams/raccordement/5-évolution usecases.drawio.svg
  docs/contributing/diagrams/raccordement/6-usecases-GRD.drawio.svg
  docs/contributing/diagrams/raccordement/7-archi-scenario-1.drawio.svg
  docs/contributing/diagrams/raccordement/7-archi-scenario-2.drawio.svg
  docs/contributing/diagrams/raccordement/7-archi-scenario-3.drawio.svg
  docs/contributing/diagrams/raccordement/architecture-mise-en-service.odt
Due: none

🐛 Fix event subscriber in attestation saga
  packages/applications/bootstrap/src/setupCandidature.ts
  packages/applications/document-builder/src/candidature/attestation/attestation.saga.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
