Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

🎨 Ajout des dépendances manquantes dans les packages.json
  package-lock.json
  packages/applications/api/package.json
  packages/applications/bootstrap/package.json
  packages/applications/cli/package.json
  packages/applications/document-builder/package.json
  packages/applications/legacy/package.json
  packages/applications/notifications/package.json
  packages/applications/projectors/package.json
  packages/applications/routes/package.json
  packages/applications/scheduled-tasks/package.json
  packages/domain/appel-offre/package.json
  packages/domain/entity/package.json
  packages/domain/période/package.json
Due: eslint --fix, prettier -w

✅ Restreindre les actions sur les recours annulés
  packages/domain/projet/src/éliminé/recours/statutRecours.valueType.ts
  packages/specifications/src/projet/lauréat/abandon/accorderAbandon.feature
  packages/specifications/src/projet/lauréat/abandon/confirmerAbandon.feature
  packages/specifications/src/projet/lauréat/abandon/demanderConfirmationAbandon.feature
  packages/specifications/src/projet/lauréat/abandon/passerAbandonEnInstruction.feature
  packages/specifications/src/projet/lauréat/abandon/rejeterAbandon.feature
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
  packages/specifications/src/projet/éliminé/recours/annulerRecours.feature
  packages/specifications/src/projet/éliminé/recours/passerRecoursEnInstruction.feature
  packages/specifications/src/projet/éliminé/recours/rejeterRecours.feature
Due: eslint --fix, prettier -w

🔥 Select
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
  packages/specifications/src/projet/éliminé/recours/annulerRecours.feature
  packages/specifications/src/projet/éliminé/recours/passerRecoursEnInstruction.feature
  packages/specifications/src/projet/éliminé/recours/rejeterRecours.feature
Due: prettier -w

🧐 Update dump avec rebuild de tâche
  .database/potentiel-dev.dump
Due: none

🎨 Update tsconfig
  package-lock.json
  packages/applications/api/tsconfig.json
  packages/applications/bootstrap/tsconfig.json
  packages/applications/cli/tsconfig.json
  packages/applications/document-builder/tsconfig.json
  packages/applications/legacy/tsconfig.json
  packages/applications/notifications/tsconfig.json
  packages/applications/projectors/tsconfig.json
  packages/applications/routes/package.json
  packages/applications/routes/tsconfig.json
  packages/applications/scheduled-tasks/package.json
  packages/applications/scheduled-tasks/src/garanties-financières/récupérer-fichier-gf-candidature-référentiel-dgec.ts
  packages/applications/scheduled-tasks/tsconfig.json
  packages/domain/appel-offre/tsconfig.json
  packages/domain/entity/tsconfig.json
  packages/domain/période/package.json
  packages/domain/période/tsconfig.json
  packages/infrastructure/ds-api-client/package.json
  packages/infrastructure/filigrane-facile-client/package.json
  packages/infrastructure/ore-client/package.json
  packages/libraries/csv/package.json
  packages/libraries/file-storage/package.json
  packages/libraries/http-client/package.json
Due: eslint --fix, prettier -w

🎨 Ajout des dépendances manquantes dans les packages.json (#3814)
  package-lock.json
  packages/applications/api/package.json
  packages/applications/api/tsconfig.json
  packages/applications/bootstrap/package.json
  packages/applications/bootstrap/tsconfig.json
  packages/applications/cli/package.json
  packages/applications/cli/tsconfig.json
  packages/applications/document-builder/package.json
  packages/applications/document-builder/tsconfig.json
  packages/applications/legacy/package.json
  packages/applications/legacy/tsconfig.json
  packages/applications/notifications/package.json
  packages/applications/notifications/tsconfig.json
  packages/applications/projectors/package.json
  packages/applications/projectors/tsconfig.json
  packages/applications/routes/package.json
  packages/applications/routes/tsconfig.json
  packages/applications/scheduled-tasks/package.json
  packages/applications/scheduled-tasks/src/garanties-financières/récupérer-fichier-gf-candidature-référentiel-dgec.ts
  packages/applications/scheduled-tasks/tsconfig.json
  packages/domain/appel-offre/package.json
  packages/domain/appel-offre/tsconfig.json
  packages/domain/entity/package.json
  packages/domain/entity/tsconfig.json
  packages/domain/période/package.json
  packages/domain/période/tsconfig.json
  packages/infrastructure/ds-api-client/package.json
  packages/infrastructure/filigrane-facile-client/package.json
  packages/infrastructure/ore-client/package.json
  packages/libraries/csv/package.json
  packages/libraries/file-storage/package.json
  packages/libraries/http-client/package.json
Due: eslint --fix, prettier -w

🗃️ Rebuild tache + procédure rebuild
  .database/potentiel-dev.dump
Due: none

🗃️ Rebuild tache
  .database/potentiel-dev.dump
Due: none

✅ Restreindre les actions sur les recours annulés (#3815)
  packages/domain/projet/src/éliminé/recours/statutRecours.valueType.ts
  packages/specifications/src/projet/lauréat/abandon/accorderAbandon.feature
  packages/specifications/src/projet/lauréat/abandon/confirmerAbandon.feature
  packages/specifications/src/projet/lauréat/abandon/demanderConfirmationAbandon.feature
  packages/specifications/src/projet/lauréat/abandon/passerAbandonEnInstruction.feature
  packages/specifications/src/projet/lauréat/abandon/rejeterAbandon.feature
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
  packages/specifications/src/projet/éliminé/recours/passerRecoursEnInstruction.feature
  packages/specifications/src/projet/éliminé/recours/rejeterRecours.feature
Due: eslint --fix, prettier -w

🗃️ Rebuild tache (#3818)
  .database/potentiel-dev.dump
Due: none

♻️ Utilisation d'une permission spéciale pour modifier DCR / PTF après mise en service
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🎨 Utilisation de la permission dans les règles d'affichage d'action front
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/_helpers/getModificationDCRAction.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/_helpers/getModificationPTFAction.ts
Due: eslint --fix

♻️ Utilisation d'une permission spéciale pour modifier DCR / PTF après mise en service (#3810)
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/_helpers/getModificationDCRAction.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/_helpers/getModificationPTFAction.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🗃️ Ajout de la nouvelle procédure de rebuild et fix des tests
  .database/potentiel-dev.dump
  packages/infrastructure/pg-event-sourcing/src/subscribe/rebuild/executeRebuild.ts
  packages/infrastructure/pg-event-sourcing/src/subscribe/subscribe.test.ts
Due: eslint --fix

🗃️ Ajout de la nouvelle procédure de rebuild et fix des tests (#3819)
  .database/potentiel-dev.dump
  packages/infrastructure/pg-event-sourcing/src/subscribe/rebuild/executeRebuild.ts
  packages/infrastructure/pg-event-sourcing/src/subscribe/subscribe.test.ts
Due: eslint --fix

🎨 WIP data tableau de bord
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getRaccordement.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getRaccordementData.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getTableauDeBordData.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getÉtapesData.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/evaluation-carbone/_helpers/getEvaluationCarbone.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/InstallationSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/_helpers/getInstallation.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/types.ts
Due: eslint --fix

🎨 Frise tableau de bord migrée
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getRaccordement.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/EtapesProjet.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/MenuLauréat.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/TableauDeBordSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getTableauDeBordData.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getÉtapesData.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/page.tsx
Due: eslint --fix

🎨 Installation with new data
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/InstallationSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/_helpers/getInstallation.ts
Due: eslint --fix

🎨 Cleaning
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/documents/DocumentsSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/documents/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/evaluation-carbone/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/mapMenuItemsToSideMenuItems.ts
  packages/applications/ssr/src/components/templates/Page.template.tsx
Due: eslint --fix

🎨 FF for layout
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/layout.tsx
Due: eslint --fix

🎨 Encart cahier des charges
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/CahierDesChargesSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/EtapesProjetSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/TableauDeBordSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getCahierDesChargesData.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getTableauDeBordData.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getÉtapesData.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/page.tsx
Due: eslint --fix

🎨 Simplification frise
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/EtapesProjetSection.tsx
Due: eslint --fix

🎨 Data raccordement
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/TableauDeBordSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getTableauDeBordData.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/page.tsx
Due: eslint --fix

🎨 Ancienne route pour historique
  packages/applications/ssr/src/app/laureats/[identifiant]/historique/HistoriqueLauréat.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/historique/page.tsx
Due: eslint --fix

🎨 Revert doublon
  packages/applications/ssr/src/app/laureats/[identifiant]/historique/HistoriqueLauréat.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/historique/page.tsx
Due: eslint --fix

🎨 Exemple possible sur le layout
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/MenuLauréat.tsx
Due: eslint --fix

🎨 Review front ben
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/EtapesProjetSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/RaccordementSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/Section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/historique/HistoriqueLauréat.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/historique/page.tsx
  packages/applications/ssr/src/components/molecules/ListFilters.tsx
Due: eslint --fix

simplification et alerte achèvement
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/CahierDesChargesSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/EtapesProjetSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/TableauDeBordSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getAchèvementAlert.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getTableauDeBordData.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/page.tsx
Due: eslint --fix

🎨 Alerte abandon
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/TableauDeBordSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getAbandonAlert.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getTableauDeBordData.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/page.tsx
Due: eslint --fix

🎨 Integration gf et refacto
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/CahierDesChargesSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/GarantiesFinancièresSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/RaccordementSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/TableauDeBordSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getAbandonAlert.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getCahierDesChargesData.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getGarantiesFinancièresData.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getRaccordementData.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getTableauDeBordData.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/InstallationSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/_helpers/getInstallation.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/types.ts
Due: eslint --fix

🎨 Integration retours review ben hub
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/CahierDesChargesSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/EtapesProjetSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/GarantiesFinancièresSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/MenuLauréat.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/RaccordementSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/Section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/TableauDeBord.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/evaluation-carbone/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/evaluation-carbone/ÉvaluationCarbone.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/informations-generales/InformationsGénérales.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/informations-generales/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/Installation.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(historique)/events/mapToChangementNomProjetEnregistréTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/types.ts
  packages/applications/ssr/src/components/atoms/form/TertiaryLink.tsx
Due: eslint --fix

🎨 Ajout section achèvement et fix filtres with clearing
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/AchèvementSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/TableauDeBord.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getAchèvementData.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getTableauDeBordData.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/types.ts
  packages/applications/ssr/src/components/molecules/ListFilters.tsx
Due: eslint --fix

🎨 Accès, review et build
  packages/applications/routes/src/accès/accès.routes.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/utilisateurs/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/RaccordementSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getRaccordementData.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/page.tsx
  packages/applications/ssr/src/components/organisms/accès/AccèsList.page.tsx
  packages/applications/ssr/src/components/organisms/accès/AccèsListItem.tsx
Due: eslint --fix

🎨 Amélioration affichage menu
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/MenuLauréat.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/_helpers/getInstallation.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/mapMenuItemsToSideMenuItems.ts
Due: eslint --fix

🎨 Fix: rebuild
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/EtapesProjetSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getAbandonAlert.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getÉtapesData.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/checkLauréatSansAbandonOuAchèvement.ts
Due: eslint --fix

🎨 Flex
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/TableauDeBord.page.tsx
Due: eslint --fix

🎨 Evaluation carbone data et responsive
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/MenuLauréat.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/evaluation-carbone/_helpers/getEvaluationCarbone.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/evaluation-carbone/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/evaluation-carbone/ÉvaluationCarbone.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/layout.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/ListeFournisseurs.tsx
Due: eslint --fix

🎨 Helper et simplification
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/evaluation-carbone/_helpers/getEvaluationCarbone.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/evaluation-carbone/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/_helpers/getInstallation.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/checkAutorisationChangement.ts
Due: eslint --fix

🎨 Debut integration review ben
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getAchèvementData.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getCahierDesChargesData.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getRaccordementData.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getTableauDeBordData.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/_helpers/getInstallation.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/types.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
