Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml,feature}": "prettier -w"
}

transmettre vs corriger attestation conformité
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getLauréatMenuItems.tsx
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

alignement wording
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/Achèvement.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/mapChangements.ts
Due: eslint --fix

✅ Ne pas planifier/recréer des taches en cas de suppression d'un dépôt de GF si projet achevé
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/supprimerDépôtGarantiesFinancières.feature
Due: eslint --fix, prettier -w

⬆️ Mises à jour de sécurité (#3833)
  package-lock.json
  packages/applications/legacy/package.json
Due: eslint --fix, prettier -w

🐛 Annuler la tâche PP de demande de GFs en cas d'abandon (#3830)
  packages/domain/projet/src/lauréat/abandon/abandon.aggregate.ts
  packages/specifications/src/projet/lauréat/abandon/accorderAbandon.feature
Due: eslint --fix, prettier -w

🐛 Fix page projet droits utilisateurs (#3826)
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/Achèvement.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/Raccordement.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getLauréatMenuItems.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/utilisateurs/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/mapChangements.ts
  packages/applications/ssr/src/components/organisms/accès/(inviter)/inviterPorteur.action.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

mise à jour librairy
  package-lock.json
  packages/applications/document-builder/package.json
Due: eslint --fix, prettier -w

⬆️ mise à jour librairie react pdf (#3835)
  package-lock.json
  packages/applications/document-builder/package.json
Due: eslint --fix, prettier -w

🗃️ Update stats publiques raccordement
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/index.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/nombreTotalRéférencesRaccordement.statistic.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/pourcentageRéférencesRaccordement.statistic.ts
Due: eslint --fix

ne pas annuler demande représentant légal
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/changement/changementReprésentantLégalAnnulé.projector.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/accorderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/annulerChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/changementReprésentantLégal.world.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/rejeterChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.then.ts
Due: eslint --fix, prettier -w

annuler demande - projection et test
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/changementActionnaireAccordé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/changementActionnaireAnnulé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/délai/demandeDélaiAnnulée.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/puissance/changementPuissanceAnnulé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/changement/changementReprésentantLégalAnnulé.projector.ts
  packages/specifications/src/projet/lauréat/actionnaire/annulerChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/stepDefinitions/actionnaire.then.ts
  packages/specifications/src/projet/lauréat/délai/annulerDemandeDélai.feature
  packages/specifications/src/projet/lauréat/délai/stepDefinitions/délai.then.ts
  packages/specifications/src/projet/lauréat/puissance/changement/annulerChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/stepDefinitions/changementPuissance.then.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.then.ts
Due: eslint --fix, prettier -w

redirect et correctio ntest
  packages/applications/ssr/src/app/laureats/changements/actionnaire/page.tsx
  packages/applications/ssr/src/app/laureats/changements/delai/page.tsx
  packages/applications/ssr/src/app/laureats/changements/puissance/page.tsx
  packages/applications/ssr/src/app/laureats/changements/representant-legal/page.tsx
  packages/specifications/src/projet/lauréat/représentant-légal/changement/accorderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/rejeterChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.then.ts
Due: eslint --fix, prettier -w

fix: test representant legal
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.then.ts
Due: eslint --fix

commentaire ben
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.then.ts
Due: eslint --fix

toSorted instead of sort
  packages/applications/ssr/src/app/garanties-financieres/demandes-mainlevee-en-cours/page.tsx
  packages/applications/ssr/src/app/laureats/changements/actionnaire/page.tsx
  packages/applications/ssr/src/app/laureats/changements/delai/page.tsx
  packages/applications/ssr/src/app/laureats/changements/puissance/page.tsx
  packages/applications/ssr/src/app/laureats/changements/representant-legal/page.tsx
Due: eslint --fix

🐛 Accorder une mainlevée retire le projet de la liste des GF en attente (#3832)
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/mainlevée/demandeMainlevéeGarantiesFinancièresAccordée.projector.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/accorderDemandeMainlevéeGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/stepDefinitions/mainlevéeGarantiesFinancières.given.ts
  packages/specifications/src/tâche-planifiée/stepDefinitions/tâchePlanifiée.when.ts
Due: eslint --fix, prettier -w

🗃️ Update stats publiques raccordement (#3836)
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/index.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/nombreTotalRéférencesRaccordement.statistic.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/pourcentageRéférencesRaccordement.statistic.ts
Due: eslint --fix

:bug: tâches / tâches planifiées GF non souhaitées si projet achevé (#3834)
  packages/domain/projet/src/lauréat/achèvement/achèvement.aggregate.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/specifications/src/projet/lauréat/achèvement/transmettreDateAchèvement.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/supprimerDépôtGarantiesFinancières.feature
  packages/specifications/src/tâche-planifiée/tâchePlanifiée.world.ts
Due: eslint --fix, prettier -w

simplification
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/changementActionnaireAnnulé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/puissance/changementPuissanceAnnulé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/changement/changementReprésentantLégalAnnulé.projector.ts
  packages/specifications/src/projet/lauréat/actionnaire/annulerChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/annulerChangementReprésentantLégal.feature
Due: eslint --fix, prettier -w

lint
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/changement/changementReprésentantLégalAnnulé.projector.ts
Due: eslint --fix

✨ Alerte DCR : afficher date limite
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/Raccordement.section.tsx
Due: eslint --fix

Apply suggestions from code review
  packages/specifications/src/projet/lauréat/actionnaire/annulerChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/annulerChangementReprésentantLégal.feature
Due: prettier -w

✨ Les demandes annulées doivent être consultables (#3838)
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/changementActionnaireAccordé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/changementActionnaireAnnulé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/délai/demandeDélaiAnnulée.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/puissance/changementPuissanceAnnulé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/changement/changementReprésentantLégalAnnulé.projector.ts
  packages/applications/ssr/src/app/garanties-financieres/demandes-mainlevee-en-cours/page.tsx
  packages/applications/ssr/src/app/laureats/changements/actionnaire/page.tsx
  packages/applications/ssr/src/app/laureats/changements/delai/page.tsx
  packages/applications/ssr/src/app/laureats/changements/puissance/page.tsx
  packages/applications/ssr/src/app/laureats/changements/representant-legal/page.tsx
  packages/specifications/src/projet/lauréat/actionnaire/annulerChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/stepDefinitions/actionnaire.then.ts
  packages/specifications/src/projet/lauréat/délai/annulerDemandeDélai.feature
  packages/specifications/src/projet/lauréat/délai/stepDefinitions/délai.then.ts
  packages/specifications/src/projet/lauréat/puissance/changement/annulerChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/stepDefinitions/changementPuissance.then.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/accorderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/annulerChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/changementReprésentantLégal.world.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/rejeterChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.then.ts
Due: eslint --fix, prettier -w

lint
  packages/applications/ssr/src/app/projets/[identifiant]/page.tsx
  packages/applications/ssr/src/components/molecules/projet/lauréat/ProjetLauréatBanner.tsx
Due: eslint --fix

redirection lauréat
  packages/applications/routes/src/lauréat/lauréat.routes.ts
  packages/applications/ssr/src/app/laureats/(liste)/LauréatListItem.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getLauréatMenuItems.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/modifierLauréat.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:modifier/modifierAttestationConformité.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:transmettre/transmettreAttestationConformité.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/date-achevement:transmettre/transmettreDateAchèvement.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/accorder/accorderChangementActionnaire.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/annuler/annulerChangementActionnaire.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/rejeter/rejeterChangementActionnaire.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/modifier/modifierActionnaire.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/cahier-des-charges/choisirCahierDesCharges.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/accorder/accorderDemandeDélai.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/annuler/annulerDemandeDélai.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/passer-en-instruction/passerEnInstructionDemandeDélai.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/rejeter/rejeterDemandeDélai.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/(mettre-à-jour)/component/mettreÀJourFournisseur.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/dispositif-de-stockage/modifier/modifierDispositifDeStockage.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/installateur/modifier/modifierInstallateur.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/typologie-du-projet/modifier/modifierTypologieInstallation.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/nature-de-l-exploitation/modifier/modifierNatureDeLExploitation.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/nom-projet/modifier/modifierNomProjet.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/modifier/modifierProducteur.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/accorder/accorderChangementPuissance.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/annuler/annulerChangementPuissance.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/rejeter/rejeterChangementPuissance.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/modifier/modifierPuissance.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/(supprimer)/supprimerDossierDuRaccordement.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/accorder/accorderChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/annuler/annulerChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/rejeter/rejeterChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/modifier/modifierReprésentantLégal.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/site-de-production/modifier/modifierSiteDeProduction.action.ts
  packages/applications/ssr/src/app/projets/[identifiant]/page.tsx
  packages/applications/ssr/src/components/molecules/projet/lauréat/ProjetLauréatBanner.tsx
Due: eslint --fix

✨ Alerte DCR AOS + améliorer affichage
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/Raccordement.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/RaccordementDétails.tsx
Due: eslint --fix

🐛 Amélioration redirection lauréat (#3837)
  packages/applications/routes/src/lauréat/lauréat.routes.ts
  packages/applications/ssr/src/app/laureats/(liste)/LauréatListItem.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getLauréatMenuItems.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/modifierLauréat.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:modifier/modifierAttestationConformité.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:transmettre/transmettreAttestationConformité.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/date-achevement:transmettre/transmettreDateAchèvement.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/accorder/accorderChangementActionnaire.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/annuler/annulerChangementActionnaire.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/rejeter/rejeterChangementActionnaire.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/modifier/modifierActionnaire.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/cahier-des-charges/choisirCahierDesCharges.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/accorder/accorderDemandeDélai.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/annuler/annulerDemandeDélai.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/passer-en-instruction/passerEnInstructionDemandeDélai.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/rejeter/rejeterDemandeDélai.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/(mettre-à-jour)/component/mettreÀJourFournisseur.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/dispositif-de-stockage/modifier/modifierDispositifDeStockage.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/installateur/modifier/modifierInstallateur.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/typologie-du-projet/modifier/modifierTypologieInstallation.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/nature-de-l-exploitation/modifier/modifierNatureDeLExploitation.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/nom-projet/modifier/modifierNomProjet.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/modifier/modifierProducteur.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/accorder/accorderChangementPuissance.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/annuler/annulerChangementPuissance.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/rejeter/rejeterChangementPuissance.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/modifier/modifierPuissance.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/(supprimer)/supprimerDossierDuRaccordement.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/accorder/accorderChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/annuler/annulerChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/rejeter/rejeterChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/modifier/modifierReprésentantLégal.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/site-de-production/modifier/modifierSiteDeProduction.action.ts
  packages/applications/ssr/src/app/projets/[identifiant]/page.tsx
  packages/applications/ssr/src/components/molecules/projet/lauréat/ProjetLauréatBanner.tsx
Due: eslint --fix

✨ Restreindre les permissions de la caisse des dépôts aux projets avec GF de type consignation
  packages/domain/entity/src/list.ts
  packages/infrastructure/domain-adapters/src/utilisateur/getProjetUtilisateurScope.adapter.ts
  packages/infrastructure/pg-projection-read/src/listProjection.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.given.ts
  packages/specifications/src/utilisateur/inviterUtilisateur.feature
Due: eslint --fix, prettier -w

fix: chiffres clés
  packages/applications/ssr/src/components/molecules/projet/ChiffresClésProjet.tsx
Due: eslint --fix

achevement
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getLauréatMenuItems.tsx
Due: eslint --fix

alignement boutons
  packages/applications/ssr/src/components/organisms/accès/(inviter)/InviterPorteur.form.tsx
  packages/applications/ssr/src/components/organisms/accès/AccèsList.page.tsx
Due: eslint --fix

redesign chiffres clés
  packages/applications/ssr/src/components/molecules/projet/ChiffresClésProjet.tsx
Due: eslint --fix

ajout typologie installation dans changement
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getLauréatMenuItems.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/(sections)/TypologieInstallation.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/getAction.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/mapChangements.ts
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole2016.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI2017.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/batiment.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/eolien.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/fessenheim.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/innovation.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/pvEolien.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/sol.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni2017.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/autoconsommationMetropole.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/batiment.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/eolien.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/innovation.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/neutre.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/petitPVBâtiment.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/sol.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/zni.ppe2.ts
  packages/domain/inmemory-referential/src/constants.ts
  packages/domain/projet/src/cahierDesCharges.valueType.ts
Due: eslint --fix

lint
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getLauréatMenuItems.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/getAction.ts
  packages/applications/ssr/src/components/molecules/projet/ChiffresClésProjet.tsx
  packages/applications/ssr/src/components/organisms/accès/(inviter)/InviterPorteur.form.tsx
  packages/applications/ssr/src/components/organisms/accès/AccèsList.page.tsx
Due: eslint --fix

🎨 Modifier puissance
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/(historique)/events/mapToPuissanceModifiéeTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/modifier/ModifierPuissance.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/modifier/modifierPuissance.action.ts
  packages/domain/projet/src/lauréat/puissance/modifier/modifierPuissance.command.ts
  packages/domain/projet/src/lauréat/puissance/modifier/modifierPuissance.event.ts
  packages/domain/projet/src/lauréat/puissance/modifier/modifierPuissance.options.ts
  packages/domain/projet/src/lauréat/puissance/modifier/modifierPuissance.usecase.ts
  packages/domain/projet/src/lauréat/puissance/puissance.aggregate.ts
Due: eslint --fix

🎨 Modifier producteur
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/(historique)/events/mapToProducteurModifiéTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/modifier/ModifierProducteur.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/modifier/modifierProducteur.action.ts
  packages/domain/projet/src/lauréat/producteur/modifier/modifierProducteur.command.ts
  packages/domain/projet/src/lauréat/producteur/modifier/modifierProducteur.event.ts
  packages/domain/projet/src/lauréat/producteur/modifier/modifierProducteur.option.ts
  packages/domain/projet/src/lauréat/producteur/modifier/modifierProducteur.usecase.ts
  packages/domain/projet/src/lauréat/producteur/producteur.aggregate.ts
  packages/specifications/src/projet/lauréat/producteur/fixture/modifierProducteur.fixture.ts
Due: eslint --fix

🎨 Modifier actionnaire
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/modifier/ModifierActionnaire.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/modifier/modifierActionnaire.action.ts
Due: eslint --fix

🎨 Modifier fournisseur
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/(mettre-à-jour)/MettreÀJourFournisseur.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/(mettre-à-jour)/component/MettreÀJourFournisseur.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/modifier/page.tsx
Due: eslint --fix

🎨 Modifier représentant legal
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/(historique)/events/mapToReprésentantLégalModifiéTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/_helpers/steps/SaisiePièceJustificative.step.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/_helpers/steps/Validation.step.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/modifier/ModifierReprésentantLégal.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/modifier/modifierReprésentantLégal.action.ts
  packages/domain/projet/src/lauréat/représentantLégal/modifier/modifierReprésentantLégal.command.ts
  packages/domain/projet/src/lauréat/représentantLégal/modifier/modifierReprésentantLégal.options.ts
  packages/domain/projet/src/lauréat/représentantLégal/modifier/modifierReprésentantLégal.usecase.ts
  packages/domain/projet/src/lauréat/représentantLégal/représentantLégal.aggregate.ts
  packages/domain/projet/src/lauréat/représentantLégal/représentantLégal.event.ts
Due: eslint --fix

💄 Info formulaire représentant legal
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/_helpers/steps/SaisiePièceJustificative.step.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/_helpers/steps/Validation.step.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/modifier/ModifierReprésentantLégal.form.tsx
Due: eslint --fix
