Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

💄 Ne pas afficher le liens pour accéder au référentiel de gestionnaire de réseau
  packages/applications/ssr/src/utils/historique/mapToProps/raccordement/events/gestionnaire-réseau/mapToGestionnaireRéseauAttribuéTimelineItemProps.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/raccordement/events/gestionnaire-réseau/mapToGestionnaireRéseauRaccordementModifiéTimelineItemProps.tsx
Due: eslint --fix

♻️ Fix expected
  packages/specifications/src/candidature/candidature.world.ts
Due: eslint --fix

💄 Ajout du lien pour accéder à la preuve de transmission au cocontractant
  packages/applications/ssr/src/utils/historique/mapToProps/achèvement/events/mapToAttestationConformitéTransmiseTimelineItemProps.tsx
Due: eslint --fix

🎨 Importer gfs
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
Due: eslint --fix

💄 Meilleure identification du dernier élément des étapes du projet
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/EtapesProjet.tsx
Due: eslint --fix

♻️ Utilitaire partagé
  packages/applications/ssr/src/components/pages/candidature/corriger-par-lot/corrigerCandidatures.action.ts
  packages/applications/ssr/src/components/pages/candidature/importer/importerCandidatures.action.ts
  packages/applications/ssr/src/utils/candidature/removeEmptyValues.ts
Due: eslint --fix

🎨 Et hop
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
Due: eslint --fix

🎨 Clean
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
Due: eslint --fix

✨ Ajout du Lieu de fabrication au Fournisseur (#3175)
  packages/applications/cli/src/commands/candidature/migrer.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/ListeFournisseurs.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/MaterielsEtTechnologies.tsx
  packages/applications/ssr/src/components/pages/candidature/corriger-par-lot/corrigerCandidatures.action.ts
  packages/applications/ssr/src/components/pages/candidature/importer/importerCandidatures.action.ts
  packages/applications/ssr/src/components/pages/fournisseur/changement/ListeFournisseurs.tsx
  packages/applications/ssr/src/components/pages/fournisseur/changement/enregistrer/EnregistrerChangementFournisseur.page.tsx
  packages/applications/ssr/src/components/pages/fournisseur/changement/enregistrer/FournisseursField.tsx
  packages/applications/ssr/src/components/pages/fournisseur/changement/enregistrer/enregistrerChangementFournisseur.action.ts
  packages/applications/ssr/src/utils/candidature/fournisseurCsv.ts
  packages/applications/ssr/src/utils/candidature/removeEmptyValues.ts
  packages/domain/projet/src/candidature/importer/importerCandidature.usecase.ts
  packages/domain/projet/src/lauréat/fournisseur/fournisseur.valueType.ts
  packages/specifications/src/candidature/candidature.world.ts
  packages/specifications/src/candidature/fixtures/importerCandidature.fixture.ts
  packages/specifications/src/projet/lauréat/fournisseur/fixtures/enregistrerChangementFournisseur.fixture.ts
Due: eslint --fix

💄 Améliorations de l'affichage de l'historique d'un projet (#3176)
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/EtapesProjet.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/historique/page.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/achèvement/events/mapToAttestationConformitéTransmiseTimelineItemProps.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/garanties-financières/events/mainlevée/mapToDemandeMainlevéeGarantiesFinancièresAccordéeTimelineItemsProps.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/raccordement/events/gestionnaire-réseau/mapToGestionnaireRéseauAttribuéTimelineItemProps.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/raccordement/events/gestionnaire-réseau/mapToGestionnaireRéseauRaccordementModifiéTimelineItemProps.tsx
Due: eslint --fix

✅ Ajout des tests CDC pour actionnaire
  packages/specifications/src/projet/lauréat/actionnaire/demanderChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/enregistrerChangementActionnaire.feature
Due: prettier -w

🎨 Wordss
  packages/specifications/src/projet/lauréat/actionnaire/demanderChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/enregistrerChangementActionnaire.feature
Due: prettier -w

🧪 Flaky
  packages/specifications/src/projet/lauréat/actionnaire/modifierActionnaire.feature
Due: prettier -w

✨ Ne pas afficher l'étape concernant la suppression des GFs par le système
  packages/applications/ssr/src/utils/historique/mapToProps/garanties-financières/events/index.ts
  packages/applications/ssr/src/utils/historique/mapToProps/garanties-financières/events/mapToHistoriqueGarantiesFinancièresEffacéTimelineItemProps.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/garanties-financières/mapToGarantiesFinancièresTimelineItemProps.tsx
Due: eslint --fix

✨ Ne pas afficher l'étape concernant la suppression des GFs par le système (#3180)
  packages/applications/ssr/src/utils/historique/mapToProps/garanties-financières/events/index.ts
  packages/applications/ssr/src/utils/historique/mapToProps/garanties-financières/events/mapToHistoriqueGarantiesFinancièresEffacéTimelineItemProps.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/garanties-financières/mapToGarantiesFinancièresTimelineItemProps.tsx
Due: eslint --fix

✅ Ajout des tests cahier des charges pour actionnaire (#3177)
  packages/specifications/src/projet/lauréat/actionnaire/demanderChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/enregistrerChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/modifierActionnaire.feature
Due: prettier -w

🐛 Trier d'abord par date d'insertion de l'événement puis par la date métier
  packages/applications/ssr/src/app/laureats/[identifiant]/historique/page.tsx
  packages/applications/ssr/src/components/organisms/Timeline.tsx
Due: eslint --fix

🐛 Trier d'abord par date d'insertion de l'événement puis par la date métier (#3182)
  packages/applications/ssr/src/app/laureats/[identifiant]/historique/page.tsx
  packages/applications/ssr/src/components/organisms/Timeline.tsx
Due: eslint --fix

✨ Ajout de l'option join sur ``findProjection``
  packages/domain/entity/src/find.ts
  packages/infrastructure/pg-projection-read/src/findProjection.test.ts
  packages/infrastructure/pg-projection-read/src/findProjection.ts
  packages/infrastructure/pg-projection-read/src/listProjection.ts
  packages/infrastructure/pg-projection-read/src/mapResult.ts
Due: eslint --fix

💄 Modification de wording pour l'événement GestionnaireRéseauRaccordementModifié
  packages/applications/ssr/src/utils/historique/mapToProps/raccordement/events/gestionnaire-réseau/mapToGestionnaireRéseauRaccordementModifiéTimelineItemProps.tsx
Due: eslint --fix

💄 Modification de wording pour l'événement GestionnaireRéseauRaccordementModifié (#3183)
  packages/applications/ssr/src/utils/historique/mapToProps/raccordement/events/gestionnaire-réseau/mapToGestionnaireRéseauRaccordementModifiéTimelineItemProps.tsx
Due: eslint --fix

✨ Ajout de l'option join sur ``findProjection`` (#3179)
  packages/domain/entity/src/find.ts
  packages/infrastructure/pg-projection-read/src/findProjection.test.ts
  packages/infrastructure/pg-projection-read/src/findProjection.ts
  packages/infrastructure/pg-projection-read/src/listProjection.ts
  packages/infrastructure/pg-projection-read/src/mapResult.ts
Due: eslint --fix

🐛 Utilisation de la bonne date pour la transmission de la PTF
  packages/applications/ssr/src/utils/historique/mapToProps/raccordement/events/dossier/ptf/mapToPropositionTechniqueEtFinancièreTransmiseTimelineItemProps.tsx
Due: eslint --fix

🐛 Utilisation de la bonne date pour l'historique de la transmission de la PTF (#3185)
  packages/applications/ssr/src/utils/historique/mapToProps/raccordement/events/dossier/ptf/mapToPropositionTechniqueEtFinancièreTransmiseTimelineItemProps.tsx
Due: eslint --fix

♻️ Imports + fix register + fix apply
  packages/applications/bootstrap/src/setupProjet/createSubscriptionSetup.ts
  packages/applications/bootstrap/src/setupProjet/setupLauréat/index.ts
  packages/applications/bootstrap/src/setupProjet/setupLauréat/setupAbandon.ts
  packages/applications/bootstrap/src/setupProjet/setupLauréat/setupReprésentantLégal.ts
  packages/applications/bootstrap/src/setupTâchePlanifiée.ts
  packages/applications/cli/src/commands/abandon/relancer-abandon-sans-preuve.ts
  packages/applications/cli/src/commands/raccordement/supprimer-dossier-avec-reference-non-transmise-vide.ts
  packages/applications/cli/src/commands/raccordement/transmettre-references.ts
  packages/applications/legacy/src/controllers/modificationRequest/_utils/modèles/délai.ts
  packages/applications/legacy/src/controllers/modificationRequest/_utils/modèles/puissance.ts
  packages/applications/legacy/src/controllers/modificationRequest/getModeleReponse.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getReprésentantLégal.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/getLauréat.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/corriger/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/modifier/page.tsx
  packages/applications/ssr/src/app/laureats/changements/representant-legal/page.tsx
  packages/applications/ssr/src/components/pages/lauréat/modifier/modifierLauréat.action.ts
  packages/applications/ssr/src/components/pages/représentant-légal/StatutChangementReprésentantLégalBadge.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/corriger/CorrigerChangementReprésentantLégal.form.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/corriger/corrigerChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/components/pages/représentant-légal/changement/demander/demanderChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/components/pages/représentant-légal/changement/détails/DétailsChangementReprésentantLégal.page.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/détails/accorder/accorderChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/components/pages/représentant-légal/changement/détails/annuler/annulerChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/components/pages/représentant-légal/changement/détails/rejeter/rejeterChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/components/pages/représentant-légal/lister/ChangementReprésentantLégalList.page.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/lister/ChangementReprésentantLégalListItem.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/modifier/ModifierReprésentantLégal.page.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/modifier/modifierReprésentantLégal.action.ts
  packages/applications/ssr/src/utils/modèle-document/mapToModèleRéponsePayload.ts
  packages/domain/projet/src/lauréat/représentantLégal/consulter/consulterReprésentantLégal.query.ts
  packages/domain/projet/src/lauréat/représentantLégal/index.ts
  packages/domain/projet/src/lauréat/représentantLégal/représentantLégal.aggregate.ts
  packages/domain/projet/src/lauréat/représentantLégal/représentantLégal.register.ts
  packages/domain/projet/src/lauréat/représentantLégal/saga/index.ts
  packages/domain/projet/src/lauréat/représentantLégal/saga/tâchePlanifiéeGestionAutomatiqueDemandeChangementExecutée.saga.ts
  packages/specifications/src/helpers/waitForSagasNotificationsAndProjectionsToFinish.ts
Due: eslint --fix

♻️ Fix implem accord changement
  packages/domain/projet/src/lauréat/représentantLégal/changement/accorder/accorderChangementReprésentantLégal.command.ts
  packages/domain/projet/src/lauréat/représentantLégal/changement/annuler/annulerChangementReprésentantLégal.command.ts
  packages/domain/projet/src/lauréat/représentantLégal/changement/corriger/corrigerChangementReprésentantLégal.command.ts
  packages/domain/projet/src/lauréat/représentantLégal/changement/demander/demanderChangementReprésentantLégal.command.ts
  packages/domain/projet/src/lauréat/représentantLégal/changement/rejeter/rejeterChangementReprésentantLégal.command.ts
  packages/domain/projet/src/lauréat/représentantLégal/représentantLégal.aggregate.ts
Due: eslint --fix

♻️ Repasser sur behaviors
  packages/domain/projet/src/lauréat/représentantLégal/changement/changementReprésentantLégal.error.ts
  packages/domain/projet/src/lauréat/représentantLégal/représentantLégal.aggregate.ts
Due: eslint --fix

♻️ Vérifications
  packages/domain/projet/src/lauréat/représentantLégal/représentantLégal.aggregate.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/accorderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/annulerChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/corrigerChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/demanderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/rejeterChangementReprésentantLégal.feature
Due: eslint --fix, prettier -w

➖ Suppression de la dépendance à ``crypto-browserify``
  package-lock.json
  packages/applications/legacy/package.json
  packages/applications/legacy/webpack.config.js
Due: eslint --fix, prettier -w

➖ Suppression de la dépendance à ``crypto-browserify`` (#3187)
  package-lock.json
  packages/applications/legacy/package.json
  packages/applications/legacy/webpack.config.js
Due: eslint --fix, prettier -w

♻️ Volume Réservé et ratio du Changement de Puissance
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/demander/page.tsx
  packages/applications/ssr/src/components/pages/puissance/changement/demander/DemanderChangementPuissance.form.tsx
  packages/applications/ssr/src/components/pages/puissance/changement/demander/DemanderChangementPuissance.page.tsx
  packages/applications/ssr/src/components/pages/puissance/changement/demander/DemanderChangementPuissanceFormErrors.tsx
  packages/domain/projet/src/candidature/consulter/consulterCandidature.query.ts
  packages/domain/projet/src/candidature/index.ts
  packages/domain/projet/src/candidature/volumeRéservé.valueType.ts
  packages/domain/projet/src/lauréat/puissance/puissance.aggregate.ts
  packages/domain/projet/src/lauréat/puissance/valueType/helpers/dépassePuissanceMaxDuVolumeRéservé.ts
  packages/domain/projet/src/lauréat/puissance/valueType/helpers/dépassePuissanceMaxFamille.ts
  packages/domain/projet/src/lauréat/puissance/valueType/helpers/dépasseRatiosChangementPuissance.ts
  packages/domain/projet/src/lauréat/puissance/valueType/helpers/getRatiosChangementPuissance.ts
  packages/domain/projet/src/lauréat/puissance/valueType/helpers/index.ts
  packages/domain/projet/src/lauréat/puissance/valueType/ratioChangementPuissance.valueType.ts
  packages/specifications/src/projet/lauréat/puissance/changement/demanderChangementPuissance.feature
Due: eslint --fix, prettier -w

🎨 Rename
  packages/applications/ssr/src/components/pages/puissance/changement/demander/DemanderChangementPuissanceFormErrors.tsx
  packages/domain/projet/src/lauréat/puissance/valueType/ratioChangementPuissance.valueType.ts
Due: eslint --fix

✅ MapToExpected
  packages/specifications/src/candidature/candidature.world.ts
Due: eslint --fix

🎨 Amélioration de l'impression de l'historique projet
  packages/applications/ssr/src/components/atoms/Icon.tsx
  packages/applications/ssr/src/components/molecules/projet/ProjetBanner.template.tsx
  packages/applications/ssr/src/components/molecules/projet/StatutProjetBadge.tsx
  packages/applications/ssr/src/components/organisms/Timeline.tsx
Due: eslint --fix

♻️ Review
  packages/applications/ssr/src/components/pages/puissance/changement/demander/DemanderChangementPuissanceFormErrors.tsx
  packages/domain/projet/src/lauréat/puissance/valueType/ratioChangementPuissance.valueType.ts
Due: eslint --fix

🎨 Alignement différent pour la version print
  packages/applications/ssr/src/components/organisms/Timeline.tsx
Due: eslint --fix

♻️ Volume Réservé et ratio du Changement de Puissance (#3186)
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/demander/page.tsx
  packages/applications/ssr/src/components/pages/puissance/changement/demander/DemanderChangementPuissance.form.tsx
  packages/applications/ssr/src/components/pages/puissance/changement/demander/DemanderChangementPuissance.page.tsx
  packages/applications/ssr/src/components/pages/puissance/changement/demander/DemanderChangementPuissanceFormErrors.tsx
  packages/domain/projet/src/candidature/consulter/consulterCandidature.query.ts
  packages/domain/projet/src/candidature/index.ts
  packages/domain/projet/src/candidature/volumeRéservé.valueType.ts
  packages/domain/projet/src/lauréat/puissance/puissance.aggregate.ts
  packages/domain/projet/src/lauréat/puissance/valueType/helpers/dépassePuissanceMaxDuVolumeRéservé.ts
  packages/domain/projet/src/lauréat/puissance/valueType/helpers/dépassePuissanceMaxFamille.ts
  packages/domain/projet/src/lauréat/puissance/valueType/helpers/dépasseRatiosChangementPuissance.ts
  packages/domain/projet/src/lauréat/puissance/valueType/helpers/getRatiosChangementPuissance.ts
  packages/domain/projet/src/lauréat/puissance/valueType/helpers/index.ts
  packages/domain/projet/src/lauréat/puissance/valueType/ratioChangementPuissance.valueType.ts
  packages/specifications/src/candidature/candidature.world.ts
  packages/specifications/src/projet/lauréat/puissance/changement/demanderChangementPuissance.feature
Due: eslint --fix, prettier -w

Amélioration de l'impression de l'historique projet (#3188)
  packages/applications/ssr/src/components/atoms/Icon.tsx
  packages/applications/ssr/src/components/molecules/projet/ProjetBanner.template.tsx
  packages/applications/ssr/src/components/molecules/projet/StatutProjetBadge.tsx
  packages/applications/ssr/src/components/organisms/Timeline.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
