Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

🧪 Failing test pour les tâches porteur
  packages/specifications/src/raccordement/dateDeMiseEnService/transmettreDateMiseEnService.feature
Due: prettier -w

✅ Transmettre une date de mise en service pour un dossier incomplet (sans PTF) doit donner lieu à une tâche
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/domain/projet/src/lauréat/tâche/typeTâche.valueType.ts
  packages/specifications/src/raccordement/dateDeMiseEnService/transmettreDateMiseEnService.feature
  packages/specifications/src/tâche/tâche.world.ts
Due: eslint --fix, prettier -w

✅ Suppression de la tache transmettre PTF si le porteur fait l'action
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/transmettrePropositionTechniqueEtFinancière.feature
Due: eslint --fix, prettier -w

🎨 Ajout du composant de la tache
  packages/applications/ssr/src/app/taches/TâcheListItem.tsx
Due: eslint --fix

🎨 Dde annulée : rediriger sur le détail de la demande
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(détails)/annuler/annulerRecours.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/annuler/annulerChangementActionnaire.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/accorder/accorderDemandeDélai.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/annuler/annulerDemandeDélai.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/annuler/annulerChangementPuissance.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/annuler/annulerChangementReprésentantLégal.action.ts
Due: eslint --fix

💡 Comment todo
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/page.tsx
Due: eslint --fix

🐛 Ajout key composant filter / multipleSelect
  packages/applications/ssr/src/components/molecules/ListFilters.tsx
Due: eslint --fix

🐛 Ajout key composant filter / multipleSelect (#3775)
  packages/applications/ssr/src/components/molecules/ListFilters.tsx
Due: eslint --fix

🎨 Passer typologie d'installation en champ supplémentaire d'un AO
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getInstallation.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales/InfoInstallation.tsx
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/autoconsommationMetropole.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/batiment.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/innovation.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/neutre.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/petitPVBâtiment.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/sol.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/zni.ppe2.ts
  packages/domain/projet/src/candidature/candidature.error.ts
  packages/domain/projet/src/lauréat/installation/installation.aggregate.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
  packages/specifications/src/projet/lauréat/installation/modifierTypologieInstallation.feature
Due: eslint --fix, prettier -w

🚚 Entity demande-recours
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getRecours.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursAccordé.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursAnnulé.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursDemandé.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursPasséEnInstruction.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursRebuildTriggered.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursRejeté.projector.ts
  packages/applications/ssr/src/app/candidatures/[identifiant]/telecharger-attestation/route.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/page.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(détails)/page.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/modele-reponse/route.ts
  packages/domain/projet/src/lauréat/garanties-financières/saga/handlers/lauréatNotifié.handler.ts
  packages/domain/projet/src/éliminé/recours/consulter/consulterRecours.query.ts
  packages/domain/projet/src/éliminé/recours/index.ts
  packages/domain/projet/src/éliminé/recours/lister/listerRecours.query.ts
  packages/domain/projet/src/éliminé/recours/recours.entity.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.then.ts
Due: eslint --fix

🎨 Remove select
  packages/specifications/src/projet/lauréat/installation/modifierTypologieInstallation.feature
Due: prettier -w

🗃️ Ajout date à la clé de l'entity demande-recours
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getRecours.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursAccordé.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursDemandé.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursPasséEnInstruction.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursRebuildTriggered.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursRejeté.projector.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/page.tsx
  packages/domain/projet/src/éliminé/recours/consulter/consulterRecours.query.ts
  packages/domain/projet/src/éliminé/recours/lister/listerRecours.query.ts
  packages/domain/projet/src/éliminé/recours/statutRecours.valueType.ts
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.then.ts
Due: eslint --fix

🚚 Recours > demande recours
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursAccordé.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursAnnulé.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursDemandé.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursPasséEnInstruction.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursRebuildTriggered.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursRejeté.projector.ts
  packages/applications/ssr/src/app/recours/page.tsx
  packages/domain/projet/src/lauréat/garanties-financières/saga/handlers/lauréatNotifié.handler.ts
  packages/domain/projet/src/éliminé/recours/consulter/consulterRecours.query.ts
  packages/domain/projet/src/éliminé/recours/demandeRecours.entity.ts
  packages/domain/projet/src/éliminé/recours/index.ts
  packages/domain/projet/src/éliminé/recours/lister/listerDemandeRecours.query.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.then.ts
Due: eslint --fix

🗃️ Entity recours
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursAccordé.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursAnnulé.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursDemandé.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursPasséEnInstruction.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursRebuildTriggered.projector.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursRejeté.projector.ts
  packages/domain/projet/src/éliminé/recours/index.ts
  packages/domain/projet/src/éliminé/recours/recours.entity.ts
Due: eslint --fix

🚚 Recours > Demande recours
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getRecours.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/page.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(détails)/DétailsRecours.page.tsx
  packages/applications/ssr/src/app/recours/RecoursList.page.tsx
  packages/applications/ssr/src/app/recours/RecoursListItem.tsx
  packages/applications/ssr/src/app/recours/page.tsx
  packages/domain/projet/src/éliminé/recours/consulter/consulterDemandeRecours.query.ts
  packages/domain/projet/src/éliminé/recours/index.ts
  packages/domain/projet/src/éliminé/recours/recours.register.ts
  packages/specifications/src/projet/éliminé/recours/recours.world.ts
Due: eslint --fix

🎨 Passer typologie d'installation en champ supplémentaire d'un AO (#3776)
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getInstallation.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales/InfoInstallation.tsx
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/autoconsommationMetropole.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/batiment.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/innovation.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/neutre.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/petitPVBâtiment.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/sol.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/zni.ppe2.ts
  packages/domain/projet/src/candidature/candidature.error.ts
  packages/domain/projet/src/lauréat/installation/installation.aggregate.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
  packages/specifications/src/projet/lauréat/installation/modifierTypologieInstallation.feature
Due: eslint --fix, prettier -w

✨ Ajout dateNotification à l'API achèvement et harmonisation API raccordement
  packages/applications/api-documentation/src/achèvementV1.tsp
  packages/applications/api-documentation/src/raccordement.tsp
  packages/applications/api-documentation/src/shared.tsp
  packages/applications/api/src/handlers/achevement/listerProjetAvecAchevementATransmettre.handler.ts
  packages/applications/api/src/handlers/raccordement/lister.handler.ts
  packages/applications/api/src/handlers/raccordement/listerManquants.ts
  packages/domain/projet/src/lauréat/achèvement/lister/listerProjetAvecAchevementATransmettre.query.ts
  packages/domain/projet/src/lauréat/raccordement/lister/listerDossierRaccordement.query.ts
  packages/domain/projet/src/lauréat/statutLauréat.valueType.ts
Due: eslint --fix

🎨 Consulter recours actuel
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getRecours.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/telecharger-attestation/route.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/page.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(détails)/page.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/modele-reponse/route.ts
  packages/domain/projet/src/lauréat/garanties-financières/saga/handlers/lauréatNotifié.handler.ts
  packages/domain/projet/src/éliminé/recours/consulter/consulterRecours.query.ts
  packages/domain/projet/src/éliminé/recours/index.ts
  packages/domain/projet/src/éliminé/recours/recours.register.ts
Due: eslint --fix

✨ Conserver les recours annulés
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursAnnulé.projector.ts
  packages/applications/ssr/src/app/recours/page.tsx
  packages/domain/projet/src/lauréat/abandon/demande/consulter/consulterDemandeAbandon.query.ts
  packages/domain/projet/src/éliminé/recours/demandeRecours.entity.ts
  packages/specifications/src/projet/éliminé/recours/annulerRecours.feature
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.then.ts
Due: eslint --fix, prettier -w

✅ Test queries
  packages/specifications/src/projet/éliminé/recours/recours.world.ts
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.then.ts
Due: eslint --fix

🐛 Manquants
  packages/applications/api/src/handlers/raccordement/listerManquants.ts
  packages/applications/ssr/src/app/reseaux/raccordements/DossierRaccordementListItem.tsx
  packages/domain/projet/src/lauréat/raccordement/lister/listerDossierRaccordementManquants.query.ts
Due: eslint --fix

🐛 Supprimer tâche + tâche planifiée si l'admin modifie les gfs actuelles pour un projet en attente de GF
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/index.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/modifierGarantiesFinancièresActuelles.feature
Due: eslint --fix, prettier -w

✨ Notifier par lot + ajouter l'équipe potentiel
  packages/applications/notifications/src/subscribers/période/handlers/périodeNotifiée.handler.ts
  packages/infrastructure/email/src/sendEmail.ts
  packages/specifications/src/période/notifierPériode.feature
  packages/specifications/src/période/stepDefinitions/période.then.ts
  packages/specifications/src/setup.ts
Due: eslint --fix, prettier -w

🎨 Executer code meme sans envoi
  packages/applications/ssr/.env.template
  packages/applications/subscribers/.env.template
  packages/infrastructure/email/src/sendEmail.ts
Due: eslint --fix

🎨 Installation with new data
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/InstallationSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/_helpers/getInstallation.ts
Due: eslint --fix

🎨 WIP data tableau de bord
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getRaccordement.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getRaccordementData.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getTableauDeBordData.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getÉtapesData.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/evaluation-carbone/_helpers/getEvaluationCarbone.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/InstallationSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/_helpers/getInstallation.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/types.ts
Due: eslint --fix

🎨 Cleaning
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/documents/DocumentsSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/documents/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/evaluation-carbone/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/mapMenuItemsToSideMenuItems.ts
  packages/applications/ssr/src/components/templates/Page.template.tsx
Due: eslint --fix

🎨 Frise tableau de bord migrée
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getRaccordement.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/EtapesProjet.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/MenuLauréat.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/TableauDeBordSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getTableauDeBordData.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getÉtapesData.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/page.tsx
Due: eslint --fix

🎨 Data raccordement
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/TableauDeBordSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getTableauDeBordData.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/page.tsx
Due: eslint --fix

🎨 Exemple possible sur le layout
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/MenuLauréat.tsx
Due: eslint --fix

🎨 Ancienne route pour historique
  packages/applications/ssr/src/app/laureats/[identifiant]/historique/HistoriqueLauréat.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/historique/page.tsx
Due: eslint --fix

🎨 FF for layout
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/layout.tsx
Due: eslint --fix

🎨 Revert doublon
  packages/applications/ssr/src/app/laureats/[identifiant]/historique/HistoriqueLauréat.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/historique/page.tsx
Due: eslint --fix

🎨 Encart cahier des charges
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/CahierDesChargesSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/EtapesProjetSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/TableauDeBordSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getCahierDesChargesData.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getTableauDeBordData.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getÉtapesData.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/page.tsx
Due: eslint --fix

🎨 Simplification frise
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/EtapesProjetSection.tsx
Due: eslint --fix

🎨 Alerte abandon
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/TableauDeBordSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getAbandonAlert.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getTableauDeBordData.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/page.tsx
Due: eslint --fix

🎨 Integration gf et refacto
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/CahierDesChargesSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/GarantiesFinancièresSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/RaccordementSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/TableauDeBordSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getAbandonAlert.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getCahierDesChargesData.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getGarantiesFinancièresData.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getRaccordementData.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getTableauDeBordData.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/InstallationSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/_helpers/getInstallation.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/types.ts
Due: eslint --fix

simplification et alerte achèvement
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/CahierDesChargesSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/EtapesProjetSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/TableauDeBordSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getAchèvementAlert.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getTableauDeBordData.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/page.tsx
Due: eslint --fix

🎨 Integration retours review ben hub
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/CahierDesChargesSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/EtapesProjetSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/GarantiesFinancièresSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/MenuLauréat.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/RaccordementSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/Section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/TableauDeBord.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/evaluation-carbone/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/evaluation-carbone/ÉvaluationCarbone.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/informations-generales/InformationsGénérales.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/informations-generales/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/Installation.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(historique)/events/mapToChangementNomProjetEnregistréTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/types.ts
  packages/applications/ssr/src/components/atoms/form/TertiaryLink.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
