Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

floating
  biome.jsonc
  packages/applications/ssr/src/components/atoms/form/Form.tsx
Due: eslint --fix

clean biomerc
  biome.jsonc
Due: none

♻️ Réécriture du méchanisme anti CSRF
  package-lock.json
  packages/applications/ssr/.env.template
  packages/applications/ssr/src/app/csrf/page.tsx
  packages/applications/ssr/src/components/atoms/form/Form.tsx
  packages/applications/ssr/src/components/atoms/form/FormCsrfInput.tsx
  packages/applications/ssr/src/components/atoms/form/FormFeedback.tsx
  packages/applications/ssr/src/middlewares/withCSRF.ts
  packages/applications/ssr/src/utils/csrf.ts
  packages/applications/ssr/src/utils/formAction.ts
  packages/applications/ssr/tsconfig.json
  packages/libraries/csrf/package.json
  packages/libraries/csrf/src/index.ts
  packages/libraries/csrf/tsconfig.json
Due: eslint --fix, prettier -w

comment
  packages/applications/ssr/src/middlewares/withCSRF.ts
Due: eslint --fix

retours review
  package-lock.json
  packages/applications/ssr/src/components/atoms/form/FormCsrfInput.tsx
  packages/applications/ssr/src/utils/csrf/constants.ts
  packages/applications/ssr/src/utils/csrf/index.test.ts
  packages/applications/ssr/src/utils/csrf/index.ts
  packages/applications/ssr/src/utils/formAction.ts
Due: eslint --fix, prettier -w

remove package
  packages/applications/ssr/package.json
Due: eslint --fix, prettier -w

lint
  packages/applications/ssr/src/components/atoms/form/Form.tsx
  packages/applications/ssr/src/components/atoms/form/FormCsrfInput.tsx
  packages/applications/ssr/src/middlewares/withCSRF.ts
  packages/applications/ssr/src/utils/csrf/index.test.ts
  packages/applications/ssr/src/utils/csrf/index.ts
  packages/applications/ssr/src/utils/formAction.ts
Due: eslint --fix

middlware chaining comment
  packages/applications/ssr/src/middlewares/withCSRF.ts
Due: eslint --fix

cookie secure samesite
  packages/applications/ssr/src/middlewares/withCSRF.ts
Due: eslint --fix

cookie path
  packages/applications/ssr/src/middlewares/withCSRF.ts
Due: eslint --fix

♻️ Réécriture du méchanisme anti CSRF (#4246)
  package-lock.json
  packages/applications/ssr/.env.template
  packages/applications/ssr/package.json
  packages/applications/ssr/src/app/csrf/page.tsx
  packages/applications/ssr/src/components/atoms/form/Form.tsx
  packages/applications/ssr/src/components/atoms/form/FormCsrfInput.tsx
  packages/applications/ssr/src/components/atoms/form/FormFeedback.tsx
  packages/applications/ssr/src/middlewares/withCSRF.ts
  packages/applications/ssr/src/utils/csrf/constants.ts
  packages/applications/ssr/src/utils/csrf/index.test.ts
  packages/applications/ssr/src/utils/csrf/index.ts
  packages/applications/ssr/src/utils/formAction.ts
  packages/applications/ssr/tsconfig.json
  packages/libraries/csrf/package.json
  packages/libraries/csrf/src/index.ts
  packages/libraries/csrf/tsconfig.json
Due: eslint --fix, prettier -w

specs
  packages/specifications/src/projet/lauréat/abandon/annulerAbandon.feature
  packages/specifications/src/projet/lauréat/abandon/stepDefinitions/abandon.given.ts
  packages/specifications/src/projet/lauréat/power-purchase-agreement/annulerSignalementPowerPurchaseAgreement.feature
  packages/specifications/src/projet/lauréat/power-purchase-agreement/signalerPowerPurchaseAgreement.feature
  packages/specifications/src/projet/lauréat/power-purchase-agreement/stepDefinitions/powerPurchaseAgreement.given.ts
Due: eslint --fix, prettier -w

litner
  packages/applications/notifications/src/subscribers/lauréat/power-purchase-agreement/_helper/getRecipients.ts
  packages/applications/notifications/src/subscribers/lauréat/power-purchase-agreement/handlers/signalementPowerPurchaseAgreementAnnulé.handler.ts
  packages/domain/projet/src/lauréat/abandon/abandon.aggregate.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/powerPurchaseAgreement.aggregate.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/signaler/PowerPurchaseAgreementSignalé.event.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/signaler/signalerPowerPurchaseAgreement.command.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/signaler/signalerPowerPurchaseAgreement.option.ts
Due: eslint --fix

steps
  packages/specifications/src/projet/lauréat/abandon/annulerAbandon.feature
Due: prettier -w

alerte
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/annuler/AnnulerAbandon.form.tsx
Due: eslint --fix

mail et tests
  packages/applications/notifications/src/subscribers/lauréat/power-purchase-agreement/_helper/getRecipients.ts
  packages/applications/notifications/src/subscribers/lauréat/power-purchase-agreement/handlers/powerPurchaseAgreementSignalé.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/power-purchase-agreement/handlers/signalementPowerPurchaseAgreementAnnulé.handler.ts
  packages/specifications/src/projet/lauréat/abandon/annulerAbandon.feature
Due: eslint --fix, prettier -w

implémentation avec le rôle
  package-lock.json
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/signaler/signalerPowerPurchaseAgreement.action.ts
  packages/domain/projet/src/lauréat/abandon/abandon.aggregate.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/powerPurchaseAgreement.aggregate.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/signaler/PowerPurchaseAgreementSignalé.event.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/signaler/signalerPowerPurchaseAgreement.command.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/signaler/signalerPowerPurchaseAgreement.option.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/signaler/signalerPowerPurchaseAgreement.usecase.ts
  packages/specifications/src/projet/lauréat/power-purchase-agreement/stepDefinitions/powerPurchaseAgreement.given.ts
  packages/specifications/src/projet/lauréat/power-purchase-agreement/stepDefinitions/powerPurchaseAgreement.when.ts
Due: eslint --fix, prettier -w

🚧 WIP
  packages/libraries/file-storage/src/download.ts
Due: eslint --fix

scripts
  .database/permissions/grant.sql
  files.sql
Due: none

event, affichage
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/(historique)/events/mapToAchèvementModifiéV1TimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/(historique)/mapToAchèvementTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/modifier/ModifierAchèvement.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/modifier/modifierAchèvement.action.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.aggregate.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.event.ts
  packages/domain/projet/src/lauréat/achèvement/modifier/modifierAchèvement.command.ts
  packages/domain/projet/src/lauréat/achèvement/modifier/modifierAchèvement.event.ts
  packages/domain/projet/src/lauréat/achèvement/modifier/modifierAchèvement.option.ts
  packages/domain/projet/src/lauréat/achèvement/modifier/modifierAchèvement.usecase.ts
Due: eslint --fix

oublis
  packages/applications/cli/src/commands/files/seed.ts
  packages/applications/notifications/src/subscribers/lauréat/achèvement/achèvement.notifications.ts
  packages/applications/projectors/src/subscribers/lauréat/achèvement/index.ts
  packages/specifications/src/projet/lauréat/achèvement/fixture/modifierAchèvement.fixture.ts
  packages/specifications/src/projet/lauréat/achèvement/stepDefinitions/achèvement.given.ts
  packages/specifications/src/projet/lauréat/achèvement/stepDefinitions/achèvement.when.ts
Due: eslint --fix

proj
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupAchèvement.ts
  packages/specifications/src/projet/lauréat/achèvement/fixture/modifierAchèvement.fixture.ts
Due: eslint --fix

wip upload
  files.sql
  packages/libraries/file-storage/src/upload.ts
Due: eslint --fix

Ne pas lister les raccordements/dossies de raccordement si désactivé
  packages/domain/projet/src/lauréat/raccordement/lister/listerDossierRaccordementEnAttenteMiseEnService.query.ts
  packages/domain/projet/src/lauréat/raccordement/lister/listerDossierRaccordementManquants.query.ts
Due: eslint --fix

simplification
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/(historique)/events/mapToAchèvementModifiéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/(historique)/events/mapToAchèvementModifiéV1TimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/(historique)/mapToAchèvementTimelineItemProps.tsx
Due: eslint --fix

✨ ETP PP, si j'ai fait une décla d'abandon avec PPA, l'état PPA est annulé en cas d'annulation (#4244)
  package-lock.json
  packages/applications/notifications/src/subscribers/lauréat/power-purchase-agreement/_helper/getRecipients.ts
  packages/applications/notifications/src/subscribers/lauréat/power-purchase-agreement/handlers/powerPurchaseAgreementSignalé.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/power-purchase-agreement/handlers/signalementPowerPurchaseAgreementAnnulé.handler.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/annuler/AnnulerAbandon.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/signaler/signalerPowerPurchaseAgreement.action.ts
  packages/domain/projet/src/lauréat/abandon/abandon.aggregate.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/powerPurchaseAgreement.aggregate.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/signaler/PowerPurchaseAgreementSignalé.event.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/signaler/signalerPowerPurchaseAgreement.command.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/signaler/signalerPowerPurchaseAgreement.option.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/signaler/signalerPowerPurchaseAgreement.usecase.ts
  packages/specifications/src/projet/lauréat/abandon/annulerAbandon.feature
  packages/specifications/src/projet/lauréat/abandon/stepDefinitions/abandon.given.ts
  packages/specifications/src/projet/lauréat/power-purchase-agreement/annulerSignalementPowerPurchaseAgreement.feature
  packages/specifications/src/projet/lauréat/power-purchase-agreement/signalerPowerPurchaseAgreement.feature
  packages/specifications/src/projet/lauréat/power-purchase-agreement/stepDefinitions/powerPurchaseAgreement.given.ts
  packages/specifications/src/projet/lauréat/power-purchase-agreement/stepDefinitions/powerPurchaseAgreement.when.ts
Due: eslint --fix, prettier -w

🎨 ETQ admin, j'indique une raison lors de la modification de l'achèvement (#4247)
  packages/applications/cli/src/commands/files/seed.ts
  packages/applications/notifications/src/subscribers/lauréat/achèvement/achèvement.notifications.ts
  packages/applications/projectors/src/subscribers/lauréat/achèvement/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/(historique)/events/mapToAchèvementModifiéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/(historique)/mapToAchèvementTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/modifier/ModifierAchèvement.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/modifier/modifierAchèvement.action.ts
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupAchèvement.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.aggregate.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.event.ts
  packages/domain/projet/src/lauréat/achèvement/modifier/modifierAchèvement.command.ts
  packages/domain/projet/src/lauréat/achèvement/modifier/modifierAchèvement.event.ts
  packages/domain/projet/src/lauréat/achèvement/modifier/modifierAchèvement.option.ts
  packages/domain/projet/src/lauréat/achèvement/modifier/modifierAchèvement.usecase.ts
  packages/specifications/src/projet/lauréat/achèvement/fixture/modifierAchèvement.fixture.ts
  packages/specifications/src/projet/lauréat/achèvement/stepDefinitions/achèvement.given.ts
  packages/specifications/src/projet/lauréat/achèvement/stepDefinitions/achèvement.when.ts
Due: eslint --fix

impl all functions
  package-lock.json
  packages/libraries/file-storage/package.json
  packages/libraries/file-storage/src/copyFile.integration.ts
  packages/libraries/file-storage/src/copyFile.ts
  packages/libraries/file-storage/src/copyFolder.integration.ts
  packages/libraries/file-storage/src/copyFolder.ts
  packages/libraries/file-storage/src/download.integration.ts
  packages/libraries/file-storage/src/fileExists.ts
  packages/libraries/file-storage/src/getFiles.integration.ts
  packages/libraries/file-storage/src/getFiles.ts
  packages/libraries/file-storage/src/streamToArrayBuffer.ts
  packages/libraries/file-storage/src/test-utils.integration.ts
  packages/libraries/file-storage/src/upload.integration.ts
  packages/libraries/file-storage/src/upload.ts
Due: eslint --fix, prettier -w

fix download
  packages/libraries/file-storage/src/download.ts
Due: eslint --fix

WIP
  packages/applications/notifications/src/subscribers/lauréat/achèvement/achèvement.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/achèvement/handlers/achèvementModifié.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/achèvement/handlers/index.ts
  packages/applications/notifications/src/templates/emails/lauréat/achèvement/modifier.md
  packages/specifications/src/projet/lauréat/achèvement/modifierAchèvement.feature
  packages/specifications/src/projet/lauréat/installation/modifierInstallateur.feature
Due: eslint --fix, prettier -w

migration script
  packages/applications/cli/src/commands/files/migrer.ts
  packages/libraries/file-storage/src/fileExists.integration.ts
  packages/libraries/file-storage/src/fileExists.ts
Due: eslint --fix

subscriber
  packages/applications/notifications/src/subscribers/lauréat/achèvement/handlers/achèvementModifié.handler.ts
  packages/applications/notifications/src/templates/emails/lauréat/achèvement/modifier.md
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupAchèvement.ts
  packages/specifications/src/projet/lauréat/achèvement/modifierAchèvement.feature
Due: eslint --fix, prettier -w

🙈 Ignore .vscode folder (custom settings should not be gitted)
  .gitignore
Due: none

🎨 Redirection post modification évaluation carbone simplifiée par l'administration
  packages/applications/notifications/src/subscribers/lauréat/fournisseur/handlers/évaluationCarboneSimplifiéeModifiée.handler.ts
  packages/specifications/src/projet/lauréat/fournisseur/modifierÉvaluationCarbone.feature
Due: eslint --fix, prettier -w

🙈 Ignore .vscode folder (custom settings should not be gitted) (#4253)
  .gitignore
Due: none

🚨 Fix lint/style/noNonNullAssertion
  packages/applications/document-builder/src/candidature/attestation/attestation.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/cre4/v0/attestation.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/cre4/v1/attestation.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v1/ppe2.elimine.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v1/ppe2.laureat.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/ppe2.elimine.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/ppe2.laureat.stories.tsx
Due: eslint --fix

🚨 Fix warnings lint/complexity/noUselessFragments
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/imprimer/(component)/ImprimerButton.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(proposition-technique-et-financière)/ÉtapePropositionTechniqueEtFinancière.tsx
  packages/applications/ssr/src/utils/PageWithErrorHandling.tsx
Due: eslint --fix

🚨 Linter warning lint/complexity/noBannedTypes
  packages/applications/document-builder/src/abandon/accordAbandonAvecRecandidature/accordAbandonAvecRecandidature.stories.tsx
  packages/domain/core/src/domainEvent.ts
  packages/domain/core/src/plainType.ts
  packages/domain/entity/src/count.ts
  packages/domain/entity/src/entity.ts
  packages/domain/entity/src/find.ts
  packages/domain/entity/src/joinOptions.ts
  packages/domain/entity/src/list.ts
  packages/domain/entity/src/listHistory.ts
  packages/domain/entity/src/whereOptions.ts
  packages/domain/projet/src/lauréat/abandon/demande/lister/listerAbandonsAvecRecandidatureÀRelancer.query.ts
  packages/infrastructure/pg-projection-read/src/countProjection.ts
  packages/infrastructure/pg-projection-read/src/findProjection.ts
  packages/infrastructure/pg-projection-read/src/listProjection.ts
  packages/infrastructure/pg-projection-read/src/mapResult.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
