Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml,feature}": "prettier -w"
}

♻️ Move notifier dans package projet
  packages/domain/projet/src/candidature/candidature.aggregate.ts
  packages/domain/projet/src/candidature/candidature.error.ts
  packages/domain/projet/src/candidature/candidature.event.ts
  packages/domain/projet/src/candidature/corriger/corrigerCandidature.command.ts
  packages/domain/projet/src/candidature/importer/importerCandidature.command.ts
  packages/domain/projet/src/candidature/notifier/candidatureNotifiée.event.ts
  packages/domain/projet/src/candidature/notifier/notifierCandidature.command.ts
  packages/domain/projet/src/candidature/notifier/notifierCandidature.options.ts
  packages/domain/projet/src/candidature/notifier/notifierCandidature.usecase.ts
Due: eslint --fix

🚧 WIP introduction Dépôt
  packages/domain/projet/src/candidature/dépôtCandidature.valueType.ts
Due: eslint --fix

♻️ Update imports
  packages/applications/legacy/src/controllers/modificationRequest/délai/getCorrigerDelaiAccordePage.ts
  packages/applications/legacy/src/controllers/modificationRequest/délai/postCorrigerDelaiAccorde.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getActionnaire.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getReprésentantLégal.ts
  packages/applications/legacy/src/views/components/UI/templates/PageProjetTemplate.tsx
  packages/applications/legacy/src/views/pages/délai/CorrigerDelaiAccordePage.tsx
Due: eslint --fix

♻️ Decouplage
  package-lock.json
  packages/applications/bootstrap/src/setupProjet.ts
  packages/applications/document-builder/src/candidature/attestation/attestation.saga.ts
  packages/applications/ssr/src/app/recours/page.tsx
  packages/domain/common/src/valueTypes/email.valueType.ts
  packages/domain/projet/src/candidature/index.ts
  packages/domain/projet/src/getScopeProjetUtilisateur.port.ts
  packages/domain/projet/src/index.ts
  packages/domain/projet/src/éliminé/_utils/getRoleBasedWhereCondition.ts
  packages/domain/projet/src/éliminé/notifier/notifierÉliminé.usecase.ts
  packages/domain/projet/src/éliminé/recours/lister/listerRecours.query.ts
  packages/domain/projet/src/éliminé/recours/recours.aggregate.ts
  packages/domain/projet/tsconfig.json
  packages/domain/utilisateur/package.json
  packages/domain/utilisateur/src/identifiantUtilisateur.valueType.ts
  packages/domain/utilisateur/src/index.ts
  packages/domain/utilisateur/src/lister/listerProjetsÀRéclamer.query.ts
  packages/domain/utilisateur/tsconfig.json
  packages/infrastructure/domain-adapters/src/utilisateur/getScopeProjetUtilisateur.adapter.ts
  packages/infrastructure/domain-adapters/src/utilisateur/index.ts
Due: eslint --fix, prettier -w

♻️ Fix after rebase
  package-lock.json
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/modele-reponse/route.ts
  packages/domain/projet/package.json
Due: eslint --fix, prettier -w

✨ Commande CLI pour effectuer un backup des fichiers
  packages/applications/cli/src/commands/files/backup.ts
Due: eslint --fix

🎨 Files only
  packages/applications/cli/src/commands/puissance/migrer.ts
Due: eslint --fix

🐛 Changement des règles sur le ratio (#2968)
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/demander/page.tsx
  packages/applications/ssr/src/components/pages/puissance/changement/demander/DemanderChangementPuissance.form.tsx
  packages/applications/ssr/src/components/pages/puissance/changement/demander/DemanderChangementPuissance.page.tsx
  packages/domain/lauréat/src/puissance/changement/demander/demanderChangementPuissance.behavior.ts
  packages/domain/lauréat/src/puissance/changement/demander/demanderChangementPuissance.command.ts
  packages/domain/lauréat/src/puissance/changement/demander/demanderChangementPuissance.usecase.ts
  packages/domain/lauréat/src/puissance/changement/enregistrerChangement/enregistrerChangementPuissance.behavior.ts
  packages/domain/lauréat/src/puissance/changement/enregistrerChangement/enregistrerChangementPuissance.command.ts
  packages/domain/lauréat/src/puissance/changement/enregistrerChangement/enregistrerChangementPuissance.usecase.ts
Due: eslint --fix

🎨 Alerte ratio
  packages/applications/ssr/src/components/pages/puissance/changement/demander/DemanderChangementPuissance.form.tsx
Due: eslint --fix

🎨 Ajout puissance initiale dans la demande
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/page.tsx
  packages/applications/ssr/src/components/pages/puissance/changement/détails/DétailsChangementPuissance.tsx
  packages/applications/ssr/src/components/pages/puissance/changement/détails/DétailsPuissance.page.tsx
Due: eslint --fix

🎨 Ajout d'un tooltip au lieu de l'alerte
  packages/applications/ssr/src/components/pages/puissance/changement/détails/DétailsChangementPuissance.tsx
Due: eslint --fix

🎨 Puissance initiale
  packages/applications/ssr/src/components/pages/puissance/changement/demander/DemanderChangementPuissance.form.tsx
Due: eslint --fix

🔥 Remove dossierSuiviPar spécifique pour la P1 de l'AO PPE2 Eolien
  packages/domain/inmemory-referential/src/appelOffre/PPE2/eolien.ppe2.ts
Due: eslint --fix

🎨 Ajout d'email différents pour la DGEC pour les AOs PV et Eolien
  packages/applications/ssr/.env.template
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole2016.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI2017.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/batiment.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/eolien.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/fessenheim.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/innovation.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/pvEolien.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/sol.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni2017.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/autoconsommationMetropole.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/batiment.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/eolien.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/innovation.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/neutre.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/sol.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/zni.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/_utils/emailDgec.ts
Due: eslint --fix

🎨 Conditionner l'email dgec destinataire en fonction de l'identifiant d'appel d'offre
  packages/applications/notifications/src/helpers/getDgecRecipient.ts
  packages/applications/notifications/src/subscribers/lauréat/puissance/changement/changementPuissanceDemandé.notification.ts
  packages/domain/inmemory-referential/src/appelOffre/_utils/emailDgec.ts
  packages/specifications/src/notification/notification.world.ts
  packages/specifications/src/projet/lauréat/puissance/changement/demanderChangementPuissance.feature
  packages/specifications/src/setup.ts
Due: eslint --fix, prettier -w

♻️ Mise à jour stats publiques suite migration puissance
  packages/applications/projectors/src/subscribers/lauréat/puissance/puissanceImportée.projector.ts
  packages/domain/lauréat/src/puissance/puissance.entity.ts
  packages/statistiques/statistiques-publiques/src/01-ensemble-des-projets/totalPuissanceParAppelOffre.statistic.ts
  packages/statistiques/statistiques-publiques/src/03-demandes-de-modification/nombreDeDemandeParCategorie.statistic.ts
  packages/statistiques/statistiques-publiques/src/03-demandes-de-modification/nombreTotalDemande.statistic.ts
Due: eslint --fix

🎨 Rename
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole2016.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI2017.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/batiment.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/eolien.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/fessenheim.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/innovation.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/pvEolien.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/sol.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni2017.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/autoconsommationMetropole.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/batiment.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/eolien.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/innovation.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/neutre.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/sol.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/zni.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/_utils/emailDgec.ts
Due: eslint --fix

🎨 Rename
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole2016.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI2017.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/batiment.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/eolien.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/fessenheim.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/innovation.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/pvEolien.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/sol.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni2017.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/autoconsommationMetropole.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/batiment.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/eolien.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/innovation.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/neutre.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/sol.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/zni.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/_utils/email.ts
Due: eslint --fix

🎨 Rename dgec
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole2016.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI2017.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/batiment.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/eolien.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/fessenheim.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/innovation.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/pvEolien.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/sol.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni2017.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/autoconsommationMetropole.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/batiment.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/eolien.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/innovation.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/neutre.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/sol.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/zni.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/_utils/emailDGEC.ts
Due: eslint --fix

🎨 Amélioration front puissance (#2969)
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/page.tsx
  packages/applications/ssr/src/components/pages/puissance/changement/demander/DemanderChangementPuissance.form.tsx
  packages/applications/ssr/src/components/pages/puissance/changement/détails/DétailsChangementPuissance.tsx
  packages/applications/ssr/src/components/pages/puissance/changement/détails/DétailsPuissance.page.tsx
Due: eslint --fix

🤡 Update dump
  .database/potentiel-dev.dump
Due: none

🎨 Prévenir aussi la dgec en cas de changement de puissance annulée
  packages/applications/notifications/src/subscribers/lauréat/puissance/changement/changementPuissanceAnnulé.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/puissance/changement/changementPuissanceDemandé.notification.ts
  packages/domain/lauréat/src/puissance/changement/annuler/annulerChangementPuissance.behavior.ts
  packages/specifications/src/projet/lauréat/puissance/changement/annulerChangementPuissance.feature
Due: eslint --fix, prettier -w

🎨 Simplification volume, famille
  packages/applications/legacy/src/modules/demandeModification/demandeChangementDePuissance/demander/helpers/exceedsPuissanceMaxDuVolumeReserve.ts
  packages/applications/ssr/src/components/pages/puissance/changement/demander/DemanderChangementPuissance.form.tsx
  packages/domain/lauréat/src/puissance/valueType/helpers/dépassePuissanceMaxDuVolumeRéservé.ts
  packages/domain/lauréat/src/puissance/valueType/helpers/dépassePuissanceMaxFamille.ts
  packages/domain/lauréat/src/puissance/valueType/helpers/récupérerPuissanceMaxVolumeRéservé.ts
  packages/domain/lauréat/src/puissance/valueType/ratioChangementPuissance.valueType.ts
  packages/specifications/src/projet/lauréat/puissance/changement/demanderChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/enregistrerChangementPuissance.feature
Due: eslint --fix, prettier -w

🎨 Simplification et erreurs
  packages/applications/legacy/src/modules/demandeModification/demandeChangementDePuissance/demander/helpers/exceedsPuissanceMaxDuVolumeReserve.ts
  packages/domain/lauréat/src/puissance/valueType/helpers/getRatiosChangementPuissance.ts
  packages/domain/lauréat/src/puissance/valueType/ratioChangementPuissance.valueType.ts
  packages/specifications/src/projet/lauréat/puissance/changement/enregistrerChangementPuissance.feature
Due: eslint --fix, prettier -w

♻️ Utilisation d'un value type dédié et enlever les variables d'env
  packages/applications/notifications/src/helpers/getDgecRecipient.ts
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/appel-offre/src/emailDGEC.valueType.ts
  packages/domain/appel-offre/src/index.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole2016.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI2017.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/batiment.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/eolien.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/fessenheim.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/innovation.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/pvEolien.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/sol.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni2017.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/autoconsommationMetropole.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/batiment.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/eolien.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/innovation.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/neutre.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/sol.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/zni.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/_utils/emailDGEC.ts
  packages/specifications/src/setup.ts
Due: eslint --fix

🐛 Fix build
  packages/domain/inmemory-referential/src/appelOffre/CRE4/eolien.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/eolien.ppe2.ts
Due: eslint --fix

🎨 Retours ben
  packages/applications/document-builder/src/candidature/attestation/cre4/v1/makeCertificate.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v1/Header.tsx
  packages/applications/ssr/.env.template
  packages/domain/appel-offre/src/EmailDGEC.valueType.ts
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/appel-offre/src/index.ts
Due: eslint --fix

🎨 Utiliser l'email dgec adéquate pour le step email envoyé à la dgec
  packages/specifications/src/notification/stepDefinitions/notification.then.ts
Due: eslint --fix

♻️ Mise à jour stats publiques suite migration puissance (#2971)
  .database/potentiel-dev.dump
  packages/applications/projectors/src/subscribers/lauréat/puissance/puissanceImportée.projector.ts
  packages/domain/lauréat/src/puissance/puissance.entity.ts
  packages/statistiques/statistiques-publiques/src/01-ensemble-des-projets/totalPuissanceParAppelOffre.statistic.ts
  packages/statistiques/statistiques-publiques/src/03-demandes-de-modification/nombreDeDemandeParCategorie.statistic.ts
  packages/statistiques/statistiques-publiques/src/03-demandes-de-modification/nombreTotalDemande.statistic.ts
Due: eslint --fix

🎨 Lister dgec recipients dans les notifications
  packages/applications/notifications/src/helpers/getAppelOffre.ts
  packages/applications/notifications/src/helpers/getDgecRecipient.ts
  packages/applications/notifications/src/helpers/listerDgecRecipients.ts
  packages/applications/notifications/src/subscribers/lauréat/puissance/changement/changementPuissanceAnnulé.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/puissance/changement/changementPuissanceDemandé.notification.ts
Due: eslint --fix

🎨 Utilisation d'un type simple plutot que d'un value type
  packages/domain/appel-offre/src/EmailDGEC.valueType.ts
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/appel-offre/src/index.ts
Due: eslint --fix

✨ Commande CLI pour effectuer un backup des fichiers (#2970)
  packages/applications/cli/src/commands/files/backup.ts
Due: eslint --fix

🎨 Email DGEC PV ou Eolien en fonction de l'identifiant de l'appel d'offre (#2972)
  packages/applications/document-builder/src/candidature/attestation/cre4/v1/makeCertificate.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v1/Header.tsx
  packages/applications/notifications/src/helpers/getAppelOffre.ts
  packages/applications/notifications/src/helpers/getDgecRecipient.ts
  packages/applications/notifications/src/helpers/listerDgecRecipients.ts
  packages/applications/notifications/src/subscribers/lauréat/puissance/changement/changementPuissanceAnnulé.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/puissance/changement/changementPuissanceDemandé.notification.ts
  packages/applications/ssr/.env.template
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/autoconsommationMetropole.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/eolien.ppe2.ts
  packages/domain/lauréat/src/puissance/changement/annuler/annulerChangementPuissance.behavior.ts
  packages/specifications/src/notification/notification.world.ts
  packages/specifications/src/notification/stepDefinitions/notification.then.ts
  packages/specifications/src/projet/lauréat/puissance/changement/annulerChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/demanderChangementPuissance.feature
Due: eslint --fix, prettier -w

♻️ Introduction d'un ValueType pour la référence du CDC
  packages/applications/legacy/src/controllers/project/postChoisirCahierDesCharges.ts
  packages/applications/legacy/src/entities/cahierDesCharges.ts
  packages/applications/legacy/src/infra/sequelize/projectionsNext/projectEvents/events/CahierDesChargesEvent.ts
  packages/applications/legacy/src/modules/frise/dtos/ProjectEventListDTO.ts
  packages/applications/legacy/src/modules/notification/Notification.ts
  packages/applications/legacy/src/modules/project/events/CahierDesChargesChoisi.ts
  packages/domain/appel-offre/src/RéférenceCahierDesCharges.valueType.ts
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/appel-offre/src/appelOffre.ts
  packages/domain/lauréat/src/cahierDesChargesChoisi/consulter/consulterCahierDesChargesChoisi.query.ts
Due: eslint --fix

✨ Migration du choix du cahier des charges - domaine
  packages/applications/bootstrap/src/setupLauréat.ts
  packages/applications/legacy/.env.template
  packages/applications/projectors/src/subscribers/lauréat/lauréat/cahierDesChargesModifié.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/lauréat/index.ts
  packages/applications/projectors/src/subscribers/lauréat/lauréat/lauréatNotifié.projector.ts
  packages/applications/ssr/.env.template
  packages/domain/lauréat/src/cahierDesChargesChoisi/consulter/consulterCahierDesChargesChoisi.query.ts
  packages/domain/lauréat/src/lauréat.aggregate.ts
  packages/domain/lauréat/src/lauréat.entity.ts
  packages/domain/lauréat/src/lauréat.ts
  packages/domain/lauréat/src/modifier/modifierCahierDesCharges.behavior.ts
  packages/domain/lauréat/src/modifier/modifierCahierDesCharges.command.ts
  packages/domain/lauréat/src/modifier/modifierCahierDesCharges.usecase.ts
  packages/domain/lauréat/src/register.ts
  packages/specifications/src/projet/lauréat/choisirCahierDesCharges.feature
  packages/specifications/src/projet/lauréat/fixtures/modifierCahierDesCharges.fixture.ts
  packages/specifications/src/projet/lauréat/lauréat.world.ts
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.given.ts
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.then.ts
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.when.ts
  packages/specifications/src/setup.ts
Due: eslint --fix, prettier -w

🎨 Type
  packages/domain/lauréat/src/puissance/valueType/helpers/dépassePuissanceMaxDuVolumeRéservé.ts
Due: eslint --fix

♻️ Simplification règles puissance (#2973)
  packages/applications/legacy/src/modules/demandeModification/demandeChangementDePuissance/demander/helpers/exceedsPuissanceMaxDuVolumeReserve.ts
  packages/applications/ssr/src/components/pages/puissance/changement/demander/DemanderChangementPuissance.form.tsx
  packages/domain/lauréat/src/puissance/valueType/helpers/dépassePuissanceMaxDuVolumeRéservé.ts
  packages/domain/lauréat/src/puissance/valueType/helpers/dépassePuissanceMaxFamille.ts
  packages/domain/lauréat/src/puissance/valueType/helpers/getRatiosChangementPuissance.ts
  packages/domain/lauréat/src/puissance/valueType/helpers/récupérerPuissanceMaxVolumeRéservé.ts
  packages/domain/lauréat/src/puissance/valueType/ratioChangementPuissance.valueType.ts
  packages/specifications/src/projet/lauréat/puissance/changement/demanderChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/enregistrerChangementPuissance.feature
Due: eslint --fix, prettier -w

🎨 Simplification getPuissance getActionnaire
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getActionnaire.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getPuissance.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales/InfoActionnaire.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales/InfoPuissance.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales/index.tsx
Due: eslint --fix

🎨 Evidemmmmennnnnt
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales/index.tsx
Due: eslint --fix
