Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

🎨 Validation dates + retirer usage Temporal
  packages/applications/api-documentation/src/achèvement.tsp
  packages/applications/api-documentation/src/raccordement.tsp
  packages/applications/api-documentation/tspconfig.yaml
  packages/applications/api/src/errors.ts
  packages/applications/api/src/handlers/achevement/transmettreDateAchevement.handler.ts
  packages/applications/api/src/handlers/raccordement/lister.handler.ts
  packages/applications/api/src/handlers/raccordement/listerManquants.ts
  packages/applications/api/src/handlers/raccordement/transmettreDateMiseEnService.handler.ts
  packages/applications/api/src/handlers/raccordement/transmettreDemandeComplète.handler.ts
  packages/applications/api/src/helpers/validate.ts
Due: eslint --fix, prettier -w

🎨 Debut integration review ben
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getAchèvementData.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getCahierDesChargesData.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getRaccordementData.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getTableauDeBordData.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/_helpers/getInstallation.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/types.ts
Due: eslint --fix

💬 Wording variable d'env
  packages/applications/ssr/.env.template
  packages/applications/ssr/src/utils/formAction.ts
Due: eslint --fix

Update packages/applications/ssr/src/app/api/taches/route.ts
  packages/applications/ssr/src/app/api/taches/route.ts
Due: eslint --fix

🎨 Validation dates + retirer usage Temporal
  packages/applications/api/src/helpers/validate.ts
Due: eslint --fix

⏪️ Revert
  packages/applications/cli/src/hooks/healthcheck/finally.ts
Due: eslint --fix

🎨 Ajout du délai qu'en cas de succès avec redirection
  packages/applications/ssr/src/utils/formAction.ts
Due: eslint --fix

🐛 Ajout d'un délai paramétrable avant de rediriger après l'éxécution du handler d'une action (#3767)
  packages/applications/ssr/.env.template
  packages/applications/ssr/src/utils/formAction.ts
Due: eslint --fix

🐛 Re-enable date validation
  packages/applications/api/src/helpers/validate.ts
Due: eslint --fix

✅ Enable tests
  packages/applications/api/package.json
Due: eslint --fix, prettier -w

🎨 Correction buid
  package.json
  packages/applications/api/test/getAccessToken.ts
  packages/applications/api/test/raccordement.test.ts
Due: eslint --fix, prettier -w

🎨 Accès, review et build
  packages/applications/routes/src/accès/accès.routes.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/utilisateurs/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/RaccordementSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getRaccordementData.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/page.tsx
  packages/applications/ssr/src/components/organisms/accès/AccèsList.page.tsx
  packages/applications/ssr/src/components/organisms/accès/AccèsListItem.tsx
Due: eslint --fix

🎨 Amélioration import des candidats si 1 période à importer (#3766)
  packages/applications/ssr/src/app/candidatures/importer/ImporterCandidatures.form.tsx
Due: eslint --fix

🎨 Flex
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/TableauDeBord.page.tsx
Due: eslint --fix

Revert "🎨 Correction buid"
  package.json
  packages/applications/api/test/getAccessToken.ts
  packages/applications/api/test/raccordement.test.ts
Due: eslint --fix, prettier -w

🔥 Supprimer les tests
  packages/applications/api/test/raccordement.test.ts
  packages/applications/api/test/testServer.ts
Due: eslint --fix

✅ Ajout tests validation
  packages/applications/api/src/helpers/validate.test.ts
Due: eslint --fix

⏪️ Revert eslint change
  eslint.config.mjs
Due: none

🎨 Split achevemnt v1/v2
  packages/applications/api-documentation/src/achèvementV1.tsp
  packages/applications/api-documentation/src/achèvementV2.tsp
  packages/applications/api-documentation/src/lauréat.tsp
  packages/applications/api-documentation/src/main.tsp
Due: none

📝 Supprimer fichiers http
  docs/contributing/API.md
  docs/contributing/api/get/achevement-en-attente.http
  docs/contributing/api/get/liste-dossier-raccordement.http
  docs/contributing/api/post/modifier-reference-dossier.http
  docs/contributing/api/post/transmettre-date-achevement.http
  docs/contributing/api/post/transmettre-date-mise-en-service.http
  docs/contributing/api/post/transmettre-demande-complete-raccordement.http
Due: eslint --fix

📝 Détails et docs
  package-lock.json
  packages/applications/api-documentation/src/raccordement.tsp
  packages/applications/api/package.json
  packages/applications/api/tsconfig.json
Due: eslint --fix, prettier -w

♻️ Projectors
  packages/applications/projectors/src/subscribers/lauréat/abandon/abandonAccordé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/abandonAnnulé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/abandonConfirmé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/abandonDemandé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/abandonPasséEnInstruction.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/abandonRebuildTriggered.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/abandonRejeté.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/confirmationAbandonDemandée.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/preuveCandidatureDemandée.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/preuveRecandidatureTransmise.projector.ts
Due: eslint --fix

✅ Specs
  packages/specifications/src/projet/lauréat/abandon/abandon.world.ts
  packages/specifications/src/projet/lauréat/abandon/annulerAbandon.feature
  packages/specifications/src/projet/lauréat/abandon/demanderAbandon.feature
  packages/specifications/src/projet/lauréat/abandon/rejeterAbandon.feature
  packages/specifications/src/projet/lauréat/abandon/stepDefinitions/abandon.then.ts
Due: eslint --fix, prettier -w

🔥 Console.log
  packages/domain/projet/src/lauréat/consulter/consulterLauréat.query.ts
Due: eslint --fix

♻️ Legacy project page
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getAbandon.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/index.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
Due: eslint --fix

♻️ Modèles réponse
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/getLauréat.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/modele-reponse/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(mainlevée)/modele-reponse-mainlevee/route.ts
Due: eslint --fix

♻️ Détail abandon pages
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/DétailsAbandon.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/InfoBoxMainlevéeSiAbandonAccordé.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/accorder/AccorderAbandonAvecRecandidature.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/accorder/AccorderAbandonSansRecandidature.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/accorder/accorderAbandonAvecRecandidature.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/accorder/accorderAbandonSansRecandidature.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/annuler/AnnulerAbandon.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/annuler/annulerAbandon.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/confirmer/ConfirmerAbandon.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/confirmer/confirmerAbandon.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/demanderConfirmation/DemanderConfirmationAbandon.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/demanderConfirmation/demanderConfirmationAbandon.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/passerEnInstruction/PasserAbandonEnInstruction.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/passerEnInstruction/passerAbandonEnInstruction.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/rejeter/RejeterAbandon.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/rejeter/rejeterAbandon.action.ts
Due: eslint --fix

🎨 Notifications : variable url
  packages/applications/notifications/src/subscribers/lauréat/abandon/handlers/abandonAccordé.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/abandon/handlers/abandonAnnulé.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/abandon/handlers/abandonConfirmé.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/abandon/handlers/abandonDemandé.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/abandon/handlers/abandonPasséEnInstruction.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/abandon/handlers/abandonRejeté.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/abandon/handlers/confirmationAbandonDemandée.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/abandon/handlers/preuveRecandidatureDemandée.handler.ts
  packages/specifications/src/projet/lauréat/abandon/passerAbandonEnInstruction.feature
Due: eslint --fix, prettier -w

♻️ Lister abandons + permisions
  packages/applications/ssr/src/app/laureats/changements/abandon/page.tsx
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🎨 Ajout date à l'url + cas de redirection
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/DemandeEnCoursInfoBox.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/DemandeImpossibleInfoBox.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/EtapesProjet.tsx
  packages/applications/routes/src/lauréat/abandon.routes.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/DétailsAbandon.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/accorder/AccorderAbandonSansRecandidature.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/accorder/accorderAbandonAvecRecandidature.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/accorder/accorderAbandonSansRecandidature.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/confirmer/ConfirmerAbandon.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/confirmer/confirmerAbandon.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/demanderConfirmation/demanderConfirmationAbandon.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/passerEnInstruction/PasserAbandonEnInstruction.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/passerEnInstruction/passerAbandonEnInstruction.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/rejeter/RejeterAbandon.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/rejeter/rejeterAbandon.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/demander/demanderAbandon.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/transmettre-preuve-recandidature/TransmettrePreuveRecandidature.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/transmettre-preuve-recandidature/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/transmettre-preuve-recandidature/transmettrePreuveRecandidature.action.ts
  packages/applications/ssr/src/app/laureats/changements/abandon/AbandonListItem.tsx
  packages/applications/ssr/src/app/laureats/changements/abandon/page.tsx
  packages/applications/ssr/src/app/taches/TâcheListItem.tsx
  packages/domain/projet/src/lauréat/abandon/demande/lister/listerDemandesAbandon.query.ts
Due: eslint --fix

🐛 Fix redirection
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/accorder/AccorderAbandonSansRecandidature.tsx
Due: eslint --fix

🚚 Query lister > demandes
  packages/domain/projet/src/lauréat/abandon/abandon.register.ts
  packages/domain/projet/src/lauréat/abandon/demande/lister/listerAbandonsAvecRecandidatureÀRelancer.query.ts
  packages/domain/projet/src/lauréat/abandon/index.ts
Due: eslint --fix

🔥 Suppression recandidature de abandon entity
  packages/applications/projectors/src/subscribers/lauréat/abandon/abandonDemandé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/preuveCandidatureDemandée.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/abandon/preuveRecandidatureTransmise.projector.ts
  packages/domain/projet/src/lauréat/abandon/abandon.entity.ts
  packages/domain/projet/src/lauréat/abandon/consulter/consulterAbandon.query.ts
  packages/domain/projet/src/lauréat/abandon/lister/listerAbandonsAvecRecandidatureÀRelancer.query.ts
Due: eslint --fix

🎨 Notifications : abandon url
  packages/applications/notifications/src/subscribers/lauréat/abandon/handlers/abandonAccordé.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/abandon/handlers/abandonAnnulé.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/abandon/handlers/abandonConfirmé.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/abandon/handlers/abandonDemandé.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/abandon/handlers/abandonPasséEnInstruction.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/abandon/handlers/abandonRejeté.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/abandon/handlers/confirmationAbandonDemandée.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/abandon/handlers/preuveRecandidatureDemandée.handler.ts
  packages/specifications/src/projet/lauréat/abandon/accorderAbandon.feature
  packages/specifications/src/projet/lauréat/abandon/annulerAbandon.feature
  packages/specifications/src/projet/lauréat/abandon/confirmerAbandon.feature
  packages/specifications/src/projet/lauréat/abandon/demanderAbandon.feature
  packages/specifications/src/projet/lauréat/abandon/demanderConfirmationAbandon.feature
  packages/specifications/src/projet/lauréat/abandon/passerAbandonEnInstruction.feature
  packages/specifications/src/projet/lauréat/abandon/rejeterAbandon.feature
Due: eslint --fix, prettier -w

🎨 Diverses optimisations front
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/accorder/accorderAbandonAvecRecandidature.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/transmettre-preuve-recandidature/page.tsx
Due: eslint --fix

🎨 Orga permission
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🎨 Fix queries lister*
  packages/domain/projet/src/lauréat/garanties-financières/en-attente/lister/listerProjetsAvecGarantiesFinancièresEnAttente.query.ts
  packages/domain/projet/src/lauréat/lister/listerLauréat.query.ts
  packages/domain/projet/src/lauréat/raccordement/lister/listerDossierRaccordement.query.ts
Due: eslint --fix

✅ Fix test (wording step)
  packages/specifications/src/projet/lauréat/abandon/accorderAbandon.feature
  packages/specifications/src/projet/lauréat/actionnaire/supprimerChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/échoirGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/puissance/changement/supprimerChangementPuissance.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/demanderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/supprimerDemandeChangementReprésentantLégal.feature
  packages/specifications/src/raccordement/supprimerRaccordement.feature
Due: prettier -w

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
