Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml,feature}": "prettier -w"
}

Mise à jour des tâches raccordement (#4510)
  packages/applications/ssr/src/app/taches/TâcheListItem.tsx
  packages/domain/projet/src/lauréat/abandon/abandon.aggregate.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/powerPurchaseAgreement.aggregate.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/domain/projet/src/lauréat/tâche/typeTâche.valueType.ts
  packages/specifications/src/projet/lauréat/abandon/demanderAbandon.feature
  packages/specifications/src/projet/lauréat/power-purchase-agreement/annulerSignalementPowerPurchaseAgreement.feature
  packages/specifications/src/projet/lauréat/raccordement/demandeComplèteDeRaccordement/transmettreDemandeComplèteDeRaccordement.feature
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/supprimerUnDocumentRaccordement.feature
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/transmettreUnDocumentRaccordement.feature
  packages/specifications/src/projet/lauréat/raccordement/dossierRaccordement/supprimerDossierDuRaccordement.feature
  packages/specifications/src/projet/lauréat/raccordement/stepDefinitions/raccordement.then.ts
  packages/specifications/src/tâche/tâche.world.ts
Due: eslint --fix, prettier -w

🎨 Ajout de la commande pour ajouter les taches manquantes DCR non transmise
  packages/applications/cli/src/commands/raccordement/ajouter-taches.ts
  packages/domain/projet/src/lauréat/tâche/tâche.aggregate.ts
Due: eslint --fix

🎨 Retravailler le script + alignement wording tache document DCR manquant pour 1 dossier + annuler tâche planifiée si dossier
  packages/applications/cli/src/commands/raccordement/ajouter-taches.ts
  packages/applications/ssr/src/app/taches/TâcheListItem.tsx
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/specifications/src/projet/lauréat/raccordement/demandeComplèteDeRaccordement/transmettreDemandeComplèteDeRaccordement.feature
Due: eslint --fix, prettier -w

✅ Impossible d'accorder le recours d'un projet éliminé avec une date antérieure à la date de la demande
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(historique)/events/mapToRecoursAccordéTimelineItemProps.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/[date]/accorder/AccorderRecours.form.tsx
  packages/domain/projet/src/éliminé/recours/recours.aggregate.ts
  packages/domain/projet/src/éliminé/recours/recours.error.ts
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.given.ts
Due: eslint --fix, prettier -w

🎨 Découpage de la page historique en helpers testables + spec recours avec date d'accord
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/historique/_helpers/aUnRecoursAccordé.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/historique/_helpers/getHistoriqueTrié.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/historique/_helpers/itemDoitEtreAffiché.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/historique/_helpers/mapToTimelineItemProps.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/historique/_helpers/trierParJourPuisOrdreDInsertion.test.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/historique/_helpers/trierParJourPuisOrdreDInsertion.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/historique/page.tsx
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
  packages/specifications/src/projet/éliminé/recours/fixtures/accorderRecours.fixture.ts
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.given.ts
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.when.ts
Due: eslint --fix, prettier -w

🎨 Retours reviews
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/[date]/DétailsRecours.page.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/[date]/accorder/AccorderRecours.form.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/[date]/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/historique/_helpers/itemDoitEtreAffiché.ts
Due: eslint --fix

🚸 Demandes/changements : passer le titre de la page au dessus du contenu (#4502)
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/DétailsAbandon.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/DétailsActionnaire.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/DétailsChangementActionnaire.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/DétailsDemandeDélai.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/DétailsDemandeDélai.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/[date]/DétailsChangementFournisseur.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/[date]/DétailsChangementFournisseur.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/dispositif-de-stockage/changement/[date]/DétailsChangementDispositifDeStockage.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/dispositif-de-stockage/changement/[date]/DétailsChangementDispositifDeStockage.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/installateur/changement/[date]/DétailsChangementInstallateur.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/installateur/changement/[date]/DétailsChangementInstallateur.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/nature-de-l-exploitation/changement/[date]/DétailsChangementNatureDeLExploitation.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/nature-de-l-exploitation/changement/[date]/DétailsChangementNatureDeLExploitation.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/nom-projet/changement/[date]/DétailsChangementNomProjet.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/nom-projet/changement/[date]/DétailsChangementNomProjet.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/changement/[date]/DétailsChangementProducteur.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/changement/[date]/DétailsChangementProducteur.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/DétailsChangementPuissance.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/DétailsPuissance.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/DétailsChangementReprésentantLégal.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/DétailsChangementReprésentantLégal.tsx
  packages/applications/ssr/src/components/organisms/demande/DétailsChangement.tsx
  packages/applications/ssr/src/components/organisms/demande/DétailsDemande.tsx
  packages/applications/ssr/src/components/organisms/demande/TitrePageDemande.tsx
Due: eslint --fix

♻️ Ajout d'un import #helpers
  packages/statistiques/statistiques-publiques/package.json
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/pourcentagePTFDéposées.statistic.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/pourcentageProjetEnService.statistic.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/pourcentageRéférencesRaccordement.statistic.ts
  packages/statistiques/statistiques-publiques/src/06-par-cycle/computePourcentageProjetEnServiceParCycle.statistic.ts
  packages/statistiques/statistiques-publiques/src/_utils/index.ts
  packages/statistiques/statistiques-publiques/src/helpers/cleanCamembertStatistic.ts
  packages/statistiques/statistiques-publiques/src/helpers/cleanCartoProjetStatistic.ts
  packages/statistiques/statistiques-publiques/src/helpers/cleanScalarStatistic.ts
  packages/statistiques/statistiques-publiques/src/helpers/cleanUtilisateurStatistic.ts
  packages/statistiques/statistiques-publiques/src/helpers/getCountProjetsLauréatsNonAbandonnés.ts
  packages/statistiques/statistiques-publiques/src/helpers/getCountProjetsPPE2LauréatsNonAbandonnésSaufPPA.ts
  packages/statistiques/statistiques-publiques/src/index.ts
Due: eslint --fix, prettier -w

✨ Ajout stat "pourcentageProjetPPE2AvecDossierRaccordementComplet"
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/index.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/pourcentageProjetPPE2AvecDossierRaccordementComplet.statistic.ts
  packages/statistiques/statistiques-publiques/src/helpers/index.ts
Due: eslint --fix

✨ Ajout stat "nombreTotalProjetPPE2AvecDossierRaccordementComplet"
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/index.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/nombreTotalProjetPPE2AvecDossierRaccordementComplet.statistic.ts
Due: eslint --fix

✨ Ajout stat pourcentageProjetPPE2AvecDCRDéposée
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/index.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/pourcentageProjetPPE2AvecDCRDéposée.ts
Due: eslint --fix

🎨 Vérifier sur les requetes que le racc n'est pas désactivé (gardefou)
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/nombreTotalProjetPPE2AvecDossierRaccordementComplet.statistic.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/pourcentageProjetPPE2AvecDossierRaccordementComplet.statistic.ts
Due: eslint --fix

✨ Ajout stat "nombreTotalProjetPPE2AvecDCRDéposée"
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/index.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/nombreTotalProjetPPE2AvecDCRDéposée.statistic.ts
Due: eslint --fix

🔥 Suppression des stats PTF obsolète
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/index.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/nombreTotalPTFDéposées.statistic.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/pourcentagePTFDéposées.statistic.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/pourcentageProjetAvecDCRQuiOntUnePTF.statistic.ts
Due: eslint --fix

🎨 Ajout helper countProjetsLauréatsNonAbandonnésSaufPPA avec cycle d'ao optionnel en argument
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/pourcentageProjetPPE2AvecDCRDéposée.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/pourcentageProjetPPE2AvecDossierRaccordementComplet.statistic.ts
  packages/statistiques/statistiques-publiques/src/helpers/getCountProjetsLauréatsNonAbandonnésSaufPPA.ts
  packages/statistiques/statistiques-publiques/src/helpers/index.ts
Due: eslint --fix

🎨 Update stat pourcentageRéféréncesRaccordement pour inclure les PPA
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/pourcentageRéférencesRaccordement.statistic.ts
Due: eslint --fix

🎨 Modification stat projetAyantTransmisAttestationDeConformité -> nombreTotalProjetAchevé
  packages/statistiques/statistiques-publiques/src/06-par-cycle/computeNombreTotalProjetAchevé.ts
  packages/statistiques/statistiques-publiques/src/06-par-cycle/computeNombreTotalProjetAyantTransmisAttestationConformitéParCycle.ts
  packages/statistiques/statistiques-publiques/src/06-par-cycle/index.ts
Due: eslint --fix

🎨 Harmonisation de wording + computePourcentageProjetAchevé
  packages/statistiques/statistiques-publiques/src/02-avancement-des-projets/index.ts
  packages/statistiques/statistiques-publiques/src/02-avancement-des-projets/pourcentageProjetAchevé.statistic.ts
  packages/statistiques/statistiques-publiques/src/02-avancement-des-projets/pourcentageProjetAyantTransmisAttestationConformité.statistic.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/index.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/pourcentageProjetAvecDCRDéposée.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/pourcentageProjetAvecDossierRaccordementComplet.statistic.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/pourcentageRéférencesRaccordement.statistic.ts
  packages/statistiques/statistiques-publiques/src/06-par-cycle/index.ts
  packages/statistiques/statistiques-publiques/src/06-par-cycle/nombreTotalProjetAchevé.ts
  packages/statistiques/statistiques-publiques/src/06-par-cycle/pourcentageProjetEnService.statistic.ts
  packages/statistiques/statistiques-publiques/src/helpers/getCountProjetsLauréatsNonAbandonnésSaufPPA.ts
Due: eslint --fix

ajout période
  packages/domain/inmemory-referential/src/appelOffre/PPE2/eolien.ppe2.ts
Due: eslint --fix

🎨 Retours reviews (utilisation AO entity pour cycle + simplification de la récupération (count) des projets non abandonnés)
  packages/applications/cli/tsconfig.json
  packages/statistiques/statistiques-publiques/package.json
  packages/statistiques/statistiques-publiques/src/helpers/cycle.type.ts
  packages/statistiques/statistiques-publiques/src/helpers/getCountProjetsLauréatsNonAbandonnés.ts
  packages/statistiques/statistiques-publiques/src/helpers/getCountProjetsLauréatsNonAbandonnésSaufPPA.ts
  packages/statistiques/statistiques-publiques/tsconfig.json
Due: eslint --fix, prettier -w

🚚 Suppression du dossier par cycle et déplacement des stats associés dans les bon dossier (miseEnService + achèvement)
  packages/statistiques/statistiques-publiques/src/02-avancement-des-projets/index.ts
  packages/statistiques/statistiques-publiques/src/02-avancement-des-projets/nombreTotalProjetAchevé.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/index.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/pourcentageProjetEnService.statistic.ts
  packages/statistiques/statistiques-publiques/src/06-par-cycle/index.ts
  packages/statistiques/statistiques-publiques/src/index.ts
Due: eslint --fix

🎨 PourcentageProjetEnService basé sur non abandonnés avec PPA
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/pourcentageProjetEnService.statistic.ts
Due: eslint --fix

🎨 Rattrapage taches raccordement manquantes (#4516)
  packages/applications/cli/src/commands/raccordement/ajouter-taches.ts
  packages/applications/ssr/src/app/taches/TâcheListItem.tsx
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/domain/projet/src/lauréat/tâche/tâche.aggregate.ts
  packages/specifications/src/projet/lauréat/raccordement/demandeComplèteDeRaccordement/transmettreDemandeComplèteDeRaccordement.feature
Due: eslint --fix, prettier -w

Découpage de la page historique en helpers testables + spec recours avec date d'accord (#4509)
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(historique)/events/mapToRecoursAccordéTimelineItemProps.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/[date]/DétailsRecours.page.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/[date]/accorder/AccorderRecours.form.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/[date]/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/historique/_helpers/aUnRecoursAccordé.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/historique/_helpers/getHistoriqueTrié.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/historique/_helpers/itemDoitEtreAffiché.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/historique/_helpers/mapToTimelineItemProps.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/historique/_helpers/trierParJourPuisOrdreDInsertion.test.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/historique/_helpers/trierParJourPuisOrdreDInsertion.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/historique/page.tsx
  packages/domain/projet/src/éliminé/recours/recours.aggregate.ts
  packages/domain/projet/src/éliminé/recours/recours.error.ts
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
  packages/specifications/src/projet/éliminé/recours/fixtures/accorderRecours.fixture.ts
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.given.ts
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.when.ts
Due: eslint --fix, prettier -w

Note totale optionnelle à l'import des candidats (#4518)
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/ModifierLauréat.form.tsx
  packages/applications/ssr/src/utils/candidature/instruction.schema.ts
  packages/domain/projet/src/candidature/candidature.entity.ts
  packages/domain/projet/src/candidature/importer/candidatureImportée.event.ts
  packages/domain/projet/src/candidature/instruction.valueType.ts
Due: eslint --fix

🎨 Simplification nombre total projet avec dossier de racc complet (suppression jointure abandon + PPA)
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/nombreTotalProjetAvecDossierRaccordementComplet.statistic.ts
Due: eslint --fix

🎨 Mise à jour des stats publiques (#4512)
  packages/applications/cli/tsconfig.json
  packages/statistiques/statistiques-publiques/package.json
  packages/statistiques/statistiques-publiques/src/02-avancement-des-projets/index.ts
  packages/statistiques/statistiques-publiques/src/02-avancement-des-projets/nombreTotalProjetAchevé.ts
  packages/statistiques/statistiques-publiques/src/02-avancement-des-projets/nombreTotalProjetAyantTransmisAttestationConformité.statistic.ts
  packages/statistiques/statistiques-publiques/src/02-avancement-des-projets/pourcentageProjetAchevé.statistic.ts
  packages/statistiques/statistiques-publiques/src/02-avancement-des-projets/pourcentageProjetAyantTransmisAttestationConformité.statistic.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/index.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/nombreTotalPTFDéposées.statistic.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/nombreTotalProjetAvecDCRDéposée.statistic.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/nombreTotalProjetAvecDossierRaccordementComplet.statistic.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/pourcentagePTFDéposées.statistic.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/pourcentageProjetAvecDCRDéposée.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/pourcentageProjetAvecDCRQuiOntUnePTF.statistic.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/pourcentageProjetAvecDossierRaccordementComplet.statistic.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/pourcentageProjetEnService.statistic.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/pourcentageRéférencesRaccordement.statistic.ts
  packages/statistiques/statistiques-publiques/src/06-par-cycle/computeNombreTotalProjetAyantTransmisAttestationConformitéParCycle.ts
  packages/statistiques/statistiques-publiques/src/06-par-cycle/computePourcentageProjetEnServiceParCycle.statistic.ts
  packages/statistiques/statistiques-publiques/src/06-par-cycle/index.ts
  packages/statistiques/statistiques-publiques/src/_utils/getCountProjetsLauréatsNonAbandonnés.ts
  packages/statistiques/statistiques-publiques/src/_utils/index.ts
  packages/statistiques/statistiques-publiques/src/helpers/cleanCamembertStatistic.ts
  packages/statistiques/statistiques-publiques/src/helpers/cleanCartoProjetStatistic.ts
  packages/statistiques/statistiques-publiques/src/helpers/cleanScalarStatistic.ts
  packages/statistiques/statistiques-publiques/src/helpers/cleanUtilisateurStatistic.ts
  packages/statistiques/statistiques-publiques/src/helpers/cycle.type.ts
  packages/statistiques/statistiques-publiques/src/helpers/getCountProjetsLauréatsNonAbandonnés.ts
  packages/statistiques/statistiques-publiques/src/helpers/getCountProjetsLauréatsNonAbandonnésSaufPPA.ts
  packages/statistiques/statistiques-publiques/src/helpers/getQueryParams.ts
  packages/statistiques/statistiques-publiques/src/helpers/index.ts
  packages/statistiques/statistiques-publiques/src/index.ts
  packages/statistiques/statistiques-publiques/tsconfig.json
Due: eslint --fix, prettier -w

Ajout période P12 Eolien (#4519)
  packages/domain/inmemory-referential/src/appelOffre/PPE2/eolien.ppe2.ts
Due: eslint --fix

Importer coordonnées depuis DN
  packages/infrastructure/dn-api-client/src/_helpers/getters/getCoordonnées.test.ts
  packages/infrastructure/dn-api-client/src/_helpers/getters/getCoordonnées.ts
  packages/infrastructure/dn-api-client/src/_helpers/getters/index.ts
  packages/infrastructure/dn-api-client/src/_helpers/mappers/mapApiResponseToDépôt.ts
Due: eslint --fix

WIP fix tache gestionnaire réseau inconnu non attendue
  packages/applications/cli/src/commands/raccordement/ajouter-taches.ts
  packages/domain/projet/src/lauréat/abandon/abandon.aggregate.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/powerPurchaseAgreement.aggregate.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
Due: eslint --fix

✨ Appliquer règles sur puissance max par famille + volume réservé pour les modifs de puissance admin
  packages/domain/projet/src/lauréat/puissance/puissance.aggregate.ts
  packages/domain/projet/src/lauréat/puissance/valueType/ratioChangementPuissance.valueType.ts
  packages/specifications/src/projet/lauréat/puissance/modifierPuissance.feature
Due: eslint --fix, prettier -w

🗃️ Update dump avec adresse d'un vrai grd
  .database/potentiel-dev.dump
Due: none

wording
  packages/applications/cli/src/commands/raccordement/ajouter-taches.ts
  packages/domain/projet/src/lauréat/abandon/abandon.aggregate.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/powerPurchaseAgreement.aggregate.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
Due: eslint --fix

Fix tache gestionnaire réseau inconnu non attendue (#4521)
  packages/applications/cli/src/commands/raccordement/ajouter-taches.ts
  packages/domain/projet/src/lauréat/abandon/abandon.aggregate.ts
  packages/domain/projet/src/lauréat/power-purchase-agreement/powerPurchaseAgreement.aggregate.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
Due: eslint --fix

Mise à jour de l'import des coordonnées d'un projet depuis DN (#4520)
  packages/infrastructure/dn-api-client/src/_helpers/getters/getCoordonnées.test.ts
  packages/infrastructure/dn-api-client/src/_helpers/getters/getCoordonnées.ts
  packages/infrastructure/dn-api-client/src/_helpers/getters/index.ts
  packages/infrastructure/dn-api-client/src/_helpers/mappers/mapApiResponseToDépôt.ts
Due: eslint --fix

🐛 Ajout tauxPrévisionnelACC dans exempleMap (comme tauxPrévisionnelACI) pour gérer le cas de l'AO random qui est concerné par ce champ
  packages/specifications/src/candidature/candidature.exempleMap.ts
  packages/specifications/src/candidature/stepDefinitions/candidature.when.ts
Due: eslint --fix

✨ Appliquer règles sur puissance max par famille + volume réservé pour les modifs de puissance admin (#4522)
  packages/domain/projet/src/lauréat/puissance/puissance.aggregate.ts
  packages/domain/projet/src/lauréat/puissance/valueType/ratioChangementPuissance.valueType.ts
  packages/specifications/src/projet/lauréat/puissance/modifierPuissance.feature
Due: eslint --fix, prettier -w

🗃️ Update dump avec adresse d'un vrai grd (#4523)
  .database/potentiel-dev.dump
Due: none

🎨 Ajout de code postaux qui matchent avec des résultats ORE
  .demo/exempleCandidatsPPE2.csv
Due: none
