Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml,feature}": "prettier -w"
}

🗃️ Remove projection depot
  .database/potentiel-dev.dump
Due: none

🚑️ Ajout d'une permission spécifique pour exporter les dossiers de raccordement depuis la page export
  packages/applications/ssr/src/app/export/page.tsx
  packages/applications/ssr/src/components/organisms/header/UserBasedRoleNavigation.tsx
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

✨ Modifier l'attestation de conformité
  packages/applications/notifications/src/subscribers/lauréat/achèvement/achèvement.notifications.ts
  packages/applications/projectors/src/subscribers/lauréat/achèvement/attestationConformité/attestationConformitéModifiée.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/achèvement/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/(historique)/events/mapToAttestationConformitéModifiéeTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/(historique)/mapToAchèvementTimelineItemProps.tsx
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupAchèvement.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.aggregate.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.error.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.event.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.register.ts
  packages/domain/projet/src/lauréat/achèvement/enregistrer/enregistrerAttestationConformité.option.ts
  packages/domain/projet/src/lauréat/achèvement/index.ts
  packages/domain/projet/src/lauréat/achèvement/modifier/modifierAchèvement.option.ts
  packages/domain/projet/src/lauréat/achèvement/modifier/modifierAttestationConformité.command.ts
  packages/domain/projet/src/lauréat/achèvement/modifier/modifierAttestationConformité.event.ts
  packages/domain/projet/src/lauréat/achèvement/modifier/modifierAttestationConformité.option.ts
  packages/domain/projet/src/lauréat/achèvement/modifier/modifierAttestationConformité.usecase.ts
  packages/domain/projet/src/lauréat/achèvement/transmettre/transmettreAttestationConformité.option.ts
  packages/specifications/src/projet/lauréat/achèvement/achèvement.world.ts
  packages/specifications/src/projet/lauréat/achèvement/fixture/enregistrerAttestationConformité.fixture.ts
  packages/specifications/src/projet/lauréat/achèvement/fixture/modifierAchèvement.fixture.ts
  packages/specifications/src/projet/lauréat/achèvement/fixture/modifierAttestationConformité.fixture.ts
  packages/specifications/src/projet/lauréat/achèvement/fixture/transmettreAttestationConformité.fixture.ts
  packages/specifications/src/projet/lauréat/achèvement/modifierAchèvement.feature
  packages/specifications/src/projet/lauréat/achèvement/modifierAttestationConformité.feature
  packages/specifications/src/projet/lauréat/achèvement/stepDefinitions/achèvement.then.ts
  packages/specifications/src/projet/lauréat/achèvement/stepDefinitions/achèvement.when.ts
Due: eslint --fix, prettier -w

Notification
  packages/applications/notifications/src/subscribers/lauréat/achèvement/achèvement.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/achèvement/handlers/attestationConformitéModifiée.handler.ts
  packages/applications/notifications/src/templates/emails/lauréat/achèvement/modifier_attestation.md
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupAchèvement.ts
  packages/specifications/src/projet/lauréat/achèvement/modifierAttestationConformité.feature
Due: eslint --fix, prettier -w

front
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(mainlevée)/demander/DemanderMainlevée.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(mainlevée)/demander/demanderMainlevée.action.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

rename utilities
  packages/applications/ssr/src/app/garanties-financieres/demandes-mainlevee-en-cours/ListItemDemandeMainlevée.tsx
  packages/applications/ssr/src/app/garanties-financieres/demandes-mainlevee-en-cours/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(historique)/events/mainlevée/mapToMainlevéeGarantiesFinancièresDemandéeTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(mainlevée)/StatutMainlevéeBadge.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(mainlevée)/_helpers/getMotifMainlevéeLabel.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(mainlevée)/_helpers/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(mainlevée)/_helpers/motifMainlevéeLabels.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(mainlevée)/_helpers/statutMainlevéeLabels.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(mainlevée)/demander/DemanderMainlevée.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(mainlevée)/passerEnInstruction/PasserDemandeMainlevéeEnInstruction.form.tsx
  packages/applications/ssr/src/components/atoms/form/document/index.ts
Due: eslint --fix

réorganisation des composants et ajout de pages formulaire
  packages/applications/routes/src/lauréat/achèvement.routes.ts
  packages/applications/routes/src/lauréat/garantiesFinancières.routes.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/Achèvement.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/GarantiesFinancièresDétails.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/getMainlevéeGarantiesFinancières.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/AttestationConformité.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/AttestationConformité.inputs.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:enregistrer/EnregistrerAttestationConformité.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:enregistrer/EnregistrerAttestationConformité.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:enregistrer/enregistrerAttestationConformité.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:enregistrer/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:modifier/ModifierAttestationConformité.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:modifier/ModifierAttestationConformité.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:modifier/modifierAttestationConformité.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:transmettre/TransmettreAttestationConformité.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:transmettre/TransmettreAttestationConformité.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:transmettre/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:transmettre/transmettreAttestationConformité.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/modifier/ModifierAchèvement.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/modifier/ModifierAchèvement.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(actuelles)/GarantiesFinancièresActuellesActions.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(mainlevée)/InfoBoxMainlevée.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(mainlevée)/demander/DemanderMainlevée.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/DétailsGarantiesFinancières.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/mainlevee/demander/DemanderMainlevée.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/mainlevee/demander/DemanderMainlevée.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/mainlevee/demander/InfoBoxMainlevée.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/mainlevee/demander/demanderMainlevée.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/mainlevee/demander/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/page.tsx
Due: eslint --fix

remove moved files
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(mainlevée)/demander/DemanderMainlevée.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(mainlevée)/demander/demanderMainlevée.action.ts
Due: eslint --fix

checklist mainlevée
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/mainlevee/demander/ChecklistMainlevée.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/mainlevee/demander/DemanderMainlevée.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/mainlevee/demander/DemanderMainlevée.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/mainlevee/demander/page.tsx
Due: eslint --fix

rename key
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/(historique)/events/mapToAttestationConformitéModifiéeTimelineItemProps.tsx
  packages/domain/projet/src/lauréat/achèvement/modifier/modifierAttestationConformité.usecase.ts
  packages/specifications/src/projet/lauréat/achèvement/fixture/modifierAttestationConformité.fixture.ts
Due: eslint --fix

🚑️ Ajout d'une permission spécifique pour exporter les dossiers de raccordement (#4169)
  packages/applications/ssr/src/app/export/page.tsx
  packages/applications/ssr/src/components/organisms/header/UserBasedRoleNavigation.tsx
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🔨 Ajout d'un script pour insérer les tâches de raccordement référence non transmise manquantes
  packages/applications/cli/src/commands/raccordement/ajouter-tache-transmettre-reference.ts
Due: eslint --fix

🔧 Ajouter les types de node au tsconfig de base
  packages/config/tsconfig/tsconfig.base.json
Due: eslint --fix, prettier -w

➕ Ajout d'un @types/node à la racine + suppression des doublons dans les sub-packages
  package-lock.json
  package.json
  packages/applications/cli/package.json
  packages/applications/ssr/package.json
  packages/infrastructure/email/package.json
Due: eslint --fix, prettier -w

path
  packages/applications/routes/src/lauréat/achèvement.routes.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getLauréatMenuItems.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite/enregistrer/EnregistrerAttestationConformité.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite/enregistrer/EnregistrerAttestationConformité.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite/enregistrer/enregistrerAttestationConformité.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite/enregistrer/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite/modifier/ModifierAttestationConformité.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite/modifier/ModifierAttestationConformité.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite/modifier/modifierAttestationConformité.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite/modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite/transmettre/TransmettreAttestationConformité.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite/transmettre/TransmettreAttestationConformité.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite/transmettre/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite/transmettre/transmettreAttestationConformité.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/date-achevement/transmettre/TransmettreDateAchèvement.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/date-achevement/transmettre/TransmettreDateAchèvement.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/date-achevement/transmettre/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/date-achevement/transmettre/transmettreDateAchèvement.action.ts
Due: eslint --fix

misc
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite/enregistrer/EnregistrerAttestationConformité.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite/modifier/page.tsx
  packages/specifications/src/projet/lauréat/achèvement/modifierAttestationConformité.feature
Due: eslint --fix, prettier -w

➖ Appliquer nodemailer + @types/nodemailer uniquement dans le package email + transformation en UInt8Array dans le script de publication datagouv (nécessaire suite à @types/node global)
  package-lock.json
  packages/applications/cli/src/commands/stats/publier-datagouv.ts
  packages/applications/ssr/package.json
  packages/infrastructure/email/package.json
Due: eslint --fix, prettier -w

🎨 Déplacer @types/node dans le packag tsconfig + revert changement version sur le package nodemailer
  package-lock.json
  package.json
  packages/config/tsconfig/package.json
  packages/infrastructure/email/package.json
Due: eslint --fix, prettier -w

fix modifier dcr document
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(demande-complète-raccordement)/demande-complete-raccordement:modifier/modifierDemandeComplèteRaccordement.action.ts
Due: eslint --fix

🔥 Fix modifier dcr document (#4171)
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(demande-complète-raccordement)/demande-complete-raccordement:modifier/modifierDemandeComplèteRaccordement.action.ts
Due: eslint --fix

retourner à la checklist
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/mainlevee/demander/ChecklistMainlevée.tsx
  packages/applications/ssr/src/components/atoms/form/Form.tsx
  packages/applications/ssr/src/components/atoms/form/FormFeedback.tsx
  packages/applications/ssr/src/utils/formAction.ts
Due: eslint --fix

📌 @types/node to 20.17.30
  package-lock.json
  packages/config/tsconfig/package.json
Due: eslint --fix, prettier -w

rename
  packages/applications/ssr/src/app/candidatures/importer/(demarche-simplifiée)/importerCandidaturesParDS.action.ts
Due: eslint --fix

fix test
  packages/specifications/src/projet/lauréat/achèvement/modifierAttestationConformité.feature
Due: prettier -w

🔧 Ajouter les types de node au tsconfig de base (#4166)
  package-lock.json
  packages/applications/cli/package.json
  packages/applications/cli/src/commands/stats/publier-datagouv.ts
  packages/applications/ssr/package.json
  packages/config/tsconfig/package.json
  packages/config/tsconfig/tsconfig.base.json
Due: eslint --fix, prettier -w

WIP
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/getAction.ts
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni2017.cre4.ts
  packages/domain/projet/src/candidature/candidature.aggregate.ts
  packages/domain/projet/src/candidature/candidature.error.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
  packages/specifications/src/candidature/importerCandidature.feature
Due: eslint --fix, prettier -w

affichage installation et fix nature de lexploitation form
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/(sections)/DispositifDeStockage.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/(sections)/Installateur.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/(sections)/NatureDeLExploitation.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/(sections)/TypologieInstallation.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/nature-de-l-exploitation/changement/enregistrer/EnregistrerChangementNatureDeLExploitation.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/nature-de-l-exploitation/changement/enregistrer/EnregistrerChangementNatureDeLExploitation.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/nature-de-l-exploitation/changement/enregistrer/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/nature-de-l-exploitation/modifier/ModifierNatureDeLExploitation.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/nature-de-l-exploitation/modifier/page.tsx
  packages/domain/inmemory-referential/src/appelOffre/PPE2/eolien.ppe2.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/natureDeLExploitation.aggregate.ts
Due: eslint --fix

fix: dispositif de stockage form
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/(sections)/DispositifDeStockage.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/(sections)/Installateur.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/(sections)/TypologieInstallation.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/dispositif-de-stockage/changement/enregistrer/EnregistrerChangementDispositifDeStockage.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/dispositif-de-stockage/changement/enregistrer/EnregistrerChangementDispositifDeStockage.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/dispositif-de-stockage/changement/enregistrer/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/dispositif-de-stockage/modifier/ModifierDispositifDeStockage.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/dispositif-de-stockage/modifier/ModifierDispositifDeStockage.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/dispositif-de-stockage/modifier/page.tsx
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
Due: eslint --fix

mise à jour des projecteurs
  packages/applications/projectors/src/subscribers/lauréat/installation/dispositif-de-stockage/changementDispositifDeStockageEnregistré.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/installation/dispositif-de-stockage/dispositifDeStockageModifié.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/installation/installateur/changementInstallateurEnregistré.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/installation/installateur/installateurModifié.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/installation/typologie-de-installation/typologieInstallationModifiée.projector.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/eolien.ppe2.ts
  packages/domain/projet/src/lauréat/installation/installation.entity.ts
Due: eslint --fix

fix: projector
  packages/applications/projectors/src/subscribers/lauréat/installation/dispositif-de-stockage/dispositifDeStockageModifié.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/installation/installateur/installateurModifié.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/installation/typologie-de-installation/typologieInstallationModifiée.projector.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.test.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/eolien.ppe2.ts
Due: eslint --fix

avancer et corriger les tests
  packages/applications/document-builder/src/candidature/attestation/attestation.saga.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.test.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsvFields.schema.ts
  packages/applications/ssr/src/utils/candidature/schemaBase.ts
  packages/domain/projet/src/candidature/candidature.aggregate.ts
  packages/domain/projet/src/candidature/candidature.error.ts
  packages/domain/projet/src/lauréat/installation/consulter/consulterInstallation.query.ts
  packages/domain/projet/src/lauréat/installation/installateur/consulter/consulterInstallateur.query.ts
  packages/domain/projet/src/lauréat/installation/installation.aggregate.ts
  packages/domain/projet/src/lauréat/installation/typologie-installation/consulter/consulterTypologieInstallation.query.ts
  packages/domain/projet/src/lauréat/puissance/puissance.aggregate.ts
  packages/infrastructure/ds-api-client/src/_helpers/mappers/mapApiResponseToDétails.ts
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/candidature/importerCandidature.feature
  packages/specifications/src/projet/lauréat/installation/modifierDispositifDeStockage.feature
  packages/specifications/src/projet/lauréat/installation/modifierInstallateur.feature
  packages/specifications/src/projet/lauréat/puissance/changement/demanderChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/enregistrerChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/modifierPuissance.feature
Due: eslint --fix, prettier -w

installateur
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/dispositif-de-stockage/modifier/ModifierDispositifDeStockage.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/installateur/changement/enregistrer/EnregistrerChangementInstallateur.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/installateur/changement/enregistrer/EnregistrerChangementInstallateur.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/installateur/changement/enregistrer/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/installateur/modifier/ModifierInstallateur.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/installateur/modifier/ModifierInstallateur.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/installateur/modifier/page.tsx
  packages/domain/projet/src/lauréat/installation/installation.aggregate.ts
Due: eslint --fix

fix: tests candidature
  packages/domain/projet/src/candidature/candidature.aggregate.ts
  packages/domain/projet/src/lauréat/installation/dispositif-de-stockage/dispositifDeStockage.valueType.ts
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/candidature/fixtures/importerCandidature.fixture.ts
  packages/specifications/src/candidature/importerCandidature.feature
Due: eslint --fix, prettier -w

trop vite en besogne
  packages/specifications/src/candidature/candidature.exempleMap.ts
  packages/specifications/src/candidature/importerCandidature.feature
Due: eslint --fix, prettier -w

select
  packages/specifications/src/candidature/importerCandidature.feature
Due: prettier -w

fix installateur
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/(sections)/Installateur.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/getLauréat.ts
Due: eslint --fix

fix: ssr tests
  packages/applications/ssr/src/utils/candidature/csv/récupérerColonnesRequises.test.ts
  packages/specifications/src/candidature/candidature.exempleMap.ts
Due: eslint --fix

pret
  packages/domain/projet/src/candidature/candidature.aggregate.ts
  packages/specifications/src/candidature/importerCandidature.feature
Due: eslint --fix, prettier -w

clean
  packages/domain/inmemory-referential/src/appelOffre/PPE2/eolien.ppe2.ts
Due: eslint --fix
