Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml,feature}": "prettier -w"
}

🚧 Projector
  packages/applications/notifications/src/subscribers/lauréat/installation/installation.notifications.ts
  packages/applications/projectors/src/subscribers/lauréat/installation/changementInstallateurEnregistré.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/installation/index.ts
  packages/domain/projet/src/cahierDesCharges.valueType.ts
  packages/domain/projet/src/lauréat/installation/index.ts
Due: eslint --fix

✅ Enregistrer changement
  packages/specifications/src/projet/lauréat/installation/enregistrerChangementInstallateur.feature
  packages/specifications/src/projet/lauréat/installation/fixture/enregistrerChangementInstallateur.fixture.ts
  packages/specifications/src/projet/lauréat/installation/installation.world.ts
  packages/specifications/src/projet/lauréat/installation/stepDefinitions/installation.then.ts
  packages/specifications/src/projet/lauréat/installation/stepDefinitions/installation.when.ts
Due: eslint --fix, prettier -w

✨ Notifications
  packages/applications/notifications/src/subscribers/lauréat/installation/changementInstallateurEnregistré.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/installation/constant.ts
  packages/applications/notifications/src/subscribers/lauréat/installation/installation.notifications.ts
  packages/applications/routes/src/lauréat/installation.routes.ts
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupInstallation.ts
  packages/specifications/src/projet/lauréat/installation/enregistrerChangementInstallateur.feature
Due: eslint --fix, prettier -w

🛂 Permissions
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

✅ Cas limite
  packages/specifications/src/projet/lauréat/installation/enregistrerChangementInstallateur.feature
  packages/specifications/src/projet/lauréat/installation/stepDefinitions/installation.when.ts
Due: eslint --fix, prettier -w

✨ Front : historique
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/(historique)/events/mapToChangementInstallateurEnregistréTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/(historique)/mapToInstallationTimelineItemProps.tsx
Due: eslint --fix

🚧 Front
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/installateur/changement/[date]/DétailsChangementInstallateur.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/installateur/changement/[date]/DétailsChangementInstallateur.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/installateur/changement/[date]/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/installateur/changement/enregistrer/EnregistrerChangementInstallateur.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/installateur/changement/enregistrer/EnregistrerChangementInstallateur.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/installateur/changement/enregistrer/enregistrerChangementInstallateur.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/installateur/changement/enregistrer/page.tsx
  packages/domain/projet/src/lauréat/installation/index.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

✨ Front page projet
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getInstallation.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/index.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectActions.tsx
Due: eslint --fix

✨ Front : lister changements installateur
  packages/applications/routes/src/lauréat/installation.routes.ts
  packages/applications/ssr/src/app/laureats/changements/installateur/ChangementInstallateurList.page.tsx
  packages/applications/ssr/src/app/laureats/changements/installateur/ChangementInstallateurListItem.tsx
  packages/applications/ssr/src/app/laureats/changements/installateur/page.tsx
  packages/applications/ssr/src/components/organisms/header/UserBasedRoleNavigation.tsx
Due: eslint --fix

♻️ Notification
  packages/applications/notifications/src/subscribers/lauréat/installation/handlers/changementInstallateurEnregistré.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/installation/handlers/index.ts
  packages/applications/notifications/src/subscribers/lauréat/installation/installation.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/installation/type.ts
Due: eslint --fix

✨ Raison et justificatif obligatoires
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/installateur/changement/enregistrer/enregistrerChangementInstallateur.action.ts
  packages/domain/projet/src/lauréat/installation/installateur/changement/enregistrerChangement/enregistrerChangementInstallateur.command.ts
  packages/domain/projet/src/lauréat/installation/installateur/changement/enregistrerChangement/enregistrerChangementInstallateur.event.ts
  packages/domain/projet/src/lauréat/installation/installateur/changement/enregistrerChangement/enregistrerChangementInstallateur.option.ts
  packages/domain/projet/src/lauréat/installation/installateur/changement/enregistrerChangement/enregistrerChangementInstallateur.usecase.ts
  packages/specifications/src/projet/lauréat/installation/fixture/enregistrerChangementInstallateur.fixture.ts
  packages/specifications/src/projet/lauréat/installation/installation.world.ts
  packages/specifications/src/projet/lauréat/installation/stepDefinitions/installation.when.ts
Due: eslint --fix

✨ Historique installateur
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/installateur/changement/[date]/(historique)/events/mapToInstallateurImportéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/installateur/changement/[date]/(historique)/mapToInstallateurTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/installateur/changement/[date]/page.tsx
Due: eslint --fix

🎨 Fix entity
  packages/applications/projectors/src/subscribers/lauréat/installation/changementInstallateurEnregistré.projector.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/installateur/changement/[date]/(historique)/events/mapToInstallateurImportéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/installateur/changement/[date]/DétailsChangementInstallateur.tsx
  packages/applications/ssr/src/app/laureats/changements/installateur/ChangementInstallateurListItem.tsx
  packages/applications/ssr/src/app/laureats/changements/installateur/page.tsx
  packages/domain/projet/src/lauréat/installation/installateur/changement/changementInstallateur.entity.ts
  packages/domain/projet/src/lauréat/installation/installateur/changement/consulter/consulterChangementInstallateur.query.ts
  packages/domain/projet/src/lauréat/installation/installateur/changement/lister/listerChangementInstallateur.query.ts
  packages/specifications/src/projet/lauréat/installation/installation.world.ts
  packages/specifications/src/projet/lauréat/installation/stepDefinitions/installation.then.ts
Due: eslint --fix

✨ Lister depuis menu legacy
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/AcheteurObligéMenuLegacy.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/AdminMenuLegacy.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/CreMenuLegacy.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/DrealMenuLegacy.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/PorteurMenuLegacy.tsx
Due: eslint --fix

🎨 Review
  packages/domain/projet/src/lauréat/installation/installateur/changement/enregistrerChangement/enregistrerChangementInstallateur.option.ts
  packages/domain/projet/src/lauréat/installation/installation.aggregate.ts
Due: eslint --fix

🎨 Rendre champs requis
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/installateur/changement/enregistrer/EnregistrerChangementInstallateur.form.tsx
Due: eslint --fix

➖ Remove package document
  package-lock.json
  packages/applications/bootstrap/package.json
  packages/applications/ssr/package.json
  packages/domain/projet/package.json
  packages/domain/projet/src/lauréat/installation/installateur/changement/consulter/consulterChangementInstallateur.query.ts
  packages/domain/projet/src/lauréat/installation/installateur/changement/enregistrerChangement/enregistrerChangementInstallateur.command.ts
  packages/domain/projet/src/lauréat/installation/installateur/changement/enregistrerChangement/enregistrerChangementInstallateur.option.ts
  packages/domain/projet/src/lauréat/installation/installateur/changement/enregistrerChangement/enregistrerChangementInstallateur.usecase.ts
  packages/domain/réseau/package.json
  packages/infrastructure/domain-adapters/package.json
  packages/specifications/src/projet/lauréat/installation/installation.world.ts
Due: eslint --fix, prettier -w

🎨 Ajout fichiers pour page server error
  packages/applications/app-maintenance/error.html
  packages/applications/app-maintenance/marianne.png
  packages/applications/app-maintenance/style.css
Due: none

🎨 Url non visible
  packages/applications/app-maintenance/error.html
  packages/applications/app-maintenance/marianne.png
  packages/applications/app-maintenance/style.css
Due: none

🎨 Ajout d'un readme + nofollow / noindex meta
  packages/applications/app-maintenance/README.md
  packages/applications/app-maintenance/error.html
Due: eslint --fix

🎨 Utilisation du helper listerPorteursRecipients
  packages/applications/notifications/src/subscribers/candidature/handlers/candidatureCorrigée.handler.ts
Due: eslint --fix

🎨 Ajout front et usecase
  packages/applications/ssr/src/app/laureats/[identifiant]/nature-de-l-exploitation/(historique)/events/mapToChangementEnregistré.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/nature-de-l-exploitation/changement/enregistrer/EnregistrerChangementNatureDeLExploitation.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/nature-de-l-exploitation/changement/enregistrer/enregistrerChangementNatureDeLExploitation.action.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/changement/changementNatureDeLExploitation.entity.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/changement/consulter/consulterChangementNatureDeLExploitation.query.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/changement/enregistrerChangement/enregistrerChangementNatureDeLExploitation.command.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/changement/enregistrerChangement/enregistrerChangementNatureDeLExploitation.event.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/changement/enregistrerChangement/enregistrerChangementNatureDeLExploitation.option.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/changement/enregistrerChangement/enregistrerChangementNatureDeLExploitation.usecase.ts
Due: eslint --fix

🎨 Test
  packages/specifications/src/projet/lauréat/nature-de-l-exploitation/fixture/enregistrerChangement.fixture.ts
  packages/specifications/src/projet/lauréat/nature-de-l-exploitation/stepDefinitions/natureDeLExploitation.when.ts
Due: eslint --fix

🐛 Changement de nature de l'exploitation : document et raison obligatoires (#3677)
  packages/applications/ssr/src/app/laureats/[identifiant]/nature-de-l-exploitation/(historique)/events/mapToChangementEnregistré.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/nature-de-l-exploitation/changement/enregistrer/EnregistrerChangementNatureDeLExploitation.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/nature-de-l-exploitation/changement/enregistrer/enregistrerChangementNatureDeLExploitation.action.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/changement/changementNatureDeLExploitation.entity.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/changement/consulter/consulterChangementNatureDeLExploitation.query.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/changement/enregistrerChangement/enregistrerChangementNatureDeLExploitation.command.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/changement/enregistrerChangement/enregistrerChangementNatureDeLExploitation.event.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/changement/enregistrerChangement/enregistrerChangementNatureDeLExploitation.option.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/changement/enregistrerChangement/enregistrerChangementNatureDeLExploitation.usecase.ts
  packages/specifications/src/projet/lauréat/nature-de-l-exploitation/fixture/enregistrerChangement.fixture.ts
  packages/specifications/src/projet/lauréat/nature-de-l-exploitation/stepDefinitions/natureDeLExploitation.when.ts
Due: eslint --fix

✨ Mise à jour des accès lors de la modification de l'email de candidature
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/ModifierLauréat.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/modifierLauréat.action.ts
Due: eslint --fix

🎨 Notifier les porteurs actifs ayant accès au projet en cas de correction de candidature (#3675)
  packages/applications/notifications/src/subscribers/candidature/handlers/candidatureCorrigée.handler.ts
Due: eslint --fix

✨ Remplacer accès projet
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/modifierLauréat.action.ts
  packages/domain/projet/src/accès/accès.aggregate.ts
  packages/domain/projet/src/accès/accès.register.ts
  packages/domain/projet/src/accès/index.ts
  packages/domain/projet/src/accès/remplacer/remplacerAccèsProjet.command.ts
  packages/domain/projet/src/accès/remplacer/remplacerAccèsProjet.options.ts
  packages/domain/projet/src/accès/remplacer/remplacerAccèsProjet.usecase.ts
  packages/specifications/src/accès/accès.world.ts
  packages/specifications/src/accès/fixtures/remplacer/remplacerAccèsProjet.fixture.ts
  packages/specifications/src/accès/remplacerAccèsProjet.feature
  packages/specifications/src/accès/stepDefinitions/accès.then.ts
  packages/specifications/src/accès/stepDefinitions/accès.when.ts
  packages/specifications/src/utilisateur/fixtures/inviter/inviterPorteur.fixture.ts
  packages/specifications/src/utilisateur/inviterPorteur.feature
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.when.ts
  packages/specifications/src/utilisateur/utilisateur.world.ts
Due: eslint --fix, prettier -w

🎨 Détails review vio
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getInstallation.ts
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/AcheteurObligéMenuLegacy.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/AdminMenuLegacy.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/CreMenuLegacy.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/DrealMenuLegacy.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/PorteurMenuLegacy.tsx
  packages/applications/notifications/src/subscribers/lauréat/installation/handlers/changementInstallateurEnregistré.handler.ts
  packages/applications/routes/src/lauréat/installation.routes.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/installateur/changement/enregistrer/enregistrerChangementInstallateur.action.ts
  packages/applications/ssr/src/app/laureats/changements/installateur/ChangementInstallateurListItem.tsx
  packages/applications/ssr/src/components/organisms/header/UserBasedRoleNavigation.tsx
Due: eslint --fix

♻️ Move to aggregate + saga Utilisateur
  packages/applications/bootstrap/src/setupUtilisateur.ts
  packages/applications/projectors/src/subscribers/accès/accèsProjetRemplacé.projector.ts
  packages/applications/projectors/src/subscribers/accès/index.ts
  packages/applications/ssr/src/app/reclamer/réclamerProjet.action.ts
  packages/applications/subscribers/src/setup/setupProjet/setupAccès.ts
  packages/domain/projet/src/accès/accès.aggregate.ts
  packages/domain/projet/src/accès/accès.event.ts
  packages/domain/projet/src/accès/index.ts
  packages/domain/projet/src/accès/remplacer/remplacerAccèsProjet.event.ts
  packages/domain/utilisateur/src/créer/créerPorteur.usecase.ts
  packages/domain/utilisateur/src/index.ts
  packages/domain/utilisateur/src/register.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/domain/utilisateur/src/saga/handlers/accèsProjetAutorisé.handler.ts
  packages/domain/utilisateur/src/saga/handlers/accèsProjetRemplacé.handler.ts
  packages/domain/utilisateur/src/saga/utilisateur.saga.ts
  packages/specifications/src/accès/remplacerAccèsProjet.feature
  packages/specifications/src/accès/stepDefinitions/accès.then.ts
  packages/specifications/src/accès/stepDefinitions/accès.when.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.given.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.then.ts
Due: eslint --fix, prettier -w

pick d3ef56a1a # ♻️ Simplification conditions redondantes CDC sur la page projet (#3611)
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/DétailsChangementReprésentantLégal.tsx
  packages/applications/ssr/src/components/atoms/demande/DisplayAuteur.tsx
  packages/applications/ssr/src/components/organisms/demande/DemandeAccordée.tsx
  packages/applications/ssr/src/components/organisms/demande/DemandeRejetée.tsx
  packages/applications/ssr/src/components/organisms/demande/DétailsChangement.tsx
Due: eslint --fix

🐛 Fix
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/(historique)/events/mapToChangementReprésentantLégalAccordéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/(historique)/events/mapToChangementReprésentantLégalCorrigéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/(historique)/events/mapToChangementReprésentantLégalDemandéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/(historique)/events/mapToChangementReprésentantLégalEnregistréTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/(historique)/events/mapToReprésentantLégalModifiéTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/_helpers/TypeReprésentantLégalSelect.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/_helpers/getTypeReprésentantLégalLabel.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/_helpers/steps/Validation.step.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/DétailsChangementReprésentantLégal.tsx
Due: eslint --fix

🐛 Affichage du label pour le type représentant légal (#3681)
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/(historique)/events/mapToChangementReprésentantLégalAccordéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/(historique)/events/mapToChangementReprésentantLégalCorrigéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/(historique)/events/mapToChangementReprésentantLégalDemandéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/(historique)/events/mapToChangementReprésentantLégalEnregistréTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/(historique)/events/mapToReprésentantLégalModifiéTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/_helpers/TypeReprésentantLégalSelect.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/_helpers/getTypeReprésentantLégalLabel.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/_helpers/steps/Validation.step.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/DétailsChangementReprésentantLégal.tsx
Due: eslint --fix

🎨 Ne pas afficher l'email système dans le détail des demandes (#3680)
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/DétailsChangementReprésentantLégal.tsx
  packages/applications/ssr/src/components/atoms/demande/DisplayAuteur.tsx
  packages/applications/ssr/src/components/organisms/demande/DemandeAccordée.tsx
  packages/applications/ssr/src/components/organisms/demande/DemandeRejetée.tsx
  packages/applications/ssr/src/components/organisms/demande/DétailsChangement.tsx
Due: eslint --fix

🏷️ Correction du type de Subscribe
  packages/applications/subscribers/src/setup/createSubscriptionSetup.ts
  packages/domain/projet/src/lauréat/garanties-financières/saga/garantiesFinancières.saga.ts
  packages/domain/projet/src/lauréat/raccordement/saga/raccordement.saga.ts
  packages/domain/projet/src/lauréat/représentantLégal/saga/représentantLégal.saga.ts
  packages/infrastructure/pg-event-sourcing/src/load/loadAggregate.ts
  packages/infrastructure/pg-event-sourcing/src/load/loadFromStream.ts
  packages/infrastructure/pg-event-sourcing/src/subscribe/acknowledgement/getEventsWithPendingAcknowledgement.ts
  packages/infrastructure/pg-event-sourcing/src/subscribe/acknowledgement/retryPendingAcknowledgement.ts
  packages/infrastructure/pg-event-sourcing/src/subscribe/eventStreamEmitter.ts
  packages/infrastructure/pg-event-sourcing/src/subscribe/rebuild/rebuild.ts
  packages/infrastructure/pg-event-sourcing/src/subscribe/subscribe.ts
  packages/infrastructure/pg-event-sourcing/src/subscribe/subscriber/subscriber.ts
Due: eslint --fix

✅ Fix test (différent dreal name on specific scenarios)
  packages/specifications/src/projet/lauréat/achèvement/transmettreAttestationConformité.feature
  packages/specifications/src/projet/lauréat/producteur/modifierProducteur.feature
  packages/specifications/src/projet/lauréat/puissance/changement/enregistrerChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/modifierPuissance.feature
Due: prettier -w

✅ Fix test (différent dreal name on specific scenarios) (#3683)
  packages/specifications/src/projet/lauréat/achèvement/transmettreAttestationConformité.feature
  packages/specifications/src/projet/lauréat/producteur/modifierProducteur.feature
  packages/specifications/src/projet/lauréat/puissance/changement/enregistrerChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/modifierPuissance.feature
Due: prettier -w

🎨 Ajout fichiers pour page server error (#3676)
  packages/applications/app-maintenance/README.md
  packages/applications/app-maintenance/error.html
Due: eslint --fix

🐛 Lister périodes
  packages/applications/ssr/src/app/periodes/page.tsx
  packages/domain/période/src/lister/listerPériodes.query.ts
Due: eslint --fix
