Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml,feature}": "prettier -w"
}

🎨 Ajout d'une notification dreal suite à une instruction automatique d'une demande de changement de représentant légal
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/handleChangementReprésentantLégalAccordé.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/handleChangementReprésentantLégalRejeté.ts
  packages/domain/lauréat/src/représentantLégal/changement/accorder/accorderChangementReprésentantLégal.behavior.ts
  packages/domain/lauréat/src/représentantLégal/changement/accorder/accorderChangementReprésentantLégal.command.ts
  packages/domain/lauréat/src/représentantLégal/changement/accorder/accorderChangementReprésentantLégal.usecase.ts
  packages/domain/lauréat/src/représentantLégal/changement/rejeter/rejeterChangementReprésentantLégal.behavior.ts
  packages/domain/lauréat/src/représentantLégal/changement/rejeter/rejeterChangementReprésentantLégal.command.ts
  packages/domain/lauréat/src/représentantLégal/changement/rejeter/rejeterChangementReprésentantLégal.usecase.ts
Due: eslint --fix

🐛 Fix build
  packages/applications/ssr/src/components/pages/représentant-légal/changement/détails/accorder/accorderChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/components/pages/représentant-légal/changement/détails/rejeter/rejeterChangementReprésentantLégal.action.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changemementReprésentantLégal.when.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.given.ts
Due: eslint --fix

💄 More fix
  packages/applications/ssr/src/components/molecules/home/Bienvenue.tsx
  packages/applications/ssr/src/components/molecules/home/InscriptionConnexion.tsx
Due: eslint --fix

✅ Accord/Rejet automatique de la demande de changement de représentant légal d'un projet lauréat
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/handleChangementReprésentantLégalAccordé.ts
  packages/domain/lauréat/src/représentantLégal/index.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/accorderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/rejeterChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changemementReprésentantLégal.when.ts
Due: eslint --fix, prettier -w

♻️ Utilisation des steps existant
  packages/specifications/src/projet/lauréat/représentant-légal/changement/accorderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/rejeterChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changemementReprésentantLégal.when.ts
Due: eslint --fix, prettier -w

🐛 Correction de l'upload optionnel (#2574)
  packages/applications/ssr/src/utils/zod/blob/acceptOnlyFileTypes.ts
Due: eslint --fix

💄 Correction page d'accueil sur mobile (#2572)
  packages/applications/ssr/src/components/molecules/home/Bienvenue.tsx
  packages/applications/ssr/src/components/molecules/home/InscriptionConnexion.tsx
Due: eslint --fix

🎨 Notifier la dreal suite à une instruction automatique de changement de représentant légal (#2570)
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/handleChangementReprésentantLégalAccordé.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/handleChangementReprésentantLégalRejeté.ts
  packages/applications/ssr/src/components/pages/représentant-légal/changement/détails/accorder/accorderChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/components/pages/représentant-légal/changement/détails/rejeter/rejeterChangementReprésentantLégal.action.ts
  packages/domain/lauréat/src/représentantLégal/changement/accorder/accorderChangementReprésentantLégal.behavior.ts
  packages/domain/lauréat/src/représentantLégal/changement/accorder/accorderChangementReprésentantLégal.command.ts
  packages/domain/lauréat/src/représentantLégal/changement/accorder/accorderChangementReprésentantLégal.usecase.ts
  packages/domain/lauréat/src/représentantLégal/changement/rejeter/rejeterChangementReprésentantLégal.behavior.ts
  packages/domain/lauréat/src/représentantLégal/changement/rejeter/rejeterChangementReprésentantLégal.command.ts
  packages/domain/lauréat/src/représentantLégal/changement/rejeter/rejeterChangementReprésentantLégal.usecase.ts
  packages/domain/lauréat/src/représentantLégal/index.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/accorderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/rejeterChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changemementReprésentantLégal.when.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.given.ts
Due: eslint --fix, prettier -w

🚧 WIP
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole2016.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI2017.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/batiment.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/eolien.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/fessenheim.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/innovation.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/pvEolien.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/sol.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni2017.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.autoconsommationMetropole.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.batiment.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.eolien.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.innovation.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.neutre.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.sol.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.zni.ts
  packages/domain/lauréat/src/garantiesFinancières/typeTâchePlanifiéeGarantiesFinancières.valueType.ts
  packages/domain/lauréat/src/représentantLégal/changement/demander/demanderChangementReprésentantLégal.usecase.ts
  packages/domain/lauréat/src/représentantLégal/changement/typeTâchePlanifiéeChangementReprésentantLégal.valueType.ts
  packages/domain/lauréat/src/représentantLégal/index.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/demanderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changemementReprésentantLégal.when.ts
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.given.ts
  packages/specifications/src/tâche-planifiée/stepDefinitions/tâchePlanifiée.then.ts
  packages/specifications/src/tâche-planifiée/tâchePlanifiée.world.ts
Due: eslint --fix, prettier -w

✨ Ajout d'une tâche planifiée pour accorder ou rejeter de manière tacite la demande de changement au bout de 3 mois sans instruction
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole2016.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI2017.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/batiment.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/eolien.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/fessenheim.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/innovation.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/pvEolien.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/sol.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni2017.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.autoconsommationMetropole.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.batiment.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.eolien.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.innovation.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.neutre.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.sol.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.zni.ts
  packages/domain/lauréat/src/représentantLégal/changement/demander/demanderChangementReprésentantLégal.usecase.ts
  packages/domain/lauréat/src/représentantLégal/changement/typeTâchePlanifiéeChangementReprésentantLégal.valueType.ts
  packages/domain/lauréat/src/représentantLégal/index.ts
  packages/domain/lauréat/src/représentantLégal/représentantLégal.saga.ts
  packages/domain/lauréat/src/représentantLégal/saga/handleLauréatNotifié.ts
  packages/domain/lauréat/src/représentantLégal/saga/handleTâchePlanifiéeExecutée.ts
  packages/domain/lauréat/src/représentantLégal/saga/index.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/demanderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/importerReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/modifierReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.given.ts
  packages/specifications/src/tâche-planifiée/stepDefinitions/tâchePlanifiée.then.ts
  packages/specifications/src/tâche-planifiée/tâchePlanifiée.world.ts
Due: eslint --fix, prettier -w

🎨 Retours reviews
  packages/domain/lauréat/src/garantiesFinancières/typeTâchePlanifiéeGarantiesFinancières.valueType.ts
  packages/domain/lauréat/src/représentantLégal/changement/demander/demanderChangementReprésentantLégal.usecase.ts
  packages/domain/lauréat/src/représentantLégal/changement/typeTâchePlanifiéeChangementReprésentantLégal.valueType.ts
  packages/specifications/src/tâche-planifiée/stepDefinitions/tâchePlanifiée.then.ts
  packages/specifications/src/tâche-planifiée/tâchePlanifiée.world.ts
Due: eslint --fix

🎨 Remove @select
  packages/specifications/src/projet/lauréat/représentant-légal/changement/demanderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/importerReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/modifierReprésentantLégal.feature
Due: prettier -w

✨ Link usecases in saga
  packages/domain/lauréat/src/représentantLégal/saga/handleTâchePlanifiéeExecutée.ts
Due: eslint --fix

🎨 Improve wording for better coherence
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole2016.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI2017.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/batiment.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/eolien.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/fessenheim.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/innovation.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/pvEolien.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/sol.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni2017.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.autoconsommationMetropole.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.batiment.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.eolien.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.innovation.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.neutre.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.sol.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.zni.ts
  packages/domain/lauréat/src/représentantLégal/saga/handleTâchePlanifiéeExecutée.ts
Due: eslint --fix

✏️ Fix typo
  packages/domain/tâche-planifiée/src/exécuter/exécuterTâchePlanifiée.behavior.ts
  packages/specifications/src/tâche-planifiée/exécuterTâchePlanifiée.feature
  packages/specifications/src/tâche-planifiée/tâchePlanifiée.world.ts
Due: eslint --fix, prettier -w

💡 Uncomment NotImplemented scenario
  packages/specifications/src/projet/lauréat/représentant-légal/changement/demanderChangementReprésentantLégal.feature
Due: prettier -w

✨ Add missing event when subscribing
  packages/applications/bootstrap/src/setupLauréat.ts
Due: eslint --fix

✅ Refactor tache planifiee then steps
  packages/specifications/src/projet/lauréat/représentant-légal/changement/demanderChangementReprésentantLégal.feature
  packages/specifications/src/tâche-planifiée/stepDefinitions/tâchePlanifiée.then.ts
Due: eslint --fix, prettier -w

♻️ Subscribe on the right stream category
  packages/applications/bootstrap/src/setupLauréat.ts
Due: eslint --fix

♻️ Check scheduled task type before doing something
  packages/domain/lauréat/src/représentantLégal/saga/handleTâchePlanifiéeGestionAutomatiqueDemandeChangementExecutée.ts
  packages/domain/lauréat/src/représentantLégal/saga/index.ts
Due: eslint --fix

♻️ Fix subscriber name
  packages/applications/bootstrap/src/setupLauréat.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/accorderChangementReprésentantLégal.feature
Due: eslint --fix, prettier -w

✅ Remove @select
  packages/specifications/src/projet/lauréat/représentant-légal/changement/accorderChangementReprésentantLégal.feature
Due: prettier -w

✏️ Fix typo
  packages/specifications/src/tâche-planifiée/exécuterTâchePlanifiée.feature
  packages/specifications/src/tâche-planifiée/stepDefinitions/tâchePlanifiée.when.ts
Due: eslint --fix, prettier -w

♻️ Missing await
  packages/domain/lauréat/src/représentantLégal/saga/handleTâchePlanifiéeGestionAutomatiqueDemandeChangementExecutée.ts
Due: eslint --fix

✨ Fix after rebase
  packages/domain/lauréat/src/représentantLégal/saga/handleTâchePlanifiéeGestionAutomatiqueDemandeChangementExecutée.ts
Due: eslint --fix

✨ Impossible de notifier une période sans nom ou fonction
  packages/domain/candidature/src/notifier/notifierCandidature.behavior.ts
  packages/domain/période/src/notifier/notifierPériode.command.ts
  packages/specifications/src/période/notifierPériode.feature
  packages/specifications/src/période/stepDefinitions/période.when.ts
  packages/specifications/src/utilisateur/fixtures/validateur.fixture.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.given.ts
Due: eslint --fix, prettier -w

🔇 Remove the logger usage in saga to prevent front crash
  packages/domain/lauréat/src/représentantLégal/saga/handleTâchePlanifiéeGestionAutomatiqueDemandeChangementExecutée.ts
Due: eslint --fix

🔧 Set waitforexpect timeout to default at 4500ms
  packages/specifications/src/setup.ts
Due: eslint --fix

✨ Ajout de tache planifiée pour "accorder / rejeter" les demandes de changement de représentant légal en fonction de la période de l'AO du projet (#2542)
  packages/applications/bootstrap/src/setupLauréat.ts
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole2016.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI2017.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/batiment.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/eolien.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/fessenheim.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/innovation.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/pvEolien.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/sol.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni2017.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.autoconsommationMetropole.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.batiment.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.eolien.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.innovation.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.neutre.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.sol.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/ppe2.zni.ts
  packages/domain/lauréat/src/garantiesFinancières/typeTâchePlanifiéeGarantiesFinancières.valueType.ts
  packages/domain/lauréat/src/représentantLégal/changement/demander/demanderChangementReprésentantLégal.usecase.ts
  packages/domain/lauréat/src/représentantLégal/changement/typeTâchePlanifiéeChangementReprésentantLégal.valueType.ts
  packages/domain/lauréat/src/représentantLégal/index.ts
  packages/domain/lauréat/src/représentantLégal/représentantLégal.saga.ts
  packages/domain/lauréat/src/représentantLégal/saga/handleLauréatNotifié.ts
  packages/domain/lauréat/src/représentantLégal/saga/handleTâchePlanifiéeGestionAutomatiqueDemandeChangementExecutée.ts
  packages/domain/lauréat/src/représentantLégal/saga/index.ts
  packages/domain/tâche-planifiée/src/exécuter/exécuterTâchePlanifiée.behavior.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/demanderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/fixtures/demanderChangementReprésentantLégal.fixture.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changemementReprésentantLégal.when.ts
  packages/specifications/src/setup.ts
  packages/specifications/src/tâche-planifiée/exécuterTâchePlanifiée.feature
  packages/specifications/src/tâche-planifiée/stepDefinitions/tâchePlanifiée.then.ts
  packages/specifications/src/tâche-planifiée/stepDefinitions/tâchePlanifiée.when.ts
  packages/specifications/src/tâche-planifiée/tâchePlanifiée.world.ts
Due: eslint --fix, prettier -w

🐛 Correction de la projection raccordement en cas de modification du GRD
  packages/applications/projectors/src/subscribers/réseau/raccordement.projector.ts
Due: eslint --fix

🎨 Attribué
  packages/applications/projectors/src/subscribers/réseau/raccordement.projector.ts
Due: eslint --fix

✨ Ajout d'un motif obligatoire lors de rejet d'un changement de représentant légal
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/handleChangementReprésentantLégalRejeté.ts
  packages/applications/ssr/src/components/pages/représentant-légal/changement/détails/DétailsChangementReprésentantLégal.page.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/détails/rejeter/RejeterChangementReprésentantLégal.form.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/détails/rejeter/rejeterChangementReprésentantLégal.action.ts
  packages/domain/lauréat/src/représentantLégal/changement/changementReprésentantLégal.entity.ts
  packages/domain/lauréat/src/représentantLégal/changement/consulter/consulterChangementReprésentantLégal.query.ts
  packages/domain/lauréat/src/représentantLégal/changement/rejeter/rejeterChangementReprésentantLégal.behavior.ts
  packages/domain/lauréat/src/représentantLégal/changement/rejeter/rejeterChangementReprésentantLégal.command.ts
  packages/domain/lauréat/src/représentantLégal/changement/rejeter/rejeterChangementReprésentantLégal.usecase.ts
  packages/domain/lauréat/src/représentantLégal/saga/handleTâchePlanifiéeGestionAutomatiqueDemandeChangementExecutée.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/changementReprésentantLégal.world.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/fixtures/rejeterChangementReprésentantLégal.fixture.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changemementReprésentantLégal.when.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.given.ts
Due: eslint --fix

✨ Ajout d'un motif obligatoire lors de rejet d'un changement de représentant légal (#2577)
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/handleChangementReprésentantLégalRejeté.ts
  packages/applications/ssr/src/components/pages/représentant-légal/changement/détails/DétailsChangementReprésentantLégal.page.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/détails/rejeter/RejeterChangementReprésentantLégal.form.tsx
  packages/applications/ssr/src/components/pages/représentant-légal/changement/détails/rejeter/rejeterChangementReprésentantLégal.action.ts
  packages/domain/lauréat/src/représentantLégal/changement/changementReprésentantLégal.entity.ts
  packages/domain/lauréat/src/représentantLégal/changement/consulter/consulterChangementReprésentantLégal.query.ts
  packages/domain/lauréat/src/représentantLégal/changement/rejeter/rejeterChangementReprésentantLégal.behavior.ts
  packages/domain/lauréat/src/représentantLégal/changement/rejeter/rejeterChangementReprésentantLégal.command.ts
  packages/domain/lauréat/src/représentantLégal/changement/rejeter/rejeterChangementReprésentantLégal.usecase.ts
  packages/domain/lauréat/src/représentantLégal/saga/handleTâchePlanifiéeGestionAutomatiqueDemandeChangementExecutée.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/changementReprésentantLégal.world.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/fixtures/rejeterChangementReprésentantLégal.fixture.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changemementReprésentantLégal.when.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.given.ts
Due: eslint --fix

✅ Rework tests
  packages/specifications/src/raccordement/modifierGestionnaireRéseauRaccordement.feature
  packages/specifications/src/raccordement/stepDefinitions/raccordement.then.ts
  packages/specifications/src/raccordement/stepDefinitions/raccordement.when.ts
Due: eslint --fix, prettier -w

🎨 Et
  packages/specifications/src/raccordement/modifierGestionnaireRéseauRaccordement.feature
Due: prettier -w

🐛 Correction de la projection raccordement en cas de modification du GRD (#2575)
  packages/applications/projectors/src/subscribers/réseau/raccordement.projector.ts
  packages/specifications/src/raccordement/modifierGestionnaireRéseauRaccordement.feature
  packages/specifications/src/raccordement/stepDefinitions/raccordement.then.ts
  packages/specifications/src/raccordement/stepDefinitions/raccordement.when.ts
Due: eslint --fix, prettier -w

✅ Seperate scenario about creatin a scheduled task to specify an explicit date
  packages/specifications/src/projet/lauréat/représentant-légal/changement/demanderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changemementReprésentantLégal.when.ts
  packages/specifications/src/tâche-planifiée/stepDefinitions/tâchePlanifiée.then.ts
Due: eslint --fix, prettier -w

✅ Merge the 2 scenarios
  packages/specifications/src/projet/lauréat/représentant-légal/changement/demanderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changemementReprésentantLégal.when.ts
Due: eslint --fix, prettier -w

♻️ Extract a function for demanderChangement
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changemementReprésentantLégal.when.ts
Due: eslint --fix

✅ Revue du scénario instable pour vérifier la tâche planifiée d'une demande de changement de représentant légal (#2578)
  packages/specifications/src/projet/lauréat/représentant-légal/changement/demanderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changemementReprésentantLégal.when.ts
  packages/specifications/src/tâche-planifiée/stepDefinitions/tâchePlanifiée.then.ts
Due: eslint --fix, prettier -w
