Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml,feature}": "prettier -w"
}

🚧 Start moving modifier
  packages/domain/lauréat/src/achèvement/achèvement.aggregate.ts
  packages/domain/lauréat/src/achèvement/achèvement.register.ts
  packages/domain/lauréat/src/achèvement/index.ts
  packages/domain/lauréat/src/achèvement/modifier/modifierAttestationConformité.behavior.ts
  packages/domain/lauréat/src/achèvement/modifier/modifierAttestationConformité.command.ts
  packages/domain/lauréat/src/index.ts
  packages/domain/lauréat/src/register.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.aggregate.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.error.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.event.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.register.ts
  packages/domain/projet/src/lauréat/achèvement/index.ts
  packages/domain/projet/src/lauréat/achèvement/modifier/modifierAttestationConformité.command.ts
  packages/domain/projet/src/lauréat/achèvement/modifier/modifierAttestationConformité.event.ts
  packages/domain/projet/src/lauréat/achèvement/modifier/modifierAttestationConformité.option.ts
  packages/domain/projet/src/lauréat/achèvement/modifier/modifierAttestationConformité.usecase.ts
Due: eslint --fix

🎨 Supprimer FF
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getProducteur.ts
  packages/applications/legacy/src/views/components/UI/organisms/UserNavigation.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/AdminMenuLegacy.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/DrealMenuLegacy.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/PorteurMenuLegacy.tsx
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
  packages/applications/ssr/src/components/pages/lauréat/modifier/ModifierLauréat.form.tsx
Due: eslint --fix

🚨 Fix errors after moving
  packages/applications/notifications/src/subscribers/lauréat/achèvement.notification.ts
  packages/applications/projectors/src/subscribers/lauréat/achèvement/attestationConformitéModifiée.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/achèvement/index.ts
  packages/applications/ssr/src/components/pages/attestation-conformité/modifier/modifierAttestationConformité.action.ts
  packages/domain/lauréat/src/abandon/abandon.register.ts
  packages/domain/lauréat/src/abandon/demander/demanderAbandon.command.ts
  packages/domain/lauréat/src/actionnaire/actionnaire.register.ts
  packages/domain/lauréat/src/actionnaire/changement/demander/demanderChangementActionnaire.command.ts
  packages/domain/lauréat/src/actionnaire/changement/enregistrerChangement/enregistrerChangement.command.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancières.register.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/garantiesFinancières.register.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/importer/importerTypeGarantiesFinancières.command.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/échoir/échoirGarantiesFinancières.command.ts
  packages/domain/lauréat/src/garantiesFinancières/mainlevée/demander/demanderMainlevéeGarantiesFinancières.behavior.ts
  packages/domain/lauréat/src/garantiesFinancières/mainlevée/demander/demanderMainlevéeGarantiesFinancières.command.ts
  packages/domain/lauréat/src/garantiesFinancières/mainlevée/mainlevée.register.ts
  packages/domain/lauréat/src/garantiesFinancières/tâches-planifiées/ajouter/ajouter.command.ts
  packages/domain/lauréat/src/garantiesFinancières/tâches-planifiées/tâches-planifiées.register.ts
  packages/domain/lauréat/src/puissance/changement/demander/demanderChangementPuissance.command.ts
  packages/domain/lauréat/src/puissance/changement/enregistrerChangement/enregistrerChangementPuissance.command.ts
  packages/domain/lauréat/src/représentantLégal/changement/demander/demanderChangementReprésentantLégal.command.ts
  packages/domain/lauréat/src/représentantLégal/représentantLégal.register.ts
  packages/domain/projet/src/lauréat/achèvement/index.ts
  packages/domain/projet/src/lauréat/achèvement/modifier/modifierAttestationConformité.usecase.ts
  packages/specifications/src/projet/lauréat/achèvement/attestationConformité/stepDefinitions/attestationConformité.when.ts
Due: eslint --fix

👔 Check that lauréat exist before uploading attestation
  packages/domain/projet/src/lauréat/achèvement/achèvement.aggregate.ts
Due: eslint --fix

🏗️ Reorganisation des specs de raccordement
  packages/specifications/src/raccordement/dateDeMiseEnService/fixtures/transmettreDateDeMiseEnService.fixture.ts
  packages/specifications/src/raccordement/dateDeMiseEnService/stepDefinitions/dateMiseEnService.given.ts
  packages/specifications/src/raccordement/dateDeMiseEnService/stepDefinitions/dateMiseEnService.then.ts
  packages/specifications/src/raccordement/dateDeMiseEnService/stepDefinitions/dateMiseEnService.when.ts
  packages/specifications/src/raccordement/dateDeMiseEnService/supprimerDateMiseEnService.feature
  packages/specifications/src/raccordement/dateDeMiseEnService/transmettreDateMiseEnService.feature
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/demandeComplèteRaccordement.world.ts
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/fixtures/modifierDemandeComplèteDeRaccordement.fixture.ts
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/fixtures/transmettreDemandeComplèteDeRaccordement.fixture.ts
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/modifierDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/modifierRéférenceDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/stepDefinitions/demandeComplèteRaccordement.given.ts
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/stepDefinitions/demandeComplèteRaccordement.then.ts
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/stepDefinitions/demandeComplèteRaccordement.when.ts
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/transmettreDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/dossierRaccordement/fixtures/modifierRéférenceDossierRaccordement.fixture.ts
  packages/specifications/src/raccordement/dossierRaccordement/stepDefinitions/dossierRaccordement.then.ts
  packages/specifications/src/raccordement/dossierRaccordement/stepDefinitions/dossierRaccordement.when.ts
  packages/specifications/src/raccordement/dossierRaccordement/supprimerDossierDuRaccordement.feature
  packages/specifications/src/raccordement/gestionnaireRéseau/attribuerGestionnaireRéseauRaccordement.feature
  packages/specifications/src/raccordement/gestionnaireRéseau/modifierGestionnaireRéseauRaccordement.feature
  packages/specifications/src/raccordement/gestionnaireRéseau/stepDefinitions/gestionnaireRéseauRaccordement.given.ts
  packages/specifications/src/raccordement/gestionnaireRéseau/stepDefinitions/gestionnaireRéseauRaccordement.then.ts
  packages/specifications/src/raccordement/gestionnaireRéseau/stepDefinitions/gestionnaireRéseauRaccordement.when.ts
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/fixtures/modifierPropositionTechniqueEtFinancière.fixture.ts
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/fixtures/transmettrePropositionTechniqueEtFinancière.fixture.ts
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/modifierPropositionTechniqueEtFinancière.feature
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/propositionTechniqueEtFinancière.world.ts
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/stepDefinitions/propositionTechniqueEtFinancière.given.ts
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/stepDefinitions/propositionTechniqueEtFinancière.then.ts
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/stepDefinitions/propositionTechniqueEtFinancière.when.ts
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/transmettrePropositionTechniqueEtFinancière.feature
  packages/specifications/src/raccordement/raccordement.world.ts
  packages/specifications/src/raccordement/supprimerRaccordement.feature
Due: eslint --fix, prettier -w

🎨 Code legacy producteur
  packages/applications/cli/src/commands/puissance/migration.sql
  packages/applications/cli/src/commands/puissance/migrer.ts
  packages/applications/legacy/src/config/useCases.config.ts
  packages/applications/legacy/src/controllers/modificationRequest/index.ts
  packages/applications/legacy/src/controllers/modificationRequest/postReplyToModificationRequest.ts
  packages/applications/legacy/src/controllers/modificationRequest/producteur/getChangerProducteurPage.ts
  packages/applications/legacy/src/controllers/modificationRequest/producteur/index.ts
  packages/applications/legacy/src/controllers/modificationRequest/producteur/postChangerProducteur.ts
  packages/applications/legacy/src/modules/modificationRequest/useCases/changerProducteur.ts
  packages/applications/legacy/src/modules/modificationRequest/useCases/index.ts
  packages/applications/legacy/src/modules/notification/eventHandlers/modificationRequests/handleModificationReceived.ts
  packages/applications/legacy/src/routes.ts
  packages/applications/legacy/src/views/index.ts
  packages/applications/legacy/src/views/pages/changerProducteurPage/ChangerProducteur.tsx
  packages/applications/legacy/src/views/pages/changerProducteurPage/index.ts
  packages/applications/legacy/src/views/pages/index.ts
  packages/applications/legacy/src/views/pages/modificationRequestPage/ModificationRequest.tsx
  packages/applications/legacy/src/views/pages/modificationRequestPage/components/DemandeDetails.tsx
  packages/applications/legacy/src/views/pages/modificationRequestPage/components/DemandeStatus.tsx
  packages/applications/legacy/src/views/pages/modificationRequestPage/components/ProducteurForm.tsx
  packages/applications/legacy/src/views/pages/modificationRequestPage/components/index.ts
  packages/applications/ssr/src/app/candidatures/_helpers/getCandidatureActions.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/changement/enregistrer/page.tsx
Due: eslint --fix

🎨 Changement des règles d'affichage des actions
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getActionnaire.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getProducteur.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getPuissance.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getReprésentantLégal.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectActions.tsx
Due: eslint --fix

✏️ Fix type name
  packages/domain/projet/src/lauréat/achèvement/index.ts
Due: eslint --fix

🚚 Renommer en désactiver
  packages/applications/bootstrap/src/setupUtilisateur.ts
  packages/applications/notifications/src/subscribers/utilisateur/index.ts
  packages/applications/projectors/src/subscribers/utilisateur/index.ts
  packages/applications/projectors/src/subscribers/utilisateur/utilisateurDésactivé.projector.ts
  packages/applications/request-context/src/getUtilisateur.ts
  packages/applications/ssr/src/app/auth/error/page.tsx
  packages/applications/ssr/src/app/utilisateurs/page.tsx
  packages/applications/ssr/src/components/pages/utilisateur/désactiver/désactiverUtilisateur.action.ts
  packages/applications/ssr/src/components/pages/utilisateur/lister/UtilisateurListItem.tsx
  packages/applications/ssr/src/components/pages/utilisateur/supprimer/supprimerUtilisateur.action.ts
  packages/domain/utilisateur/src/consulter/consulterUtilisateur.query.ts
  packages/domain/utilisateur/src/désactiver/désactiverUtilisateur.behavior.ts
  packages/domain/utilisateur/src/désactiver/désactiverUtilisateur.command.ts
  packages/domain/utilisateur/src/désactiver/désactiverUtilisateur.usecase.ts
  packages/domain/utilisateur/src/errors.ts
  packages/domain/utilisateur/src/index.ts
  packages/domain/utilisateur/src/lister/listerUtilisateurs.query.ts
  packages/domain/utilisateur/src/register.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/domain/utilisateur/src/supprimer/supprimerUtilisateur.behavior.ts
  packages/domain/utilisateur/src/supprimer/supprimerUtilisateur.usecase.ts
  packages/domain/utilisateur/src/trouver/trouverUtilisateur.query.ts
  packages/domain/utilisateur/src/utilisateur.aggregate.ts
  packages/domain/utilisateur/src/utilisateur.entity.ts
  packages/specifications/src/utilisateur/désactiverUtilisateur.feature
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.then.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.when.ts
Due: eslint --fix, prettier -w

✏️ Fixes
  packages/applications/ssr/src/app/utilisateurs/page.tsx
  packages/applications/ssr/src/components/pages/utilisateur/désactiver/désactiverUtilisateur.action.ts
  packages/specifications/src/utilisateur/désactiverUtilisateur.feature
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.then.ts
Due: eslint --fix, prettier -w

🐛 Oubli lsite
  packages/applications/legacy/src/views/pages/modificationRequestListPage/ModificationRequestList.tsx
Due: eslint --fix

🐛 Fix magic link
  packages/applications/request-context/src/authOptions.ts
  packages/applications/request-context/src/getUtilisateur.ts
Due: eslint --fix

🏗️ Reorganisation des specs de raccordement (#3046)
  packages/specifications/src/raccordement/dateDeMiseEnService/fixtures/transmettreDateDeMiseEnService.fixture.ts
  packages/specifications/src/raccordement/dateDeMiseEnService/stepDefinitions/dateMiseEnService.given.ts
  packages/specifications/src/raccordement/dateDeMiseEnService/stepDefinitions/dateMiseEnService.then.ts
  packages/specifications/src/raccordement/dateDeMiseEnService/stepDefinitions/dateMiseEnService.when.ts
  packages/specifications/src/raccordement/dateDeMiseEnService/supprimerDateMiseEnService.feature
  packages/specifications/src/raccordement/dateDeMiseEnService/transmettreDateMiseEnService.feature
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/demandeComplèteRaccordement.world.ts
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/fixtures/modifierDemandeComplèteDeRaccordement.fixture.ts
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/fixtures/transmettreDemandeComplèteDeRaccordement.fixture.ts
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/modifierDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/modifierRéférenceDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/stepDefinitions/demandeComplèteRaccordement.given.ts
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/stepDefinitions/demandeComplèteRaccordement.then.ts
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/stepDefinitions/demandeComplèteRaccordement.when.ts
  packages/specifications/src/raccordement/demandeComplèteDeRaccordement/transmettreDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/dossierRaccordement/fixtures/modifierRéférenceDossierRaccordement.fixture.ts
  packages/specifications/src/raccordement/dossierRaccordement/stepDefinitions/dossierRaccordement.then.ts
  packages/specifications/src/raccordement/dossierRaccordement/stepDefinitions/dossierRaccordement.when.ts
  packages/specifications/src/raccordement/dossierRaccordement/supprimerDossierDuRaccordement.feature
  packages/specifications/src/raccordement/gestionnaireRéseau/attribuerGestionnaireRéseauRaccordement.feature
  packages/specifications/src/raccordement/gestionnaireRéseau/modifierGestionnaireRéseauRaccordement.feature
  packages/specifications/src/raccordement/gestionnaireRéseau/stepDefinitions/gestionnaireRéseauRaccordement.given.ts
  packages/specifications/src/raccordement/gestionnaireRéseau/stepDefinitions/gestionnaireRéseauRaccordement.then.ts
  packages/specifications/src/raccordement/gestionnaireRéseau/stepDefinitions/gestionnaireRéseauRaccordement.when.ts
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/fixtures/modifierPropositionTechniqueEtFinancière.fixture.ts
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/fixtures/transmettrePropositionTechniqueEtFinancière.fixture.ts
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/modifierPropositionTechniqueEtFinancière.feature
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/propositionTechniqueEtFinancière.world.ts
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/stepDefinitions/propositionTechniqueEtFinancière.given.ts
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/stepDefinitions/propositionTechniqueEtFinancière.then.ts
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/stepDefinitions/propositionTechniqueEtFinancière.when.ts
  packages/specifications/src/raccordement/propositionTechniqueEtFinancière/transmettrePropositionTechniqueEtFinancière.feature
  packages/specifications/src/raccordement/raccordement.world.ts
  packages/specifications/src/raccordement/supprimerRaccordement.feature
Due: eslint --fix, prettier -w

🐛 Pour ne plus oublier
  packages/applications/legacy/src/views/pages/modificationRequestListPage/ModificationRequestList.tsx
Due: eslint --fix

🎨 Actif + porteur
  packages/domain/utilisateur/src/désactiver/désactiverUtilisateur.behavior.ts
  packages/domain/utilisateur/src/errors.ts
  packages/domain/utilisateur/src/inviter/inviterPorteur.behavior.ts
  packages/domain/utilisateur/src/inviter/inviterUtilisateur.behavior.ts
  packages/domain/utilisateur/src/utilisateur.aggregate.ts
  packages/specifications/src/utilisateur/désactiverUtilisateur.feature
  packages/specifications/src/utilisateur/inviterPorteur.feature
  packages/specifications/src/utilisateur/inviterUtilisateur.feature
  packages/specifications/src/utilisateur/réclamerProjet.feature
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.then.ts
Due: eslint --fix, prettier -w

🎨 Boolean->true
  packages/applications/request-context/src/getUtilisateur.ts
  packages/domain/utilisateur/src/trouver/trouverUtilisateur.query.ts
Due: eslint --fix

Update packages/specifications/src/utilisateur/désactiverUtilisateur.feature
  packages/specifications/src/utilisateur/désactiverUtilisateur.feature
Due: prettier -w

✨ Désactiver un utilisateur (#3039)
  packages/applications/bootstrap/src/setupUtilisateur.ts
  packages/applications/notifications/src/subscribers/utilisateur/index.ts
  packages/applications/projectors/src/subscribers/utilisateur/index.ts
  packages/applications/projectors/src/subscribers/utilisateur/utilisateurDésactivé.projector.ts
  packages/applications/request-context/src/authOptions.ts
  packages/applications/request-context/src/getUtilisateur.ts
  packages/applications/routes/src/utilisateur/utilisateur.routes.ts
  packages/applications/ssr/src/app/auth/error/page.tsx
  packages/applications/ssr/src/app/utilisateurs/page.tsx
  packages/applications/ssr/src/components/molecules/utilisateur/RoleBadge.tsx
  packages/applications/ssr/src/components/pages/utilisateur/désactiver/désactiverUtilisateur.action.ts
  packages/applications/ssr/src/components/pages/utilisateur/lister/UtilisateurListItem.tsx
  packages/domain/utilisateur/src/consulter/consulterUtilisateur.query.ts
  packages/domain/utilisateur/src/désactiver/désactiverUtilisateur.behavior.ts
  packages/domain/utilisateur/src/désactiver/désactiverUtilisateur.command.ts
  packages/domain/utilisateur/src/désactiver/désactiverUtilisateur.usecase.ts
  packages/domain/utilisateur/src/errors.ts
  packages/domain/utilisateur/src/index.ts
  packages/domain/utilisateur/src/inviter/inviterPorteur.behavior.ts
  packages/domain/utilisateur/src/inviter/inviterUtilisateur.behavior.ts
  packages/domain/utilisateur/src/lister/listerUtilisateurs.query.ts
  packages/domain/utilisateur/src/register.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/domain/utilisateur/src/trouver/trouverUtilisateur.query.ts
  packages/domain/utilisateur/src/utilisateur.aggregate.ts
  packages/domain/utilisateur/src/utilisateur.entity.ts
  packages/domain/utilisateur/src/utilisateurInconnu.error.ts
  packages/specifications/src/utilisateur/désactiverUtilisateur.feature
  packages/specifications/src/utilisateur/inviterPorteur.feature
  packages/specifications/src/utilisateur/inviterUtilisateur.feature
  packages/specifications/src/utilisateur/réclamerProjet.feature
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.given.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.then.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.when.ts
Due: eslint --fix, prettier -w

🚧 Start creating the accès part of projet
  packages/applications/bootstrap/src/setupProjet.ts
  packages/domain/projet/src/accès/accès.aggregate.ts
  packages/domain/projet/src/accès/accès.entity.ts
  packages/domain/projet/src/accès/accès.error.ts
  packages/domain/projet/src/accès/accès.event.ts
  packages/domain/projet/src/accès/accès.register.ts
  packages/domain/projet/src/accès/autoriser/autoriserAccèsProjet.command.ts
  packages/domain/projet/src/accès/autoriser/autoriserAccèsProjet.event.ts
  packages/domain/projet/src/accès/autoriser/autoriserAccèsProjet.options.ts
  packages/domain/projet/src/accès/autoriser/autoriserAccèsProjet.usecase.ts
  packages/domain/projet/src/accès/index.ts
  packages/domain/projet/src/accès/retirer/retirerAccèsProjet.command.ts
  packages/domain/projet/src/accès/retirer/retirerAccèsProjet.event.ts
  packages/domain/projet/src/accès/retirer/retirerAccèsProjet.options.ts
  packages/domain/projet/src/accès/retirer/retirerAccèsProjet.usecase.ts
  packages/domain/projet/src/accès/réclamer/réclamerAccèsProjet.command.ts
  packages/domain/projet/src/accès/réclamer/réclamerAccèsProjet.options.ts
  packages/domain/projet/src/accès/réclamer/réclamerAccèsProjet.usecase.ts
  packages/domain/projet/src/index.ts
  packages/domain/projet/src/lauréat/producteur/changement/enregistrerChangement/enregistrerChangement.usecase.ts
  packages/domain/projet/src/lauréat/producteur/producteur.aggregate.ts
  packages/domain/projet/src/lauréat/producteur/producteur.register.ts
  packages/domain/projet/src/projet.aggregateRoot.ts
  packages/domain/projet/src/retirerTousAccèsProjet.port.ts
  packages/domain/projet/src/statutProjet.valueType.ts
  packages/infrastructure/domain-adapters/src/utilisateur/index.ts
  packages/infrastructure/domain-adapters/src/utilisateur/retirerTousAccèsProjet.adapter.ts
Due: eslint --fix

✨ Réactiver utilisateur
  packages/applications/bootstrap/src/setupUtilisateur.ts
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/AdminMenuLegacy.tsx
  packages/applications/notifications/src/subscribers/utilisateur/index.ts
  packages/applications/projectors/src/subscribers/utilisateur/index.ts
  packages/applications/projectors/src/subscribers/utilisateur/utilisateurRéactivé.projector.ts
  packages/applications/routes/src/utilisateur/utilisateur.routes.ts
  packages/applications/ssr/src/app/utilisateurs/page.tsx
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
  packages/applications/ssr/src/components/pages/utilisateur/désactiver/désactiverUtilisateur.action.ts
  packages/applications/ssr/src/components/pages/utilisateur/inviter/inviterUtilisateur.action.ts
  packages/applications/ssr/src/components/pages/utilisateur/lister/UtilisateurListItem.tsx
  packages/applications/ssr/src/components/pages/utilisateur/réactiver/réactiverUtilisateur.action.ts
  packages/domain/utilisateur/src/index.ts
  packages/domain/utilisateur/src/register.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/domain/utilisateur/src/réactiver/réactiverUtilisateur.behavior.ts
  packages/domain/utilisateur/src/réactiver/réactiverUtilisateur.command.ts
  packages/domain/utilisateur/src/réactiver/réactiverUtilisateur.usecase.ts
  packages/domain/utilisateur/src/utilisateur.aggregate.ts
  packages/specifications/src/utilisateur/réactiverUtilisateur.feature
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.given.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.then.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.when.ts
Due: eslint --fix, prettier -w

🎨 Changement des règles d'affichage des actions (#3047)
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getActionnaire.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getProducteur.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getPuissance.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getReprésentantLégal.ts
  packages/applications/legacy/src/views/pages/modificationRequestListPage/ModificationRequestList.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectActions.tsx
Due: eslint --fix

🚧 Use new réclamer usecase and remove projet dependency from utilisateur
  packages/applications/bootstrap/src/setupUtilisateur.ts
  packages/applications/notifications/src/subscribers/utilisateur/index.ts
  packages/applications/projectors/src/subscribers/accès/accèsProjetRetiréProjector.projector.ts
  packages/applications/projectors/src/subscribers/accès/accèsRebuildTriggered.projector.ts
  packages/applications/projectors/src/subscribers/accès/index.ts
  packages/applications/projectors/src/subscribers/utilisateur/index.ts
  packages/applications/projectors/src/subscribers/utilisateur/projetRéclamé.projector.ts
  packages/applications/ssr/src/components/pages/réclamer-projets/réclamer/réclamerProjet.action.ts
  packages/domain/projet/src/accès/accès.entity.ts
  packages/domain/projet/src/accès/index.ts
  packages/domain/projet/src/accès/réclamer/réclamerAccèsProjet.usecase.ts
  packages/domain/projet/src/index.ts
  packages/domain/utilisateur/package.json
  packages/domain/utilisateur/src/index.ts
  packages/domain/utilisateur/src/register.ts
  packages/domain/utilisateur/src/réclamer/réclamerProjet.behavior.ts
  packages/domain/utilisateur/src/réclamer/réclamerProjet.command.ts
  packages/domain/utilisateur/src/réclamer/réclamerProjet.usecase.ts
  packages/domain/utilisateur/src/utilisateur.aggregate.ts
  packages/domain/utilisateur/tsconfig.json
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.when.ts
Due: eslint --fix, prettier -w

🎨 Fixes
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/AdminMenuLegacy.tsx
  packages/applications/ssr/src/app/utilisateurs/page.tsx
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
Due: eslint --fix

🚚 Move verifier query
  packages/applications/bootstrap/src/middlewares/permission.middleware.ts
  packages/applications/bootstrap/src/setupUtilisateur.ts
  packages/applications/cli/src/commands/raccordement/notifier-gestionnaires-réseau.ts
  packages/applications/ssr/src/app/documents/[documentKey]/route.ts
  packages/domain/projet/src/accès/accès.register.ts
  packages/domain/projet/src/accès/index.ts
  packages/domain/projet/src/accès/vérifier/vérifierAccèsProjet.query.ts
  packages/domain/utilisateur/src/index.ts
  packages/domain/utilisateur/src/register.ts
  packages/domain/utilisateur/src/vérifierAccèsProjet/vérifierAccèsProjet.query.ts
  packages/infrastructure/domain-adapters/src/utilisateur/index.ts
  packages/specifications/src/période/stepDefinitions/période.then.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.then.ts
Due: eslint --fix

👔 Move the business logic from the adapter to the query
  package-lock.json
  packages/applications/projectors/src/subscribers/réseau/raccordement.projector.ts
  packages/domain/lauréat/src/raccordement/consulter/consulterDossierRaccordement.query.ts
  packages/domain/lauréat/src/raccordement/consulter/consulterGestionnaireRéseauRaccordement.query.ts
  packages/domain/lauréat/src/raccordement/consulter/consulterNombreRaccordement.ts
  packages/domain/lauréat/src/raccordement/consulter/consulterRaccordement.query.ts
  packages/domain/lauréat/src/raccordement/index.ts
  packages/domain/lauréat/src/raccordement/lister/listerDossierRaccordement.query.ts
  packages/domain/lauréat/src/raccordement/lister/listerDossierRaccordementEnAttenteMiseEnService.query.ts
  packages/domain/lauréat/src/raccordement/lister/listerRaccordement.query.ts
  packages/domain/lauréat/src/raccordement/rechercher/rechercherDossierRaccordement.query.ts
  packages/domain/projet/package.json
  packages/domain/projet/src/accès/vérifier/vérifierAccèsProjet.query.ts
  packages/domain/projet/src/index.ts
  packages/domain/projet/src/raccordement/index.ts
  packages/domain/projet/src/raccordement/raccordement.entity.ts
  packages/domain/projet/tsconfig.json
Due: eslint --fix, prettier -w

🔥 Remove old retirer usecase and use the new one from projet
  packages/applications/bootstrap/src/setupUtilisateur.ts
  packages/applications/legacy/src/controllers/modificationRequest/producteur/postChangerProducteur.ts
  packages/applications/legacy/src/sagas/accès.saga.ts
  packages/applications/legacy/src/sagas/registerSagas.ts
  packages/applications/legacy/src/sagas/utilisateur.saga.ts
  packages/applications/notifications/src/_utils/récupérerNomProjet.ts
  packages/applications/notifications/src/subscribers/accès/accèsProjetRetiré.notification.ts
  packages/applications/notifications/src/subscribers/accès/index.ts
  packages/applications/notifications/src/subscribers/utilisateur/porteurInvité.notification.ts
  packages/applications/projectors/src/subscribers/accès/accèsProjetRetiré.projector.ts
  packages/applications/projectors/src/subscribers/accès/index.ts
  packages/applications/projectors/src/subscribers/utilisateur/accèsProjetRetiré.projector.ts
  packages/applications/projectors/src/subscribers/utilisateur/index.ts
  packages/applications/ssr/src/components/pages/utilisateur/retirerAccès/retirerAccèsProjet.action.ts
  packages/domain/projet/src/accès/index.ts
  packages/domain/utilisateur/src/index.ts
  packages/domain/utilisateur/src/register.ts
  packages/domain/utilisateur/src/retirer/retirerAccèsProjet.behavior.ts
  packages/domain/utilisateur/src/retirer/retirerAccèsProjet.command.ts
  packages/domain/utilisateur/src/retirer/retirerAccèsProjet.usecase.ts
  packages/domain/utilisateur/src/utilisateur.aggregate.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.when.ts
Due: eslint --fix

🔧 Setup accès projector and notification
  packages/applications/bootstrap/src/setupProjet.ts
  packages/applications/notifications/src/index.ts
  packages/applications/projectors/src/index.ts
Due: eslint --fix

👔 Use autoriser every time inviter is executed
  packages/applications/projectors/src/subscribers/accès/accèsProjetAutorisé.projector.ts
  packages/applications/projectors/src/subscribers/accès/index.ts
  packages/applications/ssr/src/components/pages/utilisateur/inviter/inviterPorteur.action.ts
  packages/domain/projet/src/accès/accès.register.ts
  packages/domain/projet/src/accès/autoriser/autoriserAccèsProjet.command.ts
  packages/domain/projet/src/accès/autoriser/autoriserAccèsProjet.usecase.ts
  packages/domain/projet/src/accès/index.ts
  packages/domain/projet/src/accès/lister/listerAccès.query.ts
  packages/domain/période/src/notifier/notifierPériode.command.ts
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.given.ts
  packages/specifications/src/projet/éliminé/stepDefinitions/éliminé.given.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.when.ts
Due: eslint --fix

🐛 Fix missing registers
  packages/domain/projet/src/register.ts
Due: eslint --fix

♻️ Réorganisation du projecteur Raccordement en fichiers par évènement
  packages/applications/bootstrap/src/setupLauréat.ts
  packages/applications/bootstrap/src/setupRéseau.ts
  packages/applications/projectors/src/index.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/_utils/getDossierRaccordement.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/_utils/getRaccordement.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/_utils/upsertDossierRaccordement.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/accuséRéceptionDemandeComplèteRaccordementTransmisV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dateMiseEnServiceSuppriméeV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dateMiseEnServiceTransmiseV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dateMiseEnServiceTransmiseV2.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/demandeComplèteDeRaccordementTransmiseV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/demandeComplèteDeRaccordementTransmiseV2.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/demandeComplèteRaccordementModifiéeV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/demandeComplèteRaccordementModifiéeV2.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/demandeComplèteRaccordementModifiéeV3.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossierDuRaccordementSuppriméV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/gestionnaireRéseauAttribuéV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/gestionnaireRéseauInconnuAttribuéV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/gestionnaireRéseauRaccordementModifiéV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/index.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/propositionTechniqueEtFinancièreModifiéeV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/propositionTechniqueEtFinancièreModifiéeV2.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/propositionTechniqueEtFinancièreSignéeTransmiseV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/propositionTechniqueEtFinancièreTransmiseV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/propositionTechniqueEtFinancièreTransmiseV2.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/raccordementRebuildTriggered.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/raccordementSuppriméV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/référenceDossierRacordementModifiéeV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/référenceDossierRacordementModifiéeV2.projector.ts
  packages/applications/projectors/src/subscribers/réseau/raccordement.projector.ts
Due: eslint --fix

✨ Réactiver utilisateur (#3048)
  packages/applications/bootstrap/src/setupUtilisateur.ts
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/AdminMenuLegacy.tsx
  packages/applications/notifications/src/subscribers/utilisateur/index.ts
  packages/applications/projectors/src/subscribers/utilisateur/index.ts
  packages/applications/projectors/src/subscribers/utilisateur/utilisateurRéactivé.projector.ts
  packages/applications/routes/src/utilisateur/utilisateur.routes.ts
  packages/applications/ssr/src/app/utilisateurs/page.tsx
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
  packages/applications/ssr/src/components/pages/utilisateur/désactiver/désactiverUtilisateur.action.ts
  packages/applications/ssr/src/components/pages/utilisateur/inviter/inviterUtilisateur.action.ts
  packages/applications/ssr/src/components/pages/utilisateur/lister/UtilisateurListItem.tsx
  packages/applications/ssr/src/components/pages/utilisateur/réactiver/réactiverUtilisateur.action.ts
  packages/domain/utilisateur/src/index.ts
  packages/domain/utilisateur/src/register.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/domain/utilisateur/src/réactiver/réactiverUtilisateur.behavior.ts
  packages/domain/utilisateur/src/réactiver/réactiverUtilisateur.command.ts
  packages/domain/utilisateur/src/réactiver/réactiverUtilisateur.usecase.ts
  packages/domain/utilisateur/src/utilisateur.aggregate.ts
  packages/specifications/src/utilisateur/réactiverUtilisateur.feature
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.given.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.then.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.when.ts
Due: eslint --fix, prettier -w

🎨 Subfolder
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/accuséRéceptionDemandeComplèteRaccordementTransmisV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/dateMiseEnServiceSuppriméeV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/dateMiseEnServiceTransmiseV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/dateMiseEnServiceTransmiseV2.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/demandeComplèteDeRaccordementTransmiseV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/demandeComplèteDeRaccordementTransmiseV2.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/demandeComplèteRaccordementModifiéeV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/demandeComplèteRaccordementModifiéeV2.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/demandeComplèteRaccordementModifiéeV3.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/dossierDuRaccordementSuppriméV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/propositionTechniqueEtFinancièreModifiéeV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/propositionTechniqueEtFinancièreModifiéeV2.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/propositionTechniqueEtFinancièreSignéeTransmiseV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/propositionTechniqueEtFinancièreTransmiseV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/propositionTechniqueEtFinancièreTransmiseV2.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/référenceDossierRacordementModifiéeV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/référenceDossierRacordementModifiéeV2.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/index.ts
Due: eslint --fix

imports
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/propositionTechniqueEtFinancièreModifiéeV2.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/propositionTechniqueEtFinancièreSignéeTransmiseV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/propositionTechniqueEtFinancièreTransmiseV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/propositionTechniqueEtFinancièreTransmiseV2.projector.ts
Due: eslint --fix

♻️ Réorganisation du projecteur Raccordement en fichiers par évènement (#3049)
  packages/applications/bootstrap/src/setupLauréat.ts
  packages/applications/bootstrap/src/setupRéseau.ts
  packages/applications/projectors/src/index.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/_utils/getDossierRaccordement.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/_utils/getRaccordement.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/_utils/upsertDossierRaccordement.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/accuséRéceptionDemandeComplèteRaccordementTransmisV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/dateMiseEnServiceSuppriméeV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/dateMiseEnServiceTransmiseV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/dateMiseEnServiceTransmiseV2.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/demandeComplèteDeRaccordementTransmiseV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/demandeComplèteDeRaccordementTransmiseV2.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/demandeComplèteRaccordementModifiéeV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/demandeComplèteRaccordementModifiéeV2.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/demandeComplèteRaccordementModifiéeV3.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/dossierDuRaccordementSuppriméV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/propositionTechniqueEtFinancièreModifiéeV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/propositionTechniqueEtFinancièreModifiéeV2.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/propositionTechniqueEtFinancièreSignéeTransmiseV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/propositionTechniqueEtFinancièreTransmiseV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/propositionTechniqueEtFinancièreTransmiseV2.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/référenceDossierRacordementModifiéeV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/référenceDossierRacordementModifiéeV2.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/gestionnaireRéseauAttribuéV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/gestionnaireRéseauInconnuAttribuéV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/gestionnaireRéseauRaccordementModifiéV1.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/index.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/raccordementRebuildTriggered.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/raccordementSuppriméV1.projector.ts
  packages/applications/projectors/src/subscribers/réseau/raccordement.projector.ts
Due: eslint --fix

🚧 Création du script permettant de maj les dossiers de raccordement / la création de dossier suite aux résultats d'Enedis
  .database/scripts/restore-dev-db.sh
  packages/applications/cli/src/commands/raccordement/maj-dossiers-enedis/dossiers_raccordements_modifies_fake.csv
  packages/applications/cli/src/commands/raccordement/maj-dossiers-enedis/index.ts
Due: eslint --fix

⏪️ Revert comments
  .database/scripts/restore-dev-db.sh
Due: none

🎨 Improve code (creation of _utils) + statistics
  packages/applications/cli/src/commands/raccordement/maj-dossiers-enedis/.gitignore
  packages/applications/cli/src/commands/raccordement/maj-dossiers-enedis/_utils/formatDateQualification.ts
  packages/applications/cli/src/commands/raccordement/maj-dossiers-enedis/_utils/generateDocument.ts
  packages/applications/cli/src/commands/raccordement/maj-dossiers-enedis/_utils/index.ts
  packages/applications/cli/src/commands/raccordement/maj-dossiers-enedis/_utils/logStatistics.ts
  packages/applications/cli/src/commands/raccordement/maj-dossiers-enedis/_utils/writeStatisticsToFiles.ts
  packages/applications/cli/src/commands/raccordement/maj-dossiers-enedis/dossiers_raccordements_modifies_fake.csv
  packages/applications/cli/src/commands/raccordement/maj-dossiers-enedis/index.ts
Due: eslint --fix

🎨 Ajouter la tâche
  packages/applications/cli/package.json
  packages/applications/cli/src/commands/raccordement/maj-dossiers-enedis/_utils/logStatistics.ts
  packages/applications/cli/src/commands/raccordement/maj-dossiers-enedis/_utils/writeStatisticsToFiles.ts
  packages/applications/cli/src/commands/raccordement/maj-dossiers-enedis/index.ts
  packages/applications/ssr/src/components/pages/tâche/TâcheListItem.tsx
  packages/domain/tâche/src/ajouter/ajouterTâche.command.ts
  packages/domain/tâche/src/tâche.ts
Due: eslint --fix, prettier -w

📦️ Update package lock
  package-lock.json
Due: eslint --fix, prettier -w

🔥 Remove @select
  packages/specifications/src/raccordement/dossierRaccordement/supprimerDossierDuRaccordement.feature
  packages/specifications/src/raccordement/supprimerRaccordement.feature
Due: prettier -w
