Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml,feature}": "prettier -w"
}

🏷️ Fix typing
  packages/infrastructure/pg-event-sourcing/src/subscribe/eventStreamEmitter.ts
  packages/infrastructure/pg-event-sourcing/src/subscribe/rebuild/rebuildAll.ts
Due: eslint --fix

♻️ Fogotten rebuilds
  packages/applications/projectors/src/subscribers/lauréat/producteur/producteurRebuildTrigerred.projector.ts
  packages/applications/projectors/src/subscribers/tâche/tâchePlanifiée/tâchePlanifiéeRebuildTriggered.ts
Due: eslint --fix

fix rebuild périodes
  packages/applications/projectors/src/index.ts
  packages/applications/projectors/src/subscribers/appel-offre/seed.ts
  packages/applications/projectors/src/subscribers/période/périodeRebuildTriggered.projector.ts
  packages/applications/projectors/src/subscribers/période/seed.ts
Due: eslint --fix

♻️ Simplification raccordement
  packages/applications/projectors/src/subscribers/lauréat/raccordement/raccordementSuppriméV1.projector.ts
Due: eslint --fix

🎨 Fix fonction
  packages/applications/ssr/src/utils/zod/auth/callbackURLSchema.schema.ts
Due: eslint --fix

🐛 Correction de l'ordre des paramètre dans checkAllowedCallbackUrl (#3714)
  packages/applications/ssr/src/utils/zod/auth/callbackURLSchema.schema.ts
Due: eslint --fix

⬆️ Package Lock update
  package-lock.json
Due: eslint --fix, prettier -w

⬆️ Regenerate package-lock
  package-lock.json
Due: eslint --fix, prettier -w

🎨 Fix: margin et heading attestation
  packages/applications/ssr/src/app/elimines/(liste)/[identifiant]/recours/demander/DemanderRecours.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/demander/DemanderAbandon.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/TitrePageAttestationConformité.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:modifier/modifierAttestationConformité.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:transmettre/transmettreAttestationConformité.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/date-achevement:transmettre/TransmettreDateAchèvement.page.tsx
Due: eslint --fix

⬆️ W.a.i.d
  package-lock.json
Due: eslint --fix, prettier -w

🎨 Alignement bouton copier coller
  packages/applications/ssr/src/components/molecules/CopyButton.tsx
Due: eslint --fix

🎨 Change r
  packages/applications/ssr/src/components/molecules/projet/ProjetBanner.template.tsx
Due: eslint --fix

🐛 Petites améliorations front (#3716)
  packages/applications/ssr/src/app/elimines/(liste)/[identifiant]/recours/demander/DemanderRecours.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/demander/DemanderAbandon.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/TitrePageAttestationConformité.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:modifier/modifierAttestationConformité.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:transmettre/transmettreAttestationConformité.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/date-achevement:transmettre/TransmettreDateAchèvement.page.tsx
  packages/applications/ssr/src/components/molecules/CopyButton.tsx
  packages/applications/ssr/src/components/molecules/projet/ProjetBanner.template.tsx
Due: eslint --fix

🎨 Fixture
  packages/specifications/src/projet/lauréat/installation/enregistrerChangementDispositifDeStockage.feature
  packages/specifications/src/projet/lauréat/installation/fixture/enregistrerChangementDispositifStockage.fixture.ts
Due: eslint --fix, prettier -w

🎨 Fixture v2
  packages/specifications/src/projet/lauréat/installation/enregistrerChangementDispositifDeStockage.feature
  packages/specifications/src/projet/lauréat/installation/enregistrerChangementInstallateur.feature
  packages/specifications/src/projet/lauréat/installation/modifierDispositifDeStockage.feature
  packages/specifications/src/projet/lauréat/installation/stepDefinitions/installation.then.ts
  packages/specifications/src/projet/lauréat/installation/stepDefinitions/installation.when.ts
Due: eslint --fix, prettier -w

🎨 Initialisation back
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/projet/src/lauréat/installation/dispositif-de-stockage/changement/changementDispositifDeStockage.entity.ts
  packages/domain/projet/src/lauréat/installation/dispositif-de-stockage/changement/consulter/consulterChangementDispositifDeStockage.query.ts
  packages/domain/projet/src/lauréat/installation/dispositif-de-stockage/changement/enregistrer/enregistrerChangementDispositifDeStockage.command.ts
  packages/domain/projet/src/lauréat/installation/dispositif-de-stockage/changement/enregistrer/enregistrerChangementDispositifDeStockage.event.ts
  packages/domain/projet/src/lauréat/installation/dispositif-de-stockage/changement/enregistrer/enregistrerChangementDispositifDeStockage.options.ts
  packages/domain/projet/src/lauréat/installation/dispositif-de-stockage/changement/enregistrer/enregistrerChangementDispositifDeStockage.usecase.ts
  packages/domain/projet/src/lauréat/installation/dispositif-de-stockage/changement/lister/listerChangementDispositifDeStockagequery.ts
  packages/domain/projet/src/lauréat/installation/dispositif-de-stockage/dispositifDeStockage.event.ts
  packages/domain/projet/src/lauréat/installation/dispositif-de-stockage/dispositifDeStockage.register.ts
  packages/domain/projet/src/lauréat/installation/dispositif-de-stockage/typeDocumentIDispositifDeStockage.valueType.ts
  packages/domain/projet/src/lauréat/installation/index.ts
  packages/domain/projet/src/lauréat/installation/installation.aggregate.ts
  packages/specifications/src/projet/lauréat/puissance/changement/enregistrerChangementPuissance.feature
Due: eslint --fix, prettier -w

🎨 Projecteur
  packages/applications/projectors/src/subscribers/lauréat/installation/dispositif-de-stockage/changementDispositifDeStockageEnregistré.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/installation/dispositif-de-stockage/dispositifDeStockageModifié.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/installation/index.ts
  packages/applications/projectors/src/subscribers/lauréat/installation/installateur/changementInstallateurEnregistré.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/installation/installateur/installateurModifié.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/installation/typologie-de-installation/typologieInstallationModifiée.projector.ts
  packages/domain/projet/src/lauréat/installation/index.ts
  packages/domain/projet/src/lauréat/installation/installateur/changement/enregistrerChangement/enregistrerChangementInstallateur.event.ts
  packages/domain/projet/src/lauréat/installation/installation.aggregate.ts
Due: eslint --fix

🎨 Notifications
  packages/applications/notifications/src/subscribers/lauréat/installation/constant.ts
  packages/applications/notifications/src/subscribers/lauréat/installation/handlers/changementDispositifDeStockageEnregistré.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/installation/handlers/index.ts
  packages/applications/notifications/src/subscribers/lauréat/installation/installation.notifications.ts
  packages/applications/routes/src/lauréat/installation.routes.ts
Due: eslint --fix

🎨 Test
  packages/domain/projet/src/lauréat/installation/index.ts
  packages/specifications/src/projet/lauréat/installation/installation.world.ts
  packages/specifications/src/projet/lauréat/installation/stepDefinitions/installation.when.ts
Due: eslint --fix

🎨 Update appels offres
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole2016.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI2017.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/batiment.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/eolien.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/fessenheim.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/innovation.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/pvEolien.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/sol.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni2017.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/autoconsommationMetropole.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/batiment.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/eolien.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/innovation.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/neutre.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/petitPVBâtiment.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/sol.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/zni.ppe2.ts
Due: eslint --fix

🎨 Update cdc value type
  packages/domain/projet/src/cahierDesCharges.valueType.ts
Due: eslint --fix

🎨 Map to timeline item props (historique projet)
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/(historique)/events/mapToDispositifDeStockageModifiéTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/(historique)/mapToInstallationTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/installateur/changement/[date]/(historique)/mapToInstallateurTimelineItemProps.tsx
Due: eslint --fix

🎨 Ref template mailjet
  packages/applications/notifications/src/subscribers/lauréat/installation/constant.ts
Due: eslint --fix

🎨 Subscriber notification
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupInstallation.ts
Due: eslint --fix

✅ Enregistrer changement
  packages/applications/notifications/src/subscribers/lauréat/installation/handlers/changementDispositifDeStockageEnregistré.handler.ts
  packages/applications/projectors/src/subscribers/lauréat/installation/dispositif-de-stockage/changementDispositifDeStockageEnregistré.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/installation/dispositif-de-stockage/dispositifDeStockageModifié.projector.ts
  packages/domain/projet/src/lauréat/installation/index.ts
  packages/specifications/src/projet/lauréat/installation/enregistrerChangementDispositifDeStockage.feature
  packages/specifications/src/projet/lauréat/installation/fixture/enregistrerChangementDispositifStockage.fixture.ts
  packages/specifications/src/projet/lauréat/installation/installation.world.ts
  packages/specifications/src/projet/lauréat/installation/modifierDispositifDeStockage.feature
  packages/specifications/src/projet/lauréat/installation/stepDefinitions/installation.then.ts
  packages/specifications/src/projet/lauréat/installation/stepDefinitions/installation.when.ts
Due: eslint --fix, prettier -w

✨ Front : formulaire
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/dispositif-de-stockage/changement/enregistrer/EnregistrerChangementDispositifDeStockage.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/dispositif-de-stockage/changement/enregistrer/EnregistrerChangementDispositifDeStockage.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/dispositif-de-stockage/changement/enregistrer/enregistrerChangementDispositifDeStockage.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/dispositif-de-stockage/changement/enregistrer/page.tsx
Due: eslint --fix

✏️ Typo
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/dispositif-de-stockage/modifier/modifierDispositifDeStockage.action.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.test.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.ts
Due: eslint --fix

🎨 Import ESM
  packages/applications/notifications/src/subscribers/lauréat/installation/handlers/changementDispositifDeStockageEnregistré.handler.ts
Due: eslint --fix

✨ Enregistrer, lister et afficher changemnet (front)
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getInstallation.ts
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/CreMenuLegacy.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/DrealMenuLegacy.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/PorteurMenuLegacy.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectActions.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/dispositif-de-stockage/changement/[date]/(historique)/events/mapToDispositifDeStockageImportéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/dispositif-de-stockage/changement/[date]/(historique)/mapToDispositifDeStockageTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/dispositif-de-stockage/changement/[date]/DétailsChangementDispositifDeStockage.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/dispositif-de-stockage/changement/[date]/DétailsChangementDispositifDeStockage.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/dispositif-de-stockage/changement/[date]/page.tsx
  packages/applications/ssr/src/app/laureats/changements/dispositif-de-stockage/ChangementInstallateurList.page.tsx
  packages/applications/ssr/src/app/laureats/changements/dispositif-de-stockage/ChangementInstallateurListItem.tsx
  packages/applications/ssr/src/app/laureats/changements/dispositif-de-stockage/page.tsx
  packages/applications/ssr/src/components/organisms/header/UserBasedRoleNavigation.tsx
  packages/domain/projet/src/lauréat/installation/dispositif-de-stockage/changement/consulter/consulterChangementDispositifDeStockage.query.ts
  packages/domain/projet/src/lauréat/installation/dispositif-de-stockage/changement/lister/listerChangementDispositifDeStockagequery.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/projet/lauréat/installation/stepDefinitions/installation.then.ts
Due: eslint --fix

✅ Fix test puissance de site
  packages/specifications/src/projet/lauréat/puissance/changement/enregistrerChangementPuissance.feature
Due: prettier -w

🎨 Review
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/(historique)/events/mapToDispositifDeStockageMisÀJourTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/(historique)/events/mapToDispositifDeStockageModifiéTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/(historique)/mapToInstallationTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/dispositif-de-stockage/DétailsDispositifDeStockage.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/dispositif-de-stockage/changement/[date]/(historique)/events/mapToDispositifDeStockageImportéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/dispositif-de-stockage/changement/[date]/(historique)/mapToDispositifDeStockageTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/dispositif-de-stockage/changement/[date]/DétailsChangementDispositifDeStockage.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/dispositif-de-stockage/changement/[date]/DétailsChangementDispositifDeStockage.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/dispositif-de-stockage/changement/enregistrer/EnregistrerChangementDispositifDeStockage.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/dispositif-de-stockage/changement/enregistrer/EnregistrerChangementDispositifDeStockage.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/dispositif-de-stockage/modifier/ModifierDispositifDeStockage.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/installateur/changement/[date]/DétailsChangementInstallateur.page.tsx
  packages/applications/ssr/src/app/laureats/changements/dispositif-de-stockage/ChangementDispositifDeStockageList.page.tsx
  packages/applications/ssr/src/app/laureats/changements/dispositif-de-stockage/ChangementDispositifDeStockageListItem.tsx
  packages/applications/ssr/src/app/laureats/changements/dispositif-de-stockage/page.tsx
  packages/domain/projet/src/lauréat/installation/dispositif-de-stockage/changement/consulter/consulterChangementDispositifDeStockage.query.ts
  packages/domain/projet/src/lauréat/installation/dispositif-de-stockage/changement/lister/listerChangementDispositifDeStockage.query.ts
  packages/domain/projet/src/lauréat/installation/dispositif-de-stockage/dispositifDeStockage.register.ts
  packages/domain/projet/src/lauréat/installation/dispositif-de-stockage/typeDocumentDispositifDeStockage.valueType.ts
  packages/domain/projet/src/lauréat/installation/index.ts
  packages/domain/projet/src/lauréat/installation/installation.aggregate.ts
  packages/specifications/src/projet/lauréat/installation/enregistrerChangementDispositifDeStockage.feature
Due: eslint --fix, prettier -w

🎨 Fix test
  packages/specifications/src/projet/lauréat/installation/enregistrerChangementDispositifDeStockage.feature
Due: prettier -w

♻️ Fichier fixtures
  packages/specifications/src/projet/lauréat/installation/fixture/enregistrerChangementDispositifStockage.fixture.ts
  packages/specifications/src/projet/lauréat/installation/fixture/enregistrerChangementInstallateur.fixture.ts
  packages/specifications/src/projet/lauréat/installation/stepDefinitions/installation.when.ts
Due: eslint --fix

✅ Check fichiers
  packages/specifications/src/projet/lauréat/installation/installation.world.ts
  packages/specifications/src/projet/lauréat/installation/stepDefinitions/installation.then.ts
Due: eslint --fix

🔥 Suppression double check recipents
  packages/applications/notifications/src/subscribers/lauréat/installation/handlers/changementDispositifDeStockageEnregistré.handler.ts
Due: eslint --fix

⬆️ Bump esbuild
  package-lock.json
  package.json
Due: eslint --fix, prettier -w

⬆️ Bump turbo
  package-lock.json
  package.json
Due: eslint --fix, prettier -w

✏️ Typo dans l'historique
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/events/dossier/dateMiseEnService/mapToDateMiseEnServiceTransmiseTimelineItemProps.tsx
Due: eslint --fix

⬆️ Mises à jour de sécurité (#3713)
  package-lock.json
  package.json
  packages/applications/legacy/package.json
  packages/applications/request-context/package.json
  packages/applications/ssr/package.json
Due: eslint --fix, prettier -w
