Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

💚 Ajout du step verify_statistics dans la CI
  .github/workflows/shared-workflow.yml
Due: eslint --fix, prettier -w

🎨 Group by plus explicite
  packages/statistiques/statistiques-publiques/src/01-ensemble-des-projets/totalPuissanceParAppelOffre.statistic.ts
Due: eslint --fix

Ajout de l'appel d'offre Test (#3097)
  packages/domain/inmemory-referential/src/appelOffre/index.ts
  packages/domain/inmemory-referential/src/appelOffre/test.ts
Due: eslint --fix

🐛 Adapter la stat "total puissance par AO" pour qu'elle fonctionne avec le changement de read model (#3098)
  .database/metabase-dev.dump
  .github/workflows/shared-workflow.yml
  packages/statistiques/statistiques-publiques/src/01-ensemble-des-projets/totalPuissanceParAppelOffre.statistic.ts
Due: eslint --fix, prettier -w

🐛 Missing env var
  .github/workflows/shared-workflow.yml
Due: eslint --fix, prettier -w

🐛 Redirection après dés-/ré-activation d'un utilisateur
  packages/applications/ssr/src/components/pages/utilisateur/désactiver/désactiverUtilisateur.action.ts
  packages/applications/ssr/src/components/pages/utilisateur/lister/UtilisateurListItem.tsx
  packages/applications/ssr/src/components/pages/utilisateur/réactiver/réactiverUtilisateur.action.ts
Due: eslint --fix

🐛 Ajout du step manquant "un CDC modificatif choisi"
  packages/specifications/src/projet/lauréat/puissance/modifierPuissance.feature
Due: prettier -w

🐛 Corrections sur les tâches de raccordement + CLI pour achever une tâche
  package-lock.json
  packages/applications/cli/package.json
  packages/applications/cli/src/commands/tache/achever.ts
  packages/applications/ssr/src/components/pages/tâche/TâcheListItem.tsx
  packages/domain/tâche/src/tâche.ts
Due: eslint --fix, prettier -w

🐛 Redirection après dés-/ré-activation d'un utilisateur (#3100)
  packages/applications/ssr/src/components/pages/utilisateur/désactiver/désactiverUtilisateur.action.ts
  packages/applications/ssr/src/components/pages/utilisateur/lister/UtilisateurListItem.tsx
  packages/applications/ssr/src/components/pages/utilisateur/réactiver/réactiverUtilisateur.action.ts
Due: eslint --fix

♻️ Vérifier que la période permet une demande de Recours (#3089)
  packages/domain/projet/src/éliminé/recours/recours.aggregate.ts
  packages/domain/projet/src/éliminé/recours/recours.error.ts
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
  packages/specifications/src/projet/éliminé/recours/annulerRecours.feature
  packages/specifications/src/projet/éliminé/recours/demanderRecours.feature
  packages/specifications/src/projet/éliminé/recours/passerRecoursEnInstruction.feature
  packages/specifications/src/projet/éliminé/recours/rejeterRecours.feature
  packages/specifications/src/projet/éliminé/stepDefinitions/éliminé.given.ts
Due: eslint --fix, prettier -w

🔒️ Permissions de la page utilisateurs
  packages/applications/ssr/src/app/utilisateurs/[identifiant]/page.tsx
  packages/applications/ssr/src/app/utilisateurs/page.tsx
  packages/domain/utilisateur/src/index.ts
  packages/domain/utilisateur/src/lister/listerPorteurs.query.ts
  packages/domain/utilisateur/src/lister/listerUtilisateurs.query.ts
  packages/domain/utilisateur/src/register.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🐛 Contain
  packages/domain/utilisateur/src/lister/listerUtilisateurs.query.ts
Due: eslint --fix

🐛 Corrections sur les tâches de raccordement + CLI pour achever une tâche (#3101)
  package-lock.json
  packages/applications/cli/package.json
  packages/applications/cli/src/commands/tache/achever.ts
  packages/applications/ssr/src/components/pages/tâche/TâcheListItem.tsx
  packages/domain/tâche/src/tâche.ts
Due: eslint --fix, prettier -w

🔒️ Permissions de la page utilisateurs (#3105)
  packages/applications/ssr/src/app/utilisateurs/[identifiant]/page.tsx
  packages/applications/ssr/src/app/utilisateurs/page.tsx
  packages/domain/utilisateur/src/index.ts
  packages/domain/utilisateur/src/lister/listerPorteurs.query.ts
  packages/domain/utilisateur/src/lister/listerUtilisateurs.query.ts
  packages/domain/utilisateur/src/register.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

⚰️ Suppression de ``récupérerProjetAdapter``
  packages/applications/bootstrap/src/setupProjet.ts
  packages/applications/notifications/src/_utils/récupérerCandidature.ts
  packages/applications/notifications/src/_utils/récupérerNomProjet.ts
  packages/applications/notifications/src/subscribers/accès/accèsProjetRetiré.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/abandon.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/achèvement.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/index.ts
  packages/applications/notifications/src/subscribers/lauréat/garantiesFinancières.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/producteur/index.ts
  packages/applications/notifications/src/subscribers/lauréat/puissance/index.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/index.ts
  packages/applications/notifications/src/subscribers/lauréat/tâche-planifiée/index.ts
  packages/applications/notifications/src/subscribers/utilisateur/porteurInvité.notification.ts
  packages/applications/notifications/src/subscribers/éliminé/recours.notification.ts
  packages/applications/scheduled-tasks/src/garanties-financières/récupérer-fichier-gf-candidature-référentiel-dgec.ts
  packages/infrastructure/domain-adapters/src/index.ts
  packages/infrastructure/domain-adapters/src/projet/récupérerProjetsEligiblesPreuveRecanditureAdapter.adapter.ts
Due: eslint --fix

♻️ BaseUrl
  packages/applications/notifications/src/_utils/récupérerNomProjet.ts
  packages/applications/notifications/src/helpers/getCandidature.ts
  packages/applications/notifications/src/subscribers/accès/accèsProjetRetiré.notification.ts
  packages/applications/notifications/src/subscribers/candidature/candidature.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/abandon.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/achèvement.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/actionnaireModifié.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/changementActionnaireAccordé.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/changementActionnaireAnnulé.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/changementActionnaireEnregistré.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/changementActionnaireRejeté.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/index.ts
  packages/applications/notifications/src/subscribers/lauréat/garantiesFinancières.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/producteur/index.ts
  packages/applications/notifications/src/subscribers/lauréat/producteur/producteurModifié.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/puissance/changement/changementPuissanceAccordé.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/puissance/changement/changementPuissanceAnnulé.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/puissance/changement/changementPuissanceEnregistré.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/puissance/changement/changementPuissanceRejeté.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/puissance/index.ts
  packages/applications/notifications/src/subscribers/lauréat/puissance/puissanceModifiée.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/changementReprésentantLégalAccordé.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/changementReprésentantLégalAnnulé.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/changementReprésentantLégalRejeté.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/index.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/représentantLégalModifié.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/tâche-planifiée/index.ts
  packages/applications/notifications/src/subscribers/période/période.notification.ts
  packages/applications/notifications/src/subscribers/utilisateur/porteurInvité.notification.ts
  packages/applications/notifications/src/subscribers/utilisateur/utilisateurInvité.notification.ts
  packages/applications/notifications/src/subscribers/éliminé/recours.notification.ts
Due: eslint --fix

🐛 Ne pas afficher un enregistrement de modif pour les dreal / admin pour un projet éliminé
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectActions.tsx
Due: eslint --fix

🐛 Ne pas afficher un enregistrement de modif pour les dreal / admin pour un projet éliminé (#3106)
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectActions.tsx
Due: eslint --fix

🚧 WIP page
  packages/applications/routes/src/projet/projet.routes.ts
  packages/applications/ssr/src/app/projets/[identifiant]/page.tsx
  packages/applications/ssr/src/components/molecules/projet/ProjetBanner.tsx
  packages/applications/ssr/src/components/pages/projet/éliminé/détails/DétailsProjetÉliminé.page.tsx
Due: eslint --fix

🚧 WIP
  packages/applications/ssr/src/components/atoms/headings/Heading2.tsx
  packages/applications/ssr/src/components/pages/projet/éliminé/détails/DétailsProjetÉliminé.page.tsx
Due: eslint --fix

🎨 Rediriger vers la page éliminé ssr
  packages/applications/legacy/src/controllers/project/getProjectPage/index.ts
  packages/applications/routes/src/index.ts
  packages/applications/routes/src/projet/projet.routes.ts
  packages/applications/routes/src/éliminé/index.ts
  packages/applications/routes/src/éliminé/éliminé.routes.ts
  packages/applications/ssr/src/app/elimine/[identifiant]/page.tsx
Due: eslint --fix

🎨 Barrel file for helpers
  packages/applications/notifications/src/helpers/getBaseUrl.ts
  packages/applications/notifications/src/helpers/index.ts
  packages/applications/notifications/src/subscribers/accès/accèsProjetRetiré.notification.ts
  packages/applications/notifications/src/subscribers/candidature/candidature.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/abandon.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/achèvement.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/actionnaireModifié.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/changementActionnaireAccordé.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/changementActionnaireAnnulé.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/changementActionnaireDemandé.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/changementActionnaireEnregistré.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/changementActionnaireRejeté.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/index.ts
  packages/applications/notifications/src/subscribers/lauréat/garantiesFinancières.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/lauréat/cahierDesChargesChoisi.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/producteur/changementProducteurEnregistré.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/producteur/index.ts
  packages/applications/notifications/src/subscribers/lauréat/producteur/producteurModifié.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/puissance/changement/changementPuissanceAccordé.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/puissance/changement/changementPuissanceAnnulé.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/puissance/changement/changementPuissanceDemandé.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/puissance/changement/changementPuissanceEnregistré.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/puissance/changement/changementPuissanceRejeté.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/puissance/index.ts
  packages/applications/notifications/src/subscribers/lauréat/puissance/puissanceModifiée.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/changementReprésentantLégalAccordé.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/changementReprésentantLégalAnnulé.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/changementReprésentantLégalCorrigé.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/changementReprésentantLégalDemandé.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/changementReprésentantLégalRejeté.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/index.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/représentantLégalModifié.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/tâche-planifiée/garantiesFinancièresRappelÉchéance.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/tâche-planifiée/index.ts
  packages/applications/notifications/src/subscribers/lauréat/tâche-planifiée/représentantLégalRappelInstructionÀDeuxMois.notification.ts
  packages/applications/notifications/src/subscribers/période/période.notification.ts
  packages/applications/notifications/src/subscribers/utilisateur/porteurInvité.notification.ts
  packages/applications/notifications/src/subscribers/utilisateur/utilisateurInvité.notification.ts
  packages/applications/notifications/src/subscribers/éliminé/recours.notification.ts
Due: eslint --fix

🐛 Ne pas pouvoir passer en instruction un abandon confirmé ou avec une confirmation demandée
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/page.tsx
  packages/domain/projet/src/lauréat/abandon/statutAbandon.valueType.ts
  packages/domain/projet/src/lauréat/abandon/statutPreuveRecandidature.valueType.ts
  packages/specifications/src/projet/lauréat/abandon/passerAbandonEnInstruction.feature
Due: eslint --fix, prettier -w

🎨 Conditionner le lien depuis la liste
  packages/applications/legacy/src/controllers/project/getListeProjetsPage.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/index.ts
  packages/applications/legacy/src/infra/sequelize/queries/project/lister/requêtes/listerProjetsAccèsComplet.ts
  packages/applications/legacy/src/infra/sequelize/queries/project/lister/requêtes/listerProjetsAcheteurObligé.ts
  packages/applications/legacy/src/infra/sequelize/queries/project/lister/requêtes/listerProjetsPourAdeme.ts
  packages/applications/legacy/src/infra/sequelize/queries/project/lister/requêtes/listerProjetsPourCaisseDesDépôts.ts
  packages/applications/legacy/src/infra/sequelize/queries/project/lister/requêtes/listerProjetsPourDreal.ts
  packages/applications/legacy/src/infra/sequelize/queries/project/lister/requêtes/listerProjetsPourPorteur.ts
  packages/applications/legacy/src/modules/project/queries/listerProjets/ListerProjets.ts
  packages/applications/legacy/src/views/components/UI/organisms/ProjectList.tsx
  packages/applications/legacy/src/views/pages/ListeProjetsPage.tsx
  packages/applications/routes/src/index.ts
  packages/applications/routes/src/projet/projet.routes.ts
  packages/applications/routes/src/projet/éliminé.routes.ts
  packages/applications/routes/src/éliminé/index.ts
  packages/applications/routes/src/éliminé/éliminé.routes.ts
  packages/applications/ssr/src/app/projets/[identifiant]/page.tsx
  packages/applications/ssr/src/components/molecules/projet/ProjetBanner.template.tsx
Due: eslint --fix

💄 Affichage de la liste des porteurs d'un projet
  packages/applications/ssr/src/components/pages/utilisateur/lister/PorteurListItem.tsx
Due: eslint --fix

💄 Affichage de la liste des porteurs d'un projet (#3109)
  packages/applications/ssr/src/components/pages/utilisateur/lister/PorteurListItem.tsx
Due: eslint --fix

🎨 Afficher les informations nécessaires dans la page éliminé
  packages/applications/legacy/src/controllers/project/getListeProjetsPage.ts
  packages/applications/legacy/src/infra/sequelize/queries/project/lister/requêtes/listerProjetsAccèsComplet.ts
  packages/applications/legacy/src/infra/sequelize/queries/project/lister/requêtes/listerProjetsAcheteurObligé.ts
  packages/applications/legacy/src/infra/sequelize/queries/project/lister/requêtes/listerProjetsPourAdeme.ts
  packages/applications/legacy/src/infra/sequelize/queries/project/lister/requêtes/listerProjetsPourCaisseDesDépôts.ts
  packages/applications/legacy/src/infra/sequelize/queries/project/lister/requêtes/listerProjetsPourDreal.ts
  packages/applications/ssr/src/components/molecules/projet/ProjetBanner.template.tsx
  packages/applications/ssr/src/components/molecules/projet/ProjetBanner.tsx
  packages/applications/ssr/src/components/pages/projet/éliminé/détails/DétailsProjetÉliminé.page.tsx
Due: eslint --fix

♻️ Legacy getProjetsAvecAppelOffre refacto
  packages/applications/legacy/src/infra/sequelize/queries/project/lister/requêtes/_utils/getProjetsAvecAppelOffre.ts
  packages/applications/legacy/src/infra/sequelize/queries/project/lister/requêtes/listerProjetsAccèsComplet.ts
  packages/applications/legacy/src/infra/sequelize/queries/project/lister/requêtes/listerProjetsAcheteurObligé.ts
  packages/applications/legacy/src/infra/sequelize/queries/project/lister/requêtes/listerProjetsPourAdeme.ts
  packages/applications/legacy/src/infra/sequelize/queries/project/lister/requêtes/listerProjetsPourCaisseDesDépôts.ts
  packages/applications/legacy/src/infra/sequelize/queries/project/lister/requêtes/listerProjetsPourDreal.ts
  packages/applications/legacy/src/infra/sequelize/queries/project/lister/requêtes/listerProjetsPourPorteur.ts
Due: eslint --fix

♻️ Simplify attributes showed in project list
  packages/applications/legacy/src/infra/sequelize/queries/project/lister/requêtes/_utils/allAttributes.ts
  packages/applications/legacy/src/infra/sequelize/queries/project/lister/requêtes/_utils/index.ts
  packages/applications/legacy/src/infra/sequelize/queries/project/lister/requêtes/listerProjetsAccèsComplet.ts
  packages/applications/legacy/src/infra/sequelize/queries/project/lister/requêtes/listerProjetsAcheteurObligé.ts
  packages/applications/legacy/src/infra/sequelize/queries/project/lister/requêtes/listerProjetsPourAdeme.ts
  packages/applications/legacy/src/infra/sequelize/queries/project/lister/requêtes/listerProjetsPourCaisseDesDépôts.ts
  packages/applications/legacy/src/infra/sequelize/queries/project/lister/requêtes/listerProjetsPourDreal.ts
Due: eslint --fix

🎨 Télécharger l'attestation de désignation depuis la page éliminé
  packages/applications/ssr/src/app/projets/[identifiant]/page.tsx
  packages/applications/ssr/src/components/pages/candidature/détails/DétailsCandidature.page.tsx
  packages/applications/ssr/src/components/pages/candidature/lister/CandidatureListItemActions.tsx
  packages/applications/ssr/src/components/pages/projet/éliminé/détails/DétailsProjetÉliminé.page.tsx
Due: eslint --fix

🎨 Redirection vers page éliminé depuis le controller getProjectPage
  packages/applications/legacy/src/controllers/project/getProjectPage/index.ts
Due: eslint --fix

🎨 Les DREALS doivent pouvoir voir l'évaluation carbone depuis la liste des projets
  packages/applications/legacy/src/infra/sequelize/queries/project/lister/requêtes/listerProjetsPourDreal.ts
Due: eslint --fix

🎨 Ne pas proposer de pouvoir demander un recours si l'éliminé doit choisir un nouveau CDC pour faire l'action
  packages/applications/ssr/src/app/projets/[identifiant]/page.tsx
Due: eslint --fix

🎨 Afficher l'unité de puissance
  packages/applications/ssr/src/app/projets/[identifiant]/page.tsx
  packages/applications/ssr/src/components/pages/projet/éliminé/détails/DétailsProjetÉliminé.page.tsx
Due: eslint --fix

🚸 Ouvrir les liens externes dans un nouvel onglet (legacy)
  packages/applications/legacy/src/views/components/UI/molecules/dropdowns/DropdownMenu.tsx
Due: eslint --fix

🐛 Le champs gestionnaire de réseau est requis
  packages/applications/ssr/src/components/pages/réseau/raccordement/GestionnaireRéseauSelect.tsx
Due: eslint --fix

🐛 Inviter un Porteur à tous les projets
  packages/applications/legacy/src/sagas/accès.saga.ts
  packages/applications/legacy/src/sagas/registerSagas.ts
  packages/applications/legacy/src/sagas/utilisateur.saga.ts
  packages/applications/ssr/src/app/utilisateurs/[identifiant]/page.tsx
  packages/applications/ssr/src/components/pages/utilisateur/inviter/inviterPorteur.action.ts
  packages/domain/projet/src/accès/autoriser/autoriserAccèsProjet.command.ts
  packages/domain/projet/src/accès/autoriser/autoriserAccèsProjet.usecase.ts
  packages/domain/période/src/notifier/notifierPériode.command.ts
  packages/domain/utilisateur/src/inviter/inviterPorteur.command.ts
  packages/domain/utilisateur/src/inviter/inviterPorteur.usecase.ts
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.given.ts
  packages/specifications/src/projet/éliminé/stepDefinitions/éliminé.given.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.when.ts
Due: eslint --fix

🚸 Ouvrir les liens externes dans un nouvel onglet (legacy) (#3111)
  packages/applications/legacy/src/views/components/UI/molecules/dropdowns/DropdownMenu.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
