Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml,feature}": "prettier -w"
}

review hanae
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(demande-complète-raccordement)/InformationDemandeComplèteRaccordement.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/components/DossierRaccordement.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/DossiersRaccordement.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/_helpers/getDemandeComplèteDeRaccordementActions.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/_helpers/getDocumentActions.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/_helpers/index.ts
Due: eslint --fix

amelioration apres tests dump
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/components/DossierRaccordement.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/DossiersRaccordement.section.tsx
Due: eslint --fix

affichage badge
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/RaccordementDétails.tsx
Due: eslint --fix

✨ Modifier l'actionnaire requiert un changement
  packages/domain/projet/src/lauréat/actionnaire/actionnaire.aggregate.ts
  packages/domain/projet/src/lauréat/actionnaire/errors.ts
  packages/specifications/src/projet/lauréat/actionnaire/fixtures/modifierActionnaire.fixture.ts
  packages/specifications/src/projet/lauréat/actionnaire/modifierActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/stepDefinitions/actionnaire.when.ts
Due: eslint --fix, prettier -w

details
  packages/domain/projet/src/lauréat/actionnaire/errors.ts
  packages/specifications/src/projet/lauréat/actionnaire/modifierActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/stepDefinitions/actionnaire.when.ts
Due: eslint --fix, prettier -w

dreal associée au projet
  packages/specifications/src/projet/lauréat/actionnaire/accorderChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/rejeterChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/stepDefinitions/actionnaire.when.ts
  packages/specifications/src/projet/lauréat/délai/accorderDemandeDélai.feature
  packages/specifications/src/projet/lauréat/délai/rejeterDemandeDélai.feature
  packages/specifications/src/projet/lauréat/délai/stepDefinitions/délai.when.ts
  packages/specifications/src/projet/lauréat/fournisseur/modifierFournisseur.feature
  packages/specifications/src/projet/lauréat/fournisseur/stepDefinitions/fournisseur.when.ts
  packages/specifications/src/projet/lauréat/puissance/changement/accorderChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/rejeterChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/stepDefinitions/changementPuissance.when.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/accorderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/rejeterChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.when.ts
  packages/specifications/src/utilisateur/désactiverUtilisateur.feature
Due: eslint --fix, prettier -w

lint
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(demande-complète-raccordement)/InformationDemandeComplèteRaccordement.tsx
Due: eslint --fix

commande migration projets
  packages/applications/cli/src/commands/candidature/migrer-volume-reserve.ts
Due: eslint --fix

✨ Modifier l'actionnaire requiert un changement (#4419)
  packages/domain/projet/src/lauréat/actionnaire/actionnaire.aggregate.ts
  packages/domain/projet/src/lauréat/actionnaire/errors.ts
  packages/specifications/src/projet/lauréat/actionnaire/accorderChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/fixtures/modifierActionnaire.fixture.ts
  packages/specifications/src/projet/lauréat/actionnaire/modifierActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/rejeterChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/stepDefinitions/actionnaire.when.ts
  packages/specifications/src/projet/lauréat/délai/accorderDemandeDélai.feature
  packages/specifications/src/projet/lauréat/délai/rejeterDemandeDélai.feature
  packages/specifications/src/projet/lauréat/délai/stepDefinitions/délai.when.ts
  packages/specifications/src/projet/lauréat/fournisseur/modifierFournisseur.feature
  packages/specifications/src/projet/lauréat/fournisseur/stepDefinitions/fournisseur.when.ts
  packages/specifications/src/projet/lauréat/puissance/changement/accorderChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/rejeterChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/stepDefinitions/changementPuissance.when.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/accorderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/rejeterChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.when.ts
  packages/specifications/src/utilisateur/désactiverUtilisateur.feature
Due: eslint --fix, prettier -w

🎨 Vérification des permissions sur les routes next (#4420)
  packages/applications/ssr/src/app/candidatures/export-fournisseurs/route.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/documents/(sections)/Documents.section.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/[date]/modele-reponse/route.ts
  packages/applications/ssr/src/app/elimines/export/route.ts
  packages/applications/ssr/src/app/export/page.tsx
  packages/applications/ssr/src/app/garanties-financieres/projets-en-attente/ListerProjetsAvecGarantiesFinancièresEnAttente.page.tsx
  packages/applications/ssr/src/app/garanties-financieres/projets-en-attente/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/documents/(sections)/Documents.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/modele-reponse/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/modele-reponse/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/modele-reponse/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/mainlevee/modele-mise-en-demeure/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/mainlevee/modele-reponse-mainlevee/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/modele-reponse/route.ts
  packages/applications/ssr/src/app/laureats/export/route.ts
  packages/applications/ssr/src/app/reseaux/gestionnaires/[identifiant]/raccordements/mise-en-service-en-attente:exporter/route.ts
  packages/applications/ssr/src/components/organisms/header/UserBasedRoleNavigation.tsx
  packages/domain/utilisateur/src/role.valueType.ts
  packages/domain/utilisateur/src/utilisateur.error.ts
Due: eslint --fix

Suppression com
  packages/domain/projet/src/candidature/candidature.aggregate.ts
Due: eslint --fix

review commande CLI
  packages/applications/cli/src/commands/candidature/migrer-volume-reserve.ts
Due: eslint --fix

fix test
  packages/specifications/src/projet/lauréat/puissance/changement/demanderChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/enregistrerChangementPuissance.feature
Due: prettier -w

typo
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(demande-complète-raccordement)/demande-complete-raccordement:modifier/modifierDemandeComplèteRaccordement.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/reference:corriger/corrigerRéférenceDossier.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/demande-complete-raccordement:transmettre/transmettreDemandeComplèteRaccordement.action.ts
  packages/applications/ssr/src/utils/candidature/dépôt.schema.ts
Due: eslint --fix

✨ Ajouter le volume réservé à l'instruction des candidatures (#4429)
  .demo/exempleCandidatsPPE2.csv
  .demo/exempleCandidatsPPE2BatimentPériode6.csv
  .demo/import-instruction-ds.csv
  packages/applications/cli/src/commands/candidature/lister-dossiers.ts
  packages/applications/cli/src/commands/candidature/migrer-volume-reserve.ts
  packages/applications/document-builder/src/candidature/attestation/buildCertificate.ts
  packages/applications/ssr/src/app/candidatures/importer/(demarche-simplifiée)/ImporterCandidaturesParDémarcheNumérique.form.tsx
  packages/applications/ssr/src/app/candidatures/importer/(demarche-simplifiée)/importerCandidaturesParDémarcheNumérique.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/demander/DemanderChangementPuissance.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/demander/DemanderChangementPuissance.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/demander/DemanderChangementPuissanceFormErrors.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/demander/page.tsx
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.test.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsvFields.schema.ts
  packages/applications/ssr/src/utils/candidature/csv/récupérerColonnesRequises.ts
  packages/applications/ssr/src/utils/candidature/instruction.schema.ts
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/batiment.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/sol.ppe2.ts
  packages/domain/projet/src/candidature/candidature.aggregate.ts
  packages/domain/projet/src/candidature/candidature.entity.ts
  packages/domain/projet/src/candidature/importer/candidatureImportée.event.ts
  packages/domain/projet/src/candidature/instruction.valueType.ts
  packages/domain/projet/src/lauréat/puissance/consulter/consulterVolumeRéservé.query.ts
  packages/domain/projet/src/lauréat/puissance/index.ts
  packages/domain/projet/src/lauréat/puissance/puissance.aggregate.ts
  packages/domain/projet/src/lauréat/puissance/puissance.register.ts
  packages/domain/projet/src/lauréat/puissance/valueType/ratioChangementPuissance.valueType.ts
  packages/domain/projet/src/lauréat/puissance/valueType/volumeRéservé.valueType.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/candidature/candidature.exempleMap.ts
  packages/specifications/src/candidature/fixtures/importerCandidature.fixture.ts
  packages/specifications/src/candidature/importerCandidature.feature
  packages/specifications/src/helpers/getAppelOffresChampsSupplémentaires.ts
  packages/specifications/src/projet/lauréat/puissance/changement/demanderChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/enregistrerChangementPuissance.feature
Due: eslint --fix, prettier -w

🐛 bug - caractères non autorisés dans les path de document (#4437)
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(demande-complète-raccordement)/demande-complete-raccordement:modifier/ModifierDemandeComplèteRaccordement.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(demande-complète-raccordement)/demande-complete-raccordement:modifier/modifierDemandeComplèteRaccordement.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(demande-complète-raccordement)/demande-complete-raccordement:modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/reference:corriger/CorrigerRéférenceDossier.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/reference:corriger/corrigerRéférenceDossier.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/demande-complete-raccordement:transmettre/TransmettreDemandeComplèteRaccordement.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/demande-complete-raccordement:transmettre/transmettreDemandeComplèteRaccordement.action.ts
  packages/applications/ssr/src/utils/candidature/csv/_test-shared.ts
  packages/applications/ssr/src/utils/candidature/dépôt.schema.test.ts
  packages/applications/ssr/src/utils/candidature/dépôt.schema.ts
  packages/domain/common/src/valueTypes/expressionRegulière.valueType.ts
  packages/domain/projet/src/document-projet/dossierProjet.valueType.ts
Due: eslint --fix

update dump
  .database/potentiel-dev.dump
Due: none

update dump (#4443)
  .database/potentiel-dev.dump
Due: none

suppresion des alertes liées à Notice
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/accorder/AccorderAbandonSansRecandidature.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/mainlevee/demander/DemanderMainlevée.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/changement/enregistrer/InfoBoxProducteur.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/numero-identification/corriger/CorrigerNuméroIdentification.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/components/AucunDossierDeRaccordementAlert.tsx
Due: eslint --fix

back
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/mainlevee/demander/DemanderMainlevée.page.tsx
Due: eslint --fix

🐛 suppresion des alertes liées à Notice (#4445)
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/accorder/AccorderAbandonSansRecandidature.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/mainlevee/demander/DemanderMainlevée.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/changement/enregistrer/InfoBoxProducteur.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/numero-identification/corriger/CorrigerNuméroIdentification.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/components/AucunDossierDeRaccordementAlert.tsx
Due: eslint --fix

🎨 Ajout d'un garde fou qui empêche la synchronisation de bucket si plus de 1500 objets ont été modifiés
  .scripts/s3-backup.sh
Due: none

🐛 Rebuild projector + history si rebuild d'un seul streamId
  packages/applications/cli/src/commands/projection/rebuild.ts
Due: eslint --fix

🐛 Rebuild projector + history si rebuild d'un seul streamId (#4447)
  packages/applications/cli/src/commands/projection/rebuild.ts
Due: eslint --fix

debut
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/events/dossier/demande-complète-de-raccordement/mapToAccuséRéceptionDemandeComplèteRaccordementTransmisTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/events/dossier/demande-complète-de-raccordement/mapToDemandeComplèteDeRaccordementTransmiseTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/events/dossier/mapToDossierRaccordementSuppriméTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/events/gestionnaire-réseau/mapToGestionnaireRéseauAttribuéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/events/gestionnaire-réseau/mapToGestionnaireRéseauRaccordementModifiéTimelineItemProps.tsx
Due: eslint --fix

🎨 Ajout d'un garde fou qui empêche la synchronisation de bucket si plus de 2000 objets ont été modifiés (#4446)
  .scripts/s3-backup.sh
Due: none

🚸 Ajout d'une indication sur l'environnement en cours (warning prod) pour les admin
  packages/applications/ssr/src/components/organisms/Footer.tsx
  packages/applications/ssr/src/components/organisms/header/Header.tsx
Due: eslint --fix

dossier titre
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/components/DossierRaccordement.tsx
Due: eslint --fix

CRD vs CDR
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/Raccordement.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/components/DossierRaccordement.tsx
  packages/domain/projet/src/lauréat/raccordement/consulter/consulterDossierRaccordement.query.ts
  packages/domain/projet/src/lauréat/raccordement/document/typeDocumentsRaccordement.valueType.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/stepDefinitions/documentRaccordement.given.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/stepDefinitions/documentRaccordement.when.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/supprimerUnDocumentRaccordement.feature
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/transmettreUnDocumentRaccordement.feature
Due: eslint --fix, prettier -w

disabled si peu d'options
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/document/transmettre/TransmettreDocument.form.tsx
Due: eslint --fix

clé
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/document/transmettre/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/DossiersRaccordement.section.tsx
  packages/domain/projet/src/lauréat/raccordement/consulter/consulterDossierRaccordement.query.ts
  packages/domain/projet/src/lauréat/raccordement/document/documentRaccordement.valueType.ts
  packages/domain/projet/src/lauréat/raccordement/document/typeDocumentsRaccordement.valueType.ts
  packages/domain/projet/src/lauréat/raccordement/dossierRaccordement.entity.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/référenceDossierRaccordement/modifierRéférenceDossierRaccordement.usecase.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/specifications/src/projet/lauréat/raccordement/raccordement.world.ts
Due: eslint --fix

🐛 Retours raccordement (#4451)
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/Raccordement.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/document/transmettre/TransmettreDocument.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/document/transmettre/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/components/DossierRaccordement.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/DossiersRaccordement.section.tsx
  packages/domain/projet/src/lauréat/raccordement/consulter/consulterDossierRaccordement.query.ts
  packages/domain/projet/src/lauréat/raccordement/document/documentRaccordement.valueType.ts
  packages/domain/projet/src/lauréat/raccordement/document/typeDocumentsRaccordement.valueType.ts
  packages/domain/projet/src/lauréat/raccordement/dossierRaccordement.entity.ts
  packages/domain/projet/src/lauréat/raccordement/modifier/référenceDossierRaccordement/modifierRéférenceDossierRaccordement.usecase.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/stepDefinitions/documentRaccordement.given.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/stepDefinitions/documentRaccordement.when.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/supprimerUnDocumentRaccordement.feature
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/transmettreUnDocumentRaccordement.feature
  packages/specifications/src/projet/lauréat/raccordement/raccordement.world.ts
Due: eslint --fix, prettier -w

🎨 Ajout d'un badge fixé
  packages/applications/ssr/src/app/layout.tsx
  packages/applications/ssr/src/components/organisms/header/Header.tsx
Due: eslint --fix

premiere refacto
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(demande-complète-raccordement)/demande-complete-raccordement:modifier/ModifierDemandeComplèteRaccordement.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(demande-complète-raccordement)/demande-complete-raccordement:modifier/modifierDemandeComplèteRaccordement.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(demande-complète-raccordement)/demande-complete-raccordement:modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/reference:corriger/CorrigerRéférenceDossier.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/components/RéférenceDossierInput.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/demande-complete-raccordement:transmettre/TransmettreDemandeComplèteRaccordement.form.tsx
Due: eslint --fix

Export csv candidats : colonne en doublon
  packages/applications/ssr/src/app/candidatures/export/route.ts
Due: eslint --fix

better test et rôle
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/projet/lauréat/raccordement/demandeComplèteDeRaccordement/modifierRéférenceDemandeComplèteDeRaccordement.feature
Due: eslint --fix, prettier -w

🚸 Ajout d'une indication sur l'environnement (warning prod) pour les admin (#4450)
  packages/applications/ssr/src/app/layout.tsx
  packages/applications/ssr/src/components/organisms/Footer.tsx
  packages/applications/ssr/src/components/organisms/header/Header.tsx
Due: eslint --fix

front fix et factorisation
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(demande-complète-raccordement)/InformationDemandeComplèteRaccordement.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(demande-complète-raccordement)/demande-complete-raccordement:modifier/ModifierDemandeComplèteRaccordement.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(demande-complète-raccordement)/demande-complete-raccordement:modifier/ModifierDemandeComplèteRaccordement.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(demande-complète-raccordement)/demande-complete-raccordement:modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/date-mise-en-service/DateMiseEnServiceAlert.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/date-mise-en-service/modifier/ModifierDateMiseEnService.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/date-mise-en-service/transmettre/TransmettreDateMiseEnService.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/reference:corriger/CorrigerRéférenceDossierRaccordement.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/reference:corriger/CorrigerRéférenceDossierRaccordement.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/reference:corriger/corrigerRéférenceDossierRaccordement.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/reference:corriger/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/demande-complete-raccordement:transmettre/TransmettreDemandeComplèteRaccordement.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/_helpers/getDemandeComplèteDeRaccordementActions.ts
Due: eslint --fix

default value
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(demande-complète-raccordement)/demande-complete-raccordement:modifier/ModifierDemandeComplèteRaccordement.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/reference:corriger/CorrigerRéférenceDossierRaccordement.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/components/RéférenceDossierInput.tsx
Due: eslint --fix
