Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml,feature}": "prettier -w"
}

🐛 Affichage du lien de téléchargement de l'attestation dans la page projet + historique si le projet a bien une attestation
  packages/applications/legacy/src/controllers/project/getProjectPage/index.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectActions.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectHeader.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/EtapesProjet.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/historique/page.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/lauréat/events/mapToLauréatNotifiéTimelineItemProps.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/lauréat/mapToLauréatTimelineItemProps.ts
Due: eslint --fix

♻️ Factorisation information enregistrée (#3558)
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/DétailsChangementActionnaire.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/[date]/DétailsChangementFournisseur.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/[date]/DétailsChangementFournisseur.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/changement/[date]/DétailsChangementProducteur.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/changement/[date]/DétailsChangementProducteur.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/changement/[date]/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/DétailsChangementPuissance.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/DétailsChangementReprésentantLégal.tsx
  packages/applications/ssr/src/components/organisms/demande/DétailsInformationEnregistrée.tsx
Due: eslint --fix

🔧 Move default port to package.json
  Procfile
  Procfile.dev
  package.json
Due: eslint --fix, prettier -w

🔧 Use foreman's Port option
  package.json
Due: eslint --fix, prettier -w

🐛 Affichage du lien de téléchargement de l'attestation dans la page projet si le projet a bien une attestation (#3564)
  packages/applications/legacy/src/controllers/project/getProjectPage/index.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectActions.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectHeader.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/EtapesProjet.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/historique/page.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/lauréat/events/mapToLauréatNotifiéTimelineItemProps.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/lauréat/mapToLauréatTimelineItemProps.ts
Due: eslint --fix

🎨 Fix: test
  packages/specifications/src/candidature/fixtures/importerCandidature.fixture.ts
  packages/specifications/src/projet/lauréat/nature-de-l-exploitation/modifierNatureDeLExploitation.feature
Due: eslint --fix, prettier -w

🎨 Greater or equ
  packages/applications/ssr/src/utils/candidature/schemaBase.ts
  packages/specifications/src/candidature/fixtures/importerCandidature.fixture.ts
Due: eslint --fix

🎨 More cases handled
  packages/specifications/src/projet/lauréat/nature-de-l-exploitation/modifierNatureDeLExploitation.feature
Due: prettier -w

🐛 Fix flaky test nature (#3566)
  packages/applications/ssr/src/utils/candidature/schemaBase.ts
  packages/specifications/src/projet/lauréat/nature-de-l-exploitation/modifierNatureDeLExploitation.feature
Due: eslint --fix, prettier -w

♻️ Découpage composant pour le détail de la demande de changement d'actionnaire
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/(demande)/DemandeChangement.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/(demande)/DemandeChangementActionnaireAccordée.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/(demande)/DemandeChangementActionnaireRejetée.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/(demande)/DétailsDemandeChangementActionnaire.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/(demande)/InfoBoxDemandeChangementActionnaireEnCours.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/DétailsActionnaire.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/DétailsChangementActionnaire.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/DétailsChangementActionnaire.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/page.tsx
Due: eslint --fix

🎨 Convertir les Kwc en MWc pour la puissance des candidatures importées depuis DS (uniquement pour AOs pour le moment)
  packages/applications/ssr/src/app/candidatures/importer/ds/importerPériode.action.ts
Due: eslint --fix

🎨 Comment + 6 décimales
  packages/applications/ssr/src/app/candidatures/importer/ds/importerPériode.action.ts
Due: eslint --fix

✨ Attestation lauréat petit PV (#3470)
  packages/applications/document-builder/src/candidature/attestation/AttestationCandidatureOptions.ts
  packages/applications/document-builder/src/candidature/attestation/attestation.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/buildCertificate.ts
  packages/applications/document-builder/src/candidature/attestation/cre4/v0/attestation.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/cre4/v1/attestation.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v1/ppe2.elimine.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v1/ppe2.laureat.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/Introduction.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/Laureat.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/ppe2.elimine.stories.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/ppe2.laureat.stories.tsx
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/petitPVBâtiment.ppe2.ts
Due: eslint --fix

🎨 Convertir les kWc en MWc pour la puissance des candidatures importées depuis DS (uniquement pour AOs pour le moment) (#3568)
  packages/applications/ssr/src/app/candidatures/importer/ds/importerPériode.action.ts
Due: eslint --fix

✨ Filtrer la liste des GF en attente par statut projet
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectHeaderBadge.tsx
  packages/applications/ssr/src/app/_helpers/getStatutLauréatLabel.tsx
  packages/applications/ssr/src/app/candidatures/(liste)/page.tsx
  packages/applications/ssr/src/app/garanties-financieres/projets-en-attente/ListItemProjetAvecGarantiesFinancièresEnAttente.tsx
  packages/applications/ssr/src/app/garanties-financieres/projets-en-attente/ListerProjetsAvecGarantiesFinancièresEnAttente.page.tsx
  packages/applications/ssr/src/app/garanties-financieres/projets-en-attente/page.tsx
  packages/applications/ssr/src/app/laureats/(liste)/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/_helpers/getGarantiesFinancièresMotifLabel.ts
  packages/domain/projet/src/lauréat/garanties-financières/en-attente/garantiesFinancièresEnAttente.queries.ts
  packages/domain/projet/src/lauréat/garanties-financières/en-attente/lister/listerProjetsAvecGarantiesFinancièresEnAttente.query.ts
Due: eslint --fix

🐛 Fix candidature
  packages/applications/ssr/src/app/candidatures/(liste)/page.tsx
Due: eslint --fix

🚧 WIP
  packages/applications/notifications/src/helpers/ProjetNonTrouvé.error.ts
  packages/applications/notifications/src/helpers/getLauréat.ts
  packages/applications/notifications/src/helpers/getÉliminé.ts
  packages/applications/notifications/src/subscribers/accès/accèsProjetAutorisé.notification.ts
  packages/applications/notifications/src/subscribers/accès/accèsProjetRetiré.notification.ts
  packages/applications/notifications/src/subscribers/accès/constant.ts
  packages/applications/notifications/src/subscribers/accès/index.ts
  packages/applications/notifications/src/subscribers/accès/type.ts
  packages/applications/subscribers/src/setup/setupProjet/setupAccès.ts
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.given.ts
  packages/specifications/src/projet/éliminé/fixtures/notifierÉliminé.fixture.ts
  packages/specifications/src/projet/éliminé/stepDefinitions/éliminé.given.ts
  packages/specifications/src/utilisateur/réclamerProjet.feature
Due: eslint --fix, prettier -w

✨ Filtrer la liste des GF en attente par statut projet (#3569)
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectHeaderBadge.tsx
  packages/applications/ssr/src/app/_helpers/getStatutLauréatLabel.tsx
  packages/applications/ssr/src/app/candidatures/(liste)/page.tsx
  packages/applications/ssr/src/app/garanties-financieres/projets-en-attente/ListItemProjetAvecGarantiesFinancièresEnAttente.tsx
  packages/applications/ssr/src/app/garanties-financieres/projets-en-attente/ListerProjetsAvecGarantiesFinancièresEnAttente.page.tsx
  packages/applications/ssr/src/app/garanties-financieres/projets-en-attente/page.tsx
  packages/applications/ssr/src/app/laureats/(liste)/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/_helpers/getGarantiesFinancièresMotifLabel.ts
  packages/domain/projet/src/lauréat/garanties-financières/en-attente/garantiesFinancièresEnAttente.queries.ts
  packages/domain/projet/src/lauréat/garanties-financières/en-attente/lister/listerProjetsAvecGarantiesFinancièresEnAttente.query.ts
Due: eslint --fix

✨ Confirmation du changement de région du projet
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/site-de-production:modifier/ModifierSiteDeProduction.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/site-de-production:modifier/ModifierSiteDeProduction.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/site-de-production:modifier/modifierSiteDeProduction.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/site-de-production:modifier/page.tsx
  packages/applications/ssr/src/components/atoms/form/Form.tsx
  packages/applications/ssr/src/components/atoms/form/FormActionButtons.tsx
  packages/applications/ssr/src/components/atoms/form/SubmitButton.tsx
  packages/applications/ssr/src/components/molecules/step/StepNavigation.tsx
Due: eslint --fix

🚚 Rename
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/site-de-production:modifier/ModifierSiteDeProduction.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/site-de-production:modifier/modifierSiteDeProduction.action.ts
Due: eslint --fix

🎨 Envoi d'email pour nouveau PP et dreal en cas de réclamation de projet
  packages/applications/notifications/src/subscribers/accès/accèsProjetAutoriséSuiteÀRéclamation.notification.ts
  packages/applications/notifications/src/subscribers/accès/constant.ts
  packages/applications/notifications/src/subscribers/accès/index.ts
  packages/applications/subscribers/src/setup/setupProjet/setupAccès.ts
  packages/specifications/src/utilisateur/réclamerProjet.feature
Due: eslint --fix, prettier -w

♻️ Adapter les notifications accès au modèle en place
  packages/applications/notifications/src/subscribers/accès/accèsProjetAutoriséSuiteÀRéclamation.notification.ts
  packages/applications/notifications/src/subscribers/accès/accèsProjetRetiré.notification.ts
  packages/applications/notifications/src/subscribers/accès/index.ts
  packages/applications/notifications/src/subscribers/accès/type.ts
  packages/specifications/src/utilisateur/réclamerProjet.feature
Due: eslint --fix, prettier -w

🎨 Envoi d'email pour nouveau PP et dreal en cas de réclamation de projet (#3574)
  packages/applications/notifications/src/subscribers/accès/accèsProjetAutoriséSuiteÀRéclamation.notification.ts
  packages/applications/notifications/src/subscribers/accès/accèsProjetRetiré.notification.ts
  packages/applications/notifications/src/subscribers/accès/constant.ts
  packages/applications/notifications/src/subscribers/accès/index.ts
  packages/applications/notifications/src/subscribers/accès/type.ts
  packages/applications/subscribers/src/setup/setupProjet/setupAccès.ts
  packages/specifications/src/utilisateur/réclamerProjet.feature
Due: eslint --fix, prettier -w

🚸 Ajout alerte
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/site-de-production:modifier/ModifierSiteDeProduction.form.tsx
Due: eslint --fix

✨ Confirmation du changement de région du projet (#3573)
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/site-de-production:modifier/ModifierSiteDeProduction.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/site-de-production:modifier/ModifierSiteDeProduction.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/site-de-production:modifier/modifierSiteDeProduction.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/site-de-production:modifier/page.tsx
  packages/applications/ssr/src/components/atoms/form/Form.tsx
  packages/applications/ssr/src/components/atoms/form/FormActionButtons.tsx
  packages/applications/ssr/src/components/atoms/form/SubmitButton.tsx
  packages/applications/ssr/src/components/molecules/step/StepNavigation.tsx
Due: eslint --fix

🚚 Déplacement des items historique pour abandon
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/(détails)/(historique)/events/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/(détails)/(historique)/events/mapToAbandonAccordéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/(détails)/(historique)/events/mapToAbandonAnnuléTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/(détails)/(historique)/events/mapToAbandonConfirméTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/(détails)/(historique)/events/mapToAbandonDemandéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/(détails)/(historique)/events/mapToAbandonPasséEnInstructionTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/(détails)/(historique)/events/mapToAbandonRejetéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/(détails)/(historique)/events/mapToConfirmationAbandonDemandéeTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/(détails)/(historique)/events/mapToPreuveRecandidatureDemandéeTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/(détails)/(historique)/events/mapToPreuveRecandidatureTransmiseTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/(détails)/(historique)/mapToAbandonTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/(détails)/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/historique/page.tsx
Due: eslint --fix

🚚 Déplacement des items historique pour achèvement
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/(historique)/events/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/(historique)/events/mapToAttestationConformitéModifiéeTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/(historique)/events/mapToAttestationConformitéTransmiseTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/(historique)/events/mapToDateAchèvementPrévisionnelCalculéeProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/(historique)/mapToAchèvementTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/historique/page.tsx
Due: eslint --fix

🚚 Déplacement des items historique pour recours
  packages/applications/ssr/src/app/elimine/[identifiant]/recours/(détails)/page.tsx
  packages/applications/ssr/src/app/elimine/[identifiant]/recours/(historique)/events/index.ts
  packages/applications/ssr/src/app/elimine/[identifiant]/recours/(historique)/events/mapToRecoursAccordéTimelineItemProps.tsx
  packages/applications/ssr/src/app/elimine/[identifiant]/recours/(historique)/events/mapToRecoursAnnuléTimelineItemProps.tsx
  packages/applications/ssr/src/app/elimine/[identifiant]/recours/(historique)/events/mapToRecoursDemandéTimelineItemProps.tsx
  packages/applications/ssr/src/app/elimine/[identifiant]/recours/(historique)/events/mapToRecoursPasséEnInstructionTimelineItemProps.tsx
  packages/applications/ssr/src/app/elimine/[identifiant]/recours/(historique)/events/mapToRecoursRejetéTimelineItemProps.tsx
  packages/applications/ssr/src/app/elimine/[identifiant]/recours/(historique)/mapToRecoursTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/historique/page.tsx
Due: eslint --fix

🚚 Déplacement des items historique pour actionnaire
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/(historique)/events/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/(historique)/events/mapToActionnaireImportéTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/(historique)/events/mapToActionnaireModifiéTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/(historique)/events/mapToChangementActionnaireAccordéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/(historique)/events/mapToChangementActionnaireAnnuléTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/(historique)/events/mapToChangementActionnaireDemandéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/(historique)/events/mapToChangementActionnaireEnregistréTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/(historique)/events/mapToChangementActionnaireRejetéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/(historique)/events/mapToChangementActionnaireSuppriméTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/(historique)/mapToActionnaireTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/historique/page.tsx
Due: eslint --fix

🎨 Déplacement des items historique pour représentant légal
  packages/applications/ssr/src/app/laureats/[identifiant]/historique/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/(historique)/events/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/(historique)/events/mapToChangementReprésentantLégalAccordéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/(historique)/events/mapToChangementReprésentantLégalAnnuléTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/(historique)/events/mapToChangementReprésentantLégalCorrigéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/(historique)/events/mapToChangementReprésentantLégalDemandéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/(historique)/events/mapToChangementReprésentantLégalEnregistréTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/(historique)/events/mapToChangementReprésentantLégalRejetéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/(historique)/events/mapToChangementReprésentantLégalSuppriméTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/(historique)/events/mapToReprésentantLégalImportéTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/(historique)/events/mapToReprésentantLégalModifiéTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/(historique)/mapToReprésentantLégalTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/page.tsx
Due: eslint --fix

🚚 Déplacement des items historique pour lauréat
  packages/applications/ssr/src/app/laureats/[identifiant]/(historique)/events/index.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(historique)/events/mapToLauréatCahierDesChargesChoisiTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(historique)/events/mapToLauréatModifiéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(historique)/events/mapToLauréatNotifiéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(historique)/events/mapToSiteDeProductionModifiéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(historique)/mapToLauréatTimelineItemProps.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/historique/page.tsx
Due: eslint --fix

🚚 Déplacement des items historique pour éliminé
  packages/applications/ssr/src/app/elimine/[identifiant]/(historique)/events/index.ts
  packages/applications/ssr/src/app/elimine/[identifiant]/(historique)/events/mapToÉliminéNotifiéTimelineItemProps.tsx
  packages/applications/ssr/src/app/elimine/[identifiant]/(historique)/mapToÉliminéTimelineItemProps.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/historique/page.tsx
Due: eslint --fix

🚚 Déplacement des items historique pour gf
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(historique)/events/actuelles/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(historique)/events/actuelles/mapToAttestationGarantiesFinancièresEnregistréeTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(historique)/events/actuelles/mapToGarantiesFinancièresDemandéesTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(historique)/events/actuelles/mapToGarantiesFinancièresEnregistréesTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(historique)/events/actuelles/mapToGarantiesFinancièresImportéesTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(historique)/events/actuelles/mapToGarantiesFinancièresModifiéesTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(historique)/events/actuelles/mapToGarantiesFinancièresÉchuesTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(historique)/events/actuelles/mapToTypeGarantiesFinancièresImportéTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(historique)/events/dépôt/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(historique)/events/dépôt/mapToDépôtGarantiesFinancièresEnCoursModifiéTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(historique)/events/dépôt/mapToDépôtGarantiesFinancièresEnCoursSuppriméTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(historique)/events/dépôt/mapToDépôtGarantiesFinancièresEnCoursValidéTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(historique)/events/dépôt/mapToDépôtGarantiesFinancièresSoumisTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(historique)/events/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(historique)/events/mainlevée/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(historique)/events/mainlevée/mapToDemandeMainlevéeGarantiesFinancièresAccordéeTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(historique)/events/mainlevée/mapToDemandeMainlevéeGarantiesFinancièresAnnuléeTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(historique)/events/mainlevée/mapToDemandeMainlevéeGarantiesFinancièresRejetéeTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(historique)/events/mainlevée/mapToInstructionDemandeMainlevéeGarantiesFinancièresDémarréeTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(historique)/events/mainlevée/mapToMainlevéeGarantiesFinancièresDemandéeTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(historique)/mapToGarantiesFinancièresTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/historique/page.tsx
Due: eslint --fix

🚚 Déplacement des items historique pour producteur
  packages/applications/ssr/src/app/laureats/[identifiant]/historique/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/(historique)/events/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/(historique)/events/mapToChangementProducteurEnregistréTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/(historique)/events/mapToProducteurImportéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/(historique)/events/mapToProducteurModifiéTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/(historique)/mapToProducteurTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/changement/[date]/page.tsx
Due: eslint --fix

🚚 Déplacement des items historique pour puissance
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/(détails)/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/(historique)/events/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/(historique)/events/mapToAbandonAccordéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/(historique)/events/mapToAbandonAnnuléTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/(historique)/events/mapToAbandonConfirméTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/(historique)/events/mapToAbandonDemandéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/(historique)/events/mapToAbandonPasséEnInstructionTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/(historique)/events/mapToAbandonRejetéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/(historique)/events/mapToConfirmationAbandonDemandéeTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/(historique)/events/mapToPreuveRecandidatureDemandéeTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/(historique)/events/mapToPreuveRecandidatureTransmiseTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/(historique)/mapToAbandonTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/historique/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/(historique)/events/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/(historique)/events/mapToChangementPuissanceAccordéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/(historique)/events/mapToChangementPuissanceAnnuléTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/(historique)/events/mapToChangementPuissanceDemandéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/(historique)/events/mapToChangementPuissanceEnregistréTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/(historique)/events/mapToChangementPuissanceRejetéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/(historique)/events/mapToChangementPuissanceSuppriméTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/(historique)/events/mapToPuissanceImportéeTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/(historique)/events/mapToPuissanceModifiéeTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/(historique)/index.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/page.tsx
Due: eslint --fix

🚚 Déplacement des items historique pour raccordement
  packages/applications/ssr/src/app/laureats/[identifiant]/historique/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/events/dossier/dateMiseEnService/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/events/dossier/dateMiseEnService/mapToDateMiseEnServiceSuppriméeTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/events/dossier/dateMiseEnService/mapToDateMiseEnServiceTransmiseTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/events/dossier/dcr/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/events/dossier/dcr/mapToAccuséRéceptionDemandeComplèteRaccordementTransmisTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/events/dossier/dcr/mapToDemandeComplèteDeRaccordementTransmiseTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/events/dossier/dcr/mapToDemandeComplèteRaccordementModifiéeTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/events/dossier/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/events/dossier/mapToDossierRaccordementSuppriméTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/events/dossier/mapToRéférenceDossierRacordementModifiéeTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/events/dossier/ptf/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/events/dossier/ptf/mapToPropositionTechniqueEtFinancièreModifiéeTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/events/dossier/ptf/mapToPropositionTechniqueEtFinancièreTransmiseTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/events/gestionnaire-réseau/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/events/gestionnaire-réseau/mapToGestionnaireRéseauAttribuéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/events/gestionnaire-réseau/mapToGestionnaireRéseauRaccordementModifiéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/events/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/events/mapToRaccordementSuppriméTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/mapToRaccordementTimelineItemProps.ts
Due: eslint --fix

🚚 Déplacement des items historique pour délai
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/(historique)/events/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/(historique)/events/mapToDemandeDélaiAnnuléeTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/(historique)/events/mapToDemandeDélaiCorrigéeTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/(historique)/events/mapToDemandeDélaiPasséeEnInstructionTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/(historique)/events/mapToDemandeDélaiRejetéeTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/(historique)/events/mapToDemandeDélaiSuppriméeTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/(historique)/events/mapToDélaiAccordéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/(historique)/events/mapToDélaiDemandéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/(historique)/events/mapToDélaiLegacyAccordéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/(historique)/mapToDélaiTimelineItemProps.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/historique/page.tsx
Due: eslint --fix

🚚 Déplacement des items historique pour fournisseur
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/(historique)/events/index.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/(historique)/events/mapToChangementFournisseurEnregistréTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/(historique)/events/mapToFournisseurImportéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/(historique)/events/mapToÉvaluationCarboneModifiéeTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/(historique)/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/[date]/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/historique/page.tsx
Due: eslint --fix
