Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml,feature}": "prettier -w"
}

♻️ Nettoyage des restes de sendEmailV1 & renommage de V2 (#4073)
  packages/applications/bootstrap/src/bootstrap.ts
  packages/applications/notifications/src/envoyerNotification.command.ts
  packages/applications/notifications/src/helpers/listerDgecRecipients.ts
  packages/applications/notifications/src/helpers/listerPorteursRecipients.ts
  packages/applications/notifications/src/helpers/listerRecipients.ts
  packages/applications/notifications/src/helpers/listerRecipientsAutoritéInstructrice.ts
  packages/applications/notifications/src/helpers/listerTeamRecipients.ts
  packages/applications/notifications/src/index.ts
  packages/applications/notifications/src/sendEmail.ts
  packages/applications/notifications/src/subscribers/lauréat/lauréat/handlers/lauréatNotifié.handler.ts
  packages/applications/notifications/src/subscribers/période/handlers/périodeNotifiée.handler.ts
  packages/applications/notifications/src/subscribers/utilisateur/handlers/porteurInvité.handler.ts
  packages/applications/notifications/src/subscribers/utilisateur/handlers/rôleUtilisateurModifié.handler.ts
  packages/applications/notifications/src/subscribers/utilisateur/handlers/utilisateurInvité.handler.ts
  packages/applications/notifications/src/subscribers/éliminé/éliminé/handlers/éliminéNotifié.handler.ts
  packages/applications/ssr/src/auth/providers/magic-link/buildSendMagicLink.test.ts
  packages/applications/ssr/src/auth/providers/magic-link/buildSendMagicLink.ts
  packages/applications/ssr/src/auth/providers/magic-link/magicLink.provider.ts
  packages/infrastructure/email/src/index.ts
  packages/infrastructure/email/src/sendEmail.ts
  packages/specifications/src/_mocks/mockEmailAdapter.ts
Due: eslint --fix

📝 Doc
  docs/apis/API_ACHEVEMENT.md
  docs/apis/API_RACCORDEMENT.md
Due: eslint --fix

✨ Impossible de transmettre l'attestation de conformité si déjà achevé
  packages/domain/projet/src/lauréat/achèvement/achèvement.aggregate.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.error.ts
  packages/specifications/src/projet/lauréat/abandon/accorderAbandon.feature
  packages/specifications/src/projet/lauréat/achèvement/modifierAttestationConformité.feature
  packages/specifications/src/projet/lauréat/achèvement/transmettreAttestationConformité.feature
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.given.ts
Due: eslint --fix, prettier -w

♻️ L'attestation n'est plus requise
  package.json
  packages/domain/projet/src/lauréat/achèvement/achèvement.aggregate.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.error.ts
  packages/specifications/src/projet/lauréat/abandon/accorderAbandon.feature
  packages/specifications/src/projet/lauréat/achèvement/achèvement.world.ts
  packages/specifications/src/projet/lauréat/achèvement/fixture/modifierAttestationConformité.fixture.ts
  packages/specifications/src/projet/lauréat/achèvement/fixture/transmettreDateAchèvement.fixture.ts
  packages/specifications/src/projet/lauréat/achèvement/modifierAttestationConformité.feature
  packages/specifications/src/projet/lauréat/achèvement/stepDefinitions/achèvement.then.ts
  packages/specifications/src/projet/lauréat/achèvement/stepDefinitions/achèvement.when.ts
  packages/specifications/src/projet/lauréat/achèvement/transmettreAttestationConformité.feature
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.given.ts
Due: eslint --fix, prettier -w

🎨 Wording
  packages/specifications/src/projet/lauréat/achèvement/modifierAttestationConformité.feature
Due: prettier -w

💚 Pretest
  package.json
Due: eslint --fix, prettier -w

🎨 Ajout période pour tests
  packages/domain/inmemory-referential/src/appelOffre/PPE2/eolien.ppe2.ts
Due: eslint --fix

🎨 Schemas
  docs/contributing/diagrams/raccordement/7-archi-scenario-2.drawio.svg
  docs/contributing/diagrams/raccordement/7-archi-scenario-3.drawio.svg
Due: none

✨ Transmettre la date d'achèvement sans attestation de conformité (#4072)
  package.json
  packages/applications/notifications/src/templates/emails/lauréat/achèvement/transmettre_date.md
  packages/applications/projectors/src/subscribers/lauréat/achèvement/dateAchèvementTransmise.projector.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/AchèvementDétails.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/documents/(sections)/Documents.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:modifier/page.tsx
  packages/domain/projet/src/lauréat/achèvement/achèvement.aggregate.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.entity.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.error.ts
  packages/domain/projet/src/lauréat/achèvement/consulter/consulterAchèvement.query.ts
  packages/domain/projet/src/lauréat/achèvement/transmettre/transmettreDateAchèvement.command.ts
  packages/domain/projet/src/lauréat/achèvement/transmettre/transmettreDateAchèvement.event.ts
  packages/domain/projet/src/lauréat/achèvement/transmettre/transmettreDateAchèvement.option.ts
  packages/domain/projet/src/lauréat/achèvement/transmettre/transmettreDateAchèvement.usecase.ts
  packages/specifications/src/projet/lauréat/abandon/accorderAbandon.feature
  packages/specifications/src/projet/lauréat/achèvement/achèvement.world.ts
  packages/specifications/src/projet/lauréat/achèvement/fixture/modifierAttestationConformité.fixture.ts
  packages/specifications/src/projet/lauréat/achèvement/fixture/transmettreDateAchèvement.fixture.ts
  packages/specifications/src/projet/lauréat/achèvement/modifierAttestationConformité.feature
  packages/specifications/src/projet/lauréat/achèvement/stepDefinitions/achèvement.then.ts
  packages/specifications/src/projet/lauréat/achèvement/stepDefinitions/achèvement.when.ts
  packages/specifications/src/projet/lauréat/achèvement/transmettreAttestationConformité.feature
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.given.ts
Due: eslint --fix, prettier -w

✨ Enregistrer une attestation de conformité
  packages/applications/notifications/src/subscribers/lauréat/achèvement/achèvement.notifications.ts
  packages/applications/projectors/src/subscribers/lauréat/achèvement/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:modifier/modifierAttestationConformité.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:transmettre/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:transmettre/transmettreAttestationConformité.action.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.event.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.register.ts
  packages/domain/projet/src/lauréat/achèvement/enregistrer/enregistrerAttestationConformité.command.ts
  packages/domain/projet/src/lauréat/achèvement/enregistrer/enregistrerAttestationConformité.event.ts
  packages/domain/projet/src/lauréat/achèvement/enregistrer/enregistrerAttestationConformité.option.ts
  packages/domain/projet/src/lauréat/achèvement/enregistrer/enregistrerAttestationConformité.usecase.ts
  packages/domain/projet/src/lauréat/achèvement/index.ts
  packages/domain/projet/src/lauréat/achèvement/modifier/modifierAttestationConformité.command.ts
  packages/domain/projet/src/lauréat/achèvement/modifier/modifierAttestationConformité.usecase.ts
  packages/domain/projet/src/lauréat/achèvement/transmettre/transmettreAttestationConformité.command.ts
  packages/domain/projet/src/lauréat/achèvement/transmettre/transmettreAttestationConformité.event.ts
  packages/domain/projet/src/lauréat/achèvement/transmettre/transmettreAttestationConformité.usecase.ts
  packages/domain/projet/src/lauréat/achèvement/transmettre/transmettreDateAchèvement.event.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/projet/lauréat/achèvement/transmettreAttestationConformité.feature
Due: eslint --fix, prettier -w

✅ Specs complètes
  packages/applications/projectors/src/subscribers/lauréat/achèvement/attestationConformité/attestationConformitéEnregistrée.projector.ts
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupAchèvement.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.aggregate.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.error.ts
  packages/domain/projet/src/lauréat/achèvement/enregistrer/enregistrerAttestationConformité.usecase.ts
  packages/specifications/src/projet/lauréat/achèvement/achèvement.world.ts
  packages/specifications/src/projet/lauréat/achèvement/enregistrerAttestationConformité.feature
  packages/specifications/src/projet/lauréat/achèvement/fixture/enregistrerAttestationConformité.fixture.ts
  packages/specifications/src/projet/lauréat/achèvement/fixture/transmettreAttestationConformité.fixture.ts
  packages/specifications/src/projet/lauréat/achèvement/stepDefinitions/achèvement.given.ts
  packages/specifications/src/projet/lauréat/achèvement/stepDefinitions/achèvement.when.ts
Due: eslint --fix, prettier -w

🎨 Timeline item
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/(historique)/events/mapToAttestationConformitéEnregistréeTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/(historique)/mapToAchèvementTimelineItemProps.tsx
Due: eslint --fix

✨ Évolutions de l'API raccordement (#4070)
  docs/apis/API_ACHEVEMENT.md
  docs/apis/API_RACCORDEMENT.md
  docs/contributing/diagrams/raccordement/7-archi-scenario-2.drawio.svg
  docs/contributing/diagrams/raccordement/7-archi-scenario-3.drawio.svg
  packages/applications/api-documentation/src/raccordement.tsp
  packages/applications/api/bin/dev.js
  packages/applications/api/package.json
  packages/applications/api/src/handlers/raccordement/index.ts
  packages/applications/api/src/handlers/raccordement/listerManquants.handler.ts
  packages/applications/api/src/handlers/raccordement/modifierDemandeComplète.handler.ts
  packages/applications/api/src/handlers/raccordement/modifierMiseEnService.handler.ts
  packages/applications/api/src/handlers/raccordement/transmettreDateMiseEnService.handler.ts
  packages/applications/api/src/handlers/raccordement/transmettreMiseEnService.handler.ts
  packages/applications/api/src/helpers/index.ts
  packages/applications/api/src/helpers/validate.test.ts
  packages/applications/api/src/helpers/validate.ts
Due: eslint --fix, prettier -w

🎨 Fix fournisseurs et autres
  packages/domain/inmemory-referential/src/appelOffre/PPE2/eolien.ppe2.ts
  packages/infrastructure/ds-api-client/src/_helpers/getters/getFournisseurs.ts
  packages/infrastructure/ds-api-client/src/_helpers/getters/getHistoriqueAbandon.ts
  packages/infrastructure/ds-api-client/src/_helpers/mappers/mapApiResponseToDépôt.ts
  packages/infrastructure/ds-api-client/src/fragments/Champ.graphql
Due: eslint --fix

🎨 Review : ajout test
  packages/infrastructure/ds-api-client/src/_helpers/getters/getFournisseurs.test.ts
  packages/infrastructure/ds-api-client/src/_helpers/getters/getFournisseurs.ts
Due: eslint --fix

💬 Formattage de l'email de notification de période
  packages/applications/notifications/src/templates/emails/période/notifier.md
Due: eslint --fix

🐛 Fix cron.json datagouv
  cron.json
Due: eslint --fix, prettier -w

✨ Enregistrer une attestation de conformité (#4075)
  packages/applications/notifications/src/subscribers/lauréat/achèvement/achèvement.notifications.ts
  packages/applications/projectors/src/subscribers/lauréat/achèvement/attestationConformité/attestationConformitéEnregistrée.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/achèvement/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/(historique)/events/mapToAttestationConformitéEnregistréeTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/(historique)/mapToAchèvementTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:modifier/modifierAttestationConformité.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:transmettre/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:transmettre/transmettreAttestationConformité.action.ts
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupAchèvement.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.aggregate.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.error.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.event.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.register.ts
  packages/domain/projet/src/lauréat/achèvement/enregistrer/enregistrerAttestationConformité.command.ts
  packages/domain/projet/src/lauréat/achèvement/enregistrer/enregistrerAttestationConformité.event.ts
  packages/domain/projet/src/lauréat/achèvement/enregistrer/enregistrerAttestationConformité.option.ts
  packages/domain/projet/src/lauréat/achèvement/enregistrer/enregistrerAttestationConformité.usecase.ts
  packages/domain/projet/src/lauréat/achèvement/index.ts
  packages/domain/projet/src/lauréat/achèvement/modifier/modifierAttestationConformité.command.ts
  packages/domain/projet/src/lauréat/achèvement/modifier/modifierAttestationConformité.usecase.ts
  packages/domain/projet/src/lauréat/achèvement/transmettre/transmettreAttestationConformité.command.ts
  packages/domain/projet/src/lauréat/achèvement/transmettre/transmettreAttestationConformité.event.ts
  packages/domain/projet/src/lauréat/achèvement/transmettre/transmettreAttestationConformité.usecase.ts
  packages/domain/projet/src/lauréat/achèvement/transmettre/transmettreDateAchèvement.event.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/projet/lauréat/achèvement/achèvement.world.ts
  packages/specifications/src/projet/lauréat/achèvement/enregistrerAttestationConformité.feature
  packages/specifications/src/projet/lauréat/achèvement/fixture/enregistrerAttestationConformité.fixture.ts
  packages/specifications/src/projet/lauréat/achèvement/fixture/transmettreAttestationConformité.fixture.ts
  packages/specifications/src/projet/lauréat/achèvement/stepDefinitions/achèvement.given.ts
  packages/specifications/src/projet/lauréat/achèvement/stepDefinitions/achèvement.when.ts
  packages/specifications/src/projet/lauréat/achèvement/transmettreAttestationConformité.feature
Due: eslint --fix, prettier -w

✨ Impossible de demander la mainlevée en l'absence d'une attestation de conformité
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/domain/projet/src/lauréat/garanties-financières/mainlevée/mainlevéeGarantiesFinancières.error.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/demanderMainlevéeGarantiesFinancières.feature
Due: eslint --fix, prettier -w

✨ Demander l'attestation lors de la demande de mainlevée
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(actuelles)/GarantiesFinancièresActuellesActions.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(mainlevée)/demander/DemanderMainlevée.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(mainlevée)/demander/demanderMainlevée.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/DétailsGarantiesFinancières.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/page.tsx
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🎨 Modifier achèvement sans documents
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/AttestationConformité.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:modifier/modifierAttestationConformité.action.ts
  packages/applications/ssr/src/utils/zod/document/keepOrUpdateDocument.ts
Due: eslint --fix

🧑‍💻 DX
  package.json
Due: eslint --fix, prettier -w

🎨 Correction modification sans valeur
  packages/domain/projet/src/lauréat/achèvement/achèvement.aggregate.ts
  packages/specifications/src/projet/lauréat/achèvement/modifierAttestationConformité.feature
  packages/specifications/src/projet/lauréat/achèvement/stepDefinitions/achèvement.when.ts
Due: eslint --fix, prettier -w

💬 Formattage de l'email de notification de période (#4079)
  packages/applications/notifications/src/templates/emails/période/notifier.md
Due: eslint --fix

🐛 Fix cron.json datagouv (#4080)
  cron.json
Due: eslint --fix, prettier -w

✅ Faire passer les tests
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/dépôt/dépôtGarantiesFinancièresEnCoursValidé.projector.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/domain/projet/src/lauréat/producteur/producteur.aggregate.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/garantiesFinancièresActuelles.world.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.given.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.then.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/validerDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/accorderDemandeMainlevéeGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/producteur/enregistrerChangementProducteur.feature
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
Due: eslint --fix, prettier -w

✅ Fixe tests
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/dépôt/dépôtGarantiesFinancièresEnCoursValidé.projector.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
Due: eslint --fix

🎨 Retour de review
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/mainlevée/demandeMainlevéeGarantiesFinancièresAccordée.projector.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/GarantiesFinancières.section.tsx
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/fixtures/demanderGarantiesFinancières.fixture.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.then.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/accorderDemandeMainlevéeGarantiesFinancières.feature
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
Due: eslint --fix, prettier -w

💬 Hamonisation du nom cocontractant
  packages/applications/notifications/src/templates/emails/lauréat/achèvement/transmettre_attestation_dreal.md
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/documents/(sections)/Documents.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/(historique)/events/mapToDateAchèvementTransmiseTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/AttestationConformité.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/InfoAttestationConformité.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:transmettre/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/InfoBoxDemandeDélai.tsx
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.error.ts
  packages/domain/projet/src/lauréat/achèvement/transmettre/transmettreAttestationConformité.event.ts
  packages/domain/projet/src/lauréat/achèvement/transmettre/transmettreDateAchèvement.event.ts
  packages/domain/projet/src/lauréat/garanties-financières/mainlevée/mainlevéeGarantiesFinancières.error.ts
  packages/specifications/src/projet/lauréat/abandon/accorderAbandon.feature
  packages/specifications/src/projet/lauréat/achèvement/modifierAttestationConformité.feature
  packages/specifications/src/projet/lauréat/achèvement/stepDefinitions/achèvement.when.ts
  packages/specifications/src/projet/lauréat/achèvement/transmettreAttestationConformité.feature
  packages/specifications/src/projet/lauréat/achèvement/transmettreDateAchèvement.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/demanderMainlevéeGarantiesFinancières.feature
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.given.ts
Due: eslint --fix, prettier -w

💬 Majuscule
  packages/applications/notifications/src/templates/emails/lauréat/achèvement/transmettre_attestation_dreal.md
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/AchèvementDétails.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/AlertesTableauDeBord.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/documents/(sections)/Documents.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/(historique)/events/mapToAttestationConformitéModifiéeTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/(historique)/events/mapToAttestationConformitéTransmiseTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/(historique)/events/mapToDateAchèvementTransmiseTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/AttestationConformité.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/InfoAttestationConformité.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:transmettre/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/InfoBoxDemandeDélai.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(proposition-technique-et-financière)/proposition-technique-et-financiere:transmettre/TransmettrePropositionTechniqueEtFinancière.page.tsx
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/eolien.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/zni.ppe2.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.error.ts
  packages/domain/projet/src/lauréat/achèvement/transmettre/transmettreAttestationConformité.event.ts
  packages/domain/projet/src/lauréat/achèvement/transmettre/transmettreDateAchèvement.event.ts
  packages/domain/projet/src/lauréat/garanties-financières/mainlevée/mainlevéeGarantiesFinancières.error.ts
  packages/specifications/src/notification/stepDefinitions/notification.then.ts
  packages/specifications/src/projet/lauréat/abandon/accorderAbandon.feature
  packages/specifications/src/projet/lauréat/achèvement/modifierAttestationConformité.feature
  packages/specifications/src/projet/lauréat/achèvement/stepDefinitions/achèvement.when.ts
  packages/specifications/src/projet/lauréat/achèvement/transmettreAttestationConformité.feature
  packages/specifications/src/projet/lauréat/achèvement/transmettreDateAchèvement.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/demanderMainlevéeGarantiesFinancières.feature
  packages/specifications/src/utilisateur/inviterUtilisateur.feature
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.given.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.when.ts
Due: eslint --fix, prettier -w

WIP lauréat sans délai
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getLauréatMenuItems.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/getDemandesEnCours.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/getLauréat.ts
Due: eslint --fix

ajout délai
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/getDemandesEnCours.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/getLauréat.ts
  packages/domain/projet/src/lauréat/délai/demande/lister/listerDemandeDélai.query.ts
Due: eslint --fix

badge
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getLauréatMenuItems.tsx
  packages/applications/ssr/src/components/atoms/menu/BadgeDemandeEnCours.tsx
Due: eslint --fix

clean
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/getDemandesEnCours.ts
Due: eslint --fix

simplification
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getLauréatMenuItems.tsx
  packages/applications/ssr/src/components/atoms/menu/BadgeDemandeEnCours.tsx
Due: eslint --fix

💬 Hamonisation du nom cocontractant (#4077)
  packages/applications/notifications/src/templates/emails/lauréat/achèvement/transmettre_attestation_dreal.md
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/AchèvementDétails.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/AlertesTableauDeBord.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/documents/(sections)/Documents.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/(historique)/events/mapToAttestationConformitéModifiéeTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/(historique)/events/mapToAttestationConformitéTransmiseTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/(historique)/events/mapToDateAchèvementTransmiseTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/AttestationConformité.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/InfoAttestationConformité.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:transmettre/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/InfoBoxDemandeDélai.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(proposition-technique-et-financière)/proposition-technique-et-financiere:transmettre/TransmettrePropositionTechniqueEtFinancière.page.tsx
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/eolien.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/zni.ppe2.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.error.ts
  packages/domain/projet/src/lauréat/achèvement/transmettre/transmettreAttestationConformité.event.ts
  packages/domain/projet/src/lauréat/achèvement/transmettre/transmettreDateAchèvement.event.ts
  packages/domain/projet/src/lauréat/garanties-financières/mainlevée/mainlevéeGarantiesFinancières.error.ts
  packages/specifications/src/notification/stepDefinitions/notification.then.ts
  packages/specifications/src/projet/lauréat/abandon/accorderAbandon.feature
  packages/specifications/src/projet/lauréat/achèvement/modifierAttestationConformité.feature
  packages/specifications/src/projet/lauréat/achèvement/stepDefinitions/achèvement.when.ts
  packages/specifications/src/projet/lauréat/achèvement/transmettreAttestationConformité.feature
  packages/specifications/src/projet/lauréat/achèvement/transmettreDateAchèvement.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/demanderMainlevéeGarantiesFinancières.feature
  packages/specifications/src/utilisateur/inviterUtilisateur.feature
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.given.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.when.ts
Due: eslint --fix, prettier -w

🎨 Retour de review
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/actuelles/garantiesFinancièresEnregistrées.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/historiqueGarantiesFinancièresEffacé.projector.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/importerTypeGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.then.ts
  packages/specifications/src/projet/lauréat/producteur/enregistrerChangementProducteur.feature
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
Due: eslint --fix, prettier -w

badges
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getLauréatMenuItems.tsx
  packages/applications/ssr/src/components/atoms/menu/BadgeDemandeEnCours.tsx
  packages/applications/ssr/src/components/atoms/menu/BadgeTâches.tsx
Due: eslint --fix

✅ Pass tests
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/actuelles/garantiesFinancièresDemandées.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/actuelles/garantiesFinancièresÉchues.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/dépôt/dépôtGarantiesFinancièresEnCoursValidé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/dépôt/dépôtGarantiesFinancièresSoumis.projector.ts
  packages/domain/projet/src/lauréat/garanties-financières/en-attente/lister/listerProjetsAvecGarantiesFinancièresEnAttente.query.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerAttestationGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/stepDefinitions/garantiesFinancièresActuelles.then.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/modifierDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/soumettreDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/validerDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/en-attente/stepDefinitions/garantiesFinancièresEnAttente.given.ts
Due: eslint --fix, prettier -w
