Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

integration documents et design
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/documents/(sections)/DocumentListItem.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/documents/(sections)/Documents.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/documents/(sections)/DocumentsDétails.tsx
  packages/domain/projet/src/lauréat/puissance/changement/lister/listerChangementPuissance.query.ts
Due: eslint --fix

fix: path
  packages/applications/ssr/src/app/elimines/(liste)/page.tsx
  packages/applications/ssr/src/app/elimines/(liste)/ÉliminéListItem.tsx
  packages/applications/ssr/src/app/projets/[identifiant]/page.tsx
  packages/applications/ssr/src/components/molecules/projet/éliminé/ProjetÉliminéBanner.tsx
Due: eslint --fix

simplification type DocumentItem
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/documents/(sections)/Documents.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/documents/(sections)/Documents.section.tsx
  packages/applications/ssr/src/components/organisms/document/DocumentListItem.tsx
  packages/applications/ssr/src/components/organisms/document/DocumentsList.tsx
Due: eslint --fix

adaptation éliminé
  packages/applications/routes/src/éliminé/éliminé.routes.ts
  packages/applications/ssr/src/app/_helpers/getÉliminé.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/_helpers/getÉliminéMenuItems.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/documents/(sections)/Documents.section.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/documents/Documents.page.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/documents/page.tsx
  packages/applications/ssr/src/app/elimines/export/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/documents/(sections)/Documents.section.tsx
  packages/applications/ssr/src/components/organisms/document/DocumentListItem.tsx
  packages/applications/ssr/src/components/organisms/document/DocumentsList.tsx
  packages/domain/projet/src/éliminé/lister/listerÉliminéEnrichi.query.ts
Due: eslint --fix

cimplification
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/documents/(sections)/DocumentListItem.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/documents/(sections)/Documents.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/documents/(sections)/DocumentsDétails.tsx
Due: eslint --fix

simplification des documents présentés
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/documents/(sections)/Documents.section.tsx
Due: eslint --fix

review Hub
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/documents/(sections)/Documents.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/documents/(sections)/Documents.section.tsx
  packages/applications/ssr/src/components/organisms/document/DocumentListItem.tsx
Due: eslint --fix

details
  packages/applications/ssr/src/components/organisms/document/DocumentsList.tsx
Due: eslint --fix

export basé sur l'identifiantProjet au lieu du nomProjet
  packages/applications/routes/src/lauréat/lauréat.routes.ts
  packages/applications/routes/src/éliminé/éliminé.routes.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/documents/(sections)/Documents.section.tsx
  packages/applications/ssr/src/app/elimines/export/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/documents/(sections)/Documents.section.tsx
  packages/applications/ssr/src/app/laureats/export/route.ts
  packages/domain/projet/src/lauréat/lister/listerLauréatEnrichi.query.ts
  packages/domain/projet/src/éliminé/lister/listerÉliminéEnrichi.query.ts
Due: eslint --fix

clean
  packages/applications/ssr/src/components/organisms/document/DocumentListItem.tsx
  packages/domain/projet/src/lauréat/puissance/changement/lister/listerChangementPuissance.query.ts
Due: eslint --fix

🎨 Amélioration texte
  packages/applications/notifications/src/subscribers/éliminé/recours/handlers/recoursAccordé.handler.ts
  packages/applications/notifications/src/subscribers/éliminé/recours/handlers/recoursRejeté.handler.ts
  packages/applications/notifications/src/templates/emails/recours/annuler.md
  packages/applications/notifications/src/templates/emails/recours/demander.md
Due: eslint --fix

🎨 Retours reviews
  packages/specifications/src/raccordement/dossierRaccordement/supprimerDossierDuRaccordement.feature
Due: prettier -w

🎨 Adapter l'objet + le contenu par rapport aux règles définies
  packages/applications/notifications/src/subscribers/éliminé/recours/handlers/recoursAccordé.handler.ts
  packages/applications/notifications/src/templates/emails/recours/accorder.md
  packages/applications/notifications/src/templates/emails/recours/annuler.md
  packages/applications/notifications/src/templates/emails/recours/demander.md
  packages/applications/notifications/src/templates/emails/recours/passerEnInstruction.md
  packages/applications/notifications/src/templates/emails/recours/rejeter.md
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
  packages/specifications/src/projet/éliminé/recours/annulerRecours.feature
  packages/specifications/src/projet/éliminé/recours/demanderRecours.feature
  packages/specifications/src/projet/éliminé/recours/passerRecoursEnInstruction.feature
  packages/specifications/src/projet/éliminé/recours/rejeterRecours.feature
Due: eslint --fix, prettier -w

✅ Fix tests
  packages/applications/notifications/src/templates/emails/recours/passerEnInstruction.md
  packages/specifications/src/projet/éliminé/recours/demanderRecours.feature
  packages/specifications/src/projet/éliminé/recours/rejeterRecours.feature
Due: eslint --fix, prettier -w

♻️ Passage du package Routes en ESM
  packages/applications/routes/package.json
  packages/applications/routes/src/accès/accès.routes.ts
  packages/applications/routes/src/accès/index.ts
  packages/applications/routes/src/auth/index.ts
  packages/applications/routes/src/candidature/candidature.routes.ts
  packages/applications/routes/src/candidature/index.ts
  packages/applications/routes/src/document/document.routes.ts
  packages/applications/routes/src/document/index.ts
  packages/applications/routes/src/export/index.ts
  packages/applications/routes/src/index.ts
  packages/applications/routes/src/lauréat/abandon.routes.ts
  packages/applications/routes/src/lauréat/achèvement.routes.ts
  packages/applications/routes/src/lauréat/actionnaire.routes.ts
  packages/applications/routes/src/lauréat/cahierDesCharges.routes.ts
  packages/applications/routes/src/lauréat/délai.routes.ts
  packages/applications/routes/src/lauréat/fournisseur.routes.ts
  packages/applications/routes/src/lauréat/garantiesFinancières.routes.ts
  packages/applications/routes/src/lauréat/historique.routes.ts
  packages/applications/routes/src/lauréat/index.ts
  packages/applications/routes/src/lauréat/installation.routes.ts
  packages/applications/routes/src/lauréat/lauréat.routes.ts
  packages/applications/routes/src/lauréat/natureDeLExploitation.routes.ts
  packages/applications/routes/src/lauréat/producteur.routes.ts
  packages/applications/routes/src/lauréat/puissance.routes.ts
  packages/applications/routes/src/lauréat/raccordement.routes.ts
  packages/applications/routes/src/lauréat/représentantLégal.routes.ts
  packages/applications/routes/src/projet/index.ts
  packages/applications/routes/src/projet/projet.routes.ts
  packages/applications/routes/src/période/index.ts
  packages/applications/routes/src/période/période.routes.ts
  packages/applications/routes/src/réseau/gestionnaire.routes.ts
  packages/applications/routes/src/réseau/index.ts
  packages/applications/routes/src/statistiques-publiques/index.ts
  packages/applications/routes/src/tâche/index.ts
  packages/applications/routes/src/utilisateur/index.ts
  packages/applications/routes/src/utilisateur/utilisateur.routes.ts
  packages/applications/routes/src/éliminé/index.ts
  packages/applications/routes/src/éliminé/recours.routes.ts
  packages/applications/routes/src/éliminé/éliminé.routes.ts
  packages/applications/routes/tsconfig.json
Due: eslint --fix, prettier -w

design
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/documents/(sections)/Documents.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/documents/(sections)/Documents.section.tsx
  packages/applications/ssr/src/components/organisms/document/DocumentListItem.tsx
Due: eslint --fix

GFs
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/documents/(sections)/Documents.section.tsx
Due: eslint --fix

🎨 Retours review
  packages/applications/notifications/src/subscribers/éliminé/recours/handlers/recoursAnnulé.handler.ts
  packages/applications/notifications/src/subscribers/éliminé/recours/handlers/recoursDemandé.handler.ts
Due: eslint --fix

🗃️ Mise à jour vue demandes : ajout modifs AOS
  packages/statistiques/vues/src/stats_demandes.sql
Due: none

🗃️ Update dump
  .database/potentiel-dev.dump
Due: none

🎨 Retravailler les règles de suppression d'un dossier de raccordement post MES / achèvement (#3953)
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/(supprimer)/supprimerDossierDuRaccordement.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/components/DossierRaccordement.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/_helpers/getSupprimerDossierAction.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/_helpers/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/page.tsx
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/domain/projet/src/lauréat/raccordement/supprimer/dossier/supprimerDossierDuRaccordement.command.ts
  packages/domain/projet/src/lauréat/raccordement/supprimer/dossier/supprimerDossierDuRaccordement.options.ts
  packages/domain/projet/src/lauréat/raccordement/supprimer/dossier/supprimerDossierDuRaccordement.usecase.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/raccordement/dossierRaccordement/stepDefinitions/dossierRaccordement.when.ts
  packages/specifications/src/raccordement/dossierRaccordement/supprimerDossierDuRaccordement.feature
Due: eslint --fix, prettier -w

🎨 Typo
  packages/statistiques/vues/src/stats_demandes.sql
Due: none

✨ Migration des templates de mail recours (#3956)
  packages/applications/notifications/src/helpers/getLauréat.ts
  packages/applications/notifications/src/helpers/getÉliminé.ts
  packages/applications/notifications/src/helpers/index.ts
  packages/applications/notifications/src/subscribers/éliminé/recours/handlers/recoursAccordé.handler.ts
  packages/applications/notifications/src/subscribers/éliminé/recours/handlers/recoursAnnulé.handler.ts
  packages/applications/notifications/src/subscribers/éliminé/recours/handlers/recoursDemandé.handler.ts
  packages/applications/notifications/src/subscribers/éliminé/recours/handlers/recoursPasséEnInstruction.handler.ts
  packages/applications/notifications/src/subscribers/éliminé/recours/handlers/recoursRejeté.handler.ts
  packages/applications/notifications/src/subscribers/éliminé/recours/recours.notifications.ts
  packages/applications/notifications/src/templates/emails/recours/accorder.md
  packages/applications/notifications/src/templates/emails/recours/annuler.md
  packages/applications/notifications/src/templates/emails/recours/demander.md
  packages/applications/notifications/src/templates/emails/recours/passerEnInstruction.md
  packages/applications/notifications/src/templates/emails/recours/rejeter.md
  packages/applications/subscribers/src/setup/setupProjet/setupÉliminé/setupRecours.ts
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
  packages/specifications/src/projet/éliminé/recours/annulerRecours.feature
  packages/specifications/src/projet/éliminé/recours/demanderRecours.feature
  packages/specifications/src/projet/éliminé/recours/passerRecoursEnInstruction.feature
  packages/specifications/src/projet/éliminé/recours/rejeterRecours.feature
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.given.ts
Due: eslint --fix, prettier -w

🗃️ Vue demandes : ajout modifications AOS (#3961)
  .database/potentiel-dev.dump
  packages/statistiques/vues/src/stats_demandes.sql
Due: none

♻️ Passage du package Routes en ESM (#3960)
  packages/applications/routes/package.json
  packages/applications/routes/src/accès/accès.routes.ts
  packages/applications/routes/src/accès/index.ts
  packages/applications/routes/src/auth/index.ts
  packages/applications/routes/src/candidature/candidature.routes.ts
  packages/applications/routes/src/candidature/index.ts
  packages/applications/routes/src/document/document.routes.ts
  packages/applications/routes/src/document/index.ts
  packages/applications/routes/src/export/index.ts
  packages/applications/routes/src/index.ts
  packages/applications/routes/src/lauréat/abandon.routes.ts
  packages/applications/routes/src/lauréat/achèvement.routes.ts
  packages/applications/routes/src/lauréat/actionnaire.routes.ts
  packages/applications/routes/src/lauréat/cahierDesCharges.routes.ts
  packages/applications/routes/src/lauréat/délai.routes.ts
  packages/applications/routes/src/lauréat/fournisseur.routes.ts
  packages/applications/routes/src/lauréat/garantiesFinancières.routes.ts
  packages/applications/routes/src/lauréat/historique.routes.ts
  packages/applications/routes/src/lauréat/index.ts
  packages/applications/routes/src/lauréat/installation.routes.ts
  packages/applications/routes/src/lauréat/lauréat.routes.ts
  packages/applications/routes/src/lauréat/natureDeLExploitation.routes.ts
  packages/applications/routes/src/lauréat/producteur.routes.ts
  packages/applications/routes/src/lauréat/puissance.routes.ts
  packages/applications/routes/src/lauréat/raccordement.routes.ts
  packages/applications/routes/src/lauréat/représentantLégal.routes.ts
  packages/applications/routes/src/projet/index.ts
  packages/applications/routes/src/projet/projet.routes.ts
  packages/applications/routes/src/période/index.ts
  packages/applications/routes/src/période/période.routes.ts
  packages/applications/routes/src/réseau/gestionnaire.routes.ts
  packages/applications/routes/src/réseau/index.ts
  packages/applications/routes/src/statistiques-publiques/index.ts
  packages/applications/routes/src/tâche/index.ts
  packages/applications/routes/src/utilisateur/index.ts
  packages/applications/routes/src/utilisateur/utilisateur.routes.ts
  packages/applications/routes/src/éliminé/index.ts
  packages/applications/routes/src/éliminé/recours.routes.ts
  packages/applications/routes/src/éliminé/éliminé.routes.ts
  packages/applications/routes/tsconfig.json
Due: eslint --fix, prettier -w

🚧 WIP template délai
  packages/applications/notifications/src/subscribers/lauréat/délai/délai.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/handlers/demandeDélaiAnnulée.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/handlers/demandeDélaiCorrigée.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/handlers/demandeDélaiPasséeEnInstruction.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/handlers/demandeDélaiRejetée.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/handlers/délaiDemandé.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/handlers/démandeDélaiAccordée.handler.ts
  packages/applications/notifications/src/templates/emails/délai/accorder.md
  packages/applications/notifications/src/templates/emails/délai/annuler.md
  packages/applications/notifications/src/templates/emails/délai/corriger.md
  packages/applications/notifications/src/templates/emails/délai/demander.md
  packages/applications/notifications/src/templates/emails/délai/passerEnInstruction.md
  packages/applications/notifications/src/templates/emails/délai/rejeter.md
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupDélai.ts
  packages/specifications/src/projet/lauréat/délai/accorderDemandeDélai.feature
  packages/specifications/src/projet/lauréat/délai/annulerDemandeDélai.feature
  packages/specifications/src/projet/lauréat/délai/corrigerDemandeDélai.feature
  packages/specifications/src/projet/lauréat/délai/demanderDélai.feature
  packages/specifications/src/projet/lauréat/délai/passerEnInstructionDemandeDélai.feature
  packages/specifications/src/projet/lauréat/délai/rejeterDemandeDélai.feature
Due: eslint --fix, prettier -w

✨ Nouvelle section document (#3954)
  packages/applications/routes/src/lauréat/lauréat.routes.ts
  packages/applications/routes/src/éliminé/éliminé.routes.ts
  packages/applications/ssr/src/app/_helpers/getÉliminé.ts
  packages/applications/ssr/src/app/elimines/(liste)/page.tsx
  packages/applications/ssr/src/app/elimines/(liste)/ÉliminéListItem.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/_helpers/getÉliminéMenuItems.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/documents/(sections)/Documents.section.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/documents/Documents.page.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/documents/page.tsx
  packages/applications/ssr/src/app/elimines/export/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getLauréatMenuItems.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/documents/(sections)/Documents.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/documents/Documents.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/documents/page.tsx
  packages/applications/ssr/src/app/laureats/export/route.ts
  packages/applications/ssr/src/app/projets/[identifiant]/page.tsx
  packages/applications/ssr/src/components/molecules/projet/éliminé/ProjetÉliminéBanner.tsx
  packages/applications/ssr/src/components/organisms/document/DocumentListItem.tsx
  packages/applications/ssr/src/components/organisms/document/DocumentsList.tsx
  packages/domain/projet/src/lauréat/lister/listerLauréatEnrichi.query.ts
  packages/domain/projet/src/éliminé/lister/listerÉliminéEnrichi.query.ts
Due: eslint --fix

✅ Pass tests
  packages/applications/notifications/src/templates/emails/délai/passerEnInstruction.md
  packages/specifications/src/notification/notification.world.ts
  packages/specifications/src/projet/lauréat/délai/accorderDemandeDélai.feature
  packages/specifications/src/projet/lauréat/délai/annulerDemandeDélai.feature
  packages/specifications/src/projet/lauréat/délai/corrigerDemandeDélai.feature
  packages/specifications/src/projet/lauréat/délai/demanderDélai.feature
  packages/specifications/src/projet/lauréat/délai/passerEnInstructionDemandeDélai.feature
  packages/specifications/src/projet/lauréat/délai/rejeterDemandeDélai.feature
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
  packages/specifications/src/setup.ts
Due: eslint --fix, prettier -w

⚰️ Remove old notifications files
  packages/applications/notifications/src/subscribers/lauréat/délai/constant.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/type.ts
  packages/applications/notifications/src/subscribers/éliminé/recours/constant.ts
  packages/applications/notifications/src/subscribers/éliminé/recours/type.ts
Due: eslint --fix

💬 Harmonistation des templates délai
  packages/applications/notifications/src/subscribers/lauréat/délai/handlers/demandeDélaiAccordée.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/handlers/index.ts
  packages/applications/notifications/src/templates/emails/délai/accorder.md
  packages/applications/notifications/src/templates/emails/délai/annuler.md
  packages/applications/notifications/src/templates/emails/délai/corriger.md
  packages/applications/notifications/src/templates/emails/délai/demander.md
  packages/applications/notifications/src/templates/emails/délai/passerEnInstruction.md
  packages/applications/notifications/src/templates/emails/délai/rejeter.md
Due: eslint --fix

✨Migration des templates de mail délai (#3958)
  packages/applications/notifications/src/subscribers/lauréat/délai/constant.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/délai.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/handlers/demandeDélaiAccordée.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/handlers/demandeDélaiAnnulée.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/handlers/demandeDélaiCorrigée.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/handlers/demandeDélaiPasséeEnInstruction.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/handlers/délaiDemandé.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/handlers/démandeDélaiAccordée.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/handlers/index.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/type.ts
  packages/applications/notifications/src/subscribers/éliminé/recours/constant.ts
  packages/applications/notifications/src/subscribers/éliminé/recours/type.ts
  packages/applications/notifications/src/templates/emails/délai/accorder.md
  packages/applications/notifications/src/templates/emails/délai/annuler.md
  packages/applications/notifications/src/templates/emails/délai/corriger.md
  packages/applications/notifications/src/templates/emails/délai/demander.md
  packages/applications/notifications/src/templates/emails/délai/passerEnInstruction.md
  packages/applications/notifications/src/templates/emails/délai/rejeter.md
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupDélai.ts
  packages/specifications/src/notification/notification.world.ts
  packages/specifications/src/projet/lauréat/délai/accorderDemandeDélai.feature
  packages/specifications/src/projet/lauréat/délai/annulerDemandeDélai.feature
  packages/specifications/src/projet/lauréat/délai/corrigerDemandeDélai.feature
  packages/specifications/src/projet/lauréat/délai/demanderDélai.feature
  packages/specifications/src/projet/lauréat/délai/passerEnInstructionDemandeDélai.feature
  packages/specifications/src/projet/lauréat/délai/rejeterDemandeDélai.feature
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
  packages/specifications/src/setup.ts
Due: eslint --fix, prettier -w

ajout des templates
  packages/applications/notifications/src/templates/emails/actionnaire/accorder.md
  packages/applications/notifications/src/templates/emails/actionnaire/annuler.md
  packages/applications/notifications/src/templates/emails/actionnaire/demander.md
  packages/applications/notifications/src/templates/emails/actionnaire/modifier.md
  packages/applications/notifications/src/templates/emails/actionnaire/rejeter.md
Due: eslint --fix

handlers
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/actionnaire.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/constant.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/handlers/actionnaireModifié.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/handlers/changementActionnaireAccordé.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/handlers/changementActionnaireAnnulé.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/handlers/changementActionnaireDemandé.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/handlers/changementActionnaireEnregistré.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/handlers/changementActionnaireRejeté.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/helpers/getDateDemandeEnCoursActionnaire.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/type.ts
  packages/applications/notifications/src/templates/emails/actionnaire/changementEnregistré.md
  packages/applications/notifications/src/templates/emails/actionnaire/demande/accorder.md
  packages/applications/notifications/src/templates/emails/actionnaire/demande/annuler.md
  packages/applications/notifications/src/templates/emails/actionnaire/demande/demander.md
  packages/applications/notifications/src/templates/emails/actionnaire/demande/rejeter.md
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupActionnaire.ts
Due: eslint --fix

test
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/actionnaire.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/handlers/changementActionnaireEnregistré.handler.ts
  packages/applications/notifications/src/templates/emails/actionnaire/enregistrer_changement.md
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupActionnaire.ts
  packages/specifications/src/projet/lauréat/actionnaire/accorderChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/annulerChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/demanderChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/enregistrerChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/modifierActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/rejeterChangementActionnaire.feature
Due: eslint --fix, prettier -w

🔊 Ajout de logs des requêtes HTTP
  packages/applications/request-context/src/runWithContext.ts
  packages/applications/ssr/src/components/organisms/Footer.tsx
  packages/applications/ssr/src/components/organisms/header/Header.tsx
  packages/applications/ssr/src/components/organisms/header/UserBasedRoleNavigation.tsx
  packages/applications/ssr/src/components/organisms/header/UserHeaderQuickAccessItem.tsx
  packages/applications/ssr/src/server.ts
Due: eslint --fix

🎨 Fix node-mailjet
  packages/infrastructure/email/src/getMailjetClient.ts
Due: eslint --fix

🔊 Ajout de logs des requêtes HTTP (#3965)
  packages/applications/request-context/src/runWithContext.ts
  packages/applications/ssr/src/components/organisms/Footer.tsx
  packages/applications/ssr/src/components/organisms/header/Header.tsx
  packages/applications/ssr/src/components/organisms/header/UserBasedRoleNavigation.tsx
  packages/applications/ssr/src/components/organisms/header/UserHeaderQuickAccessItem.tsx
  packages/applications/ssr/src/server.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
