Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

⏪️ Revert
  packages/applications/notifications/src/subscribers/lauréat/lauréat/cahierDesChargesChoisi.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/lauréat/index.ts
Due: eslint --fix

⏪️ Revert
  packages/applications/notifications/src/subscribers/lauréat/lauréat/index.ts
Due: eslint --fix

🎨 Retours review
  packages/specifications/src/candidature/stepDefinitions/candidatureLegacy.given.ts
  packages/specifications/src/projet/lauréat/actionnaire/demanderChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréatLegacy.given.ts
Due: eslint --fix, prettier -w

🎨 Improve tests
  packages/specifications/src/projet/lauréat/actionnaire/demanderChangementActionnaire.feature
Due: prettier -w

🎨 Ajout de scénario plus explicite spécifier le cas de la demande de actionnaire (CRE4 Eolien) + ajout step import projet legacy (#3007)
  packages/specifications/src/candidature/stepDefinitions/candidatureLegacy.given.ts
  packages/specifications/src/projet/lauréat/actionnaire/demanderChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréatLegacy.given.ts
Due: eslint --fix, prettier -w

✨ Ajout puissance dans dossier raccordement pour les GRDs
  packages/applications/ssr/src/app/api/v1/reseaux/raccordements/route.ts
  packages/applications/ssr/src/app/reseaux/gestionnaires/[identifiant]/raccordements/mise-en-service-en-attente:exporter/route.ts
  packages/applications/ssr/src/components/pages/réseau/raccordement/lister/DossierRaccordementListItem.tsx
  packages/domain/lauréat/src/raccordement/lister/listerDossierRaccordement.query.ts
  packages/domain/lauréat/src/raccordement/lister/listerDossierRaccordementEnAttenteMiseEnService.query.ts
Due: eslint --fix

♻️ Refactor type + use dsfr icon instead of ri
  packages/applications/ssr/src/components/pages/réseau/raccordement/lister/DossierRaccordementListItem.tsx
  packages/domain/lauréat/src/raccordement/lister/listerDossierRaccordement.query.ts
Due: eslint --fix

🎨 Ajout statistique "total de ptf déposées" (#3003)
  .database/metabase-dev.dump
  .database/potentiel-dev.dump
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/index.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/nombreTotalPTFDéposées.statistic.ts
Due: eslint --fix

🎨 Supprimer scénario redondant
  packages/specifications/src/projet/lauréat/producteur/candidature/corrigerProducteurÀLaCandidature.feature
Due: prettier -w

🎨 Correction importer
  packages/specifications/src/projet/lauréat/producteur/importerProducteur.feature
Due: prettier -w

🎨 Declarer => enregistrer changement
  packages/specifications/src/projet/lauréat/producteur/déclarerChangementProducteur.feature
  packages/specifications/src/projet/lauréat/producteur/enregistrerChangementProducteur.feature
Due: prettier -w

🎨 Amélioration cas modification
  packages/specifications/src/projet/lauréat/producteur/enregistrerChangementProducteur.feature
  packages/specifications/src/projet/lauréat/producteur/modifierProducteur.feature
Due: prettier -w

🎨 Ajout de l'unité de puissance pour la puissance
  packages/applications/ssr/src/app/api/v1/reseaux/raccordements/route.ts
  packages/applications/ssr/src/app/reseaux/gestionnaires/[identifiant]/raccordements/mise-en-service-en-attente:exporter/route.ts
  packages/applications/ssr/src/components/pages/réseau/raccordement/lister/DossierRaccordementListItem.tsx
  packages/domain/lauréat/src/raccordement/lister/listerDossierRaccordement.query.ts
  packages/domain/lauréat/src/raccordement/lister/listerDossierRaccordementEnAttenteMiseEnService.query.ts
Due: eslint --fix

✨ Set up entity et lauréat
  packages/applications/projectors/src/subscribers/lauréat/producteur/index.ts
  packages/applications/projectors/src/subscribers/lauréat/producteur/producteurImporté.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/producteur/producteurRebuildTrigerred.projector.ts
  packages/domain/lauréat/src/index.ts
  packages/domain/lauréat/src/producteur/errors.ts
  packages/domain/lauréat/src/producteur/importer/importerProducteur.behavior.ts
  packages/domain/lauréat/src/producteur/importer/importerProducteur.command.ts
  packages/domain/lauréat/src/producteur/index.ts
  packages/domain/lauréat/src/producteur/producteur.aggregate.ts
  packages/domain/lauréat/src/producteur/producteur.entity.ts
  packages/domain/lauréat/src/producteur/producteur.register.ts
  packages/domain/lauréat/src/producteur/saga/index.ts
  packages/domain/lauréat/src/producteur/saga/lauréatNotifié.saga.ts
  packages/domain/utilisateur/src/réclamer/réclamerProjet.behavior.ts
Due: eslint --fix

🎨 Ajout consulter et script v1 pour migrer les imports
  packages/applications/cli/src/commands/producteur/migrer-partiellement.ts
  packages/applications/projectors/src/subscribers/lauréat/producteur/index.ts
  packages/applications/projectors/src/subscribers/lauréat/producteur/producteurImporté.projector.ts
  packages/domain/lauréat/src/producteur/consulter/consulterProducteur.query.ts
  packages/domain/lauréat/src/producteur/producteur.register.ts
  packages/domain/lauréat/src/register.ts
Due: eslint --fix

🎨 Domaine ok, specs à faire après merge
  packages/applications/bootstrap/src/setupLauréat.ts
  packages/applications/projectors/src/index.ts
  packages/domain/lauréat/src/producteur/importer/importerProducteur.command.ts
  packages/domain/projet/src/candidature/candidature.aggregate.ts
Due: eslint --fix

🎨 Ménage
  packages/applications/cli/src/commands/puissance/migrer-partiellement.ts
Due: eslint --fix

🎨 Retours
  packages/domain/lauréat/src/raccordement/lister/listerDossierRaccordement.query.ts
  packages/domain/lauréat/src/raccordement/lister/listerDossierRaccordementEnAttenteMiseEnService.query.ts
Due: eslint --fix

✨ Ajout puissance dans dossier raccordement pour les GRDs (#3008)
  packages/applications/ssr/src/app/api/v1/reseaux/raccordements/route.ts
  packages/applications/ssr/src/app/reseaux/gestionnaires/[identifiant]/raccordements/mise-en-service-en-attente:exporter/route.ts
  packages/applications/ssr/src/components/pages/réseau/raccordement/lister/DossierRaccordementListItem.tsx
  packages/domain/lauréat/src/raccordement/lister/listerDossierRaccordement.query.ts
  packages/domain/lauréat/src/raccordement/lister/listerDossierRaccordementEnAttenteMiseEnService.query.ts
Due: eslint --fix

✅ Specs almost done
  packages/applications/bootstrap/src/setupLauréat.ts
  packages/domain/lauréat/src/producteur/index.ts
  packages/specifications/src/projet/lauréat/lauréat.world.ts
  packages/specifications/src/projet/lauréat/producteur/fixture/importerProducteur.fixture.ts
  packages/specifications/src/projet/lauréat/producteur/importerProducteur.feature
  packages/specifications/src/projet/lauréat/producteur/producteur.world.ts
  packages/specifications/src/projet/lauréat/producteur/stepDefinitions/producteur.then.ts
  packages/specifications/src/projet/lauréat/producteur/stepDefinitions/producteur.when.ts
  packages/specifications/src/projet/lauréat/puissance/stepDefinitions/puissance.given.ts
Due: eslint --fix, prettier -w

🎨 Ounli :)
  packages/specifications/src/projet/lauréat/producteur/importerProducteur.feature
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.given.ts
Due: eslint --fix, prettier -w

🎨 Update dump
  .database/potentiel-dev.dump
Due: none

🎨 Supprimer champs inutile dans puissance
  packages/applications/projectors/src/subscribers/lauréat/puissance/puissanceImportée.projector.ts
  packages/domain/lauréat/src/puissance/puissance.entity.ts
Due: eslint --fix

🎨 Fichier inutile
  packages/specifications/src/projet/lauréat/puissance/stepDefinitions/puissance.given.ts
Due: eslint --fix

♻️ Organisation des requêtes du dashboard publique iso avec la prod
  .database/metabase-dev.dump
Due: none

🐛 Fix DateMiseEnServiceSupprimée version (#3005)
  packages/applications/bootstrap/src/setupRéseau.ts
  packages/applications/projectors/src/subscribers/réseau/raccordement.projector.ts
  packages/domain/lauréat/src/raccordement/supprimer/supprimerDateMiseEnService.behavior.ts
Due: eslint --fix

🎨 First setup pour enregistrer
  packages/applications/bootstrap/src/setupLauréat.ts
  packages/applications/projectors/src/subscribers/lauréat/producteur/changementProducteurEnregistré.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/producteur/index.ts
  packages/domain/lauréat/src/producteur/changement/changementProducteur.entity.ts
  packages/domain/lauréat/src/producteur/changement/consulter/consulterChangementProducteur.query.ts
  packages/domain/lauréat/src/producteur/changement/enregistrerChangement/enregistrerChangementProducteur.behavior.ts
  packages/domain/lauréat/src/producteur/changement/enregistrerChangement/enregistrerChangementProducteur.command.ts
  packages/domain/lauréat/src/producteur/changement/enregistrerChangement/enregistrerChangementProducteur.usecase.ts
  packages/domain/lauréat/src/producteur/changement/errors.ts
  packages/domain/lauréat/src/producteur/index.ts
  packages/domain/lauréat/src/producteur/producteur.aggregate.ts
  packages/domain/lauréat/src/producteur/producteur.register.ts
  packages/domain/lauréat/src/producteur/typeDocumentProducteur.valueType.ts
  packages/specifications/src/projet/lauréat/producteur/enregistrerChangementProducteur.feature
  packages/specifications/src/projet/lauréat/producteur/fixture/enregistrerChangementProducteur.fixture.ts
  packages/specifications/src/projet/lauréat/producteur/producteur.world.ts
  packages/specifications/src/projet/lauréat/producteur/stepDefinitions/producteur.when.ts
Due: eslint --fix, prettier -w

🐛 Fix DateMiseEnServiceSupprimée version (#3005) (#3013)
  packages/applications/bootstrap/src/setupRéseau.ts
  packages/applications/projectors/src/subscribers/réseau/raccordement.projector.ts
  packages/domain/lauréat/src/raccordement/supprimer/supprimerDateMiseEnService.behavior.ts
Due: eslint --fix

🎨 Almost done
  packages/domain/lauréat/src/producteur/changement/enregistrerChangement/enregistrerChangementProducteur.command.ts
  packages/domain/lauréat/src/producteur/changement/enregistrerChangement/enregistrerChangementProducteur.usecase.ts
  packages/domain/lauréat/src/producteur/changement/enregistrerChangement/helper/renouvelerGarantiesFinancières.ts
  packages/domain/lauréat/src/producteur/changement/enregistrerChangement/helper/retirerTousLesAccèsAuxPorteursDuProjet.ts
  packages/domain/lauréat/src/producteur/producteur.register.ts
  packages/specifications/src/projet/lauréat/producteur/enregistrerChangementProducteur.feature
  packages/specifications/src/projet/lauréat/producteur/fixture/enregistrerChangementProducteur.fixture.ts
  packages/specifications/src/projet/lauréat/producteur/stepDefinitions/producteur.when.ts
Due: eslint --fix, prettier -w

🎨 Derniers correctifs
  packages/domain/lauréat/src/producteur/changement/enregistrerChangement/enregistrerChangementProducteur.command.ts
  packages/domain/lauréat/src/producteur/producteur.register.ts
  packages/domain/lauréat/src/producteur/typeDocumentProducteur.valueType.ts
  packages/specifications/src/projet/lauréat/producteur/enregistrerChangementProducteur.feature
  packages/specifications/src/projet/lauréat/producteur/stepDefinitions/producteur.when.ts
Due: eslint --fix, prettier -w

🎨 Oubli consulter changement
  packages/specifications/src/projet/lauréat/producteur/enregistrerChangementProducteur.feature
  packages/specifications/src/projet/lauréat/producteur/producteur.world.ts
  packages/specifications/src/projet/lauréat/producteur/stepDefinitions/producteur.then.ts
  packages/specifications/src/projet/lauréat/puissance/changement/stepDefinitions/changementPuissance.then.ts
Due: eslint --fix, prettier -w

🐛 Correction du problème de mise à jour de la puissance du projet dans l'application legacy
  packages/applications/legacy/src/modules/project/events/ProjectRawDataCorrected.ts
  packages/applications/legacy/src/sagas/candidature.saga.ts
Due: eslint --fix

🐛 Do not set properties that are handled outsdie of the candidature saga (like puissance, actionnaire, nomProjet...)
  packages/applications/legacy/src/modules/project/events/ProjectRawDataCorrected.ts
  packages/applications/legacy/src/sagas/candidature.saga.ts
Due: eslint --fix

🐛 Correction du problème de mise à jour de la puissance du projet dans l'application legacy (#3017)
  packages/applications/legacy/src/modules/project/events/ProjectRawDataCorrected.ts
  packages/applications/legacy/src/sagas/candidature.saga.ts
Due: eslint --fix

✨ Ajout informations supplémentaires pour GRD
  packages/applications/api-documentation/src/main.tsp
  packages/applications/ssr/src/app/api/v1/reseaux/raccordements/route.ts
  packages/applications/ssr/src/app/reseaux/gestionnaires/[identifiant]/raccordements/mise-en-service-en-attente:exporter/route.ts
  packages/domain/lauréat/src/raccordement/lister/listerDossierRaccordement.query.ts
  packages/domain/lauréat/src/raccordement/lister/listerDossierRaccordementEnAttenteMiseEnService.query.ts
Due: eslint --fix

🎨 Typo
  packages/domain/lauréat/src/raccordement/lister/listerDossierRaccordement.query.ts
  packages/domain/lauréat/src/raccordement/lister/listerDossierRaccordementEnAttenteMiseEnService.query.ts
Due: eslint --fix

🎨 Review julien changement nom
  packages/applications/projectors/src/subscribers/lauréat/producteur/changementProducteurEnregistré.projector.ts
  packages/domain/lauréat/src/producteur/changement/changementProducteur.entity.ts
  packages/domain/lauréat/src/producteur/changement/consulter/consulterChangementProducteur.query.ts
  packages/specifications/src/projet/lauréat/producteur/producteur.world.ts
Due: eslint --fix

🎨 Changement command
  packages/domain/lauréat/src/garantiesFinancières/index.ts
  packages/domain/lauréat/src/producteur/changement/enregistrerChangement/enregistrerChangementProducteur.command.ts
  packages/domain/lauréat/src/producteur/changement/enregistrerChangement/enregistrerChangementProducteur.usecase.ts
  packages/domain/lauréat/src/producteur/changement/enregistrerChangement/helper/renouvelerGarantiesFinancières.ts
  packages/domain/lauréat/src/producteur/changement/enregistrerChangement/helper/retirerTousLesAccèsAuxPorteursDuProjet.ts
  packages/domain/utilisateur/src/index.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
