Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml,feature}": "prettier -w"
}

✨ Vérifier que le CDC permet un changement sur les page "demander" et "enregistrer"
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/enregistrer/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/demander/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/enregistrer/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/changement/enregistrer/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/demander/page.tsx
Due: eslint --fix

🎨 Permettre import valeur undefined
  packages/applications/ssr/src/utils/candidature/candidatureFields.schema.ts
  packages/domain/projet/src/candidature/candidature.aggregate.ts
  packages/domain/projet/src/candidature/dépôt.valueType.ts
  packages/domain/projet/src/lauréat/installateur/consulter/consulterInstallateur.query.ts
  packages/domain/projet/src/lauréat/installateur/importer/importerInstallateur.event.ts
  packages/domain/projet/src/lauréat/installateur/importer/importerInstallateur.option.ts
  packages/domain/projet/src/lauréat/installateur/installateur.aggregate.ts
  packages/domain/projet/src/lauréat/installateur/installateur.entity.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
Due: eslint --fix

💄 Wording front
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getInstallationAvecDispositifDeStockage.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales/InfoInstallationAvecDispositifDeStockage.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/DétailsCandidature.page.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/CorrigerCandidature.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/components/fields/InstallationAvecDispositifDeStockageField.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation-avec-dispositif-de-stockage/modifier/ModifierInstallationAvecDispositifDeStockage.form.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/installationAvecDispositifDeStockage/events/mapToInstallationAvecDispositifDeStockageModifiéeTimelineItemsProps.tsx
Due: eslint --fix

🎨 Remove log
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/getLauréat.ts
Due: eslint --fix

💄 Largeur input
  packages/applications/ssr/src/app/laureats/[identifiant]/installation-avec-dispositif-de-stockage/modifier/ModifierInstallationAvecDispositifDeStockage.form.tsx
Due: eslint --fix

🚧 PoC multiselect
  packages/applications/ssr/src/app/page.tsx
  packages/applications/ssr/src/app/sample-select.tsx
  packages/applications/ssr/src/components/molecules/MultipleSelect.tsx
Due: eslint --fix

✅ Tester notif cre recours accordé
  packages/specifications/src/notification/stepDefinitions/notification.then.ts
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
  packages/specifications/src/utilisateur/fixtures/cre.fixture.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.given.ts
  packages/specifications/src/utilisateur/utilisateur.world.ts
Due: eslint --fix, prettier -w

✨ Notification cre recours rejeté
  packages/applications/notifications/src/subscribers/éliminé/recours.notification.ts
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
  packages/specifications/src/projet/éliminé/recours/rejeterRecours.feature
Due: eslint --fix, prettier -w

🎨 Not undefined
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getInstallateur.ts
  packages/domain/projet/src/lauréat/installateur/consulter/consulterInstallateur.query.ts
  packages/domain/projet/src/lauréat/installateur/importer/importerInstallateur.event.ts
  packages/domain/projet/src/lauréat/installateur/importer/importerInstallateur.option.ts
  packages/domain/projet/src/lauréat/installateur/installateur.entity.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
Due: eslint --fix

🎨 Schema
  packages/applications/ssr/src/utils/candidature/candidatureFields.schema.ts
  packages/domain/projet/src/candidature/candidature.aggregate.ts
Due: eslint --fix

✨ Ne pas pré-remplir l'évaluation carbone lors d'un changement de fournisseur
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/enregistrer/EnregistrerChangementFournisseur.form.tsx
Due: eslint --fix

✨ Débloquer transmission attestation conformité
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole2016.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI2017.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/batiment.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/eolien.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/fessenheim.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/innovation.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/pvEolien.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/sol.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni2017.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/autoconsommationMetropole.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/batiment.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/eolien.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/innovation.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/neutre.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/petitPVBâtiment.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/sol.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/zni.ppe2.ts
  packages/domain/projet/src/cahierDesCharges.valueType.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.aggregate.ts
  packages/specifications/src/projet/lauréat/achèvement/transmettreAttestationConformité.feature
Due: eslint --fix, prettier -w

🎨 Utilisation du composant multipleSelect
  packages/applications/ssr/src/app/page.tsx
  packages/applications/ssr/src/app/sample-select.tsx
  packages/applications/ssr/src/components/molecules/FilterMultipleChoices.tsx
  packages/applications/ssr/src/components/molecules/ListFilters.tsx
  packages/applications/ssr/src/components/molecules/MultipleSelect.tsx
Due: eslint --fix

🐛 Fix installateur (import) (#3463)
  .demo/exempleCandidatsPPE2.csv
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getInstallateur.ts
  packages/domain/projet/src/candidature/candidature.aggregate.ts
  packages/domain/projet/src/lauréat/installateur/installateur.aggregate.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
Due: eslint --fix

🎨 Refacto handle on change
  packages/applications/ssr/src/components/molecules/Filter.tsx
  packages/applications/ssr/src/components/molecules/ListFilters.tsx
  packages/domain/projet/src/éliminé/recours/lister/listerRecours.query.ts
Due: eslint --fix

🎨 Au click sur le tag, supprimer uniquement le params qui a cette valeur
  packages/applications/ssr/src/components/molecules/FiltersTagList.tsx
Due: eslint --fix

🎨 Valeur par défaut pour le params de la liste des status dans applyStatutFilter
  packages/applications/routes/src/lauréat/_helpers/applyStatutFilter.ts
  packages/applications/routes/src/lauréat/abandon.routes.ts
  packages/applications/routes/src/lauréat/actionnaire.routes.ts
  packages/applications/routes/src/lauréat/délai.routes.ts
  packages/applications/routes/src/lauréat/puissance.routes.ts
  packages/applications/routes/src/lauréat/représentantLégal.routes.ts
  packages/applications/routes/src/éliminé/recours.routes.ts
Due: eslint --fix

✨ Ne pas pré-remplir l'évaluation carbone lors d'un changement de fournisseur (#3465)
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/enregistrer/EnregistrerChangementFournisseur.form.tsx
Due: eslint --fix

🎨 Typage fort pour la méthode transformToOptionalEnumArray
  packages/applications/ssr/src/app/_helpers/transformToOptionalStringArray.ts
  packages/applications/ssr/src/app/laureats/changements/abandon/page.tsx
  packages/applications/ssr/src/app/laureats/changements/actionnaire/page.tsx
  packages/applications/ssr/src/app/laureats/changements/delai/page.tsx
  packages/applications/ssr/src/app/laureats/changements/puissance/page.tsx
  packages/applications/ssr/src/app/laureats/changements/representant-legal/page.tsx
  packages/applications/ssr/src/app/recours/page.tsx
Due: eslint --fix

🎨 Simplification de la méthode handleOnChange de ListFilters
  packages/applications/ssr/src/components/molecules/ListFilters.tsx
Due: eslint --fix

🎨 Rename files
  packages/applications/ssr/src/app/laureats/[identifiant]/historique/page.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/installation-avec-dispositif-de-stockage/events/index.ts
  packages/applications/ssr/src/utils/historique/mapToProps/installation-avec-dispositif-de-stockage/events/mapToInstallationAvecDispositifDeStockageImportéeTimelineItemProps.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/installation-avec-dispositif-de-stockage/events/mapToInstallationAvecDispositifDeStockageModifiéeTimelineItemsProps.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/installation-avec-dispositif-de-stockage/mapToInstallationAvecDispositifDeStockageTimelineItemProps.tsx
  packages/domain/projet/src/lauréat/historique/lister/listerHistoriqueProjet.query.ts
  packages/domain/projet/src/lauréat/index.ts
  packages/domain/projet/src/lauréat/installation-avec-dispositif-de-stockage/consulter/consulterInstallationAvecDispositifDeStockage.query.ts
  packages/domain/projet/src/lauréat/installation-avec-dispositif-de-stockage/importer/importerInstallationAvecDispositifDeStockage.event.ts
  packages/domain/projet/src/lauréat/installation-avec-dispositif-de-stockage/importer/importerInstallationAvecDispositifDeStockage.option.ts
  packages/domain/projet/src/lauréat/installation-avec-dispositif-de-stockage/index.ts
  packages/domain/projet/src/lauréat/installation-avec-dispositif-de-stockage/installationAvecDispositifDeStockage.aggregate.ts
  packages/domain/projet/src/lauréat/installation-avec-dispositif-de-stockage/installationAvecDispositifDeStockage.entity.ts
  packages/domain/projet/src/lauréat/installation-avec-dispositif-de-stockage/installationAvecDispositifDeStockage.error.ts
  packages/domain/projet/src/lauréat/installation-avec-dispositif-de-stockage/installationAvecDispositifDeStockage.event.ts
  packages/domain/projet/src/lauréat/installation-avec-dispositif-de-stockage/installationAvecDispositifDeStockage.register.ts
  packages/domain/projet/src/lauréat/installation-avec-dispositif-de-stockage/listerHistorique/ListerHistoriqueInstallationAvecDispositifDeStockageProjet.query.ts
  packages/domain/projet/src/lauréat/installation-avec-dispositif-de-stockage/modifier/modifierInstallationAvecDispositifDeStockage.command.ts
  packages/domain/projet/src/lauréat/installation-avec-dispositif-de-stockage/modifier/modifierInstallationAvecDispositifDeStockage.event.ts
  packages/domain/projet/src/lauréat/installation-avec-dispositif-de-stockage/modifier/modifierInstallationAvecDispositifDeStockage.options.ts
  packages/domain/projet/src/lauréat/installation-avec-dispositif-de-stockage/modifier/modifierInstallationAvecDispositifDeStockage.usecase.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
  packages/domain/projet/src/lauréat/lauréat.register.ts
  packages/specifications/src/projet/lauréat/installation-avec-dispositif-de-stockage/fixture/modifierInstallationAvecDispositifDeStockage.fixture.ts
  packages/specifications/src/projet/lauréat/installation-avec-dispositif-de-stockage/modifierInstallationAvecDispositifDeStockage.feature
  packages/specifications/src/projet/lauréat/installation-avec-dispositif-de-stockage/stepDefinitions/installationAvecDispositifDeStockage.then.ts
  packages/specifications/src/projet/lauréat/installation-avec-dispositif-de-stockage/stepDefinitions/installationAvecDispositifDeStockage.when.ts
  packages/specifications/src/projet/lauréat/installation-avec-dispositif-de-stockage/stepDefinitions/installationAvecDispositifDeStockage.world.ts
  packages/specifications/src/projet/lauréat/lauréat.world.ts
Due: eslint --fix, prettier -w

Update packages/specifications/src/projet/éliminé/recours/rejeterRecours.feature
  packages/specifications/src/projet/éliminé/recours/rejeterRecours.feature
Due: prettier -w

💄 Majuscules
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales/InfoInstallationAvecDispositifDeStockage.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/CorrigerCandidature.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/components/fields/InstallationAvecDispositifDeStockageField.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation-avec-dispositif-de-stockage/modifier/ModifierInstallationAvecDispositifDeStockage.form.tsx
Due: eslint --fix

🎨 Redirection vers les pages de détails pour les informations enregistrées
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/enregistrer/enregistrerChangementActionnaire.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/enregistrer/enregistrerChangementFournisseur.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/enregistrer/enregistrerChangementReprésentantLégal.action.ts
Due: eslint --fix

🎨 Retravail du composant MultipleSelect
  packages/applications/ssr/src/components/molecules/ListFilters.tsx
  packages/applications/ssr/src/components/molecules/MultipleSelect.tsx
Due: eslint --fix

🚸 Rediriger sur la page de la demande post instruction (#3461)
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/DétailsActionnaire.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/accorder/AccorderChangementActionnaire.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/accorder/accorderChangementActionnaire.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/rejeter/RejeterChangementActionnaire.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/rejeter/rejeterChangementActionnaire.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/enregistrer/enregistrerChangementActionnaire.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/enregistrer/enregistrerChangementFournisseur.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/DétailsPuissance.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/accorder/AccorderChangementPuissance.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/accorder/accorderChangementPuissance.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/rejeter/RejeterChangementPuissance.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/rejeter/rejeterChangementPuissance.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/DétailsChangementReprésentantLégal.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/accorder/AccorderChangementReprésentantLégal.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/accorder/accorderChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/rejeter/RejeterChangementReprésentantLégal.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/rejeter/rejeterChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/enregistrer/enregistrerChangementReprésentantLégal.action.ts
Due: eslint --fix

✨ Ajout de la possibilité de séléctionner plusieurs valeurs pour un filtre d'une liste (#3455)
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/AcheteurObligéMenuLegacy.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/AdminMenuLegacy.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/CreMenuLegacy.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/DrealMenuLegacy.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/PorteurMenuLegacy.tsx
  packages/applications/routes/src/lauréat/_helpers/applyStatutFilter.ts
  packages/applications/routes/src/lauréat/abandon.routes.ts
  packages/applications/routes/src/lauréat/actionnaire.routes.ts
  packages/applications/routes/src/lauréat/délai.routes.ts
  packages/applications/routes/src/lauréat/puissance.routes.ts
  packages/applications/routes/src/lauréat/représentantLégal.routes.ts
  packages/applications/routes/src/éliminé/recours.routes.ts
  packages/applications/ssr/src/app/_helpers/transformToOptionalStringArray.ts
  packages/applications/ssr/src/app/laureats/changements/abandon/page.tsx
  packages/applications/ssr/src/app/laureats/changements/actionnaire/page.tsx
  packages/applications/ssr/src/app/laureats/changements/delai/page.tsx
  packages/applications/ssr/src/app/laureats/changements/puissance/page.tsx
  packages/applications/ssr/src/app/laureats/changements/representant-legal/page.tsx
  packages/applications/ssr/src/app/recours/page.tsx
  packages/applications/ssr/src/components/molecules/Filter.tsx
  packages/applications/ssr/src/components/molecules/FiltersTagList.tsx
  packages/applications/ssr/src/components/molecules/ListFilters.tsx
  packages/applications/ssr/src/components/molecules/MultipleSelect.tsx
  packages/applications/ssr/src/components/molecules/Search.tsx
  packages/applications/ssr/src/components/organisms/ListHeader.tsx
  packages/applications/ssr/src/components/organisms/header/UserBasedRoleNavigation.tsx
  packages/applications/ssr/src/components/templates/ListPage.template.tsx
  packages/domain/projet/src/lauréat/abandon/lister/listerAbandons.query.ts
  packages/domain/projet/src/lauréat/actionnaire/changement/lister/listerChangementActionnaire.query.ts
  packages/domain/projet/src/lauréat/puissance/changement/lister/listerChangementPuissance.query.ts
  packages/domain/projet/src/lauréat/représentantLégal/changement/lister/listerChangementReprésentantLégal.query.ts
  packages/domain/projet/src/éliminé/recours/lister/listerRecours.query.ts
Due: eslint --fix

Notifier la CRE en cas de recours rejeté (#3464)
  packages/applications/notifications/src/subscribers/éliminé/recours.notification.ts
  packages/specifications/src/notification/stepDefinitions/notification.then.ts
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
  packages/specifications/src/projet/éliminé/recours/rejeterRecours.feature
  packages/specifications/src/utilisateur/fixtures/cre.fixture.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.given.ts
  packages/specifications/src/utilisateur/utilisateur.world.ts
Due: eslint --fix, prettier -w

✨ Vérifier que le CDC permet un changement sur les page "demander" et "enregistrer" (#3432)
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/enregistrer/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/demander/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/enregistrer/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/changement/enregistrer/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/demander/page.tsx
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationMetropole2016.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/autoconsommationZNI2017.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/batiment.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/eolien.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/fessenheim.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/innovation.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/pvEolien.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/sol.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/CRE4/zni2017.cre4.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/autoconsommationMetropole.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/batiment.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/eolien.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/innovation.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/neutre.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/petitPVBâtiment.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/sol.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/zni.ppe2.ts
  packages/domain/projet/src/cahierDesCharges.valueType.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.aggregate.ts
  packages/specifications/src/projet/lauréat/achèvement/transmettreAttestationConformité.feature
Due: eslint --fix, prettier -w

🎨 WIP V2
  packages/applications/bootstrap/src/setupProjet/setupLauréat/setupNatureDeLExploitation.ts
  packages/applications/notifications/src/subscribers/lauréat/nature-de-l-exploitation/constant.ts
  packages/applications/notifications/src/subscribers/lauréat/nature-de-l-exploitation/index.ts
  packages/applications/notifications/src/subscribers/lauréat/nature-de-l-exploitation/natureDeLExploitationModifiée.notification.ts
  packages/applications/projectors/src/subscribers/lauréat/nature-de-l-exploitation/index.ts
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/corrigerCandidature.action.ts
  packages/applications/ssr/src/app/candidatures/corriger-par-lot/CorrigerCandidaturesParLot.action.ts
  packages/applications/ssr/src/app/candidatures/importer/ds/importerPériode.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/modifierLauréat.action.ts
  packages/applications/ssr/src/utils/candidature/candidatureFields.schema.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.ts
  packages/applications/ssr/src/utils/candidature/dépôt.schema.ts
  packages/applications/ssr/src/utils/historique/mapToProps/nature-de-l-exploitation/events/mapToNatureDeLExploitationImportéeTimelineItemProps.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/nature-de-l-exploitation/events/mapToNatureDeLExploitationModifiéeTimelineItemsProps.tsx
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/petitPVBâtiment.ppe2.ts
  packages/domain/projet/src/candidature/candidature.aggregate.ts
  packages/domain/projet/src/candidature/candidature.error.ts
  packages/domain/projet/src/candidature/dépôt.valueType.ts
  packages/specifications/src/candidature/candidature.exempleMap.ts
  packages/specifications/src/candidature/fixtures/importerCandidature.fixture.ts
  packages/specifications/src/candidature/importerCandidature.feature
  packages/specifications/src/candidature/notifierCandidature.feature
Due: eslint --fix, prettier -w

🎨 Avancement sur les tests
  packages/domain/projet/src/candidature/candidature.aggregate.ts
  packages/domain/projet/src/candidature/candidature.error.ts
  packages/specifications/src/candidature/fixtures/importerCandidature.fixture.ts
  packages/specifications/src/candidature/importerCandidature.feature
  packages/specifications/src/projet/lauréat/lauréat.world.ts
  packages/specifications/src/projet/lauréat/nature-de-l-exploitation/fixture/modifierNatureDeLExploitation.fixture.ts
  packages/specifications/src/projet/lauréat/nature-de-l-exploitation/modifierNatureDeLExploitation.feature
  packages/specifications/src/projet/lauréat/nature-de-l-exploitation/stepDefinitions/natureDeLExploitation.then.ts
  packages/specifications/src/projet/lauréat/nature-de-l-exploitation/stepDefinitions/natureDeLExploitation.when.ts
Due: eslint --fix, prettier -w

🎨 Fixing some tests
  packages/applications/notifications/src/subscribers/lauréat/nature-de-l-exploitation/constant.ts
  packages/domain/projet/src/candidature/candidature.aggregate.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/candidature/notifierCandidature.feature
  packages/specifications/src/projet/lauréat/nature-de-l-exploitation/modifierNatureDeLExploitation.feature
  packages/specifications/src/projet/lauréat/nature-de-l-exploitation/stepDefinitions/natureDeLExploitation.when.ts
Due: eslint --fix, prettier -w

🎨 Dernier fix value type et subscription cat
  packages/applications/bootstrap/src/setupProjet/setupLauréat/setupNatureDeLExploitation.ts
  packages/applications/ssr/src/utils/candidature/candidatureFields.schema.ts
  packages/domain/projet/src/candidature/dépôt.valueType.ts
  packages/domain/projet/src/candidature/index.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/importer/importerNatureDeLExploitation.event.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/importer/importerNatureDeLExploitation.option.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/index.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/listerHistorique/listerHistoriqueNatureDeLExploitationProjet.query.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/modifier/modifierNatureDeLExploitation.command.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/modifier/modifierNatureDeLExploitation.event.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/modifier/modifierNatureDeLExploitation.option.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/modifier/modifierNatureDeLExploitation.usecase.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/natureDeLExploitation.aggregate.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/typeDeNatureDeLExploitation.valueType.ts
  packages/specifications/src/candidature/candidature.exempleMap.ts
  packages/specifications/src/candidature/fixtures/importerCandidature.fixture.ts
  packages/specifications/src/candidature/notifierCandidature.feature
  packages/specifications/src/projet/lauréat/nature-de-l-exploitation/modifierNatureDeLExploitation.feature
Due: eslint --fix, prettier -w

🎨 Almost done
  packages/applications/notifications/src/subscribers/lauréat/nature-de-l-exploitation/index.ts
  packages/applications/projectors/src/subscribers/historique/historique.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/nature-de-l-exploitation/natureDeLExploitationRebuildTrigerred.projector.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/modifier/modifierNatureDeLExploitation.usecase.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/natureDeLExploitation.aggregate.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/natureDeLExploitation.error.ts
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/candidature/notifierCandidature.feature
Due: eslint --fix, prettier -w

🎨 Review
  packages/applications/ssr/src/app/_helpers/getNatureDeLExploitationTypeLabel.ts
  packages/applications/ssr/src/app/candidatures/corriger-par-lot/CorrigerCandidaturesParLot.action.ts
  packages/applications/ssr/src/utils/candidature/csv/candidature.schema.test.ts
  packages/applications/ssr/src/utils/candidature/csv/candidature.schema.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.test.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.ts
  packages/applications/ssr/src/utils/historique/mapToProps/nature-de-l-exploitation/events/mapToNatureDeLExploitationImportéeTimelineItemProps.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/nature-de-l-exploitation/events/mapToNatureDeLExploitationModifiéeTimelineItemsProps.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/nature-de-l-exploitation/mapToNatureDeLExploitationTimelineItemProps.tsx
  packages/domain/projet/src/candidature/candidature.error.ts
  packages/domain/projet/src/candidature/dépôt.valueType.ts
  packages/domain/projet/src/candidature/typeTechnologie.valueType.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.error.ts
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/projet/lauréat/nature-de-l-exploitation/modifierNatureDeLExploitation.feature
Due: eslint --fix, prettier -w

✅ Specs appel offres
  packages/applications/legacy/src/modules/project/Project.ts
  packages/domain/projet/src/lauréat/puissance/valueType/ratioChangementPuissance.valueType.ts
  packages/specifications/src/candidature/importerCandidature.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/modifierGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/modifierDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/soumettreDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/puissance/changement/demanderChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/enregistrerChangementPuissance.feature
Due: eslint --fix, prettier -w

✅ Guillemets
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.test.ts
Due: eslint --fix

🎨 Ao
  packages/specifications/src/candidature/importerCandidature.feature
  packages/specifications/src/projet/lauréat/nature-de-l-exploitation/natureDeLExploitation.world.ts
Due: eslint --fix, prettier -w
