Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

✅ Update feature files
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
  packages/specifications/src/projet/éliminé/recours/annulerRecours.feature
  packages/specifications/src/projet/éliminé/recours/demanderRecours.feature
Due: prettier -w

✅ Ajout des fixtures dans RecoursWorld
  packages/specifications/src/projet/éliminé/recours/recours.world.ts
Due: eslint --fix

✨ Mise à jour domain Recours
  packages/applications/projectors/src/subscribers/éliminé/recours.projector.ts
  packages/domain/éliminé/src/recours/accorder/accorderRecours.behavior.ts
  packages/domain/éliminé/src/recours/accorder/accorderRecours.command.ts
  packages/domain/éliminé/src/recours/consulter/consulterRecours.query.ts
  packages/domain/éliminé/src/recours/demander/demanderRecours.behavior.ts
  packages/domain/éliminé/src/recours/demander/demanderRecours.command.ts
  packages/domain/éliminé/src/recours/demander/demanderRecours.usecase.ts
  packages/domain/éliminé/src/recours/lister/listerRecours.query.ts
  packages/domain/éliminé/src/recours/recours.entity.ts
  packages/domain/éliminé/src/recours/rejeter/rejeterRecours.behavior.ts
  packages/domain/éliminé/src/recours/rejeter/rejeterRecours.command.ts
  packages/specifications/src/projet/éliminé/eliminé.world.ts
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
  packages/specifications/src/projet/éliminé/recours/annulerRecours.feature
  packages/specifications/src/projet/éliminé/recours/demanderRecours.feature
  packages/specifications/src/projet/éliminé/recours/fixtures/accorderRecours.fixture.ts
  packages/specifications/src/projet/éliminé/recours/fixtures/demanderRecours.fixture.ts
  packages/specifications/src/projet/éliminé/recours/fixtures/rejeterRecours.fixture.ts
  packages/specifications/src/projet/éliminé/recours/recours.world.ts
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.given.ts
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.then.ts
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.when.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.given.ts
Due: eslint --fix, prettier -w

✏️ Fix typos
  packages/specifications/src/projet/éliminé/recours/fixtures/accorderRecours.fixture.ts
  packages/specifications/src/projet/éliminé/recours/fixtures/annulerRecours.fixture.ts
  packages/specifications/src/projet/éliminé/recours/fixtures/rejeterRecours.fixture.ts
  packages/specifications/src/projet/éliminé/recours/recours.world.ts
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.given.ts
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.when.ts
Due: eslint --fix

✏️ Fix typos
  packages/specifications/src/potentiel.world.ts
  packages/specifications/src/projet/lauréat/abandon/stepDefinitions/abandon.when.ts
  packages/specifications/src/projet/éliminé/stepDefinitions/éliminé.given.ts
  packages/specifications/src/projet/éliminé/éliminé.world.ts
  packages/specifications/src/raccordement/stepDefinitions/raccordement.when.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.given.ts
Due: eslint --fix

✅ Update rejeterRecours.feature
  packages/specifications/src/projet/éliminé/recours/rejeterRecours.feature
Due: prettier -w

✅ Remove @select
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
  packages/specifications/src/projet/éliminé/recours/annulerRecours.feature
  packages/specifications/src/projet/éliminé/recours/demanderRecours.feature
  packages/specifications/src/projet/éliminé/recours/rejeterRecours.feature
Due: prettier -w

🔒️ Fix CSP headers
  packages/applications/legacy/src/server.ts
  packages/applications/legacy/src/views/index.html.tsx
Due: eslint --fix

🎨 Cleanup
  packages/applications/legacy/src/server.ts
  packages/applications/legacy/src/views/index.html.tsx
Due: eslint --fix

🎨 Pouvoir chainer des middleware next
  packages/applications/ssr/src/middleware.ts
  packages/applications/ssr/src/middlewares/chain.ts
  packages/applications/ssr/src/middlewares/withAuthMiddleware.ts
Due: eslint --fix

♻️ Utilisation Email à la place d'IdentifiantUtilisateur
  packages/domain/éliminé/src/recours/accorder/accorderRecours.usecase.ts
  packages/domain/éliminé/src/recours/annuler/annulerRecours.usecase.ts
  packages/domain/éliminé/src/recours/demander/demanderRecours.usecase.ts
  packages/domain/éliminé/src/recours/rejeter/rejeterRecours.usecase.ts
Due: eslint --fix

🐛 Annuler tâches échoir GF pour abandonnés et éliminés
  packages/applications/scheduled-tasks/src/annuler-echoir-gf.ts
Due: eslint --fix

🎨 Annuler les tâches programmées pour échoir les gfs de projets éliminés ou abandonnés
  packages/applications/scheduled-tasks/package.json
  packages/applications/scheduled-tasks/src/annuler-echoir-gf-abandonnés-ou-éliminés.ts
Due: eslint --fix, prettier -w

✅ Fix test
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.then.ts
Due: eslint --fix

✨ Mise à jour domain Recours (#2166)
  packages/applications/projectors/src/subscribers/éliminé/recours.projector.ts
  packages/domain/éliminé/src/recours/accorder/accorderRecours.behavior.ts
  packages/domain/éliminé/src/recours/accorder/accorderRecours.command.ts
  packages/domain/éliminé/src/recours/accorder/accorderRecours.usecase.ts
  packages/domain/éliminé/src/recours/annuler/annulerRecours.usecase.ts
  packages/domain/éliminé/src/recours/consulter/consulterRecours.query.ts
  packages/domain/éliminé/src/recours/demander/demanderRecours.behavior.ts
  packages/domain/éliminé/src/recours/demander/demanderRecours.command.ts
  packages/domain/éliminé/src/recours/demander/demanderRecours.usecase.ts
  packages/domain/éliminé/src/recours/lister/listerRecours.query.ts
  packages/domain/éliminé/src/recours/recours.entity.ts
  packages/domain/éliminé/src/recours/rejeter/rejeterRecours.behavior.ts
  packages/domain/éliminé/src/recours/rejeter/rejeterRecours.command.ts
  packages/domain/éliminé/src/recours/rejeter/rejeterRecours.usecase.ts
  packages/specifications/src/potentiel.world.ts
  packages/specifications/src/projet/lauréat/abandon/stepDefinitions/abandon.when.ts
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
  packages/specifications/src/projet/éliminé/recours/annulerRecours.feature
  packages/specifications/src/projet/éliminé/recours/demanderRecours.feature
  packages/specifications/src/projet/éliminé/recours/fixtures/accorderRecours.fixture.ts
  packages/specifications/src/projet/éliminé/recours/fixtures/annulerRecours.fixture.ts
  packages/specifications/src/projet/éliminé/recours/fixtures/demanderRecours.fixture.ts
  packages/specifications/src/projet/éliminé/recours/fixtures/rejeterRecours.fixture.ts
  packages/specifications/src/projet/éliminé/recours/recours.world.ts
  packages/specifications/src/projet/éliminé/recours/rejeterRecours.feature
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.given.ts
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.then.ts
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.when.ts
  packages/specifications/src/projet/éliminé/stepDefinitions/éliminé.given.ts
  packages/specifications/src/projet/éliminé/éliminé.world.ts
  packages/specifications/src/raccordement/stepDefinitions/raccordement.when.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.given.ts
Due: eslint --fix, prettier -w

🎨 Retour de reviews
  packages/applications/scheduled-tasks/src/annuler-echoir-gf-abandonnés-ou-éliminés.ts
  packages/domain/lauréat/src/garantiesFinancières/typeTâchePlanifiéeGarantiesFinancières.valueType.ts
Due: eslint --fix

🐛 Annuler tâches 'échoir' GF pour abandonnés et éliminés (#2125)
  packages/applications/scheduled-tasks/package.json
  packages/applications/scheduled-tasks/src/annuler-echoir-gf-abandonnés-ou-éliminés.ts
  packages/domain/lauréat/src/garantiesFinancières/typeTâchePlanifiéeGarantiesFinancières.valueType.ts
Due: eslint --fix, prettier -w

🚧 WIP script
  packages/applications/scheduled-tasks/package.json
  packages/applications/scheduled-tasks/src/ajouter-rappel-gf-avec-date-echeance.ts
Due: eslint --fix, prettier -w

🎨 Ajouter les tâches programmées rappel 1 / 2 mois manquante pour les projets ayant une tâche pour échoir les GF
  packages/applications/scheduled-tasks/src/ajouter-rappel-gf-avec-date-echeance.ts
Due: eslint --fix

🎨 Ajouter les rappels d'échéance pour les projets ayant une tâche pour échoir ses GFs (#2168)
  packages/applications/scheduled-tasks/package.json
  packages/applications/scheduled-tasks/src/ajouter-rappel-gf-avec-date-echeance.ts
Due: eslint --fix, prettier -w

🎨 Permissions
  packages/applications/routes/src/candidature/candidature.routes.ts
  packages/applications/ssr/src/app/candidatures/[identifiant]/previsualiser-attestation/route.ts
  packages/domain/utilisateur/src/errors.ts
  packages/domain/utilisateur/src/index.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🎨 Routes
  packages/applications/legacy/src/routes.ts
  packages/applications/legacy/src/views/components/actions/admin.spec.ts
  packages/applications/legacy/src/views/components/actions/admin.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectActions.tsx
Due: eslint --fix

✨ WIP
  packages/applications/document-builder/src/test/TestDocument.tsx
  packages/applications/document-builder/src/test/buildTestDocument.ts
  packages/applications/legacy/src/controllers/notificationCandidats/getCandidateCertificatePreview.ts
  packages/applications/legacy/src/routes.ts
  packages/applications/legacy/src/views/components/UI/atoms/icons.ts
  packages/applications/legacy/src/views/components/UI/molecules/PreviewLinkButton.tsx
  packages/applications/legacy/src/views/components/UI/molecules/index.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectActions.tsx
  packages/applications/routes/src/candidature/candidature.routes.ts
  packages/applications/ssr/src/app/candidatures/[identifiant]/notification/attestation/route.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

✨ Preview is working
  packages/applications/document-builder/src/buildTestDocument/TestDocument.tsx
  packages/applications/document-builder/src/buildTestDocument/index.ts
  packages/applications/document-builder/src/index.ts
  packages/applications/legacy/src/controllers/notificationCandidats/index.ts
  packages/applications/legacy/src/routes.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectActions.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/notification/attestation/route.ts
  packages/applications/ssr/src/app/candidatures/[identifiant]/previsualiser-attestation/route.ts
  packages/applications/ssr/src/components/pages/candidature/corriger/CorrigerCandidatures.page.tsx
  packages/applications/ssr/src/components/pages/candidature/importer/ImporterCandidatures.page.tsx
Due: eslint --fix

✨ Link with new attestation
  packages/applications/document-builder/src/candidature/attestation/attestation.saga.ts
  packages/applications/document-builder/src/candidature/attestation/generateCertificate.ts
  packages/applications/document-builder/src/candidature/attestation/index.ts
  packages/applications/document-builder/src/index.ts
  packages/applications/ssr/src/app/candidatures/[identifiant]/previsualiser-attestation/route.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🎨 Get rid of test document
  packages/applications/document-builder/src/buildTestDocument/TestDocument.tsx
  packages/applications/document-builder/src/buildTestDocument/index.ts
  packages/applications/document-builder/src/index.ts
Due: eslint --fix

🎨 Namespace
  packages/applications/ssr/src/app/candidatures/[identifiant]/previsualiser-attestation/route.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🎨 Little refacto
  packages/applications/document-builder/src/candidature/attestation/attestation.saga.ts
  packages/applications/document-builder/src/candidature/attestation/buildCertificate.ts
  packages/applications/document-builder/src/candidature/attestation/generateCertificate.ts
  packages/applications/document-builder/src/candidature/attestation/helpers/getDésignationCatégorie.ts
  packages/applications/document-builder/src/candidature/attestation/helpers/getFinancementEtTemplate.ts
  packages/applications/document-builder/src/candidature/attestation/index.ts
  packages/applications/document-builder/src/index.ts
  packages/applications/ssr/src/app/candidatures/[identifiant]/previsualiser-attestation/route.ts
Due: eslint --fix

🎨 Review and wording
  packages/applications/document-builder/src/candidature/attestation/buildCertificate.ts
Due: eslint --fix

🎨 Review ben
  packages/applications/document-builder/src/candidature/attestation/attestation.saga.ts
  packages/applications/document-builder/src/candidature/attestation/buildCertificate.ts
  packages/applications/ssr/src/app/candidatures/[identifiant]/previsualiser-attestation/route.ts
  packages/domain/utilisateur/src/index.ts
Due: eslint --fix

🔒️ Fix CVE-2024-45296
  package-lock.json
Due: eslint --fix, prettier -w

✨Prévisualiser attestation avant notification (#2163)
  packages/applications/document-builder/src/candidature/attestation/attestation.saga.ts
  packages/applications/document-builder/src/candidature/attestation/buildCertificate.ts
  packages/applications/document-builder/src/candidature/attestation/helpers/getDésignationCatégorie.ts
  packages/applications/document-builder/src/candidature/attestation/helpers/getFinancementEtTemplate.ts
  packages/applications/document-builder/src/candidature/attestation/index.ts
  packages/applications/document-builder/src/index.ts
  packages/applications/legacy/src/controllers/notificationCandidats/getCandidateCertificatePreview.ts
  packages/applications/legacy/src/controllers/notificationCandidats/index.ts
  packages/applications/legacy/src/routes.ts
  packages/applications/legacy/src/views/components/UI/atoms/icons.ts
  packages/applications/legacy/src/views/components/UI/molecules/PreviewLinkButton.tsx
  packages/applications/legacy/src/views/components/UI/molecules/index.ts
  packages/applications/legacy/src/views/components/actions/admin.spec.ts
  packages/applications/legacy/src/views/components/actions/admin.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectActions.tsx
  packages/applications/routes/src/candidature/candidature.routes.ts
  packages/applications/ssr/src/app/candidatures/[identifiant]/previsualiser-attestation/route.ts
  packages/applications/ssr/src/components/pages/candidature/corriger/CorrigerCandidatures.page.tsx
  packages/applications/ssr/src/components/pages/candidature/importer/ImporterCandidatures.page.tsx
  packages/domain/utilisateur/src/errors.ts
  packages/domain/utilisateur/src/index.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🔥 Remove useless scripts
  packages/applications/scheduled-tasks/package.json
  packages/applications/scheduled-tasks/src/ajouter-rappel-gf-avec-date-echeance.ts
  packages/applications/scheduled-tasks/src/annuler-echoir-gf-abandonnés-ou-éliminés.ts
Due: eslint --fix, prettier -w

🔒️ Fix CVE-2024-45296 (#2169)
  package-lock.json
Due: eslint --fix, prettier -w

💄 Add link to access all candidatures of the selected periode
  packages/applications/legacy/src/views/components/UI/organisms/UserNavigation.tsx
  packages/applications/routes/src/candidature/candidature.routes.ts
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
  packages/applications/ssr/src/components/pages/période/notifier/NotifierPériode.form.tsx
Due: eslint --fix

✨ Add a query to list all periodes (it's only the notified one currently)
  packages/applications/bootstrap/src/setupPériode.ts
  packages/domain/période/src/consulter/consulterPériode.query.ts
  packages/domain/période/src/lister/listerPériode.query.ts
  packages/domain/période/src/période.ts
  packages/domain/période/src/register.ts
Due: eslint --fix

🐛 Fix route to access candidatures list
  packages/applications/routes/src/candidature/candidature.routes.ts
Due: eslint --fix

✨ Filter periodes already notified
  packages/applications/ssr/src/app/periode/notifier/page.tsx
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

✨ Do not show appel offres that have no periode
  packages/applications/ssr/src/app/periode/notifier/page.tsx
Due: eslint --fix

♻️ Allow filtering periodes by `estNotifiée`
  packages/applications/ssr/src/app/periode/notifier/page.tsx
  packages/applications/ssr/src/components/pages/période/notifier/NotifierPériode.form.tsx
  packages/applications/ssr/src/components/pages/période/notifier/NotifierPériode.page.tsx
  packages/applications/ssr/src/components/pages/période/notifier/NotifierPériode.stories.tsx
  packages/domain/période/src/lister/listerPériode.query.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
