Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml,feature}": "prettier -w"
}

✅ Date future
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.error.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.valueType.ts
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/candidature/importerCandidature.feature
Due: eslint --fix, prettier -w

🎨 Retours review
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.error.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/importerTypeGarantiesFinancièresActuelles.feature
Due: eslint --fix, prettier -w

✅ Remettre GF en attente
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerGarantiesFinancièresActuelles.feature
Due: prettier -w

🔥 Suppression du FF délai
  packages/applications/bootstrap/src/setupProjet/index.ts
  packages/applications/cli/src/commands/tache-planifiee/executer.ts
  packages/applications/legacy/.env.template
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getDateAchèvementPrévisionnel.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/index.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectActions.tsx
  packages/applications/ssr/.env.template
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
  packages/domain/projet/src/lauréat/achèvement/achèvement.aggregate.ts
  packages/domain/projet/src/lauréat/délai/index.ts
  packages/domain/projet/src/lauréat/délai/isFonctionnalitéDélaiActivée.ts
  packages/domain/projet/src/lauréat/délai/lister/listerHistoriqueDélaiProjet.query.ts
  packages/domain/projet/src/lauréat/historique/lister/listerHistoriqueProjet.query.ts
  packages/infrastructure/domain-adapters/src/délai/délai.adapter.ts
  packages/infrastructure/domain-adapters/src/délai/listerDélaiAccordé/_utils/index.ts
  packages/infrastructure/domain-adapters/src/délai/listerDélaiAccordé/_utils/récupérerÉvénementCovidDelayGranted.ts
  packages/infrastructure/domain-adapters/src/délai/listerDélaiAccordé/_utils/récupérerÉvénementDemandeDelaiSignaled.ts
  packages/infrastructure/domain-adapters/src/délai/listerDélaiAccordé/_utils/récupérerÉvénementDélaiAccordé.ts
  packages/infrastructure/domain-adapters/src/délai/listerDélaiAccordé/_utils/récupérerÉvénementLegacyModificationRawDataImported.ts
  packages/infrastructure/domain-adapters/src/délai/listerDélaiAccordé/_utils/récupérerÉvénementProjectCompletionDueDateSetDélaiCdc2022.ts
  packages/infrastructure/domain-adapters/src/délai/listerDélaiAccordé/listerDélaiAccordéProjet.adapter.ts
Due: eslint --fix

♻️ Type de retour en cas de succès de l'action des formulaires
  packages/applications/ssr/src/app/candidatures/corriger-par-lot/CorrigerCandidaturesParLot.action.ts
  packages/applications/ssr/src/app/candidatures/corriger-par-lot/CorrigerCandidaturesParLot.form.tsx
  packages/applications/ssr/src/app/candidatures/importer/ImporterCandidatures.form.tsx
  packages/applications/ssr/src/app/candidatures/importer/importerCandidatures.action.ts
  packages/applications/ssr/src/app/reseaux/raccordements/importer/ImporterDatesMiseEnService.form.tsx
  packages/applications/ssr/src/app/reseaux/raccordements/importer/importDatesMiseEnService.action.ts
  packages/applications/ssr/src/app/reseaux/raccordements/references:corriger/CorrigerRéférencesDossier.form.tsx
  packages/applications/ssr/src/app/reseaux/raccordements/references:corriger/corrigerRéférencesDossier.action.ts
  packages/applications/ssr/src/app/utilisateurs/(liste)/UtilisateurListItem.tsx
  packages/applications/ssr/src/components/atoms/form/Form.tsx
  packages/applications/ssr/src/components/atoms/form/FormFeedback.tsx
  packages/applications/ssr/src/components/molecules/ModalWithForm.tsx
  packages/applications/ssr/src/utils/formAction.ts
Due: eslint --fix

🐛 Permissions de lecture du CahierDesCharges
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🐛 Permissions de lecture du CahierDesCharges (#3360)
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

✏️ (s)
  packages/applications/ssr/src/app/candidatures/corriger-par-lot/CorrigerCandidaturesParLot.action.ts
  packages/applications/ssr/src/app/candidatures/importer/importerCandidatures.action.ts
  packages/applications/ssr/src/app/reseaux/raccordements/importer/importDatesMiseEnService.action.ts
  packages/applications/ssr/src/app/reseaux/raccordements/references:corriger/corrigerRéférencesDossier.action.ts
Due: eslint --fix

🔥 Suppression des utilisation de `features.includes('délai')`
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getDélai.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/index.ts
  packages/applications/legacy/src/views/components/UI/organisms/UserNavigation.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/AcheteurObligéMenuLegacy.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/AdminMenuLegacy.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/CreMenuLegacy.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/DrealMenuLegacy.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/PorteurMenuLegacy.tsx
Due: eslint --fix

🎨 SuccessMessage
  packages/applications/ssr/src/app/candidatures/corriger-par-lot/CorrigerCandidaturesParLot.action.ts
  packages/applications/ssr/src/app/candidatures/importer/importerCandidatures.action.ts
  packages/applications/ssr/src/app/reseaux/raccordements/importer/importDatesMiseEnService.action.ts
  packages/applications/ssr/src/app/reseaux/raccordements/references:corriger/corrigerRéférencesDossier.action.ts
  packages/applications/ssr/src/components/atoms/form/FormFeedback.tsx
  packages/applications/ssr/src/utils/formAction.ts
Due: eslint --fix

♻️ Type de retour en cas de succès de l'action des formulaires (#3358)
  packages/applications/ssr/src/app/candidatures/corriger-par-lot/CorrigerCandidaturesParLot.action.ts
  packages/applications/ssr/src/app/candidatures/corriger-par-lot/CorrigerCandidaturesParLot.form.tsx
  packages/applications/ssr/src/app/candidatures/importer/ImporterCandidatures.form.tsx
  packages/applications/ssr/src/app/candidatures/importer/importerCandidatures.action.ts
  packages/applications/ssr/src/app/reseaux/raccordements/importer/ImporterDatesMiseEnService.form.tsx
  packages/applications/ssr/src/app/reseaux/raccordements/importer/importDatesMiseEnService.action.ts
  packages/applications/ssr/src/app/reseaux/raccordements/references:corriger/CorrigerRéférencesDossier.form.tsx
  packages/applications/ssr/src/app/reseaux/raccordements/references:corriger/corrigerRéférencesDossier.action.ts
  packages/applications/ssr/src/app/utilisateurs/(liste)/UtilisateurListItem.tsx
  packages/applications/ssr/src/components/atoms/form/Form.tsx
  packages/applications/ssr/src/components/atoms/form/FormFeedback.tsx
  packages/applications/ssr/src/components/molecules/ModalWithForm.tsx
  packages/applications/ssr/src/utils/formAction.ts
Due: eslint --fix

🔥 Suppression du FF délai (#3359)
  packages/applications/bootstrap/src/setupProjet/index.ts
  packages/applications/cli/src/commands/tache-planifiee/executer.ts
  packages/applications/legacy/.env.template
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getDateAchèvementPrévisionnel.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getDélai.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/index.ts
  packages/applications/legacy/src/views/components/UI/organisms/UserNavigation.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/AcheteurObligéMenuLegacy.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/AdminMenuLegacy.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/CreMenuLegacy.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/DrealMenuLegacy.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/PorteurMenuLegacy.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectActions.tsx
  packages/applications/ssr/.env.template
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
  packages/domain/projet/src/lauréat/achèvement/achèvement.aggregate.ts
  packages/domain/projet/src/lauréat/délai/index.ts
  packages/domain/projet/src/lauréat/délai/isFonctionnalitéDélaiActivée.ts
  packages/domain/projet/src/lauréat/délai/lister/listerHistoriqueDélaiProjet.query.ts
  packages/domain/projet/src/lauréat/historique/lister/listerHistoriqueProjet.query.ts
  packages/infrastructure/domain-adapters/src/délai/délai.adapter.ts
  packages/infrastructure/domain-adapters/src/délai/listerDélaiAccordé/_utils/index.ts
  packages/infrastructure/domain-adapters/src/délai/listerDélaiAccordé/_utils/récupérerÉvénementCovidDelayGranted.ts
  packages/infrastructure/domain-adapters/src/délai/listerDélaiAccordé/_utils/récupérerÉvénementDemandeDelaiSignaled.ts
  packages/infrastructure/domain-adapters/src/délai/listerDélaiAccordé/_utils/récupérerÉvénementDélaiAccordé.ts
  packages/infrastructure/domain-adapters/src/délai/listerDélaiAccordé/_utils/récupérerÉvénementLegacyModificationRawDataImported.ts
  packages/infrastructure/domain-adapters/src/délai/listerDélaiAccordé/_utils/récupérerÉvénementProjectCompletionDueDateSetDélaiCdc2022.ts
  packages/infrastructure/domain-adapters/src/délai/listerDélaiAccordé/listerDélaiAccordéProjet.adapter.ts
Due: eslint --fix

🎨 WIP tache
  packages/domain/projet/src/lauréat/représentantLégal/changement/accorder/accorderChangementReprésentantLégal.usecase.ts
  packages/domain/projet/src/lauréat/représentantLégal/changement/rejeter/rejeterChangementReprésentantLégal.usecase.ts
  packages/domain/projet/src/lauréat/représentantLégal/changement/supprimerDocumentSensible/supprimerDocumentProjetSensible.command.ts
  packages/domain/projet/src/lauréat/représentantLégal/changement/typeTâchePlanifiéeChangementReprésentantLégal.valueType.ts
  packages/domain/projet/src/lauréat/représentantLégal/représentantLégal.aggregate.ts
  packages/domain/projet/src/lauréat/représentantLégal/saga/abandonAccordé.saga.ts
  packages/domain/projet/src/lauréat/représentantLégal/saga/tâchePlanifiéeSuppressionDocumentExecutée.saga.ts
  packages/specifications/src/tâche-planifiée/tâchePlanifiée.world.ts
Due: eslint --fix

🎨 WIP
  packages/applications/projectors/src/subscribers/tâche/tâchePlanifiée/tâchePlanifiéeAjoutée.projector.ts
  packages/applications/projectors/src/subscribers/tâche/tâchePlanifiée/tâchePlanifiéeAnnulée.projector.ts
  packages/applications/projectors/src/subscribers/tâche/tâchePlanifiée/tâchePlanifiéeExecutée.projector.ts
  packages/domain/projet/src/lauréat/abandon/abandon.aggregate.ts
  packages/domain/projet/src/lauréat/tâche-planifiée/ajouter/ajouterTâchePlanifiée.event.ts
  packages/domain/projet/src/lauréat/tâche-planifiée/annuler/annulerTâchePlanifiée.event.ts
Due: eslint --fix

🎨 WIP
  packages/applications/projectors/src/subscribers/tâche/tâchePlanifiée/tâchePlanifiéeAjoutée.projector.ts
  packages/applications/projectors/src/subscribers/tâche/tâchePlanifiée/tâchePlanifiéeAnnulée.projector.ts
  packages/domain/projet/src/lauréat/représentantLégal/saga/tâchePlanifiéeSuppressionDocumentExecutée.saga.ts
  packages/domain/projet/src/lauréat/tâche-planifiée/consulter/consulterTâchePlanifiée.query.ts
Due: eslint --fix

🎨 Simplification
  packages/applications/projectors/src/subscribers/tâche/tâchePlanifiée/tâchePlanifiéeAjoutée.projector.ts
  packages/applications/projectors/src/subscribers/tâche/tâchePlanifiée/tâchePlanifiéeAnnulée.projector.ts
  packages/applications/projectors/src/subscribers/tâche/tâchePlanifiée/tâchePlanifiéeExecutée.projector.ts
  packages/domain/projet/src/lauréat/abandon/abandon.aggregate.ts
  packages/domain/projet/src/lauréat/représentantLégal/changement/statutChangementReprésentantLégal.valueType.ts
  packages/domain/projet/src/lauréat/représentantLégal/changement/supprimerDocumentSensible/supprimerDocumentProjetSensible.command.ts
  packages/domain/projet/src/lauréat/représentantLégal/représentantLégal.aggregate.ts
  packages/domain/projet/src/lauréat/représentantLégal/saga/tâchePlanifiéeSuppressionDocumentExecutée.saga.ts
  packages/domain/projet/src/lauréat/tâche-planifiée/ajouter/ajouterTâchePlanifiée.event.ts
  packages/domain/projet/src/lauréat/tâche-planifiée/consulter/consulterTâchePlanifiée.query.ts
  packages/domain/projet/src/lauréat/tâche-planifiée/tâchePlanifiée.aggregate.ts
Due: eslint --fix

🎨 Test et clean
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/_helpers/schema.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/accorder/accorderChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/corriger/corrigerChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/modifier/modifierReprésentantLégal.action.ts
  packages/domain/projet/src/lauréat/représentantLégal/changement/supprimerDocumentSensible/supprimerDocumentProjetSensible.command.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/demanderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/enregistrerChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changemementReprésentantLégal.when.ts
  packages/specifications/src/tâche-planifiée/stepDefinitions/tâchePlanifiée.then.ts
  packages/specifications/src/tâche-planifiée/tâchePlanifiée.world.ts
Due: eslint --fix, prettier -w

🎨 Execution
  packages/domain/projet/src/lauréat/représentantLégal/saga/index.ts
  packages/domain/projet/src/lauréat/représentantLégal/saga/tâchePlanifiéeReprésentantLégalExecutée.saga.ts
  packages/domain/projet/src/lauréat/représentantLégal/saga/tâchePlanifiéeSuppressionDocumentExecutée.saga.ts
Due: eslint --fix

🎨 Review ben
  packages/applications/projectors/src/subscribers/tâche/tâchePlanifiée/tâchePlanifiéeAjoutée.projector.ts
  packages/applications/projectors/src/subscribers/tâche/tâchePlanifiée/tâchePlanifiéeAnnulée.projector.ts
  packages/applications/projectors/src/subscribers/tâche/tâchePlanifiée/tâchePlanifiéeExecutée.projector.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/enregistrerChangementReprésentantLégal.feature
  packages/specifications/src/tâche-planifiée/stepDefinitions/tâchePlanifiée.then.ts
Due: eslint --fix, prettier -w

🎨 Ajout test
  packages/specifications/src/projet/lauréat/représentant-légal/changement/enregistrerChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/stepDefinitions/représentantLégal.then.ts
  packages/specifications/src/tâche-planifiée/exécuterTâchePlanifiée.feature
  packages/specifications/src/tâche-planifiée/stepDefinitions/tâchePlanifiée.when.ts
  packages/specifications/src/tâche-planifiée/tâchePlanifiée.world.ts
Due: eslint --fix, prettier -w

🎨 Review oubli
  packages/domain/projet/src/lauréat/tâche-planifiée/annuler/annulerTâchePlanifiée.event.ts
Due: eslint --fix

🎨 Refacto en passant, cleaning
  packages/specifications/src/projet/lauréat/achèvement/transmettreAttestationConformité.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/modifierGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/échoirGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/soumettreDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/supprimerDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/demanderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changemementReprésentantLégal.when.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.given.ts
  packages/specifications/src/tâche-planifiée/exécuterTâchePlanifiée.feature
  packages/specifications/src/tâche-planifiée/fixtures/ajouterTâchesPlanifiées.fixture.ts
  packages/specifications/src/tâche-planifiée/stepDefinitions/tâchePlanifiée.given.ts
  packages/specifications/src/tâche-planifiée/stepDefinitions/tâchePlanifiée.then.ts
  packages/specifications/src/tâche-planifiée/tâchePlanifiée.world.ts
Due: eslint --fix, prettier -w

✨ PoC démarches simplifiées import candidature
  package-lock.json
  packages/applications/ssr/package.json
  packages/applications/ssr/src/app/candidatures/importer/ImporterDémarches.page.tsx
  packages/applications/ssr/src/app/candidatures/importer/ds/ImporterDémarches.form.tsx
  packages/applications/ssr/src/app/candidatures/importer/ds/ImporterDémarches.page.tsx
  packages/applications/ssr/src/app/candidatures/importer/ds/importerDémarches.action.ts
  packages/applications/ssr/src/app/candidatures/importer/ds/page.tsx
  packages/applications/ssr/src/utils/candidature/candidature.schema.ts
  packages/applications/ssr/src/utils/candidature/candidatureFields.schema.ts
  packages/applications/ssr/tsconfig.json
  packages/infrastructure/ds-api-client/codegen.ts
  packages/infrastructure/ds-api-client/package.json
  packages/infrastructure/ds-api-client/src/fragments/Address.graphql
  packages/infrastructure/ds-api-client/src/fragments/Champ.graphql
  packages/infrastructure/ds-api-client/src/fragments/File.graphql
  packages/infrastructure/ds-api-client/src/graphql/client.ts
  packages/infrastructure/ds-api-client/src/graphql/index.ts
  packages/infrastructure/ds-api-client/src/index.ts
  packages/infrastructure/ds-api-client/src/queries/GetDossier.graphql
  packages/infrastructure/ds-api-client/src/test.ts
  packages/infrastructure/ds-api-client/src/types.ts
  packages/infrastructure/ds-api-client/tsconfig.json
Due: eslint --fix, prettier -w

✨ Importer plusieurs dossiers sur une démarche
  package-lock.json
  packages/applications/ssr/src/app/candidatures/importer/ds/ImporterDémarches.form.tsx
  packages/applications/ssr/src/app/candidatures/importer/ds/importerDémarches.action.ts
  packages/infrastructure/ds-api-client/src/graphql/client.ts
  packages/infrastructure/ds-api-client/src/index.ts
  packages/infrastructure/ds-api-client/src/queries/GetDémarche.graphql
Due: eslint --fix, prettier -w

🎨 Client DS
  .gitignore
  packages/infrastructure/ds-api-client/codegen.ts
  packages/infrastructure/ds-api-client/src/graphql/client.ts
  packages/infrastructure/ds-api-client/src/test.ts
Due: eslint --fix

Ajout .env
  packages/applications/ssr/.env.template
Due: none

🚧 Dépot, schema, page import
  .gitignore
  package-lock.json
  packages/applications/routes/src/candidature/candidature.routes.ts
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/CorrigerCandidature.form.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/corrigerCandidature.action.ts
  packages/applications/ssr/src/app/candidatures/importer/ImporterCandidatures.page.tsx
  packages/applications/ssr/src/app/candidatures/importer/ds/ImporterPériode.form.tsx
  packages/applications/ssr/src/app/candidatures/importer/ds/ImporterPériode.page.tsx
  packages/applications/ssr/src/app/candidatures/importer/ds/importerPériode.action.ts
  packages/applications/ssr/src/app/candidatures/importer/ds/page.tsx
  packages/applications/ssr/src/utils/candidature/candidature.schema.test.ts
  packages/applications/ssr/src/utils/candidature/candidature.schema.ts
  packages/applications/ssr/src/utils/candidature/candidatureCsv.schema.ts
  packages/applications/ssr/src/utils/candidature/candidatureFields.schema.ts
  packages/applications/ssr/src/utils/candidature/dépôt.schema.ts
  packages/applications/ssr/src/utils/candidature/index.ts
  packages/applications/ssr/src/utils/candidature/instruction.schema.ts
  packages/domain/projet/src/candidature/importer/importerCandidature.usecase.ts
  packages/infrastructure/ds-api-client/package.json
  packages/infrastructure/ds-api-client/src/fields.ts
  packages/infrastructure/ds-api-client/src/graphql/index.ts
  packages/infrastructure/ds-api-client/src/index.ts
  packages/infrastructure/ds-api-client/src/test.ts
  packages/infrastructure/ds-api-client/src/utils.ts
  packages/infrastructure/ds-api-client/tsconfig.json
Due: eslint --fix, prettier -w

🚨 Fix linter
  eslint.config.mjs
Due: none

✨ More fields
  packages/infrastructure/ds-api-client/src/dépôt.ts
  packages/infrastructure/ds-api-client/src/fields.ts
  packages/infrastructure/ds-api-client/src/graphql/index.ts
  packages/infrastructure/ds-api-client/src/index.ts
  packages/infrastructure/ds-api-client/src/specialFields.ts
  packages/infrastructure/ds-api-client/src/test.ts
Due: eslint --fix

♻️ Refactor accessor
  package-lock.json
  packages/infrastructure/ds-api-client/src/dépôt.ts
  packages/infrastructure/ds-api-client/src/graphql/accessor.ts
  packages/infrastructure/ds-api-client/src/graphql/index.ts
  packages/infrastructure/ds-api-client/src/index.ts
  packages/infrastructure/ds-api-client/src/queries/GetDossier.graphql
  packages/infrastructure/ds-api-client/src/specialFields.ts
Due: eslint --fix, prettier -w

🐛 Délibération
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/corrigerCandidature.action.ts
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/page.tsx
  packages/applications/ssr/src/utils/candidature/dépôt.schema.ts
Due: eslint --fix

🐛 Clean & fix
  packages/applications/ssr/src/app/candidatures/importer/ImporterDémarches.page.tsx
  packages/applications/ssr/src/app/candidatures/importer/ds/ImporterDémarches.form.tsx
  packages/applications/ssr/src/app/candidatures/importer/ds/ImporterDémarches.page.tsx
  packages/applications/ssr/src/app/candidatures/importer/ds/importerDémarches.action.ts
  packages/applications/ssr/src/app/candidatures/importer/ds/importerPériode.action.ts
  packages/applications/ssr/src/utils/candidature/dépôt.schema.ts
Due: eslint --fix

🔥 Suppression des pages legacy relatives aux délais
  packages/applications/legacy/src/config/eventHandlers/notifications/demandeDélai.notifications.ts
  packages/applications/legacy/src/config/eventHandlers/notifications/index.ts
  packages/applications/legacy/src/controllers/admin/getSignalerDemandeDelaiPage.ts
  packages/applications/legacy/src/controllers/admin/index.ts
  packages/applications/legacy/src/controllers/admin/postPasserDemandeDelaiEnInstruction.ts
  packages/applications/legacy/src/controllers/index.ts
  packages/applications/legacy/src/controllers/modificationRequest/délai/getCorrigerDelaiAccordePage.ts
  packages/applications/legacy/src/controllers/modificationRequest/délai/getDemanderDélaiPage.ts
  packages/applications/legacy/src/controllers/modificationRequest/délai/getDetailsDemandeDelaiPage.ts
  packages/applications/legacy/src/controllers/modificationRequest/délai/index.ts
  packages/applications/legacy/src/controllers/modificationRequest/délai/postAnnulerDemandeDélai.ts
  packages/applications/legacy/src/controllers/modificationRequest/délai/postAnnulerRejetDélai.ts
  packages/applications/legacy/src/controllers/modificationRequest/délai/postCorrigerDelaiAccorde.ts
  packages/applications/legacy/src/controllers/modificationRequest/délai/postDemanderDélai.ts
  packages/applications/legacy/src/controllers/modificationRequest/délai/postRepondreDemandeDelai.ts
  packages/applications/legacy/src/controllers/modificationRequest/index.ts
  packages/applications/legacy/src/controllers/modificationRequest/postCancelModificationRequest.ts
  packages/applications/legacy/src/controllers/project/index.ts
  packages/applications/legacy/src/controllers/project/postSignalerDemandeDelai.ts
  packages/applications/legacy/src/modules/notification/eventHandlers/demandeDélai/index.ts
  packages/applications/legacy/src/modules/notification/eventHandlers/demandeDélai/onDélaiAccordé.ts
  packages/applications/legacy/src/modules/notification/eventHandlers/demandeDélai/onDélaiAccordéCorrigé.ts
  packages/applications/legacy/src/modules/notification/eventHandlers/demandeDélai/onDélaiAnnulé.ts
  packages/applications/legacy/src/modules/notification/eventHandlers/demandeDélai/onDélaiDemandé.ts
  packages/applications/legacy/src/modules/notification/eventHandlers/demandeDélai/onDélaiEnInstruction.ts
  packages/applications/legacy/src/modules/notification/eventHandlers/demandeDélai/onDélaiRejeté.ts
  packages/applications/legacy/src/modules/notification/eventHandlers/demandeDélai/onRejetDélaiAnnulé.ts
  packages/applications/legacy/src/modules/notification/eventHandlers/index.ts
  packages/applications/legacy/src/modules/notification/eventHandlers/modificationRequests/handleModificationRequestCancelled.ts
  packages/applications/legacy/src/routes.ts
  packages/applications/legacy/src/views/components/RequestList.tsx
  packages/applications/legacy/src/views/index.ts
  packages/applications/legacy/src/views/pages/délai/CorrigerDelaiAccordePage.tsx
  packages/applications/legacy/src/views/pages/délai/DemanderDelaiPage.tsx
  packages/applications/legacy/src/views/pages/délai/DetailsDemandeDelaiPage.tsx
  packages/applications/legacy/src/views/pages/délai/index.ts
  packages/applications/legacy/src/views/pages/index.ts
  packages/applications/legacy/src/views/pages/signalerDemandeDelaiPage/SignalerDemandeDelai.tsx
  packages/applications/legacy/src/views/pages/signalerDemandeDelaiPage/index.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

✨ Formulaire import
  packages/applications/legacy/.env.template
  packages/applications/ssr/.env.template
  packages/applications/ssr/src/app/candidatures/importer/ds/ImporterPériode.form.tsx
  packages/applications/ssr/src/app/candidatures/importer/ds/ImporterPériode.page.tsx
  packages/applications/ssr/src/app/candidatures/importer/ds/importerPériode.action.ts
  packages/applications/ssr/src/app/candidatures/importer/ds/page.tsx
  packages/applications/ssr/src/components/atoms/form/FormFeedback.tsx
  packages/applications/ssr/src/utils/candidature/candidatureFields.schema.ts
  packages/applications/ssr/src/utils/candidature/dépôt.schema.ts
  packages/applications/ssr/src/utils/candidature/localité.schema.ts
  packages/applications/ssr/src/utils/candidature/schemaBase.ts
  packages/applications/ssr/src/utils/formAction.ts
  packages/domain/période/src/lister/listerPériodes.query.ts
  packages/domain/période/src/période.ts
  packages/domain/période/src/register.ts
  packages/infrastructure/ds-api-client/src/dépôt.ts
Due: eslint --fix

🎨 Almost done
  packages/domain/projet/src/lauréat/représentantLégal/représentantLégal.aggregate.ts
  packages/domain/projet/src/lauréat/représentantLégal/saga/index.ts
  packages/domain/projet/src/lauréat/représentantLégal/saga/tâchePlanifiéeReprésentantLégalAnnulée.saga.ts
  packages/domain/projet/src/lauréat/tâche-planifiée/tâchePlanifiée.aggregate.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.given.ts
  packages/specifications/src/projet/lauréat/représentant-légal/stepDefinitions/représentantLégal.then.ts
  packages/specifications/src/tâche-planifiée/exécuterTâchePlanifiée.feature
Due: eslint --fix, prettier -w

🐛 Fix specs & logic
  packages/domain/projet/src/lauréat/représentantLégal/changement/enregistrer/enregistrerChangementReprésentantLégal.command.ts
  packages/domain/projet/src/lauréat/représentantLégal/changement/enregistrer/enregistrerChangementReprésentantLégal.options.ts
  packages/domain/projet/src/lauréat/représentantLégal/changement/enregistrer/enregistrerChangementReprésentantLégal.usecase.ts
  packages/domain/projet/src/lauréat/représentantLégal/index.ts
  packages/domain/projet/src/lauréat/représentantLégal/représentantLégal.aggregate.ts
  packages/domain/projet/src/lauréat/représentantLégal/représentantLégal.register.ts
  packages/domain/projet/src/lauréat/représentantLégal/saga/index.ts
  packages/domain/projet/src/lauréat/représentantLégal/saga/tâchePlanifiéeReprésentantLégalAnnulée.saga.ts
  packages/domain/projet/src/lauréat/tâche-planifiée/tâchePlanifiée.aggregate.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/accorderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/annulerChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/corrigerChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/demanderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/enregistrerChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/fixtures/demanderChangementReprésentantLégal.fixture.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/rejeterChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.given.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/supprimerDemandeChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/stepDefinitions/représentantLégal.then.ts
  packages/specifications/src/tâche-planifiée/exécuterTâchePlanifiée.feature
Due: eslint --fix, prettier -w
