Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml,feature}": "prettier -w"
}

🚧 WIP
  packages/applications/bootstrap/src/setupProjet/setupLauréat/setupDélai.ts
  packages/applications/projectors/src/subscribers/lauréat/délai/demandeDélaiAnnulée.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/délai/registerDélaiProjectors.ts
  packages/applications/ssr/src/utils/historique/mapToProps/délai/events/mapToDemandeDélaiAnnuléeTimelineItemProps.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/délai/mapToDélaiTimelineItemProps.ts
  packages/domain/projet/src/lauréat/délai/demande/annuler/annulerDemandeDélai.command.ts
  packages/domain/projet/src/lauréat/délai/demande/annuler/annulerDemandeDélai.event.ts
  packages/domain/projet/src/lauréat/délai/demande/annuler/annulerDemandeDélai.options.ts
  packages/domain/projet/src/lauréat/délai/demande/annuler/annulerDemandeDélai.usecase.ts
  packages/domain/projet/src/lauréat/délai/délai.aggregate.ts
  packages/domain/projet/src/lauréat/délai/délai.event.ts
  packages/domain/projet/src/lauréat/délai/délai.register.ts
  packages/domain/projet/src/lauréat/délai/errors.ts
  packages/domain/projet/src/lauréat/délai/index.ts
  packages/specifications/src/projet/lauréat/délai/annulerDemandeDélai.feature
  packages/specifications/src/projet/lauréat/délai/stepDefinitions/délai.when.ts
Due: eslint --fix, prettier -w

✅ Annuler la demande de délai d'un projet lauréat
  packages/applications/bootstrap/src/setupProjet/setupLauréat/setupDélai.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/constant.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/demandeDélaiAnnuléeNotification.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/index.ts
  packages/specifications/src/projet/lauréat/délai/annulerDemandeDélai.feature
Due: eslint --fix, prettier -w

✅ Impossible d'annuler la demande de changement de puissance si la demande est inexistante
  packages/specifications/src/projet/lauréat/délai/annulerDemandeDélai.feature
Due: prettier -w

🎨 Ajout permission et action front
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/DétailsDemandeDélai.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/annuler/AnnulerDemandeDélai.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/annuler/annulerDemandeDélai.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/page.tsx
  packages/domain/projet/src/lauréat/délai/délai.aggregate.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/projet/lauréat/délai/annulerDemandeDélai.feature
Due: eslint --fix, prettier -w

🎨 Annuler la demande de délai (#3274)
  packages/applications/bootstrap/src/setupProjet/setupLauréat/setupDélai.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/constant.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/demandeDélaiAnnuléeNotification.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/index.ts
  packages/applications/projectors/src/subscribers/lauréat/délai/demandeDélaiAnnulée.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/délai/registerDélaiProjectors.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/DétailsDemandeDélai.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/annuler/AnnulerDemandeDélai.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/annuler/annulerDemandeDélai.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/page.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/délai/events/mapToDemandeDélaiAnnuléeTimelineItemProps.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/délai/mapToDélaiTimelineItemProps.ts
  packages/domain/projet/src/lauréat/délai/demande/annuler/annulerDemandeDélai.command.ts
  packages/domain/projet/src/lauréat/délai/demande/annuler/annulerDemandeDélai.event.ts
  packages/domain/projet/src/lauréat/délai/demande/annuler/annulerDemandeDélai.options.ts
  packages/domain/projet/src/lauréat/délai/demande/annuler/annulerDemandeDélai.usecase.ts
  packages/domain/projet/src/lauréat/délai/délai.aggregate.ts
  packages/domain/projet/src/lauréat/délai/délai.event.ts
  packages/domain/projet/src/lauréat/délai/délai.register.ts
  packages/domain/projet/src/lauréat/délai/errors.ts
  packages/domain/projet/src/lauréat/délai/index.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/projet/lauréat/délai/annulerDemandeDélai.feature
  packages/specifications/src/projet/lauréat/délai/délai.world.ts
  packages/specifications/src/projet/lauréat/délai/fixtures/annulerDemandeDélai.fixture.ts
  packages/specifications/src/projet/lauréat/délai/stepDefinitions/délai.then.ts
  packages/specifications/src/projet/lauréat/délai/stepDefinitions/délai.when.ts
Due: eslint --fix, prettier -w

🚧 WIP rejeter demande délai
  packages/specifications/src/projet/lauréat/délai/rejeterChangementActionnaire.feature
Due: prettier -w

✨ Rejeter une demande de délai
  packages/applications/bootstrap/src/setupProjet/setupLauréat/setupDélai.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/constant.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/demandeDélaiRejetée.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/index.ts
  packages/applications/projectors/src/subscribers/lauréat/délai/demandeDélaiRejetée.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/délai/registerDélaiProjectors.ts
  packages/applications/ssr/src/utils/historique/mapToProps/délai/events/mapToDemandeDélaiRejetéeTimelineItemProps.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/délai/mapToDélaiTimelineItemProps.ts
  packages/domain/projet/src/lauréat/délai/demande/consulter/consulterDemandeDélai.query.ts
  packages/domain/projet/src/lauréat/délai/demande/rejeter/rejeterDemandeDélai.command.ts
  packages/domain/projet/src/lauréat/délai/demande/rejeter/rejeterDemandeDélai.event.ts
  packages/domain/projet/src/lauréat/délai/demande/rejeter/rejeterDemandeDélai.options.ts
  packages/domain/projet/src/lauréat/délai/demande/rejeter/rejeterDemandeDélai.usecase.ts
  packages/domain/projet/src/lauréat/délai/délai.aggregate.ts
  packages/domain/projet/src/lauréat/délai/délai.event.ts
  packages/domain/projet/src/lauréat/délai/délai.register.ts
  packages/domain/projet/src/lauréat/délai/index.ts
  packages/specifications/src/projet/lauréat/délai/délai.world.ts
  packages/specifications/src/projet/lauréat/délai/fixtures/rejeterDemandeDélai.fixture.ts
  packages/specifications/src/projet/lauréat/délai/rejeterDemandeDélai.feature
  packages/specifications/src/projet/lauréat/délai/stepDefinitions/délai.given.ts
  packages/specifications/src/projet/lauréat/délai/stepDefinitions/délai.then.ts
  packages/specifications/src/projet/lauréat/délai/stepDefinitions/délai.when.ts
Due: eslint --fix, prettier -w

💄 Ajout de l'action rejeter délai
  packages/applications/routes/src/lauréat/délai.routes.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/DétailsDemandeDélai.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/rejeter/RejeterDemandeDélai.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/rejeter/rejeterDemandeDélai.action.ts
  packages/domain/projet/src/lauréat/délai/demande/rejeter/rejeterDemandeDélai.command.ts
  packages/domain/projet/src/lauréat/délai/demande/rejeter/rejeterDemandeDélai.options.ts
  packages/domain/projet/src/lauréat/délai/demande/rejeter/rejeterDemandeDélai.usecase.ts
  packages/domain/projet/src/lauréat/délai/délai.aggregate.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/projet/lauréat/délai/demanderDélai.feature
  packages/specifications/src/projet/lauréat/délai/stepDefinitions/délai.when.ts
Due: eslint --fix, prettier -w

✅ Ajout scénario pour annuler une demande rejetée
  packages/domain/projet/src/lauréat/délai/demande/statutDemandeDélai.valueType.ts
  packages/specifications/src/projet/lauréat/délai/annulerDemandeDélai.feature
Due: eslint --fix, prettier -w

🎨 Review code format
  packages/applications/ssr/src/utils/historique/mapToProps/délai/mapToDélaiTimelineItemProps.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

✨ Ajout du lien pour télécharger le modele de réponse pour une demande en particulier
  packages/applications/routes/src/lauréat/délai.routes.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/DétailsDemandeDélai.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/rejeter/RejeterDemandeDélai.tsx
Due: eslint --fix

♻️ Vérif période famille at load time
  packages/domain/projet/src/candidature/candidature.aggregate.ts
  packages/domain/projet/src/projet.aggregateRoot.ts
Due: eslint --fix

🎨 La CRE ne doit pas pouvoir rejeter une demande de délai
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

✨ Rejeter une demande de délai (#3276)
  packages/applications/bootstrap/src/setupProjet/setupLauréat/setupDélai.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/constant.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/demandeDélaiRejetée.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/index.ts
  packages/applications/projectors/src/subscribers/lauréat/délai/demandeDélaiRejetée.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/délai/registerDélaiProjectors.ts
  packages/applications/routes/src/lauréat/délai.routes.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/DétailsDemandeDélai.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/rejeter/RejeterDemandeDélai.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/rejeter/rejeterDemandeDélai.action.ts
  packages/applications/ssr/src/utils/historique/mapToProps/délai/events/mapToDemandeDélaiRejetéeTimelineItemProps.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/délai/mapToDélaiTimelineItemProps.ts
  packages/domain/projet/src/lauréat/délai/demande/consulter/consulterDemandeDélai.query.ts
  packages/domain/projet/src/lauréat/délai/demande/rejeter/rejeterDemandeDélai.command.ts
  packages/domain/projet/src/lauréat/délai/demande/rejeter/rejeterDemandeDélai.event.ts
  packages/domain/projet/src/lauréat/délai/demande/rejeter/rejeterDemandeDélai.options.ts
  packages/domain/projet/src/lauréat/délai/demande/rejeter/rejeterDemandeDélai.usecase.ts
  packages/domain/projet/src/lauréat/délai/demande/statutDemandeDélai.valueType.ts
  packages/domain/projet/src/lauréat/délai/délai.aggregate.ts
  packages/domain/projet/src/lauréat/délai/délai.event.ts
  packages/domain/projet/src/lauréat/délai/délai.register.ts
  packages/domain/projet/src/lauréat/délai/index.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/projet/lauréat/délai/annulerDemandeDélai.feature
  packages/specifications/src/projet/lauréat/délai/demanderDélai.feature
  packages/specifications/src/projet/lauréat/délai/délai.world.ts
  packages/specifications/src/projet/lauréat/délai/fixtures/rejeterDemandeDélai.fixture.ts
  packages/specifications/src/projet/lauréat/délai/rejeterDemandeDélai.feature
  packages/specifications/src/projet/lauréat/délai/stepDefinitions/délai.given.ts
  packages/specifications/src/projet/lauréat/délai/stepDefinitions/délai.then.ts
  packages/specifications/src/projet/lauréat/délai/stepDefinitions/délai.when.ts
Due: eslint --fix, prettier -w

🎨 Fixing tests
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/projet/lauréat/actionnaire/enregistrerChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/supprimerDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/en-attente/stepDefinitions/garantiesFinancièresEnAttente.then.ts
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
Due: eslint --fix, prettier -w

🐛 Fix soumis aux GF
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/specifications/src/candidature/candidature.world.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/supprimerDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/en-attente/stepDefinitions/garantiesFinancièresEnAttente.then.ts
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.given.ts
Due: eslint --fix, prettier -w

🚚 Déplacer les pages attestation conformité dans app
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/AttestationConformité.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/InfoAttestationConformité.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/TitrePageAttestationConformité.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:modifier/modifierAttestationConformité.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:modifier/modifierAttestationConformité.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:transmettre/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:transmettre/transmettreAttestationConformité.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:transmettre/transmettreAttestationConformité.page.tsx
Due: eslint --fix

✨ Afficher l'historique d'une demande de délai
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/DétailsDemandeDélai.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/page.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/délai/mapToDélaiTimelineItemProps.ts
  packages/domain/projet/src/lauréat/délai/délai.register.ts
  packages/domain/projet/src/lauréat/délai/lister/listerHistoriqueDélaiProjet.query.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/infrastructure/domain-adapters/src/délai/listerDélaiAccordé/listerDélaiAccordéProjet.adapter.ts
Due: eslint --fix

🎨 Fixing test
  packages/specifications/src/candidature/corrigerCandidature.feature
Due: prettier -w

🚚 Déplacer les pages attestation conformité dans app (#3277)
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/AttestationConformité.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/InfoAttestationConformité.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/TitrePageAttestationConformité.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:modifier/modifierAttestationConformité.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:modifier/modifierAttestationConformité.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:transmettre/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:transmettre/transmettreAttestationConformité.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:transmettre/transmettreAttestationConformité.page.tsx
Due: eslint --fix

🚧 WIP
  packages/domain/projet/src/candidature/candidature.aggregate.ts
  packages/domain/projet/src/candidature/candidature.mapper.ts
  packages/domain/projet/src/candidature/corriger/corrigerCandidature.options.ts
  packages/domain/projet/src/candidature/corriger/corrigerCandidature.usecase.ts
  packages/domain/projet/src/candidature/dépôt.valueType.ts
  packages/domain/projet/src/candidature/importer/importerCandidature.command.ts
  packages/domain/projet/src/candidature/importer/importerCandidature.options.ts
  packages/domain/projet/src/candidature/importer/importerCandidature.usecase.ts
  packages/domain/projet/src/candidature/index.ts
  packages/domain/projet/src/candidature/instruction.valueType.ts
  packages/domain/projet/src/candidature/localité.valueType.ts
  packages/domain/projet/src/candidature/typeActionnariat.valueType.ts
  packages/domain/projet/src/candidature/typeGarantiesFinancières.valueType.ts
  packages/domain/projet/src/candidature/typeInstallationsAgrivoltaiques.valueType.ts
  packages/domain/projet/src/candidature/typologieBâtiment.valueType.ts
  packages/specifications/src/candidature/candidature.world.ts
  packages/specifications/src/candidature/fixtures/importerCandidature.fixture.ts
  packages/specifications/src/candidature/importerCandidature.feature
  packages/specifications/src/candidature/stepDefinitions/candidatureLegacy.given.ts
  packages/specifications/src/fixture.ts
Due: eslint --fix, prettier -w

🎨 .
  packages/specifications/src/candidature/stepDefinitions/candidature.given.ts
  packages/specifications/src/candidature/stepDefinitions/candidatureLegacy.given.ts
  packages/specifications/src/projet/lauréat/abandon/stepDefinitions/abandon.given.ts
  packages/specifications/src/projet/éliminé/stepDefinitions/éliminé.given.ts
Due: eslint --fix

🎨 .
  packages/specifications/src/candidature/candidature.world.ts
  packages/specifications/src/candidature/fixtures/corrigerCandidature.fixture.ts
  packages/specifications/src/candidature/fixtures/importerCandidature.fixture.ts
  packages/specifications/src/candidature/stepDefinitions/candidature.given.ts
  packages/specifications/src/candidature/stepDefinitions/candidature.then.ts
  packages/specifications/src/candidature/stepDefinitions/candidatureLegacy.given.ts
Due: eslint --fix

🚧 Wip
  packages/applications/cli/src/helpers/setupLogger.ts
  packages/applications/cli/src/hooks/init.ts
  packages/applications/projectors/src/subscribers/candidature/candidatureCorrigée.projector.ts
  packages/applications/projectors/src/subscribers/candidature/candidatureCorrigéeV1.projector.ts
  packages/applications/projectors/src/subscribers/candidature/candidatureImportée.projector.ts
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/corrigerCandidature.action.ts
  packages/applications/ssr/src/components/pages/lauréat/modifier/modifierLauréat.action.ts
  packages/domain/projet/src/candidature/candidature.aggregate.ts
  packages/domain/projet/src/candidature/candidature.entity.ts
  packages/domain/projet/src/candidature/consulter/consulterCandidature.query.ts
  packages/domain/projet/src/candidature/corriger/corrigerCandidature.usecase.ts
  packages/domain/projet/src/candidature/dépôt.valueType.ts
  packages/specifications/src/candidature/candidature.world.ts
  packages/specifications/src/candidature/fixtures/importerCandidature.fixture.ts
  packages/specifications/src/candidature/importerCandidature.feature
  packages/specifications/src/candidature/stepDefinitions/candidature.then.ts
  packages/specifications/src/candidature/stepDefinitions/candidature.when.ts
  packages/specifications/src/candidature/stepDefinitions/candidatureLegacy.given.ts
  packages/specifications/src/période/stepDefinitions/période.given.ts
Due: eslint --fix, prettier -w

🚧 Wip
  packages/applications/document-builder/src/candidature/attestation/attestation.saga.ts
  packages/applications/document-builder/src/candidature/attestation/buildCertificate.ts
  packages/applications/notifications/src/helpers/getCandidature.ts
  packages/applications/notifications/src/subscribers/candidature/candidature.notification.ts
  packages/domain/projet/src/candidature/lister/listerCandidatures.query.ts
  packages/domain/projet/src/lauréat/consulter/consulterLauréat.query.ts
  packages/domain/projet/src/lauréat/raccordement/saga/index.ts
  packages/domain/projet/src/éliminé/consulter/consulterÉliminé.query.ts
  packages/specifications/src/candidature/candidature.world.ts
  packages/specifications/src/candidature/importerCandidature.feature
  packages/specifications/src/candidature/stepDefinitions/candidature.given.ts
  packages/specifications/src/candidature/stepDefinitions/candidature.then.ts
  packages/specifications/src/candidature/stepDefinitions/candidature.when.ts
  packages/specifications/src/helpers/getFakeIdentifiantProjet.ts
  packages/specifications/src/projet/lauréat/abandon/stepDefinitions/abandon.given.ts
  packages/specifications/src/projet/lauréat/fournisseur/fournisseur.world.ts
  packages/specifications/src/projet/lauréat/lauréat.world.ts
  packages/specifications/src/projet/lauréat/puissance/stepDefinitions/puissance.then.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/stepDefinitions/changementReprésentantLégal.given.ts
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.given.ts
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréatLegacy.given.ts
  packages/specifications/src/projet/éliminé/stepDefinitions/éliminé.given.ts
  packages/specifications/src/période/stepDefinitions/période.given.ts
Due: eslint --fix, prettier -w

♻️ Ssr
  packages/applications/legacy/src/views/components/UI/templates/PageProjetTemplate.tsx
  packages/applications/ssr/src/app/_helpers/getProjet.ts
  packages/applications/ssr/src/app/candidatures/(liste)/CandidatureListItem.tsx
  packages/applications/ssr/src/app/candidatures/(liste)/CandidatureListItemActions.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/DétailsCandidature.page.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/corrigerCandidature.action.ts
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/page.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/page.tsx
  packages/applications/ssr/src/app/candidatures/corriger-par-lot/CorrigerCandidaturesParLot.action.ts
  packages/applications/ssr/src/app/candidatures/importer/importerCandidatures.action.ts
  packages/applications/ssr/src/app/elimine/[identifiant]/recours/modele-reponse/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/(détails)/accorder/accorderAbandonAvecRecandidature.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/modifier/page.tsx
  packages/applications/ssr/src/components/pages/lauréat/modifier/modifierLauréat.action.ts
  packages/applications/ssr/src/utils/candidature/candidatureCsv.schema.ts
  packages/applications/ssr/src/utils/candidature/mapCsvRowToDépôt.ts
  packages/applications/ssr/src/utils/candidature/mapCsvRowToInstruction.ts
  packages/applications/ssr/src/utils/modèle-document/mapToModèleRéponsePayload.ts
  packages/domain/projet/src/lauréat/consulter/consulterLauréat.query.ts
  packages/specifications/src/projet/lauréat/fixtures/modifierLauréat.fixture.ts
  packages/specifications/src/projet/lauréat/fixtures/notifierLauréat.fixture.ts
Due: eslint --fix

♻️ Exemple
  packages/applications/ssr/src/app/candidatures/_helpers/getLocalité.ts
  packages/domain/projet/src/candidature/corriger/corrigerCandidature.command.ts
  packages/domain/projet/src/candidature/corriger/corrigerCandidature.usecase.ts
  packages/domain/projet/src/candidature/importer/importerCandidature.usecase.ts
  packages/specifications/src/candidature/candidature.world.ts
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/candidature/fixtures/corrigerCandidature.fixture.ts
  packages/specifications/src/candidature/importerCandidature.feature
  packages/specifications/src/candidature/stepDefinitions/candidature.given.ts
  packages/specifications/src/candidature/stepDefinitions/candidature.then.ts
  packages/specifications/src/candidature/stepDefinitions/candidature.when.ts
  packages/specifications/src/helpers/exempleMapper.ts
Due: eslint --fix, prettier -w

🎨 Hack test
  packages/specifications/src/candidature/fixtures/corrigerCandidature.fixture.ts
  packages/specifications/src/candidature/fixtures/importerCandidature.fixture.ts
  packages/specifications/src/fixture.ts
Due: eslint --fix

⏪️ Revert
  packages/applications/cli/src/helpers/setupLogger.ts
  packages/applications/cli/src/hooks/init.ts
Due: eslint --fix

🚚 Cohérence naming
  packages/domain/projet/src/candidature/dépôt.valueType.ts
Due: eslint --fix

🎨 Oubli
  packages/specifications/src/candidature/importerCandidature.feature
Due: prettier -w

🎨 Doc
  packages/specifications/src/helpers/exempleMapper.ts
Due: eslint --fix

🔀 Merge
  packages/specifications/src/candidature/fixtures/importerCandidature.fixture.ts
Due: eslint --fix

🎨 Select
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/candidature/importerCandidature.feature
Due: prettier -w

🚚 Fix name
  packages/applications/ssr/src/app/candidatures/corriger-par-lot/CorrigerCandidaturesParLot.action.ts
  packages/applications/ssr/src/app/candidatures/corriger-par-lot/CorrigerCandidaturesParLot.form.tsx
Due: eslint --fix

🔥 MapCsvRowToDépôt
  packages/applications/ssr/src/app/candidatures/corriger-par-lot/CorrigerCandidaturesParLot.action.ts
  packages/applications/ssr/src/app/candidatures/importer/importerCandidatures.action.ts
  packages/applications/ssr/src/utils/candidature/candidatureCsv.schema.ts
  packages/applications/ssr/src/utils/candidature/mapCsvRowToDépôt.ts
Due: eslint --fix

♻️ Nom projet optionnel
  packages/specifications/src/candidature/stepDefinitions/candidature.given.ts
  packages/specifications/src/projet/lauréat/abandon/stepDefinitions/abandon.given.ts
Due: eslint --fix

🔥 MapCsvRowToInstruction
  packages/applications/ssr/src/app/candidatures/corriger-par-lot/CorrigerCandidaturesParLot.action.ts
  packages/applications/ssr/src/app/candidatures/importer/importerCandidatures.action.ts
  packages/applications/ssr/src/utils/candidature/mapCsvRowToInstruction.ts
Due: eslint --fix

♻️ Reduce repetition
  packages/domain/projet/src/candidature/dépôt.valueType.ts
Due: eslint --fix

♻️ Simplify
  packages/specifications/src/candidature/fixtures/importerCandidature.fixture.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.when.ts
Due: eslint --fix
