Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml,feature}": "prettier -w"
}

🚧 WIP
  packages/applications/legacy/src/infra/keycloak/attachUserToRequestMiddleware.ts
  packages/applications/ssr/src/app/(homepage)/Bienvenue.tsx
Due: eslint --fix

🎨 Fix redirection
  packages/applications/ssr/src/app/utilisateurs/[identifiant]/role:modifier/modifierRôleUtilisateur.action.ts
Due: eslint --fix

🔀 SpécificitésRolePayload
  packages/applications/projectors/src/subscribers/utilisateur/utilisateurInvité.projector.ts
  packages/domain/projet/src/accès/vérifier/vérifierAccèsProjet.query.ts
  packages/domain/utilisateur/src/index.ts
  packages/domain/utilisateur/src/modifierRôle/modifierRôleUtilisateur.event.ts
Due: eslint --fix

🔀 NouvelUtilisateur
  packages/domain/utilisateur/src/index.ts
  packages/domain/utilisateur/src/modifierRôle/modifierRôleUtilisateur.command.ts
  packages/domain/utilisateur/src/modifierRôle/modifierRôleUtilisateur.usecase.ts
  packages/domain/utilisateur/src/register.ts
Due: eslint --fix

🎨 Clean and fix petits problemes
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/(historique)/events/mapToChangementPuissanceEnregistréTimelineItemProps.tsx
  packages/domain/projet/src/lauréat/puissance/puissance.aggregate.ts
  packages/specifications/src/candidature/fixtures/importerCandidature.fixture.ts
  packages/specifications/src/projet/lauréat/puissance/fixture/modifierPuissance.fixture.ts
  packages/specifications/src/projet/lauréat/puissance/modifierPuissance.feature
Due: eslint --fix, prettier -w

🔀 Rôle
  packages/applications/ssr/src/app/utilisateurs/[identifiant]/role:modifier/page.tsx
Due: eslint --fix

📝 Update table matières doc (#3636)
  CONTRIBUTING.md
Due: eslint --fix

🗃️ Fix dump role cocontractant
  .database/potentiel-dev.dump
Due: none

🐛 Fix dgec validateur
  packages/domain/utilisateur/src/utilisateur.aggregate.ts
Due: eslint --fix

🎨 Logger
  packages/specifications/src/setup.ts
  packages/specifications/src/test-transport.logger.ts
Due: eslint --fix

🐛 Fix equality comparison
  packages/domain/utilisateur/src/utilisateur.valueType.ts
Due: eslint --fix

♻️ Simplify
  packages/domain/utilisateur/src/utilisateur.aggregate.ts
  packages/domain/utilisateur/src/utilisateur.valueType.ts
Due: eslint --fix

🚚 Migration des statistiques publiques sans usage de projects (#3639)
  packages/statistiques/statistiques-publiques/src/01-ensemble-des-projets/nombreDeProjetLauréatParAppelOffre.statistic.ts
  packages/statistiques/statistiques-publiques/src/02-avancement-des-projets/pourcentageAttestationTéléchargée.statistic.ts
  packages/statistiques/statistiques-publiques/src/04-mise-en-service/puissanceTotaleMiseEnService.stastistic.ts
  packages/statistiques/statistiques-publiques/src/05-garanties-financieres/totalPuissanceProjetAvecMainlevéeAccordée.statistic.ts
  packages/statistiques/statistiques-publiques/src/08-carte/projetLauréatParDépartement.statistic.ts
Due: eslint --fix

🎨 Simplification
  packages/specifications/src/projet/lauréat/puissance/changement/demanderChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/enregistrerChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/stepDefinitions/changementPuissance.when.ts
  packages/specifications/src/projet/lauréat/puissance/puissance.world.ts
Due: eslint --fix, prettier -w

🎨 Simplification v1
  packages/specifications/src/projet/lauréat/puissance/changement/demanderChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/enregistrerChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/puissance.world.ts
Due: eslint --fix, prettier -w

🎨 Fix: délai
  package-lock.json
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getDélai.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/page.tsx
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix, prettier -w

🐛 Affichage délai dans le menu (#3641)
  package-lock.json
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getDélai.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/page.tsx
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix, prettier -w

✨ Ajout typologie bâtiment mixte
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales/InfoInstallation.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/typologie-du-projet/typologieInstallationLabel.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsvFields.schema.ts
  packages/applications/ssr/src/utils/candidature/csv/mapCsvToTypologieInstallation.ts
  packages/domain/projet/src/candidature/typologieInstallation.valueType.ts
Due: eslint --fix

🎨 Logger back
  packages/specifications/src/setup.ts
Due: eslint --fix

🐛 Affichage délai dans le menu (#3641)
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getDélai.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/page.tsx
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🎨 Flaky
  packages/specifications/src/projet/lauréat/puissance/changement/demanderChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/enregistrerChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/stepDefinitions/changementPuissance.when.ts
Due: eslint --fix, prettier -w

✨ Ajout typologie bâtiment mixte (#3642)
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales/InfoInstallation.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/typologie-du-projet/typologieInstallationLabel.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsvFields.schema.ts
  packages/applications/ssr/src/utils/candidature/csv/mapCsvToTypologieInstallation.ts
  packages/domain/projet/src/candidature/typologieInstallation.valueType.ts
Due: eslint --fix

✨ Ajout typologie bâtiment mixte (cherry-pick release 3.64) (#3645)
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales/InfoInstallation.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/typologie-du-projet/typologieInstallationLabel.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsvFields.schema.ts
  packages/applications/ssr/src/utils/candidature/csv/mapCsvToTypologieInstallation.ts
  packages/domain/projet/src/candidature/typologieInstallation.valueType.ts
Due: eslint --fix

🎨 Nouveau design effacer les filtres
  packages/applications/ssr/src/app/candidatures/(liste)/page.tsx
  packages/applications/ssr/src/components/molecules/FiltersTagList.tsx
Due: eslint --fix

🎨 Useless
  packages/applications/ssr/src/components/molecules/FiltersTagList.tsx
Due: eslint --fix

🔀 Intégration des modifications de la release 3.65 (#3644)
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getDélai.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/page.tsx
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🎨 Clean
  packages/applications/ssr/src/components/molecules/FiltersTagList.tsx
Due: eslint --fix

✅ Attendre l'exécution de la projection avant de notifier un projet (#3608)
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/candidature/notifierCandidature.feature
  packages/specifications/src/candidature/stepDefinitions/candidature.given.ts
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.given.ts
  packages/specifications/src/projet/éliminé/stepDefinitions/éliminé.given.ts
Due: eslint --fix, prettier -w

✅ Attendre l'exécution de la projection avant de notifier un projet (… (#3648)
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/candidature/notifierCandidature.feature
  packages/specifications/src/candidature/stepDefinitions/candidature.given.ts
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.given.ts
  packages/specifications/src/projet/éliminé/stepDefinitions/éliminé.given.ts
Due: eslint --fix, prettier -w

🎨 Amelioration
  packages/applications/ssr/src/components/molecules/FiltersTagList.tsx
  packages/applications/ssr/src/components/organisms/ListHeader.tsx
  packages/applications/ssr/src/components/templates/ListPage.template.tsx
Due: eslint --fix

✅ Update test dépot gf avec email
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/soumettreDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/validerDépôtGarantiesFinancières.feature
Due: prettier -w

✅ Update test gf actuelles avec email
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerAttestationGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/modifierGarantiesFinancièresActuelles.feature
Due: prettier -w

✅ Update test mainlevée avec email
  packages/applications/notifications/src/subscribers/lauréat/garantiesFinancières.notification.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerAttestationGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/importerTypeGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/modifierGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/échoirGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/modifierDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/supprimerDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/validerDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/en-attente/demanderGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/accorderDemandeMainlevéeGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/annulerDemandeMainlevéeGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/demanderMainlevéeGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/démarrerInstructionDemandeMainlevéeGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/rejeterDemandeMainlevéeGarantiesFinancières.feature
Due: eslint --fix, prettier -w

🎨 Bouton effacer les filtres (#3647)
  packages/applications/ssr/src/app/candidatures/(liste)/page.tsx
  packages/applications/ssr/src/components/molecules/FiltersTagList.tsx
  packages/applications/ssr/src/components/organisms/ListHeader.tsx
  packages/applications/ssr/src/components/templates/ListPage.template.tsx
Due: eslint --fix

✅ Update test gf échue avec email
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/échoirGarantiesFinancièresActuelles.feature
Due: prettier -w

🚚 Réorganiser les pages et query Accès (#3625)
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/Contact/index.tsx
  packages/applications/projectors/src/subscribers/accès/accèsProjetAutorisé.projector.ts
  packages/applications/projectors/src/subscribers/accès/accèsProjetRetiré.projector.ts
  packages/applications/projectors/src/subscribers/appel-offre/seed.ts
  packages/applications/routes/src/accès/accès.routes.ts
  packages/applications/routes/src/accès/index.ts
  packages/applications/routes/src/index.ts
  packages/applications/routes/src/utilisateur/utilisateur.routes.ts
  packages/applications/ssr/src/app/projets/[identifiant]/(détails)/DétailsProjetÉliminé.page.tsx
  packages/applications/ssr/src/app/projets/[identifiant]/acces/(inviter)/InviterPorteur.form.tsx
  packages/applications/ssr/src/app/projets/[identifiant]/acces/(inviter)/inviterPorteur.action.ts
  packages/applications/ssr/src/app/projets/[identifiant]/acces/AccèsList.page.tsx
  packages/applications/ssr/src/app/projets/[identifiant]/acces/AccèsListItem.tsx
  packages/applications/ssr/src/app/projets/[identifiant]/acces/page.tsx
  packages/applications/ssr/src/app/projets/[identifiant]/acces/retirerAccèsProjet.action.ts
  packages/applications/ssr/src/app/utilisateurs/(liste)/RoleBadge.tsx
  packages/applications/ssr/src/app/utilisateurs/(liste)/UtilisateurListItem.tsx
  packages/applications/ssr/src/app/utilisateurs/[identifiant]/PorteurList.page.tsx
  packages/applications/ssr/src/app/utilisateurs/[identifiant]/page.tsx
  packages/domain/utilisateur/src/index.ts
  packages/domain/utilisateur/src/lister/listerPorteurs.query.ts
  packages/domain/utilisateur/src/register.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

✨ Demander le changement de la puissance de site ETQ PP (#3630)
  packages/applications/projectors/src/subscribers/lauréat/puissance/changementPuissanceAccordé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/puissance/changementPuissanceDemandé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/puissance/changementPuissanceEnregistré.projector.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/(historique)/events/mapToChangementPuissanceAccordéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/(historique)/events/mapToChangementPuissanceDemandéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/(historique)/events/mapToChangementPuissanceEnregistréTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/(historique)/events/mapToPuissanceImportéeTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/DétailsChangementPuissance.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/demander/DemanderChangementPuissance.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/demander/DemanderChangementPuissance.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/demander/demanderChangementPuissance.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/demander/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/modifier/ModifierPuissance.form.tsx
  packages/domain/projet/src/lauréat/puissance/changement/accorder/accorderChangementPuissance.event.ts
  packages/domain/projet/src/lauréat/puissance/changement/changementPuissance.entity.ts
  packages/domain/projet/src/lauréat/puissance/changement/consulter/consulterChangementPuissance.query.ts
  packages/domain/projet/src/lauréat/puissance/changement/demander/demanderChangementPuissance.command.ts
  packages/domain/projet/src/lauréat/puissance/changement/demander/demanderChangementPuissance.event.ts
  packages/domain/projet/src/lauréat/puissance/changement/demander/demanderChangementPuissance.options.ts
  packages/domain/projet/src/lauréat/puissance/changement/demander/demanderChangementPuissance.usecase.ts
  packages/domain/projet/src/lauréat/puissance/changement/enregistrerChangement/enregistrerChangementPuissance.command.ts
  packages/domain/projet/src/lauréat/puissance/changement/enregistrerChangement/enregistrerChangementPuissance.event.ts
  packages/domain/projet/src/lauréat/puissance/changement/enregistrerChangement/enregistrerChangementPuissance.options.ts
  packages/domain/projet/src/lauréat/puissance/changement/enregistrerChangement/enregistrerChangementPuissance.usecase.ts
  packages/domain/projet/src/lauréat/puissance/puissance.aggregate.ts
  packages/specifications/src/candidature/fixtures/importerCandidature.fixture.ts
  packages/specifications/src/projet/lauréat/puissance/changement/changementPuissance.world.ts
  packages/specifications/src/projet/lauréat/puissance/changement/demanderChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/enregistrerChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/fixture/demanderChangementPuissance.fixture.ts
  packages/specifications/src/projet/lauréat/puissance/changement/fixture/enregistrerChangementPuissance.fixture.ts
  packages/specifications/src/projet/lauréat/puissance/changement/stepDefinitions/changementPuissance.given.ts
  packages/specifications/src/projet/lauréat/puissance/changement/stepDefinitions/changementPuissance.when.ts
  packages/specifications/src/projet/lauréat/puissance/fixture/modifierPuissance.fixture.ts
  packages/specifications/src/projet/lauréat/puissance/modifierPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/puissance.world.ts
  packages/specifications/src/projet/lauréat/puissance/stepDefinitions/puissance.when.ts
  packages/specifications/src/setup.ts
  packages/specifications/src/test-transport.logger.ts
Due: eslint --fix, prettier -w
