Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml}": "prettier -w"
}

🎨 Email ok
  packages/applications/legacy/src/controllers/modificationRequest/producteur/postChangerProducteur.ts
  packages/applications/notifications/src/helper/formatDateForEmail.test.ts
  packages/applications/notifications/src/helper/formatDateForEmail.ts
  packages/applications/notifications/src/subscribers/lauréat/garantiesFinancières.notification.ts
  packages/domain/common/src/valueTypes/dateTime.valueType.ts
Due: eslint --fix

🎨 Clean
  packages/domain/common/src/valueTypes/dateTime.valueType.ts
Due: eslint --fix

🎨 Corrections
  packages/applications/notifications/src/helpers/formatDateForEmail.test.ts
  packages/applications/notifications/src/helpers/formatDateForEmail.ts
  packages/applications/notifications/src/subscribers/lauréat/garantiesFinancières.notification.ts
  packages/applications/ssr/src/components/organisms/garantiesFinancières/GarantiesFinancièresActions.tsx
Due: eslint --fix

🎨 Review
  packages/applications/notifications/src/helpers/formatDateForEmail.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/page.tsx
Due: eslint --fix

🎨 Retours review
  packages/applications/bootstrap/src/setupLauréat.ts
  packages/applications/notifications/src/subscribers/lauréat/garantiesFinancières.notification.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/échoirGarantiesFinancières.feature
Due: eslint --fix

🎨 Amélioration des steps utilisateur.given pour pouvoir associer une dreal à un projet dans un contexte de scénarios envoyant des notifications
  packages/specifications/src/projet/lauréat/garantiesFinancières/échoirGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/lauréat.given.ts
  packages/specifications/src/setup.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.given.ts
Due: eslint --fix

✨ Envoyer message et alerte quand gfs échues (#1994)
  packages/applications/bootstrap/src/setupLauréat.ts
  packages/applications/legacy/src/controllers/modificationRequest/producteur/postChangerProducteur.ts
  packages/applications/notifications/src/helpers/formatDateForEmail.test.ts
  packages/applications/notifications/src/helpers/formatDateForEmail.ts
  packages/applications/notifications/src/subscribers/lauréat/garantiesFinancières.notification.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/page.tsx
  packages/applications/ssr/src/components/organisms/garantiesFinancières/GarantiesFinancières.tsx
  packages/applications/ssr/src/components/organisms/garantiesFinancières/GarantiesFinancièresActions.tsx
  packages/applications/ssr/src/components/organisms/garantiesFinancières/types.ts
  packages/applications/ssr/src/components/pages/garanties-financières/détails/DétailsGarantiesFinancières.page.tsx
  packages/specifications/src/projet/lauréat/garantiesFinancières/échoirGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/lauréat.given.ts
  packages/specifications/src/setup.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.given.ts
Due: eslint --fix

💚 Utilisation de npx dans "application version"
  package.json
Due: eslint --fix, prettier -w

💚 Utilisation de npx dans "application version" (#1998)
  package.json
Due: eslint --fix, prettier -w

🐛 Fix bug recherche par nom de projet dans liste des abandons
  packages/domain/lauréat/src/abandon/lister/listerAbandons.query.ts
Due: eslint --fix

🐛 Fix bug recherche par nom de projet dans liste des abandons (#1999)
  packages/domain/lauréat/src/abandon/lister/listerAbandons.query.ts
Due: eslint --fix

🎨 Copy and paste component
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/page.tsx
  packages/applications/ssr/src/components/organisms/garantiesFinancières/GarantiesFinancières.tsx
  packages/applications/ssr/src/components/organisms/garantiesFinancières/GarantiesFinancièresActions.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/détails/DétailsGarantiesFinancières.page.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/détails/components/InfoBoxDrealGarantiesFinancièresÉchues.tsx
Due: eslint --fix

🎨 Molecule
  packages/applications/ssr/src/components/molecules/CopyAndPaste.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/détails/components/InfoBoxDrealGarantiesFinancièresÉchues.tsx
Due: eslint --fix

🎨 Clean
  packages/applications/ssr/src/components/pages/garanties-financières/détails/components/InfoBoxDrealGarantiesFinancièresÉchues.tsx
Due: eslint --fix

🎨 Review and story
  packages/applications/ssr/.storybook/main.ts
  packages/applications/ssr/src/components/molecules/CopyButton.stories.tsx
  packages/applications/ssr/src/components/molecules/CopyButton.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/détails/components/InfoBoxDrealGarantiesFinancièresÉchues.tsx
Due: eslint --fix

🎨 copier coller contacts porteurs quand gfs est échues (#2001)
  packages/applications/ssr/.storybook/main.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/page.tsx
  packages/applications/ssr/src/components/molecules/CopyButton.stories.tsx
  packages/applications/ssr/src/components/molecules/CopyButton.tsx
  packages/applications/ssr/src/components/organisms/garantiesFinancières/GarantiesFinancières.tsx
  packages/applications/ssr/src/components/organisms/garantiesFinancières/GarantiesFinancièresActions.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/détails/DétailsGarantiesFinancières.page.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/détails/components/InfoBoxDrealGarantiesFinancièresÉchues.tsx
Due: eslint --fix

✅ Impossible de modifier une demande complète de raccordement si la date de mise en service est déjà renseignée
  packages/domain/réseau/src/raccordement/modifier/modifierDemandeComplèteRaccordement.behavior.ts
  packages/specifications/src/raccordement/modifierDemandeComplèteDeRaccordement.feature
Due: eslint --fix

🧪 NotImplemented scénario (à vérifier) : Impossible de modifier une proposition technique et financière si la date de mise en service est déjà renseignée
  packages/applications/ssr/src/components/pages/réseau/raccordement/modifier/modifierDemandeComplèteRaccordement/modifierDemandeComplèteRaccordement.action.ts
  packages/domain/réseau/src/raccordement/modifier/modifierDemandeComplèteRaccordement.behavior.ts
  packages/domain/réseau/src/raccordement/modifier/modifierDemandeComplèteRaccordement.command.ts
  packages/domain/réseau/src/raccordement/modifier/modifierDemandeComplèteRaccordement.usecase.ts
  packages/specifications/src/raccordement/modifierDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/modifierPropositionTechniqueEtFinancière.feature
  packages/specifications/src/raccordement/stepDefinitions/raccordement.when.ts
Due: eslint --fix

🎨 Amélioration erreur RéférenceDossierRaccordementNonModifiableCarDossierAvecDateDeMiseEnServiceError
  packages/domain/réseau/src/raccordement/modifier/modifierRéférenceDossierRaccordement.behavior.ts
  packages/specifications/src/raccordement/modifierRéférenceDemandeComplèteDeRaccordement.feature
Due: eslint --fix

🚧 sentry working in next backend
  package-lock.json
  packages/applications/legacy/.env.template
  packages/applications/ssr/.env.template
  packages/applications/ssr/.gitignore
  packages/applications/ssr/next.config.js
  packages/applications/ssr/package.json
  packages/applications/ssr/sentry.client.config.ts
  packages/applications/ssr/sentry.server.config.ts
  packages/applications/ssr/src/app/global-error.tsx
  packages/applications/ssr/src/app/layout.tsx
  packages/applications/ssr/src/components/pages/custom-error/CustomError.page.tsx
  packages/applications/ssr/src/components/pages/custom-error/DefaultError.tsx
  packages/applications/ssr/src/instrumentation.ts
  packages/libraries/monitoring/src/capture.ts
Due: eslint --fix, prettier -w

🎨 Application des règles métiers dans la partie SSR
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/[reference]/demande-complete-raccordement:modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/page.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/modifier/modifierDemandeComplèteRaccordement/ModifierDemandeComplèteRaccordement.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/modifier/modifierDemandeComplèteRaccordement/ModifierDemandeComplèteRaccordement.stories.tsx
  packages/domain/réseau/src/raccordement/modifier/modifierDemandeComplèteRaccordement.behavior.ts
  packages/specifications/src/raccordement/modifierDemandeComplèteDeRaccordement.feature
Due: eslint --fix

🎨 Retour review
  packages/specifications/src/raccordement/modifierRéférenceDemandeComplèteDeRaccordement.feature
Due: none

✅ Une dreal de projet modifie une demande complète de raccordement même si la date de mise en service est déjà renseignée
  packages/specifications/src/raccordement/modifierDemandeComplèteDeRaccordement.feature
Due: none

🐛 Fix tests space
  packages/specifications/src/raccordement/modifierDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/modifierRéférenceDemandeComplèteDeRaccordement.feature
Due: none

🐛 Recadrer les droits de modifications d'une DCR en fonction de si le dossier de raccordement a une date de mise en service (#2002)
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/[reference]/demande-complete-raccordement:modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/page.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/modifier/modifierDemandeComplèteRaccordement/ModifierDemandeComplèteRaccordement.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/modifier/modifierDemandeComplèteRaccordement/ModifierDemandeComplèteRaccordement.stories.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/modifier/modifierDemandeComplèteRaccordement/modifierDemandeComplèteRaccordement.action.ts
  packages/domain/réseau/src/raccordement/modifier/modifierDemandeComplèteRaccordement.behavior.ts
  packages/domain/réseau/src/raccordement/modifier/modifierDemandeComplèteRaccordement.command.ts
  packages/domain/réseau/src/raccordement/modifier/modifierDemandeComplèteRaccordement.usecase.ts
  packages/domain/réseau/src/raccordement/modifier/modifierRéférenceDossierRaccordement.behavior.ts
  packages/specifications/src/raccordement/modifierDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/modifierPropositionTechniqueEtFinancière.feature
  packages/specifications/src/raccordement/modifierRéférenceDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/stepDefinitions/raccordement.when.ts
Due: eslint --fix

♻️ Ajout d'une fonction Role.aLaPermission
  packages/domain/utilisateur/src/permission.middleware.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

✏️ Rename
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

✅ Fix tests
  packages/infrastructure/ore-client/src/helper/matchOutreMerAndCorseCodePostalToGRD.test.ts
  packages/libraries/monitoring/package.json
  packages/libraries/monitoring/src/logger.spec.ts
Due: eslint --fix, prettier -w

👷 Annulation des builds concurrents sur PR
  .github/workflows/codeql-analysis.yml
  .github/workflows/pr.yml
Due: eslint --fix, prettier -w

🧑‍💻 Omettre la CLI avec `build:test` et `build:dev`
  package.json
Due: eslint --fix, prettier -w

♻️ Smarter filters
  package.json
Due: eslint --fix, prettier -w

🔧 Ajout de inmemory-referential pour legacy
  package.json
Due: eslint --fix, prettier -w

🎨 Clean
  packages/applications/ssr/src/app/global-error.tsx
Due: eslint --fix

🔊Set up sentry in Next JS app (#1968)
  package-lock.json
  packages/applications/legacy/.env.template
  packages/applications/ssr/.env.template
  packages/applications/ssr/.gitignore
  packages/applications/ssr/next.config.js
  packages/applications/ssr/package.json
  packages/applications/ssr/sentry.client.config.ts
  packages/applications/ssr/sentry.server.config.ts
  packages/applications/ssr/src/app/layout.tsx
  packages/applications/ssr/src/components/pages/custom-error/CustomError.page.tsx
  packages/applications/ssr/src/components/pages/custom-error/DefaultError.tsx
  packages/applications/ssr/src/instrumentation.ts
  packages/libraries/monitoring/src/capture.ts
Due: eslint --fix, prettier -w

👷 Annulation des builds concurrents sur PR (#2005)
  .github/workflows/codeql-analysis.yml
  .github/workflows/pr.yml
Due: eslint --fix, prettier -w

🐛 Doublons dans l'event stream pour DateMiseEnServiceTransmise
  packages/domain/réseau/package.json
  packages/domain/réseau/src/raccordement/raccordement.aggregate.ts
  packages/domain/réseau/src/raccordement/transmettre/transmettreDateMiseEnService.behavior.ts
  packages/domain/réseau/src/raccordement/transmettre/transmettreDateMiseEnService.command.ts
  packages/domain/réseau/tsconfig.json
Due: eslint --fix, prettier -w

🎨 En->fr
  packages/domain/réseau/src/raccordement/transmettre/transmettreDateMiseEnService.behavior.ts
Due: eslint --fix

🔧 Fix config next
  packages/applications/ssr/next.config.js
Due: eslint --fix

✅ Ajout test
  packages/domain/réseau/src/raccordement/transmettre/transmettreDateMiseEnService.behavior.ts
  packages/specifications/src/raccordement/transmettreDateMiseEnService.feature
Due: eslint --fix

🚧 Proof of concept testabilité des mails
  packages/applications/bootstrap/src/bootstrap.ts
  packages/applications/notifications/src/index.ts
  packages/applications/notifications/src/infrastructure/sendEmail.ts
  packages/applications/notifications/src/register.ts
  packages/specifications/src/notification/notification.world.ts
  packages/specifications/src/notification/stepDefinitions/notification.then.ts
  packages/specifications/src/potentiel.world.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/échoirGarantiesFinancières.feature
  packages/specifications/src/setup.ts
Due: eslint --fix
