Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

🧪 Calculer la date d'achèvement prévisionnel lorsqu'un projet lauréat change son cahier des charges par le CDC du 30/08/2022
  packages/specifications/src/projet/lauréat/achèvement/calculerDateAchèvementPrévisionnel.feature
Due: prettier -w

✅ Calculer la date d'achèvement prévisionnel lorsqu'un projet lauréat change son cahier des charges par le CDC du 30/08/2022
  packages/domain/projet/src/lauréat/achèvement/achèvement.aggregate.ts
  packages/domain/projet/src/lauréat/achèvement/calculerDateAchèvementPrévisionnel/calculerDateAchèvementPrévisionnel.option.ts
  packages/domain/projet/src/lauréat/cahierDesCharges/choisir/choisirCahierDesCharges.usecase.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
  packages/specifications/src/projet/lauréat/achèvement/calculerDateAchèvementPrévisionnel.feature
Due: eslint --fix, prettier -w

🎨 Fix: test sauf 1
  packages/applications/legacy/src/controllers/project/getProjectPage/index.ts
  packages/specifications/src/projet/lauréat/actionnaire/accorderChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/annulerChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/demanderChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/enregistrerChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/modifierActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/rejeterChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/supprimerChangementActionnaire.feature
Due: eslint --fix, prettier -w

🎨 Test
  packages/domain/projet/src/lauréat/actionnaire/actionnaire.aggregate.ts
  packages/domain/projet/src/lauréat/actionnaire/errors.ts
Due: eslint --fix

🎨 Retour de review
  packages/domain/projet/src/lauréat/achèvement/achèvement.aggregate.ts
  packages/domain/projet/src/lauréat/achèvement/calculerDateAchèvementPrévisionnel/calculerDateAchèvementPrévisionnel.option.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
  packages/specifications/src/projet/lauréat/achèvement/calculerDateAchèvementPrévisionnel.feature
Due: eslint --fix, prettier -w

🚚 Déplacement des pages de fournisseur (#3291)
  packages/applications/ssr/src/app/candidatures/[identifiant]/DétailsCandidature.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/StatutChangementFournisseurBadge.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/AlerteChangementÉvaluationCarbone.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/ListeFournisseurs.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/[date]/DétailsChangementFournisseur.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/[date]/DétailsChangementFournisseur.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/[date]/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/enregistrer/EnregistrerChangementFournisseur.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/enregistrer/EnregistrerChangementFournisseur.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/enregistrer/FournisseursField.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/enregistrer/enregistrerChangementFournisseur.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/enregistrer/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/typeFournisseurLabel.ts
  packages/applications/ssr/src/app/laureats/changements/fournisseur/ChangementFournisseurList.page.tsx
  packages/applications/ssr/src/app/laureats/changements/fournisseur/ChangementFournisseurListItem.tsx
  packages/applications/ssr/src/app/laureats/changements/fournisseur/page.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/fournisseur/events/mapToChangementFournisseurEnregistréTimelineItemProps.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/fournisseur/events/mapToFournisseurImportéTimelineItemProps.tsx
Due: eslint --fix

🎨 Passage de plan du scénario à scénario classique
  packages/specifications/src/projet/lauréat/achèvement/calculerDateAchèvementPrévisionnel.feature
Due: prettier -w

✨ Ajouter 18 mois à la date d'achèvement prévisionnel si le CDC paru le 30/08/2022 est séléctionné (#3293)
  packages/domain/projet/src/lauréat/achèvement/achèvement.aggregate.ts
  packages/domain/projet/src/lauréat/achèvement/calculerDateAchèvementPrévisionnel/calculerDateAchèvementPrévisionnel.option.ts
  packages/domain/projet/src/lauréat/cahierDesCharges/choisir/choisirCahierDesCharges.usecase.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
  packages/specifications/src/projet/lauréat/achèvement/calculerDateAchèvementPrévisionnel.feature
Due: eslint --fix, prettier -w

🎨 Retour wording
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/DétailsDemandeDélai.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/accorder/AccorderDemandeDélai.tsx
  packages/domain/projet/src/lauréat/délai/délai.aggregate.ts
Due: eslint --fix

🎨 Retour wording sur la feature délai (#3295)
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/DétailsDemandeDélai.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/accorder/AccorderDemandeDélai.tsx
  packages/domain/projet/src/lauréat/délai/délai.aggregate.ts
Due: eslint --fix

🔥 Remove github templates
  .github/pull_request_template.md
Due: eslint --fix

🎨 Retravailler la méthod de calcul de la date d'achèvement prévisionnel iso avec EDF OA
  packages/domain/common/src/valueTypes/dateTime.valueType.spec.ts
  packages/domain/common/src/valueTypes/dateTime.valueType.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.aggregate.ts
  packages/specifications/src/projet/lauréat/achèvement/calculerDateAchèvementPrévisionnel.feature
  packages/specifications/src/projet/lauréat/délai/accorderDemandeDélai.feature
Due: eslint --fix, prettier -w

🎨 Retravailler la méthod de calcul de la date d'achèvement prévisionnel iso avec EDF OA (#3296)
  packages/domain/common/src/valueTypes/dateTime.valueType.spec.ts
  packages/domain/common/src/valueTypes/dateTime.valueType.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.aggregate.ts
  packages/specifications/src/projet/lauréat/achèvement/calculerDateAchèvementPrévisionnel.feature
  packages/specifications/src/projet/lauréat/délai/accorderDemandeDélai.feature
Due: eslint --fix, prettier -w

✨ Corriger une demande de délai en cours
  packages/applications/bootstrap/src/setupProjet/setupLauréat/setupDélai.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/constant.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/demandeDélaiCorrigée.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/index.ts
  packages/applications/projectors/src/subscribers/lauréat/délai/demandeDélaiCorrigée.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/délai/registerDélaiProjectors.ts
  packages/domain/projet/src/lauréat/délai/demande/corriger/corrigerDemandeDélai.command.ts
  packages/domain/projet/src/lauréat/délai/demande/corriger/corrigerDemandeDélai.event.ts
  packages/domain/projet/src/lauréat/délai/demande/corriger/corrigerDemandeDélai.options.ts
  packages/domain/projet/src/lauréat/délai/demande/corriger/corrigerDemandeDélai.usecase.ts
  packages/domain/projet/src/lauréat/délai/demande/demandeDélai.entity.ts
  packages/domain/projet/src/lauréat/délai/délai.aggregate.ts
  packages/domain/projet/src/lauréat/délai/délai.event.ts
  packages/domain/projet/src/lauréat/délai/délai.register.ts
  packages/domain/projet/src/lauréat/délai/index.ts
  packages/specifications/src/projet/lauréat/délai/corrigerDemandeDélai.feature
  packages/specifications/src/projet/lauréat/délai/délai.world.ts
  packages/specifications/src/projet/lauréat/délai/fixtures/corrigerDélai.fixture.ts
  packages/specifications/src/projet/lauréat/délai/stepDefinitions/délai.then.ts
  packages/specifications/src/projet/lauréat/délai/stepDefinitions/délai.when.ts
Due: eslint --fix, prettier -w

🚧 Branchement dans l'app
  packages/applications/routes/src/lauréat/délai.routes.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/DétailsDemandeDélai.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/corriger/CorrigerDemandeDélai.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/corriger/CorrigerDemandeDélai.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/corriger/corrigerDemandeDélai.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/corriger/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/page.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/délai/events/mapToDemandeDélaiCorrigéeTimelineItemProps.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/délai/mapToDélaiTimelineItemProps.ts
  packages/domain/projet/src/lauréat/délai/demande/corriger/corrigerDemandeDélai.usecase.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/projet/lauréat/délai/stepDefinitions/délai.when.ts
Due: eslint --fix

✅ Calculer la date d'achèvement prévisionnel lorsqu'un projet lauréat passe d'un cahier des charges paru le 30/08/2022 à un CDC initial
  packages/domain/common/src/valueTypes/dateTime.valueType.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.aggregate.ts
  packages/domain/projet/src/lauréat/achèvement/calculerDateAchèvementPrévisionnel/calculerDateAchèvementPrévisionnel.option.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
  packages/specifications/src/projet/lauréat/achèvement/calculerDateAchèvementPrévisionnel.feature
  packages/specifications/src/projet/lauréat/fixtures/choisirCahierDesCharges.fixture.ts
Due: eslint --fix, prettier -w

✨ Retirer le délai accordé de 18 mois lorsqu'un projet passe d'un CDC 30/08/2022 à un autre CDC (#3299)
  packages/domain/common/src/valueTypes/dateTime.valueType.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.aggregate.ts
  packages/domain/projet/src/lauréat/achèvement/calculerDateAchèvementPrévisionnel/calculerDateAchèvementPrévisionnel.option.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
  packages/specifications/src/projet/lauréat/achèvement/calculerDateAchèvementPrévisionnel.feature
  packages/specifications/src/projet/lauréat/fixtures/choisirCahierDesCharges.fixture.ts
Due: eslint --fix, prettier -w

🚧 Ajout du value type DateAchevementPrévisionnel
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/modele-reponse/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/demander/DemanderDélai.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/demander/DemanderDélai.form.tsx
  packages/domain/projet/src/lauréat/achèvement/achèvement.aggregate.ts
  packages/domain/projet/src/lauréat/achèvement/consulter/consulterAchèvement.query.ts
  packages/domain/projet/src/lauréat/achèvement/dateAchèvementPrévisionnel.valueType.ts
  packages/domain/projet/src/lauréat/achèvement/index.ts
  packages/specifications/src/projet/lauréat/achèvement/stepDefinitions/achèvement.then.ts
Due: eslint --fix

🔥 Remove github templates (#3297)
  .github/pull_request_template.md
Due: eslint --fix

🎨 Retours reviews détails
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/corriger/page.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/délai/events/index.ts
  packages/applications/ssr/src/utils/historique/mapToProps/délai/mapToDélaiTimelineItemProps.ts
Due: eslint --fix

🎨 Remplacement 2 utilisations
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/demander/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/demander/page.tsx
Due: eslint --fix

🎨 Fix: sujet email GFS
  packages/applications/notifications/src/subscribers/lauréat/tâche-planifiée/garantiesFinancièresRappelÉchéance.notification.ts
Due: eslint --fix

🚚 Déplacer page historique lauréat
  packages/applications/ssr/src/app/laureats/[identifiant]/historique/HistoriqueLauréat.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/historique/page.tsx
Due: eslint --fix

✨ Corriger une demande de délai en cours (#3298)
  packages/applications/bootstrap/src/setupProjet/setupLauréat/setupDélai.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/constant.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/demandeDélaiCorrigée.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/délai/index.ts
  packages/applications/projectors/src/subscribers/lauréat/délai/demandeDélaiCorrigée.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/délai/registerDélaiProjectors.ts
  packages/applications/routes/src/lauréat/délai.routes.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/DétailsDemandeDélai.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/corriger/CorrigerDemandeDélai.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/corriger/CorrigerDemandeDélai.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/corriger/corrigerDemandeDélai.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/corriger/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/page.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/délai/events/index.ts
  packages/applications/ssr/src/utils/historique/mapToProps/délai/events/mapToDemandeDélaiCorrigéeTimelineItemProps.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/délai/mapToDélaiTimelineItemProps.ts
  packages/domain/projet/src/lauréat/délai/demande/corriger/corrigerDemandeDélai.command.ts
  packages/domain/projet/src/lauréat/délai/demande/corriger/corrigerDemandeDélai.event.ts
  packages/domain/projet/src/lauréat/délai/demande/corriger/corrigerDemandeDélai.options.ts
  packages/domain/projet/src/lauréat/délai/demande/corriger/corrigerDemandeDélai.usecase.ts
  packages/domain/projet/src/lauréat/délai/demande/demandeDélai.entity.ts
  packages/domain/projet/src/lauréat/délai/délai.aggregate.ts
  packages/domain/projet/src/lauréat/délai/délai.event.ts
  packages/domain/projet/src/lauréat/délai/délai.register.ts
  packages/domain/projet/src/lauréat/délai/index.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/projet/lauréat/délai/corrigerDemandeDélai.feature
  packages/specifications/src/projet/lauréat/délai/délai.world.ts
  packages/specifications/src/projet/lauréat/délai/fixtures/corrigerDélai.fixture.ts
  packages/specifications/src/projet/lauréat/délai/stepDefinitions/délai.then.ts
  packages/specifications/src/projet/lauréat/délai/stepDefinitions/délai.when.ts
Due: eslint --fix, prettier -w

🚚 Déplacer pages producteur
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/changement/StatutChangementProducteurBadge.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/changement/[date]/DétailsChangementProducteur.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/changement/[date]/DétailsProducteur.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/changement/[date]/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/changement/enregistrer/EnregistrerChangementProducteur.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/changement/enregistrer/EnregistrerChangementProducteur.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/changement/enregistrer/InfoBoxProducteur.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/changement/enregistrer/enregistrerChangementProducteur.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/changement/enregistrer/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/modifier/ModifierProducteur.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/modifier/ModifierProducteur.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/modifier/modifierProducteur.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/modifier/page.tsx
  packages/applications/ssr/src/app/laureats/changements/producteur/ChangementProducteurList.page.tsx
  packages/applications/ssr/src/app/laureats/changements/producteur/ChangementProducteurListItem.tsx
  packages/applications/ssr/src/app/laureats/changements/producteur/page.tsx
Due: eslint --fix

🚧 Branchement dans l'app
  packages/applications/ssr/src/utils/historique/mapToProps/délai/mapToDélaiTimelineItemProps.ts
Due: eslint --fix

🚚 Page stat publique
  packages/applications/ssr/src/app/statistiques-publiques/StatistiquesPubliques.page.tsx
  packages/applications/ssr/src/app/statistiques-publiques/page.tsx
Due: eslint --fix

🚚 Déplacer page tâche à réaliser
  packages/applications/ssr/src/app/taches/TâcheList.page.tsx
  packages/applications/ssr/src/app/taches/TâcheListItem.tsx
  packages/applications/ssr/src/app/taches/page.tsx
Due: eslint --fix

🎨 Meilleur objet pour email gfs rappel échéance (#3301)
  packages/applications/notifications/src/subscribers/lauréat/tâche-planifiée/garantiesFinancièresRappelÉchéance.notification.ts
Due: eslint --fix

🚚 Déplacer pages producteur (#3303)
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/changement/StatutChangementProducteurBadge.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/changement/[date]/DétailsChangementProducteur.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/changement/[date]/DétailsProducteur.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/changement/[date]/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/changement/enregistrer/EnregistrerChangementProducteur.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/changement/enregistrer/EnregistrerChangementProducteur.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/changement/enregistrer/InfoBoxProducteur.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/changement/enregistrer/enregistrerChangementProducteur.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/changement/enregistrer/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/modifier/ModifierProducteur.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/modifier/ModifierProducteur.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/modifier/modifierProducteur.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/modifier/page.tsx
  packages/applications/ssr/src/app/laureats/changements/producteur/ChangementProducteurList.page.tsx
  packages/applications/ssr/src/app/laureats/changements/producteur/ChangementProducteurListItem.tsx
  packages/applications/ssr/src/app/laureats/changements/producteur/page.tsx
Due: eslint --fix

🥅 Clarifier les erreurs dans l'API et harmoniser le type d'erreur
  packages/applications/ssr/src/app/reseaux/gestionnaires/[identifiant]/raccordements/mise-en-service-en-attente:exporter/route.ts
  packages/applications/ssr/src/utils/apiAction.ts
  packages/domain/projet/src/accès/accès.error.ts
  packages/domain/projet/src/lauréat/raccordement/errors.ts
  packages/domain/utilisateur/src/errors.ts
Due: eslint --fix

🚚 Page stat publique (#3304)
  packages/applications/ssr/src/app/statistiques-publiques/StatistiquesPubliques.page.tsx
  packages/applications/ssr/src/app/statistiques-publiques/page.tsx
Due: eslint --fix

🚚 Déplacer page tâche à réaliser (#3305)
  packages/applications/ssr/src/app/taches/TâcheList.page.tsx
  packages/applications/ssr/src/app/taches/TâcheListItem.tsx
  packages/applications/ssr/src/app/taches/page.tsx
Due: eslint --fix

🥅 Clarifier les erreurs dans l'API et harmoniser le type d'erreur (#3306)
  packages/applications/ssr/src/app/reseaux/gestionnaires/[identifiant]/raccordements/mise-en-service-en-attente:exporter/route.ts
  packages/applications/ssr/src/utils/apiAction.ts
  packages/domain/projet/src/accès/accès.error.ts
  packages/domain/projet/src/lauréat/raccordement/errors.ts
  packages/domain/utilisateur/src/errors.ts
Due: eslint --fix

🚚 Déplacer page historique lauréat (#3302)
  packages/applications/ssr/src/app/laureats/[identifiant]/historique/HistoriqueLauréat.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/historique/page.tsx
Due: eslint --fix

🚨 Correction des types après l'introduction du nouveau ValueType
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getDateAchèvementPrévisionnel.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/DétailsDemandeDélai.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/demander/DemanderDélai.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/demander/page.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/délai/mapToDélaiTimelineItemProps.ts
Due: eslint --fix

🚚 Déplacement des liste gf
  packages/applications/ssr/src/app/garanties-financieres/demandes-mainlevee-en-cours/ListItemDemandeMainlevée.tsx
  packages/applications/ssr/src/app/garanties-financieres/demandes-mainlevee-en-cours/ListeDemandeMainlevée.page.tsx
  packages/applications/ssr/src/app/garanties-financieres/demandes-mainlevee-en-cours/page.tsx
  packages/applications/ssr/src/app/garanties-financieres/depots-en-cours/ListItemDépôtEnCoursGarantiesFinancières.tsx
  packages/applications/ssr/src/app/garanties-financieres/depots-en-cours/ListerDépôtsEnCoursGarantiesFinancières.page.tsx
  packages/applications/ssr/src/app/garanties-financieres/depots-en-cours/page.tsx
  packages/applications/ssr/src/app/garanties-financieres/projets-en-attente/ListItemProjetAvecGarantiesFinancièresEnAttente.tsx
  packages/applications/ssr/src/app/garanties-financieres/projets-en-attente/ListerProjetsAvecGarantiesFinancièresEnAttente.page.tsx
  packages/applications/ssr/src/app/garanties-financieres/projets-en-attente/page.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
