Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml,feature}": "prettier -w"
}

correction DN
  packages/infrastructure/ds-api-client/src/_helpers/getters/getCoordonnées.test.ts
  packages/infrastructure/ds-api-client/src/_helpers/getters/getCoordonnées.ts
Due: eslint --fix

🐛 Fix type in RouteContext
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/mainlevee/modele-mise-en-demeure/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/mainlevee/modele-reponse-mainlevee/route.ts
Due: eslint --fix

migration after rebase
  package-lock.json
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite/enregistrer/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite/modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/depot/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/mainlevee/demander/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/mainlevee/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/demande/page.tsx
Due: eslint --fix, prettier -w

⬆️ Node version 24.14.0 in package.json + readd withAuth middleware
  package-lock.json
  package.json
  packages/applications/ssr/src/proxy.ts
Due: eslint --fix, prettier -w

fallback context
  packages/applications/ssr/src/utils/withUtilisateur.ts
Due: eslint --fix

Domain : cas nominal signaler PPA
  packages/applications/projectors/src/subscribers/lauréat/lauréat/PPASignalé.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/lauréat/index.ts
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/index.ts
  packages/domain/projet/src/lauréat/PPA/signaler/PPASignalé.event.ts
  packages/domain/projet/src/lauréat/PPA/signaler/signalerPPA.command.ts
  packages/domain/projet/src/lauréat/PPA/signaler/signalerPPA.option.ts
  packages/domain/projet/src/lauréat/PPA/signaler/signalerPPA.usecase.ts
  packages/domain/projet/src/lauréat/consulter/consulterLauréat.query.ts
  packages/domain/projet/src/lauréat/index.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
  packages/domain/projet/src/lauréat/lauréat.entity.ts
  packages/domain/projet/src/lauréat/lauréat.error.ts
  packages/domain/projet/src/lauréat/lauréat.event.ts
  packages/domain/projet/src/lauréat/lauréat.register.ts
  packages/specifications/src/projet/lauréat/PPA/signalerPPA.feature
  packages/specifications/src/projet/lauréat/PPA/stepDefinitions/PPA.then.ts
  packages/specifications/src/projet/lauréat/PPA/stepDefinitions/PPA.when.ts
Due: eslint --fix, prettier -w

Domain : cas limites
  packages/specifications/src/projet/lauréat/PPA/signalerPPA.feature
  packages/specifications/src/projet/lauréat/PPA/stepDefinitions/PPA.given.ts
  packages/specifications/src/projet/lauréat/PPA/stepDefinitions/PPA.when.ts
Due: eslint --fix, prettier -w

🎨 Remove heading in ProjectListItem
  packages/applications/ssr/src/app/go-to-user-dashboard/route.ts
  packages/applications/ssr/src/components/molecules/projet/liste/ProjectListItemHeading.tsx
Due: eslint --fix

Front : wip
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/historique/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(historique)/events/mapPPASignaléTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(historique)/mapToLauréatTimelineItemProps.ts
  packages/specifications/src/projet/lauréat/PPA/signalerPPA.feature
Due: eslint --fix, prettier -w

Review Violette
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/Raccordement.section.tsx
  packages/domain/projet/src/lauréat/raccordement/consulter/consulterRaccordement.query.ts
Due: eslint --fix

Exports
  packages/applications/ssr/src/app/laureats/export/route.ts
  packages/applications/ssr/src/app/reseaux/raccordements/exporter/route.ts
  packages/domain/projet/src/lauréat/lister/listerLauréatEnrichi.query.ts
  packages/domain/projet/src/lauréat/raccordement/lister/listerDossierRaccordement.query.ts
Due: eslint --fix

ça avance
  packages/applications/projectors/src/subscribers/lauréat/producteur/producteurImporté.projector.ts
  packages/applications/ssr/src/utils/candidature/dépôt.schema.ts
  packages/domain/projet/src/candidature/dépôt.valueType.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
  packages/domain/projet/src/lauréat/producteur/changement/enregistrerChangement/enregistrerChangement.command.ts
  packages/domain/projet/src/lauréat/producteur/changement/enregistrerChangement/enregistrerChangement.event.ts
  packages/domain/projet/src/lauréat/producteur/changement/enregistrerChangement/enregistrerChangement.option.ts
  packages/domain/projet/src/lauréat/producteur/changement/enregistrerChangement/enregistrerChangement.usecase.ts
  packages/domain/projet/src/lauréat/producteur/importer/importerProducteur.event.ts
  packages/domain/projet/src/lauréat/producteur/importer/importerProducteur.option.ts
  packages/domain/projet/src/lauréat/producteur/modifier/modifierProducteur.command.ts
  packages/domain/projet/src/lauréat/producteur/modifier/modifierProducteur.event.ts
  packages/domain/projet/src/lauréat/producteur/modifier/modifierProducteur.option.ts
  packages/domain/projet/src/lauréat/producteur/modifier/modifierProducteur.usecase.ts
  packages/domain/projet/src/lauréat/producteur/numéroImmatriculation.valueType.ts
  packages/domain/projet/src/lauréat/producteur/producteur.aggregate.ts
  packages/domain/projet/src/lauréat/producteur/producteur.entity.ts
  packages/infrastructure/ds-api-client/src/_helpers/getters/getNuméroImmatriculation.ts
  packages/infrastructure/ds-api-client/src/_helpers/getters/getTypeActionnariat.ts
  packages/infrastructure/ds-api-client/src/_helpers/mappers/mapApiResponseToDépôt.ts
  packages/specifications/src/candidature/fixtures/importerCandidature.fixture.ts
Due: eslint --fix

Front : formulaire signaler PPA
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getLauréatMenuItems.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/PPA/signaler/SignalerPPA.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/PPA/signaler/SignalerPPA.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/PPA/signaler/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/PPA/signaler/signalerPPA.action.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

quelques corrections pour avancer et todos
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/corrigerCandidature.action.ts
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/page.tsx
  packages/applications/ssr/src/app/candidatures/corriger-par-lot/CorrigerCandidaturesParLot.action.ts
  packages/applications/ssr/src/app/candidatures/importer/(csv)/importerCandidaturesParCSV.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/modifierLauréat.action.ts
  packages/applications/ssr/src/utils/candidature/dépôt.schema.ts
  packages/domain/projet/src/candidature/dépôt.valueType.ts
  packages/domain/projet/src/lauréat/producteur/numéroImmatriculation.valueType.ts
  packages/specifications/src/candidature/fixtures/importerCandidature.fixture.ts
Due: eslint --fix

🎨 Fixes
  package-lock.json
  packages/applications/ssr/next.config.ts
  packages/applications/ssr/package.json
  packages/applications/ssr/src/app/global.d.ts
  packages/applications/ssr/src/server.ts
  packages/applications/ssr/src/utils/withUtilisateur.ts
Due: eslint --fix, prettier -w

Ajout badge sur le projet
  packages/applications/ssr/src/app/candidatures/[identifiant]/layout.tsx
  packages/applications/ssr/src/app/garanties-financieres/projets-en-attente/ListItemProjetAvecGarantiesFinancièresEnAttente.tsx
  packages/applications/ssr/src/app/laureats/(liste)/LauréatListItem.tsx
  packages/applications/ssr/src/app/reseaux/raccordements/DossierRaccordementListItem.tsx
  packages/applications/ssr/src/components/molecules/projet/ProjetBanner.template.tsx
  packages/applications/ssr/src/components/molecules/projet/lauréat/PPABadge.tsx
  packages/applications/ssr/src/components/molecules/projet/lauréat/ProjetLauréatBanner.tsx
  packages/applications/ssr/src/components/molecules/projet/liste/ProjectListItem.tsx
  packages/applications/ssr/src/components/molecules/projet/liste/ProjectListItemHeading.tsx
  packages/applications/ssr/src/components/molecules/projet/éliminé/ProjetÉliminéBanner.tsx
  packages/domain/projet/src/lauréat/garanties-financières/en-attente/lister/listerProjetsAvecGarantiesFinancièresEnAttente.query.ts
  packages/domain/projet/src/lauréat/lister/listerLauréat.query.ts
Due: eslint --fix

fix: DN
  packages/infrastructure/ds-api-client/src/_helpers/getters/getNuméroImmatriculation.ts
  packages/infrastructure/ds-api-client/src/graphql/accessor.ts
Due: eslint --fix

Filtrer la liste des lauréats
  packages/applications/ssr/src/app/laureats/(liste)/page.tsx
  packages/domain/projet/src/lauréat/lister/listerLauréat.query.ts
Due: eslint --fix

import csv
  .demo/exempleCandidatsPPE2.csv
  .demo/exempleCandidatsPetitPV.csv
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.test.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsvFields.schema.ts
Due: eslint --fix

specs & csv
  packages/applications/ssr/src/app/candidatures/[identifiant]/DétailsCandidature.page.tsx
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.ts
  packages/specifications/src/candidature/fixtures/importerCandidature.fixture.ts
  packages/specifications/src/projet/lauréat/producteur/fixture/modifierProducteur.fixture.ts
Due: eslint --fix

lien map
  packages/applications/ssr/src/app/candidatures/[identifiant]/DétailsCandidature.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/informations-generales/(sections)/CandidatDétails.tsx
Due: eslint --fix

fichier démo
  .demo/exempleCandidatsPPE2.csv
Due: none

fix css
  packages/applications/ssr/src/app/layout.tsx
Due: eslint --fix

ajout checks validité valueType
  packages/domain/projet/src/candidature/coordonnées.valueType.ts
Due: eslint --fix

Import des coordonnées des projets
  coordonnées.sql
  docker-compose.yml
  metabase_coordonnees.sql
  packages/applications/cli/src/commands/lauréat/importer-coordonnees.ts
Due: eslint --fix, prettier -w

specs producteur modifier changement
  packages/applications/projectors/src/subscribers/lauréat/producteur/changementProducteurEnregistré.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/producteur/producteurModifié.projector.ts
  packages/domain/projet/src/lauréat/producteur/changement/changementProducteur.entity.ts
  packages/domain/projet/src/lauréat/producteur/consulter/consulterProducteur.query.ts
  packages/domain/projet/src/lauréat/producteur/numéroImmatriculation.valueType.ts
  packages/specifications/src/projet/lauréat/producteur/enregistrerChangementProducteur.feature
  packages/specifications/src/projet/lauréat/producteur/fixture/enregistrerChangementProducteur.fixture.ts
  packages/specifications/src/projet/lauréat/producteur/fixture/modifierProducteur.fixture.ts
  packages/specifications/src/projet/lauréat/producteur/producteur.world.ts
  packages/specifications/src/projet/lauréat/producteur/stepDefinitions/producteur.then.ts
  packages/specifications/src/projet/lauréat/producteur/stepDefinitions/producteur.when.ts
Due: eslint --fix, prettier -w

cleanup
  packages/applications/cli/src/commands/lauréat/importer-coordonnees.ts
Due: eslint --fix

⬆️ Upgrade react dsfr
  package-lock.json
  packages/applications/ssr/eslint.config.mjs
  packages/applications/ssr/package.json
Due: eslint --fix, prettier -w

fixes
  metabase_coordonnees.sql
  packages/applications/cli/src/commands/lauréat/importer-coordonnees.ts
Due: eslint --fix

log
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.then.ts
Due: eslint --fix

Simplification test
  packages/specifications/src/raccordement/dossierRaccordement/stepDefinitions/dossierRaccordement.then.ts
  packages/specifications/src/raccordement/désactiverRaccordement.feature
Due: eslint --fix, prettier -w

🐛 Fix url to get docx assets in generated folder
  packages/applications/document-builder/src/assets.ts
Due: eslint --fix

filtres
  packages/applications/routes/src/lauréat/lauréat.routes.ts
  packages/applications/routes/src/lauréat/raccordement.routes.ts
  packages/applications/ssr/src/app/export/page.tsx
  packages/applications/ssr/src/app/laureats/(liste)/page.tsx
  packages/applications/ssr/src/app/laureats/changements/abandon/page.tsx
  packages/applications/ssr/src/app/laureats/export/route.ts
  packages/applications/ssr/src/app/reseaux/raccordements/exporter/route.ts
  packages/applications/ssr/src/app/reseaux/raccordements/page.tsx
  packages/domain/projet/src/lauréat/abandon/demande/lister/listerDemandesAbandon.query.ts
  packages/domain/projet/src/lauréat/lister/listerLauréatEnrichi.query.ts
  packages/domain/projet/src/lauréat/raccordement/lister/listerDossierRaccordement.query.ts
Due: eslint --fix

⬆️ Update subdependencies after npm audit fix
  package-lock.json
Due: eslint --fix, prettier -w

🔧 Add maxBodySize in next configuration
  packages/applications/ssr/next.config.ts
Due: eslint --fix

couleur checklist
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/mainlevee/demander/ChecklistMainlevée.tsx
Due: eslint --fix

typo période
  packages/domain/inmemory-referential/src/appelOffre/PPE2/zni.ppe2.ts
Due: eslint --fix

alignement taille download page projet
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/_sections/ÉtapesProjet.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/AchèvementDétails.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/ÉtapesProjet.tsx
Due: eslint --fix

button utilisateurs
  packages/applications/ssr/src/app/utilisateurs/(liste)/UtilisateurListItem.tsx
Due: eslint --fix
