Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

🎨 Utilisation de la route détailsPourRedirection pour un retour d'action RL
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/accorder/accorderChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/annuler/annulerChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/rejeter/rejeterChangementReprésentantLégal.action.ts
Due: eslint --fix

🎨 Utilisation de la route détailsPourRedirection pour un retour d'action puissance
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/accorder/accorderChangementPuissance.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/annuler/annulerChangementPuissance.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/rejeter/rejeterChangementPuissance.action.ts
Due: eslint --fix

🎨 Utilisation de la route détailsPourRedirection pour un retour d'action délai
  packages/applications/routes/src/lauréat/délai.routes.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/getLauréat.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/accorder/accorderDemandeDélai.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/annuler/annulerDemandeDélai.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/passer-en-instruction/passerEnInstructionDemandeDélai.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/rejeter/rejeterDemandeDélai.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/page.tsx
Due: eslint --fix

🐛 Ajout d'un helper server only pour gérer les feature flag côté SSR (#4218)
  package-lock.json
  packages/applications/request-context/src/request-context.ts
  packages/applications/request-context/src/runWithContext.ts
  packages/applications/ssr/src/app/_helpers/getFeatureFlag.ts
  packages/applications/ssr/src/app/export/page.tsx
  packages/applications/ssr/src/app/laureats/(liste)/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getLauréatMenuItems.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/power-purchase-agreement/signaler/page.tsx
  packages/applications/ssr/src/app/laureats/changements/abandon/page.tsx
  packages/applications/ssr/src/app/layout.tsx
  packages/applications/ssr/src/app/reseaux/raccordements/page.tsx
  packages/applications/ssr/src/components/molecules/projet/lauréat/PPABadge.tsx
  packages/applications/ssr/src/components/molecules/projet/lauréat/ProjetLauréatBanner.tsx
  packages/applications/ssr/tsconfig.json
Due: eslint --fix, prettier -w

🎨 Utilisation de getSessionUser à la place de getContext?.utilisateur
  packages/applications/ssr/src/app/(homepage)/page.tsx
  packages/applications/ssr/src/app/auth/signIn/page.tsx
  packages/applications/ssr/src/app/auth/signUp/page.tsx
  packages/applications/ssr/src/app/auth/verifyRequest/page.tsx
  packages/applications/ssr/src/utils/withRateLimit.ts
  packages/applications/ssr/src/utils/withUtilisateur.ts
Due: eslint --fix

🎨 Suppression des redirections d'url depuis les actions + ajout de todo
  packages/applications/ssr/src/app/candidatures/[identifiant]/DétailsCandidature.page.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/[date]/accorder/accorderRecours.action.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/[date]/annuler/annulerRecours.action.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/[date]/passerEnInstruction/passerRecoursEnInstruction.action.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/[date]/rejeter/rejeterRecours.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/accorder/accorderAbandonAvecRecandidature.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/accorder/accorderAbandonSansRecandidature.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/annuler/annulerAbandon.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/confirmer/confirmerAbandon.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/demanderConfirmation/demanderConfirmationAbandon.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/passerEnInstruction/passerAbandonEnInstruction.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/rejeter/rejeterAbandon.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/transmettre-preuve-recandidature/transmettrePreuveRecandidature.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/accorder/accorderChangementActionnaire.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/annuler/annulerChangementActionnaire.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/rejeter/rejeterChangementActionnaire.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/accorder/accorderDemandeDélai.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/annuler/annulerDemandeDélai.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/passer-en-instruction/passerEnInstructionDemandeDélai.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/rejeter/rejeterDemandeDélai.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/accorder/accorderChangementPuissance.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/annuler/annulerChangementPuissance.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/rejeter/rejeterChangementPuissance.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/accorder/accorderChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/annuler/annulerChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/rejeter/rejeterChangementReprésentantLégal.action.ts
  packages/applications/ssr/src/components/organisms/accès/(inviter)/inviterPorteur.action.ts
  packages/applications/ssr/src/components/organisms/accès/retirerAccèsProjet.action.ts
Due: eslint --fix

🔧 Ajout d'une règle eslint custom pour empêcher les import getContext
  packages/applications/ssr/eslint.config.mjs
Due: none

🐛 Missing include in api-documentation cause bad tubro build order
  packages/applications/api-documentation/tsconfig.json
Due: eslint --fix, prettier -w

🎨 Utilisation de la route détailsPourRedirection pour un retour d'action actionnaire
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/accorder/accorderChangementActionnaire.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/annuler/annulerChangementActionnaire.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/rejeter/rejeterChangementActionnaire.action.ts
Due: eslint --fix

🎨 Retours review
  package-lock.json
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/getDemandesEnCours.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/getDélai.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/getLauréat.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/page.tsx
Due: eslint --fix, prettier -w

🎨 Permettre la propagation de successMessage même après la redirection sur le détail d'une demande
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/transmettre-preuve-recandidature/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/demande/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/demande/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/demande/page.tsx
  packages/applications/ssr/src/utils/redirectAvecSearchParams.ts
Due: eslint --fix

🔥 Code inutile
  packages/applications/api-documentation/tsconfig.json
Due: eslint --fix, prettier -w

🎨 Ajout de title manquant + uniformisation
  packages/applications/ssr/src/app/candidatures/corriger-par-lot/page.tsx
  packages/applications/ssr/src/app/candidatures/importer/page.tsx
  packages/applications/ssr/src/app/garanties-financieres/demandes-mainlevee-en-cours/page.tsx
  packages/applications/ssr/src/app/garanties-financieres/projets-en-attente/page.tsx
  packages/applications/ssr/src/app/laureats/changements/actionnaire/page.tsx
  packages/applications/ssr/src/app/laureats/changements/nom-projet/page.tsx
  packages/applications/ssr/src/app/periodes/page.tsx
  packages/applications/ssr/src/app/reseaux/gestionnaires/(liste)/page.tsx
  packages/applications/ssr/src/app/reseaux/raccordements/importer/page.tsx
  packages/applications/ssr/src/app/reseaux/raccordements/references:corriger/page.tsx
  packages/applications/ssr/src/app/utilisateurs/(liste)/page.tsx
Due: eslint --fix

Modif grd KO si pas de modif dans email est vide
  packages/applications/ssr/src/app/reseaux/gestionnaires/[identifiant]/(modifier)/ModifierGestionnaireRéseau.form.tsx
  packages/domain/réseau/src/gestionnaire/gestionnaireRéseau.aggregate.ts
Due: eslint --fix

Modif GRD sans email de contact KO si pas de changement dans le formulaire (#4229)
  packages/applications/ssr/src/app/reseaux/gestionnaires/[identifiant]/(modifier)/ModifierGestionnaireRéseau.form.tsx
  packages/domain/réseau/src/gestionnaire/gestionnaireRéseau.aggregate.ts
Due: eslint --fix

🎨 Ajout de title manquant + uniformisation (#4228)
  packages/applications/ssr/src/app/candidatures/corriger-par-lot/page.tsx
  packages/applications/ssr/src/app/candidatures/importer/page.tsx
  packages/applications/ssr/src/app/garanties-financieres/demandes-mainlevee-en-cours/page.tsx
  packages/applications/ssr/src/app/garanties-financieres/projets-en-attente/page.tsx
  packages/applications/ssr/src/app/laureats/changements/actionnaire/page.tsx
  packages/applications/ssr/src/app/laureats/changements/nom-projet/page.tsx
  packages/applications/ssr/src/app/periodes/page.tsx
  packages/applications/ssr/src/app/reseaux/gestionnaires/(liste)/page.tsx
  packages/applications/ssr/src/app/reseaux/raccordements/importer/page.tsx
  packages/applications/ssr/src/app/reseaux/raccordements/references:corriger/page.tsx
  packages/applications/ssr/src/app/utilisateurs/(liste)/page.tsx
Due: eslint --fix

✨ Création d'un package @potentiel-config/eslint-common
  eslint.config.mjs
  package-lock.json
  package.json
  packages/applications/ssr/eslint.config.mjs
  packages/applications/ssr/package.json
  packages/config/eslint/index.mjs
  packages/config/eslint/package.json
Due: eslint --fix, prettier -w

Ajout des coordonnées à NomEtLocalitéLauréatImportés-V1
  packages/applications/projectors/src/subscribers/lauréat/lauréat/nomEtLocalitéLauréatImportés.projector.ts
  packages/domain/projet/src/lauréat/notifier/lauréatNotifié.event.ts
Due: eslint --fix

fix export lauréat
  packages/domain/projet/src/lauréat/lister/listerLauréatEnrichi.query.ts
Due: eslint --fix

🐛 Fix export lauréat et Ajout des coordonnées à NomEtLocalitéLauréatImportés-V1 (#4232)
  packages/applications/projectors/src/subscribers/lauréat/lauréat/nomEtLocalitéLauréatImportés.projector.ts
  packages/domain/projet/src/lauréat/lister/listerLauréatEnrichi.query.ts
  packages/domain/projet/src/lauréat/notifier/lauréatNotifié.event.ts
Due: eslint --fix

🐛 Séparer l'insertion dans les pending du pg-notify (si l'un échoue l'autre n'était pas trigger) + afficher les erreurs dans les logs postgres (auj affiché nul part)
  .database/potentiel-dev.dump
  packages/infrastructure/pg-event-sourcing/sql/event-store/functions/notify-subscribers.sql
  packages/infrastructure/pg-event-sourcing/sql/event-store/functions/rebuild.sql
Due: none

🎨 Listen les erreurs pg
  .database/potentiel-dev.dump
  packages/infrastructure/pg-event-sourcing/sql/event-store/functions/notify-subscribers.sql
  packages/infrastructure/pg-event-sourcing/sql/event-store/functions/rebuild.sql
  packages/infrastructure/pg-event-sourcing/src/subscribe/eventStreamEmitter.ts
  packages/infrastructure/pg-event-sourcing/src/subscribe/subscribe.ts
Due: eslint --fix

✨ Flaggé les events ayant un payload trop conséquent et aller les chercher en db côté eventStreamEmitter pour émettre l'event avec le bon payload
  .database/potentiel-dev.dump
  packages/infrastructure/pg-event-sourcing/sql/event-store/functions/notify-subscribers.sql
  packages/infrastructure/pg-event-sourcing/src/subscribe/acknowledgement/getEventByStreamIdAndVersion.ts
  packages/infrastructure/pg-event-sourcing/src/subscribe/eventStreamEmitter.ts
Due: eslint --fix

🐛 Afficher la reason dans les items d'historique
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/historique/HistoriqueLauréatTimelineItem.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/historique/page.tsx
  packages/applications/ssr/src/components/organisms/timeline/Timeline.tsx
Due: eslint --fix

🐛 Afficher la reason dans les items d'historique (#4238)
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/historique/HistoriqueLauréatTimelineItem.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/historique/page.tsx
  packages/applications/ssr/src/components/organisms/timeline/Timeline.tsx
Due: eslint --fix

✅ Fix flaky test modifier site de production
  packages/applications/notifications/src/subscribers/lauréat/lauréat/handlers/siteDeProductionModifié.handler.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
  packages/specifications/src/projet/lauréat/modifierSiteDeProduction.feature
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.given.ts
Due: eslint --fix, prettier -w

✅ Fix flaky test modifier site de production (#4240)
  packages/applications/notifications/src/subscribers/lauréat/lauréat/handlers/siteDeProductionModifié.handler.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
  packages/specifications/src/projet/lauréat/modifierSiteDeProduction.feature
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.given.ts
Due: eslint --fix, prettier -w

✨ Modifier le SIRET seulement
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/ModifierLauréat.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/modifier/ModifierProducteur.page.tsx
  packages/applications/ssr/src/utils/candidature/dépôt.schema.ts
  packages/domain/projet/src/lauréat/producteur/producteur.aggregate.ts
  packages/specifications/src/projet/lauréat/producteur/modifierProducteur.feature
  packages/specifications/src/projet/lauréat/producteur/stepDefinitions/producteur.when.ts
Due: eslint --fix, prettier -w

payload too large : add created_at, extract function
  packages/infrastructure/pg-event-sourcing/sql/event-store/functions/notify-subscribers.sql
  packages/infrastructure/pg-event-sourcing/src/subscribe/acknowledgement/getEventByStreamIdAndVersion.ts
  packages/infrastructure/pg-event-sourcing/src/subscribe/eventStreamEmitter.ts
  packages/infrastructure/pg-event-sourcing/src/subscribe/subscriber/getPayloadTooLarge.ts
Due: eslint --fix

dump
  .database/potentiel-dev.dump
Due: none

🎨 Harmoniser les urls des lien dans les mails
  packages/applications/notifications/src/helpers/getLauréat.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/handlers/actionnaireModifié.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/fournisseur/handlers/fournisseurModifié.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/installation/handlers/dispositifDeStockageModifiée.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/installation/handlers/installateurModifié.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/installation/handlers/typologieInstallationModifiée.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/lauréat/handlers/siteDeProductionModifié.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/nature-de-l-exploitation/handlers/natureDeLExploitationModifiée.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/producteur/handlers/producteurModifié.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/puissance/handlers/puissanceModifiée.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/handlers/représentantLégalModifié.handler.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
