Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml,feature}": "prettier -w"
}

🔧 Configuration eslint pour supprimer les imports inutilisés
  eslint.config.mjs
  package-lock.json
  package.json
Due: eslint --fix, prettier -w

🔧 Configuration eslint pour supprimer les imports inutilisés (#3709)
  eslint.config.mjs
  package-lock.json
  package.json
Due: eslint --fix, prettier -w

⬆️ Mise à jour React DSFR 1.29
  package-lock.json
  packages/applications/ssr/package.json
  packages/applications/ssr/src/app/Providers.tsx
  packages/applications/ssr/src/app/StartDsfr.tsx
  packages/applications/ssr/src/app/defaultColorScheme.ts
  packages/applications/ssr/src/app/layout.tsx
  packages/applications/ssr/src/dsfr-bootstrap/defaultColorScheme.ts
  packages/applications/ssr/src/dsfr-bootstrap/index.tsx
  packages/applications/ssr/src/dsfr-bootstrap/server-only-index.tsx
Due: eslint --fix, prettier -w

⏪️ Revert dependency change
  package-lock.json
  packages/applications/ssr/package.json
Due: eslint --fix, prettier -w

🎨 Lauréat layout
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/EtapesLauréat.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/ModifierLauréat.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/layout.tsx
Due: eslint --fix

🎨 Column template : remove banners
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/site-de-production/modifier/ModifierSiteDeProduction.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/(détails)/DétailsAbandon.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/demander/DemanderAbandon.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/DétailsActionnaire.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/cahier-des-charges/ChoisirCahierDesCharges.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/DétailsDemandeDélai.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/demander/DemanderDélai.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(dépôt)/depot:modifier/ModifierDépôtGarantiesFinancières.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(dépôt)/depot:soumettre/SoumettreDépôtGarantiesFinancières.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/DétailsPuissance.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(date-mise-en-service)/date-mise-en-service:transmettre/TransmettreDateMiseEnService.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(demande-complète-raccordement)/demande-complete-raccordement:modifier/ModifierDemandeComplèteRaccordement.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(proposition-technique-et-financière)/proposition-technique-et-financiere:modifier/ModifierPropositionTechniqueEtFinancière.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(proposition-technique-et-financière)/proposition-technique-et-financiere:transmettre/TransmettrePropositionTechniqueEtFinancière.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/reference:corriger/CorrigerRéférenceDossier.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/demande-complete-raccordement:transmettre/TransmettreDemandeComplèteRaccordement.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/ModifierGestionnaireRéseauDuRaccordement.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(gestionnaire-réseau)/gestionnaire:modifier/ModifierGestionnaireRéseauRaccordement.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/DétailsChangementReprésentantLégal.page.tsx
Due: eslint --fix

🎨 Remove PageTemplate
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/nom-projet/changement/[date]/DétailsChangementNomProjet.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/nom-projet/changement/enregistrer/EnregistrerChangementNomProjet.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:modifier/modifierAttestationConformité.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:transmettre/transmettreAttestationConformité.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/demander/DemanderChangementActionnaire.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/enregistrer/EnregistrerChangementActionnaire.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/modifier/ModifierActionnaire.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/corriger/CorrigerDemandeDélai.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/(mettre-à-jour)/MettreÀJourFournisseur.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/[date]/DétailsChangementFournisseur.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(actuelles)/actuelles:enregistrer-attestation/EnregistrerAttestationGarantiesFinancières.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(actuelles)/actuelles:enregistrer/EnregistrerGarantiesFinancières.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(actuelles)/actuelles:modifier/ModifierGarantiesFinancièresActuelles.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/DétailsGarantiesFinancières.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/historique/HistoriqueLauréat.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/dispositif-de-stockage/modifier/ModifierDispositifDeStockage.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/installateur/changement/[date]/DétailsChangementInstallateur.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/installateur/changement/enregistrer/EnregistrerChangementInstallateur.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/installateur/modifier/ModifierInstallateur.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/typologie-du-projet/modifier/ModifierTypologieInstallation.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/nature-de-l-exploitation/changement/[date]/DétailsChangementNatureDeLExploitation.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/nature-de-l-exploitation/changement/enregistrer/EnregistrerChangementNatureDeLExploitation.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/nature-de-l-exploitation/modifier/ModifierNatureDeLExploitation.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/changement/[date]/DétailsChangementProducteur.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/changement/enregistrer/EnregistrerChangementProducteur.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/modifier/ModifierProducteur.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/demander/DemanderChangementPuissance.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/modifier/ModifierPuissance.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/DétailsRaccordementDuProjet.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/corriger/CorrigerChangementReprésentantLégal.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/demander/DemanderChangementReprésentantLégal.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/enregistrer/EnregistrerChangementReprésentantLégal.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/modifier/ModifierReprésentantLégal.page.tsx
Due: eslint --fix

✨ Gestion cas particulier Recours accordé
  packages/applications/routes/src/éliminé/recours.routes.ts
  packages/applications/ssr/src/app/elimines/(liste)/[identifiant]/recours/(détails)/DétailsRecours.page.tsx
  packages/applications/ssr/src/app/elimines/(liste)/[identifiant]/recours/(détails)/accorder/accorderRecours.action.ts
  packages/applications/ssr/src/app/elimines/(liste)/[identifiant]/recours/(détails)/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/recours/page.tsx
  packages/applications/ssr/src/components/templates/ColumnPage.template.tsx
Due: eslint --fix

🎨 Fix path éliminé
  packages/applications/ssr/src/app/elimines/[identifiant]/(historique)/events/index.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/(historique)/events/mapToÉliminéNotifiéTimelineItemProps.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/(historique)/mapToÉliminéTimelineItemProps.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(détails)/DétailsRecours.page.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(détails)/accorder/AccorderRecours.form.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(détails)/accorder/accorderRecours.action.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(détails)/annuler/AnnulerRecours.form.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(détails)/annuler/annulerRecours.action.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(détails)/page.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(détails)/passerEnInstruction/PasserRecoursEnInstruction.form.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(détails)/passerEnInstruction/passerRecoursEnInstruction.action.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(détails)/rejeter/RejeterRecours.form.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(détails)/rejeter/rejeterRecours.action.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(historique)/events/index.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(historique)/events/mapToRecoursAccordéTimelineItemProps.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(historique)/events/mapToRecoursAnnuléTimelineItemProps.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(historique)/events/mapToRecoursDemandéTimelineItemProps.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(historique)/events/mapToRecoursPasséEnInstructionTimelineItemProps.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(historique)/events/mapToRecoursRejetéTimelineItemProps.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(historique)/mapToRecoursTimelineItemProps.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/demander/DemanderRecours.form.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/demander/DemanderRecours.page.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/demander/demanderRecours.action.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/demander/page.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/modele-reponse/route.ts
Due: eslint --fix

🎨 Routes éliminé
  packages/applications/ssr/src/app/elimines/[identifiant]/layout.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(détails)/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/getLauréat.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/(détails)/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/recours/page.tsx
  packages/applications/ssr/src/app/projets/[identifiant]/(détails)/page.tsx
  packages/applications/ssr/src/app/projets/[identifiant]/layout.tsx
  packages/applications/ssr/src/components/molecules/projet/éliminé/ProjetÉliminéBanner.tsx
Due: eslint --fix

🎨 Autres pages
  packages/applications/ssr/src/app/candidatures/[identifiant]/DétailsCandidature.page.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/CorrigerCandidature.page.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/layout.tsx
  packages/applications/ssr/src/app/candidatures/corriger-par-lot/CorrigerCandidaturesParLot.page.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/demander/DemanderRecours.page.tsx
  packages/applications/ssr/src/app/projets/[identifiant]/(détails)/DétailsProjetÉliminé.page.tsx
  packages/applications/ssr/src/app/reseaux/raccordements/importer/ImporterDatesMiseEnService.page.tsx
  packages/applications/ssr/src/app/reseaux/raccordements/references:corriger/CorrigerRéférencesDossier.page.tsx
  packages/applications/ssr/src/app/utilisateurs/[identifiant]/role:modifier/ModifierRôleUtilisateur.page.tsx
  packages/applications/ssr/src/app/utilisateurs/inviter/InviterUtilisateur.page.tsx
Due: eslint --fix

🎨 Style
  packages/applications/ssr/src/app/utilisateurs/[identifiant]/role:modifier/ModifierRôleUtilisateur.form.tsx
  packages/applications/ssr/src/app/utilisateurs/[identifiant]/role:modifier/ModifierRôleUtilisateur.page.tsx
  packages/applications/ssr/src/app/utilisateurs/inviter/InviterUtilisateur.form.tsx
  packages/applications/ssr/src/app/utilisateurs/inviter/InviterUtilisateur.page.tsx
Due: eslint --fix

♻️ Accès
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/Contact/index.tsx
  packages/applications/routes/src/accès/accès.routes.ts
  packages/applications/ssr/src/app/[statut]/[identifiant]/acces/(inviter)/InviterPorteur.form.tsx
  packages/applications/ssr/src/app/[statut]/[identifiant]/acces/(inviter)/inviterPorteur.action.ts
  packages/applications/ssr/src/app/[statut]/[identifiant]/acces/AccèsList.page.tsx
  packages/applications/ssr/src/app/[statut]/[identifiant]/acces/AccèsListItem.tsx
  packages/applications/ssr/src/app/[statut]/[identifiant]/acces/page.tsx
  packages/applications/ssr/src/app/[statut]/[identifiant]/acces/retirerAccèsProjet.action.ts
  packages/applications/ssr/src/app/[statut]/[identifiant]/layout.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/(historique)/mapToÉliminéTimelineItemProps.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/historique/page.tsx
  packages/applications/ssr/src/app/projets/[identifiant]/(détails)/DétailsProjetÉliminé.page.tsx
Due: eslint --fix

♻️ Fix theme
  packages/applications/ssr/src/app/(homepage)/Bienvenue.tsx
  packages/applications/ssr/src/app/(homepage)/InscriptionConnexion.tsx
  packages/applications/ssr/src/app/(homepage)/PropositionDeValeur.tsx
  packages/applications/ssr/src/app/candidatures/corriger-par-lot/CorrigerCandidaturesParLot.page.tsx
  packages/applications/ssr/src/app/candidatures/importer/ImporterCandidatures.page.tsx
  packages/applications/ssr/src/app/global.css
  packages/applications/ssr/src/app/reseaux/gestionnaires/[identifiant]/(modifier)/ModifierGestionnaireRéseau.page.tsx
  packages/applications/ssr/src/app/reseaux/gestionnaires/ajouter/AjouterGestionnaireRéseau.page.tsx
  packages/applications/ssr/src/app/reseaux/raccordements/importer/ImporterDatesMiseEnService.page.tsx
  packages/applications/ssr/src/app/reseaux/raccordements/references:corriger/CorrigerRéférencesDossier.page.tsx
  packages/applications/ssr/src/app/utilisateurs/[identifiant]/role:modifier/ModifierRôleUtilisateur.page.tsx
  packages/applications/ssr/src/app/utilisateurs/inviter/InviterUtilisateur.page.tsx
  packages/applications/ssr/src/components/templates/ListPage.template.tsx
Due: eslint --fix

🎨 Fix nouvelle page
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/date-achevement:transmettre/TransmettreDateAchèvement.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/date-achevement:transmettre/page.tsx
Due: eslint --fix

🎨 Nom composant layout
  packages/applications/ssr/src/app/[statut]/[identifiant]/layout.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/layout.tsx
Due: eslint --fix

🔥 Supprimer composants test
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/EtapesLauréat.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/page.tsx
Due: eslint --fix

♻️ Route éliminé
  packages/applications/legacy/src/controllers/project/getProjectPage/index.ts
  packages/applications/routes/src/projet/projet.routes.ts
  packages/applications/routes/src/éliminé/éliminé.routes.ts
  packages/applications/ssr/src/app/[statut]/[identifiant]/layout.tsx
  packages/applications/ssr/src/app/elimines/(liste)/page.tsx
  packages/applications/ssr/src/app/elimines/(liste)/ÉliminéListItem.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/DétailsProjetÉliminé.page.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/page.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/_helpers/getÉliminé.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/layout.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(détails)/annuler/annulerRecours.action.ts
  packages/applications/ssr/src/app/projets/[identifiant]/layout.tsx
  packages/applications/ssr/src/app/projets/[identifiant]/page.tsx
  packages/applications/ssr/src/components/molecules/projet/éliminé/ProjetÉliminéBanner.tsx
Due: eslint --fix

♻️ Refacto recours
  packages/applications/routes/src/éliminé/recours.routes.ts
  packages/applications/ssr/src/app/[statut]/[identifiant]/layout.tsx
  packages/applications/ssr/src/app/_helpers/getÉliminé.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/layout.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(détails)/accorder/accorderRecours.action.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(détails)/annuler/annulerRecours.action.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(détails)/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/recours/page.tsx
  packages/applications/ssr/src/app/projets/[identifiant]/layout.tsx
  packages/applications/ssr/src/components/molecules/projet/éliminé/ProjetÉliminéBanner.tsx
Due: eslint --fix

♻️ Move accès
  packages/applications/ssr/src/app/[statut]/[identifiant]/layout.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/acces/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/acces/page.tsx
  packages/applications/ssr/src/components/organisms/accès/(inviter)/InviterPorteur.form.tsx
  packages/applications/ssr/src/components/organisms/accès/(inviter)/inviterPorteur.action.ts
  packages/applications/ssr/src/components/organisms/accès/AccèsList.page.tsx
  packages/applications/ssr/src/components/organisms/accès/AccèsListItem.tsx
  packages/applications/ssr/src/components/organisms/accès/retirerAccèsProjet.action.ts
Due: eslint --fix

✨ Gestion des urls + legacy + feature flag
  packages/applications/routes/src/lauréat/lauréat.routes.ts
  packages/applications/routes/src/projet/projet.routes.ts
  packages/applications/ssr/.env.template
  packages/applications/ssr/src/app/_helpers/getÉliminé.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/page.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/_helpers/getÉliminé.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/layout.tsx
  packages/applications/ssr/src/app/laureats/(liste)/LauréatListItem.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/page.tsx
  packages/applications/ssr/src/app/projets/[identifiant]/page.tsx
  packages/applications/ssr/src/components/molecules/projet/lauréat/ProjetLauréatBanner.tsx
Due: eslint --fix

🐛 Fix legacy
  packages/applications/legacy/.env.template
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/page.tsx
Due: eslint --fix

✅ Changement url
  packages/specifications/src/accès/réclamerProjet.feature
  packages/specifications/src/projet/lauréat/achèvement/calculerDateAchèvementPrévisionnel.feature
  packages/specifications/src/projet/lauréat/achèvement/transmettreAttestationConformité.feature
  packages/specifications/src/projet/lauréat/achèvement/transmettreDateAchèvement.feature
  packages/specifications/src/projet/lauréat/actionnaire/accorderChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/annulerChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/enregistrerChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/modifierActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/rejeterChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/choisirCahierDesCharges.feature
  packages/specifications/src/projet/lauréat/délai/accorderDemandeDélai.feature
  packages/specifications/src/projet/lauréat/délai/annulerDemandeDélai.feature
  packages/specifications/src/projet/lauréat/délai/rejeterDemandeDélai.feature
  packages/specifications/src/projet/lauréat/fournisseur/enregistrerChangementFournisseur.feature
  packages/specifications/src/projet/lauréat/fournisseur/modifierFournisseur.feature
  packages/specifications/src/projet/lauréat/fournisseur/modifierÉvaluationCarbone.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/en-attente/demanderGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/installation/modifierDispositifDeStockage.feature
  packages/specifications/src/projet/lauréat/installation/modifierInstallateur.feature
  packages/specifications/src/projet/lauréat/installation/modifierTypologieInstallation.feature
  packages/specifications/src/projet/lauréat/nature-de-l-exploitation/modifierNatureDeLExploitation.feature
  packages/specifications/src/projet/lauréat/nom-projet/enregistrerChangementNomProjet.feature
  packages/specifications/src/projet/lauréat/producteur/modifierProducteur.feature
  packages/specifications/src/projet/lauréat/puissance/changement/accorderChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/annulerChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/enregistrerChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/rejeterChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/modifierPuissance.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/accorderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/annulerChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/enregistrerChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/rejeterChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/modifierReprésentantLégal.feature
Due: prettier -w

⬆️ Mise à jour React DSFR 1.29 (#3719)
  package-lock.json
  packages/applications/ssr/package.json
  packages/applications/ssr/src/app/Providers.tsx
  packages/applications/ssr/src/app/StartDsfr.tsx
  packages/applications/ssr/src/app/defaultColorScheme.ts
  packages/applications/ssr/src/app/layout.tsx
  packages/applications/ssr/src/dsfr-bootstrap/defaultColorScheme.ts
  packages/applications/ssr/src/dsfr-bootstrap/index.tsx
  packages/applications/ssr/src/dsfr-bootstrap/server-only-index.tsx
Due: eslint --fix, prettier -w

🚨 Lint
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:modifier/modifierAttestationConformité.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:transmettre/transmettreAttestationConformité.page.tsx
Due: eslint --fix

⬆️ Lock
  package-lock.json
Due: eslint --fix, prettier -w

🎨 Flag and v1
  packages/applications/legacy/.env.template
  packages/applications/ssr/.env.template
  packages/applications/ssr/src/app/laureats/[identifiant]/poc/ContactLauréat.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/poc/EtatAvancement.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/poc/InformationsGénéralesLauréat.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/poc/InstallationLauréat.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/poc/LauréatDétails.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/poc/MatérielsEtTechnologie.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/poc/page.tsx
  packages/applications/ssr/src/components/molecules/projet/ProjetBanner.template.tsx
  packages/applications/ssr/src/components/templates/Column.templace.tsx
  packages/applications/ssr/src/components/templates/ColumnPage.template.tsx
  packages/applications/subscribers/.env.template
  packages/domain/appel-offre/src/lister/listerAppelOffre.query.ts
  packages/specifications/src/setup.ts
Due: eslint --fix

🎨 Plus de data
  packages/applications/ssr/src/app/laureats/[identifiant]/poc/EtatAvancement.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/poc/InformationsGénéralesLauréat.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/poc/LauréatDétails.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/poc/MatérielsEtTechnologieSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/poc/page.tsx
Due: eslint --fix

✨ Mise à jour des accès lors de la modification de l'email de candidature
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/ModifierLauréat.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/modifierLauréat.action.ts
Due: eslint --fix

✨ Remplacer accès projet
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/modifierLauréat.action.ts
  packages/domain/projet/src/accès/accès.aggregate.ts
  packages/domain/projet/src/accès/accès.register.ts
  packages/domain/projet/src/accès/index.ts
  packages/domain/projet/src/accès/remplacer/remplacerAccèsProjet.command.ts
  packages/domain/projet/src/accès/remplacer/remplacerAccèsProjet.options.ts
  packages/domain/projet/src/accès/remplacer/remplacerAccèsProjet.usecase.ts
  packages/specifications/src/accès/accès.world.ts
  packages/specifications/src/accès/fixtures/remplacer/remplacerAccèsProjet.fixture.ts
  packages/specifications/src/accès/remplacerAccèsProjet.feature
  packages/specifications/src/accès/stepDefinitions/accès.then.ts
  packages/specifications/src/accès/stepDefinitions/accès.when.ts
  packages/specifications/src/utilisateur/fixtures/inviter/inviterPorteur.fixture.ts
  packages/specifications/src/utilisateur/inviterPorteur.feature
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.when.ts
  packages/specifications/src/utilisateur/utilisateur.world.ts
Due: eslint --fix, prettier -w

♻️ Move to aggregate + saga Utilisateur
  packages/applications/bootstrap/src/setupUtilisateur.ts
  packages/applications/projectors/src/subscribers/accès/accèsProjetRemplacé.projector.ts
  packages/applications/projectors/src/subscribers/accès/index.ts
  packages/applications/ssr/src/app/reclamer/réclamerProjet.action.ts
  packages/applications/subscribers/src/setup/setupProjet/setupAccès.ts
  packages/domain/projet/src/accès/accès.aggregate.ts
  packages/domain/projet/src/accès/accès.event.ts
  packages/domain/projet/src/accès/index.ts
  packages/domain/projet/src/accès/remplacer/remplacerAccèsProjet.event.ts
  packages/domain/utilisateur/src/créer/créerPorteur.usecase.ts
  packages/domain/utilisateur/src/index.ts
  packages/domain/utilisateur/src/register.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/domain/utilisateur/src/saga/handlers/accèsProjetAutorisé.handler.ts
  packages/domain/utilisateur/src/saga/handlers/accèsProjetRemplacé.handler.ts
  packages/domain/utilisateur/src/saga/utilisateur.saga.ts
  packages/specifications/src/accès/remplacerAccèsProjet.feature
  packages/specifications/src/accès/stepDefinitions/accès.then.ts
  packages/specifications/src/accès/stepDefinitions/accès.when.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.given.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.then.ts
Due: eslint --fix, prettier -w

Update packages/specifications/src/utilisateur/inviterPorteur.feature
  packages/specifications/src/utilisateur/inviterPorteur.feature
Due: prettier -w

🎨 Remove typing hack
  packages/domain/utilisateur/src/saga/utilisateur.saga.ts
Due: eslint --fix

✏️ Typo
  packages/domain/utilisateur/src/saga/handlers/accèsProjetAutorisé.handler.ts
Due: eslint --fix

🎨 Rebase et leaf
  package-lock.json
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/ContactLauréat.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/EtatAvancement.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/InformationsGénéralesLauréat.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/InstallationLauréat.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/LauréatDétails.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/MatérielsEtTechnologieSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/poc/LauréatDétails.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/poc/page.tsx
  packages/applications/ssr/src/components/molecules/projet/ProjetBanner.template.tsx
Due: eslint --fix, prettier -w

🎨 Idee organisation onglets
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/AdministratifSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/DocumentsSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/InformationsGénéralesSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/InstallationSection.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/LauréatDétails.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(components)/VueEnsembleSection.tsx
Due: eslint --fix

✨ Notifier les administrateurs en cas de nouveau DGEC Validateur
  packages/applications/notifications/src/helpers/index.ts
  packages/applications/notifications/src/helpers/listerAdminRecipients.ts
  packages/applications/notifications/src/subscribers/utilisateur/constant.ts
  packages/applications/notifications/src/subscribers/utilisateur/handlers/index.ts
  packages/applications/notifications/src/subscribers/utilisateur/handlers/rôleUtilisateurModifié.handler.ts
  packages/applications/notifications/src/subscribers/utilisateur/handlers/utilisateurInvité.handler.ts
  packages/applications/notifications/src/subscribers/utilisateur/utilisateur.notifications.ts
  packages/applications/subscribers/src/setup/setupUtilisateur.ts
  packages/specifications/src/notification/stepDefinitions/notification.then.ts
  packages/specifications/src/utilisateur/inviterUtilisateur.feature
  packages/specifications/src/utilisateur/modifierRôleUtilisateur.feature
Due: eslint --fix, prettier -w

✨ Notifier également DGEC Validateur
  packages/applications/notifications/src/helpers/index.ts
  packages/applications/notifications/src/helpers/listerAdminEtValidateursRecipients.ts
  packages/applications/notifications/src/subscribers/utilisateur/handlers/rôleUtilisateurModifié.handler.ts
  packages/applications/notifications/src/subscribers/utilisateur/handlers/utilisateurInvité.handler.ts
Due: eslint --fix
