Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml,feature}": "prettier -w"
}

remove useless rules
  packages/applications/cli/src/commands/gf/ajouter-tâche-attestation-constitution.ts
Due: eslint --fix

typo représentant légal
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/DétailsChangementReprésentantLégal.page.tsx
Due: eslint --fix

lint
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
Due: eslint --fix

🐛 typo représentant légal (#4636)
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/DétailsChangementReprésentantLégal.page.tsx
Due: eslint --fix

Ajout preview map
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/OpenStreetMapPreview.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/informations-generales/(sections)/CandidatDétails.tsx
  packages/applications/ssr/src/utils/csp.ts
Due: eslint --fix

Organisation page Info générales
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/informations-generales/(sections)/Candidat.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/informations-generales/(sections)/CandidatDétails.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/informations-generales/(sections)/SiteDeProduction.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/informations-generales/(sections)/SiteDeProductionDétail.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/informations-generales/InformationsGénérales.page.tsx
Due: eslint --fix

Review : zoom, espacement liens, naming component
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/MapPreview.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/informations-generales/(sections)/SiteDeProductionDétail.tsx
Due: eslint --fix

✨ Page projet : ajout map site de production (#4634)
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/MapPreview.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/informations-generales/(sections)/Candidat.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/informations-generales/(sections)/CandidatDétails.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/informations-generales/(sections)/SiteDeProduction.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/informations-generales/(sections)/SiteDeProductionDétail.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/informations-generales/InformationsGénérales.page.tsx
  packages/applications/ssr/src/utils/csp.ts
Due: eslint --fix

Depôt schema accepte des taux undefined pour tout type de nature d'exploitation
  packages/applications/ssr/src/utils/candidature/dépôt.schema.test.ts
  packages/applications/ssr/src/utils/candidature/dépôt.schema.ts
Due: eslint --fix

Agrégat : tolerance pour les AOs Simplifiés
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/natureDeLExploitation.aggregate.ts
  packages/specifications/src/projet/lauréat/nature-de-l-exploitation/enregistrerChangementNatureDeLExploitation.feature
  packages/specifications/src/projet/lauréat/nature-de-l-exploitation/modifierNatureDeLExploitation.feature
Due: eslint --fix, prettier -w

Ne pas importer les taux à zéro depuis DN
  packages/infrastructure/dn-api-client/src/_helpers/getters/getNatureDeLExploitation.ts
Due: eslint --fix

Evaluation carbone optionnelle
  packages/applications/document-builder/src/candidature/attestation/AttestationCandidatureOptions.ts
  packages/applications/document-builder/src/candidature/attestation/cre4/v0/makeCertificate.tsx
  packages/applications/document-builder/src/candidature/attestation/cre4/v1/makeCertificate.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v1/Laureat.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/Laureat.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/DétailsCandidature.page.tsx
  packages/applications/ssr/src/app/candidatures/importer/(demarche-simplifiée)/importerCandidaturesParDémarcheNumérique.action.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/[date]/modele-reponse/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/[date]/DétailsChangementFournisseur.tsx
  packages/applications/ssr/src/components/molecules/projet/ChiffresClésProjet.tsx
  packages/applications/ssr/src/components/molecules/projet/liste/ProjectListItem.tsx
  packages/applications/ssr/src/utils/candidature/dépôt.schema.test.ts
  packages/applications/ssr/src/utils/candidature/dépôt.schema.ts
  packages/domain/projet/src/candidature/candidature.entity.ts
  packages/domain/projet/src/candidature/dépôt.valueType.ts
  packages/domain/projet/src/candidature/importer/candidatureImportée.event.ts
  packages/domain/projet/src/lauréat/fournisseur/consulter/consulterFournisseur.query.ts
  packages/domain/projet/src/lauréat/fournisseur/fournisseur.aggregate.ts
  packages/domain/projet/src/lauréat/fournisseur/fournisseur.entity.ts
  packages/domain/projet/src/lauréat/fournisseur/importer/importerFournisseur.event.ts
  packages/domain/projet/src/lauréat/fournisseur/importer/importerFournisseur.option.ts
  packages/domain/projet/src/lauréat/fournisseur/noteÉvaluationCarbone.valueType.ts
Due: eslint --fix

Importer ECS undefined si égale à 0
  packages/infrastructure/dn-api-client/src/_helpers/mappers/mapApiResponseToDépôt.ts
Due: eslint --fix

Ne pas importer de refs de raccordement contenant des caractères interdits
  docs/contributing/DEMARCHE_NUMERIQUE.md
  packages/domain/inmemory-referential/src/appelOffre/PPE2/sol.ppe2.ts
  packages/infrastructure/dn-api-client/src/_helpers/getters/getRaccordements.ts
Due: eslint --fix

Ne pas importer les dates d'autorisation dans le futur
  packages/domain/inmemory-referential/src/appelOffre/PPE2/petitPVBâtiment.ppe2.ts
  packages/infrastructure/dn-api-client/src/_helpers/getters/getAutorisation.ts
Due: eslint --fix

✨ Creation tâche attestation constitution (#4631)
  packages/applications/cli/src/commands/gf/ajouter-tâche-attestation-constitution.ts
  packages/applications/ssr/src/app/taches/TâcheListItem.tsx
  packages/applications/ssr/src/components/molecules/ListFilters.tsx
  packages/applications/ssr/src/components/molecules/filters/useFilters.ts
  packages/domain/projet/src/lauréat/abandon/abandon.aggregate.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.aggregate.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/domain/projet/src/lauréat/tâche/typeTâche.valueType.ts
  packages/specifications/src/projet/lauréat/abandon/accorderAbandon.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/enregistrerAttestationGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/importerTypeGarantiesFinancièresActuelles.feature
  packages/specifications/src/tâche/tâche.world.ts
Due: eslint --fix, prettier -w

Fix affichage GF sans GF actuelles
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/garanties-financieres/page.tsx
Due: eslint --fix

Récup du fix sur main
  docker-compose.yml
Due: eslint --fix, prettier -w

💄 Suppression espace en trop
  packages/applications/notifications/src/templates/emails/lauréat/nom-projet/modifier.md
  packages/applications/notifications/src/templates/emails/lauréat/site-de-production/modifier.md
Due: eslint --fix

Fix affichage GF sans GF actuelles (#4643)
  docker-compose.yml
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/garanties-financieres/page.tsx
Due: eslint --fix, prettier -w

wip
  packages/domain/projet/src/lauréat/raccordement/document/modifier-type/modifierTypeDocumentRaccordement.command.ts
  packages/domain/projet/src/lauréat/raccordement/document/modifier-type/modifierTypeDocumentRaccordement.usecase.ts
  packages/domain/projet/src/lauréat/raccordement/index.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.event.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.register.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/documentRaccordement.world.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/fixtures/modifierTypeDocumentRaccordement.fixture.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/modifierLeTypeDuDocumentRaccordement.feature
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/stepDefinitions/documentRaccordement.when.ts
Due: eslint --fix, prettier -w

Page projet et historique
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/(sections)/AutorisationDétails.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/(sections)/NatureDeLExploitationDétails.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/raccordements/(historique)/events/dossier/dateMiseEnService/mapToDateMiseEnServiceModifiéeTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/raccordements/(historique)/events/dossier/dateMiseEnService/mapToDateMiseEnServiceTransmiseTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/raccordements/(historique)/events/dossier/demande-complète-de-raccordement/mapToDemandeComplèteDeRaccordementTransmiseTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/raccordements/(historique)/events/dossier/demande-complète-de-raccordement/mapToDemandeComplèteRaccordementModifiéeTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/(historique)/events/mapToDispositifDeStockageEnregistréTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/dispositif-de-stockage/DétailsDispositifDeStockage.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/nature-de-l-exploitation/(historique)/events/mapToNatureDeLExploitationModifiéeTimelineItemsProps.tsx
  packages/applications/ssr/src/components/organisms/timeline/TimelineItemBase.tsx
Due: eslint --fix

Demandes
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/DétailsDemandeDélai.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/nature-de-l-exploitation/changement/[date]/DétailsChangementNatureDeLExploitation.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/changement/[date]/DétailsChangementProducteur.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/DétailsChangementPuissance.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/DétailsChangementReprésentantLégal.tsx
  packages/applications/ssr/src/components/organisms/demande/DétailsChangement.tsx
Due: eslint --fix

evenement introduit, test ok
  packages/applications/projectors/src/subscribers/lauréat/raccordement/dossier-raccordement/documentsRaccordement/typeDocumentRaccordementModifié.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/raccordement/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/raccordements/(historique)/events/dossier/document/mapToTypeDocumentModifiéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/raccordements/(historique)/mapToRaccordementTimelineItemProps.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/_helpers/getAction.ts
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupRaccordement.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/documentRaccordement.world.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/fixtures/modifierTypeDocumentRaccordement.fixture.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/modifierLeTypeDuDocumentRaccordement.feature
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/stepDefinitions/documentRaccordement.then.ts
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/stepDefinitions/documentRaccordement.when.ts
Due: eslint --fix, prettier -w

MAJ script
  packages/applications/cli/src/commands/raccordement/rattraper-historique-document.ts
Due: eslint --fix

register
  packages/applications/cli/src/commands/raccordement/rattraper-historique-document.ts
Due: eslint --fix

fix invitation porteur
  erreurs_migration.json
  packages/applications/cli/src/commands/files/backup.ts
  packages/applications/ssr/src/components/organisms/accès/(inviter)/inviterPorteur.action.ts
Due: eslint --fix, prettier -w

remove
  erreurs_migration.json
  packages/applications/cli/src/commands/files/backup.ts
Due: eslint --fix, prettier -w

better
  packages/applications/cli/src/commands/files/backup.ts
  packages/applications/ssr/src/components/organisms/accès/(inviter)/inviterPorteur.action.ts
Due: eslint --fix

better
  packages/applications/ssr/src/components/organisms/accès/(inviter)/inviterPorteur.action.ts
Due: eslint --fix

⬆️ Mise à jour de github-tag-action v7, passage à Node 24
  .github/workflows/release.yml
Due: eslint --fix, prettier -w

💄 Suppression espace en trop (#4644)
  packages/applications/notifications/src/templates/emails/lauréat/nom-projet/modifier.md
  packages/applications/notifications/src/templates/emails/lauréat/site-de-production/modifier.md
Due: eslint --fix

Corriger candidature form : note requise seulement si existante à la candidature initiale
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/CorrigerCandidature.form.tsx
Due: eslint --fix

⬆️ Mise à jour de github-tag-action v7, passage à Node 24 (#4637)
  .github/workflows/release.yml
Due: eslint --fix, prettier -w

ECS à la candidature requis seulement si valeur déjà complétée initialement
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/CorrigerCandidature.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/ModifierLauréat.form.tsx
Due: eslint --fix

divers autres retours Violette
  packages/applications/document-builder/src/candidature/attestation/cre4/v0/makeCertificate.tsx
  packages/infrastructure/dn-api-client/src/_helpers/mappers/mapApiResponseToDépôt.ts
Due: eslint --fix

console
  packages/applications/cli/src/commands/raccordement/rattraper-historique-document.ts
Due: eslint --fix

select
  packages/specifications/src/projet/lauréat/raccordement/documentsRaccordement/modifierLeTypeDuDocumentRaccordement.feature
Due: prettier -w

[DN] ECS ne peut pas être égale à zéro mais peut être inconnue (#4640)
  packages/applications/document-builder/src/candidature/attestation/AttestationCandidatureOptions.ts
  packages/applications/document-builder/src/candidature/attestation/cre4/v0/makeCertificate.tsx
  packages/applications/document-builder/src/candidature/attestation/cre4/v1/makeCertificate.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v1/Laureat.tsx
  packages/applications/document-builder/src/candidature/attestation/ppe2/v2/Laureat.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/DétailsCandidature.page.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/CorrigerCandidature.form.tsx
  packages/applications/ssr/src/app/candidatures/importer/(demarche-simplifiée)/importerCandidaturesParDémarcheNumérique.action.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/[date]/modele-reponse/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/ModifierLauréat.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/[date]/DétailsChangementFournisseur.tsx
  packages/applications/ssr/src/components/molecules/projet/ChiffresClésProjet.tsx
  packages/applications/ssr/src/components/molecules/projet/liste/ProjectListItem.tsx
  packages/applications/ssr/src/utils/candidature/dépôt.schema.test.ts
  packages/applications/ssr/src/utils/candidature/dépôt.schema.ts
  packages/domain/projet/src/candidature/candidature.entity.ts
  packages/domain/projet/src/candidature/dépôt.valueType.ts
  packages/domain/projet/src/candidature/importer/candidatureImportée.event.ts
  packages/domain/projet/src/lauréat/fournisseur/consulter/consulterFournisseur.query.ts
  packages/domain/projet/src/lauréat/fournisseur/fournisseur.aggregate.ts
  packages/domain/projet/src/lauréat/fournisseur/fournisseur.entity.ts
  packages/domain/projet/src/lauréat/fournisseur/importer/importerFournisseur.event.ts
  packages/domain/projet/src/lauréat/fournisseur/importer/importerFournisseur.option.ts
  packages/domain/projet/src/lauréat/fournisseur/noteÉvaluationCarbone.valueType.ts
  packages/infrastructure/dn-api-client/src/_helpers/mappers/mapApiResponseToDépôt.ts
Due: eslint --fix

Hack temporaire : forcer date du jour à aujourd'hui
  packages/domain/inmemory-referential/src/appelOffre/PPE2/petitPVBâtiment.ppe2.ts
  packages/infrastructure/dn-api-client/src/_helpers/getters/getAutorisation.ts
Due: eslint --fix
