Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml,feature}": "prettier -w"
}

typo type de société modification RL
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/_helpers/steps/Validation.step.tsx
Due: eslint --fix

🐛 Mise à jour des userInfo au signin (#4058)
  packages/applications/ssr/src/auth/index.ts
Due: eslint --fix

fix: incohérence de state
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/_helpers/steps/SaisieType.step.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/_helpers/steps/Validation.step.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/modifier/ModifierReprésentantLégal.form.tsx
Due: eslint --fix

♻️ Migration templates Utilisateur
  packages/applications/notifications/src/subscribers/utilisateur/constant.ts
  packages/applications/notifications/src/subscribers/utilisateur/handlers/porteurInvité.handler.ts
  packages/applications/notifications/src/subscribers/utilisateur/handlers/rôleUtilisateurModifié.handler.ts
  packages/applications/notifications/src/subscribers/utilisateur/handlers/utilisateurInvité.handler.ts
  packages/applications/notifications/src/subscribers/utilisateur/utilisateur.notifications.ts
  packages/applications/notifications/src/templates/emails/utilisateur/informer_dgec_validateur_invité.md
  packages/applications/notifications/src/templates/emails/utilisateur/inviter_dreal.md
  packages/applications/notifications/src/templates/emails/utilisateur/inviter_partenaire.md
  packages/applications/notifications/src/templates/emails/utilisateur/inviter_porteur.md
  packages/applications/subscribers/src/setup/index.ts
  packages/applications/subscribers/src/setup/setupUtilisateur.ts
  packages/specifications/src/utilisateur/inviterPorteur.feature
  packages/specifications/src/utilisateur/inviterUtilisateur.feature
Due: eslint --fix, prettier -w

🎨 Linebreak
  packages/applications/notifications/src/templates/emails/utilisateur/inviter_porteur.md
Due: eslint --fix

🐛 Typo type de société formulaire modification RL (#4059)
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/_helpers/steps/SaisieType.step.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/_helpers/steps/Validation.step.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/modifier/ModifierReprésentantLégal.form.tsx
Due: eslint --fix

♻️ Migration templates Utilisateur (#4060)
  packages/applications/notifications/src/subscribers/utilisateur/constant.ts
  packages/applications/notifications/src/subscribers/utilisateur/handlers/porteurInvité.handler.ts
  packages/applications/notifications/src/subscribers/utilisateur/handlers/rôleUtilisateurModifié.handler.ts
  packages/applications/notifications/src/subscribers/utilisateur/handlers/utilisateurInvité.handler.ts
  packages/applications/notifications/src/subscribers/utilisateur/utilisateur.notifications.ts
  packages/applications/notifications/src/templates/emails/utilisateur/informer_dgec_validateur_invité.md
  packages/applications/notifications/src/templates/emails/utilisateur/inviter_dreal.md
  packages/applications/notifications/src/templates/emails/utilisateur/inviter_partenaire.md
  packages/applications/notifications/src/templates/emails/utilisateur/inviter_porteur.md
  packages/applications/subscribers/src/setup/index.ts
  packages/applications/subscribers/src/setup/setupUtilisateur.ts
  packages/specifications/src/utilisateur/inviterPorteur.feature
  packages/specifications/src/utilisateur/inviterUtilisateur.feature
Due: eslint --fix, prettier -w

🎨 Update dump
  .database/potentiel-dev.dump
Due: none

🚧 Wip
  packages/applications/cli/src/commands/datagouv/update-ressources.ts
  packages/statistiques/statistiques-publiques/sql/indicateursProjetsStatistic.sql
  packages/statistiques/statistiques-publiques/src/01-ensemble-des-projets/index.ts
  packages/statistiques/statistiques-publiques/src/01-ensemble-des-projets/indicateursProjetsAgrégés.statistic.ts
Due: eslint --fix

🎨 Mise à jour de la ressource existante
  packages/applications/cli/src/commands/datagouv/update-ressources.ts
Due: eslint --fix

🎨 Simplification
  packages/applications/cli/src/commands/datagouv/update-ressources.ts
Due: eslint --fix

🎨 Ajout tâche récurrente
  cron.json
  packages/applications/cli/src/commands/datagouv/update-ressource.ts
Due: eslint --fix, prettier -w

🎨 Var env
  packages/applications/ssr/.env.template
  packages/applications/subscribers/.env.template
Due: none

🎨 Fix query + update dump
  .database/potentiel-dev.dump
  packages/statistiques/statistiques-publiques/src/01-ensemble-des-projets/indicateursProjetsAgrégés.statistic.ts
Due: eslint --fix

🐛 Impossible de transmettre une date de MES si elle est déjà transmise
  packages/domain/projet/src/lauréat/raccordement/errors.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/specifications/src/raccordement/dateDeMiseEnService/modifierDateMiseEnService.feature
  packages/specifications/src/raccordement/dateDeMiseEnService/transmettreDateMiseEnService.feature
Due: eslint --fix, prettier -w

💚 Permettre la configuration du timeout de waitForExpect
  .github/workflows/shared-workflow.yml
  packages/specifications/src/setup.ts
Due: eslint --fix, prettier -w

💚 Permettre la configuration du timeout de waitForExpect (#4065)
  .github/workflows/shared-workflow.yml
  packages/specifications/src/setup.ts
Due: eslint --fix, prettier -w

💬 Wording
  packages/domain/projet/src/lauréat/raccordement/errors.ts
  packages/specifications/src/raccordement/dateDeMiseEnService/transmettreDateMiseEnService.feature
Due: eslint --fix, prettier -w

🐛 Impossible de transmettre une date de MES si elle est déjà transmise (#4064)
  packages/domain/projet/src/lauréat/raccordement/errors.ts
  packages/domain/projet/src/lauréat/raccordement/raccordement.aggregate.ts
  packages/specifications/src/raccordement/dateDeMiseEnService/modifierDateMiseEnService.feature
  packages/specifications/src/raccordement/dateDeMiseEnService/transmettreDateMiseEnService.feature
Due: eslint --fix, prettier -w

migration templates éliminés
  packages/applications/notifications/src/subscribers/éliminé/éliminé/constant.ts
  packages/applications/notifications/src/subscribers/éliminé/éliminé/handlers/éliminéNotifié.handler.ts
  packages/applications/notifications/src/subscribers/éliminé/éliminé/type.ts
  packages/applications/notifications/src/subscribers/éliminé/éliminé/éliminé.notifications.ts
  packages/applications/notifications/src/templates/emails/projet/notifier.md
  packages/specifications/src/période/stepDefinitions/période.then.ts
Due: eslint --fix

test @ et dreal
  packages/specifications/src/projet/lauréat/choisirCahierDesCharges.feature
  packages/specifications/src/projet/lauréat/modifierSiteDeProduction.feature
  packages/specifications/src/projet/lauréat/nom-projet/enregistrerChangementNomProjet.feature
  packages/specifications/src/projet/lauréat/nom-projet/modifierNomProjet.feature
Due: prettier -w

migration templates lauréat, tests, setup, oubli site de prod
  packages/applications/notifications/src/subscribers/lauréat/lauréat/constant.ts
  packages/applications/notifications/src/subscribers/lauréat/lauréat/handlers/cahierDesChargesChoisi.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/lauréat/handlers/index.ts
  packages/applications/notifications/src/subscribers/lauréat/lauréat/handlers/lauréatNotifié.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/lauréat/handlers/nomProjetModifié.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/lauréat/handlers/siteDeProductionModifié.handler.ts
  packages/applications/notifications/src/subscribers/lauréat/lauréat/lauréat.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/lauréat/type.ts
  packages/applications/notifications/src/templates/emails/accès/accès_autorisé_dreal.md
  packages/applications/notifications/src/templates/emails/accès/accès_autorisé_porteur.md
  packages/applications/notifications/src/templates/emails/lauréat/achèvement/rappel_échéance_dreal.md
  packages/applications/notifications/src/templates/emails/lauréat/achèvement/rappel_échéance_porteur.md
  packages/applications/notifications/src/templates/emails/lauréat/achèvement/transmettre_attestation_dreal.md
  packages/applications/notifications/src/templates/emails/lauréat/achèvement/transmettre_attestation_porteur.md
  packages/applications/notifications/src/templates/emails/lauréat/achèvement/transmettre_date.md
  packages/applications/notifications/src/templates/emails/lauréat/cahier-des-charges/choisir_initial.md
  packages/applications/notifications/src/templates/emails/lauréat/cahier-des-charges/choisir_modifié.md
  packages/applications/notifications/src/templates/emails/lauréat/fournisseur/enregistrer_changement.md
  packages/applications/notifications/src/templates/emails/lauréat/fournisseur/modifier.md
  packages/applications/notifications/src/templates/emails/lauréat/fournisseur/modifier_évaluation_carbone.md
  packages/applications/notifications/src/templates/emails/lauréat/garanties-financières/rappel_gf_en_attente_dreal.md
  packages/applications/notifications/src/templates/emails/lauréat/garanties-financières/rappel_gf_échéance_dreal.md
  packages/applications/notifications/src/templates/emails/lauréat/nom-projet/enregistrer_changement.md
  packages/applications/notifications/src/templates/emails/lauréat/nom-projet/modifier.md
  packages/applications/notifications/src/templates/emails/lauréat/raccordement/rappel_tranmission_dcr.md
  packages/applications/notifications/src/templates/emails/lauréat/site-de-production/modifier.md
  packages/applications/notifications/src/templates/emails/projet/notifier.md
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/index.ts
  packages/applications/subscribers/src/setup/setupProjet/setupÉliminé/index.ts
  packages/specifications/src/projet/lauréat/choisirCahierDesCharges.feature
  packages/specifications/src/projet/lauréat/modifierSiteDeProduction.feature
  packages/specifications/src/projet/lauréat/nom-projet/enregistrerChangementNomProjet.feature
  packages/specifications/src/projet/lauréat/nom-projet/modifierNomProjet.feature
Due: eslint --fix, prettier -w

date
  packages/applications/notifications/src/subscribers/lauréat/lauréat/handlers/cahierDesChargesChoisi.handler.ts
Due: eslint --fix

variables
  packages/specifications/src/projet/lauréat/choisirCahierDesCharges.feature
Due: prettier -w

période, candidature, suppression mailjet deps
  package-lock.json
  packages/applications/cli/package.json
  packages/applications/cli/src/commands/raccordement/notifier-gestionnaires-réseau.ts
  packages/applications/notifications/scripts/fetch-templates.ts
  packages/applications/notifications/src/helpers/NotificationHandlerProps.type.ts
  packages/applications/notifications/src/helpers/index.ts
  packages/applications/notifications/src/index.ts
  packages/applications/notifications/src/sendEmail.ts
  packages/applications/notifications/src/subscribers/lauréat/actionnaire/actionnaire.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/puissance/puissance.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/représentantLégal.notifications.ts
  packages/applications/notifications/src/subscribers/lauréat/tâche-planifiée/raccordement/handlers/demandeComplèteRaccordementAttendueRelance.handler.ts
  packages/applications/notifications/src/subscribers/période/constant.ts
  packages/applications/notifications/src/subscribers/période/handlers/périodeNotifiée.handler.ts
  packages/applications/notifications/src/subscribers/période/période.notifications.ts
  packages/applications/notifications/src/subscribers/utilisateur/utilisateur.notifications.ts
  packages/applications/notifications/src/templates/emails/lauréat/raccordement/dossiers_en_attente.md
  packages/applications/notifications/src/templates/emails/lauréat/raccordement/rappel_transmission_dcr.md
  packages/applications/notifications/src/templates/emails/projet/notifier.md
  packages/applications/notifications/src/templates/emails/période/notifier.md
  packages/applications/ssr/.env.template
  packages/applications/subscribers/.env.template
  packages/applications/subscribers/src/setup/index.ts
  packages/applications/subscribers/src/setup/setupProjet/setup.ts
  packages/applications/subscribers/src/setup/setupPériode.ts
  packages/applications/subscribers/src/startSubscribers.ts
  packages/infrastructure/email/src/getMailjetClient.ts
  packages/infrastructure/email/src/index.ts
  packages/infrastructure/email/src/sendEmail.ts
  packages/specifications/src/_mocks/mockEmailAdapter.ts
  packages/specifications/src/notification/notification.world.ts
  packages/specifications/src/notification/stepDefinitions/notification.then.ts
  packages/specifications/src/setup.ts
Due: eslint --fix, prettier -w

setup et candidature
  packages/applications/notifications/src/subscribers/candidature/candidature.notifications.ts
  packages/applications/notifications/src/subscribers/candidature/constant.ts
  packages/applications/notifications/src/subscribers/candidature/handlers/candidatureCorrigée.handler.ts
  packages/applications/notifications/src/templates/emails/candidature/régénérer_attestation.md
  packages/applications/subscribers/src/setup/setupProjet/index.ts
  packages/applications/subscribers/src/setup/setupProjet/setup.ts
  packages/applications/subscribers/src/setup/setupProjet/setupAccès.ts
  packages/applications/subscribers/src/setup/setupProjet/setupCandidature.ts
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/index.ts
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupAbandon.ts
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupAchèvement.ts
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupActionnaire.ts
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupDélai.ts
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupFournisseur.ts
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupInstallation.ts
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupNatureDeLExploitation.ts
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupProducteur.ts
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupPuissance.ts
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupReprésentantLégal.ts
  packages/applications/subscribers/src/setup/setupProjet/setupÉliminé/index.ts
  packages/applications/subscribers/src/setup/setupProjet/setupÉliminé/setupRecours.ts
  packages/specifications/src/candidature/corrigerCandidature.feature
Due: eslint --fix, prettier -w

oubli cas du recours
  packages/applications/notifications/src/subscribers/lauréat/lauréat/handlers/lauréatNotifié.handler.ts
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
Due: eslint --fix, prettier -w

correctif candidature
  packages/specifications/src/accès/réclamerProjet.feature
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/candidature/stepDefinitions/candidature.then.ts
Due: eslint --fix, prettier -w

retours tiph
  packages/applications/notifications/src/templates/emails/projet/notifier.md
Due: eslint --fix

fix: notifier projet
  packages/applications/notifications/src/templates/emails/projet/notifier.md
  packages/specifications/src/période/stepDefinitions/période.then.ts
Due: eslint --fix

nouveau template
  packages/applications/notifications/src/subscribers/lauréat/lauréat/handlers/lauréatNotifié.handler.ts
  packages/applications/notifications/src/subscribers/éliminé/éliminé/handlers/éliminéNotifié.handler.ts
  packages/applications/notifications/src/templates/emails/projet/notifier.md
  packages/applications/notifications/src/templates/emails/période/notifier.md
  packages/specifications/src/période/stepDefinitions/période.then.ts
Due: eslint --fix

correction test attestation
  packages/specifications/src/accès/réclamerProjet.feature
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
Due: prettier -w

suppression lib
  docs/contributing/diagrams/périmètre-technique-SI.drawio.svg
  package-lock.json
  packages/infrastructure/email/package.json
Due: eslint --fix, prettier -w

clean
  packages/specifications/src/candidature/corrigerCandidature.feature
Due: prettier -w

🚧 WIP Seed de données
  .database/initdb/init.sh
  .database/permissions/grant.sql
  docker-compose.yml
  packages/applications/seed/package.json
  packages/applications/seed/src/candidatures.ts
  packages/applications/seed/src/main.ts
  packages/applications/seed/src/utilisateurs.ts
  packages/applications/seed/tsconfig.json
  packages/domain/utilisateur/src/utilisateur.valueType.ts
  packages/infrastructure/pg-event-sourcing/sql/1.event-store/1.schema.sql
  packages/infrastructure/pg-event-sourcing/sql/1.event-store/2.subscriber.sql
  packages/infrastructure/pg-event-sourcing/sql/1.event-store/3.event-stream.sql
  packages/infrastructure/pg-event-sourcing/sql/1.event-store/4.acknowledgement.sql
  packages/infrastructure/pg-event-sourcing/sql/1.event-store/functions/notify-subscribers.sql
  packages/infrastructure/pg-event-sourcing/sql/1.event-store/functions/rebuild.sql
  packages/infrastructure/pg-event-sourcing/sql/2.system-views/1.schema.sql
  packages/infrastructure/pg-event-sourcing/sql/2.system-views/2.stream-info.sql
  packages/infrastructure/pg-event-sourcing/sql/2.system-views/3.stream-category.sql
  packages/infrastructure/pg-projection-read/sql/domain-views/1.schema.sql
  packages/infrastructure/pg-projection-read/sql/domain-views/2.projection.sql
  packages/infrastructure/pg-projection-read/sql/domain-views/3.history.sql
Due: eslint --fix, prettier -w

good regex
  docs/contributing/diagrams/périmètre-technique-SI.drawio.svg
  packages/specifications/src/période/stepDefinitions/période.then.ts
Due: eslint --fix

détails
  packages/applications/notifications/src/templates/emails/projet/notifier.md
Due: eslint --fix

modifs
  packages/applications/notifications/src/subscribers/lauréat/lauréat/handlers/lauréatNotifié.handler.ts
  packages/applications/notifications/src/subscribers/éliminé/éliminé/handlers/éliminéNotifié.handler.ts
  packages/applications/notifications/src/templates/emails/projet/notifier.md
  packages/specifications/src/période/stepDefinitions/période.then.ts
Due: eslint --fix

🎨 Ajout count et cycle AO
  .database/potentiel-dev.dump
  packages/applications/cli/src/commands/datagouv/update-ressource.ts
  packages/statistiques/statistiques-publiques/sql/indicateursProjetsStatistic.sql
  packages/statistiques/statistiques-publiques/src/01-ensemble-des-projets/indicateursProjetsAgrégés.statistic.ts
  packages/statistiques/vues/src/stats_projets.sql
Due: eslint --fix
