Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

🎨 Amelioration historique date mise en service (#3884)
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/events/dossier/dateMiseEnService/mapToDateMiseEnServiceTransmiseTimelineItemProps.tsx
Due: eslint --fix

🎨 Maintenance
  scalingo.json
Due: eslint --fix, prettier -w

🎨 Scale to 0
  scalingo.json
Due: eslint --fix, prettier -w

🎨 Specify db version
  .database/scripts/restore-test-env-db.sh
Due: none

🎨 Scalingo-24
  scalingo.json
Due: eslint --fix, prettier -w

🎨 Remove --clean
  .database/scripts/restore-test-env-db.sh
  .scripts/review-app.sh
Due: none

🎨 Remove version number
  .database/scripts/restore-test-env-db.sh
Due: none

✏️ Misc
  .database/scripts/restore-test-env-db.sh
  .scripts/review-app.sh
Due: none

📝 Doc
  docs/contributing/DEVELOPMENT_FLOW.md
  scalingo.json
Due: eslint --fix, prettier -w

🎨 Fix var name
  .database/scripts/restore-test-env-db.sh
Due: none

🎨 Mini improvements
  .scripts/review-app.sh
Due: none

Update docs/contributing/DEVELOPMENT_FLOW.md
  docs/contributing/DEVELOPMENT_FLOW.md
Due: eslint --fix

Update .scripts/review-app.sh
  .scripts/review-app.sh
Due: none

🧑‍💻 Script de déploiement d'une Review app (#3888)
  .database/scripts/restore-test-env-db.sh
  .scripts/review-app.sh
  docs/contributing/DEVELOPMENT_FLOW.md
  scalingo.json
Due: eslint --fix, prettier -w

achèvement prévisionnel notification DREAL
  packages/applications/notifications/src/subscribers/lauréat/tâche-planifiée/achèvement/handlers/relanceÉchéanceAchèvement.handler.ts
Due: eslint --fix

🎨 Feature flag page + remove navigation
  packages/applications/legacy/.env.template
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/AcheteurObligéMenuLegacy.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/AdminMenuLegacy.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/CreMenuLegacy.tsx
  packages/applications/ssr/.env.template
  packages/applications/ssr/src/app/export/export.page.tsx
  packages/applications/ssr/src/components/organisms/header/UserBasedRoleNavigation.tsx
  packages/applications/subscribers/.env.template
Due: eslint --fix

🎨 Achèvement prévisionnel notifications DREAL (#3889)
  packages/applications/notifications/src/subscribers/lauréat/tâche-planifiée/achèvement/handlers/relanceÉchéanceAchèvement.handler.ts
Due: eslint --fix

Feature flag pour l'export (#3890)
  packages/applications/legacy/.env.template
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/AcheteurObligéMenuLegacy.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/AdminMenuLegacy.tsx
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/CreMenuLegacy.tsx
  packages/applications/ssr/.env.template
  packages/applications/ssr/src/app/export/export.page.tsx
  packages/applications/ssr/src/components/organisms/header/UserBasedRoleNavigation.tsx
  packages/applications/subscribers/.env.template
Due: eslint --fix

🎨 Page html maintenance
  packages/applications/app-maintenance/maintenance.html
Due: none

🎨 Update wording
  packages/applications/app-maintenance/maintenance.html
Due: none

better ket tâche
  packages/applications/ssr/src/app/taches/TâcheList.page.tsx
Due: eslint --fix

🎨 Page html maintenance (#3891)
  packages/applications/app-maintenance/maintenance.html
Due: none

🐛 better key tâches (#3892)
  packages/applications/ssr/src/app/taches/TâcheList.page.tsx
Due: eslint --fix

🎨 Fix: build
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/ÉtapesProjet.section.tsx
  packages/specifications/src/projet/éliminé/éliminé.world.ts
Due: eslint --fix

mini alignement wording
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/_helpers/getÉliminéMenuItems.tsx
Due: eslint --fix

wording
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/_helpers/getÉliminéMenuItems.tsx
Due: eslint --fix

condition recours
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/_helpers/getÉliminéMenuItems.tsx
Due: eslint --fix

affichage etapes
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/_sections/ÉtapesProjet.section.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/_sections/ÉtapesProjet.tsx
Due: eslint --fix

router back
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/AcheteurObligéMenuLegacy.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/CorrigerCandidature.form.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/_helpers/getÉliminéMenuItems.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/demander/DemanderRecours.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/ModifierLauréat.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/AttestationConformité.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/demander/DemanderChangementActionnaire.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/enregistrer/EnregistrerChangementActionnaire.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/modifier/ModifierActionnaire.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/cahier-des-charges/ChoisirCahierDesCharges.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/corriger/CorrigerDemandeDélai.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/demander/DemanderDélai.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/(mettre-à-jour)/component/MettreÀJourFournisseur.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(actuelles)/actuelles:enregistrer-attestation/EnregistrerAttestationGarantiesFinancières.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(actuelles)/actuelles:modifier/ModifierGarantiesFinancièresActuelles.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(dépôt)/depot:soumettre/SoumettreDépôtGarantiesFinancières.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/dispositif-de-stockage/changement/enregistrer/EnregistrerChangementDispositifDeStockage.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/dispositif-de-stockage/modifier/ModifierDispositifDeStockage.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/installateur/changement/enregistrer/EnregistrerChangementInstallateur.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/installateur/modifier/ModifierInstallateur.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/typologie-du-projet/modifier/ModifierTypologieInstallation.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/nature-de-l-exploitation/changement/enregistrer/EnregistrerChangementNatureDeLExploitation.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/nature-de-l-exploitation/modifier/ModifierNatureDeLExploitation.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/nom-projet/changement/enregistrer/EnregistrerChangementNomProjet.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/nom-projet/modifier/ModifierNomProjet.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/changement/enregistrer/EnregistrerChangementProducteur.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/modifier/ModifierProducteur.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/demander/DemanderChangementPuissance.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/modifier/ModifierPuissance.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(date-mise-en-service)/date-mise-en-service:transmettre/TransmettreDateMiseEnService.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(demande-complète-raccordement)/demande-complete-raccordement:modifier/ModifierDemandeComplèteRaccordement.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(proposition-technique-et-financière)/proposition-technique-et-financiere:modifier/ModifierPropositionTechniqueEtFinancière.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(proposition-technique-et-financière)/proposition-technique-et-financiere:transmettre/TransmettrePropositionTechniqueEtFinancière.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/reference:corriger/CorrigerRéférenceDossier.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/reference:corriger/CorrigerRéférenceDossier.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/reference:corriger/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/demande-complete-raccordement:transmettre/TransmettreDemandeComplèteRaccordement.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(gestionnaire-réseau)/gestionnaire:modifier/ModifierGestionnaireRéseauRaccordement.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/site-de-production/modifier/ModifierSiteDeProduction.form.tsx
  packages/applications/ssr/src/components/atoms/form/FormActionButtons.tsx
Due: eslint --fix

doublon
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/_helpers/getÉliminéMenuItems.tsx
Due: eslint --fix

rebase
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/_sections/ChiffresClés.section.tsx
Due: eslint --fix

✨ Historique : ajout lien vers le détail d'une demande
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(historique)/events/mapToRecoursDemandéTimelineItemProps.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(historique)/mapToRecoursTimelineItemProps.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/[date]/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/historique/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/(historique)/events/mapToAbandonDemandéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/(historique)/mapToAbandonTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/[date]/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/(historique)/events/mapToChangementActionnaireDemandéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/(historique)/mapToActionnaireTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/changement/[date]/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/(historique)/events/mapToDélaiDemandéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/(historique)/mapToDélaiTimelineItemProps.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/delai/[date]/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/(historique)/events/mapToChangementPuissanceDemandéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/(historique)/mapToPuissanceTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/changement/[date]/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/(historique)/events/mapToChangementReprésentantLégalDemandéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/(historique)/mapToReprésentantLégalTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/changement/[date]/(détails)/page.tsx
Due: eslint --fix

🎨 Duplication mapToProps par usage : exemple pour recours
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(historique)/events/index.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(historique)/events/mapToRecoursDemandéHistoriqueDemandeTimelineItemProps.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(historique)/events/mapToRecoursDemandéHistoriqueGlobalTimelineItemProps.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(historique)/mapToRecoursHistoriqueDemandeTimelineItemProps.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(historique)/mapToRecoursHistoriqueGlobalTimelineItemProps.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/[date]/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/historique/page.tsx
Due: eslint --fix

Refacto avec deux composants TimelineItem
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(historique)/events/index.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(historique)/events/mapToRecoursDemandéHistoriqueGlobalTimelineItemProps.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(historique)/events/mapToRecoursDemandéTimelineItemProps.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(historique)/mapToRecoursHistoriqueGlobalTimelineItemProps.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(historique)/mapToRecoursTimelineItemProps.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/[date]/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/historique/HistoriqueLauréat.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/historique/mapToÉtapeInconnueOuIgnoréeTimelineItemProps.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/historique/page.tsx
  packages/applications/ssr/src/components/organisms/timeline/Timeline.tsx
  packages/applications/ssr/src/components/organisms/timeline/TimelineItem.tsx
  packages/applications/ssr/src/components/organisms/timeline/TimelineItemBase.tsx
  packages/applications/ssr/src/components/organisms/timeline/TimelineItemFile.tsx
  packages/applications/ssr/src/components/organisms/timeline/TimelineItemStatus.tsx
  packages/applications/ssr/src/components/organisms/timeline/index.ts
Due: eslint --fix

🔥 Remove empty file
  packages/applications/ssr/src/components/organisms/timeline/TimelineItemStatus.tsx
Due: eslint --fix

🎨 Catégorie et code reorg
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/historique/HistoriqueLauréat.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/historique/HistoriqueLauréatTimelineItem.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/historique/_helpers/catégories.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/historique/_helpers/mapCatégoriesToLabel.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/historique/page.tsx
  packages/applications/ssr/src/components/organisms/timeline/TimelineItem.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
