Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

✅ Add steps about emailing and add missing event types when subscribing
  packages/applications/bootstrap/src/setupLauréat.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/accorderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/rejeterChangementReprésentantLégal.feature
Due: eslint --fix, prettier -w

✅ Test ok
  packages/applications/bootstrap/src/setupLauréat.ts
  packages/specifications/src/projet/lauréat/actionnaire/actionnaire.world.ts
  packages/specifications/src/projet/lauréat/actionnaire/fixtures/transmettreActionnaire.fixture.ts
  packages/specifications/src/projet/lauréat/actionnaire/stepDefinitions/actionnaire.when.ts
  packages/specifications/src/projet/lauréat/actionnaire/transmettreActionnaire.feature
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.given.ts
Due: eslint --fix, prettier -w

🚚 Rename handle functions
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/handleChangementReprésentantLégalAccordé.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/handleChangementReprésentantLégalRejeté.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/index.ts
Due: eslint --fix

♻️ Refactor specs 'Importer le représentant légal' avec un nouveau step notifier candidature (#2562)
  packages/specifications/src/candidature/stepDefinitions/candidature.when.ts
  packages/specifications/src/projet/lauréat/représentant-légal/importerReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/stepDefinitions/représentantLégal.given.ts
  packages/specifications/src/projet/lauréat/représentant-légal/stepDefinitions/représentantLégal.when.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.given.ts
Due: eslint --fix, prettier -w

🐛 Correction du statut Abandonné dans la liste des raccordements (#2565)
  packages/domain/réseau/src/raccordement/lister/listerDossierRaccordement.query.ts
Due: eslint --fix

♻️ Add doc replacement text as argument
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/getSensibleDocReplacement.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/handleChangementReprésentantLégalAccordé.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/handleChangementReprésentantLégalRejeté.ts
Due: eslint --fix

💡 Uncomment NotImplemented scenario
  packages/specifications/src/projet/lauréat/représentant-légal/changement/demanderChangementReprésentantLégal.feature
Due: prettier -w

✨ Add missing event when subscribing
  packages/applications/bootstrap/src/setupLauréat.ts
Due: eslint --fix

✨ Envoyer un email quand un changement de réprésentant légal est accordé ou rejeté (#2552)
  packages/applications/bootstrap/src/setupLauréat.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/handleChangementReprésentantLégalAccordé.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/handleChangementReprésentantLégalRejeté.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/index.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/accorderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/rejeterChangementReprésentantLégal.feature
Due: eslint --fix, prettier -w

✨ Remplacement des documents sensisbles après accord ou rejet de changement de représentant légal (#2563)
  package-lock.json
  packages/applications/projectors/package.json
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/getSensibleDocReplacement.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/handleChangementReprésentantLégalAccordé.ts
  packages/applications/projectors/src/subscribers/lauréat/représentant-légal/handleChangementReprésentantLégalRejeté.ts
Due: eslint --fix, prettier -w

✨ Transmettre actionnaire (#2566)
  packages/applications/bootstrap/src/setupLauréat.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/handleActionnaireTransmis.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/index.ts
  packages/domain/lauréat/src/actionnaire/actionnaire.aggregate.ts
  packages/domain/lauréat/src/actionnaire/actionnaire.register.ts
  packages/domain/lauréat/src/actionnaire/errors.ts
  packages/domain/lauréat/src/actionnaire/index.ts
  packages/domain/lauréat/src/actionnaire/transmettre/transmettreActionnaire.behavior.ts
  packages/domain/lauréat/src/actionnaire/transmettre/transmettreActionnaire.command.ts
  packages/domain/lauréat/src/actionnaire/transmettre/transmettreActionnaire.usecase.ts
  packages/specifications/src/projet/lauréat/actionnaire/actionnaire.world.ts
  packages/specifications/src/projet/lauréat/actionnaire/fixtures/transmettreActionnaire.fixture.ts
  packages/specifications/src/projet/lauréat/actionnaire/modifierActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/stepDefinitions/actionnaire.when.ts
  packages/specifications/src/projet/lauréat/actionnaire/transmettreActionnaire.feature
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.given.ts
Due: eslint --fix, prettier -w

✨ Mettre les emails en lowercase à la candidature
  packages/applications/ssr/src/components/pages/candidature/importer/candidature.schema.test.ts
  packages/applications/ssr/src/components/pages/candidature/importer/candidature.schema.ts
  packages/domain/candidature/src/importer/importerCandidature.usecase.ts
Due: eslint --fix

♻️ Attribution du GRD en saga
  package-lock.json
  packages/applications/bootstrap/package.json
  packages/applications/bootstrap/src/bootstrap.ts
  packages/applications/bootstrap/src/setupRéseau.ts
  packages/applications/bootstrap/tsconfig.json
  packages/domain/réseau/src/raccordement/index.ts
  packages/domain/réseau/src/raccordement/raccordement.saga.ts
  packages/specifications/src/candidature/fixtures/importerCandidature.fixture.ts
  packages/specifications/src/faker.ts
  packages/specifications/src/gestionnaireRéseau/gestionnaireRéseau.world.ts
  packages/specifications/src/gestionnaireRéseau/stepDefinitions/gestionnaireRéseau.given.ts
  packages/specifications/src/raccordement/attribuerGestionnaireRéseau.feature
  packages/specifications/src/raccordement/stepDefinitions/raccordement.then.ts
  packages/specifications/src/setup.ts
Due: eslint --fix, prettier -w

🎨 Repasser sur les specs
  cron.json
  packages/applications/scheduled-tasks/attribuer-grd.sh
  packages/applications/scheduled-tasks/package.json
  packages/applications/scheduled-tasks/src/raccordement/attribuer-gestionnaire-réseau.ts
  packages/applications/ssr/src/components/pages/réseau/raccordement/modifier/modifierDemandeComplèteRaccordement/ModifierDemandeComplèteRaccordement.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/modifier/modifierDemandeComplèteRaccordement/modifierDemandeComplèteRaccordement.action.ts
  packages/applications/ssr/src/components/pages/réseau/raccordement/transmettre/transmettreDemandeComplèteRaccordement/TransmettreDemandeComplèteRaccordement.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/transmettre/transmettreDemandeComplèteRaccordement/transmettreDemandeComplèteRaccordement.action.ts
  packages/domain/réseau/src/raccordement/attribuer/attribuerGestionnaireRéseau.usecase.ts
  packages/domain/réseau/src/raccordement/index.ts
  packages/domain/réseau/src/raccordement/modifier/modifierDemandeComplèteRaccordement.command.ts
  packages/domain/réseau/src/raccordement/modifier/modifierDemandeComplèteRaccordement.usecase.ts
  packages/domain/réseau/src/raccordement/raccordement.register.ts
  packages/domain/réseau/src/raccordement/raccordement.saga.ts
  packages/domain/réseau/src/raccordement/transmettre/transmettreDemandeComplèteRaccordement.command.ts
  packages/domain/réseau/src/raccordement/transmettre/transmettreDemandeComplèteRaccordement.usecase.ts
  packages/specifications/src/gestionnaireRéseau/gestionnaireRéseau.world.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/demanderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.given.ts
  packages/specifications/src/raccordement/attribuerGestionnaireRéseau.feature
  packages/specifications/src/raccordement/modifierDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/modifierGestionnaireRéseauRaccordement.feature
  packages/specifications/src/raccordement/modifierPropositionTechniqueEtFinancière.feature
  packages/specifications/src/raccordement/modifierRéférenceDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/stepDefinitions/raccordement.given.ts
  packages/specifications/src/raccordement/stepDefinitions/raccordement.then.ts
  packages/specifications/src/raccordement/stepDefinitions/raccordement.when.ts
  packages/specifications/src/raccordement/supprimerDossierDuRaccordement.feature
  packages/specifications/src/raccordement/supprimerRaccordement.feature
  packages/specifications/src/raccordement/transmettreDateMiseEnService.feature
  packages/specifications/src/raccordement/transmettreDemandeComplèteDeRaccordement.feature
  packages/specifications/src/raccordement/transmettrePropositionTechniqueEtFinancière.feature
  packages/specifications/src/setup.ts
  packages/specifications/src/tâche/ajouterTâche.feature
  packages/specifications/src/tâche/stepDefinitions/tâche.then.ts
Due: eslint --fix, prettier -w

✅ Tests
  packages/specifications/src/raccordement/modifierGestionnaireRéseauRaccordement.feature
  packages/specifications/src/raccordement/stepDefinitions/raccordement.given.ts
  packages/specifications/src/tâche/acheverTâche.feature
Due: eslint --fix, prettier -w

✅ Rename specs
  packages/specifications/src/raccordement/supprimerRaccordement.feature
  packages/specifications/src/raccordement/transmettreDateMiseEnService.feature
Due: prettier -w

♻️ Refactor tests to add When step
  packages/specifications/src/raccordement/attribuerGestionnaireRéseau.feature
  packages/specifications/src/raccordement/modifierGestionnaireRéseauRaccordement.feature
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.given.ts
Due: eslint --fix, prettier -w

🔀 Remove redundant
  packages/domain/réseau/src/raccordement/modifier/modifierDemandeComplèteRaccordement.command.ts
  packages/specifications/src/utilisateur/stepDefinitions/utilisateur.given.ts
Due: eslint --fix

✅ Formulation test
  packages/specifications/src/raccordement/modifierGestionnaireRéseauRaccordement.feature
  packages/specifications/src/raccordement/stepDefinitions/raccordement.given.ts
Due: eslint --fix, prettier -w

🎨 Transmission fixed
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getActionnaire.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/handleActionnaireImporté.ts
  packages/applications/projectors/src/subscribers/lauréat/actionnaire/handleActionnaireTransmis.ts
  packages/applications/ssr/src/components/pages/actionnaire/transmettre/TransmettreActionnaire.form.tsx
  packages/applications/ssr/src/components/pages/actionnaire/transmettre/transmettreActionnaire.action.ts
  packages/domain/lauréat/src/actionnaire/transmettre/transmettreActionnaire.behavior.ts
  packages/domain/lauréat/src/actionnaire/transmettre/transmettreActionnaire.command.ts
  packages/domain/lauréat/src/actionnaire/transmettre/transmettreActionnaire.usecase.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

🎨 Fix: saga
  packages/applications/legacy/src/sagas/actionnaire.saga.ts
  packages/applications/legacy/src/sagas/registerSagas.ts
Due: eslint --fix

✅ Refactor tache planifiee then steps
  packages/specifications/src/projet/lauréat/représentant-légal/changement/demanderChangementReprésentantLégal.feature
  packages/specifications/src/tâche-planifiée/stepDefinitions/tâchePlanifiée.then.ts
Due: eslint --fix, prettier -w

✅ Fix specs
  packages/specifications/src/candidature/candidature.world.ts
  packages/specifications/src/candidature/stepDefinitions/candidature.then.ts
Due: eslint --fix

🎨 Quelques corrections
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getActionnaire.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectActions.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectHeader.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales.tsx
  packages/applications/routes/src/lauréat/actionnaire.routes.ts
  packages/applications/ssr/src/components/pages/actionnaire/demanderChangement/DemanderChangementActionnaire.form.tsx
  packages/applications/ssr/src/components/pages/actionnaire/demanderChangement/demanderChangementActionnaire.action.ts
  packages/applications/ssr/src/components/pages/actionnaire/modifier/ModifierActionnaire.form.tsx
  packages/applications/ssr/src/components/pages/actionnaire/modifier/modifierActionnaire.action.ts
  packages/applications/ssr/src/components/pages/actionnaire/transmettre/TransmettreActionnaire.form.tsx
  packages/applications/ssr/src/components/pages/actionnaire/transmettre/transmettreActionnaire.action.ts
  packages/applications/ssr/src/components/pages/candidature/détails/DétailsCandidature.page.tsx
  packages/domain/lauréat/src/actionnaire/modifier/modifierActionnaire.command.ts
  packages/specifications/src/projet/lauréat/actionnaire/demanderChangementActionnaire.feature
Due: eslint --fix, prettier -w

♻️ Refacto location
  packages/specifications/src/candidature/fixtures/importerCandidature.fixture.ts
  packages/specifications/src/gestionnaireRéseau/stepDefinitions/gestionnaireRéseau.given.ts
  packages/specifications/src/helpers/getFakeLocation.ts
Due: eslint --fix

✨ Renommer SEI en EDF SEI
  packages/infrastructure/ore-client/src/récupérerTousLesGRD.ts
Due: eslint --fix

🎨 Accent + condition transmettre DCR id gestionnaire réseau actuel
  packages/applications/ssr/src/components/pages/réseau/raccordement/transmettre/transmettreDemandeComplèteRaccordement/TransmettreDemandeComplèteRaccordement.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/transmettre/transmettreDemandeComplèteRaccordement/transmettreDemandeComplèteRaccordement.action.ts
Due: eslint --fix

🐛 Ajout min
  packages/applications/ssr/src/components/pages/réseau/raccordement/transmettre/transmettreDemandeComplèteRaccordement/transmettreDemandeComplèteRaccordement.action.ts
Due: eslint --fix

🎨 Review
  packages/domain/réseau/src/raccordement/transmettre/transmettreDemandeComplèteRaccordement.command.ts
  packages/specifications/src/raccordement/stepDefinitions/raccordement.then.ts
  packages/specifications/src/raccordement/stepDefinitions/raccordement.when.ts
  packages/specifications/src/raccordement/transmettreDateMiseEnService.feature
Due: eslint --fix, prettier -w

♻️ Assert
  packages/specifications/src/raccordement/stepDefinitions/raccordement.then.ts
Due: eslint --fix

✨ Renommer SEI en EDF SEI (#2569)
  packages/infrastructure/ore-client/src/récupérerTousLesGRD.ts
Due: eslint --fix

🎨 Simplifier formulaire
  packages/applications/ssr/src/components/pages/réseau/raccordement/transmettre/transmettreDemandeComplèteRaccordement/TransmettreDemandeComplèteRaccordement.form.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/transmettre/transmettreDemandeComplèteRaccordement/TransmettreDemandeComplèteRaccordement.stories.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/transmettre/transmettreDemandeComplèteRaccordement/transmettreDemandeComplèteRaccordement.action.ts
Due: eslint --fix

🎨 1 seul template pour l'instruction demande changement représentant légal (accord / rejet)
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/handleChangementReprésentantLégalAccordé.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/handleChangementReprésentantLégalRejeté.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/accorderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/rejeterChangementReprésentantLégal.feature
Due: eslint --fix, prettier -w

⚰️ Remove file
  packages/infrastructure/domain-adapters/src/projet/index.ts
  packages/infrastructure/domain-adapters/src/projet/listerProjetForOre.adapter.ts
Due: eslint --fix

💄 Correction page d'accueil sur mobile
  packages/applications/ssr/src/components/molecules/home/InscriptionConnexion.tsx
Due: eslint --fix

🐛 Correction Storybook
  packages/applications/ssr/.storybook/main.ts
  packages/applications/ssr/.storybook/mockedWithUtilisateur.js
  packages/applications/ssr/.storybook/preview.tsx
Due: eslint --fix

🎨 1 seul template pour l'instruction demande changement représentant légal (accord / rejet) (#2571)
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/handleChangementReprésentantLégalAccordé.ts
  packages/applications/notifications/src/subscribers/lauréat/représentant-légal/handleChangementReprésentantLégalRejeté.ts
  packages/specifications/src/projet/lauréat/représentant-légal/changement/accorderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/rejeterChangementReprésentantLégal.feature
Due: eslint --fix, prettier -w

🐛 Correction de l'upload optionel
  packages/applications/ssr/src/utils/zod/blob/acceptOnlyFileTypes.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
