Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

🎨 Ajout d'un namespace Candidature (#2068)
  packages/applications/bootstrap/src/setupCandidature.ts
  packages/applications/cli/src/commands/raccordement/importer-date-mes.ts
  packages/applications/legacy/src/controllers/modificationRequest/délai/getCorrigerDelaiAccordePage.ts
  packages/applications/legacy/src/controllers/modificationRequest/délai/postCorrigerDelaiAccorde.ts
  packages/applications/legacy/src/views/components/UI/templates/PageProjetTemplate.tsx
  packages/applications/legacy/src/views/pages/délai/CorrigerDelaiAccordePage.tsx
  packages/applications/notifications/src/subscribers/lauréat/tâchePlanifiée.notification.ts
  packages/applications/projectors/src/subscribers/candidature/candidature.projector.ts
  packages/applications/ssr/.storybook/preview.tsx
  packages/applications/ssr/src/app/candidatures/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/demander/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/modele-reponse/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/abandon/transmettre-preuve-recandidature/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/attestation-conformite:transmettre/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/actuelles:enregistrer-attestation/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/actuelles:enregistrer/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/actuelles:modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/depot:modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/depot:soumettre/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/modele-mise-en-demeure/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/modele-reponse-mainlevee/route.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/[reference]/date-mise-en-service:transmettre/page.tsx
  packages/applications/ssr/src/components/molecules/projet/ProjetBanner.tsx
  packages/applications/ssr/src/components/molecules/projet/ProjetListItem.tsx
  packages/applications/ssr/src/components/pages/abandon/détails/accorder/accorderAbandonAvecRecandidature.action.ts
  packages/applications/ssr/src/components/pages/candidature/CandidaturesList.page.tsx
  packages/applications/ssr/src/components/pages/réseau/raccordement/importerDatesMiseEnService/importDatesMiseEnService.action.ts
  packages/domain/candidature/src/candidature.ts
  packages/domain/candidature/src/index.ts
  packages/infrastructure/domain-adapters/src/candidature/projet.adapter.ts
  packages/specifications/src/candidature/stepDefinitions/candidature.then.ts
  packages/specifications/src/candidature/stepDefinitions/candidature.when.ts
Due: eslint --fix

✨ Page d'import des candidats (#2055)
  packages/applications/ssr/.storybook/preview.tsx
  packages/applications/ssr/src/components/atoms/form/FormFeedback.tsx
  packages/applications/ssr/src/components/pages/candidature/importer/ImporterCandidatures.form.tsx
  packages/applications/ssr/src/components/pages/candidature/importer/ImporterCandidatures.page.tsx
  packages/applications/ssr/src/components/pages/candidature/importer/ImporterCandidatures.stories.tsx
  packages/applications/ssr/src/components/pages/candidature/importer/candidature.schema.test.ts
  packages/applications/ssr/src/components/pages/candidature/importer/candidature.schema.ts
  packages/applications/ssr/src/components/pages/candidature/importer/importerCandidatures.action.ts
  packages/applications/ssr/src/components/pages/réseau/raccordement/importerDatesMiseEnService/importDatesMiseEnService.action.ts
  packages/applications/ssr/src/utils/formAction.ts
  packages/domain/appel-offre/src/index.ts
  packages/domain/appel-offre/src/lister/listerAppelOffre.query.ts
  packages/domain/candidature/src/importer/importerCandidature.behavior.ts
  packages/domain/candidature/src/importer/importerCandidature.command.ts
  packages/domain/candidature/src/importer/importerCandidature.usecase.ts
  packages/libraries/csv/src/parseCsv.ts
Due: eslint --fix

♻️ Switch to Node.js runner
  package-lock.json
  package.json
  packages/infrastructure/pg-event-sourcing/jest.config.js
  packages/infrastructure/pg-event-sourcing/package.json
  packages/infrastructure/pg-event-sourcing/src/load/loadAggregate.test.ts
  packages/infrastructure/pg-event-sourcing/src/load/loadFromStream.test.ts
  packages/infrastructure/pg-event-sourcing/src/publish/publish.test.ts
  packages/infrastructure/pg-event-sourcing/src/subscribe/acknowledgement/acknowledge.test.ts
  packages/infrastructure/pg-event-sourcing/src/subscribe/acknowledgement/retryPendingAcknowledgement.test.ts
  packages/infrastructure/pg-event-sourcing/src/subscribe/subscribe.test.ts
  packages/infrastructure/pg-event-sourcing/src/subscribe/subscriber/registerSubscriber.test.ts
  packages/libraries/monitoring/src/index.ts
  packages/specifications/package.json
Due: eslint --fix, prettier -w

👷 Enable test:libraries
  .github/workflows/shared-workflow.yml
  package.json
Due: eslint --fix, prettier -w

💚 Up to Node.js 20
  .github/workflows/shared-workflow.yml
Due: eslint --fix, prettier -w

🔥 Remove useless delete
  packages/infrastructure/pg-event-sourcing/src/subscribe/subscribe.test.ts
Due: eslint --fix

✨ Saga legacy pour import candidature + page d'import
  packages/applications/legacy/src/helpers/getDepartementRegionFromCodePostal.ts
  packages/applications/legacy/src/sagas/candidature.saga.ts
  packages/applications/legacy/src/sagas/registerSagas.ts
  packages/applications/ssr/src/app/candidatures/importer/page.tsx
  packages/applications/ssr/src/components/pages/candidature/importer/candidature.schema.ts
  packages/applications/ssr/src/components/pages/candidature/importer/importerCandidatures.action.ts
  packages/domain/candidature/src/candidature.ts
  packages/domain/candidature/src/consulter/consulterProjet.query.ts
  packages/domain/candidature/src/historiqueAbandon.valueType.ts
  packages/domain/candidature/src/importer/importerCandidature.behavior.ts
  packages/domain/candidature/src/importer/importerCandidature.command.ts
  packages/domain/candidature/src/importer/importerCandidature.usecase.ts
  packages/domain/candidature/src/index.ts
  packages/domain/candidature/src/technologie.valueType.ts
  packages/libraries/csv/src/parseCsv.ts
Due: eslint --fix

✅ Drop et create rule in tests to be able to delete records in the event_stream table
  packages/infrastructure/pg-event-sourcing/src/load/loadAggregate.test.ts
  packages/infrastructure/pg-event-sourcing/src/load/loadFromStream.test.ts
  packages/infrastructure/pg-event-sourcing/src/publish/publish.test.ts
  packages/infrastructure/pg-event-sourcing/src/subscribe/acknowledgement/acknowledge.test.ts
  packages/infrastructure/pg-event-sourcing/src/subscribe/acknowledgement/retryPendingAcknowledgement.test.ts
  packages/infrastructure/pg-event-sourcing/src/subscribe/subscribe.test.ts
  packages/infrastructure/pg-event-sourcing/src/subscribe/subscriber/registerSubscriber.test.ts
Due: eslint --fix

🔨 Build only libraries to run libraries tests
  package.json
Due: eslint --fix, prettier -w

🔨 Optimize pre scripts for all test scripts
  package.json
Due: eslint --fix, prettier -w

✅ Reduce waiting time between steps to 100ms
  packages/specifications/src/setup.ts
Due: eslint --fix

✨ Working import
  packages/applications/legacy/src/infra/sequelize/projectionsNext/project/updates/onProjectImported.ts
  packages/applications/legacy/src/sagas/candidature.saga.ts
  packages/applications/ssr/src/components/atoms/form/Form.tsx
  packages/applications/ssr/src/components/atoms/form/FormFeedback.stories.tsx
  packages/applications/ssr/src/components/atoms/form/FormFeedback.tsx
  packages/applications/ssr/src/components/pages/candidature/importer/ImporterCandidatures.form.tsx
  packages/applications/ssr/src/components/pages/candidature/importer/candidature.schema.ts
  packages/applications/ssr/src/components/pages/réseau/raccordement/importerDatesMiseEnService/importerDatesMiseEnService.form.tsx
  packages/domain/utilisateur/src/role.valueType.ts
  packages/libraries/csv/src/parseCsv.ts
Due: eslint --fix

👷 Réactivation test_libraries dans la CI (#2060)
  .github/workflows/shared-workflow.yml
  package-lock.json
  package.json
  packages/infrastructure/pg-event-sourcing/jest.config.js
  packages/infrastructure/pg-event-sourcing/package.json
  packages/infrastructure/pg-event-sourcing/src/load/loadAggregate.test.ts
  packages/infrastructure/pg-event-sourcing/src/load/loadFromStream.test.ts
  packages/infrastructure/pg-event-sourcing/src/publish/publish.test.ts
  packages/infrastructure/pg-event-sourcing/src/subscribe/acknowledgement/acknowledge.test.ts
  packages/infrastructure/pg-event-sourcing/src/subscribe/acknowledgement/retryPendingAcknowledgement.test.ts
  packages/infrastructure/pg-event-sourcing/src/subscribe/subscribe.test.ts
  packages/infrastructure/pg-event-sourcing/src/subscribe/subscriber/registerSubscriber.test.ts
  packages/libraries/monitoring/src/index.ts
  packages/specifications/package.json
  packages/specifications/src/setup.ts
Due: eslint --fix, prettier -w

🌱 Projets avec même région (Ile-de-france) pour faciliter le développement local
  .database/potentiel-dev.dump
Due: none

🌱 Projets avec même région (Ile-de-france) pour faciliter le développement local (#2071)
  .database/potentiel-dev.dump
Due: none

🚚 Déplacer le valueType TypeGF dans common (utilisé pour GF mais aussi Candidature)
  packages/applications/legacy/src/modules/project/eventHandlers/handleProjectRawDataImported.ts
  packages/applications/legacy/src/modules/project/queries/GetProjectDataForProjectPage.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales.tsx
  packages/applications/ssr/src/components/atoms/form/FormFeedback.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/TypeGarantiesFinancièresSelect.tsx
  packages/applications/ssr/src/components/pages/garanties-financières/getGarantiesFinancièresTypeLabel.ts
  packages/applications/ssr/src/utils/garanties-financières/typesGarantiesFinancièresPourFormulaire.ts
  packages/domain/candidature/src/importer/importerCandidature.behavior.ts
  packages/domain/candidature/src/importer/importerCandidature.command.ts
  packages/domain/candidature/src/importer/importerCandidature.usecase.ts
  packages/domain/common/src/index.ts
  packages/domain/common/src/valueTypes/typeGarantiesFinancières.valueType.ts
  packages/domain/lauréat/src/garantiesFinancières/dépôtEnCours/consulter/consulterDépôtEnCoursGarantiesFinancières.query.ts
  packages/domain/lauréat/src/garantiesFinancières/dépôtEnCours/lister/listerDépôtsEnCoursGarantiesFinancières.query.ts
  packages/domain/lauréat/src/garantiesFinancières/dépôtEnCours/modifierDépôtEnCours/modifierDépôtGarantiesFinancièresEnCours.behavior.ts
  packages/domain/lauréat/src/garantiesFinancières/dépôtEnCours/modifierDépôtEnCours/modifierDépôtGarantiesFinancièresEnCours.command.ts
  packages/domain/lauréat/src/garantiesFinancières/dépôtEnCours/modifierDépôtEnCours/modifierDépôtGarantiesFinancièresEnCours.usecase.ts
  packages/domain/lauréat/src/garantiesFinancières/dépôtEnCours/soumettreDépôt/soumettreDépôtGarantiesFinancières.behavior.ts
  packages/domain/lauréat/src/garantiesFinancières/dépôtEnCours/soumettreDépôt/soumettreDépôtGarantiesFinancières.command.ts
  packages/domain/lauréat/src/garantiesFinancières/dépôtEnCours/soumettreDépôt/soumettreDépôtGarantiesFinancières.usecase.ts
  packages/domain/lauréat/src/garantiesFinancières/dépôtEnCours/supprimerDépôtEnCours/supprimerDépôtGarantiesFinancièresEnCours.behavior.ts
  packages/domain/lauréat/src/garantiesFinancières/dépôtEnCours/validerDépôtEnCours/validerDépôtGarantiesFinancièresEnCours.behavior.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancières.aggregate.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/consulter/consulterGarantiesFinancières.query.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/consulterArchives/consulterArchivesGarantiesFinancières.query.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/enregistrer/enregistrerGarantiesFinancières.behavior.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/enregistrer/enregistrerGarantiesFinancières.command.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/enregistrer/enregistrerGarantiesFinancières.usecase.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/importer/importerTypeGarantiesFinancières.behavior.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/importer/importerTypeGarantiesFinancières.command.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/importer/importerTypeGarantiesFinancières.usecase.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/modifier/modifierGarantiesFinancières.behavior.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/modifier/modifierGarantiesFinancières.command.ts
  packages/domain/lauréat/src/garantiesFinancières/garantiesFinancièresActuelles/modifier/modifierGarantiesFinancières.usecase.ts
  packages/domain/lauréat/src/garantiesFinancières/index.ts
Due: eslint --fix

✅ Update failing tests
  packages/specifications/src/candidature/stepDefinitions/candidature.when.ts
Due: eslint --fix

🎨 Unique le domain candidature a besoin de lauréat, et pas l'inverse
  package-lock.json
  packages/applications/ssr/src/components/atoms/form/FormFeedback.tsx
  packages/domain/candidature/package.json
  packages/domain/lauréat/package.json
Due: eslint --fix, prettier -w

🎨 Utilisation du namespace AppelOffre
  packages/applications/legacy/src/sagas/candidature.saga.ts
  packages/applications/ssr/src/app/candidatures/importer/page.tsx
Due: eslint --fix

💄 No need to select appelOffre and periode for now
  packages/applications/ssr/src/app/candidatures/importer/page.tsx
  packages/applications/ssr/src/components/pages/candidature/importer/ImporterCandidatures.form.tsx
  packages/applications/ssr/src/components/pages/candidature/importer/ImporterCandidatures.page.tsx
  packages/applications/ssr/src/components/pages/candidature/importer/ImporterCandidatures.stories.tsx
  packages/applications/ssr/src/components/pages/candidature/importer/importerCandidatures.action.ts
Due: eslint --fix

🎨 Ajout du boolean financementParticipatif
  packages/applications/legacy/src/sagas/candidature.saga.ts
  packages/applications/ssr/src/components/pages/candidature/importer/candidature.schema.ts
  packages/applications/ssr/src/components/pages/candidature/importer/importerCandidatures.action.ts
  packages/domain/candidature/src/importer/importerCandidature.behavior.ts
  packages/domain/candidature/src/importer/importerCandidature.command.ts
  packages/domain/candidature/src/importer/importerCandidature.usecase.ts
Due: eslint --fix

✨ Pass detailsValue to the usecase
  packages/applications/cli/src/commands/files/rename.ts
  packages/applications/cli/src/commands/raccordement/importer-date-mes.ts
  packages/applications/cli/src/commands/raccordement/modifier-grd.ts
  packages/applications/cli/src/commands/raccordement/modifier-référence.ts
  packages/applications/ssr/src/components/pages/candidature/importer/importerCandidatures.action.ts
  packages/applications/ssr/src/components/pages/réseau/raccordement/importerDatesMiseEnService/importDatesMiseEnService.action.ts
  packages/libraries/csv/src/parseCsv.ts
Due: eslint --fix

🐛 Fix build
  packages/specifications/src/candidature/stepDefinitions/candidature.when.ts
Due: eslint --fix

✨ French translation for all zod schema
  package-lock.json
  packages/applications/ssr/package.json
  packages/applications/ssr/src/utils/formAction.ts
Due: eslint --fix, prettier -w

🎨 Territoire projet
  packages/applications/ssr/src/components/pages/candidature/importer/candidature.schema.ts
  packages/applications/ssr/src/components/pages/candidature/importer/importerCandidatures.action.ts
  packages/domain/candidature/src/importer/importerCandidature.behavior.ts
  packages/domain/candidature/src/importer/importerCandidature.command.ts
  packages/domain/candidature/src/importer/importerCandidature.usecase.ts
Due: eslint --fix

✅ Fix tests
  packages/specifications/src/candidature/stepDefinitions/candidature.when.ts
Due: eslint --fix

🚑️ Notifier la CRE seulement si le recours est accepté
  packages/applications/legacy/src/modules/notification/eventHandlers/modificationRequests/handleModificationRequestStatusChanged.ts
Due: eslint --fix

🚑️ Notifier la CRE seulement si le recours est accepté (#2073)
  packages/applications/legacy/src/modules/notification/eventHandlers/modificationRequests/handleModificationRequestStatusChanged.ts
Due: eslint --fix

♻️ Le schéma ajoute des valeurs par défaut pour simplifier le pipe jusqu'à la saga
  packages/applications/legacy/src/sagas/candidature.saga.ts
  packages/applications/ssr/src/components/pages/candidature/importer/candidature.schema.ts
  packages/domain/candidature/src/importer/importerCandidature.behavior.ts
  packages/domain/candidature/src/importer/importerCandidature.command.ts
  packages/domain/candidature/src/importer/importerCandidature.usecase.ts
  packages/specifications/src/candidature/stepDefinitions/candidature.when.ts
Due: eslint --fix

⬆️ Upgrade vulnerable packages with 'audit -fix'
  package-lock.json
Due: eslint --fix, prettier -w

🚸 Amélioration du form feedback pour les csv
  packages/applications/ssr/src/components/atoms/form/FormFeedback.tsx
Due: eslint --fix

⬆️ Upgrade node-mailjet package to the latest one
  package-lock.json
  packages/infrastructure/email/package.json
Due: eslint --fix, prettier -w

⬆️ Mise à jour des paquets vulnérables avec 'audit fix' (#2075)
  package-lock.json
  packages/infrastructure/email/package.json
Due: eslint --fix, prettier -w

♻️ Get details from rawData
  packages/applications/ssr/src/components/pages/candidature/importer/importerCandidatures.action.ts
Due: eslint --fix

🎨 Gouvernance partagée field must be a boolean
  packages/applications/legacy/src/sagas/candidature.saga.ts
  packages/applications/ssr/src/components/pages/candidature/importer/candidature.schema.ts
  packages/applications/ssr/src/components/pages/candidature/importer/importerCandidatures.action.ts
Due: eslint --fix

🎨 Type de GF avec label pour l'évènement legacy
  packages/applications/legacy/src/sagas/candidature.saga.ts
  packages/applications/ssr/src/components/pages/candidature/importer/candidature.schema.ts
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
