Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

🎨 Required vs optionnel
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/ModifierLauréat.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/components/fields/LocalitéField.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/components/fields/PuissanceALaPointeField .tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/components/fields/generic/CandidatureField.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/components/fields/generic/CandidatureSelectFiels.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/components/fields/generic/ProjectField.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/components/fields/generic/ProjectSelectField.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/modifierLauréat.action.ts
Due: eslint --fix

🎨 Update dump
  .database/potentiel-dev.dump
Due: none

🎨 Transform
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/components/fields/generic/CandidatureSelectFiels.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/modifierLauréat.action.ts
  packages/applications/ssr/src/utils/candidature/candidatureFields.schema.ts
  packages/applications/ssr/src/utils/candidature/candidatureNotifiée.schema.ts
  packages/applications/ssr/src/utils/candidature/schemaBase.ts
Due: eslint --fix

🎨 Dump
  .database/potentiel-dev.dump
Due: none

✨ Mise à jour de l'import DS avec la version finale du formulaire
  packages/infrastructure/ds-api-client/src/dépôt.ts
  packages/infrastructure/ds-api-client/src/index.ts
  packages/infrastructure/ds-api-client/src/specialFields.ts
Due: eslint --fix

🎨 Rename
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/ModifierLauréat.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/components/fields/generic/CandidatureSelectField.tsx
Due: eslint --fix

🎨 Simplification a la pointe
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/ModifierLauréat.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/components/fields/PuissanceALaPointeField .tsx
Due: eslint --fix

✨ Afficher raison du changement d'actionnaire dans l'historique (#3505)
  packages/applications/ssr/src/components/atoms/ReadMore.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/actionnaire/events/mapToActionnaireModifiéTimelineItemsProps.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/actionnaire/events/mapToChangementActionnaireEnregistréTimelineItemProps.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/fournisseur/events/mapToChangementFournisseurEnregistréTimelineItemProps.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/producteur/events/mapToChangementProducteurEnregistréTimelineItemProps.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/puissance/events/mapToChangementPuissanceEnregistréTimelineItemProps.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/puissance/events/mapToPuissanceModifiéeTimelineItemsProps.tsx
Due: eslint --fix

🎨 Orga champs
  packages/infrastructure/ds-api-client/src/dépôt.ts
Due: eslint --fix

♻️ GF contentType
  packages/applications/ssr/src/app/candidatures/importer/ds/importerPériode.action.ts
  packages/infrastructure/ds-api-client/src/graphql/accessor.ts
  packages/infrastructure/ds-api-client/src/index.ts
Due: eslint --fix

✨ Mise à jour de l'import DS avec la version finale du formulaire (#3506)
  packages/applications/ssr/src/app/candidatures/importer/ds/importerPériode.action.ts
  packages/infrastructure/ds-api-client/src/dépôt.ts
  packages/infrastructure/ds-api-client/src/graphql/accessor.ts
  packages/infrastructure/ds-api-client/src/index.ts
  packages/infrastructure/ds-api-client/src/specialFields.ts
Due: eslint --fix

🎨 Fix form + update wording attestation
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(actuelles)/actuelles:modifier/ModifierGarantiesFinancièresActuelles.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(dépôt)/depot:soumettre/SoumettreDépôtGarantiesFinancières.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(dépôt)/depot:soumettre/SoumettreDépôtGarantiesFinancières.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/TypeGarantiesFinancièresSelect.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/_helpers/addGarantiesFinancièresToSchema.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/components/GarantiesFinancières.tsx
Due: eslint --fix

🎨 Importer la date dé délibération à la notification
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/actuelles/typeGarantiesFinancièresImporté.projector.ts
  packages/applications/ssr/src/utils/historique/mapToProps/garanties-financières/events/actuelles/mapToTypeGarantiesFinancièresImportéTimelineItemsProps.tsx
  packages/domain/projet/src/lauréat/garanties-financières/actuelles/importer/importerGarantiesFinancières.option.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/garantiesFinancièresActuelles.world.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/importerTypeGarantiesFinancièresActuelles.feature
Due: eslint --fix, prettier -w

🐛 Corriger corriger candidature
  packages/applications/ssr/src/app/candidatures/[identifiant]/DétailsCandidature.page.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/CorrigerCandidature.form.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/corrigerCandidature.action.ts
  packages/domain/projet/src/candidature/dépôt.valueType.ts
Due: eslint --fix

🎨 Wording GF actuelles si exemption
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(actuelles)/GarantiesFinancièresActuellesActions.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/DétailsGarantiesFinancières.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/components/GarantiesFinancières.tsx
Due: eslint --fix

🎨 Info main levée
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/page.tsx
Due: eslint --fix

🎨 Enregistrer attestation
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(actuelles)/actuelles:enregistrer-attestation/EnregistrerAttestationGarantiesFinancières.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(actuelles)/actuelles:enregistrer-attestation/EnregistrerAttestationGarantiesFinancières.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(actuelles)/actuelles:enregistrer-attestation/page.tsx
Due: eslint --fix

✅ Fix tests
  packages/domain/projet/src/candidature/candidature.aggregate.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.error.ts
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/importerTypeGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/modifierGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/soumettreDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/demanderMainlevéeGarantiesFinancières.feature
Due: eslint --fix, prettier -w

✅ Fix test
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.valueType.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/fixtures/enregistrerAttestationGarantiesFinancières.fixture.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/fixtures/enregistrerGarantiesFinancières.fixture.ts
Due: eslint --fix

🔥 Suppression de date de délib/constitution dans l'import du type de gf
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/actuelles/typeGarantiesFinancièresImporté.projector.ts
  packages/applications/ssr/src/utils/historique/mapToProps/garanties-financières/events/actuelles/mapToTypeGarantiesFinancièresImportéTimelineItemsProps.tsx
  packages/domain/projet/src/lauréat/garanties-financières/actuelles/garantiesFinancièresActuelles.event.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.error.ts
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/candidature/importerCandidature.feature
Due: eslint --fix, prettier -w

✨ Import des GF complètes
  packages/applications/bootstrap/src/setupProjet/setupLauréat/setupGarantiesFinancière.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/actuelles/garantiesFinancièresImportées.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/actuelles/index.ts
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/index.ts
  packages/domain/projet/src/lauréat/garanties-financières/actuelles/enregistrer/enregisterGarantiesFinancières.options.ts
  packages/domain/projet/src/lauréat/garanties-financières/actuelles/garantiesFinancièresActuelles.event.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.error.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
Due: eslint --fix

✅ Suppression tests plus pertinents
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.error.ts
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/candidature/importerCandidature.feature
Due: eslint --fix, prettier -w

✨ Ajout import GF constituées dans l'historique
  packages/applications/ssr/src/utils/historique/mapToProps/garanties-financières/events/actuelles/index.ts
  packages/applications/ssr/src/utils/historique/mapToProps/garanties-financières/events/actuelles/mapToGarantiesFinancièresImportéesTimelineItemsProps.tsx
  packages/applications/ssr/src/utils/historique/mapToProps/garanties-financières/mapToGarantiesFinancièresTimelineItemProps.tsx
Due: eslint --fix

🐛 Fix page projet (legacy)
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getGarantiesFinancières.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/sections/InfoGenerales/index.tsx
Due: eslint --fix

✅ Fix tests
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.error.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/demanderMainlevéeGarantiesFinancières.feature
Due: eslint --fix, prettier -w

🎨 Diverses corrections
  packages/applications/ssr/src/app/candidatures/[identifiant]/DétailsCandidature.page.tsx
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(actuelles)/actuelles:modifier/ModifierGarantiesFinancièresActuelles.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(dépôt)/depot:soumettre/SoumettreDépôtGarantiesFinancières.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(dépôt)/depot:soumettre/SoumettreDépôtGarantiesFinancières.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/GarantiesFinancièresFormInputs.tsx
Due: eslint --fix

🎨 Review : scenario supp par erreur
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/modifierGarantiesFinancièresActuelles.feature
Due: prettier -w

🎨 Review : 1 seul behavior pour importer
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.aggregate.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
Due: eslint --fix

🎨 Type non exporté
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.valueType.ts
Due: eslint --fix

🎨 Review : label date GF
  packages/applications/ssr/src/app/_helpers/getGarantiesFinancièresDateLabel.ts
  packages/applications/ssr/src/app/_helpers/index.ts
  packages/applications/ssr/src/app/candidatures/[identifiant]/DétailsCandidature.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(actuelles)/actuelles:enregistrer-attestation/EnregistrerAttestationGarantiesFinancières.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/GarantiesFinancièresFormInputs.tsx
Due: eslint --fix

🎨 Review : valueType
  packages/domain/projet/src/lauréat/garanties-financières/garantiesFinancières.valueType.ts
Due: eslint --fix

🎨 Ajout fichier test petit pv
  .demo/exempleCandidatsPetitPV.csv
Due: none

🎨 Mise à jour fichier test actuel
  .demo/exempleCandidatsPPE2.csv
Due: none

✅ Update tests GF candidature
  packages/specifications/src/candidature/candidature.exempleMap.ts
  packages/specifications/src/candidature/candidature.world.ts
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/candidature/importerCandidature.feature
  packages/specifications/src/candidature/stepDefinitions/candidature.given.ts
  packages/specifications/src/candidature/stepDefinitions/candidature.when.ts
Due: eslint --fix, prettier -w

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
