Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

🐛 fix test flaky puissance de site (#3822)
  packages/specifications/src/projet/lauréat/puissance/changement/demanderChangementPuissance.feature
Due: prettier -w

✅ La correction d'une candidature doit mettre à jour le détail des candidatures
  packages/applications/projectors/src/subscribers/candidature/détailCandidatureCorrigé.projector.ts
  packages/applications/projectors/src/subscribers/candidature/index.ts
  packages/domain/projet/src/candidature/candidature.aggregate.ts
  packages/domain/projet/src/candidature/candidature.event.ts
  packages/domain/projet/src/candidature/candidature.register.ts
  packages/domain/projet/src/candidature/corriger/corrigerCandidature.usecase.ts
  packages/domain/projet/src/candidature/détail/corriger/corrigerDétailCandidature.command.ts
  packages/domain/projet/src/candidature/détail/corriger/corrigerDétailCandidature.options.ts
  packages/domain/projet/src/candidature/détail/corriger/détailCandidatureCorrigé.event.ts
  packages/domain/projet/src/candidature/index.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/candidature/corrigerCandidature.feature
  packages/specifications/src/candidature/corrigerCandidature.garantiesFinancières.feature
Due: eslint --fix, prettier -w

affichage eliminé
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/DétailsProjetÉliminé.page.tsx
Due: eslint --fix

🐛 Edge case actionnaire vide dans la page éliminé (#3824)
  packages/applications/ssr/src/app/elimines/[identifiant]/(détails)/DétailsProjetÉliminé.page.tsx
Due: eslint --fix

🐛 Affichage page GF sans GF
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/DétailsGarantiesFinancières.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/components/GarantiesFinancièresManquantes.tsx
Due: eslint --fix

🎨 Modifier puissance
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/(historique)/events/mapToPuissanceModifiéeTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/modifier/ModifierPuissance.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/modifier/modifierPuissance.action.ts
  packages/domain/projet/src/lauréat/puissance/modifier/modifierPuissance.command.ts
  packages/domain/projet/src/lauréat/puissance/modifier/modifierPuissance.event.ts
  packages/domain/projet/src/lauréat/puissance/modifier/modifierPuissance.options.ts
  packages/domain/projet/src/lauréat/puissance/modifier/modifierPuissance.usecase.ts
  packages/domain/projet/src/lauréat/puissance/puissance.aggregate.ts
Due: eslint --fix

🎨 Modifier producteur
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/(historique)/events/mapToProducteurModifiéTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/modifier/ModifierProducteur.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/modifier/modifierProducteur.action.ts
  packages/domain/projet/src/lauréat/producteur/modifier/modifierProducteur.command.ts
  packages/domain/projet/src/lauréat/producteur/modifier/modifierProducteur.event.ts
  packages/domain/projet/src/lauréat/producteur/modifier/modifierProducteur.option.ts
  packages/domain/projet/src/lauréat/producteur/modifier/modifierProducteur.usecase.ts
  packages/domain/projet/src/lauréat/producteur/producteur.aggregate.ts
  packages/specifications/src/projet/lauréat/producteur/fixture/modifierProducteur.fixture.ts
Due: eslint --fix

🎨 Modifier actionnaire
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/modifier/ModifierActionnaire.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/modifier/modifierActionnaire.action.ts
Due: eslint --fix

🎨 Modifier fournisseur
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/(mettre-à-jour)/MettreÀJourFournisseur.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/changement/(mettre-à-jour)/component/MettreÀJourFournisseur.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/fournisseur/modifier/page.tsx
Due: eslint --fix

🎨 Modifier représentant legal
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/(historique)/events/mapToReprésentantLégalModifiéTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/_helpers/steps/SaisiePièceJustificative.step.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/_helpers/steps/Validation.step.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/modifier/ModifierReprésentantLégal.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/modifier/modifierReprésentantLégal.action.ts
  packages/domain/projet/src/lauréat/représentantLégal/modifier/modifierReprésentantLégal.command.ts
  packages/domain/projet/src/lauréat/représentantLégal/modifier/modifierReprésentantLégal.options.ts
  packages/domain/projet/src/lauréat/représentantLégal/modifier/modifierReprésentantLégal.usecase.ts
  packages/domain/projet/src/lauréat/représentantLégal/représentantLégal.aggregate.ts
  packages/domain/projet/src/lauréat/représentantLégal/représentantLégal.event.ts
Due: eslint --fix

💄 Info formulaire représentant legal
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/_helpers/steps/SaisiePièceJustificative.step.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/_helpers/steps/Validation.step.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/modifier/ModifierReprésentantLégal.form.tsx
Due: eslint --fix

🎨 Modifier site de production
  packages/applications/ssr/src/app/laureats/[identifiant]/(historique)/events/mapToSiteDeProductionModifiéTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/site-de-production/modifier/ModifierSiteDeProduction.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/site-de-production/modifier/modifierSiteDeProduction.action.ts
  packages/domain/projet/src/lauréat/index.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
  packages/domain/projet/src/lauréat/modifier/modifierSiteDeProduction.command.ts
  packages/domain/projet/src/lauréat/modifier/modifierSiteDeProduction.option.ts
  packages/domain/projet/src/lauréat/modifier/modifierSiteDeProduction.usecase.ts
  packages/domain/projet/src/lauréat/modifier/siteDeProductionModifié.event.ts
  packages/domain/projet/src/lauréat/typeDocumentModificationSiteDeProduction.valueType.ts
Due: eslint --fix

🎨 Divers
  packages/applications/ssr/src/app/laureats/[identifiant]/actionnaire/modifier/modifierActionnaire.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/producteur/modifier/modifierProducteur.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/puissance/modifier/modifierPuissance.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/(historique)/events/mapToReprésentantLégalModifiéTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/modifier/ModifierReprésentantLégal.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/site-de-production/modifier/ModifierSiteDeProduction.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/site-de-production/modifier/modifierSiteDeProduction.action.ts
Due: eslint --fix

🔥 Update : pas de pj pour modif representant légal
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/_helpers/steps/SaisiePièceJustificative.step.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/modifier/ModifierReprésentantLégal.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/representant-legal/modifier/modifierReprésentantLégal.action.ts
  packages/domain/projet/src/lauréat/représentantLégal/modifier/modifierReprésentantLégal.command.ts
  packages/domain/projet/src/lauréat/représentantLégal/modifier/modifierReprésentantLégal.options.ts
  packages/domain/projet/src/lauréat/représentantLégal/modifier/modifierReprésentantLégal.usecase.ts
  packages/domain/projet/src/lauréat/représentantLégal/représentantLégal.aggregate.ts
  packages/domain/projet/src/lauréat/représentantLégal/représentantLégal.event.ts
Due: eslint --fix

🎨 Amélioration de l'entity pour ajouter un statut 'import' | 'correction'
  packages/applications/projectors/src/subscribers/candidature/détailCandidatureCorrigé.projector.ts
  packages/applications/projectors/src/subscribers/candidature/détailCandidatureImporté.projector.ts
  packages/domain/projet/src/candidature/détail/consulter/consulterDétailCandidature.query.ts
  packages/domain/projet/src/candidature/détail/détailCandidature.entity.ts
  packages/specifications/src/candidature/corrigerCandidature.garantiesFinancières.feature
Due: eslint --fix, prettier -w

🎨 Modifications AOS
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/(historique)/events/mapToDispositifDeStockageMisÀJourTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/(historique)/events/mapToInstallateurModifiéTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/(historique)/events/mapToTypologieInstallationModifiéeTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/dispositif-de-stockage/modifier/ModifierDispositifDeStockage.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/dispositif-de-stockage/modifier/modifierDispositifDeStockage.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/installateur/modifier/ModifierInstallateur.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/installateur/modifier/modifierInstallateur.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/typologie-du-projet/modifier/ModifierTypologieInstallation.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/installation/typologie-du-projet/modifier/modifierTypologieInstallation.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/nature-de-l-exploitation/(historique)/events/mapToNatureDeLExploitationModifiéeTimelineItemsProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/nature-de-l-exploitation/modifier/ModifierNatureDeLExploitation.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/nature-de-l-exploitation/modifier/modifierNatureDeLExploitation.action.ts
  packages/domain/projet/src/lauréat/installation/dispositif-de-stockage/modifier/modifierDispositifDeStockage.command.ts
  packages/domain/projet/src/lauréat/installation/dispositif-de-stockage/modifier/modifierDispositifDeStockage.event.ts
  packages/domain/projet/src/lauréat/installation/dispositif-de-stockage/modifier/modifierDispositifDeStockage.options.ts
  packages/domain/projet/src/lauréat/installation/dispositif-de-stockage/modifier/modifierDispositifDeStockage.usecase.ts
  packages/domain/projet/src/lauréat/installation/index.ts
  packages/domain/projet/src/lauréat/installation/installateur/modifier/modifierInstallateur.command.ts
  packages/domain/projet/src/lauréat/installation/installateur/modifier/modifierInstallateur.event.ts
  packages/domain/projet/src/lauréat/installation/installateur/modifier/modifierInstallateur.option.ts
  packages/domain/projet/src/lauréat/installation/installateur/modifier/modifierInstallateur.usecase.ts
  packages/domain/projet/src/lauréat/installation/installation.aggregate.ts
  packages/domain/projet/src/lauréat/installation/typologie-installation/modifier/modifierTypologieInstallation.command.ts
  packages/domain/projet/src/lauréat/installation/typologie-installation/modifier/modifierTypologieInstallation.event.ts
  packages/domain/projet/src/lauréat/installation/typologie-installation/modifier/modifierTypologieInstallation.option.ts
  packages/domain/projet/src/lauréat/installation/typologie-installation/modifier/modifierTypologieInstallation.usecase.ts
  packages/domain/projet/src/lauréat/installation/typologie-installation/typeDocumentTypologieInstallation.valueType.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/modifier/modifierNatureDeLExploitation.command.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/modifier/modifierNatureDeLExploitation.event.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/modifier/modifierNatureDeLExploitation.option.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/modifier/modifierNatureDeLExploitation.usecase.ts
  packages/domain/projet/src/lauréat/nature-de-l-exploitation/natureDeLExploitation.aggregate.ts
Due: eslint --fix

🐛 Fix téléchargemenet pj
  packages/applications/ssr/src/app/laureats/[identifiant]/(historique)/events/mapToSiteDeProductionModifiéTimelineItemProps.tsx
Due: eslint --fix

🧹 Rangement dans les composants page projet (#3823)
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/Achèvement.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/AchèvementDétails.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/AlertesTableauDeBord.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/AlertesTableauDeBord.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/CahierDesCharges.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/CahierDesChargesDétails.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/GarantiesFinancières.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/GarantiesFinancièresDétails.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/Raccordement.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/RaccordementDétails.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/ÉtapesProjet.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/ÉtapesProjet.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/TableauDeBord.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/evaluation-carbone/(sections)/Fournisseurs.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/evaluation-carbone/(sections)/FournisseursDétails.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/evaluation-carbone/(sections)/ÉvaluationCarboneSimplifiée.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/evaluation-carbone/ÉvaluationCarbone.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/informations-generales/(sections)/Actionnariat.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/informations-generales/(sections)/ActionnariatDétails.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/informations-generales/(sections)/Candidat.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/informations-generales/(sections)/CandidatDétails.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/informations-generales/(sections)/Contractualisation.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/informations-generales/(sections)/ContractualisationDétails.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/informations-generales/(sections)/Producteur.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/informations-generales/(sections)/ProducteurDétails.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/informations-generales/(sections)/ReprésentantLégal.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/informations-generales/(sections)/ReprésentantLégalDétails.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/informations-generales/InformationsGénérales.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/(sections)/AutorisationUrbanisme.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/(sections)/AutorisationUrbanismeDétails.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/(sections)/DispositifDeStockage.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/(sections)/Installateur.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/(sections)/NatureDeLExploitation.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/(sections)/NatureDeLExploitationDétails.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/(sections)/TypologieInstallation.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/installation/Installation.page.tsx
Due: eslint --fix

✨ Ajouter la date d'achèvement dans la liste des dossiers de raccordement
  packages/applications/ssr/src/app/reseaux/raccordements/DossierRaccordementListItem.tsx
  packages/domain/projet/src/lauréat/raccordement/lister/listerDossierRaccordement.query.ts
Due: eslint --fix

✨ Ajout de la puissance initiale au dépôt
  .demo/exampleCandidatsCRE4.csv
  .demo/exempleCandidatsPPE2.csv
  .demo/exempleCandidatsPPE2BatimentPériode6.csv
  .demo/exempleCandidatsPetitPV.csv
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/corrigerCandidature.action.ts
  packages/applications/ssr/src/app/candidatures/importer/(demarche-simplifiée)/importerCandidaturesParDS.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/modifierLauréat.action.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.test.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.ts
  packages/applications/ssr/src/utils/candidature/dépôt.schema.ts
  packages/domain/projet/src/candidature/dépôt.valueType.ts
  packages/domain/projet/src/candidature/importer/candidatureImportée.event.ts
  packages/specifications/src/candidature/candidature.exempleMap.ts
  packages/specifications/src/candidature/fixtures/importerCandidature.fixture.ts
Due: eslint --fix

🔥 Suppression schema non utilisé
  packages/applications/ssr/src/utils/candidature/csv/candidature.schema.test.ts
  packages/applications/ssr/src/utils/candidature/csv/candidature.schema.ts
  packages/applications/ssr/src/utils/candidature/index.ts
Due: eslint --fix

💬 Supprimer la mention 'par le système'
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(historique)/events/actuelles/mapToGarantiesFinancièresDemandéesTimelineItemsProps.tsx
Due: eslint --fix

♻️ Renommage puissance projet initial
  .demo/exampleCandidatsCRE4.csv
  .demo/exempleCandidatsPPE2.csv
  .demo/exempleCandidatsPPE2BatimentPériode6.csv
  .demo/exempleCandidatsPetitPV.csv
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/corrigerCandidature.action.ts
  packages/applications/ssr/src/app/candidatures/importer/(demarche-simplifiée)/importerCandidaturesParDS.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/modifierLauréat.action.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.test.ts
  packages/applications/ssr/src/utils/candidature/csv/candidatureCsv.schema.ts
  packages/applications/ssr/src/utils/candidature/dépôt.schema.ts
  packages/domain/projet/src/candidature/dépôt.valueType.ts
  packages/domain/projet/src/candidature/importer/candidatureImportée.event.ts
  packages/specifications/src/candidature/candidature.exempleMap.ts
  packages/specifications/src/candidature/fixtures/importerCandidature.fixture.ts
Due: eslint --fix

🐛 Affichage page GF sans GF (#3825)
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/DétailsGarantiesFinancières.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/components/GarantiesFinancièresManquantes.tsx
Due: eslint --fix

✨ Ajouter la date d'achèvement dans la liste des dossiers de raccordement (#3827)
  packages/applications/ssr/src/app/reseaux/raccordements/DossierRaccordementListItem.tsx
  packages/domain/projet/src/lauréat/raccordement/lister/listerDossierRaccordement.query.ts
Due: eslint --fix

💬 Supprimer la mention 'par le système' (#3828)
  packages/applications/ssr/src/app/laureats/[identifiant]/garanties-financieres/(historique)/events/actuelles/mapToGarantiesFinancièresDemandéesTimelineItemsProps.tsx
Due: eslint --fix

simplification bouton mainlevée
  packages/applications/ssr/src/app/garanties-financieres/demandes-mainlevee-en-cours/ListItemDemandeMainlevée.tsx
  packages/applications/ssr/src/app/garanties-financieres/demandes-mainlevee-en-cours/page.tsx
Due: eslint --fix

🐛 Annuler la tâche PP de demande de GFs en cas d'abandon
  packages/domain/projet/src/lauréat/abandon/abandon.aggregate.ts
  packages/specifications/src/projet/lauréat/abandon/accorderAbandon.feature
Due: eslint --fix, prettier -w

🎨 Simplification bouton mainlevée (#3829)
  packages/applications/ssr/src/app/garanties-financieres/demandes-mainlevee-en-cours/ListItemDemandeMainlevée.tsx
  packages/applications/ssr/src/app/garanties-financieres/demandes-mainlevee-en-cours/page.tsx
Due: eslint --fix

mise à jour react pdf
  package-lock.json
  packages/applications/document-builder/package.json
  packages/specifications/src/période/notifierPériode.feature
Due: eslint --fix, prettier -w

✅ Suppression tâches et tâches planifiées à la transmission de la date d'achèvement
  packages/domain/projet/src/lauréat/achèvement/achèvement.aggregate.ts
  packages/specifications/src/projet/lauréat/achèvement/transmettreDateAchèvement.feature
  packages/specifications/src/tâche-planifiée/tâchePlanifiée.world.ts
Due: eslint --fix, prettier -w

🐛 Accorder une mainlevée retirer le projet de la liste des GF en attente
  packages/applications/projectors/src/subscribers/lauréat/garanties-financières/mainlevée/demandeMainlevéeGarantiesFinancièresAccordée.projector.ts
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/accorderDemandeMainlevéeGarantiesFinancières.feature
Due: eslint --fix, prettier -w

♻️ Refactor specs
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/accorderDemandeMainlevéeGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/stepDefinitions/mainlevéeGarantiesFinancières.given.ts
  packages/specifications/src/tâche-planifiée/stepDefinitions/tâchePlanifiée.when.ts
Due: eslint --fix, prettier -w

💬 Titre
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/accorderDemandeMainlevéeGarantiesFinancières.feature
Due: prettier -w

⬆️ Mises à jour de sécurité
  package-lock.json
  packages/applications/legacy/package.json
Due: eslint --fix, prettier -w

retrait droit consultation changement actionnaire et puissance
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

alerte raccordement iso legacy
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/Raccordement.section.tsx
Due: eslint --fix

retrait menu utilisateur pour ademe et caisse des depots
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getLauréatMenuItems.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/utilisateurs/page.tsx
  packages/applications/ssr/src/components/organisms/accès/(inviter)/inviterPorteur.action.ts
  packages/domain/utilisateur/src/role.valueType.ts
Due: eslint --fix

ajout transmettre attestation conformité
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getLauréatMenuItems.tsx
Due: eslint --fix

petite erreur
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/_helpers/getLauréatMenuItems.tsx
Due: eslint --fix

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
