Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

🎨 Récupérer le script de migration précédent
  packages/applications/scheduled-tasks/src/candidature/getLocalité.ts
  packages/applications/scheduled-tasks/src/candidature/getRégionAndDépartementFromCodePostal.ts
  packages/applications/scheduled-tasks/src/candidature/migrate-project-import-events.ts
Due: eslint --fix

🎨 Retirer données d'identification redondantes
  packages/applications/scheduled-tasks/src/candidature/migrate-project-import-events.ts
Due: eslint --fix

🐛 Corriger statut lors du réimport
  packages/applications/scheduled-tasks/src/candidature/migrate-project-import-events.ts
Due: eslint --fix

✨ Notification lauréat lors d'un recours accepté (#2252)
  package-lock.json
  packages/applications/bootstrap/src/setupEliminé.ts
  packages/applications/bootstrap/src/setupLauréat.ts
  packages/applications/legacy/src/sagas/lauréat.saga.ts
  packages/applications/legacy/src/views/components/UI/atoms/SecondaryLinkButton.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectActions.tsx
  packages/applications/projectors/src/subscribers/éliminé/éliminé.projector.ts
  packages/applications/ssr/src/app/candidatures/[identifiant]/telecharger-attestation/route.ts
  packages/domain/lauréat/package.json
  packages/domain/lauréat/src/lauréat.saga.ts
  packages/domain/lauréat/src/lauréat.ts
  packages/domain/lauréat/tsconfig.json
  packages/domain/utilisateur/src/role.valueType.ts
  packages/domain/éliminé/src/archiver/archiverÉliminé.behavior.ts
  packages/domain/éliminé/src/archiver/archiverÉliminé.command.ts
  packages/domain/éliminé/src/recours/accorder/accorderRecours.usecase.ts
  packages/domain/éliminé/src/recours/index.ts
  packages/domain/éliminé/src/register.ts
  packages/domain/éliminé/src/éliminé.aggregate.ts
  packages/domain/éliminé/src/éliminé.ts
  packages/specifications/src/projet/éliminé/stepDefinitions/éliminé.given.ts
Due: eslint --fix, prettier -w

✨ Ajout menu recours pointant sur l'app SSR
  packages/applications/legacy/src/controllers/modificationRequest/postRequestModification.ts
  packages/applications/legacy/src/infra/sequelize/projectionsNext/modificationRequest/modificationRequest.model.ts
  packages/applications/legacy/src/infra/sequelize/projectionsNext/modificationRequest/updates/onLegacyModificationImported.integration.ts
  packages/applications/legacy/src/infra/sequelize/projectionsNext/modificationRequest/updates/onLegacyModificationImported.ts
  packages/applications/legacy/src/infra/sequelize/projectionsNext/projectEvents/updates/onLegacyModificationImported.integration.ts
  packages/applications/legacy/src/infra/sequelize/projectionsNext/projectEvents/updates/onLegacyModificationImported.ts
  packages/applications/legacy/src/infra/sequelize/queries/modificationRequest/getModificationRequestListForAdmin.integration.ts
  packages/applications/legacy/src/infra/sequelize/queries/modificationRequest/getModificationRequestListForAdmin.ts
  packages/applications/legacy/src/infra/sequelize/queries/modificationRequest/getModificationRequestListForPorteur.integration.ts
  packages/applications/legacy/src/infra/sequelize/queries/modificationRequest/getModificationRequestListForPorteur.ts
  packages/applications/legacy/src/modules/modificationRequest/dtos/LegacyModificationDTO.ts
  packages/applications/legacy/src/modules/modificationRequest/dtos/ModificationRequestListItemDTO.ts
  packages/applications/legacy/src/modules/modificationRequest/events/ModificationRequested.ts
  packages/applications/legacy/src/modules/project/utils/parseProjectModifications.spec.ts
  packages/applications/legacy/src/modules/project/utils/parseProjectModifications.ts
  packages/applications/legacy/src/useCases/index.ts
  packages/applications/legacy/src/useCases/requestModification.spec.ts
  packages/applications/legacy/src/useCases/requestModification.ts
  packages/applications/legacy/src/views/components/RequestList.tsx
  packages/applications/legacy/src/views/components/UI/organisms/UserNavigation.tsx
  packages/applications/legacy/src/views/pages/modificationRequestListPage/ModificationRequestList.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectActions.tsx
  packages/applications/ssr/src/app/elimine/[identifiant]/recours/demander/page.tsx
  packages/applications/ssr/src/app/elimine/[identifiant]/recours/page.tsx
  packages/applications/ssr/src/app/recours/page.tsx
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
Due: eslint --fix

🐛 Correction PPE2 - Bâtiment 2
  packages/applications/scheduled-tasks/src/candidature/migrate-project-import-events.ts
Due: eslint --fix

✨ Permettre d'ajouter des destinataires en copie et copie cachée (#2242)
  packages/applications/notifications/src/sendEmail.ts
  packages/applications/notifications/src/subscribers/lauréat/abandon.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/achèvement.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/garantiesFinancières.notification.ts
  packages/applications/notifications/src/subscribers/lauréat/tâchePlanifiée.notification.ts
  packages/applications/notifications/src/subscribers/éliminé/recours.notification.ts
  packages/infrastructure/email/src/sendEmail.ts
Due: eslint --fix

🐛 Fix type
  packages/applications/scheduled-tasks/src/candidature/getLocalité.ts
Due: eslint --fix

🐛 Corriger statut lors du réimport des candiatures (#2254)
  packages/applications/scheduled-tasks/src/candidature/getLocalité.ts
  packages/applications/scheduled-tasks/src/candidature/getRégionAndDépartementFromCodePostal.ts
  packages/applications/scheduled-tasks/src/candidature/migrate-project-import-events.ts
Due: eslint --fix

Revert "🐛 Corriger statut lors du réimport des candiatures (#2254)"
  packages/applications/scheduled-tasks/src/candidature/getLocalité.ts
  packages/applications/scheduled-tasks/src/candidature/getRégionAndDépartementFromCodePostal.ts
  packages/applications/scheduled-tasks/src/candidature/migrate-project-import-events.ts
Due: eslint --fix

✏️ Change l'ordre du menu
  packages/applications/legacy/src/views/components/UI/organisms/UserNavigation.tsx
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
Due: eslint --fix

✏️ Change l'ordre du menu (#2256)
  packages/applications/legacy/src/views/components/UI/organisms/UserNavigation.tsx
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
Due: eslint --fix

♻️ Refacto menu item
  packages/applications/legacy/src/views/components/UI/organisms/UserNavigation.tsx
Due: eslint --fix

🔥 Supprimer les scripts de la correction des statuts de candidature (#2255)
  packages/applications/scheduled-tasks/src/candidature/getLocalité.ts
  packages/applications/scheduled-tasks/src/candidature/getRégionAndDépartementFromCodePostal.ts
  packages/applications/scheduled-tasks/src/candidature/migrate-project-import-events.ts
Due: eslint --fix

✨ Mise à jour d'une clé d'une projection
  packages/applications/projectors/src/infrastructure/updateProjection.ts
Due: eslint --fix

set up test
  packages/specifications/src/raccordement/stepDefinitions/raccordement.when.ts
  packages/specifications/src/raccordement/transmettreDemandeComplèteDeRaccordement.feature
Due: eslint --fix, prettier -w

✨ Mise à jour d'une clé d'une projection (#2248)
  packages/applications/projectors/src/infrastructure/updateProjection.ts
Due: eslint --fix

✅ Test ok
  packages/domain/réseau/src/raccordement/transmettre/transmettreDemandeComplèteRaccordement.behavior.ts
  packages/domain/réseau/src/raccordement/transmettre/transmettreDemandeComplèteRaccordement.command.ts
Due: eslint --fix

🎨 Afficher alerte page + cacher bouton si recours en cours
  packages/applications/legacy/src/controllers/project/getProjectPage.ts
  packages/applications/legacy/src/modules/project/queries/GetProjectDataForProjectPage.ts
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectActions.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectHeader.tsx
Due: eslint --fix

🚧 Ajout du script + lire les identifiants projets
  .gitignore
  packages/applications/scheduled-tasks/package.json
  packages/applications/scheduled-tasks/projets-non-trouvés.txt
  packages/applications/scheduled-tasks/src/garanties-financières/récupérer-fichier-gf-candidature-référentiel-dgec.ts
Due: eslint --fix, prettier -w

🎨 Synchroniser les fichiers gf fournies à la dgec lors de la candidature
  packages/applications/scheduled-tasks/src/garanties-financières/récupérer-fichier-gf-candidature-référentiel-dgec.ts
Due: eslint --fix

🎨 Remove gitignore adds
  .gitignore
Due: none

🎨 Ajout statistics projet inconnu
  docker-compose.yml
  packages/applications/scheduled-tasks/src/garanties-financières/récupérer-fichier-gf-candidature-référentiel-dgec.ts
Due: eslint --fix, prettier -w

🎨 Format project id
  packages/applications/scheduled-tasks/src/garanties-financières/récupérer-fichier-gf-candidature-référentiel-dgec.ts
Due: eslint --fix

🎨 Add more statistics
  packages/applications/scheduled-tasks/src/garanties-financières/récupérer-fichier-gf-candidature-référentiel-dgec.ts
Due: eslint --fix

🐛 Fix accents
  packages/applications/scheduled-tasks/src/garanties-financières/récupérer-fichier-gf-candidature-référentiel-dgec.ts
Due: eslint --fix

✨ Check S3 variables
  packages/applications/scheduled-tasks/src/garanties-financières/récupérer-fichier-gf-candidature-référentiel-dgec.ts
Due: eslint --fix

🎨 Utilisatio email aopv
  packages/applications/scheduled-tasks/src/garanties-financières/récupérer-fichier-gf-candidature-référentiel-dgec.ts
Due: eslint --fix

✨ Script migration recours (#2202)
  packages/applications/scheduled-tasks/package.json
Due: eslint --fix, prettier -w

🚧 Ajout du script + lire les identifiants projets
  .gitignore
  packages/applications/scheduled-tasks/src/garanties-financières/récupérer-fichier-gf-candidature-référentiel-dgec.ts
Due: eslint --fix

🎨 Utilisation de la date de notification de la période comme date de constitution pour les GFs créées
  packages/applications/scheduled-tasks/src/garanties-financières/récupérer-fichier-gf-candidature-référentiel-dgec.ts
Due: eslint --fix

🔥 Remove file
  packages/applications/scheduled-tasks/projets-non-trouvés.txt
Due: none

🎨 Detect et convert encoding
  package-lock.json
  packages/applications/scheduled-tasks/package.json
  packages/applications/scheduled-tasks/src/garanties-financières/récupérer-fichier-gf-candidature-référentiel-dgec.ts
Due: eslint --fix, prettier -w

⏪️ Redd docker compose volume config
  docker-compose.yml
Due: eslint --fix, prettier -w

🎨 retours de review
  .gitignore
  packages/applications/scheduled-tasks/src/_utils/constant.ts
  packages/applications/scheduled-tasks/src/garanties-financières/récupérer-fichier-gf-candidature-référentiel-dgec.ts
  packages/applications/scheduled-tasks/src/recours/migrate-events-for-recours.ts
Due: eslint --fix

✅ WIP
  packages/domain/réseau/src/raccordement/transmettre/transmettreDemandeComplèteRaccordement.command.ts
  packages/specifications/src/raccordement/stepDefinitions/raccordement.when.ts
  packages/specifications/src/raccordement/transmettreDemandeComplèteDeRaccordement.feature
Due: eslint --fix, prettier -w

🧑‍💻 Optimisation du commit hook gitmoji
  .husky/prepare-commit-msg
Due: none

✨ Ajout menu recours pointant sur l'app SSR (#2245)
  packages/applications/legacy/src/controllers/modificationRequest/postRequestModification.ts
  packages/applications/legacy/src/controllers/project/getProjectPage.ts
  packages/applications/legacy/src/infra/sequelize/projectionsNext/modificationRequest/modificationRequest.model.ts
  packages/applications/legacy/src/infra/sequelize/projectionsNext/modificationRequest/updates/onLegacyModificationImported.integration.ts
  packages/applications/legacy/src/infra/sequelize/projectionsNext/modificationRequest/updates/onLegacyModificationImported.ts
  packages/applications/legacy/src/infra/sequelize/projectionsNext/projectEvents/updates/onLegacyModificationImported.integration.ts
  packages/applications/legacy/src/infra/sequelize/projectionsNext/projectEvents/updates/onLegacyModificationImported.ts
  packages/applications/legacy/src/infra/sequelize/queries/modificationRequest/getModificationRequestListForAdmin.integration.ts
  packages/applications/legacy/src/infra/sequelize/queries/modificationRequest/getModificationRequestListForAdmin.ts
  packages/applications/legacy/src/infra/sequelize/queries/modificationRequest/getModificationRequestListForPorteur.integration.ts
  packages/applications/legacy/src/infra/sequelize/queries/modificationRequest/getModificationRequestListForPorteur.ts
  packages/applications/legacy/src/modules/modificationRequest/dtos/LegacyModificationDTO.ts
  packages/applications/legacy/src/modules/modificationRequest/dtos/ModificationRequestListItemDTO.ts
  packages/applications/legacy/src/modules/modificationRequest/events/ModificationRequested.ts
  packages/applications/legacy/src/modules/project/queries/GetProjectDataForProjectPage.ts
  packages/applications/legacy/src/modules/project/utils/parseProjectModifications.spec.ts
  packages/applications/legacy/src/modules/project/utils/parseProjectModifications.ts
  packages/applications/legacy/src/useCases/index.ts
  packages/applications/legacy/src/useCases/requestModification.spec.ts
  packages/applications/legacy/src/useCases/requestModification.ts
  packages/applications/legacy/src/views/components/RequestList.tsx
  packages/applications/legacy/src/views/components/UI/organisms/UserNavigation.tsx
  packages/applications/legacy/src/views/pages/modificationRequestListPage/ModificationRequestList.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectActions.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/components/ProjectHeader.tsx
  packages/applications/ssr/src/app/elimine/[identifiant]/recours/demander/page.tsx
  packages/applications/ssr/src/app/elimine/[identifiant]/recours/page.tsx
  packages/applications/ssr/src/app/recours/page.tsx
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
Due: eslint --fix

🧑‍💻 Optimisation du commit hook gitmoji (#2260)
  .husky/prepare-commit-msg
Due: none

🎨 Récupérer les attestations des GFs fournies à la DGEC lors de la candidature des projets (#2176)
  package-lock.json
  packages/applications/scheduled-tasks/package.json
  packages/applications/scheduled-tasks/src/_utils/constant.ts
  packages/applications/scheduled-tasks/src/garanties-financières/récupérer-fichier-gf-candidature-référentiel-dgec.ts
  packages/applications/scheduled-tasks/src/recours/migrate-events-for-recours.ts
Due: eslint --fix, prettier -w

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
