Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

.lintstagedrc:

{
  "*.{js,ts,jsx,tsx,json,md,yml,yaml}": "eslint --fix",
  "*.{json,yml,yaml,feature}": "prettier -w"
}

Ponctuation
  packages/applications/document-builder/src/synthèsePériode/Introduction.tsx
  packages/applications/document-builder/src/synthèsePériode/synthèsePériode.stories.tsx
Due: eslint --fix

Affichage noms longs avec tirets
  packages/applications/document-builder/src/synthèsePériode/TableauLauréatsPériode.tsx
  packages/applications/document-builder/src/synthèsePériode/synthèsePériode.stories.tsx
Due: eslint --fix

Text aligné à gauche à la demande générale
  packages/applications/document-builder/src/synthèsePériode/TableauLauréatsPériode.tsx
Due: eslint --fix

lint
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/_helpers/getDemandeComplèteDeRaccordementActions.ts
Due: eslint --fix

⬆️ Upgrade dependencies (npm audit) + add missing peer-dependencies
  package-lock.json
  packages/applications/api-documentation/package.json
  packages/applications/ssr/package.json
  packages/infrastructure/dn-api-client/package.json
  packages/infrastructure/email/package.json
  packages/libraries/monitoring/package.json
Due: eslint --fix, prettier -w

Ajout info
  packages/applications/ssr/src/app/periodes/PériodeListItem.tsx
Due: eslint --fix

Export csv candidats : colonne en doublon (#4454)
  packages/applications/ssr/src/app/candidatures/export/route.ts
Due: eslint --fix

correction bug periode sans lauréat
  packages/applications/document-builder/src/synthèsePériode/SynthèsePériode.tsx
  packages/applications/ssr/src/app/periodes/telecharger-synthese-periode/route.ts
Due: eslint --fix

💄Synthèse périodes (#4456)
  packages/applications/document-builder/src/synthèsePériode/Introduction.tsx
  packages/applications/document-builder/src/synthèsePériode/SynthèsePériode.tsx
  packages/applications/document-builder/src/synthèsePériode/TableauLauréatsPériode.tsx
  packages/applications/document-builder/src/synthèsePériode/synthèsePériode.stories.tsx
  packages/applications/ssr/src/app/periodes/PériodeListItem.tsx
  packages/applications/ssr/src/app/periodes/telecharger-synthese-periode/route.ts
Due: eslint --fix

🐛 Retours raccordement dreal (#4452)
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(demande-complète-raccordement)/InformationDemandeComplèteRaccordement.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(demande-complète-raccordement)/demande-complete-raccordement:modifier/ModifierDemandeComplèteRaccordement.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(demande-complète-raccordement)/demande-complete-raccordement:modifier/ModifierDemandeComplèteRaccordement.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(demande-complète-raccordement)/demande-complete-raccordement:modifier/modifierDemandeComplèteRaccordement.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/(demande-complète-raccordement)/demande-complete-raccordement:modifier/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/date-mise-en-service/DateMiseEnServiceAlert.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/date-mise-en-service/modifier/ModifierDateMiseEnService.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/date-mise-en-service/transmettre/TransmettreDateMiseEnService.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/reference:corriger/CorrigerRéférenceDossier.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/reference:corriger/CorrigerRéférenceDossierRaccordement.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/reference:corriger/CorrigerRéférenceDossierRaccordement.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/reference:corriger/corrigerRéférenceDossierRaccordement.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/reference:corriger/page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/components/RéférenceDossierInput.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/demande-complete-raccordement:transmettre/TransmettreDemandeComplèteRaccordement.form.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/demande-complete-raccordement:transmettre/TransmettreDemandeComplèteRaccordement.page.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(raccordement-du-projet)/(détails)/_helpers/getDemandeComplèteDeRaccordementActions.ts
  packages/domain/utilisateur/src/role.valueType.ts
  packages/specifications/src/projet/lauréat/raccordement/demandeComplèteDeRaccordement/modifierRéférenceDemandeComplèteDeRaccordement.feature
Due: eslint --fix, prettier -w

✨ Un cocontractant peut corriger une date d'achèvement réel (#4440)
  packages/applications/cli/src/commands/achèvement/transmission-date-achevement-reel-edf-oa.ts
  packages/applications/notifications/src/subscribers/lauréat/achèvement/achèvement.notifications.ts
  packages/applications/projectors/src/subscribers/lauréat/achèvement/dateAchèvementCorrigée.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/achèvement/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/(historique)/events/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/(historique)/events/mapToDateAchèvementCorrigéeTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/(historique)/mapToAchèvementTimelineItemProps.tsx
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupAchèvement.ts
  packages/domain/common/src/valueTypes/dateTime.valueType.ts
  packages/domain/common/src/valueTypes/email.valueType.ts
  packages/domain/projet/src/identifiantProjet.valueType.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.aggregate.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.error.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.event.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.register.ts
  packages/domain/projet/src/lauréat/achèvement/corriger/corrigerDateAchèvement.command.ts
  packages/domain/projet/src/lauréat/achèvement/corriger/corrigerDateAchèvement.event.ts
  packages/domain/projet/src/lauréat/achèvement/corriger/corrigerDateAchèvement.option.ts
  packages/domain/projet/src/lauréat/achèvement/corriger/corrigerDateAchèvement.usecase.ts
  packages/domain/projet/src/lauréat/achèvement/index.ts
  packages/specifications/src/projet/lauréat/achèvement/achèvement.world.ts
  packages/specifications/src/projet/lauréat/achèvement/corrigerDateAchèvement.feature
  packages/specifications/src/projet/lauréat/achèvement/fixture/corrigerDateAchèvement.fixture.ts
  packages/specifications/src/projet/lauréat/achèvement/stepDefinitions/achèvement.given.ts
  packages/specifications/src/projet/lauréat/achèvement/stepDefinitions/achèvement.then.ts
  packages/specifications/src/projet/lauréat/achèvement/stepDefinitions/achèvement.when.ts
  packages/specifications/src/projet/lauréat/achèvement/transmettreDateAchèvementRéel.feature
Due: eslint --fix, prettier -w

💬 Rename steps instruction recours
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
  packages/specifications/src/projet/éliminé/recours/rejeterRecours.feature
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.when.ts
Due: eslint --fix, prettier -w

✨ Ajoute d'un date "date d'accord" pour spécifier la date d'accord du recours
  packages/applications/cli/src/commands/files/seed.ts
  packages/applications/notifications/src/subscribers/éliminé/recours/handlers/recoursAccordé.handler.ts
  packages/applications/notifications/src/subscribers/éliminé/recours/recours.notifications.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/index.ts
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursAccordé.projector.ts
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(historique)/events/mapToRecoursAccordéTimelineItemProps.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(historique)/mapToRecoursTimelineItemProps.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/[date]/accorder/AccorderRecours.form.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/[date]/accorder/accorderRecours.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/historique/page.tsx
  packages/applications/ssr/src/components/atoms/form/InputDate.tsx
  packages/applications/subscribers/src/setup/setupProjet/setupÉliminé/setupRecours.ts
  packages/domain/projet/src/éliminé/recours/accorder/accorderRecours.command.ts
  packages/domain/projet/src/éliminé/recours/accorder/accorderRecours.usecase.ts
  packages/domain/projet/src/éliminé/recours/accorder/recoursAccordé.event.ts
  packages/domain/projet/src/éliminé/recours/accorder/recoursAccordé.options.ts
  packages/domain/projet/src/éliminé/recours/demandeRecours.entity.ts
  packages/domain/projet/src/éliminé/recours/index.ts
  packages/domain/projet/src/éliminé/recours/recours.aggregate.ts
  packages/domain/projet/src/éliminé/recours/recours.event.ts
  packages/specifications/src/projet/éliminé/recours/fixtures/accorderRecours.fixture.ts
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.given.ts
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.when.ts
Due: eslint --fix

✅ Impossible d'accorder le recours d'un projet éliminé avec une date d'accord dans le futur
  packages/domain/projet/src/éliminé/recours/recours.aggregate.ts
  packages/domain/projet/src/éliminé/recours/recours.error.ts
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.when.ts
Due: eslint --fix, prettier -w

✅ Impossible d'accorder le recours d'un projet éliminé avec une date d'accord antérieure à la date de notification du projet
  packages/domain/projet/src/éliminé/recours/recours.aggregate.ts
  packages/domain/projet/src/éliminé/recours/recours.error.ts
  packages/domain/projet/src/éliminé/éliminé.aggregate.ts
  packages/domain/projet/src/éliminé/éliminé.error.ts
  packages/specifications/src/projet/éliminé/recours/accorderRecours.feature
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.when.ts
Due: eslint --fix, prettier -w

💬 Wording hinttext
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/[date]/accorder/AccorderRecours.form.tsx
Due: eslint --fix

🎨 Set min dateNotification projet in accorderRecours form
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/[date]/DétailsRecours.page.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/[date]/accorder/AccorderRecours.form.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/[date]/page.tsx
Due: eslint --fix

dateRéponseSignée
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/(historique)/events/mapToRecoursAccordéTimelineItemProps.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/[date]/accorder/AccorderRecours.form.tsx
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/[date]/accorder/accorderRecours.action.ts
  packages/domain/projet/src/éliminé/recours/accorder/accorderRecours.command.ts
  packages/domain/projet/src/éliminé/recours/accorder/accorderRecours.usecase.ts
  packages/domain/projet/src/éliminé/recours/accorder/recoursAccordé.event.ts
  packages/domain/projet/src/éliminé/recours/accorder/recoursAccordé.options.ts
  packages/domain/projet/src/éliminé/recours/recours.aggregate.ts
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.when.ts
Due: eslint --fix

fixup! dateRéponseSignée
  packages/applications/projectors/src/subscribers/éliminé/recours/recoursAccordé.projector.ts
  packages/domain/projet/src/éliminé/recours/consulter/consulterRecours.query.ts
  packages/domain/projet/src/éliminé/recours/demandeRecours.entity.ts
  packages/specifications/src/projet/lauréat/lauréat.world.ts
  packages/specifications/src/projet/éliminé/recours/fixtures/accorderRecours.fixture.ts
  packages/specifications/src/projet/éliminé/recours/recours.world.ts
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.given.ts
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.when.ts
Due: eslint --fix

fix bug recours accordé inaccessible
  packages/applications/ssr/src/app/elimines/[identifiant]/recours/[date]/page.tsx
Due: eslint --fix

affichage date réponse signée frise
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/ÉtapesProjet.section.tsx
Due: eslint --fix

date notification
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/ÉtapesProjet.section.tsx
  packages/domain/projet/src/éliminé/recours/consulter/consulterRecours.query.ts
  packages/specifications/src/projet/éliminé/recours/stepDefinitions/recours.when.ts
Due: eslint --fix

✨ Un cocontractant peut corriger une date d'achèvement réel (#4440) (#4458)
  packages/applications/cli/src/commands/achèvement/transmission-date-achevement-reel-edf-oa.ts
  packages/applications/notifications/src/subscribers/lauréat/achèvement/achèvement.notifications.ts
  packages/applications/projectors/src/subscribers/lauréat/achèvement/dateAchèvementCorrigée.projector.ts
  packages/applications/projectors/src/subscribers/lauréat/achèvement/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/(historique)/events/index.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/(historique)/events/mapToDateAchèvementCorrigéeTimelineItemProps.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/achevement/(historique)/mapToAchèvementTimelineItemProps.tsx
  packages/applications/subscribers/src/setup/setupProjet/setupLauréat/setupAchèvement.ts
  packages/domain/common/src/valueTypes/dateTime.valueType.ts
  packages/domain/common/src/valueTypes/email.valueType.ts
  packages/domain/projet/src/identifiantProjet.valueType.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.aggregate.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.error.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.event.ts
  packages/domain/projet/src/lauréat/achèvement/achèvement.register.ts
  packages/domain/projet/src/lauréat/achèvement/corriger/corrigerDateAchèvement.command.ts
  packages/domain/projet/src/lauréat/achèvement/corriger/corrigerDateAchèvement.event.ts
  packages/domain/projet/src/lauréat/achèvement/corriger/corrigerDateAchèvement.option.ts
  packages/domain/projet/src/lauréat/achèvement/corriger/corrigerDateAchèvement.usecase.ts
  packages/domain/projet/src/lauréat/achèvement/index.ts
  packages/specifications/src/projet/lauréat/achèvement/achèvement.world.ts
  packages/specifications/src/projet/lauréat/achèvement/corrigerDateAchèvement.feature
  packages/specifications/src/projet/lauréat/achèvement/fixture/corrigerDateAchèvement.fixture.ts
  packages/specifications/src/projet/lauréat/achèvement/stepDefinitions/achèvement.given.ts
  packages/specifications/src/projet/lauréat/achèvement/stepDefinitions/achèvement.then.ts
  packages/specifications/src/projet/lauréat/achèvement/stepDefinitions/achèvement.when.ts
  packages/specifications/src/projet/lauréat/achèvement/transmettreDateAchèvementRéel.feature
Due: eslint --fix, prettier -w

badge et wording
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/Raccordement.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/RaccordementDétails.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/events/gestionnaire-réseau/mapToGestionnaireRéseauRaccordementModifiéTimelineItemProps.tsx
Due: eslint --fix

✨ badge et wording raccordement (#4459)
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/Raccordement.section.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/(sections)/RaccordementDétails.tsx
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(historique)/events/gestionnaire-réseau/mapToGestionnaireRéseauRaccordementModifiéTimelineItemProps.tsx
Due: eslint --fix

Retirer le volume réservé des champs supplémentaires d'un AO
  packages/applications/cli/src/commands/candidature/lister-dossiers.ts
  packages/applications/ssr/src/app/candidatures/[identifiant]/corriger/corrigerCandidature.action.ts
  packages/applications/ssr/src/app/candidatures/importer/(demarche-simplifiée)/ImporterCandidaturesParDémarcheNumérique.form.tsx
  packages/applications/ssr/src/app/candidatures/importer/(demarche-simplifiée)/importerCandidaturesParDémarcheNumérique.action.ts
  packages/applications/ssr/src/app/laureats/[identifiant]/(détails)/modifier/modifierLauréat.action.ts
  packages/applications/ssr/src/utils/candidature/csv/récupérerColonnesRequises.ts
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/batiment.ppe2.ts
  packages/domain/inmemory-referential/src/appelOffre/PPE2/sol.ppe2.ts
  packages/domain/projet/src/candidature/candidature.aggregate.ts
  packages/domain/projet/src/candidature/candidature.error.ts
  packages/specifications/src/candidature/fixtures/importerCandidature.fixture.ts
  packages/specifications/src/candidature/importerCandidature.feature
  packages/specifications/src/candidature/stepDefinitions/candidature.given.ts
  packages/specifications/src/helpers/getPériodeData.ts
  packages/specifications/src/helpers/index.ts
Due: eslint --fix, prettier -w

migration : mettre à jour tous les projets des périodes avec volume réservé
  packages/applications/cli/src/commands/candidature/migrer-volume-reserve.ts
Due: eslint --fix

Afficher volume réservé sur la candidature
  packages/applications/ssr/src/app/candidatures/[identifiant]/DétailsCandidature.page.tsx
Due: eslint --fix

update dump (migration et rebuild de candidature)
  .database/potentiel-dev.dump
Due: none

Fix tests
  packages/applications/ssr/src/utils/candidature/csv/récupérerColonnesRequises.test.ts
  packages/specifications/src/candidature/fixtures/importerCandidature.fixture.ts
Due: eslint --fix

Mise à jour des csv de test
  .demo/exampleCandidatsCRE4.csv
  .demo/exempleCandidatsPPE2.csv
  .demo/exempleCandidatsPetitPV.csv
Due: none

typo
  packages/domain/projet/src/candidature/candidature.error.ts
Due: eslint --fix

update test : ajout step candidature éliminée
  packages/specifications/src/candidature/importerCandidature.feature
  packages/specifications/src/candidature/stepDefinitions/candidature.given.ts
  packages/specifications/src/candidature/stepDefinitions/candidature.when.ts
Due: eslint --fix, prettier -w

review
  packages/specifications/src/candidature/importerCandidature.feature
Due: prettier -w

volume réservé false pour les projets éliminés
  .database/potentiel-dev.dump
  packages/applications/cli/src/commands/candidature/migrer-volume-reserve.ts
  packages/applications/ssr/src/app/candidatures/importer/(demarche-simplifiée)/importerCandidaturesParDémarcheNumérique.action.ts
  packages/domain/projet/src/candidature/candidature.aggregate.ts
  packages/domain/projet/src/candidature/candidature.error.ts
  packages/specifications/src/candidature/importerCandidature.feature
Due: eslint --fix, prettier -w

afficher erreur sur la correction + simplification erreur
  packages/applications/ssr/src/app/laureats/[identifiant]/raccordements/(dossier-de-raccordement)/[reference]/reference:corriger/corrigerRéférenceDossierRaccordement.action.ts
  packages/applications/ssr/src/utils/candidature/dépôt.schema.ts
Due: eslint --fix

fix test
  packages/applications/ssr/src/utils/candidature/dépôt.schema.test.ts
Due: eslint --fix

margin to prevent glitch
  packages/applications/ssr/src/components/molecules/ListPageActions.tsx
Due: eslint --fix

Fix tests
  packages/specifications/src/candidature/fixtures/importerCandidature.fixture.ts
Due: eslint --fix

resolution naive
  packages/applications/ssr/src/app/utilisateurs/(liste)/page.tsx
Due: eslint --fix
