Repository MTES-MCT/potentiel: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier -w

⚰️ Suppression de la page d'abonnement à la newsletter
  packages/applications/legacy/src/controllers/helpers/convertNodeJSReadableStreamToReadableStream.ts
  packages/applications/legacy/src/controllers/helpers/index.ts
  packages/applications/legacy/src/controllers/helpers/isSoumisAuxGF.ts
  packages/applications/legacy/src/controllers/helpers/mapCsvYupValidationErrorToCsvErrors.ts
  packages/applications/legacy/src/controllers/index.ts
  packages/applications/legacy/src/controllers/lettreInformation/getPageAbonnementLettreInformation.ts
  packages/applications/legacy/src/controllers/lettreInformation/index.ts
  packages/applications/legacy/src/controllers/lettreInformation/postSinscrireLettreInformation.ts
  packages/applications/legacy/src/routes.ts
  packages/applications/legacy/src/views/index.ts
  packages/applications/legacy/src/views/pages/AbonnementLettreInformation.tsx
  packages/applications/legacy/src/views/pages/index.ts
Due: eslint --fix

🎨 Lien vers l'app statistiques dgec + suppression de la page legacy
  packages/applications/legacy/src/controllers/tableauxDeBord/getAdminStatistiquesPage.ts
  packages/applications/legacy/src/controllers/tableauxDeBord/index.ts
  packages/applications/legacy/src/routes.ts
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/AdminMenuLegacy.tsx
  packages/applications/legacy/src/views/index.ts
  packages/applications/legacy/src/views/pages/AdminStatistiquesPage.tsx
  packages/applications/legacy/src/views/pages/index.ts
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
Due: eslint --fix

⚰️ Suppression de la page d'abonnement à la newsletter (#3076)
  packages/applications/legacy/src/controllers/helpers/convertNodeJSReadableStreamToReadableStream.ts
  packages/applications/legacy/src/controllers/helpers/index.ts
  packages/applications/legacy/src/controllers/helpers/isSoumisAuxGF.ts
  packages/applications/legacy/src/controllers/helpers/mapCsvYupValidationErrorToCsvErrors.ts
  packages/applications/legacy/src/controllers/index.ts
  packages/applications/legacy/src/controllers/lettreInformation/getPageAbonnementLettreInformation.ts
  packages/applications/legacy/src/controllers/lettreInformation/index.ts
  packages/applications/legacy/src/controllers/lettreInformation/postSinscrireLettreInformation.ts
  packages/applications/legacy/src/routes.ts
  packages/applications/legacy/src/views/index.ts
  packages/applications/legacy/src/views/pages/AbonnementLettreInformation.tsx
  packages/applications/legacy/src/views/pages/index.ts
Due: eslint --fix

♻️ Déplacer la commande de mise à jour des GRDs dans la CLI
  cron.json
  package-lock.json
  packages/applications/cli/package.json
  packages/applications/cli/src/commands/reseau/update-gestionnaires.ts
  packages/applications/cli/src/helpers/réseau/addGRDs.ts
  packages/applications/cli/src/helpers/réseau/référencielGRD.ts
  packages/applications/cli/src/helpers/réseau/updateGRDs.ts
  packages/applications/cli/src/hooks/init/config.ts
  packages/applications/scheduled-tasks/mettre-à-jour-gestionnaire-réseau.sh
  packages/applications/scheduled-tasks/package.json
  packages/applications/scheduled-tasks/src/_utils/constant.ts
  packages/applications/scheduled-tasks/src/_utils/verifyEnvVariables.ts
  packages/applications/scheduled-tasks/src/garanties-financières/récupérer-fichier-gf-candidature-référentiel-dgec.ts
  packages/infrastructure/ore-client/src/constant.ts
  packages/infrastructure/ore-client/src/récupérerGRDParVille.ts
  packages/infrastructure/ore-client/src/récupérerTousLesGRD.ts
Due: eslint --fix, prettier -w

♻️ Déplacer la commande d'extraction des stats dans la CLI
  cron.json
  package-lock.json
  packages/applications/cli/package.json
  packages/applications/cli/src/commands/stats/extraire.ts
  packages/applications/cli/src/helpers/healthcheck.ts
  packages/applications/scheduled-tasks/extraire-données-statistiques-publiques.sh
  packages/applications/scheduled-tasks/package.json
  packages/applications/scheduled-tasks/src/statistiques-publiques/extraire-données-statistiques-publiques.ts
Due: eslint --fix, prettier -w

♻️ Déplacer la commande de relance des abandons dans la CLI
  cron.json
  packages/applications/cli/src/commands/abandon/relancer-abandon-sans-preuve.ts
  packages/applications/scheduled-tasks/package.json
  packages/applications/scheduled-tasks/relancer-abandon-sans-preuve.sh
  packages/applications/scheduled-tasks/src/abandon/relancer-abandon-sans-preuve.ts
  packages/applications/scheduled-tasks/src/déplacer-fichiers-vers-bucket-secnum.ts
Due: eslint --fix, prettier -w

♻️ Déplacer la commande de mise à jour des GRDs dans la CLI (#3078)
  cron.json
  package-lock.json
  packages/applications/cli/package.json
  packages/applications/cli/src/commands/reseau/update-gestionnaires.ts
  packages/applications/cli/src/helpers/réseau/addGRDs.ts
  packages/applications/cli/src/helpers/réseau/référencielGRD.ts
  packages/applications/cli/src/helpers/réseau/updateGRDs.ts
  packages/applications/cli/src/hooks/init/config.ts
  packages/applications/scheduled-tasks/mettre-à-jour-gestionnaire-réseau.sh
  packages/applications/scheduled-tasks/package.json
  packages/applications/scheduled-tasks/src/_utils/constant.ts
  packages/applications/scheduled-tasks/src/_utils/verifyEnvVariables.ts
  packages/applications/scheduled-tasks/src/garanties-financières/récupérer-fichier-gf-candidature-référentiel-dgec.ts
  packages/infrastructure/ore-client/src/constant.ts
  packages/infrastructure/ore-client/src/récupérerGRDParVille.ts
  packages/infrastructure/ore-client/src/récupérerTousLesGRD.ts
Due: eslint --fix, prettier -w

♻️ Déplacer la commande de relance des abandons dans la CLI
  cron.json
  package-lock.json
  packages/applications/cli/src/commands/abandon/relancer-abandon-sans-preuve.ts
  packages/applications/scheduled-tasks/package.json
  packages/applications/scheduled-tasks/relancer-abandon-sans-preuve.sh
  packages/applications/scheduled-tasks/src/abandon/relancer-abandon-sans-preuve.ts
  packages/applications/scheduled-tasks/src/déplacer-fichiers-vers-bucket-secnum.ts
Due: eslint --fix, prettier -w

♻️ Déplacer le scheduler dans la CLI
  cron.json
  package-lock.json
  packages/applications/cli/src/commands/tache-planifiee/executer.ts
  packages/applications/scheduler/package.json
  packages/applications/scheduler/scheduler.sh
  packages/applications/scheduler/src/index.ts
  packages/applications/scheduler/tsconfig.json
Due: eslint --fix, prettier -w

🎨 Lien vers l'app statistiques dgec + suppression de la page legacy (#3077)
  packages/applications/legacy/src/controllers/tableauxDeBord/getAdminStatistiquesPage.ts
  packages/applications/legacy/src/controllers/tableauxDeBord/index.ts
  packages/applications/legacy/src/routes.ts
  packages/applications/legacy/src/views/components/UI/organisms/menuLegacy/AdminMenuLegacy.tsx
  packages/applications/legacy/src/views/index.ts
  packages/applications/legacy/src/views/pages/AdminStatistiquesPage.tsx
  packages/applications/legacy/src/views/pages/index.ts
  packages/applications/ssr/src/components/molecules/UserBasedRoleNavigation.tsx
Due: eslint --fix

🐛 HealthcheckClient optionnel
  packages/applications/cli/src/commands/stats/extraire.ts
Due: eslint --fix

♻️ Déplacer la commande d'extraction des stats dans la CLI (#3079)
  cron.json
  package-lock.json
  packages/applications/cli/package.json
  packages/applications/cli/src/commands/stats/extraire.ts
  packages/applications/cli/src/helpers/healthcheck.ts
  packages/applications/scheduled-tasks/extraire-données-statistiques-publiques.sh
  packages/applications/scheduled-tasks/package.json
  packages/applications/scheduled-tasks/src/statistiques-publiques/extraire-données-statistiques-publiques.ts
Due: eslint --fix, prettier -w

⚰️ Suppression du code legacy Cahier des Charges
  packages/applications/bootstrap/src/setupProjet.ts
  packages/applications/legacy/.env.template
  packages/applications/legacy/src/config/eventHandlers/notification.eventHandlers.ts
  packages/applications/legacy/src/config/useCases.config.ts
  packages/applications/legacy/src/controllers/project/getChoisirCahierDesChargesPage.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/index.ts
  packages/applications/legacy/src/controllers/project/index.ts
  packages/applications/legacy/src/controllers/project/postChoisirCahierDesCharges.ts
  packages/applications/legacy/src/infra/sequelize/queries/project/getProjectDataForChoisirCDCPage.ts
  packages/applications/legacy/src/infra/sequelize/queries/project/index.ts
  packages/applications/legacy/src/modules/notification/eventHandlers/index.ts
  packages/applications/legacy/src/modules/notification/eventHandlers/onCahierDesChargesChoisi.ts
  packages/applications/legacy/src/modules/project/queries/GetProjectDataForChoisirCDCPage.ts
  packages/applications/legacy/src/modules/project/queries/index.ts
  packages/applications/legacy/src/modules/project/useCases/choisirCahierDesCharges.ts
  packages/applications/legacy/src/modules/project/useCases/index.ts
  packages/applications/legacy/src/routes.ts
  packages/applications/legacy/src/views/components/UI/organisms/choisirCahierDesCharges/CahierDesChargesInitial.tsx
  packages/applications/legacy/src/views/components/UI/organisms/choisirCahierDesCharges/CahierDesChargesModifiéDisponible.tsx
  packages/applications/legacy/src/views/components/UI/organisms/choisirCahierDesCharges/CahierDesChargesSélectionnable.tsx
  packages/applications/legacy/src/views/components/UI/organisms/choisirCahierDesCharges/ChoisirCahierDesChargesFormulaire.tsx
  packages/applications/legacy/src/views/components/UI/organisms/choisirCahierDesCharges/index.ts
  packages/applications/legacy/src/views/components/UI/organisms/index.ts
  packages/applications/legacy/src/views/index.ts
  packages/applications/legacy/src/views/pages/changerFournisseurPage/ChangerFournisseur.tsx
  packages/applications/legacy/src/views/pages/choisirCahierDesChargesPage/ChoisirCahierDesCharges.tsx
  packages/applications/legacy/src/views/pages/choisirCahierDesChargesPage/index.ts
  packages/applications/legacy/src/views/pages/délai/DemanderDelaiPage.tsx
  packages/applications/legacy/src/views/pages/index.ts
  packages/applications/legacy/src/views/pages/newModificationRequestPage/NewModificationRequest.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/ssr/.env.template
  packages/domain/projet/src/lauréat/cahierDesCharges/consulter/consulterCahierDesChargesChoisi.query.ts
  packages/infrastructure/domain-adapters/src/index.ts
  packages/infrastructure/domain-adapters/src/projet/consulterCahierDesChargesChoisi.adapter.ts
  packages/infrastructure/domain-adapters/src/projet/index.ts
  packages/specifications/src/setup.ts
Due: eslint --fix

💄 Lien cdc pour classe seulement
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
Due: eslint --fix

🐛 Corriger l'affichage du filtre preuve de recandidature
  packages/applications/ssr/src/app/abandons/page.tsx
Due: eslint --fix

🐛 Fix test flaky sur modifier puissance
  packages/specifications/src/projet/lauréat/puissance/changement/demanderChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/modifierPuissance.feature
Due: prettier -w

♻️ Déplacer la commande de relance des abandons dans la CLI (#3080)
  cron.json
  package-lock.json
  packages/applications/cli/src/commands/abandon/relancer-abandon-sans-preuve.ts
  packages/applications/scheduled-tasks/package.json
  packages/applications/scheduled-tasks/relancer-abandon-sans-preuve.sh
  packages/applications/scheduled-tasks/src/abandon/relancer-abandon-sans-preuve.ts
  packages/applications/scheduled-tasks/src/déplacer-fichiers-vers-bucket-secnum.ts
Due: eslint --fix, prettier -w

💬 Update wording éliminé
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
Due: eslint --fix

✨ Vérification du Cahier des charges lors d'une modification de Puissance
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/specifications/src/projet/lauréat/puissance/changement/demanderChangementPuissance.feature
Due: eslint --fix, prettier -w

🐛 Fix test flaky sur modifier puissance (#3084)
  packages/specifications/src/projet/lauréat/puissance/changement/demanderChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/modifierPuissance.feature
Due: prettier -w

✅ Impossible de demander le changement de puissance d'un projet lauréat dont le cahier des charges ne le permet pas
  packages/domain/projet/src/lauréat/lauréat.error.ts
  packages/domain/projet/src/lauréat/puissance/puissance.aggregate.ts
  packages/specifications/src/projet/lauréat/puissance/changement/demanderChangementPuissance.feature
Due: eslint --fix, prettier -w

✨ Appliquer à enregistrer
  packages/domain/projet/src/lauréat/puissance/puissance.aggregate.ts
  packages/specifications/src/projet/lauréat/puissance/changement/enregistrerChangementPuissance.feature
Due: eslint --fix, prettier -w

♻️ Déplacer vérifierChangementPossible
  packages/domain/projet/src/lauréat/puissance/puissance.aggregate.ts
Due: eslint --fix

✅ Corriger tests
  packages/specifications/src/projet/lauréat/puissance/changement/enregistrerChangementPuissance.feature
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.given.ts
Due: eslint --fix, prettier -w

⚰️ Suppression du code legacy Cahier des Charges (#3082)
  packages/applications/bootstrap/src/setupProjet.ts
  packages/applications/legacy/.env.template
  packages/applications/legacy/src/config/eventHandlers/notification.eventHandlers.ts
  packages/applications/legacy/src/config/useCases.config.ts
  packages/applications/legacy/src/controllers/project/getChoisirCahierDesChargesPage.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/index.ts
  packages/applications/legacy/src/controllers/project/index.ts
  packages/applications/legacy/src/controllers/project/postChoisirCahierDesCharges.ts
  packages/applications/legacy/src/infra/sequelize/queries/project/getProjectDataForChoisirCDCPage.ts
  packages/applications/legacy/src/infra/sequelize/queries/project/index.ts
  packages/applications/legacy/src/modules/notification/eventHandlers/index.ts
  packages/applications/legacy/src/modules/notification/eventHandlers/onCahierDesChargesChoisi.ts
  packages/applications/legacy/src/modules/project/queries/GetProjectDataForChoisirCDCPage.ts
  packages/applications/legacy/src/modules/project/queries/index.ts
  packages/applications/legacy/src/modules/project/useCases/choisirCahierDesCharges.ts
  packages/applications/legacy/src/modules/project/useCases/index.ts
  packages/applications/legacy/src/routes.ts
  packages/applications/legacy/src/views/components/UI/organisms/choisirCahierDesCharges/CahierDesChargesInitial.tsx
  packages/applications/legacy/src/views/components/UI/organisms/choisirCahierDesCharges/CahierDesChargesModifiéDisponible.tsx
  packages/applications/legacy/src/views/components/UI/organisms/choisirCahierDesCharges/CahierDesChargesSélectionnable.tsx
  packages/applications/legacy/src/views/components/UI/organisms/choisirCahierDesCharges/ChoisirCahierDesChargesFormulaire.tsx
  packages/applications/legacy/src/views/components/UI/organisms/choisirCahierDesCharges/index.ts
  packages/applications/legacy/src/views/components/UI/organisms/index.ts
  packages/applications/legacy/src/views/index.ts
  packages/applications/legacy/src/views/pages/changerFournisseurPage/ChangerFournisseur.tsx
  packages/applications/legacy/src/views/pages/choisirCahierDesChargesPage/ChoisirCahierDesCharges.tsx
  packages/applications/legacy/src/views/pages/choisirCahierDesChargesPage/index.ts
  packages/applications/legacy/src/views/pages/délai/DemanderDelaiPage.tsx
  packages/applications/legacy/src/views/pages/index.ts
  packages/applications/legacy/src/views/pages/newModificationRequestPage/NewModificationRequest.tsx
  packages/applications/legacy/src/views/pages/projectDetailsPage/ProjectDetails.tsx
  packages/applications/ssr/.env.template
  packages/domain/projet/src/lauréat/cahierDesCharges/consulter/consulterCahierDesChargesChoisi.query.ts
  packages/infrastructure/domain-adapters/src/index.ts
  packages/infrastructure/domain-adapters/src/projet/consulterCahierDesChargesChoisi.adapter.ts
  packages/infrastructure/domain-adapters/src/projet/index.ts
  packages/specifications/src/setup.ts
Due: eslint --fix

💬 Wording
  packages/domain/projet/src/lauréat/lauréat.error.ts
  packages/domain/projet/src/lauréat/puissance/puissance.aggregate.ts
  packages/specifications/src/projet/lauréat/puissance/changement/demanderChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/enregistrerChangementPuissance.feature
Due: eslint --fix, prettier -w

✨ Ne pas afficher d'alerte raccordement pour un projet éliminé
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getAlertesRaccordement.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/index.ts
Due: eslint --fix

✨ Vérification du Cahier des charges lors d'une modification de Puissance (#3086)
  packages/domain/appel-offre/src/appelOffre.entity.ts
  packages/domain/projet/src/lauréat/lauréat.error.ts
  packages/domain/projet/src/lauréat/puissance/puissance.aggregate.ts
  packages/specifications/src/projet/lauréat/puissance/changement/demanderChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/enregistrerChangementPuissance.feature
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.given.ts
Due: eslint --fix, prettier -w

✅ Impossible d'enregistrer le changement de producteur d'un projet lauréat dont le cahier des charges ne le permet pas
  packages/domain/projet/src/lauréat/producteur/producteur.aggregate.ts
  packages/specifications/src/projet/lauréat/producteur/enregistrerChangementProducteur.feature
Due: eslint --fix, prettier -w

✅ Enregistrer un changement de producteur d'un projet lauréat dont le cahier des charges initial ne le permet pas, suite à un choix de cahier des charges modificatif
  packages/specifications/src/projet/lauréat/producteur/enregistrerChangementProducteur.feature
Due: prettier -w

✨ Vérification du Cahier des charges lors d'une modification de producteur (#3087)
  packages/domain/projet/src/lauréat/producteur/producteur.aggregate.ts
  packages/specifications/src/projet/lauréat/producteur/enregistrerChangementProducteur.feature
Due: eslint --fix, prettier -w

♻️ Factoriser les vérifications de changement sur Lauréat
  packages/domain/projet/src/lauréat/achèvement/achèvement.aggregate.ts
  packages/domain/projet/src/lauréat/lauréat.aggregate.ts
  packages/domain/projet/src/lauréat/lauréat.error.ts
  packages/domain/projet/src/lauréat/producteur/changement/errors.ts
  packages/domain/projet/src/lauréat/producteur/producteur.aggregate.ts
  packages/domain/projet/src/lauréat/producteur/producteur.error.ts
  packages/domain/projet/src/lauréat/puissance/changement/errors.ts
  packages/domain/projet/src/lauréat/puissance/puissance.aggregate.ts
  packages/specifications/src/projet/lauréat/achèvement/attestationConformité/transmettreAttestationConformité.feature
  packages/specifications/src/projet/lauréat/fixtures/choisirCahierDesCharges.fixture.ts
  packages/specifications/src/projet/lauréat/producteur/enregistrerChangementProducteur.feature
  packages/specifications/src/projet/lauréat/puissance/changement/demanderChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/enregistrerChangementPuissance.feature
  packages/specifications/src/projet/lauréat/stepDefinitions/lauréat.given.ts
Due: eslint --fix, prettier -w

✨ Ne pas afficher d'alerte raccordement pour un projet éliminé (#3085)
  packages/applications/legacy/src/controllers/project/getProjectPage/_utils/getAlertesRaccordement.ts
  packages/applications/legacy/src/controllers/project/getProjectPage/index.ts
Due: eslint --fix

♻️ Déplacer le scheduler dans la CLI (#3081)
  cron.json
  package-lock.json
  packages/applications/cli/src/commands/tache-planifiee/executer.ts
  packages/applications/scheduler/package.json
  packages/applications/scheduler/scheduler.sh
  packages/applications/scheduler/src/index.ts
  packages/applications/scheduler/tsconfig.json
Due: eslint --fix, prettier -w

✅ Rewording + ajout steps aux tests concernés
  packages/domain/projet/src/lauréat/lauréat.error.ts
  packages/specifications/src/projet/lauréat/abandon/demanderAbandon.feature
  packages/specifications/src/projet/lauréat/achèvement/attestationConformité/modifierAttestationConformité.feature
  packages/specifications/src/projet/lauréat/achèvement/attestationConformité/transmettreAttestationConformité.feature
  packages/specifications/src/projet/lauréat/actionnaire/demanderChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/enregistrerChangementActionnaire.feature
  packages/specifications/src/projet/lauréat/actionnaire/modifierActionnaire.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/modifierGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/actuelles/échoirGarantiesFinancièresActuelles.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/dépôt/soumettreDépôtGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/accorderDemandeMainlevéeGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/annulerDemandeMainlevéeGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/demanderMainlevéeGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/garantiesFinancières/mainlevée/démarrerInstructionDemandeMainlevéeGarantiesFinancières.feature
  packages/specifications/src/projet/lauréat/producteur/enregistrerChangementProducteur.feature
  packages/specifications/src/projet/lauréat/producteur/modifierProducteur.feature
  packages/specifications/src/projet/lauréat/producteur/stepDefinitions/producteur.when.ts
  packages/specifications/src/projet/lauréat/puissance/changement/demanderChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/changement/enregistrerChangementPuissance.feature
  packages/specifications/src/projet/lauréat/puissance/modifierPuissance.feature
  packages/specifications/src/projet/lauréat/représentant-légal/changement/demanderChangementReprésentantLégal.feature
  packages/specifications/src/projet/lauréat/représentant-légal/modifierReprésentantLégal.feature
Due: eslint --fix, prettier -w

Path conditions:
  eslint --fix: any of: *.{js,ts,jsx,tsx,json,md,yml,yaml}
  prettier -w: any of: *.{json,yml,yaml,feature}
